[2018-06-01 13:09] vielhak opened #2436 "Authorization with login via LDAP is case-sensitive"
We use LDAP Auth with AD. Works perfectly except that the imported user names are case sensitive regarding the authorization (group membership). So I can login as torsten.vielhak (authenticated against LDAP) but than I get
"No page assigned to this user! Click here to logout. "

If I use "Torsten.Vielhak" everything works as expected. I think the authentication via LDAP is not case-sensitive but t

[2018-06-01 13:11] AdSchellevis commented on #2436
a solution could be to optionally force case on importing users, our end is indeed case-sensitive

[2018-06-01 14:31] ypid opened #2437 "Core Infrastructure Initiative (CII) Best Practices"
I would like to point you to the [CII Best Practices Badge Program](https://bestpractices.coreinfrastructure.org). Could you go thought the [criteria](https://bestpractices.coreinfrastructure.org/criteria), [add the project](https://bestpractices.coreinfrastructure.org/projects/new) and keep it up-to-date there?

Refs:
- https://bestpractices.coreinfrastructure.org
- https://twit.tv/shows/floss-we

[2018-06-02 07:05] marjohn56 opened #2439 "Firewall Scheduler not working consistently?"
Raised because of this thread on the forum. https://forum.opnsense.org/index.php?topic=8808.0

Tried it and it worked once, blocking a specific host. However it failed to work again when I reset the schedule.

[2018-06-02 10:39] marjohn56 commented on #2439
There is something not quite right. The rule applied by schedule as expected - at least for the first schedule, however, the log entries show the following:

![image](https://user-images.githubusercontent.com/17962918/40873527-83c567f0-6659-11e8-8d89-fc1ec970a2ac.png)

It appears to be putting the wrong label in the log.

[2018-06-02 10:45] marjohn56 commented on #2439
Ah... I think I know why. Once the rule has ended then that rule is no longer in the table, so when it goes to look it up it picks the rule that is now in its place, does that make sense?

[2018-06-02 10:52] fichtner commented on #2439
The labels provided are mapped via the currently loaded ruleset, we don't have historic correlation. cc @AdSchellevis

[2018-06-02 10:54] marjohn56 commented on #2439
Indeed, that makes it look a bit odd... Need to think on that one.

[2018-06-02 11:26] fichtner commented on #2246
@fzoske thanks for your report. We are now avoiding to lock root user, simply disable its password usage. Our auth framework already did the sane thing.

You can try the patch:

    # opnsense-patch 118bedc

I think this will be in 18.1.10.

Cheers,
Franco

[2018-06-02 11:31] fichtner commented on #2246
Sorry, will not patch at the moment.

[2018-06-02 12:48] AdSchellevis commented on #2439
@fichtner @marjohn56 pf unfortunately misses a feature to identify the rules from the log, pfSense has a hack for that to push an identifier in the ruleset, which we removed in the early days (https://github.com/opnsense/src/commit/6eb42982ea94c7ac484630ddde9eb9ea92a54e3d) because it seemed unlikely that it would ever reach FreeBSD (which it didn't).

It's quite difficult to know for sure which en

[2018-06-02 13:01] marjohn56 commented on #2439
So that identifier is useful then, maybe time to restore it unless another way can be found.

[2018-06-02 13:02] AdSchellevis commented on #2439
nope, only if someone pushes similar functionality to FreeBSD. the reason for removing it is still valid.

[2018-06-02 13:14] teliz commented on #2428
Work fine !!!!!
Thanks @fichtner
amazing 🤘

[2018-06-02 13:14] #2428 closed

[2018-06-02 13:18] marjohn56 commented on #2439
I suppose instead of removing the rule it would work by just reversing the block/pass state. Then the rule would stay in the same place?

However that also falls over when a new entry is created, but it may be better than nothing.

[2018-06-02 13:39] beren12 commented on #2431
I was thinking every minor update provide new dh files, and those replace the installed unless a custom job is scheduled or the installed ones are older than 1-3 month default (configurable under advanced)

There should also be logic to allow admins to override generation esp if OpenVPN can use up to a 16k dh. Then they should be checked by mod date (not creation) and hashed, and yell at admins wh

[2018-06-02 15:01] fichtner commented on #2439
We could add a hash identifier in the label? We already have one now.

[2018-06-02 15:03] marjohn56 commented on #2439
That should work, good thinking.

[2018-06-02 15:03] fichtner commented on #2439
It probably breaks-label based state kills though :P

[2018-06-03 10:43] marjohn56 commented on #2314
Started playing with this. I think the first thing we do is add and advanced flag in the config. By default the system with use RADVD when the Track6 is used. @fichtner - where do we put the option:?

[2018-06-03 16:08] #1711 closed

[2018-06-03 18:47] fichtner opened #2440 "Abandon most glyphicon usage in static pages"
# git grep glyphicon src/www  | wc -l
         175

[2018-06-04 12:37] marjohn56 commented on #2314
OK, I think I have this basically working now. I've added a config option, dhcpd6 menu options are enabled and the dhcpd6 config file is being written correctly... once some testing by guinea pigs is done then end of week for a PR with any luck.

[2018-06-04 13:19] marjohn56 commented on #2314
That's what I'm doing. The options will be there to enable and adjust both.

[2018-06-04 14:48] tooline opened #2441 "opnsense blocks all LAN traffic to the outside AND WAN to the inside"
here is an example :
I allowed all the external connection to my controller unified, but the firexall blocks most of connection

[https://www.noelshack.com/2018-23-1-1528117319-sans-ti55tre.png](url)

[2018-06-04 14:53] marjohn56 commented on #2314
I don't do clear. :)

[2018-06-04 18:15] ip6li opened #2442 "dyndns/cloudflare ignores IPv6 address on pppoe interface"
Interface pppoe0 has one IPv4 address and one IPv6 (global) address assigned by provider.
DynDNS service is configured for Cloudflare using username and api key.

Matching file  /var/cache/dyndns_... contains 0.0.0.0|<timestamp> initially. After editing with vi and [Save/force update] Cloudflare got IPv4 address. AAAA RR at Cloudflare was not updated.

Expected behaviour: AAAA RR should also be up

[2018-06-04 18:35] jo3rg commented on #1680
Seems this issue is still persistent in the latest release: 18.1.9
Breaks after each and every upgrade...

[2018-06-04 19:50] fichtner commented on #1680
Sure, makes sense since the ticket is still open. ;)

[2018-06-04 19:51] fichtner commented on #1680
Oh wait it isn’t. I mixed up this with the Apollo Lake ticket. Nevermind.

[2018-06-04 19:56] fichtner commented on #2442
Do you have only request prefix set for your WAN? It used to work, but now it does what is set up: ignore a global IPv6 on WAN so you need to move your Dynamic DNS to LAN.

[2018-06-05 07:23] marjohn56 opened #2443 "Dpinger link local param issue."
I have found an issue with dpinger where in gwlib.inc if the source IP and/or target IP contains a '%' char then the call to daemonise fails...

This is I suspect where something is fe80:xxxx:xxxx::1234%pppoe0 etc.

This fails...
`mwexecf_bg("/usr/local/bin/dpinger -f {$params} %s", array($gateway['monitor']));`

This works
`mwexec_bg("/usr/local/bin/dpinger -f {$params} {$gateway['monitor']}");`

[2018-06-05 09:17] fichtner commented on #2443
Problem is probably in $params, % needs to be %% but exec_safe doesn't do that automatically.

[2018-06-05 09:31] marjohn56 commented on #2443
Do we need to pass it through escapeshellarg()?

[2018-06-05 10:20] fichtner commented on #2443
Can you inspect $params ? It should simply replace % with %% to make it immune to sprintf usage in mwexecf_bg()

[2018-06-05 11:16] marjohn56 commented on #2443
Already looking at it. :)

[2018-06-05 11:56] marjohn56 commented on #2443
Done PR #2444

[2018-06-05 12:33] fichtner commented on #2443
Thanks for the analysis, can you try https://github.com/opnsense/core/commit/38a68670 instead? exec_safe and mwexecf ideally should be used exclusively to avoid this from happening (doubled use of sprintf is generally tricky with %)

[2018-06-05 12:40] fichtner commented on #2443
sorry, and also d8ba407978 it makes more sense to fix the bug correctly to avoid the doubled sprintf. Nice catch, thanks!

[2018-06-05 13:03] marjohn56 commented on #2443
Tried it. Still the same. vsprintf gets upset.

[2018-06-05 13:15] marjohn56 commented on #2443
Seems to work fine. :)

[2018-06-05 13:34] fichtner commented on #2443
ok, I will try to get dpinger into 18.1.0...

[2018-06-05 15:38] marjohn56 commented on #2443
We may still have an issue. One of my testers says it's not fixed his Sky UK gateway, awaiting more info when he can give it to me.

[2018-06-05 15:54] fichtner commented on #2443
Make sure he’s not using os-cache plugin, it caches previous code almost forever so opnsense-patch doesn’t cut it.

[2018-06-05 16:00] marjohn56 commented on #2443
I've got him onto the dev stream and upgrade. Fixes are in there I believe, well I can see them on mine.

[2018-06-05 17:57] ip6li commented on #2442
Changed DynDNS config to internal IPv6 interface which got IPv6 address by prefix delegation. This interface is IPv6 only, which is intended.

result:

Jun  5 19:53:45 fw opnsense: /services_dyndns_edit.php: Aborted IPv4 detection: no address for igb1_vlan2
Jun  5 19:53:45 fw opnsense: /services_dyndns_edit.php: Dynamic DNS (tk6.example.com) There was an error trying to determine the public IP for

[2018-06-05 18:42] fichtner commented on #2442
Sorry, I am confused now. Isn't Cloudflare is currently IPv4 only?

[2018-06-05 20:00] marjohn56 commented on #2443
Just spent a couple of hours looking at his system remotely, weird thing is it does not seem to be picking up the link-local addresses for dpinger to use. Also if I go to diagnistics->ping and use WAN-Link-local as the interface/address and ping the target link-local I get 'could not assign address'. If I ping link local from the shell it's fine.. I'll look again when I get some more time to play,

[2018-06-05 21:03] marjohn56 commented on #2443
Think it might be a Sky UK thing... same issue with pf.

[2018-06-05 21:08] fichtner commented on #2443
What exactly, dpinger not starting because of interface config/address oddity? What is the ifconfig? To compare to working setups...

[2018-06-05 23:25] seitzbg opened #2445 "Latest installer does NOT support intel 550EM chipset"
Added to FreeBSD here:

https://svnweb.freebsd.org/base/head/sys/dev/ixgbe/ixgbe_type.h?revision=320688&view=markup&sortby=date

[2018-06-06 07:17] fichtner commented on #2445
Do we make a false indication that the latest installer does support it?

[2018-06-06 07:33] marjohn56 commented on #2443
This is the confusing thing. Remember the message on the forum where bimmerdriver said that his gateway monitors work by default with link-local addresses. Well I have pppoe and route IPv6 through the v4 link. I can get it to work but the RTT time is a bit suspect:

![capture](https://user-images.githubusercontent.com/17962918/41023241-c2bab1f6-6963-11e8-838b-10243ac8fbe8.PNG)

On Ned's system whi

[2018-06-06 07:57] fichtner commented on #2443
Any steps to reproduce locally? It's an internal gateway? Maybe it's a "no route to host" problem?

[2018-06-06 08:04] marjohn56 commented on #2443
Once I have some definitive answers to your questions I'll give you the answers. He's not responding to my emails at the moment.

[2018-06-06 08:29] jo3rg commented on #1680
I'm confused now. :)
What can we do to fix this issue sustainable?

[2018-06-06 15:49] fichtner commented on #1680
@jo3rg hmm, @fraenki asked for a commit to be included that would fix this and it was imported so it was closed. It seems there may be another commit in the wild or a new PCI type not yet recognised by FreeBSD because you have "the same issue" on a different hardware base?

[2018-06-06 15:50] airetday opened #2449 "web proxy: possibility to use ICAP reqmod without respmod"
Often, the proxy may be used to do URL filtering but not content filtering, or virus scanning but no URL filtering.
The squid template allows that by checking if the URL exists before writing the  icap_service configuration directive.
However, validation of the proxy-icap subtab in the web GUI expects both URLs to be filled.
Allowing one of the URLs to be empty in the proxy-icap subtab validation

[2018-06-06 15:52] fichtner commented on #2449
@airetday thanks for the request. can you open the ticket in the https://github.com/opnsense/plugins/issues section where it should be?

[2018-06-06 16:07] airetday commented on #2449
@fichtner I don't mind creating this issue somewhere else, but I think it really belongs to core, it is about Squid's ICAP feature, whose code is in core component, and not with c-icap plugin.
Maybe I could have been more clear, by using the word **squid** in my description.

[2018-06-06 16:12] fichtner commented on #2449
ahhh ok, no worries, I'll make it clear. thanks!

[2018-06-06 16:13] fichtner commented on #2449
maybe @fabianfrz is interested? :)

[2018-06-06 16:41] seitzbg commented on #2445
Indeed you did not.  I just want to be able to run Opnsense so if I can rebuild with my own driver until 19.1, that would be ideal.

[2018-06-06 16:51] fabianfrz commented on #2449
@fichtner Why should we only scan HTTP requests - I don't see a reason for that.

[2018-06-06 17:57] fichtner commented on #2449
Advanced option?

[2018-06-06 18:17] beren12 commented on #1663
As a stopgap, can we just list the installed plugins in the config so they are easy to see & reinstall?

[2018-06-06 18:18] fichtner commented on #1663
Not without creating a mapping of config sections and plugins that needs to be in core and synced almost every release. Big process. :)

[2018-06-06 18:20] fichtner commented on #1663
It's probably simpler to register installed plugins in the config.xml by name. If there are testers, I can try to fix it for 18.7 ?

[2018-06-06 18:21] beren12 commented on #1663
No, more simple than that. just a list of non-core plugins that are installed in an xml field. the web UI seems to know already...

[2018-06-06 18:23] fabianfrz commented on #2449
the two textboxes must be visible all the time because this is what you have to configure in most cases.
Every service has it's own rule - `RESPMOD` and `REQMOD` can have the same URL but should not.

In case of an AV engine, ICAP can prevent malicious uploads and downloads (most usual use case of ICAP). In case of a content filter, you need REQMOD for URL and header based filtering, while RESPMOD

[2018-06-06 18:41] fichtner commented on #1663
It asks the package database, yes. But it would be better to fix the real problem first instead of trying to create a "sync" mechanism that writes all currently known plugins to the config. If we have a install/deinstall trigger that is much easier to implement and avoids "over-syncing" and a separate code spot for it.

[2018-06-06 19:00] fichtner commented on #2445
Branch with MFC for our 11.1 added here: https://github.com/opnsense/src/tree/ixgbe_next

Builds ok, good start...

[2018-06-06 19:15] fichtner commented on #2445
Here we go, this is a 18.1.9 installer image with the kernel replaced https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-201806061946-OpenSSL-vga-amd64.img.bz2

If it works, go to System: Firmware: Packages and lock the "kernel" package to avoid removing the driver on updates. Ask back here if 18.7 is safe to upgrade... at the moment it's not so we need to figure out a way to keep you ho

[2018-06-06 19:50] rootwyrm opened #2450 "_VPNV6 gateways always created, even when V6 disabled for OpenVPN Clients"
The system always creates _VPNV6 gateways, even for OpenVPN clients with IPv6 explicitly disabled. These gateways also cannot be deleted and will be recreated every time the client connects.

![](https://i.imgur.com/MZntuUE.png)
![](https://i.imgur.com/4qnUpV0.png)

[2018-06-06 20:04] rootwyrm commented on #2450
Here is what the ifconfig and routing looks like for the running OpenVPN client. Note that the VPN Client is _not_ acting as the default gateway.

[code]

The odd numbering is due to a separate issue with `tun(4)` interfaces not being cleaned up when clients are deleted, unrelated to this issue.

[2018-06-06 20:16] seitzbg commented on #2445
Nics are now detected  and functional with the IX driver, but disk is not :(

[2018-06-06 21:33] rootwyrm commented on #2450
As requested on IRC... question is, how to infer the device node name of a tun/tap after renaming in ifconfig. This also exposed another bug related to gateways and groups - an interface is not removed from groups either.

Since we aren't working with cloned interfaces, these will have a link-local address. Of course, this link local address will be the same as the first non-loopback interface on

[2018-06-06 22:38] seitzbg commented on #2445
I added the following to loader.conf.local and AHCI errors have gone away with disks working as well.  Looks like a regression since 17.X seems to work.

hint.hpet.0.clock="0"
hint.ahci.0.msi = "2"
hint.ahci.6.msi = "2"

[2018-06-07 07:19] airetday commented on #2449
@fabianfrz the point is that there is a big impact in terms of performances when RESPMOD is activated, the web content has to be sent from the proxy to the adaptation server, and then back from the adaptation server to the proxy, which has a cost even when proxy and adaptation server are close to each other, and is sometimes unacceptable when the link between the two is not a good one.

In REQMOD

[2018-06-07 08:14] fichtner commented on #2445
You can add these values to System: Settings: Tunables since 18.1.6 and they are written to /boot/loader.conf directly. It's a bit better to have them in the settings for import / export.

[2018-06-07 08:44] fichtner commented on #2450
@rootwyrm thanks! it seems that "ifconfig tunX create" creates tunX already, so the only race that could happen is that someone uses e.g. tun2 but GUI wants to create an OpenVPN ID 2 because that is the next one to create after ID 0. In that case the GUI code will "steal" the existing tun2, thinking it is up for grabs.

On the bright side, the destroy on delete works for tun and tap.

[2018-06-07 10:27] fichtner commented on #2442
But the dyndns plugin does not yet know about it :)

[2018-06-07 11:33] jcberthon opened #2451 "Intel 8th Gen Core Platform (B360 and others)"
I've built a small router based on PC parts, rather recent. I'm using the Gigabyte B360N WiFi motherboard which has a dual NIC:

* the Intel B360 chipset's integrated NIC, based on i219-V
* an extra NIC based on i211

Installation and boot of OPNsense 18.1.8 worked flawlessly! But the i219-V NIC is not recognised. Only the igb driver is loaded (for the i211 NIC) and I can configure this interface.

[2018-06-07 15:03] fabianfrz commented on #2449
@airetday  yes but in that case you don't need ICAP. Use squids features for that.

[2018-06-07 17:30] fzoske commented on #2246
@fichtner Thanks for fixing this!

[2018-06-07 22:31] seitzbg commented on #2445
Thanks!

[2018-06-07 23:23] #2445 closed, assigned to fichtner

[2018-06-08 07:09] airetday commented on #2449
@fabianfrz it is not easy to use squid features to interact with an ICAP filtering solution, without using squid's ICAP feature. Maybe I don't totally understand your point.

[2018-06-08 08:43] jo3rg commented on #1680
@fichtner what do you need to identify the exact hardware?

[2018-06-08 09:31] fichtner commented on #1680
Not sure yet. I’ll be back on Monday to check where this info can be found in your system.

[2018-06-08 13:27] marjohn56 commented on #2439
Tested this quite heavily this morning. Apart from the log issue it all worked flawlessly.

[2018-06-08 13:41] pv2b opened #2453 "3gstats detects wrong monitor device for Huawei ME909s-120"
Hi.

I have a Huawei ME909s-120 in one of my firewalls, that I was able to get to work (after changing an init string to `&F`, but that's a different issue that I'll post later).

I noticed however that the code that is in OPNsense right now (as of release 18.1.9) seems to assume that the last cua device that belongs to the modem is the one where the status output comes out on. That's not a correc

[2018-06-08 15:30] fabianfrz commented on #2449
Probably yes - for that use case, ICAP is not needed since squid can do everything without ICAP. You can match on headers, urls, users, time etc. and build an access policy by joining different access lists.

[2018-06-09 09:36] fichtner commented on #2246
On problem, thanks for the report. Will probably not ship in 18.1.10 as we want to make it 18.1.11 with a few other related changes.

[2018-06-09 10:04] dragon2611 opened #2454 "CARP/Virtual IP over ZeroTier"
Raising this in core for now as I don't think the issue is with the ZT plugin but rather the way CARP/VIP works in opnsense.

If you setup a VirtualIP on a Zerotier network it will work initially, the problem however is that the zerotier interface is only present when the zerotier-one service is running.

This leads to the virtual IP being disabled because the interface wasn't present, on first lo

[2018-06-09 13:12] AdSchellevis commented on #2454
I think the issue should be in plugins for ZeroTier, interfaces which aren't present on the system can't be configured using virtual addresses and logically the plugin (zerotier) knows when an interface becomes available.

Doing things otherwise has a high risk of cluttering logic that isn't supposed to be connected in my humble opinion.

[2018-06-09 14:19] airetday commented on #2449
@fabianfrz  My use case is that I have to interact with an **already existing** filtering service, available through ICAP. So yes, for this use case, ICAP is needed.

The filtering service is not on the same site than the OPNsense box, and I have no control on the link quality, so yes, for this use case RESPMOD may be harmful.

From your comment above, it seems that you see ICAP only as a link to

[2018-06-09 15:41] fabianfrz commented on #2449
I am not the one who has to accept it - you have to ask @fichtner  and @AdSchellevis for that - I am the person who wrote the current implementation which works quite well in almost all cases and I don't see any need for this so I will not implement it. For URL filtering, ICAP is in my opinion too much overhead since at least two headers have to be sent (HTTP Header and ICAP Header) and it may be

[2018-06-09 16:28] airetday commented on #2449
@fabianfrz

I have no list, I have access to an ICAP service. Is this understandable ?

[2018-06-09 21:43] dragon2611 commented on #2454
Wasn't sure if it should have been here or in plugins because it would affect anything where the interface isn't always present, that said I'm not sure if any of the other types of tunnels opnsense currently supports. would work with virtualIP anyway.

[2018-06-10 15:38] af001 commented on #1384
Make sure you scan from a network outside of your WAN. You will see these open if you do. I normally use my phone's data connection (disconnect from Wifi). Navigate to your public IP and you should not be able to connect via HTTP or HTTPS.

[2018-06-10 19:11] sjorge opened #2455 "Reporting -> Traffic not listing IPv6 streams"
![screenshot](https://imgur.com/FSXZDN6.png)

You can see around 10MB/s download coming in on IF_WAN6 and going to IF_CLNT (I checked both the IF_WAN6 and IF_CLNT for the streams).

(IF_WAN6 is a tunnel so that is why there is also the same traffic in on IF_WAN4)

[2018-06-10 19:48] fichtner commented on #2455
AFAIK, this is an issue with the used "rate" utility which doesn't know about IPv6.

[2018-06-10 22:07] PHoBwz opened #2456 "Backup options request"
This is a feature request.

Could the backup/restore options be opened up a bit. Great that there is a G-drive option but not ideal for anyone who doesnt trust Google (most people) or the enterprise. Could there be an option to create an archive and upload to SCP/SFTP/FTP and then have a schedule of that too?

Had a quick few searches in the issues but couldn't find anything relating to this.

[2018-06-10 22:13] fichtner commented on #2456
We made the backups fully pluggable in 18.1.9. Nextcloud is coming to 18.1.10. SCP is queued up for a later date, no later than 18.7. I'm closing this since the work is done and additional options can be added by users. :)

[2018-06-10 22:13] #2456 closed

[2018-06-11 06:58] MaartenJB opened #2457 ""WAN address" in port forwarding includes VIP addressess."
Hi,

If I use "WAN address" when creating a Port forward, it forwards the port on the "WAN address" AND all VIP's on that interface. If you want to only forward to the WAN IP you need to create an extra VIP alias containing the WAN IP.

Best regards,

Maarten

OPNsense 18.1.9-amd64
FreeBSD 11.1-RELEASE-p10
OpenSSL 1.0.2o 27 Mar 2018

[2018-06-11 07:12] AdSchellevis commented on #2457
Could probably be fixed like https://github.com/opnsense/core/commit/d823cc71937ff20c1295c8c2dc804cdc7f6419d9 "interface address" converts to "interface" now where it could be "interface:0".

[2018-06-11 08:08] fichtner commented on #2457
Easy enough to apply via patch, let's keep this away from 18.1.x and make it the default again in 18.7 👍

[2018-06-12 05:19] fichtner commented on #2449
@airetday @fabianfrz I'm ok with splitting the REQMOD / RESPMOD into separate settings to be used as none, one or both. Shall I do this then?

[2018-06-12 05:21] fichtner commented on #2451
If FreeBSD 11.2 is better we may be able to backport. Have done so for ixl and ixgbe.

[2018-06-12 05:31] fichtner commented on #2431
Low entropy is not to be confused with higher but shared entropy.

Obviously we can't update DH parameters every release as it takes too much time and there is no randomness guarantee. And I don't see a lot of benefit from registering past entropy records or allowing more fine-grained local regeneration other than "use shared file or update weekly/monthly/custom" with a cron job to use as one sees

[2018-06-12 05:48] fichtner commented on #2434
I'll take it but not sure it will be ready in 18.7. Lots of TODOs at the moment.

[2018-06-12 05:49] fichtner commented on #2408
Sorry for the delay! Monit is fully customizable, e.g. https://mmonit.com/wiki/MMonit/PushoverNotification

[2018-06-12 05:54] fichtner commented on #2427
Hi @ypid,

Sounds good, let's start with item 2 as it's easier. I don't think the fingerprint should be in the list view, at least not at this point. Maybe we can add it to the certificate (and certificate authority) details output?

If you you have questions or need help please let me know.

Cheers,
Franco

[2018-06-12 06:01] fichtner commented on #1680
@jo3rg this should help identify it:

    # pciconf -l

[2018-06-12 06:07] fichtner commented on #1680
PS: I could not find any new UART devices in FreeBSD that would fit your description.

It would be interesting to know what hardware you are using and how "it breaks after each update", because if you use /boot/loader.conf.local it shouldn't. Since 18.1.6 we also have support in system: setting: tunables for this.

[2018-06-12 06:12] fichtner commented on #1931
@PitchBendStretch alright, let's close this for now. A couple of service handling related changes went into OpenVPN code for 18.7 and it has indeed been more quiet, maybe also to do with recent OpenVPN software updates.

[2018-06-12 06:12] #1931 closed

[2018-06-12 06:13] #2254 closed

[2018-06-12 06:30] #2058 closed

[2018-06-12 06:43] fichtner commented on #2394
Hi @liorokman,

Sorry for the delay!

Can you try this?

    # opnsense-patch baf292e

Thank you,
Franco

[2018-06-12 07:43] fichtner opened #2458 "reply-to not an issue if interface has no upstream gateway?"
IPv4 and IPv6 needs this. IPv4 could also use a "far gateway" knob.

https://forum.opnsense.org/index.php?topic=3415.0

[2018-06-12 15:22] fabianfrz commented on #2449
If you like to. It should not be hard to implement.

[2018-06-12 16:31] fichtner commented on #2431
Last bits via 00429edb9 await testing and backport.

[2018-06-12 16:31] #2431 closed

[2018-06-12 16:45] jcberthon commented on #2451
I can try testing the rc.

[2018-06-12 16:51] fichtner commented on #2451
@jcberthon found hints to "Add support for Kaby Lake generation i219 (4) and i219 (5) devices." which would mean that's what you're looking for, but will wait for your confirmation.

[2018-06-12 18:10] marjohn56 commented on #2314
OK, I am ready now for some testing. I have it working and dhcpd is handing out addresses. Took me a while to get around an in issue with Net_IPv6, but sorted now.

[2018-06-12 19:35] hyperlumic opened #2459 "Certificates generated using deprecated extensions"
Any certificate generated in the certificate management interface is generated with a Netscape Cert Type extension indicating the purpose of the certificate. As of OpenSSL v1.1, the nsCertType extension in X.509 certificates are no longer supported. This extension is old and has been deprecated for a long time. OpenVPN has also deprecated the use of this extension quite some time ago, and is soon

[2018-06-13 08:03] marjohn56 commented on #2314
First Commit #2460

[2018-06-13 09:03] fichtner opened #2461 "rc: do not stop/start flowd_aggregate if it is already stopped (wasn't us!)"
seriously, on shutdown the backups are executed after service shutdown anyway

[2018-06-13 09:57] AdSchellevis commented on #2459
question, are the cert's we create now missing  KU/EKU extensions or incomplete? Or is this  issue covering more then UI checks and OpenVPN settings?

If  the certs created from OPNsense have been good for quite some time, we could probably easily switch, if not, switching will impact users and have to be planned carefully.

[2018-06-13 10:08] hyperlumic commented on #2459
I should have clarified that!

The certs created now DO include the correct KU/EKU extensions, yes (displayed in the provided output), so that's not a problem.

[2018-06-13 10:46] AdSchellevis commented on #2459
no problem, thanks for the clarification.

[2018-06-13 13:39] #2461 closed

[2018-06-13 13:43] fichtner commented on #2451
Done via https://github.com/opnsense/src/commit/6f9578aef0133856ff4cf57d88f18265e7b00532 -- will be in 18.7-RC and 18.7 if all goes well.

It's possible to test the kernel in 18.1.x via:

    # opnsense-update -kr 18.1.9-next -n "snapshots\/dummy"

Public CFT will be out in a few days, too.

[2018-06-13 13:43] #2451 closed

[2018-06-13 13:51] fichtner opened #2462 "rc: back up RRD as XML again for upcoming migration"
Relevant to https://github.com/opnsense/ports/issues/27

[2018-06-13 15:47] #2462 closed

[2018-06-13 18:38] liorokman commented on #2394
Hi @fichtner

I'm not sure what was supposed to happen. I applied the patch, and then restarted the WAN interface. The router advertisement didn't change.

After looking at the code in radvd, it seems that radvd will re-read its configuration file when a SIGHUP is sent to it. Does the above do this?

[code]

Thanks,
Lior

[2018-06-14 07:16] fichtner commented on #2394
It doesn't use HUP, but it will reconfigure and restart the service in the (hopefully) correct spot according to what you've told me. You should see the PID change during WAN interface restart?

Cheers,
Franco

[2018-06-14 14:16] airetday commented on #2449
@fichtner The simplest patch is
[code]

This will generate, when both text fields are empty, a useless but valid configuration, and allows to use only one of REQMOD or RESPMOD.

[2018-06-15 12:55] fichtner opened #2464 "boot errors?"
<img width="652" alt="screen shot 2018-06-15 at 2 54 25 pm" src="https://user-images.githubusercontent.com/1915288/41469025-21f2ea5e-70ac-11e8-9727-ec7491f0cdf4.png">
<img width="880" alt="screen shot 2018-06-15 at 2 53 39 pm" src="https://user-images.githubusercontent.com/1915288/41469028-2433725c-70ac-11e8-9c3f-8b0d3d6368a9.png">
<img width="545" alt="screen shot 2018-06-15 at 2 53 59 pm" src="h

[2018-06-15 13:41] #2227 closed

[2018-06-15 13:41] fichtner commented on #2227
lovely, thanks! ❤️

[2018-06-15 13:56] fichtner commented on #2458
add add checkbox that allows linking the gateway and default to avoid linking it, discussed with @AdSchellevis

[2018-06-15 15:03] whislock commented on #2459
It appears that the OpenVPN client configuration required for this is already in place, though with a conflicting comment.

[code]

[2018-06-15 23:54] whislock commented on #2317
I tried to figure out how to patch this, but I'm just not familiar enough yet with how it feeds parameters to OpenSSL. I tried simply removing the various fields from the required fields lists in `src/www/system_certmanager.php`, but all I got were errors:

[code]

I suspect it's because it's submitting an empty string for each field's data, rather than just omitting the field entirely.

[2018-06-16 00:44] whislock commented on #2317
Figured it out. Testing is welcome.

[2018-06-17 19:55] moonman commented on #2243
Exactly the same problem. It happens when Peer to Peer (Shared key) is selected in client settings.

[2018-06-18 11:28] roger225 commented on #2345
I have the same problem,too.
This issue will happen on J3455B-itx but DN2800MT.
And look like the serial console can not get any input, it will not response for keyboard input.
It will also cause NTP can not get GPS PPS timestamp signal from serial port.

# ls -lah /dev/tty*
crw-------  1 root  tty     0x36 Jun 18 18:07 /dev/ttyu0
crw-------  1 root  wheel   0x37 Jun 18 18:07 /dev/ttyu0.init
crw--

[2018-06-18 11:31] wilson65o commented on #1030
Hello, this would be a fantistic feature to add. Please consider this as a +1 from me. Thanks.

[2018-06-18 11:35] fichtner commented on #2345
Looks like the same class of hardware. Ideally, we'd need to figure out which settings a stock FreeBSD 11.1 needs on this hardware to work or if 11.2 works nowadays.

[2018-06-19 16:08] namezero111111 commented on #2376
Well hello :}

This probably won't make it to 18.7 eh?

[2018-06-19 18:45] fichtner commented on #2376
@namezero111111 hello, let's take a stab at this...

Sticky outbound NAT disable "helps" with this --- this is still true? That's a good place to start.

[2018-06-19 19:00] fichtner commented on #2376
@namezero111111 also, does this happen all the time or do some connections work fine? like 50% ok and %50 not ok?

[2018-06-19 19:30] namezero111111 commented on #2376
Yes, disabling sticky will bypass/"resolve" this. Source tracking timeout seems to have no effect on this *.

The initial connection(s) "work", since data is actually being transferred, and as long as there is an active association (presumably before the last association for the client expires) there is no problem.
However, after that, new connections stall in this state.
*Source tracking will pla

[2018-06-19 19:36] fichtner commented on #2376
I can't test this very well but I found a candidate. https://github.com/opnsense/src/commit/6aad8285a4

It unlikely to panic but I also can't vouch for not making it worse that it was.

Can provide this as a test kernel.

[2018-06-19 19:42] fichtner commented on #2376
Whoopsie, better patch at https://github.com/opnsense/src/commit/ddb08b18

[2018-06-19 19:48] namezero111111 commented on #2376
Absolutely i have a test environment still set up for this!

Sent from Touch. Excuse terseness.

Mit freundlichen Grüßen / With best regards

Andreas Iwanowski - IT Administrator / Software Developer
www.awato.de<http://www.awato.de> | namezero@afim.info
T: +49 2133 26031 55 | F: +49 (0)2133 26031 01
awato Software GmbH | Salm Reifferscheidt Allee 37 | D-41540 Dormagen

avisor-Support | T: +49 (0)

[2018-06-19 20:01] fichtner commented on #2376
Perfect, kernel update via:

    # opnsense-update -kr 18.1.9-sticky
    # /usr/local/etc/rc.reboot

Cheers,
Franco

[2018-06-19 21:18] DBReinitialized opened #2468 "Consistent "Bus error (core dumped)" error when attempting to select boot type"
Attempting to install OPNSense on Hyper-V running on Windows 10 Professional 1803.17134.112 is consistently failing with "Bus error (core dumped): The installation was aborted". It should be noted I was able to install OPNSense without failure previously on a Hyper-V Generation 2 VM and it worked fine. After attempting to reinstall it due to a need, I began to be plagued with the issue:
<br>
<br>c

[2018-06-19 21:51] matthias1232 opened #2469 "OpenVPN - Change Device from TUN to TAP sets wrong broadcast IP on TAP device."
I created a topology Network with tun device.

10.99.99.0/24

This works.
Client gets first IP 10.99.99.2 etc... Broadcast IP is 10.99.99.255

Later i changed my Server settings to a TAP Device and saved it with the same Subnet.

10.99.99.0/24

Clients gets first IP 10.99.99.2 - But the Broadcast IP is now set to 10.99.99.2

So the first Client who connects to openvpn has no connection. The next C

[2018-06-20 08:24] PhilippKendlbacher opened #2470 "Reference to alias object in NAT rule is lost after rename"
If a NAT rule refers to an alias as source address and then the same alias is renamed, the reference in the NAT rule is not updated to the new alias name. As a result the NAT rule does not work anymore.

[2018-06-20 10:56] fichtner commented on #2470
@PhilippKendlbacher even with the fix from #1711 ?

[2018-06-20 12:11] gitterdoneplease commented on #1030
Yes please on this as well. Google 2FA + LDAP/AD would be fantastic.

[2018-06-20 17:22] namezero111111 commented on #2376
Juat to update, I somehow couldn't reproduce this today on the same test system. I had this before; I'll keep trying and then try the new kernel

Sent from Touch. Excuse terseness.
________________________________
Od: Franco Fichtner <notifications@github.com>
Wysłano: wtorek, 19 czerwca 2018 21:42
Do: opnsense/core
DW: Andreas M. Iwanowski; Mention
Temat: Re: [opnsense/core] Gateway groups and NA

[2018-06-20 18:02] PhilippKendlbacher commented on #2470
I am running version 18.1.9 which is the latest "production" version.

[2018-06-20 18:06] fichtner commented on #2470
Please try ef519606 which is part of tomorrow's 18.1.10:

    # opnsense-patch ef519606

Cheers,
Franco

[2018-06-21 10:46] PhilippKendlbacher commented on #2470
I am sorry but an upgrade to 18.1.10 did not solve the problem.
When i rename the alias, the source address changes like this:
![after_rename](https://user-images.githubusercontent.com/40423029/41714566-fce09456-7550-11e8-99b0-5f917859ce84.png)
This was before renaming the alias:
![before_rename](https://user-images.githubusercontent.com/40423029/41714595-1b4fbfa2-7551-11e8-80f4-61cd1e374365.png)

[2018-06-21 10:59] fichtner commented on #2470
No worries, let's see if we can find this :)

[2018-06-21 11:26] bewue opened #2472 "Wrong generated Unbound ACLs"
OPNsense 18.1.9
If you use virtual IPs (Unbound: General: "Network Interfaces"), the generated ACLs (Unbound: Access Lists) are always /29 subnets.
I have multiple virtual IPs (public IPs) on one interface.

[2018-06-22 05:41] liorokman commented on #2394
The pid does indeed change during a WAN interface restart.

The problem is that radvd is restarted too soon. Since the ipv6 IP is generated due to SLAAC, the pppoe0 interface can only receive an IP address after a router advertisement has been received. In the few tries I made, this happened after radvd had already been restarted. The result was that the router advertisement for the internal netwo

[2018-06-22 06:42] fichtner commented on #2394
Hi Lior,

Can you try 3b7c0bc ? Switched over reload from IPv4 to IPv6. I initially thought it needs to track the physical PPPoE link but you are right about SLAAC being required to kick in.

Cheers,
Franco

[2018-06-22 08:55] bobafrinet opened #2473 "Intel Denverton arch not supported in 11.1 but ok in 11.2"
After different set of tests, It looks like Intel Denverton architecture is supported in FBSD 11.2 but not yet in 11.1

AHCI drivers seems to have been updated.

https://forum.opnsense.org/index.php?topic=8954.0

This the boot on OPNSense on 18.1 where we have :

Where on FBSD 11.2-RC3 we have:

A backported version of the AHCI package will be very useful… 

[2018-06-22 09:18] fichtner commented on #2472
I am inclined to kill the auto-ACL feature as it doesn't work very well with OpenVPN either. @AdSchellevis thoughts?

[2018-06-22 12:50] go2sh commented on #2472
We also had a problem with the feature and changing IPv6 prefixes.

[2018-06-22 15:49] liorokman commented on #2394
Thanks.

I've applied the patch, I'll test it later - after XBox time is over :-)

--
Lior

[2018-06-23 06:49] AdSchellevis commented on #2472
@fichtner it doesn't win the beauty contest, I thought of removing it a long time ago too, but the defaults without it are a bit too strict which is confusing for new users. I'm not sure what we can do best here, I expect quite some complaints when we move to manual during a major upgrade.

[2018-06-23 08:33] fichtner commented on #2472
I'll take a closer look, but no big promises at the moment.

[2018-06-23 11:03] fichtner commented on #2472
So to be honest all it does is find one single global IP on the interface for IPv4 and IPv6 and that's it. SSH and web GUI have recently gained more code to improve the situation, but it's a rocky road forward...

[2018-06-23 12:25] #2472 closed, assigned to fichtner

[2018-06-23 12:29] fichtner commented on #2472
The feature was reworked to read all addresses. There are two caveats:

1. Adding new VIPs or other network configuration will not automatically restart Unbound. This issue always existed before but may be more prominent now.
2. OpenVPN will probably not work here anymore, but that makes it consistent with IPsec.

[2018-06-23 12:31] fichtner commented on #1872
The feature was reworked, we will need to find a better way for OpenVPN if requested, but making it fully manual like IPsec is better for now. See #2472

[2018-06-23 12:31] #1872 closed

[2018-06-23 12:33] #2355 closed

[2018-06-23 12:35] fichtner commented on #2464
Mabye too little RAM for tmpfs, nothing we can do.

[2018-06-23 12:35] #2464 closed

[2018-06-23 12:38] fichtner commented on #2442
If you want to request CloudFlare IPv6 support and / or work on it, please open a ticket here https://github.com/opnsense/plugins

[2018-06-23 12:38] #2442 closed

[2018-06-23 12:39] fichtner commented on #2441
So what rule blocks your traffic? It may be a state tracking issue, asymmetrical routing, etc.

[2018-06-23 12:43] #2421 closed

[2018-06-23 12:45] #2397 closed

[2018-06-23 12:45] #2318 closed

[2018-06-23 12:46] fichtner commented on #2339
i211 drivers get an update in OPNsense 18.7.

[2018-06-23 12:46] #2339 closed

[2018-06-23 12:47] #2361 closed

[2018-06-23 12:47] #2346 closed

[2018-06-23 12:48] #2296 closed

[2018-06-23 12:50] #2105 closed

[2018-06-23 12:54] fichtner commented on #2132
Can be solved via #2458

[2018-06-23 12:54] #2132 closed

[2018-06-23 13:40] AdSchellevis commented on #2472
@fichtner thanks for fixing, it looks better in my opinion.  Personally I do prefer the new approach of using the configured data in stead of trying to reconstruct anything that might not be there. OpenVPN is indeed a small offer we should be willing to make.

[2018-06-23 14:07] beren12 commented on #2105
Yeah would be nice to have this fixed. I wondered what was going on...

[2018-06-23 14:10] fichtner commented on #2105
This was a feature ticket, @weust1979 please recreate a bug ticket

[2018-06-23 14:37] weust1979 opened #2478 "CPU graph percentage always in the middle"
I've noticed this in 17.* too, and now in 18.1.r2 as well.
In several web browsers I noticed that when I hover the mouse cursor over the CPU graph it always shows the percentage in the middle, showing the CPU percentage it was when at the middle.

Example, the screenshot shows 3%, but that's from after the spike a bit to the left of the middle.

My OS is Windows 10, web browsers are Edge and Water

[2018-06-23 15:38] fichtner commented on #2177
@adschellevis is it true that the MVC does not check session_timeout yet ?

[2018-06-23 15:43] fichtner commented on #2177
PS: It seems the help text was corrected while working on #1929 which is due to hit in 18.7. :)

[2018-06-23 16:04] AdSchellevis commented on #2177
@fichtner it seems so, it defaults to 4 hours at the moment, let me fix this.

[2018-06-23 16:37] fichtner commented on #2177
Super, thanks! ❤️

[2018-06-23 16:37] #2177 closed

[2018-06-23 21:32] laxmanpradhan opened #2479 "Auto update OpenVPN widget on dashboard"
This is a very minor cosmetic thing but it does make life a lot easier when debugging openVPN issues. The openvpn dashboard widget does not autoupdate when a new connection is made or disconnected. You have to refresh the entire page to show the changes. If the widget could poll the openVPN status every 2 seconds or so (or perhaps some push method to show a changed states) and show an updated list

[2018-06-24 10:32] namezero111111 commented on #2376
Franco, I am sorry to report that for the life of me I cannot reproduce this on the original test system I used to report this.
I tried all the original combinations with gateways online and partially offline, etc...

If nothing has changed on the kernel, there must be another variable at play here.

Currently I cannot think of anything else to try.
Can we put this on hold for now until then?

[2018-06-24 10:57] namezero111111 commented on #2376
Fwiw, the patched kernel does no harm in that regard either :/

[2018-06-24 11:06] JasMan78 commented on #2346
I'd the same problem with $ and % in my password for OpenDNS and OPNsense 18.1.9.
I've changed the password to one with only upper/lower case letters, numbers and some exclamation marks. That works.

[2018-06-25 07:02] AdSchellevis opened #2482 "TrafficShaper / change source, destination fields to tokenizers"
https://github.com/opnsense/plugins/pull/717#discussion_r197691832

[2018-06-25 07:15] fichtner commented on #2458
Todo: far gw for IPv4, name fix if description is empty

[2018-06-25 15:35] #2458 closed

[2018-06-25 20:19] darkain commented on #1501
If you need any help testing, this is a highly desired feature for me. I'm in the states with CenturyLink Gigabit Fiber service, a dedicated /29 block of IPv4 addresses from them (currently 1 unused that I can assign to testing OPNsense+6RD out for a while), and they use 6RD for their IPv6 implementation. I have dedicated lab hardware I can shove on this connection and open up SSH or other access

[2018-06-25 23:00] mircsicz commented on #1372
@fichtner THX for adding it to the Milestone

And as a cross reference: [Forum-Thread](https://forum.opnsense.org/index.php?topic=8987.0;topicseen)

[2018-06-26 07:54] #1372 closed

[2018-06-26 16:44] somova commented on #1961
Is there anybody who can help to solve this problem? With every update of the opnsense, I have to manually update the configuration. In my opinion the GUI should allow to configure {left|right}auth and {left|reight}auth2 separately.

[2018-06-26 17:02] AdSchellevis commented on #1961
What configuration do you need and for what use-case? IKEv2 + eap-mschapv2 is supported, if I'm not mistaken it's approximately the use-described here https://wiki.strongswan.org/projects/strongswan/wiki/Win7EapMultipleConfig

[2018-06-27 08:45] clystron opened #2486 "rc.newwanip kills CARP on every other call"
I have been testing CARP for a firewall using 18.1.10 and I noticed that sometimes the status of a virtual IP is neiter MASTER/BACKUP/INIT but simply nothing. By checking ifconfig output on the console I noticed that the "carp" line is simply gone in these cases which effectively disables carp.

I traced the issue to rc.newwanip, this script is executed on link-up even though all my Interfaces are

[2018-06-27 09:10] clystron opened #2487 ""Disable preempt" in High Availability settings requires reboot to take effect without a hint about that"
Since the setting only changes a sysctl I dont think a reboot would actually be required but even if it is better to reboot the machine there should be hint in the description about it.

Minor issue but it cost me some time yesterday, using 18.1.10

[2018-06-27 09:52] clystron commented on #2486
Seems very simliar to this https://redmine.pfsense.org/issues/6892

[2018-06-27 09:55] fichtner commented on #2486
Looks like a FreeBSD bug then. Not sure if their patches ever landed upstream, but I can check.

[2018-06-27 10:03] fichtner commented on #2486
Looks like we want https://github.com/freebsd/freebsd/commit/5bd3158a -- it was never added to stable/11 despite the note "MFC after:	2 weeks"

[2018-06-27 10:11] fichtner commented on #2486
Backported via https://github.com/opnsense/src/commit/8d1a9170bd4d -- should automatically hit in 18.7-RC1 but I'll prepare a kernel for testing right now.

[2018-06-27 10:22] clystron commented on #2486
Great, I´d be happy to test if it helps

[2018-06-27 11:18] fichtner commented on #2486
Thanks! You can install the test kernel via:

    # opnsense-update -kr 18.1.9-next -n "snapshots\/dummy"
    # /usr/local/etc/rc.reboot

Version from uname -a should tell you something about 8d1a9170bd4(master).

Cheers,
Franco

[2018-06-27 12:14] clystron commented on #2486
The error is gone with this kernel, looks good

[2018-06-27 12:15] fichtner commented on #2486
Hooray \o/ close ticket? :)

[2018-06-27 12:18] clystron commented on #2486
I am a little confused about the "18.1.9-next" label, is this the kernel I had running on 18.1.10 with just this one patch applied?

[2018-06-27 12:20] fichtner commented on #2486
We have had an internal test kernel up previously for what we want to release as 18.7-RC. I simply replaced that kernel, because this CARP change requires the same testing workflow. In general, the name is arbitrary.

[2018-06-27 12:21] fichtner commented on #2486
(The kernel is based on the master branch of src.git)

[2018-06-27 14:07] sjorge opened #2489 "[18.7.b_344] OpenVPN fails to start after an update."
After updating OpenVPN from TLS+User to simple TLS the server no longer started.
After switching back, the same result.

With some debugging it looks like the server(s) are complaining about this line in the config:
[code]

[code]

(I comment the daemon line to debug)

[2018-06-27 14:09] fichtner commented on #2489
the DH bits are missing from the file name. are they set in config.xml ?

[2018-06-27 14:11] fichtner commented on #2489
Refs https://github.com/opnsense/core/commit/d840e9acade9dd7

[2018-06-27 14:14] sjorge commented on #2489
@fichtner nope, I just checked config.xml:

[code]

For all 4 my servers, selecting 1024, 2048, 4096 in the drop down and saving has no effect.

[2018-06-27 14:22] fichtner commented on #2489
brrrr, sorry about that...

[2018-06-27 14:23] #2489 closed

[2018-06-27 14:24] sjorge commented on #2489
I'll apply the diff and try again ...

[2018-06-27 14:29] fichtner commented on #2489
Thanks for confirming. Stupid mistake. Only on -devel though.

[2018-06-27 16:01] fichtner commented on #2394
There was a bug in the last commit, this will fix it: ac362698a2

[2018-06-27 16:23] fichtner commented on #2314
The initial version was added to master branch for 18.7. See 733f5057d0c1

[2018-06-27 16:23] #2314 closed

[2018-06-27 16:55] Crisr commented on #2186
This bug is still present in the official 18.1.6 release, nano abd dvd tested.
Starting from fresh USB image boot, set WAN and LAN interfaces manually or automatic, then using the pppoe wizard, the result is always the same: the internet doesn't work for the lan clients, but works on the router.
The routing table still displays re0 instead of pppoe0 as the default route.

[2018-06-27 16:59] clystron commented on #2486
Lets hope 18.7 gets released on time then.....

[2018-06-27 16:59] #2486 closed

[2018-06-27 17:07] fichtner commented on #2186
Sure, it could be because it was fixed in 18.1.9, not 18.1.6.

[2018-06-27 17:10] fichtner commented on #2486
Releases never shifted back so far. You can keep this kernel locked until 18.7 is out (system: firmware: packages), which will force a lock release and update anyway.

[2018-06-27 17:18] Crisr commented on #2186
Ok, that's great and sorry for not realizing this.
Is there any way to download a release version, newer than 18.1.9? Sorry for asking this here, I'm only finding 18.1.6.
I know that one can build the latest version from the sources, I'm just looking for an img for a newer version.

[2018-06-27 17:49] clystron commented on #2486
Thats good to know, thanks for your quick responses!

[2018-06-27 17:58] fichtner commented on #2486
Thank you for the report. ❤️

[2018-06-27 17:59] fichtner commented on #2186
We don't usually do 18.1.x image releases, but if you let me know which image/arch you are looking for I can assemble one no problem. :)

[2018-06-27 18:00] Gul-liver opened #2491 "Unable to clear whitlist or backlist destination domains for Squid (ACL)"
Using OPNsense 18.1.10-amd64 - FreeBSD 11.1-RELEASE-p10, it seems not possible to clear some white and black lists in the ACL config of Squid when items contains special characters.
For instance: `^https?:\/\/([a-zA-Z]+)\.mydomain\.` given as example in the help section.
Grey cross near each element does'nt operate and the "clear all" button, no more.

[2018-06-27 18:03] Crisr commented on #2186
If you could build an amd64 nano 18.1.9 or 18.1.10 img it would be great, thanks..

[2018-06-27 18:05] JackTrapper commented on #2186
The issue is still present.

As i had done in the past, i was going to re-re-*re* document the issue for the current version.

- i documented it in [#850](https://github.com/opnsense/core/issues/850#issuecomment-304156220): issue was closed
- i documented it in [#2126](https://github.com/opnsense/core/issues/2186); issue was closed

I tried to get an updated version; [but was told they're gone](ht

[2018-06-27 18:39] fichtner commented on #2186
@Crisr here you go https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-18.1.10-OpenSSL-nano-amd64.img.bz2

@JackTrapper All coding help, asking for new images or in-depth analysis is highly appreciated. The fix that went in after 18.1.6 is a likely candidate, but my hands are tied in verifying a working setup without having a PPPoE setup.

[2018-06-27 19:10] Crisr commented on #2186
Thank you fichtner!

[2018-06-27 19:18] L1ghtn1ng commented on #2186
I have seen it say no default route set before but everything seems okay, if I could get an image for amd64 for a usb stick that can be installed on an A10 that would be great and much appreciated as always and I can help test as well ??.

The earliest I could have a look at will be next Monday though
________________________________
From: Crisr <notifications@github.com>
Sent: Wednesday, June 27,

[2018-06-27 20:44] fichtner commented on #2186
I'm clearly unable to fix this. Making room for somebody to step up.

@L1ghtn1ng image here https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-18.1.10-OpenSSL-serial-amd64.img.bz2

[2018-06-27 21:07] L1ghtn1ng commented on #2186
Thanks for the image, I have pppoe and even though I have seen this in the logs where it says it cannot set route it works fine, as I have stayed or seems to as I am none the wiser and get internet.

What I think would be a idea is to one under the ISP's in question that everyone is using. Getting packed traces of what is coming in to OPNsense and see what we get from comparing the packet dumps.

[2018-06-28 07:00] mimugmail commented on #2458
@fichtner Today I'm working on the live system regarding this (planned maintainence) and it seems that just removing upstream is not enough.

The most important thing was to tick:

Firewall - Settings - Advanced - Multiwan - Disable Force Gateway.

Only after enabling this I was able to ping an IP behind a second gateway on Interface WAN without routing this packet via default gateway.

No idea ho

[2018-06-28 07:29] fichtner commented on #2458
can you grep reply-to on /tmp/rules.debug with the setting on and off?

[2018-06-28 07:56] fichtner commented on #2478
happy to try a fix, maybe @AdSchellevis knows ?

[2018-06-28 08:03] AdSchellevis commented on #2478
@fichtner I will have to look into it, not sure what the issue is. I'll put it on my list, although it doesn't have a very high priority for me.

[2018-06-28 08:07] mimugmail commented on #2458
Hang on .. it seems that changing these values do something in the backend what a simple rule change doesn't do.

Can't reproduce anymore when enabling/disabling :(

Also with every constellation no reply-to anywhere in rules.debug ...

[2018-06-28 08:09] fichtner commented on #2458
if reply-to is not in the rules in either case I'm positive on the fix. all other side effects are network / routing related

[2018-06-28 08:09] mimugmail commented on #2458
Where your fixes already in 18.1.10?

[2018-06-28 08:10] fichtner commented on #2458
no, it's mostly a cosmetic GUI change for 18.7

[2018-06-28 08:10] mimugmail commented on #2458
Cause I'm only testing with stable on this system.
Will replace the machines now .. perhaps I can then preprocude.

[2018-06-28 08:12] fichtner commented on #2458
sometimes the network is immune to the reply-to trickery because the upstream router is smart enough to redirect the packets back into the internal network

[2018-06-28 08:43] weust1979 commented on #2478
@fbrendel Exactly. That way we can see the CPU utilization at a specific time point.
I forgot what the time range is, but say it's 10 minutes. Having small markers per minute in the bottom would be helpful then.

@fichtner @AdSchellevis Making this no high priority is fine. It's just something that feels should be different.

[2018-06-28 08:54] fbrendel commented on #2478
I can imagine why it is disabled.
If the dashboard refreshes the graph is redrawn.
Then you have only a few data points, whose number is growing over time.
That makes it very difficult to add a legend etc.

[2018-06-28 09:02] fichtner commented on #1501
Alright, this is the patch *not yet* added to the 18.7 release candidate  https://github.com/opnsense/src/commit/2bab086d4

You can test this update on an all up-to-date 18.1.x like so:

# opnsense-update -bkr 18.7-stftest -n "snapshots\/dummy"
# /usr/local/etc/rc.reboot

I would expect there is more to do in the GUI but if this doesn't crash we have a way forward. Please note that I have no viabl

[2018-06-28 09:52] AdSchellevis opened #2494 "MVC / routing url encoded paths"
When routing encoded characters, the action parameters may be wrong (parameters are handled after decode). To solve this we should switch from the default `$_GET['_url'] ` to `$_SERVER['REQUEST_URI']` and let phalcon handle the path routing.

for reference https://github.com/phalcon/cphalcon/issues/12421 and https://docs.phalconphp.com/en/latest/routing#uri-sources

The impact of this change shoul

[2018-06-28 10:54] AdSchellevis commented on #2494
to test on 18.1.10:

[code]

The menu change in https://github.com/opnsense/core/commit/d1f2ca86490e31ded45e912480a6330629c0ee48 will fail, this can be ignored (hence the `rm`).

[2018-06-28 13:48] cobradevil commented on #1501
Hello Franco,

I can confirm that the wan_stf interface is back but it does not work yet.

Not sure what is wrong but this is the first attempt so I wanted to let you know it seems to work.

Best regards,
William

[2018-06-28 14:04] fichtner commented on #1501
Hi William,

Splendid! Can you poke the system log for ifconfig errors?

And maybe an ifconfig output for wan_stf from a working system and our system to compare.

Best case this is only a minor hiccup in the interface management code.

Thanks,
Franco

[2018-06-28 14:46] cobradevil commented on #1501
Ok, after looking at the working setup from 16.7 I saw my error in the 6rd prefix.
I have now a working setup with the patch you gave me without adjustments.

Anyone else too confirm this working without interfering the rest of the system?

Best regards,
William

[2018-06-28 14:54] fichtner commented on #1501
This sounds shiny. 1-2 more confirms would be awesome indeed. :)

[2018-06-28 15:02] toyowheelin commented on #1501
Sounds like I need to migrate my firewall when I get home :)

[2018-06-28 15:06] fichtner commented on #1501
I can provide test images if you need them.... easy to check with live mode boot without clobbering your install

[2018-06-28 15:09] toyowheelin commented on #1501
Not a bad idea, if thats something easy to roll together and I can just boot it off a usb stick I will give it a go.

[2018-06-28 15:10] fichtner commented on #1501
yeah, of course... amd64 in serial or vga ?

[2018-06-28 15:20] toyowheelin commented on #1501
amd64 vga

[2018-06-28 15:30] paride commented on #1501
Thanks @fichtner! If I update to `18.7-stftest`, will it seamlessly update to 18.7 once it's out? I'll be away from home for about 10 days, but then I'll be glad to give it a try.

[2018-06-28 16:04] fichtner commented on #1501
It will, but make sure to lock the kernel and base under system: settings: firmware: packages. It will unlock for the major upgrade and I'll make sure to land this in the *final* images (maybe not RC so careful).

[2018-06-28 16:18] fichtner commented on #1501
amd64/vga for 18.1.10 with stf changes: https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-18.1.10-stftest-OpenSSL-vga-amd64.img.bz2

[2018-06-28 16:39] Crisr commented on #2186
Update:

Well, it seems to be working after all.. don't know what caused to begin working, however I can list what steps I took after booting for the 1st time:

1. assigmed interfaces manually from the console options in opnsense (re0 is WAN in my config, opnsense wants to put re0 to LAN by default, so I switched the interfaces with the auto-config option, take out the cables and then put them bac

[2018-06-28 16:42] toyowheelin commented on #1501
Thank you, I will give it a try tonight when I get home.

[2018-06-28 16:43] fichtner commented on #2186
From what I understand this issue is about the wizard's way of setting up PPPoE which is reported to be wrong here, but this does not mean setup of PPPoE is wrong in general, which is part of why this is difficult to pin down without the actual setup and going through the trouble of inspecting what changed between wizard and manual steps.

[2018-06-28 16:52] L1ghtn1ng commented on #2186
Is it possible to rewrite the wizard to do the commands that we know to work when it's done manually? This in turn fix the issue once and for all?
________________________________
From: Franco Fichtner <notifications@github.com>
Sent: Thursday, June 28, 2018 6:43:41 PM
To: opnsense/core
Cc: J.Townsend; Mention
Subject: Re: [opnsense/core] wizard: WAN over PPPOE - default Route is not set correctly

[2018-06-29 03:01] toyowheelin commented on #1501
So, I had all intentions to getting this tested tonight, however windows is causing me issues getting the image onto my usb drive. It may not be until this weekend before I can report back.

[2018-06-29 05:40] Uica commented on #1501
Not working here, no wan_stf interface showing up. Found this in the log:
opnsense: /interfaces.php: The interface IPv4 '100.66.173.169' address on interface 'em1_vlan12' is not public, not configuring 6RD tunnel

I think that public IPv4 network addresses should not be a prerequisite, as providers who are using DS Lite are typically using private networks.

[2018-06-29 05:52] liorokman commented on #2394
I tried to apply ac36269 and it didn't apply correctly. The patch seemed so different than the original file, that I thought it was relevant to the latest opnsense release, so I upgraded the host to version 18.1.10.

Once I did that, the entire set of patches was removed, and they don't apply any more.

Could you rebase this branch on the latest version (18.1.10)?

--
Thanks,
Lior

[2018-06-29 06:21] fichtner commented on #1501
@toyowheelin take your time 👍

@Uica I agree. Parts of the code already do this so I've committed c3a4e45a86 which will be in 18.1.11.

[2018-06-29 06:39] toyowheelin commented on #1501
That's the first time I have ever seen anybody using that address space. I suspect that opnsense uses a bogon filter on the public interface like pfsense. If that's true I suspect turning off the bogon filter on the wan interface will allow stf to work.

[2018-06-29 06:41] fichtner commented on #1501
is_private_ip() checks for 100.64.0.0/10 so that happens. But there was one spot in 6RD code that already had it commented out so.... :)

[2018-06-29 08:42] mimugmail opened #2495 "Display contents of alias in firewall rules via mouse-over ..."
... when comment field is empty.

As discussed with @AdSchellevis in IRC ..

[code]

[2018-06-29 12:20] marjohn56 commented on #2443
Working fine

[2018-06-29 12:20] #2443 closed

[2018-06-29 13:13] liorokman commented on #2394
Hi,

No problem, I will wait for 18.1.11.

--
Thanks,
Lior

[2018-06-29 14:21] mimugmail opened #2496 "Firewall, category dropdown list not visible via Chrome"
No idea if it's a known bug, but with Chrome I can't see the dropdown list for selecting categories in rules tab. With Firefox it's perfectly displayed / useable.

[2018-06-29 14:31] AdSchellevis commented on #2496
it looks like it, I seem to be missing the selector as well on my in in chrome

[2018-06-29 14:37] AdSchellevis commented on #2496
@mimugmail my mistake, on my end it seems to be there (forgot to add some categories), which version do you use? I seem to have version 67.0.3396.87 on my end.

[2018-06-29 15:08] somova commented on #1961
I need mutual RSA + eap-mschapv2. This is not configurable via the GUI

`leftauth = pubkey
rightauth = pubkey
rightauth2 = eap-mschapv2`

[2018-06-29 16:10] AdSchellevis commented on #1961
@somova can you try https://github.com/opnsense/core/commit/66191476ddc4f8c30d8756654304ba11787f4289 ?

To install the patch, use:
`opnsense-patch 661914
`

[2018-06-29 17:17] AdSchellevis commented on #2491
this https://github.com/zellerda/Tokenize2/pull/51 should fix the issue, I will add the new library to core shortly.

[2018-06-29 17:23] fichtner commented on #2491
@AdSchellevis lovely, thanks for that!

[2018-06-29 17:23] AdSchellevis commented on #2491
@fichtner you're welcome :)  it's almost there ;)

[2018-06-29 17:29] #2491 closed

[2018-06-29 17:47] AdSchellevis commented on #2478
The issue is that the number is actually a title on the object, which represents the last known value https://github.com/opnsense/core/blob/18.1.10/src/www/widgets/widgets/system_information.widget.php#L49-L50

nvd3 tooltips can only be shown within the canvas of the graph, which simply isn't large enough for that.

I don't expect this is something we can fix, other then also removing the title if

[2018-06-30 05:56] RyuunoAelia commented on #1501
I can't get it to work with swisscom 6rd. I don't know if it is because swisscom changed something since last time I made it work or if it is a problem with opnsense...

I get the wan_stf interface, everything seems configured correctly but I when I run packet capture on internet facing interface no packets goes to the 6rd border gateway and I get "Network is Down" errors. Nothing wrong in dmesg.

[2018-06-30 06:04] RyuunoAelia commented on #1501
Forgot the gateway info:

[code]

[2018-06-30 08:17] fabianfrz opened #2497 "[FR] www/nginx: assign certificates to users or in the other direction to allow TLS logins"
It would also work to get the username as the common name of the certificate but that may be a bit too dangerous as there is only this loose trust relationship.

[2018-06-30 08:32] fabianfrz commented on #2494
@AdSchellevis does this change affect the nginx plugin?

[2018-06-30 09:49] fichtner commented on #1501
stf patch was merged into 18.7-RC1, thanks for the feedback so far!

@RyuunoAelia not sure about swisscom yet, it would be best to have a larger discussion here as soon as RC1 is out in a week hopefully https://forum.opnsense.org/index.php?board=30.0

[2018-06-30 12:07] AdSchellevis commented on #2494
@fabianfrz it should be backwards compatible, but removes the use of `_url` in the requests, here https://github.com/opnsense/plugins/pull/696/files#diff-06f3b5be0cabf46e05c08f99c6bdeda9R178 and https://github.com/opnsense/plugins/pull/696/files#diff-06f3b5be0cabf46e05c08f99c6bdeda9R189

[2018-06-30 12:30] mimugmail commented on #2496
![compare](https://user-images.githubusercontent.com/20438689/42125182-fd36ea54-7c71-11e8-8fc4-f61b4f002f78.png)

67.0.3396.99

[2018-06-30 15:06] fabianfrz commented on #2496
@mimugmail does the JS console show an error on a page reload?

[2018-06-30 15:17] fabianfrz commented on #2494
@AdSchellevis: looks good - can apply the patch to nginx as well.

[2018-06-30 17:09] astrandb opened #2498 "Backup file name contains colon, which is not allowed in Windows"
I am testing backup to Nextcloud. The file name of the backup is typically config-myrouter.mydomain-2018-06-30_18:55:00.xml . However, the colon used as time separator is not allowed in filenames in Windows. If you download a backup file via the web interface Nextcloud will translate the colon to an underscore. The Nextcloud sync client for Windows refuses to sync the backup files.
If you want to

[2018-06-30 19:17] fichtner commented on #2394
Good evening Lior,

Here is a clean patch on top of 18.1.10: https://github.com/opnsense/core/commit/033104d8

You can apply it like this assuming you have 18.1.10 installed:

    # opnsense-revert -r 18.1.10 opnsense
    # opnsense-patch 033104d8

Cheers,
Franco

[2018-06-30 21:28] liorokman commented on #2394
This cleanly applies on top of 18.1.10, and re-configuring the LAN interface to track IPv6 against the WAN interface works.

I will continue checking this a little while - to see what happens when the WAN interface IP changes.

Thanks for the rebase to 18.1.10...

--
Lior

[2018-06-30 22:43] fabianfrz commented on #2498
This is not a OPNsense bug nor a Nextcloud bug. Columns in filenames are legit characters.
Look for the different file systems in wikipedia. ":" is a legit character.

[2018-07-01 00:00] astrandb commented on #2498
No,  : is not allowed in filenames in Windows. It is used to distinguish the drive letter e.g. C:
One reference from Microsoft: https://docs.microsoft.com/en-us/windows/desktop/msi/filename

[2018-07-01 06:16] mimugmail commented on #2496
No error found, also cleared the cache and restarted Chrome, still not working.

[2018-07-01 06:52] fabianfrz commented on #2498
So it is Windows issue because the underlying file system (NTFS) supports it (only `NUL` (0x00) and `/` (0x2f) are forbidden regarding to Wikipedia). For handling client OS specific issues, I see the client to be responsible to care, not a completely independent software which does not even have contact with it in that case.

[2018-07-01 07:20] astrandb commented on #2498
I respect your view, but the problem remains. backup files from OPNsense cannot be stored on Windows systems as long as they contain a colon in the name. This is not unique to OPNSense nor to Nextcloud. You will find tons of examples if you google around. The simplest way to avoid this interoperability issue is to avoid ":" in filenames.

c:myfile would ambiguous if allowed. There is no way  to de

[2018-07-01 07:49] fabianfrz commented on #2498
`c:myfile` is also valid because it does not contain a '/' nor a '\' form the view of the FS but I guess It may be interpreted as a alternative data stream which is probably the root cause. It has no reference to a mount point which is visible as a drive letter.

you may open a ticket for the sync client if you think it should care about windows file name limitations:
https://github.com/nextcloud/

[2018-07-01 08:48] fabianfrz commented on #2498
@fichtner I created a ticket in the nextcloud client repository.

[2018-07-01 09:36] AdSchellevis commented on #2496
@mimugmail I've just upgraded Chrome to match your version, but don't seem to have your issue. Is your issue consistent with stable and devel? (devel is slightly different, it seems we have the Add button there in the same corner)

[2018-07-01 09:37] AdSchellevis commented on #2496
it could also be a plugin in chrome altering the page in some way

[2018-07-01 09:39] fichtner commented on #2498
thanks 👍

[2018-07-01 11:13] fabianfrz opened #2499 "Access Points: Support WPA3"
The new security standard just got released and as soon as it is supported, the interface configuration needs to be adapted.

[2018-07-01 11:47] mimugmail commented on #2496
I installed Chrome on a machine where there was only Firefox, with 18.7 beta it's working, 18.1.10 vanilla it's working, 18.1.10 with HAProxy no category. Really strange ..

[2018-07-01 13:31] AdSchellevis commented on #2496
really odd, my box has haproxy installed too it seems, but no issue. did you perhaps install `os-cache` ?

[2018-07-01 20:10] fabianfrz commented on #2498
@astrandb
If I remind that correctly, the syntax to install a patch from my repository is
opnsense-patch -a fabianfrz 6f2e192

This is a hotfix - it is not intended for a public release but you can use it for your instance. You will have to reapply it after an update.

[2018-07-02 04:40] liorokman commented on #2394
Both when  rebooting the opnsense host and when simply disconnecting the WAN and reconnecting it, the WAN interface gets an SLAAC assignment between 2-4 seconds after radvd is restarted.

The result is that the announcement sent locally is wrong. When the opnsense is rebooting, radvd announces 2000::/3 addresses, and in the disconnect-reconnect scenario radvd announces the old range instead of the

[2018-07-02 08:21] fichtner commented on #2394
Hmm, can you try e8f3c99f82 -- it will flip the reload order. I think we are in the right spot now, but it's still not ordered correctly.

Cheers,
Franco

[2018-07-02 09:19] marjohn56 commented on #2478
Use the large CPU widget, that shows it correctly. As Ad says, the small display is too small to use... one of the reasons I created the large one.

[2018-07-02 09:24] #2439 closed

[2018-07-02 11:52] fichtner commented on #2478
Should we simply deactivate the small tooltip with the average? The larget CPU widget has data for each point.

Speaking of these points, they are numbered "0,1,2,3,..." while the traffic graph widget shows dates.

[2018-07-02 12:34] marjohn56 commented on #2478
Is it possible to insert the word 'Average' in the tooltip?

I'll take look at the large widget, see if we can improve it a bit.

[2018-07-02 12:38] fichtner commented on #2478
it's better to ditch the tooltip in the small one, it's only for showing "it's doing something" like a HDD LED... and in your widget we already have tooltips per data point :)

[2018-07-02 12:42] marjohn56 commented on #2478
Well the data points are just time from the start of the widget, 100 points in total.

[2018-07-02 12:52] marjohn56 commented on #2478
I can either insert the word 'Average' or remove the top tooltip, which is preferred? IRC?

[2018-07-02 12:52] fichtner commented on #2478
I opt for remove for simplicity

[2018-07-02 12:55] weust1979 commented on #2478
Remove then.

[2018-07-02 12:56] marjohn56 commented on #2478
And so it shall be...

[2018-07-02 13:47] #2478 closed

[2018-07-02 14:32] astrandb commented on #2498
Thank you @fabianfrz !

[2018-07-02 16:23] fichtner commented on #1257
Related to a change in https://github.com/opnsense/core/commit/f344e9d4471a0353a9be82dad1979c7791e40502 -- finally decided to ditch this in favour if a simpler "Interface expand all IPs" approach we have been introducing here and there over the years.

[2018-07-02 16:35] archenroot opened #2506 "NAT Portforwarding doesn't work"
I have fresh install of Opensense latest stable (my first try to replace pfSense) and tried to establish basic port forwarding rules:
inet client -> WAN port 31001 -> Forward to LAN IP port 22 (ssh)

I have already VPN server fully working, so I logged in via SSH over VPN and tested on server specific IP (there are 2 interfaces) if ssh is enable on that one IP I use for forward:
[code]

Now here i

[2018-07-02 16:39] fichtner commented on #2506
Hi there! :)

Try this: clear source port, set destination port to 31001, clear destination host

Cheers,
Franco

[2018-07-02 16:42] fichtner commented on #1257
os-snmp is the only plugin and is scheduled for removal in 19.1

[2018-07-02 16:51] archenroot commented on #2506
Jesus I am stupid :dagger:

[2018-07-02 16:51] #2506 closed

[2018-07-02 16:51] fichtner commented on #2506
no worries, you're doing fine. glad to be of help :)

[2018-07-02 17:24] archenroot commented on #2506
Of course it works, so far all works as expected except my head :-)))

[2018-07-03 05:45] Uica commented on #1501
I tested again with 18.1.11, and can confirm that it works now also with private networks. This is great news - I can finally get rid of pfSense! (Well, I can get rid of that once the Denverton drivers are backported, different topic, but that seems to be under way).

Thanks!

[2018-07-03 07:02] fichtner commented on #2434
@v-i-r-u-s I'm releasing this back into the pool: there is no "!" operator in pf.conf syntax for ports, only != and it doesn't easily work with aliases so this won't fix

[2018-07-03 07:12] fichtner commented on #1501
@Uica thanks for confirming! Denverton ? For network? The stf test kernel also has the network backports from 11.2... can you check? If not we still need to do something, I'm not entirely sure.

[2018-07-03 09:09] Uica commented on #1501
@fichtner: Yes, for network. Good to know that the backports are supposed to be there! I will test this, but it'll take some time, since I only have that Denverton hardware in my production system, which is currently running pfSense. I'll need to plan the migration carefully, so I can stay on that system if it works and wouldn't have to reinstall / restore the old system.

[2018-07-03 09:20] fichtner commented on #1501
well we do have a live system usb install... if you need one based on 18.1.11 let me know.

[2018-07-03 09:29] fichtner commented on #1501
@Uica amd64 ... vga or serial?

[2018-07-03 09:30] Uica commented on #1501
amd64 vga

[2018-07-03 09:43] fichtner commented on #1501
@Uica there you go https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-18.1.11-stf-OpenSSL-vga-amd64.img.bz2

[2018-07-03 09:53] Uica commented on #1501
Thanks! I will test that tonight.

[2018-07-03 10:54] clystron opened #2511 "No Admin-access after (failed?) update from 18.1.10 to 18.1.11"
I have a pretty strange issue with a firewall that has been updated from 18.1.10 to 18.1.11. The update requires a reboot and the firewall "refused" to actually perfom it, even when trying to manually reboot it just does not react. I noticed errors in the log about groupmod for group "all" and groupadd in group "admins" failing because one of the admin-users appearantly does not exist. There are 4

[2018-07-03 10:55] fichtner commented on #2511
Have you tried the GUI reboot option under power?

[2018-07-03 10:58] clystron commented on #2511
Thats what I meant by "trying to manually reboot".
My main concern is that the "admins" group is probably empty now because of the "access denied" message when trying to access SSH-console....

[2018-07-03 11:03] fichtner commented on #2511
I have no good picture of what is wrong here. All user admin root access funkiness aside...

Are you able to open the GUI now?
Are you able to access the console, preferably the console menu?

[2018-07-03 11:08] clystron commented on #2511
GUI is not accessible now, as is SSH console. The TCP-Sockets are accepted but there is are no replies to HTTP GET requests or a login prompt over SSH. Before trying to change a setting the GUI was accessible but SSH console was denied. I can check the locally attached VGA monitor when I am o site in a little while.

[2018-07-03 11:11] fichtner commented on #2511
It sounds like a latent file system corruption, files missing / corrupted leading to incomplete system start. You can use a VGA image to recover with installer doing config import and reinstall to do a seamless replace.

[2018-07-03 11:17] clystron commented on #2511
So you think the failure on "groupadd" is a pure coincidence?

The failed groupadd command is '/usr/sbin/pw 'groupadd' 'admins' -g '1999' -M '0,2000,2001,2002''
it complains about user 2002 not existing.

Just to be clear, the device did not restart after the upgrade, the uptime did not change. The failed commands first appeared during the update.

[2018-07-03 11:21] fichtner commented on #2511
groupadd does not lock you out of GUI or SSH, let alone make GUI unresponsive.

2002 is your other "root" so it doesn't exist because it couldn't be created (the database is rebuilt from scratch on reboot). That's a minor issue.

I understand. A failed reboot indicates problems with the installation / download of the update. We'd need the update log to see why it didn't reboot, but I'm guessing th

[2018-07-03 11:30] clystron commented on #2511
What I do have are syslog messages because the device logs to another machine. I see a whole lot of "upgraded" messages from pkg-static and then some errors about "Model OPNSense\Quagga\OSPF6 can´t be saved, skip" with "validation error". Quagga has been replaced by FRR on this machine a while ago so those could be remnants. Finally I see my two group-errors and then "upgraded: 18.1.10 -> 18.1.11"

[2018-07-03 11:31] clystron commented on #2511
BTW: Can the installer import a config from the existing installation filesystem or do I have to use a config-backup? So far I have not used that feature.

[2018-07-03 11:35] fichtner commented on #2511
Hmm, the base/kernel update doesn't log to syslog because it's not using the package manager. Ideally, these need to be rerun to catch the issue in the act:

    # opnsense-update

The installer importer takes the contents of /conf including DHCP leases, your backups, RRD files, captive portal database and Insight reporting data. It's the same system afterwards minus the logs. To be on the safe si

[2018-07-03 11:43] clystron commented on #2511
Ok, I will check the VGA console in the afternoon and if nothing works prepare for a reinstall of that machine. It has been performing its "normal" services for serveral hours now so I hope I can do it after office hours.

[2018-07-03 12:54] muchahagrande opened #2512 "CRON JOB to KILL STATES"
Hi,
   I need a cron job to kill some states.
   In the cron job command selection list, it would be usefull to have a "kill states" command, and in the parameter box you could enter an IP or an ALIAS to filter the list of states to kill.
   I need this to workaround a SIP problem that occurres when you have a trunk between two sites that have dynamic IP addresses.
   I do this states killing by h

[2018-07-03 13:12] fichtner commented on #2512
Hi @muchahagrande,

Would you try and see if the recent addition of "Dynamic state reset" works for you? (Firewall: Settings: Advanced)

Cheers,
Franco

[2018-07-03 13:19] muchahagrande commented on #2512
I forgot to mention that I have binat, so my router does not detect public IP changes.

[2018-07-03 17:38] Uica commented on #1501
@fichtner: I have tested the live system. The good news is that the backported Denverton network driver worked; 6rd with those interfaces looked good.
The bad news is that the hard disk was not recognized; several error messages about AHCI timeouts. The Denverton AHCI driver should probably be backported, too. Want me to open a new issue about that?

[2018-07-03 19:54] fraenki commented on #1680
(FWIW, this works for me, at least on the hardware listed in first post.)

[2018-07-03 20:00] fichtner commented on #1501
Is pfSense already on 11.2 ? I don't feel so great about backporting AHCI. Is this not solvable with BIOS tweaking the controller ?

[2018-07-03 20:07] somova commented on #1961
@AdSchellevis: Thank you, the patch works great

[2018-07-03 20:10] Uica commented on #1501
pfSense releases are not yet on 11.2, development snapshots for 2.4.4 are.
I’ve tried both, the development snapshot and the latest release with the network kernel module (and only that one) loaded manually. Both worked and recognized the Denverton AHCI driver.
I would prefer not to tweak the BIOS settings, as it works well with pfSense, but if that’s the only way to migrate anytime soon, I’m will

[2018-07-03 20:11] fichtner commented on #1961
Shipping in 18.1.12 then, thanks for testing! ❤️

[2018-07-03 20:11] #1961 closed

[2018-07-03 20:15] fichtner commented on #1501
I'm just curious at this time to hear how much it differs from FreeBSD, because 11.2 is barely out. Let me check the sources again...

[2018-07-03 20:38] fichtner commented on #1501
okay, so this would be our backport, but not yet tested https://github.com/opnsense/src/commit/4d136a0d91

can we move this discussion to https://github.com/opnsense/core/issues/2473 ?

[2018-07-03 20:39] fichtner commented on #2473
we have a preliminary backport going on for 18.7, kernel to try soon...

https://github.com/opnsense/src/commit/4d136a0d914280f2183e8125f6b1ad6c0eb4eb59

[2018-07-03 21:17] fichtner commented on #2344
hi @h-2,

Preliminary patch here, need to build and test tomorrow:

https://github.com/opnsense/src/commit/eb2d1233f30605387e3934bef6a658eadede9391

It's difficult to backport cleanly without pulling in a number of unrelated changes so I wrote a different version for 18.7.

More on this tomorrow. :)

Cheers,
Franco

[2018-07-04 06:52] sameeralirock commented on #1782
Similar issue I am facing with below logs
`2018-07-03T04:10:52-04:00 an3000-101-1-csm logger: callback session down subscriberid 262228001 session_id 59603
2018-07-03T04:10:52-04:00 an3000-101-1-csm logger: loghdr_pid: 8614 loghdr_lwpid: 10007 s: "{8614} [262228001] Link: DOWN event"
2018-07-03T04:10:52-04:00 an3000-101-1-csm logger: loghdr_pid: 8614 loghdr_lwpid: 10007 s: "{8614} [262228001] LCP:

[2018-07-04 07:17] fichtner commented on #2344
@h-2 Patch compiles and doesn't do bad things so that's a good start. Now we need your hardware to confirm. I can provide a test image to boot if you want.

[2018-07-04 07:18] fichtner commented on #2473
Loads up ok, will provide image soon.

[2018-07-04 08:01] clystron commented on #2511
So here is what happened:
I checked the VGA console and the menu was present (the setting I changed in the GUI before it froze was to not require a password for the console) but I could not do anything. I tried Shell, Reboot, Power off and Firewall log but all the terminals just froze. So the only thing I could do was prepare for a reinstall and reset the machine. First test was to just let it boo

[2018-07-04 08:05] fichtner commented on #2511
@clystron was there a crash report on the dashboard after the reboot that fixed it? it sounds like the kernel locked up without warning, which is rare, but not entirely unusual.

To be fully sure about the file system errors go to system: firmware: updates and do an audit for "health" and it will check all package's file checksums to be sure. it could also be indication of the disk slowly dying an

[2018-07-04 08:30] clystron commented on #2511
There was no crash report on the dashboard.
Would a kernel lockup not affect firewalling/routing etc? The machine performed all its services without any degradation for several hours while the GUI was inaccessible and also continued to log to its syslog server.

The filesystem is on a RAID1 so I would expect it to be able to cope with some (not all of course) HDD errors. As far as I can tell both

[2018-07-04 08:48] sameeralirock commented on #1782
Similar issue I am facing with below logs
`2018-07-03T04:10:52-04:00 an3000-101-1-csm logger: callback session down subscriberid 262228001 session_id 59603
2018-07-03T04:10:52-04:00 an3000-101-1-csm logger: loghdr_pid: 8614 loghdr_lwpid: 10007 s: "{8614} [262228001] Link: DOWN event"
2018-07-03T04:10:52-04:00 an3000-101-1-csm logger: loghdr_pid: 8614 loghdr_lwpid: 10007 s: "{8614} [262228001] LCP:

[2018-07-04 08:50] clystron commented on #2511
Health audit reported no issues.

[2018-07-04 09:11] fichtner commented on #2511
You are right, I forgot about the part that networking kept working. Still odd that the GUI froze too, I could understand the console not responding and SSH with it, but not the GUI.

I suppose the system log could mention something related around the time of the incident... you can skim the full log form the console via:

# clog /var/log/system.log

[2018-07-04 09:31] clystron commented on #2511
There is nothing in there that I have not already seen on the syslog server, pkg-static logged updated packages and then "pkg-static: opnsense upgraded: 18.1.10 -> 18.1.11". In the same second there was also "sshlockout/webConfigurator v3.0 starting up" and "pkg-static: isc-dhcp43-client-4.3.6P1 deinstalled". 80sec later the Monit daemon was stopped (trying to reboot?). After that point the SSH co

[2018-07-04 09:34] fichtner commented on #2511
Maybe that is part of the key to solving this: the services tried to shut down and the system was in a state just prior to reboot with a particular daemon hanging (haproxy, squid?). I know that shutdown writes /var/run/nologin, which disables login and you won't get it back until it cleanly reboots.

[2018-07-04 10:23] clystron commented on #2511
It certainly looks that way, the only service mentioned in syslog is Monit, haproxy or squid are not enabled. The vital services IPSec/OpenVPN/FRR/DHCPD/Unbound were all still up.
I dont think it was just nologin because nologin is ignored for the user root and is not logged as PAM auth error when rejecting a login but it seems something was missing for PAM auth.

I also found that lighttpd was st

[2018-07-04 10:32] fichtner commented on #2511
Alright, thanks for the additional info. Shall we close this issue then? I'm on the lookout for similar behaviour in my test environments always. Some things were fixed in 18.1.x lately regarding heightened visibility in that area, but catching all seems like a job for life but that's ok. :)

[2018-07-04 10:40] clystron commented on #2511
Fine with me, thanks again for your efforts!

[2018-07-04 10:40] #2511 closed

[2018-07-04 13:29] fichtner commented on #2473
@Uica https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-18.7.r-ahci-OpenSSL-vga-amd64.img.bz2

[2018-07-04 14:02] goor4 commented on #2244
The connection problem of the cable modem occurred again and DHCP-Client of OPNsense now self-healed without manual intervention in OPNsense.

Summary:
- [ ] System -> Settings -> Tunables "dev.igb.0.eee_disabled" is not necessary
- [x] Patch 07746e3 from ticket #2372 included in 18.1.7 solved the problem

[2018-07-04 16:03] Uica commented on #2473
@fichtner: No luck. I‘m seeing some Denverton AHCI related messsages in dmesg, but still getting this CAM command timeouts. No hard disk recognized.
I can provide the dmesg file from today‘s test, and a dmesg from pfSense for comparison, if that helps.

[2018-07-04 16:07] fichtner commented on #2473
Fun. Can't go on a wild goose chase at the moment any more than already done, but I will try to find a bit of time between RC1 and RC2 to find out more. Sorry. :(

[2018-07-04 16:09] Uica commented on #2473
Sure, thanks for trying! Let me know if I can help with more testing later.

[2018-07-04 17:31] fichtner opened #2514 "firmware: remove upgrade banner when update is done"
It makes the transition from development to production more obvious by hiding the faulty upgrade banner

[2018-07-04 19:22] sjorge opened #2515 "[18.7.b_415] UUID when editing a monit service"
When I try and edit a monit service for it displays UUID in stead of check names. The check dropdown box also pears in the top left corner.

![monit screenshot](https://i.imgur.com/l4C3i7Z.png)

[2018-07-04 20:17] fichtner commented on #2515
CC @fbrendel

[2018-07-05 05:25] mimugmail opened #2516 "some IPv6 WAN issues after update to 18.1.11"
Read here about some issues after 18.1.11, since there are already 3 different ppl I thought to put here an issue. One of them explained some more facts so perhaps you already see whats wrong.

https://www.reddit.com/r/OPNsenseFirewall/comments/8w1gx0/no_ipv6_access_to_internet_from_clients_after/

[2018-07-05 05:37] fichtner commented on #2516
18.1.6 to 18.1.11 is too broad. We need the exact version change. And I don't think kernel or base updates did this. The timing may be purely coincidental with the update, which tends to happen with these obscure problems for reasons outside of our control or just a simple setup quirk. Not trying to fend this off, but I trust the forum and twitter users to report issues like this as well in a very

[2018-07-05 05:40] fichtner commented on #2394
Hi Lior,

Great, finally. \o/

If it's all ok in a few days you can close this up and we'll automatically add this to 18.7.  I don't think it should be on 18.1.x anymore as it will be End of Life by the end of the month.

Cheers,
Franco

[2018-07-05 06:34] fichtner opened #2517 "system: allow polling when gateway monitor reports a gateway as down"
To fix cases where DHCP on WAN is not recovering due to modem being stubborn.

via: https://forum.opnsense.org/index.php?topic=9050.0
via: https://forum.opnsense.org/index.php?topic=9030.0

[2018-07-05 07:54] mimugmail commented on #2516
FYI

https://www.reddit.com/r/OPNsenseFirewall/comments/8w1gx0/no_ipv6_access_to_internet_from_clients_after/e1tkxkm/

[2018-07-05 07:54] #2516 closed

[2018-07-05 10:42] openPablo commented on #1856
Has this been resolved yet?

[2018-07-05 10:43] fichtner commented on #1856
Nobody proposed code for this. Note this is a feature request, not a bug.

[2018-07-05 10:52] openPablo commented on #1856
Isn't this a security issue? I'm trying to setup a system where an admin can add/remove his own users on his own so I don't have to micromanage all my clients. Otherwise I would need to create all users and give them the QR code for their OTP manually.

Thanks in advance.

[2018-07-05 11:03] openPablo commented on #1856
Okay thank you. I understand it was made that way and it's not easy to change the whole structure of the code.
What other options do I have to delegate user creation?

[2018-07-05 11:05] fichtner commented on #1856
I assume you want OTP for OpenVPN login?

[2018-07-05 11:08] openPablo commented on #1856
Yes I want OTP, are you saying it's doable if I drop OTP?

[2018-07-05 11:11] fichtner commented on #1856
There are several things you can do:

* Use an external RADIUS / LDAP server for OpenVPN authentication. This can include remote OTP if supported by the backend.
* Use the os-radius plugin to do the OpenVPN user management. It currently does not support OTP. The Radius can be operated by non-admins if you want that and user creation is done there. Then simply use that internal Radius like an exter

[2018-07-05 11:18] openPablo commented on #1856
Thank you for the tips, I'm going to try os-radius plugin! Would've been much easier though if AC was a bit more fine grained.

[2018-07-05 15:01] fichtner commented on #2515
was fixed by 20f41070bc1ab6aef6fe6f33dacea7e13c820398

[2018-07-05 15:01] #2515 closed

[2018-07-05 15:17] sjorge commented on #2515
👍 yep that commit fixes it!

[2018-07-06 07:35] bobafrinet commented on #2473
I can confirm the AHCI bug is still persistent.

Attached is the boot sequence.
[Boot_18-7-AHCI.txt](https://github.com/opnsense/core/files/2169414/Boot_18-7-AHCI.txt)

[2018-07-06 07:39] fichtner commented on #2473
Yup, all help in figuring out which code we are currently missing is welcome. The focus of our work now is to get 18.7-RC1 and 18.1.12 out the door so it's not within my immediate reach to look for more backports which won't make the cut for 18.7-RC1 in any case.

[2018-07-06 08:32] bobafrinet commented on #2473
This is the part of boot which starts to go wrong :

And this is the same part found on a FreeBSD 11.2-Release where boot is ok :

So from my understanding It might come from the ses0 driver which doesn't seem to be detected.
https://www.freebsd.org/cgi/man.cgi?query=sesutil&sektion=8&manpath=FreeBSD+11.2-RELEASE+and+Ports

Maybe a kernel compile time option related to ses is not detected… 

I'll

[2018-07-06 19:57] fichtner commented on #2427
@ypid all done? :)

[2018-07-06 22:32] mibofra commented on #1776
Can I suggest a solution?

https://github.com/opnsense/plugins/blob/master/net/l2tp/src/etc/inc/plugins.inc.d/if_l2tp.inc

Change at line 197 `set l2tp self ${l2tpcfg['localip']}`with:

[code]

And into https://github.com/opnsense/plugins/blob/master/net/pptp/src/etc/inc/plugins.inc.d/if_pptp.inc at line 198: `set pptp self {$pptpdcfg['localip']}` with:

[code]

This should retrive the ip of the i

[2018-07-07 05:39] RyuunoAelia commented on #1501
@fichtner  I quintuple-checked my configuration with as many sources as I could but still didn't find any problem with it. Is it possible to get an stf module with debugging enabled (since this is a compile-time option)? I tested in my installed system by enabling your update source so I can do it again no problem.

[2018-07-07 06:52] RyuunoAelia commented on #1501
btw I made some comments on the patch for things I find weird I'll let you have a look if these are accurate.

[2018-07-07 06:58] mimugmail opened #2520 "MVC: create templated files?"
Hi,

for plugins I know the process to template the content of a file and name via TARGETS.
For a BIND plugin I'd need to create a file for every zone created in a dialog.
Is there already a way to do this? I not seen something similar within the new codebase.

[2018-07-07 07:02] ypid commented on #2427
All done, closing as solved.

[2018-07-07 07:04] #2427 closed

[2018-07-07 07:41] fichtner commented on #2520
Something like this?

https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/Sample/%2BTARGETS#L1

[2018-07-07 07:51] fichtner commented on #1501
@RyuunoAelia thanks for the source code review! I'll comment when I have more time because I would assume that it works in general but we can always go back and improve it on our own. I don't have a setup to test so we have to be careful about this though.

For now, would you mind opening a ticket for your specific case and insert all info about your connection / ISP again? And does this in fact w

[2018-07-07 08:03] RyuunoAelia commented on #1501
For the "ticket" could you be more specific where I should open it?

As for switching to pfsense I would rather let that as a last resort since swisscom is really a pain with custom routers since their infrastructure is made to control the routers with TR-069 and gives the router a token that needs to be passed in Option dhcp-class-identifier and pfsense did not support the format of that option c

[2018-07-07 10:06] fichtner commented on #1501
Ticket here in core is fine and I understand your motivation. We can make this work eventually. Worst case there are Swisscom contacts that I can ask if they know something. 😊

[2018-07-07 10:26] RyuunoAelia opened #2521 "[6rd][stf] not able to connect through swisscom"
As discussed in #1501 I open a new issue.

I get the wan_stf interface, everything seems configured correctly but I when I run packet capture on internet facing interface no packets goes to the 6rd border gateway and I get "Network is Down" errors when trying to ping any ipv6 adress including the border router.

Nothing wrong in dmesg.

[code]

[code]

The prefix is 2a02::1200/28 and border gatewa

[2018-07-07 12:38] mimugmail commented on #2520
Hm, I dont get it, perhaps I have to test in with real data. Be sure that I'll ping you in IRC next week :D

[2018-07-07 12:38] #2520 closed

[2018-07-07 12:39] QuentinC opened #2522 "OpenVPN client: add support for IPv6 dynamic interface configuration"
Hello,

I've been trying to configure a VPN client to do IPv6 inside the VPN tunnel.
My server sends me a single IPv6 address, but that is dynamically allocated.

I need to do IPv6 NAT and force-gateway rules to allow IPv6 traffic to get in the tunnel.

Here is the issue:
- When the VPN connects, the assigned IPv4 is set to the interface and the gateway is set, but not on IPv6
- If I manually set

[2018-07-07 12:42] QuentinC commented on #2522
Here is the first message:
[https://forum.opnsense.org/index.php?topic=8997.0](url)

Thanks !

[2018-07-07 16:44] RyuunoAelia commented on #2521
Ok, I managed to build a kernel and installing it. I don't have error message when ifconfig sets the ipv6 adress for my 6rd setup, but I forgot I need a patched ifconfig (I reverted to the Production line after my first test failed).
I will build base (since it doesn't seem possible to build only ifconfig) and continue testing things.

[2018-07-07 16:58] RyuunoAelia commented on #2521
well I finally used your update repo from #1501  with my kernel and I got everything configured correctly. however even after patching the if_stf.c file with #define STF_DEBUG 4 I still get no debug in dmesg... I even built a "debug" kernel. Don't know if I am doing something wrong or if my problem comes from somewhere else and doesn't even reach the kernel module code ...

[2018-07-07 17:15] RyuunoAelia commented on #2521
Ok there's an annoying sysctl thingy. I will remove this check and enable the debugging always...

[2018-07-07 17:38] RyuunoAelia commented on #2521
Wow... I guess this is not normal:

[code]
From what I understood of my reading stf_getin4addr should extract the ipv4 address from the ipv6 one. In this case the addr6 is my local ipv6 (I already find that weird) and the ipv4 is 0.0.0.0 (even weirder). And I get that bunch of messages for every single ping request send to google.com

[2018-07-07 18:16] RyuunoAelia commented on #2521
Yep after adding more debug I was right.

[code]

The module parses my local ipv6 address to get the src ipv4 for outgoing packet. When 0.0.0.0 is received it just stops there to avoid sending garbage it expects a local ipv4.
I expect my setup is special when compared to the others that tested it. Swisscom having a /28 prefix might be the cause I do not know the other setups.

[2018-07-07 21:01] reza-ebrahimi opened #2523 "Unable to ping OPNsense as guest from host machine"
I've a fresh install of OPNsense inside Virtualbox, so I cannot ping OPNsense guest machine from host, I've tested from both Windows and Ubuntu host and cannot work, I have tested both host only networking and bridged networking with no success, is there any config to change? I'm also trying to disable OPNsense firewall but cannot find any useful information about that, any help is appreciated.

[2018-07-08 00:38] labor4 opened #2524 "some UI improvements (papercut)"
some UI improvements

- I think its not informative that a non-enabled interface is shown in graphs.
- Menu "Interfaces": Idea to group VLAN intf under their respective parent interfaces, maybe like the "Services" Menu.
- Menu "Interfaces": Also work with padding/spaces for "the interfaces"->following->"Assignments" (and maybe others too). make groups.
- OpenVPN interfaces are sometimes displayed

[2018-07-08 06:20] fabianfrz commented on #2523
This are the settings of my dev machine (and I know that they are working):

Adapter 2 and 3:
![screenshot_20180708_081825](https://user-images.githubusercontent.com/3713914/42417320-7ea94738-8287-11e8-8743-75d8eef10921.png)
Adapter 1:
![screenshot_20180708_081923](https://user-images.githubusercontent.com/3713914/42417331-a110c9ae-8287-11e8-8f98-4a10c2c65af4.png)

[2018-07-08 06:22] fabianfrz commented on #2523
before i forget it - I have also configured a network manager connection matching the settings of OPNsense. Maybe your host is in a different network.

[2018-07-08 07:04] RyuunoAelia commented on #2521
The more I dig into the patch to stf the less I understand its logic. Argument naming is an unhelpful mess, lack of comments makes it hard to understand what is expected of functions and the sheer number of variables makes it virtually untraceable.
The best example of that is "stf_getin4addr" which *should* be a function to extract the ipv4 address from an ipv6 address. (the exact one that returns

[2018-07-08 09:18] opnsenseuser commented on #2473
i get the same error.

Strangely, the first installation worked. After about 3 reboots came then this error.

Now i can´t even boot opnsense from harddisc too.

i´m using atom c3558

I was already looking forward to 18.7, because I thought that with it, the atom c3000 works. Pity!

[2018-07-08 09:21] fichtner commented on #2473
Did we mislead you in this in any way? Can you point to the material that is ambiguous?

Thanks,
Franco

[2018-07-08 09:30] opnsenseuser commented on #2473
I just thought that only the nic drivers are missing and then the atom c3000 works. but that was probably misinterpreted by me. I think there are more important things for opnsense and so I have to wait until the end of the year and as soon as opnsense on freebsd 11.2 converts it will work. I just wanted to write that I have the same problem but I do not blame or blame anyone. please do not be ang

[2018-07-08 09:33] fichtner commented on #2473
I'll promise to work on an early 11.2 preview and fix the Denverton issue subsequently. For the initial 18.7 we can't make it so I apologise if that is inconvenient.

Thank you,
Franco

[2018-07-08 09:35] opnsenseuser commented on #2473
do not stress. it fits as it is. thanks for your commitment. KR René

[2018-07-08 09:38] opnsenseuser commented on #2473
I would really like to help find the problem, but unfortunately I know myself with the topic of kernel and drivers too little. I prefer to keep my fingers off that. best regards rené

[2018-07-08 10:22] fichtner commented on #2521
I'm beginning to see what you say, stf_getin4addr() has an actual issue. The good thing is ifconfig can be used to verify this as it prints 0.0.0.0/32 which is what happens internally too.

[2018-07-08 10:33] RyuunoAelia commented on #2521
If we follow what the linux patch does, it becomes much easier to extract the ipv4 from the ipv6 and much less error prone.
Actually use 2 consecutive 32bit chunks of the struct in6_addr pass them through ntohl() and do bit shift to get the 32bits of full ipv4 address. Then use a mask to keep only the ipv4 prefix and pass the result in hlton().
This solution would be faster in compute time, much l

[2018-07-08 10:37] fichtner commented on #2521
I found a small thing... 6df682c, apply using:

    # opnsense-patch 6df682c

pfSense does this too nowadays. But what I don't understand is that both /0 and /32 do the same thing as /32 but 32 bits is not allowed in the GUI?

Also you said "prefix 2a02::1200/28" but shouldn't that be "2a02:1200::/28" ?

[2018-07-08 10:49] RyuunoAelia commented on #2521
Yes you are correct. I messed up my message for the "2a02::1200/28", the ifconfig output is correct if you look at it.

Also I actually detected this confusion between 0 and 32 in the kernel patch and this is actually dangerous since the RFC does not limit the values of the ipv4 prefix, so 0 is actually a valid prefix acording to the RFC which means there is only a single customer per SP ipv6 pref

[2018-07-08 10:52] fichtner commented on #2521
I'm fixing some more in the GUI / configuration code to support 0 - 32 bits, right now the only thing that worries me is that the kernel assumes /0 and /32 is the same.

[2018-07-08 11:00] fichtner commented on #2521
Second part via 83f8321b, to apply both patches:

    # opnsense-patch 6df682c 83f8321b

I'll look into the kernel now :)

[2018-07-08 12:06] RyuunoAelia commented on #2521
YEAH! with both patches applied I managed to make my configuration work. I can ping6 google.com now.

However, only if I set the prefix length to 0 with 32 ifconfig output is identitcal but I cannot ping6 google the icmp reply is never received.

[2018-07-08 12:16] fichtner commented on #2521
Ok, here comes the kernel...

# opnsense-update -kr 18.7.r-stf2 -n "snapshots\/dummy"

Don't forget to reboot. It won't show /0 because that is in ifconfig to fix too (via base update later on).

Cheers,
Franco

[2018-07-08 12:36] RyuunoAelia commented on #2521
I installed your kernel
# uname -a
FreeBSD pfsense.idm.aelia.ch 11.1-RELEASE-p11 FreeBSD 11.1-RELEASE-p11  bdf43282b19(master)  amd64

Same behaviour as with my extra debug-patched kernel. I can ping6 google.com only when I set the ipv4 prefix to 0. Even my full debug was not showing any reason when set to 32. So probably the encapsulation was wrong somewhere with 32bit of ipv4 prefix. With prefix

[2018-07-08 12:41] RyuunoAelia commented on #2521
Oh the stf_encapcheck is a callback set when the virtual interface is created.

[2018-07-08 12:41] fichtner commented on #2521
encap4_input() calls this function via ep->func

[2018-07-08 12:42] RyuunoAelia commented on #2521
so I can probably tcpdump when I set the ipv4 prefix length to 32 ans see if something goes out. Will try.

[2018-07-08 12:44] fichtner commented on #2521
Sorry, there's also encap6_input(). I think the packet goes out but doesn't come back (into the network stack on the host). Could that be true?

[2018-07-08 12:57] RyuunoAelia commented on #2521
Ok after some tcpdump (and after that realizing that actually ifconfig shows pretty clearly what happens) I know what is happening. Actually the kernel is doing exactly what I tell it to do, but the web interface naming for the parameter is wrong.

The parameter should not be "ipv4 prefix length" but the "number of bits to drop at the end of the ipv4" address. So if I set 32 it drops the entire ip

[2018-07-08 12:58] fichtner commented on #2521
What do you think, should the resulting prefix be parent prefix + ipv4 prefix bits?

[2018-07-08 13:04] RyuunoAelia commented on #2521
To be clear (since I am not sure if I understand what you ask).

If the SP prefix is 2a02:1200::/28 and my ipv4 ip address fully embedded into the ipv6 adress so 32 bit. You have to add 28+32 to get the subnet length which makes a /60 delegated.

The RFC5969 actually defined the 6rd parameters as they currently are taken by the kernel module. (sorry I made an error in my previous statement, the pa

[2018-07-08 13:10] RyuunoAelia commented on #2521
For now it works for me so I will stop looking into it for today. Maybe you should check if it really works correctly for a bunch of different parameters (ifconfig shows the delegated prefix but not the size of the delegated subnet, only the length of the SP ipv6 subnet so 28 for me).

[2018-07-08 14:07] opnsenseuser commented on #2473
by the way.
i´m using a m.2 disc

[2018-07-08 17:19] opnsenseuser commented on #2473
I found out the following.

The latest dev version of pfsense 2.4.4 works without problems. I just want to say this, so maybe this can help save time.

[2018-07-08 17:36] fichtner commented on #2473
The 2.4.4 dev branch is using FreeBSD 11.2 indeed. Note that while 2.4.4 may still be a few months out 18.7 is due this month and 11.2 just came out so for us with our fixed schedule it's not the best spot so we would rather keep 11.1 for a little longer and give 11.2 the testing it deserves.

[2018-07-08 18:06] opnsenseuser commented on #2473
I agree with you.

[2018-07-08 18:14] fichtner commented on #2521
@RyuunoAelia To answer the question myself maybe: so I made a small error in bc378402b5 but then realised that this previous code wasn't even correct and c6034f651cd27 makes the most sense to me. What do you think?

[2018-07-08 18:16] liorokman commented on #2394
This has been stable for a few days - marking as closed.

Thanks!!!

--
Lior

[2018-07-08 18:17] fichtner commented on #2394
Hi Lior,

Great, Thank you for all your help!

Cheers,
Franco

[2018-07-08 18:17] fichtner commented on #2394
whoops, closing again.

[2018-07-08 18:17] #2394 closed

[2018-07-09 01:28] BuhtigithuB commented on #1798
It would maybe a bit simpler to have the notion of minor and major update... CRON JOB button for minor upgrade which trigger a permanent job that update/reboot opnsense on new minor version when ever available...

Just my 2 cents

[2018-07-09 04:46] fichtner commented on #1798
It’s in the from commands. You can do minor or minor+major.

[2018-07-09 11:43] astrandb opened #2527 "Backup filename on Nextcloud is not optimal"
I think there is a slight mistake in the naming of backup files in Nextcloud.php.
Current date format string for the backup filename on Nextcloud is:

`date("Y-m-d_h-m-s")`.

A better format would be:
`date("Y-m-d_H-i-s")`.

[2018-07-09 14:07] mimugmail opened #2528 "JS issues with Tokenizer and NetworkField with Fieldseparator"
For the net-snmp plugin I use for IP listener the NetworkField and a Fieldseparator to allow multiple ones. It seems to work fine and values get in config. But when I go elsewhere and click again on the menu the fields are empty and thow a JS error.

At first I thought it was related cause of jumping from stable to master and back. But I did a fresh install and tried a clean browser, doesn't help.

[2018-07-09 14:56] AdSchellevis commented on #2528
@mimugmail you probably miss the "AsList" operator, like https://github.com/opnsense/core/blob/062ad3f82ce5b1146a3d9aae7fa8ca72858ea1e3/src/opnsense/mvc/app/models/OPNsense/IDS/IDS.xml#L126

[2018-07-09 16:13] dmbaturin opened #2529 "OpenVPN config generator is handling /31 tunnel networks incorrectly"
As [RFC3021](https://tools.ietf.org/html/rfc3021) says, "In a point-to-point link with a 31-bit subnet mask, the two addresses above MUST be interpreted as host addresses."
Right now, if you use a /31 network for the tunnel subnet, it ignores this special case, and treats the first address as a network address, thus running over the intended range, and producing non-RFC compliant and counterintuit

[2018-07-09 16:40] darinpp opened #2531 "Incorrect subnet in strongswan.conf"
It seems like OPNsense sets incorrectly the`subnet` in `strongswan.conf` to the value specified in VPN: IPsec: Mobile Clients : Virtual Address Pool.
The correct value is the one set in VPN: IPsec: Tunnel Settings : Local Network for Phase 2.
I checked pfSense and it seems to do the correct thing. In my case I have Phase 2 local network set to 0.0.0.0/0 and Virtual Address Pool set to 192.168.11.0

[2018-07-09 17:21] fabianfrz commented on #2527
@astrandb you can test the fix if you like - it should work (thanks for reporting the bug).

[2018-07-09 17:29] #2527 closed

[2018-07-09 17:56] fichtner commented on #2494
Close?

[2018-07-09 18:20] fabianfrz commented on #2527
you may run "opnsense-patch 4b1dd40" to apply it

[2018-07-09 18:40] mimugmail commented on #2528
This is probably the 15th plugin and there's always something new to learn :)
Thanks for this one! 👍

[2018-07-09 18:40] #2528 closed

[2018-07-09 19:51] AdSchellevis commented on #2494
@fichtner sorry, forgot

[2018-07-09 19:51] #2494 closed

[2018-07-09 20:53] AdSchellevis commented on #2531
@darinpp first part of your question should be fixed with https://github.com/opnsense/core/commit/5b9d4240c31db13562762702a57f838eeabdd651 install via:

[code]

For the left/right auth parameters, I need to know what you selected in pfSense and what the expected result is, `eap-tls` is only used when eap-tls is selected in authentication (https://github.com/opnsense/core/blob/master/src/etc/inc/pl

[2018-07-09 21:49] darinpp commented on #2531
Thanks for the first fix.
Ah. I see. I assumed that the authentication method controls the `rightauth` only. It seems to set both.
I'm using a certificate on the client for authentication. I have the Authentication method set to `EAP-TLS`.
I need to have `leftauth=pubkey` and `rightauth=eap-tls`. In case of `eap-mschapv2` for example the `leftauth` is set to `pubkey` so I the MacOS client works fi

[2018-07-10 01:49] iamperson347 commented on #1993
Implemeting this would bring opnsense in line with pfsense with regards to some of the ipv6 functionality. (My LAN interface on pfsense as an example.)

![image](https://user-images.githubusercontent.com/1909402/42484470-28c24eec-83c1-11e8-90e6-a9e4fa2b023a.png)

And an example of the interface automatically grabbing an IP within the prefix.

![image](https://user-images.githubusercontent.com/1909

[2018-07-10 04:43] fichtner commented on #1993
@iamperson347 unsure what you are asking. The feature you show in the screenshot has been in OPNsense since the fork? And yes, in OPNsense 18.7 you will be able to use manual DHCPv6 / RA if you want.

[2018-07-10 05:34] fichtner commented on #2529
I'm removing this from the stable branches since this is just the smaller half of the actual change.

[2018-07-10 06:37] AdSchellevis commented on #2531
It looks like pfSense swaps behaviour when "mobile" is selected, but given all the possible schemes I don't expect this is to be the right fix for the issue.

https://github.com/pfsense/pfsense/blob/fc00cb2082a8ee4b5cb733d151c76c7368f01ede/src/etc/inc/vpn.inc#L1077-L1095

In our case this would lead to changing the eap-tls setting for all scenario's since eap-tls is only visible for mobile connect

[2018-07-10 07:11] AdSchellevis commented on #2531
@darinpp ok, here you go https://github.com/opnsense/core/commit/82c869df89e60d031280c756568dac3b5c007dc1 can you test and confirm?

[2018-07-10 09:49] iamperson347 commented on #1993
Excellent. When I tried opnsense previously, I was not able to use DHCPv6
unless a static address was assigned to the interface.

On Tue, Jul 10, 2018, 12:44 AM Franco Fichtner <notifications@github.com>
wrote:

[2018-07-10 12:09] kagou opened #2533 "Enhance schedule"
The scheduleis far too simple. It can only be done on specific days. I want to be able to create rules like: "every weekend", or "every day of the week", or "every second Tuesday of the month".

[2018-07-10 16:34] darinpp commented on #2531
I confirm that it works.

The naming however is a bit misleading. For the rest of the schemes you use `rsa` to indicate use of `pubkey`. Also the `leftauth` is the authentication method used by the firewall (vs `rightauth` being the authentication method used by the client). Given that I'm doing the configuration at the firewall, I would expect the name to be `RSA(local) + EAP_TLS(remote)`

I'm al

[2018-07-10 16:41] AdSchellevis commented on #2531
@darinpp thanks for your feedback, I'll change the caption to `RSA(local) + EAP_TLS(remote)` like suggested.

Eventually we might still end-up splitting the left/right auth, but that will need a larger overhaul, preferably refactoring the code to our mvc framework.

I'll close the issue with the commit to rename the option.

[2018-07-10 16:41] #2531 closed

[2018-07-10 17:47] RyuunoAelia commented on #2521
Well, if you take into consideration what the help text in the interface says "The value in this field is the 6RD IPv4 prefix length. Normally specified by the ISP. A value of 0 means we embed the entire IPv4 address in the 6RD prefix." you might be right. But still it doesn't explain why the full IPv4 address is 0...

[2018-07-10 17:49] fichtner commented on #2521
Now or before?

[2018-07-10 18:01] RyuunoAelia commented on #2521
I admit I am a bit lost as to what patches I should apply. I am still with your two very first commits:
opnsense-patch 6df682c 83f8321b

And at that point passing 0 in the interface (which means passing directly 0 to ifconfig if I read it correctly) works for me, and matches the help text somehow. Passing 32 does not work at all. But If I set 12, the wan_stf interface still shows a prefixlen of 28

[2018-07-10 18:20] fichtner commented on #2521
Not so worried about changing the game here with regard to input values from tutorials if we can match the labels the code and the result to what is expected.

You can apply the other two as well:

opnsense-patch bc37840 c6034f6

[2018-07-11 03:06] kevenwyld opened #2535 "system: rework encryption flow, headers and nextcloud optional password"
I just tried the nextcloud configuration backup option (really great feature by the way) however the file which is uploaded to nextcloud appears to be encrypted.  A long block of letters, numbers, and symbols with lines broken at 77 characters.  It is not the same as if I select "Download Configuration" which is cleartext.

Looking at the docs [here](https://docs.opnsense.org/manual/how-tos/cloud_

[2018-07-11 04:38] RyuunoAelia commented on #2521
Ok with your two additionnal patches I now get a completely different result than before.
Setting 0 in the WebUI I get:
[code]
So exactly what I expected to be a completely correct setup... With correct prefixlen in ifconfig and correct routes for my delegated ipv6 prefix.

Setting 32 in the WebUI, I get:
[code]
And obviously this doesn't work since my ipv4 is not embedded into the delegated ipv6.

[2018-07-11 05:29] fichtner commented on #2521
Yep, that's what the code has always been doing. The only thing that changed is that the prefixlen calculation is now tied to the number of IP4 bits that are folded into the IPv6 prefix. If you set it to 8, 16, 24 you can see the prefixlen decrease and the prefix with it. This wasn't the case before.

I'm not sure if a prefix length of 32 makes sense now or if "0" was always used the wrong way. At

[2018-07-11 05:31] fichtner commented on #2529
@dmbaturin thanks for the fix. In general, doesn't this also mean a tunnel network of /32 should not be accepted on the server side since we can't fix two IPs ?

[2018-07-11 07:18] dmbaturin opened #2536 "Site to site OpenVPN (p2p/shared key) allow /32 tunnel networks"
Mentioned in #2529

I thought this case is handled somewhere, but I've just tried and indeed it accepts it, then openvpn_get_interface_ip() blindly generates a pair of addresses from it.

I can take it up if you tell me where is the code where validation should occur.

[2018-07-11 07:20] dmbaturin commented on #2529
@fichtner Indeed. I've created a separate issue (#2536) for that since it's, well, a separate issue. :)

[2018-07-11 07:36] fichtner commented on #2536
the code to fix here is the validation for tunnel networks in the vpn_openvpn_server.php page during saving a server instance. the code folds back to openvpn.inc but I would like to mention the flow of the data here. The goal is to prevent accepting a faulty tunnel network in the first place, not refusing to generate a config later on which would lead to dysfunctional OpenVPN service or user scrat

[2018-07-11 08:30] fichtner commented on #2521
Thanks. Down the line we may try to work up the kernel side, but for now let's set a base line and get 6RD users on board who will be able to test and confirm future kernel changes. Thank you for all your help and insight!

[2018-07-11 08:30] #2521 closed

[2018-07-11 11:03] fichtner commented on #1887
@mimugmail closing, if not correct let me know

[2018-07-11 11:03] #1887 closed

[2018-07-11 12:22] diekgait opened #2537 "Can't get 6RD to work with Tweak NL"
I was following  #1501 and am trying to get 6RD working with TweakNL. A capture of the DHCPv4 ack gives me these details:
![image](https://user-images.githubusercontent.com/26073060/42570464-3fd5d262-8514-11e8-9597-ff2e9143514b.png)
Which I have configured:
![image](https://user-images.githubusercontent.com/26073060/42570499-61bcb36e-8514-11e8-8be5-8bfeea0c014e.png)

As you can see below no defaul

[2018-07-11 13:18] RyuunoAelia opened #2538 "[NPTv6] Rules are generated for physical device when 6RD is configured (probably with ipv6 tunneling in general)"
I tried enabling NPTv6 so that my internal network does not change IPv6 subnet all the time when my 6RD prefix changes, and while debugging I nearly got it to work (at least ping goes to google and comes back up to the firewall).

What I diagnosed is that the binat rules are generated for the physical device instead of the wan_stf tunnel. So the rules cannot match the ipv4-encapsulated ipv6 addres

[2018-07-11 14:31] diekgait commented on #2537
Thanks for the quick reply, I have installed the kernel and the patches:
[code]
And the interface is looking good:
[code]
Also when I send a ping from an IPV6 source to 2a02:58:c9:8100:: I can see the packets comming in from the 6RD Border Relay:
[code]
However it does not reply and when I try a ping from the firewall I get:

[code]

[2018-07-11 14:33] fichtner commented on #2537
I think you may have installed the kernel but skipped the base update that is required for ifconfig to send the 6RD options.

    # opnsense-update -vb

This says 18.1.11, or?

[2018-07-11 14:39] diekgait commented on #2537
[code]

[2018-07-11 14:41] fichtner commented on #2537
Okay, right, you need this too...

    # opnsense-update -br 18.7-stftest -n "snapshots\/dummy"
    # /usr/local/etc/rc.reboot

Cheers,
Franco

[2018-07-11 15:07] diekgait commented on #2537
That gives me no prefix on the interface and no route:
[code]

I've disabled 6rd and reconfigured it but that makes no difference.

[2018-07-11 15:54] fichtner commented on #2537
The ifconfig output suggest you still have the wrong ifconfig binary. :( You could also try the 18.7-RC1 image. Things are a bit confusing at the moment. Lots of different states that will sync up in the final 18.7.... almost there though... end of July.

[2018-07-11 19:00] fabianfrz commented on #2535
@fichtner I was able to decrypt the config uploaded to nextcloud with an additional parameter:
`-md md5`
It is very likely not a stable API or you missed something in the release notes. In that case it currently also breaks the Google Drive backups. Note: OPNsense is on LibreSSL while my Laptop where I decrypted the file is using OpenSSL 1.1.0

Found the solution here:
https://stackoverflow.com/qu

[2018-07-11 19:03] fabianfrz commented on #2535
@fichtner this works on my machine:
`cat /tmp/config-opn.sense-2018-07-09_19_18_06.xml | base64 -di | openssl enc -d -aes-256-cbc -md md5 -pass pass:PASSWORD`

[2018-07-12 02:42] kevenwyld commented on #2535
Ohh, it's encrypted with the nextcloud client password.  That's... not exactly clear in the docs.  I'll see if I can come up with some good wording for that and submit a PR (unless either of you object).

The workaround @fabianfrz posted does work for me.  Is it suppose to use the stored password to decrypt automatically when you try to restore?  Or is the intended workflow to decrypt the file man

[2018-07-12 06:39] fichtner commented on #2536
399d719edebcdc7cbe582e73357dab2ea785c362 should do the trick

[2018-07-12 08:10] dmbaturin commented on #2536
Looks good, thanks!

[2018-07-12 08:17] fichtner commented on #2536
Okay, closing, thanks!

[2018-07-12 08:17] #2536 closed

[2018-07-12 08:31] diekgait commented on #2537
Cheers again! Installing 18.7-RC1 does the trick, after that I'm able to reach google. There are still some issues though:
When I configure the lan interface as a tracker interface it picks the first /64 from my customer prefix. This /64 contains the default router and therefor all ipv6 connectivity breaks.

I've now configured it staticly with the 2nd /64 from my prefix. And this works if I stati

[2018-07-12 08:36] fichtner commented on #2537
If you are tracking WAN from LAN, change its IPv6 Prefix ID from 0 to something else so the first prefix isn't used by LAN :)

[2018-07-12 09:35] diekgait commented on #2537
That makes sense :) RA's are working now when I set it to tracking. If with 6RD the first /64 can never be used it might be a good idea to default the prefix-id to 1? What also would be nice is to add an auto option to the 6rd configuration so it takes the configuration from v4 dhcp option 212. Is that already on the feature request list?

[2018-07-12 09:38] fichtner commented on #2537
Historically, Prefix 0 is ok, because sometimes the PD is /64 so you only have one in the first place. I wanted to improve this a bit because of you have two LANs the second one is set to 0 as well so that's a bit iffy.

Let's close this ticket and you can create a new one with the dhcp request and also mention the prefix id oddity there? I didn't know DHCP can advertise 6RD. It's certainly handy

[2018-07-12 09:38] QDaniel opened #2539 "[FR] Better Cert Manager"
I missing the Function to renew certificates and csr signing.

[2018-07-12 09:49] #2537 closed

[2018-07-12 10:05] diekgait opened #2540 "Autoconfigure 6RD based on DHCPv4 option 212"
The RFC for 6RD provides an [option](https://tools.ietf.org/html/rfc5969#section-7.1.1) to configure 6RD automaticly based on information provided using DHCPv4. A capture of such a dhcp packet looks like this:
![image](https://user-images.githubusercontent.com/26073060/42626525-d9b87590-85ca-11e8-8bf7-8c2693d7f482.png)

It would be nice to have this feature implemented. A way to do this could be t

[2018-07-12 12:30] reza-ebrahimi opened #2541 "OPNsense web GUI not working with v18.7.r1"
I've installed `OPNSense v18.7.r1` on Virtualbox and assigned a static ip address to LAN interface, so when I `curl` it from inside OPNsense shell, the response always is nothing on port `80` and `Empty reply from server` on port `443`,

I've tested various scenarios, I've remove WAN interface from Virtualbox network adapters and still not working, some notes on forums tell to add a firewall rule

[2018-07-12 12:34] fichtner commented on #2541
Can you run this?

[code]

[2018-07-12 12:37] reza-ebrahimi commented on #2541
@fichtner Yes,

![virtualbox_opnsense-v18](https://user-images.githubusercontent.com/11276982/42633547-1321d698-85f6-11e8-8b4c-71fb0cd23315.png)

[2018-07-12 12:39] fichtner commented on #2541
Looks good to me. Maybe you swapped interfaces or try to access WAN, but since you have a LAN you cannot access from WAN...

[2018-07-12 12:41] reza-ebrahimi commented on #2541
Currently there is no WAN interface, just have LAN interface,

![virtualbox_opnsense-v18-1](https://user-images.githubusercontent.com/11276982/42633754-a728338c-85f6-11e8-9477-bc93e4fdd232.png)

[2018-07-12 12:49] reza-ebrahimi commented on #2541
@fichtner Same result with attaching WAN interface, how WAN interface relates to LAN?

[2018-07-12 12:54] fichtner commented on #2541
nmap scan looks normal too... just tested with 192.168.56.5/24 as host-only network. Works from here.

[2018-07-12 13:00] reza-ebrahimi commented on #2541
@fichtner From outside its totally not working, but from inside OPNsense `curl` still have no reply, why it happens? it show that `lighttpd` server up and running but doesn't function properly.

[code]

[2018-07-12 13:03] fichtner commented on #2541
Not sure what you are saying... Same for me, but that doesn't mean it doesn't work:

[code]

[2018-07-12 13:09] reza-ebrahimi commented on #2541
@fichtner Ok, agreed, could you please post curl output here from your host?

mine is:
[code]

[2018-07-12 13:11] fichtner commented on #2541
Sure, from the VirtualBox host:

[code]

Looks like you have a SOCKS proxy configured on your PC? oO

[2018-07-12 15:48] fabianfrz commented on #2541
@fichtner either this or misconfigured WPAD/PAC ;)
What happens if you try `--proxy ""`?

[2018-07-12 17:52] fichtner commented on #1460
as per discussion with @fabianfrz

* ca_root_nss ETCSYMLINK option removal, roll our own /etc/ssl/certs.pem
* curl CA_BUNDLE option hardcodes /usr/local/share/certs/ca-root-nss.crt
* also check certifi, openssl, squid

[2018-07-13 07:22] reza-ebrahimi commented on #2541
@fichtner  I've disabled an old running tor proxy on my host Ubuntu machine and everything works fine right now, I'm appreciate your help.

[2018-07-13 07:22] #2541 closed

[2018-07-13 08:23] StrikerTwo commented on #1805
@AdSchellevis Can I ask to move this up again?

We have expanded quite a bit and it would be really really nice to have more than one slave for XMLRPC sync. Either by daisy chaining (as I understand it all that would be needed is to trigger the sync when updates arrive) or by entering more than one IP address as backup machine.

Aliases and FW rules are bad enough, but the real pain is the LetsEnc

[2018-07-13 08:34] opthomas-prime commented on #2535
+1 for optional encryption.
IMO: It seems the implementation changes too often and there is no backward compatibility in the restore process!? This may lead to horrible results in disaster-recovery scenarios.

[2018-07-13 08:40] fichtner commented on #2535
Where? NextCloud or OPNsense?

[2018-07-13 08:53] AdSchellevis commented on #1805
@StrikerTwo I'm not sure xmlrpc will be the standard option to do this in the long run, we refactored it to keep it functional, but expanding it is certainly not high on my list of things todo.

At the moment there's nobody working on this, things may change in time if one of our customers need something similar, but opening the issue again without an owner doesn't seem to be a good idea at the ti

[2018-07-13 09:11] efficiosoft commented on #2314
@marjohn56 and @fichtner  This is so great. Thanks a lot for your work! I'm excited to test it when I finally get native IPv6 connectivity at my place.

OPNsense rocks. :)

[2018-07-13 09:15] StrikerTwo commented on #1805
Fair enough. Just wanted to tell you that it's not just a nice-to-have for me anymore ;)

[2018-07-13 10:54] reza-ebrahimi commented on #2523
@fabianfrz Thanks a lot, The trick is disabling firewall with `pfctl -d`, with disabling firewall all ICMP packets are allowed to OPNsense machine.

[2018-07-13 10:54] #2523 closed

[2018-07-13 15:45] QuentinC commented on #2522
Some news on this:
By tweaking the ovpn-linkup ( [https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/openvpn/ovpn-linkup](url)) I can get the IPv6 gateway on the control socket.

This allows me to auto-set the gateway, and enable the IPv6 "route-to" firewall setting.

But, I still need o have NATing on the VPN interface (in IPv6, yes..) and this won't work.
Currently I have the

[2018-07-13 15:49] darinpp opened #2542 "Adding a new interface removes the default route"
I have currently WAN interface that uses DHCP and a LAN with static ip. I tried adding a new interface set to obtain IP through DHCP as well. As soon as I added the new interface the default route disappeared. I verified the Gateways and I can see that WAN_DHCP shows as default.
I can consistently replicate the dropping of the default route by going into Interfaces : Overview and then pressing rel

[2018-07-13 16:35] RyuunoAelia commented on #2538
Ok after digging a bit, I found out how to make everything work. And in that case the management of the firewall and interface by opnsense gets in the way more than it helps.

I found out that the second rule generated that transform 2a02::120X:XXXX:XXX::/64 to my ULA is unneeded, since the name of the rule says it all "Bi-directional NAT".

Then I need to put an IPv6 in my public prefix (note tha

[2018-07-13 23:03] darkain commented on #1501
For whatever reason, I couldn't get this to work on 18.1.11 with the patch, but upgrading to 18.7-RC1 today, everything is working beautifully.

ISP: CenturyLink Gigabit FttH (United States)

As a note for others trying: make sure your IPv6 prefix is correct. I was trying to configure this thing based on some notes in some online forums, and they had the ISP's prefix wrong.

A note for the UI. In

[2018-07-14 04:40] RyuunoAelia commented on #2538
I found a "workaround" the wrong interface for the NPTv4 rules, by creating a new interface in the WebUI for the wan_stf, I name it 00STFTUNNEL (so that it is alphabetically before the interface that sets up 6rd; though I am not sure it is mandatory), I enable it but set None to IP and IPv6 configurations.
Then I set the NTPv6 rules to that new interface. However after that, you must not touch the

[2018-07-14 07:14] AdSchellevis commented on #1858
Ok, the large chunks of work seem to be done, but still quite some small things todo:

- [ ] Validate usage of alias before removal
- [ ] Rename aliases in the system on rename (replacement for find_alias_reference())
- [ ] change is_alias() to use the new structure (during transition it should likely support both)
- [ ] change get_alias_description() to use the new structure
- [ ] change legacy_l

[2018-07-14 07:47] RyuunoAelia commented on #2538
Ah I found  #2314 just now, which will help with my RADV issue.
So I am missing 2 things now:
* automatic NPTv6 rule generation
* setting the ULA along with track6 on a single interface.

So maybe I will lbe opening 2 other issues if they do not exist already and keep this issue for the Interface mixup.

[2018-07-14 08:03] RyuunoAelia opened #2543 "[ipv6] Unable to set multiple addresses on a single interface"
As defined in IPv6 RFCs, you might want to keep local communications while:
* your uplink is unreachable (so you loose your prefix for track6 local network type)
* you have renumbering occurring (change in upstream ipv6 prefix)
* other cases
The way to do it is, to set ULA addresses and public prefix at the same time.
This is a normal setup for IPv6 to have multiple prefixes on the same interface

[2018-07-14 08:19] RyuunoAelia opened #2544 "firewall: global prefix in rules needs to be changed manually when IPv6 upstream prefix changes"
While playing a bit with NPTv6 I found a a workflow issue. The main and only reason to use NPTv6 is to avoid changing your local configuration (firewall rules, etc) when your upstream changes.

However, as things are done in opnsense right now, you need to manually update the NPTv6 rule each time the upstream changes.

This is fine for cases where you have complete control over when the prefix cha

[2018-07-14 09:14] fichtner commented on #1501
@darkain yay, thanks for the update! We're collecting all the bits and pieces and hopefully land all of them in said beautifully working 18.7 release. FWIW, everything we discussed up until now will be in 18.7-RC2 for further testing. :)

I'm adding proper validation while not changing the field's input. It's too late to split the prefix from the input, but fixes your issue nevertheless.

Yes, it

[2018-07-14 09:34] RyuunoAelia commented on #2538
Well that would be helpful, and kind of what I expect for a perfectly working NPTv6 setup. Note that I also opened #2544 for the NPTv6 prefix thing to avoid mixing the two issues that are not really directly linked.

[2018-07-14 09:52] RyuunoAelia commented on #2543
OH! Ok if I start entering an IPv6 the drop-down with the prefix length changed to allow a maximum of 128.

Sorry for the noise I should have tested that.

[2018-07-14 10:01] #2538 closed

[2018-07-14 10:01] fichtner commented on #2538
@RyuunoAelia looks good from here but please double-check anyway:

    # opnsense-patch 80b9a81

Thanks,
Franco

[2018-07-14 10:09] RyuunoAelia commented on #2543
Hmm well I the UI changes, but I get an error when trying to set as IP Alias. If I set it as Other it is useless, I don't need want this IP as CARP either (it is the device's own IP not a HA IP; even though I do not have other routers for the CARP setup).
The other are useless since I could not use the IP to access the WebUI defeating the purpose of the ULA.

[2018-07-14 10:10] fichtner commented on #2543
maybe it's not hitting the wan_stf device for the same reason?

[2018-07-14 10:11] fichtner commented on #2543
hmm, no, that can't be it.. which error are you seeing?

[2018-07-14 10:13] RyuunoAelia commented on #2543
Ok I found out what is happening... I tried to set fdb9:86fc:f74d:1945::/64 and apparently it is refused by the UI. setting fdb9:86fc:f74d:1945::0/64 works. Parsing issue I guess.

[2018-07-14 10:14] RyuunoAelia commented on #2543
The error message was :
[code]

[2018-07-14 10:21] fichtner commented on #2543
@RyuunoAelia strange, /128 will let you do this with both IPs. From what I can see for /64 it should work for neither.

[2018-07-14 10:33] fichtner commented on #2543
The ::0 vs. :: oddity comes from IPv6 class not compressing the IPv6 completely and the compare fails.

Does your setup work if you set /128 for the alias? If yes, I would fix the validation so that both /64 variants fail (there seems to be some merit to the imposed restriction)

[2018-07-14 10:39] RyuunoAelia commented on #2543
No it won't work with /128 since the purpose of that ULA is to communicate with my internal network. So ideally I would configure pfsense to stop binding on public IP and only bind on the ULA (for ssh, http, etc).

I tried with "Other" but it does nothing on the network side.

I don't see the merit of the restriction to /128 (especially for ipv6), if this should always be /128 why have the drop-bo

[2018-07-14 10:41] fichtner commented on #2543
It tries to avoid using the first address of a subnet as a valid IP. That's true for most IPv4 networks. Not so much for IPv6? OTOH, this is easily avoided by using ::1 instead of ::(0). But if this works in either case it's better to remove the validation.

[2018-07-14 10:46] RyuunoAelia commented on #2543
For IPv4 that was a restriction in the spec to avoid confusion. There was no technical reason behind the restriction, and it has been lifted when the IPv4 pool was becoming too small. Still some older systems do not support an IPv4 that has no machine address bits set.

This restriction was never in place for ipv6 so systems that do not support this have a buggy implementation of the IPv6 stack.

[2018-07-14 10:49] RyuunoAelia commented on #2543
Ah I just remebered, actually at the begginning of IPv4 there was a technical restriction. Before the arrival of CIDR the IP subnet was the IP with 0 to the Machine part of the address. With the prefix length being determined by the Class of the Address. So even when CIDR arrived, there was still this restriction. It has been lifted later.

But still with IPv6 there is no issue here.

[2018-07-14 10:50] mimugmail commented on #2542
https://github.com/opnsense/core/issues/1821

[2018-07-14 11:02] RyuunoAelia commented on #2538
Oh you closed this issue. Hmm this one was tracking the "latch on to wan_stf for you automatically" part of the issue.

[2018-07-14 11:02] RyuunoAelia commented on #2538
ah my refresh did not show your patch sorry.

[2018-07-14 11:08] RyuunoAelia commented on #2538
Yes it works without issue.
Thank you.

[2018-07-14 11:13] #2543 closed

[2018-07-14 11:14] fichtner commented on #2543
Ok, patch via:

    # opnsense-patch 063a425

[2018-07-14 11:17] RyuunoAelia commented on #2543
Ok applied and tested, it works. Thank you.

[2018-07-14 11:17] fichtner commented on #2543
You're welcome!

[2018-07-14 11:35] mimugmail commented on #2542
Yep, was sent from mobile ...sorry

[2018-07-14 12:52] mimugmail commented on #2542
But you receive a second default gateway via DHCP and you only can have one .. this cant work.

You probably try to disable receiving gateway on the second one

[2018-07-14 14:41] fabianfrz commented on #2535
If anyone wants to try:
Here is a solution for a separate password: ec9c291

[2018-07-14 15:54] RyuunoAelia opened #2546 "[6rd][stf][firewall] pf rules for WAN link are generated for physical interface instead of tunnel virtual interface"
Follow-up on #2538
I tried to create "pinhole" rules to allow external traffic to my internal hosts. I found out that the rules were all generated for the physical interface.

An example:
In the WebUI, I created a rule on my WAN link to allow ipv6 tcp port HTTP from any to a single host.

The rule generated in /tmp/rules.debug was:
[code]
And obviously the incoming packets are dropped by the ipv6

[2018-07-14 15:58] fichtner commented on #2546
Now this requires the help of @AdSchellevis to get it integrated in a neatly fashion.

We've done https://github.com/opnsense/core/commit/80b9a8168 but now it seems we need to merge "parseInterface" and make it aware of whether it uses inet or inet6 rules and act accordingly to integrate it everywhere.

What do you think Ad?

[2018-07-14 16:21] fichtner opened #2547 "firmware: reboot notification on update"
As of now, we can detect whether or not the firmware we *should* have is in the repository by probing the size of the file. But this leaves the reboot hint stranded because it doesn't reset when there is no file to be installed. This should also be fixed on the console. There is no impact on updates, just a wrong hint...

[2018-07-14 17:07] RyuunoAelia commented on #2546
I don't know what the support in freebsd is for tunneling,or what you want to support. However, you might want to have a more generic way to discover the interface on which to apply the rules. For example, if one day you want to support 4to6 you will need exactly the same kind of logic for ipv4, too.

[2018-07-14 17:37] fichtner commented on #2546
It's relatively uncommon that standard interfaces have multiple system interfaces, but worth supporting for sure. I can only think of 6to4 and 6rd (stf) as well as IPv6 SLAAC and DHCPv6 on top of IPv4 PPPoE. I already made a note in the other commit.

DS-Lite is another case, but we do not have this integrated just yet.

[2018-07-14 17:51] #2529 closed

[2018-07-14 18:14] darinpp commented on #2542
Yes, the newly added interface gets a gateway address with the rest of the DHCP information.
But the new interface is not the default one. The default gw in the routing table is set to another interface.
Isn't the logic to only override the default gw in the routing table if the previous default gw was on the same interface? This seems to be the logic in `dhclient-script`

[2018-07-14 18:49] darinpp commented on #2542
Not sure what you are saying. The problem here is that the gateway set as default in the routing table stops being default after adding a new interface (using DHCP). I would expect that this interface is always the default as you are saying.

I'm looking at the stock freebsd, pfsense and opnsense's versions of `dhclient-script` and it seems that in the stock and pfsense's versions, all the changes

[2018-07-14 18:53] opthomas-prime commented on #2535
@fichtner Neither of them. I misinterpreted the comments in this issue and rushed ahead to complain :disappointed:.
My problem was (like from @fabianfrz noticed already), that the default md of my OpenSSL version (OpenSSL 1.1.0h) seems to differ from the one that is bundled with OPNsense (OpenSSL 1.0.2o).
When OPNSense updates the OpenSSL version, a backup made with the old version may be invalid/

[2018-07-14 19:00] fichtner commented on #2542
The script is almost entirely unchanged since we forked in 2014 so I have to admit I don't know why or how it was changed and what now works better and what works worse. It could also be that the FreeBSd script received updates over the years that never went into this copy. It's not an excuse, just trying to explain why the drift exists. I'll take a look at the diff side by side.

[2018-07-14 19:04] fichtner commented on #2542
This change is quite telling:

    -# $FreeBSD: src/sbin/dhclient/dhclient-script,v 1.4 2005/06/10 03:41:18 brooks Exp $
    +# $FreeBSD$

The file is basically from 2005. :/

[2018-07-14 19:10] mimugmail commented on #2542
For me, the question is, when enabling Default Gateway switvhing fix it, why not set it as default enabled

[2018-07-14 19:54] fichtner commented on #2535
@opthomas-prime no problem, thanks for explaining. It's a bit problematic indeed.  The old code requires MD5 so we may need to reengineer the wrapping to add a version tag or something so we can auto-set the parameter. But in any case, changing away from the old default will leave older versions worse off, although that seems unavoidable in the mid- and long-term.

[2018-07-14 20:03] fichtner commented on #2542
Preliminary consolidation in 882ce28 mostly missing the naughty bits that have been changed for specific use in pfSense. Not sure if this fixes anything but for now I'll also take a "works like before".

[2018-07-14 20:57] fabianfrz commented on #2535
@fichtner we can add a small header like
[code]

and if it is missing, we can fall back to an older variant.

[2018-07-14 21:04] darinpp commented on #2542
I can't test the patch on the firewall that I have because I can't afford downtime. The patch seems fine although in same cases it has the possibility to modify the default routes for an interface that isn't default.
[code]
As for @mimugmail's comment - I have the Default Gateway switching enabled but I'm afraid that it will send traffic to my new interface in case my WAN interface goes down for s

[2018-07-14 21:57] jsirianni commented on #2120
I too am having the same issue. No trouble getting my first phase 2 to work, but the second will not work at all.

The goal is to have my remote site route to my primary site which has multiple networks (and routes to other remote networks)

The issue is seen with both ike v1 and v2. I am on the latest release.

[2018-07-15 05:08] mimugmail commented on #2120
Do you have trouble adding it or doesnt it just come up?

[2018-07-15 09:12] fichtner commented on #2120
With IKEv2, you can set "Tunnel Isolation" in your phase 1. But if the issue is also on IKEv1, that would indicate it's another issue that is almost impossible to debug without logs from both sides.

I have a FortiGate device that would always take none but the last phase 2 and the "Tunnel Isolation" mode is what made this work.

[2018-07-15 09:33] AdSchellevis commented on #2546
@fichtner I would prefer to integrate the correct behaviour in parseInterface, let's talk about this on irc this week, I haven't followed all the steps that you went through on this subject so I would like to check if I understand the implementation correctly before changing anything.

[2018-07-15 09:35] fichtner commented on #2544
This is also useful for DHCPv6 and SLAAC, but will require more tinkering.

[2018-07-15 09:36] fichtner commented on #2546
@AdSchellevis sure, next week on IRC sounds good. parseInterface6 is just a proof of concept but does the job nicely for NPTv6 at least.

[2018-07-15 09:44] fichtner commented on #2542
@darinpp there will be a new mode in gateway switching that will allow to deselect "unwanted gateways" in an early 18.7.x.

rc.newwanip needs to be called to properly configure the services and related actions on the interface. It will invoke gateway switching, yes, but I gather that's not what you want to use so it's not problematic... Only chance then is to adapt dhclient-script and see that the

[2018-07-15 12:01] #2547 closed

[2018-07-15 12:04] #2372 closed

[2018-07-15 12:09] #2197 closed

[2018-07-15 12:10] #2023 closed

[2018-07-15 12:17] #2514 closed

[2018-07-15 12:18] fichtner commented on #2473
Need to move this to 19.1 as 18.7 is approaching.

[2018-07-15 12:20] fichtner commented on #2336
@maurice-w some things are still open but everything else has been shipped already. happy to finish this up with your help. just let me know when you have time.

[2018-07-15 12:21] #2354 closed

[2018-07-15 12:22] fichtner commented on #2070
I'm closing this, again, due to lack of feedback.

[2018-07-15 12:22] #2070 closed

[2018-07-15 17:18] fichtner commented on #1866
Timeout, did not come up again.

[2018-07-15 17:18] #1866 closed

[2018-07-15 17:22] fichtner commented on #2163
@AdSchellevis I'm removing my assignment this this is not my topic in an effort to find time for other areas like IPv6 connectivity. maybe you want to take this?

[2018-07-15 17:46] fichtner commented on #2026
I've implemented a checkbox to enable USB-based serial ports.

[2018-07-15 17:48] #2026 closed

[2018-07-15 18:07] #2147 closed

[2018-07-15 18:13] #2449 closed

[2018-07-15 18:21] fichtner commented on #2163
ok, marking support and closing then

[2018-07-15 18:32] #1130 closed

[2018-07-15 20:00] fabianfrz commented on #2535
@fichtner If you do the changes in base, can you move that call to it?
https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/library/OPNsense/Backup/Nextcloud.php#L144

It is the function that creates the line feeds in the config file to prevent editor crashes/freezes (too long line), so the backup strategies only get the ready to upload file (so it also works for Google Drive backup).

[2018-07-16 10:25] aponert opened #2548 "manual DNS servers cause dhcpd6 to crash constantly"
When I manually set DNS severs (2 of them being IPv4 and 2 of them IPv6) and associate them with the gateways it works for some time. Then dhcpd6 crashes until I restart it.
I can not find any log information about the crash. Really weird. Attached my stripped and sanitized config.

[2018-07-16 10:50] theq86 opened #2549 "Unbound refuses queries from OpenVPN clients until service restart"
Hi,

After rebooting OPNsense all DNS queries from remote clients get refused.
After restarting unbound, everything is working. There is also no log about refuses queries that I can find.

[2018-07-16 14:02] jsirianni commented on #2120
Ill have to try Tunnel Isolation. The issue is that my first phase 2 will work, with the subnet of my choice (it happens to be 10.1.10.0/24, but 0.0.0.0/0 does the trick as well).

The second phase 2 never works. the otherside of the tunnel has a route to 10.70.1.0/24, but I cant hit those IPs from my remote site.

@mimugmail to answer your question, I can add the second phase 2 just fine. It just

[2018-07-16 14:07] mimugmail commented on #2120
This is likely impossible to fix when not knowing logs of both sides and also config of the other side.

[2018-07-16 14:09] jsirianni commented on #2120
Sure, ill get them when I can. Should be soon.

[2018-07-16 17:16] fabianfrz commented on #1887
@fichtner @mimugmail sorry to disturb but this may get trouble with TLS1.3 when ESNI is used.

[2018-07-16 17:20] fichtner commented on #2546
@RyuunoAelia this should be good in the *development* release bundled with 18.7-RC2

[2018-07-16 18:59] mimugmail commented on #1887
yep .. same to openappid, but better than nothing :)

[2018-07-16 23:30] johnkeates opened #2550 "Unbound Domain Overrides support for forward-zones instead of stub-zone"
There seems to be an issue that some uses run in to where domain overrides in Unbound might point to DNS servers that are forwarders themselves (i.e. another OPNSense box with its own overrides and zones). Unbound stub-zones don't allow this as they can only point to authoritative name servers.

The forward-zone option does the same thing but allows non-authoritative to be used instead of just ret

[2018-07-16 23:33] paul-chambers commented on #436
I'm still seeing this symptom on 18.1.12. Attempting to use a Navius NSA-U3 GPS receiver (SIRF chipset on USB), can't get the 'SIRF' setting 'stick' in the Web UI (Services->Network Time->GPS, GPS drop-down), keeps resetting to 'Generic' when I save the GPS settings.

[2018-07-17 02:28] drkdragonarcher opened #2551 "CARP Flapping with IP Alias"
When adding additional IPs as IP Aliases using the same VHID as my primary WAN vIP to use for NAT, it causes the CARP master to flap back and forth between the two firewalls.

[2018-07-17 04:58] fichtner commented on #2551
Could it be #2486 ?

[2018-07-17 05:16] #2546 closed

[2018-07-17 07:50] mimugmail opened #2552 "XMLRPC sync for routes will only be called when touching firewall rules"
When adding a route no Master it doesn't get replicated to Slave until I manually edit a rule and save.
Responsible for syncing seems to be: /usr/local/etc/rc.filter_synchronize

No idea if it's good to call this script also within routes code (no MVC glue) or try restructure all for 19.1 or 19.7.

[2018-07-17 08:01] AdSchellevis commented on #2552
We should at least make it explicit somewhere how to sync :)

[2018-07-17 10:43] diekgait opened #2553 "Allow 6RD tunnel mtu to be configured."
The current mtu of a 6RD tunnel(wan_stf) interface is 1280 and cannot be configured. For most setups this does not deliver the optimal performance.
In my opinion the mtu should be configurable and have a default and maximum value of the parent interface mtu-20.
So if the parent interface is configured with an MTU of 1500 the tunnel interface should have a default mtu of 1480 configured, and this s

[2018-07-17 11:52] fichtner commented on #2544
Not for the rules currently. It doesn't allow tracking the interface prefix change.

[2018-07-17 12:16] marjohn56 commented on #2544
So maybe we try splitting the rules into prefix/suffix..,, Alias for Prefix+suffix. It does make it complex for the user too, but that's the problem with a changing prefix, it's not for the faint-hearted.

[2018-07-17 12:43] fichtner commented on #2544
We already have a larger change in that area to make 6RD usable for "inet6" type rules and need to see if that is alright before we stack another layer on top, but generally an automatic prefix adaption option should be possible

[2018-07-17 12:43] AdSchellevis commented on #436
@paul-chambers could you try https://github.com/opnsense/core/commit/c0d37accc5fd8fde7eecd30bf44f93fbe24c11bb ?

To install from the console, use:
`
opnsense-patch c0d37a
`

[2018-07-17 13:52] drkdragonarcher commented on #2551
I don't think mine is that. I don't see thatioctl (SIOCAIFADDR) in the logs for this (although I have seen that randomly after rebooting or coming out of persistent mode). Here's some excerpt from my logs. I get these repeated multiple times within the same time so I tried to collapse it into just what was unique.

[code]

[2018-07-17 15:25] StrikerTwo commented on #1805
Or is there any other way to get the LetsEncrypt certs from one OPNsense installation to another automatically?
Can I do a backup and selective restore via API?

[2018-07-17 17:51] fichtner commented on #2546
FYI, this also makes the cut for the official 18.7-RC2 update.

[2018-07-17 21:39] fichtner opened #2554 "dashboard: sidebar menu"
* [x] deselect icon after click
* [x] change gyphicons to fontawesome icons
* [x] on MVC pages the toggle is reversed after page load #2596
* [x] support default theme #2555
* [x] wrong colours in default theme #2601
* [x] save preference in local session (people will complain if it's not sticky)
* [x] footer gap on minified view #2626
* [x] toggle disappears (in Chrome) when developer tools are o

[2018-07-18 07:19] fichtner commented on #2535
to finish this up we need a unit test and merge the static implementation with the MVC one (they are the same now)

[2018-07-18 09:45] stilez opened #2556 "Cancel install -> menu doesn't recover"
If you run the installer from external media with a blank SSD/HDD, and take the install process to the point it starts to write to the new disk, then click "cancel", the installer can't recover, because it doesn't escape you back to the point where you specify the disk or layout. It only lets you escape to the point of retrying the write-out - which then fails.

[2018-07-18 09:58] fichtner commented on #2556
thanks for your report.. installer repository is here https://github.com/opnsense/bsdinstaller ... would you mind moving this ticket? :)

Thanks,
Franco

[2018-07-18 10:12] stilez commented on #2556
Reopened on other repo as asked.

[2018-07-18 10:12] #2556 closed

[2018-07-18 13:01] stilez opened #2559 "Define alias - logic error"
Step 1: Use the "Alias Import" page to create the following: host 1.1.1.1-1.1.1.5

Step 2: Use the "Alias View" page to modify it to 1.1.1.2-1.1.1.5.

Fails because it expects a network type - but won't let you either enter the IP range or change the alias type.

[2018-07-18 13:05] AdSchellevis commented on #2559
@stilez this feature (the import) will be dropped in 18.7.1 or 18.7.2, we're working on a new version of the alias system.

[2018-07-18 15:17] diekgait opened #2561 "IPv6 static route does not get installed."
I've created an IPv6 gateway:
![image](https://user-images.githubusercontent.com/26073060/42890700-c1f523f8-8aad-11e8-9abf-7b6cef854921.png)
The gateway is reachable:
[code]
I've also added a static route:
![image](https://user-images.githubusercontent.com/26073060/42890809-0d05dafe-8aae-11e8-8da4-177fd992bc33.png)
But for some reason the route does not get installed:
[code]
What could be the caus

[2018-07-18 15:37] fichtner commented on #2535
I just need to test encrypt() and decrypt() which will be callable from the static pages so unittest is not an issue. the static page is an half-automated unittest then anyway :D

[2018-07-18 15:44] fichtner commented on #2561
please check system log for errors, maybe route / ifconfig throws an error at some point

[2018-07-18 17:56] noahmehl commented on #1858
Wow, this is really amazing!  Thank you so much for your hard work on this!

[2018-07-18 20:19] stilez commented on #2559
Good :)  I've been aiming for an alias handling rewrite in pfSense for ages but never had a chance to do it. Good news to heat its hapeninf on OPNsense. May I contribute ideas/code  (if so where) or is it too far along?

[2018-07-18 20:35] stilez commented on #2559
bliss!

[2018-07-18 20:35] #2559 closed

[2018-07-19 01:01] paul-chambers commented on #436
That seems to have done the trick - thanks, Ad. Confirming I can now select the 'SiRF' option after applying c0d37ac.

The actual GPS time source is still 'pending', and I see:
--
Jul 18 17:49:26 | ntpd[69099]: GPS_NMEA(0) serial /dev/gps0 open at 4800 bps
Jul 18 17:49:26 | ntpd[69099]: mlockall(): Cannot allocate memory
Jul 18 17:50:35 | ntpd[69099]: kernel reports TIME_ERROR: 0x2007: PPS Frequen

[2018-07-19 09:29] marjohn56 commented on #2554
Default theme #2555

[2018-07-19 11:33] sjorge opened #2562 "[18.7.r1] "Do not use the DNS Forwarder/Resolver as a DNS server for the firewall" seems broken"
After upgrading form develop to the latest RC version to give that some more testing it seems that `Do not use the DNS Forwarder/Resolver as a DNS server for the firewall` under settings->general is broken.

With or without this checked the system never resolves hostnames know to dnsmasq (my dns resolver). The local resolver does also no longer appear in /etc/resolv.conf regardless of the setting.

[2018-07-19 11:34] advcron opened #2563 "Multi Wan- switching GW and static route"
18.1.12 -  still does not work
18.7.r1 -still does not work

I want add static route and multiwan (Please correct me if I was this wrong). My steps:
1. Add 3 Gateway (System - Gateway -> ALL -> Single)
  WAN_PPPOE - Main GW
  Gateway_2 - Backup GW
  Serwer_OpenVPN_GW - For static route (route one subnet)
2. Add GW group for multiwan (System - Gateway -> ALL -> Group)
   WAN1 - Tier1
   WAN2 - Tier

[2018-07-19 11:38] sjorge opened #2564 "[18.7.r1] IPv4+IPv6 rules seem broken?"
After switching to the RC i noticed my DNS lookups were super slow.

![firewall_log](https://i.imgur.com/pGXi1Bs.png)

Odd that all IPv6 DNS tries are blocked, I checked if something was still listening (probably because lookups via the IPv4 of the box still worked)

[code]

[2018-07-19 11:45] fichtner commented on #2564
can you see which rule blocks and dump the relevant entries from /tmp/rules.debug ?

[2018-07-19 11:48] fichtner commented on #2563
Default gateway switching does not use gateway groups. RC2 will have a fix where you can disable your gateway or set it to "force down" in order to skip the gateway switching to that particular gateway.

[2018-07-19 11:48] sjorge commented on #2564
I'm still digging further into but more than just this seems wrong, most IPv6 traffic seems to be hitting my catch all reject rule at the bottom. So far 'Match all IPv6 on all protocol' does not even match anything... which is very very worrying and I might revert soon if I can;t figure out more what is broken.

[2018-07-19 11:49] fichtner commented on #2562
No change intended here in any way, but I'll take a look.

[2018-07-19 11:52] sjorge commented on #2564
Looks like all IPv6 stuff is just hitting my default 'reject IPv4+6 from any to any rule' 👎

[2018-07-19 11:55] sjorge commented on #2564
So the rule original rule + logging (as I am excluding my tests which I have undone)
[code]

Never matches and the traffic hits

[code]

[2018-07-19 11:58] sjorge commented on #2564
OK I think I narrowed it down! The problem is the destination.

If I manually split the rule into 2 one for IPv6 and one for IPv4 and not use 'IF_MGMT Address' as destination but 10.23.40.1 for the IPv4 one and 2001:470:7ee7:40::1 for the IPv6 one it works!

It's rather annoying though.

[2018-07-19 11:58] advcron commented on #2563
When "Default gateway switching" not thick multiwan not work.
After MainGate down the workstation on LAN don't have internet connection.
DNS resolve ok but:
ping google.com
google.com [172.217.20.174] z 32 data byte:
Answer 192.168.0.2: Destination host not reachable
Answer 192.168.0.2: Destination host not reachable
Answer 192.168.0.2: Destination host not reachable

[2018-07-19 12:00] fichtner commented on #2564
It could be 2408d6a12. Try this then:

    # opnsense-patch 2408d6a12

[2018-07-19 12:00] sjorge commented on #2564
For now I fixed it by swapping 'IF_MGMT Address' with a table that has both addresses, now the original rule works again. A lot of my rules use 'IF_XXX Address' so that is why most stuff seems broken. Going to swap those to the tables for now, but Ideally this should be fixed somehow.

[2018-07-19 12:02] fichtner commented on #2563
Please take a look at https://docs.opnsense.org/manual/how-tos/multiwan.html

[2018-07-19 12:02] sjorge commented on #2564
On that note I had similar issues on OpenBSD as :0 only grabs the first IP... even if of type inet4

[2018-07-19 12:03] advcron commented on #2563
I do this from that How'to.

[2018-07-19 12:05] sjorge commented on #2564
@fichtner After reversing that commit everything is working again! So it is certainly that commit.

[2018-07-19 12:10] fichtner commented on #2563
Sorry, I cannot give setup support on my open source clock. You could try the forum instead. https://forum.opnsense.org/

[2018-07-19 12:13] fichtner commented on #2562
Cannot reproduce this at all.

[code]

Insight hostnames resolve on LAN. If I enable the setting 127.0.0.1 disappears and Insight LAN host resolve fails.

[2018-07-19 12:15] sjorge commented on #2562
How many other resolvers do you have? I have 4, 2 IPv4 and 2 IPv6.

[2018-07-19 12:16] fichtner commented on #2564
The only thing that :0 does is described here:

    :0            Do not include interface aliases.

So I guess it means you rely on an alias to be automatically included?

[2018-07-19 12:18] sjorge commented on #2564
I don't have aliases configure on them, just one static IPv4 and one static IPv6 address (well those are technically 2 as there is a local-link which you always get in addition).

But I think anything that is not the primary ip(v4) address counts an an alias right?

[2018-07-19 12:18] fichtner commented on #2562
I don't understand. It only injects or omits 127.0.0.1, it doesn't matter if Dnsmasq or Unbound is on port 53 or how many other servers are specified?

[2018-07-19 12:20] fichtner commented on #2564
I think it grabs the link local. This would be iffy.

[2018-07-19 12:21] sjorge commented on #2564
It grabbing inet6 local-link or the primary inet one would be wrong behavior for IPv6 or IPv5+IPv6 rules.

[2018-07-19 12:22] fichtner commented on #2564
yeah, in any case it's a pf(4) bug we'd need to look into

[2018-07-19 12:32] advcron commented on #2563
OK. Thank you for your answers.

[2018-07-19 15:42] diekgait commented on #2561
Only errors I get are:

[code]

[2018-07-19 19:06] fichtner commented on #2562
Wrong alley, https://forum.opnsense.org/index.php?topic=9208.0 gives the correct hint. You use an interface selection for dnsmasq service? It's missing localhost now.

[2018-07-19 19:40] fichtner commented on #2562
Actually, spot on with unnecessary private code being executed in another file, sorry for missing this.

    # opnsense-patch 188b098

Cheers,
Franco

[2018-07-19 19:40] #2562 closed

[2018-07-19 19:59] sjorge commented on #2562
Yep that fixes it!

[2018-07-19 22:57] fichtner commented on #2564
@sjorge so can you patch pfctl on your own or do you want a binary to try?

https://github.com/opnsense/src/commit/c160c3cd2e

[2018-07-20 05:04] sjorge commented on #2564
A binary would be helpful.

[2018-07-20 05:06] fichtner commented on #2564
Late night bug included, will post one within 30 minutes.

[2018-07-20 05:19] mimugmail commented on #2563
For local sevices like Openvpn Client you can only have two stable WAN since there is No method to stage Gateway priority. It only works for traffic going through the Firewall.

As said there will be an option to disable such gateways

[2018-07-20 05:56] fichtner commented on #2564
https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/ifconfig

[2018-07-20 06:17] fichtner commented on #2564
geez, sorry, I'm an idiot... pfctl coming right up :D

[2018-07-20 06:19] fichtner commented on #2564
https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/pfctl

[2018-07-20 06:30] sjorge commented on #2564
I replaced /sbin/pfctl with the one you linked, problem is still there when using 'IF_MGMT Address' for the rule. Generated rules look the same, but that is expected if I understand the diff.
[code]

[2018-07-20 06:35] fichtner commented on #2564
Can you post ifconfig one more time for vtnet4 ?

[2018-07-20 06:36] sjorge commented on #2564
[code]

[2018-07-20 08:32] fichtner commented on #2564
It needs both kernel and pfctl patch... brrrr, I'll post this in a few hours. Thanks for your help so far!

[2018-07-20 08:33] fichtner commented on #2564
PS: kernel patch, same same but different https://github.com/opnsense/src/commit/4cadbe

[2018-07-20 09:39] fichtner commented on #2564
Long story short, we're reverting 2408d6a12 for 18.7 and work around it in another way.

[2018-07-20 09:39] #2564 closed

[2018-07-20 10:00] fichtner commented on #2457
Decided to revert, need to solve this another way as :0 interferes with IPv6 connectivity.

[2018-07-22 09:36] umsp1 commented on #2263
Thank you marjohn56
I test with old TPlink  router seems still IPv6 not working. Now I'm suspecting something wrong with ISP end (smaller AU ISP). While trying these I upgraded opnsence, look like I reboot wrong time which cause Opnsence not starting any more. I will try again when 18.7 released.

[2018-07-22 17:57] fbruetting opened #2565 "Switching domain name leads to “DNS rebind attack” warning"
I switched my domain name and immediately received this page:
![bildschirmfoto von 2018-07-22 19-52-50](https://user-images.githubusercontent.com/10520767/43048517-38e50300-8de9-11e8-8f96-c1e78607b450.png)

Can this be better handeled? It may also be caused due to me not having set up a TLS certificate yet.

[2018-07-22 18:00] AdSchellevis commented on #2565
You need to configure the proper dns in the software or add alternate hostnames, see
![image](https://user-images.githubusercontent.com/9783985/43048554-bd1c5178-8de9-11e8-8d29-f30f9bf57d59.png)

[2018-07-22 18:09] fbruetting commented on #2565
Should I just put the hostname into that box? (I don’t really understand this option.)

When I change the domain name (not the hostname) in OPNsense, the router should be able to handle this appropriately (maybe redirect afterwards etc), or do I miss something here?

[2018-07-22 18:14] AdSchellevis commented on #2565
if you add the full hostname (including domain), it should work, same of you change the host and domain name of the machine itself.

If you want to known what this is about, please read https://en.wikipedia.org/wiki/DNS_rebinding

[2018-07-22 18:20] fbruetting commented on #2565
Well, that’s something OPNsense if completely aware of, when I change either the host name or the domain name. Can’t OPNsense do this automatically?

[2018-07-23 09:10] readonly24 opened #2566 "Cannot create a new server certificate"
I'm using OPNsense 18.1.12-amd64

I go through this https://wiki.opnsense.org/manual/how-tos/sslvpn_client.html to create a new server certificate.

The first steps work fine, but after https://wiki.opnsense.org/manual/how-tos/sslvpn_client.html#create-a-certificate I get following erros:

The following input errors were detected:

    openssl library returns: error:0E06D06C:configuration file rou

[2018-07-23 12:46] AdSchellevis opened #2567 "Firewall/Aliases remove url port type"
Found this little gem while working on https://github.com/opnsense/core/issues/1858.

https://github.com/opnsense/core/blob/939f53eff2f08c2ea23e407846e6c4a08d1dcfb6/src/etc/inc/filter.lib.inc#L112-L116

It was scheduled for removal, but didn't make it there yet. The issue with this feature is that it creates unwanted connection dependencies (port aliases are not implemented in a similar way as net

[2018-07-23 13:33] #2567 closed

[2018-07-23 13:42] bobafrinet commented on #2473
I am not sure to understand why you are using 11.1 as target for this release.
11.1 is going to be outdated September 30, 2018. So it means that if any security breach is disclosed after this date, It might not necessarily be ported (will probably, but not necessarily)… 

https://www.freebsd.org/security/security.html

18.7 might have been pushed back in time a bit, but It might have been simpler

[2018-07-23 13:45] fichtner commented on #2473
This has been discussed before. We do not set EoL policies for FreeBSD or have influence on their release date. Long story short it's not enough time to test and deploy 11.2 before 18.7 comes out.

[2018-07-23 21:09] hayatigonultas opened #2568 "configd enters infinite loop and cause 100% CPU usage"
Hi,

OPNsense version: 18.1.12

When configd is restarted while it is executing a relatively long running cron job(around 10secs), it starts to loop forever in "while True" loop and never exits (after two days for example):
Code is from /usr/local/opnsense/service/configd_ctl.py causing the loop:

    try:
        sock.send(exec_command)
        data = []
        while True:
            line = soc

[2018-07-24 06:12] AdSchellevis commented on #2568
This part is the client (`configctl`), you need to know which command it was trying to execute and for which output it's still waiting. The configd log might give hand you some pointers, you can find it in System->Logfile->Config

[2018-07-24 08:59] mimugmail commented on #2496
I'll close this now .. have to do some more testing with other machines.

[2018-07-24 08:59] #2496 closed

[2018-07-24 09:20] camouflageX opened #2569 "web proxy: boot hang when traffic shaper or captive portal is enabled"
I think I found a bug in OPNsense. When you create a pipe in traffic shaper and enable the squid proxy server, then squid will hang on my installation at boot.

This is what I did:
I created a OPNsense VM with one LAN interface and updated to version 18.1.12. Then I create a simple pipe in traffic shaper:
[code]

After that I enabled the squid proxy server. After a reboot, the proxy server will no

[2018-07-24 09:29] AdSchellevis commented on #2569
just to be sure, there are no rules configured in the shaper and squid functions normally when the pipe is removed?

[2018-07-24 10:34] camouflageX commented on #2569
Exactly. No shaper rules configured and Squid works fine until I enable a traffic shaper pipe and reboot.

[2018-07-24 11:03] AdSchellevis commented on #2569
can you share the output of?
[code]

[2018-07-24 11:23] sachaz opened #2570 "IPSec There is a Phase 2 using IPv6, you cannot use IPv4"
Hi
I'm trying to do something like this:

ServerZZTop ----- FirewallA [OPNSense] o===(IPSEC)===o FirewallB [OpenBSD] ----- Internet

ServerZZTop have a public IPv4/6

Phase 1 Type: IPv4 IKE v1
Phase 2 Type:  ESP IPv4 tunnel
Phase 2 Type:  ESP IPv6 tunnel

Yes I got I phase 2 for an IPv4 tunnel AND another one for an IPv6 tunnel, Strongswan is suposed to work like this(https://www.strongswan.org/te

[2018-07-24 11:23] #2495 closed

[2018-07-24 11:31] sachaz opened #2571 "IPSec auto Passthrough networks"
When I configuring IPSec I have to set up manually passthrough networks from my Opnsense firewall's local interface.
I guess this passthrough should be always activated allways: local network should not be routed in the IPSec tunnel (for exemple it's a problem arp IPv4/IPv6 requests).

[2018-07-24 11:33] AdSchellevis commented on #2570
@sachaz if I read the scenario's correctly https://www.strongswan.org/testing/testresults/ipv6/ both should work ipv4 of a ipv6 tunnel and vise versa. correct? we can easily drop the validation if not needed anymore.

[2018-07-24 11:44] AdSchellevis commented on #2571
Strongswan has https://wiki.strongswan.org/projects/strongswan/wiki/Bypass-lan available for that purpose, but I don't think we are going to add it, never tried it myself.

It's relatively easy to add your own networks to the configuration, auto generating the networks on our end will cause an unwanted dependency on configuration changes for IPsec.

[2018-07-24 12:45] sachaz commented on #2570
due to this error message I cannot change anymore any parameter on my phase 1 IPv4 until I have phase 2 ipv6 :(

[2018-07-24 12:48] sachaz commented on #2571
my wondering is about in which case we don't need a exclusion of the local network to be routed in the IPSec tunnel ?
a click to "disable auto exclusion of local network" ? or add this information in the OPNSense IPSec wiki ?

[2018-07-24 12:51] AdSchellevis commented on #2570
that I understand, my question was about strongswan itself.

[2018-07-24 12:52] #2570 closed

[2018-07-24 12:53] AdSchellevis commented on #2570
https://github.com/opnsense/core/commit/a79b20c12759007f2079ffd6e0cad26d04b00808 removes the validation, to test use:
[code]

[2018-07-24 12:56] AdSchellevis commented on #2571
local networks change, which won't cause ipsec to restart. If you would be so kind to work on the docs page (or a fix which doesn't involve entanglement with the network configuration) that would be greatly appreciated.

[2018-07-24 14:10] sachaz commented on #2570
Thanks it works perfectly

[2018-07-24 14:14] fichtner commented on #2570
Yay, I'll push this into 18.7 then. Thanks for testing! ❤️

[2018-07-24 14:55] sachaz commented on #2570
Thanks guys to be so reactive ❤️

[2018-07-24 16:55] hayatigonultas commented on #2568
Hi Ad,
in fact I've pointed out the exact location of the infinite loop with adding debug outputs to configd_ctl.py. If it is the client side then termination of actual command should also have terminated configd_ctl.py process. But in my case it did not.

It is quite easy to reproduce this though. When you add a new action (namely sleep : which basically sleeps for 60 seconds) to

`/usr/local/opn

[2018-07-24 17:14] AdSchellevis commented on #2568
it doesn't on my end, it just exits after 60 seconds. sock.recv() is blocking, if for some vague reason the endmarker isn't transmitted and the connection is lost, in theory this could happen, but I really expect something in the log then. Can you inspect `/var/log/configd.log` for details?

[2018-07-25 01:16] hayatigonultas commented on #2568
Hi Ad,
My guess is that recv() is returning 0 because peer closed connection. And this case does not seem to be handled there. I've done a dirty fix to handle this case, and it seems to be solving the issue.

[code]

[2018-07-25 06:33] AdSchellevis commented on #2568
the restart of configd was the missing part, sounds reasonable, although I'm not 100% about the fix. let me get back on this after checking the rest of our code.

[2018-07-25 08:34] marjohn56 opened #2573 "IPv6 DUID-EN and others"
Reading a reddit conversation it appears IPv6 DUID-EN is needed. I'll take a look and get this done. I also want to add a function to quickly clear the existing DUID and force a new one.

[2018-07-25 17:54] hayatigonultas commented on #2568
Sounds great.

[2018-07-26 05:48] commonism opened #2575 "connection tracking state-policy if-bound for transparent bridges"
Hi,

default pf connection tracking ignores the interface, this state-policy is called "floating".

For transparent bridges this does not work if multiple networks share the same firewall, as the "allowed outgoing packet" from network 1.1.1.0/24 creates a state which is used to allow the packet to enter network 2.2.2.0/24 - without evaluating any rules of the associated interfaces, as there is a s

[2018-07-26 05:52] AdSchellevis commented on #2575
@commonism we'll add an option, sounds reasonable to me. If I can find some time around the weekend, I'll prepare a patch.

[2018-07-26 08:09] fbrendel opened #2576 "opnsense_bootgrid_plugins.js doesn't reload bootgrid via std_bootgrid_reload when adding items"
The grid is always reloaded via _std_bootgrid_reload(gridId);_ except if you add an item.
Then _$("#"+gridId).bootgrid("reload");_ is used.
https://github.com/opnsense/core/blob/master/src/opnsense/www/js/opnsense_bootgrid_plugin.js#L295

The problem is that Relayd chains the std_bootgrid_reload to get the isSubsystemDirty state. So if you add a virtual server for example the message 'The Relayd c

[2018-07-26 08:48] AdSchellevis commented on #2576
@fbrendel can you point me to your issue?  https://github.com/opnsense/core/blob/master/src/opnsense/www/js/opnsense_bootgrid_plugin.js#L108 only tries to reconstruct the current page and reloads the provided bootgrid.

[2018-07-26 09:00] fbrendel commented on #2576
The plugin chains std_bootgrid_reload and loads the isSubsystemDirty state from the SettingsController
https://github.com/opnsense/plugins/blob/d9863be946df47157a462addbec403347b6b76c1/net/relayd/src/opnsense/mvc/app/views/OPNsense/Relayd/index.volt#L51

But when adding an item the std_bootgrid_reload is not called.

E.g. when you edit and save an item std_bootgrid_reload is called
https://github.

[2018-07-26 09:02] b4b857f6ee opened #2577 "Backup - Entreprise"
Hi,

In the backup section we only can backup with google drive, witch is not really professional.
Any chance to get a configuration menu for http upload? NFS? FTP?
So we can be as the same level of the other firewall.

Thank you

[2018-07-26 09:05] fichtner commented on #2577
There is already Nextcloud and there will also be SCP. You can also plug in your own backup mechanisms that will plug into the GUI and keep working after firmware updates. Even plugins are possible.

[2018-07-26 09:05] #2577 closed

[2018-07-26 11:05] fbrendel opened #2578 "Cannot add LDAP users together with local users"
The cloud button for LDAP import at System -> Access -> Users is not visible with a LDAP server AND "Local Database" selected as authentication servers.
To add LDAP users I have to remove "Local Database" and add it afterwards again for local users.

[2018-07-26 11:09] fichtner commented on #2578
Multiple auth modes are new so the behaviour is expected but should be changed.

[2018-07-26 14:56] fichtner commented on #2578
@fbrendel can you try 8e28b78 ? It's not perfect but does what you expect:

    # opnsense-patch 8e28b78

[2018-07-26 14:59] fichtner commented on #2569
It looks like this is the same as #2383 ... captive portal involved... so also ipfw

[2018-07-26 15:03] fbrendel commented on #2578
Yes, works!
Thank you :+1:

[2018-07-26 15:06] fichtner commented on #2578
Thanks, I'll pull this into 18.7.

[2018-07-26 15:06] #2578 closed

[2018-07-26 19:16] AdSchellevis commented on #2383
I guess nobody tried to leave the no bump sites empty before, usually the are some address in there like your bank and other sites which may not be intercepted by a man in the middle scenario.

Maybe we should enforce input there if sslbumping is enabled, although the warning should logically not be more then a warning.

@SebastienLeMoal if you add some nobump sites, does it bootup normally then?

[2018-07-26 19:29] #2576 closed

[2018-07-26 19:56] #2568 closed

[2018-07-26 19:57] AdSchellevis commented on #2568
@hayatigonultas just checked some different inputs and it seems we overreacted with the end of stream marker in this case. I've replaced it with the normal break when no data found. Thanks for reporting.

[2018-07-27 06:32] fbrendel commented on #2576
And works. :clap:
Thank you :smiley:

[2018-07-27 07:07] #2535 closed

[2018-07-27 14:43] stilez opened #2579 "firmware: GUI UX improvements"
I'm not sure what exactly the issue here is, but something's clearly not as expected/not happy.

I've run through the check updates/update/unlock upgrades/upgrade cycle about 4 times now, and it just isn't doing as expected. For example, I just unlocked and upgraded from 18.1; after the upgrade and reboot I checked again and it says it's upgraded to 18.7-r1, but now has a second upgrade to 18.7-r2

[2018-07-27 14:44] L1ghtn1ng commented on #2579
I have run into this as well on my VM
________________________________
From: stilez <notifications@github.com>
Sent: Friday, July 27, 2018 3:43:14 PM
To: opnsense/core
Cc: Subscribed
Subject: [opnsense/core] Update/upgrade GUI issues? (#2579)

I'm not sure what exactly the issue here is, but something's clearly not as expected/not happy.

I've run through the check updates/update/unlock upgrades/u

[2018-07-27 14:53] fichtner commented on #2579
It‘s the dev version. It loops major changes pinned to 18.7.r1. It’s confusing, but it’s for testing. Basically the blue box are minor updates and the yellow box are major upgrades. This doesn’t happen on 18.1 when the time for 18.7 comes.

[2018-07-27 15:09] stilez commented on #2579
Any objection if I try to make some time in thr next while, to hit this one hard with the pull request hammer, so as to try to make it more intuitive or behave more sensibly? :)

[2018-07-27 16:29] fichtner commented on #2579
The underlying mechanisms are fixed around what pkg and our self-written kernel/base update does. The UX certainly isn't perfect so there's room to improve that so feel free to research or discuss certain aspects. :)

For clarity, let's answer your individual points:

The production track does not upgrade to 18.7 yet. So you need to go to the dev version which offers a fixed path from 18.1 to 18.7

[2018-07-27 16:31] fichtner commented on #2579
It also needs to be pointed out that the development version uses the master branch with is both version 18.1 and 18.7 at the same time. So while in 18.1 you expect the upgrade to advertise itself in 18.7 it does too even though you're already there. This does not happen in stable/18.1 or stable/18.7 which is used by the production type.

[2018-07-29 08:29] karl047 commented on #926
I found this Mail in Internet:
https://lists.freebsd.org/pipermail/freebsd-net/2009-April/021675.html
it looks like the problem with the bridge Interface ist known about 10 years ago!

Can you tell me please how I can enter the IPv6 link-local manually for the Bridge Interface on OPNsense at the console?

I'm looking for a solution since 3 months but no chance :-(

[2018-07-29 10:12] #2575 closed

[2018-07-29 10:13] AdSchellevis commented on #2575
@commonism as promised, https://github.com/opnsense/core/commit/09a13913ec94040f3f15f49306aa789904f5c481 adds an option in the advanced section.

[2018-07-30 03:25] tonsilware opened #2582 "Suggest changing default mirror from HTTP to HTTPS"
Hi,

When using the OPNSense gui (18.1.13) to "check for updates" with the "firmware mirror" set to "(default)" I noticed that OPNSense is pulling updates from pkg.opnsense.org via insecure HTTP (port 80). For me this is undesirable from a privacy point of view because anyone upstream (monitoring communications) can see exactly which packages are being updated etc. For privacy purposes I believe H

[2018-07-30 05:07] fichtner commented on #2582
Believe it or not, HTTPS with static content will not help your privacy concerns. There was a paper at least 6 years ago that showed this with encrypted HTTPS traffic analysis which could find the corresponding HTTP page associated (Wikipedia was used to conduct this reseach). I can't find the paper with a quick search, but I hope you can see that there is no privacy issue involved here.

If you r

[2018-07-30 06:47] mimugmail commented on #2279
@AdSchellevis this was the topic we talked via IRC lately :)

[2018-07-30 06:52] AdSchellevis commented on #2279
@mimugmail ok, to summarize what we've discussed (if I remember correctly).

If @fichtner agrees, we could add a marker for "backup default" with a weight and use the weights to sort the gateways. This would allow us to prioritise default gateway switching. Ideally we would like to use policy based routing for local traffic too, but that is more of a long run solution. agreed? (if so, I'm offering

[2018-07-30 06:55] fichtner commented on #2279
yes, but I want to see how https://github.com/opnsense/core/commit/da4d25e629 works out on 18.7... it's preliminary work to exclude certain gateways from default gateway switching. it's not practical to mark a gateway down and should probably be a separate option, but if this separate option is what we talk about here with a priority setting that would be best.

[2018-07-30 06:56] fichtner commented on #2279
(it's correct to exclude down gateways from switching, I just mean it's impractical if you don't want it down and still not use it for default switching)

[2018-07-30 06:56] mimugmail commented on #2279
Full agree with this! :)

Just to have it here: The need for local PBR traffic would cover all transparent stuff like Squid, siproxd, ftp-proxy etc.

Local PBR can be a mind/long term task :)

Thanks guys, very appreciated!

[2018-07-30 07:16] commonism opened #2583 "UI - Firewall/Rules representation/rendering"
I'd love to improve the representation of the rules in OPNSense to make a pfSense migration possible.

This is some screenshots of the rules view on a 2560x display using full/half/even less of the screen:

![opn_rules_2551](https://user-images.githubusercontent.com/164513/43380852-e680bdd0-93d2-11e8-9fd1-e2ecb5932de1.png)
![opn_rules_1914](https://user-images.githubusercontent.com/164513/43380838

[2018-07-30 07:31] AdSchellevis commented on #2583
@commonism there's more work needed in the firewall area to eventually drop the legacy code and move to new api enabled mvc code.  I the meantime it's no problem to improve the visibility as long as the changes are manageable (small steps, easy to review). I'm not sure about the proposed layout, it should eventually fit with the rest of the system in look in feel for as far as possible.

[2018-07-30 08:20] fichtner opened #2584 "interfaces: build HE tunnel IPv6 mode"
HE tunnel setup has several drawbacks so it's time to integrate this properly. This will also pave the way for DS-Lite integration which is the other way around...

CC @noctarius

[2018-07-30 08:53] marjohn56 opened #2585 "Track6 issue, RADVD and DHCPD6 conf not being set."
I have a forum user 'space' who has an issue with dhcp6 tracking. It appears that his radvd and dhcpd are not running as the conf files are not being setup. I am able to replicate this problem. Through debugging it seems that although dhcp6 is setting the correct info on the interfaces, this is not being picked up when a call to services_dhcpd_configure() is made, this may be a timing issue. I hav

[2018-07-30 09:17] fichtner commented on #2585
why not pin down the race condition and fix it? race condition applies we do all the right things but not in the right order all the time.

[2018-07-30 09:21] marjohn56 commented on #2585
Because I am not yet sure it is a race condition. I have a fix but I'm looking around...

[2018-07-30 09:40] marjohn56 commented on #2585
Indeed.. a call to reconfigure dhcpd6 and RADVD ONLY ( new function ) like this appears to cure the issue.
It may also help when the prefix changes.
interfaces.inc Line 2586
`case 'dhcp6':
            log_error("Inteface track6 configure 8");
            if ($linkupevent == true) {
                /*
                 * NOTE: Usually come here from rc.linkup calling so just call directly intead of

[2018-07-30 09:42] marjohn56 commented on #2585
Just a bit concerned about the blacklist array containing nothing, is that a bit of a no no?

[2018-07-30 09:44] fichtner commented on #2585
array() is the default, no blacklist items

[2018-07-30 09:46] marjohn56 commented on #2585
OK, I've tested the fix multiple times, seems to cure it, shall I PR it?

[2018-07-30 09:47] fichtner commented on #2585
sure, but there will be more questions. I've removed it because the calls are buried too deep in the private interface call stack.

[2018-07-30 09:47] marjohn56 commented on #2585
Empty blacklist is fine, but we'd need to add to that list in interface_track6_configure() to make it safe.

[2018-07-30 09:50] marjohn56 commented on #2585
PR #2586

[2018-07-30 15:53] Addy90 opened #2587 "Cannot override gateway to "none" in DHCPv4 static mapping"
When you want to override a DHCPv4 static mapping gateway with none (current 18.1.13), you cannot assign this value within the static mapping scope. Error is the following:

But on the main settings page of the DHCPv4 server, the help text to the Gateway tells us:

I need this scenario because one client gets IPv4 addresses from two different OPNsense that do not communicate with each other and ha

[2018-07-30 15:54] noctarius commented on #2584
👍 after the dhcpv6 stuff is merged it should be fairly easy to get the rest tested and integrated. Being a few weeks into the new company stress also seems to fall off a bit on learning all the new stuff :D

[2018-07-30 15:56] fichtner commented on #2584
with 18.7 it's all in. going to be released tomorrow. :)

[2018-07-30 15:56] noctarius commented on #2584
sounds like a win-win-win situation lol

[2018-07-30 16:56] C-Duv commented on #2373
Also, in Unbound DNS's access lists (Services > Unbound DNS > Access Lists)?

[2018-07-30 17:10] C-Duv opened #2588 "Diagnostic page to check firewall aliases?"
Hello,

Would a page that allows to check which aliases matches a given input be interesting?

A simple page with 2 fields such as:
* Input type: Dropdown with *IP address*, *port number*, *URL* possible values
* Input value: Text field

On submission, all defined aliases would be tested to see which matches the given input.

Example:

* Defined alias:
  * Network: PRIVATE_NET_FOO = *192.168.0.0/1

[2018-07-30 17:26] AdSchellevis commented on #2588
@C-Duv are you planning to work on it? if so, it might be a good idea to integrate the pfTables functionality with the search function.

[2018-07-30 17:32] AdSchellevis commented on #2587
@Addy90 I can't reproduce this, although I think the current `none` input is somewhat confusing, it seems to be working fine on my end, due to https://github.com/opnsense/core/blob/master/src/www/services_dhcp.php#L214

Maybe some spacing before or after the "none" string?

[2018-07-30 18:29] Addy90 commented on #2587
Dear @AdSchellevis
Please have a look here: https://github.com/opnsense/core/blob/master/src/www/services_dhcp_edit.php#L185
You sent me the main settings page which I wrote is working as expected, my problem is that the static leases do not work as expected! As you can see, there is no mentioning of "none" in the override section "edit" page.

[2018-07-30 18:55] AdSchellevis commented on #2587
@Addy90 The help text in the static assignment is correct, I'm unsure what you would like to fix here, but feel free to propose a pull request for us to validate.

The "none" implementation for the dhcp zone can be found here:

https://github.com/opnsense/core/blob/master/src/etc/inc/services.inc#L669-L673
(where "none" provides the option to ignore the default set on the interface)

and the stati

[2018-07-30 19:00] Addy90 commented on #2587
Well I have set in my DHCPv4 main settings page a gateway (to let's say 192.168.0.1) and I want to override this behavior for a static lease to "none". This is currently unsupported because on the edit page (which is called for static leases, I mean the plus at the bottom of the page), the "none" is no valid input but only on the main page it is a valid value (but there, I have a gateway set).

Pe

[2018-07-30 19:11] AdSchellevis commented on #2587
I see you're point, it just doesn't appear to work that way. the "none" in the general page prevents the system from sending a gateway, not sending a gateway in the host overwrite automatically falls back to the pool.
If it's possible to configure, you probably should digg into the dhcpd documentation.

[2018-07-30 19:39] #1587 closed

[2018-07-30 20:27] Addy90 commented on #2587
Thank you @AdSchellevis, now I understood why this is not working as I expected it to do.
While searching through the documentation, it is indeed not possible to overwrite already set options, but one is able to set an option to a value that is "invalid".
So what works is to set the gateway in the static lease to the network address. As this is an invalid address, the option is ignored and no gate

[2018-07-30 20:30] #2587 closed

[2018-07-30 20:53] fabianfrz commented on #2583
@AdSchellevis it would be also possible to provide an API via the legacy file which would make the new components working. When the backend is ready, only the API endpoints need to be moved.

[2018-07-30 23:11] C-Duv commented on #2588
I could give it a try and open a PR, I still need to understand how to run/check my OPNsense code.

What do you mean by "integrating the pfTables functionality"?

[2018-07-31 00:03] ccesario commented on #2332
Aybe this reference canal help https://redmine.pfsense.org/issues/8544

[2018-07-31 05:44] AdSchellevis commented on #2583
@fabianfrz it's possible, but not advisable, you would have to create plumbing including validations which reacts the same as the model you're intending to build. When building components end-to-end it's easier validate you're assumptions, creating the model itself is usually not the hard labor.

[2018-07-31 05:49] AdSchellevis commented on #2588
the `pfTables`  page [Firewall -> Diagnostics -> pFtables] shows the contents of an alias, using pf, which is where all valid firewall aliases live (including the parsed url ones)

[2018-07-31 08:03] C-Duv commented on #2588
Oh, right, the *pFtables* page is a close feature that I could start from, simply adding a search/filter function.
(I had forgotten this page)

[2018-07-31 08:58] sebastiannielsen opened #2589 "Feature request: Allow "Custom configuration" for proxy and such, but require specific GUI access for this"
I have a feature request, and that is to add a "Custom configuration" option for all items including Proxy and such.

But, since this allow the GUI user to execute arbitary commands as discussed here:
https://forum.opnsense.org/index.php?topic=6516.0

I would suggest adding a extra option inside:
Effective Privileges

which is called: GUI --> Custom config

That is default off for all except the "

[2018-07-31 09:04] AdSchellevis commented on #2589
Sorry, we're not going to add custom entries in the configuration, administrators can deploy their own overwrites using the mechanisms in place:

https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/Proxy/squid.conf#L281-L282

https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/Proxy/squid.conf#L291-L292

[2018-07-31 09:08] sebastiannielsen commented on #2589
franco said it could be discussed, and I think its a easier solution if you could just change it from web interface.

By requiring a specific privilege that must manually added to user account, you avoid the main problem with "Arbitary code execution" as the privilege is default off for every user and must be enabled by system administrator.

For even more security, the privilege could be locked s