[2018-11-14 22:15] AdSchellevis commented on #2916
@fabianfrz it's not broken, but it looks like this field has been misused in other plugins as well. The IntegerField using min/max is meant to be used for number ranges. Not sure what your other issue is, the setter trims and lowers the input on `setValue()`

I will look at changing the behaviour, since core only uses this in the traffic shaper.

[2018-11-14 22:33] fabianfrz commented on #2916
You have to look at the screenshot. The user stored "443 default_server" in the field which is definitly invalid

[2018-11-14 22:43] AdSchellevis commented on #2916
ok, that's odd, it looks like `InclusionIn()` isn't fired, but seems to be used correctly https://github.com/opnsense/core/blob/eb95e8f53e56e25ce8f0898ee6936d8201bd9a29/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/PortField.php#L140

[2018-11-14 23:01] AdSchellevis commented on #2916
found it, although I'm pretty sure this used to work in some version of phalcon. https://github.com/opnsense/core/commit/9349cffb2433273bed8d58e073250c2f08a8bd82

[2018-11-14 23:21] #2916 closed

[2018-11-15 05:40] fabianfrz commented on #2916
@AdSchellevis thanks for your quick fix. Now the validation should work how users and developers do expect it to.

[2018-11-15 07:15] fichtner commented on #2876
UFS has never been truly stable. For that reason on reboot all backup-worthy facilities are automatically saved and restored. I'd say this helped more users *silently* retain their data even when it was corrupted on the file system since the archive is harder to be broken by FS corruptions.

The backup on reboot is also used for seamless config import during installations:

https://github.com/opns

[2018-11-15 07:19] fichtner commented on #2914
Could you give temporary access to the box via SSH, this will be easy to spot from there. I'm out of ideas otherwise. :( let me know via franco@opnsense.org

[2018-11-15 07:30] Alex9779 commented on #2876
@fichtner regarding the tar thing, I am going to raise this issue with the infinite loop on the mentioned repo, no matter what we do here, there should be a possibility to handle such cases with an option. I have never heard of a self-healing archive that gets healthy again just if you try often enough...

[2018-11-15 07:31] fichtner commented on #2876
we can add a backup option "never" for each backup type listed under system: settings: misc. we can't enable it by default as it will break expected behaviour but that would work for you from the looks of it?

[2018-11-15 07:37] Alex9779 commented on #2876
Yeah, I see your point of doing a backup of vital system config if as you say UFS can have problems sometimes.
It must not be for every single config type but just for the postions that can get huge and are not so important if they get lost...

[2018-11-15 07:39] fichtner commented on #2876
Views of "importance" can differ. The next issue raised is going to be about why it's not backed up by default if we change it. :)

[2018-11-15 07:53] Alex9779 commented on #2876
As you said, I wouldn't change that default behaviour of backing up everything. As I told earlier on a normal machine this is absolutely fine as you have no issue when packing 500mb of data, but the APU board has...
So if you think just to implement options to exlude every single type of setting, that's fine too :D...

[2018-11-15 12:17] sachaz commented on #2893
sorry for the noise it was la specif bug due to non freespace on disk

[2018-11-15 12:46] fichtner commented on #2893
Ok, no worries. Thanks for the feedback!

[2018-11-15 12:46] #2893 closed

[2018-11-15 16:47] monreal commented on #2101
Thanks... I ran into this myself today and never noticed the apply button :(

[2018-11-15 17:57] AdSchellevis commented on #2876
@fichtner I agree, a "never" options should fix the issue, I expect in reality this only impacts netflow since the size can grow pretty rapidly.

[2018-11-15 19:00] soder10 commented on #2880
Or did you mean there is a scheduled bogon network definition update setrimg under firewall, and itnis set as "MONTHLY" for my system, so would need to wait 1 month until this patch is applied?

[2018-11-15 19:06] fichtner commented on #2880
update_bogons.sh chunk is irrelevant. the patch excludes the CGN from private blocking and bogons blocking as well. the problem is that now that it's not dropped by these rules it's probably not logged and dropped by the default rule instead if it's not explicitly passed on...

[2018-11-15 19:10] soder10 commented on #2880
Thanks for the explanation, the output what the patch made to the CLI was chinese to me.
Actually I noticed something was going on, as I no longer see in the pf log those CGN inbound attempts blocked anymore. But I dont see them allowed either. Note: I dont have any explicit rule matching them.

[2018-11-15 19:32] fichtner commented on #2880
Yes. So the real question is: what do you want to do with CGN? We've talked quite a bit and it seems like a theoretical issue, not a real world issue?

[2018-11-15 19:50] soder10 commented on #2880
No issue here! Just wanted to allow/pass traffic FROM CGN to LAN. But after I applied the patch you sent above, it didnt do that. I have restarted pf service couple of times, and it didnt help. I thought the update_bogon.sh must be scheduled to actually remove the 100.64/10 from the current bogon-list (as it seemed to me they are still there, and the patch didnt remove them).
But now, I no longer

[2018-11-15 22:15] AdSchellevis opened #2918 "Monit: service tests and relation to service type"
The monit service tests configuration contains different test options, but can be selected on every service now, in reality this would lead to configuration errors.

For example, when adding a file service, it's possible to select a ping test now.

I would like to suggest to add a service type field to the "Service Tests Settings" section, which can then be used as validation or selection filter i

[2018-11-15 22:15] AdSchellevis commented on #2918
@fbrendel what do you think?

[2018-11-16 02:30] AdSchellevis opened #2919 "Drop legacy notices [notify_via_smtp]"
As a followup on https://github.com/opnsense/core/issues/2912 and https://github.com/opnsense/core/pull/2907, we should drop the legacy notices which are being send out and add glue for monit where needed.

Currently there are only two spots where the notifications are (kind of relevantly) used:

- carp changes https://github.com/opnsense/core/blob/702f9af71f9b2d2e6684a628a89a33daabb4db2f/src/etc/

[2018-11-16 06:06] fichtner commented on #2408
Closing in favour of #2408

[2018-11-16 06:06] #2408 closed

[2018-11-16 06:07] fichtner commented on #2919
I've closed #2408 :)

[2018-11-16 08:42] fbrendel commented on #2918
Basically sounds good.
However, the challenge is to find out which test is valid for which service.
E.g. existence tests are valid for files, directories, processes etc.
So we need a mapping between service types and test types (Fault tolerance, existence, resource...).
Much work and we have to watch for new test types on every Monit release.

On the other side Monit has already syntax checks and

[2018-11-16 09:15] fbrendel opened #2920 "Changes to aliases not transferred to backup node"
When I add a new port to an alias the rules are reloaded on the MASTER but not transferred to the BACKUP node.
My workaround is to create an empty firewall rule, delete it and klick on "The firewall rule configuration has been changed... Apply changes" button.

[code]

[2018-11-16 10:29] fichtner commented on #2920
There's a patch hitting 18.7.8 (already on -devel) via https://github.com/opnsense/core/issues/2796 that helps deal with this and explains difficulties in syncing in general.

[2018-11-16 11:11] ccesario commented on #2914
Hi Franco, thank you by your effort. I will deploy other appliance and restore the current appliance backup in this new and I send you the credentials by email.

[2018-11-16 11:50] fbrendel commented on #2920
Sorry but I can't see the difficulties here or I didn't understand the problem.

The patch is only half the solution. It only synchronizes the config.
Explicitly or not is open to dispute.
But I'm missing the reload of the rules on backup site too.

[2018-11-16 13:10] fichtner commented on #2920
I have no intention of having a say in HA functionality, completely up to @AdSchellevis

[2018-11-16 17:34] AdSchellevis commented on #2920
Reloading the firewall on the status page should do the trick:

![image](https://user-images.githubusercontent.com/9783985/48637388-6ee01680-e982-11e8-948c-261b58377da2.png)

We've chosen to not custom hook synchronisations in lots of spots of our codebase for multiple reasons.

[2018-11-16 17:38] fichtner commented on #2911
@AdSchellevis maybe you could look at this, I'm suspecting bd148f1 again, I have it queued up for 18.7.8 but the forum thread makes me worry...

[2018-11-16 17:46] AdSchellevis commented on #2918
The valid combinations should be in the monit docs, my problem is that the current solution isn't very user friendly, with error messages like :
![image](https://user-images.githubusercontent.com/9783985/48637622-19583980-e983-11e8-8f42-182a6efac998.png)

Which should be rather easy to prevent using proper validations in my humble opinion.

The original plan for adding Monit to core instead of a p

[2018-11-16 18:21] mstrdraco commented on #2911
I'm having similar issues when I delete rules it's wiping out my entire Rule list for all firewall rules.

[2018-11-16 18:23] AdSchellevis commented on #2911
@mstrdraco which version?

[2018-11-16 19:18] fichtner commented on #2918
with the marginal notification support still left any replacement is better than what we have now. I'm happy to work on this, but maybe 19.1 is not the greatest time frame for removing the old ones... maybe just adding a first viable replacement as an optional method and keep improving from there?

architecturally I don't think any way other than too complicated to get started is worth going for.

[2018-11-16 19:20] fichtner commented on #2911
@mstrdraco @AdSchellevis thanks ❤️

[2018-11-16 19:24] AdSchellevis commented on #2911
@fichtner found the culprit, `unset()` doesn't reindex, which kills https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/library/OPNsense/Core/Config.php#L80

It's just very stupid that you can't distinct associative and sequential arrays easily.

[2018-11-16 19:30] AdSchellevis commented on #2911
it's in the same corner, yes

[2018-11-16 20:05] jpawlowski opened #2922 "system/trust: Allow to set password for P12 export"
The current P12 export functionality is kind of useless when dealing with Windows machines. Those machines always expect the P12 trust store to be password protected and will not allow empty passwords.

It would be good to be able to protect the P12 export file with a password directly, avoiding somebody needs to take additional action using openssl commands afterwards.

[2018-11-16 20:43] jpawlowski opened #2923 "system/trust: Distinguish certificates with same common name"
In case there are multiple certificates with the same common name but with different settings (e.g. different SAN or key length/type), it is impossible to distinguish between them in any of the GUI views as there are simply multiple certificates to choose from. This results in a lot of try-and-error to find the correct certificate.

Either a dedicated custom certificate name shall be possible (or

[2018-11-16 20:50] 2fun0 opened #2924 "Feature request: DHCP leases counter"
Hi,

would be nice to have a counter of how many DHCP leases are in use. I am aware that you can gather it by yourself with the CLI but would be convenient to have the summary in the same page as the status.

Thank you for the great job!

[2018-11-16 20:52] Tsuroerusu commented on #2591
After this whole fiasco, which has left my perimeter firewalls without security updates for several months now, I am rather curious as to whether 19.1 will have any backports of Intel drivers or will it be using the ones in FreeBSD 11.2 ? Hey @fichtner , do you have any information in regard to this?

[2018-11-16 22:01] AdSchellevis commented on #2923
Hi @jpawlowski, are you planning to work on some of your requests as well?
They seem to stack-up rapidly....

[2018-11-16 22:03] AdSchellevis commented on #2911
https://github.com/opnsense/core/commit/0df243422bfc449a43f1e94360985458f3a72771 should fix the problem.

[2018-11-16 22:11] AdSchellevis commented on #2918
@fichtner I guess dropping the old could still be viable for 19.1, I really want to prevent any patches like https://github.com/opnsense/core/pull/2907 being needed for stuff that should go away. I expect we can add some simple tests, disabled by default like `RootFS` thing now.

I'll work on the needed tests, this validation issue can wait until after 19.1 in my opinion.

[2018-11-17 00:20] #2900 closed

[2018-11-17 09:49] jpawlowski commented on #2923
@AdSchellevis Not for the moment as I'm unfamiliar with model-view-controller concept as such. Tried to understand some of the code in OPNsense but never got it just easily. Lacking time for a deeper dive besides doing troubleshooting already (it s not my only opensource arrangement).

[2018-11-17 10:07] mimugmail commented on #2923
Trust Code is legacy code base like in pfsense. If it would be MVC I'd have already added this.
I don't know all the dependencies, but I could imagine a new text box when adding certs for password.
This would be noneditable an stored in config.xml. When downloading password is passed along the command.

[2018-11-17 10:31] mimugmail commented on #2923
https://github.com/pfsense/pfsense/blob/master/src/usr/local/www/system_certmanager.php#L185

Password is static to `null` .. perhaps just add a if `isset` to a new field and use password, else set `null`

I'm quite sure your php skills are better than mine :) You want to try?

[2018-11-17 13:14] fichtner commented on #2911
@mstrdraco you can try the patch from the command line:

    # opnsense-patch 0df2434

[2018-11-17 13:40] fichtner commented on #2914
@ccesario thanks!

[2018-11-17 13:43] mstrdraco commented on #2911
Worked great! Thank you

[2018-11-17 13:44] fichtner commented on #2911
perfect, thanks. will be in the next devel update 👍

[2018-11-17 13:44] #2911 closed

[2018-11-17 13:47] fichtner commented on #2822
@borisneubert how's 18.7.7 treating you then? :)

[2018-11-17 14:10] #2876 closed

[2018-11-17 14:12] fichtner commented on #2876
Defaults to "Power off" which used to be labelled "Disabled" while now "Disabled" is the new non-default mode which prevents *all* backups and deletes any remaining ones left on the system. Shell parsing XML is a bit iffy but it does the trick without rewriting these scripts.

[2018-11-17 15:06] borisneubert commented on #2822
Sweet.

No leaking of the OPNsense box's DNS servers in everyday work so far. Right now, tried to provoke the issue by restarting the upstream cable modem (Fritzbox) and observing the output of `systemd-status --resolve` on my Ubuntu workstation every five  seconds: neither did I see other DNS server's IP addresses than those of the OPNsense box.

To complete the test, I restarted the cable modem

[2018-11-17 16:13] jpawlowski commented on #2923
Don’t mix up this report with another one about the password thing ;)

[2018-11-17 16:56] AdSchellevis commented on #2923
@jpawlowski

If nobody would contribute, there probably wouldn't be any free software would there? It's good to realise that your free to create tickets, but for your wishes to progress it might need more then placing an order.....

[2018-11-17 17:47] fichtner commented on #2822
Perfect, will close then. Thanks for the report and testing! 👍

[2018-11-17 17:47] #2822 closed

[2018-11-17 19:05] fichtner commented on #2591
Sorry, that's a very one-sided approach. People have replaced hardware, cables, tried patches. There's also 19.1-BETA.

If you want to blame OPNsense for any of this, please do while presenting the hard evidence and the intent to leave you without security updates. Looking forward to it? :)

As for 19.1 we are proceeding as planned: January 2019. You can try the BETA from here:

https://forum.opns

[2018-11-17 20:07] Tsuroerusu commented on #2591
No offense, but WTF!? How in the world did you manage to interpret my remarks as somehow being aggressive and blaming OPNsense on a sort of personal level? I simply said, that this problem has had the consequence of me being unable to update my firewalls for several months, because doing so would cripple my network setup. I never said anything that this was somehow a conspiracy. Frankly, given the

[2018-11-17 20:12] abplfab commented on #2591
@Tsuroerusu give the Intel DAC (XDACBL3M) a try. 98.6% sure that this will solve your problems.

[2018-11-17 20:32] enoch85 commented on #2591
I just bought one, will be delivered next week. Let's hope it works!

[2018-11-17 20:43] fichtner commented on #2591
Likewise.

[2018-11-18 04:26] mibofra opened #2928 "flow_aggregate.py randomly stops working"
https://github.com/opnsense/core/blob/2d0075de05b3838fe19d57f5bdd8388df119467f/src/opnsense/scripts/netflow/lib/aggregate.py#L251

Hi! Some times has happened that flow_aggregate stopped to work because in this line sometimes it happens to have a float division by zero.

Well, I love the project, but really I was pissed off. So I've modified the line in:

`                consume_perc = (consume_e

[2018-11-18 13:39] mimugmail commented on #2591
@Tsuroerusu no, it wasn't  the update of OPNsense, it was the update of FreeBSD kernel. OPNsense is just the GUI orchestrating all services and configuration. Be sure that many many companys run 10G and DA cables just fine. The problem is that for developers it's hard to replicate since they wont buy such a hardware to figure out the problem.

Be sure you misunderstood Franco .. let's wait for @en

[2018-11-18 13:50] Tsuroerusu commented on #2591
With all due respect, that is obviously what I meant! You can say that one specific component is "OPNsense", fine, but then why is the ISO file named "opnsense" ? Obviously, because it is a, for a lack of a better term, "distribution", so when I say that the "update" for "OPNsense 18.7" caused the problem, I mean that the kernel provided in 18.7 which got installed as part of the update caused the

[2018-11-18 14:09] fichtner commented on #2591
@Tsuroerusu

You have your own reasons for using the hardware you use. That's fine.

You don't agree with the stance that an open source project has regarding your interests? That's also fine.

But using this platform to justify your stance is suboptimal at best.

You are the sole person in charge of your hardware and software.

So I'm politely asking you to quit this discussion now.

Thank you fo

[2018-11-18 14:10] fichtner commented on #2591
Closing this, as there were no negative updates on 19.1-BETA.

[2018-11-18 14:10] #2591 closed

[2018-11-18 14:19] Tsuroerusu commented on #2591
@fichtner I am using the hardware that I have, because it was working just fine with 18.1, I also said that I fully understand why developers cannot test my particular setup. The only thing I insisted on is  that I am not using incompatible hardware as everything I am using is officially validated by Supermicro, WHICH WAS WORKING WITH 18.1, and thus my modest claim was that it was unreasonable for

[2018-11-18 15:41] fichtner commented on #2591
@Tsuroerusu Okay, listen. Tell me what you in very precise words want us to do and I'll objectively explain why that may or may not be feasible.

[2018-11-18 16:11] Tsuroerusu commented on #2591
This is the heart of the matter, Franco. I did not, and still do not actually want you to do anything, and that is why I have been so amazed (in the negative sense) by your responses today (specifically).

The ONLY thing that I requested was a simple "yes/no" answer to this question:
Will OPNsense 19.1 contain any backported Intel drivers?

[2018-11-18 16:49] Tsuroerusu commented on #2591
@enoch85 I actually agree with you on that, and that is why I was so disappointed that instead of a simple answer to the question I asked, I got absurd accusations thrown at me (not by you), which I then had to respond to.

Your suggestion of testing the 19.1 beta, I have no issue with considering that, it is a perfectly reasonable thing to ask of me. In fact, let me just go further and say, that

[2018-11-18 16:53] cvbkf commented on #2591
Some update from me, i tried the current 19.1 beta image via live cd, and both ports of the intel x520-da2 are online now.

the driver version is the same as before:

[1] ix0: <Intel(R) PRO/10GbE PCI-Express Network Driver, Version - 3.2.12-k> port 0xc020-0xc03f mem 0xdfe80000-0xdfefffff,0xdff04000-0xdff07fff irq 22 at device 0.0 on pci4

I'll install the beta now, hopefully config from 18.7 can b

[2018-11-18 16:56] fichtner commented on #2591
The answer is no, but not in the sense that the backported drivers of 18.7 are not different from 19.1, because the backport is from FreeBSD 11.2 and 19.1 is based on stock HardenedBSD/FreeBSD 11.2 so the same drivers are included.

I was under the impression that this has been communicated clearly in several of places and I apologise if that wasn't actually the case.

[2018-11-18 17:20] AdSchellevis commented on #2928
@mibofra nice catch, the `/1000` should have been` /1000.0` to avoid a division by zero.

[2018-11-18 17:20] #2928 closed

[2018-11-18 17:21] AdSchellevis commented on #2928
can you try https://github.com/opnsense/core/commit/bb90be17c700454e3f99c78740d8ba709988c61d ? it should have the same result as your fix

[2018-11-18 17:37] Tsuroerusu commented on #2591
Thank you for  answering my question. :)

Earlier you linked to a forum post, which stated the following:
"The key difference is the operating system switch from FreeBSD 11.1 to HardenedBSD 11.2."

However, for me, that did not exclude the possibility of any potential driver backports from 11-STABLE or from Intel directly, so that was why I sought clarification from you regarding that point.

The

[2018-11-18 18:43] mibofra commented on #2928
Sorry, you are right. I've casted both but 1000.0 is the right precision. Thanks a lot! It was annoying to me, I guess to others too.

[2018-11-18 19:00] fichtner commented on #2928
@mibofra many thanks, it will be added to the 18.7.8 release.

[2018-11-19 02:35] tuxthemadpenguin commented on #1656
I can't seem to find the import option.  Was it removed or is it missing from the current version?

[2018-11-19 06:56] fichtner commented on #2924
<img width="317" alt="screenshot 2018-11-19 at 7 54 34 am" src="https://user-images.githubusercontent.com/1915288/48690882-a0e6b800-ebd0-11e8-83b3-c16bd24c382e.png">

will look like this :)

[2018-11-19 06:57] #2924 closed

[2018-11-19 07:21] fichtner commented on #2876
PS: this will land in 18.7.8 :)

[2018-11-19 08:05] fbrendel commented on #2918
@AdSchellevis you're right. It's a bad idea to point the user to third party docs for a core function.

If I understand you right you'll add tests and services for the notification replacement?
So I'll add the suggested test types and everything necessary for that.

[2018-11-19 08:15] fbrendel commented on #2920
The reload via status page works. :smiley:
Is it planned to automate this again?

[2018-11-19 08:16] AdSchellevis commented on #2918
@fbrendel I'll try to add the things needed to replace the old (https://github.com/opnsense/core/issues/2919), improving the validations is work that still needed to be done then. But there's no rush in my opinion, so improving validations could also entre post 19.1.

It would be good to add some basic documentation for 19.1 in our docs, is that something you would be willing to work on?

[2018-11-19 08:30] fbrendel commented on #2918
Ok, 19.1.x is realistic.
The documentation comes with the new version then.

[2018-11-19 09:39] AdSchellevis commented on #1656
@tuxthemadpenguin we removed the import page, since you can copy-paste into the content part of the alias now.

[2018-11-19 09:46] AdSchellevis commented on #2920
Sorry, it's not planned and we're probably not going to. In the early days configurations synced on config writes, leading to massive slow-downs at some point. A kind of subscription model on specific events might work, but it's not very high on my list of things todo and in practice the config will likely still lag behind in some cases.

Ideally the xml-rpc sync should also be replaced by somethi

[2018-11-19 09:51] jpawlowski commented on #2922
https://github.com/opnsense/core/issues/2923#issuecomment-439605381
https://github.com/opnsense/core/issues/2923#issuecomment-439606698

[2018-11-19 09:53] AdSchellevis commented on #2686
@mimugmail it should be as simple as https://github.com/opnsense/core/pull/2932, can you try and confirm this fixes your issue?

[2018-11-19 09:57] mimugmail commented on #2922
@jpawlowski

https://github.com/opnsense/core/pull/2926

I need some time for Boostrap .. perhaps it'll be in 19.1 ..

[2018-11-19 09:59] AdSchellevis commented on #2923
@jpawlowski fair enough, thanks for taking the time to explain your motivation. We're all busy indeed, as long as expectations match reality it's certainly fine by me.

(no offence taken by the way, just making sure we all understand the rules)

[2018-11-19 10:08] jpawlowski commented on #2922
No worries, thanks for your efforts in this regard!
Bootstrap surely is a bitch...

[2018-11-19 10:45] fbrendel commented on #2920
But that would mean that you drop HA support.
CARP without automatic rule replication is useless.
People will forget to do the extra step.

Removing the xml-rpc sync is what I'd have suggested too.
Subscription sounds good. I'd pull the config transaction-based via API synchronous or asynchronous.
A locking mechanism is probably already there. See Monit :sunglasses:
And on top a centralized manage

[2018-11-19 10:53] AdSchellevis commented on #2920
To be honest, it never was flawless.

Maybe next year we could think a bit about the future of replication, our schedule is already quite full at the moment and I really want to think this through before changing anything.

[2018-11-19 10:54] fichtner commented on #2916
@AdSchellevis there's a cosmetic issue with the validation message now as it hardcodes the well known ports mention:

https://github.com/opnsense/core/blob/3407a991329a19cf26bffda54b69390d70ae36d3/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/PortField.php#L152

[2018-11-19 12:37] MichaelDeciso commented on #2832
@fichtner PR has been merged, so I guess this can be closed?

[2018-11-19 12:42] fichtner commented on #2832
@MichaelDeciso thanks for the PR ❤️

[2018-11-19 12:42] #2832 closed

[2018-11-19 13:08] ccesario commented on #2914
Hi @fichtner ,
I sent you the email with data.

Thank you!

[2018-11-19 14:09] fichtner commented on #2914
Hi Carlos,

Under WAN I set "IPv4 Upstream Gateway" to the actual gateway and it works as expected. The auto-detect doesn't seem to work here. I'll try to investigate why. It may be due to static configuration of WAN.

At least you can use your setups manually with this setting. :)

Cheers,
Franco

[2018-11-19 14:35] fichtner commented on #2914
Found a better fix. Will not fit into 18.7.8 but should be in time for 18.7.9.

[2018-11-19 17:04] ccesario commented on #2914
Hi Franco!
Thank you by excellent help!!!

Nice to know that found a fix!!!!

Best regards,

Carlos

[2018-11-20 05:46] foongws commented on #2835
the problem remain at version 18.7.7 .

[2018-11-20 08:36] fichtner commented on #2686
@mimugmail please test, I want to ship in 18.7.8 ;)

[2018-11-20 09:06] mimugmail commented on #2686
I don't want to press order as it's 79 EUR, but the CSR looks wrong:

This is by OPN:
`Subject: C=DE, ST=Bayern, L=Muenchen, O=m.a.x. Informationstechnologie AG/emailAddress=michael.muenz@max-it.de, CN=www.spam-fetish.org/subjectAltName=DNS:mail.spam-fetish.org,DNS:vpn.spam-fetish.org,DNS:autodiscover.spam-fetish.org`

But it should be under x509 extensions:
[code]

[2018-11-20 10:02] #2612 closed

[2018-11-20 10:03] AdSchellevis commented on #2848
https://github.com/opnsense/core/pull/2939

[2018-11-20 10:03] #2848 closed

[2018-11-20 13:35] clystron commented on #2912
Just a comment: During my latest CARP-tests I had 2 issues with that "notify_via_smtp"-line, one was that I got tons of emails (multiple CARP-IPs on my test-setup) and the other was that the script made CARP-switchovers extremely slow sometimes when the SMTP-server was not reachable. So from my point of view getting rid of that inline mail-sending would be quite a plus.

[2018-11-20 13:36] AdSchellevis commented on #2912
@clystron we're likely going to ditch the legacy notices in 19.1

[2018-11-20 17:27] Northguy opened #2946 "DHCP server dynamic IP allocation with Host Name and Description fields from Static info"
I configured OPNsense as DHCP server and would like to identify my devices in the DHCP leases table a bit more easily, based on a description. Most devices only show generic manufacturer info under the MAC address, but do not provide a Hostname or a more verbose description.

I tried creating a static mapping for the MAC address but am not necessarily looking for a static IP lease. Therefore I did

[2018-11-20 17:29] EugenMayer commented on #1372
its seems like this is not working for me at least. Are there any docs?

Using a MBR or GPT absed MSDOS usb drive with either `config-hostname...xml` or `config.xml` right under root but i get "no prevision configuration was found on device"

[2018-11-20 17:36] fichtner commented on #1372
it's /conf/config.xml -- opnsense-importer expects a "real system" layout

[2018-11-20 17:46] fichtner commented on #1372
https://github.com/opnsense/core/commit/245401492 added it to the manual page and the import error message for clarity

[2018-11-20 17:53] EugenMayer commented on #1372
@fichtner great, thank you! Shouldn't we also add it to https://docs.opnsense.org/manual/install.html since that is what i was actually using to find out (since opnsense-importer --help did not work) .. out of any reason i did not pick man.

Maybe its reasonable to you

[2018-11-20 18:01] fichtner commented on #1372
Is this a 18.7 image import? I'm getting:

    opnsense-importer --help
    opnsense-importer: illegal option -- -
    Usage: man opnsense-importer

Eventually it should be added to the docs page as well, but may require a bit of effort to split the page... pretty big already so easy to miss this even if on the page.

[2018-11-20 18:17] zz0rk commented on #2946
I am in the same boat and would also appreciate some feedback from an expert. I've set up several static DHCP mappings and they show as 'active' when in use under Leases; but no IP address is being populated for each entry row.

[2018-11-20 20:16] fichtner commented on #2799
Will be added in 18.7.8. please reopen if still relevant.

[2018-11-20 20:16] #2799 closed

[2018-11-20 20:53] opnsenseuser opened #2947 "boostrap dropdown colors changed? why ? (latest 19.1 dev)"
![fields](https://user-images.githubusercontent.com/34602360/48802153-a518ef80-ed0e-11e8-95bc-6601701ca9d5.jpg)
![fields_opnsense](https://user-images.githubusercontent.com/34602360/48802154-a518ef80-ed0e-11e8-83a6-52cc9fab5fd3.jpg)
@fichtner Do I have to adjust the themes again?

[2018-11-20 21:00] opnsenseuser opened #2948 "Gateway seems to show wrong status! (latest 19.1 dev)"
@fichtner if I deactivate the gateway is displayed "online" and I activate the gateway is displayed offline?
![online](https://user-images.githubusercontent.com/34602360/48802468-a1d23380-ed0f-11e8-8c79-466a842b978e.jpg)
![Uploading offline.jpg…]()

[2018-11-20 21:05] opnsenseuser commented on #2948
also strange behavior at the gateway widget. It shows 100% loss but my connection is definitely online.
![gateway_widget](https://user-images.githubusercontent.com/34602360/48802746-6ab05200-ed10-11e8-8f76-0ed4f532e6ca.jpg)

[2018-11-20 21:51] fichtner commented on #2948
I’ve only been working on it today. Give me tomorrow to finish this work. ;)

[2018-11-20 21:55] opnsenseuser commented on #2948
should not be a reproach .... I did not know that you work on it. I just announce everything that strikes me so much. best regards

[2018-11-21 06:30] opnsenseuser commented on #2948
I will Test it later. Im @work now!

[2018-11-21 06:31] fichtner commented on #2947
https://github.com/opnsense/core/pull/2939/files -- the css file is now being versioned, so you can add the new file and have compatibility for production and development version. I believe this change will stay on development for a while, maybe until 19.1.

[2018-11-21 06:31] #2947 closed

[2018-11-21 06:34] fichtner commented on #2948
ok take your time and have a nice day :)

[2018-11-21 06:35] opnsenseuser commented on #2948
👍

[2018-11-21 06:37] fichtner commented on #2948
oh before I forget... 19.1 removed apinger so only dpinger is left. if it's not working / shows no status it's worth restarting to see if dpinger comes up ok. switching release to dev doesn't restart it and then it tries to read the wrong files which do not exist so status is empty / null as you've seen.

[2018-11-21 06:41] fichtner commented on #1372
Fair point. Alias transition was planned for 18.7.0 so that would have aligned with image... I'll try to release 18.7.8 images after that's out... planned for tomorrow so images could follow next week. Will check internally if that makes sense, but it should. :)

[2018-11-21 06:46] opnsenseuser commented on #2947
@fichtner but this is only for dev and not nessesary for prod?
or is it just about the change of name of bootstrap files? Will this stay with the new name in the future or will it get back the old name?

I do not necessarily want to include two files, because it also increases the loading time.

[2018-11-21 06:47] fichtner commented on #2947
the bootstrap select version was updated, which updated css as well. only one file is used depending on which version is running.

[2018-11-21 06:49] opnsenseuser commented on #2947
that means I have to adjust the new file and put in the respective theme directory? do I have to integrate the file in the main.css of the respective themes? best regards

[2018-11-21 06:56] fichtner commented on #2947
nope, just add the new css file and adjust colours to taste

[2018-11-21 07:07] opnsenseuser commented on #2947
Ok, thx. I will do this in the evening and make a pr for both themes!

[2018-11-21 07:12] opnsenseuser commented on #2947
@marjohn56 hope you are well. FYI, regards rene

[2018-11-21 07:21] marjohn56 commented on #2947
I'm fine, just extremely busy with a massive work project which is taking up all my time, and likely to do so through until February.

[2018-11-21 08:04] EugenMayer opened #2949 "FR: harden config import"
After trying the config import yesterday (first time) i ended up having a couple of surprises which i think we could fix in 19.0 and end up closing the gap to "install the configuration on a new hardware and you are set to go"

**I. Plugins**
a) Persist the list of "plugins" installed when saving a configuration.
b) Create a new section in "import" and add "Plugins"
c) when importing a configurati

[2018-11-21 08:18] EugenMayer commented on #2894
@fichtner IMHO i would expect this to be a timing issue during the generation of the unbound configuration.

Since it happens from time to time, it should be expected to the DHCP hostname auto-registering in ubound which causes that. Maybe in 1.8. they changed the timings / blocking mechanism during the reload or they just "hard bind" to the inode of the configuration, while we "replace" the file

[2018-11-21 09:28] MichaelDeciso opened #2950 "Remove the unminified bootstrap-select.js"
It seems that we don't use `bootstrap-select.js` at all, only the minified `bootstrap-select.min.js`. Would it be an idea to just get rid of it?

[2018-11-21 09:33] AdSchellevis commented on #2950
I usually keep the un-minified code for the same version as well, so we always have a reference to the source we're using at that point and helps debugging issues (easy to switch to).

In the past we had some minor changes to these files, since we try to avoid that now and the upstream is the same, we don't really need it, but it's practical for debugging purposes. I would suggest keeping those fi

[2018-11-21 09:34] MichaelDeciso commented on #2950
Ah, ok.

[2018-11-21 09:34] #2950 closed

[2018-11-21 17:11] opnsenseuser commented on #2948
@fichtner using OPNsense 19.1.b_306-amd64 on my VM (Oracle)-> the problem still the same! -> sorry!
1. 100% loss but my connection is definitely online.
2. if i disable the gateway it shows "online" and if i enable it shows "offline".

[2018-11-21 17:15] fichtner commented on #2948
I don't see apinger or dpinger in your service widget. is this about status when you set monitoring to off ?

[2018-11-21 17:19] opnsenseuser commented on #2948
1. i deleted the gateway widget and added the only gateway widget i found in the widget bar again.
2. there are no settings anymore to switch to another pinger! where can i find them if so?

[2018-11-21 17:20] opnsenseuser commented on #2948
i go to systems/settings/gateway and turn it off an on!

[2018-11-21 17:21] opnsenseuser commented on #2948
sorry system/gateway/single!

[2018-11-21 17:22] opnsenseuser commented on #2948
just deletet and added again the gateway widget -> and now it works!! :-) 👍

[2018-11-21 17:30] opnsenseuser commented on #2948
with the latest patch everything´s fine! 👍

![grafik](https://user-images.githubusercontent.com/34602360/48858338-6725d500-edbb-11e8-8db0-e1e69af0935b.png)

![grafik](https://user-images.githubusercontent.com/34602360/48858377-8290e000-edbb-11e8-85dd-ea89b577ad0e.png)

![grafik](https://user-images.githubusercontent.com/34602360/48858401-92a8bf80-edbb-11e8-865c-14ec115da878.png)

[2018-11-21 17:31] fichtner commented on #2948
cool, thanks for spotting this

[2018-11-21 17:31] opnsenseuser commented on #2948
👍

[2018-11-21 18:39] fichtner commented on #2914
should be good on the latest development release shipping with 18.7.8. Workaround possible so we'll try to pull smaller chunks into several 18.7.x until all is in 19.1 eventually. :)

[2018-11-21 18:39] #2914 closed

[2018-11-21 22:25] opnsenseuser opened #2953 "Firewall - log files - overview - "Log packets that are handled user rules" explicit in a graph?"
I find the firewall log overview very interesting.
What I think is missing would be the possibility to show the rules that are explicitly set with "Log packets that are handled by this rule" in a graph. the graph should show values like "name of the rule and how often and when was this called and what interface and ip triggered the rule" etc. would this be possible and does that make sense?

regar

[2018-11-22 06:58] AdSchellevis commented on #2953
Historical it probably won't make much sense, since the rule itself isn't associated with the log entry and therefor is often different after a firewall reload. In the livelog for the current records, that's not an issue, but looking back the uncertainty grows.

Personally I don't find the overview very useful as it's usually a very incomplete view of your network.

[2018-11-22 07:46] opnsenseuser commented on #2953
thank you for your opinion. it's just an idea, but maybe that will give us new ideas.
best regards
Rene

[2018-11-22 07:48] opnsenseuser commented on #2953
should I close the issue?

[2018-11-22 07:50] AdSchellevis commented on #2953
I think it's better to close it indeed, maybe in time we have better ways to collect firewall logging including context, but for the moment I don't expect we can add a lot of value here.

[2018-11-22 07:59] opnsenseuser commented on #2953
Ok.

[2018-11-22 07:59] #2953 closed

[2018-11-22 13:59] soder10 commented on #2949
I think the removal of "igb" from Freebsd 12.0 will be a disaster for all upgrades from 11.x

[2018-11-22 16:17] ccesario commented on #1494
Hey @fichtner , only to configr .... is this in 18.7.8 ?
I'm not able to see log option in Firewall: NAT: Port Forward rule.

Carlos

[2018-11-22 16:20] fichtner commented on #1494
it's on the development version now (18.7.8 -> Release type Development, Check for updates again) . there is one issue left with the feature: the live log shows the wrong rule label. needs @AdSchellevis's help but not super urgent. I'm hoping it's done in 18.7.9 or 18.7.10.

[2018-11-22 17:10] woooow1 opened #2956 "Captive Portal: problem with allowed ip address and logged users"
I have problem with captive portal in 18.7.7, and now in 18.7.8.After reboot allowed ip addresses are not allowed, and logged users must logout, and then login again. If I re-apply settings in
Services: Captive Portal: Administration, everything start to work.

Log show me this:

captiveportal: Traceback (most recent call last): File "/usr/local/opnsense/scripts/OPNsense/CaptivePortal/cp-backgroun

[2018-11-22 17:12] fichtner commented on #2956
@AdSchellevis looks like this is due to https://github.com/opnsense/core/issues/2569 -- shall we move captive portal setup to last action after ipfw setup or is there a more graceful way to deal with this?

[2018-11-22 19:04] AdSchellevis commented on #2956
@fichtner I'm afraid we should do that, I don't have a real better looking solution at the moment.

[2018-11-22 19:19] fabianfrz commented on #2875
The devel version should supports hidden fields which do allow setting custom data via JS (plain and JSON)

[2018-11-22 21:15] #2956 closed

[2018-11-22 22:52] descilla commented on #2561
Recently I had a similar issue like @diekgait had.

Scenario:
- Interface v6: fe80::224/64
- Gateway on that interface: fe80::228
- Added a (public v6) static route based on that gateway but it was not show in the routing table.

Turns out https://github.com/opnsense/core/blob/master/src/etc/inc/system.inc#L613 performs a call like ``/sbin/route add -inet6 '2a01:xxxx::228/128' 'fe80::228'`` which

[2018-11-23 08:18] opnsenseuser opened #2960 "system log widget - lines limiting?"
in my opinion, the lines should be limited, because the user can anyway come at any time with a click in the detail view of the system logs. And so on the dashboard would also allow a much clearer presentation. and it would not turn out to be an endless line view as I have stated in my screenshot.

![grafik](https://user-images.githubusercontent.com/34602360/48933494-bf1a2400-ef00-11e8-8c15-046203

[2018-11-23 08:35] Schroeffu opened #2961 "Installer 18.7 doese freeze on Hyper-V"
The installer does freeze at the step "Select Task: Guided installation, Manual installation, Import configuration, Reset password, Reboot, Exit".

Version: OPNsense-18.7-OpenSSL-dvd-amd64.iso
Happens on: Hyper-V

Screenshot: https://imgur.com/a/rSNq4qz

I have already tried the idea from https://forum.opnsense.org/index.php?topic=4470.msg17105#msg17105 to add set kern.vty="vt" and set console="ef

[2018-11-23 08:39] fichtner commented on #2961
This is Gen2, right? We've been talking about this for a while. The frontend of the installer freezes, but the backend is still there. Try CTRL+C and log into the installer again and it should continue where it left off?

[2018-11-23 09:04] descilla commented on #2561
@fichtner Thanks for your quick response. Your patch works as expected.

Greetings,
Simon

[2018-11-23 09:04] fichtner commented on #2561
Hi Simon,

Thanks a lot, will make sure it lands in 18.7.9.

Cheers,
Franco

[2018-11-23 09:06] Schroeffu commented on #2961
Yes Gen2. You are right, entering CRTL+C and log-in again is workaround. At the point "Choose UEFI/MBR" mode it logs me out again. CRTL-C + relogin again was working. Great!

Now just my working colleagues got immediately IPs from OpenSense's DNS , aargh.. Had to stop the fresh install immediately again, but it was looking OK.

Anyway, I think with your fanstatic workaround its ok to install it on

[2018-11-23 09:13] fichtner commented on #2961
LAN and WAN interfaces might be reversed?

I'll look into the installer stability on Hyper-V for 19.1 further to hopefully fix it and bring it in line with how it works in all other HW and VM environments. :)

[2018-11-23 10:36] akram1 opened #2962 "Features Request: On Radius, Captive Portal, Wizard and Proxy"
OPNSense is getting better on every release. There couple of features I see it missing.

Radius
    add For Users
        1- Max Daily Download (MB)
        2- Max Daily Upload (MB)
        3- Generate Password
        4- Mass copy of user account with new generated passwords
        5- User Account Template: a template is a place to store account configurations and apply it on specified users ins

[2018-11-23 11:12] steveo1664 opened #2963 "Support being a DHCP server for remote subnets"
We have OPNsense deployed in a datacentre where we need to issue DHCP IP addresses from OPNsense to remote subnets (i.e. they have been configured to use DHCP relay).

Is it possible for OPNsense to support issuing IP addresses to remote subnets using DHCP relay?

[2018-11-23 11:13] Schroeffu commented on #2961
My fault, I meant DHCP (not DNS), OpnSense was giving immediately ips to other clients but it shouldn't, will check in an OpnSense Forum for help how to deactivate DHCP during installation of OpnSense.

Thanks for tracking the issue about this Hyper-V freeze.

[2018-11-23 11:17] AdSchellevis opened #2964 "Network insight, cleanup and testability"
Cleanup the flowd aggregator and ease testability a bit (support custom config paths).

[2018-11-23 11:40] fichtner commented on #2963
You're likely referring to https://github.com/opnsense/core/issues/910 ?

[2018-11-23 12:14] mimugmail commented on #910
I could offer my time, building a new dhcp service as plugin, lets call dhcp-relay with basic stuff borrowed from original one.

But for this we would need a different implementation than isc-dhcp AND an working conf example.

Then I'll build you one in two weeks for 0 $ :)

[2018-11-23 14:05] soder10 commented on #2961
@Schroeffu: try assigning a new Hyperv vSWITCH to your testing VM, that has no access to your prod. LAN, before rolling out any such trial VM into production. Any non-planned DHCP is dangerous to a prod network.

[2018-11-23 16:51] fabianfrz commented on #910
Here are just two (I have not used any of them but maybe this list helps you):

* https://wiki.freeradius.org/features/DHCP (you do already maintain that plugin )
* https://kea.isc.org/

[2018-11-23 16:55] MichaelDeciso commented on #2686
I have been able to reproduce your problem, and it should be fixed now: https://github.com/opnsense/core/pull/2967
Could you test if OPNsense now generates a correct CSR for you?

[2018-11-23 17:12] fichtner commented on #910
Dnsmasq could do it too. But Michael proposed a nice plan: add a new DHCP plugin for this specific use case. No need to deal with the current complexity of core DHCP IPv4 and IPv6 implementations....

[2018-11-23 17:17] mimugmail commented on #910
FreeRadius .. nice! I'll have look :)

[2018-11-23 17:58] woooow1 commented on #2956
Confirmed as working!

[2018-11-23 22:48] opnsenseuser opened #2968 "NAT Rules - missing disabled "Linked rule" symbol + description!"
on the bottom of the nat rules there is the symbol and the description for the disabled Linked rule missing.
![grafik](https://user-images.githubusercontent.com/34602360/48962045-afd7bc80-ef7a-11e8-82ba-f8ba0bf7c700.png)

[2018-11-24 05:44] mimugmail commented on #2962
For Radius adding Max-Up is not a problem, but you need an application respecting these values.
Templates would need group support which relies on SQL .. I dont have the time to add this, but I'd be glad to help if someone likes to. Otherwise you could also use the API to script this.

I'm not a fan of wizards .. they are error prone and the user doesn't learn anything, also when it comes to troub

[2018-11-24 10:43] fichtner commented on #2889
I'm happy to add this, but I'm unable to find how ISC DHCP's zone "primary", "primary6", "secondary" or "secondary6" can be coerced into using a specific port?

[2018-11-24 10:45] soder10 commented on #2894
Guys, while you are investigating this issue:
can you recommend me how to schedule "CRON - unbound service restart" every day at midnight and sometime during the day? Users are complaining to throw away this router and bring the former Asus soho box back, because the internet is practically dead until I manually start the unbound service from GUI. I hope scheduled service restart multiple times pe

[2018-11-24 10:49] soder10 commented on #2894
Forgot to say: I was afraid of rolling back to unbound 1.7, fearing what may break when the next opnsense upgrade tries to reinstall it / tries to skip that out-of-sync package. So yes, I am still on this buggy 1.8.1, and if you need any log to capture the stop-reason, let me know.

[2018-11-24 10:52] fichtner commented on #2894
the command to restart unbound is "/usr/local/sbin/pluginctl dns", just add it to /etc/crontab (the next firmware update will overwrite crontab, but if you're looking for a solution until unbound is updated that's probably it)

[2018-11-24 10:52] EugenMayer commented on #2894
Rather use monit to monitor and restart the service if port 53 is dead? Monit is part of the plugins, so this should be easy and far better then the cron based restart, since it instantly  self heals

[2018-11-24 10:55] fichtner commented on #2613
I can't reproduce this on the latest development version. When I disable it will disappear from the Gateway Group. If I try to delete it says "Gateway 'ANOTHER_GW' cannot be deleted because it is in use on Gateway Group 'GWGNAME'".

[2018-11-24 10:55] #2613 closed

[2018-11-24 11:21] soder10 commented on #2894
@EugenMayer : thanks for the hint, monit should be the real solution, and would prefer that definitely. Unfortunately I dont have the spare time to become expert of the nuances of monit, meanwhile the next time unbound stops, angry users would throw the firewall to the trash. So would like something very basic and very reliable to restart that damn unbound.

[2018-11-24 11:52] fichtner commented on #2279
- [x] Add gateway group selection for IPv4 and IPv6
- [ ] Move gateway switching back to System: Settings: General (not deprecated, not part of firewall)
- [ ] Possibly move fixup_default_gateways() to routing setup
- [ ] Pass down gateways in order for fixup_default_gatways() to use them only or any available one

[2018-11-24 12:01] mimugmail commented on #2279
If you need root access to some Multi WAN systems, ping me <3

[2018-11-24 12:02] fichtner commented on #2279
@mimugmail I'll let you know when to test. Still some things to figure out.

[2018-11-24 12:50] fichtner commented on #2831
Shipped in 18.7.x, no more feedback.

[2018-11-24 12:50] #2831 closed

[2018-11-24 13:16] #2880 closed

[2018-11-24 14:30] #2275 closed

[2018-11-24 14:31] fichtner commented on #2275
@ruggerio sorry for the delay, it will be in the upcoming development version of 18.7.9

[2018-11-24 14:41] fichtner opened #2969 "unbound: stop mentioning DNS Resolver"
# git grep -i dns.resolv

[2018-11-24 14:55] #2913 closed

[2018-11-24 14:56] fichtner commented on #2913
Done. Only two lines changed... would have been a great first contribution. :)

[2018-11-24 19:21] fprina opened #2971 "OpenVPN & OSPF problem on 18.7.8"
After the update to 18.7.8 (from 18.7.7) my OpenVPN & OSPF stopped to work; I see the "_ospf neighbor_" but the routes are not exchanged

From my tests the problem is related to the following PF rules:
[code]
That rules are missing in 18.7.7 and if I remove them from 18.7.8 all restart to work as I expect

PS:
In the 18.7.7 the "_route-to_" rules was present for all the interfaces except the "_ovp

[2018-11-24 19:53] AdSchellevis commented on #2971
I don't see obvious changes in gateway or firewall code between 18.7.7 and 18.7.8 which could explain this. You could hoever disable the automatic route-to rules and add manual ones to prevent this. (
"Disable force gateway" in system_advanced_firewall.php).

Maybe you defined manual gateways over openvpn at some point in time?

Gateways are linked here
https://github.com/opnsense/core/blob/2601f2

[2018-11-24 20:45] fprina commented on #2971
Yes maybe I defined manual gateways over openvpn at some point as "random tests" but not in the current configuration.

To be able to manage in OSPF plugin the interfaces create by OpenVPN I've assigned a them via the web interface.

"Disable force gateway" seems solve the problem but honestly I don't really understand the meaning and moreover consequence ... :-(

[2018-11-24 20:52] AdSchellevis commented on #2971
It generates rules to force the gateway of outbound packets when there's a gateway defined for the network, you can also add the desired rules manually. (Usually on your WAN interface you want to prevent packets using another gateway then the defined one)

[2018-11-24 22:14] fprina commented on #2971
Maybe the recent changes added something that manage the assigned ovpn interfaces or the auto generated gatway as the others.

I tried to remove the assignment and the route-to rules magically disappear (as the related auto generated gatway)...

... unfortunatelly the OSPF stopped to work because of the missing configuration of the interfaces

[2018-11-25 11:10] #2969 closed

[2018-11-25 11:45] fichtner commented on #2971
"Maybe" needs to replaced by finding the bad commits if they exist :) something can have changed, but it could also be undocumented / undefined behaviour which now breaks due to complexity limitations or general "no, this shouldn't have worked before" so we can fix it properly and lower long-term maintenance.

[2018-11-25 12:17] akram1 commented on #2962
1- Do you mean Max-Up and Max-Down or just up?
2- What about captive portal: Auto delete expired vouchers and voucher group if group is empty?
3- Can you ease Voucher Generator. Users complain about mixed capital and small letters in User/pass.
4- https proxy without certificate as an option
Proxy implements the so-called “peek and splice” behavior: it establishes the SSL connection with remote si

[2018-11-25 12:20] mimugmail commented on #2962
1) both
2-4) other dev's, not me

[2018-11-25 12:41] mimugmail commented on #2971
Disable Force Gateway has to be enabled on Multi WAN .. and since you have a routed Tunnel, Multi WAN also fits here ..

[2018-11-25 19:12] karl047 commented on #2828
the same issue with 18.7.8, please look at this thread on OPNsense Forum (on German):

https://forum.opnsense.org/index.php?topic=10404.0

Everything has well worked after the Installation of the new virtuall OpenVPN Interface of ExpressVPN without any issue, but after reboot, DNS resolver of OPNsense & Pi-hole has stopped working!

[2018-11-25 20:54] heri16 commented on #505
Is cake available yet? Seems to be a marked improvement over fq_codel @fichtner

[2018-11-25 21:33] fprina commented on #2971
There are no "bad commits" it's looks to a more consistent behaviour now ... was my implementation that used to work _just with a bit of "luck"_ :-P

For curiosity I tryed to search something in the recent commits relate to the gateways but nothing evident to my eyes.

"Disable Force Gateway " solve my proble so I close the issue.

Thanks to all

[2018-11-25 21:33] #2971 closed

[2018-11-25 21:47] fichtner commented on #2971
@fprina thanks for the response. if there's oddity to work on I'm happy to take a closer look... I am reworking some interface/gateway logic at the moment.

[2018-11-25 21:49] mimugmail commented on #505
Nope, I asked the dev's of CoDel implementation 2 months ago, no plans to implement it.

[2018-11-25 22:38] fprina commented on #2971
@fichtner as _"oddity"_ I've just noticed that  the "Dashboard: gateway widget" of 18.7.8 show the IP address for the OpenVPN  <interface_name>_VPNV4 auto created gateway; in the previous release was listed the interfaces but without the address

[2018-11-25 22:52] dtaht commented on #505
Heri Sim <notifications@github.com> writes:

cake is *really* dependent on a nsec clock to work. BSD was only msec
when I last understood it.?

there is a ns3 model in progress if that helps any.

[2018-11-25 23:12] opnsenseuser commented on #2968
Fixed

[2018-11-25 23:12] #2968 closed

[2018-11-26 13:36] jdavey-enable opened #2972 "Preceeding space in opvn config for key-direction 1"
The exported client ovpn configuration file has " key-direction 1" at the bottom with a space in front.
The workaround is to add additional configuration options of "key-direction 1" without the space.

[2018-11-26 13:41] AdSchellevis commented on #2972
We're going to drop the old exporter in favour of the new one being developed now in 19.1, this will also fix the access space in "key-direction"

https://github.com/opnsense/core/blob/ceb54b9657474649d4853edc712c38d0eba9276c/src/opnsense/mvc/app/library/OPNsense/OpenVPN/PlainOpenVPN.php#L170

[2018-11-26 13:41] #2972 closed

[2018-11-27 02:53] DanMc85 commented on #2625
With the latest 18.7.7-18.7.8...

After a while of running... in this case 4 hours of uptime.  I still see two issues:  "There were error(s) loading the rules: no IP address found for ovpnc2" which I need to acknowledge.  Additionally and in my opinion, more importantly: OPNSense is losing the status of the OpenVPN clients and servers. They show the red down icons and lose IP addresses, but they a

[2018-11-27 08:18] MichaelDeciso commented on #2686
@mimugmail ping

[2018-11-27 08:36] mimugmail commented on #2686
It looks good now :)

[2018-11-27 08:36] #2686 closed

[2018-11-27 11:41] sachaz commented on #2835
An idea of where the issue is coming from ?

[2018-11-27 11:45] Kimotu opened #2975 "DHCPv6 algorithm empty"
Issue in OPNsense 18.7.8

When using ddns updates in dhcpv6 server, the algorithm tag is empty in generated configuration and dhcpv6 fails to start:

File with issue /var/dhcpd/etc/dhcpdv6.conf:
`
key myKey. {
     algorithm ;
     secret mySecretSecretisSecret=;
}`

Source of issue /usr/local/etc/inc/services.inc:
`

            if (!empty($newzone['domain-name'])) {
                if (isset($dh

[2018-11-27 11:50] mimugmail commented on #2835
Firewall : Settings : Advanced : Disable force Gateway ... ticked or not?

[2018-11-27 11:55] soder10 opened #2976 "[Feature request] dmidecode porting"
Please make the dmidecode available as a plugin for opnsense. Would be useful to show BIOS/firmware infirmation on the dashboard, or perform ECC-related check in the CLI.

[2018-11-28 09:49] Kimotu opened #2979 "Proxy Auto-Config rules order of proxy entries"
I created two proxy entries and a direct one.

When I use the rules to combine matches and proxies, my proxy order gets messed up when saving the rule.

I want: proxy1, proxy2, direct

When I save, it gets reversed to direct, proxy2, proxy1. The direct "proxy" should act as fall-back. The order is not alphabetical. I tried to name them A, B, C and order is still, C, B, A. I even added them in reve

[2018-11-28 10:22] module0x90 opened #2980 "[18.7.8 ] "Do not use the local DNS service as a nameserver for this system"not quite working"
Hi,

I am using the firewall to resolve local names, which are in Dnsmasq/Unbound just fine.

When configuring DNS server I use OpenDNS. "Do not use the local DNS service as a nameserver for this system" is not ticked and "127.0.0.1" appears in /etc/resolv.conf as well OpenDNS.
When I untick this setting, only OpenDNS is there.

I remember quite clearly that in the past *only* "127.0.0.1" was ther

[2018-11-28 13:42] inetshell commented on #2898
Any news about this? As an alternative solution, is it possible to create a switch so the user can enable/disable this?

[2018-11-28 13:45] AdSchellevis commented on #2898
@inetshell not from our side, it's a problem with the plugin, which isn't maintained by us.
It's probably better to open the ticket in plugins and close this one.

[2018-11-28 15:36] fichtner commented on #2980
Hi Tom,

Im unsure what the issue is. OpenDNS uses its own servers by definition when you enable it. From your description it seems like everything is ok and I’m missing the bit that isn’t working as expected?

Cheers,
Franco

[2018-11-28 16:31] module0x90 commented on #2980
Hi Franco,

thanks for responding.

The issue is the resolving of local machine names. It becomes a bit of a gamble in which order the /etc/resolv.conf is written.

I would expect one of the following:

1) ONLY use the DNS servers locally as configured in the section Networking | DNS servers.
2) ONLY use localhost

But the system currently is "mixing in" 127.0.0.1 when this option is not ticked. T

[2018-11-28 17:36] module0x90 commented on #2980
Franco,

ok, that makes sense. I tried to force it, but 127.0.0.1 comes always first, which works for me.
I probably have imagined it it being on 2nd or 3rd place.

Fine by me, well done, can be closed, NON ISSUE.
	Regards

Thomas

November 28, 2018 5:28 PM, "Franco Fichtner"  wrote:
	Hi Tom,

	Thanks for explaining. As weird as this may seem it may be the intended behaviour:

	The DNS servers are

[2018-11-28 19:12] fichtner commented on #2828
Ok, so how about the always restart Unbound after VPN startup during boot sequence?

    # opnsense-patch 35478a8

[2018-11-28 19:17] fabianfrz commented on #2979
(FYI) @fichtner @AdSchellevis this is a model relation field and the usual GUI component (select_multiple). Maybe there is something you want to do in the used scripts but I don't think there is something we can do.

[2018-11-28 19:24] mimugmail commented on #2979
Is this sorting related? I did workaround this in frr/bgp with extra priority field

[2018-11-28 19:32] fichtner commented on #2979
isn't this the same issue as always? expecting order when we don't pledge order in the model-relation selection?

[2018-11-28 19:43] fabianfrz commented on #2979
maybe yes, some kind of an order field can be added but I think that users expect it to be stored in the order they enter data. Maybe an UX issue.

I never planned that to be ordered because it is designed like  "use A and if it fails, use B".

[2018-11-28 19:48] mimugmail commented on #2979
Yep, but as always there's one guy using it the way you never thought of.

This is how I did it:
https://github.com/opnsense/plugins/blob/master/net/frr/src/opnsense/service/templates/OPNsense/Quagga/bgpd.conf#L172

[2018-11-28 20:11] Kimotu commented on #2979
It's designed to be used in order from left to right with fallback of last
resort in very right.

Even Mozilla developer pages show examples explicitly mentioning fallback
solutions in very right.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Proxy_servers_and_tunneling/Proxy_Auto-Configuration_(PAC)_file#Setting_a_proxy_for_a_specific_protocol

Am Mi., 28. Nov. 2018, 20:48 hat Michael <notif

[2018-11-28 20:15] fichtner commented on #2979
Sorry for the confusion. We're not talking about PAC.

[2018-11-29 06:10] kekek2 commented on #2898
@fichtner whats about plugin simplified version that does not affect core features ?

[2018-11-29 07:04] larseggert opened #2981 "Running out of swap 1x/week"
I have a pretty basic setup of opnsense, but under 18.7.6 and 18.7.7, it has been running out of swap (`swap_pager_getswapspace(16): failed`). When that happens, the OS starts killing processes, and once it's killed `dhcpd`, there goes my connectivity.

It's hard to figure out what is causing this, opening the ticket to see if anyone has any debugging ideas or other ideas what I could try. The har

[2018-11-29 08:29] fichtner opened #2982 "opnsense-version: finalise manual page"

[2018-11-29 08:35] mimugmail commented on #2981
Which services so you Run? I know rspamd is very memory intensive

[2018-11-29 08:45] larseggert commented on #2981
I just disabled `suricata`, to see if that is the culprit. These remain:
[code]

[2018-11-29 08:48] mimugmail commented on #2981
Stop Insight/Netflow for one week and see what happens. If you dont need the old graphs you can first try to repair and/or delete the DB.

Syslog should also give you more Info when it happens

[2018-11-29 09:05] larseggert commented on #2981
Done. How do I delete the database?

[2018-11-29 09:15] mimugmail commented on #2981
Reporting : Settings : Reset Netflow Data (but only if you dont need them)

[2018-11-29 12:08] #2964 closed

[2018-11-29 12:47] fichtner commented on #2964
Both my main installs have issues since this work started with flowd_aggregate stopping soon after startup. On the office box port total still work, but traffic is always empty.

[2018-11-29 12:48] AdSchellevis commented on #2964
@fichtner sorry about that, I just noticed the same on my box too, fix will follow

[2018-11-29 12:50] fichtner commented on #2964
@AdSchellevis no worries, just letting you know before forgetting about it again :)

[2018-11-29 12:56] AdSchellevis commented on #2964
@fichtner can you sync again? the current status should be good, I've fiddled a bit with parameters, it should be more consistent now.

[2018-11-29 12:59] fichtner commented on #2964
looks good, many thanks!

[2018-11-29 13:53] #2982 closed

[2018-11-29 17:12] enoch85 commented on #2591
The cable won't show up until 2018-12-13 , so I won't be able to test if it's a cabling issue or not until then.

Can someone else please confirm that 19.1 works?

[2018-11-29 20:07] #2670 closed

[2018-11-30 00:56] cvbkf commented on #2591
19.1 (installed from ISO) does work for me without changing the cables.

interestingly, i switched back to 18.7 by doing a fresh install and found the following: running in live cd mode: ix0 and ix1 are working. the first boot of the fresh install from disk: ix0 & ix1 online. but if i restore a backup, or change the interface settings via GUI ix0 "dies" after the reboot with the ominous "no carrie

[2018-11-30 03:31] foongws commented on #2835
Disable force Gateway is unchecked.

[2018-11-30 04:52] mimugmail commented on #2591
Can you make a diff of config.xml and your backup?

[2018-11-30 04:55] mimugmail commented on #2835
Can you enable it for testing? I usually always enable it on Multi WAN setups, otherwise you might have problems with port forwards on both WANs

[2018-11-30 08:48] Taomyn opened #2986 "GeoIP alias fails if you don't specify IPv4 and/or IPv6"
v18.7.8-amd64

The GUI when configuring a GeoIP alias doesn't check if the IP type is set to either IPv4 and/or IPv6 which means if left blank the alias does not work.

For example, create a GeoIP alias for one country and it can look like this:

![clipboard01](https://user-images.githubusercontent.com/4365929/49278288-9bb52300-f484-11e8-99c4-58622e22d5f0.jpg)

Create a WAN rule that uses this ali

[2018-11-30 08:58] AdSchellevis commented on #2986
it should add both when empty, but it doesn't appear to do so.... I'll prepare a fix right away.

[2018-11-30 09:07] #2986 closed

[2018-11-30 09:08] AdSchellevis commented on #2986
To try:

[code]

On a console, then apply the aliases again.

[2018-11-30 09:11] Taomyn commented on #2986
Thanks for the prompt response.

I will test it tonight as I'm remote and don't want to risk locking myself out.

[2018-11-30 09:13] AdSchellevis commented on #2986
No rush, thanks for reporting.

[2018-11-30 09:14] Taomyn commented on #2986
I just remembered, I think when I set it to IPv4 and IPv6, it also failed to work on the IPv4 only rule. I can double check later but I'm sure that's what happened. It goes along with recommendation to always split IPv4 and IPv6 rules apart that someone on the forum once told me.

[2018-11-30 09:18] AdSchellevis commented on #2986
It shouldn't do that, you can easily check what's in the table using https://your.host/ui/firewall/alias_util/ checking both on my end looks normal.

[2018-11-30 10:11] rene-demonsters opened #2988 "Uplink going down since 18.7.7"
About a 1,5 week ago I upgraded our OPNSense firewall from 18.7.5 to 18.7.7. This caused some minor issues where it seemed to have lost it's sense of DHCP and the uplink. A reboot and some tweaking later, it seemed to have been resolved.

Fast forward a few days and our internet suddenly drops out. After investigating the firewall has lost it's uplink. When I try to ping a host from the VGA consol

[2018-11-30 10:52] soder10 opened #2989 "[Feature request] vnstat widget"
Dear devs,

I found searching in the forum there is vnstat already available as a plugin, for which I am very thankful (as many of the community members as I could see). Also I found out after testing, that widget is not yet available to show the vnstat counters on the dashboard.
It seems I am the first, so can you please provide sometime a widget for vnstat counters to be seen on the dashboard:
e

[2018-11-30 12:20] karl047 commented on #2828
@Fichtner: it didn't work...

[2018-11-30 12:34] fichtner commented on #2828
Too bad. I'm out of ideas for the moment.

[2018-11-30 16:02] #2895 closed

[2018-11-30 16:05] AdSchellevis commented on #2895
@dotike in 19.1 missing data should be presented as zero's due to https://github.com/opnsense/core/commit/fad4b3c426a925107d5e50e7091c1a17be418adf, we might consider fixing the pie chart at some point in time too, but that's probably not really necessary.

[2018-11-30 19:39] #2875 closed

[2018-11-30 20:33] JasMan78 commented on #2828
@fichtner : The patch works for me. It seems that @karl047 has another problem.

[2018-12-01 08:00] opnsenseuser opened #2990 "GEO_IP doesn´t work - crashes!"
First of all, I've chosen alias as all countries that I need and then create the rule. but if I want to look at the pftable, the browser crashes and no content is displayed.

![geo_ip_alias](https://user-images.githubusercontent.com/34602360/49325722-8b19b100-f547-11e8-9fcb-5046085469dd.jpg)

![geo_ip_crashes_browser](https://user-images.githubusercontent.com/34602360/49325724-8e14a180-f547-11e8-9

[2018-12-01 09:15] AdSchellevis commented on #2990
@opnsenseuser the content is too large for your browser,  pagination in the api call isn't supported here at the moment.

[2018-12-01 09:32] opnsenseuser commented on #2990
@AdSchellevis great 👍

[2018-12-01 09:36] opnsenseuser commented on #2960
@AdSchellevis can we also limit the lines for the log widget?

[2018-12-01 09:38] AdSchellevis commented on #2960
@opnsenseuser you mean the length of the line? Kind of "`my very long log line....`"

[2018-12-01 09:47] opnsenseuser commented on #2960
@AdSchellevis The log entrie should have a limited number of lines. The screenshot shows a single log entrie and that is so long, that it even at 1080 height, the browser scrolls. and that for a single log entry!. And if I allow 20 log entries I have an endless long column

[2018-12-01 09:48] opnsenseuser commented on #2960
@AdSchellevis of course, this is 6 columns dashboard view!

[2018-12-01 09:50] AdSchellevis commented on #2960
I don't think there's a great solution for this, data will always wrap. We might limit line length, which has other disadvantages. I guess this widget isn't really that useful to be honest.

[2018-12-01 09:51] opnsenseuser commented on #2960
@AdSchellevis yes, fix should be like you said -> "my very long log line....". for more details you have the detail view of the system logs!

[2018-12-01 09:52] AdSchellevis commented on #2960
Let's keep the issue open, it's not very high on my priority list, but don't mind a fix either.

[2018-12-01 09:54] opnsenseuser commented on #2960
@AdSchellevis I understand you and also the problematic, but, that would make the system log pointless for me, since I have to scroll endlessly each time and this is no longer quick and easy to read.

[2018-12-01 09:55] opnsenseuser commented on #2960
@AdSchellevis and for me the dashboard should be easy and quick to read!... but thx for your support. i´ll keep it open!

[2018-12-01 10:44] soder10 commented on #2894
Small update: it seems it is triggered on Saturday, around 10:36 am. That is the 3rd Saturday morning when it happens, always around this 10:36 am time.

[2018-12-01 15:49] TheEvilCoder42 commented on #2976
Execute as root: `pkg install dmidecode`

[2018-12-01 15:59] soder10 commented on #2976
Good to know, it actually worked thanks! Such packages are still handled by the same opnsense update mechanism, or these ones need some form of manual maintenance?

So does it mean adding some info from the output (like BIOS version / release date, serial number) to the dashboard is something that could be done technically?

[2018-12-01 16:08] opnsenseuser commented on #2990
@AdSchellevis
@marjohn56 seems like it doesn´t work. i´m not the only one with this problem

see https://forum.opnsense.org/index.php?topic=10192
and
https://forum.opnsense.org/index.php?topic=10458.0

[2018-12-01 16:13] marjohn56 commented on #2990
Yup, reported this weeks ago, was told it was too late to hold back the release. My live system is still on 18.7.5_1 because of it.

[2018-12-01 16:16] opnsenseuser commented on #2990
is there a solution? and if when ?

[2018-12-01 22:38] NOYB opened #2991 "Lobby: Dashboard loads all plugins.inc.d/*.inc"
Is it intended for the Lobby: Dashboard to load all the includes in plugins.inc.d?

plugins.inc.d/abc123.inc:
[code]
// Load Lobby: Dashboard page results in function re-declare.  i.e. the abc123.inc file was loaded.  Why?  It is not used by core or plugins.

19.1.b_405

[2018-12-02 02:17] kenshin33 opened #2992 "Outbound NAT Destination IP invalide"
Tryin to add a no nat rule (from  a specific IO to a specific IP) I  get an error saying that a valid destination IP is required (the IP I put in is valid)
grep and git blame took me to  line 181 of src/www/firewall_nat_out_edit.php

https://github.com/opnsense/core/commit/d4b2f161e8f6379ccda95a049a6681b7be4e5380 modified said line
from

      if (!(in_array($pconfig['destination'], array("any","(

[2018-12-02 07:35] fabianfrz commented on #2976
@soder10 this is how the update mechanism works - opnsense, plugins and binaries are just packages which can be installed, uninstalled and updated using the pkg utility. If you install a page using pkg, it will be updated automatically (if an update is available).

[2018-12-02 08:52] EugenMayer opened #2993 "OPNsense boxes crashing regularly on automatic upgrades"
I had this issue with all boxes when upgrading from 18.7.4 to 18.7.7- all boxes crashed on Sunday when trying to auto upgrade ( cron .. which is an issue for itself, since i deactivated it and it is still running .. opening a follow up issue on that #2994 ).

Today it happened with the 18.7.8 upgrade where ruby was part of it.

So whenever the upgrade is triggered using cron, the whole box stucks

[2018-12-02 09:05] EugenMayer opened #2994 "cron enable/disable UX probably confusing"
I disabled those firmware upgrade jobs

![image](https://user-images.githubusercontent.com/136934/49337776-f089a280-f618-11e8-88c0-74ee174afa32.png)

but there are still executed every sunday, see #2993 -

Since i am not that keen with the FreeBSD layout ( or the opnsense layout ) i am not able to provide anything else, i would need guidance for that.

- Checked /etc/crontab /etc/cron.d but those

[2018-12-02 09:15] mimugmail commented on #2994
Are you sure you hit `Apply`?
Can not reproduce here ...

Model is OK:
https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/models/OPNsense/Cron/Cron.xml#L14

Templating also (checks if enabled):
https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/Cron/user.cron#L10-L15

And `Apply` restarts cron:

[code]

[2018-12-02 11:38] JasMan78 commented on #2828
@fichtner : I'd noticed two problems with Unbound/OpenVPN and I thought the reason for both are the same main issue. Because the second problem occurs only after I've restarted the Unbound service manually to solve the first problem.
Now your patch solves the first problem by restarting Unbound automatically. But the restart still causes the second problem.

1. DNS for VPN clients is not working a

[2018-12-02 12:15] #2992 closed

[2018-12-02 12:15] AdSchellevis commented on #2992
@kenshin33 Thanks, it's a typo indeed

[2018-12-02 17:49] AdSchellevis commented on #2990
@opnsenseuser please try not to clutter issues with too much noise. We've identified this issue (too much entries to view in the diagnostic page), someone else might have another issue https://github.com/opnsense/core/issues/2986, both in the same area and totally unrelated....

This isn't helpful....

[2018-12-02 18:07] opnsenseuser commented on #2990
@AdSchellevis sorry, was not my intention. will not happen anymore

[2018-12-02 21:26] fraenki opened #2995 "Adding a VLAN on a LAGG breaks connectivity"
(Tested on OPNsense 18.7.8 as well as 18.1.3)

I've added a new VLAN on a LAGG interface and this broke connectivity to/from OPNsense for 1-2 minutes:

[code]

As can be seen from the log output, both uplink interfaces ix0 and ix1 went DOWN while adding the VLAN. As a result, the LAGG went down too and all CARP addresses followed.

Is there anything that could be improved to minimize the downtime?

[2018-12-03 09:34] AdSchellevis commented on #2995
@fraenki is this the latests version of OPNsense? I know there was a similar issue a long time ago, but some cards cause the same issue too.

[2018-12-03 12:42] fichtner commented on #2991
plugins.inc.d contains info such as services to be displayed in the service widget. we need to read all of them and we should not guard against fatal errors during require.

[2018-12-03 12:42] #2991 closed

[2018-12-03 12:45] AdSchellevis commented on #2689
@mimugmail this https://github.com/opnsense/core/pull/2996 adds an option to always send accounting messages, does that fix your issue?

[2018-12-03 13:14] fraenki commented on #2995
@AdSchellevis Sorry for that. 18.7.8 it is.

[2018-12-03 13:19] AdSchellevis commented on #2995
any hardware offloading enabled? "VLAN Hardware Filtering" should be set to "Leave default" for this to work without interruptions.

[2018-12-03 13:21] AdSchellevis commented on #2995
just checked on my vm, no interruptions there, I kind of expect settings in this case.

[2018-12-03 14:03] AdSchellevis commented on #2838
https://github.com/opnsense/core/pull/2965

[2018-12-03 14:03] #2838 closed

[2018-12-03 14:08] AdSchellevis commented on #2712
Monit (Services->Monit) can probably already do this for you.

[2018-12-03 14:18] mimugmail commented on #2689
Works great, thanks! 👍

[2018-12-03 14:18] #2689 closed

[2018-12-03 14:21] AdSchellevis commented on #2470
fixed with the new api enabled aliases. (checked source/destination/target on my install)

ref:
https://github.com/opnsense/core/blob/5d49c6afcda115fa563ca06e16bb165bc31f9d6e/src/opnsense/mvc/app/models/OPNsense/Firewall/Alias.php#L60-L64

[2018-12-03 14:21] #2470 closed

[2018-12-03 14:32] AdSchellevis commented on #2249
timeout

[2018-12-03 14:32] #2249 closed

[2018-12-03 14:46] fraenki commented on #2995
@AdSchellevis Settings on the affected host:

![int_settings](https://user-images.githubusercontent.com/909706/49380717-85bc9200-f712-11e8-87c4-f7d41a6a0168.png)

[2018-12-03 14:46] fichtner commented on #2995
can you try to set VLAN HW filter to "leave default" + reboot

[2018-12-03 14:50] fraenki commented on #2995
Sure, will try.

[2018-12-03 15:04] AdSchellevis commented on #2059
timeout

[2018-12-03 15:04] #2059 closed

[2018-12-03 15:11] AdSchellevis commented on #2038
timeout

[2018-12-03 15:11] #2038 closed

[2018-12-03 15:49] imidoriya commented on #2048
The client export also includes "--comp-lzo" which has been depreciated.  The new method is "--compress [algorithm]".

[2018-12-03 18:13] fichtner commented on #2828
@JasMan78 it's ok, now I understand. I thought we were moving sideways, sorry!

What did you set for active_interface under Unbound general options?

[2018-12-03 18:16] fichtner commented on #2850
Hi,

The update doesn't cause this. It looks like something is mangling your requests to the firewall. Could be anything... new component in the network, software, bad switch or cable or broken NIC on the firewall.

Cheers,
Franco

[2018-12-03 18:20] fichtner commented on #2663
November has been extremely busy, sorry. Bumping this to feature.

[2018-12-03 19:34] JasMan78 commented on #2828
@fichtner
Localhost
OpenVPN server: RAS SSL VPN (WAN, 192.168.15.1/24)
LAN_Mgmt (re1, 192.168.1.1/24)
LAN_User (hn1_vlan10, 192.168.10.1/24)
LAN_Guests (hn1_vlan100, 192.168.100.1/24)

[2018-12-03 20:33] fichtner commented on #2828
Shouldn't the order be OpenVPN last?

[2018-12-03 20:46] fichtner commented on #2682
26705ee0223 is probably part of the puzzle, but we'd have to guess what the suffix should be...

[2018-12-03 21:06] #2734 closed

[2018-12-03 21:10] fichtner commented on #2949
Just some thoughts...

I) should be https://github.com/opnsense/core/issues/1663 but we'll never probe or install automatically, just hint at missing things...
II) not sure, we could stall and wait for input or we could recover from scratch like when hard disk is inserted into a new hardware? middle grounds are fuzzy and highly subjective :/
III) c) is what we discussed for the import page tying a

[2018-12-03 21:12] fichtner commented on #2909
thanks for the config bits. not sure about providing IP address input or possibly hardcoding them...

[2018-12-03 21:21] #2839 closed

[2018-12-03 21:41] opnsenseuser commented on #2629
👍

[2018-12-03 21:43] jpawlowski commented on #2909
Input fields already exist, just would need to be extended in System > Settings > General:
<img width="665" alt="image" src="https://user-images.githubusercontent.com/75446/49403056-fc29b600-f74b-11e8-8086-5f571a94c55b.png">

Entries shall then be written to /etc/resolv.conf as before, just make sure the optional part will be truncated before.

The logic in Unbound to "Enable Forwarding Mode" shal

[2018-12-03 21:59] fichtner commented on #2909
Ok, DNS server selection in general is already pretty bad as it is... maybe we can fudge the ports and auto-assign. normally the ports don't matter because resolv.conf doesn't support it.

[2018-12-03 22:21] fabianfrz commented on #2922
final version committed by @AdSchellevis

[2018-12-03 23:07] fraenki commented on #2995
Disabling VLAN HW filter fixed the issue, a new VLAN could be added without any downtime. Thanks!

[2018-12-03 23:07] #2995 closed

[2018-12-04 02:32] aphor commented on #2834
I have to burn some vacation time this month. I spent some of my copious spare time in the last few weeks setting up a local test environment.

BTW: ipaddr in base python is a little problematic as it doesn't accept RFC compliant scoped local addresses. There is a bolt-on implementation which does though, in saltstack/salt.

[2018-12-04 03:59] lncan opened #3003 "Ipsec stop working after couple of hours"
Hi guys, I created a site to site tunnel between remote hosts from cloud and opnsense router. It's established. But after couple of hours work, it immediately stop. I don't know why? Can you please tell me the details solution about it? Thanks all.

[2018-12-04 04:45] mimugmail commented on #3003
Such a topic would better fit in the forums where a broader community can help troubleshooting config and logs

[2018-12-04 05:59] fichtner commented on #2995
4ba0fa679d it's the default for the 18.7.8 images coming this week. We missed this default configuration change for 18.7 unfortunately.

[2018-12-04 06:10] JasMan78 commented on #2828
Oh, I didn't know that the order is important. I wrote them down in a random order.
This is the real order of the interfaces

LAN_Guests (hn1_vlan100, 192.168.100.1/24)
LAN_Mgmt (re1, 192.168.1.1/24)
LAN_User (hn1_vlan10, 192.168.10.1/24)
Localhost
OpenVPN server: RAS SSL VPN (WAN, 192.168.15.1/24)

[2018-12-04 07:34] AdSchellevis commented on #2922
it should be safe to close this one now, (https://github.com/opnsense/core/pull/2926, https://github.com/opnsense/core/commit/8a4c4614420f332222d6fbf006c17bd6a35f7765)

[2018-12-04 07:34] #2922 closed

[2018-12-04 08:03] AdSchellevis opened #3004 "Firewall/Alias, perfomance regression in get_alias_description()"
https://github.com/opnsense/core/commit/e639924c9bf623e44bce58d4ebc4cb97449d564b
https://github.com/opnsense/core/commit/0546e813a5e1b3de48dedc3c9a0ff447e65f9df7
https://github.com/opnsense/core/commit/9ee732ae193d63dfb4efb4b7511153bccbf5ddad

[2018-12-04 08:03] #3004 closed

[2018-12-04 08:28] fichtner opened #3005 "console: port assignment should still ask for OPT when LAN was not requested"

[2018-12-04 08:43] AdSchellevis commented on #2915
https://github.com/opnsense/core/pull/3000

[2018-12-04 08:43] #2915 closed

[2018-12-04 08:48] AdSchellevis commented on #2905
@MichaelDeciso it looks like you're right here, let's kill PEAR.inc and return null. Eventually we should look for a replacement, but I'm not 100% sure what it should look like (Net_IPv6 doesn't look very active).

[2018-12-04 09:21] fichtner commented on #2905
super, thanks 👍

There's a newer version in FreeBSD ports maintained by pfSense, but looking at the issues we've had with IPv6 related address handling and manipulation it's probably not worth the effort also because it's impossible to test the impact and spot possible regressions.

[2018-12-04 09:21] #2905 closed

[2018-12-04 09:22] fichtner commented on #2905
(zero issues with faulty IPv6 address manipulation just to fill that implication)

[2018-12-04 10:54] AdSchellevis commented on #2130
https://github.com/opnsense/core/pull/3009

[2018-12-04 10:54] #2130 closed

[2018-12-04 10:57] fichtner opened #3010 "importer: zfs listing could yield a description separated via whitespace"

[2018-12-04 12:52] alexpro commented on #3010
There is a quite simple solution using IFS variable, I just tested it with simple sh script:
[code]
I have two non-root ZFS pools in my test system and one containing spaces in its name.
Output of zpool get -H cachefile:
[code]
Output of script:
[code]

[2018-12-04 12:55] fichtner commented on #3010
should we be supporting ZFS pools with spaces? I'm surprised this works... What I mean was list them in a more useful way:

[code]

The reason is that there would be more help in scenarios where more than one ZFS pool exists so one knows which one to grab the configuration from.

[2018-12-04 12:56] fichtner commented on #3010
@alexpro FYIW, import works well with your changes... I tested this extensively 👍

[2018-12-04 13:46] alexpro commented on #3010
Size of the pool is quite difficult to determine, because pool may contain several physical drives or partitions with different sizes. I don't even know for now, how to do this better... Pool configuration must be determined first, and then it's need to calculate sizes of all pool members according to configuration.

[2018-12-04 14:18] MichaelDeciso commented on #2919
I was wondering: are we talking about just notices via SMTP, or are we talking about all `notices.*.inc` files?

[2018-12-04 14:34] AdSchellevis commented on #2919
The ones aiming the user directly should stay (firewall load issues), they don't need to be broadcasted via mail.

[2018-12-04 14:36] MichaelDeciso commented on #2919
Ah. How about the SASL files, for example the one with NTLM authentication? Would those stay or be removed? (I can't find direct evidence of that one being used, for example, but it does use the mcrypt extension, which has been removed in PHP 7.2).

[2018-12-04 14:38] AdSchellevis commented on #2919
@MichaelDeciso  leave all for now, we need a replacement for the gateway switch detection, then we can start removing stuff. In case you would like to work on that part, just let me know.

[2018-12-04 14:53] ahaase-c4u opened #3012 "User import not working"
After update to OPNsense 18.7.8 the user import for ldap users does not work in Firefox 60.3.0. There is no popup or popup request. Even completely disabling popup blocker does not solve the issue.

Not sure, whether this is related to the bug, but opening the browser console and the clicking on import, there gets displayes the message, that an event is not defined. When using Chrome, all works fi

[2018-12-04 15:08] #3012 closed

[2018-12-04 15:08] AdSchellevis commented on #3012
@ahaase-c4u thanks, https://github.com/opnsense/core/commit/e17dc86235a51f962796d61f4e74d73c692f6d01 should fix the issue

[2018-12-04 15:10] ahaase-c4u commented on #3012
I can confirm, the patch fixes the issue. Thank you very much.

[2018-12-04 21:53] steveo1664 commented on #2963
ooops, sorry.

[2018-12-04 21:53] #2963 closed

[2018-12-04 22:35] NOYB commented on #2991
Thanks for the explanation.  Please entertain a follow up question.

Does the services widget or other dashboard features need dyndns.inc, rfc2136.inc, wol.inc, and such?
Their respective widgets obviously.  But those have, or should have, their own require statements.
Just seems like that if plugins.inc.d/*.inc is to be loaded that maybe some of these don't need to be there.  Maybe in a respectiv

[2018-12-04 23:40] sammie-p opened #3013 "Tokenizer2 delimiter in UI - can't use Regex quantifiers because of comma"
On the proxy ACLs page, I'm trying to add the following regex to blacklist:
192\.168\.[0-9]{1,3}\.[0-9]{1,3}

But the field keeps separating by comma.

Please provide an option to use a different delimiter or choose a delimiter that is never part of a regex expression.

[2018-12-05 05:08] mimugmail commented on #3013
The field doesn't support regex, just use 192.168.0.0/16 ...

[2018-12-05 05:12] sammie-p commented on #3013
The field is Blacklist on the Web Proxy -> Access Control List tab.
![capture](https://user-images.githubusercontent.com/19430483/49491505-8ab34a00-f8a8-11e8-8a2e-cd57861eb5eb.PNG)

[2018-12-05 05:19] sammie-p commented on #3013
The issue is we have internally hosted websites (eg http://192.168.0.1/) that we want to block for users of our 'guest' VLAN. We can firewall our internal network to block traffic from the guest VLAN, but when the guests are using the transparent proxy, this firewalling is bypassed.

[2018-12-05 05:50] mimugmail commented on #3013
Workaround would be to add a `no rdr` rule in front of the transparent proxy NAT.

[2018-12-05 11:06] rene-demonsters commented on #2988
In order to reach a wider audience and in hopes of getting down to the case, I've opened a topic on the forum: https://forum.opnsense.org/index.php?topic=10525

[2018-12-05 13:33] bbaumer opened #3015 "IPv6 FW Rule from WAN IP to ff02 missing (NDP)"
Freshinstall on Version: 18.7.8

Setup:
Static IPv6 Address on WAN. The ISP-Gateway is on the same Net (Transfer-Net).
After Reboot no IPv6 Communication is possible, because the Neighbor-Discovery can not be completed.

There is an outgoing pass Rule from the WAN-IP to ff02::/16 for icmp6-type 135 (Neighbor Solicitation) missing.
This Rule should be automatically generated.

Workaround:
Generate

[2018-12-05 13:43] fichtner commented on #3015
We do have all of these hardwired:

[code]

From your description it looks like this one is "mismatching":

[code]

The only reason why that would happen is fe80::/10 is not being used as traffic source?

[2018-12-05 13:49] AdSchellevis commented on #3015
If I'm understanding the rfc correctly, the router should broadcast itself using it's own address, which in our case is send to the gateway instead of being multicasted:

that would mean we should discard route-to for our outbound ipv6-icmp to ff02::/16 traffic, right?

[2018-12-05 13:53] fichtner commented on #3015
where would reply-to be set?

[2018-12-05 13:55] fichtner commented on #3015
sorry, route-to.. do you mean "let out anything from firewall host itself" ?

[2018-12-05 13:56] AdSchellevis commented on #3015
yes, my mistake, I was just looking for the exact reference, but that's it. I can fix this later if you like. we should probably add a rule here, since we also have the others in there too.

[2018-12-05 13:58] fichtner commented on #3015
but shouldn't the hardcoded ipv6 quick pass without the route-to already catch this?

[2018-12-05 14:00] AdSchellevis commented on #3015
no, since it's not using fe80::/10, but it's own address to multicast  (again, assuming I read the rfc correctly)

[2018-12-05 14:09] fichtner commented on #3015
why not set from {fe80::/10,ff02::/16} for the out rule then?

[2018-12-05 14:12] AdSchellevis commented on #3015
and just drop the from part, that would probably be fine too, easiest fix if you ask me.

[2018-12-05 14:12] fichtner commented on #3015
I see, it would send from its global address oO

[2018-12-05 14:14] fichtner commented on #3015
@bbaumer one question, do you have IPv6 Upstream Gateway set under WAN or left it at "auto-detect" ?

[2018-12-05 20:52] sammie-p commented on #3013
Thanks, I will add a firewall rule as a workaround.

[2018-12-05 23:07] jpawlowski opened #3016 "Menu item "System > Access > Configuration" is gone"
Referring to the documentation [here](https://wiki.opnsense.org/manual/users.html?highlight=radius), I am unable to find the menu entry for "System > Access > Configuration":
![image](https://user-images.githubusercontent.com/75446/49550031-bd7e3200-f8ea-11e8-95e6-fe052323c486.png)

I was looking for the described settings in other sections for quite a while but did not succeed.
I was wondering wh

[2018-12-06 07:01] mahescho commented on #3015
I've the same problem with 18.7.8-amd64 and a static internet connection. For me @bbaumer  s workaround does not work. I've to do "pfctl -d" and then "pfctl -e" to make it work.

[2018-12-06 07:51] AdSchellevis commented on #3016
A bug in the docs it seems, yes.

**System->Access->Servers** for servers, the gui auth servers are defined in **System->Settings->Administration** [Authentication-> Server]

[2018-12-06 10:02] bbaumer commented on #3015
@fichtner: I tried both Settings "IPv6 Upstream Gateway" and "auto-detect". It makes no difference. Actually it is set to "auto-detect".

[2018-12-06 11:39] mimugmail opened #3019 "Feature Request: List link status in interface assignment"
See screenshot:

![image](https://user-images.githubusercontent.com/20438689/49581870-a0317e00-f953-11e8-85c4-9b8c61d84ccb.png)

One of these interfaces has a new link (co-worker plugged cable).
Would it be possible to add the link status in the dropdown list? So I know which interface to configure/assign?

In Interfaces : Overview I can also check the link status, but only for already assigned in

[2018-12-06 11:46] AdSchellevis commented on #3015
@bbaumer can you try https://github.com/opnsense/core/commit/c3213d4d918e0675478feda494dc385ae6ccecd1 ?

[2018-12-06 11:48] AdSchellevis commented on #3019
link status sounds useful indeed.

[2018-12-06 12:37] fichtner commented on #3015
I want to work on a related oddity still :)

[2018-12-06 12:44] bbaumer commented on #3015
"pfctl -d" and then "pfctl -e" will only temporarly fix the Problem, because Entries in the Neighbor-Table have a Lifetime (24h). You can look at the Entries with ndp -atn

[2018-12-06 13:20] AdSchellevis commented on #3019
this?
![image](https://user-images.githubusercontent.com/9783985/49586674-1dfc8600-f962-11e8-86e8-db43ee8a749b.png)

[2018-12-06 13:22] mimugmail commented on #3019
Looks nice .. perhaps the downlink a bit more red as with a high resolution green and orange is quite near :)

[2018-12-06 13:30] #3019 closed

[2018-12-06 15:30] Kimotu opened #3020 "Unbound as forwarder only does not work / option ignored"
In latest opnSense release 18.7.8, unbound ignores the option to work as forwarder only.

No matter whether ` Enable Forwarding Mode ` is checked or not, it always queries root servers. I also checked the config files in `/var/unbound` and with grep no forwarding option in config is found.

I have added system dns servers in ` System: Settings: General` that shall be used.

[2018-12-06 16:18] fichtner commented on #3020
To pinpoint we need the last know good release?

[2018-12-06 16:36] sjorge opened #3021 "Disabling checksum offloading does not disable checksum offloading for IPv6!"
[code]

As you can see the _IPV6 variants are still enabled after a reboot.

[2018-12-06 18:30] mahescho commented on #3015
This fixed the issue for me with 18.7.8-amd64 !

[2018-12-07 08:47] fichtner commented on #3020
I see what you're saying. Let me work on this, I think get_dns_servers() should be removed completely as it has side-effects. It's only used once really in the unbound code and dnsmasq does this more gracefully already (good comparison for forwarding mode).

[2018-12-07 11:29] AdSchellevis opened #3023 "OpenVPN nat firewall race"
I don't have a proper solution for this yet, but in some cases when having portforwards from the OpenVPN net the filter  isn't loaded during boot.

Caused by https://github.com/opnsense/core/blob/71043f1bb796fdc51444f8ad176e3546208054fe/src/opnsense/mvc/app/library/OPNsense/Firewall/ForwardRule.php#L62

The problem is that `openvpn:network` complains in these cases., I'm not sure if the issue was

[2018-12-07 11:31] fichtner commented on #3023
Would try to remove () to see if the issue persists.

[2018-12-07 12:33] fichtner commented on #3020
Can you try this patch? 5cf8b4f2e

    # opnsense-patch 5cf8b4f2e

Thanks,
Franco

[2018-12-07 13:10] fichtner opened #3024 "configuration handling hiccup"
[code]

This config.xml portion causes an error in the migration:

[code]

Part of the underlying issue is that get_staticroutes() calls config_read_array() which does auto-vivification of staticroutes\route into an array which causes this. This side effect was expected although it's not pretty when the config is flushed after manipulation and I'm not sure where.

But wouldn't it be better to igno

[2018-12-07 13:22] AdSchellevis commented on #3023
@fichtner there wasn't enough time todo so, maybe I can replicate the behaviour.

[2018-12-07 13:37] AdSchellevis commented on #3024
hmm, I think it should always be able to construct the model, this sounds a bit buggy... I'll check

[2018-12-07 14:04] Kimotu commented on #3020
I can try it on Monday.

Am Fr., 7. Dez. 2018, 13:33 hat Franco Fichtner <notifications@github.com>
geschrieben:

[2018-12-07 14:32] fichtner commented on #3024
Creates the migration issue below, but that looks reasonable on first glance... I'll keep this under observation. Thanks!

[code]

[2018-12-07 16:06] enoch85 commented on #2591
**IT WORKS!**

What I did:

1. Replaced the cable and did a live boot with 18.7
a) Got a warning that my WAN interface didn't work
b) Renewed the IP --> Worked
c) Noticed that I couldn't reach the servers sites from my WIFI net, but it was reachable from LTE (or outside of my own network)

2. Figured I could live with not reaching the DNS for the sites I host (could just use network outside my own

[2018-12-08 09:46] soder10 commented on #2894
Just as I expected: happened today again, at exactly 1 week later.
I checked what was happening: I get a PPPOE disconnect event (most probably my ISP drops my connection after 1 week uptime, dont know for sure who initiates that)

//the last line before the current issue is from dec1, when the previous disconnect-reconnect event happened, so betwen the 2 events there is exactly 1 week silence //
D

[2018-12-08 09:51] fichtner commented on #2894
You probably set explicit Unbound Interfaces?

[2018-12-08 09:57] soder10 commented on #2894
You are correct, I mentioned recently to protect DNS by not even listening on WAN. But after you said it may silently break things, I reverted that config back, so it listens on ALL since a couple of weeks.

[2018-12-08 09:58] fichtner commented on #2894
Hmmm, maybe your reconnect comes back with the same IP? it might be that it doesn't know that it must rerun configuration when the IP is back

[2018-12-08 10:01] soder10 commented on #2894
Nope, it gets a completely different IP after the succesful reconnect.

[2018-12-08 10:08] fichtner commented on #2894
Ok, I'm testing Unbound 1.8.2 just now, but here's another patch that will help recover from a crashed unbound in your particular case (listen "all"): 3d8fd0088af

    # opnsense-patch 3d8fd0088af

[2018-12-08 10:21] soder10 commented on #2894
Thanks, I applied the patch (seems succesfully). Did a forced pppoe disconnect -> unbound stopped and could not start with the same error message.
 But after approx 1 minute, it tried another attempt to start, and finally it started.

[2018-12-08 10:39] soder10 commented on #2894
I see what you mean: this patch is a workaround, the real issue is why does unbound search for the config file at the wrong location?

[2018-12-08 10:41] fichtner commented on #2894
https://github.com/opnsense/core/blob/3d8fd0088af70fbcd511f6766ae24f4c25c7c124/src/etc/inc/plugins.inc.d/unbound.inc#L464

That's the only spot we ever start Unbound and as you can see it has a full path to the file. The chroot directive is inside unbound.conf, so how Unbound can say "./unbound.conf" is not found while adhering to the information *inside* the file is beyond me. :D

[2018-12-08 10:50] soder10 commented on #2894
The only speciality I have is the following in the Custom options section:

include: /usr/local/etc/unbound/unbound_advertisement_serverlist_2018.11.28.txt
extended-statistics: yes
( I have a suspicion the 1st line is causibg the problem)

I did a quick test and removed these 2 lines, saved the change, applied it, then disconnect-reconnect ppoe -> seems unbound started correctly this time

[2018-12-08 10:52] fichtner commented on #2894
you should place this file in /var/unbound/ with chown unbound:unbound to be sure...

[2018-12-08 10:54] soder10 commented on #2894
The only problem my /var is on tmpfs, so the next reboot wipes it. Yet another syshook script?

[2018-12-08 10:55] fichtner commented on #2894
symlink might work. it's your setup :)

[2018-12-08 13:41] AdSchellevis opened #3026 "Phalcon view scope (phalcon-3.4.2)"
Cleanup for https://github.com/phalcon/cphalcon/pull/13288, https://github.com/opnsense/core/commit/7504bd00a2309cbac5b28539f169e3b3f0f49f7d added a workaround, which we could keep for now when switching to phalcon-3.4.2.

I rather cleanup after 3.4.2 is in our release, so people could still revert to the previous phalcon version if there's still an issue we've overlooked.

[2018-12-09 02:53] fichtner commented on #278
You can set a nightly cron job under System: Settings: Cron.

[2018-12-09 08:10] fabianfrz opened #3028 "{} (empty Hash) is defined"
The return value [here](https://github.com/opnsense/core/blob/master/src/opnsense/service/modules/addons/template_helpers.py#L114) is defined in a template so the usual `xyz is defined` check does not work.

See https://github.com/opnsense/plugins/pull/1051/files#diff-679ee727c01829533c1fe26132e2ccdaR231 for a working workaround.

[2018-12-09 08:10] MinesweeperM commented on #278
Thank you for answer :) Yes, i do so and it works...

[2018-12-09 10:54] AdSchellevis commented on #3028
@fabianfrz your proposal is to drop `{} `and return None? or am I missing something?

[2018-12-09 12:11] fabianfrz commented on #3028
Maybe it works then but it would be a breaking change which I would not do in a minor release

[2018-12-09 13:11] AdSchellevis commented on #3028
I guess, the following construct should also (already) work in your situation:

`{%         if location.urlpattern %}`

[2018-12-09 13:44] fabianfrz commented on #3028
I can try it - it just needs to be a false value but the problem is that this affects maintainability as a contributor may not understand why there is a match to an arbitary field.

[2018-12-09 14:03] AdSchellevis commented on #3028
I'm not sure I understand, `getUUID()` returns an empty object, so a check for existence for any property would in this case always result in false.

[2018-12-09 19:01] #3023 closed

[2018-12-10 08:40] fichtner commented on #1983
Overcome by https://github.com/opnsense/core/issues/2919

[2018-12-10 08:40] #1983 closed

[2018-12-10 08:41] fichtner commented on #2912
Done via https://github.com/opnsense/core/commit/862d6a86d6ff if I'm not mistaken.

[2018-12-10 08:41] #2912 closed

[2018-12-10 08:42] fichtner commented on #3020
@Kimotu not trying to rush you but if you can confirm today I can shortcut this to 18.7.9 for Wednesday :)

[2018-12-10 11:09] #2891 closed

[2018-12-10 11:13] AdSchellevis opened #3033 "firewall: logging for NAT rules"
leftover from https://github.com/opnsense/core/issues/1494 see https://github.com/opnsense/core/commit/c6df560fa6133c781a6588e64a364c616903da08

[2018-12-10 11:14] fichtner commented on #3033
Thanks... wanted to talk about that when you have some time

[2018-12-10 11:16] #2981 closed

[2018-12-10 11:17] AdSchellevis commented on #3033
found it while going through the diffs

[2018-12-10 15:36] clystron commented on #2795
Note: after adding IP-Aliases on the same VHID the "orginal" CARP entry can no longer be edited because the VHID is detected as non-unique. Tested on 18.7.6

[2018-12-10 15:38] AdSchellevis commented on #2795
https://github.com/opnsense/core/commit/754d483b868f9a46c05051b1881da8b4974d2ec2

[2018-12-10 15:38] #2795 closed

[2018-12-10 15:40] AdSchellevis opened #3034 "xmlrpc-sync, alias+vhid"
Synchronise VIP's using vhid's, partially discussed here https://github.com/opnsense/core/issues/2795

[2018-12-10 15:42] AdSchellevis commented on #2795
Closed the issue in favour of https://github.com/opnsense/core/issues/3034 for the remaining part

[2018-12-10 20:03] fichtner opened #3035 "interfaces: squelch warnings during parse"
[code]

via https://forum.opnsense.org/index.php?topic=10614.0

[2018-12-10 21:17] AdSchellevis commented on #3035
this shouldn't happen,

[2018-12-10 21:20] AdSchellevis commented on #3035
This shouldn't happen, `'option'` from the error here
https://github.com/opnsense/core/blob/18.7.8/src/etc/inc/interfaces.lib.inc#L359

Is always initialised here:
https://github.com/opnsense/core/blob/c5acb417ab35fee5fe373b3a812c9ae7cda2d73c/src/etc/inc/interfaces.lib.inc#L234

Maybe a broken patch installed?

[2018-12-10 21:31] fabianfrz commented on #3035
@AdSchellevis  except in probably one case: the interface did not exist yet when ifconfig was called…

[2018-12-10 21:32] #2960 closed

[2018-12-10 21:33] fraenki commented on #2590
I have the same issue on 18.7.8: after updating an existing alias, the change is not propagated to `pf`. When looking at `Firewall: Diagnostics: pfTables` the alias still shows the old value; the file in `/var/db/aliastables/ALIASNAME.txt` also shows the old content.

@AdSchellevis Any advise how to debug this? Maybe there's a way to reload from console and get more verbose output?

[2018-12-10 21:36] AdSchellevis commented on #3035
@fabianfrz your right, it's not` legacy_interfaces_details()`, but `legacy_interface_details()` that's returning an empty result set.

[2018-12-10 21:42] #3035 closed

[2018-12-10 21:42] AdSchellevis commented on #3035
@fichtner https://github.com/opnsense/core/commit/8b73d9e73b093e5f290cda9f1e9945d6550468ed should be the issue here :)

[2018-12-10 21:47] AdSchellevis commented on #2590
Just to be sure, you did hit apply and there's enough memory reserved for the tables (firewall advanced)?

When properly applied, the alias content is saved to `/usr/local/etc/filter_tables.conf`, which will be synced to pf using :

`/usr/local/opnsense/scripts/filter/update_tables.py`

Errors should normally appear in syslog (backend/general)

[2018-12-10 22:22] fraenki commented on #2590
"Firewall Maximum Table Entries" is set to 5.000.000 now, no change.

The change is visible in this file. However, I should note that this is about a nested alias: one alias contains other aliases of type "network".

I was able to run this script without any error. But `Firewall: Diagnostics: pfTables` still shows the old alias state.

No errors in `system.log` nor `configd.log`. :(

[2018-12-11 06:18] fichtner commented on #3035
Aha, nice catch. I changed the behaviour slightly in 7fe52b21b to always return an empty array because I thought that would be safer than doing call_this_one()['now_get_this_magic_offset'] that PHP seems to handle with null silently.

[2018-12-11 07:47] AdSchellevis commented on #2590
@fraenki would it be possible to get your alias section? if I can reproduce it here, I can probably fix it.

[2018-12-11 11:14] AdSchellevis commented on #2918
Hi @fbrendel,  @MichaelDeciso added some basic documentation (https://github.com/opnsense/docs/pull/91),  maybe you want to review it before we publish it do the docs.

[2018-12-11 13:39] zhouska opened #3036 "Unable to install OPnsense on Dell R220"
I'm facing installer issues when attempting install onto Dell R220 with 32GB RAM.

I've tried most recent images for USB and DVD, GPT and MBR versions, but the installer fails at various phases of 'cpdup' command:

FAILED with a return code of  1

There are no any meaningless logs I can see to decipher what is wrong with the installation.

[2018-12-11 13:42] zhouska commented on #3003
Is it a fresh install or after an upgrade?

[2018-12-11 14:30] fichtner commented on #3003
sounds like a rekey issue

[2018-12-11 14:38] fichtner commented on #3036
There is a log under /tmp/installer.log -- but if cpdup fails there's a bad write return from the harddisk. Could be bad wiring or hardware, driver compat issue.

Have you tried with the 19.1-BETA images? They have a more recent kernel...  https://forum.opnsense.org/index.php?topic=10135.0

[2018-12-11 14:41] AdSchellevis commented on #1632
tested, it is.

[2018-12-11 15:10] fbrendel commented on #2918
Cool :smiley:
Looks good.

[2018-12-11 15:32] zhouska commented on #3036
hm, tried it just now, the same problem.... Most recent debian installs onto the server without any issues... Getting scsi medium errors in the log - Error 5: Untertryable error, and then vm_fault.  I'm using the virtual media to mount the iso.

[2018-12-11 16:23] fraenki commented on #2590
@AdSchellevis Sure, here we go. I've constructed a test case of the nested structure and I was able to verify on my test machine that the pf table `test_networks` will remain empty in this case.

[code]

(spaces added to better distinct sections)

[2018-12-11 16:26] fraenki commented on #2590
@AdSchellevis One more addition: Apparently this seems to be related to aliases of type `GeoIP`. If I disable the only GeoIP alias, then the pf tables will be properly populated. It seems that GeoIP aliases break things. How to go on from here?

[2018-12-11 16:32] fraenki opened #3037 "Unable to delete alias: An API exception occured"
OPNsense 18.7.8

When trying to delete an alias, the following error message is shown:

More details from `/tmp/PHP_errors.log`:

[code]

The alias in question has the following configuration:

[code]

[2018-12-11 17:41] imidoriya commented on #3037
I got this error also while trying to rename an alias.

[2018-12-11 20:37] AdSchellevis commented on #3037
@fraenki can you try https://github.com/opnsense/core/commit/54af1c434d274d00743fff0564e2e2f0fea7069d ?

[2018-12-11 20:40] AdSchellevis commented on #2590
@fraenki if you ls the alias directory, does it change? Maybe it's active and locked
`
ls -als /var/db/aliastables/
`

[2018-12-11 20:58] AdSchellevis commented on #2482
https://github.com/opnsense/core/pull/3022

[2018-12-11 20:58] #2482 closed

[2018-12-11 21:42] wisnerca opened #3038 "IPv6 routes to delegated prefixes get lost occasionally"
I get a /60 from Comcast via prefix delegation (let's assume abcd:abcd:abcd:abcd::/60). I use a few of the /64 subnets on various LAN/OPT interfaces. I ALSO have abcd:abcd:abcd:abcd:f::/64 routed to a VPN server that runs on another box. I have a static route to my vpn server to take care of this.

This setup works for a few days, then the route disappears from the routing table in "netstat -r" an

[2018-12-11 21:47] fichtner commented on #3038
Just to be clear, it's a DHCPv6 WAN with automatic IPv6 tracking for LAN/OPT set? And the /60 prefix changes or remains static? The static route part refresh throws me off.

[2018-12-11 21:51] fraenki commented on #3037
@AdSchellevis your patch fixes the issue, thanks!

[2018-12-11 21:51] #3037 closed

[2018-12-11 22:08] fraenki commented on #2590
@AdSchellevis Indeed, an `ls -alsrt /var/db/aliastables/` looks strange: the `test_networks` file from my test is not updated at all; I've tried multiple changes and hitting "Apply" several times. Besides that the GeoIP alias file is empty. I've tried to create a new GeoIP alias, but only the `ALIASNAME.self.txt` file is created, nothing else, the other files are missing completely.

Not sure why,

[2018-12-12 00:17] wisnerca commented on #3038
The wan is DHCPv6 requesting a /60 PD. The LAN/OPT use IPv6 tracking. Unfortunately it seems that neither static routes nor NPTv6 support tracking, so I just set it manually since my delegation only changes if the RRD data changes. Hopefully in the future there will be support for tracking in this and firewall rules, but this isn't the issue since my /60 didn't change when the route disappears.

T

[2018-12-12 07:46] AdSchellevis commented on #2590
hmm, it suggest it crashes out on "refresh_aliases",

ok, next steps:

1) does /tmp/filter_update_tables.lock exist at this time?
2) is it running (`ps fax | grep update_tables`)?
3) if both no at this time, what does `/usr/local/opnsense/scripts/filter/update_tables.py `output when run from the console?

[2018-12-12 07:47] AdSchellevis commented on #3037
@fraenki thanks for confirming!

[2018-12-12 12:32] fraenki commented on #2590
1. file exists, but with a really old timestamp:
[code]

2. nope, no process found

3. ah, that's interesting:

[code]

[2018-12-12 14:08] Kimotu commented on #3020
@fichtner Sorry for late answer, but I was ill.

I applied the patch and forwarders get added as expected. So your fix works.

[2018-12-12 14:15] fichtner commented on #3020
Thanks, will ship in 18.7.10. 18.7.9 is going out today so you will need to reapply the patch after update.

Hope you're feeling better!

Cheers,
Franco

[2018-12-12 14:15] #3020 closed

[2018-12-12 16:16] esoleyman commented on #1931
I'd like to re-open this ticket and I just ran into this issue about 5 minutes ago. I'm running opnsense 18.7.8. Please let me know what details you require.

[2018-12-12 17:08] AdSchellevis commented on #2590
duplicate https://github.com/opnsense/core/issues/2986 fix https://github.com/opnsense/core/commit/a8b0c06de448cc0e154dd22520f2bbc721d6c396

[2018-12-12 17:20] fichtner commented on #2590
it's in 18.7.9 then...

[2018-12-12 18:56] bendiy opened #3040 "Dynamic DNS updates cannot use Multi_WAN interface"
Versions:
* OPNsense 18.7.7-amd64
* FreeBSD 11.1-RELEASE-p15
* OpenSSL 1.0.2p 14 Aug 2018

I'm not sure if this is a `core` issue because of Multi_WAN or a Dynamic DNS issues in `plugins`.

I have setup OpnSense with Multi_WAN fail over, which is working great. I have two WANs setup with the first as the default gateway and the second as a tier 2 fail over gateway. Disconnecting `WAN1` (`5.6.7.8`)

[2018-12-12 22:01] bendiy commented on #3040
I tried to add a firewall rule to `WAN2` to allow it to ping or make the Dynamic DNS update request all the time. When `WAN1` is up and still the primary I can't seem to get anything out on `WAN2` other than the ping to the `Monitor IP`, `8.8.8.8`.

![wan2-rules](https://user-images.githubusercontent.com/571574/49901520-9fe72600-fe1e-11e8-85a1-ed873a751ca0.png)

![wan2-ping](https://user-images.gi

[2018-12-12 22:09] #1632 closed

[2018-12-12 22:22] marjohn56 commented on #1632
Nice one Ad...

[2018-12-12 22:38] thutex opened #3041 "allow dns server port"
We now have the dnscrypt proxy. great.
However, when setting it up i was trying to have this situation:

- clients query the firewalls local dns server (for local domains and filtering etc etc, port 53)
- if the firewall needs to resolve the query, it should use the dnscrypt server (localhost port 5353)

however in system/general/settings under networking - where we enter the general dns servers t

[2018-12-13 04:54] mimugmail commented on #3040
Locally initiated connections wont work with failover groups.

Did you enable default gateway switching?

[2018-12-13 04:56] mimugmail commented on #3041
Yep, you need to run it on port 53, thats why I added the checkbox for higher privileges.

[2018-12-13 07:31] mimugmail commented on #3041
An IP alias for an unassigned interface? Is this possible?

[2018-12-13 07:34] thutex commented on #3041
i have dnsmasq running on port 53 for all my vlans, so dnscrypt has to run on another port.
if an ip alias cant work, maybe add an option to dnsmasq (and unbound) ?
i know dnsmasq supports dns servers on other ports with server=127.0.0.1#5353, but there is no option to add the (general) dns servers to use since it are the system ones by default.

[2018-12-13 07:42] MUSHROOMHOME commented on #1931
I got tiresome and installed pfsense.
And within a couple of hours I got openvpn up and running.
Sorry but no one were interested in solving the bug and I didn't save any
feedback form the system or the deamon.

With best regards John.

On Wed, Dec 12, 2018, 17:16 Emil Soleyman <notifications@github.com wrote:

[2018-12-13 07:57] fichtner commented on #3041
Loopback is not unassigned ;) You can actually select it from VIPs...

[2018-12-13 07:58] fichtner commented on #3041
Again, you need to run it on 127.0.0.2:53 or other. It's impossible to move it somewhere else.

[2018-12-13 08:01] mimugmail commented on #1931
@MUSHROOMHOME sorry, but did you provide any logs or something else? On all issues I saw there was plenty of feedback from the dev's.

So when you want to invest some time, try to set it up again with current version and reproduce.

I'm (and thousand others) run OpenVPN fine, also with multiple instances, also with multiple WANs, also with Failover, also for Site2Site or Remote Access.

[2018-12-13 08:03] mimugmail commented on #3041
Oh, I totally overlooked this :/ Maybe because `Interface` is called `Localhost`

[2018-12-13 08:04] fichtner commented on #3041
Good point, let me change that...

[2018-12-13 08:50] goor4 commented on #2244
DHCP-Error occured again
  on OPNsense 18.7.8
  at 2018-12-12 10:30

The Log-Message was:
[code]

[2018-12-13 08:57] fichtner commented on #2244
I have no idea what exit code '15' is and where it comes from. It really can't be ENOTBLK and according to the output it gets an ACK from 192.168.100.1 but gets stuck afterwards.

[2018-12-13 08:59] #2886 closed

[2018-12-13 09:01] fichtner commented on #3040
You haven't posted your System: Settings: General DNS server setup which is integral to multi WAN.

[2018-12-13 09:03] fichtner commented on #2244
We should probably close this in favour of a feature that will be able to handle this as I don't see how this can be fixed if dhclient just exits: https://github.com/opnsense/core/issues/2517

[2018-12-13 09:34] fraenki commented on #2590
Applied https://github.com/opnsense/core/commit/a8b0c06de448cc0e154dd22520f2bbc721d6c396 manually and it fixes the bug. Thanks, guys! (I'd close this issue, but I'm not the original reporter.)

[2018-12-13 09:36] fichtner commented on #2590
ok, great. thanks for confirming!

[2018-12-13 09:36] #2590 closed

[2018-12-13 10:25] hutiucip opened #3042 "Easy way to revert changes, especially for remote locked-out scenarios"
Maybe a "Cisco-like" approach would be something worth considering?

I mean, having 2 separate configs:

1. A running config, effective immediately at "Save"
2. A start-up config, effective at OS load. Would require an extra "Save to start-up config" step to be modified.

This way, if a mistake is made, and you get locked-out or something, a restart would be also a roll-back, since no "Save" has b

[2018-12-13 10:32] Droppie391 opened #3043 "[Feature request] HAproxy dial pppoe interface on MASTER only"
in a HA environment, it would be nice if the master node would dial the pppoe interface while the backup node would NOT.
i would imagine this can be controlled by monitoring the CARP status and then enabling/disabling the pppoe (wan) interface accordingly.
at present we have to enable/diable the wan interface manually to avoid both nodes to connect, resulting in routing problems with our ipsec lin

[2018-12-13 11:36] fichtner commented on #2992
Nice catch, fixed via 98bd679ba

[2018-12-13 13:42] mimugmail opened #3044 "Unbound: sets forward-zone "." to system DNS"
It seems with some of the last versions the unbound.conf gets a magic setting:

[code]
No idea if this was a changed introduced by unbound of OPNsense. But with this setting a forwarding option for BIND or DNSCrypt-Proxy is not usable anymore:

[code]

From the logs:

`unbound: [34359:3] error: duplicate forward zone . ignored.`

[2018-12-13 13:49] thutex commented on #3041
@fichtner : i have the proxy running on 127.0.0.1:5353, point the general dns/resolv.conf to 127.0.0.1, where dnsmasq is listening.
using the advanced options i added server=127.0.0.1#5353 to point to the proxy.

so it is perfectly possible, but the question is if its the best way to do this.
(i like how we dont have to give the proxy any elevated privileges this way)

[2018-12-13 13:55] hirschferkel commented on #2244
In my case the problem was in connection with a Fritz!box in front. Despite the fact that all ports were open and dhcp was enabled, I always got stuck with OPNsens.
After I just switched to bridged mode an Fritz!box everything run perfectly again...+
Best, hirschferkel

[2018-12-13 13:56] mimugmail commented on #3041
This is perfectly fine. Some ppl. are concerned about a second resolver involved cause of latency, but sine this is just a local connection it should be minimal ...

I added some stuff for the docs:
https://github.com/opnsense/docs/pull/92/files

[2018-12-13 14:01] thutex commented on #3041
@mimugmail maybe also add an option to set the static sources instead of the public lists?
great work btw :)

[2018-12-13 14:09] mimugmail commented on #3041
I have to think about this.

In general I don't like the idea because when provider blocks the host or port you're out. It's also prone to user errors leading to more tickets (and work) :)

For now we'll stick with the file, but if more users complaining I'm the last one stopping progress :)

[2018-12-13 14:10] goor4 commented on #2244
- In my case, this is a real Cisco Cable-Modem an not a Fritz-Box
- The Cable-Modem act as a simple ethernet-bridge
- If connection is lost, it toggled Ethernet-Interface down and up, which is connected to the OPNsense-Box
- if the modem has after that no connection trough cable-provider to the internet, it gives via dhcp a local address back in the range 192.168.100.x
   - This is the fallback, b

[2018-12-13 14:47] fichtner commented on #3041
@thutex right, for chaining that is correct in advanced options

[2018-12-13 14:48] fichtner commented on #3044
18.7.9 or 19.1.b ? it's a misconfiguration probably, forwarding mode is enabled in unbound...

[2018-12-13 14:49] fichtner commented on #3044
See https://github.com/opnsense/core/issues/3020

[2018-12-13 15:23] goor4 commented on #2244
The feature in #2517 looks interesting, since interface up/down then events are then irrelevant.
Also if you don't get any up/down-Events because of active network in between like switch or media converter ... (this is not my case, but ...)

[2018-12-14 05:30] mimugmail commented on #3044
Seems I was too blind about the forwarding mode, thought this was a dropdown. Sorry, all good :)

[2018-12-14 05:30] #3044 closed

[2018-12-14 09:47] poggenpower commented on #1993
If I understand the comments correct, it is not possible to set the interface address to a specific address because of technical restrictions. Right?

[2018-12-14 11:14] AdSchellevis opened #3045 "OpenVPN, validate server certificate type"
It's probably better to validate if the configured certificate matches the desired type.

[2018-12-14 12:02] fichtner commented on #1993
Yes, dhcp6c leaves no room for manual IDs/Suffixes that it assigns for the interfaces it handles. That could be mitigated by using ULAs via VIPs.

[2018-12-14 14:51] #2990 closed

[2018-12-14 14:59] AdSchellevis commented on #2990
closed by https://github.com/opnsense/core/pull/3039

[2018-12-14 16:03] bendiy commented on #3040
@mimugmail

I probably did because it isn't setup to load balance between `WAN1` and `WAN2` when they are both up. It is setup to only use `WAN1`. Where is the default gateway switching setting?

@fichtner

Here's the General DNS settings:
![general-dns](https://user-images.githubusercontent.com/571574/50013247-e69f6200-ff7d-11e8-873f-eefa1f2caffb.png)

With the above config, is it expected to not

[2018-12-14 20:04] AdSchellevis opened #3046 "Firewall/alias, signal pfctl errors to user"
![image](https://user-images.githubusercontent.com/9783985/50024789-cc986a80-ffe3-11e8-8e88-66cb4c3af908.png)

[2018-12-14 20:07] #3046 closed

[2018-12-14 20:30] fichtner commented on #3046
👍

[2018-12-14 20:32] fichtner commented on #3015
It's in 18.7.9, closing.

[2018-12-14 20:32] #3015 closed

[2018-12-15 04:46] wisnerca commented on #3038
If I add this to the end of /usr/local/opnsense/scripts/dhcp/prefixes.php, the issue seems to go away, but I'm not sure if this will have any side effects:
`mwexecf('/usr/local/etc/rc.routing_configure');`

[2018-12-15 18:33] PitchBendStretch commented on #1931
Hi everyone,

to everyone still having issues. Please make sure that your problem can't be easily fixed by just using dpinger, instead of apinger. Atleast for me after completely abandoning apinger, i never experienced any more problems. This should be your first and "easy" fix to try out. Most of the times the problem is not OpenVPN but a/dpinger related.

Firewall > Settings > Advanced > Gateway

[2018-12-15 19:06] esoleyman commented on #1931
Dpinger had already been enabled in the prior minor releases prior to
hitting this issue.

OpenVPN still works though but gives the wrong status for me still. I have
also upgraded to 18.7.9 with the same result.

-
Emil Soleyman-Zomalan

On Sat, Dec 15, 2018, 12:33 Oxygen61 <notifications@github.com wrote:

[2018-12-16 08:02] mahescho opened #3048 "Using intermediate certificate issued by internal PKI"
I've an internal PKI and created an intermediate certificate for my Opnsense with:

and imported the root certificate without private key and the intermediate certificate with the private key. When I try to issue a server or client certificate using the intermediate certificate I get:

How to fix this?

OPNsense 18.7.9-amd64
FreeBSD 11.1-RELEASE-p17
OpenSSL 1.0.2q 20 Nov 2018

[2018-12-16 12:20] pazifi opened #3049 "Backup options for NextCloud"
Feature request:
Hello dear opnsense team

It would be very nice if you could set that the backups are either deleted automatically after a certain number or time span
and/or
that the backup is only written when changes are made.

Greetings
pazifi

[2018-12-16 14:09] fabianfrz commented on #3049
@pazifi nextcloud should be able to handle that itself:

![grafik](https://user-images.githubusercontent.com/3713914/50054649-80b10700-0144-11e9-8e28-fb33b8867ef9.png)

See this article how to configure it: https://docs.nextcloud.com/server/12/admin_manual/file_workflows/retention.html

[2018-12-16 16:40] coaxial opened #3050 "Google drive backups do not work anymore"
Versions:
[code]

Using the Google Drive option under System > Configuration > Backups, and testing the setup with the button in the UI results in a failure.

I also get crash reports once in a while that backing up to Drive failed. This used to work flawlessly.

[2018-12-16 17:01] AdSchellevis commented on #3050
Just tested locally, seems to work over here.
It might help if you add the output of the report, there's not much to go on now.

[2018-12-16 17:30] coaxial commented on #3050
I don't know how to generate the report manually. When I test the setup with the button, all I'm getting is this message:

`The following input errors were detected:

    Saved settings, but remote backup failed.`

But there is no mention of a report. The error reports pop up once in a while on the dashboard, I don't know how to generate them manually.

[2018-12-16 17:47] fichtner commented on #3048
Are you sure the private key matches the public key in the certificate? And if so does it work when you remove the public-only root certificate?

[2018-12-16 20:27] fichtner opened #3051 "unbound: handle openvpn clients and servers"
Current work removed 19.1 support because get_possible_listen_ips() went away, but we have to push it back as some users are using it for their VPN clients. Add a minimal implementation.

[2018-12-17 08:48] mahescho commented on #3048
My fault. For some reason data was not imported correctly. Suggestion: Check if certificate an key match at import.

But now I've a different issue. I used Opnsense to create a server certificate for the webUI. This time it succeeded but the browsers still tell me that it is invalid. I've checked lighthttpd config and the intermediate certificate is configured correctly. When I load the complete c

[2018-12-17 09:10] fichtner commented on #3048
I'll take this import key check bug part of the issue, but I can't look into the follow-up at the moment since I'm at work (not OPNsense-related), but please ping me again later this week.

[2018-12-17 10:09] mimugmail commented on #2920
Then we should change the helptext of syncing Aliases (reference: https://forum.opnsense.org/index.php?topic=10698.msg48805#msg48805 )

[2018-12-17 10:11] AdSchellevis commented on #2920
@mimugmail I agree, we should change the description and point users to the sync option.

[2018-12-17 10:12] AdSchellevis commented on #2920
in fact, the same counts for all descriptions...

[2018-12-17 14:14] coaxial commented on #3050
There it is:

[code]

[code]

[2018-12-17 15:06] AdSchellevis commented on #3050
the error isn't nice, we should probably catch and log these, but it's basically saying it can't reach google. could be dns related, or some gateway issue.

[2018-12-17 15:32] coaxial commented on #3050
I cheked on the gdrive and it seems the config eventually gets saved. I can't understand why the test button in the GUI would report a failure then?

[2018-12-17 15:33] AdSchellevis commented on #3050
unstable connection maybe

[2018-12-17 15:50] coaxial commented on #3050
It could be, but seems unlikely. My connection is very stable and pings don't get interrupted while the gdrive is being tested. Would like to help pinpoint the issue, if you have an ideas of things to try I'd be happy to report back with the results.

[2018-12-17 19:16] mahescho commented on #3048
Found the problem. I've used my UCS (Univention Corporate Server) to sign my CDR. By default the openssl.cnf used for this sets "basicConstraints = critical, CA:TRUE" so despite my CSR sets "CA:TRUE" this got overridden while signing.

[2018-12-17 19:37] pazifi commented on #3049
Thank you, bit i think this is not a good option because auto tagging of files has no simple option for folder or file name.
Only things like MIME type, file size, time, url, user agent, request time...

The only useful option is usergroup, that is okay if a user is only for backups.

I can handle it.

[2018-12-17 19:44] mahescho commented on #3048
Two more suggestions:

1. When a certificate gets imported in "System: Trust: Authorities" check if "CA:TRUE"
2. Only display certificates of type "server" in "System: Settings: Administration" at "SSL Certificate"

This will help to avoid miss configuration.

[2018-12-18 05:05] t123yh opened #3052 "UDP NAT translation source won't update when upstream IP address changed"
For example, I have a remote server with address 5.5.5.5. My router (192.168.1.1) got an IP address 4.4.4.4 by PPPoE from ISP. One of my internal machine (192.168.1.3) send a UDP packet per second to 5.5.5.5:1234 with source port 4567. The translation will look like this:

192.168.1.3:4567 (4.4.4.4.3456) --> 5.5.5.5:1234

And if you run `tcpdump -i pppoe0` on OPNsense router, you will get the resu

[2018-12-18 05:32] fichtner commented on #3052
Looks like persistent state tracking applies to NAT as well. It's not really a bug, more like a feature since the connection never times out due to it being kept alive.

Under Firewall: Settings: Advanced "Dynamic state reset" option should do what you want?

[2018-12-18 08:30] AdSchellevis commented on #2919
https://github.com/opnsense/core/pull/3031

[2018-12-18 08:30] #2919 closed

[2018-12-18 10:27] Gamebase32 opened #3053 "OpenVPN "Client Specific Overrides" not updating in 18.7.9"
I have added a new firewall on a remote site with OPNsense 18.7.9 and upgraded the existing firewall to 18.7.9. Now the "disable" directive for "Client Specific Overrides" does not seem to have effect anymore. I enabled a specific user to not be able to connect with the option "Connection blocking". Then changed it to be allowed to connect again, but the logs on the client state:
`Dec 18 11:14:27

[2018-12-18 10:33] t123yh commented on #3052
@fichtner That's just what I want. Thank you very much!

[2018-12-18 10:33] #3052 closed

[2018-12-18 10:34] AdSchellevis commented on #3053
What version have you upgraded from? and what does the rest of the log on the server look like?

[2018-12-18 10:39] fichtner commented on #3052
yay, no problem :)

[2018-12-18 10:45] Gamebase32 commented on #3053
`Dec 17 21:30:44 | pkg-static: opnsense upgraded: 18.7.8 -> 18.7.9`

**Server:**
Date	Message
Dec 18 11:40:00	openvpn[87724]: opnsense-02/xxx.xxx.xxx.5:31970 Connection reset, restarting [0]
Dec 18 11:39:59	openvpn[87724]: opnsense-02/xxx.xxx.xxx.5:31970 MULTI: client has been rejected due to 'disable' directive
Dec 18 11:39:59	openvpn[87724]: opnsense-02/xxx.xxx.xxx.5:31970 MULTI_sva: pool return

[2018-12-18 13:16] AdSchellevis commented on #3053
I don't think much has changed between those two versions in this regard.
You could check the contents of `/var/etc/openvpn-csc/` (`find /var/etc/openvpn-csc/`), if there's a profile stuck there. The interesting thing is that it doesn't seem to think there's a csc configured at the moment as the authentication should output about the location:

https://github.com/opnsense/core/blob/1cd0c08082b6bc2

[2018-12-18 13:42] mrPsycho opened #3055 "Documentation is obsolete: ldap configuration"
Hello,

while i was configuring new OPNsense 18.7.9 - i noticed that https://wiki.opnsense.org/manual/how-tos/user-ldap.html is obsolete.

for example, import users button didn't show up until i set "Authentication" server to LDAP.
also, i didn't found any option to give permission to LDAP group.

[2018-12-18 14:48] Gamebase32 commented on #3053
And indeed there was a profile stuck there. After removing it the user was able to create a connection.
[code]

[2018-12-18 14:53] AdSchellevis commented on #3053
If there's no new csc configured, it won't touch the one already there.  I'm not sure we should do anything else.

[2018-12-18 17:04] fichtner opened #3056 "wizard: opt-out checkbox for redirect to update check after completion"
via https://twitter.com/ronin3510/status/1075060997839298561

[2018-12-18 20:12] AdSchellevis commented on #2588
closed with https://github.com/opnsense/core/pull/2977

[2018-12-18 20:12] #2588 closed

[2018-12-19 07:58] Alex9779 commented on #2876
Just wanted to add that the update to 18.7.9, where that change kicked in first, went smooth and fast because of the disabled backups...
Thanks for this!

[2018-12-19 07:59] fichtner commented on #2876
yay, glad to hear. thanks for the follow-up!

[2018-12-19 14:36] Papy-Bretzel opened #3057 "User Import button for LDAP won't show up"
Hi.
First of all, thank your for this great solution.
I encountered this bug for now couple of weeks on both Firefox and Chrome.

I installed and upgraded the lastest version of OpnSense (18.7.9). I was successfully able to establish my Microsoft Active Directory connection through the **System>Access>Servers** interface. I tested it and I can get the fields for my user with the **System>Access>Te

[2018-12-19 14:39] fichtner commented on #3057
Hi,

You will need to configure you LDAP/AD as a System Administration Authentication Server. The revised docs are here:

https://github.com/opnsense/docs/blob/080b6626f4af6f139271cd90358c9ed26df535b7/source/manual/users.rst#authentication-services

Cheers,
Franco

[2018-12-19 15:17] Papy-Bretzel commented on #3057
Hi again.

I locked myself out 🥇
It's working. Thank you

[2018-12-19 15:17] #3057 closed

[2018-12-19 15:50] fichtner commented on #3057
I do hope not in the worst possible way.

Cheers,
Franco

[2018-12-20 11:44] stilez opened #3058 "Attempting to delete in-use alias causes crash, trapping needs improving."
I attempted to delete a host alias that was in use, and got this error:

OPNsense\Base\UserException: Cannot delete alias. Currently in use by
[filter.rule.8/destination.address] [RULE NAME/DESCRIP]
[filter.rule.9/destination.address] [RULE NAME/DESCRIP] in /usr/local/opnsense/mvc/app/controllers/OPNsense/Firewall/Api/AliasController.php:138
Stack trace:
#0 [internal function]: OPNsense\Firewall\A

[2018-12-20 11:46] AdSchellevis commented on #3058
it's intended, user exceptions are catched properly in the gui.
![image](https://user-images.githubusercontent.com/9783985/50283099-2ae6a280-0455-11e9-8f3b-74f1a228253a.png)

[2018-12-20 11:51] AdSchellevis commented on #3058
Where did you get this message? and what version are you using?

[2018-12-20 11:56] stilez opened #3059 "Attempt to update an IP alias gives "bad IP" error"
Steps to replicate:

1. Define a host alias, with a single IPv4 address, and save it.
2. Open it again to edit it, place the cursor AFTER the saved IP address, then type a space, then a second IPv4 address, and save it.
3.  When I did this, it said "bad alias" for the 2nd ewntry and refused to save it.

Now, do step 2 again, this time puttingthe cursor at the START of the field and entering the 2n

[2018-12-20 12:45] AdSchellevis commented on #3059
I don't think we have an error called "bad alias"....

[2018-12-20 13:04] rene-demonsters commented on #2988
So I think I may have resolved the issue. I have marked one of my gateways as the default gateway and the logging now looks like this:

[code]

So it actually sets the IPv4 gateway to WAN instead of LAN now and doesn't delete any routes that would be outgoing. I'll keep an eye on it for a few days and if it's resolved I'll close the ticket.

[2018-12-20 14:32] mrPsycho opened #3060 "Firewall: Aliases - cannot paste hostnames"
OPNsense 18.7.9-amd64

when i'm adding hosts by hand - everything works
when i'm adding it with copy&paste (even from plaintext) - error shows:

[code]
 

[2018-12-20 14:33] fichtner commented on #3060
Values are comma-separated, no whitespace allowed

[2018-12-20 14:35] mrPsycho commented on #3060
yep. you opened my eyes.

so, it could be feature request for far far future

[2018-12-20 14:35] #3060 closed

[2018-12-20 14:37] fichtner commented on #3060
we have this discussion from time to time, but manipulating user values to accommodate for passing validation is not the best approach in the world. we found one instance where a password given was whitespace trimmed and stored... not ideal by any standard.

[2018-12-20 14:38] fichtner commented on #3060
nevertheless, thanks for the report! :)

[2018-12-20 19:42] ky41083 commented on #2048
+1 for this. Please ;-)

Security wise, these are very good controls to have. Some do not have a good way of implementing using the free form advanced settings box. Good as in, fully included in config backups / restores.

[2018-12-20 21:05] Obrekr opened #3061 "Corrupted DUID file prevents dhcpd6 start"
### What didn't work
An v6 address was assigned to WAN interface from ISP. The LAN interface, set to tracking the v6 address of the WAN interface, did not get the address assigned. 'dhcpd6' DHCPv6 Server is marked as not running in the Dashboard of OPNsense GUI. As the LAN interface had no v6 address, no address is assigned to my devices on the local network.

### The cause
Somehow the file `/var/

[2018-12-21 01:40] unipacket1 opened #3062 "[BUG] - Selecting multiple items then clicking delete only deletes the first item"
I only tested this under the Aliases and Traffic Selector sections but if you select multiple items (checkboxes) and click on Delete, only the first selected item is deleted.

[2018-12-21 09:49] Taomyn opened #3063 "Monit: adding ping check causes syntax failure"
opnSense v18.7.9-amd64
Monit v5.25.2

When I enable "ping" for one of my service settings I receive the error:

`monit: /usr/local/etc/monitrc:17: syntax error 'failed'`

When I compare the monitrc file the difference is:

[code]

and

[code]
Line 17 points at "if failed ping then alert"

[2018-12-21 11:16] AdSchellevis commented on #3062
@unipacket1 thanks for the report, I kind of suspect our webserver handles requests a bit better, which exposes a locking issue. https://github.com/opnsense/core/commit/5d0d4e832eaaf5ffffbf933791750ccdf1cef71b in combination with https://github.com/opnsense/core/commit/73ce72c6a3ee6b2ad4ba8dbb6dc33c16f6206bff should fix the issue.

I'm not sure when this will be released, as we should give this a

[2018-12-21 18:36] myksto71 opened #3065 "Auto-complete of aliases no more working after update to 18.7.9"
After a update the last few weeks we see that autocomplete of aliases are no more working.
I noticed that a similar issue was opened more than 2 years ago: https://github.com/opnsense/core/issues/372

What we have:
- alias foo
-- type hosts
-- content 1.2.3.4

Now we add a new alias:
- alias bar
-- type hosts
-- content: start typing foo, but no autocomplete happens (uppercase and lowercase).

Bes

[2018-12-22 09:50] myksto71 commented on #3065
Thank you very much for your quick reply.
I really hope you can bring that function back and hope you will do it soon! ;)

Thanks you again and best regards.

Michele.

[2018-12-22 16:05] #2287 closed

[2018-12-22 17:24] hvalencia89 opened #3066 "OpenVPN Queue overflow"
When restart service OpenVPN and have 60 user or  more.
The queue OpenVPN is overflow for connection client.

![openvpn](https://user-images.githubusercontent.com/46072913/50377065-11bc2e00-05dc-11e9-9ba8-f4f5d1298f13.png)

[2018-12-23 10:03] fabianfrz opened #3067 "System -> Access -> Servers: Radius validation fails on IPv6"
![grafik](https://user-images.githubusercontent.com/3713914/50382532-2cf17100-06a2-11e9-837b-0c2d90272e76.png)

It looks like the validation in src/www/system_authservers.php:192 does not accept the ":"

[2018-12-23 10:18] AdSchellevis commented on #3067
@fabianfrz nice catch, thanks

[2018-12-23 10:49] AdSchellevis commented on #3066
To find the correct culprit for your message, it might be worth to read https://blog.tyk.nu/blog/fun-with-freebsd-listen-queue-overflow/

The logging is somewhat confusing, since it misses the corresponding pid.

[2018-12-23 11:30] AdSchellevis commented on #3065
This https://github.com/opnsense/core/commit/ab4e900a5288a357879c4217cd2846d35d5c330c should fix the issue, although there is still a minor glitch in validation (ideally it shouldn't be possible to mix port and other types, but since it won't render defective configs I think it's good enough for now).

[2018-12-23 14:40] hvalencia89 commented on #3066
Hello AdSchellevis,
I am find with  only process unknown for queue overflow
root ?? 13103 9 stream /var/run/configd.socket

root@Elektra:~ # cat /var/log/system.log
Dec 23 07:55:59 Elektra opnsense: /usr/local/etc/rc.sshd: Started creating your SSH keys. SSH startup is being delayed a wee bit.
Dec 23 07:55:59 Elektra opnsense: /usr/local/etc/rc.sshd: Completed creating your SSH keys. SSH will now

[2018-12-23 18:45] AdSchellevis commented on #3065
Hi Michele,

Thanks for confirming.
We'll try to add the patch to the next release, since the impact should be quite low.
Otherwise you should indeed patch again after upgrade, which you can easily do with our `opnsense-patch` utility.

Best regards,

Ad

[2018-12-23 18:57] AdSchellevis commented on #3066
I don't see `fffff80105f0ecb0` anywhere in the netstat output maybe it's related to something else (currently not active) on the machine.

[2018-12-23 19:03] hvalencia89 commented on #3066
after the overflow the references are lost and show
root ?? 13103 9 stream /var/run/configd.socket
What is the other procedure for detect problem?

[2018-12-23 19:10] AdSchellevis commented on #3066
I don't expect configd is related to your issue.
Within community support time I can't really help you out further.

[2018-12-23 19:16] hvalencia89 commented on #3066
the process involved in the problem is
unix 0/0/1	/var/etc/openvpn/server1.sock
and the queue the socket the system.
And where can I contact pay support.

[2018-12-23 21:40] hutiucip commented on #3042
Hi!

It would be much more easier to find in that remote location a pair of "dumb enough hands" able to only cycle the power than a pair of "smart enough hands" able to properly reinstate a backup config.

Otherwise, I completely agree with everything else you have said, 100% true and standing.

Thank you.

[2018-12-24 00:09] mrbarletta opened #3068 "Outbound NAT for local services"
Outbound NAT is not being applied to packets leaving the WAN (far gateway).

If I SSH into the firewall  I can ping/download and update correctly, everything works as expected.

BUT Letsencrypt acme service  is failing and tcpdump is showing that packets are not being NAT translated ONLY for this service.

This is a far gateway so NAT is always needed as WAN <-> ISP uses a private net.

I can't fi

[2018-12-24 07:37] opnsenseuser opened #3069 "Nextcloud file extensions are not supported by windows"
I do not know if exactly this exact problem has already been reported, but the file names are not compatible with windows.

![grafik](https://user-images.githubusercontent.com/34602360/50393504-f0cc1800-0756-11e9-8b31-ce0c6bd484f8.png)

[2018-12-24 07:53] AdSchellevis commented on #3066
The strange thing is that the pcb doesn't match the socket from openvpn, which suggest the problem might be elsewhere.

Our commercial support options are available at https://www.deciso.com/business-support/

[2018-12-24 07:56] AdSchellevis commented on #3053
We can probably close this issue, if we see other people having difficulties with old abandoned csc fles we might consider providing a cleanup button.

[2018-12-24 07:56] #3053 closed

[2018-12-24 09:15] marjohn56 commented on #3061
What releases are we talking here? 18.7.* or 19.1b

[2018-12-24 09:20] marjohn56 commented on #3069
Speak to Microsoft.. :)

[2018-12-24 09:28] marjohn56 opened #3070 "Strangeness in dhcpd6 leases"
It appears that if there is only a single lease in the dhcpd6.leases file it is not displaye or at least if you restart dhcpd6 it is not displayed.

My test system runs with one v6 client, the PC connected to the test router, the single entry is not displayed,

My live system has multiple v6 clients and in that system the interfaces displays them correctly.

A quick debug of of the status_dhcpv6_l

[2018-12-24 09:31] fabianfrz commented on #3069
It is both: A limitation of Microsoft Windows file names in combination which the Nextcloud Client not handling it.

[2018-12-24 09:53] mrPsycho commented on #3055
actually, almost all other topics are old too.

another example - https://wiki.opnsense.org/manual/how-tos/haproxy.html
which is confusing...

[2018-12-24 09:56] mimugmail commented on #3055
Yep, progress in coding is faster than docs, but luckily everyone can contribute a bit time to update it :)

[2018-12-24 09:57] AdSchellevis commented on #3055
If you would like to help improving the documentation, that would certainly be appreciated.

You can find the repository here https://github.com/opnsense/docs

[2018-12-24 18:51] opnsenseuser commented on #3069
it´s only up to the ":"

[2018-12-24 18:53] opnsenseuser commented on #3069
Test on windows:
![grafik](https://user-images.githubusercontent.com/34602360/50405468-6070f000-07b5-11e9-8587-78fde5469597.png)

translated means that
"A filename can not contain any of the following characters: \ /:*?"< >| "

[2018-12-24 20:55] fabianfrz commented on #3069
A filename can contain such characters in general (except the slash as that is reserved for the directory separator):

![grafik](https://user-images.githubusercontent.com/3713914/50406515-7d61ef00-07c6-11e9-89f2-c1a37e642704.png)

[2018-12-25 17:50] fichtner commented on #2961
Good news everyone! I found a way to reproduce a segfault while working on ZFS support for the installer... https://github.com/opnsense/bsdinstaller/commit/058fccb9f911

I can upload an image in a few days for the Hyper-V savvy to test it. :)

[2018-12-26 05:38] lhorace opened #3071 "Nginx Logs states 'no data available' irrespective to what is stored on disk"
Hello,

`Services -> Nginx -> Logs` misled me by erroneously stating that 'no data available' for `www.lhprojects.net,lhprojects.net` irrespective to the contents of the log files stored on disk.

[code]

[code]
![peek 2018-12-26 00-36](https://user-images.githubusercontent.com/12678456/50433500-8d510000-08a6-11e9-8b21-319706d7e2ec.gif)

[2018-12-26 06:30] markusd112 commented on #2533
Yes, I support this feature request. The schedule options are very poor in the moment. I have tried to set some schedules for our children's firewall rules to block the computer access in the night, but I "capitulate" because of the very basic GUI settings in the schedule menu.

It should be possible to enter repeating events, like every day, every day of week, etc. as you know from every calendar

[2018-12-26 20:55] Franck78 commented on #2774
And indeed, around 10-22 december 2018, the things changed, again !
Seen after applying 18.7.9 patch, no more ipv6

[2018-12-26 21:06] nivek1612 commented on #2774
18.7.9 introduced full DUID support for DUID types such as LL LLT UUID. Looks liek it may not always get across

Make sure you have one specified
Interfaces > Settings> DHCP Unique Identifier

I captured the DUID from the livebox. DHCP6c request client identification option so that I match the livebox exactly.
DUID is in LL format and is 00: 03: 00: 01: AddressMacEth1.

[2018-12-26 22:07] Franck78 commented on #2774
Nivek, as-tu un email public que tu peux partager ici, je trouve pas de 'Messagrie Privée' sur github.
Ou on se retrouve sur lafibreinfo (ou je te lis generalement).

AddressMacEth1.

Eth1 from what device ??? The livebox, the appliance used for opnSense ???
Or the Eth dedicated for the GPON ? What is the logic here ??

AddressMac. Is 6 bytes. The "Insert a new LL DUID" adds 4 random bytes after t

[2018-12-26 22:13] nivek1612 commented on #2774
Just wireshark trace the one from the livebox dhcp6c request

[2018-12-26 22:47] marjohn56 commented on #2774
Can you give me the wiretrace from the livebox. There is an error in the code generating the LL duid type, it may work for some ISPs that are not picky, but at present it does appear not to conform to rfc3315.

[2018-12-26 22:53] nivek1612 commented on #2774
Sent via mail

[2018-12-26 23:09] marjohn56 commented on #2774
PR Issued.

[2018-12-26 23:35] Franck78 commented on #2774
"Just wireshark trace the one from the livebox dhcp6c request"
Cannot do that until jan, 2

Manually entering this
00:03:00:01:52:54:00:36:40:7F (actual opnsense) or
00:03:00:01:A4:3E:51:78:xx:xx (mac on livebox sticker)

in the DUID field and disabling/enabling Wan interface does not bring back IPV6 for now.

[2018-12-26 23:44] nivek1612 commented on #2774
try to reboot router disabling/enabling WAN did not work for me. Thats another issue we need to investigate

[2018-12-27 07:44] marjohn56 commented on #3070
#3072

[2018-12-27 07:45] marjohn56 commented on #3070
PR issued.

[2018-12-27 07:59] #3070 closed

[2018-12-27 14:56] mimugmail commented on #910
I'll start with a PoC tomorrow .. at first only one pool available just to check if and how it works in general:

If someone wants to join testing, everyone is very welcome. :)

[2018-12-27 23:56] lhorace opened #3075 "[Feature Request] Ability to turn off logging for 'default deny rule' WAN"
See forum post for additional context https://forum.opnsense.org/index.php?topic=10801.0

[2018-12-28 06:17] fichtner commented on #3075
Forgive me for misunderstanding... but you can disable default deny logging under System: Settings: Logging. Since it is not an interface-specific rule by design it cannot be changed to exclude interfaces from logging.

You can, however, simply add your own default deny on WAN without logging enabled and that should be it?!

[2018-12-28 06:59] lhorace commented on #3075
Understood, it's by design.

I've updated downstream post here https://forum.opnsense.org/index.php?topic=10801.msg49305#msg49305.

[2018-12-28 06:59] #3075 closed

[2018-12-28 15:43] fichtner commented on #910
Here's an idea about what we were talking about earlier.... since isc-dhcp is used in the static code we could add an MVC equivalent and use the rc system for the external network tasks... only thing that may be required is moving the old DHCPv4 / v6 out of the way for rc to not confuse them (e.g. PID).

[2018-12-28 16:01] mimugmail commented on #910
ATM I'm testing FreeRADIUS .. I already sending replies but the notebook doesn't receive an IP. Sadly I'm not in the office and co-worker is gone to read the logs at the client :)

[code]

[2018-12-28 16:17] #3051 closed

[2018-12-28 16:32] fichtner commented on #2828
@JasMan78 d447bf029 should fix your issue, but I'm not sure it won't cause others to complain as well when we include it in 19.1. I'll keep this ticket open for your feedback on the patch. 19.1 is about 1 month away.

[2018-12-28 16:47] fichtner commented on #2828
Sorry, it's 333dc0f actually

[2018-12-28 16:49] fichtner commented on #3010
I'm leaving this as is, not the prettiest thing in the world, but it seems ZFS is not built for scripting... ;)

[2018-12-28 16:49] #3010 closed

[2018-12-28 16:53] fichtner commented on #2894
The right time is whenever you update the file you push it to /var/unbound and then run "pluginctl dns".

I'm sorry, there's nothing else we can try here in an open source scope. The discussed workaround goes into 18.7.10.

[2018-12-28 16:53] #2894 closed

[2018-12-28 16:55] #2889 closed

[2018-12-28 16:59] fichtner commented on #2878
Also see https://github.com/opnsense/core/pull/1647

[2018-12-28 17:02] #2850 closed

[2018-12-28 17:04] fichtner commented on #3068
Hi @mrbarletta,

Outbound NAT only works when the incoming traffic is marked for NAT. Since local traffic originates not from external interfaces it's not possible to set an outbound NAT in this way. Ideally, the service should use the NAT IP address to talk on the external side so it doesn't need NAT.

Cheers,
Franco

[2018-12-28 17:07] fichtner commented on #3061
Empty files are a side-effect of UFS when the filesystem is shut down incorrectly (power outage, no shutdown). We could check if the file is valid and remove it when it is not stored, but you can already save the current DUID (Interfaces: Settings) so this won't happen anymore if correctly configured.

[2018-12-28 17:07] mrbarletta commented on #3068
Thanks @fichtner for your prompt reply.

Do you recommend doing a patch to the letsencrypt plugin?

Maybe detect if far-gateway setting is set and enable a setting to define the interface/IP to use for outgoing traffic?

[2018-12-28 23:12] JasMan78 commented on #2828
@fichtner I've installed the patch and it resolved the issue :-)
Now the DNS record contains the IP address of the management interface only.
I did a short test and as far as I can see everything is working fine. I will let you know if I found any new issue, which could have to do with this patch.

[2018-12-29 02:28] fbruetting opened #3076 "FW groups are not kept in sync in the rule’s source/destination fields"
[code]

When I alter my firewall group from say `Intranet` to `IntranetA`, the interface is changed accordingly in the affected groups, but the source (and I assume also the destination) field is not kept up-to-date (see screen shot below).

When this webpage is loaded and the fields match *correctly*, I recognized that first, the text field with the content `Intranet` is shown, and then gets imme

[2018-12-29 08:49] AdSchellevis commented on #3076
source and destination aren't related to the selected interface, you can match traffic coming from another interface as well. It's intended behaviour.

[2018-12-29 09:06] fichtner commented on #3068
I'm unsure where the problem lies. It sounds like this is due to a complication in your WAN setup?

[2018-12-29 16:53] fbruetting commented on #3076
Yeah this might be the case for when I enter the name by pure text. But when I in contrast select it from a drop-down menu, I expect the group to be kept in sync with the actual group.

[2018-12-29 16:54] AdSchellevis commented on #3076
it's not a group, you're selecting an interface and source/target networks....

[2018-12-29 17:46] AdSchellevis commented on #3076
ok, you renamed the interface group expecting that it would seek and replace the occurrences in the configuration, which it indeed doesn't do.

Maybe we could check (some of the) address fields as well on rename, since it also does that for the interface fields, but I'm doubting a bit an "interface group" network matches what you think it will match.
Have you tried the functionality and confirmed

[2018-12-29 18:04] Alphakilo commented on #3049
@pazifi I use the source IP address for that purpose. Works flawless:
![2018-12-29-190037_1920x1080_scrot](https://user-images.githubusercontent.com/8202374/50540980-94288d00-0b9c-11e9-9e3e-1f4acf515c3a.png)

[2018-12-29 18:18] fbruetting commented on #3076
Search-and-replace is quite be error-prone. (What happens if you try to rename a group to an already existing group name? Or if you have something entered in plain text, which should stay the same?)

What about implementing internal reference IDs for all automatically created drop-down-items instead? So when a group gets created, it could get a unique ID like `$int_group_0`. All rules then could i

[2018-12-29 18:53] AdSchellevis commented on #3076
It's legacy code, our new style code uses uuid's internally (although this wouldn't necessarily be error prone, since you know where to look and what it looks like, and source and target are unique...).

You haven't answered my question (does your rule match the correct traffic), but if you would like to prepare a pull request for a manageable change, just let us know.

We know what an ideal world

[2018-12-29 18:59] fbruetting commented on #3076
As soon as I rename the interface from `Intranet` to `IntranetA` without fixing the rule right after, I get connection problems. When I then fix the source network in the rule, everything works fine again. So I assume that the rule works (I currently have some other issues, thus not 100% sure).

[2018-12-29 19:02] AdSchellevis commented on #3076
Can you let us know if the rule matches the expected traffic? like I said, I'm not sure (and would setup things differently)

If it works, we should probably rename these items, otherwise we might need to exclude these kind of networks from the selection list.

[2018-12-29 19:34] AdSchellevis commented on #3076
No problem, I'm not sure what you're trying to reach, but aliases might help you out here (for the source/destination part), interface groups to match traffic on multiple interfaces itself are a useful tool to match on more interfaces at once.

[2018-12-29 19:40] fbruetting commented on #3076
I created two distinct subnets for LAN and WIFI (hence two interfaces). Via the interface group I tried to summarize the rules which should affect both subnets equally.

[2018-12-29 20:39] mrbarletta commented on #3068
to be honest its the only customer that has that kind of service (WAN using a private IP and having a /28 public address space ) is that very uncommon?

[2018-12-29 20:48] mimugmail commented on #3068
This is really uncommon. It would mean Squid would also not work as there is no bind option for outgoing connections integrated (in UI).

[2018-12-29 20:50] mrbarletta commented on #3068
thanks - I will have to ask the ISP to change that, but I will loose 1 public IP from the available range.

[2018-12-29 20:50] #3068 closed

[2018-12-29 20:54] mimugmail commented on #3068
You will loose 3, network address, broadcast and Gateway of provider

[2018-12-29 21:21] fabianfrz commented on #3068
@mimugmail in best case you loose only two in a /31 network in IPv4 - also known as peer to peer. The problem is, that not all operating systems support it.

[2018-12-29 21:40] opnsenseuser commented on #3069
@fabianfrz but not if you use a windows client and integrate "nextcloud" via network drive.
So you can´t copy the file to your own computer and then windows reports with the above error message.

[2018-12-30 08:29] mahescho opened #3079 "Traffic Graph Broken"
Internal routing issue ...

[2018-12-30 09:00] mahescho commented on #3079
... my fault.

[2018-12-30 09:00] #3079 closed

[2018-12-30 09:30] fabianfrz commented on #3069
I explain my point of view:

![grafik](https://user-images.githubusercontent.com/3713914/50545815-cd084680-0c1c-11e9-9da8-7ee8ec938b9b.png)

You have two sides:

* Our side, which is OPNsense uploading the file compliant to the WebDAV protocol. If it answers correctly, the backup is OK. If it answers with an error code, you will see a communication failure in the backup page.
* The other side is t

[2018-12-30 10:15] opnsenseuser commented on #3069
@fabianfrz I do not quite understand why this is such a big problem, simply convert the file so that it can also be read by windows without problems. Instead of the ":" simply take a hyphen and the problem is solved for all.

[2018-12-30 10:39] fabianfrz commented on #3069
The file name contains the time in a 24h format (hh:mm:ss), which everyone detects as such because it complies with the format everyone expects as a time format. Also the 12h format contains the column (hh:mm:ss pm/am).

It is also incorrect to fix it here because it does not fix the problem at all. If another application designed to run on Linux or BSD put such a file on nextcloud, the problem ap

[2018-12-30 10:49] opnsenseuser commented on #3069
@fabianfrz if that is really so complicated then it would be perhaps the best solution to automatically save the files in two different versions?

[2018-12-30 10:50] fichtner commented on #3069
Why not change the timestamp to ISO format?

[2018-12-30 10:52] fabianfrz commented on #3069
also contains columns: https://de.wikipedia.org/wiki/ISO_8601#Zeitzonen

[2018-12-30 10:54] fichtner commented on #3069
I thought it's possible to omit the ":"

[2018-12-30 10:56] fabianfrz commented on #3069
my requirements for a good file name:

* easily human readable
* machine sortable
* easy to implement
* makes no trouble in uploading

[2018-12-30 11:03] #3056 closed

[2018-12-30 11:07] fichtner commented on #3069
I'd add "makes no trouble in downloading" and reevaluate from there. The topic will be back sooner or later...

[2018-12-30 11:13] opnsenseuser commented on #3069
👍

[2018-12-30 11:14] opnsenseuser commented on #3069
👍

[2018-12-30 12:30] fichtner commented on #1615
@AdSchellevis close or assign to a milestone?

[2018-12-30 12:31] fichtner commented on #1831
I'm giving this back to the pool. Started on this several times, but I can't find a nice solution.

[2018-12-30 12:35] fichtner commented on #2191
So, what's the conclusion of this ticket? FreeBSD issue, OPNsense issue, documentation issue?

[2018-12-30 12:35] #2230 closed

[2018-12-30 12:37] fichtner commented on #2302
Can this be concluded?

[2018-12-30 12:38] #2418 closed

[2018-12-30 12:39] fichtner commented on #2436
@AdSchellevis close or add glue?

[2018-12-30 12:41] fichtner commented on #2455
I took a small peek inside and this this IPv6 support for "rate" is not a project to be carried from our side.

[2018-12-30 12:41] #2455 closed

[2018-12-30 12:43] fichtner commented on #2497
This is a core ticket to mimmic the behaviour of OpenVPN user certificates?

[2018-12-30 12:44] fichtner commented on #2533
A schedule rework will have to be carried by the community. The current implementation works ok and replacing it takes a lot of effort that is better spent elsewhere. Thank you for your understanding.

[2018-12-30 12:46] fichtner commented on #2542
Goes into 19.1 as is. Thanks all for testing!

Side effects or similar issues should be handled in separate issues.

[2018-12-30 12:46] #2542 closed

[2018-12-30 12:53] fichtner commented on #2663
19.1 will not allow tracking from LAN so we hope to get more people involved to find a suitable solution.

[2018-12-30 12:53] #2678 closed

[2018-12-30 13:13] fichtner commented on #2707
There's an issue here indeed, but I'm unable to locate it at first glance.

[2018-12-30 13:13] AdSchellevis commented on #1615
let's close it, there's an easy work around with aliases.

[2018-12-30 13:13] #1615 closed

[2018-12-30 13:14] #2745 closed

[2018-12-30 13:15] fichtner commented on #2762
What shall we do here? Look at a test VM or close? I don't see this everywhere so I would assume it's a local issue...

[2018-12-30 13:15] fichtner commented on #2787
close? :)

[2018-12-30 13:16] #2827 closed

[2018-12-30 13:16] fichtner commented on #2828
Thanks! I don't expect any related breakage. :)

[2018-12-30 13:16] #2828 closed

[2018-12-30 13:17] fichtner commented on #2833
Keep or close?

[2018-12-30 13:18] fichtner commented on #2834
Keep ticket or split into workable chunks of actual tasks?

[2018-12-30 13:19] AdSchellevis commented on #2436
let's close it, it's not high enough on my todo list and this doesn't affect a lot of users.

[2018-12-30 13:19] #2436 closed

[2018-12-30 13:43] fabianfrz commented on #2762
@fichtner It does not happen in a test VM - only on my APU1 board.

[2018-12-30 13:44] mimugmail commented on #2833
Close, not enough time, with this I have a good starting point when I find some more

[2018-12-30 13:44] #2833 closed

[2018-12-30 14:10] fabianfrz commented on #2497
yes, just for login on the web interface using client certificates.

[2018-12-30 15:00] fichtner commented on #2497
I’ll have a look. Not sure about the 19.1 target though. Just so it is looked at sooner than later.

[2018-12-30 15:02] fichtner commented on #2833
Ok ❤️

[2018-12-30 15:10] fabianfrz commented on #2497
@fichtner just tell me what you need, I can pass almost everything that is supported to the PHP interpreter in the $_SERVER variable using a freely defined name.

Here is a list of the supported variables:
https://nginx.org/en/docs/http/ngx_http_ssl_module.html#variables

[2018-12-30 16:07] borisneubert commented on #2302
Will test in the next days.

[2018-12-30 16:41] AdSchellevis commented on #2497
Is this supposed to support ui logins? in that case it looks a lot like https://github.com/opnsense/core/issues/1718 (which I've tested for lighttpd)

The username is stored in the environment variable `REMOTE_USER` according to the docs https://redmine.lighttpd.net/projects/lighttpd/wiki/Docs_SSL

Or is this something else?

[2018-12-30 17:20] fabianfrz commented on #2497
@AdSchellevis yes, it is probably the same but a different server as the frontend so I can mimic the behaviour of the lighttpd so both servers act the same way.

[2018-12-30 17:49] fabianfrz commented on #2497
both are easy to implement - it needs a CA to validate against and the common name can be passed in any case but can also be made configurable. The only thing is that the API has to look into the server array and if it finds a CN, it should check if a user is assigned and if yes, do a stateless login like the basic auth.

All the parts in the nginx plugin can be done by me, but the issue is about

[2018-12-30 18:18] unipacket1 opened #3081 "[BUG] Alias Name > 31 char, firewall fails to load on boot"
When creating an alias, the Web GUI limits the name to 32 characters or less.  If the name is exactly 32 characters, the firewall will fail to load on boot.  During boot, if you watch the messages on screen, it will say "Configuring firewall........failed."  In dmesg, the following error is found:

/usr/local/etc/rc.bootup: New alert found: There were error(s) loading the rules: /tmp/rules.debug:4

[2018-12-30 18:20] AdSchellevis commented on #3081
@unipacket1 thanks for reporting, we'll fix that right away.

[2018-12-30 20:48] fichtner commented on #926
Due to a private request: tickets are closed after a few months of inactivity to avoid stale work queues. I’ll reopen for now, but we need a continuation of discussion.

For the time being I’m absolutely unsure about the state of the described issue in FreeBSD as it relates to OPNsense 11.1 now in 18.7, 11.2 when we release 19.1).

[2018-12-31 04:57] fbruetting opened #3082 "Interface groups: Problems with inactive members"
[code]

When I create an interface group consisting of two interfaces and then deactivate both of them (like for test purposes), I cannot alter the interface group anymore. When I try to edit such a group, OPNsense recognizes that none of the interfaces is available anymore and thus it doesn’t let me save. I therefore have to enable all members temporarily, for being able to rename the group.

Sma

[2018-12-31 07:37] TheSagest opened #3083 "Feature request: Categories for Aliases."
I would like to see "categories" in the Aliases GUI as there is for firewall Rules.

[2018-12-31 07:51] AdSchellevis commented on #3082
It should be safe to drop the "is enabled" constraint, groups can be created without actual interfaces in them and the interface setup links the group to the real interface. I'll change the edit form.

[2018-12-31 07:52] #3082 closed

[2018-12-31 08:56] fichtner commented on #3083
Would you mind describing the desired functionality? There is not enough information here to design or implement something and that way it’s hard to assess required work, impact and usefulness. Thanks.

[2018-12-31 09:52] nivek1612 opened #3085 "VLAN assignments GUI issue."
After upgrading it 19.1.b I noticed that the GUI is incorrectly presenting the VLAN assignments

I have to VLANS

![screenshot 2018-12-31 at 10 47 43](https://user-images.githubusercontent.com/23481092/50557884-92201480-0ce9-11e9-81bf-e16640b88099.png)

Here are the Assignments at 18.7.9

![screenshot 2018-12-31 at 02 21 20](https://user-images.githubusercontent.com/23481092/50557822-26d64280-0ce9

[2018-12-31 16:44] nanosonde commented on #926
Unfortunately, I am not using OPNsense anymore as it was chosen to use another firewall solution.
So I am not following this topic anymore, sorry!

[2018-12-31 17:45] AdSchellevis commented on #3085
can you check the `<interfaces>` section of your config.xml? I don't see anything similar on my end (and the upgrade itself doesn't change the configuration).

[2018-12-31 18:55] nivek1612 commented on #3085
Config.xml looks to be accurate from what I can see hence why I think its just a GUI presentation issue

[2018-12-31 23:20] TheSagest commented on #3083
My use case for this is as follows.

I am using the URL table for IPs for my clients OPNsense boxes. I will manage just 1 table for IP’s (say, similar to bogon IPs) I will also have a individual client URL tables which I update at one site. So everything is one place.

I would like to see a Port(s) Table to be the same, so I can update a single file and it will be downloaded and updated on ALL cli

[2019-01-01 01:49] lhorace commented on #2909
Sorry to interject here, to clarify, you mean 19.1?

[2019-01-01 03:06] TheSagest commented on #3083
This is my original plan, which led me to the feature request, as I was going to use the API to

  1.  FLUSH the table
  2.  Then re add the updated IP’s, Ports

2 things happened,

  1.  FLUSH API did not seem to work, It also didn’t work by going to Diag., pfTables. ->flush.
  2.  If FLUSH did work, adding a IP address to an empty Alias work error out as (can’t find post right now)  someelse men

[2019-01-01 09:38] borisneubert commented on #2302
Tested with OPNsense 18.7.9-amd64: Browsing to HTTPS site does not redirect me to captive portal if I am not signed in, instead times out.

Is this expected because captive portal does not capture HTTPS?

[2019-01-01 10:06] AdSchellevis commented on #2302
yes, it can't do a man in the middle, so your browser won't trust the certificate it got served from the CP

[2019-01-01 10:09] borisneubert commented on #2302
Conclusions:
- Captive Portal does not support IPv6
- Captive Portal redirects HTTP requests to login page but not HTTPS requests

[2019-01-01 10:09] #2302 closed

[2019-01-01 10:09] AdSchellevis commented on #3085
can you post the `interfaces` and `vlan` sections here? (without ip addresses)

[2019-01-01 10:38] nivek1612 commented on #3085
Sure here it is I have two WAN's and two LAN's
WAN is on igb0 but with two VLANs 832 and 840 to allow for Orange France FTTP for internet and TV respectively
WAN on opt4 is my failover WAN to SFR FTTP service. No VLANs required

LAN on igb2 is standard LAN for all my PC etc.
TVLAN on opt3 is the LAN on which only my TV decoders sit (avoids me needing to do igmp snooping to stop LAN flooding.

`<in

[2019-01-01 14:39] Nico82x opened #3086 "Routing on the Dashboard"
It'd be great to have a dashboard widget for routing available. Furthermore it'd be very helpful to see the state of BGP or OSPF neighbours directly on the neighbours tab.

[2019-01-01 14:40] Nico82x opened #3087 "BGP MIB"
It'd be great if BGP was being exported via SNMP through the BGP MIB.

[2019-01-01 17:12] zeon-ua commented on #2685
Hi fichtner,

It's been a while since I started poking around in "jail" edition of the OPNsesne.
I was able to run OPNsense in a vimage jail and found some places that could be improved either as separate edition of OPNsesne (lets say additionally to Nano, Serial, VGA, it could be Jail), or can be implemented as a special check function that will tell if the instance is running under Jail.
Obstacl

[2019-01-01 22:00] nivek1612 commented on #3085
Google Chrome Version 71.0.3578.98 (Official Build) (64-bit)on Mac OS

[2019-01-02 07:41] AdSchellevis commented on #3085
Can you try another browser as well, although I'm also using Chrome, I can't seem to replicate your issue.

[2019-01-02 09:48] nivek1612 commented on #3085
Same in Safari and Firefox.
Here is a weird thing though if I add a new VLAN

![screenshot 2019-01-02 at 09 00 20](https://user-images.githubusercontent.com/23481092/50586896-747eb680-0e73-11e9-9042-eb8e0f2a35fc.png)

The interface assignments now look like this. VLAN 840 now shows twice but the new VLAN 838 does not

![screenshot 2019-01-02 at 09 00 07](https://user-images.githubusercontent.com/2

[2019-01-02 10:50] nivek1612 commented on #3085
@AdSchellevis did you test on a 19.1 built from a 19.1 image or a system upgraded from the GUI - 18.7.9 - 19.1.b

I have just checked another system that was upgraded an it showing a similar problem but this time my pppoe0 interface is bing listed a bridge

<img width="1360" alt="screenshot 2019-01-02 at 10 40 25" src="https://user-images.githubusercontent.com/23481092/50588910-2de18a00-0e7c-11e9-

[2019-01-02 10:56] fichtner commented on #3082
Lands in 18.7.10 :)

[2019-01-02 11:00] marjohn56 commented on #3085
Ad - I'm testing and seeing the same issues. On my test system I deleted the Bridge a couple of days ago for testing something else. I can create the bridge again but it does not show up in the drop downs to allow me to assign it to LAN.

[2019-01-02 11:03] marjohn56 commented on #3085
note - I have just done a code-core and upgrade too,

[2019-01-02 11:07] fichtner commented on #2961
A test image should be available later today... sorry for the delay.

[2019-01-02 11:17] fbruetting commented on #3082
Nice! Thank you!

[2019-01-02 11:17] marjohn56 commented on #3085
Might be a cache thing... just asking Kev to try that. Seems mine is OK now.,

[2019-01-02 11:32] AdSchellevis commented on #3085
the reference assignment was intentional, but we can add the status field to `interfaces[]` as well, I'll create a patch later today

[2019-01-02 11:33] nivek1612 commented on #3085
Martins change also fixed the issue for me

[2019-01-02 11:33] marjohn56 commented on #3085
Without that change I do not see Bridge listed, I see the openvpn interface listed twice.

[2019-01-02 14:55] t4skforce opened #3089 "Captive portal forwarding and HA/CARP setup"
I stumbled upon a problem when using Captive Portal in a combination with CARP / High Availability.

The generated `ipfw` rules block access to the CARP IP used.

*Solution:*
Add Virtual IP of the CARP Interface as Allowed addresses
Services -> Captive Portal -> Administration -> Allowed addresses

Can this be added to the Documentation please ;)

[2019-01-02 15:41] clebig opened #3090 "OpenVPN Client Export doesn't work"
Dear OPNSense team,

I'm trying to use OpenVPN Client Export but I can't choose the server for which I want to generate the client.

The drop-down list is empty.

![screenshot_20190102_163153](https://user-images.githubusercontent.com/17143757/50599061-2686a480-0ead-11e9-9429-b325ac7d942c.png)
![screenshot_20190102_163223](https://user-images.githubusercontent.com/17143757/50599062-2686a480-0ead-1

[2019-01-02 16:15] fichtner commented on #2961
Here it is, please test :)

https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-201901021629-LibreSSL-dvd-amd64.iso.bz2

(image contains an intermediate state between 18.7.9 and 18.7.10 but should work fine in production including updates if required, but is not overly recommended)

[2019-01-02 16:30] mimugmail commented on #3090
You are sure server type is remote access and you have choosen an authentication backend?

[2019-01-02 16:34] AdSchellevis commented on #3090
The development version has a new (and simplified) module for this, which will be released with 19.1 later this month.

[2019-01-02 17:01] clebig commented on #3090
You are right, I was using Peer To Peer (SSL/TLS) mode...

Now it works, thank you.

What changes between Peer To Peer and Remote Access modes in OPNSense's backend exept you can use an authentication backend ?

[2019-01-02 18:00] marjohn56 commented on #2961
Still the same, hangs ( or appears to ) at the Guided Install. CTRL C drops to prompt and restart installer then works,

[2019-01-02 18:04] fichtner commented on #2961
So the segfault is a different issue. Can you post /tmp/installer.log from when it hang (don't restart)? The hang is specific to Hyper-V for some reason... and when you "restart" does it stay in the crashed menu or does the navigation restart?

[2019-01-02 18:06] fichtner commented on #2961
another thing--- can you try the same with the early installer ?

When it prompts for "import" press enter, then type "!" and press enter. In the magic shell, type "opnsense-installer" and enter...

[2019-01-02 19:07] soder10 commented on #2894
@fichtner: can you tell me, at which stage of the boot process /syshook script run do you generate the unbound.conf file that gets copied to /var/unbound? I would need to hack into that step to add the extra file copy from persistent filesystem to /var/unbound tmpfs, and the unbound service will find that copied file when it is getting started. At least thats my understanding.

[2019-01-02 19:09] fichtner commented on #2894
use "start" syshook, /var/unbound will be populated and running

copy the file

run "pluginctl dns" to restart unbound.

[2019-01-02 19:11] soder10 commented on #2894
Cool, I will try to implement this and hope it will work :)

[2019-01-02 19:15] fichtner commented on #2894
it should. if not let me know :)

[2019-01-02 19:15] #3005 closed

[2019-01-02 20:04] AdSchellevis commented on #3089
I'm not sure what you mean, the carp protocol should be passed, the rest should react the same as a non carp setup by my knowledge. Can you show your ipfw rules and point us to the issue?

[2019-01-02 20:19] marjohn56 commented on #3085
That appears to work fine. Kev... do you concur?

[2019-01-02 20:32] miminno commented on #2707
Same issue with adding PPTP interface.

[2019-01-02 20:46] nivek1612 commented on #3085
Yes confirmed works for me as well

[2019-01-02 20:47] AdSchellevis commented on #3085
thanks @nivek1612 @marjohn56 for confirming.

[2019-01-02 20:47] #3085 closed

[2019-01-02 20:52] marjohn56 commented on #2961
Early installer freezes at 'OK Lets Go' & I cannot break out of it.

In normal install I get to 'Accept these settings' and that's it, I can however then hit CTRL-C and break out. Log in again and away it will go and install. Now there's another thing I have discovered. If go for manual install then it gets as far as Edit Partitions, then freezes and it's eating CPU, so much that my cooler pump an

[2019-01-02 23:06] marjohn56 commented on #2961
Ok, had a few minutes to spare before zzzz.

Here's the installer log. I CTRL c'd and then logged in again and it worked, I'm sure you'll see that in the log.
[installer.log](https://github.com/opnsense/core/files/2722327/installer.log)

[2019-01-02 23:15] t4skforce commented on #3089
Issue being the default setup uses the local firewall IP not the VIP that is being used in CARP / HA. So the VIP IP is being blocked by the rules per default. The Setup only knows of the Interface not the VIP Address.

CARP VIP: 192.168.1.254
FW1 - VLAN30: 192.168.1.250
FW2 - VLAN30: 192.168.1.251

- ipfw script allows 192.168.1.250 on FW1 and 192.168.1.251 on FW2
- clearly CARP VIP is missing 192

[2019-01-02 23:19] marjohn56 commented on #2961
Here's one that I did not hit ctrl-c on. just left it and grabbed the log.
[installer_no_ctrl_c.log](https://github.com/opnsense/core/files/2722345/installer_no_ctrl_c.log)

[2019-01-03 05:00] soder10 commented on #2894
I have to wait couple of days (most probably until the weekend) for this. When is the 18.7.10 planned, so I could merge the 2 action?

[2019-01-03 07:11] AdSchellevis commented on #3089
output of `ipfw show` please.

[2019-01-03 10:39] fichtner commented on #2894
Preliminary target for 18.7.10 is Tuesday (Jan 8)

[2019-01-03 12:08] jpawlowski opened #3092 "unbound: Align *-cache-slabs settings with num-threads"
The [Unbound documentation](https://www.nlnetlabs.nl/documentation/unbound/howto-optimise/) says

However, on my machine I can see the settings do not follow that rule:

[code]

According to the official documentation, all `*-cache-slabs` settings shall be 8 in that case, not 4.
This shall be corrected in the code.

[2019-01-03 12:14] lhorace commented on #2961
I might be able to lend a hand with this but the issue, the logs doesn't explain a lot for a passer by. The differences, is DFUI? Only people who are familiar can help :(

[2019-01-03 13:10] #3092 closed

[2019-01-03 14:05] unipacket1 opened #3095 "DHCP Leases Columns Sortable?"
On the DHCP leases page, the column headings are clickable (cursor does not change but can still click on them.)  The page refreshes like it tries to sort the columns but nothing changes.  Not sure if the columns are suppose to be sort-able or not.

[2019-01-03 19:50] AdSchellevis commented on #1100
they should be, you can set them manually to another value if needed, but in most cases that's not advisable.

https://www.freebsd.org/cgi/man.cgi?query=carp&sektion=4

[2019-01-04 06:45] fichtner commented on #3065
Will be in 18.7.10.

[2019-01-04 06:45] #3065 closed

[2019-01-04 14:45] t4skforce commented on #3089
Without the "Allowed addresses"
[code]

With the "Allowed addresses"
[code]

[code]

[2019-01-04 15:25] clebig opened #3097 "[feature request] IP Alias on CARP interfaces"
Dear OPNSense team,

I'm just arriving on OPNSense and I wanted to reproduce the setup I had on my previous HA cluster (pfSense).
I'm dealing with CARP interfaces and I need to have several IP aliases on certain NICs.
In my previous setup, I could set IP Aliases on a CARP interface, the CARP interface is selectable as a normal interface.

Would it be possible to add this functionnality to OPNSense

[2019-01-04 15:34] AdSchellevis commented on #3097
@clebig it's a bit different in OPNsense, but does the same.

Just add an IPalias and select the vhid group to which it belongs. only thing currently not supported is the configuration sync (hasync), so you have to create the addresses on both machines for now. (maybe this will change in 19.1)

[2019-01-04 15:47] clebig commented on #3097
Thank you for this rapid answer !

[2019-01-04 15:50] clebig opened #3098 "[Feature request] CARP addresses in rules SRC/DST drop down list"
Dear OPNSense team again,

Would it be possible to have the CARP IPs visible with the NIC they belongs to in the source/destination drop down list in the "rules" form ? So we could select directly the CARP IP without having to remember them ?.

[2019-01-04 18:01] clebig commented on #3097
Is that normal that IP Aliases set with a vhid matching the carp interface they are associated to are still set when "disable carp" has been set in Virtual IPs/status ?
And they are still pingable from the firewall.

Also, when I do tcpdump on a NIC with a carp IP after having disabled temporarily CARP via the button, I still see VRRP traffic exiting from this NIC.

[2019-01-04 19:51] AdSchellevis commented on #3097
We don't seem to drop the addresses in this case it seems, shouldn't be a big deal to fix I expect.

[2019-01-04 19:54] soder10 commented on #2894
Thanks, will wait for it then, before going for custom scripting.

[2019-01-04 20:00] AdSchellevis commented on #3089
`count` only counts packets and bytes, nothing more. It also counts `any`... the address itself is put in a table underneath, in your case `table (0)`, the content can be listed using:

`ipfw table 0 list`

Since the original interface address won't be in there, it's not very logical you need the carp address for the same functionality.

[2019-01-05 10:03] lncan commented on #3003
It is fresh install, guy.

[2019-01-05 10:04] lncan commented on #3003
You have solution for this ?

[2019-01-05 10:06] fichtner commented on #3003
Is it the latest version 18.7.9? Does IPsec stop? "red" icon or does the status page show the connection is not up? Does it come back up when you re-enable it using the "play" icon?

[2019-01-05 10:18] lncan commented on #3003
I am running OPNsense 18.1.13_1-amd64 version. Yes. It stopped. It show "red" icon. And it up again when i click the "play" icon. It's my problem. I don't know. Can you please tell me the solution?

****

[2019-01-05 10:30] ihatemicrosoft-was-already-taken opened #3099 "IPv6, dynamic prefixes and services not working properly"
I have a setup where I get a /56 and delegate the /64 prefixes on my LAN interfaces via "track interface". My provider changes both IPv4 and IPv6 prefix every 24h on a forced disconnect. Delegation of IPv6 prefixes to the LAN interfaces works well.

_However_, services listening on LAN IPv6 interfaces won't work after a prefix change unless reloaded/restarted (e.g. `ntpd`, `dnsmasq`). I have set u

[2019-01-06 14:04] AdSchellevis opened #3100 "configd / templates -> add helper"
We seem to have quite some constructions like the following in our codebase :

[code]

it would probably be practical to have some `helpers.empty()` operator to simplify the templates a bit, where `empty` would be defined as trim(string) in ('', '0').

[2019-01-06 14:11] #2068 closed

[2019-01-06 17:20] trendchiller commented on #2048
Should the TLA-AUTH feature be replaced by TLS-CRYPT or be choosable as an alternative ?
i need this feature also very desperately, so i perhaps community could help on this (if desired) ?

[2019-01-06 17:34] clebig commented on #3097
Hi,

I'll test it tomorrow and get back to you.

Clement

Le ven. 4 janv. 2019 à 21:28, Ad Schellevis <notifications@github.com> a
écrit :

[2019-01-07 02:12] jeremyforan commented on #365
+1 . this would be really great.

[2019-01-07 10:31] soder10 commented on #3095
I have to agree, its a little bit confusing that these columns in the DHCP  lease page are not formatted to look like  actual headers of a table. However if I click on for example the "status" column, it does sort the lines as per status: first inactive entries and last the active lines. Hiwever I could not reverse the order: active entries at the top and inactive entries at thw bottom. So it seem

[2019-01-07 16:11] ky41083 commented on #2048
tls-auth and tls-crypt should coexist as selectable options. One does not deprecate the other. You can only use one of them at a time. If nothing else, they should both remain as options for backwards compatibility with pre-existing setups.

[2019-01-07 17:31] Epoxide opened #3101 "Typo in actions_system.conf"
There's a typo in /usr/local/opnsense/service/conf/actions.d/actions_interface.conf

[remote.backup]
command:/usr/local/opnsense/scripts/remote_backup.php
**oarameters:**
type:script
message:Performing remote backup
description:Remote backup

[2019-01-07 17:34] #3101 closed

[2019-01-07 17:34] fichtner commented on #3101
@Epoxide indeed, thanks! not an operational issue but better fixed than not. :)

[2019-01-07 18:51] clebig commented on #2551
Similar BUG here. IP Alias (IPv6) created on both master and slave using the same vhid (inherited from the CARP interface).

`Jan  7 19:49:41 192.168.0.245 kernel: carp: 44@igb0_vlan242: MASTER -> BACKUP (more frequent advertisement received)
Jan  7 19:49:44 192.168.0.245 devd: Processing event '!system=CARP subsystem=44@igb0_vlan242 type=MASTER'
Jan  7 19:49:44 192.168.0.245 kernel: carp: 44@igb0

[2019-01-07 21:41] cvbkf commented on #2591
I am on 19.1-rc1 for a few weeks now, until today both ix0 and ix1 were fine. After a reboot ix0 didn't come online -> the good old "no carrier" problem is back to haunt me. I tried a few things, but for now ix0 stays dead.

But, i made an interesting discovery: If i reset the machine via reset button, the link comes up at 10 Gbit/s - then, the link stays online until "Configuring LAN interface...

[2019-01-08 06:07] TheSagest opened #3102 "Feature request: Alias Type - URL Table (Ports)"
I would like to see an Alias type URL Table (Ports), similar to the URL Table (IPs).

Use case.

Changing the port on clients Web app can easily done by changing the Ports file in the URL. Within the frequency time frame, ALL clients firewalls using this Alias URL (Ports) will be updated.

[2019-01-08 06:11] mimugmail commented on #3102
I'm also missing this one. Was planning some basic central rule management but without ports it doesn't work.

[2019-01-08 06:17] fichtner commented on #3102
This used to exist, but there was an implementational issue that eludes me. 015ae9f0587506

In general, there is no support for pf(4) table for ports. That seemed to be part of the issue...

Need to wait for @AdSchellevis to be back to fill in the details.

[2019-01-08 06:19] fichtner commented on #3102
related issue was https://github.com/opnsense/core/issues/2567

[2019-01-08 06:27] marjohn56 opened #3103 "dhcpd lease time displays incorrect when not using local time."
Reported by Bimmerdriver. I've checked this using the following method, note I have only checked dhcdv6 and not v4.

Set my system timezone to New York, that's GMT-5.  Reboot and let the lease be issued, This is displayed when local time is NOT selected.

![image](https://user-images.githubusercontent.com/17962918/50813303-d9bc2700-130d-11e9-952c-6fa5154a2eed.png)

If you then change the setting t

[2019-01-08 07:05] marjohn56 commented on #3103
#3104 and #3105

[2019-01-08 08:07] MichaelDeciso commented on #3095
I will port this page to use MVC and Bootgrid, which should also take care of this.

[2019-01-08 08:32] #3103 closed

[2019-01-08 11:24] MichaelDeciso opened #3108 "load_phalcon.php does not work"
It contains the following instruction:
[code]
However, `include_once` returns a bool. `include` would have worked as intended.

This then causes a notice (Trying to get property of non-object) in:
[code]
This notice is not usually visible, since legacy scripts usually suppress notices. It is, however, visible if a controller includes certain old scripts (which is how I ran into the issue) and it's

[2019-01-08 11:25] #3108 closed, assigned to nobody

[2019-01-08 11:35] AdSchellevis commented on #3102
pf doesn’t support tables for ports, since we don’t want to clutter the firewall logic a lot, we dropped support for this.

To be honest, with the api available you really don’t need some obscure fetch construction, for management purposes you can easily push ports and reconfigure.
We shouldn’t try to bring this back, unless at some point in time pf supports tables for ports.

[2019-01-08 11:44] TheSagest commented on #3102
After reading through the BSD pd documentation i agree.
I will utilise the API.

Thanks forbyour time
The Sage !!

________________________________
From: Ad Schellevis <notifications@github.com>
Sent: Tuesday, January 8, 2019 10:35:17 PM
To: opnsense/core
Cc: Dave Clist; Author
Subject: Re: [opnsense/core] Feature request: Alias Type - URL Table (Ports) (#3102)

pf doesn’t support tables for ports

[2019-01-08 18:45] mahescho opened #3113 "Feature Request: Alias Table completion / GUI persistence"
Nice to have completion for alias lists. Thanks!

It would be nice to have completion for all IPs (v4&v6) and nets/prefixes known to the firewall (by interfaces and virtual IPs) for completion too.

It would also be nice to have GUI persistence in the alias table so sort order and lines to be displayed are persistent over sessions.

[2019-01-08 18:54] mahescho opened #3114 "Virtual IPs"
I don't understand the placement and name of so called "Virtual IPs". I had to ask at the forum to find out how to add IP aliases to interfaces. This statement itself explains where this IMHO belongs to. Why is is this called "Virtual IP" and why is is placed in the "Firewall" section. For me this is completely unintuitive.

When you look at FreeBSD you add IP aliases by "ifconfig" and get them di

[2019-01-08 18:57] mahescho opened #3115 "Feature Request: Traffic Widget"
It would be nice to be able to choose wich interfaces is displayed in the traffic widget. Currently I've 17 (18 with the currently unused IPSEC) and only 4 are of real interest. I know that I can disable the graph by clicking at the interface. But I want to be able to remove the texts too because I will get more interfaces an the widget does not grow. There is nearly no space left for the graphs.

[2019-01-09 07:36] fichtner commented on #2749
This is ok in 18.7.10:

The name must be less than 32 characters long and may only consist of the following characters: a-z, A-Z, 0-9, _

[2019-01-09 07:36] #2749 closed

[2019-01-09 07:39] fichtner commented on #1663
Code is in there, but GUI parts need more work.

[2019-01-09 19:33] NoLooseEnds commented on #3050
I have the same issue. It started after an upgrade a few versions back. I have reported in the error via the built-in bug system.

[2019-01-09 22:45] max-weller commented on #2317
@fichtner why was this bug report closed? It still seems to be valid, as PR #2467 was not merged...

[2019-01-10 06:51] pazifi commented on #3049
Yes, this is an option, also with an extra account for backups. (When the router and a data synchronization behind the same IP).

Thank you.

[2019-01-10 08:15] fichtner commented on #2317
because of unfriendly submitter demeanor towards the project and its community: https://github.com/opnsense/core/pull/2466#issuecomment-398398501

I'm not surprised to see this GitHub account deleted.

[2019-01-10 12:30] MichaelDeciso commented on #2800
Hi Adrian,

I'm working on this feature. Could you check if the enclosed file (which should be a combined client and server certificate) is indeed what you need?

[bla.crt.zip](https://github.com/opnsense/core/files/2745276/bla.crt.zip)

[2019-01-10 13:53] max-weller commented on #2317
Okay, should I open a new bug report / PR or could you reopen/merge it? I'm afraid the PR would improve the software despite the demeanor of its author...

[2019-01-10 14:59] fichtner commented on #2317
@max-weller would you mind creating a new PR with the old changes and confirming that they work for you?

[2019-01-11 11:58] lhorace commented on #2961
For more context, I've come across a few people on the forums who are kvm based are experiencing 'random' refreezes. So far, I haven't changed CPU model on KVM side, I plan to test to using host-passthrough.

[2019-01-11 12:09] fichtner commented on #2961
Are we talking about installer "freezes" or system freezes? To me it seems the only way the installer freezes is when their local TCP traffic is dropped for some reason, hence the "pfctl -d" question.

This, however, has no association with freezes as the installer only appears to be frozen but the system (and backend) remains responsive. And this is only the case for Hyper-V.

[2019-01-11 12:10] lhorace commented on #2961
Ahh, right, forgot. Sorry.

[2019-01-11 12:11] fichtner commented on #2961
No worries.

[2019-01-11 12:12] lhorace commented on #2961
I watching a lot open source communities, I should have read up on this issue! I matched this problem with a freezes

[2019-01-11 15:31] BPtLNfxZWo opened #3120 "VLAN assignment to WLAN parent interface issue"
Assigning an VLAN-ID to an WLAN parent interface e.g ath0_wlan1 results in a crash with the following notification:

OPNsense 18.7.10-amd64
FreeBSD 11.1-RELEASE-p18
OpenSSL 1.0.2q 20 Nov 2018

Steps to reproduce:
1) Interfaces: Wireless: Devices -> Add an Wireless interface, will be automatically named ath0_wlanX
2) Interfaces: Other Types: VLAN -> Assign VLAN ID to that Interface, will be named a

[2019-01-11 15:35] fichtner commented on #3120
Hi, thanks for the report. Interface names are 15 characters plus terminating zero so this is hitting a brick wall... VLAN notation could be changed, but will require a bit of dedicated work and QA time.

[2019-01-11 15:35] max-weller commented on #2833
I created a pull request (#3121) which should fix the problem noted in https://github.com/opnsense/core/issues/2833#issuecomment-432543007 by @mimugmail

[2019-01-11 15:49] mimugmail commented on #2833
Cool! :D Now we just ne a PR for routed ipsec 🥇

[2019-01-11 16:13] topaDev commented on #1931
Confirmed for 18.7.10, but I will give Dpinger a try

[2019-01-11 16:18] lhorace opened #3122 "[Posssible DOS] Unbound crash on ethernet device"
Hello,

This raised alarms for me reading this thread https://forum.opnsense.org/index.php?topic=10958.new;topicseen#new. A unprivileged process can crash ''driver' in 'freebsb'?

[2019-01-11 16:19] BPtLNfxZWo commented on #3120
Thanks for the answer. I'll switch to an external VLAN capable AP soon which is anyway recommended.

[2019-01-11 16:59] fichtner commented on #3122
Unlikely a driver "crash" as in "panic". I'm grasping at straws because interface code didn't change in 18.7.9 -> 18.7.10 but there seems to be a latent issue with some mildly related parts. It probably makes sense once we find it but for now it's unclear.

[2019-01-11 17:10] fichtner opened #3123 "system: static/MVC hybrid model array vivification issue"
via: https://forum.opnsense.org/index.php?topic=10932.0