[2021-09-17 17:03] #5218 closed

[2021-09-18 07:11] Francabicon opened #5222 "How do i translate the same action from this TPLINK router config to OPNsense"
So I'm trying to connect to PPPOE but they had this config to do which i don't know how to translate to OPNsense
![image](https://user-images.githubusercontent.com/52349593/133879783-bf121e2f-401e-4a8d-b7a8-d9444444e316.png)

This is my current config
![image](https://user-images.githubusercontent.com/52349593/133879887-eb7b7230-5fc2-433f-8153-25e3c331be4e.png)

Please do help me I've tried for a

[2021-09-18 08:31] kulikov-a commented on #5219
considered not useful

[2021-09-18 08:31] #5219 closed

[2021-09-19 21:25] nzkiwi68 opened #5223 "New Dashboard Widget "URL Table IP Summary" and show info about URL Table IPs"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:
- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a pro

[2021-09-20 00:48] nzkiwi68 commented on #5223
I hate to mention pfBlocker, but, such a widget will go a long way to making the "URL Table IPs" more useful and more functional.

pfBlocker has a Dashboard widget and that's how you can see easily if it's working correctly.

[2021-09-20 01:22] muchahagrande commented on #5222
Hi @Francabicon, you can ask this in the forum to get help from the community: https://forum.opnsense.org/index.php?board=1.0
Here you can get support for bugs or ask for new features.
Cheers...

[2021-09-20 06:59] fichtner opened #5224 "firewall: internal shaper bandwidth capped to 2Gb/s"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Loading bandwidth

[2021-09-20 07:41] AdSchellevis commented on #5223
Extending the `Firewall > Diagnostic > Aliases` view with some information to ease troubleshooting might be something to consider, most people use a lot of aliases which doesn't really present well in a widget.

Some sort of log triggered notification might be practical at some point in time as well, but is more or less a generic feature, usually all relevant information is already in there.

[2021-09-20 09:09] fichtner commented on #5217
oops, dup of #5224

[2021-09-20 09:09] #5217 closed

[2021-09-20 09:24] Francabicon commented on #5222
Hi @muchahagrande well that is what i did exactly but no one replied to it so yeah but i manage to get it work already by rebooting the router and the config that i shown in the picture is correct. Thanks Mate.

[2021-09-20 09:33] fichtner opened #5225 "replace ->__toString() usage with type cast"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2021-09-20 10:15] #5225 closed

[2021-09-20 10:48] nzkiwi68 commented on #5223
I'm not suggesting the widget showed all aliases, but, specifically only "URL Table (IPs)".
I imagine you're right that others use lots of aliases, but lots of "URL Table (IPs)" aliases?
I do use "URL Table IPs" but only a few and certainly not lots.

Have a look at a working pfSense firewall with the pfBlockerNG dashboard widget. It is readily apparent that all the IP lists are downloaded because

[2021-09-20 11:10] AdSchellevis commented on #5223
Just saying we don't consider adding a dashboard widget, if someone does want to work on such a feature, I don't mind that much, it could be a plugin as well.

Failures during updates should be in the log, when a list contains items, it doesn't guarantee a successful load, depends on how items are being flushed and what happens after download failures (often the previous state stays in the table).

[2021-09-20 11:34] nzkiwi68 commented on #5223
And that is essentially what such a widget does. It shows in a simple format that the IP address lists are not empty and have been updated. This gives you the confidence that your **URL Table (IPs)** aliases are working correctly.

It may well be logged, but it's just totally impractical to troll through the log to ensure your URL table IPs are up to date.

It's that widget that makes pfBlocker so

[2021-09-20 11:38] AdSchellevis commented on #5223
you never know, but improving the current diagnostics view might be a good idea as well.

[2021-09-20 11:42] nzkiwi68 commented on #5223
I'm no programmer, but if you're going to go to effort of writing code that pulls URL Tables (IPs) into a list and displays them as;
`Name, Total IP addresses, Refresh Frequency, last updated (date & time)`

How much extra effort is that to make that view available as widget?

[2021-09-20 11:44] AdSchellevis commented on #5223
I was think maybe we could add the number of entries and last updated in the current dropdown to keep the current overview consistent, otherwise the whole page should be refactored (or extended with some sort of "overview" tab).

[2021-09-20 15:18] rjdza opened #5226 "MultiWAN reply-to not working as expected in some instances"
**Important notices**

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

My version is OPNsense 21.7.2_1-amd64

I'm not sure how long this has been an issue, but I can c

[2021-09-20 20:15] nzkiwi68 commented on #5223
Yes, sounds good, certainly an improvement.

Still, terribly manual to need to specifically drill down to diagnostics to see if the URL Table IPs are working. Maybe later on someone can pickup that code and make it into a widget...

[2021-09-21 07:18] fichtner opened #5227 "firewall: live log timestamps differ between clog and syslog-ng format"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Different timestam

[2021-09-21 07:25] fichtner opened #5228 "firewall: support binat logging"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-09-21 10:00] Nikotine1 commented on #4389
I can confirm that manually creating the firewall rule, including the reply-to, fixed the port forwarding issue via Wireguard!

I could not figure out why Transmission kept saying my listening port was closed. It worked via WAN, but stayed closed via the WG interface. I even used Wireshark and could see the difference in traffic. I'm so lucky I stumbled upon this github issue!

[2021-09-21 12:18] fichtner commented on #5198
@neelchauhan ping :)

[2021-09-21 12:30] fichtner commented on #5165
I cannot reproduce this. $a_interfaces is a reference to $config[interfaces]:

https://github.com/opnsense/core/blob/ea7709e2683f2754b7fb2150679020fef9964b80/src/www/interfaces.php#L310

Cheers,
Franco

[2021-09-21 12:36] fichtner commented on #5150
Politically correct would be to say that if unbound-control fails to dump its cache and then fails to load its dump that is a pretty unusable situation for any caller.

We still need to know why it dumps partial or invalid data or how we could possibly verify that data... ideally hoping the process that knows the data could tell us. ;)

Last but not least cache.sh sets "set -e" which aborts on err

[2021-09-21 12:40] foo2k commented on #167
ipfw seems to have extensive support for IPv6 <-> IPv4 translation. Considering there is no support for IPv6/4 translation in pf in NetBSD, would using ipfw be the easiest option to implement a proper NAT64 solution on OPNsense?

Can ipfw be run on OPNsense without breaking pf?

I am aware of Tayga, but I think we should move away from this since it now seems to be an abandoned project.

[2021-09-21 12:49] fichtner commented on #5088
4a1bc9f8b5 which is part of 21.7 actually removed the reload block so this has been solved.

[2021-09-21 12:49] #5088 closed

[2021-09-21 12:50] #5065 closed

[2021-09-21 12:51] #5070 closed

[2021-09-21 13:04] fichtner commented on #5038
@Alwaysin any news here?

[2021-09-21 13:05] #5029 closed

[2021-09-21 13:06] #5017 closed

[2021-09-21 13:06] #5015 closed

[2021-09-21 13:15] fichtner commented on #4970
21.7 changed the reload behaviour to always reload on interface event since we have the ability to retain the cache now. I can't speak for not handing out DNS server on IPv6. Seems unrelated.

[2021-09-21 13:15] #4970 closed

[2021-09-21 13:20] #4939 closed

[2021-09-21 13:22] #4933 closed

[2021-09-21 13:27] AdSchellevis opened #5229 "Firewall / Rules - specify overload table on max new connections"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-09-21 13:27] fichtner commented on #4883
Please check with FreeBSD where this has been added?

[2021-09-21 13:27] #4883 closed

[2021-09-21 13:28] #5229 closed

[2021-09-21 13:28] #4930 closed

[2021-09-21 13:32] fichtner commented on #4827
Nothing to do here as discussed.

[2021-09-21 13:32] #4827 closed

[2021-09-21 13:33] fichtner commented on #4821
I reckon this has been fixed....

[2021-09-21 13:33] #4821 closed

[2021-09-21 13:37] #4760 closed

[2021-09-21 13:38] #4720 closed

[2021-09-21 13:38] #4709 closed

[2021-09-21 13:41] #4864 closed

[2021-09-21 13:41] #4863 closed

[2021-09-21 13:41] #4841 closed

[2021-09-21 13:41] #4851 closed

[2021-09-21 13:41] #4819 closed

[2021-09-21 13:41] #4814 closed

[2021-09-21 13:41] #4808 closed

[2021-09-21 13:41] #4824 closed

[2021-09-21 13:41] #4829 closed

[2021-09-21 13:42] #4831 closed

[2021-09-21 13:42] #4785 closed

[2021-09-21 13:42] #4818 closed

[2021-09-21 13:42] #4765 closed

[2021-09-21 13:42] #4766 closed

[2021-09-21 13:42] #4770 closed

[2021-09-21 13:42] #4768 closed

[2021-09-21 13:42] #4781 closed

[2021-09-21 13:42] #4782 closed

[2021-09-21 13:42] #4746 closed

[2021-09-21 13:42] #4732 closed

[2021-09-21 13:42] #4740 closed

[2021-09-21 13:42] #4708 closed

[2021-09-21 13:42] #4701 closed

[2021-09-21 17:10] kulikov-a commented on #5223
as an immediate help, can suggest adding the `pfctl -vvsTables` output to the pfInfo page (just a little code to the page and pfinfo.py script). this allows to take a look at the tables on the subject of health and stats.
small problem: the output only displays the time the table was last cleared, and the tables are not flushed before reloading.
but I have a feeling that @AdSchellevis  has already

[2021-09-21 17:15] AdSchellevis commented on #5223
@kulikov-a I was indeed thinking about this a bit, the most logical place seems to be the current alias grid, this is heading into the master branch
![image](https://user-images.githubusercontent.com/9783985/134216986-999dd466-dcba-41f4-bfbf-14dffeb3bd13.png)

[2021-09-21 17:19] kulikov-a commented on #5223
@AdSchellevis an ideal place imho

[2021-09-22 00:33] nzkiwi68 commented on #5223
Thanks btw for picking up this idea....

[2021-09-22 06:13] wobblywob commented on #5055
I haven't because the behavior is reproductible on a fresh install. I've tried it now on 21.1.9_1 and the behavior is the same. If I switch from Managed RA to Disabled, I'm still getting

[2021-09-22 06:15] fichtner commented on #5055
Yes but my questions are important because they indicate if something goes wrong or if you're just concerned about an old configuration file that isn't used...

[2021-09-22 06:19] wobblywob commented on #5055
Ok, so I've deleted /var/etc/radvd.conf, then pressed saved in the UI. The generated file is the same and disabling router advertisments has the same result.

[2021-09-22 06:20] fichtner commented on #5055
Still, what does

    # pgrep radvd

say?

[2021-09-22 06:20] wobblywob commented on #5055
[code]

[2021-09-22 06:23] fichtner commented on #5055
And you are sure System: Configuration: History sets it to disabled?

[2021-09-22 06:25] fichtner commented on #5055
I just tried as per your description and I still can't reproduce. After setting to disabled radvd is no longer running and while the old config file is still there it's not being used and rewritten as soon as router advertisements are switched back on.

[2021-09-22 06:25] wobblywob commented on #5055
[code]

[2021-09-22 06:28] wobblywob commented on #5055
Do you have multiple radvd configured? Maybe with just 1 it does indeed disable it.

[2021-09-22 06:29] fichtner commented on #5055
That's true, but then not so much when you say "reproductible on a fresh install" where only LAN and WAN exist by default.

[2021-09-22 07:47] wobblywob commented on #5055
Fresh install as in, starting from 0 with no plugins or other changes on a fresh copy.

[2021-09-22 07:57] fichtner commented on #5055
I'm sorry, but this isn't very helpful since you keep reiterating your points after I say you're oversimplifying too much and the problem doesn't exist in that scope you claim.

[2021-09-22 08:37] wobblywob commented on #5055
I don’t know what kind of info you expect. The example is in the OP, easily reproductible in several installs. Try adding an extra interface and test radvd then.

[2021-09-22 08:38] fichtner commented on #5055
Maybe it's easier if you point me to the problematic code. I can't test this all day "trying" stuff.

[2021-09-22 08:46] wobblywob commented on #5055
I don’t know how to code.

[2021-09-22 09:25] fichtner commented on #5086
Groundwork was added for this feature which was more complicated than previously thought. Should expect the feature to be implemented next week in time for the next development version bundled with 21.7.4.

Cheers,
Franco

[2021-09-22 09:56] AdSchellevis opened #5230 "Firewall - inconsistency in policy based routing rules between route-to and reply-to behaviour"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The automatically

[2021-09-22 11:16] fichtner commented on #5055
Ok, and I still don't know how to reproduce.

[2021-09-22 12:16] #4870 closed

[2021-09-22 13:27] Alwaysin commented on #5038
@fichtner So, I did the test again on latest version of OPNSense.

- Killing via the interface is not working. Page refreshes but client stays connected  (and stays on the list for that matter)

- Killing via IP:port is not working on the command line, saying the client is not found:

[code]

Killing via the name is still working.

Is there anywhere else I can check logs? I saw nothing in /var/log

[2021-09-22 13:39] #5230 closed

[2021-09-22 14:32] wobblywob commented on #5055
I've installed a fresh opnsense 21.7.1 in a VM. I applied the following settings:

- enabled root ssh login with password
- checked interfaces -> LAN -> "Allow manual adjustment of dhcpv6 and router advertisments"

SSHd into the box. and

[code]

This is in the Services -> Router advertisments section:

![Screenshot 2021-09-22 at 17 31 02](https://user-images.githubusercontent.com/18722123/1343632

[2021-09-22 14:56] wobblywob commented on #5055
Issue is fixed on 21.7.1 .

/var/etc/radvd.conf is still there when router advertisments are disabled, but the radvd service is stopped.

[2021-09-22 14:56] #5055 closed

[2021-09-22 21:09] trendchiller opened #5232 "TLS-crypt broken (?)"
When I create a new (or edit an existing) OpenVPN-Server with TLS-Crypt it does NOT work, because only TLS-auth is written to the corresponding config file (under /var/etc/openvpn)

written:
tls-auth /var/etc/openvpn/server3.tls-auth 0

should be:
tls-crypt /var/etc/openvpn/server3.tls-auth

I'm using OPNsense 21.7.3-amd64

[2021-09-23 05:05] #4873 closed

[2021-09-23 06:01] fichtner commented on #5232
https://github.com/opnsense/core/pull/4592#issuecomment-925525114

[2021-09-23 06:02] #5232 closed

[2021-09-23 07:56] oleksandrmeleshchuk-epm commented on #195
Hi,
can someone please clarify why Squid is unable to use interfaces which are configured to receive IP-address using DHCP client?
Right now I'm facing same error, when Squid is unable to start on the interface which is having DHCP client enabled (there is no way to switch interfaces to the Static IP), from the Cache logs I can see message like (screenshot attached)
![image](https://user-images.gi

[2021-09-23 08:05] fichtner commented on #195
Redirects can’t really handle shifting IP anyway. Localhost works. Just add a redirect (port forward).

[2021-09-23 08:13] oleksandrmeleshchuk-epm commented on #195
Ok, so there is no functionality right now in OpnSense which allows to parse IP's of the Assigned interfaces.
Is there a way to run Squid in OpnSense on 0.0.0.0 rather than on a specific interface IP, as this will be more user friendly rather than creating NAT rule to the loopback interface (which creates issues with the correct working Squid ACL)?

[2021-09-23 08:17] AdSchellevis commented on #195
currently not (usually it's not recommended anyway), a redirect doesn't mangle source addresses anyway so why would you want to bind to something that's not static. (localhost binding + redirect is a best practice advised by quite some vendors)

[2021-09-23 08:22] oleksandrmeleshchuk-epm commented on #195
So in this case ACL functionality is pointless in the OpnSense configuration as any kind of restrictions to the Squid service should be done by the FW or NAT rules.

[2021-09-23 08:28] AdSchellevis commented on #195
euh, no, but if that's how you think it works, I don't mind.  ACL's are usually matching source addresses, in case of a changing destination there wouldn't be any sensibel matching anyway.

We left all relevant pointers in this already closed issue, best of luck trying things out on your end.

[2021-09-23 09:30] EmperorsLoungeVPN opened #5233 "Acme leaves behind unneeded directorys."
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

A clear and concis

[2021-09-23 09:31] EmperorsLoungeVPN commented on #5233
Not quite sure why it has left unneeded files hmm?

[2021-09-23 18:35] #5208 closed

[2021-09-23 18:38] AdSchellevis commented on #5208
@alex-h7h can you try https://github.com/opnsense/core/commit/0e10b291b2f9b83485ec20963a900b758a935c69? Should do the same as your PR, found some edge cases (default handling) and simplifications

[2021-09-23 18:45] joeyboon commented on #5164
I can confirm I have the same problem. I had to restore after an SSD failure, used the backup config, everything worked great, but the GUI show logfiles in /var/log/FOLDERNAME/*, whilst /var/log/system.log is up to date. Same goes for firewall, unbound, etc.

Running:
OPNsense 21.7.3-amd64
FreeBSD 12.1-RELEASE-p20-HBSD*
AMD Ryzen 5 3500X 6-Core Processor (6 cores)

[2021-09-23 19:04] joeyboon commented on #5214
I have the same problem, I confirmed the service runs even when the GUI states that it does not. Killing the ntpd process via CLI allows me to restart it via GUI and CLI.

[2021-09-23 19:21] AdSchellevis commented on #5164
`/var/log/system.log` is only populated if circular logs are enabled (System->Settings->Logging "Disable circular logs" unchecked)

[2021-09-23 19:25] hanzoh commented on #5164
Yes! Disabling circular logs shows the live log for firewall again, also unbound log shows current entries.
Is this the new default in 21.7?

[2021-09-23 19:27] joeyboon commented on #5164
I solved the issues by resetting the log files in System -> Settings -> Logging -> Reset Log Files.

[2021-09-24 02:05] #4875 closed

[2021-09-24 05:39] delan opened #5234 "Port Forward creation page doesn’t retain filter-rule-association when input validation fails"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

* OPNsense 21.7.2_

[2021-09-24 07:16] #5234 closed

[2021-09-24 07:21] AdSchellevis commented on #5234
@delan can you try https://github.com/opnsense/core/commit/eb85feceb817808ccafffc44965e68c171744b74 ? This old code is still mind boggling from time to time, different names are used for new and existing entries which easily leads to confusions (filter-rule-association vs associated-rule-id).

The following command should patch the latest OPNsense version:
[code]

[2021-09-24 07:25] AdSchellevis commented on #5164
@hanzoh it's the new default since 21.7 indeed, if after an install old log files are still present I could imagine that leads to some confusion (the reader supports both, but will always assume the new format is preferred (and will order syslog.log after syslog/syslog_XX.log for example). close issue?

[2021-09-24 07:51] #5164 closed

[2021-09-24 08:34] delan commented on #5234
Thanks for the quick fix @AdSchellevis! The patch works well, both when creating and cloning.

[2021-09-24 08:36] AdSchellevis commented on #5234
@delan thanks for reporting back!

[2021-09-24 14:15] CallMeR commented on #5143
I recently upgraded opnsense to version 21.7.3-amd64. The version of Suricata is 6.0.3 .
And I did several bandwidth tests with Speedtest and iperf3.
CPU：J4125
Mem：4GB
Virtualization：ESXi 7.0 latest
nic：vmxnet3

<img width="691" alt="Snipaste_2021-09-24_21-51-44" src="https://user-images.githubusercontent.com/11908641/134686848-4788e74a-a7e9-461f-8506-c084c604f745.png">

Suricata's matching patter

[2021-09-24 14:32] ZeiP commented on #2540
This would be very useful, at least Telia in Finland won't publish the necessary parameters and so it's a big PITA to try to configure 6rd.

[2021-09-24 18:11] fichtner commented on #2540
@ZeiP uh, I remember this... let me try to revisit if you are able to help test... :)

[2021-09-24 19:06] ZeiP commented on #2540
Awesome! I'm glad to help any way I can :)

[2021-09-24 21:05] #4876 closed

[2021-09-25 20:50] alex-s-team commented on #5162
this request has existed for quite some time, but did not get any traction:

https://github.com/opnsense/core/issues/3557

after patching the plugin source ipxe works, but thats not a very satisfying solution.

[2021-09-26 23:05] #4882 closed

[2021-09-27 09:02] #5098 closed

[2021-09-27 09:02] #5097 closed

[2021-09-27 09:04] mnaiman opened #5236 "plugin: unbound access-control-view settings"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a

[2021-09-27 09:05] mnaiman opened #5237 "plugin: unbound SRV records overrides"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a

[2021-09-27 11:09] Rapterron commented on #5094
Hello @AdSchellevis,

Please apologize for not responding the last 2 weeks.

Yes I know the policy based routing can be very tricky and to sort out all other possible network setup errors I set up a clean environment with only one rule.
This is a very simple setup LAN and 2x WAN in a separate VLAN with no connection to the prod. network and with 3 Test devices (2x android phones 1x windows client)

[2021-09-27 12:22] zingelmann opened #5238 "Routing Problem when using two pppoe Connections from the same Internetprovider with the same PPP link target"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

Routing Problem when using two pppoe Con

[2021-09-27 12:24] fichtner commented on #5238
Sorry, same gateway IP for two connections is not supported by FreeBSD.

Cheers,
Franco

[2021-09-27 12:35] zingelmann commented on #5238
Hi Franco,

thanks for your reply - so in this case only the ISP can change something by providing different gateways for the two connections, right? Strange behaviour - I'm shure I'm not the only user with two internet connections from the same provider - shure that the problem exisits too for other user. Perhaps someone had experience with this?

Thanks in advance
Vivian

[2021-09-27 13:13] fichtner commented on #5238
Hi Vivian,

It should suffice when the ISP can assign an alias to the same gateway for you to use that second IP address in the second gateway setting. Gateway routes are host routes (/32) so you can have only one in the routing table.

As far as I understand this has been a general FreeBSD problematic for a long time. It might be solvable with separate routing tables, but we don't support this in

[2021-09-27 14:05] #4885 closed

[2021-09-27 15:39] somova opened #5239 "IPSec: Security issues in authenticating connections"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Security issues hav

[2021-09-27 15:45] somova opened #5240 "IPSec: Fine granular configuration of authentication not possible"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-09-27 15:50] somova opened #5241 "IPSec: Parameters and Description in the IPsec configuration dialog should be improved"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-09-28 07:10] fbrendel commented on #5147
The correct event type is `Link down` but it was missing.
Fixed in #5242

[2021-09-28 07:30] AdSchellevis commented on #5147
closed in https://github.com/opnsense/core/pull/5242, use the following command to try the patch on 21.7.x:

[code]

[2021-09-28 07:30] #5147 closed

[2021-09-28 14:05] #4888 closed

[2021-09-28 14:26] neonknight opened #5245 "OpenVPN client export: support OpenVPN Connect client"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-09-28 15:12] AdSchellevis commented on #5245
The file option is intended for the standard OpenVPN client (which is more or less the same as the command line version if I'm not mistaken) and ships the certificate in the `<cert>` section in standard pem format, which usually works out of the box.

[2021-09-28 15:26] neonknight commented on #5245
"OpenVPN Connect client" is NOT command line openvpn. It's a GUI client for Windows and other OS. Please click the link in my ticket for more information.

[2021-09-28 15:32] AdSchellevis commented on #5245
yes, which underneath uses the same client if I'm not mistaken and accepts an ovpn profile (which is our plain file format). It's not that I don't know their client, I've used it before on other platforms where Viscosity isn't supported....

[2021-09-28 15:40] neonknight commented on #5245
If the VPN server requires user certificates then the p12 certificate store from the archive and the plain text file are both needed. The plain file alone is not enough. We trialed&errored a while to find out how to configure that client correctly.

[2021-09-28 15:51] AdSchellevis commented on #5245
Maybe there's something else specific in your use case, but the file version should contain the same certificate information (only can't carry a password as that's part of the p12 format).

https://github.com/opnsense/core/blob/58186f8c4ed345d0f7a830045b84355ea2247984/src/opnsense/mvc/app/library/OPNsense/OpenVPN/ArchiveOpenVPN.php#L80-L88

https://github.com/opnsense/core/blob/58186f8c4ed345d0f7a

[2021-09-28 15:52] f45tb00t opened #5246 "Suricata broken with upgrade to 21.7.3_1"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

After upgrading to

[2021-09-28 16:01] f45tb00t commented on #5147
Thanks a lot :)

[2021-09-28 16:17] AdSchellevis commented on #5246
just double checked on my end using the standard eicar test (`curl http://pkg.opnsense.org/test/eicar.com.txt`) and igb, seems to be working without issues.

[2021-09-29 08:59] #5086 closed

[2021-09-29 12:07] zapotah opened #5248 "Cannot configure OpenVPN site to site tunnel network with mask /31 or /30"
Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Configuring a new site-to-site tunnel wit

[2021-09-29 12:40] AdSchellevis commented on #5248
duplicate https://github.com/opnsense/core/issues/5212 ?

[2021-09-29 13:49] zapotah commented on #5248
I even tried searching through closed issues.... the patch does indeed allow /30 to be configured.

[2021-09-29 13:49] #5248 closed

[2021-09-29 14:33] AdSchellevis commented on #5248
@zapotah things happen, glad it fixes your issue.

[2021-09-29 16:01] jasonpcrowley commented on #5002
I don't see this as an edge case. We have a number of firewalls with a 172.16.0.0/13 route related to an OpenVPN tunnel. We have others with static routes for 172.16.0.0/12 or other RFC1918 supernets. Because these show up in the routing table before the appropriate route and the DHCP server's IP is within the larger subnet, we're getting the wrong IP in our DHCP server configuration on the second

[2021-09-29 16:45] jasonpcrowley commented on #5002
Swapping the existing `guess_interface_from_ip()` function in interfaces.inc with this function seems to fix the problem for me. @AdSchellevis, does this look acceptable?

[code]

[2021-09-29 16:48] Unit764 opened #5249 "OpenVPN Space In IPv4 Remote Network"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Version: OPNsense

[2021-09-29 17:05] AdSchellevis commented on #5249
The validation was recently changed in https://github.com/opnsense/core/commit/1b9e263195c82824f172038c7dd154863dfcdae0, not accepting spaces in the gui for these fields is a change made on purpose to prevent the need to trim values all over the place. Just remove the space and save again.

[2021-09-29 17:20] jasonpcrowley commented on #5002
I also suggest the title of this issue be changed to:

DHCP Failover Peer IP is not correctly synced over XMLRPC if larger matching subnet appears before correct one in route table

[2021-09-29 17:24] AdSchellevis commented on #5002
@jasonpcrowley just open a PR (mind the typo in `explode('/', $subnet)`) and we can probably accept it. The results look good on my end.

[2021-09-29 18:05] #4892 closed

[2021-09-29 18:28] Unit764 commented on #5249
Mabey I should rewrite this as upgrading a router can break VPN static routs, the error message does not properly describe the error, or both?  When the routers update in a multi user site, each user would need to be called and told how to reconfigure the router.  It would be nice if the update would take this into consideration and remove the spaces to prevent end user headaches.  Just a recommen

[2021-09-30 06:47] fichtner commented on #5249
@Unit764 We thought about the impact and this wasn't an easy choice. Actually we stumbled into these irregularities in the OpenVPN handling code while ironing out 2.5 migration issues post 21.7... OpenVPN isn't that consistent with its setups and documentation is softer than the daemon's configuration errors. So from our view to avoid future issues with improperly verified data in the config.xml a

[2021-09-30 06:53] fichtner commented on #5201
No feedback for 14 days on a patch that is hot for discussion seems strange to me. ;)

[2021-09-30 07:03] mimugmail commented on #5201
Like the crowd around someone injured, everyone thinks the other guy will help :)

[2021-09-30 07:48] AdSchellevis opened #5250 "Firewall/Aliases - model whereUsed test doesn't take aliases in consideration"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When an alias is u

[2021-09-30 07:52] AdSchellevis commented on #5250
seemed to be an issue with my test setup.

[2021-09-30 07:52] #5250 closed

[2021-09-30 11:52] MLeFrench opened #5251 "Let's Encrypt SSL certificates are being linked to an expired root certificate"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

New generated/re-i

[2021-09-30 11:55] fichtner commented on #5251
Wrong repo and duplicate.

[2021-09-30 11:55] #5251 closed

[2021-09-30 12:00] MLeFrench commented on #5251
Thanks @fichtner, 🤦‍♂️ found it in plugins https://github.com/opnsense/plugins/issues/2550

[2021-09-30 18:53] hayer commented on #5249
Does that rather point to bad design on the backend part? Now the solution is to make it harder for the user?

[2021-09-30 19:29] nzkiwi68 opened #5252 "SUIRCATA: Won't load custom-rules.xml anymore since 21.7.3 upgrade"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

You could put custo

[2021-09-30 19:42] AdSchellevis commented on #5252
If the download tab contains rulesets, it's likely an issue with your definition. All standard (and plugin) rulesets are registered equally.

[2021-09-30 19:49] nzkiwi68 commented on #5252
Oh no!

You're right, I updated the URL and forgot to escape the ampersand!

My fault, thanks.

[2021-09-30 19:49] #5252 closed

[2021-10-01 08:39] ssbarnea commented on #5251
In fact I am quite worried as opnsense updates failed to due to invalid certificate.

[2021-10-01 08:44] AdSchellevis commented on #5251
@ssbarnea likely these issues are due to a certificate locally installed, just try to update from a fresh install (works like a charm from here). Most of this is caused due to how let's encrypt handles their expired certificate (I assume you can't access their website either from the same install as it distributes the same chain)

[2021-10-01 08:53] ssbarnea commented on #5251
My OpenSense box was configured to auto-update and I am running 21.7.3_1 which right now is unable to get any updates, from any mirror! I doubt all of them are using the new certificate.
[code]

The funny bit is that my router has an ACME certificate configured on it for it own interface and I was able to use ACME client to regenerate certificates. That part worked but the router itself is not abl

[2021-10-01 13:56] mondbaron opened #5254 "Automatic user creation on LDAP does not read properties"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The feature "syste

[2021-10-01 14:31] #5254 closed

[2021-10-01 14:33] mondbaron opened #5255 "Automatic user creation on LDAP does not read properties"
**Important notices**

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The feature "system: allow automatic user creation on LDAP-based logins" introduced in 21.7.3 do

[2021-10-01 14:34] mondbaron commented on #5254
reopened as #5244 adding the missing information

[2021-10-02 12:05] #4897 closed

[2021-10-03 03:05] #4900 closed

[2021-10-03 06:05] #4901 closed

[2021-10-03 09:05] #4903 closed

[2021-10-03 09:34] delan opened #5256 "Private Domains setting is hard to find under non-DNSBL use cases"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-03 10:25] fichtner commented on #5256
Yes, it needs to be moved. And no it won’t be done fast and easy because a lot of work is still needed to modernise the code base we inherited.

I have this on my radar, but it’s a bigger issue than keeping track of when a single option is moved somewhere else regardless of if it’s properly documented or not. That’s another story.

Cheers,
Franco

[2021-10-03 10:32] delan commented on #5256
No worries, thanks for the quick reply!

[2021-10-03 10:38] fichtner commented on #5256
For a bit more context where private-domain setting came from https://github.com/opnsense/core/issues/5104

[2021-10-04 14:09] onelittlehope opened #5257 "DoT dns resolution stopped working - Related to Let's Encrypt Root CA Expiry"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The root CA DST Ro

[2021-10-04 15:13] kulikov-a commented on #5257
hi
do you use\need LE certs for any service on opnsense?

[2021-10-04 15:45] onelittlehope commented on #5257
Yes, I use the os-acme-client plugin to request a Let's Encrypt certificate for use by the OPNsense administration web interface. (i.e. `OPNsense > System > Settings > Administration > Protocol` is set to HTTPS and `OPNsense > System > Settings > Administration > SSL Certificate` is set to a Let's Encrypt certificate.)

[2021-10-04 16:50] kulikov-a commented on #5257
i think there is no official solution yet.
if you dont use old Andriod devices for GUI access you can try to make LE chain short and thus get rid of cross-chaind intermediate cert from openssl trusted store.
**please keep in mind that this is not an official solution** and I only tested it for 20.7 although the idea itself should definitely work. and be careful - if you accidentally delete the R3

[2021-10-04 17:04] onelittlehope commented on #5257
Thank you so much.

That worked.

The bottom cert which I removed was:
[code]

Am happy to close this issue unless it needs to be left open until an official solution is put in place.

[2021-10-05 00:10] hemirunner426 commented on #5198
I’m seeing the same behavior in 21.7.3.  I do have prefer ipv4 setting checked.

I’ll have to get a dump of radvd.conf and post it here.
Happy to provide any other info.

[2021-10-05 08:16] fichtner commented on #5257
Eventually trust store updates will fix this so there is nothing else to to from our point but wait for their updates and release it along with the next 21.7.x.

Cheers,
Franco

[2021-10-05 08:17] fichtner commented on #5201
FWIW, I'm going to close this and target 22.1 for this change for lack of further feedback.

[2021-10-05 08:17] #5201 closed

[2021-10-05 08:22] someone83474 commented on #5249
This change broke our vpn after the upgrade OPNsense 21.7.3_1-amd64. Since the error message only appears if you are changing the vpn config, it was not clear for us why the vpn broke. So, yes I think this should be mentioned somewhere in the upgrade informationen.

[2021-10-05 08:33] kulikov-a commented on #5257
@fichtner hi, sorry for repeating, but I would not rely on the trusts update (https://github.com/opnsense/plugins/issues/2554#issuecomment-932787295). there is a feeling that it still have to do something with the `system_trust_configure()` so as not to force the openssl to choose a long chain

[2021-10-05 08:37] fichtner commented on #5257
We could exclude expired certs from system: trust: authorities in system_trust_configure() ? Personally I don't see the point of OpenSSL wanting to trust an expired chain but ok :)

[2021-10-05 08:37] AdSchellevis commented on #5255
I don't think we should try to mimic the same behaviour for additional properties as upstream information can change at any time without being noticed and the returned user properties don't seem to return the same information in all cases as an explicit search query does.

The intend of the automated import is only to make sure there's an anchor in which authorisation can function for users manage

[2021-10-05 09:02] kulikov-a commented on #5257
As far as I understand, the problem is not in the presence of an expired root certificate in the store, but in the presence of a valid intermediate certificate signed by this root CA in the store (acme plugin puts the ISRG cross-signed intermediate cert in the config, and the  system_trust_configure() puts it in the store). the absence of the root certificate will only change the error (instead of

[2021-10-05 09:08] fichtner commented on #5257
Oh right I misread:

Honestly it's difficult ship anything that is self-correcting in this case. Non-self-signed DST Root CA X3 is defunct and needs to be removed manually and ignored from acme-client during registering certificates in config.xml.

How this was signed knowing that the root expires 3 years beforehand is... err... reckless.

[2021-10-05 09:20] kulikov-a commented on #5257
acme plugin not registering DST Root cert in config. but it registers `ISRG Root X1` intermediate (this is great: the intermediate cert has "Root" in the subject and confuses everyone) (signed by DST Root) since it requests the long-chain cert by default.
if we force acme plugin to request short-chain certs only then we lose compatibility of opnsense services (HAProxy\nginx etc.) with old androids

[2021-10-05 09:49] AdSchellevis commented on #5257
@kulikov-a can you try https://github.com/opnsense/core/commit/d8ddef45e8010a0b136aad212f521b1afd2470e7 ?

[2021-10-05 10:25] kulikov-a commented on #5257
@AdSchellevis Hi! thanks for joining!
Perhaps this is how I explain or translate ... the matter is not in the validity period of the certificate:
acme plugin gets a long chain certificate (ensuring compatibility with older androids) by default. the chain consists entirely of valid certificates with no expired date (leaf cert -> R3 CA -> ISRG Root X1). in this deafult chain ISRG Root X1 is the vali

[2021-10-05 12:20] AdSchellevis commented on #5257
hi @kulikov-a,

That is annoying indeed, but not something we can fix from our end. Ideally openssl only considers the valid path, in which case it will omit the expired `/O=Digital Signature Trust Co./CN=DST Root CA X3` in `ca-root-nss.crt` as there is a shorter valid path available... unless someone imports an expired R3 (https://letsencrypt.org/certs/lets-encrypt-r3-cross-signed.txt) into the l

[2021-10-05 13:44] kulikov-a commented on #5257
of course )
VM without acme, patch applied, only two CAs added:

![CAs](https://user-images.githubusercontent.com/36099472/136034823-4788f17a-8ac8-4f8c-879f-e5f12a623b0b.PNG)

`root@OPNsense:~ # openssl s_client -showcerts -connect letsencrypt.org:443`

[code]

and so it happens. if there are no intermediate certificates from the chain in the trusted store.  in this case (since `trusted_first` is

[2021-10-05 14:31] AdSchellevis commented on #5257
@kulikov-a it could be the case that we don't agree, my question is can you break `fetch` and/or `curl` when using my patch?  My assumption so far is that having the path to the expired certificate doesn't cause issues, it doesn't on my end. If it does, I really want to know exactly what's bing imported into the Authorities section in OPNsense so I can replicate the same behaviour on my end (witho

[2021-10-05 15:05] #4909 closed

[2021-10-05 16:03] cardosocristian opened #5258 "Openvpn ccd doesn't work"
Version of Opnsense installed
OPNsense 21.7.3_1-amd64
FreeBSD 12.1-RELEASE-p20-HBSD
OpenSSL 1.1.1l 24 Aug 2021

I configured the Openvpn service integrated with LADP + TOPTP authentication, for use in my company and here I have a specific use, which is to have specific routes for certain users.
When trying to configure specific routes for some user in OpenVPN, going through the path VPN Menu -> OP

[2021-10-05 16:03] kulikov-a commented on #5257
@AdSchellevis yes, `fetch` "stops working" with this ISRG Root cert in store. `curl` still works but i think that this is because of
https://github.com/curl/curl/blob/2ac10a9ea08c2bf46da02d867b76d42b1fb94cf1/lib/vtls/openssl.c#L3151-L3164

so `curl` just treats this intermediate CA cert in store as anchor cert

Oh (
it means I still can't formulate my thought correctly..
can you try to manually re

[2021-10-05 19:03] AdSchellevis commented on #5257
@kulikov-a the code reference looks reasonable to explain the difference between `fetch` and `curl` indeed

I wouldn't go that far, it's just complicated and it looks like not all of the reported cases relate to the same issue, it's easy to get confused.

Right, my assumption on this topic was wrong, but I'm finally able to reproduce the exact same issue as we're talking about here, so that's prog

[2021-10-05 19:28] kulikov-a commented on #5257
Sure! Thanks a lot!

[2021-10-05 20:29] glasid commented on #5150
Based on somova's assumption that the issue might be related to state reset, I ran a few tests.

**Restart of OPNsense _with_ WAN being connected:**
unbound hangs on cache-load command

**Restart of OPNsense _without_ WAN being connected:**
unbound properly starts up

**Reconnecting WAN:**
state reset kicks in, unbound restarts and hangs on cache-load command

Now disabling "Dynamic state reset" u

[2021-10-06 10:51] AdSchellevis commented on #5257
@kulikov-a this https://github.com/opnsense/core/commit/5b9d7baccba979b5b41858b572145ee826dc389e should be it then. Exclude intermediates by default, optionally enable via System->Settings->General

[2021-10-06 13:51] kulikov-a commented on #5257
@AdSchellevis
like a charm!
Thank you!)
may i suggest adding a `system_trust_configure()` call to the system_general page? and add a dot after "to be used in the local trust store"?
thanks again!

[2021-10-06 15:19] hemirunner426 commented on #5198
Here is my radvd.conf

# Automatically generated, do not edit
# Generated for DHCPv6 server lan
interface igb1 {
        AdvSendAdvert on;
        MinRtrAdvInterval 200;
        MaxRtrAdvInterval 600;
        AdvLinkMTU 1280;
        AdvDefaultPreference medium;
        AdvManagedFlag on;
        AdvOtherConfigFlag on;
        prefix 2602:ae:11a8:ca00::/64 {
                DeprecatePrefix on;

[2021-10-07 01:33] soleilblanc99 opened #5260 "Enhancement: IPv6 prefix delegation in unbound ACL"
Automated acls are created for local interfaces in unbound but when using ipv6 prefix delegation tracking it does not work.  Two fix that i can see are possible:

- update the unbound acls on dhcp prefix delegation, config could be similar to dhcpv6 with pd
- when the router interface get an ipv6 addressed from pd it would always assing ::1 so it would be matched by default acls

currently put ::/

[2021-10-07 09:05] #4910 closed

[2021-10-07 13:25] #5260 closed

[2021-10-07 13:38] soleilblanc99 opened #5261 "Enhancement: IPv6 prefix delegation in unbound ACL"
**Important notices**

### Before you add a new report, we ask you kindly to acknowledge the following:

- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

### **Is your feature request re

[2021-10-07 15:30] soleilblanc99 commented on #5261
Ok, my plan was to use a single loopback IPv4 and IPv6 address to provide DNS service to my multiple vlans.  IPv6 is configured as a ULA address to skip the changing part related to prefix delegation.  I was only answering from a single interface (loopback), working great except that no ACLs were letting traffic pass.  So I put in place the ::/0 in the ACLs.

If I understand what you are telling m

[2021-10-07 17:11] neelchauhan commented on #5198
For me, I'm now primarily using Hurricane Electric tunnels since:

 * HE 6in4 has better performance than CenturyLink 6rd
 * HE tunnels have static IPv6 prefixes, whereas a router reboot can change CenturyLink's IPv6 prefixes (nor surprising)

The only thing I did is blackhole Netflix and CenturyLink's website from the tunnel, so I'm not blocked.

Google Fiber/Webpass in my previous place, "dynami

[2021-10-08 08:53] AdSchellevis commented on #5257
@mayerthomas not a stupid question, I do expect we will ship these as part of 21.7.4 as well. (their already queued https://github.com/opnsense/core/commits/stable/21.7/src)

[2021-10-08 09:31] sjtuross opened #5262 "Add anti-AD to the pre-defined DNSBL list"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-08 10:02] HamburgerJungeJr opened #5263 "IPSec Route missing after WAN DHCP Renew (#3414 related?)"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new af

[2021-10-08 21:05] Northguy opened #5264 "[Bug] dynamic lease host name overwrite from static leases page no longer works"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Installed version**
OPNsense 21.7.3_3-

[2021-10-09 06:52] fichtner commented on #5263
Hi @HamburgerJungeJr,

Patches are all there. I was sort of expecting this edge case to come up eventually. Can you tell me which interface ipsec is running on? Which interface are your broken routes on? Which interface(s) are your WAN(s)?

Thanks,
Franco

[2021-10-09 13:36] #5264 closed, assigned to fichtner, AdSchellevis

[2021-10-09 13:47] AdSchellevis commented on #5264
@Northguy can you try https://github.com/opnsense/core/commit/8547872c4b4928668c79ea1561e864d427f640c7 ?
[code]

[2021-10-09 14:35] gafzgarrr opened #5265 "API Error while setting Suricata Rules"
Every time i will set an suricata Rule, i get this Error:

An API exception occurred:
/usr/local/opnsense/mvc/app/controllers/OPNsense/Base/ApiControllerBase.php:96: Error at /usr/local/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/BaseField.php:643 - It is not yet possible to assign complex types to properties (errno=2)

Reboot and Updating (yesterday) has not solved the Problem.

[2021-10-10 09:03] AdSchellevis opened #5266 "Services / Unbound DNS / Blocklist - add Abuse.ch ThreatFox list"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-10 14:05] #4917 closed

[2021-10-10 23:22] gstrauss commented on #4917
The patch in lighttpd for HTTP/2 request processing to ignore empty HTTP request headers (if not HTTP/2 pseudo-headers) was posted for reference at https://redmine.lighttpd.net/boards/2/topics/9720 and committed to lighttpd in https://git.lighttpd.net/lighttpd/lighttpd1.4/commit/262561fae1aad08550870efa4234c6c5659bd680

The patch is part of lighttpd 1.4.60, released 3 Oct

[2021-10-11 07:35] AdSchellevis opened #5267 "Firewall / Diagnostics - more readable firewall statistics (replace diag_pf_info.php)"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-11 13:09] AdSchellevis opened #5268 "VPN / IPsec / Advanced settings - add charon.max_ikev1_exchanges option"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-12 06:40] Northguy opened #5270 "State tables cannot be flushed"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

State tables can

[2021-10-12 07:09] #5270 closed, assigned to AdSchellevis

[2021-10-12 07:20] #5268 closed, assigned to AdSchellevis

[2021-10-12 08:05] #4922 closed

[2021-10-12 08:15] Maurotb opened #5271 "Scheduled backup not work correctly"
Scheduled backup not work correctly, only two backup are present in gdrive.
If i run moretime in shell configctl system remote backup, only two backup is created.
I set in gui 60 backup retention.
In gui, if i press "setup/check google drive" , opnsense create corretly 60 backup

It seems that the shell command does not read the retention parameter and always sets it to 2

Steps to reproduce the b

[2021-10-12 09:01] bimbar opened #5272 "The objects accessible under "Networks" as source or destination in firewall rules should be accessible as alias"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to

[2021-10-12 09:18] #5271 closed

[2021-10-12 09:23] Maurotb opened #5273 "Scheduled backup not work correctly"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Scheduled backup n

[2021-10-12 09:52] Maurotb commented on #5273
I hadn't read about this feature, great thanks!

[2021-10-12 09:59] #5273 closed

[2021-10-13 00:47] #5261 closed, assigned to nobody

[2021-10-13 00:48] soleilblanc99 commented on #5261
Thx for the help, activating all interfaces works by creating the proper acls, still using a loopback so i wont have to update my dhcp scopes and other stuff.

[2021-10-13 07:53] #5272 closed, assigned to nobody

[2021-10-13 18:01] chaispaquichui opened #5276 "Allow custom subnet in dhcpv6"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a

[2021-10-14 08:46] g-a-c opened #5278 "Change compression algorithm for memory filesystem Netflow backups"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-14 12:49] AdSchellevis opened #5279 "VPN / IPSec / Tunnel settings - Change overview page to support pagination lowering load times on large setups"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-14 13:31] skaldenhoven opened #5280 "Select IP only for WebGUI/SSH/DNS so it can be separate from other services like haproxy"
**Is your feature request related to a problem? Please describe.**

Since a couple of days I have installed Haproxy plugin on my OPNSense instance. Listening on port 443 on a Virtual IP on the LAN interface for several reverse proxies and loadbalancing. However after a reboot of the firewall it cannot start due to the port being blocked by the WebGUI which now also is listening on the virtual IP.

[2021-10-14 18:20] hozmaster opened #5282 "I need pdo library of sqlite3 for PHP"
Please enable sqlite3 pdo library for PHP side.

I'm working with plugn which is going to use sqllite based solution for storing data.

[2021-10-14 19:09] AdSchellevis commented on #5282
https://github.com/opnsense/tools/blob/master/config/21.7/ports.conf#L15 ?

`pkg show php74-sqlite3`

[2021-10-15 02:09] nzkiwi68 opened #5283 "Feature Request: New Access Server - "LDAP + Radius""
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:
- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a pro

[2021-10-15 03:19] mimugmail commented on #5283
Usually the Radius service offering MFA should have an LDAP connector to strip the password, like privacyIDEA

[2021-10-16 12:14] bimbar opened #5284 "NPTv6: add dynamic source addresses via track interface"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-17 09:05] #4935 closed

[2021-10-17 16:41] pfevre commented on #5102
I hope I did the validation correctly.
Let me know I will patch my install to check.

[2021-10-17 18:13] fichtner commented on #5031
My advice is don't click twice if you don't have to. There's no harm, no bug, no reason to drag this support effort on.

[2021-10-17 18:14] #5267 closed

[2021-10-17 21:26] JoshBlades opened #5285 "PTP PPoE Link Parameters not honored for MTU > 1500."
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I have created a

[2021-10-18 09:43] #5263 closed

[2021-10-18 10:36] HamburgerJungeJr commented on #5263
I applied the patch and it seems to work now.
I will keep an eye on the problem but for now it seems to be fixed.

[2021-10-18 20:17] rfc4711 commented on #5263
Hi @fichtner, I applied the patch on both sides, however, it does not seem to work for restarting the IPSEC tunnel.

[code]

Configured the far gateway and the static routes to the loopback addresses, tunnel is up.
[code]
Ping direct to the tunnel interfaces for some reason does not work.
The Static routes to the destination are working both ways.

[code]
Restarted the IPSEC process on "brick",  a

[2021-10-19 00:12] rfc4711 commented on #4452
While I am not an expert in coding, I think if we add to the following file:

src/etc/inc/plugins.inc.d/dhcpd.inc  line 1094:
[code]
and after line 1564:
[code]

[2021-10-19 01:16] meichthys opened #5290 "Nextcloud Backup Fails"
- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

This issue is not new, but has been closed a few different times by timeout.

**Describe the bug**

#4232 seems to be what I'm facing:
![imag

[2021-10-19 12:24] fichtner commented on #5263
@rfc4711 doesn't sound like same problem. Might be better to discuss your use case in the forum first.

[2021-10-19 12:31] fichtner commented on #5285
@JoshBlades Sounds good. It looks like "max-payload" does something differently than traditional MTU setting in the mdp5 daemon when it needs to go oversize, but I don't have a setup to test out what it does and what is required in terms of parent MTU setting and so forth so I'm happy that the configuration is easily fixable in this case.  :)

Cheers,
Franco

[2021-10-19 12:43] FingerlessGlov3s commented on #5285
Hey \o,

I know you a busy man now at OPNsense but if you have the time, you could setup a quick PPPoE server on a Pi, you just need to give it a second ethernet port or something using USB device. VM is also probably possible here.

Then you can test mpd5 and maybe useful in the future support commercial customers with PPPoE deployments.

Guide: https://thanhle.me/setup-pppoe-server-on-raspberry-

[2021-10-19 17:24] mayerthomas opened #5291 "Unbound blocklist only for defined subnets or interfaces"
Would it be possible, to configure unbound in a way, that the blocklist only takes action to defined subnets or interfaces?
Therefore for other subnets/interfaces the blocklist should not be enabled.

**Example**
- Interface/Subnet "students" with enabled blocklist (ads, facebook, ...)
- Interface/Subnet "teachers" with blocklist disabled

[2021-10-19 18:15] #5291 closed

[2021-10-19 18:22] mayerthomas opened #5293 "Unbound blocklist only for defined subnets or interfaces"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a

[2021-10-20 08:05] AdSchellevis commented on #5293
It's probably easier to use dnsmasq (or bind) for the unfiltered interface(s) and unbound for the rest, I don't expect you can easily exclude interfaces from the `local-data` registrations as we use them without adding a lot of unwanted complexity for others.

[2021-10-20 11:15] AdSchellevis commented on #5284
we use `pf(4)` (https://www.freebsd.org/cgi/man.cgi?pf(4)), sounds similar to https://github.com/opnsense/core/issues/4923, waiting for someone to properly document the feature (https://github.com/opnsense/docs/pull/330#issuecomment-839531339) before any code will be merged.

[2021-10-20 13:53] pbosgraaf opened #5294 "LDAP: Add function to import LDAP group instead of single users"
[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
[x] I am convinced that my issue is new after having checked both open and closed issues at

Currently when you configure LDAP as an authentication source you are able to import indivdual LDAP users and assign then to a group.

I would like to request a feature that allows you to import and

[2021-10-20 14:06] AdSchellevis commented on #5294
We offer `Synchronize groups` and  `automatic user creation`  as a replacement for manual imports, see https://docs.opnsense.org/manual/how-tos/user-ldap.html#step-1-1-optional-synchronize-groups and https://docs.opnsense.org/manual/how-tos/user-ldap.html#step-4-import-users for more info.

[2021-10-20 15:12] pbosgraaf opened #5295 "Longer group name limit to accommodate longer LDAP group name sync."
- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at

We use LDAP as an authentication source of opnsense.
When using ldap membership synchronization you need to manually create the group before its considered in the authentication process.

The bu

[2021-10-20 15:19] #5294 closed, assigned to nobody

[2021-10-20 16:51] premar opened #5296 "OpenVPN - Client Specific Overrides are not applied"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

OpenVPN settings f

[2021-10-21 05:58] pbosgraaf commented on #5295
No worries, thanks for the background info.

[2021-10-21 05:58] #5295 closed

[2021-10-21 07:01] AdSchellevis commented on #5295
While talking about a similar issue, we internally concluded that there might be options to solve this in the long run by allowing to set an alias (or external) name on the group which if available will be used as synchronisation anchor. In which case the internal group name is always a valid one, but externally you could use a longer one.

The idea and naming probably needs some more thinking....

[2021-10-21 07:21] AdSchellevis commented on #5296
Best check the openvpn logs after login, since client specific overrides can be dynamic (radius for example), these are generated during login.

https://github.com/opnsense/core/blob/2e8e0adb81995e760ab821f047525fc192742ff3/src/etc/inc/plugins.inc.d/openvpn/auth-user.php#L144

[2021-10-21 09:27] fichtner opened #5297 "interfaces: VLAN spoofmac taints siblings and parent interface"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-21 11:38] fichtner commented on #5202
#5244 was merged and will be available with 22.1 at the very latest.

[2021-10-21 12:07] module0x90 opened #5298 "Bug: DHCP MACs bleed into other DHCP VLAN configurations, rendering "deny unknown clients" not to work properly"
**Describe the bug**

It is a bit tricky to describe what I figured out. So let's take baby steps...
I am using DHCPv4 only.

Prerequisites
2 VLANs setup with DHCP
The first VLAN ("VLAN1") is set to "deny unknown clients". It has a DHCP range configured though.
The other ("VLAN2") is just pure DHCP, "deny unknown clients" is not ticked. The available range is the whole network.
You have hosts setu

[2021-10-21 15:14] xeucs opened #5299 "DHCPv4 Server: release IPs addresses for networks/subnets not directly connected to an interface"
Hi,

I am writing here to pull the following request about DHCPv4 Server.
We have many instance of virtualized OPNsense in our Datacenter and the most important feature that this wonderful Firewall miss is the ability to release, via its DHCPv4 Server, IPs addresses that are not in the subnet of the interface where OPNsense receives the DHCPv4 requests. For instance if we have 2 or more branch off

[2021-10-21 18:08] mimugmail commented on #5299
Look at Freeradius Plugin as I wrote in Forums

[2021-10-21 21:20] darzanebor commented on #4478
had similar issues, not adequate firewall behavior in opnsense, switched to pfsense and it work like a charm. I configure firewall rules as I like and they are applied with no issues. Several times tried to switch to opnsense but without working firewall it loos any sense to have it. :(

[2021-10-22 13:01] #5293 closed, assigned to nobody

[2021-10-22 18:00] kaysond opened #5303 "Feature Request: "Remote" Groups"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-23 18:40] fichtner opened #5304 "system: add a route layer abstraction that can modify routes according to current system state and required routing changes"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-24 08:40] #5297 closed, assigned to AdSchellevis

[2021-10-25 15:57] hazarjast opened #5307 "Egress gateway default is incorrect under NAT port forward auto-associated firewall rules on wireguard interfaces"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue
(older report of issue was only closed au

[2021-10-25 19:22] agostinimarco opened #5308 "Manage custom DHCPD configuration directly by web interface."
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a pr

[2021-10-27 06:53] agostinimarco opened #5312 "(connection.c.750) invalid request-line -> sending Status 400 when Captive Portal is enabled"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
After enabled Cap

[2021-10-27 19:21] ahaase-moditech opened #5314 "LDAP with SSL broken after update to 21.7.4"
**Describe the bug**

We have and opnSense instance using Samba AD instance for authentication, which requires LDAPS. For this purpose we imported the CA, which signed the domain controller's certificates and configured opnSende to use port 636 and SSL encrypted connections. This worked perfectly until including 21.7.3_3. Now after updating to 21.7.4, contact to domain controllers throws error in

[2021-10-27 19:48] #5314 closed, assigned to nobody

[2021-10-27 19:53] lflare opened #5315 "rc.reload_all causes boots to be stuck when used with ZeroTier"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I am not entirely

[2021-10-28 15:22] benstadin opened #5316 "Php error during guided configuration of LAN network"
- [ x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

After a fresh install, the guided configuration process shows an php error after setting an IP address to the LAN int

[2021-10-29 10:13] davegrix opened #5319 "Cannot add Firewall Aliases"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Trying to add a

[2021-10-29 10:29] #5319 closed, assigned to nobody

[2021-10-29 23:18] themonkeymixer opened #5322 "Schedule Updates"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-10-30 06:56] fichtner commented on #5322
Hi @themonkeymixer,

The scope of this request is a little unclear. We already have cron-based update command that you can set from the GUI.

if you talk about one-shot schedule that feature was discussed a while back and although it’s possible it’s some work to get it polished so we might only do it for the business edition when requested by customers.

But using the „at“ utility it‘s possible to

[2021-10-30 16:25] bimbar opened #5325 "outgoing IPv6 NAT uses wrong (probably old) address"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I have an IPv6 dia

[2021-10-30 19:18] kulikov-a commented on #5316
imho it looks like dhcpd part of config not having 'lan' array in it? is it brand new install or did you perform any actions with the config before starting the wizard?

[2021-10-30 22:05] #4969 closed

[2021-10-30 23:02] Samdotr opened #5326 "Users cannot view or create log file templates unless "GUI: All pages" permission is given"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When on Firewall >

[2021-10-31 06:08] fichtner commented on #5316
As stated WAN only setup was configured. Wizard expects the default WAN/LAN combination it seems.

[2021-10-31 07:30] kulikov-a commented on #5326
hi
sorry, i forgot about that
will make a pr

[2021-10-31 08:33] rene-bayer opened #5328 "LDAPS with self signed certs broken in 21.7.4"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

LDAPS authenticati

[2021-10-31 09:57] AdSchellevis commented on #5328
duplicate https://github.com/opnsense/core/issues/5314, might also be fixed with https://github.com/opnsense/core/pull/5323

[2021-10-31 09:58] #5326 closed

[2021-10-31 09:59] AdSchellevis commented on #5326
should be fixed with https://github.com/opnsense/core/pull/5327/commits/c87c34f6f97bc1c7f21793300f3702c87ce65e65

[2021-10-31 10:16] #5316 closed

[2021-10-31 10:18] AdSchellevis commented on #5316
seems like it https://github.com/opnsense/core/commit/3be0173e550f0361a2cbde90bca446568cccd675 should at least make sure it won't try to push anything it can't. php code wrapped in xml, always a monstrosity to properly debug.

[2021-10-31 10:33] rene-bayer commented on #5328
Oh god .... missed that one, sorry :-)

[2021-10-31 10:33] #5328 closed

[2021-10-31 15:05] #4973 closed

[2021-10-31 15:05] #4974 closed

[2021-11-01 19:10] fichtner commented on #5325
@bimbar It's relatively easy to emulate if the kernel address selection listens to address updates or not, especially with the ":0" selector. My guess is that it's probably not implemented so it would require a pfctl rules reload to take effect?

Cheers,
Franco

[2021-11-01 20:47] crt333 opened #5329 "unbound: outgoing network interfaces not honored"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
I have a single WAN

[2021-11-02 03:05] sempervictus opened #5330 "Qemu Adapters Not Processing Subnet-Local Traffic Correctly"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Traffic routed

[2021-11-02 06:05] #4977 closed

[2021-11-02 07:57] AdSchellevis opened #5331 "Interfaces - add description on interface configuration"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-02 09:54] sas101 commented on #4522
I have the same issue and would be interested in this. I hope there are more people interested...

If there is a filter for the UI - is the fix potentially really that simple to remove that filter? Or is there more to consider?

[2021-11-02 10:05] #4978 closed

[2021-11-02 10:05] #4979 closed

[2021-11-02 12:36] bimbar commented on #5325
It normally works, it just seemed that after a few days it stops to update its address.

Since I can't know when an address update comes, I can't really do a pfctl rules reload when it happens.

[2021-11-02 13:10] fichtner commented on #5325
I did mean a static test interface where one could change the IP address via ifconfig.

It looks like this attaches to a ifaddr_event hook, but there could still be issues with it... https://github.com/opnsense/src/blob/3778c319d0c0786fe9ec88ac81e624ee9f48a47b/sys/netpfil/pf/pf_if.c#L917
https://github.com/opnsense/src/blob/3778c319d0c0786fe9ec88ac81e624ee9f48a47b/sys/netpfil/pf/pf_if.c#L152-L153

[2021-11-02 13:48] #5279 closed

[2021-11-02 14:12] AdSchellevis commented on #5279
I've squashed all relevant commits into https://github.com/opnsense/core/commit/c6d9a14e815c1d49490ba3dd624c30b754fbb2ae for easy testing, using:
[code]

[2021-11-02 14:17] kevinchalet opened #5332 "dhcpd6 doesn't start automatically when no IPv6 address is assigned to the WAN interface"
Hi there! 😃

**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

While

[2021-11-02 14:29] schnerring commented on #5329
I'm experiencing the same issue on 21.7.4. What OPNsense version did you use when it worked?

I tried rolling back to 21.7.2, but the issue persists. Where the following steps correct or am I missing something?

[code]

[2021-11-02 15:00] marjohn56 commented on #5332
Are your LAN interfaces shpwing delegated prefixes? dhcpdv6 doesn't care about what's on the WAN.

[2021-11-02 15:06] marjohn56 opened #5333 "Oddness in Interfaces->Overview"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When updating to

[2021-11-02 15:23] crt333 commented on #5329
This has worked for years in every version of opnsense up to and including 21.7.3. I had adguard exclusively using unbound on port 5353, and unbound doing DoT over my WG tunnels. I had also used the same config before starting to use adguard on top of it.

Sorry, I don't know how to revert everything. Right now I'm still running adguard but it is using TLS directly rather than talking to unbound.

[2021-11-02 15:27] kevinchalet commented on #5332
Absolutely, that part works just fine. The only thing that seems odd to me is that I have to start the DHCPv6 server manually.

[2021-11-02 15:33] marjohn56 commented on #5332
Interesting. I'm half way between two ISPs at present, my old static provider and my new FTTP provider, who I have to use dhcp/dhcpv6 with. Now, I do have the option to request an IA on the WAN as well as a PD, and I notices after a reboot that the dhcpdv6 needed to be started, I put that down to just momentary madness. I'll try and confirm and see if it is because of no wan address, I don't think

[2021-11-02 15:34] marjohn56 commented on #5333
Well there you go... close this one then. 👍

[2021-11-02 15:34] #5333 closed

[2021-11-02 15:40] kevinchalet commented on #5332
Awesome, thanks! Let me know if you need additional details or need me to test something 😃

[2021-11-02 15:42] marjohn56 commented on #5332
No, it works fine with no address on the WAN, at least no GUA address, just a link local. So at least on my system, fresh install today it works fine with or without a WAN address.

[2021-11-02 15:44] crt333 commented on #5329
I guess there's a revert problem for you, since before 21.7.4 my logs showed all queries to port 853 (DoT) where going through WG

[2021-11-02 15:51] marjohn56 commented on #5332
Are you using manual configuration to configure the dhcpdv6 server on the LAN interfaces()?

[2021-11-02 16:00] kevinchalet commented on #5332
Yes! (sorry, I should have mentioned that earlier 😄)
That said, I just tried to revert to the default mode and I'm seeing the same behavior: after rebooting, `dhcpd6` doesn't start automagically.

[2021-11-02 16:39] marjohn56 commented on #5332
That's for the  dhcp6 client.  My system is set ( at the moment ) with manual configuration, so go back to that, There is just ONE entry in the General log:

`plugins_configure dhcp (execute task : dhcpd_dhcp_configure())`

No params are passed so it will attempt to call both the subroutines the set up the configuration for both v4 and v6 and then start the daemons.

that is the log entry you are

[2021-11-02 16:58] marjohn56 commented on #5325
Crashing the party here, just trying to get my head around something to do with NPTv6 as I am now back to using dhcp6. and have not used NPTv6 In the GUI you have to specify the 'External Prefix', could the NPTv6 functions be expanded so that the prefix is taken from PD of the LAN, thus you take the lower 'n' bits of a ULA address on the LAN and use the PD upper 64 bits as the external prefix? Mig

[2021-11-02 17:11] kevinchalet commented on #5332
Thanks! Here's what's written to the logs after a reboot:

<html>
<body>

2021-11-02T18:07:51 | opnsense[64120] | /usr/local/etc/rc.newwanipv6: Failed to detect IP for WAN[wan] |  
-- | -- | -- | --
2021-11-02T18:07:51 | opnsense[64120] | /usr/local/etc/rc.newwanipv6: On (IP address: ) (interface: WAN[wan]) (real interface: re0_vlan832). |  
2021-11-02T18:07:51 | opnsense[64120] | /usr/local/etc/r

[2021-11-02 17:27] marjohn56 commented on #5332
Hmm, lets not allow the release for testing purposes, Interfaces->Settings->IPv6 DHCP tick prevent release, save and then reboot.

[2021-11-02 17:28] marjohn56 commented on #5332
Also, increase the dhcp6 log level to info or debug.

[2021-11-02 17:29] bimbar commented on #5325
@marjohn56 https://github.com/opnsense/core/issues/5284

[2021-11-02 17:42] marjohn56 commented on #5284
@bimbar - dhcp6c puts the GUA address on the interface, so you can get the prefix from the GUA address. The trick I think, if I understand NPTv6 correctly - Only looked at this 30 minutes ago - is to assign a ULA address to the interface ( alias is there for that already ) and to use dhcpdv6 and radvd to hand out ULA addresses on the LAN(s). Once you have that done, then would it possible to just

[2021-11-02 17:44] kevinchalet commented on #5332
It doesn't seem to have any effect on that issue.

Sure:

<html>
<body>
<table id="grid-log" class="table table-condensed table-hover table-striped table-responsive bootgrid-table" data-store-selection="true" aria-busy="false" style="box-sizing: border-box; -webkit-font-smoothing: antialiased; border-collapse: collapse; border-spacing: 0px; background-color: transparent; color: rgb(68, 68, 68); wi

[2021-11-02 17:54] marjohn56 commented on #5332
O.K. I cannot do this tonight, but tomorrow I will change my config to use VLANs and see if I can replicate the issue. If dhcp6c is getting a prefix and addresses for the interfaces I cannot see why it's failing. I'd need to see the full log to understand what's  happening. You can PM me the log if you like ( /var/logs/system/*.log)   and I'll take a look in the morning.

[2021-11-02 19:28] #5331 closed

[2021-11-02 20:17] AdSchellevis opened #5334 "Interfaces - log and exit interface_configure() when device node doesn't exist"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-02 21:08] kevinchalet commented on #5332
Email sent to your GMail address. Let me know if you want me to send it elsewhere 😃

[2021-11-02 23:23] schnerring commented on #5329
I clean installed and updated to the following version:

[code]

Might update versions of `unbound` and `os-wireguard` be an issue?

[code]

Is there a way to selectively upgrade to 21.7 to isolate the package upgrade that causing this bug? I'll clone the live system as is and will gladly assist in debugging this.

[2021-11-03 05:45] botboe opened #5335 "Captive Portal and IPv6"
- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

I tried to extend my working captive portal to use IPv6 as a dualstack guest-network but ran into several problems. It seemed that these

[2021-11-03 07:12] bimbar commented on #5284
The prefix for the WAN interface is different from the prefix we need. Also, this prefix is not going to be set on any interface. It's not that simple.

[2021-11-03 07:39] AdSchellevis commented on #5335
Should still be the case indeed, (most) rules are ipv4 only (https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/IPFW/ipfw.conf), in theory it might be possible to support it (depending on ipfw's fwd options), it just a lot of work to refactor and test for little gain.

We did put quite some time in it to build and extend captive portal, but in reality most of our

[2021-11-03 08:26] marjohn56 commented on #5284
You misunderstood me I think. I am talking about the LAN(s) not the WAN. dhcp6c assigns the addresses to the interfaces, the GUAs that is.  I quote you

`But I'm not sure if that's even possible, it depends on the dhcpcv6 daemon telling someone which prefixess it was assigned.`

That information is already available, In /tmp there is also another file, my wan is igb0, therefore the file is called

[2021-11-03 15:16] ghost235 opened #5336 "HA setup sync certificates"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new afte

[2021-11-03 15:59] ghost235 commented on #5336
which is it ?
Under "System: Settings: Cron" "Renew Let's Encrypt certificates" seem the only related?
Under "Services: Let's Encrypt: Automations" "Upload certificates via SFTP"  ?

[2021-11-03 19:46] bimbar commented on #5284
Ok, so I have a hypothetical LAN interface with Track Interface WAN and offset 4. Now I want NPTv6 to translate the source prefix to the prefix this hypothetical interface would have been assigned (but it has been given a ULA prefix).

[2021-11-04 07:22] fichtner commented on #5332
Hi @kevinchalet,

Not entirely sure what your issue is here. WAN does not need a GUA and dhcp6c starts ok, but if e.g. LAN dhcpv6 doesn't start the delegated prefix isn't actually delegated so you can't get a GUA for this interface and then in turn dhcpv6 cannot start naturally.

Cheers,
Franco

[2021-11-04 09:08] AdSchellevis opened #5337 "Syslog - remove clog support in 22.1"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-04 09:21] fichtner opened #5338 "interfaces: get_parent_interface() functionality inconsistencies"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2021-11-04 09:28] marjohn56 commented on #5284
It will also have been given a GUA address, you cannot stop dhcp6c doing that - unles we have some sort of virtual interface, but that's a different story. You can add an Alias to give a ULA address, BUT, dhcp6d and Radvd will give out the GUA addresses. If that was altered so that they gave out the ULA addresses then packets coming back to the LAN interface would have ULA addresses and, in theory

[2021-11-04 09:37] marjohn56 commented on #5332
@franco - He sent me a log file, something weird with dhcp6c being reset and constantly recycling.  I've had a gander and tried a few things, do you want to take a look at the log?

[2021-11-04 12:05] kevinchalet commented on #5332
@fichtner I don't want to waste your time with what could be a corner case (@marjohn56 wasn't able to reproduce the issue I'm seeing as everything works as expected for him), but if you're still interested in taking a look, I sent you an email with logs I just gathered 😃

[2021-11-04 13:41] bimbar commented on #5284
Why can I not stop dhcp6c giving out GUAs? I can configure the interface with static IPv6 ULA.
Giving out GUAs makes the whole feature redundant.

[2021-11-04 19:06] NOYB opened #5339 "Sticky Sidebar Collapsed/Expanded State"
Option to make sidebar collapsed/expanded state sticky.
Per user preferred.

Collapsed
![Sidebar Collapsed](https://user-images.githubusercontent.com/1977521/140403372-b2bb9936-592a-4069-a4b8-47ef6aaf022d.jpg)

Expanded
![Sidebar Expanded](https://user-images.githubusercontent.com/1977521/140403423-10277c81-1560-416a-98b0-83ead9dce4a0.jpg)

[2021-11-04 19:56] NOYB opened #5340 "Distinguish between cores and threads"
Would expect something like (2 cores, 4 threads) to be reported.
![i3 2 Cores, 4 Threads](https://user-images.githubusercontent.com/1977521/140410604-fa3b020f-fb76-49eb-b2f5-2000079b6062.jpg)

For thermal sensors would expect Core 0 and Core 1 to be reported.  Not Core 0, Core 1, Core 2, Core 3.
Where cores 0 & 1 are apparently the two core 0 threads and cores 2 & 3 are apparently the two core 1 t

[2021-11-05 00:33] paulofragoso commented on #2856
Could there be an option in System: Settings: Tunables to set optional max tmpfs size?

[2021-11-05 09:39] fichtner commented on #5325
I doubt there is any change in this regard with FreeBSD 13 .. at least not from the pf(4) end.

[2021-11-05 23:16] g-a-c opened #5341 "template_helpers: add a helper function for printing a timestamp to inject into templated config files"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-06 07:01] NOYB opened #5342 "Reconfiguring IPv4 on vlan inordinately long during boot up if an OpenVPN server is enabled"
Reconfiguring IPv4 on vlan inordinately long during boot up if an OpenVPN server is enabled.  About a minute vs. 5 seconds when OpenVPN is not enabled.

Reconfiguring IPv4 on ovpns1: OK
Reconfiguring IPv4 on re0_vlan99: **ovpns1: link state changed to DOWN**
**ovpns1: link state changed to UP**
OK        **_<--- takes about a minute_**
Reconfiguring routes: OK

OPNsense 21.7.4
11th Gen Intel(R) Co

[2021-11-06 08:39] AdSchellevis commented on #5341
I'm not against adding some additional functions into the "helper" scope, but we might need to refactor some bits and pieces to make this a bit more extendable.

The addons (https://github.com/opnsense/core/tree/master/src/opnsense/service/modules/addons) idea originally was to easily plug in new shared functionality (like the timestamp) at some point, it just didn't mature very well.

Let me thin

[2021-11-06 11:13] somova commented on #5241
Bump

[2021-11-06 11:13] somova commented on #5240
Bump

[2021-11-06 11:13] somova commented on #5239
Bump

[2021-11-06 14:15] AdSchellevis commented on #5241
Bumping a number of tickets (https://github.com/opnsense/core/issues/5240#issuecomment-962435891,  https://github.com/opnsense/core/issues/5239#issuecomment-962435908) likely doesn't help people to get enthusiastic about your priorities. (personally I find it a bit rude to be honest)

Spending (your own) time to propose changes using pull requests might be more fruitful.

[2021-11-06 21:13] proap commented on #1191
I still can't configure a dual-stack configuration through a GRE tunnel. Setting up a virtual IP doesn't do the job because when one needs to configure the interfaces there is no gateway properly configured. Is there a way of doing this?

[2021-11-07 09:05] #4982 closed

[2021-11-07 10:36] NOYB commented on #5342
OpenVPN server being assigned to the unbound network interfaces causes the boot step slowness.
Remove that and NAT the DNS over to unbound at the LAN address instead eliminates the boot step slowness.

[2021-11-07 13:39] module0x90 commented on #5298
I really don't know what's missing here.
I will leave it at that. There is nothing to add from my side.

[2021-11-07 14:05] #4984 closed

[2021-11-07 20:03] roofman2008 opened #5343 "Multicast Leaking Between LAN & WAN"
I noticed weird behavior in the firewall with the "Multicast Traffic", the LAN multicast traffic appear on the WAN.

I'm using OPNSense over ESXi with 2 VMWare Virtual Network Cards.

I tried to sniffer the network from outside the firewall and i can see LAN IPs with Mutlicast Destination.

I don't have any IGMP Proxy or Repeater.

Can anyone support.

**Sample**
![image](https://user-images.githu

[2021-11-07 20:05] mimugmail commented on #5343
Sounds like promisc mode in the VM. Its a problem of your hypervisor or VM config, not related to OPNsense itself.

[2021-11-07 22:03] roofman2008 commented on #5343
I'm splitting the interfaces into different port group like that
![image](https://user-images.githubusercontent.com/47033463/140663434-42111537-17a6-43cd-a56f-9078018c2774.png)

and promiscuous mode is disabled
![image](https://user-images.githubusercontent.com/47033463/140663444-ab02fe4b-bd23-4d0c-a27d-c4b86f5c7079.png)

[2021-11-07 23:58] NOYB opened #5344 "Many duplicate disk usage entries (tmpfs; RAM disk) (system info widget)"
Many duplicate disk usage entries in system info widget.
tmpfs; RAM disk

OPNsense 21.7.4
11th Gen Intel(R) Core(TM) i3-1115G4 @ 3.00GHz (2 cores, 4 threads)
ZFS USB Flash Drive
![System Information Widget - Disk usage - duplicates](https://user-images.githubusercontent.com/1977521/140666652-ef6a3df2-b47e-411d-a6d2-d86b1c3d18e7.jpg)

[2021-11-08 00:26] roofman2008 commented on #5343
I figured out the issue, the problem in the configuration, i'm using vSwitch which is by default a broadcast domain.

If i'm wrong fix me please.

[2021-11-08 05:44] mimugmail commented on #5343
Not an expert, better close here and switch to forums where more people with esxi skills are around :)

[2021-11-08 07:26] fichtner commented on #5337
TODO/Questions:

- [ ] prefixes.php needs a fix for new log format or maybe even a rewrite
- [ ] core.inc references "syslogd" service
- [ ] rename system_syslogd_* to system_syslog_* and/or try to migrate that cruft to rc files
- [ ] diag_logs_settings.php calls killbyname('syslogd');
- [ ] remove async flag from system_syslogd_start()

[2021-11-09 06:05] #4985 closed

[2021-11-09 07:11] Wireheadbe commented on #4691
I have the same thing. At a certain point - the DHCP6 service just stops handing out IP's - and nothing is logged anymore (I have a remote graylog instance where I send everything towards). It then reloads after some time (I suppose due to LAN IPv6 tracking the WAN IPv6 interface), but it's still not handing out IP's. Only a manual restart of dhcp6 recovers it.

[2021-11-09 07:12] fichtner commented on #4691
It's likely related to FreeBSD 12 so we are hoping the upgrade to 13 will improve this situation.

Cheers,
Franco

[2021-11-09 07:47] Wireheadbe commented on #4691
Thanks Franco, appreciated. I'll give 22.1 a spin from the moment a beta/RC is avail. For now, I'll implement a workaround via cron. It's a tricky one, not a single error condition is logged.

[2021-11-09 07:48] fichtner commented on #4691
@Wireheadbe yeah, the only clue is an ENOMEM coming from the kernel eventually as far as I remember (also the case for radvd).

[2021-11-09 08:05] Wireheadbe commented on #4691
Thanks anyway Franco! For others running into this - I added the following to /usr/local/opnsense/service/conf/actions.d/actions_dhcpd.conf:
[code]
Then afterwards
[code]

And then you can add an hourly action to restart dhcp6 in cron via the GUI.

[2021-11-09 09:03] r-duran opened #5345 "Template support for remote syslog logging"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-09 09:08] fichtner commented on #5144
So now this needs release with 22.1 and then when 22.4 comes along we can safely split ABI directories.

[2021-11-09 09:08] #5144 closed

[2021-11-09 09:11] fichtner commented on #5344
https://github.com/opnsense/core/blob/44d015f053d665757b20b1f287df86e181803140/src/www/widgets/api/plugins/system.inc#L133

[2021-11-09 09:30] AdSchellevis commented on #5345
Hi Rahman,

We'er not considering plain text inputs since these can't be validated (https://docs.opnsense.org/development/guidelines/basics.html#safeguard-user-input), you can however add custom definitions into `/usr/local/etc/syslog-ng.conf.d` for manual overrides.

Best regards,

Ad

[2021-11-09 09:43] r-duran commented on #5345
Hi Ad,

Ok, but can how can I access parsed log fields and use my format for remote sending, in syslog-ng config?

Regards,

Rahman

[2021-11-09 09:48] AdSchellevis commented on #5345
Hi Rahman,

You will have to read the syslog-ng documentation about available options, when it's about fixed omissions in our configuration you can consider a feature request on our end (such as supporting non standard port numbers).

Best regards,

Ad

[2021-11-09 11:05] #4987 closed

[2021-11-09 19:27] rvn2p opened #5346 "Unexpected behavior when syncing pf-configuration"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Hi,
i use a pair of

[2021-11-09 19:30] mimugmail commented on #5346
https://docs.opnsense.org/manual/how-tos/carp.html#setup-interfaces-basic-firewall-rules
Read the Warning box, you need to assign both in the correct order

[2021-11-09 19:34] rvn2p commented on #5346
Fair enough i did not read the manual thoroughly enough.

[2021-11-09 19:35] rvn2p commented on #5346
I would still be great to get a warning because the results are horrible once the firewall switches over and every interface get another table.

[2021-11-10 00:20] meyergru opened #5347 "reference to Cloudflare CDN comes most unexpected"
**Describe the bug**

On the login page, there is a reference to cdnjs.cloudflare.com:

<html>
<body>

 
--

  |  

</body>
</html>

**To Reproduce**

Go to opensense login page, show page source.

**Expected behavior**

No reference to external ressources whatsoever.

**Additional context**

In a security appliance, I would not expect external references at all, neither for CSS nor for JS ressour

[2021-11-10 03:13] NOYB commented on #5344
PR #5348

[2021-11-10 04:44] fichtner commented on #5347
So you are using IE 8 or below and worry about security? 🤔

[2021-11-10 08:40] botboe opened #5349 "GUI unresponsive / slow - ifconfig bg-job "hangs""
- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Presumably since the update to v21.7.4 I experience a unresponsive / hanging GUI in some cases (opening the dashboar

[2021-11-10 08:43] fichtner commented on #5349
Yes, looks like an ixgbe hardware/driver issue where the I2C read times out for unknown reasons and causes these delays.

We have a kernel workaround for the slowness, but it's not a solution. I can post the kernel here shortly.

Cheers,
Franco

[2021-11-10 08:46] mimugmail commented on #5349
I'm interested in this too, I have a customer with 400 VLANs where a plug-out and -in let the system hang for ages.

[2021-11-10 08:54] fichtner commented on #5349
# opnsense-update -kr 21.7.4-ixgbe && yes | opnsense-shell reboot

[2021-11-10 09:37] AdSchellevis commented on #5349
some more background, forum post https://forum.opnsense.org/index.php?topic=25440.15 and workaround to avoid the 1 second delay with unoccupied slots or "faulty" cables https://github.com/opnsense/src/commit/938a0467e8cbf9e47629aff57e04250e7f6be251 + https://github.com/opnsense/src/commit/d1422fe670a0c828efee0003fee4ce46173069d2

[2021-11-10 09:47] botboe commented on #5349
But that won't fix the `Ethernet autoselect (Unknown <rxpause,txpause>)`-problem, will it?

[2021-11-10 09:48] fichtner commented on #5349
What's our baseline on that expectation?

[2021-11-10 10:23] AdSchellevis commented on #5349
@mimugmail 22.1 will likely help a lot in these types of setups, calling ifconfig on the FreeBSD 13 seems to be much faster on the machines I've tested. It could also be that the link issue with ixgbe is less prominent on the new version too if it uses a non locked action to the driver (https://github.com/opnsense/src/blob/938a0467e8cbf9e47629aff57e04250e7f6be251/sys/dev/ixgbe/ixgbe_phy.c#L2075-L2

[2021-11-10 11:51] #5343 closed

[2021-11-10 16:36] marjohn56 commented on #5284
Just messing around to prove a point..

So I am using Track Interface, my test router has  GUA prefixes on its LANs.. All OK
I added a VIP to the LAN of the test router using a ULA address. dhcpdv6 on that interface is disabled, I have also commented out the relevent parts of dhcpd.inc so that no GUA addresses are given out, but ULA ones are, this is what radvd.conf looks like:

interface igb1 {

[2021-11-10 23:58] NOYB commented on #5347
So an old browser is being supported in a manner that unnecessarily increases vulnerability.

If an old browser is supported with specific dedicated code it should be done so using appropriate security practices.

meyergru's point is valid regardless of it being an old browser.  If it needs to be supported it should be done so securely as practical.  If it doesn't need to be supported then specifi

[2021-11-11 05:21] aque opened #5350 "suricata: support multiple policy property in metadata"
- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Snort VRT signatures can have multiple Policy properties in its metadata, but only the last listed policy is added to `r

[2021-11-11 05:32] botboe commented on #5349
This fixed the described behavior! Ist this update-proof, or will this fix be part of the next update?

[2021-11-11 06:25] fichtner commented on #5349
@botboe Will be part of 21.7.5.. thanks for the test drive 👍

[2021-11-11 06:31] fichtner commented on #5347
If someone actually comes forward with the argument that we should remove IE support I'm all for this good idea. So far there are just complaints about "security" and "compatibility".

It's only valid if the file is loaded by the browser, isn't it? Hence my question. These details matter in issue reports.

The issue author chose not to respond or fix the template yet so that's unfortunate but happ

[2021-11-11 07:22] meyergru commented on #5347
What information is missing from my report, really? I only deleted sections of the template that are unneccessary for the problem. Yes, it is correct that I do not even use one of the affected browsers, I give you that.

Did you really expect me to jump over an unneccessary hoop just to discuss your opinion of this not being a problem at all? My motto in that respect is 'better be safe (=secure) t

[2021-11-11 07:51] fichtner opened #5351 "ui: IE 11 support ends June 15, 2022"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2021-11-11 07:54] #5349 closed

[2021-11-11 08:09] depeo opened #5352 "IPv6 over IPv4 Tunneling"
Hi,

In pfsense there is an option to forward protocol 41/RFC 2893/tunnel traffic to another ipv4 address.
https://docs.netgate.com/pfsense/en/latest/config/advanced-networking.html

Is it possible to add this option to Opnsense?
I want to be able to forward protocol 41 traffic to another host.

[2021-11-11 08:21] fichtner commented on #5352
Hi @depeo,

It was removed a long time ago: https://github.com/opnsense/core/issues/964

Cannot recall a single request since then so this would be the first.

Cheers,
Franco

[2021-11-11 08:22] fichtner commented on #5352
If I recall correctly you can just add a port forward that does this... https://github.com/opnsense/core/commit/a356f26b639ca5

[2021-11-11 08:24] depeo commented on #5352
OK thanks, I'll try that!

[2021-11-11 08:35] #5352 closed

[2021-11-11 09:33] marjohn56 commented on #5284
Let's take this a step further. I see the need for the following:

- Ability to only enable ULA address handouts in dhcpdv6 and radvd.
- Ability to select the LAN GUA prefix ( as an alias ) in NPTv6
- Abillity to select the LAN ULA prefix in NPTv6

@fichtner & @AdSchellevis - Does this fit the bill?

[2021-11-11 10:25] AdSchellevis opened #5353 "OpenVPN Client Specific Overwrites - allow custom iroute input"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-11 13:00] bimbar commented on #5284
Now I'm confused, as far as I can see in your example, you have no GUA prefix on LAN, but only an ULA prefix, yet you write in you conclusion that a GUA prefix on LAN works perfectly.

Anyway, what you tested is pretty much what I was thinking of, only you want to sort of virtually assign the GUA prefix to LAN while not advertising it, which would also be a way to implement it, I guess.

[2021-11-11 13:13] Enn0 opened #5354 "RA interface setting does not use custom name"
- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Entirely cosmetic issue.
 If I rename my interfaces e.g. WAN "external", LAN "internal" and OPT1 "DMZ", then the RA dial

[2021-11-11 13:46] fichtner commented on #5354
Fair enough, I'll fix this. :)

Cheers,
Franco

[2021-11-11 17:43] marjohn56 commented on #5284
That LAN is my PC's LAN, not the LAN of the router. That looks like this. Note I've change the ULA address to fc00 since yesterday.

igb1: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> metric 0 mtu 1500
        options=802028<VLAN_MTU,JUMBO_MTU,WOL_MAGIC>
        ether 40:62:31:00:c1:b0
        inet6 fe80::4262:31ff:fe00:c1b0%igb1 prefixlen 64 scopeid 0x2
        inet6 fc00:1::1 prefixlen 64

[2021-11-11 20:20] crt333 commented on #5329
The situation in 21.7.5 is the same as 21.7.4, I can't specify WG outgoing interfaces for unbound, I have to specify WAN or it doesn't work.

[2021-11-11 20:59] bimbar commented on #5284
Going back to your initial statement, I get what you want to do there, but, if you have a GUA and an ULA on the LAN, but advertise only the ULA, and translate that over to the GUA, what use is it to configure said GUA on LAN if it's not used.
It's only used as a NAT pool and as such should not be configured on any real interface.

[2021-11-12 09:30] bimbar commented on #5284
You don't understand, instead of configuring some interface as "Track Interface WAN offset 1", you would configure the NPTv6 Destination Prefix as "Track Interface WAN offset 1".

[2021-11-12 10:05] mimugmail commented on #5329
This *MIGHT* be similar to https://forum.opnsense.org/index.php?topic=25327.0 (German)

https://github.com/opnsense/core/commit/76b8ae4490

Problem is you cant revert as the package was removed/replaced. Just as guess as this is the only DNS relevant change in 21.7.4.

[2021-11-12 10:10] fichtner commented on #5329
I don't see Unbound acting up for using dnspython v2 in alias resolving with regard to WireGuard as an outgoing interface. It's more likely that 6d5721565226f3 does something, but there are no relevant indicators here in this report like pf rules comparison or naming the steps for configuring wireguard for it and if any custom rules are in the way.

[2021-11-12 10:22] ihatemicrosoft-was-already-taken opened #5355 "Unbound: do not add entries for "ifconfig""
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-12 10:24] fichtner commented on #5355
I'm not sure I understand. If you set the specific listen interface Unbound should not generate more entries than required?

Cheers,
Franco

[2021-11-12 11:07] schnerring commented on #5329
I don't think this is related.

@fichtner : no rules comparison or otherwise complex setup is needed to reproduce the issue:

- clean install OPNsense
- add WG with **Disable Routes** checked
- add the interface
- add the GW
- select interface in Unbound

With this simple setup Unbound uses the default route.

[2021-11-12 11:31] ihatemicrosoft-was-already-taken commented on #5355
As a workaround, I now changed the hostname to something random. In order to make GUI access work, I had to disable
DNS Rebinding Checks and the HTTP_REFERRER enforcement check. Not really a desireable configuration.

[2021-11-12 11:34] fichtner commented on #5329
Sure but not doing it will not point us into the right direction.

[2021-11-12 11:58] Rapterron commented on #5094
Hello all, Hello @AdSchellevis

sorry for the delayed answer.

Apparently the issue almost instantly kicks in when I activate sticky connections.
Under Firewall->Daignostics->States I can see the states and indeed when I clear it the connectivity works again.
I will keep an eye on the stats and check if a reset resolves the issue and for how long.

As a further note and for everyone else reading,

[2021-11-12 13:14] schnerring commented on #5329
Are the steps I provided enough?

I'll try to update my setup to 21.7.3 this weekend. Can I `opnsense-patch 6d57215` to check whether the commit is the issue?

[2021-11-12 13:16] fichtner commented on #5329
it should unpatch, yes, otherwise use

    # opnsense-revert -r 21.4.3 opnsense

to move the core package to the working release.

[2021-11-12 13:28] schnerring commented on #5329
I was running on 21.7.4 and tried to revert, but things were still broken, so I clean installed 21.1 and upgraded to 21.1.9, which is what I'm currently running.

My thinking was to upgrade to 21.1.3, the latest version where Unbound works properly. Then apply the `6d57215` patch to verify it breaks things. Or isn't that helpful to you?

[2021-11-12 13:30] fichtner commented on #5329
the good state of 21.1.9 works too I suppose. We need to compare the /tmp/rules.debug output on a good and the bad configuration.

[2021-11-12 13:46] crt333 commented on #5329
This worked for me on 21.7.3, but broke with the .4 update (and .5)

Thanks to both of you for your help!

Chris

----------------------------------------

Nov 12, 2021 7:29:27 AM Michael Schnerring ***@***.***>:

[2021-11-12 19:34] marjohn56 commented on #5284
I DO understand I just see benefits of using the real interface. I am well aware that if you know the prefix that's been obtained you could just use that.Sent from my Galaxy<div>
</div><div>
</div><div>-------- Original message --------</div><div>From: Markus Peter ***@***.***> </div><div>Date: 12/11/2021  09:31  (GMT+00:00) </div><div>To: opnsense/core ***@***.***> </div><div>Cc: Martin Wasley **

[2021-11-13 00:32] schnerring commented on #5329
I clean installed 21.1.1 and performed the following steps:

- update to `21.1.9_1` via serial console
- keep wizard defaults
- install `os-wireguard` plugin (1.7)
- add WG remote peer
- add WG local peer
- enable WG
- add interface (`WAN_VPN`)
- restart WG (so interface gets IP)
- add GW (`WAN_VPN_GW`)
- enable manual NAT and add the following outbound rules (`<source>` -> `<interface`):
  - `LAN

[2021-11-13 01:03] schnerring commented on #5329
Reverting the patch works on the latest version:

1. Upgraded to `21.7.5`
2. Run `opnsense-patch 6d57215` (reverts the patch)
3. Reboot / purge FW states / restart Unbound

Do future releases automatically re-apply reverted patches, or is that something I need to keep in mind?

[2021-11-13 02:51] Greelan commented on #5329
Great troubleshooting, well done!

[2021-11-13 05:43] kulikov-a commented on #5329
@schnerring

and what if you assign this gw as upstream gateway in `WAN_VPN` properties?

[2021-11-13 06:19] schnerring commented on #5329
I do that on the WG local peer. I check **Disable Routes** and specify the gateway IP there. I can try, but the docs say to leave the interface unconfigured. Or is that something that changed?

[2021-11-13 06:26] kulikov-a commented on #5329
I just looked at the code..it looks for gateways in interfaces properties
now imho.
Can you try to set upstream gateway in wan_vpn properties?(not only in wg
local peer).
On my test vm it starts to generate pf rules after that

On Saturday, November 13, 2021, Michael Schnerring ***@***.***>
wrote:

--

--
Sincerely
Kulikov Alexander

[2021-11-13 08:03] schnerring commented on #5329
Yes, you're right. Statically configuring IPv4 on the interface fixes the issue. I don't really understand what's happening on a lower level when assigning the `wg0` "device" to the `WAN_VPN` "interface". I just learned that before creating a WireGuard gateway after assigning `wg0` to an interface that WireGuard had to be restarted, so the interface to gets an IP from WireGuard:

1. Create WG peer

[2021-11-13 08:49] Greelan commented on #5329
Interesting. If you leave the upstream gateway as "Auto-detect", is it still OK? I presume so since at least in my setup the WG gateway is the only one listed in the dropdown.

I agree it seems duplicative to have to include the gateway info in the WG local config as well (and also the IPs, although presumably that must in the WG config for WG to work). Particularly as the WG config only allows fo

[2021-11-13 09:02] somova commented on #5241
There is nothing rude on that. I'm just pretty worried about security because it looks like there is no really interest in this kind of issues. Nobody demands solving this issues within a day. But, we should consider Opnsense is a security component and a lax approach will damage the reputation of and user confidence in this project. This I'll try to avoid and I differentiate classical software bu

[2021-11-13 09:06] AdSchellevis commented on #5329
(I haven't read all the comments, but thought to shed some light on gateways)

If we're looking at https://github.com/opnsense/core/issues/5230, the old behaviour was more or less a bug, some time ago we added `Dynamic gateway policy` (https://docs.opnsense.org/manual/interfaces.html originating from https://github.com/opnsense/core/commit/dba70c0ead9b55e4be8ac37dad5c2afbfe3209e8) so one can provi

[2021-11-13 09:12] Greelan commented on #5329
I'm not sure that will work for WG as when "Disable Routes" is selected in the WG local config (which is needed to allow selective routing of hosts through the tunnel), a gateway IP is required to be specified.

[2021-11-13 10:46] kulikov-a commented on #5329
so if I understood @AdSchellevis  correctly, the changes are intentional (and I also think the previous behavior was less logical). And if I see correctly, the only thing that has changed is that now an allowing rule with the `route-to` specified is not created by `filter.lib.inc` to direct traffic from the wg interface to external networks. thus, you can force the script to create a rule by speci

[2021-11-13 19:42] schnerring commented on #5329
Much of this goes over my head, and as an end user of an appliance, I only want to concern myself with implementation details as much as I have to. I'll sure learn things along the way, but I didn't expect having to spend so much time to get to the bottom of this. Does this come down to WG still being experimental and requiring ironing out which isn't really possible before being implemented on a

[2021-11-13 19:55] crt333 commented on #5329
I agree with @schnerring and I have no useful input as to what the right way is, but instructions in the documentation and perhaps removal of "outgoing network interfaces" in the unbound config would be good, since it seems to add confusion. I'm happy with whatever the "best" way is, and thank everyone involved.

[2021-11-13 20:08] schnerring commented on #5329
@kulikov-a Could you provide me with an example what the rule you'd create would look to test this? If I understand correctly, I want to replicate this:

[code]

I tried creating:

|||
|-|-|
|Interface|WAN_VPN|
|Direction|out|
|Source|WAN_VPN address|
|Destination|! WAN_VPN net|
| Gateway|WAN_VPN_GW|

But I get the error:

[code]

[2021-11-14 05:08] kulikov-a commented on #5329
@schnerring gui will not allow to do this on interface (did not know about this limitation )

https://github.com/opnsense/core/blob/012376323abc257e637869239bb5dfe65dbd47e6/src/www/firewall_rules_edit.php#L336-L344

but you can try to make it as floating rule. like:
![rule0](https://user-images.githubusercontent.com/36099472/141668413-23941c0f-fa90-4298-8a48-ca983c0952fc.png)

this shoud generate

[2021-11-14 08:05] #4996 closed

[2021-11-14 09:49] AdSchellevis commented on #5329
@kulikov-a

I think we should remove that limitation, it was added a long time ago to prevent people from using "out" when they intended "in" (https://github.com/opnsense/core/commit/01c16b0a86715a316ecd20cf6679c2915e302a6c), but there are still valid use-cases and I'm doubting it really helps to lock it here. cc @fichtner

@schnerring

Not really. Avoiding the normal destination routing using pol

[2021-11-14 18:04] #5350 closed

[2021-11-14 18:07] AdSchellevis commented on #5350
https://github.com/opnsense/core/commit/c28567ec1d1b0671e8e5def76c127029c38b41bd should do the trick here.

To install on OPNsense 21.7.5 use the statement below
[code]

@kulikov-a I just noticed your commit as well, wasn't aware that you would like to take a shot here.

[2021-11-14 18:29] kulikov-a commented on #5350
@AdSchellevis Oops. I didn’t know that the link in the comments is also reflected in the source ) (just seemed interesting and wanted to check it on  test vm. I didn’t check it much and wasn’t going to suggest it yet)

[2021-11-14 18:31] AdSchellevis commented on #5350
@kulikov-a hehe, no problem at all, it was on my list to check this weekend, after my push I noticed your commit.

[2021-11-14 18:58] kulikov-a commented on #5329
@AdSchellevis thanks for pointing out. so a little clearer)

yes, just mentioned another way (allowing to redirect traffic more granularly imho)

[2021-11-14 19:37] Greelan commented on #5329
So sounds like the simplest solution is simply to add the IP(s) to the interface config, rather than just relying on WG to bind to them? The how-to already says to create a static gateway for the interface, so that part is a given.

BTW, would be nice if the WG plugin didn't separately require a gateway IP to be specified in the local config when Disable Routes is selected, particularly as it only

[2021-11-14 23:05] #4997 closed

[2021-11-15 09:37] fichtner commented on #5329
@AdSchellevis I remember we did talk about it but I couldn't pin my memory to this particular validation. I'm ok with removal of that limitation.

[2021-11-15 09:48] lfuelling commented on #4997
Wow, that is one useless bot...

[2021-11-15 11:05] #4999 closed

[2021-11-15 14:08] Aidan16 opened #5356 "WireGuard IPv6 Tracking"
I'm unable to track IPv6 to my WireGuard interface successfully and it breaks my DHCPv6 /60 that I'm grabbing from my ISP. Where IPv6 should be turns into "track6". Please let me know.

[2021-11-15 17:05] #5001 closed

[2021-11-16 20:56] fichtner opened #5358 "firmware: upgrade_needs_reboot flag is overloaded"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When upgrade_needs

[2021-11-17 11:33] fichtner commented on #4993
I just saw that https://github.com/opnsense/core/blob/master/src/opnsense/scripts/syslog/log_archive already exists and is hooked into cron. Just leaving this here as a note to self.

[2021-11-17 12:15] fichtner commented on #5358
New flag `status_reboot` now exists with the correct reboot status for the advertised `status_action`.

[2021-11-17 13:21] #5358 closed

[2021-11-17 14:05] #5004 closed

[2021-11-17 15:30] kevinchalet commented on #5332
For the record, @fichtner suggested this could be a hardware issue but after additional testing, I discovered that the `rc.linkup: DEVD Ethernet attached event for x` phenomenon only occurs when a (V)LAN interface is configured with IPv6 interface tracking enabled (i.e it doesn't occur when assigning a fixed IPv6 LUA to the LAN interface).

I had the chance to test on different hardware earlier to

[2021-11-18 08:36] fichtner commented on #4993
@mimugmail @AdSchellevis dd6a04a should be all there is to it. I added opnsense-log helper in 731a69c to test flexibility and to ease diving into logs. We can extend as needed... it's going to be cool! Close?

[2021-11-18 12:41] #5354 closed

[2021-11-18 13:16] fichtner commented on #4953
All code is in place for upcoming 22.1.b2.

[2021-11-18 13:16] #4953 closed

[2021-11-18 13:50] FloMeyer opened #5359 "Manual SPD Entries not working with IPv6 IKE Tunnel with FQDN as Remote-Gateway"
When using IPv6 with an IPsec Tunnel (IKEv1) and FQDN as Remote gateway, the manual SPD Entries don't work.

![image](https://user-images.githubusercontent.com/2670188/142427031-882e234e-0ea8-42ba-a39c-e754b23466ba.png)

![image](https://user-images.githubusercontent.com/2670188/142427182-c3b126d0-9d82-4dc6-b925-5fc5f28567cb.png)

This is due to the function ipsec_resolve($hostname) in ipsec.inc.

[2021-11-18 14:18] fichtner commented on #5359
@FloMeyer for reference, which version are you running?

[2021-11-18 14:19] FloMeyer commented on #5359
protocol

<html>
<body>

Type | opnsense |  
-- | -- | --
  | Version | 21.7.5 |  
  | Architecture | amd64 |  
  | Flavour | OpenSSL |  
  | Commit | c279b7529 |  
  | Mirror | https://pkg.opnsense.org/FreeBSD:12:amd64/21.7 |  
  | Repositories | OPNsense |  
  | Updated on | Thu Nov 18 12:09:09 CET 2021

</body>
</html>

[2021-11-18 14:24] fichtner commented on #5359
Hmm, but your fix only works on master since stable/21.7 has no parameter yet. I'm a little confused :D

I assume you tested this on master (development version), no?

[2021-11-18 15:12] fichtner commented on #5359
@FloMeyer ok, thanks for the context. I'll let @AdSchellevis look at it since he worked in ipsec_resolve() changes, but won't be this week likely

[2021-11-18 15:25] AdSchellevis commented on #5359
NAT before IPsec comes with limitations, when using dynamic dns it will be very flaky at least since there's no guarantee a proper entry will be generated.  The SPD generation does include quite some logging, which lands in the standard log (System->Log Files->General) if I'm not mistaken @FloMeyer best check these first.

https://github.com/opnsense/core/blob/2202b028df2e028bf966e01ea33a20f8ca700

[2021-11-19 08:05] #5006 closed

[2021-11-19 10:57] paulofragoso opened #5362 "Pipe doesn't match"
Hi,

After upgrade bandwidth number in [Firewall: Shaper] pipe doesn't match anything:

# ipfw pipe show
10000:  82.000 Mbit/s    0 ms burst 0
q141072  50 sl. 0 flows (1 buckets) sched 75536 weight 0 lmax 0 pri 0 droptail
 sched 75536 type FIFO flags 0x1 256 buckets 0 active
    mask:  0x00 0x00000000/0x0000 -> 0xffffffff/0x0000
10001:  82.000 Mbit/s    0 ms burst 0
q141073  50 sl. 0 flows (1 buck

[2021-11-20 06:05] #5007 closed

[2021-11-20 15:00] ericschdt opened #5363 "System log: Show more details in case of `resolving hostnames`"
**Important notices**

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

### System
OPNsense 21.7.5-amd64
FreeBSD 12.1-RELEASE-p21-HBSD
OpenSSL 1.1.1l  24 Aug 2021

### Issue
The system logs

[2021-11-20 18:03] AdSchellevis commented on #5363
The log comes from here https://github.com/opnsense/core/blob/d0630be3b09dc99315fe423f00c50d79dafd8065/src/opnsense/scripts/filter/lib/__init__.py#L136-L138

But being more verbose likely isn't the best option here since there are people injecting thousands of hostnames in a single alias which would flood syslog.

[2021-11-21 05:32] kulikov-a commented on #5363
@ericschdt if I understood your questions correctly, then you can see the process name in the log line (in this case, it is a `update_tables.py` (that is, the process of aliases updating) and `Meet_Test` is the firewall Alias name).

[2021-11-21 14:39] ericschdt commented on #5363
Thank you for the hints, I will look into it again asap and report back if necessary. I guess until then I can close it. :)

[2021-11-21 14:39] #5363 closed

[2021-11-21 17:05] #5009 closed

[2021-11-21 20:06] kulikov-a commented on #5337
hi!
Considering the upcoming changes and RFC 5424 migration, how silly is the idea to change the System: Log Files: General page a little bit more? change severity filter to something like "maximum severity" (single select) and make it "Warning" by default (and may be storing filter value in localStorage)?
(inspired by https://forum.opnsense.org/index.php?topic=25676.0 (apart from manners))

thank

[2021-11-21 22:18] schnerring commented on #5329
Static interface configuration works so far. I created the floating rule per https://github.com/opnsense/docs/pull/365#pullrequestreview-811956828 and it works.

However, as soon as I remove the static IP configuration for WG interfaces, Unbound stops working. Is the **Outgoing Interfaces** option incompatible with "dynamic" interfaces?

[2021-11-21 22:25] Greelan commented on #5329
Did you restart WG so that it rebinds the IPs to the interface, after removing the IPs from the interface config itself?

[2021-11-22 01:27] schnerring commented on #5329
Countless times... restarted Unbound, rebooted, re-imported my backup config. I would like to re-install and test from a minimal config but I'm not sure when I'm gonna have the time for that.

[2021-11-22 01:44] Greelan commented on #5329
OK, I'm content to leave the PR on hold until you get the chance to test (unfortunately I don't have a setup that allows me to do so). The key question in my mind is exactly what is required to get the desired behaviour - just an interface config with a gateway set, or just an outbound FW rule for policy-based routing, or both?

[2021-11-22 08:12] AdSchellevis commented on #5329
Might be something specific to wireguard, @schnerring can you post the` ifconfig -m -v`  output of a wireguard interface with and without static address assigned?

[2021-11-22 08:17] AdSchellevis commented on #5337
@kulikov-a I'm open for suggestions, I do expect some messages in core will use a wrong level at the moment by the way, but that will sort itself out eventually.

[2021-11-22 08:28] Greelan commented on #5329
I will give my input too if that helps.

With no static addresses assigned:

[code]

With static addresses assigned:

[code]
Only the ND options are different.

[2021-11-22 08:39] Greelan commented on #5329
With the static IPs and gateway specified in the interface configuration, the routing entries are there:

[code]
With no gateway specified in the interface configuration, the routing entries are not there.

[2021-11-22 08:50] Greelan commented on #5329
Interestingly, if I restart WireGuard after assigning static IPs in the interface configuration, the ND options become the same:

[code]

But the PROMISC flag has gone.

[2021-11-22 09:10] AdSchellevis commented on #5329
the netmask in both scenario's looks troubling to be honest, `10.105.96.110/32` shouldn't be allowed to access `10.105.96.109`, as long as the manual firewall rules generated are the same as the ones with the static interface+gateway ones you should be safe there.

[2021-11-22 09:11] Greelan commented on #5329
Completing off-topic: why, after I make an interface change, does my CPU usage sit at a minimum of 50%, when ordinarily it will be much less than that (down to 0%)? Only a reboot fixes it up

[2021-11-22 09:12] Greelan commented on #5329
The gateway is configured as a Far Gateway on IPv4. The /32 netmask is to match the WG configuration.

[2021-11-22 09:47] AdSchellevis commented on #5329
no clue, you will have to inspect top if it stays high.

With the risk of asking very dumb questions, can't you offer the client something a bit larger than a single address? I've seen some strangeness with IPsec VTI tunnels in the past as well, although `pf(4)` shouldn't care too much in this case.

i'm quite curious what @schnerring `ifconfig` output looks like, when using IPv4 the ND options sh

[2021-11-22 09:56] Greelan commented on #5329
Ah - ntopng!

Well, Mullvad gives a /32 and a /128 for the tunnel, and that is what I configure in WG. In theory I could specify a larger netmask, I suppose (and in fact I do for IPv6 since otherwise I can't configure a gateway, since Far Gateways aren't a thing for IPv6). But I am not sure it would make any difference?

[2021-11-22 11:03] kulikov-a commented on #5337
@AdSchellevis thanks! then I'll try to play with it and make a pr for discussion if something useful comes out

[2021-11-22 11:49] schnerring commented on #5329
With static config:

[code]

Without static config:

[code]

Btw, I'm using `wireguard-kmod`. Might this be an issue?

[2021-11-22 12:14] AdSchellevis commented on #5329
@schnerring could be the case, it doesn't really make sense that setting the same address again magically changes the routing. If that's the case, it should be easy to validate by manually setting only an address on `wg0` and see if it makes a difference.

[code]

[2021-11-22 12:19] schnerring commented on #5329
So things work when I just add the floating rule that's also added by statically configuring the WG interface.

I'd expect the user-defined floating rule to effectively override the auto-generated rule from the static WG interface configuration. But this only partially happens. Requests from Unbound still trigger the `let out anything from firewall itself (force gw)` rule.

What's odd is that Unbo

[2021-11-22 13:13] schnerring commented on #5329
I'm going to factory reset and re-create a minimal setup just to rule out that this is caused by any other configuration on the system. 😫 It feels like that this is an issue between WireGuard and Unbound.

[2021-11-22 13:37] fichtner commented on #5338
mostly 4d38eea0895

[2021-11-22 13:37] #5338 closed

[2021-11-22 13:45] fichtner opened #5366 "interfaces: removal of interface_virtual_create()"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2021-11-22 13:56] AdSchellevis commented on #5329
@schnerring not sure if I understood your previous comment correctly, but reading it again I think you mean if you add the same rule as the floating rule (without an interface) it works, but not if you stick it to an interface, which would indicate that we are constructing the wrong rule here.

Going back in the comments, the generated rules don't stick to an interface (so are floating without int

[2021-11-22 15:18] schnerring commented on #5329
I'm sorry about that, you're right. I was sticking the rule to the `wg0` interface. To clarify more:

1. Static WG interface configuration works
2. Static WG interface configuration + floating rule sticked to WG interface (still) works
3. Dynamic WG interface configuration + floating rule sticked to WG interface doesn't work
4. Dynamic WG interface configuration + floating rule **not** sticked to

[2021-11-22 15:24] AdSchellevis commented on #5329
@schnerring only issue that could remain if I understand @kulikov-a correctly is that there might be race condition in unbound startup (if the address is not yet there), but if @Greelan adds [4] in his how-to, at least the interface and firewall sections are functional.

I would close the ticket with @Greelan's documentation PR, sounds like we managed to find a solution indeed.

[2021-11-22 15:37] schnerring commented on #5329
In regards to the race condition, I quoted @fichtner in an earlier comment (https://github.com/opnsense/core/issues/5329#issuecomment-967801678), but didn't understand at the time. It's basically what @kulikov-a said.

And now I think I understand why the help text of Unbound says this:

So now it seems to me that statically configuring the WG interface seems to be the better option? Unless the ra

[2021-11-22 15:52] AdSchellevis commented on #5329
I don't think you can't fix the race by setting a static address on the interface as it's simply not there, but you should be able to add a loopback on use the same trickery to send it out on `wg0` when it comes available.

The quickest "fix" would be to assign the same address using an alias to `lo0` (loopback), in which case it can safely bind on startup (and I expect the tunnel won't mind that

[2021-11-22 17:17] tsouza85 commented on #5094
I have the same problem... I fix it by turning off sticky... it's a bug and no developer admits it...

[2021-11-22 17:53] somova opened #5367 "Dynamic state reset function improperly implemented"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

In the past a new

[2021-11-22 17:57] somova commented on #5150
Maybe we can link this issue to #5367, because it looks like issues with the dynamic state reset function interfere with the start of unbound.

[2021-11-22 19:00] fichtner commented on #5367
There is a log message for this to confirm and I am expecting the code to do the right thing since at least a couple of years looking at the guards around $cacheip and $cacheip_file handing.

I can't agree with that assessment since there are likely states being killed even if it's not NAT states.

Can't agree with this for further code reasons.

Same as above.

Cheers,
Franco

[2021-11-22 19:00] AdSchellevis commented on #5094
@Rapterron no problem, it has been  busy here too. The problem so-far is that we still don't know in which version there was a change in behaviour, which makes it nearly impossible to make a lot of sense out of the reports to be honest. Currently it doesn't look like there's anything different between versions tested.

If you kill sessions selectively for the machine that doesn't seem to have inte

[2021-11-22 21:08] Greelan commented on #5329
If I am following correctly, I should simply change the floating rule in the PR so that no interface is selected?

I am still quite curious why the static IP and gateway assignment on the interface is not the preferred solution, if it creates the same routing and appears simpler from a user perspective?

BTW, @schnerring, your earlier post shows a /128 netmask with the IPv6 address. How did you cr

[2021-11-22 22:22] glasid commented on #5367
I believe that we need to take a closer look at various aspects of this issue.

We do have a problem when the $cacheip_file no longer exists in /var/db. In this case code line 162 in rc.newwanip will return false. Hence, code lines 163-164 won't be executed at all and we are left with stale entries in the state table.

How can we get into this situation with missing $cacheip_file?

The $cacheip_fi

[2021-11-22 22:29] glasid commented on #5367
I don't see any problems with no. 3. This has nothing to do with interface bound states. This command will only be triggered when "Reset all states when a dynamic IP address changes" under Firewall -> Settings -> Advanced is checked. pfctl -Fs will just kill ALL states.

Agreed. To sufficiently kill all stale states we need both commands.

[2021-11-22 22:33] schnerring commented on #5329
I didn't configure a GW for IPv6 because I don't use IPv6 (yet). However, for Mullvad interfaces I went ahead and already added the IPv6 addresses.

[2021-11-22 23:08] Rapterron commented on #5094
Hello all,

### **First of all and for everyone who run into this problem:**

**Workaround is to disable sticky connections**
![grafik](https://user-images.githubusercontent.com/26071399/142943662-b1872614-b3ea-4e33-af8e-d585e848235d.png)

This will have the effect / benefit that multi session TCP connections will use all gateways in the group (will sometimes result in more bandwidth) but can also

[2021-11-23 06:42] fichtner commented on #5367
@glasid I'm curious why interface_bring_down() is allegedly executed here trashing the (cache)ip files. Can you skim the system log for "DEVD Ethernet detached event" messages?

Thanks,
Franco

[2021-11-23 08:12] AdSchellevis commented on #5094
Hi Christian,

Let's go into this a bit deeper, the amount of text in the issue (including the me-too comments) is making it hard to keep focus on the relevant datapoints. So `20.1` works, `20.1` with the kernel of `20.1.7` works, but it stops working after upgrading the rest of the packages to `20.1.7` as well, right? (core would be the only relevant one here by the way)

If we can answer that wi

[2021-11-23 08:19] AdSchellevis commented on #5329
It sounds like it, yes.

In my humble opinion the risk of doing so is that you're going to reconfigure an already configured (or missing) device with a configuration that might be different than the one chosen by the process responsible for it. Not all interface types will like this and in some cases it may lead to an unconfigured interface after the fact.

An option might be to show the gateway o

[2021-11-23 10:09] Greelan commented on #5329
Weirdly, I now tried the floating rule with no interface selected (and with no static configuration on the interface itself), and now my gateways tell me they are offline with 100% packet loss...

But I'd consider that just a user configuration error, and not a design issue. But just my view.

I like the sound of that. And removing the need in the WG config to specify a gateway IP if Disable Route

[2021-11-23 10:51] kulikov-a commented on #5329
hm. like:
`pass out log route-to (wg0 10.108.122.176) inet from (self:4) to ! (wg0:network:1) flags S/SA keep state allow-opts` ?
so we route all traffic from all local interfaces to wg channel. is it really what we want?

[2021-11-23 11:09] schnerring commented on #5329
What @Greelan means is using the following rule (which is what @kulikov-a suggested):

|                      |                              |
| -------------------- | ---------------------------- |
| Action               | `Pass`                       |
| Quick                | `unchecked`                  |
| Interface           | don't select any             |
| Direction            | `out`

[2021-11-23 11:16] Greelan commented on #5329
Correct, @schnerring, which generates:

[code]

(The rule descriptions are mine.)

[2021-11-23 11:18] glasid commented on #5367
[code]

-> mpd5 killed
-> pppoe0 interface gone
-> stale states remain in the state table (as $pfctlarray is empty)

[2021-11-23 11:20] schnerring commented on #5329
My understanding is that the floating rule basically duplicates what the **Gateway IP** setting should do, right?

It feels like this was way to hard to get right. I mean from an end-user perspective it would be nice if the **Gateway IP** setting on the WG local peer was a dropdown menu where one could select a gateway and implicitly generate the above rule. Plus an additional dropdown allowing to

[2021-11-23 11:23] Greelan commented on #5329
I'd be fine with that too. I agree wholeheartedly that this fiddling under the hood shouldn't be necessary, and some simpler solution to achieve the desired outcome and behaviour is needed. Hopefully something that the plugin maintainer can look at.

[2021-11-23 11:35] mimugmail commented on #5329
I have no idea how this should be done right. The gateway field was introduced in times where there was no init script of wireguard itself and at times where also the dynamic gateway checkbox wasn't there in interface configuration. With all this I'm not really sure if it's even required to still use the gateway field in wireguard. Currently it adds more complexity and might multiply failure repor

[2021-11-23 12:16] fichtner commented on #5367
Let's focus on cacheip hit and miss with built-in state kill via 028302ae74c5 first. Does that work as expected then?

[2021-11-23 12:25] fichtner commented on #5367
FWIW, I'm seeing pfSense use the same pfctl -i commands so either they have a patch or they do work to a certain degree. I'm not sure if spending core time for research on this subject is a good idea as it looks like a time sink. I'd rather add the -i to see if it keeps working with the state on 028302a, because of e.g.:

https://github.com/opnsense/core/blob/028302ae74c5bb8669d8ac123db27dab854392

[2021-11-23 12:39] AdSchellevis commented on #5329
@schnerring right, if it knows the gateway, by default it will generate an outbound rule.

@schnerring  I see what you mean, but unfortunately we have to know with certainty what the intend was. It can be fixed from the plugins perspective (adding a gateway file https://docs.opnsense.org/manual/gateways.html#missing-dynamic-gateway) when the interface is available.

We could opt from detaching the

[2021-11-23 15:31] somova commented on #5367
You're right. It was a mistake by me. This line of code does not care about states are bond to an interface or not.

[2021-11-23 15:41] somova commented on #5367
I don't know why the mpd5 daemon process will be killed if the pppoe connection gets closed. There is no need for it (the same goes for shutting down the pppoe interface or killing the netgraph). If there is only one existing pppoe connection (which is normally the case), this can be controlled by sending SIGUSR1 and SIGUSR2 system signals to the process. Alternatively, mpd5 daemon can provide a c

[2021-11-23 15:48] clebig opened #5368 "Changes in Firewall->NAT->Outbound are not taken into account when "Apply"ing"
Dear all,

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Since the last update (OPNsense 21.7.5-amd64), I'm seeing an abnormal behavior of the Outbound NAT page.

Whe

[2021-11-23 22:44] Phiwatec commented on #1191
Same here. Would love to use GRE as a way to tunnel IPv6 over an IPv4 only network. Currently OPNsense doesn't allow an IPv6 address to be assigned to a GRE Tunnel Interface.

[2021-11-24 00:30] schnerring commented on #5329
So I did some more testing and ran into another issue.

I also use WireGuard to connect from from the outside to my homelab. I use [Mullvad port forwarding](https://mullvad.net/en/help/port-forwarding-and-mullvad/) to connect through a WireGuard tunnel to OPNsense with Wireguard (so a tunnel inside a tunnel - I hope that's clear). I need to define two rules to make this work.

1. Inbound rule on `

[2021-11-24 03:39] pallebone commented on #3328
I have same issue as well on OPNsense 21.7.5-amd64

[2021-11-24 07:48] fichtner commented on #3328
@pallebone Hi Peter, should be the same as https://github.com/opnsense/core/issues/5285 -- can you check?

[2021-11-24 08:17] AdSchellevis commented on #1191
@Phiwatec and you did try to assign the interface and stack an alias on top? I don't think there are any validations on our end preventing this from happening as long as the interface is assigned and active.  If you're looking for something else, best try to implement it command line first (using FreeBSD's documentation) and post a small sample of how your use-case can work.

[2021-11-24 11:30] fichtner commented on #5367
It would be really nice to get feedback on this otherwise I'm going to stop entertaining this. There's no point adding tickets and huge blobs of talk without providing hard evidence either as prerequisite or commit feedback. Also, with a loose scope like this ticket saying that there's a bug because Unbound bugs out pivoting to all state killing being supposedly buggy doesn't even help with Unboun

[2021-11-24 11:43] ivwang commented on #5284
This really sounds nice and what I am looking forward to have.
Any chance to see it in next few releases? Finger crossed.

Thanks
Ivan.

[2021-11-24 12:31] AdSchellevis commented on #5284
As long as any change in this area fits the boundaries given earlier, I don't mind that much, I just would advise to keep it simple.

We all seem to get lost in this region quickly, which is only solvable if anything we do add will be explained unambiguously.

Speaking for myself (and likely @fichtner as well), I'm not planning to spend time on this before it's absolutely clear, already spend quit

[2021-11-24 12:43] Joel-Muller opened #5369 "Unbound DNS"
Not working DNS shortnames without search domain on clients

[2021-11-24 14:42] pallebone commented on #3328
Hi there,

I am also affected by that issue, however I cant seem to fix it by following the instructions in #5285. It is not clear to me why editing the parent interface mtu worked for him but not for me. I am continuing to check things but havent found a solution yet.

Pete

[2021-11-24 14:44] pallebone commented on #5285
I am not able to fix this issue following the instructions where you edit the parent interface and provide mtu setting of 1508. Do I need to completely delete the pppoe settings and start again afterwards? This would be inconvenient :(

[2021-11-24 14:53] bimbar commented on #5284
I'd propose merging some implementation of something soon, rather than wait for something perfect which may never come.

All with the understanding it may change completely as soon as its shortcomings are understood.

But if nothing is merged, there is no base which can be argued in a wider audience.

[2021-11-24 14:56] AdSchellevis commented on #5284
Not if the fundamentals are unclear, it's rather simple, someone should write it down (design) before starting to build anything, to prevent future issues impossible to fix further down the road.  We spend years refactoring a lot of madness and believe me, trouble starts with vague objectives.

[2021-11-24 15:36] fichtner commented on #5285
@pallebone are there VLANs involved?

[2021-11-24 15:46] pallebone commented on #5285
Hi @fichtner,

Thank you for your reply.

Yes although opnsense is not aware of a vlan, I do set a vlan tag on the port that opnsense plugs into on my switch. The switch does have jumbo frame support (unsure if this is relevant information). I did as a test in the past try setting the mtu on the parent interface and the pppoe connection to 1512 instead of 1508 but it still resulted in an mtu of 14

[2021-11-24 16:37] JulienFloris commented on #4254
Any update on this feature request, or is this wrong place to ask?

[2021-11-24 16:40] AdSchellevis commented on #4254
it's labelled "help wanted" and closed due to inactivity, I don't expect this to gain traction soon unless someone is willing to spend enough time on it (in which case we can reopen and assign the ticket)

[2021-11-24 18:45] somova commented on #5367
I'm surprised that people should be able to make a statement in less than one day whether and how they can test any patches. I can try to test the patch on the weekend, but cannot ensure to simulate a link loss by pulling the cable. On weekdays testing this patch is to risky because availability of the internet connection is of highest priority for the business. So, please let people enough time a

[2021-11-24 20:16] fichtner commented on #5367
Sure, everybody on their own time. What I don't like is the hit-and-miss strategy deployed here coupled with a lack of regard for precedent, code history and a general lack of evidence that things don't work a certain way when they appear to be working for the bulk of users regardless.

The comment https://github.com/opnsense/core/issues/5367#issuecomment-975827008 went without feedback so I don't

[2021-11-24 20:37] glasid commented on #5367
I have some issues applying the patch.

[code]

I am currently running OPNsense 21.7.5-amd64. Could this be a deal breaker?

[2021-11-24 21:51] fichtner opened #5371 "system: syslog-ng reload after package upgrade causes segfault loop"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When a package upd

[2021-11-24 21:57] fichtner commented on #5367
@glasid ok, here's a backport on top of 21.7.5 that should apply: 66cc6d0b1

Cheers,
Franco

[2021-11-25 09:04] bimbar commented on #5284
Well, there's enough ideas, someone ultimately has to decide what to actually do.

[2021-11-25 15:13] ashold7 opened #5372 "DS-Lite Support"
Hello,
I would really like to use OPNsense. However my ISP uses DS-Lite (very common in Germany). I would be really happy if someone manages to implement this.

Thank you in advance

[2021-11-25 16:21] thatso opened #5373 "funny typo in 21.7.6 release notes"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The release notes

[2021-11-25 19:41] paulofragoso commented on #5362
I'll correct this ticket

[2021-11-25 19:41] #5362 closed

[2021-11-25 20:51] glasid commented on #5367
Patch looks good.

rc.newwanip now successfully kills all old states as $cacheip_file is retained in the filesystem.

[2021-11-26 08:05] #5021 closed

[2021-11-26 09:29] fichtner commented on #5367
@glasid thanks, very helpful. Can you try a8522b7243 on top of the other one? it should patch without a backport now that the lines are the same. I just want to bring the code in line with the other part of the system that seems to work ok

[2021-11-26 10:29] stumbaumr opened #5374 "dnsmasq: Checkbox to ignore entries in /etc/hosts"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I use a remote BIN

[2021-11-26 11:22] fichtner commented on #5367
@glasid nevermind about that second test request. we reverted that one.

[2021-11-26 16:05] #5022 closed

[2021-11-27 06:05] #5024 closed

[2021-11-27 11:17] somova commented on #5367
The patch `66cc6d0` applied without any problems and looks good. If have tested the patch with "Dynamic state reset" function disabled. In case the IPv4 address changes after pppoe reconnect, all related states in the state table get killed. If the IPv4 address does not change, all related states will remain in the state table. So, the patch works as intended :-).

But there is still a minor issue

[2021-11-27 14:15] lotzofwork opened #5375 "OpenVPN - Client Specific Overrides - Virtual network routes are not applied"
**_Before you add a new report, we ask you kindly to acknowledge the following:_**

- [x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue_

**Describe the bug**

_A clear and concise description

[2021-11-27 15:12] AdSchellevis commented on #5375
most likely same as https://github.com/opnsense/core/issues/5296, in which case the solution can be found in the ticket.

[2021-11-27 15:39] lotzofwork commented on #5375
Hello Schellevis,

thank you for your fast reply.
I´ve searched trough all cases, before I´ve created this ticket.

In Ticket #5296 the solutions says:

=> Activate "Force CSO Login Matching"

I want to refer to the settings section for the vpn server in my ticket, where I mentioned that this option is set to true.
The ip settings are also correctly set at client side. I did a packet capture and I

[2021-11-27 16:30] lotzofwork commented on #5375
To make things more clear I have added a draw of the vpn traffic flow:

green: packet is sent, path is correct
red: packet is coming back, path turns wrong
purple: path that I would expect to happen

No NAT in between. IP adresses in the packet are correct set.

![draw](https://user-images.githubusercontent.com/7348786/143689203-786539e5-19f5-415f-94c1-0534677fe0cf.png)

[2021-11-27 17:21] AdSchellevis commented on #5375
Just dropping some notes here, but the most important part in the other ticket actually is (https://github.com/opnsense/core/issues/5296#issuecomment-948329595)

If you're using client specific overrides, knowing the are being generated and used is the most important part in my humble opinion.

[2021-11-28 00:05] #5026 closed

[2021-11-28 00:50] metronidazole commented on #5329
Wouldn't that break some configurations? I have two VPNs setup (site to site, and another for WAN purposes) and I think that would cause issues.

[2021-11-28 03:16] noseshimself opened #5376 "(urgent) You changed the (VPN) config parser and all hell is breaking loose"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

(see issue #5375

[2021-11-28 03:23] Greelan commented on #5329
Not sure why it would. Your two VPNs would be using separate wgX devices and therefore a rule for one should not affect the other?

[2021-11-28 17:23] autoantwort opened #5379 "Captive portal get mac address"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-11-29 08:26] #5368 closed

[2021-11-29 08:26] clebig opened #5381 "Changes in Firewall->NAT->Outbound are not taken into account when "Apply"ing"
Dear all,

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Since the last update (OPNsense 21.7.5-amd64), I'm seeing an abnormal behavior of the Outbound NAT page.

Whe

[2021-11-29 08:35] AdSchellevis commented on #5381
can you check what's in `/tmp/rules.debug` ? and preform a manual reload `pfctl -f /tmp/rules.debug` to check if there where issues (they should also be represented in the top right area of the screen).

[2021-11-29 09:37] clebig commented on #5381
In fact, /tmp/rules.debug is not updated when I add rules in Port Forward. I did 2 changes this morning for testing purposes, and the file has not been modified.
`root@opnsense-master:/tmp # ls -lA rules.debug
-rw-r--r--  1 root  wheel  47494 Nov 25 18:56 rules.debug
`

[2021-11-29 09:59] AdSchellevis commented on #5381
The filter.lock indicates that changes haven't been applied yet, you are seeing this button at the top of your screen? (while on the port forward page)
![image](https://user-images.githubusercontent.com/9783985/143846888-8f21c14d-ec2a-43e6-92c6-fff3fa936b0f.png)

(and what happens when you click on it)

[2021-11-29 13:29] clebig commented on #5381
I can confirm changes haven't been applied...
But the point is that this button is not visible.
![Screenshot_20211129_142649](https://user-images.githubusercontent.com/17143757/143876380-ec3565be-664b-4eab-a0fb-2dfc09eea2da.png)

It is present just after I make some changes in the nat/filter rules, I click on it, it disappears but the lock file remains.

![Screenshot_20211129_142926](https://user-

[2021-11-29 13:32] f45tb00t commented on #5246
Hello,

with the recent update it logs again. I close this one.

[2021-11-29 13:32] #5246 closed

[2021-11-29 13:33] AdSchellevis commented on #5381
sounds like your browser (or any of its plugins) is playing tricks

https://github.com/opnsense/core/blob/43b7f1eb7ff59d7643cf1fef19b2afe87ef58df1/src/www/firewall_rules.php#L580-L592

can you try another browser?

[2021-11-29 13:38] f45tb00t opened #5382 "Suricata: error installing ids rules ("
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

A clear and concis

[2021-11-29 13:48] clebig commented on #5381
I'm running Brave but I've just tried with Chromium and it's the same. I have no error message, nothing and the button disappears immediately after I click it.

Screenshot with chromium, no extension.
![Screenshot_20211129_144429](https://user-images.githubusercontent.com/17143757/143879165-416252c9-4843-4b48-aa0f-6dbb07470e55.png)

[2021-11-29 13:50] AdSchellevis commented on #5381
huh? you can't click it if it's not there. I would expect the settings are applied now to be honest, at least the screenshot seems to state it just applied them.

[2021-11-29 13:55] f45tb00t commented on #5382
Note: The interesting part is, I've checked the file status while creation
38596 8389 -rw-r-----  1 root  wheel    30M Nov 29 14:53 rules.sqlite
When it reaches the 30M the error pops up.

Could it be, that the timeout is set too low somehow? Like the error is shown when applying the policy takes too long?

[2021-11-29 13:58] clebig commented on #5381
I can tell you it's not. The button is present just after I make a change and I save it. Then I click on it. But it doesn't trigger anything else except this message.
pf rules are not actually loaded, and the lock remains.

One way to get the rules taken into account is to disable/re-enable the wireguard service via the UI. (VPN->Wireguard).

Once I do that, I can see that the newly add rule is ac

[2021-11-29 14:01] marjohn56 commented on #4923
@AdSchellevis - Just came across something unexpected. If I specified the WAN as the interface then it pulls two addresses, a /128 and a /64, these are the addresses assigned ( in my case by my primary Opnsense router ) by SLAAC and dhdpdv6. Easiest way out of this, as I doubt anyone would use the WAN interface as the address source ( but you never know ), is to just pop a break statement into int

[2021-11-29 14:05] clebig commented on #5381
I confirm that if I disable and re-enable an openvpn client via the UI, it updates the rules.debug, rules.debug.old and filter.lock with new timestamp and that the rules are visible in pfctl -s rules.

However, doing it with an IPSec phase 1 or 2 doesn't trigger anything on the filter side, so filter changes are still not effective after enable/disable.

[2021-11-29 14:10] clebig commented on #5381
Ok, thank you Ad.

We are on the good machine, the other one is off.

And you spotted it well in the code, /var/run/booting exists... I will remove it.

I will look at the backend logs.

[2021-11-29 14:12] AdSchellevis commented on #5381
maybe a plugin blocked the booting? it might be a good idea to attach a console to the machine and check where it stalls on a clean boot

[2021-11-29 14:18] clebig commented on #5381
I will. Thank you again.

[2021-11-29 14:18] AdSchellevis commented on #4923
@marjohn56 I'm not sure to be honest, if there are more addresses in different nets on the selected interfaces it might get a bit obscure, the "right" address isn't necessarily the first (hence some magic in core to try to find it in core).

[2021-11-29 14:33] marjohn56 commented on #4923
It's already looks for the GUA address, the break only happens if it's found one, so that's OK. Probably a bit of an oddball as I doubt very much that there are many ISPs that would give out a /128 and /64 on the same interface; We could offer a drop down list of the addresses if the WAN is selected, but that becomes a bit chicken and egg. Generally from my experience the ISP either does not give

[2021-11-29 14:40] kulikov-a commented on #5382
hi
any errors if you run `/usr/local/opnsense/scripts/suricata/installRules.py` manually?

[2021-11-29 14:47] marjohn56 commented on #4923
Here's a possible solution, tracking interfaces only?

[2021-11-29 15:20] f45tb00t commented on #5382
Hello @kulikov-a,

no errors at all shown via cli when executing the script manually.

[2021-11-29 16:16] AdSchellevis commented on #4923
you mean in the alias selection? could work, not sure if it's needed yet

[2021-11-29 19:33] pallebone commented on #5095
I found the answer to this problem by stumbling accross it when looking at something else.

The guides on opnsense site tell you to tick the box "Prevent interface removal". When this is ticked then setting an mtu on an interface (not just WG, any interface" seems to be ignored. If you uncheck this then change mtu it allows changing.

Unsure why preventing interface removal checkbox is actually su

[2021-11-29 19:33] #5095 closed

[2021-11-30 11:32] kulikov-a commented on #5382
@f45tb00t
sorry for the delay.
yes, the `configdRun()` function contains timouts control (2 min by default). but I had to reduce it to 1 minute for a configuration with snort rules enabled and a 54MB cahe db in order to reproduce your error. and this is on a VM with one Xeon(R) CPU E5-2620 core configured and 4GB of RAM (and with unbound with all blacklists allowed).
so imho the reason is somethin

[2021-11-30 11:49] f45tb00t commented on #5382
Hello,

just let me know what I can provide as logs to track down the issue when you have time. Regardless to the error, it seems the policy is applied. But from where the error comes, I have absolutely no clue.

[2021-11-30 12:55] kulikov-a commented on #5382
i think installRules.py worked anyway (although the `configdRun()` function returned null because of timeout)

if I understood the code correctly, an empty "error: error installing ids rules **()**" error may appear if the call to the `configdRun("ids install rules")` function did not return 'OK'. which in its turn can happen due to a timeout, an execution error, or the impossibility of connecting

[2021-11-30 15:45] b2ag commented on #5115
I also encountered the loopback traffic blocked problem on three opnsense installments. I had updated all of those from some 2019 version to latest 2021 and I think the problem started around the first of the 2021 versions.

[2021-11-30 17:08] lotzofwork commented on #5375
Here´s a full OpenVPN-Log with replaced personal data.
CSO part begins at line 3304 user you should focus on is prename1.lastname.

[openvpn_cleared.log](https://github.com/opnsense/core/files/7627415/openvpn_cleared.log)

For me there is nothing special to see. Everything looks correct.

@noseshimself

I think this is the cause of the error. You probably have the same problem.

[2021-11-30 17:24] zoomequipd opened #5384 "Suricata - SC_ERR_UNKNOWN_VALUE"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

After the update to 21.7.5, which includ

[2021-11-30 17:30] #5384 closed

[2021-11-30 17:32] AdSchellevis commented on #5384
@zoomequipd looks like a reasonable explanation indeed, https://github.com/opnsense/core/commit/9f3b6e873ac14790246f9b83bc54d8852eaeccbe should update our  `classification.config` to the latest version.

Apply using the following command (reload suricata to flush the template)
[code]

[2021-11-30 17:35] rgonzale6 commented on #5384
Thanks @AdSchellevis !  We should probably setup a regular cadence as ET moves into supporting subsequent versions of suri.

[2021-11-30 17:38] AdSchellevis commented on #5384
@rgonzale6 definitely!

[2021-11-30 17:48] lotzofwork commented on #5375
The /32 CIDR should just indicate that its a single IP instead of a whole network. On some devices you need to specify it that way. Just forgot to add the /32 to the Default Gateway and OPNsense IP in the drawing. Another fail of my side is that the random host in reality is behind the default gateway which holds the static backroutes to the opnsense for the vpn. But traffic flow is fine till pack

[2021-11-30 18:08] lotzofwork commented on #5375
ZIP-File in the attachment contains a packet capture from WAN and OVPN interface.

I´ve started a Domain Lookup from my mobilephone which is connected from vpn with CSO active.
Lookup is against Google Public DNS-Server 8.8.8.8 searching for DNS-Records of www.google.de.

The capture clearly shows answer packets arrive at WAN interface, but they are not forwarded/routed to the ovpn interface from

[2021-11-30 19:04] fichtner commented on #5115
@b2ag What's the use case and what's the block causing to fail? This is a bit difficult to extrapolate.

[2021-11-30 19:08] AdSchellevis commented on #5375
reading the original issue again, I'm not sure if the assumption that a route should be created is correct. The tunnel network itself is point to point, so it will only accept traffic originating from `172.20.22.1` to the other end (easy to test using ping from the machine and bind to the openvpn interface).

You could try to add 172.20.22.0/24 as remote network as well, manually register routes u

[2021-11-30 19:23] b2ag commented on #5115
I have one Opnsense installation on bare metal which I updated recently and had trouble to access the web interface only to find out my method of "ssh -L10443:127.0.0.1 opnsense-box" failed because all the loopback traffic was dropped after one of the upgrade. I continued updating via ssh console and hoped for the error to go away. But it didn't.

To "fix" the problem it's enough to add any random

[2021-11-30 21:36] lotzofwork commented on #5375
The openvpn interface is not selectible from the list at the diagnosis tools:
![grafik](https://user-images.githubusercontent.com/7348786/144130394-03d4fae7-dce6-4bc4-a427-ac18b7df8dd0.png)

If the vpn tunnel would only accept source traffic from 172.20.22.1 (VPN Gateway), opnsense should do a NAT.
But instead (as seen in the packet capture) the real vpn-client-address 172.20.22.2 is used.

Or did

[2021-11-30 21:42] lotzofwork commented on #5375
Just tried that. It dosn´t work. Same problem still exists.

[2021-12-01 07:47] AdSchellevis commented on #5375
You can assign the interface in Interfaces->Assignments, after which you should also be able to ping from it by the way

[2021-12-01 09:17] fichtner commented on #2457
The revert decision in question is about lax handling of :0 in IPv6. We did add a patch eventually via https://github.com/opnsense/changelog/blob/da9944d43c1fe4466cab2e624727b1ad5f256ca9/community/20.7/20.7.2#L43 but since there are possibilities for primary address to be link-local only on an IPv6 WAN the use of :0 will silently fail.

The best way is likely to add another shortcut that supports

[2021-12-01 10:18] lotzofwork commented on #5375
![grafik](https://user-images.githubusercontent.com/7348786/144212073-08b4f01c-233d-4d2c-b297-c083ac1a7b2f.png)

Yes. I´ve already assigned it. But I also needed to enable the interface itself. Last time i did this, it messed up with non accessible network devices. This time it´s the same.

![grafik](https://user-images.githubusercontent.com/7348786/144215898-daaa4449-97d0-4729-94f2-3c1d16187e91.p

[2021-12-01 10:25] lotzofwork commented on #5375
Same thing happens, if I directly try to ping my smartphone from VPN-Interface itself:

![grafik](https://user-images.githubusercontent.com/7348786/144217385-b63ea278-ff6e-45d2-8910-e8d0b6282476.png)

PING-Requests for my phone (in this case 172.20.20.10) go to the MAC-Adress of my default gateway.

[2021-12-01 11:55] ivwang commented on #5284
Is it possible to first develop Martin's implementation into a plugin, as a means to discover what is lacking (if any)?

For my use-case, it's primarily to deploy opnsense and IPv6 reliably with upstream ISPs changing IPv6 PD assignment frequently, in that Insulating LAN side address ranges from those ISPs by NPT and ULA.

So Martin's implementation that
1. enables dhcp6d/radvd to advertise ULA
2.

[2021-12-01 12:12] AdSchellevis commented on #5284
I assume you mean the work me and Martin did which is waiting in https://github.com/opnsense/core/tree/FR_4923, but no, you can't easily move that to a plugin as you don't have anything to plug it into. (yes, you can develop a plugin offering this functionality, but I don't expect anyone would like to spend the amount of time needed to convert this to a stand-alone feature).

As soon as the concer

[2021-12-01 14:08] marjohn56 commented on #5284
@AdSchellevis - No, he means the ability to select an address range to use within dhcpdv6. At present you can only create one range within dhcpdv6 / radvd, thus is you use tracking you can overide and make your own range but if you have a ULA alias on that inferface you cannot use that, as the existing code picks the GUA. What it would need is the ability to force the range entered so that the san

[2021-12-01 14:22] AdSchellevis commented on #5284
@marjohn56 ok, clear, sounds like a no as well when it comes to building a plugin.

[2021-12-01 14:47] marjohn56 commented on #5284
Yes agreed, but I'm working on a simpler solution... Really, it's just a case of being able to override the auto prefix addition that happens when using override on the tracked interface. So that's the path I am taking, I'm playing with it later this afternoon as it happens.

[2021-12-01 15:05] #5032 closed

[2021-12-01 16:20] mailinglists35 opened #5386 "Add drivers for pci Realtek NIC (chip=0x816810ec) and Broadcom WiFi (chip=0x435314e4)"
**Important notices**

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a problem? Please describe.**

I don't see interfaces Realtek NIC (`chip=0x816810

[2021-12-01 16:20] mailinglists35 commented on #5386
[dmesg.freebsd.txt](https://github.com/opnsense/core/files/7635520/dmesg.freebsd.txt)
[dmesg.opnsense.txt](https://github.com/opnsense/core/files/7635521/dmesg.opnsense.txt)
[pciconf.freebsd.txt](https://github.com/opnsense/core/files/7635522/pciconf.freebsd.txt)
[pciconf.opnsense.txt](https://github.com/opnsense/core/files/7635523/pciconf.opnsense.txt)

[2021-12-01 16:24] mailinglists35 commented on #5386
This is a KVM guest in Ubuntu.
config:

[code]

[2021-12-02 08:37] ElXk6 opened #5387 "MutiWAN and Reset States"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

Similar issues or feature requests:
#397

[2021-12-02 09:37] iMiMx commented on #5026
@dlasher Did you fix this?

I *think* disabling shared forwarding resolved it for me - I could sort of get it to work with it on, by using interface 1 and interface 2 with the appropriate direction, but any subnet matching failed - and there were problems with the upload shaping - disabling Shared Forwarding, I think has resolved it for me with VLANs.

I still do need to try re-enabling and then r

[2021-12-02 13:34] OleSta opened #5388 "OpenVPN input validation error"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

**Describe the bug**
When creating OpenVPN clie

[2021-12-02 13:35] AdSchellevis commented on #5388
duplicate https://github.com/opnsense/core/issues/5249 remove spaces and you're ready to go.

[2021-12-02 13:35] #5388 closed

[2021-12-02 14:29] marjohn56 commented on #5284
OK, this is starting to look possible. I'm going to show some snapshots  of how I have it looking. It all works but I'll try and explain it too, I think @fichtner would probably want to tidy it up, but the principle seems to work fine. Firstly, this is purely for tracking interfaces, there is no point in this for any other type. So let me explain what needs to happen first. You need to assign a VI

[2021-12-02 15:47] asche77 opened #5396 "firmware: wrong permission on /etc/ssl/cert.pem after 'configctl firmware configure'"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Since the update t

[2021-12-02 20:24] #4923 closed

[2021-12-02 20:30] AdSchellevis commented on #4923
@marjohn56 https://github.com/opnsense/core/commit/ce656d076bdebb2d53688f877472b1c0e915c5db should implement what we discussed in https://github.com/opnsense/docs/pull/330

[2021-12-03 07:08] marjohn56 commented on #4923
I think it's sensible to implement this for the host alias. Though I was having a think last night and it occurred to me you could also use this same alias in NPTv6. This is where I used the tracked LAN address as one side of the NPT #5284, but it's still a /128 so yes.

[2021-12-04 20:53] NOYB opened #5390 "Better DHCP Client Identifier (option 61) Support"
DHCP Client Option 61 (dhcp-client-identifier)

The default, when the interface "Hostname" is not specified, sends the MAC address as the client ID.  This can be troublesome when replacing a router.

Some ISP DHCP implementations require the same client ID unless the lease has been released or expired.  But some routers don't send a client ID or send something other than the MAC.  So simply spoofi

[2021-12-04 22:09] KuddelSK opened #5391 "Hardware Offload still active in case of PPPoE on top of a VLAN interface"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

* [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
* [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I have disabled al

[2021-12-05 08:05] #5038 closed

[2021-12-05 15:50] Thibaut833 opened #5392 "API unbound dns override"
Hi,

i come here to know if there is a solution about the opnsense's api on unbound dns services, particularly to post override host to the firewall.

Is there a functionnality to post an override host in unbound dns service via api rest ?

Is there an alternative ? Via config xml with a reboot to push the modifications ?

Best regards,
Thibaut.

[2021-12-05 19:51] Alwaysin commented on #5038
@OPNsense-bot Not fair.

[2021-12-06 12:25] fichtner commented on #5391
Hi,

From the looks of this we don't chase the root hardware interface and this hasn't been changed in a recent refactor regarding hardware interface derivation. The easies way to do this reliably is to assign the igb3 interface as an OPTx and enable it. That will properly scrub the hardware settings.

Cheers,
Franco

[2021-12-06 15:56] KuddelSK commented on #5391
Thank you for the hint. I should have thought of it myself. It works. My wireguard problem is still present but at least i could check that it has nothing to do with the hardware offload on that interface.

[2021-12-06 16:05] TheHellSite commented on #5127
I am still facing issues with the GeoIP tables.

`Error loading alias [ALL_geoips]: Invalid argument. {current_size: 459310, new_size: 805683}`
Table size:  81% (807082/1000000)

I basically selected all countries from the list, except for my home country and the United States.
As soon as I add the US and click Apply, I get the error above. It also seems that the alias is not updated even though t

[2021-12-06 16:48] kulikov-a commented on #5127
@TheHellSite
imho everything works as it should. to update the `[ALL_geoips]` table, `pfctl` may need space of 459310 + 805683. which exceeds the limit of 1mil. Thus, you can either increase the limit or create a separate table. you chose the second option and it works.
although imho now the overall number of records is too close to the overall limit.
at some point, the number of records in some t

[2021-12-06 17:06] TheHellSite commented on #5127
I think, you are misinterpreting the error. "new_size" is not the size that gets added to the list, it is the size of the whole alias after hitting apply.

**ALL_geoips --> disabled, with all countries selected**
- Overall: 0% (1407/1000000)
- ALL_geoips = 0

**ALL_geoips --> enabled, with all countries selected**
- Overall:  81% (807082/1000000)
- Alias: 0
- `Error loading alias [ALL_geoips]: Inv

[2021-12-06 17:30] kulikov-a commented on #5127
yes. but )
records not just flushed and added by pfctl in script. it "replaced". so it need space for "old" (current_size)  records and "whole new table" (new_size) for processing. (https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=235754#c1)

yes. to simplify: the limit should be at least twice the size of the largest table being updated

[2021-12-06 17:33] TheHellSite commented on #5127
I figured that. But why is it still giving me the error when I
1. disabling the alias and hitting apply so the tables get flushed
2. enable the alias with us selected and apply?

This way there should be enough space for the whole 800k table given the space of 1m.

[2021-12-06 18:01] kulikov-a commented on #5127
ah, sorry. here I probably made a mistake (already forgot a little. https://github.com/opnsense/core/issues/4669#issuecomment-773406145). `-Treplace` may require twice the number of imported table lines, regardless of whether the table was flushed before.

[2021-12-06 22:11] TheHellSite commented on #5127
So my best bet is still to increase the overall table size?

[2021-12-07 05:38] kulikov-a commented on #5127
yes, i think so

[2021-12-07 07:20] phedders commented on #4049
I think there is an easy solution to this problem

`error:` **local-data in redirect zone must reside** at top of zone, not at dhcpclient1.mydomain IN A 10.1.1.4

This suggests to me that we only need to be able to indicate that an override entry must be at the end of the zone file - ***after*** all the other overrides and DHCP entries.

I'm not sure what the best way to do this in the interface i

[2021-12-07 08:31] KuddelSK opened #5393 "MTU of the Wireguard interface when WAN uses a PPPoE connection"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

* [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
* [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I connect to my IS

[2021-12-07 15:11] TheHellSite commented on #5127
I just created a tunable `net.pf.request_maxcount` with a value of `2000000`, applied it and rebooted the firewall.

Alias page is still showing a limit of 1.000.000 so does the shell.
[code]

[2021-12-07 15:22] kulikov-a commented on #5127
@TheHellSite  try to change Firewall Maximum Table Entries at Firewall: Settings: Advanced
no reboot required
(sysctl will be set equal to this `table-entries` value)

[2021-12-08 01:50] jwoodard80 opened #5394 "firmware: status endpoint status error is not appropriate anymore"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

Someone wanting just a overview of the p

[2021-12-08 06:45] fichtner commented on #5394
Hi @jwoodard80,

The "status" endpoint should be what you are looking for. Yes, it crunches the product_check information, but only based on a previously issued check state it it doesn't waste any time checking for the update. That's the case since 21.1.3.

Cheers,
Franco

[2021-12-08 13:33] #5396 closed

[2021-12-08 13:35] fichtner commented on #5396
@asche77 thanks for the report. I fixed the inconsistency and the file shouldn't change permission away from 644 indeed.

Cheers,
Franco

[2021-12-08 22:03] zbig-t opened #5397 "os-nut plugin configuration page for SNMP-Driver needs improvement"
When you install NUT plugin and try to use it to connect to your SNMP-capable UPS, you may find the configuration sub-page for SNMP-Driver non-user-friendly and unhelpful. It is unclear how to establish the network connection to your UPS as there is no text field provided for entering its network address nor there are any hints as of how to make it work. It's only after you dig through original NU

[2021-12-09 05:53] jwoodard80 commented on #5394
Thank you for replying back with this information!

I did try that endpoint, however, I get the below message. I just assumed it was because I am on the current version and there is no update. I am happy to provide any information I can to resolve this.

{
  "status_msg": "Firmware status check was aborted internally. Please try again.",
  "status": "error"
}

My end goal is to try and make a comp

[2021-12-09 06:36] mimugmail commented on #5397
Maybe you can adjust the help text with a quick and practical examples?

https://github.com/opnsense/plugins/blob/master/sysutils/nut/src/opnsense/mvc/app/controllers/OPNsense/Nut/forms/settings.xml#L216

[2021-12-09 08:53] fichtner commented on #5394
602d5c5 should do the trick and returns product info under 'product' key. It might not apply to 21.7 as of yet since we have other changes queued up there.

Cheers,
Franco

[2021-12-09 08:53] #5394 closed

[2021-12-09 11:37] vogelfreiheit opened #5398 "OpenVPN clients unable to connect to localhost/local interface SOCKS proxy (ex. Shadowsocks)"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Configuring a cl

[2021-12-09 11:40] fichtner commented on #5398
@vogelfreiheit you may want to look at the firewall log first if your traffic isn't blocked there meaning it requires a rule to support it.

[2021-12-09 12:08] vogelfreiheit commented on #5398
Negative, also this should fall under the "allow traffic originating from the firewall" configuration. There is nothing blocked per se, I checked before submitting the report. Feel free to suggest other possible places to verify.

[2021-12-09 12:12] fichtner commented on #5398
I don't have any further ideas for this, sorry. Hopefully someone else wants to chime in.

Cheers,
Franco

[2021-12-09 12:55] vogelfreiheit commented on #5398
Did a quick test with ss-local configured to listen at localhost:8989:

[code]

Instead of a time out, it fails with `Can't assign requested address`.

[2021-12-09 13:35] gongoscho commented on #4145
Is there already a feature request for this?

Will only allow the company cell phone to connect to port 443 * .eu.blackberry.net via TCP and nothing more.

Unfortunately I have to enter the server IPs manually.

[2021-12-09 15:00] jwoodard80 commented on #5394
This is great!  Thank you so much for this! cannot wait to give this a go. :-)

[2021-12-09 15:12] vogelfreiheit commented on #5398
I have tested both. UI setting and socks-proxy in the custom directives.

[2021-12-09 16:01] mimugmail commented on #4145
This only works for proxy as the firewall cant guess any FQDN

[2021-12-09 16:51] camilomeza80 opened #5399 "Problema Con daemon OpenVPN Pfsense"
Buenas comunidad, tengo un problema con el servicio de OpenVpn de Pfsense, puesto que el servicio simplemente se cae solo, al momento de intentar conectarse con un cliente o en ocasiones se cae solo.
Envió los logs
Log del servidor
![image](https://user-images.githubusercontent.com/95874012/145438890-c4585e64-8385-4a4a-814b-78995dd28f0c.png)

Log Clientes
![photo5015048804495370641](https://user-i

[2021-12-09 16:57] gongoscho commented on #4145
That is not right 🙃 Take a look at the [documentation](https://docs.opnsense.org/manual/aliases.html#hosts) 🤓

I created an alias: BlackBerry_Servers, and added the addresses:
- c17-217.eu.blackberry.net
- c17-218.eu.blackberry.net
- c17-219.eu.blackberry.net
- c19-240.blackberry.net

which are also resolved:
- 93.186.17.217
- 93.186.17.218
- 93.186.17.219
- 93.186.19.240

under: [Firewall: Diagno

[2021-12-09 18:32] mimugmail commented on #4145
But you cannot create one alias *.Blackberry.net which would resolve all possible FQDNs into one list ;)

[2021-12-09 18:53] AdSchellevis commented on #5038
@Alwaysin can you try https://github.com/opnsense/core/commit/03f7dbc43146460b98a85d8fdde8683d363963e9 ?

On OPNsense 21.7.6 the following should easily patch it:

[code]