[2016-06-09 12:18] fraenki commented on #1004
Maybe as a result of this a list of supported or "known to work" 4g devices can be added to the wiki.

[2016-06-09 12:21] AdSchellevis commented on #1004
yes, we should add something in the docs at some point, let me collect what I've tested here, so we don't forget:

Huawei ME909u-521
Huawei E220

[2016-06-10 07:56] AdSchellevis commented on #997
https://github.com/opnsense/core/commit/8de70201a70e07d0929ae1cb6fa8954dde482c5e adds configuration options for syslog, to manage the rotation and number of logs to keep. (default is once a week, which is not very practical when a lot of alerts are spawned)

[2016-06-10 07:58] fichtner commented on #361
Was for suricata,solved in 8de70201a70e07d0

[2016-06-10 07:58] #361 closed

[2016-06-10 12:30] fichtner opened #1006 "power menu entry ABOVE help"
Requested via IRC ;)

[2016-06-10 13:41] oparoz opened #1007 "apinger fails after a while"
After a while apinger silently fails and needs to be restarted. This has ben going on for a while and is still a problem on 16.1.6

[code]

[2016-06-10 13:44] fichtner commented on #1007
the command string is mangled during execution, likely related to earlier changes that were done in order to change apinger's original code a years ago. apinger repo is open, please report it over there instead...  https://github.com/opnsense/apinger

[2016-06-10 13:48] oparoz commented on #1007
OK, thanks.

[2016-06-10 13:48] #1007 closed

[2016-06-10 21:15] vectr0n opened #1008 "Interface Statistics Widget - No Auto Scroll"
Not sure if this is already a known issue or not, but it seems the interface statistics widget does not auto scroll as seen below:

[http://i.imgur.com/d3l7znB.png](url)

It also does not auto scroll when you shrink the browser window, the whole dashboard page scrolls instead of just the widget.

[2016-06-11 05:46] #986 closed

[2016-06-11 06:29] fichtner commented on #1004
whoopsie, closed the wrong issue

[2016-06-11 06:29] fichtner commented on #1006
05e5251772dd2d5f4d422b82ca0c791781a394ad

[2016-06-11 06:29] #1006 closed

[2016-06-11 06:31] fichtner opened #1009 "firmware: probe mirror status"
Now that we have a fancy settings page we should run a quick test to see that the mirror is available, either on save or preferably with an extra button... This stems from the current backend behaviour which does not offer a sensible feedback regarding this.

[2016-06-11 06:35] #1002 closed

[2016-06-11 06:38] fichtner commented on #1002
This takes a longer route to fix properly, so what I've done is always creating these interfaces unconditionally, which is kind of similar to what #980 was about, missing interfaces.

You can patch your 16.1.16 using:

     # opnsense-patch 44cd7ae d4d27c1

[2016-06-11 06:41] fichtner commented on #1000
This is the cache directory creation on boot, but the "bang for the buck" ration on this is very low: we'd have to read the XML configuration from a shell script.

Patches welcome, leaving this open.

[2016-06-11 06:50] fichtner commented on #1000
Actually, it looks like an artefact of our early days. Try this:

    # opnsense-patch bcb39d0

[2016-06-11 06:52] fichtner commented on #1001
I am guessing this will be fixed via #1002, please close if that's the case :)

[2016-06-11 10:46] fichtner commented on #1003
Hi Andreas,

Screenshot Nr.1: agreed, saw that with the dashboard too. Not very good and kind of addressed now. If there is too little space the elements "squash" together. There is nothing to be done other than removing this or that element for smaller screens in the long run. Lots of work, needs lots of help frankly...

Screenshot Nr.2: this can always happen, the ultimate price of a small scree

[2016-06-11 11:13] fichtner commented on #1003
Yes, so from what I can see bootstrap elements get width="100%", which does not properly inherit in tables from col-X-Y values. We mostly don't set them, but even when set it does not properly work.

[2016-06-11 14:27] oparoz commented on #1002
I applied the patch, but see no change. I suspect something needs to be restarted, but what?

[2016-06-11 14:28] oparoz commented on #1001
After I applie the patch, I get the same thing when doing a `service netflow restart`

[2016-06-11 14:33] L1ghtn1ng commented on #1001
Try doing a system reboot

[2016-06-11 14:58] oparoz commented on #1000
Unfortunately, that didn't fix the problem. Note that it's a new problem, I don't think this was present in 16.1.15

[2016-06-11 14:58] oparoz commented on #1001
Just did, nothing has changed

[2016-06-11 15:00] oparoz commented on #1002
That fixed the problem, thank you.

[2016-06-11 15:02] oparoz commented on #1001
I've just added to the OP that this is a new bug which appeared on 16.1.16.

[2016-06-12 11:28] fichtner commented on #1002
Yes, this needs a reboot as you can't reconfigure disabled devices at runtime, thanks for confirming. One down, two to go :)

[2016-06-12 11:29] fichtner commented on #1001
Not sure this is really new. This is a client running tun or tap?

[2016-06-12 11:30] fichtner commented on #1000
Unlikely a regression...

* What is your contents of /etc/rc.conf.d/squid now?
* How do you verify it doesn't work?

[2016-06-12 11:38] oparoz commented on #1001
I had no issue restarting netflow on 16.1.15. The clients are all running tun.

[2016-06-12 11:40] oparoz commented on #1000
That was easy...

[code]

But that's not coherent with the rest of the system since `Services: Diagnostics` doesn't list the proxy and it's not enabled.

[2016-06-12 11:42] fichtner commented on #1000
That seems completely wrong...

What happens to that file when you run:

    # configctl template reload OPNsense.Proxy

[2016-06-12 11:51] oparoz commented on #1000
`Execute error`

The system.log says:

[code]

[2016-06-12 11:53] fichtner commented on #1000
That means it won't ever generate a template, aha. This is something from the proxy model then.

I can also see that template reload on boot does not work for some reason or another. Will need to investigate further.

FWIW, I think the fix is ok, but something else is stuck, too.

[2016-06-12 11:57] oparoz commented on #1000
OK, found the problem with my particular setup.
Before turning it off, I was playing with the proxy interfaces and added one for an OpenVPN connection to see if I could have the proxy at a different point in the flow. That seems to create the error I posted above.

So this could easily be solved by blacklisting interfaces which cannot be used by the proxy.

[2016-06-13 06:03] fichtner commented on #997
The following will probably create problems with the default config.xml that doesn't have IDS?

https://github.com/opnsense/core/commit/8de70201a70e07d0929ae1cb6fa8954dde482c5e#diff-c3e3ad31baa27142eb0f05dd663e59d7R5

[2016-06-13 06:47] AdSchellevis commented on #997
I don't expect issues here, the outer if checks for the existence of the config section.

[2016-06-13 06:48] fichtner commented on #997
Ah, sorry, only looked at the diff. My bad :)

[2016-06-13 06:48] #997 closed

[2016-06-13 23:59] oparoz commented on #895
Did another test today using an IP alias

VLAN Gateway: 192.168.1.1
VLAN Client: 192.168.1.50
VLAN Proxy (squid on a virtual IP): 192.168.1.10

tcp_outgoing_address: 192.168.1.10

Looking at netstat, I could see the proxy connecting to websites

[code]

But unfortunately, it's still bypassing the firewall and using the default gateway.

[2016-06-14 01:50] FChapeau opened #1012 "Absent combobox for auth backend in openvpn"
I have been trying to setup an openvpn server using OPNSense. I setup LinOTP with FreeRadius to provide two-factor authentication for my server. I setup LinOTP through RADIUS in OPNSense and I am able to authenticate using the authentication tester.

But when I try to login through the VPN using my LinOTP token, I get access denied.

I read that I need to select my RADIUS backend, which makes sens

[2016-06-14 06:02] fichtner commented on #1012
Hi there,

A bug in 16.1.16 prevents the field from showing up. You can patch your installation by running this in the console / root shell:

    # opnsense-patch 6ffc213

Also see: https://forum.opnsense.org/index.php?topic=3191.0

Cheers,
Franco

[2016-06-14 12:19] FChapeau commented on #1012
I must be losing my Google magic touch. Thank you very much, it works.

[2016-06-14 12:19] #1012 closed

[2016-06-14 12:36] fichtner commented on #1012
no worries :)

[2016-06-14 19:02] Swoy opened #1013 "The script in core/src/opnsense/www/js/d3.min.js has stopped working (Firefox 47.0)"
Leaving a tab with Opnsense on dashboard with the following widgets:

System information
Gateways
Traffic Graphs
Service Status
Interfacelist
Thermal Sensors
Interface Statistics
System Log
Firewall Logs

causes script hang on d3.min.js after a random amount of time. If the user allows the script to continue, the memory is leaking up to several GB for that tab.

Please let me know what additional

[2016-06-15 05:32] fichtner commented on #945
This will ship in 16.1.17 today.

[2016-06-15 16:13] elohmeier opened #1014 "Support VLANs in new Traffic Graphs (Dashboard)"
The new Traffic Graphs Widget lacks VLAN support. Currently VLANs are displayed (in sum) in the name of the according physical interface.
It would be great to see each VLAN seperately.

[2016-06-15 19:31] fichtner commented on #933
125808e addresses the remaining problems described in this ticket. I'm not entirely sure that this will backported to 16.1 with 16.7 just around the corner, but it is worth mentioning. :)

[2016-06-15 19:33] fichtner commented on #1014
Is this a regression or a feature request? :)

[2016-06-15 19:36] fichtner commented on #1000
While I agree that further work needs to be done this isn't entirely related to Squid and the problem has been identified, so I consider this a success. :)

A lessing learned for handling templates and services and fallback behaviour. It needs a bit more internal discussion which sanity checks we can do and how we recover from templates being stuck. Thank you.

[2016-06-15 19:37] fichtner commented on #1003
I've reverted my table-layout style changes, this needs @AdSchellevis to save the day. ;)

[2016-06-16 06:59] elohmeier commented on #1014
I guess it's a feature request, as I'm not that sure about the old version.
The new UI is definitely great! Much faster load time.. :)

[2016-06-16 10:51] module0x90 commented on #945
Just saw this ... awesome, many thanks.

[2016-06-16 15:46] kalos opened #1015 "GUI "Firewall: Aliases" fail to add host with "_""
An error occur if I add an alias like:

Name: test
Type: Host(s)

Host(s):
- myhost1 (this is OK)
- my_host2 (error: doesn't appear to be a valid hostname or ip address)

If I change the myhost1 later that I create the alias "test", it's ok.

[2016-06-16 15:55] fichtner commented on #1015
Hi there,

Tested, then found this:

RFCs mandate that a hostname's labels may contain only the ASCII letters 'a' through 'z' (case-insensitive), the digits '0' through '9', and the hyphen. Hostname labels cannot begin or end with a hyphen. No other symbols, punctuation characters, or blank spaces are permitted.

Not sure what to do here as that would mean the validation is correct.

Cheers,
Franc

[2016-06-16 16:04] fichtner commented on #1015
Yup, hyphens work as expected.

[2016-06-16 16:10] kalos commented on #1015
![screenshot from 2016-06-16 18-06-21](https://cloud.githubusercontent.com/assets/3465/16124038/9113186c-33ed-11e6-9c89-09abd31fbb43.png)

[2016-06-16 16:15] fichtner commented on #1015
Now this is a pf.conf restriction of how aliases are inserted into the rule set:

Macros can be defined that will later be expanded in context. Macro names must start with a letter, and may contain letters, digits and underscores.

[2016-06-17 05:19] fichtner opened #1016 "interfaces/gateways: enabling an interface may not let apinger configure its target immediately"
[code]

This may be solved via apinger rework for dynamic targets...

[2016-06-17 05:45] fichtner commented on #1008
This is part of a larger issue described and discussed in #1003, embedding screenshot for future reference and deferring in favour of the other ticked. Thanks so far!

![d3l7znb](https://cloud.githubusercontent.com/assets/1915288/16141783/649f2600-345f-11e6-90ea-0744f1f883f7.png)

[2016-06-17 05:45] #1008 closed

[2016-06-17 06:00] fichtner commented on #1001
On OPNsense 16.7 this changes to the following because of a ngctl custom patch revert, but mostly the same:

    setup em0
    setup ovpnc1
    ngctl: send msg: No such file or directory
    ngctl: line 1: error in file
    setup em2

It also doesn't work for enc or gif types so far. It means that ng_netflow doesn't work on a lot of interface types and we should restrict this. FWIW, it's definitel

[2016-06-17 11:26] oparoz commented on #1001
After having checked the services, I think you're right.
netflow, flowd and flowd_aggregate are up, so despite the error message, things should be working (but Insight is not), so I'll open a separate issue for what's broken.

[2016-06-17 16:02] oparoz opened #1017 "Empty Insight graphs from 16.1.16"
netflow, flowd and flowd_aggregate services are up, but the Insight page has empty graphs with the message "No data available"

On the cache tab of the Netflow configuration page, stats clearly show that data is captured.

Looking at system.log, I can see requests made for the stats data and no errors.

flowd.log is several hundred MB big.

Analysing the log from the shell works.

[2016-06-17 16:11] oparoz commented on #1017
Just saw this in the logs, but I have no idea if it's directly related:

[code]

I don't know which disk image is malformed. The log is fine since info can be extracted. No idea about the state of the various sqlite databases.

[2016-06-17 16:26] fichtner commented on #1017
Is this for all the time ranges or just the first one(s)? The later ones were always fine for me whatever happened.

I think that #98 will address this, because as long as the netflow capture is still there the database can always be recreated.

Stop flowd_aggregate, clear /var/netflow/*, start flowd_aggregate, wait a bit...

(Make a backup of var/netflow if you can)

I'm on this, but haven't been

[2016-06-17 16:36] oparoz commented on #1017
Both graphs are empty. /var used to be in memory, so that might be what did corrupt the DB. I'm going to empty the stats, as suggested and let you know.

[2016-06-17 16:38] fichtner commented on #1017
Wait, there are 10 time ranges... the top ones may be faulty (selected by default), but the latter ones should be ok?

[2016-06-17 16:45] oparoz commented on #1017
Yep, I've just tested and the ranges from 7 days ago are OK, so historical data seem to be here. Anything after that is empty.

Since the top one is updated every 30s and more than that has passed, I'm guessing it's not related to a corrupted DB

[2016-06-17 16:47] fichtner commented on #1017
I suspect that's ecactly the problem, the update frequency improves the window of opportunity for bad backups, so the less frequently updated ones end up being fine. At some point all the data in the shortest period database are flushed out and it's ok to write again. But as I said, have been unable to get this to fail this week, for better or worse. ;)

[2016-06-17 16:49] oparoz commented on #1017
OK, I'll wait for the next update to see if there are any improvements :)

[2016-06-17 19:52] oparoz commented on #1017
There is definitely something wrong as flowd_aggregate is eating 90% of a CPU.

[2016-06-17 21:40] mschilt opened #1018 "Syslog Logging for Suricata/IDS"
The ability to forward IDS logs via syslog would be great.

Doc:
http://jasonish-suricata.readthedocs.io/en/latest/configuration/suricata-yaml.html?highlight=syslog#syslog

[2016-06-17 21:43] mschilt opened #1019 "Syslog Logging for Proxy"
Would be great to also have proxy access log forwarded to syslog so they can be sent to a central logging.

Docs:
http://www.squid-cache.org/Doc/config/access_log/
access_log syslog: facility.priority

[2016-06-17 21:57] mschilt commented on #4
Why not just mandatory ask for a password during installation?
For example Check Point is doing it that way.

Of cause should someone have a very volatile mind they are free to reinstall it from scratch.
Because its the initial installation there is nothing lost.

.. and maybe some basic complexity rules should be in place.

[2016-06-17 22:04] mschilt commented on #805
Could probably be implemented as widget for the dashboard

[2016-06-17 22:06] mschilt commented on #1009
+1 would also be great to get the latest version available from the server..
run into that issue: selected my closest mirror and was unable to update.. because the latest version never reachted that mirror.

[2016-06-17 22:09] mschilt commented on #412
oh.. have been looking for that.. would be great to have it in the docs somewhere (CLI reference .. )

[2016-06-17 22:12] mschilt commented on #343
btw.. fetching updates from CLI is an order of magnitude faster than fetching them in the GUI..

[2016-06-18 07:50] fichtner opened #1020 "qinq: php notice for a rainy day"
Notice: Undefined index: subnetbits6 in /usr/local/etc/inc/interfaces.lib.inc on line 314

[2016-06-18 12:50] andreas-p opened #1021 "certificate export wrong text"
Up to 16.1.17, when exporting a certificate the mouse over text for exporting a certificate is "export ca", which is wrong. It should be named "export crt" or so.

[2016-06-18 13:13] #1021 closed

[2016-06-18 13:14] fichtner commented on #1021
Fixed, thanks!

[2016-06-19 12:41] cvsyun013 opened #1022 "Boot boot good slow"
Intel(R) Celeron(R) CPU J1900 @ 1.99GHz (4 cores )  2GBMemory

Boot the upper left corner of a white line beat and start system needs 3 minutes, I would like to ask is my hardware and system startup ability

[2016-06-19 17:08] rmx-it opened #1023 "Generated dhcpd.conf lacks Dynamic DNS information"
Hi,
I'm using opnsense 16.1.17.
I have three LAN-Segments with two of them having dynamic DNS entries.

For the LAN segment the settings look like:
![image](https://cloud.githubusercontent.com/assets/11737548/16178697/ef41c320-364f-11e6-9151-69db1c59db45.png)

For the WLAN segment similarly:
![image](https://cloud.githubusercontent.com/assets/11737548/16178704/2eeedbfc-3650-11e6-84e6-5518eab592bf.

[2016-06-19 21:29] L1ghtn1ng opened #1024 "IPS not sending notifiacations"
I have setup email notifications, but when I enable the eicar test rule to generate a block alert I do not get an email. I have clicked the test smtp check to make sure I receive an email from the firewall and I do but not when an alert is generated.

[2016-06-20 05:13] fichtner commented on #804
Works for me...

[2016-06-20 05:13] #804 closed

[2016-06-20 06:18] fichtner commented on #1024
I don't think it works that way... Notifications are an old subsystem from having forked that needs to undergo a rework as it does not plug into a lot of facilities (only a handful of messages to be honest).

On IDS specifically, it would also cause a lot of spamming. The format of a daily report would be better here coupled with a system that does real time log processing (SIEM).

Can we close th

[2016-06-20 06:56] L1ghtn1ng commented on #1024
You can close it and a daily report would be nice

[2016-06-20 07:12] fichtner opened #1025 "intrusion detection: better reporting capabilities"
- Notification support (e.g. daily reports) #1024
- Alert widget #316

[2016-06-20 07:12] fichtner commented on #1024
Thanks, I'm consolidating ideas in ticket #1025

[2016-06-20 07:12] #1024 closed

[2016-06-20 07:13] fichtner commented on #316
Continued in #1025

[2016-06-20 07:13] #316 closed

[2016-06-20 08:57] AdSchellevis commented on #1023
@rmx-it can you test https://github.com/opnsense/core/commit/5fa09cd4d86052aaa8ff9840499c26721e7fa18c ? If this works, there seem to be quite some duplicate / non functional code which should be removed as well.

The "Dynamic DNS" settings from the server should contain the registration settings in that case, the static registration should only contain the dnsdomain then.

To test, use this on a c

[2016-06-20 09:32] datenimperator opened #1026 "Upgrade stalls"
Upgrading to 16.1.17 doesn't seem to finish any time now. It ran for ~15 minutes. The log reads:

[code]

The routing works uninterrupted as before. What should be done to resolve this?

[2016-06-20 09:35] fichtner commented on #1026
This is a known issue fixed on -devel, the frontend detaches and has no way of getting the progress page back. The backend, however, runs detached so it will likely have finished the upgrade successfully.

Does the version info in the dashboard look ok?

[2016-06-20 09:37] datenimperator commented on #1026
Yup. Version says 16.1.17 as it should and CPU load does not imply there's still heavy lifting going on.

[2016-06-20 09:39] fichtner commented on #1026
All fine then, sorry for the hiccup!

I am not entirely sure if the firmware changes will make it into 16.1.18, but looking at the reports we've been getting it's probably overdue. Will discuss this internally.

[2016-06-20 09:39] #1026 closed

[2016-06-20 10:08] rmx-it commented on #1023
Hi,
still the key info is missing:
For the LAN segment (after the patch):
[code]
and below the file:
[code]

Greetings
---
Mike

[2016-06-20 10:11] fichtner commented on #1023
@rmx-it I'm working on this, will have something to test tonight

One thing I saw in the code was that reusing the same name/key may be a problem, but that's for after the next fix to try/clean up

[2016-06-20 15:34] fichtner commented on #1022
We'll need:

* Last know version where this worked as expected
* Current version where this doesn't work as expected
* Installed image type
* A screenshot to know which boot loader stage you are referring to

[2016-06-20 15:35] #1015 closed

[2016-06-20 17:04] fichtner opened #1027 "dhcp and dhcpv6 have different pids..."

[2016-06-20 17:10] fichtner commented on #1023
How's this?

    # opnsense-patch ae6b495

[2016-06-20 18:38] rmx-it commented on #1023
Hi,
looks better.
The key get exported, the zone information too.

The remaining problem:
If I use the same key for multiple interfaces, the same key gets exported multiple times...

Workaround: Use different keys for each segment.
Solution: Parse for duplicates on export or make the keys a select-option table.

Thanks anyway for your fast efforts!

cu
...
Mike

[2016-06-20 19:41] module0x90 opened #1028 "Renaming firewall alias doesn't rename it where it is used"
Hi,

I am using quite heavily firewall aliases for hosts and als groups. I have the proxy enabled and then a group which devices have to go through the proxy. This "enforce_proxy" group consists of other groups.

So I have enforce_proxy -> group1, group2
group1 -> 1.1.1.1, 2.2.2.2
group2 -> 3.3.3.3, 4.4.4.4

for example.

When configuring the alias enforce_proxy and I key in just a "g", then it di

[2016-06-21 05:35] fichtner commented on #1023
Ok, exactly what I expected. It can be fixed, although the model is a bit weak in that regard. The last or first key entered for the same domain will have to "win" so a typo may be disruptive. Don't want to change the way the GUI or data model works at this point almost having reached 16.7 RC. Patch follows in a bit...

Thanks for testing so far :)

[2016-06-21 06:20] #1023 closed

[2016-06-21 06:20] #1027 closed

[2016-06-21 06:21] fichtner commented on #1023
Hey Mike,

Here you go!

    # opnsense-patch 4dde1f0

Cheers,
Franco

[2016-06-21 06:38] fichtner commented on #1028
Hi Thomas,

Recursive aliases may very well have this bug, it should rename it where it is used or lock its name if it's being used. Will double check how firewall rules using aliases handle this and likely adapt accordingly.

Cheers,
Franco

[2016-06-21 06:48] fichtner commented on #1028
Yes, renaming an alias used in a rule renames that alias over there too, so the same must be done for recursive aliases and their usage in rules :)

[2016-06-21 06:58] fichtner opened #1029 "rc.filter_configure_sync causes empty config flush while plugging "enc0" internally"
Hi Ad,

I'm leaving this for you to look at. "enc0" is plugged, but not written to the config. However, $changed_interfaces is still set so the config is flushed creating a spurious revision.

Cheers,
Franco

[2016-06-21 07:34] moikonom opened #1030 "Two form authentication using LDAP and google authenticator"
Hello Ad,

Following our recent conversation on forums, I'm making a request using GitHub. Could you please provide 2FA, using an external LDAP and google authenticator?

Thanks again for your time and effort.

Kind regards,
Michalis

[2016-06-21 12:13] fichtner opened #1031 "deleting logged in user causes persistent errors"
PHP Warning:  Illegal string offset 'name' in /usr/local/etc/inc/auth.inc on line 245
PHP Warning:  Illegal string offset 'name' in /usr/local/etc/inc/auth.inc on line 245
PHP Warning:  Illegal string offset 'scope' in /usr/local/www/system_usermanager.php on line 917
PHP Warning:  Illegal string offset 'name' in /usr/local/www/system_usermanager.php on line 924
PHP Warning:  Illegal string offset

[2016-06-21 13:48] fichtner opened #1032 "raise MVC memory limit"
The current MVC memory limit seems to be half of what the old code uses (128 vs. 256 MB).

[2016-06-21 17:20] #1032 closed

[2016-06-21 18:23] rmx-it commented on #1023
Hi,
nearly perfect, but not fully there:

If using the same key in two segments, the key gets exported only once.
Thats good.

But only the first zone gets the key statement, the second not.
Thats bad :-)

If using different keys for the two segments, everything is fine!

Cheers,
Mike

[2016-06-21 18:33] fichtner commented on #850
I'll still need version info and additionally a dump of the following file(s), but careful with embedded credentials...

    # ls /var/etc/mpd_*.conf

[2016-06-21 18:36] AdSchellevis commented on #1029
Hi Franco,

No problem, I found the bug, will fix and close in the next commit.

Cheers,

Ad

[2016-06-21 18:37] #1029 closed

[2016-06-21 18:38] fichtner commented on #974
Why do we have two tickets for this? https://github.com/opnsense/core/issues/850

[2016-06-21 18:38] #974 closed

[2016-06-21 18:39] fichtner commented on #1029
super, thanks a lot :)

[2016-06-21 19:18] fichtner opened #1033 "firewall: problems with schedules"
Issue no 1 : i recently discovered that during one of the upgrade, configs of schedule blocks have been lost. Schedule aliases still appear in firewall rules, but they don't in schedule list which is completely empty. When you click on the schedule name in the rule page, you end up in a blank schedule sheet (the schedule creation page with all fields empty).

Issue no 2 : when you want to create s

[2016-06-21 20:09] JulianSiS opened #1034 "Feature Request - Option to resolve IPs to hostnames via DNS in Netflow/Insight"
As the title says... it would be nice to have the option to resolve IPs to hostnames via DNS for the Netflow/Insight reporting.
See https://forum.opnsense.org/index.php?topic=3223.0

[2016-06-22 11:30] andreasvel commented on #850
i will sent you an email

[2016-06-23 09:31] fichtner opened #1035 "dhcp: verify domain key is base64"
loosely refs #1023

[2016-06-23 09:34] fichtner opened #1036 "/var and /tmp MFS should be separate options"
We only really care about /tmp MFS which is also useful for normal installations, slowly deprecating the need to MFS /var as well.

For sane backwards compat, the new option should be for tmp-only while the other still covers both.

The main point for this is that firmware updates and logs are pushed to /var and they should live on after boot unless we're on nano style images, where the previous b

[2016-06-23 09:49] fichtner commented on #1023
Hey Mike,

Third time's the charm! :)

    # opnsense-patch e287db60

Cheers,
Franco

[2016-06-23 15:12] #1035 closed

[2016-06-23 19:32] fichtner commented on #1004
@AdSchellevis merged to stable just now

[2016-06-24 17:17] rmx-it commented on #1023
Hi,
yes, now it looks right.

Thanks!

Greetings,
Mike

[2016-06-24 17:23] fichtner commented on #1023
Yay, thanks for testing. Will be shipped in 16.1.18 early next week.

[2016-06-25 10:20] agalpin commented on #167
I am also in need of this feature, Apple has made it a requirement for submission of Apps to their store (as of June 2016) that they support IPv6 only networks, they currently suggest supporting IPv4 via NAT64/DNS64 hence requirement of this feature so i can make an IPv6 Only network that can still do IPv4 Traffic. Any one aware how this can currently be achieved until this feature is added?

[2016-06-26 09:36] fabianfrz opened #1037 "Translation of the permission page is not working"
In the line https://github.com/opnsense/core/blob/master/src/www/system_usermanager_addprivs.php#L212, is the translation not working

As the ACL codes seems to work correctly (https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/models/OPNsense/Core/ACL.php#L267) - I assume that the extraction of the strings does not work as they are not available on the translation server. It is onl

[2016-06-26 09:47] fabianfrz opened #1038 "Issue on Boot"
It looks like an openssl command fails on boot:

![Error while Booting](https://cloud.githubusercontent.com/assets/3713914/16361528/872d9180-3b93-11e6-9097-f5bde5720ab6.png)

running:
OPNsense 16.7.b_394-amd64
FreeBSD 10.2-RELEASE-p18
LibreSSL 2.3.5

[2016-06-26 10:36] fichtner commented on #1038
This is about OpenVPN. Haven't looked closer as we don't have actual problem reports in this area. Feel free to investigate.

[2016-06-26 10:40] fichtner commented on #1037
I will change the whole thing for 17.1 to remove most static strings for each ACL and auto-generate a description as most of it is duplicated over 100 times... ACLs should be per feature block, not per static page, this is something that has been discussed with @AdSchellevis internally every now and then.

[2016-06-26 12:16] #752 closed

[2016-06-26 12:17] AdSchellevis commented on #1004
@fichtner thanks

[2016-06-26 12:17] #1004 closed

[2016-06-26 12:39] L1ghtn1ng commented on #1038
I know you don't have reports of this but as I use openvpn I want to know, that when I upgrade to 16.7 that my VPN will work and the system will be stable. I also use libressl and I thought that a beta is for people to test and find and fix issues before the stable release comes out?

[2016-06-26 12:56] fichtner commented on #1038
Let's narrow this down to which openssl command invoke fails and if its specific to LibreSSL or not and it'll be fixed in no time that's all I'm saying. :)

[2016-06-26 13:49] #751 closed

[2016-06-26 16:41] L1ghtn1ng opened #1039 "IPS not setting new rules to drop"
I enabled 2 new rule sets and changed them to drop. Upon reviewing the rules after in the rule section tab and doing a search for them. Instead of them saying drop it still said alert. The expected behaviour should of been to change them to drop.

[2016-06-26 17:37] AdSchellevis commented on #1039
@L1ghtn1ng did you "Download & Update Rules" again after changing the set to drop? If so, please inspect the timestamps of the files to check if your download was actually completed (/usr/local/etc/suricata/rules/).

If possible, can you first use the forum (https://forum.opnsense.org/) before opening new issues? This gives others the opportunity to discuss and help, which increases the chance tha

[2016-06-26 17:41] L1ghtn1ng commented on #1039
@AdSchellevis No I did not

[2016-06-26 18:09] L1ghtn1ng commented on #1039
Closing due to user error. Thanks @AdSchellevis for pointing out what I did wrong

[2016-06-26 18:09] #1039 closed

[2016-06-27 03:16] overcore456 opened #1040 "Can't access VLAN interfaces"
Hello

I've a little issue while we are trying to force a network segmentation. I configured a separate physical network interface (**em2**) on my OPNsense (OPNsense 16.1.17-amd64). On this interface I configured two VLANs (**VLAN 10 for Clients and VLAN 20 for Servers**) and they appear as configurable interfaces under assignments. So far so good. I assigned and enabled them with a static IP addr

[2016-06-27 05:18] fichtner commented on #1040
Hi Marco,

I am thinking about your outbound NAT and firewall rule, neither should be needed for a simple ping test to work. What are your rules? Are you not using automatic outbound NAT?

Did you confirm with a packet trace that (a) echo request packets arrive on your OPNsense interface, and (b) echo reply packets leave, respectively?

Cheers,
Franco

[2016-06-27 05:42] overcore456 commented on #1040
Hi Franco,

I'am using manual outbound NAT rules for Source NAT behind the WAN interface, nothing more. Additionally I have two firewall rules they allow any connections from those two networks to any network.
Regarding the packet trace, I did a package capture on both VLAN firewall interfaces for ICMP and didn't receive anything. As soon I switch to Access ports and interfaces without a VLAN ever

[2016-06-27 05:48] fichtner commented on #1040
Thanks for the quick reply! Is OPNsense running on Hyper-V or hardware?

[2016-06-27 05:49] fichtner opened #1041 "unbound: add CNAME support"
PTR was also asked for, maybe we should make the framework more flexible...

via: https://forum.opnsense.org/index.php?topic=3246.0

[2016-06-27 05:56] overcore456 commented on #1040
My system is running on a hardware. But I also tested this scenario on a Hyper-V system aswell, but this this doesn't work aswell (could just tested this with one VLAN because Microsoft just supports one VLAN on a vSwitch with the Hyper-V Manager, for more you the VMM :-)).

[2016-06-27 06:19] fichtner commented on #1040
Just making sure. :) Would you mind pasting an ifconfig dump?

[2016-06-27 06:27] overcore456 commented on #1040
# ifconfig
em0: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> metric 0 mtu 1500
	options=88<VLAN_MTU,VLAN_HWCSUM>
	nd6 options=21<PERFORMNUD,AUTO_LINKLOCAL>
	media: Ethernet autoselect (1000baseT <full-duplex>)
	status: active
em1: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> metric 0 mtu 1500
	options=40098<VLAN_MTU,VLAN_HWTAGGING,VLAN_HWCSUM,VLAN_HWTSO>
	nd6 options=21<PERFORMNUD,AUTO

[2016-06-27 06:27] overcore456 commented on #1040
I just removed some confidential information. :-)

[2016-06-27 06:35] fichtner commented on #1040
I fixed up "&lt;" and "&gt;", github tends to hide it.

This has all hardware acceleration features turned on. Have you tried to disable them? Especially VLAN hardware filtering under Interfaces: Settings.

[2016-06-27 06:43] fichtner commented on #978
Hi Marco,

Is this still valid? I can point you to the OID descriptions on the hard disk if you need.

Jetzt aber Grüße aus Leipzig ;)
Franco

[2016-06-27 06:49] overcore456 commented on #1040
On my web interface all hardware filterings are already disabled.
![image](https://cloud.githubusercontent.com/assets/19660884/16370993/1771a800-3c87-11e6-8de8-2801d27dbb19.png)

[2016-06-27 07:07] overcore456 commented on #1040
I just notices, that my client, which is running in the old/native VLAN 1 (untagged) on interface em0 can actually ping 192.168.10.1 and 192.168.20.1.

[2016-06-27 08:32] AdSchellevis commented on #1041
@fichtner we can include the unbound cname tag, but its not very likely that it will actually work. From what I can find.

The only time your entry will be returned is if the client queries for a CNAME, which in practice means it'll probably be returned quite rarely

(source https://www.bentasker.co.uk/documentation/linux/279-unbound-adding-custom-dns-records)

The information on the unbound maili

[2016-06-27 08:35] fichtner commented on #1041
Let's keep it on 17.1, wait for feedback. It should be possible to add this in the advanced settings to collect valuable information of how that works out from the actual client side and that will likely decide in the end :)

[2016-06-27 09:07] fichtner commented on #1040
Ok, was ifconfig after a full reboot with those disabled settings? They don't take effect immediately.

It looks like tagged VLAN traffic from the outside will not reach the interface. Capturing in promisc mode on your untagged interface will likely reveal that. Pinging from the GUI using a tagged interface to a reachable client will likely produce an echo request packet and send it out, the clien

[2016-06-27 09:26] tsumaru720 opened #1042 "[Feature Request] Possible to hide used aliases?"
I've an alias I use to drop traffic from "naughty" IPs. It'd be nice if I could re-order IPs in that alias so i can sort of keep them grouped together.

For example if I add some IPs from a particular AS number to my "BLOCKED" alias, then add some other IPs from a different provider, If i want to add more from the first AS, They are at the bottom of the list and I am not able to keep them all near

[2016-06-27 09:31] fichtner commented on #1042
Hi there,

Did you know you can use nested aliases? So there could be one alias per provider and one alias that picks up all providers.

Cheers,
Franco

[2016-06-27 09:37] tsumaru720 commented on #1042
Hi Franco

I did not - That would probably work better for me :)

[2016-06-27 09:39] fichtner commented on #1042
Hi Simon,

Ok, try it out and if you need more info let me know.

As far as I know the alias has auto-suggest so it'll be trivial to add once you start typing, but it's a lot less obvious before.

Cheers,
Franco

[2016-06-27 09:42] tsumaru720 commented on #1042
Hi Franco

Yeah I've already moved to an alias per AS number and changed my blocked alias to point at those.

Can I instead suggest that if you're nesting aliases, if it already exists in your list to not show it as an auto-complete option?

[2016-06-27 09:43] fichtner commented on #1042
Makes sense, I'll adjust the topic, thanks!

[2016-06-27 12:00] jschellevis opened #1043 "Add Installer support for RAID devices"
Request to add installer support for RAID devices.
Devices are like: **/dev/raid/r0**

See also: https://www.freebsd.org/doc/handbook/geom-graid.html

[2016-06-27 19:17] #992 closed

[2016-06-27 23:15] overcore456 commented on #978
Can be closed :-) All solved.

[2016-06-27 23:37] overcore456 commented on #1040
I don't know... the opnsense was rebooted after we installed the new 16.1.17. I think my colleague didn't changed any settings regarding hardware filter. So is there any difference between the screenshot and the ifconfig settings that I haven't seen?

How I can see if there are VLANs in the capture? Sorry I'am not that into this.

[2016-06-28 00:34] overcore456 commented on #1040
Ok here is what I did and some background infos.

Old network: 192.168.0.0/24 (native VLAN1 untagged) -> FW INT 192.168.0.1
New Client network: 192.168.10.0/24 (VLAN10 tagged) -> FW INT 192.168.10.1
New Server network: 192.168.20.0/24 (VLAN20 tagged) -> FW INT 192.168.20.1

1. Did a prom capture on the old network interface (192.168.0.1) and started a ping from my normal client which is in the old

[2016-06-28 00:49] overcore456 commented on #1040
OMG
I dont whats happend, but now it works and I have no idea why. :-( The ping just startet to work. I have the suspicion that the firewall my be not processed all settings immediately?

[2016-06-28 02:36] overcore456 commented on #1040
I try to investigate further and my colleague seems to work on an OpenVPN Site2Site Tunnel between two sites and this seems to have an impact on the whole VLAN configuration. We try to figure our what the reason is but so far there is no hint or pattern.

[2016-06-28 05:10] fichtner commented on #1040
Hi Marco,

Whew, ok, that's progress. I don't believe the tunnel does have an impact on VLAN itself, but maybe the two of you were configuring the firewall at the same time, leaving it with an inconsistent state (would be an OPNsense problem, not a user problem)?

Cheers,
Franco

[2016-06-28 05:10] fichtner commented on #978
ok, thanks!

[2016-06-28 05:10] #978 closed

[2016-06-28 05:14] #1038 closed

[2016-06-28 05:34] overcore456 commented on #1040
Hi Franco,

Ok, but we just did this today... it actually didn't work a couple of days ago where not worked together on this firewall. How can we make sure the firewall is consistent right now? Currently just one VLAN is working and the other one not. I can understand this at all. :-(

Cheers

[2016-06-28 06:16] gitdevmod opened #1045 "[FR] Add password Field to Base/FieldTypes"
TextField expose password with http://opnsense/api/foo/get, it's not useful. Could you create a PasswordField for this case ?

Thanks

[2016-06-28 18:13] lombizani opened #1046 "Impossible to grant user permission to import new users from LDAP without grant permission to all pages"
* Version used: 16.1.17-i386
* WebGUI URL: /system_usermanager_import_ldap.php
* How to replicate:
  * Make sure you're linked to an LDAP server and can import users using the user manager as root.
  * Create a new local test user.
  * Edit the new user, go to the Edit Privileges page and click Select All to tick all permissions, but unselect "WebCfg - All pages" after that.
  * Log out and log in

[2016-06-29 05:02] fichtner commented on #1046
Thanks for this report. There's no ACL entry for system_usermanager_import_ldap.php, that should be easy enough to fix. :)

[2016-06-29 05:16] #1046 closed

[2016-06-29 05:17] fichtner commented on #1046
Patch will be in 16.1.18 today, so no need for manual apply.

Cheers,
Franci

[2016-06-30 10:24] davidolrik opened #1047 "Internal server error when upgrading to 16.1.18"
I'v just updated to 16.1.18, and during the update I got a 500 on `/api/core/firmware/upgradestatus`.

The upgrade completed anyway, so I'm guessing it's only a cosmetic issue due to the API being temporarily unavailable.

I suggest you ignore the 500 error, and just keep trying to update the status window.

[2016-06-30 10:29] fichtner commented on #1047
Hi David,

Depends from which version you were coming. This was fixed in 16.1.15, any update prior to that will do that because it uses the old code, e.g. 16.1.8 -> 16.1.18.

16.1.18 also enables full detach / reattach, so you can always hit reload to get the progress back as long as it's running.

https://github.com/opnsense/changelog/commit/5ff0b300b8e7ca5165fb4177fb80baf39d98cfdf#diff-e8c90a1ce

[2016-06-30 10:55] davidolrik commented on #1047
Hmm...

Searching the log for `pkg-static: opnsense` gives me this:

[code]

Which would suggest that I was upgrading from `16.1.17` and therefore should not see the bug.
Or am I reading the log wrong?

[2016-06-30 11:01] fichtner commented on #1047
Hmm, ok, did the progress window stop or did you get the reboot notification?

This is the commit from 2 months ago, should also include 500. https://github.com/opnsense/core/commit/9526856634d491e249c0231f76211839988737b6

[2016-06-30 11:06] davidolrik commented on #1047
It stopped. - I only saw one 500 on the browser console.

But looking at 9526856, it doesn't look like it includes `/api/core/firmware/upgradestatus`, just `/api/core/firmware/upgrade` and `'/api/core/firmware/'+pkg_act+'/'+pkg_name`

[2016-06-30 11:07] davidolrik commented on #1047
There is no fail block here:

https://github.com/opnsense/core/blob/9526856634d491e249c0231f76211839988737b6/src/opnsense/mvc/app/views/OPNsense/Core/firmware.volt#L159

[2016-06-30 11:08] fichtner commented on #1047
Nice catch, thanks!

[2016-06-30 18:12] AdSchellevis commented on #1045
@gitdevmod what do you want to achieve with this? if you want the field presentation for the password type, you can use the password type  (https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/views/layout_partials/form_input_tr.volt#L64)

[2016-06-30 20:58] gitdevmod commented on #1045
@AdSchellevis indeed I use password in gui, if I use the web page https://opnsense/api/foo/get the password is displayed in clear but it's maybe needed for action to retrieve all fields.

[2016-07-01 06:14] AdSchellevis commented on #1045
@gitdevmod you very likely need the content, but can change the presentation (by choosing the password type in the form)

[2016-07-01 13:43] #1047 closed

[2016-07-01 13:44] fichtner commented on #1047
My bad with this, thanks again @davidolrik !

[2016-07-01 16:21] fichtner opened #1048 "dashboard: empty widget config standard is odd"
Adapt the recent commit below or wipe the hardcoded defaults...
https://github.com/opnsense/core/commit/40c8dc03e781aa6da99a92b13207f91027915ddd

[2016-07-02 07:46] #1048 closed

[2016-07-02 08:09] #1036 closed

[2016-07-02 08:19] fichtner commented on #1036
@oparoz I think you'll enjoy this :)

[2016-07-02 09:46] fichtner commented on #1043
moved to ports issue

[2016-07-02 09:46] #1043 closed

[2016-07-04 07:58] AdSchellevis opened #1049 "move sixxs-aiccu interface to plugin hook"
Move this part https://github.com/opnsense/core/blob/master/src/www/interfaces_assign.php#L117-L125 into src/etc/inc/plugins.inc.d/if_sixxs_aiccu.inc

[2016-07-04 08:29] AdSchellevis commented on #784
https://docs.opnsense.org/manual/how-tos/proxywebfilter.html

[2016-07-04 08:29] #784 closed

[2016-07-04 16:38] #802 closed

[2016-07-04 16:42] AdSchellevis commented on #802
@thelinuxfr the last commit adds the possibility to append custom options before and after the http_access section.

When available, these files will be included:
/usr/local/opnsense/service/templates/OPNsense/Proxy/squid.user.pre_auth.conf
/usr/local/opnsense/service/templates/OPNsense/Proxy/squid.user.post_auth.conf

[2016-07-05 13:54] fichtner opened #1050 "intrusion detection: multi-pattern matcher option"
Hi Ad,

Hyperscan support is coming to our Suricata 3.1, for that we need to set something in suricata.yaml:

    mpm-algo: hs

The current default is: "ac" (Aho-Corasick)
The new option is: "hs" (Hyperscan)

For this we need a select box in the GUI.

Cheers,
Franco

[2016-07-05 14:39] L1ghtn1ng commented on #1050
Will hyperscan be able to run on an a10? Also with 16.7 is it going to be the default now?

[2016-07-05 15:00] L1ghtn1ng commented on #1050
Well the a10 is 64 bit so that is fine for me as I will not have to worry about that

[2016-07-05 15:00] L1ghtn1ng commented on #1050
But would be awesome if this can become the default though

[2016-07-05 15:03] fichtner commented on #1050
I know, but there are others and this is free software for many platforms. According to the website below, 32 bit is fine.

http://www.intel.com/content/www/us/en/communications/hyperscan.html

It doesn't need to be a default. We start shipping the support, the setting will be permanent. Done. :)

[2016-07-05 15:26] L1ghtn1ng commented on #1050
Awesome and performance for the win while maintaining security I like it

[2016-07-06 08:15] fichtner opened #1051 "ftp proxy, take 2"
Design questions:
* Can / should it be a plugin?
* Should we enable this per interface?
* Should it have its own service page?
* What configuration parameters do we need?

via: https://forum.opnsense.org/index.php?topic=3293.0

[2016-07-06 08:29] langerma commented on #1051
i'd put it into the squid config page i do not think a plugin is necessary as squid is in the base system...

i would rather put squid in as plugin

[2016-07-06 08:30] fichtner commented on #1051
@langerma squid ftp doesn't really work with data connections ;(

[2016-07-06 08:41] langerma commented on #1051
@fichtner ahh i understand...sorry just read the forum post.

[2016-07-06 09:17] fbrendel commented on #1051
Hi,

what do you think about the idea not to use the ftp-proxy but netgraph instead?

For example:
If a rule with an (advanced) option "This is FTP traffic" is created then OPNsense
- creates an additional loX interface
- assignes a local address to the new interface
- creates a netgraph node of type ng_ether for the new local interface
- creates a netgraph node of type ng_ftp (yet to be written)

[2016-07-06 14:05] #841 closed

[2016-07-06 14:06] fichtner commented on #735
Sorry, no movement in FreeBSD as it seems.

[2016-07-06 14:06] #735 closed

[2016-07-06 14:07] fichtner commented on #1022
Timeout.

[2016-07-06 14:07] #1022 closed

[2016-07-06 14:08] fichtner commented on #1040
Hi Marco,

Did this resolve in any way (even if moved away from OPNsense)?

Cheers,
Franco

[2016-07-06 18:07] devste opened #1052 "interfaces: strange dhcp settings behaviour in advanced/override modes"
OPNsense 16.1.18-amd64
FreeBSD 10.2-RELEASE-p19
OpenSSL 1.0.2h 3 May 2016

Page: https://opnsense-host/interfaces.php?if=wan

I had problems getting dhcpv6 up and running on wan. My instinct was to play around on the advanced tab, try some settings, restart the interface and always run /var/etc/rtsold_re1_script.sh (wan is on re1) - as is mentioned in bug https://github.com/opnsense/core/issues/63

[2016-07-06 18:19] devste commented on #1052
Config snippet. The only options I changed are "debug" mode in advanced and the prefix delegation size to 48. https://gist.github.com/devste/0d24dd347780313c1af4281c5130c3fc

[2016-07-06 18:59] fichtner commented on #1052
Nice, thanks for the analysis! Will take a look in the morning and get a fix in. :)

[2016-07-06 20:29] fenderle opened #1053 "Multiple OpenVPN Servers and Firewall Rules"
If I define multiple OpenVPN servers, I still only see **one** OpenVPN Tab in the firewall ruleset. Is this supposed as it should be? How do I setup different rules for the OpenVPN interface? To which interface of the two OpenVPN interfaces do the rules apply?

Or is it maybe a *combined* view on all OpenVPN interfaces? If so, what is the `OPENVPN_NET` alias when? which of the two interface networ

[2016-07-07 19:27] andreasvel commented on #850
any news with the infos from my email?

[2016-07-07 19:46] devste commented on #1052
I had time to look at the [source](https://github.com/opnsense/core/blob/master/src/etc/inc/interfaces.inc#L3372) today, and I think my notion of "default values" in the dhcp6c configuration is a misconception. Maybe giving the user a warning underneath the "advanced" tab would be an easier option for now. A warning or descriptive text that says something like: "The advanced method does not provid

[2016-07-08 15:54] fichtner opened #1055 "Enable TRIM on UFS or GPT labels"
via: https://forum.opnsense.org/index.php?topic=3315.0

[2016-07-08 23:15] enoch85 opened #1056 "Move Power Savings to the Power menu"
Like the --^ says. It makes more sense.

[2016-07-09 00:51] enoch85 opened #1057 "apinger exits when no useable targets but is not restarted"
[code]

![deepinscreenshot20160709025129](https://cloud.githubusercontent.com/assets/4511254/16705077/2a1eadb6-4580-11e6-9650-aa42c21e06b4.png)

[code]

It seems like apinger doesn't get restarted after a failure. Exactly the same issue is reported [here](https://forum.pfsense.org/index.php?topic=71908.0) on pfSense.

Is this something that is known?

[2016-07-10 15:09] #1050 closed

[2016-07-10 18:57] fichtner commented on #1057
We do have a new development home for apinger: https://github.com/opnsense/apinger

Truth is the pfSense patches made apinger a lot worse:

* Original apinger uses static raw sockets and privilege drops so it doesn't have to reconfigure. That breaks now using apinger as a gateway monitor because it needs to pin a route, which it can't if it uses the best one available.
* Due to privilege drop, api

[2016-07-10 18:57] #1057 closed

[2016-07-11 21:35] #1055 closed

[2016-07-12 17:40] xor-gate opened #1059 "2fa usage unclear in documentation"
I needed to google/search around in the forums and tried to understand how the 2fa works in OPNSense.  It is unclear in the documentation that you need to concatenate "<totp token><password>"  into the password field. I completely understand this is needed because vpn and other authentication only have a password field and not a extra OTP token field as most people expect (as seen in issue #944).

[2016-07-12 18:21] AdSchellevis commented on #1059
see https://docs.opnsense.org/manual/how-tos/two_factor.html?highlight=2fa step 5:

To use the token in any application/service that you have configured, just open the Google Authenticator and add the created token/key **before** your regular password.

[2016-07-12 18:23] xor-gate commented on #1059
Probably I have read over this, maybe it would be wise to place a notice in a warning box that the behaviour is different to all other TOTP implementations which show a second step dialog.

[2016-07-12 20:12] fichtner commented on #1059
Or a figure in the doc visualising the concatenation. I agree that reading over it is a thing we cannot avoid and need to address differently.

[2016-07-12 20:18] xor-gate commented on #1059
Yeah I understand, but because it is none-standard 2FA behaviour the user should be noticed in the documentation.

[2016-07-15 10:42] #1005 closed

[2016-07-15 14:46] AdSchellevis commented on #1053
@fenderle yes, you're supposed to see one tab for openvpn. you can use different networks to keep them apart.
In case you want to use specific rules for roadwarrior clients, you can enforce policies using     client specific overrides.

We have an excellent forum available at https://forum.opnsense.org/ can you please use that for discussions?

[2016-07-15 14:50] fenderle commented on #1053
Alright - thanks for answering anyway.

[2016-07-15 14:50] #1053 closed

[2016-07-15 15:17] #1042 closed

[2016-07-15 15:30] #1020 closed

[2016-07-15 15:31] AdSchellevis commented on #988
timeout

[2016-07-15 15:31] #988 closed

[2016-07-15 15:33] AdSchellevis commented on #965
timeout

[2016-07-15 15:33] #965 closed

[2016-07-15 16:06] #795 closed

[2016-07-15 16:14] AdSchellevis commented on #375
I think the recent changes fixes most of the issues (https://github.com/opnsense/core/commit/cb7aaea59699a1a6dcb9d29771a2eae215996c2d https://github.com/opnsense/core/commit/3284b185014dc48c8845f80fbe98c7b1180601b9)... feel free to open a new issue when needed.

[2016-07-15 16:14] #375 closed

[2016-07-16 17:33] #1040 closed

[2016-07-16 18:10] fichtner commented on #850
Experimental patch at b349470, it looks like a missing Multi-WAN awareness issue.

[2016-07-16 18:50] fichtner commented on #637
There seems to be a very similar issue here: https://redmine.pfsense.org/issues/5993

I've added an option that does what you initially suggested: direct run the dhcp6 client.

[2016-07-17 17:39] AdSchellevis commented on #1049
should be part of sixxs-aiccu plugin, which probably should also handle address assignment

[2016-07-17 17:39] #1049 closed

[2016-07-18 12:51] AdSchellevis commented on #1014
tested https://github.com/opnsense/core/commit/8405ee77aa736cb850e2ec0a4f8fe41ee967634a on another box with VLANs, all looks good now.

[2016-07-18 12:51] #1014 closed

[2016-07-19 08:13] andreas-p commented on #988
This is NOT fixed.
Nothing in the system log:
Jul 19 10:08:11 firewall2 opnsense: /index.php: Successful login for user 'xxx' from: y.y.y.y
Jul 19 10:10:27 firewall2 opnsense: /services_ntpd.php: Successful login for user 'xxx' from: y.y.y.y

[2016-07-20 04:01] ali-reza-zareian opened #1062 "New user did not access to opnsense shell"
hi
When a new user is created with this scenario ,they don't  access to opnsense shell if they login in to console.

1. create new voucher database
2. create new group without any member and privilege(named mygroup)
3. create new user that is member of mygroup only.(named public)
4. add privileged access to shell for public user

Now public user can login to console but FreeBSD shell is appeared.

[2016-07-20 06:46] fichtner commented on #1062
Only the root user can execute the opnsense shell menu.

In order to do this with an arbitrary user, it needs "admin" privileges, which add "wheel" group privileges underneath. Then in /usr/local/etc/sudoers select your preferred "wheel" group allowance. Afterwards, you can wheel to the root shell using:

# sudo su

[2016-07-20 06:46] #1062 closed

[2016-07-20 12:23] AdSchellevis commented on #1028
Just checked at my end, the rename isn't working because the alias "address" field contains a list of aliases which won't match. the following commit will fix and close this.

[2016-07-20 12:24] #1028 closed

[2016-07-20 16:56] #1019 closed

[2016-07-20 19:40] ShaRose commented on #1031
I recently had this issue and I should note that I found a workaround which should help locate the bug: I found that when you remove a user, it still leaves a blank user entry in the configuration file.

The fix is to ssh in, use your favorite text editor to open /conf/config.xml, search for "<user/>", and remove that line. After that, restart the web interface and the problem seems to be resolved

[2016-07-20 21:01] mschilt commented on #1019
:+1: Thanks!

[2016-07-20 22:53] L1ghtn1ng opened #1063 "remove obsolet rbn IPS rule"
[code]

This information was taken from http://rules.emergingthreats.net/blockrules/emerging-rbn.suricata.rules

[2016-07-21 20:32] fichtner opened #1064 "interface groups seem to be MIA"
They can still be added, but since pluginification they don't seem to show up. Noted by email feedback.

E.g. won't show up in the firewall rules anymore.

[2016-07-22 09:33] #1064 closed

[2016-07-22 10:24] AdSchellevis opened #1067 "(ipsec) add any interface option for phase1 (left = %any)"

[2016-07-22 10:43] AdSchellevis commented on #1067
https://github.com/opnsense/core/commit/41157c8901b9f4da0b16cc626fbd049794114993

[2016-07-23 05:54] fichtner commented on #850
This is on the 17.1 development track for now (opnsense-devel package under 16.7)

[2016-07-23 05:55] fichtner commented on #1067
Just FYI: I've added a stable/16.7, this commit is currently *not* on there

[2016-07-23 06:53] AdSchellevis commented on #1067
@fichtner thanks

[2016-07-23 07:04] #1063 closed

[2016-07-23 07:14] fichtner commented on #594
done for amd64 "cdrom" and "vga" images. The installer will also offer a "gpt/uefi" mode for installation as the new default. "mbr" is still possible.

[2016-07-23 07:14] #594 closed

[2016-07-23 07:16] fichtner commented on #637
I think we figured this out, all code in 16.7. Fixing bugs inline if needed. Thanks everyone!

[2016-07-23 07:16] #637 closed

[2016-07-23 07:17] fichtner commented on #850
I haven't heard of further problems from @andreasvel and it's currently queued up for inclusion in 16.7.1. Thanks!

[2016-07-23 07:19] fichtner commented on #682
Changing scope to original proposal: return a list of reserved keywords on an error.

[2016-07-23 07:20] fichtner commented on #692
@syserr0r what's the status on this? :)

[2016-07-23 07:21] fichtner commented on #1031
Still cannot reproduce this properly in my tests. What am I doing wrong?

[2016-07-23 07:22] fichtner commented on #1031
@ShaRose  (explicit ping)

Can you verify that System: Configuration: History diff for configs shows a discrepancy between empty user tag or being flushed correctly? Thanks!

[2016-07-23 07:23] fichtner commented on #905
@tapper82 Thanks for all your help and input. This will be an official roadmap item for 17.1 if you are willing to help review changes and pages with me? :)

Cheers,
Franco

[2016-07-23 07:25] fichtner commented on #1018
@AdSchellevis since you did this for the proxy, I'm reassigning for 17.1, no strings attached :)

[2016-07-23 07:26] fichtner commented on #984
@AdSchellevis will you take this or move to 17.1?

[2016-07-23 07:26] fichtner commented on #983
@AdSchellevis same question here, thanks

[2016-07-23 07:27] fichtner commented on #700
@AdSchellevis something to fix now or drop or move to 17.1?

[2016-07-23 07:31] fichtner commented on #900
@datenimperator Hey Christian, did HAProxy plugin solve your question or are there open points?

Cheers,
Franco

[2016-07-23 07:33] #842 closed

[2016-07-23 07:33] #845 closed

[2016-07-23 07:37] fichtner commented on #975
@enoch85 Daniel, is this still a problem or was just a setup quirk?

[2016-07-23 07:37] fichtner commented on #989
I'll look at this for 16.7, no promises :)

[2016-07-23 07:38] fichtner commented on #989
Er, I mean 17.1

[2016-07-23 07:40] fichtner commented on #1056
I can't take this, rather have the power saving settings in the settings as is.

[2016-07-23 07:40] #1056 closed

[2016-07-23 08:20] #916 closed

[2016-07-23 09:08] tapper82 commented on #905
Hi thanks for the update and yes i will help out were i can. Just let me no and i will log on to the VM you have up and give feed back here or on twitter.

[2016-07-23 09:09] fichtner commented on #905
perfect, thanks :)

[2016-07-23 15:40] ShaRose commented on #1031
As posted in IRC, Yes, I was able to verify that it was saving an empty user tag. I also verified the cause of the bug is if the user has a moment of stupidity and deletes himself. Was able to verify behavior in a LiveCD vm. Also validated that deleting other logged in users is fine: It's only if you do it to the currently logged in user that the bug manifests.

Underlying bug may be caused by how

[2016-07-23 15:47] syserr0r commented on #692
I'll try and look at it again in the coming week, but last I looked at it (whch was a fair while ago) the source IP/connection wasn't sticky.

[2016-07-23 15:56] AdSchellevis commented on #700
@fichtner move to 17.1, model changes are still going to happen.... made a start with the unit tests, when the most scenarios are in, we can extend the model behaviour.

[2016-07-23 15:58] AdSchellevis commented on #983
not sure if it will be finished in time,, only a few days left ;)

[2016-07-23 15:58] AdSchellevis commented on #984
same here

[2016-07-23 15:58] AdSchellevis commented on #1018
@fichtner sure, no problem

[2016-07-23 16:23] #1031 closed

[2016-07-23 16:23] fichtner commented on #1031
<img width="1115" alt="screen shot 2016-07-23 at 6 22 08 pm" src="https://cloud.githubusercontent.com/assets/1915288/17078958/89aa7200-5102-11e6-853b-c56fddbdd08b.png">

[2016-07-23 16:29] fichtner opened #1068 "savemsg handling in user manager"
May requires URL escapes and proper sprintf(gettext()) transformation, see https://github.com/opnsense/core/commit/768d5e8113aac2f089b03d1b5ce1ff82ae54200d#commitcomment-18368832

[2016-07-24 10:55] #984 closed

[2016-07-24 13:37] enoch85 commented on #975
Yes.

[2016-07-24 13:38] enoch85 commented on #975
Or no, I think this is still valid btw.

[2016-07-24 13:38] enoch85 commented on #975
But this can be closed as I have it setup now how I want :)

[2016-07-24 13:38] #975 closed

[2016-07-24 17:57] fichtner commented on #815
I'm not strictly against that, but I'll have to park this under "future" as it's not a priority, but contributions on this would be nice to have, thanks! :)

[2016-07-25 05:32] fichtner opened #1070 "health: attempt to resolve interface names / descriptions if possible"
Several requests and "bug" reports. Will have to do this eventually. :)

[2016-07-25 15:34] #983 closed

[2016-07-25 16:16] #1070 closed

[2016-07-25 17:19] fichtner commented on #1017
High CPU may be a sign of a large flowd capture file under /var/log

I'm closing this with the next commit, fixing the race by stopping the service before and restarting it after backup.

[2016-07-25 17:20] fichtner commented on #1017
BTW, you can now also clear all the databases from the Reporting: Settings page.

[2016-07-25 17:21] #1017 closed

[2016-07-25 17:34] oparoz commented on #1017
Thank you!

[2016-07-26 00:27] MrM40 opened #1071 "Design glitch in web-gui drop-down menus (low priority)"
The last menu-item in the drop-menus in web-gui is not showing full-size:

![dropdown](https://cloud.githubusercontent.com/assets/16258063/17122010/273ac318-52d8-11e6-9ccf-a8d7a1770311.jpg)
It seems to be all menus....or at least those with with many menu-items

OPNsense 16.7.r2-amd64
Chrome Version 52.0.2743.82, 64-bit
Windows 7, x64

[2016-07-26 08:36] fichtner opened #1072 "rc: defer installer invoke"
We want to:
* ~~Setup a network connection by booting normally~~
* ~~Set up separate user (ingenious "install" user as done in DragonFlyBSD)~~
* Allow connecting to the box via SSH in permissive configuration
* Print a few messages regarding what to do at the login prompt

See: https://forum.opnsense.org/index.php?topic=3403.0

[2016-07-26 11:12] fabianfrz opened #1073 "It tries to load lots of modules on boot which are already loaded."
Results in a lot of text output.
Solution may be suppressed or only loaded if they are not loaded yet.

Version 10.7 Release Candidate 2

[2016-07-26 11:14] fichtner commented on #1073
I'm guessing the netflow modules... make sure you are on FreeBSD 10.3 underneath...

[2016-07-26 11:19] fabianfrz commented on #1073
Maybe some screenshots may help:

![vlcsnap-2016-07-26-13h17m15s406](https://cloud.githubusercontent.com/assets/3713914/17136069/8cdc8ce6-5333-11e6-820c-e882ff82070a.png)
![vlcsnap-2016-07-26-13h17m53s708](https://cloud.githubusercontent.com/assets/3713914/17136071/8fc8521e-5333-11e6-96d9-1821f8f4a867.png)

[2016-07-26 11:21] fichtner commented on #1073
Yes, you're running on FreeBSD 10.2.

# opnsense-update -bkr 16.7 && /usr/local/etc/rc.reboot

[2016-07-26 11:27] fabianfrz commented on #1073
This did work, thanks :+1:

[2016-07-26 11:27] #1073 closed

[2016-07-26 11:32] fichtner opened #1074 "remove source maps"
Chrome is very fragile, clean this up some more, maybe add a lint hint that this must be removed... First time this happened was September 2015!

See: 6a1ddbf7dd, d6e07fecc16, 5e19a31fbc4b62b

[2016-07-26 13:37] andreasvel opened #1075 "strongswan status actions sometimes hang"
Hi,
on Version
OPNsense 16.1.20-amd64
FreeBSD 10.2-RELEASE-p19
OpenSSL 1.0.2h 3 May 2016

several Times the Dasboard and the Ipsec Status Page doenst show any active or inactive Tunnels.
The Tunnels are active and Working...
Restarting the Service doenst work, Just Stopping and Starting the Service makes the Overview correct

[2016-07-27 06:28] #1074 closed

[2016-07-27 08:15] MrM40 opened #1076 "GUI improvement on the Tester form"
Perhaps you could add a help-text on the Tester in regards to TOTP.
I wasted some time on this not knowing :-(
Searching for Tester in documentation and forum didn't gave any hits.

![totp](https://cloud.githubusercontent.com/assets/16258063/17168324/1e0fd048-53e2-11e6-94ae-13964a9f03e7.jpg)

OPNsense 16.7.r2-amd64
FreeBSD 10.3-RELEASE-p5
OpenSSL 1.0.2h 3 May 2016

[2016-07-27 15:23] fichtner opened #1077 "livecd: wrong permission of imported health and insight graphs"
When booting the live cd after a config import from the installer, neither graph is working although the files are there. They seem to belong to user _nobody_. Restoring them again fixes the issue.

Early install without booting the live cd is fine as always.

[2016-07-28 06:53] fichtner commented on #1075
@andreasvel I have Strongswan 5.5.0 queued up for 16.7.1. Do you want to preview a snapshot sooner?

[2016-07-28 08:56] tapper82 commented on #905
Hi OK lets start on the home page or the landing page what ever it's called
I am going to copy and paste the text from the page as it reads to my screen reader so you can see how you can make it make more sense to a screen reader. Pleas bear in mind that when I read down the page with a screen reader which is NVDA, I read line by line and can use short cut keys to jump a round the page from link t

[2016-07-28 09:00] andreasvel commented on #1075
Hi,
ive updated to 16.7 this morning
from 6 Tunnels 5 are working well - if i try to start the inactive tunnel the loading is very slow and no really success...
the tunnel is enabled but in the status view there are no subnetworks to displayed

[2016-07-28 09:27] tapper82 commented on #905
So starting from the top.
The logo needs a label to let people no what the link does like HOME or Back to dashboard.

Then on line 2 as i read down the page it says "tapper82@OPNsense.localdomain" underneath that i think there is a search field I think but it does not show up to my screen reader for about 75% of the time. If it's not a search field then somthing is making NVDA say search on line 3

[2016-07-28 15:39] djGrrr opened #1081 "IPv6 outbound NAT rules do not work"
Hi, the new IPv6 support for Outbound NAT seems to not function at all
IPv4 Rule:
nat on $Work_VPN  from $NAT_Source to any -> 192.168.99.58/32 port 1024:65535
IPv6 Rule:
nat on $Work_VPN  from $NAT_Source6 to any -> 192.168.99.58/32 port 1024:65535
Even if the Source address is manually specified:
nat on $Work_VPN  from 2001:470:1f07:5ba::/64 to any -> 192.168.99.58/32 port 1024:65535

Only if i

[2016-07-28 15:40] djGrrr commented on #1081
I have submitted a pull request that will fix this issue #1080

[2016-07-28 15:45] #1081 closed

[2016-07-28 18:23] lgcosta opened #1082 "Change IP LAN from console menu not working"
When trying to change the IP configuration of the LAN interface via the console menu, it has no effect, checking config.xml configuration is saved, however, is not applied.

[2016-07-28 18:58] fichtner commented on #1082
Hi Luiz,

What setting was this and which version? I use it all the time, suspecting it's something with the input values.

Cheers,
Franco

[2016-07-28 19:01] lgcosta commented on #1082
Hi,
last version 16.7 (AMD64) with virtualbox
It was necessary for me to redo the assignment interface configuration for the application of the settings work.
I'll reinstall it again to see if the error repeats.

[2016-07-28 22:37] fraenki opened #1083 "firmware: auto-reinstall of packages suffering from ABI breakage"
Just upgraded a box from 16.1.18 to 16.7 and had the same issue as described in #565. The fix was (again) to forcefully reinstall the relayd package.

Shouldn't this package automatically be upgraded/reinstalled, especially when upgrading to a new major release?

[2016-07-28 22:46] fichtner commented on #1083
No. No excuses here, just facts. Skip forward for questions on how to solve this within OPNsense. :)

FreeBSD offers two ways to deal with this:

1. Refresh *all* packages after an ABI bump (obviously not an ABI bump but it happens all the time from 10.1, 10.2, 10.3...), or
2. Build all packages from the last compatible supported version and hope everyone migrates over before the build host is nev

[2016-07-28 22:57] fraenki commented on #1083
FWIW, on plain FreeBSD I always reinstall all packages when doing major upgrades. While _this_ wasn't a major FreeBSD upgrade (only 10.2 -> 10.3) it was a major upgrade for OPNsense. IMHO it's OK to reinstall all packages in this case.

And we're currently well below 200 packages on regular installations so this wouldn't hurt too much I guess.

[2016-07-29 08:59] fichtner commented on #1083
Ok, thanks, well get this done one way or another. This will be a hard requirement for going to FreeBSD 11 eventually. :)

For reference, this already works:

    # opnsense-update -fp

[2016-07-29 11:21] elbuit opened #1084 "Add IPv6 carp support to opnsense"
Add IPv6 carp support to opnsense because IPv6 is supported by opnsense but not in carp settings.

Thanks.

[2016-07-29 14:49] fichtner opened #1085 "plugin-ready authentication framework"
As discussed on IRC with @gitdevmod who requires this for his proxy Single-Sign-On plugin.

[2016-07-30 01:19] djGrrr opened #1087 "A few key custom scrub/normalization options missing"
I noticed the custom scrub rules do not have a couple key options that would be nice to have:
1. There is no source port option (i think this was just a simple oversight)
2. There really should be an option for selecting direction (both / in / out) for rules that are not necessary for both directions ie: scrub out on $WAN from any to any set-tos 0x60

[2016-07-30 05:55] djGrrr opened #1088 "pf rules use variables such as $WAN inconsistently"
There is a lot of inconsistency in the use of variables in the generated pf rules such as:

rdr on igb0  proto tcp from any to x.x.x.252 port $Plex_TCP_Ports -> 10.x.x.x
pass out  route-to ( igb0 x.x.x.1 ) from x.x.x.what 252 to !x.x.x.0/22 keep state allow-opts label "let out anything from firewall host itself"
scrub on igb1 from any to any random-id  set-tos 0xc0

in order to use variables in al

[2016-07-30 07:14] AdSchellevis commented on #1088
@djGrrr our current plan is to first add a pluggable mechanism in place (https://github.com/opnsense/core/issues/993) and then split the current script into smaller better to read pieces. For 16.7 we already did some cleanups, but filter.inc is one of the largest piles of unstructured code.

In case you have time to replace some of the inconsistencies, that would be great, but try to keep the comm

[2016-07-30 19:11] jpawlowski opened #1089 "Prevent robots from indexing GUI"
I can see that the current GUI explicitly invites search engine robots to index a firewall:

    <meta name="robots" content="index, follow, noodp, noydir">

I don't think anybody wants to have his firewall admin interface listed in any search engine, e.g. one only needs to search for "opnsense" in Google and get all the installations out there having WAN administration enabled.

Even though WAN a

[2016-07-30 19:18] #1089 closed

[2016-07-30 19:18] fichtner commented on #1089
Agreed, thanks!

[2016-07-30 23:19] rduffner commented on #900
How do I install that haproxy plugin?
Does it do transparent proxying?
I've downloaded 16.7 and there is no mentioning of plugins anywhere in the GUI...

[2016-07-31 06:16] fichtner commented on #900
@rduffner under System: Firmware: Updates there is a Plugins tab. It may require checking for updates in order for "os-haproxy" to show up

[2016-07-31 09:39] rduffner commented on #900
Ah, there it is - thanks.
The search function in the top right seems to only work for stuff that is already installed...

[2016-07-31 18:08] AdSchellevis commented on #1084
@elbuit have you tried adding an ipv6 address as carp VIP? maybe I'm missing something, but when I add an ipv6 carp VIP on my test vm it looks normal in the status page and on the box itself.

[2016-07-31 23:31] backerman opened #1090 ""console vidconsole is invalid" when booting"
Damn enter key... closing to reopen after I actually fill it in.

[2016-07-31 23:32] #1090 closed

[2016-07-31 23:40] backerman opened #1091 ""console vidconsole is invalid" when booting UEFI"
When booting system, /boot/loader outputs the above message to video and loader does not show the boot menu on the video output.

Root cause: On a UEFI system, the console specification should be "comconsole,efi" instead of "comconsole,vidconsole"; changing /boot/loader.conf appropriately fixes this.

I'm using OPNsense 16.7-amd64.

[2016-08-01 00:15] FlorianHeigl commented on #544
None of those issues ever get fixed. Same issue in FreeBSD/xen has never fully been fixed from 2005 till 2016 which is 11 years.
It makes sense to add a workaround instead of installing something that doesn't work.
It is not relevant if the bugfix stays in place by mistake since it will only mean a small performance degradation which is a different story than a very bad performance issue along wit

[2016-08-01 04:56] fichtner commented on #1091
Hi Brad,

Is this a VGA/CD-ROM install with the console flipped on afterwards?

Thanks,
Franco

[2016-08-01 06:32] AdSchellevis opened #1092 "disable hardware offloading features in default config.xml"
There are quite some scenarios when a user should disable Hardware offloading features, such as IPS/netmap usage, kvm/xen (https://github.com/opnsense/core/issues/544), etc.

It's probably better to switch the default to "disabled".

[2016-08-01 06:38] fichtner commented on #544
@danrl @FlorianHeigl alright, auto-detect will always be tricky so we are opting for a portable solution: we're going to change the default to disable in the sample configuration going forward, which means factory reset or new installs will have this addressed within the scope of our project at least. This will also help the IPS folks who run into the same issues...

Thanks,
Franco

[2016-08-01 06:56] #1092 closed

[2016-08-01 07:36] fichtner commented on #1091
How about making 'Secondary Console' configurable individually, adding efi to the mix. How does that sound?

[2016-08-01 08:00] andreas-p opened #1093 "SSL certificate restore fails"
With 16.7, it's not possible to re-import exported certificates, it will claim "could not locate xml tag". Actually, the format of the backup file differs from the complete config backup.
I massaged the file to match the normal config file, but no success: the list of certificates will be empty afterwards.

[2016-08-01 08:26] fichtner commented on #1093
This is a partial restore, right?

[2016-08-01 08:32] andreas-p commented on #1093
Yes, certificate export and import only.

[2016-08-01 09:06] fichtner commented on #1093
This doesn't work on 16.1.8 too. A full export and section import can work, but may fail for other reasons that can only be fixed through #471.

I'm closing this, making the other one a priority. Thanks for the report.

[2016-08-01 09:06] #1093 closed

[2016-08-01 09:07] fichtner commented on #471
parse_xml_config() must be removed for 16.7.1, one more call-site is the System: Configuration: Backup Section Restore.

[2016-08-01 10:49] #994 closed

[2016-08-01 10:52] AdSchellevis commented on #994
as discussed with @fichtner, windows installers have been removed. Viscosity visz format has been added to the selection for hassle free windows installation.

[2016-08-01 10:53] FlorianHeigl opened #1094 "proxy: no interface selector"
Hi,

no idea why this happens, the "Proxy interfaces" field doesn't have a dropdown.
Typing into it shows no autocomplete, but I can see I only have 2-3 chars of space, there seems to be some invisible space for the dropdown or something.

Only odd thing I have in this test install so far is the LAN IP is also DHCP'ed.

I could not find any issue opened for this, let me know if I should attach a c

[2016-08-01 10:58] fichtner commented on #1094
Proxy interfaces need to be static, so no DHCP allowed. Maybe that's why this happens?

[2016-08-01 11:06] AdSchellevis commented on #739
We're swapping the defaults, there are too many situations where hardware offloading causes issues. https://github.com/opnsense/core/issues/1092

[2016-08-01 11:06] #739 closed

[2016-08-01 11:17] L1ghtn1ng commented on #739
Is this going to be back ported to the 16.7 branch? Also if hardware offloading has been disabled already, I am guessing that it will not need to change anything? if it has not been then it will disable it for you?

[2016-08-01 11:20] AdSchellevis commented on #739
@L1ghtn1ng as soon as we release a new installer, we will use the new defaults. The current images obviously contain the previous defaults.

[2016-08-01 13:22] fraenki opened #1095 "[framework] CertificateField parameters ignored when using multiple fields"
I've tried to use multiple `CertificateField` input fields with different `Type` parameter:

[code]

Expected result:
- input field `sslcertificatetest` should contain a list of _all_ certificates
- input field `sslcertificate` should contain a list of all *CA* certificates

Actual result:
- both input fields contain a list of all certificates

Note that when using _only_ the `ca` input field and

[2016-08-01 15:39] fichtner opened #1097 "allow config model to load and arbitrary config file"
This is for: https://github.com/opnsense/core/issues/471

To do section import properly, we need to parse the config file given through our model, but not as the new standard config in a standard location as we only want this or that config tag to be carried over. This is useful for "inspecting" config files.

[2016-08-01 15:53] datenimperator commented on #900
After installing 16.7 I've had a first look at HAproxy. The amount settings necessary to establish a simple web proxy seems overwhelming. I'll give it a try once I have some time to play with it, but this isn't something I'd recommend to anybody without a decent knowledge on network infrastructure.

Maybe there will some some easier solution?

[2016-08-01 18:46] AdSchellevis commented on #1085
https://github.com/opnsense/core/commit/b07fcd0597834bf1e4b8a7c3f16dcd2d1877e85d

[2016-08-01 19:38] AdSchellevis commented on #1085
@gitdevmod ok, hotplug is in. you need to extend your connector a bit to use it with this change.

for reference https://github.com/opnsense/core/commit/59f43c120e96c17040912e1052421532864b4a53 moves the voucher metadata to the connector. https://github.com/opnsense/core/commit/ca664c091e8e1b1908e97f05aff304f58d9d2755 sets up totp.

see https://github.com/opnsense/core/blob/ca664c091e8e1b1908e97f0

[2016-08-01 19:38] #1085 closed

[2016-08-02 06:15] fichtner opened #1098 "Selective ACL and MVC routing"
Hi Ad,

We've identified a ACL problem with e.g. trying to access only the Captive Portal voucher page:

https://forum.opnsense.org/index.php?topic=3431.msg11479#msg11479

With only privileges for "ui/captiveportal/voucher/\*" and "api/captiveportal/voucher/\*" the page doesn't load at all (redirect loop). Adding "ui/index.php\*" helps with that. Then, the page doesn't properly invoke the API, so

[2016-08-02 12:09] syserr0r opened #1099 "'Cancel' button breaks when editing FW rule after 'Save' is aborted due to user error"
Steps to reproduce:
- Edit firewall rule
- Attempt to 'Save' the rule, causing an error (such as attempting to modify an IPv4+6 rule gateway, causing "You can not assign a gateway to a rule that applies to IPv4 and IPv6")
- Click 'Cancel'

Expected: 'Cancel' returns you to the firewall overview page
Actual: 'Cancel' reloads the page with the firewall rule you are editing

[2016-08-02 12:15] syserr0r commented on #692
After some very preliminary testing it looks like the source address is staying somewhat sticky so I've rolled it out further and await feedback from our users.

[2016-08-02 12:48] syserr0r commented on #1099
Screen capture showing the problem is available [here](http://i.imgur.com/GZqA1hN.gifv)

[2016-08-02 12:52] fabianfrz commented on #1099
@syserr0r The cancel button redirects you to the page you visited before which is the rule edit page because of the error.

[2016-08-02 13:05] syserr0r commented on #1099
@fabianfrz Yes, this is what I suspected. It is not very intuitive, however, hence the bug-report.

If this is as intended it should at the very least return to the FW rules overview page after the second click. As it stands it is a worse implementation than using the browser 'back' button or `onclick="history.back();"`.

[2016-08-02 13:08] syserr0r commented on #1099
I'm unsure how the page stores the 'back' url, but a simple solution would be to prevent the 'back' url being set to the same URL as the page it is to be used on (in which case it should keep it's previous value, which would be the Overview page).

[2016-08-02 13:28] andreas-p opened #1100 "carp over lagg interfaces has demotion handling problems"
opn 16.7: When starting up a lagg interface or disconnecting or reconnecting a LACP member interface, the kernel will recognize "send error 50 on lagg0_vlan..." and increase the carp demotion for each interface and VLAN that's defined for it. Since it will never recover from that, lacp demotion starts with 240 * (interface on LAGG) and makes master and slave indistinguishable.

I stumbled upon thi

[2016-08-02 13:40] andreas-p commented on #1100
Just checked on a pf 2.2.4:
Both net.inet.carp.senderr_demotion_factor and net.pfsync.carp_demotion_factor are set to 0 by default there; probably as a consequence of https://forum.pfsense.org/index.php?topic=89085

[2016-08-02 15:22] Woi opened #1101 "Serial install of 16.7 fails on APU2 board"
Hey,

I'm trying to install OPNsense 16.7 from an USB stick on an APU2c4 [1] via serial console, which fails with this error message:
[code]
Some more details:
I'm using `OPNsense-16.7-OpenSSL-serial-amd64.img.bz2` and sha256 sum matches.
`Screen version 4.03.01 (GNU)`  is invoked with `/dev/ttyS0 115200`
APU2s Bios versions is 20160307

It doesn't seem related, but to give you an overall picture:

[2016-08-02 15:30] fichtner commented on #1101
Hi Woi,

From the boot loader prompt (3) try:

    set kern.cam.boot_delay="10000"
    boot

I've seen the disordered output on a APU2C2 this week, didn't know that setting it to single console fixes this. I want to revise images and serial mode soon, this will probably be the new default, thanks!

Cheers,
Franco

[2016-08-02 15:32] fichtner commented on #1100
Thanks, I'll look into this soon.

[2016-08-02 15:35] Woi commented on #1101
Hey fitcherner,

thanks for the quick reply :-). I just managed to boot in to the installer the very same moment you answered  by following this blog post: https://randomproblem.wordpress.com/2016/03/31/installing-opnsense-16-1-on-pc-engines-apu2/
The same guy also blogged about the disordered output: https://randomproblem.wordpress.com/2016/05/15/installing-freebsd-via-a-serial-port/

[2016-08-02 19:27] #1095 closed

[2016-08-02 19:39] AdSchellevis commented on #1098
@fichtner this doesn't look very logical, the two pages (ui/index.php, api/api.php) aren't accessed directly.

If I create this acl (same as the forum):
[code]

And only assign this acl to a user, then on my end the user can login to the voucher page without issues.

Are you sure the user isn't assigned to any other groups or acls (which may be incomplete)?

For reference (shouldn't be important),

[2016-08-02 19:48] AdSchellevis commented on #1099
For reference,  it uses the HTTP_REFERER. We should probably replace these:

`git grep 'onclick="window.location.href' | grep Cancel
`

With the most logical return page, back doesn't really work using HTTP_REFERER and in 95% of the pages back should always return to the same page.

[2016-08-02 20:25] fraenki commented on #1095
Tested, works as expected. Thanks, @AdSchellevis! :+1:

[2016-08-02 20:40] fichtner commented on #1095
I'm queueing this up for 16.7.2 along with the HAProxy 1.4 bump. Cheers!

[2016-08-02 21:06] gitdevmod commented on #1085
@AdSchellevis thanks for your work on this, I tried this [SSOProxyAD.php](https://github.com/gitdevmod/core/blob/master/src/opnsense/mvc/app/library/OPNsense/Auth/SSOProxyAD.php) I can see this type in auth_servers.php and the server in proxy authentication settings but OPNsense.proxy.forward.authentication.method in squid.conf template always display the name instead of type.
btw I can add SSOPro

[2016-08-02 21:40] #1091 closed

[2016-08-02 22:00] #1101 closed

[2016-08-02 22:12] fichtner commented on #1098
Yes, new empty user, no privs except for this, ended up in a redirect loop without ui/index.php*.

API operation didn't work until ui/api.php* was added.

The former wasn't reported by the user as it seemed to work for him, but the latter was definitely a problem with him too.

[2016-08-02 22:32] #1100 closed

[2016-08-02 22:33] fichtner commented on #1100
Hi Andreas,

Looks sane, if you have a spare minute try to help verify:

    # opnsense-update 79a2008b

Cheers,
Franco

[2016-08-02 22:43] fichtner commented on #1085
@gitdevmod yes, that can be part of the plugin now

SASL parts are done, I'll enable them in 16.7.2 as we need more time for testing LDAP then.

The Name is used to look up the type internally. Ideally you don't have to know about it, or do you not find a way to return the value to check if you need to run?

Cheers,
Franco

[2016-08-03 01:27] mikejuni opened #1102 "Support mobile IKEv2"
Current OPNSense (16.07) does not support IKEv2 for mobiles, which is actually the best VPN supported by different vendors (iOS, Windows, Linux, Android (through strongswan).

Can we add support for IKEv2 soon? Both EAP-TLS and EAP-MSCHAPv2 would be extremely useful for roadwarrior setup.

[2016-08-03 01:29] mikejuni opened #1103 "IPSec (charon) demon does not reduce privilege after startup"
IPSec (charon) daemon from strongswan does not reduce privilege from root after startup. It would greatly improve security if this is done and there should not be any harm of doing so.

Currently if you do
`ps aux | grep charon`
you will see that it is running as root.

[2016-08-03 05:12] fichtner commented on #1102
Hi there,

I understand the request for EAP-TLS and EAP-MSCHAPv2. There were attempts to bring it it, but it needs testing and feedback to be released which it didn't receive last time. We try to make this a stronger policy for going forward.

Secondly, before I triage this issue I'm curious as to why the following is not suitable for your use case of "mobile IKEv2" in general?

https://docs.opnse

[2016-08-03 05:20] fichtner commented on #1103
According to the following document, this needs to be compiled into StrongSwan, but I found no such option in the FreeBSD port of StrongSwan.

https://wiki.strongswan.org/projects/strongswan/wiki/ReducedPrivileges
https://github.com/opnsense/ports/blob/master/security/strongswan/Makefile

Am I missing something vital here?

[2016-08-03 05:40] AdSchellevis commented on #1098
@fichtner it seems like I'm unable to reproduce this, can you test the same acl in the same location as I posted and assign it to an empty user?

[2016-08-03 05:47] fichtner commented on #1098
I get this:

    Aug 3 07:45:58	api[26388]: uri /ui/index.php?_url=/captiveportal/voucher/& not accessible for user foobar
    Aug 3 07:45:58	opnsense: /index.php: foobar@10.0.100.1 attempted to access / but does not have access to that page. Redirecting to ui/captiveportal/voucher/.
    Aug 3 07:45:57	api[37250]: uri /ui/index.php?_url=/captiveportal/voucher/& not accessible for user foobar
    A

[2016-08-03 06:30] gitdevmod commented on #1085
@fichtner I need the type to enable the correct configuration in squid.conf template, I do not know how to lock up the type with the name.

[2016-08-03 06:39] fichtner opened #1104 "the old switcheroo for fonts (or: better cyrillic fonts)"
via: https://forum.opnsense.org/index.php?topic=3464.0

[2016-08-03 06:43] fichtner commented on #1085
@gitdevmod once you get your object from the factory, it should be accessible via $obj->getType(), but you seem to be needing it from the template which is not code... errr @AdSchellevis, any idea? It may be part / problem of the code flow as the logic for the authenticator is executed later, not in the authenticator itself.

[2016-08-03 06:57] andreas-p commented on #1100
What is this update supposed to do? I don't see any change, a testsystem still has net.pfsync.carp_demotion_factor=240 and net.inet.carp.senderr_demotion_factor=240.

[2016-08-03 07:01] fichtner commented on #1100
The update applies the commit with the hash 79a2008b

It will set the correct values on bootup (it should).

[2016-08-03 07:06] andreas-p opened #1105 "Support lacp_fast_timeout"
The default timeout for LACP timeout in freebsd is very long (observed about 3 seconds), this is really long (too long for CARP).
ifconfig lagg0 lacp_fast_timeout will reduce this significantly and is probably what most installations need.

[2016-08-03 07:19] andreas-p commented on #1100
It doesn't...
# sysctl -a |grep carp
net.inet.carp.ifdown_demotion_factor: 240
net.inet.carp.senderr_demotion_factor: 240
net.inet.carp.demotion: 0
net.inet.carp.log: 1
net.inet.carp.preempt: 0
net.inet.carp.allow: 1
net.pfsync.carp_demotion_factor: 240

This is even a degradation. net.inet.carp.preempt should be 1, as it is on the firewalls I'm preparing for production (where I noticed the proble

[2016-08-03 07:29] fichtner commented on #1100
Let me refine this as I've just tested this successfully: the patch will set both "net.inet.carp.senderr_demotion_factor" and "net.pfsync.carp_demotion_factor" to 0 on boot, unless you've specified otherwise in the tunables GUI.

The value of "net.inet.carp.preempt" is set during carp setup, it's been untouched since 2015. https://github.com/opnsense/core/blame/master/src/etc/inc/interfaces.inc#L1

[2016-08-03 07:43] andreas-p commented on #1100
# opnsense-update 79a2008b
Updating OPNsense repository catalogue...
OPNsense repository is up-to-date.
...
Your system is up to date.

# tail -n +117 /usr/local/etc/inc/system.inc | head -n7
    $sysctls = array(
        "net.enc.in.ipsec_bpf_mask" => "0x0002",
        "net.enc.in.ipsec_filter_mask" => "0x0002",
        "net.enc.out.ipsec_bpf_mask" => "0x0001",
        "net.enc.out.ipsec_filter_m

[2016-08-03 07:49] fichtner commented on #1100
Sorry, I'm an idiot :) I meant "opnsense-patch", I fixed it in the comment.

[2016-08-03 08:31] andreas-p commented on #1100
Ack, patch works.
I don't see it in system/settings/tunables though. I guess nobody should touch this anyway.

[2016-08-03 09:11] fichtner commented on #1100
Ok, thanks. I've added this to the upcoming 16.7.1 as well.

The sysctl can be added manually and thus overridden. I'm not very fond of the whole sysctls section in config.xml as that is not going to be visible to an existing installation on upgrade anyway.

[2016-08-03 09:41] mikejuni commented on #1103
You'll probably need to patch the Makefile with --with-capabilities=libcap to enable it. I've it working in FreeBSD before after patching the makefile and building it.

[2016-08-03 09:43] mikejuni commented on #1102
IKEv1 works on iOS, however there are authentication issues from Xauth disallowing saving of passwords. On the other hand mobike support in IKEv2 really allows the remote machine to switch network on the fly without disconnecting VPN which is a key advantage.

[2016-08-03 09:56] fichtner commented on #1102
Ok, get it. I don't maintain IPSec so not sure how much work is needed... reassigning to the proper authority now, thanks!

[2016-08-03 10:02] fichtner commented on #1103
I'll look into this, although I can't find a libcap on FreeBSD itself. It's in the Linux emulators which we shouldn't touch. Curious how the build goes. Will report back.

[2016-08-03 10:05] fichtner commented on #1103
yup:

    configure: error: libcap library not found

Cheers,
Franco

[2016-08-03 10:55] fichtner opened #1106 "proxy: 'Overall bandwidth throttling' cannot be empty on set 'Per host bandwidth throttling'"
Can be solved using https://github.com/opnsense/core/issues/272

via: https://forum.opnsense.org/index.php?topic=3474.0

[2016-08-03 13:29] fichtner opened #1107 "firewall: allow "tag" and "tagged" (and missing invert) to be used in all rule types"

[2016-08-03 18:30] AdSchellevis commented on #1085
I'm not sure what we're looking for here,  if the type determines the template to generate, you may have to traverse the config and search for the name to retrieve the type.
For an example of how to traverse the config in a template you could look at this https://github.com/opnsense/core/blob/master/src/opnsense/service/templates/OPNsense/IPFW/ipfw.conf#L7

When using the authenticator from the ph

[2016-08-03 18:41] AdSchellevis commented on #1098
@fichtner I have to try this on another box tomorrow, my setup redirects to this:

`Aug  3 20:33:53 OPNsense opnsense: /index.php: test@10.211.55.2 attempted to access / but does not have access to that page. Redirecting to ui/captiveportal/voucher/.
`

Which is exactly what it should do. There's something odd in your redirect....

[2016-08-03 18:58] ezraholm50 opened #1108 "Virtualbox guest additions"
Hey thanks for the awsome project guys. I have OPNsense running on a Vbox virtual machine.
I want to enable usb support to use a dualband wifi dongle to have my wireless devices connecting to OPNsense.

When I run `pkg install virtualbox-ose-additions` it says it cant be found,

`unable to update OPNsense repository`

Now i heard something about a different install manager? But I can't find anythi

[2016-08-03 19:30] fichtner commented on #1108
It looks like your DNS isn't working.. repos are there although VBOX additions are not. I will have to write a plugin for 16.7.2.

[2016-08-03 19:44] fichtner commented on #1108
Are the repos reachable now?

    # pkg update -f
    # pkg rquery %n

Latter should list all available remote packages ;)

You can build virtualbox-ose-additions from our ports tree on the OPNsense box itself in the meantime...

    # cd /etc
    # fetch https://raw.githubusercontent.com/opnsense/tools/master/config/16.7/make.conf
    # pkg install git
    # cd /usr
    # rm -fr ports
    # git c

[2016-08-03 20:04] ezraholm50 commented on #1108
Reboot fixed the update part. But still the same error installing the virtualbox-ose-additions

Now following your steps leads to this at the end at `make install`
I'll do some googleing and hope I can fix this, any suggestions meanwhile?
![deepinscreenshot20160803220321](https://cloud.githubusercontent.com/assets/13510720/17380165/1b4eb7ae-59c6-11e6-92d5-7a3252aea34a.png)

Thanks so much for taki

[2016-08-03 20:10] gitdevmod commented on #1085
Ok thanks, this code works. What do you think ?
`{% if helpers.exists('system.authserver') %}`
`{% for server in helpers.toList('system.authserver') %}`
`{{ server.name }}`
`{{ OPNsense.proxy.forward.authentication.method }}`
`{% if server.name == OPNsense.proxy.forward.authentication.method %}`
`{% if server.type == "ssoproxyad" %}`
`ssoproxyad code here`
`{% endif %}`
`{% endif %}`
`{% endfor %}

[2016-08-03 20:31] L1ghtn1ng commented on #1108
You need to install kernel headers or specify where the hearders are which are in /usr/src from doing a bit of googling.

[2016-08-03 20:32] ezraholm50 commented on #1108
Yeah I came across a topic on the FreeBSD forums with some instructions but no luck...

[2016-08-03 20:35] fichtner commented on #1108
# cd /usr
    # git clone https://github.com/opnsense/src

Then retry make install :)

[2016-08-03 20:48] ezraholm50 commented on #1108
Your my hero!

Now I get this shown below, I first executed the suggested commands then about 2 or 3 errors showed, tried to make install again but still fails.

Sorry for beeing such a pain in the a*s..
![deepinscreenshot20160803224630](https://cloud.githubusercontent.com/assets/13510720/17381464/56838722-59cc-11e6-9617-ceb178ded30a.png)

[2016-08-03 20:51] fichtner commented on #1108
I'm not entirely sure what it's trying to do there. Let me check on my local box...

[2016-08-03 21:06] fichtner commented on #1108
Uh so this fails...

    cd /usr/src; make build32 install32; ldconfig -v -m -R /usr/lib32

Which means we're not going to get further today.

[2016-08-03 21:10] ezraholm50 commented on #1108
Ouch, no problem, you could leave me with a to do list if this is within my scope of doin...
Else I'll just wait, you've been such a great help so far, thank you so much!

[2016-08-03 21:13] fichtner commented on #1108
For reference, our base system doesn't install these libraries. For some reason the port requires these

https://github.com/opnsense/tools/blob/master/config/16.7/src.conf#L22

Might be good to see how useful the additions really are. Any particular thing you're looking for?

[2016-08-03 21:27] L1ghtn1ng commented on #1098
Maybe a browser bug depending if you are using a different browser?

[2016-08-03 21:28] ezraholm50 commented on #1108
Yeah its quite a hassle to set it up... Just experimenting right now setup is as this:

Router/modem 192.168.1.1/24
RaspberryPI as vpn gateway 192.168.1.154

Virtualbox Host 192.168.3.2
Virtualmachine OPNsense 192.168.3.1 (Wan gateway is the raspberry with the vpn tunnel)

Now I'd like all my wireless devices to connect to the OPNsense vm using a dualband wifi dongle. However that only succeeds us

[2016-08-03 21:31] fichtner commented on #1098
Firefox was used in my tests, I think Ad uses it too.

[2016-08-03 23:14] FlorianHeigl commented on #1094
makes sense then :-)
I'll adjust my lab.

[2016-08-03 23:48] L1ghtn1ng commented on #1098
Do you have any plugins enabled that could mess with it?

[2016-08-04 07:29] fichtner commented on #1098
We're suspecting lighttpd now, I've been running a 1.4.40 for testing purposes, but 1.4.39 is still the default in 16.7. :)

[2016-08-04 07:44] L1ghtn1ng commented on #1098
Ah okay

[2016-08-04 08:12] pv2b opened #1109 "Incorrect form validation in aliases edit form"
# Summary

There is an error in the form validation logic in the Aliases edit form.

# Steps to reproduce:

1. Go to Firewall -> Aliases -> View
2. Click on Add a new alias
3. Enter a valid name for the alias, e.g. "test"
4. Leave the description blank (probably does not matter)
5. Choose Host(s) as type (probably does not matter)
6. In the hosts field, enter 192.0.2.10 192.0.2.11 with a space bet

[2016-08-04 08:29] pv2b opened #1110 "config.xml format for aliases brain damaged"
# Current situation

Currently, aliases are stored in config.xml like this:

[code]

This corresponds to an alias that looks like this:

**Name:** test
**Description:** Test Entry
**Type:** Host(s)

| Host(s) | Description |
| --- | --- |
| 192.0.2.1 | First entry |
| 192.0.2.2 | Second entry |
| 192.0.2.3 | Third entry |
| 192.0.2.4 | Fourth entry |
# Discussion

This is a brain damaged format. B

[2016-08-04 08:38] AdSchellevis commented on #1110
@pv2b eventually the aliases should move over to our mvc framework, which has a sane format and contains validations. The missing part however is a new style migration strategy for old style data to the new style format. (there is still some work in the queue for the model, before we are going to look at migrations)

In case you want to start working on this issue, please take a look at https://do

[2016-08-04 11:54] AdSchellevis commented on #1085
@gitdevmod the loop should work, not sure why you print the name, but that's probably for debugging.

[2016-08-04 11:56] gitdevmod commented on #1085
Indeed it was for debugging :)

[2016-08-04 12:39] Woi commented on #1101
Regarding the disordered output, I stumbled over this thread:
https://www.coreboot.org/pipermail/coreboot/2016-June/081542.html which  leads to this commit:
https://github.com/pcengines/seabios/commit/d161aaf84d4f71d93599f2ab72508095da7d30d2
So this behaviour might be a BIOS issue.

Since you marked this bug for milestone 17.1, I like to suggest to document both issues along with there workarounds

[2016-08-04 12:51] ezraholm50 commented on #1108
Wouldnt there be an easy pull command to get these lib's from somewhere else, i've searched and searched but its totally not my area of operations... Sorry again to bug you with this.

[2016-08-04 12:55] fichtner commented on #1108
set "no" to "yes" in /usr/local/etc/pkg/repos/FreeBSD.conf

try to install it like you normally would, but it may end up causing packages to be updated to wrong versions or uninstalling vital packages.

the general attitude is that multi-repo is not supported by FreeBSD's package manager authors,so "here be dragons"

remember to set the setting back to "no" when you're done

Cheers,
Franco

[2016-08-04 12:56] Woi opened #1111 "16.7 Webgui: Layout broken on some config items."
Hey,

The configuration items `Services -> Intrusion Detection` and `Services -> Proxy Server -> Administration` have a broken layout in the webgui. Looks like CSS are missing.

Kind regards,
Woi

[2016-08-04 12:57] fichtner commented on #1111
Please attach a screenshot. GitHub supports "drag and drop" :)

[2016-08-04 13:07] Woi commented on #1111
Here you are:
![broken_layout_ids_pre](https://cloud.githubusercontent.com/assets/5870628/17402709/dace4930-5a54-11e6-9718-4d3b67453292.png)
![broken_layout_ids_post](https://cloud.githubusercontent.com/assets/5870628/17402708/daca9632-5a54-11e6-9265-4f311a3753a4.png)
![broken_layout_proxy_pre](https://cloud.githubusercontent.com/assets/5870628/17402707/dac7592c-5a54-11e6-932d-3b825dab5d49.png)
![

[2016-08-04 13:10] fichtner commented on #1111
Can you try a different browser to confirm? It could be overzealous caching.

[2016-08-04 13:12] Woi commented on #1111
I used SeaMonkey and Firefox before opening this bug. The later with an fresh profile.

[2016-08-04 13:16] ezraholm50 commented on #1108
Awsome will try that out, been busy on some workaround but there not really workable...
Thanks again for your time and the great project!

[2016-08-04 13:17] fichtner commented on #1111
Ok, just checking :)

Let's try to see from the console if all files are ok:

    # pkg check -s opnsense

Can you check from the developer tools (network) what kind of error is returned on load of these items?

[2016-08-04 13:31] Woi commented on #1111
Files seem to be ok:
[code]

But SeaMonkeys error console comes up with this:
[code]
and
[code]
Line 5 is:
` $( document ).ready(function() {`

In context with empty lines removed:
[code]
[code]

[2016-08-04 13:44] fichtner commented on #1111
Let's try to reapply the package nonetheless, it will also restart the web server:

    # pkg install -f opnsense

[2016-08-04 13:52] fichtner commented on #1111
Sorry, doesn't restart the full web server, you'll need:

    # /usr/local/etc/rc.restart_webgui

[2016-08-04 13:54] Woi commented on #1111
The box doesn't have internet access yet. It might take a few days before I'm able to test it.

[2016-08-04 13:58] fichtner commented on #1111
It's difficult to say what's wrong here remotely. The JS files "$" is for jQuery are in the same location for both the MVC and the static php pages. You can also reinstall, use the "Import Configuration" before running the "Guided Installation", this can restore all your settings.

[2016-08-04 14:25] Woi commented on #1111
I did a fresh install on a second APU2 and retested using SeaMonkey and Chromium. Layout is still broken.
Also checked the behaviour on an OPNsense 16.1.20, without any issues.

[2016-08-04 14:28] fichtner commented on #1111
Which image? serial amd64?

[2016-08-04 14:30] Woi commented on #1111
Exactly

[2016-08-04 15:01] AdSchellevis commented on #1102
@mikejuni the option is back in the code again, if you have time to test you can easily run the following command from the console:

`opnsense-patch 10c6828e
`

I've checked https://wiki.strongswan.org/projects/strongswan/wiki/Win7EapMultipleConfig for the missing settings (actually did that some time ago https://forum.opnsense.org/index.php?topic=3338)

There are some other cleanups in the ipsec

[2016-08-04 15:23] AdSchellevis commented on #1067
tested on my end, needs this https://github.com/opnsense/core/commit/2cc1c4a990821b66721df802656f1ba64c239f45 but then its ok.

[2016-08-04 15:23] #1067 closed

[2016-08-04 16:05] AdSchellevis commented on #1109
@pv2b the format is indeed horrific ;) we should fix the validation to return the same data after save, let me look into that.

[2016-08-04 17:28] AdSchellevis commented on #1109
@pv2b https://github.com/opnsense/core/commit/214d92c39f76a6eadafbef6f7d8ce18f2762c3d2 should improve the current situation. Do you have time to do some additional testing.

[2016-08-04 18:06] nemesix29 opened #1113 "GUI "Firewall: Aliases" fail to add host alias with underscore in Alias"
Can't add Alias within alias with underscore in name of them.

It's work fine without underscore

![2016-08-04 19_51_50-view _ aliases _ firewall _ nh-fw01 nexxx us](https://cloud.githubusercontent.com/assets/15220591/17412772/bd4709e0-5a7e-11e6-9d50-7bbe27b65201.png)

[2016-08-04 18:09] fichtner commented on #1113
Hi there,

Underscores are forbidden in the host name specification:

https://en.wikipedia.org/wiki/Hostname#Restrictions_on_valid_host_names

Or is there something I'm not seeing?

Cheers,
Franco

[2016-08-04 18:13] #1113 closed

[2016-08-04 18:14] AdSchellevis commented on #1113
@fichtner alias nesting should work, is_domain() is valid for most alias names :)

[2016-08-04 18:26] juliocbc opened #1114 "NanoBSD Upgrade - pkg: write(): No space left on device"
While attempting to upgrade from **16.7.RC1** to **16.7.1** the following error is appearing:

pkg: write(): No space left on device

I've corrected this issue creating a symbolic link from `/var/cache/pkg`  to `/root/var/cache/pkg`

[2016-08-04 18:29] fichtner commented on #1113
ah ok sorry, nice catch!

[2016-08-04 18:30] fichtner commented on #1114
This was actually fixed in RC2 :)

https://github.com/opnsense/changelog/blob/master/doc/16.7.r2#L27

Code here:

https://github.com/opnsense/core/commit/51b04e9b0aa98850ce90df84d3f4a523da7c2ae8

Cheers,
Franco

[2016-08-04 18:30] #1114 closed

[2016-08-04 18:35] juliocbc commented on #1114
Thanks Fichtner!

I've posted in forum (hope that helps someone)
[](https://forum.opnsense.org/index.php?topic=3489.0)

[2016-08-04 19:02] AdSchellevis commented on #1105
@andreas-p https://github.com/opnsense/core/commit/c68ca487689e7a77c9358737f742839f7c881d35 should do the trick, if you have time to test, you can install the patch using:

`opnsense-patch c68ca48`

[2016-08-04 22:50] L1ghtn1ng opened #1115 "openVPN bug"
[code]

on 16.7.1
cc @fichtner

[2016-08-05 05:22] fichtner commented on #1115
Hi Jay,

"/sbin/ip" is a Linux binary that we don't execute, so this is OpenVPN itself. It fails to set something on the other side, I don't know if it's a syntax thing or misconfigured...

Cheers,
Franco

[2016-08-05 06:07] fichtner opened #1116 "interfaces: downloading large capture file can fail"
PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate 163533832 bytes) in Unknown on line 0

(from a crash report)

[2016-08-05 06:11] fichtner opened #1117 "intrusion detection: missing argument"
Hi Ad,

I'm recording this in multiple crash reports since at least 16.1.19. You probably know what to do. :)

    PHP Warning:  Missing argument 1 for OPNsense\IDS\Api\SettingsController::getRuleInfoAction() in /usr/local/opnsense/mvc/app/controllers/OPNsense/IDS/Api/SettingsController.php on line 153
    PHP Notice:  Undefined variable: sid in /usr/local/opnsense/mvc/app/controllers/OPNsense/IDS

[2016-08-05 06:13] AdSchellevis commented on #1117
@fichtner I will try to look at it this weekend.

[2016-08-05 06:28] fichtner opened #1118 "system: faulty certificate import throws crash report instead of giving user error?"
Unfortunately, nobody attached a message on how to reproduce this:

[code]

[2016-08-05 07:47] andreas-p commented on #1105
Yes, works as expected, thanks!

[2016-08-05 07:48] fbrendel commented on #1051
Hmm, either you are on holiday, very busy or the netgraph idea is absolutely nonsense ;-)

Ok, then back to ftp-proxy.

- Can / should it be a plugin?
I think no, because it's not possible to add the needed anchors dynamically. They are hard coded in filter.inc.

- Should we enable this per interface?
Also no, because ftp-proxy binds to an IP address not to an interface. And this is more flexible.

[2016-08-05 07:48] fichtner commented on #1105
Jolly good, thanks! :)

[2016-08-05 07:48] #1105 closed

[2016-08-05 08:05] fichtner commented on #1111
There is a file /var/log/installer/mtree.log -- can you share it with us? It might give an indication on whether or not files were copied / broken.

[2016-08-05 10:01] Woi commented on #1111
This is the `mtree.log` from the second installation. I had to append `.txt` because GitHub wouldn't accept the file otherwise
[mtree.log.txt](https://github.com/opnsense/core/files/403547/mtree.log.txt)

[2016-08-05 13:47] fichtner commented on #1111
All the GUI files were installed correctly, it only lists the files that changed for one reason or another and these few look ok :(

[2016-08-05 14:00] Woi commented on #1111
I made a surprising and weird observation:
After connecting one of the boxes to my local network (with internet access) to run `pkg install -f opnsense`, everything looked fine, even without invoking `pkg`. I then took the second box and checked the layout again, which was broken as expected. After connecting the second box to the LAN and reloading the items in question, the layout was ok again.
I

[2016-08-05 14:02] fichtner commented on #1111
What VM and network type were you using? VirtuaBox and Host-Only network?

[2016-08-05 14:11] Woi commented on #1111
Bare metal on APU2. Direct wire to a notebook for configuration. Connection to LAN was made using a wifi client.

[2016-08-05 15:09] fichtner commented on #1111
I can't reproduce this at all. Serial amd64 install, had a laptop with no firefox installed... installed it, unplugged internet, plugged LAN for APU2 which has stock 16.7 and no WAN. All pages are working as expected. This was on FreeBSD 10.3 / Firefox 47.0.1.

Is this 16.7 or maybe RC1/RC2?

[2016-08-05 16:31] fabianfrz commented on #1115
@L1ghtn1ng It may help if you post the "push" commands from the configuration file - maybe there is something wrong with them.

[2016-08-05 17:22] L1ghtn1ng commented on #1115
https://www.kirkg.us/posts/building-an-openvpn-server-with-opnsense/ this is what I used and it worked fine on 16.1 series but I did ever so slightly change what it said and yeah I can do that just not sure where to look on freebsd, still new to BSD

[2016-08-05 17:27] fichtner commented on #1115
An upgrade to the Linux host on the other side could easily cause that. It's definitely on the Linux remote side, not the BSD side

[2016-08-05 17:28] fichtner commented on #1115
Unless of course OpenVPN tries to run /sbin/ip on BSD, which is obviously not so useful :D

[2016-08-05 17:38] #1116 closed

[2016-08-05 17:41] fichtner commented on #1116
@AdSchellevis neato, thanks!

[2016-08-05 17:42] L1ghtn1ng commented on #1115
Where is the file to show the config of it?

[2016-08-05 18:23] willjones opened #1120 "feature request: collectd plugin"
As we now have collectd available from the default repo would someone like to make this pluggable.

We use it for remote monitoring of opnsense boxes that I do not have direct access to, imagine they are behind someone else network that permits outbound connections but not inbound, we use the graphite plugin to send stats back to a remote server without needing to worry about a VPN tunnel.

Collec

[2016-08-05 22:00] blogmotion opened #1121 "Missing OrganizationalUnit (CSR)"
Hello, I use wildcard certificate *.domain.com and I need to generate my CSR to send to the CA and they give me signed certificate.

In System > Certificate Manager > Certificates > Add > Create A Certificate Signing Request, but the "OU=" (Organizational Unit) is not present, and it's a mandotory field with my athority.

Is it possible to add the "OU" field ?
thank you for the fix!

regards

[2016-08-06 07:25] #1117 closed

[2016-08-06 12:42] L1ghtn1ng commented on #1117
Is this going to be cherry picked for 16.7.2?

[2016-08-07 13:39] fichtner commented on #1117
@L1ghtn1ng It's only from rare cases and does not seem to effect overall operation, yet since the patches are small they will likely be picked up for 16.7.2

[2016-08-07 13:40] fichtner commented on #1120
Will, thanks for the details. Can we please take this to https://github.com/opnsense/plugins instead before we get into further discussion? :)

[2016-08-07 13:53] L1ghtn1ng commented on #1117
Okay thanks

[2016-08-07 16:10] #1121 closed

[2016-08-07 16:13] AdSchellevis commented on #1121
@blogmotion just added the field and logic, if you want to try this on 16.7.1, you can easily patch your version using:

`opnsense-patch  3973a6c`

(from the command line)

[2016-08-07 16:15] #1094 closed

[2016-08-07 16:51] #1087 closed

[2016-08-07 16:53] AdSchellevis commented on #1084
timeout

[2016-08-07 16:53] #1084 closed

[2016-08-07 17:24] pv2b opened #1122 "base_layout missing template for tables of objects"
Hi!

I've been working on a new plugin, and it would seem that base_layout it missing a template for a list of objects. I've been looking through how the existing plugins do it, and they all seem to be re-inventing the same wheel, of setting up a HTML table (this ought to be possible to generate from a template given a field in the model or a layout parameter selecting appropriate headers for the

[2016-08-07 17:35] pv2b opened #1123 "Certain common API method implementations ought to be in base class?"
Hi!

I'm seeing a lot of boiler plate when implementing API controllers, such as a lot of logic in the getAction() and setAction() methods. This may be abstractable into a common base class or perhaps as traits.

Here's some example of boiler plate code that has to be repeated a lot (from the https://docs.opnsense.org/development/examples/helloworld.html example):

[code]

Things that have to be d

[2016-08-07 17:51] AdSchellevis commented on #1122
There's certainly room for improvement in the grid system, although defining the table doesn't have to be a bad idea in general. Bootgrid offers quite some layout features.

Defining a new meta model + template might be a good idea, although there are some challenges to make this work for all current implementations (endpoint definitions, glue to edit form content, etc).
UIBootgrid is a bit of a w

[2016-08-07 17:54] pv2b commented on #1122
As an example, let's say that I want to re-implement the VLAN code in the new style.

I need to be able to manage a list of VLANs, add new ones, remove old ones, etc. There should be some way for me to just get some basic scaffolding in to create a grid of these, given the columns I want to see.

The IDS does this for example in several places, such as the rules and user defined and tab, and I gue

[2016-08-07 18:16] AdSchellevis commented on #1122
Actually both IDS and the shaper use the same pattern, where the shaper is more or less what your add/remove/edit vlan probably should do.
The most basic pattern should probably be easy to wrap in a template.

We could add a grid definition, like we have for the input forms with the necessary endpoints and fields (/formats) in them. That would simplify the frontend template.
If we store the endpoi

[2016-08-07 18:30] fichtner commented on #1122
I also think the easier pattern should be implemented first, later extended / adapted to replace the other tables (if needed or indeed possible). A lot of list that we have are simple rows with labels and action buttons so this will go a long way.

[2016-08-08 10:15] Woi commented on #1111
I'm using 16.7 release, of course.
I did three reinstalls to reproduce the bug, but without success. Since I used a freshly created thumb drive for testing, I'm suspecting something went wrong while writing the installation media the first time. But it remains weird.
However, enough time has been wasted, thus I'm closing this bug. Thanks for your support and sorry for wasting your time.

[2016-08-08 10:15] #1111 closed

[2016-08-08 10:41] AdSchellevis commented on #851
ok, it looks like pkg 1.8 fixed our issue here

[2016-08-08 10:41] #851 closed

[2016-08-08 12:24] fichtner commented on #1098
Seems to have been a bug on lighttpd 1.4.40. Cannot even reproduce API problems. ACL works as intended.

[2016-08-08 12:24] #1098 closed

[2016-08-08 17:06] fichtner commented on #1072
First batch went in as 710f00e84

[2016-08-08 20:41] blogmotion commented on #1121
Thank you, it works !

[2016-08-08 20:51] fichtner commented on #18
I think we will focus on #1072 via SSH, adding a remote config import on top. Thoughts? :)

[2016-08-08 21:30] mmoll commented on #18
I'm unsure... How "unattended"  is that?

[2016-08-08 21:54] fichtner commented on #18
Good question. It wouldn't be a full unattended installation per se. It would, however solve a few issues raised here to get somewhere with this feature request in the long run:

* preconfigured network access during install media boot
* a yet to be derived way to load remote custom configs prior to install
* run automated scripts over ssh

[2016-08-08 22:11] #1072 closed

[2016-08-09 00:37] mikejuni commented on #1103
Looks like now FreeBSD does not have the necessary APIs to support this. There is no libcap in both base and ports. This is really a setback as it would greatly reduce attack vector although StrongSwan has a rather nice historical record in terms of patching vulnerabilities.

[2016-08-09 11:54] reetp opened #1128 "ipsec default negotiation"
Opnsense16.7

I was setting up a ipsec tunnel. In the documentation you correctly note that 'aggressive' mode for the Negotiation Mode is insecure, but 'Aggressive' seems the default choice. It would be better to set it to Main Mode

Seems that a change is required in

/usr/local/www/vpn_ipsec_phase1.php

At 126 change to:

$pconfig['mode'] = "main"

[2016-08-09 17:50] #1128 closed

[2016-08-09 17:51] AdSchellevis commented on #1128
@reetp your right, thanks!

[2016-08-09 22:11] reetp opened #1129 "Intrusion Detection description ambiguities"
This follows:
https://github.com/opnsense/core/issues/239
https://github.com/opnsense/core/issues/991

I was messing with IDS and it took me a while to figure out how to get it to work.

I was trying to select All, Download & Install.

The problem is that you have to select the box next to Description and then scroll down and click the lower righthand 'checked' box which looks like a check box but

[2016-08-10 17:53] kevemueller opened #1130 "Remote logging source interface option ineffective"
The UI allows to set the source address to bind syslogd against. This is very useful if e.g. you log via IPSEC and need to use the right tunnel endpoint source.
The configuration item is properly built into the invocation command line of syslogd in system.inc/system_syslogd_start, but is not effective.
system_syslogd_start checks at the end if syslogd is running (isvalidpid), if yes, it merely sen

[2016-08-11 10:42] fichtner opened #1131 "firewall: "ipprotocol" and "inet46" audit"
It seems that:
- No ipprotocol set means IPv4 (inet)
- all IP traffic is explicitly written as inet46 (but really inet and inet6)
- IPv4 as is (inet)
- IPv6 as is (inet6)

And that those rules are not fully adhered to by parts of the system.

[2016-08-11 14:55] reetp opened #1132 "Group Status Missing Tier items"
I have a gateway Group as follows

WAN1 = Tier 1
WAN2 = Tier 1
WAN3 = Tier 2

When I go to Group Status it shows :
Tier 1 	  WAN2_DHCP, Online
Tier 2 	  WAN3_DHCP, Online

Tier 1 should have an extra line to show WAN1

I have had a look in the code and can see where it is displayed from here:

/usr/local/www/status_gateway_groups.php

But despite multiple print & echo statements I cannot see where

[2016-08-11 15:54] fichtner commented on #1052
More trouble with adv_dhcp_config_file_override set but dhcp_config_file_override_path not set. Need to reproduce.

[2016-08-11 15:56] reetp commented on #1132
[Status_gateways.txt](https://github.com/opnsense/core/files/413634/Status_gateways.txt)

I have starred where it gets to Priorities but there is no WAN1 present. Hope that helps.

[2016-08-12 05:44] #1052 closed

[2016-08-12 09:15] reetp commented on #1132
As an addendum to this, if I disable a gateway the status shows as 'gathering data' when it should show 'disabled' or similar.

[2016-08-12 14:19] AdSchellevis commented on #864
core model tests are included now, add field types as we go (on modify)

[2016-08-12 14:19] #864 closed

[2016-08-13 12:14] fichtner commented on #1130
agreed, I'll see what we can do :)

[2016-08-13 18:23] pv2b opened #1136 "PHP errors in API calls end up breaking the output"
Hi.

If you have a PHP error when you call an API call, it goes straight out and intermingles with the JSON output. This ends up breaking JSON parsing and is generally annoying, especially when it comes out *before* the JSON output.

[2016-08-13 18:40] fichtner commented on #1136
Sounds reasonable. display_errors should be turned off for the API, as long as the messages still make it to the log file (either the one we have or a different one, whatever makes more sense?).

[2016-08-13 19:34] pv2b opened #1137 "VLAN Hardware offload settings implemented in the wrong place"
Right now, VLAN hardware offload is implemented in interface_vlan_configure here: https://github.com/opnsense/core/blob/master/src/etc/inc/interfaces.inc#L260

It sounds like the right place, but it's not. If you inspect what the code is actually doing, it's looking at the _physical_ interface under the VLAN interface, and settings the settings on the physical interface. In case of a VLAN on top o

[2016-08-13 20:15] pv2b commented on #1137
Here's a fairly innocent refactoring that should make this easier to move:

https://github.com/pv2b/core/commit/0c94271ffcdcfb359b20d952596c8a2313e5cb74

I'm not exactly sure where this should go. I'd need to iterate over all physical interfaces. Is that even possible, or do I have to factor out the old code of iterating over the physical interfaces by looking at the vlan config?

[2016-08-13 20:49] pv2b commented on #904
I'm a big fan of ZFS, but I wonder if it's really the correct solution for an embedded system like OPNsense. Perhaps UFS snapshots might be worth considering for this?

Also, you'd have to consider that you're going to write your disk full if you keep writing to a disk with a snapshot on it, no matter what filesystem you use. That means that log files need to go on a different partition which is n

[2016-08-14 05:57] pv2b commented on #1137
After sleeping on it overnight, perhaps the correct solution might be to create another module that deals with "interface tweaks" to be merged in before any new VLAN code. The module would permit the user to tweak settings such as VLAN hardware offload, but also settings like hardware TCP checksum offload, TSO, etc. I'd have to inventory any places settings like this are exposed (if any).

[2016-08-14 06:22] pv2b commented on #904
After investigating the UFS option, it would seem it's not usable in this scenario. UFS snapshots do not have the functionality to "roll back" a filesystem. You'd end up having to copy all the changed files back onto the main filesystem, taking up twice the change space in the meantime. You'd also need to do this pre-boot.

A better approach might be something akin to what the pfSense nanobsd vers

[2016-08-14 07:55] pv2b commented on #904
I just happened to run across this project: https://github.com/freqlabs/nbd-init

This may be worth looking at in order to provide a pre-boot environment that allows image switching.

[2016-08-14 09:22] pv2b commented on #1137
I have started work on extracting out system_advanced_network.php. It looks fairly straight-forward to do all of this in the same place. I'll need this in place before I can integrate VLAN code. This will happen on the (slightly mislabeled) https://github.com/pv2b/core/tree/vlan-hardware-offload-refactor branch.

[2016-08-14 12:22] pv2b opened #1138 "Dropdown not populated with options"
I'm attempting to add a dropdown to one of my forms, and it appears that I'm either missing something, or the functionality is broken.

In order to illustrate what I'm trying to do without lots of irrelevant code, I've attempted to add a field to a fork of the helloworld module, as per this commit: https://github.com/pv2b/plugins/commit/f10d4e26a66588e4864a0b1700d93fdcbcfe45c6

Expected result: A

[2016-08-14 12:28] pv2b opened #1139 "Single-interface OPNsense box defaults to single LAN interface rather than a single WAN interface"
When installing OPNsense to a new VM with a single NIC, that single NIC is assigned to the LAN interface.

This is not a configuration that is possible to set up using the interface assignment on the console, since it mandates a WAN to be set before a LAN. A single-interface OPNsense box therefore properly should have only a LAN.

Issue https://github.com/opnsense/core/issues/1082 may have this as

[2016-08-14 12:31] AdSchellevis commented on #1136
it should throw the errors (most of the time they point to actual issues), report back in json and log the traceback.
https://github.com/opnsense/core/commit/9ed6406bdc8786e7d280a101ac652dc4b76c3b77 should fix this to the proper behaviour.

[2016-08-14 12:31] #1136 closed

[2016-08-14 12:33] AdSchellevis commented on #1109
@pv2b have you tested the fix and can you close this issue?

[2016-08-14 12:51] AdSchellevis commented on #1138
@pv2b see https://github.com/opnsense/core/blob/16.7.1/src/opnsense/mvc/app/views/OPNsense/Proxy/index.volt#L38

Your frontend component (selectpicker) requires a refresh after load.

Maybe its better to move this kind of questions to the forum / irc, they pollute our actual workload too much.

[2016-08-14 12:51] #1138 closed

[2016-08-14 13:55] pv2b commented on #1109
Hi!

I just tested this now, and I cannot provoke any "wrong" behavior through either the original test case nor with some more fuzzing.

[2016-08-14 13:55] #1109 closed

[2016-08-14 14:05] L1ghtn1ng commented on #1115
Okay so I think we should rename this ticket to "OpenVPN wizard does not provide a working VPN"

As the wizard should provide a working VPN in my opinion, thoughts?

[2016-08-14 15:24] AdSchellevis commented on #1109
@pv2b thanks for testing!

[2016-08-14 18:38] fichtner commented on #1139
I don't follow. You can skip WAN setup by hitting enter. You can also skip LAN setup although it's not very useful. :)

[2016-08-14 18:39] fichtner commented on #1082
Closing to be reopened when reproducible :)

[2016-08-14 18:39] #1082 closed

[2016-08-14 18:40] pv2b commented on #1139
Seems like I'm mistaken, sorry for the spam.

[2016-08-14 18:40] #1139 closed

[2016-08-14 18:44] fichtner commented on #1139
No worries 👍

[2016-08-15 07:26] AdSchellevis commented on #1102
@mikejuni do you have any feedback on your testing?

[2016-08-15 07:34] fichtner opened #1141 "dashboard: some widgets do not refresh"
E.g.: services status, ipsec status, ...

[2016-08-15 17:45] #700 closed

[2016-08-15 17:48] fraenki commented on #904
I don't see why this should be an issue. We're talking about very small boot devices and I'm using USB/SD bootable disks for some time now on ZFS with no issues. Keeping snapshots for several releases does not consume a lot disk space in this case:

[code]

[2016-08-15 19:40] fichtner commented on #904
People will use pretty big hardware in larger networks, RAM is cheap and plenty in amd64... In general there is nothing wrong with ZFS except that it needs to work get properly done.

UFS and embedded is trickier, but NanoBSD two-slice is old school and has proven to be of no particular interest in the time we started using it with OPNsense 15.1. The second slice has been dormant, unused, and the

[2016-08-15 19:49] fraenki commented on #904
Yes, that's exactly my use-case. Currently running all OPNsense boxes on amd64 hardware.

I agree that ZFS may not be the right approach on embedded systems. Maybe we should just focus on amd64 as the scope of this issue for now.

[2016-08-15 22:18] tapper82 commented on #905
Don't know if this is any use to you in the improvement of the ui for people usint screenreaders but hope it helps.

When building interfaces, it is important to also consider those who can only use a keyboard to use your products. This is a basic accessibility need, and in most cases it isn’t hard to allow for a basic keyboard access. It means first and foremost using keyboard accessible elements

[2016-08-16 08:56] fabianfrz opened #1142 "[BUG] Browsers seem to send the post parameters twice so the checkbox does not lose selection"
https://forum.opnsense.org/index.php?topic=3536.0;topicseen

I changed the value of the checkbox and this is what has been sent in the POST request:
![screenshot_20160816_104450](https://cloud.githubusercontent.com/assets/3713914/17693477/5f3fc74a-639f-11e6-9bb6-32397881f99e.png)

As you can see, the field no_private_reverse is sent twice and the first one does not have the change I did with fireb

[2016-08-16 19:20] fichtner opened #1143 "ipsec: consistent use of "phase 1" and "phase 2" in text"

[2016-08-16 19:43] #1142 closed

[2016-08-18 06:47] fichtner opened #1144 "system: admin group user should have all privs, but shell is missing"
That, or change the name to "GUI Admin".

[2016-08-18 06:48] fichtner commented on #990
/usr/local/etc/sudoers.d/ seems perfect to make this finally happen :)

[2016-08-18 10:05] rmx-it opened #1145 "WLAN: AP with two SSID's not fully working"
Hi,
I'm currently using opnsense 16.7 on a APU.2C4 and a Ubiquiti SR71-E (atheros CS) WLAN Card.
Implementing one (ath0_wlan1) interface is working fine.
Now I want to achieve two or three different SSID's (Normal, Kids  and guest net) with different
network segments for different ip-filter-rules...
So I started implementing two WLAN interfaces (ath0_wlan1 and ath0_wlan2) and still only the first

[2016-08-18 10:12] rmx-it opened #1146 "ADSL (WAN: PPPoE) time based forced disconnect possible?"
Hi,
is it possible in opnsense 16.7 to implement an cronjob to do the forced disconnect at a given time?
I'd prefer to do the disconnect outside of the working hours...

Greetings
...
Mike

[2016-08-18 10:56] fichtner commented on #1145
Hey Mike,

On first glance it looks ok according to:

https://lists.freebsd.org/pipermail/freebsd-wireless/2015-January/005345.html

Does the second WiFi work when the first one is deactivated?

Cheers,
Franco

[2016-08-18 11:00] fichtner commented on #1146
Hi Mike,

There is a interface reset target for Cron. Right now it's missing a way to gracefully select the interface instead of hardcoding it. Bigger issue is the disconnect: reconnect/reconfigure is the normal use case, but in this case it sounds like t's not an on-demand connection and/or there is no idle time set in the interface settings?

Cheers,
Franco

[2016-08-18 11:33] rmx-it commented on #1145
Hi,
ok after disabling the first interface (WLAN1) I have still two interfaces in the OS:

    ath0_wlan1: flags=8802<BROADCAST,SIMPLEX,MULTICAST> metric 0 mtu 1500
        ether 00:15:6d:85:e3:00
        inet6 fe80::215:6dff:fe85:e300%ath0_wlan1 prefixlen 64 tentative scopeid 0x9
        nd6 options=21<PERFORMNUD,AUTO_LINKLOCAL>
        media: IEEE 802.11 Wireless Ethernet autoselect mode 11ng <h

[2016-08-19 06:18] #990 closed

[2016-08-19 06:27] #1144 closed

[2016-08-19 10:39] fichtner commented on #471
New feature(s) to be added: make the current configuration the factory reset configuration + reset the factory reset configuration to the default configuration (confusing but useful)

[2016-08-19 11:17] AdSchellevis commented on #1104
note to self : try https://fonts.google.com/specimen/PT+Sans;

[2016-08-19 12:40] AdSchellevis opened #1147 "openvpn + TOTP? Forced renegotiation every hour (disconnect)"
https://forum.opnsense.org/index.php?topic=3555

[2016-08-19 15:00] rmx-it commented on #1146
Hi,
all I want is to stay (nearly) allways on and to do the forced reconnect during night time.

In former times I used mpd5 directly and enabled the webconsole:

    ....
    set user admin <Passwd> admin
    set web self 127.0.0.1 5006
    set web open
    ....

Then one could use curl to gracefully manage the PPPoE connections:

To close:

    curl "http://admin:<Passwd>@localhost:5006/cmd?link

[2016-08-19 15:04] fichtner commented on #1146
Yes, the "interface reset" cron job (system: settings: cron) will do that for you. The only thing you need to add is the interface name from the config entry (unique internal identifier: wan, lan, opt1, etc.)

[2016-08-19 18:16] rmx-it commented on #1146
Hi,
I'll try.

Thanks!

Greetings
...
Mike

[2016-08-20 08:59] rmx-it commented on #1146
Hi,
yes. Seems to work.

Thanks!

Greetings
...
Mike

[2016-08-20 08:59] #1146 closed

[2016-08-20 13:51] m4rcu5 opened #1148 "WoL widget link does not prefill interface"
Hi,

On the dashboard, there is an WoL widget. In this widget, there is an "wake up" button, which seems to link to the Wake on Lan page, including the MAC and interface for the device you'd like to wake up.
The link seems correct, '/services_wol.php?mac=00:11:22:33:44:55&if=lan', however if you end up on the page, the dropdown still has the WAN interface pre-selected instead on LAN.

Same is vali

[2016-08-20 18:11] fabianfrz commented on #1148
@AdSchellevis https://github.com/opnsense/core/blob/224b5d82477759731e79f2e5123525ce6683177c/src/www/services_wol.php#L40 seems to be POST only

[2016-08-20 18:21] m4rcu5 commented on #1148
@fabianfrz The magic for the autofill seems to be at line 173, the magic for the mac address at line 188 does seem to work as expected.

[2016-08-21 09:53] AdSchellevis commented on #1148
@m4rcu5 can you try this https://github.com/opnsense/core/commit/0441cf4cb8c00846c9315413010122801d8b3a79 ? on my end it already worked, but the additional call to link_interface_to_bridge() seems very odd here.

[2016-08-21 10:43] pv2b opened #1149 "Validation of proxy model breaks OPNsense-devel on LAN-less OPNsense deployments"
Hi.

My dev box is currently set up with a single WAN interface. This is an unusual but not illegal configuration.

Ever since f3aed56978d9dc9a8526de3b02b9e2ab8354c380, which causes migrations to run on the proxy code, this breaks a make upgrade, with output like this:

[code]

The forward.interfaces in the exception above refers to the proxy model.

In proxy.xml, forward.interface defaults to lan

[2016-08-21 10:45] m4rcu5 commented on #1148
Works like a charm @AdSchellevis !

[2016-08-21 12:31] AdSchellevis commented on #1148
@m4rcu5 thanks for testing!

[2016-08-21 12:31] #1148 closed

[2016-08-21 14:19] enoch85 opened #1151 "[Firewall] Add ruleset for SMB ports"
Would be nice to be able to choose SMB ports in the TCP/IP ruleset, ports: 137,138,139 and 445.

Would that be possible to add?

[2016-08-21 15:30] fichtner commented on #1151
You're Looking for a port alias? Should be working as expected after defining it under Firewall: Aliases

[2016-08-21 17:51] AdSchellevis commented on #1104
https://github.com/adobe-fonts/source-sans-pro/releases/tag/2.020R-ro/1.075R-it should improve cyrillic support without changing our defaults. I tried the suggested PT Sans font, but rather keep our defaults like they are now for non cyrillic users.

[2016-08-21 17:51] #1104 closed

[2016-08-21 18:09] #1149 closed

[2016-08-21 18:11] AdSchellevis commented on #1149
@pv2b thanks for reporting, the issue is in the defaults, it should skip saving now.

[2016-08-21 18:35] fichtner commented on #1104
Looks good as far as I can tell, thanks!

[2016-08-21 21:04] enoch85 commented on #1151
Yes, that was it. But still, would be nice to have included in the pre-defined rules. :)

[2016-08-22 05:50] fichtner commented on #1108
Will close this, the additions package does not fit our requirements of a light dependency trail.

[2016-08-22 06:27] #1068 closed

[2016-08-22 06:32] fichtner commented on #1151
The name-based selection in the ports comes from the known system ports, but they are single port descriptions. The aggregations are port aliases, and for them to show up we'd have to include them into the default config.xml, which only materialises for new users with 17.7 image installs.

The issue is not having them there in the first place, but wanting others in as well, and as soon as one desc

[2016-08-22 06:32] #1151 closed

[2016-08-22 06:46] #957 closed

[2016-08-22 07:02] fichtner commented on #957
FWIW, the default route is still added even on reboot when the gateway was disabled, at least for IPv4 DHCP. I suspect IPv6 auto-config modes to do the same...

[2016-08-22 08:31] enoch85 commented on #1151
Makes sense.

[2016-08-22 12:19] andreas-p opened #1152 "openldap-sasl-client conflicts with FreeBSD openldap-client"
On 16.7.2, I've been trying to install openldap-server from FreeBSD, which will install openldap-client as well. Unfortunately, the latter will conflict with openldap-sasl-client, proposing to remove php56-ldap and opnsense; we don't want that...
I guess it's php56-ldap that should depend on openldap-sasl-client OR openldap-client.

[2016-08-22 12:22] fichtner commented on #1152
This won't fix. The FreeBSD default is to exclude cyrus-sasl, but we'll need it for SSO.

I can add the openldap server to our package build list instead?

[2016-08-22 12:35] andreas-p commented on #1152
That would probably help (could be openldap-sasl-server, I've seen this package name when googling the openldap-.*client problem).

[2016-08-22 12:52] AdSchellevis commented on #1097
@fichtner we could add some glue to "switch" the config file that is used for the model system, but we can't have two open at the same time for comparison (the model uses a singleton).

So this kind of sequence could work in theory:
1. switch to temp config.xml
2. read model from temp (model reads singleton)
3. switch back to normal config.xml
4. save in memory model to disk (which is now the norm

[2016-08-22 12:58] fichtner commented on #1097
1-3 under a critical section would be enough, returning the arbitrary file's "$config" for further inspection (or reassign to $config itself), never switching away from the actual running config. It's only about using the config loader code that's there in the first place without changing the running config. Does that make sense?

[2016-08-22 15:19] AdSchellevis commented on #1097
discussed on irc, only wrap fromArray() to an arbitrary config.xml file

[2016-08-22 16:37] #1106 closed

[2016-08-22 17:39] AdSchellevis commented on #272
https://github.com/opnsense/core/commit/dee4efb3adb4ad0f3fe0b6c04f458f4d17e0b2f1

[2016-08-22 17:39] #272 closed

[2016-08-22 18:26] #1097 closed

[2016-08-22 18:27] AdSchellevis commented on #1097
@fichtner to load xml config into a new array(), using the same structure as $config, use:
[code]

[2016-08-23 05:50] #471 closed

[2016-08-23 06:53] fichtner opened #1153 "slowness of dyndns updates?"

[2016-08-23 07:00] fichtner commented on #1097
Works like a charm, many thanks!

[2016-08-23 08:16] fichtner commented on #1115
I can't say that the wizard works under all conditions because it's hard to verify. We should focus on a setup that doesn't work starting by gathering the steps to reproduce through the wizard. Ok?

[2016-08-23 08:45] willjones commented on #1120
Moved to  :  https://github.com/opnsense/plugins/issues/33

[2016-08-23 08:45] #1120 closed

[2016-08-23 11:09] L1ghtn1ng commented on #1115
Yeah will try setting it up again tonight and will make notes

[2016-08-23 12:05] andreas-p commented on #988
I have a new observation about this issue: it happens only if the FW is accessed via a rule on the WAN interface (WAN-IP:https -> localhost:https) , if the WAN interface is not connected to the internet directly but cascaded over another firewall (using a private IP transfer net; I don't maintain myself).

Usually, my browser should propose the user name when /index.php is shown, but the proposal

[2016-08-24 05:38] fichtner commented on #988
The first issue sounds like the session ID is lost, I don't know if it's scrubbed or what else happens in the network. A proxy setup could interfere as well. It's difficult to say. There is no apparent or quick fix. Digging through the 16.1.8 to 16.1.14 change logs did not reveal any obvious things.

Worst case this is induced by changed behaviour in PHP itself, although I doubt this as there have

[2016-08-24 05:48] fichtner opened #1154 "openvpn: make "username-as-common-name" opt-out"
Hi Ad,

I'm assigning this for discussion, you'd know best how to integrate this. What do you think?

https://forum.opnsense.org/index.php?topic=3562.0

Cheers,
Franco

[2016-08-24 05:54] AdSchellevis commented on #1154
@fichtner I have to read into it, but you may assign it to me. As soon as I can find a spare moment I will look into it.

[2016-08-24 05:55] fichtner commented on #1154
@AdSchellevis ok, we already did the use case and verification in the forum, all the info is there

[2016-08-24 19:34] fichtner commented on #1075
Even swanctl utility hangs from time to time on my setups, I think this is still part of an upstream issue.

[2016-08-25 14:20] #1154 closed

[2016-08-25 14:46] AdSchellevis commented on #1132
@reetp can you try https://github.com/opnsense/core/commit/342337f35af733fa9aa089daf647f0a868beac72?

`
opnsense-patch 342337f35
`

[2016-08-25 15:07] AdSchellevis commented on #1129
@reetp Putting the multiselect on top and left sounds like a good idea (https://github.com/opnsense/core/commit/4b3a556b795876cc8acf5d2f19dd53d276541b4e).

How and when to update is described in the docs https://docs.opnsense.org/manual/how-tos/ips-feodo.html .

[2016-08-25 15:15] reetp commented on #1132
Hi, yes I can but I binned my last test install. I'll try and spin one up again in the morning.

Do you want me to test on 16.7 or 17.x ?

[2016-08-25 15:19] AdSchellevis commented on #1132
it should work on both, I don't think there are a lot of other changes in that area which aren't in 16.7 yet

[2016-08-25 15:22] reetp commented on #1132
OK. Leave me with it.

[2016-08-26 12:44] reetp commented on #1129
Still not sure this is the right fix.

I just want to:

Select a number of rules, or all of them and then enable them

Select a number of rules, or all of them and then disable them

It should be much simpler with just one set of select boxes and an indicator of enabled/disabled. Click the box, download and install/enable. Uncheck box and apply. Disable.

The Select/Deselect box lower right should

[2016-08-26 12:49] fichtner commented on #1129
@reetp As it is it's difficult to figure out what it does and why some checkboxes behave differently. The on/off checkbox items that trigger the actual on/off (right side checkboxes for each rule and the bottom/top ones) shouldn't look like checkboxes. Maybe that will help?

[2016-08-26 13:23] reetp commented on #1129
Yup - confuses me :-) Not trying to be awkward, and I understand that sometimes you get so used to it that it seems obvious.

I think there has to be some clear distinction for sure.

Multi select and multi disable/enable should either ALL go at the top or ALL at the bottom... currently you have a multi select top left, then Disbable/Enable selected which are not really clear lower right (and are

[2016-08-26 14:11] fichtner commented on #1129
A good start, but still a bit of a POLA violation with the downloaded twist and logic inversion.

I just saw that the info button also lets you activate and deactivate the entry, so how about:

1. Remove each entry's toggle checkbox in favour of a simple visual queue that the rule is disabled, e.g. greyed out and a text label in the last updated column: "not in use".

2. Leave the multi-select as

[2016-08-26 14:36] reetp commented on #1129
LOL. I gave it a shot at being simple just as idea. I am no coder...... certainly sounds worth a try for sure. Now I have a box running again I can give it a whirl (love the opnsense-patch tool)

Also need to check Ads gateway monitoring fix but out of time now as I have to go wine tasting .......

If I can try over the weekend I will, if not back at work Tuesday

[2016-08-26 14:39] fichtner commented on #1129
Hey John,

Bottoms up! or whatever they say during a fancy wine tasting. I'll get this done till Tuesday.

Cheers,
Franco

[2016-08-27 16:34] AdSchellevis commented on #1071
I think its the default behaviour of https://silviomoreto.github.io/bootstrap-select/ this issue
https://github.com/opnsense/core/issues/773 is related, but without changing the internals of bootstrap-select.js I can't find a way to fix this styling.

[2016-08-27 17:03] #1045 closed

[2016-08-27 17:04] AdSchellevis commented on #1045
@gitdevmod I've added an "update-only" field for you, you need these two commits to test https://github.com/opnsense/core/commit/5c09fbdf4371582716ae603996775bef1200a97d https://github.com/opnsense/core/commit/c6fdfee89a4fd3512fc20d477bca73993690f6e0

[2016-08-27 18:00] onitake commented on #637
Please reopen this bug, I'm running OPNsense 16.7.2 and I have exactly the same problem as described.

Your workaround (running /var/etc/rtsold_[...].sh directly) fixes it temporarily, but it's not possible to get persistent IPv6 PD.

I even tried to replicate the (working) configuration I had back in pfSense, but to no avail. No DHCPv6 client is started and no DHCPv6 packets are sent.

[2016-08-28 09:08] fichtner commented on #637
@onitake have you tried the "Directly send SOLICIT" option in your WAN configuration?

[2016-08-28 10:37] fichtner opened #1156 "convert_config() call sites in the MVC migration era"
The call sites for convert_config() are off, being called once on bootup or on backup restore (uploaded file only). This could be folded into write_config() and/or must be aligned with the call sites of /usr/local/opnsense/mvc/script/run_migrations.php

[2016-08-28 13:39] fichtner commented on #1152
openldap-sasl-server package will be available when 16.7.3 is out :)

[2016-08-28 13:39] #1152 closed

[2016-08-28 14:09] AdSchellevis commented on #1030
This https://github.com/opnsense/core/blob/master/src/www/system_authservers.php#L475-L612 including read/write config data needs to be wrapped into getConfigurationOptions() first to be able to inherit from the LDAP connector. I'll keep it on the list, but don't have the time to fix this now. The actual connect should be easy.

[2016-08-28 17:06] fichtner opened #1157 "plugins: ipsec and openvpn need to be brushed up still"
As discussed with @AdSchellevis the OpenVPN interface plugin code should check wether there is a non-disabled OpenVPN in the network.

For IPsec it's worse as we have to traverse phase 1 for enabled entries, then traverse through phase 2 to find enabled entries....

Unfortunately, this also requires to wrap change all callers of "write_config();" to "plugins_interfaces(false); write_config();" as

[2016-08-28 21:45] reetp commented on #1132
That looks better.

Only issue is if I pull a connection physically status_gateways.php correctly reports 'Offline' but status_gateway_groups.php show the same Gateway 'gathering data'

Screen shots attached I hope

![gatewaystatus](https://cloud.githubusercontent.com/assets/3800384/18036973/14c17fac-6d71-11e6-946b-393f409f2f80.png)
![groupstatus](https://cloud.githubusercontent.com/assets/3800384

[2016-08-28 23:50] onitake commented on #637
Hmm. Interesting. This works. I was sure I tried this before though?
Looks like it just took some time to get that lease.
dhcp6c is being started now, and it propagates the configured prefix to the LAN.

Ok. That part is sorted out. Next up, I'm not getting any return traffic for the delegated network. I can see the packets being sent out through the WAN, but there is nothing in response. Doesn't

[2016-08-29 05:15] fichtner opened #1158 "write_config() descriptions passed should not translate"
This is related to log_error() changes: syslog should align in all languages to make troubleshooting easier. The config system does not offer a lot of write reasons and they are more of a diagnostic note anyway.

[2016-08-29 05:16] fichtner commented on #1157
Improved write_config() to align with other plugin functions https://github.com/opnsense/core/commit/1d73b3b59de355b3f34e102fabe5c5aea865abc6

[2016-08-29 06:23] AdSchellevis commented on #1157
@fichtner looks good, probably the easiest way to fix this.

[2016-08-29 06:42] AdSchellevis commented on #1132
Hi John,

Looks like another bug on the same page ;( can you try this commit https://github.com/opnsense/core/commit/f8b187990805594e2562cd5bb5636930a633a173 ?

` opnsense-patch f8b187990
`

Thanks,

Ad

[2016-08-29 06:49] #1157 closed

[2016-08-29 07:25] #1158 closed

[2016-08-29 07:42] reetp commented on #1132
They all seem to have 'Gathering Data' now despite all being connected !

If I disconnect one, they stay as Gathering Data'

Not fixed !

[2016-08-29 08:08] AdSchellevis commented on #1132
It seems like I missed a spot there, return_gateways_status() uses two different return types... confusing.

Can you try?

`opnsense-patch f3f36924b8
`

[2016-08-29 09:16] reetp commented on #1132
That seems to fix it !

One comment is that it doesn't show 'Gathering Data' whilst it tries to ping before it works out that the Gateway is offline. If I pull a connection you wait for 30-40 secs with it showing Online, and then it goes straight to Offline.

Don't know whether this is worth looking at but just so you are aware.

[2016-08-29 09:17] reetp commented on #1132
![gatewaystatus](https://cloud.githubusercontent.com/assets/3800384/18046864/cc6d7452-6dd1-11e6-859c-d9e24865dd4f.png)

![groupstatus](https://cloud.githubusercontent.com/assets/3800384/18046865/cfdda6f2-6dd1-11e6-9078-079515042a3b.png)

[2016-08-29 09:31] AdSchellevis commented on #1132
Hi John,

Thanks for testing, we'll leave the little glitch in the status transition in there for now.

Best regards,

Ad

[2016-08-29 09:31] #1132 closed

[2016-08-29 09:32] reetp commented on #1132
Nope problems and thanks for fixing it.

Agree the transition issue is not a biggy.

B. Rgds
John

[2016-08-29 09:36] fichtner commented on #1132
FTR: The transition is caused by the monitoring tool using "packet loss" as the transition state and the page is ignoring it. I think the widget does handle it more transparently. Generally, that is correct, it just looks odd and could be expanded in the future. :)

[2016-08-29 11:28] reetp commented on #1132
Indeed. Should be a low status bug or NFR. But it isn't that important to worry about fixing right now.

[2016-08-29 17:04] fichtner commented on #637
@onitake so far so good :)

Can you open a new ticket? It's better to start fresh with some more info: When / how was it working, which versions specifically and whether or not there is any indication in the firewall logs for dropped traffic or packet captures on WAN (don't have to share, only look into for return traffic).

[2016-08-29 23:40] ccesario commented on #617
@fichtner @fabianfrz  Look this, [https://www.youtube.com/watch?v=_tqQxSwUpuI](url)

It is in pt_BR but it is easy to understand. The preview of this suggested feature.

[2016-08-30 06:55] onitake commented on #637
I can, however, the initial symptoms pointed to the same bug as described here. (and thus, the fix not doing what it should)
I'm still a bit suspicious if what I'm seeing now is not a stale lease that was stored and reused. That would explain the lack of incoming traffic. I will investigate further and open a new issue once I've collected some data.

[2016-08-30 11:34] fabianfrz commented on #617
@fichtner @ccesario  This looks like a table in pf where the captive portal injects an ip address when the user authenticates on the captive portal. The table is used as the source in the pf rule.

[2016-08-31 05:46] fichtner opened #1161 "openvpn: csc is missing tunnel_networkv6"
Hi Ad,

I found this while cleaning up some strings for the translation. Looks like it should be added?

Cheers,
Franco

[2016-08-31 06:46] fichtner commented on #1129
I've started on this... the idea is to get rid of the single row toggle buttons while retaining the visual queue of enabled/disabled which I am not capable off. Giving this back to @AdSchellevis.

[2016-08-31 09:52] andreas-p opened #1162 "Check package dependencies when upgrading"
Recently, opnsense had a new dependency added; requiring the package openldap-sasl-client in 16.7.2. This package will replace openldap-client (from FreeBSD repository), but unfortunately will not satisfy openldap-server's dependency on openldap-client. Ultimately, this was fixed quickly (as usual :-) by introducing openldap-sasl-server to the opnsense repository (16.7.3), which made things work a

[2016-08-31 10:00] reetp commented on #1129
Yes, I tried fiddling with it and made a very big mess :-)

[2016-08-31 11:57] fichtner commented on #1162
This happens atomically during "pkg upgrade" and in such cases pkg will not let us know up front what it'll do. It did sometimes remove the GUI package during testing, that's the least bit of fun. ;)

If you want your custom packages to persist please lock then from the packages tab, but it will likely break your firmware upgrades in such cases and/or cause undefined behaviour in general. We try t

[2016-08-31 18:37] fichtner opened #1163 "Uncaught type error"
Hi Ad,

Attached is a type error from the infamous and rare firmware page glitches...

<img width="784" alt="screen shot 2016-08-30 at 9 41 14 am" src="https://cloud.githubusercontent.com/assets/1915288/18141624/8b515c8c-6fba-11e6-899f-bf942a686a17.png">

It's not super important, but it could potentially stall the progress window. I guess this is in the default volt template? Does a simple guard

[2016-08-31 18:47] reetp opened #1164 "Move Routing under Interfaces"
NFR - only cosmetic but I find that after messing with Interfaces I keep going back to Routes, and then Interfaces again.

To me it would be more logical to have a 'Networking' tab, with Interfaces and Routing grouped together as they are inextricably interlinked.

Not sure it is the perfect solution but just a thought.....

[2016-08-31 18:49] reetp commented on #1141
What do you want help with ??

[2016-08-31 19:00] fichtner commented on #1141
@reetp it should be fairly simple to get these plugins to poll their status. assembling a full list of non-updating widgets would help too :)

[2016-08-31 19:01] reetp commented on #1141
Still working ? :-)

I'll take a look if I get 5 minutes without the world nagging me.... and a mates Proxmox disaster area to sort out.....

[2016-08-31 19:02] fichtner commented on #1164
Gateways and Routes needs to be merged into something else, I agree. "Networking" is nice, but some interface aspects don't feel completely right just yet as they'd have to move there too.

[2016-08-31 19:03] fichtner commented on #1164
(tagged this feature as it will require more shuffling and page tweaks to get there)

[2016-08-31 19:04] fichtner commented on #1141
never working :)

good luck, this here isn't all that important. we went years without it.

[2016-08-31 19:40] reetp commented on #1115
First thing is where does the log come from ? The 'linux' box or the 'Opnsense' box ?
Here's a pointer to the issue: https://forums.openvpn.net/viewtopic.php?t=17440
Which end is client and which is server ?
Unfortunately I have no idea where opnsense stores its openvpn configs - usually in linux it would be something like /etc/openvpn/somplace - but it would be useful to find out and view them

[2016-08-31 19:40] reetp commented on #1164
:-)

[2016-08-31 21:29] gitdevmod opened #1165 "Illegal option -B on boot opnsense-devel"
Hi,

I updated opnsense-devel to 17.1.a_277 (amd64/OpenSSL) And I'm seeing this on boot:
![capture d ecran 2016-08-31 a 23 25 06](https://cloud.githubusercontent.com/assets/2040775/18146929/9dbf5a50-6fd2-11e6-8b44-4d06bff818e5.png)

[2016-08-31 21:39] fichtner commented on #1165
Work in progress. This area of opnsense-update is still under development. For now the error is intended and only on -devel. :)

[2016-08-31 21:39] #1165 closed

[2016-08-31 22:09] gitdevmod commented on #1165
ok, thanks!

[2016-09-01 07:08] fichtner commented on #1165
These stubs will prevent the message from appearing in 16.7.4 even when the work isn't finished:

https://github.com/opnsense/update/commit/275cc86ab05a8d361782efda98535544bfc7f85e

[2016-09-01 14:00] MYSense opened #1166 "Multi WAN + Captive Portal not working"
Guys,

I am running on OPNsense 16.1.18-i386. I am not able to get Captive Portal to work on a Multi-WAN scenario. Captive Portal works fine if there is no policy based routing applied to the default LAN rule. As soon as I set a Gateway Group, Captive Portal fails to show, though I still get internet.

The 'ipfw' rules fail to apply when gateway group is set.

I have posted in the forum as well. P

[2016-09-01 14:34] L1ghtn1ng commented on #1166
You should be running 16.7 and see if you have that issue on that version as 16.1 is not supported anymore

[2016-09-01 15:18] srijannandi commented on #1166
Upgraded to OPNsense 16.7.3-i386, still facing the same issue.

[2016-09-01 17:18] AdSchellevis commented on #1166
@srijannandi just tried it on my end and can confirm it doesn't work. Looks like a kernel issue. Found this online from some time ago https://lists.freebsd.org/pipermail/freebsd-pf/2010-July/005739.html , not sure if its related, there doesn't seem to be a quick fix.

[2016-09-01 23:04] labor4 opened #1167 "Bridge device not fully up after reboot"
Hi
I'm not sure if this is a bug, cause I'm no 100% expert, so please be easy on me.

I experience the bridge device not being fully up after each reboot.

i did:
- enable PORT 1, dont configure.
- enable PORT 2, dont configure
- create Bridge with PORT 1+2, and configure it with an IP.

have I understood something very wrong here?
I didn't look at the Bridge advanced settings, though.

when I go

[2016-09-02 05:22] fichtner commented on #1167
Hi manu,

Bugs like that have popped up now and then, this could be one so don't worry.

I did, however, assume a log of things:

1. OPNsense updasted to 16.7.3.
2. PORT 1 enabled meaning assigned a physical port as an interface OPT1, enabling it but not putting any IP configuration in there.
3. Same as above for PORT 2 as OPT2.
4. Added a bridge based on PORT 1 and PORT 2.
5. Assigned the bridge

[2016-09-02 06:31] labor4 commented on #1167
Hi Franco

Yes exactly, I wasnt aware of the assign step anymore. but yes.
I cannot reboot right now, though, so i cannot check the fresh ifconfig command.

m

[2016-09-02 07:39] fichtner opened #1168 "www: wrap all header("Location: ...") calls with url_safe()"
We want to wrap all these redirects, even though some may not even have arguments to append to. They may have some day, it's better to have url_safe in there already to prevent future breakage.

    # git grep -i "[^a-zA-Z]header(.lo" | wc -l
         43

While there, also anchor all redirects with "/".

[2016-09-02 08:13] srijannandi commented on #1166
Thanks, AD.

Do we have a sysctl setting to specify the order such as these:

sysctl net.inet.ip.pfil

net.inet.ip.pfil.inbound=pf, ipfw*
net.inet.ip.pfil.outbound=pf, ipfw*

Maybe this can keep the order fixed.

[2016-09-02 09:23] DrCitron commented on #719
Hi, i'm testing opnsense on xenserveur and this is already a probleme, i don't know if there is a solution for this problem.

[2016-09-02 13:42] ccesario opened #1169 "System: Access: Tester does not return group from user"
Hi,

Tester form does not return Group name of user when using Active Directory as Server

![ad_tester](https://cloud.githubusercontent.com/assets/1812609/18205704/cb057a58-70f9-11e6-838b-d0d0c71d18b0.png)

Versions	OPNsense 16.7.3-amd64
FreeBSD 10.3-RELEASE-p7
OpenSSL 1.0.2h 3 May 2016

[2016-09-02 14:57] fichtner opened #1170 "netflow log rotation parameters"
Hi Ad,

The current flowd log file is turned over 10 times for each 10 MB. In cases where this is larger traffic volume old data points may be lost when recreating the database, going into POLA violation territory because it's not obvious. What about making these two values configurable?

Or changing the defaults, or documenting them. Or something else entirely? :)

Cheers,
Franco

See: https://fo

[2016-09-02 18:59] AdSchellevis commented on #1170
Hi Franco,

I don't mind adding some configuration parameters for it, but this issue should only happen when you trash the full database and try to recreate it from its source (which may take quite some time if you increase this value).... Personally I haven't seen corruption on the more aggregated datasets only saw the 30 seconds average get corrupted beyond repair, although others can get damage

[2016-09-02 19:12] AdSchellevis commented on #1169
@ccesario did you import the user first and assign groups to it?

[2016-09-02 19:17] AdSchellevis commented on #1166
@srijannandi No (its not part of FreeBSD), but the loading order should be handled correctly by the rc script https://github.com/opnsense/core/blob/master/src/etc/rc.ipfw

[2016-09-02 19:35] ccesario commented on #1169
@AdSchellevis not. I really did not see it. Where can I do it!?

[2016-09-02 20:53] AdSchellevis commented on #1169
@ccesario no problem, you should see a cloud symbol in the system -> access -> user screen on the right bottom of the screen. You can import users into the OPNsense configuration, which you can then assign groups and rights.

[2016-09-02 23:38] ccesario commented on #1169
@AdSchellevis well, I think that the cloud synbol does not appear in my system.

look this

![image](https://cloud.githubusercontent.com/assets/1812609/18220909/232b7540-714d-11e6-8fd8-ba5bc6169046.png)

[2016-09-03 06:20] AdSchellevis commented on #1169
ah, I see. it only appears if ldap (/AD) is used as authentication option for the UI. This is handled in the settings (2 menu items below).

[2016-09-03 16:25] srijannandi commented on #1166
AD,

Is the correct order PF and then IPFW?

Because, if I set default as gateway in the LAN to any rule. I have ipfw process the packet first which then pass it to pf. That's how the captive portal appears for authentication. Once authentication is done, it goes to pf for processing.

As soon as I set gateway group in LAN, this breaks and ipfw does not come into picture, and pf sends the packets

[2016-09-04 12:43] AdSchellevis commented on #1166
yes, the current order is correct (ipfw loaded before pf), its likely a bug in combination with route-to.
Using ipfw in combination with pf sometimes provides provides some headaches (like the loading order).
In case you want to dig in the code, these two areas might be of interest:

https://github.com/opnsense/src/blob/master/sys/netpfil/pf/pf.c#L5459
https://github.com/opnsense/src/blob/master/s

[2016-09-04 17:25] Pimmal commented on #1169
The same problem is here on my side: Tester form does not return Group name of user when using Active Directory as Server

[2016-09-04 17:33] AdSchellevis commented on #1169
Groups are only supported if LDAP (/AD) is used as authentication for the webgui, System -> Access -> Settings, then choose your server. Next import users into the configuration.
There currently are no other services which make use of groups.

[2016-09-04 18:40] Pimmal commented on #1169
The Users are created in AD, were i have to import the users?
If i have to import the users then AD auth makes no sense.

[2016-09-05 06:23] AdSchellevis commented on #1169
If you want to assign rights within OPNsense, you need to import users,  if you just want to use the connector (e.g. openvpn, ipsec), you don't need to assign privileges and therefore don't need to import the users into the firewall (and hence don't need the assigned groups either).
LDAP (/AD) is used for authentication only, authorisation is handled within the product itself.

For reference, the

[2016-09-05 08:22] AdSchellevis commented on #1161
@fichtner I don't have the time to test, but according to the man page it should work like this https://github.com/opnsense/core/commit/9dfee192dd28946f724d88f5c772fb54cb2d5fd5

[2016-09-05 08:29] reetp opened #1172 "NAT Port forward cannot assign rule to multiple interfaces"
This follows my post here
https://forum.opnsense.org/index.php?topic=3621.0

With a standard firewall rule you can assign it to multiple interfaces but when you create a NAT port forward you have to create a rule per interface.

I have 2 WAN interfaces and have a number of rules that apply to both interfaces and it is time consuming to set them up individually.

Is it possible to have a Multi Assi

[2016-09-05 09:12] AdSchellevis commented on #1172
Hi John, you should be able to add an interface group and assign your combined rules to that. Can you test that?
Interfaces -> Other types -> Group

[2016-09-05 09:41] reetp commented on #1172
Hi Ad, yes I can do that :-)

It is a bit 'illogical' in that you can multi select in a normal FW rule but you cannot do that in NAT rules. It is not consistent.

As a result you do not then look at 'Groups' as you do not realise they are there or their relevance.

I also note you can  even add a 'group' in the multi select as well which is confusing as well - is it right I can select WAN1, WAN2,

[2016-09-05 09:49] #1163 closed

[2016-09-05 10:00] AdSchellevis commented on #1172
Hi John,

Floating rules are a left over from pfSense, I agree it would be better to only have one concept here (combine with groups)... but then again, we're not living in the ideal world. removing some functionality will be hard because of the number of people already using this as it is.

A lot can be solved with documentation, you could always volunteer for improving that.

[2016-09-05 10:28] reetp commented on #1172
No problems... this is effectively an 'Improvement' I guess. It isn't broken - just needs some better explanation and some 'tidying' eventually.

Happy to help with docs if required - just let me know how.

[2016-09-05 10:42] AdSchellevis commented on #1172
Help is always welcome :) If you write documentation about a subject we can add it to our documentation set. For more info about contributing, see https://docs.opnsense.org/contribute.html

When you're working on a particular section, just let us know, so we avoid working on the same topic.

[2016-09-05 10:50] reetp commented on #1172
LOL:-) OK. See what I can cook up on the subject

[2016-09-05 11:01] reetp opened #1173 "Inconsistent use of rule + button"
Just noticed something.

I was looking to add a rule. I kept looking for the + button in the middle of the screen which is where it is when there are no rules.

Once you have created a rule the button switches to lower right and loses the help tag.

It's cosmetic as I know it works - just frustrating when you are learning your way round and things do not appear where you expect them. You start thi

[2016-09-05 11:08] AdSchellevis commented on #1173
Hi John,

Can you please use our forum for discussions (https://forum.opnsense.org/ )? Too many questions in our issue tracker make it quite difficult to prioritize the actual work.
Through the rest of our interface all actions are at the bottom right of the grid, the note is only an extra (which some people find quite useful).

Cheers,

Ad

[2016-09-05 11:20] reetp commented on #1173
I'm not really asking a question but pointing out a flaw in the UI....
I can talk about it all you want in the forums but would it get changed (which personally I think it should be) ? I agree the note is useful, but the button position is inconsistent.

[2016-09-05 11:25] AdSchellevis commented on #1173
ok, what is your proposal here then?

[2016-09-05 12:25] #1018 closed

[2016-09-05 12:38] reetp commented on #1173
Something like this for every rule on every page so you have the consistent + button to the right.

Don't make the + in the centre message a link - you always have to click the button at right to add a rule.

![message](https://cloud.githubusercontent.com/assets/3800384/18247383/82219602-7372-11e6-8f4a-35d2e2eb6b88.png)

This is a very rough stab at hacking the code - I can't quite get the columns

[2016-09-05 12:41] reetp commented on #1173
More like this

![newrule](https://cloud.githubusercontent.com/assets/3800384/18248124/cf5798e6-7376-11e6-862c-89b95bfdb88a.png)

[2016-09-05 13:03] AdSchellevis commented on #1173
To be honest, we might as well ditch the "Click the +..." completely if we move it over to the same area.... We're not trying to explain other grids in the system either.
How about leaving it like it was and un-hide the bottom row?

[2016-09-05 13:03] Pimmal commented on #1169
But it makes no sense to create the users in opnsense localy, i use the AD auth to administrate the opnsense admins in AD, like in pfsense. There all users with the AD Groups pfsense-admin have access to the admin features. I would prefere to do the same in opnsense, if this is not possible then i have to use the non stable pfsenseproduct.

[2016-09-05 13:19] AdSchellevis commented on #1169
You could write your own scripting to synchronize users between the two (or sponsor the feature). We don't supply scripting for this at the moment.
The hook pfSense has to query the groups from within the authentication request won't make it to OPNsense (architectural choice). Synchronisation could reach a similar behaviour.

[2016-09-05 13:44] reetp commented on #1173
Yup - does it for me if it is easier. Let me know if you have a patch to want me to try.

[2016-09-05 14:12] AdSchellevis commented on #1173
ok, here it is https://github.com/opnsense/core/commit/9503d722d95f6c697e43779d6a980b6bb737b008

[2016-09-05 14:54] reetp commented on #1173
Looks good :-) Personally I'd keep the nice little + icon as an indicator but lose the clickable URL.  You are trying to push people to use one button in the same place and be consistent.

But it looks more sensible now.

[2016-09-05 16:29] AdSchellevis commented on #1173
ok, I don't have a preference here, so let's stick to your plan and change it for " Click the [+] button to add a new rule. ". I will close the issue on commit.

[2016-09-05 16:30] #1173 closed

[2016-09-06 12:08] Strykar opened #1174 "Feature: RADIUS support for IPsec authentication, authorization and accounting"
strongSwan supports RADIUS for authentication, authorization and CoA.
OPNsense supports external RADIUS servers, letting strongSwan use this for authentication and accounting would be great.

strongSwan also supports DAE -
The Dynamic Authorization Extension allows a RADIUS backend to actively terminate a session using a Disconnect-Request, or change the timeout of a session using a Session-Timeou

[2016-09-06 13:51] andreas-p opened #1175 "All traffic on WAN network blocked"
I'm having trouble pinging my new firewalls on the WAN side. Pinging the other (carp backup) firewall doesn't respond, neigher does any service on the firewall if the client is located directly in the WAN network.

If I edit rules.debug and remove the reply-to clause from
_pass  in  quick  on $WAN reply-to ( <WLAN-GW>) inet proto icmp  from any to any keep state_, traffic starts to go through. App

[2016-09-06 17:16] AdSchellevis commented on #1175
@andreas-p you can set "disable reply-to" in the advanced section of the firewall rules.

[2016-09-06 19:40] AdSchellevis commented on #1169
@jschellevis added documentation https://docs.opnsense.org/manual/how-tos/user-ldap.html

[2016-09-06 19:40] #1169 closed

[2016-09-07 06:32] andreas-p commented on #1175
Right, there's the option (did expect a "none" gateway option). Now I'm able to add another rule _Allow ICMP for WAN net to WAN net without reply-to_, and this actually works (with some restrictions).
BUT:
I still think there's something wrong. When allowing _ICMP any to any_, I'd expect this to work, reply-to defined or not. Since it's the same subnet, there's no gateway affected (actually, since

[2016-09-07 10:56] Strykar opened #1176 "Unable to add sites via console to "/usr/local/etc/squid/nobumpsites.acl""
White-listing a long list of sites and entering it directly in to `/usr/local/etc/squid/nobumpsites.acl` is ignored. Could this be allowed instead of entering 1 site at a time via the web interface in to the `SSL no bump sites` list at `/ui/proxy/#subtab_proxy-forward-general` which takes an inordinately long time for a long list.

[2016-09-07 10:59] Strykar opened #1177 "Keeping 2 dashboards open in Microsoft Edge overnight consumes 12GB RAM"
Keeping just 2 tabs with 2 OPNSense dashboards over night had MS Edge consume 12 GB of RAM and would've climbed had the machine not started to swap and killed other applications.

They each had 12 dashboard widgets running. I'm unsure how to help troubleshoot this issue.

[2016-09-07 13:44] fabianfrz opened #1178 "Translation issues in interfaces.php"
This range is unclear (configuration directives instead of normal language) - it should be changed to be understandable by users:
https://github.com/opnsense/core/blob/master/src/www/interfaces.php#L2564-L2630

This should be kept together in the gettext call:
https://github.com/opnsense/core/blob/master/src/www/interfaces.php#L2683

[2016-09-07 17:34] AdSchellevis commented on #1176
You can paste a comma separated list in the input box, like :

`wwww.sitea.com,wwww.siteb.com,wwww.sitec.com`

You cannot edit the the nobump file manually (won't be supported either), if you would like to manually hack into squid, you can however use custom hooks https://github.com/opnsense/core/issues/802

[2016-09-07 17:49] AdSchellevis commented on #1175
its not a bug, it will send the packet to the next router, if that one reflects it back into the same net (which most won't do) it will work. pfs has a lot of kernel patches which breaks standard functionality, this might as well be another one.
You can either disable this functionality, or add an additional rule for the network on your wan.

Can you please move discussions on how functionality wo

[2016-09-07 18:18] andreas-p commented on #1175
Ok if this is by design... Still think it's odd to redirect traffic in the very same network which obviously doesn't need routing hops.

[2016-09-07 18:18] #1175 closed

[2016-09-08 04:49] Strykar commented on #1176
Thanks for clearing that up. Perhaps that could be made clear in the tool tip. https://github.com/opnsense/core/pull/1179

[2016-09-08 04:49] #1176 closed

[2016-09-08 04:51] Strykar commented on #1177
This seems to be a bigger issue with Edge than IE (11.545.10586)
Leaving a single tab in IE open for 14 hours increased RAM consumption for IE from 162MB to 235MB.

I will test some more with Firefox & Chrome and all addons disabled.

[2016-09-09 14:11] AdSchellevis opened #1180 "Sysctl not set when module not loaded yet (bridging)"
collected from crash report:
______
I set The system Tunable:
net.link.bridge.pfil_member to 0 for Bridging.
After reboot, Bridging is not working.
Tunable is still 0 but I have to edit and save it again to enable bridging.
______

Which is a result from using bridging as a module, which isn't loaded at the time sysctl is set.
Two options come to my mind, up for debate what the proper fix is/shoul

[2016-09-13 20:43] gitdevmod opened #1181 "Unable to delete user if french is selected"
If language french is selected, the delete user button does not display pop up for yes or no.
OPNsense 17.1.a_277-amd64
FreeBSD 10.3-RELEASE-p7
OpenSSL 1.0.2h 3 May 2016

[2016-09-13 22:58] fichtner commented on #1181
JavaScript breaks with French translation likely. Following string needs a html_safe() wrapped around:

gettext("Do you really want to delete this user?")

Not at home so can't fix but should be easy :)

[2016-09-14 07:20] mikejuni commented on #1103
Hi, just re-open it to let you know that I've tested setting `user = nobody` in `/usr/local/etc/strongswan.d/charon.conf` and it can drop privilege. I am using plain FreeBSD (may switch to HBSD soon) but I think it would apply here as well.
However, the catch is that this setup would only work if your FBSD / HBSD setup is a pure router setup with a default route pointing to the internet (in a road

[2016-09-14 08:25] fabianfrz commented on #1181
@fichtner it is possible to do changes via the GitHub website.

Is it this line? https://github.com/opnsense/core/blob/master/src/www/system_usermanager.php#L411

[2016-09-14 08:30] #1181 closed

[2016-09-14 12:03] andreasvel commented on #850
Its there again.. :-1:
on OPNsense 16.7.3-amd64

[2016-09-14 12:38] syserr0r opened #1182 "DNS Forwarder (DNSMASQ) does not listen to CARP IPv6 address unless 'ALL' is ticked"
When selecting specific interfaces for the DNS Forwarder to listen on, if one of them is a CARP/Virtual IPv6 address then this CARP/Virtual IPv6 interface does not respond to DNS requests.

Selecting 'ALL' interfaces to listen on allows the the DNS forwarder to respond on the CARP/Virtual IPv6 address.

[2016-09-14 12:39] syserr0r opened #1183 "DHCPv6 Advertisements (RADVD) does not start if told to listen on CARP ipv6 address"
DHCPv6 > Advertisements shows as 'stopped' and will not start if the 'RA Interface' is a CARP/Virtual IPv6 interface/address

Using the interface behind the CARP/Virtual IPv6 address works in the interim but means that a HA backup will still be advertising.

[2016-09-14 12:41] syserr0r opened #1184 "IPv6 CARP/Virtual IP does not support abbreviated notation"
Adding an IPv6 CARP Virtual IP such as `1:2:3::feed` appears to work but the interface does not appear to accept or respond to any packets.

Entering the IP as `1:2:3:0:0:0:0:feed` allows the virtual IP/interface to work as normal

[2016-09-14 12:42] syserr0r opened #1185 "PPPoE option dial-on-demand can not be enabled with a timeout of 0 (disabled)"
I'm not sure if intentional but the 'dial on demand' PPPoE option does not allow a timeout of 0 (GUI produces an error and doesn't allow saving).

Looking at the help text for the timeout option would suggest this should be acceptable.

Additionally entering a value of '00' bypasses the restriction (although I am unsure of the implications)

[2016-09-14 12:44] syserr0r commented on #1185
Note: The reason I was looking to do this was a PPPoE connection HA/CARP where the backup/idle connection would be 'disconnected' as no traffic would be going to it. When it becomes the master it would receive traffic and dial -- if there is a better way of doing this then please let me know.

[2016-09-14 18:02] AdSchellevis commented on #1185
@syserr0r the feature isn't intended for this scenario, but if it works for your case I have no big objection in removing the timeout validation here.

The mpd options are described here http://mpd.sourceforge.net/doc5/mpd28.html on-demand should interact with timeout, which is the trigger to disconnect to provide a "virtual full time" connection.

Another option could be to allow plugins on the c

[2016-09-14 18:05] syserr0r commented on #1185
Incidentally my CARP VIPs for the PPPoE interface don't show a status in the web UI but seem to function OK.

[2016-09-14 18:08] AdSchellevis commented on #1185
ok, lets remove the check here, it's not an invalid config according to mpd.

[2016-09-14 18:08] syserr0r commented on #1185
@AdSchellevis I would prefer to keep things in-UI and not have to script modifications (that might change between releases) as I don't have much time to commit to maintaining firewall modifications -- I was looking for OPNsense as a powerful firewall replacement, not really an alternative to running a *nix box with iptables etc.

[2016-09-14 18:11] AdSchellevis commented on #1185
@syserr0r I know, but sometimes you can't add an option for general use and simple scripts help in that case. If this option works for you, I'm certainly fine with it.
I've removed the check https://github.com/opnsense/core/commit/1ccf6b4527441d9a974978610bc1e98edb414c9f can you check and close the issue?

[2016-09-14 18:13] AdSchellevis commented on #1184
@syserr0r I don't have a test setup available at the moment, can you post some screenshots of ifconfig for both situations?

[2016-09-14 18:16] syserr0r commented on #1185
@AdSchellevis  I don't have a dev env (I should probably set one up) but that looks like it should resolve the issue. On the production system the timeout is set for 24hrs until this comes through.

[2016-09-14 18:28] syserr0r commented on #1184
I don't have access to the production set-up right now and as it's a remote site I don't want to break it if I can avoid it.

I might try and replicate at our offices if you still need?

[2016-09-14 18:40] AdSchellevis commented on #1184
sure, it might help tracking it down.

[2016-09-14 18:56] AdSchellevis commented on #1182
@syserr0r can you check the contents of /var/unbound/unbound.conf  ? I don't have a similar setup available, but my generated config seems to contain the correct data in it, something like :

# Interface IP(s) to bind to
interface: x.x.x.x
interface: y:y:y:y:y

Next thing to do is check the generated ACL, if your interface only has a vip in the same subnet, that might be your issue. Check the cont

[2016-09-15 09:55] AdSchellevis commented on #571
@fraenki just checked and tested https://github.com/opnsense/core/commit/2f8604874882a56c5a2bc0cea3588b09b9ef68a2 there's no need to wait as long as we implement the standards for carp/pfsync

[2016-09-15 09:55] #571 closed

[2016-09-15 11:41] AdSchellevis commented on #1185
@syserr0r ok, I'll close the issue then.

[2016-09-15 11:41] #1185 closed

[2016-09-15 11:57] AdSchellevis opened #1188 "netgraph, remove hooks"
I think we should remove the attach/detach hooks in the code, there doesn't seem to be a valid reason for detaching netgraph (other then a probably very minor performance gain).

When we do, we could trash the following functions, which moves us further to standards:
- interface_netgraph_needed
- legacy_netgraph_detach
- legacy_netgraph_attach

up for debate.

[2016-09-15 16:00] AdSchellevis commented on #1166
Just performed some additional testing, the problem is that the pfil ordering can't be correct for both dummynet (traffic shaper) and route-to / captive portal.

pfSense has added a kernel hack to adjust the pfil ordering, we do the same in our scripting.
To handle the traffic shaping correctly, we need to catch the traffic before NAT happens, which is what https://github.com/opnsense/core/blob/ma

[2016-09-15 17:25] fichtner commented on #1188
We can gladly strip them. I would wish that we could have a speed measurement though to verify the netgraph impact.

We could also try to improve the situation by making netgraph an on-demand load. I know that the netflow module already does that, MPD5 should be clever enough to do the rest for all multi-point connections. 😊

[2016-09-15 17:32] fichtner commented on #1166
I think a fix in FreeBSD will be sensible and possible due to the fact that pf(4) just doesn't adhere to packet filter chaining during route-to. The ipfw equivalent seems to work, which is used by the captive portal to redirect, isn't that right?

[2016-09-15 18:34] AdSchellevis commented on #1188
as soon as I can find some time, I will a simple test with and without, if the impact is low... strip all :)

[2016-09-15 18:43] fichtner commented on #1188
I will strip everything from the code tomorrow. This will also remove the infamous ngattach utility and the inherited kernel patch... In theory the same is possible with kldunload as the subsequent kldload will reattach all devices. But if the impact is small this doesn't matter and we end up with the longed-for standard netgraph setup after all. 😊

[2016-09-15 18:45] AdSchellevis commented on #1188
@fichtner great! thanks

[2016-09-16 05:42] AdSchellevis opened #1189 "Captive portal + transparant proxy can't be combined"
from https://forum.opnsense.org/index.php?topic=3670.msg12576#msg12576

It would be practical if we could tag the packets in ipfw, so we could skip mangling in pf. That would also solve https://github.com/opnsense/core/issues/1166

[2016-09-16 06:13] andreas-p commented on #795
Still can't create an IP alias on top of a CARP interface.

[2016-09-16 13:54] andreas-p opened #1190 "Unbound listen issues"
In order to have unbound listen on virtual IPs, it's not sufficient to select "ALL". Instead, each vip has to be selected individually.
The interfaces list misses localhost, so to have unbound listen on localhost again, I had to add interface: 127.0.0.0 in the custom section

[2016-09-17 08:12] ip6li opened #1191 "GRE Tunnel: Alias Address"
It seems there is no GUI supported way to add an alias address to a GRE interface.

Example from a Debian installation to explain problem:

[code]

This config builds a gre tunnel on Linux from 192.168.0.1 to 192.168.1.1 and assigns following IP addresses to GRE interface: 192.168.78.6 and fd00:7a0:1::16 so that GRE interface becomes usable for dual stack operation.

OPNsense GUI does not support

[2016-09-17 08:23] fichtner commented on #1191
Hi there,

Interesting, it seems that GRE wants an IPv4 in the Device setup, and doesn't allow an IPv4/IPv6 assignment from the interfaces. Judging by the use case this is not entirely about arbitrary aliases but the ability to assign an IPv6 address as well.

Firewall: Virtual IP may work in your case, too, but the GUI should not impose the restrictions as it does right now. I will queue this up

[2016-09-17 14:02] wokienl opened #1192 "Unbound writes an empty / line in access list and is not able to start"
Unbound writes an empty / line in access list and is not able to start

This happens when All is selected (default) in Services - DNS Resolver - General - Network Interfaces
![opnsense dns resolver slash](https://cloud.githubusercontent.com/assets/22257644/18608648/74f0f898-7cef-11e6-9876-d8db9cdb649e.png)

Release: OPNsense 16.7.3-amd64 with the latest updates.
Configuration:
- WAN interface ipv4

[2016-09-18 10:22] AdSchellevis commented on #1192
@wokienl can you try this commit? https://github.com/opnsense/core/commit/86996d7bf74d7eadcd0879d8edb5aa3d7f807b32

easy to try from you machine, using:

`opnsense-patch 86996d7b
`

[2016-09-18 13:39] wokienl commented on #1192
Great, it works now!

No '/' in the access list anymore and unbound is able to startup with the default setting of All network interfaces.

The patch is indeed very simple to apply.

[2016-09-18 13:39] #1192 closed

[2016-09-18 16:38] fichtner commented on #1161
Let's ship this with the larger updates of IPsec and OpenVPN (plugin capabilities) in 16.7.5, it doesn't break anything. Thanks! :)

[2016-09-18 16:38] #1161 closed

[2016-09-19 07:08] fichtner commented on #1177
This is a problem in the JavaScript of the dashboard. It duplicates https://github.com/opnsense/core/issues/1013 so I'm closing this one.

[2016-09-19 07:08] #1177 closed

[2016-09-19 11:25] wokienl opened #1193 "Two items are selected in webconfigurator reporting"
In the webconfigurator two items are selected, but just one is shown. I guess only one can be showed in the reporting screen, so it seems the orange selection color is not taken away from items which are selected before.  This seems to happen only once, after clicking around a few times the problem disappears.

OS: Windows 10
Chrome: Version 53.0.2785.116 m (64-bit)
Edge: 38.14393.0.0

![2016-09-1

[2016-09-19 12:23] rafaelcrocce opened #1194 "DHCP - Undefined Functions (system_dhcpleases_configure and services_dhcpleases_configure)"
Sometimes, there's an error showing of two undefined functions **system_dhcpleases_configure()** and **services_dhcpleases_configure()**.

The files which calls this functions are:
/usr/local/www/services_dhcp.php (services_dhcpleases_configure())
/usr/local/etc/inc/interfaces.inc (services_dhcpleases_configure())
/usr/local/etc/inc/services.inc (system_dhcpleases_configure())
/usr/local/etc/inc/x

[2016-09-19 12:25] fichtner commented on #1194
I'll check and add this to 16.7.4, thanks!

[2016-09-19 13:49] fichtner commented on #1194
No files in 16.7.3 have system_dhcpleases_configure() anymore, what version are you running? Direct paste from the dashboard version info would help the most. :)

[2016-09-20 21:05] neffs opened #1195 "Nano Image a little to large for certain SD cards"
I ordered a 4 GB pSLC SD Card from PC Engines for my APU2: http://www.pcengines.ch/sd4b.htm

Although its sold as 4GB its only almost 4GB. It is only 3.980.394.496 bytes, while the nano image is 3.999.997.952 bytes. (~20 MB difference)
Could the image be built a little bit smaller? It would help a lot!

Thanks!

[2016-09-21 07:33] fichtner commented on #1195
FreeBSD's NanoBSD code is already trying to be conservative with the size of "4 GB", but apparently not enough :)

We're planning to revamp the Nano bits to use as little space as possible (under 1 GB) and use growfs to adjust to the physically available size after the first boot. That's how FreeBSD's RPI images work at the moment.

I don't have an ETA on this, but it's in the roadmap for 17.1. If

[2016-09-21 11:04] syserr0r commented on #1182
It's the DNS forwarder (dnsmasq) not the DNS resolver (unbound) that I am having this issue with.

[2016-09-21 11:18] syserr0r opened #1196 "RADVD will not start when the RA interface is a VIP"
Works as normal when the RA interface is set to 'LAN'

[2016-09-21 11:27] syserr0r commented on #1196
Using the VIP /var/etc/radvd.conf looks like this:
[code]

Using LAN it looks like this:
[code]

Running radvd produces a syntax error for line 3 (lack of interface) when using the VIP config

[2016-09-21 11:44] syserr0r commented on #1184
I have just tried this again and it appears to be working with shortened notation although I haven't tried a restart yet (`ifconfig` produced identical results in both cases).

[2016-09-21 11:51] fichtner commented on #1167
( may be related to: https://github.com/opnsense/core/issues/1180 )

[2016-09-21 11:52] fichtner commented on #1107
not needed at this point

[2016-09-21 11:52] #1107 closed

[2016-09-21 15:33] fichtner commented on #1189
patch available, test builds soon

[2016-09-21 15:33] #1189 closed

[2016-09-21 15:35] fichtner commented on #1166
working patch available, test builds soon

[2016-09-21 15:35] #1166 closed

[2016-09-21 16:48] #1180 closed

[2016-09-21 16:49] fichtner commented on #1180
Option 2 was the better one. if_bridge would have landed there if ifconfig didn't load it when it needed it, but obviously this stuff needs more. Eventually, the kernel modules should move to rc.loader.d where we can load them before going into multi-user mode. :)

[2016-09-21 16:53] fichtner commented on #1167
Try this from the root shell when you have a moment to reboot:

# opnsense-patch 17b3374 && /usr/local/etc/rc.reboot

[2016-09-21 17:21] AdSchellevis commented on #1182
@syserr0r my mistake, can you try this patch https://github.com/opnsense/core/commit/52c78955b8156519ec79717472f3ae3560f012ff ?

`opnsense-patch 52c78955
`

[2016-09-21 18:29] AdSchellevis commented on #1184
@syserr0r ok, lets close this for now then and reopen if you have more info.

[2016-09-21 18:29] #1184 closed

[2016-09-21 19:14] fichtner opened #1197 "change password page in lobby should show QR code if available"
To distribute the QR code to users, it's not practical to hand the code to a normal user.

@AdSchellevis does this make sense?

via: https://forum.opnsense.org/index.php?topic=3638.0

[2016-09-22 05:44] AdSchellevis commented on #1197
@fichtner normally the token codes should be secret and only delivered one time to the user (also the reason why you can't read the secret back from the google app). Providing the user his secret using only username+password is generally not a very good idea.
I certainly don't want to make this a default, its not very safe.

[2016-09-22 05:50] fichtner commented on #1197
@AdSchellevis ok, but that generally puts OPNsense in a position where it can't do that. Maybe a (default off) authentication server settings should control this behaviour?

[2016-09-22 05:54] AdSchellevis commented on #1197
@fichtner then its probably more something for the "general settings", I don't mind if its off by default (although it should come with a warning). Normally tokens are kept at a very safe location, to put all in the same box we don't have that choice, but exposing the secret to the user is really not the intended method.

[2016-09-22 15:33] fichtner opened #1198 "netflow internal forward hardcoding"
Hi Ad,

Can we not extract 127.0.0.1 from netflow.conf too?

https://github.com/opnsense/core/blob/master/src/etc/rc.d/netflow#L113

There is a forum topic that talks of IPsec not being able to pick up Netflow traffic, probably because the routing is not in the SPD:

https://forum.opnsense.org/index.php?topic=3697

If that is fixed we could make the listen IP configurable from the GUI and e.g. mov

[2016-09-22 16:03] fichtner commented on #1189
Call for testing instructions here: https://forum.opnsense.org/index.php?topic=3704.0

[2016-09-22 16:03] fichtner commented on #1166
Call for testing instructions here: https://forum.opnsense.org/index.php?topic=3704.0

[2016-09-22 20:15] AdSchellevis commented on #1198
Hi Franco,

That won't make a difference, ng_netflow sends its data to 127.0.0.1:2055 which is captured by samplicate and forwarded to the hosts in the list.
You could try to make ng_netflow send its data to the other side but that would kill network insight.
ng_netflow only supports sending flows to a single host.

Cheers,

Ad

[2016-09-22 21:05] fichtner commented on #1198
@AdSchellevis which line sets 127.0.0.1 for ng_netflow, or is this only implied by the kernel module and cannot be changed?

[2016-09-23 04:59] fichtner commented on #1170
Upon further review this seems to work as intended if we can guarantee the log rotation to kick in, which seems to be the case with the database repair now. I will make a note in the GUI and close this.

[2016-09-23 05:15] #1170 closed

[2016-09-23 06:28] AdSchellevis commented on #1198
@fichtner this https://github.com/opnsense/core/blob/master/src/etc/rc.d/netflow#L93 , but like I said, you can't send it somewhere else and keep network insight alive.... it only supports one target. The user might switch to an external package for netflow capture, although if you can't forward the traffic to a host on the other side, that probably won't work too (will do the same as samplicate d

[2016-09-23 16:06] fichtner opened #1199 "firewall: pluggable rules are coming to town"
Our use case is the upcoming FTP-Proxy plugin :)

[code]

[2016-09-23 16:11] AdSchellevis commented on #1199
isn't this (partially) duplicate with https://github.com/opnsense/core/issues/993 ?

[2016-09-23 16:12] fichtner commented on #1199
yes, I got excited! close this one? I just wanted to dump the anchor/rules info.

[2016-09-23 16:16] AdSchellevis commented on #1199
I see :) if you're attached to this one, keep it :)

[2016-09-23 16:17] fichtner commented on #1199
the other one has a thumbs up, and you already linked it, so...

[2016-09-23 16:17] #1199 closed

[2016-09-24 05:08] fichtner commented on #1194
I haven't seen any crash reports since two stable versions, are you sure you're not running the development version 17.1.a? It had a few spots that weren't perfect for a while, but the whole DNS rework was merged to 16.7.2 without issues: https://github.com/opnsense/changelog/blob/master/doc/16.7.3#L36

[2016-09-24 05:14] fichtner commented on #1075
16.7.4 has been out for a while. I have several IPsec connections myself and no issues reported by other users.

16.7.5 will have a few more additions to IPsec, but all in all it's working well.

Anonymised screenshots say more than thousand words if the problem persists.

[2016-09-24 05:14] #1075 closed

[2016-09-24 05:15] fichtner commented on #1162
To reiterate: please lock the packages from the firmware GUI you want to keep, that's why we have these buttons. :)

[2016-09-24 05:15] #1162 closed

[2016-09-24 07:16] module0x90 commented on #995
I noticed pkill -HUP dnsmasq doesn't reload it's config really. Which other way is there to restart dnsmasq as my own provided config (repointing adservers and malwaredomains) is not loaded?

[2016-09-24 07:18] fichtner commented on #995
Get a proper feature in that's maintained via GUI? Let's start from the top... :)

[2016-09-24 07:26] module0x90 commented on #995
Oh. A feature where you can feed it a list of domain names pointing to an IP you choose, you mean? Something similar what's in a way done on the Proxy service section. I have tried that initially to download the lists... but then got stuck again.

[2016-09-24 12:57] fichtner commented on #631
@fabianfrz you can fix this now with a very simple rc.loader.d and a plugin :) see https://github.com/opnsense/plugins/commit/7ccea3e5a2ae

[code]

[2016-09-24 12:59] #631 closed

[2016-09-25 15:44] kevemueller opened #1200 "rc.sshd DSA host key"
rc.sshd does no longer generate a dsa host key, but OpenSSH still defaults to 4 different HostKeys when not specified otherwise. rc.sshd does not specify HostKeys, hence sshd still looks for ssh_host_dsa_key.
To reproduce:
Factory reset (which deletes an existing ssh_host_dsa_key)
sshd -T | grep hostkey
=> 4 default host keys are listed and an error message is displayed, that ssh_host_dsa_key cann