[2019-01-11 17:38] addy90 commented on #2800
Hi Michael,

yes this is indeed the right thing! I noticed that the order is also important, but you have it right with client first and then server. So this is the right thing!

Thank you!

Nevertheless, I was able to create such a certificate by myself via openssl and the exported CA, so I found a workaround, though it is a nasty one.

[2019-01-11 18:43] AdSchellevis commented on #3123
This looks related (or inflicted) by https://github.com/opnsense/core/issues/3024, feel free to assign me if this is the case.

[2019-01-11 21:31] fichtner commented on #3123
It goes back a while longer with a rework in inc/ code and that static code has no real iterator that is free of side effects. I think that merging static code and new models is not the way to go anymore although it looked nice to avoid migrations. It just creates bugs further down the road. :(

[2019-01-11 21:41] karl047 commented on #926
@fichtner : Thank you very much for ReOpening this Ticket.

I have to say firstly, that I have IPv6 disabled on my configuration at the point as I created the Bridge Interface, I mean no assigned static IPv6 address or over Track Interface to WAN is configured on this Interface.

in comparison with the other Interfaces, the Bridge Interface gets no IPv6 Link-Local as it is created, therefore IPv6

[2019-01-11 22:35] AdSchellevis commented on #3123
I’m afraid you’re right, it looked simple at first, but maybe complicated later on. In this case we’re stuck in this situation, but it’s likely fixable. I’ll take a look at it when I can.

[2019-01-12 08:44] lhorace commented on #3122
Alright, my gist about Freebsb, it seems ancient and fragile compared to Linux from reading the forums and ticket issues. Although, I haven't ran into issues myself, knock on wood.

[2019-01-12 08:44] #3122 closed

[2019-01-12 08:58] fichtner commented on #3122
You see, people only report what doesn't work when it doesn't work for whatever reason. It's complex networking world and no hardware or software is perfect. :)

[2019-01-12 11:50] fichtner commented on #3123
Maybe could drop invalid data from the model on migrations? It would fix itself on updates then...

The issue that caused this is: https://github.com/opnsense/core/blob/f6aaaa0b957e87703c6b04a2b8a51ed55e019ce7/src/etc/inc/util.inc#L1200

Damage is done so adding protection here won't be a good solution. :/

[code]

[2019-01-12 13:41] AdSchellevis commented on #3123
Dropping data has consequences too, I’ll have to look into it. The risk I see now is when a software update invalidates your model, you might loose connectivity in the worst case.
Let me het back on this, it should be possible to edit the illegal entry, which would make the issue a bit better, although I’m not sure what’s needed to fix that yet.

[2019-01-12 13:49] JasMan78 opened #3124 "Feature request: Option to enable logging for all firewall rules at once"
When the firewall ruleset becomes bigger and bigger, and you've found out that an client has access to something that it shouldn't have, it's sometimes difficult to find the rule which allowes the traffic.

In this case it would be great to have an switch, which enables the logging for all rules at once, to identify the rule which allowes the traffic.

[2019-01-13 08:34] opnsenseuser opened #3126 "Dashboard: Monit Widget 6 Columns pagination view problem"
![6columns_monit_widget](https://user-images.githubusercontent.com/34602360/51083209-6142d500-1716-11e9-9de0-1d37dfee7dc7.jpg)

fixed should look like this:
![fixed](https://user-images.githubusercontent.com/34602360/51083214-6d2e9700-1716-11e9-88ba-44d158c4c059.jpg)

[2019-01-13 08:52] fabianfrz commented on #3126
this is a dangerous css option but probably does what you expect (white-space: no-wrap):
https://www.w3schools.com/cssref/playit.asp?filename=playcss_white-space&preval=nowrap

[2019-01-13 08:57] opnsenseuser commented on #3126
@fabianfrz maybe it would be even better to take away the pagination and replace it with a scrollbar, if the list is longer than .... whatever!!

[2019-01-13 16:05] christianuhlmann commented on #3123
I have the same error in version:
OPNsense 18.7.10-amd64
FreeBSD 11.1-RELEASE-p18
OpenSSL 1.0.2q 20 Nov 2018
actual stable from website

[2019-01-13 16:06] fichtner commented on #3123
Yup, edit /conf/config.xml and remove this block:

[code]

[2019-01-13 16:08] christianuhlmann commented on #3123
@fichtner thanks for the info, I have already done this as mentioned in https://forum.opnsense.org/index.php?topic=828.0

[2019-01-13 23:08] snum opened #3128 "Default gateway lost on CARP master after failback on HA cluster setup with single public IP"
I have a high availability cluster (let's call them fw1 and fw2) setup with a single public IP as a CARP VIP in order to preserve public IPs in my /29 block. The setup is working fine, even when failing over to fw2 via CARP maintenance mode or unplugging WAN cable on fw1. The issue is that when fw1 resumes master via turning off maintenance mode or plugging in WAN cable on fw1, it no longer has a

[2019-01-14 08:12] x-jokay opened #3131 "[feature request] Show BIOS information on dashboard"
It would be great to be able to see the BIOS information on the dashboard.

This is how it looks on pfSense :wink:

![20190114_bios](https://user-images.githubusercontent.com/18613935/51101792-76823700-17dc-11e9-9d52-764b1c705b5a.jpg)

Vendor:
[code]

Version:
[code]

Release date:
[code]

[2019-01-14 08:17] fichtner commented on #3131
19.1 will feature a brand new dmidecode plugin which adds a dashboard widget...
<img width="594" alt="screenshot 2019-01-14 at 9 16 47 am" src="https://user-images.githubusercontent.com/1915288/51101936-29eb2b80-17dd-11e9-826c-400d5396a75c.png">

[2019-01-14 08:19] x-jokay commented on #3131
And for the system a combination of these two:

Maker:
[code]

Product:
[code]

[2019-01-14 08:20] x-jokay commented on #3131
@fichtner this looks great, thx for the information.

[2019-01-14 08:21] x-jokay commented on #3131
Can be closed, as it will be available in release `19.1`.

[2019-01-14 08:21] #3131 closed

[2019-01-14 08:22] fichtner commented on #3131
Case closed? :)

[2019-01-14 08:22] fichtner commented on #3131
Nevermind, thanks!

[2019-01-14 09:16] #2800 closed

[2019-01-14 09:46] alexschomb opened #3132 "Can't edit permissions / create new users"
I just noticed that I can't perform **any** edit actions to users/groups of the local user database of OPNsense in ``18.7.10``. Every save action results in the following error message: ``You do not have the permission to perform this action.``

Is this a known issue? And how can I add such required permission / all permissions to an existing account? It doesn't even work for the ``root`` user. I

[2019-01-14 09:55] fichtner commented on #3132
You have assigned the "System: Deny config write" privilege to the user which had to be enforced due to a CVE: https://github.com/opnsense/changelog/blob/61cbcc863ca66b978ed2c698d71f91a56b0c9e79/doc/18.7/18.7.7#L5-L11

If you have shell access you can fix this in multiple ways, e.g. editing /conf/config.xml and removing "<user-config-readonly/> from the privileges of the root user (or the group as

[2019-01-14 10:13] alexschomb commented on #3132
Perfect. Thanks for the prompt and helpful reply. I fixed it by removing ``readonly`` permission from the system administrators group in ``/conf/config.xml``

[2019-01-14 10:13] #3132 closed

[2019-01-16 13:33] Nornode commented on #1572
Hey, this still seems valid...
I'm happy to help to troubleshoot this issue.

[2019-01-16 13:33] AdSchellevis commented on #3102
seems safe to close then

[2019-01-16 13:33] #3102 closed

[2019-01-16 15:45] Alphakilo commented on #1931
Switching to dpinger worked for me on 18.7.10

[2019-01-17 12:10] BCurrell opened #3135 "Virtual IP assigned before bridge interface is live"
I am currently setting up high availability Opnsense firewalls, with a similar pair of high availability ethernet providers. This setup requires me to bridge together 2 WAN ports so I can connect to both ethernet providers at the same time.

Following the CARP documentation, I have set up a virtual IP on the bridged WAN interface, which works until reboot. When the firewalls come online, there is

[2019-01-17 15:05] bluesource commented on #1773
@fraenki was there a change with OpnSense 18.7.10 ?
spdadd workaround isn't working anymore :(

regards,
Michael

[2019-01-17 15:34] mr44er opened #3136 "empty entry in static routes since 18.7.10 Bug"
![screenshot_2019-01-17](https://user-images.githubusercontent.com/46787531/51327953-a21e4f00-1a72-11e9-8e0e-b0835bd7788f.png)

This empty entry blocks everything on webgui with static routes. No adding, no deleting, no changing, nothing! Changing routes from the console works as usual.
I inspected this further and had it reproduced on 2 machines with 18.7.10

Bug appears not on 18.7, so if you in

[2019-01-17 15:34] AdSchellevis commented on #3136
duplicate https://github.com/opnsense/core/issues/3123

[2019-01-17 15:34] #3136 closed

[2019-01-17 16:10] #3123 closed

[2019-01-17 16:30] fichtner commented on #3136
https://github.com/opnsense/core/commit/a111b34

    # opnsense-patch a111b34

[2019-01-18 00:48] TheSagest opened #3137 "Alias not working for NAT rule."
I am using squid with ssl in transparent mode. This configuration works as expected. I have the two NAT rules for passing to squid on 127.0.0.1, and I have implemented block rules so the proxy cannot be bypassed. So far so good. I have added a few No Bump sites to allow iphones to see updates.

All is good (except for a few sites like Netflix etc. this is another matter). I try to load up the play

[2019-01-18 08:06] AdSchellevis commented on #3137
Very likely a configuration issue, tried the same over here (! source address versus ! source alias), without any issues.

[2019-01-18 09:55] TheSagest commented on #3137
I just checked firmware and it was 18.7.9.
Updated and it is OK.

Sorry, been testing on several boxes.

The Sage !!

From: Ad Schellevis <notifications@github.com>
Sent: Friday, 18 January 2019 7:07 PM
To: opnsense/core <core@noreply.github.com>
Cc: Dave Clist <dave@sagelink.com.au>; Author <author@noreply.github.com>
Subject: Re: [opnsense/core] Alias not working for NAT rule. (#3137)

Very like

[2019-01-18 11:18] #3137 closed

[2019-01-18 15:40] bewue commented on #3120
A quick solution would be to limit the character length in the input field?

General: The warnings in the upper right corner can easily be overlooked. A red icon at this point for example would be helpful.

[2019-01-18 22:05] lukeb2e commented on #3122
I encountered a similar issue with my unbound.
The unbound crashed with a segmentation fault in random time intervals. The logs didn't specify anything else.

After some trial and error I think it is related to the fact that I used libressl instead of openssl and dns over tls.

[2019-01-19 10:44] abplfab commented on #3049
I've created a bash script which I run daily in cron
`
#!/bin/bash
# Remove Files older 30d
/usr/bin/find /export/data-oc/oc-data/<nextcloud user>/files/ -name "*.xml" -type f -mtime +30 -exec rm -rf {} \; 2> /dev/null

# Rename : time to - (else Files don't sync in Windows)
for i in $(find /export/data-oc/oc-data/<nextcloud user>/files/ -name '*.xml' | grep ":") ; do echo $i; nn=$(echo $i | sed -

[2019-01-19 14:31] Franck78 commented on #2712
@AdSchellevis , monitor is good for establishing trends, base lines.

I was working on dhcpv6 config of my box and some days after I noticed (dashboard)
disk usage 96% instead of the 20%

A gigantic dhpcv6_core file was sitting there, at /

So yes, something could be usefull to locate thoses kind of files (and erase them).

-gnome disk usage chart ?
-during boot erase /*_core ?
-disable coredumps

[2019-01-19 14:49] Franck78 opened #3139 "dyndns long updates"
Hello,

I worked long time ago for IPCop project. Started with that (dynamic dns)

Maybe this is implemented in your code, maybe not.

Providers don't like to do useless updates on their system. Normal. Why request an update with no IP change ??? Do it to much and you are banned. Ok. Easy to fix and probably done long ago.

But on the long long run, with a stable IP, you will never contact the dyn

[2019-01-20 00:17] fabianfrz commented on #3139
@fichtner @AdSchellevis this ticket should be moved to plugins.

[2019-01-20 09:41] gertfriend opened #3140 "Import and Update own public certificate scheduled from shell"
Hello,

i would like to ask here also for the following Topic because here are more technical people: https://forum.opnsense.org/index.php?topic=9863.0

I have the Needs to update the gui certificate hosted on a webserver (internal). So i would like to ask if someone could write a script to download the certificate files and update the gui-certificate. For this i have a Let's encrypt Wildcard cert

[2019-01-20 10:46] fichtner commented on #2048
@AdSchellevis maybe you have incentive to work on this earlier, for now I'll have to push to 19.7

[2019-01-20 10:50] fichtner commented on #2279
Unfortunately 19.1 is too close now and the seemingly simple changes are too dangerous to implement in the current spaghetti code without risking regressions. We may be to rework some of it first... :(

[2019-01-20 11:00] fichtner commented on #2878
<img width="543" alt="screenshot 2019-01-20 at 11 57 07 am" src="https://user-images.githubusercontent.com/1915288/51438275-9d43e000-1caa-11e9-9081-e95c6cb8312b.png">

@AdSchellevis 19.1 or 19.7 ... this is something that has been put off for too long. In any case with your OK I would like to add this to development branch now.

[2019-01-20 11:44] AdSchellevis commented on #2878
@fichtner development branch is fine, I’ll get back to you about production release

[2019-01-20 12:57] mimugmail commented on #2279
Indeed, No risk, Just fun :)

[2019-01-20 15:56] AdSchellevis commented on #2048
@fichtner I have no plans for this at the moment, move further is certainly fine.

[2019-01-21 08:40] fichtner opened #3141 "reporting: when health / RRD graphs are disabled the page is blank"
Low priority. Nano images these days disable these graphs by default.

[2019-01-21 15:08] fbrendel commented on #3126
Yes, a scrollbar would be better than the pagination.
But that requires a fixed widget height. How high should it be?
@AdSchellevis can we set it within the css of the theme?

[2019-01-21 17:46] AdSchellevis commented on #3126
@fbrendel it would probably be best to start with a class added in the widget itself, so the theme can overwrite it if needed. I know it's suboptimal, but custom theme's might render odd defaults otherwise.

[2019-01-21 19:09] opnsenseuser opened #3142 "19.1 rc1 - monit widget tool doesn´t show status information"
After updating to 19.1 rc1 monit widget doesn´t show any content anymore.
i reinstalled it using gui and restarted the firewall. no difference.

status of the tool says everything is alright!

this is what i see on the dashboard:
![grafik](https://user-images.githubusercontent.com/34602360/51494116-d3bb5100-1db7-11e9-8156-2f9c2c5620fa.png)

this is what the status view shows:
![grafik](https://use

[2019-01-21 19:52] fichtner commented on #3142
Have you read the release notes till the end? There is a known issue with monit code and a patch command.

[2019-01-21 20:14] opnsenseuser commented on #3142
ok, my fault -> i close this issue!

[2019-01-21 20:15] opnsenseuser commented on #3142
but the widget problem still extists!

[2019-01-21 20:52] #3142 closed

[2019-01-21 20:52] fichtner commented on #3142
# opnsense-patch 5bb48c3

[2019-01-21 21:00] opnsenseuser commented on #3142
👍 thx

[2019-01-22 08:44] kekek2 opened #3143 "Functions from util.inc in template"
I need this functions in template https://github.com/opnsense/core/blob/master/src/etc/inc/util.inc#L273-L305
I see four possibilities.
1. Add more fields to the model to be calculated in PHP code.
2. Write these functions in the template.
3. Patch src/opnsense/service/modules/template.py and add in it such filters.
4. To make a mechanism that such filters can be dynamically loaded from plugins.
W

[2019-01-22 15:25] rebekah65 opened #3144 "[Feature Request] Add Snyk Git Repo Bot That Finds Known Vulnerabilities"
I think its worth adding support for Snyk, which is a git hub bot that finds and can fix known vulnerabilities in open-source dependencies used in this repository.

Its easy to implement and with out any coding needed, it can be set to automaticly run for every PR or build.

Also, Snyk can be set to send alerts when vulnerabilities are found, or new upgrades or patchis to fix the vulnerabilities a

[2019-01-22 15:28] AdSchellevis commented on #3144
spam?

[2019-01-22 15:31] rebekah65 commented on #3144
No, i have recently discovered Snyk and it can really help to stop easley rectifiable vulnerabilities wildest not causing too much time for devs.
So, surely its a win win.

[2019-01-22 15:35] L1ghtn1ng commented on #3144
I was using that for a while but I prefer dependabot that would also be worth a look
________________________________
From: rebekah65 <notifications@github.com>
Sent: Tuesday, January 22, 2019 3:31:22 PM
To: opnsense/core
Cc: Subscribed
Subject: Re: [opnsense/core] [Feature Request] Add Snyk Git Repo Bot That Finds Known Vulnerabilities (#3144)

No, i have recently discovered Snyk and it can reall

[2019-01-22 16:20] rebekah65 commented on #3144
@L1ghtn1ng
I haven't heard of dependabot but, it's worth a look.
Does it support and detect as many vulnerabilities and dependencies as Snyk.

[2019-01-22 16:25] L1ghtn1ng commented on #3144
It just makes sure that your dependencies are up to date which inturn fixes the issues in your dependencies
________________________________
From: rebekah65 <notifications@github.com>
Sent: Tuesday, January 22, 2019 4:20:01 PM
To: opnsense/core
Cc: J.Townsend; Mention
Subject: Re: [opnsense/core] [Feature Request] Add Snyk Git Repo Bot That Finds Known Vulnerabilities (#3144)

@L1ghtn1ng<https://g

[2019-01-22 16:42] MichaelDeciso commented on #3144
Judging from the Snyk docs, it doesn't support PHP, even though a sizeable portion of OPNsense's code is in PHP. Also, we do not have a lot of external dependencies, which is what this tool scans for. I'm sure it's useful for the kind of project it was intended for, but OPNsense does not appear to be one of them.

[2019-01-22 18:14] rebekah65 commented on #3144
@MichaelDeciso
I could be wrong but, to my knowledge both Snyk and Dependabot, support PHP and more.
https://snyk.io/docs/
https://dependabot.com/#languages

[2019-01-23 08:34] MichaelDeciso commented on #3144
It still leaves the point that OPNsense barely _has_ external dependencies, and that it doesn't handle them via tools like Composer or NPM. Tools like Snyk and Dependabot simply won't work with projects like ours, even if they support PHP.

[2019-01-23 09:14] calvinbui commented on #3050
Been getting the same as well

[2019-01-23 09:51] fraenki opened #3145 "[MVC] Enable tokenize2 "sortable""
As discussed in https://github.com/opnsense/plugins/issues/582, we should integrate the new version of tokenize2 which makes it possible to use the "sortable" functionality without jQuery.

Ping @AdSchellevis :)

[2019-01-23 10:21] simonszu opened #3146 "Rework OpenVPN configuration frontend"
This issue happens on OPNsense 18.7.10-amd64.
The URL to the web config where to replicate this issue is: /vpn_openvpn_server.php

Description of the issue:
I want to configure a very simple OpenVPN peer2peer connection with PSK. In OpenVPN config format this configuration looks like this:
[code]
The crucial part is the `ifconfig` line. It specifies which address my tunnel endpoint should have (`.

[2019-01-23 10:56] AdSchellevis commented on #3145
@fraenki can you try https://github.com/opnsense/core/commit/aec3515ceeb225541d0cc38fa8a9b0f6530f11dc + https://github.com/opnsense/core/commit/49244f477166191f7df5e1352faf8ef9c4488def ?

[2019-01-23 14:57] fraenki commented on #3145
@AdSchellevis I've tested both commits as well as the backend commit https://github.com/opnsense/core/commit/0a0c80c006fb759f502373f53a5895e805d4770f. But if I set `<Sorted>Y</Sorted>` in the Model (i.e. for HAProxy), the `sortable` attribute is not set for tokenize2 (at least I couldn't find it in the HTML/CSS code in my browser), so it does nothing.

Could it be that a tiny little piece of code

[2019-01-23 15:39] fichtner opened #3148 "ui: regression in single host or network subnet select (bootstrap select)"
The subnet select will not give any options other than the default. See e.g. src/dst in firewall outbound NAT edit.

maybe due to https://github.com/opnsense/core/issues/2848

via: https://forum.opnsense.org/index.php?topic=11274.0

[2019-01-23 21:12] AdSchellevis commented on #3148
https://github.com/opnsense/core/commit/2af9202d64000f0c2dcc42b7f59fa481c438916b fixes the behaviour, the layout however is still flawed.

@MichaelDeciso since your commit broke this, would you be so kind to fix the layout issues in the legacy code (for example in firewall_nat_edit.php).

In 18.7 this looks like this:
![image](https://user-images.githubusercontent.com/9783985/51637251-88da3e80-1f5

[2019-01-23 21:51] smr1983 opened #3149 "IPSEC: GUI broken in IE11"
Tested on Windows Server 2016 with IE11.

The second dropdown in the Phase 1 algorithm settings remains empty after selecting a value in the first dropdown.  Also the certificate fields remain obligated to fill, even when using PSK.

In the end the ipsec.conf is flawed.

With Chrome the issue isn't present and the final ipsec.conf is also working.

[2019-01-24 11:35] MichaelDeciso commented on #3148
I have checked the Bootstrap documentation and the selectpicker CSS, and the problem is that the `.input-group-btn` class is not set. This is compulsory according to the Bootstrap docs, and selectpicker specifically looks for it.

Will open a PR once I'm sure it works correctly and I haven't missed any other occurrences.

[2019-01-24 12:02] MichaelDeciso commented on #3148
https://github.com/opnsense/core/pull/3151

[2019-01-24 14:52] bewue opened #3152 "Firewall: Log Files: Live View: Visible lines count"
In the top right corner you can select the lines count.
If the filter option is used it should just count the visible (filtered) lines.
Otherwise the log messages disappear too quickly.

[2019-01-24 15:16] apiods opened #3153 "Unbound not starting with custom option and Override Domain"
Configured Unbound to forward, as per https://wiki.opnsense.org/manual/how-tos/bind.html

Unbound failed to start, with error:
`opnsense: /services_unbound.php: The command '/usr/local/sbin/unbound -c '/var/unbound/unbound.conf'' returned exit code '1', the output was '/var/unbound/unbound.conf:106: error: syntax error read /var/unbound/unbound.conf failed`

The offending line in config was: `do-n

[2019-01-24 16:32] AdSchellevis commented on #3152
Using an old version? https://github.com/opnsense/core/commit/98029c817e1e33bed81302199e1af186996a28d8 was introduced some months ago.

[2019-01-24 16:32] #3152 closed

[2019-01-24 16:41] AdSchellevis commented on #3148
@MichaelDeciso ok, looks good, thanks!

[2019-01-24 16:41] #3148 closed

[2019-01-25 08:45] MichaelDeciso commented on #3126
It looks like this has been fixed (at least on my dashboard) by #3147 and this can be closed.

[2019-01-25 08:46] fichtner commented on #3126
Indeed, thanks for the heads-up.

[2019-01-25 08:46] #3126 closed

[2019-01-25 08:47] fichtner commented on #3153
documentation issue,  CC @mimugmail

[2019-01-25 08:51] fichtner commented on #3135
Hi @BCurrell,

Bridges implementation has always been a problem over the years for several design reasons. I am also not aware of a fix or raised bug report regarding this. It is worth trying out 19.1 and reporting back so we can pin down the issue and try to fix it. Are you able to do this?

Until confirmation I'll keep this at "support" for clarity of the pending issue status.

Cheers,
Franco

[2019-01-25 14:55] theq86 commented on #3114
It also seems that source-code-like it would be possible to add an IPv6 alias.
However, if I want to add one, I am offered a max of 32 bit.
The select box does indeed HAVE 128 bits but all options above 32 are HIDDEN
Why? Can't understand.

[2019-01-25 15:17] mimugmail commented on #3114
Insert a v6 address and click the dropdown, it'll allow up to 128 then

[2019-01-25 15:35] theq86 commented on #3114
Cool, that worked. However, not very intuitive. Thanks

[2019-01-25 15:53] mimugmail commented on #3114
Indeed, but there's already a duplicate issue for it in the works. Would you mind closing this one? THanks

[2019-01-25 16:20] theq86 commented on #3114
I can't, I'm not the issue creator.

[2019-01-25 16:25] fichtner commented on #3114
Which issue number? Will close in exchange for issue number. ;)

[2019-01-25 16:36] mimugmail commented on #3114
Yes, close. I'll check Docs and add If not there (v6)

[2019-01-25 16:36] AdSchellevis commented on #3114
@mimugmail thanks!

[2019-01-25 16:36] #3114 closed

[2019-01-25 17:38] AdSchellevis commented on #2878
@fichtner I've pulled your change into master, let's do this for 19.1.

[2019-01-25 17:38] #2878 closed

[2019-01-25 17:39] fichtner commented on #2878
I already reverted it... discussing other ways with @mimugmail currently... none of the ways forward are great so it's best to stick with what we always had

[2019-01-25 17:42] AdSchellevis commented on #2878
ok, I'll revert the cherry-pick and doc then, let's keep this issue closed if it doesn't reflect the actual state anymore then

[2019-01-25 17:46] fichtner commented on #2878
Yes, thanks and sorry for the trouble.

[2019-01-25 17:47] AdSchellevis commented on #2878
no problem, going to move the other discussions (pppoe, hyperv) to 19.7 as well, it's not very likely they will be sorted out in a day.

[2019-01-25 17:54] fichtner commented on #2878
hyperv might be fixed... reports are inconclusive or incomplete at this point

[2019-01-25 18:07] AdSchellevis commented on #2878
we'll see, can always close when it appears to be solved

[2019-01-25 18:19] fichtner commented on #2878
ok 👍

[2019-01-26 09:35] chaispaquichui commented on #3099
I have the same problem with sshd. Each time I reboot opnsense, it takes a little time to get the prefix delegation from my ISP and sshd is not reconfigured to listen on the GUA when I finally get it. My current workaround is to manually reboot sshd after I get an ipv6 address.

[2019-01-26 10:35] fabianfrz commented on #3149
@AdSchellevis I don't see any ES6+ specific function which may also cause trouble on outdated browsers. Maybe the console reveals something. Maybe it is due to an additional restriction on Windows Server since it is not the same IE as the one you get with the "normal" Windows.

[2019-01-26 14:19] AdSchellevis commented on #3149
@fabianfrz could very well be, since this won't impact many users and I can't reproduce it myself, it's very low on my priority list.

[2019-01-26 15:02] smr1983 commented on #3149
@AdSchellevis

Javascript is enabled.

I get a console error when opening the tunnel settings page: SCRIPT438: Object doesn't support property or method 'includes' in jquery-3.2.1.min.js (2,31689).

I also tested this on my own W10 - IE11 combination and I get the exact same error. So I have this error on both WS2016 - IE11 and W10 - IE11 on three different installations of OPNSense.

[2019-01-26 15:08] smr1983 commented on #3149
@AdSchellevis

Looks like includes isn't working on IE: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes#Browser_compatibility

[2019-01-26 15:17] AdSchellevis commented on #3149
@smr1983 can you try https://github.com/opnsense/core/commit/eff447b55902f48b59e4ac11081cce71445077b6 ?

[2019-01-26 15:40] fabianfrz commented on #3149
@AdSchellevis includes is an ES6 function. I use it as well in the nginx plugin. In this case I would recommend using a polyfill (patching the string class) instead of going back to the less beautiful ES5 check.

[2019-01-26 15:46] fabianfrz commented on #3149
[code]

[2019-01-26 16:09] fabianfrz commented on #3149
Additionally to the comment of @AdSchellevis: use ctrl + f5 if it does not work immediately - the script may be cached in the browser.

[2019-01-26 18:09] smr1983 commented on #3149
I've tested https://github.com/opnsense/core/commit/ebb365f0618ad383c05aa7ada6f0a5461419d5cc and validated that opnsense.js included the changed code, but the tunnel settings is still raising the same console error. So it looks like the patch in opnsense.js is ignored and it is still using the jquery version of include instead of the version in opnsense.js.

After I reverted that commit and patche

[2019-01-26 18:15] AdSchellevis commented on #3149
ok, let's revert https://github.com/opnsense/core/commit/ebb365f0618ad383c05aa7ada6f0a5461419d5cc and add https://github.com/opnsense/core/commit/eff447b55902f48b59e4ac11081cce71445077b6 then, knowing that IE11 support will likely be less perfect on other areas.

[2019-01-26 18:17] #3149 closed

[2019-01-26 18:19] smr1983 commented on #3149
Thanks for the fix. Hopefully this will save others some hours debugging ipsec issues.

[2019-01-26 18:36] AdSchellevis commented on #3149
@fabianfrz probably, for the ipsec case it's better to switch to `indexOf` for increased compatibility. I have no issue in accepting a patch to opnsense.js to fix issues which might occur in plugins. (Although I can't test it myself at the moment)

[2019-01-27 09:32] fichtner commented on #3149
Here's more:

[code]

From looking at plugins, it also seems that FRR/Quagga and Nginx also use it.

[2019-01-27 09:41] fichtner commented on #3099
You should be able to reload SSH and web GUI on IP changes if you use strict binding to interfaces.

[2019-01-27 10:02] chaispaquichui commented on #3099
By "strict binding", you mean this

![image](https://user-images.githubusercontent.com/38246962/51799545-66c61200-2222-11e9-9d13-91bb37b9032c.png)

?

It's configured since the beginning :(

I rebooted opnsense just to be sure and this is my situation :

My lan interface has an ipv6 address

em0_vlan10: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> metric 0 mtu 1500
        ether 52:54:00:cd:

[2019-01-27 10:14] chaispaquichui commented on #3099
I just did another reboot and my WAN interface gets his IPv6 address almost instantaneously

But it takes a very long time (1-2 minutes) before the GUA is configured on the LAN interface. I don't know if it's related

[2019-01-27 10:34] AdSchellevis commented on #3149
@fichtner https://github.com/opnsense/core/commit/9abf5af9a76623842e80591a273420bb3bd38b50

[2019-01-27 10:54] fichtner commented on #3099
It's your ISP's router advertisement being delivered in longer intervals I'd guess.

[2019-01-27 10:54] fichtner commented on #3149
@AdSchellevis thanks a lot 👍

[2019-01-27 10:54] fabianfrz commented on #3149
@fichtner FRR is using the lodash function, which is not native anyway (https://lodash.com/docs/4.17.10#includes). The nginx plugin JavaScript code written entirely in ES6.

[2019-01-27 10:56] fichtner commented on #3149
okay, fine then this is all sorted. thanks ❤️

[2019-01-27 11:12] lhorace opened #3157 "19.1 RC1 has a lot of broken UI elements"
Hello everyone,

There is a lot of UI elements that either do nothing or return nothing. It boots in KVM and works for the most part.

Where it fails:

E.g, when setting a firewall rule, scroll down to set destination. After you select TCP as a protocol, when you enter an IP address and try to select subnet. Fails.

I know a lot people are focusing on Chromium based browers, you guys are not follo

[2019-01-27 15:34] lhorace commented on #3157
Thanks, but this isn't the only area why I'm encountering broken UI elements, it's just area the cause me the most frustration. How can I pull this? {Already deleted the contents of my old FW}

[2019-01-27 15:51] lhorace commented on #3157
Can you reopen this ticket, that PR didn't seem to fix my problem, looking at opnsense-patch

[code]

Uhh firewall_rules_edit.php ?

[2019-01-27 16:02] fichtner commented on #3157
To avoid misunderstandings it is indeed helpful to list the affected files first. You can read more about it at: https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

@AdSchellevis are we missing any files in 5e36425 ?

[2019-01-27 16:06] lhorace commented on #3157
I don't mind at all, though, `firewall_rules_edit.php`? You need the path?

I'm tired and frustrated and I really want to get this done before I go to bed and relax.

[2019-01-27 16:06] AdSchellevis commented on #3157
@fichtner could be, but don't expect so, but the commit referenced in the issue only has a layout problem

![image](https://user-images.githubusercontent.com/9783985/51803464-cd185800-2255-11e9-8a09-86474d5cfc15.png)
(firewall_rules_edit.php)

[2019-01-27 16:07] lhorace commented on #3157
Ahh, could be a cache problem, let me clear it and see!

[2019-01-27 16:11] lhorace commented on #3157
Unfortunately, looked at the PR, see if I could apply what change manually. That didn't work.

![still ui bug](https://user-images.githubusercontent.com/12678456/51803529-2cf60b00-2224-11e9-99b2-63ef4b38fc03.gif)

[2019-01-27 16:14] AdSchellevis commented on #3157
https://github.com/opnsense/core/commit/2af9202d64000f0c2dcc42b7f59fa481c438916b is mentioned in the original issue (https://github.com/opnsense/core/issues/3148) as being the fix for this specific case.

[2019-01-27 16:33] lhorace commented on #3157
Is that button rendered by JS?

[code]

I can't seem to find it in code?

[2019-01-27 17:08] lhorace commented on #3157
Can re-open this issue?

[2019-01-27 18:16] fichtner commented on #3157
Please don’t panic.

[2019-01-28 02:32] lhorace commented on #3157
Sure.

In the mean time, the workaround I found for this issue is to manually create firewall aliases for each network mask(s) unless /32 is desired.

Regards

[2019-01-28 03:17] TheSagest opened #3159 "Feature Request:- Copy feature for ALL values in an input box for ease of transfer."
I would like to see a "COPY" to clipboard? or  Text view for the values in an input box so that it makes it easier to copy a large list of values, say, from a test machine, to a production machine. EG copy the list of SSL No Bump from test machine to production machine.

[2019-01-28 03:25] lhorace opened #3160 "[19.1RC1][ui] Failing input validator for descriptions if using any non alphanumeric characters"
Hello everyone,

I'm not sure if this is intended design choice, see below:

`Description should be a string between 1 and 255 characters`

If it is intended behavior, can the error description also include what is allowed, eg `[A-Za-z.]` ? My assumption here, if one is calling it a `string`, can't a `string` include any `UTF-8` characters?

I encountered this problem when I wanted to include 10.0

[2019-01-28 07:52] AdSchellevis commented on #3160
Th description isn't really used anywhere else, valid input is defined here https://github.com/opnsense/core/blob/53a17f99285722121f9b06141a8b998c7f14e9fd/src/opnsense/mvc/app/models/OPNsense/IDS/IDS.xml#L48 I don't mind to replace this with a better description, but have no suggestions myself at this time (the same message is used for some other fields as well)

[2019-01-28 08:10] lhorace commented on #3160
`Description should be [\t\n\v\f\r 0-9a-zA-Z.\-,_\x{00A0}-\x{FFFF}] and a string between 1 and 255 characters`?

I guess some of the regex tokens could be left out to avoid confusing users who aren't familiar with regex. This here is an example of similar error messages when failing input validation that I come across.

[2019-01-28 08:18] AdSchellevis commented on #3160
so, if we're going to replace the message, it should be user-friendly (which would always leave a bit of room for interpretation).

Better suggestions are welcome, we're not going to add the technical text in the message.

[2019-01-28 14:04] AdSchellevis commented on #3160
The validation prevents script tags to be inserted (for example), so we prefer to keep input cleansing.

[2019-01-28 17:36] reza-ebrahimi opened #3161 "make upgrade fails with Cannot find package"
OPNsense version: 19.1

make upgrade in `/usr/core/` fails with following error:

[code]

And when executing `opnsense-update -t opnsense` it will returns:

[code]

[2019-01-28 17:39] fichtner commented on #3161
Let me know about these outputs... You install seems defunct.

    # pkg info opnsense
    # pkg info opnsense-devel
    # pkg check -sa

[2019-01-28 18:03] reza-ebrahimi commented on #3161
[code]

[code]

[code]

[2019-01-28 18:05] fichtner commented on #3161
# df -h
    # pkg info | wc -l

Assuming no package db = no fun

[2019-01-28 18:11] reza-ebrahimi commented on #3161
[code]

[code]

[2019-01-28 18:15] fichtner commented on #3161
I'm not sure what's wrong. You have packages installed but "opnsense" or "opnsense-devel" is obviously missing. You can probably fix with

    # cd /usr/core && make package
    # pkg add work/pkg/*

But other than that there's nothing I can do to help. If this doesn't work read https://github.com/opnsense/update#opnsense-bootstrap

[2019-01-28 18:15] #3161 closed

[2019-01-28 18:20] reza-ebrahimi commented on #3161
This is another command may help:

[code]

[2019-01-28 18:21] StevenNexus opened #3162 "Unable to use port ranges in traffic shaper"
When trying to create firewall shaper rules. The UI will not allow entering of port ranges for _dst-port_ or _src-port_ fields. Please see example marked up screen capture.

![image](https://user-images.githubusercontent.com/31380256/51857065-48821400-22ff-11e9-9e10-a60dc5cc974b.png)

[2019-01-28 18:22] 2bithacker commented on #3162
I'm seeing this same behavior, was trying to set up a rule to prioritize mosh traffic, which uses a range of UDP ports.

[2019-01-28 18:46] AdSchellevis commented on #3162
I think this worked by accident a long time ago, our port validator seems to be missing support for ranges. I'll put it on my list.

[2019-01-28 19:32] AdSchellevis commented on #3160
@lhorace ok, you're right, it's not consistent. I'm going to drop the constraint (only keeping the limit)

There will likely be other descriptions suffering from the same issue, if reported, we'll evaluate per case what todo.

[2019-01-28 19:34] #3160 closed

[2019-01-28 20:31] #3162 closed

[2019-01-28 20:33] AdSchellevis commented on #3162
https://github.com/opnsense/core/commit/0f6b29f5bbe15e7bf3b2e276f36e4921626d2e1e should do the trick

[2019-01-29 16:34] iMiMx opened #3163 "3 ping packet loss on CARP failover from Master -> Slave, fine failing back"
Have HA setup and working well, however I noticed that when failing from Master -> Slave by enabling persistent carp maintenance mode, 3 pings are lost (state is synced fine, ssh sessions remain etc).  When failing back from Slave -> Master everything is fine, no loss.

I ran a quick Google and it turned up the below, from pfSense:

https://forum.netgate.com/topic/123871/carp-master-manual-switch-

[2019-01-29 16:43] AdSchellevis commented on #3163
You can alter the demotion factor while in maintenance, the option sets the advskew on the interface, but there might be a small glitch (I'm not 100% sure)

https://github.com/opnsense/core/blob/2c61e068a2907d45881792f67f81114ca3c50820/src/etc/inc/interfaces.inc#L1685-L1687

[2019-01-29 16:47] iMiMx commented on #3163
By the time I've entered maintenance, the loss has already happened though?  Or am I missing something? :)

- Click CARP maintenance
- 3 ping loss
- Fail over completes successfully with state, etc
- Reboot master
- Exit CARP Maintenance
- Fail back 0 ping loss

If instead:

- sysctl net.inet.carp.demotion=240
- 0 ping loss
- Fail over has happened
- Reboot master
- Preempt fail back
- Fail back 0

[2019-01-29 17:12] iMiMx commented on #3163
Surely this should be classified as a bug then?  Or is the 3 packet loss accepted as part of the current HA implementation?

[2019-01-29 17:13] AdSchellevis commented on #3163
a feature request sure, a bug is debatable.

[2019-01-29 17:17] mimugmail commented on #3163
I'd like to verify this on some systems before any changes are done. Are you sure your default demotions are good?

[2019-01-29 17:18] AdSchellevis commented on #3163
@mimugmail thank you!

[2019-01-29 17:25] iMiMx commented on #3163
@mimugmail as far as I can tell, no errors in the logs, sessions aren't lost etc.

[2019-01-29 21:32] StevenNexus commented on #3162
Do I test this patch by running the dev branch or can I test this patch using production 18.7.10_3-amd64?

[2019-01-29 21:45] chaispaquichui commented on #3099
I don't think so since my wan interface gets its IPv6 very quickly.

Anyway, I've also the same problem as ihatemicrosoft-was-already-taken. When I get my new ipv6 prefix, the config files of unbound/sshd is not rewritten and they become unjoinable on ipv6. Dynamic prefix is such a PITA...

It should be easy to fix. We just need to restart sshd and unbound when we get a new prefix. I can try to su

[2019-01-30 07:51] AdSchellevis commented on #3162
I think it fits 18.7 too, we'er very busy with 19.1 at the moment, so you have to test for yourself to be sure.

[2019-01-30 10:40] rackmatrix-david-rene opened #3164 "Huawei ME909s-120 miniPCIe can't connect due to missing CPIN submission"
Hello everyone,

My configuration is
OPNsense : 18.7.8
LTE modem : Huawei ME909s-120 minipcie

that configuration already working well under pfSense. That's why I thought we are near to make it working under OPNsense.

my ppp settings

![screenshot_2018-11-28 devices point-to-point interfaces opnsense localdomain](https://user-images.githubusercontent.com/14163205/51974981-7c854280-2481-11e9-879a-

[2019-01-30 11:01] AdSchellevis commented on #3164
@rackmatrix-david-rene can you compare the contents of both mpd files from OPNsense and pfSense? (or send them to me)

If it functions on the exact same device in pfSense, it would suggest a different command set between these:

https://github.com/pfsense/pfsense/blob/0b4c14a491664053aad3cc76e1ffd67b70ff2da1/src/etc/inc/interfaces.inc#L2521

https://github.com/opnsense/core/blob/2c61e068a2907d4588

[2019-01-30 15:45] rackmatrix-david-rene commented on #3164
I found the difference. This not located in interfaces.inc, but in mpd.script

I also noticed that the pfsense 2.4.2 has same issue as OPNsense but not pfSense 2.4.4.

the difference is located at line 438 in OPNsense mpd.script the 2 following lines are missing in OPNsense and pfsense 2.4.2

	if $SimPin != "" call DialPeerSetPin
	if $APN != "" call DialPeerSetAPN

this is fit with the issue becau

[2019-01-30 15:52] fichtner commented on #3164
That would be https://github.com/pfsense/pfsense/commit/c22d91427 then.

[2019-01-30 15:54] fichtner commented on #3164
And this broke it... https://github.com/pfsense/pfsense/commit/75e89498529eca6f ... ouch :)

[2019-01-30 15:55] rackmatrix-david-rene commented on #3164
I confirm,

now it's working well with that 2 added lines

[2019-01-30 16:20] AdSchellevis opened #3165 "HASync, cleanup remote actions when sync is performed"
When applying the firewall config on the primary machine, when OpenVPN is enabled it might take a long time (approx 1 min) since it's trying to restart.

We might reconsider which actions "Apply" should perform, as all other services are restarted in the status page.

[code]

[2019-01-30 16:58] AdSchellevis commented on #3164
@rackmatrix-david-rene it seems to only happen when "Init String" is used, by default it should use the  ModemIdentHuawei. I'll add these two lines in ModemIdentCustom and close the issue.

[2019-01-30 16:59] #3164 closed

[2019-01-30 18:40] unipacket1 opened #3166 "When a new firewall rule is created, possible to kill existing sessions that match new rule?"
Not sure if this is a feature request or if the ability already exists and I'm missing it.

When a new firewall rule is created and the action is set to block, any existing sessions that were open before the rule was created/saved continue to work until that session is closed. Would it be possible to change it so that when the firewall rules are reloaded after a new rule is created, any existing s

[2019-01-30 20:06] AdSchellevis commented on #3166
it won't be possible you can't map a new rule to an existing state with certainty, you can drop specific states using diag_dump_states.php

[2019-01-31 07:37] Nornode opened #3168 "Remove multiple entries - removing only one"
**VERSION:**
OPNsense 18.7.10-amd64
FreeBSD 11.1-RELEASE-p18
OpenSSL 1.0.2q 20 Nov 2018

**Current Outcome:**
Services > HAproxy > Settings > Real Servers
Marking several lines/Checking the cross mark to remove all entries - Clicking trashcan below entries next to "+" sign.
Only the last line is removed
This has also been tested in
Services > Let's Encrypt > Validation Methods with the same behavi

[2019-01-31 07:39] AdSchellevis commented on #3168
duplicate https://github.com/opnsense/core/issues/3062

[2019-01-31 07:39] #3168 closed

[2019-01-31 12:21] enoch85 opened #3169 "Unbound stops randomly"
[code]

Yesterday I implemented DNS-over-TLS with Unbound. I followed a guide which ended up in this:

![screenshot from 2019-01-31 13 09 35](https://user-images.githubusercontent.com/4511254/52053397-837f8400-2559-11e9-8179-ea12820a234e.png)

**Advanced settings**
![screenshot from 2019-01-31 13 11 01](https://user-images.githubusercontent.com/4511254/52053480-baee3080-2559-11e9-9fc6-62b43c6e05a0

[2019-01-31 12:31] enoch85 commented on #3169
I'm happy to pay for support to get this fixed. I would also like my servers (25 different VLANS) to get the DNS from Unbound (or at least DNS-over-TLS).

Thanks!

[2019-01-31 12:40] AdSchellevis commented on #3169
for paid support contracts, see https://www.deciso.com/business-support/

[code]
Should tell you easily if it's running (although the service icon should be the same).

If you could share the last data in /var/log/resolver.log (use clog to display from the console, or the webgui) after it stopped, maybe someone has an idea.

[2019-02-01 04:09] MarkNBroadhead commented on #1041
Lack of alias/cname support in unbound is the only thing keeping me on pfsense. I'd really like this to be implemented.

[2019-02-01 10:15] x-jokay commented on #3131
Looks good 👍

[2019-02-01 10:29] bewue opened #3170 "FW-Rules/NAT-Rules: Content Popup for generated aliases too"
On firewall and NAT pages theres a really usefull content popup for aliases
created by the user, showing up on mouse hover event.
It would be nice to have this too for automatic generated aliases ("X net", "X address").
Including all virtual IPs too etc.

[2019-02-01 10:55] Northguy opened #3171 "Restore Firewall settings option does not load Aliasses"
After experiencing issues with R19.1 I decided to revert to factory settings and to load individual settings step by step. When restoring firewall settings through System > Configuration > Backups > Restore Area > Firewall Rules, the rules are restored, but the Aliasses are not. Resulting in Firewall rules to filter Drop tables without having the accompanying Alias to specify the drop table.

Alia

[2019-02-01 11:07] mimugmail commented on #3171
OPNsense Additions

[2019-02-01 11:09] Northguy commented on #3171
Don't know if this is the root cause, but line breaks in XML section for Alias look strange.

![2019-02-01_12-06-46](https://user-images.githubusercontent.com/1189058/52119659-0831d700-261a-11e9-824b-0cfc74227a64.png)

[2019-02-01 11:09] fichtner commented on #3171
This is normal in the new model. The content is stored as is, no fancy XML indent :)

[2019-02-01 11:10] Northguy commented on #3171
@mimugmail are you suggesting I should load that specific entry through the backup options? Isn't this strange, as Aliasses are in XML under Firewall section?

OPNsense Additions is a bit non-descriptive for me. What does this restore?

[2019-02-01 11:13] fichtner commented on #3171
Everything inside &lt;OPNsense/&gt;. Lack of a fully-fledged model import leaves this as a single batch import, but you can always alter the config.xml that you upload to fit your needs.

Longer story: Alias API moved alias out of the old firewall XML location into our own namespace.

[2019-02-01 12:41] fichtner opened #3172 "firmware: improve "package manager is not responding" scenario"
![dyufsaix0am-e6i jpg-large](https://user-images.githubusercontent.com/1915288/52123644-10444380-2627-11e9-839b-15008ceaf006.jpeg)

via: https://twitter.com/_nevexo_/status/1091047032280760320

[2019-02-01 13:19] AdSchellevis commented on #3171
The alias module should have its own export/import at some point, using proper validations on import.

Let's mark this issue as a feature request, we internally discussed this some time ago and somewhere in the road to 19.7 I will probably add some functions there.

[2019-02-01 13:42] Northguy commented on #3171
OK, thanks @AdSchellevis, @mimugmail, @fichtner. Resolution was indeed OPNsense Additions. I managed to restore the aliases by importing a modified XML. Agree to put as feature request.

[2019-02-02 06:49] mimugmail opened #3173 "19.1 upgrade sets WAN MTU to 576 bytes"
I followed the reports about strange behavior with some guys after updating. When you check forums or Reddit it seems the WAN MTU was set to 576 bytes and reconfigure fixes it. I cant reproduce, perhaps it's only related to Realtek as most users reporting had them.

I also had 2 long Teamviewer sessions with one of them and I'm quite sure it's not a local configuration issue.

Any ideas?

[2019-02-02 07:07] immanuelfodor commented on #3173
Setting it to 1500 via web gui on the wan interface (previously that box was empty = default) solved all my issues after 18.07->19.1 upgrade. I have Intel NICs though.

[2019-02-02 07:13] mimugmail commented on #3173
Ah, you are the reddit guy :) Thanks for reporting. I myself am not affected, I'll update some more boxes ...

[2019-02-02 07:15] immanuelfodor commented on #3173
Yeah, I looked for the issue right away to subscribe if I can help with something to the team if there are any questions.

[2019-02-02 07:30] mimugmail commented on #3173
https://redmine.pfsense.org/issues/8507

[2019-02-02 07:59] immanuelfodor commented on #3173
Removed the custom 1500 MTU setting from the GUI (empty box), applied it and all my issues came back, slow page load speeds, inaccessible websites, etc. I didn't even had to reboot, the _evil_ 576 appeared instantly.

[code]

`vtnet1` is facing the ISP, 0 is the LAN, 4 is VLAN for IoT devices.

When I set back the 1500 over the gui, everything is fine again.

[code]

Here I can still see an 576 va

[2019-02-02 08:24] abplfab opened #3174 "OpenVPN Client Export for Android"
After upgrading to 19.1: "Export Type: File only" the Android "OpenVPN Connect" imports the file and also connects. But there is no traffic possible through the tunnel.
Adding `comp-lzo adaptive`, `tls-client` and removing `dev tun` from the exported file solves the problem (then it's like <19.1). I didn't test yet which setting solves the problem or all 3 are needed.

[2019-02-02 08:39] AdSchellevis commented on #3174
Which android version?

`tls-client` should be automatically set by `client` (which is in the export), I expect `dev tun` should be the default when not specified, `comp-lzo` is deprecated (https://openvpn.net/community-resources/reference-manual-for-openvpn-2-4/)

Could you try to leave `dev tun` in and check with the other two settings added manual? (you can also add those in the custom config s

[2019-02-02 09:34] abplfab commented on #3174
Even more "fun". Tried it with OpenVPN Client on Windows (latest 2.4.6), export Archive:
`remote vpn.legatech.ch 1194 UDP`:

Change to `remote vpn.legatech.ch 1194 udp`:

[code]

Change to:
[code]

But now the client asks for a password for the key (I didn't set one on export) -> no connection possible
Set a password for P12 and export again, enter PW in OpenVPN GUI:

Config exported on 18.7.x sti

[2019-02-02 13:43] mimugmail commented on #3173
In Interface Config under DHCP, Client Config, Advanced, set:

supersede interface-mtu 0

in Option Modifiers ...

Then try again .. seems to be the solution for this. @fichtner and @marjohn56 know better if there's a chance to get this in per default

[2019-02-02 14:16] jamiew0w commented on #3173
Can confirm the above works. Thanks @mimugmail !

[2019-02-02 14:17] marjohn56 commented on #3173
issue is not there on my live router after upgrade to 19.1  ( PPPoE static ).  nor is it there on my test router running 19.1,rc2 ( DHCP ) not had chance to update it yet, ). Both units are Qotoms using Intel NICs. Need more reports to try and isolate what the issue is.

[2019-02-02 14:21] marjohn56 commented on #3173
@jamiew0w - Can you confirm if this is a clean install or upgrade and what the firmware is?

[2019-02-02 14:34] jamiew0w commented on #3173
@marjohn56 was an upgrade from 18.7 - the NICs are;

2x Broadcom NetXtreme II BCM5716 (default gigabit nics on dell r310) - only needs to be set on WAN though.

Tried setting the MTU to 1500 via the gui but didn't work, was still getting the 576 mtu error afterwards

[2019-02-02 14:39] marjohn56 commented on #3173
OK, I'm doing a clean install on my test unit to see what happens.

[2019-02-02 14:40] sjjh commented on #3174
We're facing some OpenVPN export problems after updating as well. We've also stumbled over the UDP-protocol error, running a client under Ubuntu 18.04:
[code]
After changing the line
`remote <ip address> <port> UDP`
in the exported config file to
`remote <ip address> <port> udp`
it doesn't complain anymore.
The next error we encountered is regarding the x509 name verification:
[code]
So we changed

[2019-02-02 14:49] JasMan78 opened #3175 "OPNsense packet capture shows source packets twice for IPS enabled interfaces"
**Version**
OPNsense 19.1-amd64

**Issue appears**
Packets are captured with OPNsense packet capture feature on IPS enabled interface

**Issue**
When I capture the traffic with the OPNsense packet capture feature on an interface with IPS enabled, all packets coming from the OPNsense appliance are showing twice. The IP packet ID of both packets are the same, so in real there is only one packet on t

[2019-02-02 14:55] patrickceg commented on #3173
I'm the poster who mentioned it in the support forum https://forum.opnsense.org/index.php?topic=11425.0 .

My machine was an upgrade from 18.7 (not upgrade from before the 18.x series): no MTU issues ever on 18.7.

I will add that the "factory reset" if you have the 576 MTU doesn't have any effect.

Let me know if you need a test on my odd laptops, which have an Intel 82579LM and a Realtek 8168. (

[2019-02-02 15:17] mimugmail commented on #3173
It's related to an update from 11.1 to 11.2 dhclient like in the pfSense redmine issue described. Initial thought was Realtek, but it isnt

[2019-02-02 15:20] marjohn56 commented on #3173
So until it's fixed upstream Franco needs to force it it then on install. Is that what they have done over the road?

[2019-02-02 15:37] AdSchellevis commented on #3174
to patch the 3 issues mentioned, use:

[code]

The case issue was already reported and here fixed https://forum.opnsense.org/index.php?topic=11415.msg51678#msg51678

[2019-02-02 15:49] marjohn56 commented on #3173
It’s not affecting my test system which is dhcp to the live system and it’s not affecting at least one of my testers who is using dhcp to Sky UK ISP. That said we are both using Qotom with intel i211 NICs.

[2019-02-02 16:18] abplfab commented on #3174
I can confirm that.
After `opnsense-patch 9eebb2eb7 81364dd3d 6ee58cc30 e9d1aa4` export works for both Windows and Android Client.

[2019-02-02 16:46] mimugmail opened #3176 "Dynamic subtabs loaded from model array list?"
For a plugin I need to create a volt which loads subtabs for every entry in an array from a different model.
Let's say I have a model called "hosts" which let's you create multiple hosts in a dialog.

Now I want a new menu called "diagnostics" which creates a page for every host as a subtab.

Is there a nice way to implement this?

[2019-02-02 16:51] patrickceg commented on #3173
I read the upstream posts, and my reason is indeed the ISP is sending an improper interface MTU of 576 in the DHCP ACK. Unfortunately it looks like a "fix" means seeing if ISP is actually lying to you on the WAN side.

Capturing the DHCP packet I received back from my ISP (Rogers Canada for reference), the MTU in their packet is (incorrectly) 576.

[2019-02-02 16:53] immanuelfodor commented on #3173
Can one easily check what mtu setting an ISP provides? I'd happily run a/some bash commands to see mine.

[2019-02-02 17:04] fichtner commented on #3175
Which NIC driver is this? Realtek?

[2019-02-02 18:13] Kistelini opened #3177 "Kernel panic with 19.1"
[code]

Hardware is a Fujitsu Futro S550-2 with an AMD Sempron 200U. It fails both with an update from 18.7.10 to 19.1 and the installer image. After some googling this is supposed to be a hardware failure, but OPNsense 18.7 worked fine, installer ISOs for FreeBSD-11.2 and 12.0 are working, too.

EDIT: Just found out about HardenedBSD. Latest 11 installer fails too.

[2019-02-03 10:08] MrM40 commented on #1384
My GUI is also  accessible from WAN. Have a rather default setup with LAN and WAN interfaces.
Using out-of-the-box FW rules.
I expected the default FW config would be "deny", but that seems not to be the case.
I don't have a FW rule allowing WAN -> OPNSense!
What is going on?

[2019-02-03 10:20] fichtner commented on #1384
@MrM40 Make sure to provide your test setup used to confirm this here for us to check. It is often a faulty assumption that leads to such inquiries...

[2019-02-03 10:42] AdSchellevis commented on #3174
@abplfab thanks for confirming, we'll ask @fichtner to add this in 19.1.1 and ask @MichaelDeciso to look at the docs suggested by @sjjh  (https://docs.opnsense.org/manual/how-tos/sslvpn_client.html)

[2019-02-03 10:42] #3174 closed

[2019-02-03 10:42] MrM40 commented on #1384
ups...my wifi had jumped to LAN, my mistake :-( Sorry for the inconvenience

[2019-02-03 10:43] fichtner commented on #1384
@MrM40 no worries 👍

[2019-02-03 12:26] fichtner opened #3179 "interfaces: when assigning VLANs use their description as the interface description"
This is a nice idea, but in practice it requires us to know where that description is stored, making it harder to build interface-based plugins...

[2019-02-03 12:37] JasMan78 commented on #3175
@fichtner It's a "Realtek PCIe GBE Family OnBoard Controller". I don't know how I can see which driver was loaded.

My OPNsense testing VM has this behaviour too. Right after updating to 19.1. The card is an "Hyper-V Network Interface".

[2019-02-03 12:38] fichtner commented on #3175
Thanks. I think this happens in netmap emulation mode where the fix for the native netmap devices now doubles the traffic...

[2019-02-03 13:38] fichtner commented on #3173
Thanks to @marjohn56 we'll fix this in 19.1.1 and change the upgrade path to 19.1.1 directly so major upgrades won't suffer from this. There may be new images coming as well but not as early as 19.1.1.

[2019-02-03 13:38] #3173 closed

[2019-02-03 14:53] Julien-nl commented on #3173
Dies it mean we can update now to 19.1 ? i was affect but afterwaard i moved back to 18.7

thank you

[2019-02-03 14:54] fichtner commented on #3173
Manual workarounds exist. 19.1.1 will fix it, 18.7 upgrade will be moved to 19.1.1 directly skipping the bad 19.1 *after confirmation*.

[2019-02-03 14:54] fichtner commented on #3173
PS: 19.1.1 planned for Tuesday. Upgrade path switch maybe on Wednesday.

[2019-02-03 15:54] Julien-nl commented on #3173
@fichtner thank you for your quick reply, i'll wait those couple of days untill the 19.1.1 is released.

[2019-02-03 16:15] marjohn56 commented on #3173
Yes. By default the workaround will be on, you'll need to tick the box to disable it.

[2019-02-03 16:43] fichtner commented on #3173
Try to add it twice in advanced to see what happens.

[2019-02-03 17:10] tadrien opened #3180 "OPNSense hangs after a while"
After some hours of operation, i can't login into the administration panel anymore, the web address of the panel is simply not responding. A console login also fails, and it shows some strange errors:

![a](https://user-images.githubusercontent.com/47301132/52179779-b71f1000-27de-11e9-8832-f27fc97beac4.png)

In most cases, data transfer through the firewall is still possible.
After a hard reboot,

[2019-02-03 17:13] AdSchellevis commented on #3180
broken sd card?

[2019-02-03 17:13] fichtner commented on #3180
We hear APU4 needs BIOS updates, SATA operation is flaky... cc @lattera

[2019-02-03 17:17] tadrien commented on #3180
No, I'm using a ssd disk.

The former version of OPNSense worked without errors, if that helps.

[2019-02-03 17:21] AdSchellevis commented on #3180
quite often these kind of issues are hardware related, if connected via a sata cable, it might be worth a try replacing the cable.

[2019-02-03 20:03] pwhack opened #3181 "Config Backup via Nextcloud fails because OPNsense doesn't trust its own CA"
Hi,

I have a self-hosted instance of Nextcloud and have secured it with an SSL certificate generated by my instance of OPNsense's CA feature. It appears the OPNsense config backup to this instance of Nextcloud is failing due to `"ssl_verify_result":20`. Some quick Googling seems to indicate this is PHP's cURL library saying it could not verify the server's (Nextcloud's) certificate chain. That's

[2019-02-03 21:34] fabianfrz commented on #3181
See #1460

[2019-02-03 23:05] lattera commented on #3180
I reached out to PC Engines directly. They verified it's a BIOS issue. They said downgrading to the latest mainline BIOS should resolve the issue.

[2019-02-03 23:07] lattera commented on #3180
(BTW, I'm in the same boat with multiple APU4 devices. I haven't been able to successfully downgrade the BIOS, yet.)

[2019-02-04 04:29] youngnicks opened #3182 "VLAN DHCP Issue with IPS Enabled"
OPNsense version 19.1
Suricata version 4.1.2

VLAN clients are unable to obtain an IP address via DHCP when IPS is enabled on the parent interface. It doesn't matter if IPS is enabled on the VLAN interface or if Promiscuous mode is enabled. Once IPS is disabled on the parent interface, clients quickly connect to VLAN. Looking at the logs, it appears that VLAN clients are trying to be assigned an I

[2019-02-04 07:46] AdSchellevis commented on #3182
could be driver related. which network card are you using? and what does the setup look like.

[2019-02-04 14:43] macmenco commented on #3169
A me to. This is happening for a while now. Today even the complete firewall crashed...

This is from my resolver.log
[code]

And this is my unbound.conf

[code]

[2019-02-04 15:15] RadarExile opened #3183 "19.1 Emerging Threats rules not updating."
Whether initiated by cron or manually from the interface, the Emerging Threats IDS rules do not update consistently. It seems that they will update exactly once - If I install the ET Telemetry plugin, I can update the rules once after installing it, and future updates seem to fail, with the Abuse.ch timestamp changing but the Emerging Threats timestamps not changing. If I then remove the ET Teleme

[2019-02-04 15:20] AdSchellevis commented on #3183
they only update when there's new data, all ET rules have a version file available (as of 19.1 the ET open uses this too).

[2019-02-04 18:09] unipacket1 commented on #3166
Thanks AdSchellevis!

Just from a technical standpoint, is it because of how pf handles sessions and rules?  The reason I ask is that Ive used some linux based firewalls and when a new rule is created, any open connections matching the new rule are blocked.

[2019-02-04 18:20] enoch85 commented on #3169
For me this is fixed, don't ask me how, I don't know. :)

[2019-02-04 18:36] AdSchellevis commented on #3166
I think conntrack in Linux is different in that regard, maybe they link the rule to the state so they can remove it when it's not there anymore.

By my knowledge, the state table in FreeBSD only contains the state and not the origin of the state.

[2019-02-04 19:03] youngnicks commented on #3182
System is a Protectli Firewall Micro Appliance With 6x Gigabit Intel LAN Ports, AES-NI, i3, 4GB RAM, 32GB mSATA.

- Intel® Dual Core i3 7100U, 64 bit, 2.4GHz, 3MB Smart Cache, Intel® AES-NI hardware support
- 6x Intel® Gigabit Ethernet NIC ports
- 4GB DDR4 RAM, 32GB mSATA SSD
- 4x USB 3.0, 1x RJ-45 COM, 1x HDMI

Wifi is provided via Ubiquiti UAP-AC-Pro. Everything was working while using pfSense a

[2019-02-04 19:33] yhap2003 opened #3184 "Cannot access Outlook (Hotmail, Live, etc) and O365 emails"
This one is very odd. First of all, my 18.7.10_4 works great! I have no issue.
19.1 has an issue when i'm on iphone or android devices, it does not connect to the server for my hotmail, live or company o365 account.
As soon as I take wifi off and use LTE, my emails work.

I have a fresh install of 19.1, no firewall rules blocking anything and that was the first problem I notice because i basically

[2019-02-04 19:55] youngnicks commented on #3182
Network card is:
    vendor     = 'Intel Corporation'
    device     = '82583V Gigabit Network Connection'

[2019-02-04 20:32] AdSchellevis commented on #3184
might be https://github.com/opnsense/core/issues/3173 if the mtu value of your network card is set using dhcp.

[2019-02-04 20:55] youngnicks commented on #3182
I have a workaround by putting everything on a VLAN and not run IPS on the parent, but I don't think that should be the permanent solution.

[2019-02-04 21:19] yhap2003 commented on #3184
Thank you! It is indeed related!
For others having the same issue.
Go into Interfaces | [WAN] enter 1500 in MTU box
Then go to DHCP client configuration | change Configuration Mode to Advanced | Under Option Modifiers	enter supersede interface-mtu 0

I didn't need to reboot the firewall but it's worth rebooting if it still doesn't work for you

[2019-02-04 21:20] yhap2003 commented on #3173
Thank you!

This works for my issue #3184

[2019-02-04 21:28] SirWobbyTheFirst opened #3185 "Feature Request: Allow CARP to Connect/Disconnect a PPPoE Connection"
I have not seen any similar functionality in OPNsense, at least as of 18.7.10 so I am requesting a feature here, would it be possible to have CARP begin dialling a PPPoE connection when it detects a node has moved from Backup to Master and likewise would it be possible for CARP to then disconnect said PPPoE connection when it detects the Master has come back online?

I've seen many posts on the In

[2019-02-04 21:40] fichtner commented on #3184
Thanks for the update. We'll fix this one tomorrow in 19.1.1.

Cheers,
Franco

[2019-02-04 21:40] #3184 closed

[2019-02-05 05:43] soder10 opened #3186 "Gateway monitoring status misleading"
Hello all,

I just figured out recently that the gateway status widget on the dashboard is showing me a very misleading output. I realised, that some time in the past 6 months since I have the firewall running, the gw monitoring has been put into "disabled" state. Still, all icons and hints suggest its "green", "running", and "ONLINE".

How do I mean "disabled"?  System \ Gateway \ Single -> selec

[2019-02-05 11:21] bluesource commented on #1773
just for info: its working again after a call with deciso (business support).

The Issue was: Remote FW is only accepting a Cert as peer identifier and therefore we set "KeyID" with value "%any, although remote FW has a fix IP.  Then the Manual SPD entries are not set.

Fix from deciso:
/usr/local/etc/inc/plugins.inc.d/ipsec.inc

` //$peerid_spec = ipsec_find_id($ph1ent, "peer");

[2019-02-05 11:45] bleetsheep opened #3187 "Halt privilege dysfunctional"
When granting the halt (and/or reboot) privilege to an otherwise unprivileged user, the power menu is not shown. When granting the halt privilege, it also breaks the login process. Steps to reproduce:

1. Create a new group
1. Edit group privileges to include "Diagnostics: Halt System"
1. Create a new user
1. Add user to the group
1. Log in with user

Expected result: user is logged in and able to

[2019-02-05 11:48] AdSchellevis commented on #3187
@bleetsheep thanks, https://github.com/opnsense/core/commit/7ee1110d0f0e58a4d18246dbcbba276065243af1 should fix it.

[2019-02-05 11:48] bleetsheep opened #3188 "Better separation of privileges for system updates"
Currently, there is one permission for system updates. This grants the user access to the screen for system updates, including the tab where they can change which server the updates are pulled from. If you can control what packages are being installed as root, any such user is basically root. There is no point doing updates with an account other than root.

The feature request is to add a permissi

[2019-02-05 12:57] Seegras opened #3189 "Standard port ignored in alias (openvpn)"
I had an alias "openvpn_ports" defined, over port 1194,1195,1196,1197 and 1198. However, the order was changed in the GUI, with 1194 appearing at the end of the list, and the resulting firewall rules looked like this:

root@gate1:~ # pfctl -sr | grep 119
pass in quick on igb0_vlan101 reply-to (igb0_vlan101 203.0.113.113) inet proto udp from any to 203.0.113.0/29 port = 1195 keep state label "USER_

[2019-02-05 13:08] AdSchellevis commented on #3189
and the output of?
[code]

[2019-02-05 13:17] bleetsheep commented on #3187
Holy crap that was fast; bedankt, Ad!

When would this make it into a release, i.e. that it gets pulled in the update system for production?

[2019-02-05 13:19] AdSchellevis commented on #3187
you can use `opnsense-patch 7ee1110` in the meantime, 19.1.2 will likely include the patch (within a few weeks)

[2019-02-05 13:19] #3187 closed

[2019-02-05 13:35] marjohn56 opened #3191 "Dpinger requires a validation check for time period against probe interval."

[2019-02-05 13:35] marjohn56 commented on #3191
#3190

[2019-02-05 14:26] xarados opened #3192 "IPsec multiple Phase 2 failed"
I has setup Ipsec VPN with one customer, he have 8 Subnets on customer side for each subnet i have create a separate Phase 2 entrie. We use our public IP for communication with the endpoint, so our internal lan was outbound natted to the range of our public ip. My Problem is that traffic goes only to the subnet wich is defined as last in Phase 2. Each other routes are setup but no traffic goes thr

[2019-02-05 14:33] Seegras commented on #3189
The second grep ("grep -i vpn") is part of the first set, before I put in separate rules. It would find it if it existed.

[2019-02-05 14:39] mimugmail commented on #3189
I can not reproduce this with latest 19.1. Can you post the output of https://github.com/opnsense/core/issues/3189#issuecomment-460631378

Mine is:
[code]

[2019-02-05 14:39] Seegras commented on #3189
root@gate1:~ # grep openvpn_ports /tmp/rules.debug
openvpn_ports = "{ 1195 1196 1197 1198 }"
pass in quick on igb0_vlan101 reply-to ( igb0_vlan101 203.0.113.113 ) inet proto udp from {any} to {203.0.113.0/29} port $openvpn_ports keep state label "USER_RULE" # 19dad6bdcf3c406880cc946e28847ec2

But that's not what the GUI says, the GUI says:
[https://temp.discordia.ch/2019-02-05_15-36.png](url)

[2019-02-05 14:42] AdSchellevis commented on #3189
can't reproduce on OPNsense 19.1

[2019-02-05 14:42] qinohe commented on #1460
Hi fabian, I'm using a self-signed chain for this and did not see a change in 19.1 it still sends it's daily backup to the cloud, so I'm not seeing this behavior and your tool (TOTP) still seems to do the job...

edit: there was an update for ca-root-nss, btw. ;)

[2019-02-05 14:43] mimugmail commented on #3189
@AdSchellevis I can reproduce when pasting an additional space after last port.
Gui accepts but it isn't in rules.debug.

[2019-02-05 14:46] AdSchellevis commented on #3189
@mimugmail it's actually a validation issue in the gui in that case. Let me check

[2019-02-05 14:46] Seegras commented on #3189
This is 19.1. And it doesn't notice the alias has changed after I try to remove any spaces.

[2019-02-05 15:14] #3189 closed

[2019-02-05 15:15] AdSchellevis commented on #3189
port validation issue, it should give an error when there a whitespace.  https://github.com/opnsense/core/commit/5ad905c89729d8540f7056e8ea2f94988d35f8ff should fix the validation.

[2019-02-05 15:21] mimugmail commented on #3192
When you do outbound NAT you should also add spd I'd guess ..

Can you verify local initiated connection from Firewall itself to all networks? This should work.

[2019-02-05 15:23] xarados commented on #3192
￼What do you mean exactly?

[2019-02-05 16:28] bewue opened #3193 "19.1.1 OpenVPN Client Export Issues"
My OpenVPN server is listening on TCP Port 443.

I have applied the patches (but same issues after update to 19.1.1):
`opnsense-patch 9eebb2eb7 81364dd3d 6ee58cc30 e9d1aa4`
suggested here: (https://github.com/opnsense/core/issues/3174#issuecomment-459977612)

Then the exported client config works with my "OpenVPN Connect" client on android.
But there is still one error (and two warnings) with the

[2019-02-05 16:37] AdSchellevis commented on #3193
`verify-x509-name ... name` shouldn't be necessary, `verify-x509-name .... subject `should be in there

`auth-nocache` could be a useful addition, I'll have to check it it should be default/optional

[2019-02-05 17:00] bewue opened #3194 "19.1 OpenVPN Problems with multiple OpenVPN server instances"
The Roadwarrior VPN worked until i configured a second OpenVPN server.
Server1: TCP 443, IPv4 Tunnel Network: 10.50.0.0/24
Server2: UDP 443, IPv4 Tunnel Network: 10.50.1.0/24

On the OpenVPN interface i have allowed IPv4+6* from [10.50.0.0/24 and 10.50.1.0/24] to any.
So everything should be allowed.

But in the firewall logs i see blocked packages by "default deny" on interface ovpns2.
Then i ass

[2019-02-05 18:41] klada commented on #3180
Sorry for being a little off-topic here, but I'd like to inform you guys that PCEngines has release a new coreboot (v4.0.23) for the APU2 boards yesterday:

https://pcengines.github.io/

It fixes a pfSense issue and introduces ECC support for the APU's memory.

I have upgraded my BIOS to v4.0.23 and OPNSense 19.1 has been running fine so far with it. Also make sure to use the "Legacy BIOS" for Fre

[2019-02-05 18:42] fichtner commented on #3180
@klada highly appreciated, thanks for the heads-up! :)

[2019-02-05 20:17] enoch85 commented on #2841
I have the same issue, it seems to always be the first rule in the list. Had it since 18.7.something and it's still in 19.1.

Everything works, just outputs this on every reboot.

[2019-02-05 20:51] monreal commented on #2841
FWIW I also still get this after a reboot but also after the WAN connection is lost and reconnects.

[2019-02-05 20:56] unipacket1 commented on #3183
Would it help to display the installed version and the latest version available for download in addition to the last download date and time?  That way one could see if they are not updating?

[2019-02-05 20:56] MikeyMikeDO opened #3195 "GUI of monit - doesn´t allow hostnames"
monit configuration: Service and type "Remote Host" in Field "Adress" no hostnames are allowed.
--> Error: "Address must be a valid IPv4 address".

But in the monit manual its possible to choose an IP Adress or a hostname. So i can´t check a dynamic hosts.

[2019-02-05 20:57] unipacket1 commented on #3166
Ok, was curious.  Thanks again!

[2019-02-05 21:14] #1352 closed

[2019-02-05 21:36] theq86 opened #3196 "Bug: hostname aliases are only resolved to v4 addresses, not working with v6"
I can't access the webinterface via IPv6. Is that normal? And can I enable it somehow?

[2019-02-05 21:40] lattera commented on #3180
I've now verified that flashing v4.0.23 resolves the mSATA issues.

Here's the procedure I followed:

1. Download HardenedBSD installation media
1. Write HardenedBSD installation media to USB memstick with dd
1. Boot the installation media on the APU4c4
1. Partition the mSATA with a single 2gb partition, type freebsd-swap
1. `swapon /dev/ada0p1`
1. Set up a memory-backed filesystem (3gb in size):

[2019-02-05 21:53] tadrien commented on #3180
You may also do this from an running instance of opnsense (starting from step 10, which worked in my case), as described here:

https://www.bsdforen.de/threads/pc-engines-apu2-bios-update.33587/

[2019-02-05 21:55] fichtner commented on #3196
lighttpd doesn't like link-local, but assigned static or tracked IPv6 should work. my static setup responds to IPv6.

[2019-02-05 22:41] lattera commented on #3180
Yup. In my case, I didn't have a running install of OPNsense.

So, instead of the large amount of steps above, you could install OPNsense 18.7, flash the v4.0.23 BIOS, then move forward with the install of or upgrade to 19.1. :)

[2019-02-05 23:20] lattera commented on #3180
@tadrien is this still an issue for you? Should we keep the ticket open?

[2019-02-06 07:51] #3195 closed

[2019-02-06 07:51] AdSchellevis commented on #3195
@MikeyMikeDO thanks for reporting, the validation is faulty indeed.

[2019-02-06 09:05] AdSchellevis commented on #3193
selected server mode? most settings in the export depend on the server end, your issue doesn't contain a lot of context.

[2019-02-06 09:12] bewue commented on #3193
Server Mode is "Remote Access ( User Auth )"

[2019-02-06 09:14] AdSchellevis commented on #3193
[code]

[2019-02-06 09:31] bewue commented on #3193
The patch did the fix for the `verify-x509-name ...` issue, thanks :)!

The error with  the `tcp-client` option is still present.
`tcp-client` should be `proto tcp-client` ?

[2019-02-06 09:44] AdSchellevis commented on #3193
@bewue right, missed that one, https://github.com/opnsense/core/commit/710b82917a94d941a48af45746cdf0e4b20b851a

[2019-02-06 10:14] xarados commented on #3192
@mimugmail i have more information from our customer:
Model: Cisco ASR1002
IOS Version: 16.3

Phase 1 settings:
[code]
Phase 2 settings:
[code]
Routes for IPsec that ends on our Subnet 212.x.x.176/29:
[code]

[2019-02-06 11:48] mimugmail commented on #3192
Why don't you just ask the other side for enabled tcp services on 2-3 different networks,, like rdp or smtp?

[2019-02-06 11:58] xarados commented on #3192
There are services running on different subnets (SSH, HTTP/s, ...).

[2019-02-06 12:02] mimugmail commented on #3192
And what happens when you do a telnet to these ports via the Firewall directly asked here: https://github.com/opnsense/core/issues/3192#issuecomment-460685360

[2019-02-06 13:26] xarados commented on #3192
Permission denied for telnet/ping command.

[code]

[2019-02-06 14:03] mimugmail commented on #3192
ok, open a second terminal and do "tcpdump -n -i enc0" .. then on first terminal the telnet again and post the output of tcpdump

[2019-02-06 14:13] xarados commented on #3192
I have test to 2 different Subnets with Ping and telnet:
![screenshot_20190206_150725](https://user-images.githubusercontent.com/1060030/52347163-9692c800-2a21-11e9-914c-7a1355d56f77.png)

[2019-02-06 14:23] mimugmail commented on #3192
As it travels through the tunnel it looks fine to me.
You have to mark the network in SPD (phase2 at the end)

https://wiki.opnsense.org/manual/how-tos/ipsec-s2s-binat.html

[2019-02-06 14:37] xarados commented on #3192
My internal LAN is marked in SPD Phase 2.
BINAT rules have i not, i have outbound nat configured.
When i would save a new BINAT rule it is not possible.

![screenshot_20190206_153435](https://user-images.githubusercontent.com/1060030/52348645-1ff7c980-2a25-11e9-9cb5-79a62bfb6e92.png)

[2019-02-06 15:45] tbandixen opened #3197 "interfaces: dhclient-script regression in 19.1"
Just want to be sure the dev are aware of "our" issue.

After 10-20 minutes of uptime all incoming connections are beeing dropped!
So, OpenVPN tunnels are dropped too. It was fine on 18.7.10.

In the General-system log I can see this every 20 minutes:
[code]

after every execution of rc.newwanip (even manually) all connection are dropped.

I watch TV over the internet and every 20 minutes the stre

[2019-02-06 15:48] tbandixen commented on #3197
[code]
My OPNsense is running on a apu1d4 from PC Engines for some year without any issue.

[2019-02-06 15:51] AdSchellevis commented on #3197
could be driver (realtek), other connectivity issues. or when ips is enabled related to https://github.com/opnsense/core/issues/3175

[2019-02-06 15:54] tbandixen commented on #3197
IPS is not enabled, ipv6 is also disabled.
Did the realtek drivers change in 19.1.1?

The newwanip script is called every 20 minutes. after every run my connections are being droped.
Is something new in the dhcp? I'm just guessing

[2019-02-06 15:55] beren12 opened #3198 "Setting Speed/Duplex on interface causes flapping"
I have an intel quad card using igb driver and if you set the speed or duplex setting, even to just autoselect, opnsense gets confused and starts bringing the interface up and down. We diagnosed this with @fichtner

Maybe the best solution would be to somehow not have opnsense freak out every time an interface goes down/up? The real problem is that opnsense sees the interface go down so it tries t

[2019-02-06 15:58] tbandixen commented on #3197
The data before your mentioned line is the end of my mentioned line 😄
[code]

[2019-02-06 16:03] AdSchellevis commented on #3197
just `dmesg` in a console

[2019-02-06 16:05] tbandixen commented on #3197
I see a lot more of:
[code]

you need the whole output?

[2019-02-06 16:08] AdSchellevis commented on #3197
cause and effect... `ovpns2` is likely going down, because the interface it's bound to is gone...

so, yes, the logging provided so far doesn't tell a lot about your issue.

[2019-02-06 16:09] tbandixen commented on #3197
WAN connection is gone too, I cannot find anything in dmesg output.

[2019-02-06 16:10] fichtner commented on #3197
Do you know where ovpns2 is listening on? WAN perhaps?

[2019-02-06 16:12] tbandixen commented on #3197
ovpns2 is my OpenVPN server, its interface is being generated.

[2019-02-06 16:14] fichtner commented on #3197
Do you get a new IPv4 on WAN every time this happens?

[2019-02-06 16:15] tbandixen commented on #3197
No, the IP is always the same, although I dont have a fixed ip.

[2019-02-06 16:17] AdSchellevis commented on #3198
This should probably probe first: https://github.com/opnsense/core/blob/7363445d8d5d6d0f4f259af973f3c40ce38c69a6/src/etc/inc/interfaces.inc#L2409-L2419

(did the same for offloading settings, which has similar issues)

[2019-02-06 16:18] fichtner commented on #3197
Please check /var/db/wan_cacheip and /var/db/wan_ip -- they shouldn't match, correct?

[2019-02-06 16:20] tbandixen commented on #3197
But they match O_o

[2019-02-06 16:25] drakosha commented on #3197
It's not the driver issue, i have the same on different hardware. And i have static IP on WAN, but issued by DHCP.

[2019-02-06 16:35] fichtner commented on #3197
Let's try to find it... this one looks like a good candidate... c83bb8d:

    # opnsense-patch c83bb8d

[2019-02-06 17:27] tduboys opened #3199 "Parsing configuration failed at startup between bridge and dhcp6c on WAN"
Hi all,

Following https://github.com/opnsense/dhcp6c/issues/7, I've an issue that is probably not on the dhcp6c client but maybe on config testers during boot sequence.

I'm using OPNSense following this setup : https://wiki.opnsense.org/manual/how-tos/orange_fr_fttp.html

My box is set up as :
- igb0 as WAN
- igb1, igb2, igb3… as bridge0
- bridge0 as LAN

I'm using a QOTOM hardware with 6x Intel

[2019-02-06 18:03] AdSchellevis commented on #3198
@beren12 can  you try https://github.com/opnsense/core/commit/7aab4a99d3581abbe909c31ffd8cefdc8deab9d9 ?

[2019-02-06 18:20] subivoodoo commented on #3197
Same issue here, other hardware (Intel NIC's). My ISP has had a DHCP renew time of 30 seconds and after upgrade to 19.1.1 I get every 30 seconds a drop of my OpenVPN interface.

In the meantime my ISP has changed the DHCP renew time to 12 hours => no issues so far.

Additionally the NTPD service get's also and exit signal during the rc.newwanip script:

`ntpd[56403]: ntpd exiting on signal 15 (Ter

[2019-02-06 18:38] subivoodoo commented on #3197
Applied the patch c83bb8d and klicked "Reload" still causes my ovpns1 link DOWN/UP:

[code]

and NTPD exit signal:

`
Feb 6 19:24:56 | ntpd[94413]: ntpd exiting on signal 15 (Terminated)`

[2019-02-06 18:48] RehaagJ commented on #3197
I had the same (or at least a similar) issue (IP renewal starting on WAN every 30 minutes), then applied c83bb8d about 75 minutes ago, and rebooted. Since then, no more IP renewal.

[2019-02-06 18:55] HaraldSimon commented on #3180
The argument -w is missing in step 13:
`flashrom -p internal:boardmismatch=force -w apu4_v4.0.23.rom`

Thanks to lattera for sharing the steps.

[2019-02-06 18:56] lattera commented on #3180
Whoops! Good catch! I'll edit the comment to add that. Thanks!

[2019-02-06 19:05] subivoodoo commented on #3197
Patched again + reboot... still VPN link down/up during IP renewal.

[2019-02-06 19:15] Northguy opened #3200 "Erratic behaviour of WAN after R19.1 update and apply changes to the WAN interface settings"
After install of R19.1 I experienced the MTU bug on WAN side (#3173 ), so applied the provided 'patch' with  _supersede interface-mtu 0_

Now I applied R19.1.1, removed the _supersede interface-mtu 0_ option modifier, pressed 'save' and 'apply changes' and all of a sudden CPU spikes to 100% and WAN Gateway and Interface start behaving like a traffic light -> on / off / on / off....

Update: applie

[2019-02-06 19:16] Northguy commented on #3198
@AdSchellevis : willing to give it a try. How should I apply patch from CLI?

[2019-02-06 19:17] AdSchellevis commented on #3198
[code]

[2019-02-06 19:24] AdSchellevis commented on #3200
Keep in mind that https://github.com/opnsense/core/issues/3198 only impacts installations where media wasn't set to default.

[2019-02-06 20:03] theq86 commented on #3196
Seems this turns into either a bug or a feature request.
The firewall blocks the incoming connection.
Reason: I'm using a hostname alias. Hostname aliases are resolved to their IP addresses according to the documentation. This seems to be true for A records only. May that be true?
I have 2 rules that should make the alias pass. For IPv6 and IPv4. Only the v4 rule works. When I statically entered t

[2019-02-06 20:13] tbandixen commented on #3197
After patching the tv stream didn't drop for over 1 hour. Tomorrow I can test if the vpn connection is stable again.

Thank you very much for your quick interaction.

[2019-02-06 20:14] Northguy commented on #3200
#3198 is worse than my issue... toggling the speed settings on LAN made my system totally unresponsive. Maybe I should have tested on WAN to keep LAN accessable. Anyhow, rebooted and applied patch which seems to solve that issue. Toggling speed is possible without problems.

Changed option modifier again by filling in "supersed ...." , pressed save and system goes into high CPU again. My issue abo

[2019-02-06 20:19] AdSchellevis commented on #3200
just to be sure, you didn't remove / disable https://github.com/opnsense/core/blob/7aab4a99d3581abbe909c31ffd8cefdc8deab9d9/src/etc/inc/interfaces.inc#L3216-L3218, did you? if it worked with the option patched in 19.1, your provider is sending you a faulty mtu..... which is solved in 19.1.1 (unless you disable the option).

[2019-02-06 20:20] tadrien commented on #3180
@lattera Currently not. I'm currently running my APU on the latest bios (4.9.0.1) and everything seems to be working fine, though i wasn't able to have my OPNSense running for a longer period of time since the bios upgrade.

 The newest bios also gave me a nice boost in performance.

Thanks a lot for your help so far!

[2019-02-06 20:51] Northguy commented on #3200
@AdSchellevis no, I didn't. The box is ticked, so I assumed that the patch is in place for 19.1.1. I only removed the text in the options modifier box. In itself this should not change a thing, as patch is applied through the tick box. Ifconfig still shows MTU of 1500, which confirms this.

The system just goes into high cpu load and router advertisement deamon goes to 'red'. A reboot solves every

[2019-02-06 20:57] AdSchellevis commented on #3200
and what does /var/log/syslog show when you tail it?

[code]

[2019-02-06 21:54] Northguy commented on #3200
Hi,

Just renamed the WAN interface again, did a "Save" followed by "Apply" and it results in the following (starting at 22:04):

Feb  6 21:51:09 OPNsense flowd_aggregate.py: start watching flowd
Feb  6 21:51:12 OPNsense flowd_aggregate.py: vacuum src_addr_details_086400.sqlite
Feb  6 21:51:13 OPNsense flowd_aggregate.py: vacuum src_addr_000300.sqlite
Feb  6 21:51:13 OPNsense flowd_aggregate.py: v

[2019-02-06 21:56] Northguy commented on #3200
NB: did not test on LAN, but might behave in the same way... if necessary I can test day after tomorrow

[2019-02-07 06:31] tbandixen commented on #3197
I can't see any newwanip logs over the night.

I know now why the connection dropped everytime... I had "Dynamic state reset" active (_Reset all states when a dynamic IP address changes.This option flushes the entire state table on IPv4 address changes in dynamic setups to e.g. allow VoIP servers to re-register._)
But the IP didn't change, so this trigger shouldn't have been triggered.

But thank

[2019-02-07 06:34] tbandixen commented on #3197
What happens to the patch if I install some updates through the web gui? Does it persist?

[2019-02-07 07:25] subivoodoo commented on #3197
Got it, the "Reload" button forces the rc.newwanip script but the patch doesn't call it from dhclient if it's not a real IP change, right?

So the patch works also for me!

There was a DHCP triggered renewal try on my WAN without real IP change a few minutes ago (log entry in the dhcp log). But nothing to see about the rc.newwanip in general system log and also no exit signal in NTPD log.

So now

[2019-02-07 07:41] fichtner commented on #3197
The patch will not persist into 19.1.2 and needs to be reapplied worst case. opnsense-patch was designed as a tool to test changes between versions and to troubleshoot.

As the change for has been proposed in issue #2542 for a long time for a good reason we now need to find the problem contained within the patch itself as a way to go forward with a better path than just to go back to what we had b

[2019-02-07 07:42] AdSchellevis commented on #3200
Looks like issues with hardware/driver or cabling, card goes down, all  events between are a result of the loss of link.
[code]

You could check your offloading settings, different switch / cable and media settings.

[2019-02-07 07:43] fichtner commented on #3196
I'm not sure what the bug or feature is... if DNS of the OPNsense to a link local and that isn't working for lighttpd we'd have to look at support it for lighttpd, no?

[2019-02-07 07:49] tbandixen commented on #3197
I understand that, if I again run the `# opnsense-patch c83bb8d` it will revert the patch, right?

I'd like to test the behaviour without the active setting "Firewall: Settings: Advanced: Dynamic state reset".

[2019-02-07 07:55] Northguy commented on #3200
Driver seems unlikely, as this used to work with 18.7?

Did not change anything in the cabling, but will do some checking on that side this evening. Don't know what you mean with offloading settings.

There is no switch on igb0. It is directly connected to a bridged cable modem.

[2019-02-07 08:01] fichtner commented on #3197
Yes, that will revert it again. If the patching should go wrong for any reason (the utility would tell you) then you can also revert the whole opnsense package to its last known good release with this:

    # opnsense-revert opnsense

[2019-02-07 08:01] fichtner commented on #3197
PS: Thanks for your help!

[2019-02-07 08:02] lhorace commented on #3197
Hello

[2019-02-07 08:03] lhorace commented on #3197
Don't spam Enter please? I find this Issue curious

[2019-02-07 08:09] lhorace commented on #3197
@fichtner I don't  understand this **fixed** or what 'The patch will not persist 19.1.2'. First and foremost, I've been observing, this is active project. With that said, I don't know what the patch does? Is it a configuration problem?

[2019-02-07 08:17] fichtner commented on #3197
Please take the time to read the posts in this issue and the patch itself and the originating issue. I am not here to give you a summary and it's quite impolite also to everyone else posting debug data here.

[2019-02-07 08:17] tbandixen commented on #3197
The VPN connections drops again after reverting the patch. With the same logging information.
Trying to analyze the patch and maybe I found a type?
https://github.com/opnsense/core/commit/c83bb8d286dbcd5ffcc257027a15782057efd11d#diff-0cf30baaca1e01958ae0680c8681bb6eR48
Shouldn't `$new_hostname` be `$new_host_name`

[2019-02-07 08:20] fichtner commented on #3197
Well, you are looking at the revert, which means the bug was removed in 19.1, not introduced.

Better to review the original ticket: https://github.com/opnsense/core/commit/882ce283fd1210a106ca2d953fc169958987cfbe

It might be related.

[2019-02-07 08:22] lhorace commented on #3197
You don't have to, I've read you enough to have idea the person you are @fichtner. To say I won't follow up, I asking me politely not to comment?

[2019-02-07 08:23] tbandixen commented on #3197
Right, I was confused... Looking at the original ticket now

[2019-02-07 08:24] lhorace commented on #3197
I have the firewall installed, I need to  know it's stable... Yes I am doing the follow up right now

[2019-02-07 08:24] fichtner commented on #3197
@lhorace last warning: please stop spamming

[2019-02-07 08:27] lhorace commented on #3197
Okay, I didn't know I was spamming, I will switch back to pfsense

[2019-02-07 08:27] lhorace commented on #3197
You should banned now

[2019-02-07 08:28] fichtner commented on #3197
Thanks, but you are indeed still spamming ;)

[2019-02-07 08:29] AdSchellevis commented on #3200
19.1 has a different kernel (HardenedBSD 11.2), so driver might be different, although I haven't seen similar issues on the machines we're selling (also using igb drivers).

offloading settings, can be located Interfaces -> Settings (a screenshot might help) and the media settings on the interface can also shed light.

[2019-02-07 08:29] lhorace commented on #3197
Yeah my history tells a different story

[2019-02-07 08:33] lhorace opened #3201 "Just ban me"
I'd like not to make the effort.

[2019-02-07 08:33] #3201 closed

[2019-02-07 08:34] fichtner commented on #3201
also see https://github.com/opnsense/core/issues/3197#issuecomment-461326836

[2019-02-07 08:35] theq86 commented on #3196
No. It's an issue with the firewall aliases, see above.

if you create a host alias for example.org it is resolved and the Firewall uses the resolved ip for it's rule.

That works well with IPv4 but not with IPv6 so I assume AAAA records are not also resolved and used if the firewall rule is a v6 rule.
It has nothing to do with link-local addresses or the webserver.

[2019-02-07 08:38] fichtner commented on #3196
Now I'm utterly confused. You wrote initially:

[2019-02-07 08:43] theq86 commented on #3196
Yes. But after some debugging I got to the real problem. The webserver is ok and responds on v6. I got it working.
The reason that it did not work was the firewall that blocked my http requests because my pass rule did contain an alias whose ipv6 address did not get resolved.

[2019-02-07 08:45] fichtner commented on #3196
Ok, how can I reproduce this locally?

[2019-02-07 08:50] lhorace opened #3202 "How do you delete your account on the forums"

[2019-02-07 08:51] fichtner commented on #3202
also see https://github.com/opnsense/core/issues/3197#issuecomment-461326836

[2019-02-07 08:51] #3202 closed

[2019-02-07 09:02] tbandixen commented on #3197
After reapplying the patch, I looked at the `/var/log/dhcpd.log` file.

If the patch is applied there are logs like this every dhcp cycle (20 minutes for me):
[code]
Without the patch these logs are looking like this:
[code]
The line `dhclient: RENEW` is missing, how comes?
Could that be the difference?

[2019-02-07 09:35] theq86 commented on #3196
Take an OPNsense instance with both, a public static IPv4 and IPv6 address on WAN.

Use case is accessing the Webinterface from the internet.

Take a subdomain (fw.example.org) and give it an A record and an AAAA record using the above public addresses.

Use this subdomain as the opnsense's hostname.

Disable the anti lockout rule on WAN

Add an firewall alias of type host and assign it your fqdn.

[2019-02-07 09:53] bewue commented on #3193
@AdSchellevis ok, `proto tcp-client` was added to the exported client config. The config now works out of the box.

[2019-02-07 09:56] AdSchellevis commented on #3193
@bewue ok, thanks for confirming, I'll take a look if we should do anything with `auth-nocache`, since you can easily add it now, I'm a bit if doubt if we should add more checkboxes...

[2019-02-07 10:38] tbandixen commented on #3197
Where are these variables `alias_ip_address`, `old_ip_address` and `new_ip_address` (in the `dhcpclient-script`) being set/defined?

[2019-02-07 14:41] fichtner commented on #3197
It is set in dhclient binary before dispatching dhclient-script. Sorry, I will follow up later, stuck at my day job at the moment.

[2019-02-07 17:17] Northguy commented on #3173
@fichtner

Just wondering...

While researching my own issue #3200 I came across this patch on FreeBSD https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=229432

Shouldn't this then be already in 11.2 by default, or is OPNsense Hardened BSD not on same patch level?

[2019-02-07 17:20] fichtner commented on #3173
@Northguy yes, it's in 11.2 and our 19.1

[2019-02-07 17:27] fichtner commented on #3197
So RENEW is missing because of https://github.com/opnsense/core/commit/882ce283fd1210a106ca2d953fc169958987cfbe#diff-0cf30baaca1e01958ae0680c8681bb6eL311

Can you please apply 2e314c0 and save from system: settings: logging to move the dhclient (and dhcp6c) log to the system log? it will be easier to have all in one place.

    # opnsense-patch 2e314c0

[2019-02-07 18:19] fichtner commented on #3173
Sorry, it's not in 11.2 but we have it in 19.1 https://github.com/opnsense/src/commit/4ab5484a8

[2019-02-07 19:18] fire-burner commented on #3177
I get the exact same kernel panic on a Futro 550-2. 18.7.x runs normally. Also booting the 19.1. installer leads to a kernel panic.

If someone tells me, on how I can extract the logs via the kernel debug console, I could provide a full dmesg log.

[2019-02-07 19:19] fichtner commented on #3177
https://forum.opnsense.org/index.php?topic=11419.msg52164#msg52164

[2019-02-07 19:49] fire-burner commented on #3177
19.1 does boot without a kernel panic, when using:
hw.ibrs_disable=1
vm.pmap.pti=0
So it seems that a recent meltdown or spectre patch must cause the kernel panic

[2019-02-07 21:29] Northguy commented on #3200
OK, I did some more testing. Once I change the _IPv4 Configuration Type_ from DHCP to Static, using the last known IP and gateway from my ISP, the WAN interface stays stable and I can change the Description or any other field without any problems.

Apparently the interface flapping has something to do with the DHCP settings or rc.linkup: Hotplug event?. See log below of changing the Description wi

[2019-02-07 21:42] fichtner commented on #3200
Probably same as #3197 and there is a patch in there to try as well.

[2019-02-07 23:13] Northguy commented on #3200
But when I leave WAN on DHCP and do a reboot, IP is acquired and no up/down changes. Apparently there is a difference between changing settings with a hotplug or doing a cold boot.

Feb  8 00:07:36 OPNsense reboot: rebooted by root
Feb  8 00:07:36 OPNsense syslogd: exiting on signal 15
Feb  8 00:09:03 OPNsense syslogd: kernel boot file is /boot/kernel/kernel
Feb  8 00:09:03 OPNsense kernel: Copyri

[2019-02-08 08:14] ktk commented on #2114
I'm still on 18.x, did the support for the LEDs make it into 19.1?

[2019-02-08 08:15] fichtner commented on #2114
The driver did, yes.

[2019-02-08 08:16] ktk commented on #2114
Excellent, thanks! Will check it out and see if I can contribute a plugin.

[2019-02-08 08:55] ja-finn commented on #2946
I was looking for the same. In my old Asus router I could just type in a new hostname and I'm guessing it tied it to the MAC. It's really nice to have for devices that you can't set a hostname on (ie IoT).

Further it seems that setting a static entry without defining an IP address leaves you unable to edit the entry afterwards. No edit button or thrascan to remove it.

OPNsense 19.1.1

![screensh

[2019-02-08 10:08] juliocbc opened #3203 "WebProxy: safePorts / sslPorts mask"
https://github.com/opnsense/core/blob/33815986852d2c9a88a4950895b619e8c5377e76/src/opnsense/mvc/app/models/OPNsense/Proxy/Proxy.xml#L345

When you try to put an invalid tcp port like ex.: 80830 the mask matches and put this on the squid.conf file causing an error:

`FATAL: Bungled /usr/local/etc/squid/squid.conf line 50: acl Safe_ports port 80830 # unknown`

Suggestion: Make some regex like [that]

[2019-02-08 10:11] tbandixen commented on #3197
I applied 2e314c0 (without c83bb8d from before), and I just saved "System: Settings: Logging" without any changes, thats right?

[2019-02-08 10:13] fichtner commented on #3197
@tbandixen that's correct

@cejohnson thanks. that's been this way for a long time however

I've reviewed the "bad" patch line by line and nothing really jumps out there that would explain all of it. We need more data points, hopefully a full log and the $LOGGER $reason addition will reveal what is going on.

[2019-02-08 10:15] AdSchellevis commented on #3203
we have a port validator, https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/PortField.php. we should probably add support for lists there and change the safePorts type.

[2019-02-08 10:21] mimugmail commented on #3203
Something like this:

[code]

But it would break the defaults ..

[2019-02-08 10:24] tbandixen commented on #3197
Somehow there are missing entries?
[code]

[2019-02-08 10:29] AdSchellevis commented on #3203
@mimugmail your right, my mistake, probably better to fix with a regex in that case.

[2019-02-08 11:32] Northguy commented on #3197
@fichtner please review logs in #3200 based on save [2e314c0](https://github.com/opnsense/core/commit/2e314c016e12fdfaa5098c1de7b1376f65fc37c8) (without [c83bb8d](https://github.com/opnsense/core/commit/c83bb8d286dbcd5ffcc257027a15782057efd11d) from before). If you are under the impression that this issue is the same as #3200 should I concentrate debug logs here?

[2019-02-08 12:02] Northguy commented on #3200
https://github.com/opnsense/core/issues/2372#issuecomment-388735310 also looks awfully similar

[2019-02-08 13:45] itn3rd77 opened #3206 "LDAP SSL authentication broken"
Hi @fabianfrz ,

thanks for your great work on the NGINX plugin and the integration of the Advanced Authentication through the available back-ends. After struggling for hours and debugging I give up now and open this issue so someone with more brain power and knowledge in OPNSense can hopefully do the last steps.

I have an LDAP backend for authentication using SSL. The error message from ldap_bin

[2019-02-08 14:47] xarados commented on #3192
Hi @mimugmail is there are already news or
do you need more information?

[2019-02-08 15:46] enoch85 commented on #3197
I have a similar behaviour. After upgrade to 19.1 (using 19.1.1 now) I get this:

[code]

My SSL VPN connection breaks like every 5 minutes, even though I have regen set to 7200 seconds.

And my SSL VPN doesn't go over the GIF, it goes over WAN, so I think it's odd.

[2019-02-08 16:11] enoch85 commented on #3197
This is from my general log:

[code]

[2019-02-08 16:29] enoch85 commented on #3197
After doing `opnsense-patch c83bb8d` it's still up, and it's been 28 minutes now. Seems promising. :D

[2019-02-08 19:01] AdSchellevis commented on #3206
we should move the functionality of `ldap_setup_caenv()` to our mvc framework, when I have some time available I'll try to dig into this.

[2019-02-08 19:56] mstrdraco opened #3207 "Freature Request for Logs for CPU/Traffic Graph on Dashboard"
I'm curious if you could make a small "log" or make the CPU usage/Traffic Graph usage more static on the dashboard?  IE if you leave the page on the dashboard it builds up a graph for CPU usage/Traffic Graph and such on the widget.    Sadly if you move to a different page on the GUI or close the browser and go back it starts all over again so you loose that history.  It would be nice to be able to

[2019-02-08 19:58] AdSchellevis commented on #3207
check reporting --> health, these statistics are gathered over time.

[2019-02-08 20:03] mstrdraco commented on #3207
Is there a way to make the Widgets pull from that?  The widgets make it much quicker/easier to get an Idea/feel for what's going on instead of having to try and decipher the statistics?

[2019-02-08 20:07] AdSchellevis commented on #3207
We don't have widgets utilising rrd data, no plans to build them either (there are quite some statistics available, it would likely be quite some work developing something user friendly within the limit space of a widget)

[2019-02-08 20:08] mstrdraco commented on #3207
Ok thanks it was worth a shot, never know until you ask :)

[2019-02-08 21:27] fichtner commented on #3197
I'm wondering if its actually https://github.com/opnsense/core/commit/a1dbbb5e since that is new for 19.1 as well coming from FreeBSD directly but I don't really understand why it causes such a disruptive behaviour...

    # opnsense-revert opnsense
    # opnsense-patch a1dbbb5e

A yes or no on that would be helpful. Thank you.

[2019-02-08 21:32] fichtner commented on #3197
PS: There's also b20f71b to try but looks like low impact

[2019-02-09 08:36] monreal opened #3208 "Web UI fails to start - cert.pem corrupted"
Yesterday I deleted a few interfaces from my OPNsense box when the Web UI suddenly became inaccessible. I tried to log in via SSH, which still works. I restarted the services using the console menu and found one error:

`Starting web GUI...failed.`

Digging further I found this error in the system log:

[code]

Checking the cert.pem file using cat I get this:
[code]

So the cert.pem file seems to

[2019-02-09 09:29] monreal commented on #3208
Update: I restored a backup and was able to log in to the Web UI again. I saved the cert.pem, restored the previous state, replaced the cert.pem, verified it was the correct one, restarted and found the cert.pem corrupted again. Any idea what could be wrong?

[2019-02-09 10:50] wschlich commented on #2114
On my APU4C4 I can see the following LED devices running OPNsense 19.1:
/dev/led/igb0
/dev/led/igb1
/dev/led/igb2
/dev/led/igb3
These LEDs are the green link/activity LEDs of the 4 onboard LAN interfaces at the rear.
The APU has 3 additional status LEDs at the front.
Using 'kldload apuled' yields in the following additional devices:
/dev/led/led1
/dev/led/led2
/dev/led/led3
Nice, thanks!

[2019-02-09 11:42] tbandixen commented on #3197
It looks promising, I cant say yes, but maybe. The TV stream doesnt drop anymore, but now I'm not connected throught VPN, but the logfile looks like this:
[code]

It logs, that the VPN interface is down and up again, but I cant verify this. I can tell you on monday. But the wan interface didnt drop any connection. I didn't apply b20f71b, should I for your tests?

[2019-02-09 12:21] tbandixen commented on #3197
So I tested the VPN connection and unfortunately it drops. I apply b20f1b to test again, but I can't answer until tonight at the earliest.

[2019-02-09 12:22] mimugmail commented on #3192
The screenshot is incomplete

[2019-02-09 12:47] monreal commented on #3208
I just went with the working backup and now have a working setup again. Still I wonder how this could have happened...

[2019-02-09 18:36] kuerious opened #3210 "Router won't upgrade from 18.7.10_4 to 19.1 (or 19.1.1)"
Cross-posting from the forums.

I started at 18.7.10_4, OpenSSL edition on the Protectli FW4A w/ 8GB:
https://i.imgur.com/GxDdDg2.png

From there, back at the release of 19.1 (not the now-changed 1191.1), I followed **ALL** of the steps listed in order. Then I scoured the forums, and tried many different things. And I even took screenshots as I went along.

* Attempted to use the "Update" instead

[2019-02-09 19:00] tbandixen commented on #3197
The VPN connection drops also with the patch b20f71b applied.

[2019-02-09 19:05] L1ghtn1ng opened #3211 "IPS not blocking even though get blocked alerts"
As the title says, I am getting the above. I have et-pro-telemetry rules and I did have the opnsense app detect test rule enabled to block eicar and I get the alerts for that but it does not actually stop the download. I am running 19.1.1

[2019-02-09 20:44] mimugmail commented on #3211
Can you check if rules in /usr/local/etc... are alert or drop?

[2019-02-09 21:06] AdSchellevis commented on #3206
https://github.com/opnsense/core/commit/afcbdee036bb4650bf65e1f8ea0f71277f877ba9 should do the trick, @itn3rd77 can you test and confirm?

[2019-02-09 21:20] L1ghtn1ng commented on #3211
They are drop except for 1 rule in each file and in a few I have the following example

[code]

[2019-02-09 23:10] enoch85 commented on #3197
My issues is fixed with patch `c83bb8d` anyway. Still no issues.

[2019-02-10 03:00] madtempest opened #3212 "Logging not available for failed upgrades"
Hi

As per my thread https://forum.opnsense.org/index.php?topic=11518.0 it appears that there is no logs capturing information around in-place upgrades.

The steps I took to upgrade are covered in the thread but here they are again:
1) Attemped to upgrade via the web GUI
2) Attempted to upgrade via the physical console
3) Changed the mirror to another mirror
3) Set the flavour specifically to Open

[2019-02-10 07:18] itn3rd77 commented on #3206
Thanks @AdSchellevis . I will test and report back.

[2019-02-10 08:02] itn3rd77 commented on #3206
Hi @AdSchellevis,

still not working for me. Here is the error message:

[code]
Could you please improve the error logging on [LDAP.phpLDAP.php#L327](https://github.com/opnsense/core/blob/afcbdee036bb4650bf65e1f8ea0f71277f877ba9/src/opnsense/mvc/app/library/OPNsense/Auth/LDAP.php#L327) (and propably others) to
[code]
This way a user can see the error message ```LDAP bind error (error:14090086:SSL

[2019-02-10 08:04] fichtner commented on #3197
c83bb8d is not going to be an official fix

[2019-02-10 08:06] fichtner commented on #3212
We recommend using a serial console to capture the output. VGA works as well, but in this case a video is a better tool. I know this is inconvenient, but upgrades are supposed to be as early as possible on boot and we cannot rely on a lot of tools and ask users not to do unsupervised upgrades.

[2019-02-10 08:09] fichtner commented on #3212
That being said take a look at this, information freely available in the forum:

https://forum.opnsense.org/index.php?topic=9521.msg51688#msg51688

And on a final note the default installs will not block in this way. Steps to reproduce (or said console output) are highly appreciated. For now we can't assume it is an unmodified OPNsense system because of lack of steps to reproduce and the upgrade t

[2019-02-10 09:27] madtempest commented on #3212
Sensei won't run on a Celeron CPU ;) so that wasn't the issue.

I did have the saltstack repository in place, but I fail to see how this would impact the installation.

Reiterating, logging would have made this a whole lot more sensible. I recognise that the install is very early in the boot sequence, but that does not preclude there being some kind output to stdout. I mean I am getting VGA output

[2019-02-10 09:32] fichtner commented on #3212
First and foremost, I would like to treat this as a support ticket and bring you safely to 19.1. Did the commands work for you?

It is the same as Sensei in this regard, they have a separate repository and that may be the cause of the upgrade stall.

[2019-02-10 09:50] madtempest commented on #3212
This feature request has been made after I did a new install because I got tired of the install failing after days and days. Not so surprisingly, it all went swimmingly apart from some minor config stuff that was missing - stuff that I was trying to use Salt to manage because it is my third party scripts to manage in my environment.

I've captured the commands for the future however.

[2019-02-10 10:13] AdSchellevis commented on #3206
@itn3rd77 if the authentication tester functions, it's likely a permission issue indeed. the cert can only be read by root at the moment as far as I can see.

At the moment I don't have a functional test setup here, if you can do some additional testing, I'll happily change the `putenv` and add some extra logging in there.

[2019-02-10 10:18] AdSchellevis commented on #3211
@L1ghtn1ng the `@opnsense_download_hash` doesn't do anything, it's for version control. When did your issue first appear? (up to which version are you sure your setup functioned?)

[2019-02-10 10:26] L1ghtn1ng commented on #3211
It worked fine in 18.1 and no idea about 18.7 as I skipped that release due to an issue with the firewall and using a unifi security gateway till now.
________________________________
From: Ad Schellevis <notifications@github.com>
Sent: Sunday, February 10, 2019 10:18:46 AM
To: opnsense/core
Cc: J.Townsend; Mention
Subject: Re: [opnsense/core] IPS not blocking even though get blocked alerts (#3211

[2019-02-10 10:33] fichtner commented on #3206
why not 664? It's only a CA bundle...

https://github.com/opnsense/core/commit/afcbdee036bb4650bf65e1f8ea0f71277f877ba9#diff-931fc3c602fece8c5f8c50e404587185R274

[2019-02-10 10:46] AdSchellevis commented on #3206
@fichtner right, when I’m at home I’ll take a look

[2019-02-10 11:58] Northguy commented on #3198
Applied this patch, but (as you mentioned in my own issue) it only applies to the media and not to my specific error. In other words, does not help in my situation.

[2019-02-10 12:08] enoch85 commented on #3197
@fichtner Why not if it's working?

[2019-02-10 12:09] fichtner commented on #3197
We don't know what the error is, so it will come back if we just revert fixes for other problems. Not to mention having issues back that have been fixed with this. Does that make sense?

[2019-02-10 12:13] Northguy commented on #3200
I think I can rule out cable and router HW. Changed cable, does not change issue, changed interfaces and issue moves with WAN interface selected. It either has to do with my Modem (did not change) or with the software.

What I notice is that everything runs smoothly when doing a fresh boot. When I change something on the opnsense WAN interface settings (indepentent if this is igb0 or igb1), the so

[2019-02-10 12:38] enoch85 commented on #3197
Totally

[2019-02-10 12:41] AdSchellevis commented on #3206
@itn3rd77 https://github.com/opnsense/core/commit/d718992c7691411554306a120a64f1502a04bda7 needs testing, should fix the privilege issue in your case, improves logging and removes the `putenv` where there's an alternative (as of php 7.1).

[2019-02-10 13:18] AdSchellevis commented on #3211
@L1ghtn1ng I think we got a bug here, can you try to install an older version, restart suricata (wait until fully loaded, cpu usage drops), and confirm that this issue is gone?

[code]

To revert to the production version:
[code]

Make sure you can access the machine using another interface/console, in case netmap interferes with your traffic.

[2019-02-10 13:43] L1ghtn1ng commented on #3211
I can confirm that having reinstalled the eicar test rule, clearing out
cache and cookies with the 18.1 version of suricata installed it has
actually blocked the download from happening

On Sun, 2019-02-10 at 05:18 -0800, Ad Schellevis wrote:

[2019-02-10 13:46] AdSchellevis commented on #3211
ok, can you do the same with suricata 4.0.6 from 18.7?

[code]

and then the exact same with suricata 4.1.0, to track when this issue seems to have appeared for the first time.
[code]

Thanks in advance!

[2019-02-10 13:49] L1ghtn1ng commented on #3211
Do not know if it makes a difference or not but I am using libreSSL instead of OpenSSL, while the commands above still be okay?

[2019-02-10 13:50] AdSchellevis commented on #3211
oops, no, you need the Libre files, change `OpenSSL` for `LibreSSL` and you should be ok

[2019-02-10 14:21] xarados commented on #3192
@mimugmail here a complete Screenshot.

![screenshot_20190210_151524](https://user-images.githubusercontent.com/1060030/52534880-4a0ffb00-2d47-11e9-9892-c9528900d237.png)

[2019-02-10 14:29] mimugmail commented on #3192
Can you try with all same subnet masks, I'm not sure if this works.

[2019-02-10 14:50] xarados commented on #3192
When i set my external subnet (/29) from  to the same range like my internal (/16) i can save. Destination IP can be unchanged.

![screenshot_20190210_154846](https://user-images.githubusercontent.com/1060030/52535170-80e81000-2d4b-11e9-9189-02b79788cf1d.png)

[2019-02-10 15:20] L1ghtn1ng commented on #3211
Is this something to worry about?

root@firewall:~ # pkg add -f https://pkg.opnsense.org/FreeBSD:11:amd64/18.7/MINT/18.7.9/LibreSSL/All/suricata-devel-4.1.0.txz
Fetching suricata-devel-4.1.0.txz: 100%    1 MiB   1.1MB/s    00:01
Installing suricata-devel-4.1.0...
pkg: suricata-devel-4.1.0 conflicts with suricata-4.0.6 (installs files into the same place).  Problematic file: /usr/local/bin/suricata

[2019-02-10 15:21] AdSchellevis commented on #3211
not really, the files overlap. if you reinstall the originals when done you should be ok.
[code]

[2019-02-10 15:30] L1ghtn1ng commented on #3211
I can confirm that the problem happens with this version of suricata as all the other versions worked fine

pkg add -f https://pkg.opnsense.org/FreeBSD:11:amd64/18.7/MINT/18.7.9/LibreSSL/All/suricata-devel-4.1.0.txz

[2019-02-10 15:32] AdSchellevis commented on #3211
@L1ghtn1ng thanks for confirming, we'll try to debug some more and take it up with the suricata people.

[2019-02-10 15:34] L1ghtn1ng commented on #3211
No problem, I also have it set to block on lan

[2019-02-10 15:55] chrismarkovic opened #3214 "19.1.1 Alias API fails to retain data or create new alias"
When using the alias_util api for Add / List, I am able to add an address to an existing alias list which is visible in the web interface. The additional entry will be added and will be visible via the API if "list"ing the alias, but after 10 - 20 seconds it will drop every entry in the list except the new one I just added. The

Existing Alias:

name: myalias
Hosts: 100.100.100.100

POST details:

[2019-02-10 16:01] AdSchellevis commented on #3214
Can you replicate the exact same behaviour using the gui? if so, please provide steps and alias type used. All endpoints are also available through the user interface.

[2019-02-10 16:14] chrismarkovic commented on #3214
I'm sorry, I'm not quite sure I understand you. I can use the gui to add/remove/modify an alias, then click apply and it works as expected. This is only occurring when using the /api/firewall/alias_util/add/ endpoint. Is there another API endpoint I should be trying or another component in the gui you're referring to?

[2019-02-10 16:16] AdSchellevis commented on #3214
The alias_util endpoint is available in the diagnostic section (https://your-host/ui/firewall/alias_util/), could you replicate your issue there?

[2019-02-10 16:19] chrismarkovic commented on #3214
Yes, that has the same symptom. The new address added via the "Quick add address" box, adds the address into the list and then the existing entry vanishes after 10 - 20 seconds

[2019-02-10 16:20] AdSchellevis commented on #3214
Which type of alias are you using?

[2019-02-10 16:20] chrismarkovic commented on #3214
I'm just working with the default Host(s) one

[2019-02-10 16:25] AdSchellevis commented on #3214
looks like a bug, it's replacing the content instead of adding it...

[2019-02-10 16:29] chrismarkovic commented on #3214
Thank you for your help with this. We've been looking forward to this feature :)

[2019-02-10 16:31] chrismarkovic commented on #3214
Is it also intentional that the API created Alias would not be assignable to rules via the gui?

[2019-02-10 16:32] #3214 closed

[2019-02-10 16:32] AdSchellevis commented on #3214
https://github.com/opnsense/core/commit/50c25eaf6b1ddbac78a4618ce38d70393141f534 fixes the replacement on my end.

Install locally using:
[code]

[2019-02-10 16:33] AdSchellevis commented on #3214
if the alias is visible in the interface, you should be able to assign it.

[2019-02-10 16:38] abraxxa commented on #1228
19.1 is here but the syslog format still doesn't conform to either of the two RFCs, was syslog-ng postponed again?

[2019-02-10 16:38] fichtner commented on #3206
right, 644 of course, thanks 👍

[2019-02-10 16:39] fichtner commented on #1228
Yes.

[2019-02-10 16:46] AdSchellevis commented on #3211
Just posting some stuff for my own reference, compiled some different versions and things seem to break between these commits:

[defective 6/2/2018] https://github.com/OISF/suricata/commit/e96d9c11596e6a2b611902f0c7c601de5dccc6f3
[functional 31/1/2018] https://github.com/OISF/suricata/commit/d2121945c93ea7db0454a2865c8696b940df477a

[2019-02-10 16:49] fichtner commented on #3208
Strange. So when "Starting web GUI..." is printed it should write the cert.pem again. That would either mean:

The cert was damaged in the config.xml, but this is unlikely. The other idea is that the cert is no longer in config.xml so cert is not rewritten and at some point cert.pem got corrupted by the file system.

Do you have an idea what would be more likely?

[2019-02-10 16:50] chrismarkovic opened #3215 "19.1.1 Alias doesn't show up when created by new entry"
When using the alias_util api endpoint to add an entry for a new Alias, the Alias does not display in the gui Alias view. The created aliases do appear under the alias_util gui endpoint and entries can be manipulated there but they are not assignable to rules nor can they be deleted.

alias_util ui:
![image](https://user-images.githubusercontent.com/40845383/52536543-e7dee680-2d96-11e9-8e1b-a46c4b

[2019-02-10 16:53] AdSchellevis commented on #3215
oops, you added a new one using the alias_util? it shouldn't do that, it doesn't know which type to create either.

[2019-02-10 16:54] chrismarkovic commented on #3215
*facepalm* That would be the reason ;)
Is there a proper method for creating and deleting the blank Aliases?

[2019-02-10 16:54] AdSchellevis commented on #3215
yes, the other endpoints, in the alias menu.

[2019-02-10 17:00] chrismarkovic commented on #3215
I'm sorry to ask, but I would assume I could use the getAliasUUID, use that uuid in the delItem to remove the "orphaned ones", but they do not appear to have a UUID. They don't return anything, whereas normal ones do.

[2019-02-10 17:05] itn3rd77 commented on #3206
@AdSchellevis Sure will test and report back. Do I have to revert something or simply ```opnsense-patch d718992```?

[2019-02-10 17:39] fabianfrz commented on #3206
@itn3rd77 just apply it on top of the old one. Just call the command which you have written.

[2019-02-10 17:58] AdSchellevis commented on #3215
no problem, you mean the ones created alias_util? you could leave them or remove them from the console.

There's a script available, we don't seem to use it anymore (I think we had a button for this some time ago, but in normal situations this shouldn't be needed):

[code]

Will likely do the trick

[2019-02-10 18:14] #3215 closed

[2019-02-10 19:33] monreal commented on #3208
I just compared the stored certs... see for yourself (this is obviously only a part of the whole string):

`EaUFoWlZTSUNpQTJCNnBFU1FuVlg4enE4YmQxUUdlQzFpSjlMREx2QW9JQkFRREJWTkljeVM0TlJkc0xYMWFqCmg4VWVlb`

`EaUFoWlZTSUconf_commit: copying 0 rawops from 0x38f01e740e0 (ifc) to 0x38f01e2b080 (ifp)4VWVlb`

How could the conf_commit thing end up inside the conf file?

[2019-02-10 19:36] L1ghtn1ng opened #3216 "Suricata, no way to turn certain rules off"
Title says it all. I want to turn for example;

SURICATA STREAM Packet with invalid timestamp

So it does not fill my logs up. This is one of Suricata's built in rules. When I search for the sid it does not show up in the rules

[2019-02-10 19:37] L1ghtn1ng commented on #3216
I used to be able to do this back in 18.1, is it due to the new version that this cannot be down anymore?

[2019-02-10 20:12] itn3rd77 commented on #3206
Ok now everything is broken.  The file inside ```/var/run/cert``` is zero.

[code]

[2019-02-10 20:41] fabianfrz commented on #3206
@AdSchellevis you forgot to define $ca which is used in line 289

[2019-02-10 20:56] fabianfrz commented on #3206
@itn3rd77  #3217 please test it. Please also note that you need to add my username with the right parameter to opnsense-patch.

[2019-02-11 03:11] kuerious commented on #3210
No answers. No suggestions.

So, I _did_ take down the internet. Did a fresh, FULL install of 19.1 ... and I STILL CANNOT INSTALL 19.1.1

<shrug> ... I have no idea.

[2019-02-11 06:03] tbandixen commented on #3197
Since saturday WAN is stable (but the VPN interface drops) with the following patches applied
[code]

[2019-02-11 07:00] opnsenseuser commented on #2909
@jpawlowski What is the current status? I use dns over tls in unbound and lets encrypt always tell me dns is missing. Now I suspect that the error message in lets encrypt comes because I have not entered dns in unbound. i only have forwarding to 853 active. I hope by this solution here that the error message in lets encrypt then no longer comes.

[2019-02-11 07:16] fichtner commented on #3210
Unfortunately, it all looks normal. There's no "sometimes, other times" as far as I can see as you're showing the major upgrade procedure with its warnings and confirmation dialogs.

First picture, however, already indicates your install is clobbered in some way:

While you are on 18.7.10_4, it says 11.2-RELEASE-p8-HBSD which is 19.1.

So your packages upgrades are blocking.

Did you install Sense

[2019-02-11 07:19] fichtner commented on #3208
Looks like a file system corruption indeed. How long is your config history? Maybe you can find a change that was done by a particular page that seemed to change this for the worse?

In any case we're unable to fix this in code unless we know what to reproduce. If you're ok with it I'd like to close the issue.

[2019-02-11 07:34] AdSchellevis commented on #3216
probably a left over from your testing yesterday, I don't think we install these files by default.

easiest fix is to `rm /usr/local/etc/suricata/rules/*.rules `and `download + apply`

[2019-02-11 07:37] AdSchellevis commented on #3206
oops, last minute refactor issue, sorry about that. $this->ldapCAcert should contain only the ref, I'll fix and close https://github.com/opnsense/core/pull/3217

[2019-02-11 07:51] AdSchellevis commented on #3206
https://github.com/opnsense/core/commit/12b80b85a8571d0c63b8bc1feeb748da2a5aef91 fixes the missing $ca and simplifies logic a bit.

on a clean install, you should need following to test:

[code]

[2019-02-11 08:42] fichtner opened #3218 "html_safe() for button values"
[code]

[2019-02-11 12:19] mimugmail opened #3219 "Constraint: ComparedToFieldConstraint also need checks when field is empty"
For rspamd plugin @fabianfrz introduced ComparedToFieldConstraint. There is a little problem with it, as it also compares when the fields are empty:

https://github.com/opnsense/plugins/blob/master/mail/rspamd/src/opnsense/mvc/app/models/OPNsense/Rspamd/RSpamd.xml#L14-L113

Required = no but the fields are not allowed to be empty :)

[2019-02-11 13:09] ruffy91 commented on #3197
So what is the current state? Which patches should be applied?
How can we help diagnosing the issue?

We have this on an APU3C4 with WAN IP provided by DHCP.

For now we disabled "Dynamic state reset | Reset all states when a dynamic IP address changes.This option flushes the entire state table on IPv4 address changes in dynamic setups to e.g. allow VoIP servers to re-register." which solved the p

[2019-02-11 14:22] fichtner commented on #2809
I can't find a reference of why I reopened this. No feedback since November would indicate it works better than before for one reason or another. Feel free to update if not.

[2019-02-11 14:22] #2809 closed

[2019-02-11 14:36] marjohn56 commented on #3197
I'm out of the loop on this one and have just picked it up to read through. A LONG time ago, well it seems a long time ago now we had a similar issue across the road with IPv6 dhcp6 running newwanipv6 on every renew of the client. This was the reason for adding the RENEW and REQEUST reasons to the output of dhcp6c, if the response from dhcp6c was RENEW then we stopped it from calling newwanipv6 in

[2019-02-11 16:38] itn3rd77 commented on #3206
Hi @AdSchellevis,

after hours of debugging and googling I finally managed to get the whole LDAP SSL stuff working.

The trick (only approved by try and error) was to set all ```LDAP_OPT_X_TLS...``` options before the ldap_connect() call in a 'global' scope (no handle). I even was able to eliminate the last remaining putenv by the option ```LDAP_OPT_X_TLS_REQUIRE_CERT```.

Enclosed you find my mod

[2019-02-11 16:42] AdSchellevis commented on #3206
@itn3rd77 hmm, that kind of reverts back to what the putenv was doing in the first place. no need for a pull request, I'll copy your settings and commit it later. I would appreciate a final check if you can spare some extra minutes, as said, I don't have anything similar running here at the moment.

[2019-02-11 16:53] mtn88 commented on #3197
I have the same problem with 19.1.1 on two APU2C4 systems. Another system running 19.1.1 on APU1D4 doesn't show this problem.

Is there anything I can help to diagnoses the issue?

[2019-02-11 17:37] itn3rd77 commented on #3206
Mmhh yes. It's more or less the same, but feels a bit better to use some official documented functions. But that's personal preference I think.

Sure you can count on me for a final test.

[2019-02-11 18:29] AdSchellevis commented on #3206
@itn3rd77 ok, thanks, with https://github.com/opnsense/core/commit/3acb8c4d90c26a98973f77eeb3fca466f0356cb4 we should have reached a functional state :)

If it's ok now, can you close the issue? thanks!

[2019-02-11 21:44] thomasjsn opened #3222 "interfaces: avoid long names with stacked _wlan, _vlan, _stf, ..."
I've tried to upgrade from 18.7.10, and to live-boot 19.1 and 19.1.1. When I do I loose all internet access; both IPv4 and 6 on all connected devices.

Using the ping diagnostics from OPNsense itself I can see that IPv4 connectivity works, but IPv6 fails. During boot the following message is listed twice "Configuring firewall...failed".

I get a few notifications regarding too long interface name;

[2019-02-11 22:24] monreal commented on #3208
Does OPNsense store more configs than the ones shown by opnsense-shell? The latter only seems to show the last 18 configs and those are already too new and do not include the corruption.

On my nightly config backups I see the corruption first appear on the 20190209 backup. The diff between 20190208 and 20190208 is not that big, but I did quite some changes to interfaces/vlans on this test system:

[2019-02-11 22:36] marjohn56 opened #3223 "OpenVPN process status says not running when it is."
https://forum.opnsense.org/index.php?topic=11562.0

This seems to be a stick pid issue. We are testing a solution for it.

[2019-02-11 22:46] esoleyman commented on #3197
I have the same issue and started looking around in the log files. I believe the answer lies in System: Gateways: Log File and possibly with dpinger.

I see this in the log file repeating every 15 minutes:

`dpinger: send_interval 1000ms loss_interval 2000ms time_period 60000ms report_interval 0ms data_len 0 alert_interval 1000ms latency_alarm 500ms loss_alarm 20% dest_addr xxx.xxx.xxx.xxx bind_ad

[2019-02-11 22:53] L1ghtn1ng commented on #3216
Seems okay after doing your fix, if I do not update this by Wednesday this can be closed as it should be good

[2019-02-12 05:29] marjohn56 commented on #3197
what you see is dpinger reporting the very fact that there's a problem

[2019-02-12 07:36] AdSchellevis commented on #3222
`_stf` suggests a `6rd` or `6to4` network, we changed something in the naming, to use the technical name instead of the logical one, which seems to be 1 character longer.

I think you should be able to revert this change https://github.com/opnsense/core/commit/adf314a4ab172d69a76f8d9fd78ed3ad8c30c698, but we have to think of a better solution to prevent an overrun in this case.

[2019-02-12 07:40] fichtner commented on #3222
Commit might not be all of it, careful with the revert.

It’s a bit sad as this has been in testing for a very long time.

FWIW, the issue here is the excessive VLAN naming scheme, it would be better to change this, I think FreeBSD uses em0.123, but it may break a couple of “_vlan” Scans in the code.

What do you think?

[2019-02-12 07:44] AdSchellevis commented on #3223
the status check connects to the socket, if that doesn't work, this might happen. (I've seen something similar over here too)

https://github.com/opnsense/core/blob/d27cc8364252309c8e701bb805fbd8545f53ab50/src/etc/inc/plugins.inc.d/openvpn.inc#L1304

If it reports an error, we might want to check for a running pid before returning not active, if I'm not mistaken, you can't restart the server in th

[2019-02-12 07:45] AdSchellevis commented on #3222
@fichtner I'll take a look

[2019-02-12 07:46] AdSchellevis commented on #3216
@L1ghtn1ng just reopen when not solved

[2019-02-12 07:46] #3216 closed

[2019-02-12 07:53] itn3rd77 commented on #3206
Morning @AdSchellevis,

let's go for the next round. I have tested the changes in https://github.com/opnsense/core/commit/3acb8c4d90c26a98973f77eeb3fca466f0356cb4 and I everyting is working fine (Standard, StartTLS and SSL).

Just one little remark. As setup is a single word shouldn't the function better named ```setupCaEnv```? And is't it better style to make the ```function``` private. I would n

[2019-02-12 07:53] marjohn56 commented on #3223
The pid's don't match. The running process pid and the one in var/run are different. Thus the dashboard says nay but openvpn says yay!

You can't restart no, as the pid is wrong. Manually killing it will not help either as you also need to delete the stuck pid,  do that and all is good. What I've done in my test is to force a clean up of the stuck pid in the openvpn restart function, at present it

[2019-02-12 07:54] AdSchellevis commented on #3223
sounds like a plan :)

[2019-02-12 07:58] fichtner commented on #3208
The GUI (system: configuration: history) will show more history, used to be 30, nowadays 60 I think. But that only catches individuals changes so it might only be a few days depending on the firewall usage.

The SSL part was omitted from the diff, but it’s a corruption on read for sure, one that luckily didn’t corrupt the whole XML. But maybe also unlucky as a full corruption would lead to a backu

[2019-02-12 07:58] #3208 closed

[2019-02-12 08:02] AdSchellevis commented on #3206
morning @itn3rd77 thanks for testing, unfortunately the setup can't be private at the moment, since it's used in some other parts of the system. I don't have the time available at the moment to refactor those. I agree about your remark of the function name `setUpCaEnv` would be better named `setupCaEnv`, going to change it, fix the ldap picker and close this issue.

If you have the time available

[2019-02-12 08:04] fichtner commented on #3223
From previous tickets this seems to be a race in OpenVPN or maybe in the way we restart it in an edge case. However, it was not reproducible from my end.

[2019-02-12 08:05] #3206 closed

[2019-02-12 08:13] marjohn56 commented on #3223
No and I cannot reproduce it either, or at least only on rare occasions. Ned however can reproduce it at will. He's had the issue since the early 18 series, but now it's starting to annoy him so I said I'd tale a look.

I think it only happens on restart, not sure if it does it on IF down/up. Whichever way this occurs, the only usual way a process would leave its pid behind is if it exits abnormal

[2019-02-12 12:16] Prestaclic opened #3224 "New OpenVPN Export for YEALINK Phone disapeared"
https://forum.opnsense.org/index.php?topic=11515.0

Thank you for your great work
Stephane

[2019-02-12 13:02] zero77 opened #3225 "[Feature request] Forward To Gateway"
At the moment when configuring dhcp you seem to only have the one option of selecting a default gateway. Alongside this, can you give users the option to use opnsense as a gateway and forward to the actual gateway on a different subnet.

Because, this would be especially useful when using opnsense with coaxial router/modems that don't give you many configuration options or similar situations.

For

[2019-02-12 15:01] lattera opened #3226 "OpenVPN Server: Pushing IPv6 routes fail"
When using IPv6 with OpenVPN in server mode, pushing IPv6 routes with the `IPv6 Remote Network` GUI option fails.

The OpenVPN server config OPNsense generates produces this output:

[code]

For example, if I wanted to route `::/3`, then OPNsense would generate:

[code]

Instead, it needs to generate:

[code]

Essentially, it's missing the `push` syntax.

[2019-02-12 15:02] lattera commented on #3226
Using the `advanced configuration` section is an acceptable workaround for now until a fix is committed.

[2019-02-12 15:06] lattera commented on #3226
Looks like I need more caffeine. I used the wrong option. I should've used `IPv6 Local Network`. Closing this issue out due to PEBCAK.

[2019-02-12 15:06] #3226 closed

[2019-02-12 15:14] AdSchellevis commented on #3222
Changing the vlan naming scheme is a bit too tricky in the short term, since these are stored and there's more logic tied to it (if we change it, already configured devices will still use the previous name).

Most of the times the length doesn't lead to issues, it's probably a better idea to fix the `_stf` part for now.
How about if we suffix the stf interface with a capital `S`, which would creat

[2019-02-12 16:12] paulierco opened #3227 "ISP Failover is not working properly"
As title said, ISP failover is not working properly.
I have a second ISP connected via VLAN and when i test to switch to it, opnsense crashed. I can see that uptime of the opnsense is starting again from 00:00.

[code]

dmesg.boot - > [https://gist.github.com/paulierco/45982771b2ff5ffd3b27a8bfacc87463](https://gist.github.com/paulierco/45982771b2ff5ffd3b27a8bfacc87463)

System Info ->

`User-Agent

[2019-02-12 16:20] paulierco commented on #3227
Version using:

OPNsense 19.1.1-amd64
FreeBSD 11.2-RELEASE-p8-HBSD
OpenSSL 1.0.2q 20 Nov 2018

[2019-02-12 16:33] mimugmail commented on #3227
Would it be possible to set the VLAN in the intel nic? Would be a good way to determine if it's driver related.

[2019-02-12 16:42] AdSchellevis commented on #3211
@L1ghtn1ng ok, @inliniac helped us find the issue https://redmine.openinfosecfoundation.org/issues/2811

Can you try the following on your machine?

Make sure the latest suricata version is installed:
[code]

Patch for https://redmine.openinfosecfoundation.org/issues/2811, using:
[code]

Then go to the web interface and apply your settings, just to be sure, also stop/start suricata and test again.

[2019-02-12 16:51] fichtner commented on #3222
In this case let me rather add a compatibility layer with the old naming scheme?

[2019-02-12 16:55] paulierco commented on #3227
1. I forgot to say that i have another two PCI network cards and both are configured in linkagg group. Vlan is attached to linkagg. I will try to disable linkagg to add second ISP to one of the network cards from linkagg untagged. I will let you know, most probably tomorrow.
2. Yes, i will try also to add vlan to the intel nic and try to repeat the test from that side.

[2019-02-12 16:58] AdSchellevis commented on #3222
and leave the `_stf`? we could do both, rename _stf now, keep the issue open for a larger overhaul.

[2019-02-12 17:38] AdSchellevis commented on #3225
I'm not sure what your looking for here, how should the `dhcpd.conf` look like in your proposed scenario?

[2019-02-12 17:41] AdSchellevis opened #3228 "IDS bootstrap required files in metadata xml"
Allow the use of a required keyword to enforce download of rules (or text files) which are required for the ruleset (when there are 1 or more items downloaded).

e.g.:

[code]

[2019-02-12 17:57] zero77 commented on #3225
@AdSchellevis
Essentially what i would like to do is  configure opnsense as default gateway using dhcp. But, then forward all traffic to the actual gateway.

Also, where can i find the dhcpd.conf file.

[2019-02-12 18:06] zero77 commented on #3225
@AdSchellevis
I imagine it would look the same but, traffic going to opnsense that's meant for the default gateway, would then be forwarded by opnsense to the actual default gateway, like using a proxy.

[2019-02-12 18:08] aneillans commented on #2311
@fabianfrz it's probably worth noting that since Android Nougat this no longer works; Android by default tends to ignore User loaded CA certs and only honour the ones in System - making interception virtually impossible on Android.

[2019-02-12 18:10] mimugmail commented on #3225
Sounds like you want to set the default gateway in OPNsense to the one you need to reach?

[2019-02-12 18:21] zero77 commented on #3225
Yes, but only opnsense, the rest of the network should use opnsense as the default gateway.
Sorry, if i am explaining this badly.

[2019-02-12 18:22] AdSchellevis commented on #3225
/var/dhcpd/etc/dhcpd.conf

[2019-02-12 18:29] mimugmail commented on #3225
I'm quite sure the forums with a nice drawing is the better place where ppl can help you

[2019-02-12 19:02] L1ghtn1ng commented on #3211
@AdSchellevis  @inliniac I can confirm that the patch fixes the problem

[2019-02-12 19:03] AdSchellevis commented on #3211
@L1ghtn1ng Thanks, case closed, I'll ask @fichtner to include the patch in 19.1.2

[2019-02-12 19:03] #3211 closed

[2019-02-12 19:42] Space2Man commented on #3223
Hi,

some things I found out. This happens always after a restart:

[code]

After reboot I see three times a Resync

[code]

My guess is that the restarts are too close to each other so  one get's started while the previous one still did not finish. And maybe the third one created the PID but then failed to start ...

[2019-02-12 19:54] rcmcronny commented on #2267
I have had a similar (or this issue, i am not sure).
I use a VDSL 50 (German Telekom).
This happens since the upgrade to 19.1 (and now 19.1.1 also). pppoe stops working, interface is red and gateway is down also (of course). Reconnect does not work. I have done a reboot, this does not work also, rebooted after that the modem (vigor130) , then a new  connection is established. It seems this lasts a

[2019-02-12 20:23] #3228 closed

[2019-02-12 22:01] fichtner commented on #3222
Hmm, I'm not sure diverting from _wlan _vlan _stf scheme is of any benefit if we have a "better" and also confirmed working versions which is the old one from pre-19.1. I agree with the larger cleanup.

We also need a 19.1.x target that reboots so that no intermittent upgrade issues exist so I'll do a clean revert into a working version. I just don't want to break things even if it looks easy.

[2019-02-12 22:03] fichtner commented on #3226
happens to all of us, thanks for posting the solution! :)

[2019-02-13 07:29] #3180 closed

[2019-02-13 07:32] tbandixen commented on #3197
Are there any configuration difference between your systems on the APU2C4 and APU1D4 ?

[2019-02-13 07:52] #3219 closed

[2019-02-13 07:56] AdSchellevis commented on #3222
I'll leave this up to you then, reverting back to the previous naming scheme is fine for the short term too.

[2019-02-13 09:19] wschlich commented on #1487
Yes, it's still an issue.

[2019-02-13 09:21] wschlich commented on #1487
@AdSchellevis can you please reopen the issue?

[2019-02-13 09:22] AdSchellevis commented on #1487
@wschlich are you planning to work on it?

[2019-02-13 09:29] wschlich commented on #1487
@AdSchellevis At least from a user perspective, yes :-)

[2019-02-13 09:34] AdSchellevis commented on #1487
Not a lot of people seem to be using this construction, hence the time out last time. I'll reopen this for now, but without people digging into the use  case and related code, it's likely this will be closed again.

[2019-02-13 09:35] wschlich commented on #1487
From what I've seen, @8191 was absolutely right regarding his findings. I've written mine down at https://forum.opnsense.org/index.php?topic=11601.0 -- basically OPNsense does not add the full CA certificate chain to `/var/etc/openvpn/serverX.ca` when the `Peer Certificate Authority` is not a self-signed, but an intermediate CA.

[2019-02-13 09:53] wschlich commented on #1487
The bug is in `/usr/local/etc/inc/plugins.inc.d/openvpn.inc` in lines 895+896 (on 19.1.1):
`$ca = lookup_ca($settings['caref']);`
`openvpn_add_keyfile($ca['crt'], $conf, $mode_id, "ca");`
Simply no full CA chain resolution code there.

[2019-02-13 09:55] AdSchellevis commented on #1487
but that would suggest it doesn't work for self-signed certificates either, let me take a quick peek.

[2019-02-13 09:56] wschlich commented on #1487
@AdSchellevis nope, works fine for self-signed Root CA certificates because the CA chain is completed already by adding just the Root CA certificate.

[2019-02-13 09:57] AdSchellevis commented on #1487
does OPNsense know the path for your intermediate CA?

[2019-02-13 09:59] wschlich commented on #1487
@AdSchellevis yes, it does, as it consists solely of CA certificates that are managed by the OPNsense CA manager :-)

[2019-02-13 10:01] AdSchellevis commented on #1487
ok, one moment.

[2019-02-13 10:20] AdSchellevis commented on #1487
@wschlich can you try https://github.com/opnsense/core/commit/67f49486708770633ca615ee41f53439e0a962ce ?

From your console, you should be able to install using:
[code]

[2019-02-13 12:02] marjohn56 commented on #3223
#3229 possible fix ...  needs testing

[2019-02-13 12:47] wschlich commented on #1487
works flawlessly now (removed the workaround before having the openvpn instance config regenerated using the web UI), awesome! thank you :-) :+1:

[2019-02-13 12:48] AdSchellevis commented on #1487
Thank you!

[2019-02-13 12:48] #1487 closed

[2019-02-13 12:49] fichtner commented on #1487
@AdSchellevis for 19.1.2?

[2019-02-13 12:49] AdSchellevis commented on #1487
@fichtner yes please :)

[2019-02-13 12:58] wschlich commented on #1487
@AdSchellevis , @fichtner you guys rock! :1st_place_medal:

[2019-02-13 13:19] oasisck opened #3230 "HAProxy - Add more Tuning Option in Public Service"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
Not able to reverse proxy mode TCP using NSI w

[2019-02-13 16:44] zero77 commented on #3225
@mimugmail

Ok thanks for the suggestion, i have followed your advice.
https://forum.opnsense.org/index.php?topic=11621.0

[2019-02-13 18:47] AdSchellevis commented on #3225
let's close this issue, feel free to open a new one when the forum discussion leads to a feature request.

[2019-02-13 18:47] #3225 closed

[2019-02-13 20:07] wschlich commented on #1487
@AdSchellevis My OPNsense firewall reported an issue in /usr/local/opnsense/mvc/app/controllers/OPNsense/OpenVPN/Api/ExportController.php, line 205 (function accountsActivation). Is it maybe related to your patch? That function is working with 'caref' as well...

[2019-02-13 20:12] wschlich commented on #1850
I'd also love seeing this feature implemented. How can I help?

[2019-02-13 20:43] AdSchellevis commented on #1487
@wschlich it can't be related, new style mvc code has no relation with the legacy code base.

Can you open a new issue with the the full error?

[2019-02-13 20:46] kuerious commented on #3210
Okay, follow-up. A reformat, initial install, reboot, restore of backup, and reboot DID allow 19.1 to install. While update to 19.1.1 initially appeared to NOT work, another reboot returned to 19.1 screen. This 2nd time, it showed the correct update files for 19.1.1. Ran the update, allowed a reboot, and it appears that I am running 19.1.1 just fine.

While, yes, I did perform a Sensei install pri

[2019-02-14 07:40] AdSchellevis commented on #1850
@wschlich It's probably not very difficult to add, but I haven't looked at it. It's probably best to start with describing some steps how to do this end to end (openssl commands), so we have an easy test scenario. Then check where this would fit the ui.

If I'm understanding the request correctly, then this would only use a ca to generate a cert, which the user can copy-paste into his application.

[2019-02-14 08:36] #2191 closed

[2019-02-14 08:39] fichtner commented on #3033
As per @sjorge we do not seem to support "nat" as well, although "rdr" already works:

![dzszqrzw0aeevfg jpg-large](https://user-images.githubusercontent.com/1915288/52773929-660fe700-303c-11e9-9638-20352786749f.jpeg)

![dzwgszcxcae_mhi jpg-large](https://user-images.githubusercontent.com/1915288/52773875-3f51b080-303c-11e9-996f-3e33f014ba33.jpeg)

It's probably best to assume "rdr" and "nat" are

[2019-02-14 09:01] larseggert opened #3231 "PHP Warning: Illegal string offset 'descr' in /usr/local/etc/inc/config.inc on line 317"
**Describe the bug**
After upgrade to 19.1.1, I removed the "monitor IP address" on my gateway interface.
Afterwards, I get tons of messages like this:
[code]

**To Reproduce**
See above.

**Expected behavior**
No such messages.

**Relevant log files**
See above

**Environment**
User-Agent Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.27 Sa

[2019-02-14 09:26] thomasjsn commented on #3222
I do have 6rd set up on that interface, so that makes sense. I was also seeing IPv6 related error messages in the log.

@fichtner That does this mean for my set up? Is there anything I can do to get 19.1 working? Or do I have to wait for a fix?

[2019-02-14 09:30] AdSchellevis commented on #3222
@thomasjsn I'll prepare a temporary fix for you, @fichtner can look at the final solution later

[2019-02-14 09:31] AdSchellevis commented on #3222
here you are, should revert the behaviour back to 18.7
[code]

[2019-02-14 09:52] thomasjsn commented on #3222
@AdSchellevis Thanks, so; Install 19.1, upgrade to 19.1.1 and apply patch?

[2019-02-14 09:53] AdSchellevis commented on #3222
I expect you can apply on both versions, so if you need the connectivity, first patch 19.1, then upgrade and apply again.

[2019-02-14 10:15] jpawlowski commented on #2909
Not sure why I am being asked about any status @opnsenseuser :-)
However, there is no relation at all between LetsEncrypt and a DNSoTLS-aware DNS Resolver at all. I suggest you google about to sort things out for you.

[2019-02-14 10:34] splattner opened #3232 "Execute custom Command on Carp Failover"
I'd like to execute some custom Commands on a Carp Failover Event because our Cloud Provider needs us to call an API to Switch a VIP from one VM to an other.

So in the Firewall: Virtual IPs: Settings Dialog a I need a way to add some Code or similar with access to some Variables e.g. Current State (Master/Backup) and the VIP Address

Then I cloud call the API, whenever a VM (= Router) becomes Mas

[2019-02-14 10:50] fichtner commented on #3222
@AdSchellevis thank you, I'm going to add it to 19.1.2 as well.

@thomasjsn feedback about patch making things work again is appreciated so we can safely go ahead and fix the underlying issue(s) later.

[2019-02-14 11:15] opnsenseuser commented on #2909
@jpawlowski aha...ok, thx for the info

[2019-02-14 13:20] va176thunderbolt commented on #1031
I stumbled on this issue, which still persists.

To reproduce, create system with user "bob"
Backup system
Delete user "bob" and add user "fred" setting him as a admin
Log in as user Fred
Restore backup created above.

I worked around the issue by:
1) Deleting user "fred" from /etc/passwd (not sure if it's necessary, but I did it anyway)
2) Deleting user fred's config in the /conf/config.xml

In m

[2019-02-14 14:22] #3218 closed

[2019-02-14 14:25] AdSchellevis commented on #1850
@wschlich it seems @nhirokinet made an initial proposal https://github.com/opnsense/core/pull/3234 If your would like to do some testing, that would be very nice.

[2019-02-14 14:26] AdSchellevis commented on #1850
[code]

[2019-02-14 15:12] AdSchellevis commented on #3231
it looks like a defective config.xml, could you inspect` /conf/config.xml` and see if there are any empty sections the` <interfaces> `section?  (perhaps dump the config section here, without ip addresses)

[2019-02-14 17:30] #3210 closed

[2019-02-14 17:39] fichtner commented on #3223
@BPtLNfxZWo @Space2Man can you please try c217bee ?

    # opnsense-patch c217bee

[2019-02-14 17:51] somova commented on #2267
I am still experiencing this issue. After an update of opnsense I have manually to modify some files to get the system running again. This is a little bit annoying as regular updates (especially security related) are important.

How can I help to get this issue solved? Thanks.

[2019-02-14 17:53] fichtner commented on #3223
Some patches from pfSense:

https://github.com/pfsense/pfsense/commit/8845e13
https://github.com/pfsense/pfsense/commit/ce98375

[2019-02-14 18:00] BPtLNfxZWo commented on #3223
Seems to work right now.
GUI information correct, error messages gone, tunnel could be established
Thanks

[2019-02-14 19:00] mimugmail commented on #2267
Which files did you edit?

[2019-02-14 21:03] thomasjsn commented on #3222
This is what I did:
* Booted of 19.1 USB stick into liveCD mode.
* Updated to 19.1.1.
* SSHed into OPNsense and ran the command `opnsense-patch 2eabec27`.
* Restarted service **pf** from dashboard, IPv4 connectivity came back on all network devices, still no IPv6.
* Went to Interfaces -> WAN, clicked "Save" and "Apply", IPv6 connectivity came back on all network devices.

I'd say it looks like the

[2019-02-14 21:36] Space2Man commented on #3223
Seems to work fine! After reboot service is listed as started!

[2019-02-15 04:28] mibsyboy opened #3235 "Captive Portal: No Authentication fails to allow user access"
**Describe the bug**
I'm running the Captive Portal on 19.1.1. I have it configured for no authentication/no login with a splash page and an "Accept" button in place of the "Sign in" button. All was working well in 18.7, but not any longer. What happens is the captive portal page pops up and when someone selects the "Accept" button, they get a "Login Failed" error box in pink and access is denied.

[2019-02-15 05:59] wschlich commented on #1850
I see. Shouldn't be a big deal.

It would be about generating a certificate by signing a request (CSR) uploaded/pasted by the user.

I would vote for storing the result/certificate for reference purposes, because it would also need to be revokable via the CRL etc. -- it would just not have a private key part, compared to other certificates issues by OPNsense.

[2019-02-15 05:59] wschlich commented on #1850
Okay, will do :)

[2019-02-15 06:14] wschlich commented on #1487
I see :-)

Hmm, I submitted the issue via the web GUI crash reporting function. Did that already open up an issue somewhere?

[2019-02-15 06:23] larseggert commented on #3231
[code]

[2019-02-15 06:24] larseggert commented on #3231
I don't know what `<opt2/>` is or where it came from, will delete it.

[2019-02-15 06:25] larseggert commented on #3231
I think that fixed it.

[2019-02-15 06:28] marjohn56 commented on #3223
Nice one Franco, I did do a quick scan bit missed it. Well done.

[2019-02-15 06:44] ofit opened #3236 "Double layer openvpn problem after upgrade to 19.1"
Hello guys.
**Problem 1**

I use Double layer Openvpn on Opnsense, but after upgrading the system to 19.1 at boot does not use OpenVPN_1 tunnel. That means it use only OpenVPN_2 not OpenVPN_2 inside OpenVPN_1. If stop and start OpenVPN_2 it is work ok, OpenVPN_2 inside OpenVPN_1. Please fix this bug. Thanks

Double layer Openvpn -> OpenVPN_2 inside OpenVPN_1

Post on forum.opnsense.org
https://for

[2019-02-15 07:23] AdSchellevis commented on #3231
a config import perhaps? or did it right after a specific action?

[2019-02-15 07:25] AdSchellevis commented on #1487
sorry, we don't read those on a very regular bases, better to open a ticket describing steps to reproduce and data here.

[2019-02-15 07:30] fichtner commented on #3223
Ok, I cannot guarantee that this will not fail later anyway. Patches posted earlier suggest that OpenVPN may be issuing its PID files too late, but we'll see when we get there.

Thanks everyone! ❤️

[2019-02-15 07:32] AdSchellevis commented on #3235
Can you run the following and paste the output here:

[code]

Then go to the captive portal admin page, apply and do the same.

[2019-02-15 07:33] tbandixen commented on #3197
Could this be the solution? Is someone willing to provide a patch that I can test?

[2019-02-15 07:33] AdSchellevis commented on #3222
@thomasjsn thanks for confirming, I'll leave the rest up to @fichtner

[2019-02-15 07:35] fichtner commented on #3222
Already queued up for 19.1.2, thanks!

[2019-02-15 07:36] fichtner commented on #3197
No, we need to explain what happens first. *Something* changed, but the changes in the dhclient-script are too superficial to cause this so I'm afraid of later breakage if we don't pin this down.

[2019-02-15 07:37] tbandixen commented on #3197
I totally understand that. How can I provide further help?

[2019-02-15 07:47] wschlich commented on #1487
I see... :/ actually I have no idea how this error occurred. If it happens again, I'll open a github issue then.

[2019-02-15 07:50] AdSchellevis commented on #1487
ok, thanks

[2019-02-15 07:51] wschlich commented on #1850
Worked well so far -- got a certificate signed successfully :)
Also, the certificate is stored just like others.

Had some comments placed in the pull request (https://github.com/opnsense/core/pull/3234/commits/07b41fc43a275e3aa4d8676fbb9749cedd0cdfa5) -- mainly cosmetic issues.

[2019-02-15 07:58] wschlich commented on #1850
Ok, so I did find an issue :)
My CSR contained a 'X509v3 Subject Alternative Name' but the certificated generated from signing that CSR doesn't have a SAN.

[2019-02-15 08:04] marjohn56 commented on #3197
Might be an idea to add some extra debug output to the dhclient-script and get @tbandixen to do some tests and give feedback. Unfortunately I'll not be able to add the extra bits myself until sometime next week!

[2019-02-15 08:20] marjohn56 commented on #3197
@tbandixen - Little test for you. Copy the attached script to /usr/local/opnsense/scripts/interfaces . Backup the existing script first. See if it makes any difference at all. Pointers are needed to try and identify the issues so all this script does is filter out the RENEW response and bypass any actions.
[dhclient-script.zip](https://github.com/opnsense/core/files/2868378/dhclient-script.zip)

[2019-02-15 08:27] sinuswave opened #3237 "kernel: arpresolve: can't allocate llinfo for ... on lagg0_vlanX"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
I am loosing upstream gateway connectivity on a bare metal multiwan two member cluster setup

[2019-02-15 08:40] tbandixen commented on #3197
Ok, I ignore the renew now (as provided in the script) lets see if the vpn is stable now. will report asap

[2019-02-15 08:43] larseggert commented on #3231
No import. I updated to 19.1.1 and made that one change in the GUI (see my first message above.)

[2019-02-15 08:47] tbandixen commented on #3197
Well, as expected, the connection remains stable. I will include the ignored lines step by step to identify the causing line.

[2019-02-15 08:48] tbandixen commented on #3197
How can I manually trigger this script so I dont have to wait 20minutes every time?

[2019-02-15 08:52] marjohn56 commented on #3197
It's more a question of if the 'RENEW' Bypass helps, what has changed elsewhere that's causing the issue. Has something changed in dhclient itself perhaps? @fichtner can answer that one.

[2019-02-15 08:52] AdSchellevis commented on #3231
can you check your config history what exactly changed after this action? this sounds a bit odd, if opt2 was never there,  it would be quite unexpected to add entries in this area.

Only thing that seems to be editing interfaces in that section should be
https://github.com/opnsense/core/blob/936a50ba957e7c1ad3917d37b446bf199844b6ee/src/www/system_gateways.php#L104-L106

Which is triggered after ga

[2019-02-15 08:55] tbandixen commented on #3197
I think just bypassing the RENEW isnt that good, its there for a reason. But I dont know if behind the scenes something changed (BSD things maybe, I dont know the *nix subsystem at all). I will try to find the line that causes the drop and digg a bit further.

[2019-02-15 08:57] marjohn56 commented on #3197
Actually bypassing RENEW is good, it means nothing has changed so do nothing.

[2019-02-15 09:03] larseggert commented on #3231
How do I check my config history?

[2019-02-15 09:04] AdSchellevis commented on #3231
System->Configuration->History

[2019-02-15 09:11] marjohn56 commented on #3197
The key is that the var 'changes' is changed to 'yes'. What I would do next is add a logger entry to each and every if... fi statement block to identify the culprit.

Something like this:-

[code]

[2019-02-15 09:12] larseggert commented on #3231
`opt2` seems to only show up in this snippet in my config before the 19.1.1 update:
[code]
And then in one of the new configs during the upgrade, this line was added to `<interfaces>`:
[code]

[2019-02-15 09:14] AdSchellevis commented on #3231
we might be close, can you dump the full diff with opt2 in it? There might be something of value in the description.

[2019-02-15 09:32] tbandixen commented on #3197
I think we should check if `$alias_ip_address` is set, otherwise `if [ "$old_ip_address" != "$alias_ip_address" ]; then` and `if [ "$new_ip_address" != "$alias_ip_address" ]; then` will be true always. My `$alias_ip_address` is empty... Maybe that changed?

[2019-02-15 09:40] tbandixen commented on #3197
I think setting `changes="yes"` because of `[ "$old_ip_address" != "$alias_ip_address" ]` is wrong. Because in `delete_old_alias` the alias will be removed IF `$alias_ip_address` its length is not zero, so maybe there is no change at all if the alias is empty, right?

[2019-02-15 09:41] fichtner commented on #3231
random thought: sounds like a case of auto-vivification through config_read_array()

[2019-02-15 09:53] AdSchellevis commented on #3231
@fichtner likely, I can probably fix the effect, but it might be good to know where this came from.

[2019-02-15 09:54] larseggert commented on #3231
You mean the full diff from before the 19.1.1 update to the last one after?

[2019-02-15 09:54] AdSchellevis commented on #3231
no, only the one where `<opt2/>` enters

[2019-02-15 09:57] larseggert commented on #3231
[code]

[2019-02-15 09:59] fichtner commented on #3231
@larseggert can you also give the description of the configuration change, it should say which page modified it

[2019-02-15 09:59] AdSchellevis commented on #3231
ok, a bit unexpected "system_gateways_edit.php made changes"

[2019-02-15 10:00] fichtner commented on #3231
ah it's in the revision, right, sorry for the noise

[2019-02-15 10:01] larseggert commented on #3231
I think this was when I removed the monitoring IP

[2019-02-15 10:02] #3231 closed

[2019-02-15 10:04] AdSchellevis commented on #3231
ok, with https://github.com/opnsense/core/commit/621f84e900f5ea17c58bf665573b9d13f4344f59 we should be able to prevent this from happening. I'm just not sure why it entered here, maybe there was mention of it in the gateways from a previous change.

[2019-02-15 10:05] AdSchellevis commented on #3231
@larseggert thanks for reporting!

[2019-02-15 10:15] tbandixen commented on #3197
My VPN connection remains stable if I add `[ -n "$alias_ip_address" ] && ` to the lines 351 and 369.
So far so good, but did that change in 19.1? I didn't change any config targeting ISP dhcp client settings.

[2019-02-15 10:28] fichtner commented on #3197
@tbandixen thanks for the hint, the check changed as it tried to align with FreeBSD. It seems the issue is present there, but it is not critical because it doesn't have a use case maybe *shrugs*

    # opnsense-revert opnsense
    # opnsense-patch 90c0c395

That should be it then....

[2019-02-15 10:35] fichtner commented on #3197
history reference: https://github.com/pfsense/pfsense/commit/d0d7f09ab3853b

[2019-02-15 10:42] smoonlee commented on #2961
This is still an issue in 19.1 iso?

[2019-02-15 10:44] fichtner commented on #2961
Yes.

Also when you log in as root, option 8, using "opnsense-installer" ?

[2019-02-15 10:48] smoonlee commented on #2961
Ok, Let me try this

[2019-02-15 10:48] Northguy commented on #3200
@fichtner Tried patch 90c0c395 provided in https://github.com/opnsense/core/issues/3197#issuecomment-463988437 to see if it would solve this issue, but to no avail.

Apparently the issue described above is not related with #3197

[2019-02-15 10:51] smoonlee commented on #2961
Same issue, freezes on the Select Task Option and Ctrl + C and relaunch started the install process from the beginning.

[2019-02-15 10:55] fichtner commented on #2961
It would mean the backend dies a horrible death, is this in dmesg ? There's also /tmp/installer.log

[2019-02-15 11:05] smoonlee commented on #2961
That took longer than it should but heres the log from /tmp/installer.log

https://paste.pound-python.org/show/Uw6mZompIiyB1Quf3mXW/

[2019-02-15 11:35] tbandixen commented on #3197
Its all stable now 😃

[2019-02-15 11:36] tbandixen commented on #3197
Thank you very much!

[2019-02-15 11:38] fichtner commented on #3197
Ok, we'll wrap this up for 19.1.2. Thank you for the help. ❤️

[2019-02-15 11:38] #3197 closed

[2019-02-15 12:22] fichtner commented on #2961
just stops after rendering the menu it seems. I'll try to replace the installer for 19.7, it was not built for modern consoles it seems... quite a bit of work unfortunately.

[2019-02-15 12:31] Freddyvdh opened #3238 "monit smtp mail from problem"
**Describe the bug**
Monit mail sending fails over external smtp server.
We are using 1und1 as mail server. I set smtp.1und1.de (Port 465 SSL enabled) with an existing username/password. After applying the changes I see following logs:
monit[74501]: SMTP: Mailserver response error -- 550 invalid DNS MX or A/AAAA resource record
monit[74501]: Mail: Mailserver response error -- 550-Requested action

[2019-02-15 12:36] fichtner commented on #3238
[code]

That would indicate @OPNsense.localdomain isn't accepted because it's not a real domain. Not sure what the old code did. Probably best to manipulate the sender / make it configurable.

[2019-02-15 13:32] Northguy commented on #3200
OK, decided to do a factory reset again and start from scratch. Once starting from scratch, no issues with high process peaks. Apparently something wrong in the configuration that was (partially) loaded from 18.7 configuration backup . Don't know what/why or where, but happy to provide backup XML for reviewing purposes.
I'll proceed gradually building up configuration again and leave it up to @fic

[2019-02-15 15:26] mibsyboy commented on #3235
I ran the command and added a trailing quote that I think didn't show up in the message and got the following:

`/usr/local/opnsense/scripts/OPNsense/CaptivePortal/allow.py /zoneid '0' /username 'anonymous@192.168.111.81' /ip_address '192.168.111.81'

Traceback (most recent call last):
  File "/usr/local/opnsense/scripts/OPNsense/CaptivePortal/allow.py", line 62, in <module>
    mac_address=mac_ad

[2019-02-15 16:01] fichtner commented on #3200
@Northguy https://twitter.com/ronin3510/status/1096421944596054016

[2019-02-15 16:22] fichtner commented on #3236
see https://forum.opnsense.org/index.php?topic=11650.0

[2019-02-15 16:32] fichtner commented on #3238
via: https://forum.opnsense.org/index.php?topic=11638.0

[2019-02-15 17:13] AdSchellevis commented on #3235
@mibsyboy your sqlite database is corrupt, maybe some power failure corrupted the file.

If you remove /var/captiveportal/captiveportal.sqlite, you should be able to create new sessions

[2019-02-15 17:32] mibsyboy commented on #3235
Thanks, I was reviewing `https://forum.opnsense.org/index.php?topic=5744.0` after finding the error above (thank you). Were the database integrity checks ever implemented on the captive portal as you mention in that post that exist on network insight?

[2019-02-15 17:47] AdSchellevis commented on #3235
yes, https://github.com/opnsense/core/blob/fd2e261fad02c73e77a5795615e70364ee0250c7/src/opnsense/scripts/OPNsense/CaptivePortal/cp-background-process.py#L198

but if a restart of captive portal doesn't solve your issue, it probably can't detect it's broken.

[2019-02-15 17:52] mibsyboy commented on #3235
I removed the database and it was rebuilt. All is good now. I appreciate it greatly.

[2019-02-15 17:53] #3235 closed

[2019-02-15 19:31] somova commented on #2267
After every update, I have to do two steps:

1. I copy the file "/usr/local/sbin/ppp-linkup" to "/usr/local/sbin/ppp-linkup2"
2. I replace the file "/usr/local/sbin/ppp-linkup" with the following content:

[code]
This moves all linkup-stuff to a background task and works fine. This is a workaround, later integration in the production series need possibly some kind of locks to prevent interferences

[2019-02-15 20:17] monreal opened #3239 "Using interface networks in alias editor"
**Is your feature request related to a problem? Please describe.**
In IPv4 I can block connections from for example DMZ to all other "inside" networks by using an alias containing 127.0.0.0/8, 192.168.0.0/16 and 10.0.0.0/16. In IPv6 this won't work as all hosts have dynamic global IPs.

**Describe the solution you'd like**
It would be nice of the alias editor would allow to add the interface netwo

[2019-02-16 09:44] AdSchellevis commented on #3239
I'm not sure that's a good idea, given how it is implemented. People will expect the alias to follow the interface address instantly, but since the underlaying tables won't support such a feature there will always be a risk of lagging behind.

Our aliases uses pf tables, which are detached from the firewall rule configuration, which has the advantage of being more robust for alias configuration is

[2019-02-16 09:49] BPtLNfxZWo commented on #3223
Hi,
checked today, same issue again :-(

[2019-02-16 10:45] topaDev commented on #1931
No luck at my side, I'm afraid (dpinger & 19.1.1)

[2019-02-16 11:12] mimugmail commented on #2692
I'd go for closing .. more related to the forums

[2019-02-16 11:14] fichtner commented on #1931
Hello, this bug is still closed. See #3223 or provide a new full detail bug report...

[2019-02-16 11:16] #2692 closed

[2019-02-16 11:20] mimugmail commented on #2640
Maybe Nginx or HAProxy is worth a try?

[2019-02-16 11:25] mimugmail commented on #2539
Can be closed when #3234 is in ...

[2019-02-16 11:26] AdSchellevis commented on #2539
@mimugmail I'll close it when finished

[2019-02-16 13:42] nhirokinet commented on #2539
In my plan, `renew certificate` is not included in #3234.

[2019-02-16 14:30] Northguy commented on #3200
I was already on the mentioned bios version, prior to upgrading R19.1, so we can also rule out that rootcause

[2019-02-16 15:16] klada opened #3240 "IPv6 prefix tracking on WAN broken on 19.1.1"
**Describe the bug**

I have a FTTH connection from Deutsche Telekom. They use PPPoE and DHCPv6 for IPv6 connectivity. I am getting a **dynamic** /56 prefix from them. I have split the prefix across multiple interfaces using prefix tracking on WAN interface.

Whenever a new prefix is assigned to me (e.g. after a PPP reconnect) the new prefix is not picked up by the tracking interfaces (LAN and GUE

[2019-02-16 22:42] AdSchellevis commented on #2539
close due to timeout then, nobody is planning to work on it, no need to keep it open forever.

[2019-02-16 22:42] #2539 closed

[2019-02-17 17:25] uKev opened #3241 "Regression: Mass PHP Errors (Permission denied) after opnsense Update"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
Opnsense fills up the disk writing php error messages to /tmp/PHP_errors.log.
Lobby -> Dashb

[2019-02-17 17:36] AdSchellevis commented on #3241
@lattera could there be some kernel security setting which prevents the user squid from reading `/conf/config.xml` ? I've seen this one time before on a vm with 19.1, but I think it went away at some point.

@uKev can you try the following:
[code]

And check if the errors are returning instantly?

[2019-02-17 17:50] uKev commented on #3241
Thanks for the quick reply.

 Just tried your commands out: No, the errors are not returning instantly.

Besides this I did delete the file two weeks ago ago and rebootet the system. It needed some time until the file comes back. Besides the error message squid works fine as it should.

In the System -> Log Files -> General I just noticed the following messages:

[code]

Also the page "Services ->

[2019-02-17 18:03] AdSchellevis commented on #3241
so after a restart of squid, no new errors and authentication still works?

[2019-02-17 19:07] lattera commented on #3241
Are hardlinks being used? Take a look at the hardlink hardening in HardenedBSD: https://github.com/HardenedBSD/hardenedBSD/wiki#modified-sysctl-nodes

In particular, these sysctl nodes:

1. `security.bsd.hardlink_check_gid`
1. `security.bsd.hardlink_check_uid`

[2019-02-17 19:11] AdSchellevis commented on #3241
There shouldn't be any hard links involved, but I can see if there's a way to replicate the issue this week and set both to 0.... you never know.

[2019-02-17 19:23] uKev commented on #3241
At the moment there are no new errors. But I think they will come back in a few days.

I don't use authentication. I started with opnsense when proxy auth was not required. Later I remember that I had to configure "Allowed Subnets" and "Unrestricted IP addresses" in Access Control List to use it again. Looking at it now I see "Authentication method" has "nothing selected" as value:

![image](https

[2019-02-17 20:22] fichtner commented on #3241
I remember these two from over the years...

https://forum.opnsense.org/index.php?topic=2886.msg8875#msg8875
https://forum.opnsense.org/index.php?topic=2090.msg6638#msg6638

But it looks like a new problem.

Make sure that all packages are correctly installed so that their permissions are correct as well (squid3 and opnsense, best to hit reinstall for those two).

[2019-02-17 21:14] Northguy commented on #3200
As issue seems to be resolved when configuring from 'fresh factory defaults' in stead of loading a 18.7 config file, I am closing this issue.

[2019-02-17 21:14] #3200 closed

[2019-02-18 08:07] AdSchellevis commented on #3241
hmm, with basic auth disabled, it shouldn't even try to do this.

can you check if the following returns anything?

[code]

[2019-02-18 08:38] AdSchellevis commented on #3241
@lattera it doesn't seem to be related to the hard link settings, but seems fairly easy to reproduce.

Using sysctl I've set both the hardlink settings to `0`, which didn't show any difference.

To reproduce the issue, go to the "web proxy" --> "forward proxy" --> "authentication settings" and choose "Local Database". Apply settings, stop the proxy and go to a console.

Flush the cache log, start

[2019-02-18 08:48] marjohn56 commented on #3240
Have you enabled a sticky ipv6 DUID in Interfaces:Settings?

Click on the 'Insert existing DUID' and then save. Then try reproducing.

[2019-02-18 08:51] marjohn56 commented on #3223
@Space2Man & @BPtLNfxZWo

Looking at some debug info that I have been sent. Are you using a Dyn DNS service and are you using dhcp6 for WAN?

[2019-02-18 08:54] AdSchellevis opened #3242 "PAM: extend opnsense-auth to support different helpers"
To better guard config.xml access, authenticators should ideally prevent the need of config.xml access. Currently services that are using our integrated authentication system, also need access to the config.xml.

Since we already use `opnsense-auth` to enable pam on console and ssh, it would be the most logical step to smarten it and move other services to the same approach.

This probably also pr

[2019-02-18 09:33] uKev commented on #3241
Great that you could reproduce it.

Here is the output:
[code]

As expected the error log appeared again. It started exactly at **midnight** (cronjob?):

[code]

And just for completeness here is the update history:

[code]

[2019-02-18 09:40] AdSchellevis commented on #3241
@uKev can you save the proxy settings, and grep again? Since your authentication isn't enabled, the issue shouldn't affect you, so it looks like something went wrong with your configuration, saving settings might help.  (the auth_param tags shouldn't be there in your case)

If the auth_params are gone, your issue should be fixed, but the real issue however remains. Hopefully @lattera has some idea

[2019-02-18 09:51] uKev commented on #3241
Applying the settings was not enough. I had to press "Clear All" on "Authentication method" to remove the auth_param lines from squid.conf.

Now I removed the error log again and restarted squid. It shouldn't reappear. If it does, I will leave a note.

Thanks for your work to everyone.

[2019-02-18 09:53] AdSchellevis commented on #3241
ok, thanks for reporting, we're keeping this open as bug for the authentication issue.

[2019-02-18 10:14] fbrendel commented on #3238
Hmm, the changelog of 19.1.r1 says:
`system: removal of the old notification system in favour of Monit`

It seems that you had a sender address configured at the old notification settings which was not migrated.
Either you set it after 18.7. ore something went wrong.

You can set the sender address at the alerts mail format now.
https://docs.opnsense.org/manual/monit.html?highlight=monit#alert-set

[2019-02-18 10:19] fichtner commented on #3242
I like this. service= is already passed to the script and opnsense-auth-test allows to script the service from the command line. The challenge is to pull an auth server list from a plugin, along with passing the user to do selective authentication maybe... we’d also need pre and post hooks, maybe getting the authentication services could be considered pre hook already. Post hook requires authentic

[2019-02-18 10:32] AdSchellevis commented on #3242
it should (original plan was to move ipsec to pam first), this was just work not high enough on the priority list sofar. We should probably add this on the roadmap for 19.7

[2019-02-18 10:41] fichtner commented on #3242
Ok 👍

[2019-02-18 10:42] Freddyvdh commented on #3238
Yes, I had the nofication configured in 18.7.

Using the mail format works, notifications are send without any problem. Maybe it is better to set one mail from setting for monit, which can be overwritten by recipient mail-format.

Thanks for support!

[2019-02-18 10:42] #3238 closed

[2019-02-18 11:39] #2834 closed

[2019-02-18 11:40] fichtner commented on #2835
Timeout.

[2019-02-18 11:40] #2835 closed

[2019-02-18 11:42] fichtner commented on #2843
Timeout. 19.1 is out now and require reassessment.

[2019-02-18 11:42] #2843 closed

[2019-02-18 11:43] fichtner commented on #2840
Timeout?

[2019-02-18 11:45] #3090 closed

[2019-02-18 11:49] fichtner commented on #3182
This will probably work for you:
https://forum.opnsense.org/index.php?topic=11477.0

[2019-02-18 11:50] fichtner commented on #3181
Duplicate.

[2019-02-18 11:50] #3181 closed

[2019-02-18 11:51] #3066 closed

[2019-02-18 11:54] fichtner commented on #3222
Same as
https://github.com/opnsense/core/issues/3120

[2019-02-18 11:55] fichtner commented on #3120
Tracked via #3222

[2019-02-18 11:55] #3120 closed

[2019-02-18 12:00] fichtner commented on #3188
Let’s discuss this for a moment: you trust this user to do a potentially problematic upgrade, but not enough to let it see all options? Why not use a cron job instead and cut out the middle man?

[2019-02-18 12:01] #3191 closed

[2019-02-18 12:02] #3198 closed

[2019-02-18 18:16] johnr14 commented on #3042
I just messed up my config trying to configure multi subnet routing with the firewall. So I got here from google, must mean that it's more frequent than expected.

I would propose to keep config changes in a local **git** so it's possible to view changes to the xml/config files and revert to prior setup. Using git would require minimal effort and provide a robust and not obscure way to manage conf

[2019-02-18 19:37] klada commented on #3240
Thanks for the input.

Unfortunately I am still getting a dynamic prefix, even if the DUID the OPNsense DHCPv6 client sends out to my ISP stays the same. This is (unfortunately) common practice among ISPs.

I was however able to resolve the issue. It turns out that the "Prevent release" option is required for Deutsche Telekom IPv6. Kinda weird.

Anyway, I am sorry for spamming the issue tracker →

[2019-02-18 19:37] #3240 closed

[2019-02-18 19:39] marjohn56 commented on #3240
That's quite normal to use prevent release, I assumed you already had that selected.

[2019-02-18 19:40] fichtner commented on #3240
No worries, thanks for posting the solution. :)

[2019-02-18 20:54] db260179 commented on #3237
Hi sinuswave,

Discovered this issue aswell, currently testing opensense 19.1.1, only solution to fix this for now is to disable the gateway monitoring and treat the gw's as always up.

Its possible the timeouts are too small or an issue with packets is causing this issue, hard to know at the moment.
Give it a try and see if this helps with this issue?

[2019-02-18 21:39] vitaprimo commented on #3177
After reading in the forum I got a few clues and tried to reinstall my failed system, I use the exact same VM; I only changed the VM firmware type to BIOS from UEFI and started up the thing, since vSphere boots so fast I couldn't catch it remoting in Fusion--I waited for the prompt to reboot but it kept on going and came back online. I didn't change anything else but UEFI>BIOS.

My instance run on

[2019-02-19 08:23] AdSchellevis commented on #3237
Either driver issues with broadcom or a misconfigured carp interface, you could inspect hardware offloading settings and check the subnet settings of your vip. I've just tried to setup a lagg on a vm (intel nics), which doesn't suffer from this issue.

The `arpresolve: can't allocate llinfo for` very often indicates misconfigures (wrong network/subnet on interface)

https://github.com/opnsense/src

[2019-02-19 08:27] reet- opened #3244 "AHCI timeouts after upgrade to 19.1.1 on PC Engines apu4b4"
After upgrading my opnsense firewall from 18.7.10 to 19.1.1  yesterday, I have major outages. As it turns out these are due to AHCI timeouts/hangs (see the attached screenshots) only visible on the serial console since no login is possible any more, web GUI is dead.

The firewall runs fine at first, the issue appears after some time.

**Screenshots**
![opnsense_ahci_timeouts](https://user-images.g

[2019-02-19 08:34] fichtner commented on #3237
It’s the obscure standard error message for gateways being outside the configured / acquired subnet, yes.

[2019-02-19 08:44] AdSchellevis commented on #3244
duplicate https://github.com/opnsense/core/issues/3180, please use our template next time.

[2019-02-19 08:44] #3244 closed

[2019-02-19 09:23] sinuswave commented on #3237
I will try a intel network card and report. Additionally I checked for a miss-configuration without success. Since saving and applying unchanged interfaces settings bring up the getaways, I'd rather not think this will be a configuration issue.

[2019-02-19 13:59] db260179 commented on #3237
@sinuswave It's worth checking that you have not set the incorrect subnet mask on that interface as @fichtner has mentioned as its an easy mistake to make without realizing.

[2019-02-19 15:29] #3241 closed

[2019-02-19 15:30] AdSchellevis commented on #3241
found it, when introducing config locking, I forgot about read-only access https://github.com/opnsense/core/commit/5123277a85956ec035a4bb43e7aadee98cec2d1d

[2019-02-19 19:03] paulierco commented on #3227
@mimugmail  you're right. Using intel nic is working without any issues. Is there any way to fix this?

[2019-02-19 19:07] mimugmail commented on #3227
Just dont use Realtek, always problems :(

[2019-02-19 19:39] mimugmail commented on #3237
Do you set an upstream gateway on both WAN interfaces? I'd always set it to auto-detect and do the rest via kernel routing.

[2019-02-19 19:47] BPtLNfxZWo commented on #3223
Hi, in my case I'm using Dynamic DNS but no dhcpv6 on WAN.

[2019-02-20 04:37] MarkNBroadhead commented on #1041
I believe it should either be in [services_unbound.php](https://github.com/pfsense/pfsense/blob/master/src/usr/local/www/services_unbound.php) or [services_unbound_host_edit.php](https://github.com/pfsense/pfsense/blob/master/src/usr/local/www/services_unbound_host_edit.php).

The implementation is in services_unbound_host_edit.php in the section, "Additional Names for this Host", which allows con

[2019-02-20 07:57] AdSchellevis opened #3245 "mvc, phalcon framework 4.0, PHP 7.2"
Not sure when this will be released, but Phalcon 4 will definitely break things.

Run into a "Wrong number of parameters" in `Phalcon\Mvc\Application->handle()`, while upgrading my mac.

https://blog.phalconphp.com/post/upgrading-to-v4-alpha-1

Keeping this here for tracking purposes.

[2019-02-20 08:10] fichtner commented on #3245
It’s PHP 7.3 only so it will be a while. ;)

[2019-02-20 08:12] AdSchellevis commented on #3245
7.2 if I read the article correct, but indeed, no rush

[2019-02-20 08:16] fichtner commented on #1041
Nope.

https://github.com/pfsense/pfsense/search?utf8=✓&q=cname&type=
https://forum.netgate.com/topic/110680/dns-cname-records-posible-with-unbound/5

[2019-02-20 09:28] fichtner commented on #3245
Ah, right. It’s a little better then. I have 7.2 planned for 19.1.x so we will be ready by 19.7 for it if need be.

[2019-02-20 13:26] youngnicks commented on #3182
I tried installing the updated kernel, but it did not seem to help. Another strange, possibly related, issue has been happening over the past couple weeks now as well. Every morning I have to reboot OPNsense to get DHCP and possibly other services working. I'm unable to even access the firewall without a reboot.

I'm willing to help do some investigation for a little while, but ultimately I need a

[2019-02-20 13:34] nivek1612 commented on #3223
@marjohn56 I'll be in France from Friday my set up there is Dynamic DNS and dhcp6c on WAN. Want me to test anything ?

[2019-02-20 13:39] marjohn56 commented on #3223
Yes, everything!Sent from my Samsung Galaxy smartphone.<div>
</div><div>
</div><div>-------- Original message --------</div><div>From: Kev Willers <notifications@github.com> </div><div>Date: 20/02/2019  13:34  (GMT+00:00) </div><div>To: opnsense/core <core@noreply.github.com> </div><div>Cc: Martin Wasley <martin@queens-park.com>, Mention <mention@noreply.github.com> </div><div>Subject: Re: [opnsen

[2019-02-20 14:00] bleetsheep commented on #3188
An adversary running an upgrade is only slightly worse than a cronjob running it: they might be aware of a vulnerability in the new version and immediately upgrade my system to make sure I suffer from it, but in such a case, odds are that I would fall for the same update myself. It's definitely an advantage for an adversary to have an account on our system, and it's also definitely an advantage to

[2019-02-20 14:05] marjohn56 commented on #3223
so no ipv6?

[2019-02-20 19:06] BPtLNfxZWo commented on #3223
Hi, I'm have ipv6 activated, but only for (internal) testing purposes and not on the WAN Interface.

[2019-02-20 19:12] marjohn56 commented on #3223
Thanks, that rules something out, so no ipv6. Can you disable your Dyn DNS update and see if that has any effect on your openvpn issue. I'm trying to rule things out, I have no issues at all and I'm trying to replicate it.

[2019-02-20 19:45] fichtner commented on #2267
I’ll merge most of
https://github.com/opnsense/core/tree/ppp-timeout next week and we can start on this fresh. I don’t think we need an explicit lock, configd is what will serialise it anyway although it was reported to not work properly on the first try.

In any case we need user updates and prodding to push through this. No core dev uses a PPPoE connection unfortunately.

[2019-02-21 10:08] xarados commented on #3192
After some research we are also affected by #2173.
As Workaround we use a Script that deletes all old SPDs and set new SPDs with the changed unique IDs.

Will there be a solution to the problem in the foreseeable future?

[2019-02-21 10:31] AdSchellevis commented on #3192
only for verified cases (not using dynamic addresses), such as  https://github.com/opnsense/core/commit/8f45e0d8623a6da395e12be5b51b3ab74e490f77

We keep https://github.com/opnsense/core/issues/1773 for tracking, although some scenarios will likely remain unsupported as long as nobody comes up with viable pull requests.

[2019-02-21 10:32] AdSchellevis commented on #3192
since this is related to https://github.com/opnsense/core/issues/1773, we should close this issue as duplicate.

[2019-02-21 10:32] #3192 closed

[2019-02-21 18:04] kkohio commented on #3223
I just wanted to add that I am on a fresh setup on 19.1 LibreSSL side with very little configured. No IPv6 or DynDNS... just two WANs with failover, ipv4 DHCP on the LAN. I single port forwarding rule and pretty much everything else is pristine.

[2019-02-21 18:31] mrdaemon opened #3246 "IPv6 Gateway on gif interface erroneously reports address not in subnet"
GIF tunnel setup for ipv6 traffic, tunnel interface (associated to opt3 in opnsense) has an address of 2001:470:1c:xxx::2.
Gateway for interface is 2001:470:1c:xxx::1. They are absolutely within the same /64 subnet.

Trying to either
1. Edit the automatically created gateway settings (description, default gateway checkmark, anything) in `/system_gateways.php`
2.  Manually create this gateway via `

[2019-02-21 18:38] fichtner commented on #3246
It should create the gateway for the tunnel automatically and it will use a dynamic setting so you would only have to set the gateway to default as described via:

https://docs.opnsense.org/manual/how-tos/ipv6_tunnelbroker.html

[2019-02-21 18:47] mrdaemon commented on #3246
From the linked documentation:

[code]

Doing this results in the error message above, as described. It can only be added via inline editing in the interface properties. Setting the gateway as default after the fact will not work and trigger the error message.

[2019-02-21 18:49] fichtner commented on #3246
No, the gateway will appear automatically and set the gateway to „dynamic“. Try deleting your current GW.

[2019-02-21 19:25] mrdaemon commented on #3246
Ah, I see, I had the ipv6 configuration set to static in the tunnel interface, it has to be set to None for the gateway to appear, which is the part I was missing.

That said, manually creating the gatway via the inline controls in edit interface _does_ work. It just can't ever be edited again.

[2019-02-21 20:00] fichtner commented on #3246
Ok, thanks, I’ll fix the validation in the ajax add.

[2019-02-21 20:05] AdSchellevis commented on #3242
for reference, concepts explained in https://github.com/opnsense/docs/commit/53c89fb7da19ec89908ec225743cc215fe716e65

[2019-02-22 09:43] somova commented on #2267
That sounds good. I was not aware that the core developers do not use PPPoE.

But, I can help with tests and reports to get PPPoE running flawlessly again. Do I have to migrate to Version 19.1 before I can start testing the next time (I am still using v.18.7.10_4-amd64)?

[2019-02-22 10:28] fichtner commented on #2267
Wait for 19.1.2 next week, then update if you can do it. But we could also work on 18.7 for the time being, although it won’t receive official updates so 19.1.x would be our target in any case...

[2019-02-22 13:55] #3145 closed

[2019-02-22 13:56] AdSchellevis commented on #3145
@fraenki sorry for the late reply, but with https://github.com/opnsense/core/commit/a8d89dadc5ade1d5b8c2b4904c37e6b9e3110dd6 you can now use  `<sortable>true</sortable>` in your form fields.

[2019-02-22 14:30] #3193 closed

[2019-02-22 15:07] #3100 closed

[2019-02-22 15:38] jo-erlend commented on #2451
That motherboard comes with Intel CNVi wireless as well, which according to Intel should be capable of being used as access point in 802.11ac mode if their heuristics determine that it's legal. Have you tried this, or if not, would you care to?

[2019-02-22 16:19] Franck78 commented on #2774
A little late but here is the DHCPv6 Sollicit message from Livebox

The main difference between what opnSense send and livebox send is the IA-PD option. Go figure !

Nivek, the script on lafibreinfo also outputs a different value for option 6 (request 11,17,23,24)

When do you 'integrate it' in opnSense GUI !?

After picking bytes opt11 from the livebox capture, DHCPv6 is working again.

[code]

[2019-02-22 16:23] Franck78 commented on #2774
A little late but here is the DHCPv6 Sollicit message from Livebox

The main difference between what opnSense send and livebox send is the IA-PD option. Go figure !

Nivek, the script on lafibreinfo also outputs a different value for option 6 (request 11,17,23,24)

When do you 'integrate it' in opnSense GUI !?

After picking bytes opt11 from the livebox capture, DHCPv6 is working again.

[code]

[2019-02-22 17:40] marjohn56 commented on #2774
@Franck78  Kev is at his Chateaux this weekend so he'll be taking a look at several things. :)

[2019-02-23 09:23] nivek1612 commented on #2774
I'm here and just upgraded to 19.1.1

Cant break anything yet

As for implementing the auto generation of the auth stings via an algorithm at this point it is pointless as Orange are not requiring a change between refresh or reboot YET.

Once they do we will have to move quickly.

It is also clear that the scripts that generate a random string for the authentication options actually don't always w

[2019-02-23 14:30] Franck78 commented on #2774
It is working again yes. My problem is understing why it is working....
No log anywhere about the `2a01:0000:XXXX:ae00:5054:ff:fe93:7702` public IP assigned to LAN_Nic
No log anywhere for my local devices receiving also an IPV6 public
No DHCPv6 leases

But the most annoying thing, is when in dashboard the "DHCPv6 Server" service goes red, there is absolutly ZERO log about why it cannot restart. An

[2019-02-23 16:02] marjohn56 commented on #2774
The log info for dhcpd6 can be found in the normal dhcpd logs, log info for dhcp6 can also be found there and/or in system logs.

[2019-02-24 11:34] klada opened #3247 "firewall: Allow dynamic IPv6 prefixes in rules"
**Is your feature request related to a problem? Please describe.**

Unfortunately many ISPs only hand out dynamic IPv6 prefixes. IPv6-enabled hosts/servers behind the firewall might have a static IPv6 interface address with a dynamic prefix part (e.g. assigned through `ip tokens` in Linux).

Right now it is impossible to add IPv6 firewall rules for individual hosts with dynamic prefixes.

**Descri

[2019-02-24 14:28] AdSchellevis commented on #3247
I don't think pf has an option like this, at least not as far as I could find. It might be good to know how other vendors solve this, adding keywords like `${PREFIX_LAN}:192:168:20:1` usually causes more issues in the long run (for example in alias usage).

[2019-02-24 16:51] abraxxa commented on #1228
I'd like to work on OPNsense' logging feature including Suricata JSON logs, where should I start? Is there a roadmap what should be supported and how?

[2019-02-24 17:59] AdSchellevis commented on #1228
@abraxxa most ship eve logs using beats, there are constraints in what's possible while keeping core functionality work. When adding improvements, keep the steps small and readable, that helps us validating and increases the chances of being accepted. There where some plans switching syslog, but so far

Best first step would probably be to add a new ticket describing goals and plans how to get the

[2019-02-24 18:10] fichtner commented on #1228
The goals so far:

* Move remote logging to syslog-ng and keep syslogd in place (fixes all reported issues with remote log problems)
* Make syslogd clog optional with migration paths
* Maybe some day remove syslogd, or simply remove clog from syslogd

[2019-02-24 22:48] Wirewrap64 commented on #3241
Hi everyone
I am new in the opnsense world.
I found this post trying to solve the problem that on opnsense 19.1, Squid did not authenticate the user.
Now I have replaced the Config.php file in /usr/local/opnsense/mvc/app/library/OPNsense/Core/ and Squid authentication works correctly or at least it seems so.
Is this the correct solution or should I apply some other fix?
When will it be updated on

[2019-02-25 03:56] fichtner commented on #3241
Hi @Wirewrap64,

The patch will be part of the 19.1.2 stable release this week.

It won't be updated on new installations for 19.1 unless we release new images based on 19.1.x which currently is not planned, so each new 19.1 installation must be updated to 19.1.2 in order to fix the bug or you need to issue the patch command (or copy the file as you did) on 19.1 and 19.1.1:

    # opnsense-patch 5

[2019-02-25 18:27] Wirewrap64 commented on #3241
Hi @fichtner,

thank for the answers !!!

Ciao
Wirewrap64 (Gaetano)

[2019-02-25 18:32] fichtner commented on #3241
@Wirewrap64 of course, no problem :)

[2019-02-25 20:11] AdSchellevis opened #3250 "Web proxy, replace user-proxy-auth for group membership"
As discussed with @fichtner, starting from 19.7 we're planning to remove the last hasPrivilege() call and replace it with group membership test.

[2019-02-25 22:00] fraenki commented on #3145
@AdSchellevis Great, works as expected! Thank you!

@fichtner Not sure what was already merged/cherry-picked, but you also need to merge the new tokenize2 lib for this to work: https://github.com/opnsense/core/commit/aec3515ceeb225541d0cc38fa8a9b0f6530f11dc, https://github.com/opnsense/core/commit/49244f477166191f7df5e1352faf8ef9c4488def