[2019-04-05 05:08] fichtner commented on #3255
What matters here is your configuration of Interfaces: [WAN] and [OPT1]

"IPv4 Configuration Type" and/or "IPv6 Configuration Type" need to be set to static IP addressing.

[2019-04-05 06:47] niziak opened #3385 "dnsmasq: junk found in command line"
**Describe the bug**
When new is entered into `Advanced` options on `/services_dnsmasq.php` page, dnsmasq fail to start. Log file:
[code]

**To Reproduce**
On page 'services_dnsmasq.php' write some additional options like:
[code]
NOTE: empty newline at end

**Expected behavior**
UI should trim trailing newlines to prevent errors.

**Version**
[code]

[2019-04-05 06:53] AdSchellevis commented on #3385
I'm glad we're not offering "advanced" settings in new components and have removed a lot of them in the past, these are prone to errors and impossible to validate.

[2019-04-05 07:01] #3385 closed

[2019-04-05 07:29] niziak commented on #2279
Similar issue was here: #2563

[2019-04-05 08:32] xiic opened #3386 "Suricata rules with "flowbits:noalert" are blocked (false positive)"
I've enabled the Suricata rule "emerging-trojan" and enabled "Change all alerts to drop actions".

This triggers a lot of false positives. It looks like I'm not the only one with this problem (https://forum.opnsense.org/index.php?topic=10198).
The offending rule is for example ID 2022317:
https://doc.emergingthreats.net/bin/view/Main/2022317

The rule specifies "flowbits:noalert". If I understand

[2019-04-05 08:42] AdSchellevis commented on #3386
Just to be very sure, when changing this rule to alert you're not receiving events?
The rule in question is:
[code]

If it only happens on drops, we could probably just filter those out and leave them default.

[2019-04-05 08:55] AdSchellevis commented on #3386
https://github.com/opnsense/core/commit/6de00487f2053f9ef570c2aaf76d6c603aa5f8a5 should leave the noalert flowbits as is, to test:
[code]

And download again.

[2019-04-05 10:02] Space2Man commented on #3223
FYI: I am on 19.1.4 and issue is back ... yes, I am using IPv6 on WAN but no DynDNS.

[2019-04-05 10:17] Space2Man commented on #3223
Funny, right after posting this 19.1.5 was released ... I just updated and OpenVPN is in status green again ... I will monitor.

Thanks!

[2019-04-05 10:18] fichtner commented on #3223
I'll be back eventually. This is a race condition inside OpenVPN and its PID file creation in which OpenVPN backgrounds itself before the PID is ready. Someone needs to write safeguard code here in order to fix this. I don't think OpenVPN will....

[2019-04-05 10:30] Space2Man commented on #3223
Hi, can confirm ... after "saving" WAN interface to trigger reload issue is back ... really seems to be some race condition. Nevertheless thanks for all the support ... I mean, it's working ... so it's only a display issue.

[2019-04-05 10:32] fichtner commented on #3223
I'll try to look at it for 19.7. At the moment, however, priorities lie elsewhere.

[2019-04-05 10:45] xiic commented on #3386
Looks good, with the patch everything works as expected. Thank you for the fast fix and the great support!

[2019-04-05 11:03] Taomyn commented on #3342
@fichtner I'm on 19.1.15 now, and I assume as my VPN subnet is not showing still that I still need a patch to fix this?

[2019-04-05 11:04] fichtner commented on #3342
Yes, hold on, I'll prepare the proper backport in a minute and post it here.

[2019-04-05 11:06] fichtner commented on #3342
# opnsense-patch 0ed70eb

[2019-04-05 11:11] Taomyn commented on #3342
Thanks, applied and tested working for me.

[2019-04-05 11:18] fichtner commented on #3342
👍

[2019-04-05 11:47] AdSchellevis commented on #3386
@xiic thanks for confirming

[2019-04-05 11:47] #3386 closed

[2019-04-05 12:48] niziak commented on #3385
Thank you for fast fix.
You right, there should be separate settings to provide ipset domains pattern and ipset/pftables name.
When I found more "meantime" I will try to implement this.

[2019-04-05 13:37] stumbaumr opened #3387 "19.1.5: IPsec includes are missing"
**Describe the bug**
With https://github.com/opnsense/core/pull/3311 the include functionality of StrongSwan was activated.
It seems that the directories are created with the upgrade, but the include statements are missing from the files (ipsec.conf, ipsec.secrets and strongswan.conf ...).

**To Reproduce**
Upgrade to 19.1.5 and check if the generated files contain an include statement at the bott

[2019-04-05 13:40] fichtner commented on #3387
It was left out intentionally. As you can see from #3311 we had not negotiated an ETA.

[2019-04-05 13:40] #3387 closed

[2019-04-05 13:54] stumbaumr commented on #3387
So you create the directories on the OS but did not add the code for creating the includes?

Where do you negotiate the corresponding ETA? Since the PR is merged and closed...

[2019-04-05 14:00] AdSchellevis commented on #3387
@stumbaumr "we had **not** negotiated an ETA",  please stop wasting people's time like this. You can easily track what is either in a release by its tag or in a release when checking its branch (stable/19.1 in this case).

[2019-04-05 14:02] fichtner commented on #3387
It’s all in the dev version shipped alongside 19.1.5. I don’t think it’s necessary to criticise our release engineering for stable versions which has little to do with your request here.

 Most changes go through development version to next major release (19.7). Backports are made consciously based on positive impact. The change at hand is not a necessity for 19.1 by any means.

I’m happy to expla

[2019-04-05 14:08] stumbaumr commented on #3387
Sorry if I stepped on your toes. Did not mean any offense.

The release procedure was indeed unclear to me. I had the impression that merged ment it would be included in the next release.

[2019-04-05 17:11] klada opened #3389 "19.1.5: Cannot save aliases any more"
**Describe the bug**
I just upgraded from 19.1.4 to 19.1.5 and noticed that you cannot click "Save" in the alias interface any more.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Firewall -> Aliases'
2. Click on 'Add new Alias'
3. Click "Save"
4. Nothing happens

**Expected behavior**
Alias should be saved.

**Environment**
Software version used and hardware type if relevant.
e.g.:

[2019-04-05 17:23] fichtner commented on #3389
Update to 19.1.5_1, went out half an hour ago.

[2019-04-05 17:23] #3389 closed

[2019-04-05 20:57] Tsuroerusu commented on #2591
I just upgraded one of my firewalls to 19.1.5 from 18.7 (but using "kernel.old", i.e. the kernel fra 18.1), which I had been running since August because of the issue I had with VLANs on my ix interfaces saying "no carrier", as described earlier in this thread. However, I am sad to say that the issue still persists despite the update to FreeBSD 11.2 in OPNsense, which is really depressing :-(

The

[2019-04-05 21:08] kenshin33 opened #3390 "HA sync error/warning"
Since update to (19.1.5 and then 19.1.5_1), notice appears whenever the configuration is synced (either manually or automatically)
it reads [An error occured while atempting XMLRPC sync with username USERNAME and https://ip.of.other.fw/xmlrpc.php parse error not well formed]

**To Reproduce**

1. Go to 'System->HA->status '
2. try to sync config
4. See Notice apear

**Expected behavior**
No notice

[2019-04-05 21:15] cvbkf commented on #2591
I switched to a Mellanox Connect-X3 EN 2x SFP+ (used), which is working without any flaws.

You could try to compile a newer version of the intel driver (last post in this thread)
https://forum.opnsense.org/index.php?topic=11384.0;topicseen

[2019-04-05 21:48] kenshin33 commented on #3390
this seems to fix it !
[code]

[2019-04-05 21:57] Tsuroerusu commented on #2591
Thanks for the suggestion, I appreciate that. Unfortunately, the newer driver has the same issue.
Are you using VLANs with that Mellanox card?

[2019-04-05 22:11] cvbkf commented on #2591
yes, i do, but just only one (which lead to the "no carrier" problem on the intel x550)

[2019-04-05 22:14] Tsuroerusu commented on #2591
I must say, the ix driver sure is a wuss, 'ey? A single VLAN, in your case, and it melts down! It would be funny if it wasn't so annoying. I run something like 8 VLANs and I REALLY need them to work, so Mellanox it is for me then. Thanks for the recommendation, as I think I have found a good source for them! Hopefully this will solve my problem. :-)

[2019-04-05 23:06] DanMc85 commented on #3381
New 19.1.5_1 Update:

TCPDump... it looks like the connection is working now in 19.1.5, but there is another issue present. The OpenVPN Client connection keeps reloading every 10-15 seconds. You can see by the IP address changing for the source in the TCPDump.  Now I just need to get it stable and to stay connected.

![19151](https://user-images.githubusercontent.com/320626/55660701-c2d68500-57d5-

[2019-04-05 23:15] DanMc85 commented on #3381
System Log:

Apr 5 19:13:14	kernel: ovpnc2: link state changed to DOWN
Apr 5 19:13:10	opnsense: /usr/local/etc/rc.openvpn: OpenVPN: One or more OpenVPN tunnel endpoints may have changed its IP. Reloading endpoints that may use VPN_PRIVATEINTERNETACCESS_VPNV4.
Apr 5 19:13:08	opnsense: /usr/local/etc/rc.newwanip: Adding static route for monitor 208.67.222.222 via 73.218.86.1
Apr 5 19:13:08	opnsense:

[2019-04-06 06:05] AdSchellevis commented on #3390
Which options are enabled under System -> High Availability -> Settings?

[2019-04-06 06:57] mimugmail commented on #3381
Second device using same credentials?

[2019-04-06 11:33] Franck78 commented on #2774
I have deleted some of my long 'posts' with useless listings of logs.

My version of dhcp6c is working well. No more coredumps.

[2019-04-06 15:00] datiscum opened #3391 "Warning in System: Access: Groups If the group has no member."
If a system group has no members, the following is displayed:

Warning: count(): Parameter must be an array or an object that implements Countable in /usr/local/www/system_groupmanager.php on line 388 0

OPNsense 19.1.5 (amd64, OpenSSL).

[2019-04-06 15:21] AdSchellevis commented on #3391
@datiscum thanks for reporting, it's probably a regression in php7.2 migration.

[2019-04-06 15:21] #3391 closed

[2019-04-06 15:34] DanMc85 commented on #3381
Yes, and what's odd. It is like it is still an outbound issue.
If I delete all the WAN outbound rules. Just having the Private Internet Access outbound rules.
The Private Internet Access Gateway goes online, pings start flowing both directions, and the internet works all going through the VPN. Connection stays up.... extremely odd.

However, having both in there isn't working in 19.x vs 18.7.  Whi

[2019-04-06 15:37] kenshin33 commented on #3390
All except  Monit and Intrusion detection.
Plus the following plugins :

- WOL
- Zabbix
- Relayd

[2019-04-06 15:59] AdSchellevis commented on #3390
can you try to disable the plugins sync and see if it persists?

(you can't do a two way sync, since the nodes don't know when a specific entry was changed)

[2019-04-06 16:24] kenshin33 commented on #3390
tested with change reverted :  the notice appears.
unticked all plugins, saved and synced again : the notice does NOT appear.
if I tick any thing and save,  the notice appears.

(that was my impression. Thanks for the confirmation)

[2019-04-06 16:35] TheEvilCoder42 opened #3392 "Warning in WoL widget"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[-] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[-] I have searched the existing issues and I'm convinced that mine is new.
Same as #3391 but in WoL widget.

**Describe the bug**
WoL widget shows warning:
PHP Warning:  count(): Parameter

[2019-04-06 16:40] #3392 closed

[2019-04-06 16:41] TheEvilCoder42 commented on #3392
Sorry wrong repo, should have been plugins :)

[2019-04-06 21:54] chrko commented on #3390
This error also occurs at my test system. I think this is due upgrading php from 7.1 to 7.2:
https://www.php.net/manual/en/migration72.incompatible.php#migration72.incompatible.warn-on-non-countable-types

[2019-04-06 22:09] chrko commented on #3390
Works perfectly ;)

[2019-04-07 09:11] AdSchellevis commented on #3390
@chrko it looks like you're right, the warning wasn't in 7.1, we have seen some other small glitches as well.

[2019-04-07 09:34] #3390 closed

[2019-04-07 10:56] AdSchellevis commented on #3390
@kenshin33 @chrko can you test and confirm https://github.com/opnsense/core/commit/945202230726af76582103680fa4c49114670752

[2019-04-07 16:56] kenshin33 commented on #3390
@AdSchellevis I did and it seemed to work (before creating the issue).
By work I mean : the notice no longer appears and the slave node picks up the changes

[2019-04-08 07:40] AndyX90 opened #3393 "Feature request: PayPal Billing Solution in CaptivePortal"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[+] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[+] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
-

**Describe the solution you'd like**
I woul

[2019-04-08 07:40] AndyX90 opened #3394 "Feature request: Squid - SSL-Filtering per Interface"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[+] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[+] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
The SSL-Filtering in Squid can only be done fo

[2019-04-08 08:17] Ste84 commented on #3393
I agree with the request

[2019-04-08 08:22] opthomas-prime commented on #3360
As announced by @AdSchellevis, the issue is resolved in 19.1.5. Thanks!

[2019-04-08 08:22] #3360 closed

[2019-04-08 08:55] lordraiden opened #3395 "Feature request: Improve suricata configuration options"
[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
The configuration options for Suricata IDS in OPNsense are pretty simple, and they don't allow to enjoy all the benefits of the IDS.

**Describe t

[2019-04-08 09:00] AdSchellevis commented on #3395
There is a good reason why the number of options are limited, although I don't mind adding some advanced options, it would be good to create separate tickets for the options to add and the reason why they should exist. Our implementation is easy to use for the general audience, which is something we value a lot.

[2019-04-08 09:11] lordraiden commented on #3395
I don't think keeping it simple really helps a lot because at the end pleople choose other alternatives because things can't be done.
Maybe you can take a look to the pfsense suricata interface and select those you think might be helpful.
In any case what doesn't do pfsense suricata and I think is crucial are the points 2, 3, and 4.
Basically any corporate firewall even having simple configuration

[2019-04-08 09:17] rkirmis opened #3396 "Port for librenms-agent"
Hello,
i would be nice, if the librenms-agent could be included in the ports tree.
https://www.freshports.org/net-mgmt/librenms-agent/
The agent ist compatible with the monitoring solution check_mk, so
https://forum.opnsense.org/index.php?topic=11828.msg54083#msg54083
wouldn't require a external download.-

[2019-04-08 09:20] AdSchellevis commented on #3395
You can't combine filter rules with ids rules, since both act independently (netmap vs pf).
Just saying, try to create tickets for features that can be developed within the scope of a ticket...

A view of the rules which can be filtered/enabled/disabled is already available (and could be improved), but we always depend on the metadata available in the rules (in case of et-open/pro, topics are easi

[2019-04-08 12:10] AndyX90 opened #3397 "Feature request: Webserver - Proxy Auto-Config"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[+] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[+] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
I would like to have different webserver ports

[2019-04-08 16:22] araujorm opened #3398 "NAT after IPSec phase 2 isn't working with multiple networks"
**Describe the bug**
NAT after IPSec phase 2 isn't working with multiple networks.

This is a continuation of https://github.com/opnsense/core/issues/2173 since we believe it's not solved, and also believe it's not the same as https://github.com/opnsense/core/issues/1773 as we are currently having issues on an environment that uses a IPSec connection with the need for NAT and uses the IP addresses

[2019-04-08 17:41] lordraiden commented on #3395
Other firewalls using snort can do this, relate an IDS politcy to a firewall rule, so only the traffic affected by that firewall rule is affected as well by the IDS policy assigned.
If you say this is not possible in opnsense I will have to belive you.

I shouldn't be planning the roadmap of a core component of opnsense I will leave that to dev team.
But basically this, and the traffic shapping th

[2019-04-08 18:05] fabianfrz commented on #3397
Users usually serve the file via the nginx plugin and the web interface via HTTPS so it should work. When you don't want to run it together with the main web server.

[2019-04-09 00:35] kenshin33 opened #3399 "alias not taken into account"
**Describe the bug**
Any chane in aliases is ignored  (Firewall -> Diagnostics -> PfTables -> Alias_in_question ) does not change, and an error message appears int configd logs  (see below)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firewall -> Aliases -> change something
2. Click on click apply
3. check configd logs and observe no change in  pfTables for that particular alias
4.

[2019-04-09 03:03] LPJon commented on #3390
[code]
@chrko I feel a bit like a noob here but I implemented these changes with no change in result? I'm slightly confused am I supposed to remove the file "IXR_Library.php" and then recreate it with only the above mentioned code in it. Or was that simply make a backup of the original file first? On a side note the code I see does not have "EOD;" just before the "$method = " variable. The earlies

[2019-04-09 06:01] AndyX90 commented on #3397
Yes that would be possible, i personally serve this mostly via IIS.
But in my opinion serving it externally or via plugin is uncomfortable.
It would be nice to have the possibility in the GUI to at least change the port of the, whatever serves this file.
I thought about something like [this ](https://www.hiawatha-webserver.org/) to separate it completely.

[2019-04-09 06:43] AdSchellevis commented on #3399
looks like an issue with idna encoding, to debug this we need more details. There might be a specific alias defined which causes this, so question is when did this start and which aliases are configured.

[2019-04-09 07:07] #3284 closed

[2019-04-09 07:10] fichtner commented on #2841
Still happening?

[2019-04-09 08:23] AdSchellevis opened #3400 "PHP7.2, harvest mostly count() errors"
- [x] PHP Warning:  Division by zero in /usr/local/www/widgets/api/plugins/system.inc on line 43
- [x] PHP Warning:  Division by zero in /usr/local/www/widgets/api/plugins/system.inc on line 44
- [x] PHP Warning:  Division by zero in /usr/local/www/widgets/api/plugins/system.inc on line 45
- [x] PHP Warning:  Division by zero in /usr/local/www/widgets/api/plugins/system.inc on line 46
- [x] PHP Wa

[2019-04-09 08:29] enoch85 commented on #2841
Haven't tested 19.1.5, but it's still present in 19.1.4_1

[2019-04-09 08:32] Benzy-Louis opened #3401 "[feature request] Suricata - Add option for eve-log over syslog"
Hello,

I think it's not already asked (I did not find this specific feature request).

Is it possible to add the option to send the "eve-log" format over **syslog** as an alternative to the default file option which is set in the configuration template?
[code]

This will be useful in a use case where the syslog is further processed over a logstash or graylog server to produce dashboards.
Thanks,

[2019-04-09 08:50] AdSchellevis commented on #3401
It has been asked before, although I can't find the issue right away (it could also have been on the forum).

But since suricata only supports one eve.log output, it would kill the features inside OPNsense that depend on the eve.json file being there.

A lot of people use filebeat to ship these logs, maybe that's an option for your use case as well.

[2019-04-09 09:30] Benzy-Louis commented on #3401
Hello thanks for your answer. I know about the filebeat package but for my use case I'd need to be able to do that without having to use the shell (for example to install/configure filebeat). Which features depend on the eve.json file being there?

[2019-04-09 09:38] fichtner commented on #1460
Note to self: /usr/local/etc/ssl/cert.pem and /usr/local//openssl/cert.pem need to be rewritten for safety. UFS corruptions will block the sample files from fixing the file (size 0, but created). We should inject the local CA certificates as well. This only leaves /etc/ssl/cert.pem which is weirdly symlinked to the base ca-root-nss.crt file instead so it will miss our own certificates...

[2019-04-09 10:13] #1460 closed

[2019-04-09 10:14] AdSchellevis commented on #3401
the alert view in the interface and the et-pro telemetry package for example also assumes the log file is there.

[2019-04-09 10:25] tbandixen commented on #2663
I think I'm having the same issue.
ifconfig: ```
wan_stf: flags=4041<UP,RUNNING,LINK2> metric 0 mtu 1480
        inet6 xxxx:xxxx:xxxx:xxxx:: prefixlen 64
[code]
OPNsense 19.1.5_1-amd64
FreeBSD 11.2-RELEASE-p9-HBSD
OpenSSL 1.0.2r 26 Feb 2019
[code]

[2019-04-09 10:38] niziak opened #3402 "NAT port forwarding rules not created correctly when using interface group"
OPNsense 19.7.a_442-amd64
FreeBSD 11.2-RELEASE-p9-HBSD
OpenSSL 1.0.2r 26 Feb 2019

I have system with two WAN interfaces with separate IP addresses. WAN interfaces are grouped into one `WAN` firewall group (NOTE: `WAN` is not a real interface)

Interface assignment:
  * em0 - WAN1
  * em1 - WAN2
  * bge0 - LAN

I want to use one port forwarding rule to work on both WAN IP addressees.
The rule I'm

[2019-04-09 10:40] Benzy-Louis commented on #3401
Ok.

[2019-04-09 12:07] #3400 closed

[2019-04-09 17:30] kenshin33 commented on #3399
Here is the Alias part, changed names and IPs only.

[config.xml.gz](https://github.com/opnsense/core/files/3060239/config.xml.gz)

[2019-04-09 19:00] AdSchellevis commented on #3399
@kenshin33 thanks, I could easily reproduce it here with your config.xml.  https://github.com/opnsense/core/commit/00b46e05752ed5e8e98b0256ce34070ea71dfb17 should fix this in our master branch.

Although I'm not too enthusiastic about the fix, I'm not sure if there's  a decent way to fix https://github.com/opnsense/core/pull/3107 other than removing IDN support (which might eventually also be an o

[2019-04-09 21:01] kenshin33 commented on #3399
for now removing '|encode_idna'' works, but I'll keep that in mind.

[2019-04-10 07:07] AdSchellevis commented on #3399
ok, thanks. I'll close the issue than since there's a fix in master

[2019-04-10 07:07] #3399 closed

[2019-04-10 16:12] AdSchellevis commented on #2279
@mimugmail the gateway status/edit pages are changed now, could you check on your end? system_gateways.php is ordered by priority now and marks the gateways "(default)" according to the new logic.

The routing itself is still setup with the old code, but the status page should reflect how it would react when finished.

It's quite a project to reimplement all the logic here and keep user impact as

[2019-04-10 19:42] chaispaquichui opened #3404 "IPv6 ipsec tunnel use link local address in left parameter"
**Describe the bug**
When configuring an ipv6 ipsec tunnel, opnsense use the link-local address of the wan interface in the left parameter of ipsec.conf

/usr/local/etc/ipsec.conf
--- SNIP ---
conn con2
  aggressive = no
  fragmentation = yes
  keyexchange = ikev2
  mobike = yes
  reauth = yes
  rekey = yes
  forceencaps = no
  installpolicy = yes

  dpdaction = none
  **left = fe80::f053:29c:69a4

[2019-04-10 19:49] chaispaquichui commented on #3404
Just in case : yes, I've a GUA on the wan interface

pppoe0: flags=88d1<UP,POINTOPOINT,RUNNING,NOARP,SIMPLEX,MULTICAST> metric 0 mtu 1492
	inet6 fe80::f053:29c:69a4:2619%pppoe0 prefixlen 64 scopeid 0xa
	inet6 fe80::5c43:47f:56fb:f03e%pppoe0 prefixlen 64 scopeid 0xa
	inet6 2a02:a03f:4410:19bf:f053:29c:69a4:2619 prefixlen 64 autoconf

[2019-04-10 20:15] mimugmail commented on #2279
Priority selection looks good. Currently my test system don't like to monitor my first default gateway, strange. Other two gateways are monitored. What I observed is, that when I set a second gateway as default, the checkbox in the first gateway isn't deselected. Also not sure if this was the case before, but doesn't make sense.

[2019-04-10 20:20] mimugmail commented on #2279
Another observation. Default gateway prio1, has IP 192.168.0.1 ... when I change IP to 192.168.0.2 it get's saved. But when I change prio of this gateway to 4 ... the IP is back at 192.168.0.1.

[2019-04-11 04:41] mimugmail commented on #2279
I'm not sure if it's a good idea to make prio 1 the default when adding new gateway, as it would break a setup when adding a new internal one. This is one part of the problematic, since when you have two or more WAN gateways and an internal to a VoIP net or whatevery, it could be chosen as your default one (if not marked as down)

[2019-04-11 06:03] fichtner commented on #2279
I’m not sure if we need a prio after all. My idea was to use the gateway group ordering. It fulfils the same requirement in the end.

So you could choose one default gateway group for IPv4 and IPv6 or leave the default behaviour (which can already be steered by force down).

[2019-04-11 06:53] AdSchellevis commented on #2279
@mimugmail @fichtner some feedback:

- "What I observed is, that when I set a second gateway as default, the checkbox in the first gateway isn't deselected"

That's on purpose, you can have multiple defaults, which are selected by priority. The form shows the active default. The previous auto deselect was quite wonky to start with.  We could reimplement something similar, although I don't think we

[2019-04-11 06:53] mimugmail commented on #2279
Would this work if you have more than one FO group.

[2019-04-11 06:58] fichtner commented on #2279
Does this mean we're not doing "default gateway group" idea anymore? I seems cleaner to me but happy to delete the remaining code to not have conflicting systems of operation.

More than one default gateway is going to introduce side effects in other code unless everything is neatly refactored. The groups avoid all this and you don't actually have multiple gateways in our system just one according

[2019-04-11 07:08] AdSchellevis commented on #2279
I'm not sure which code you mean now, which code would need to be deleted?

As for refactoring the rest of the gwlb.inc, I am going to fix that too, we can't have different decision options about what's "default". so getDefaultGW() should be the only call to determine this.
I want to prevent being haunted by gateway misery indefinitely :) it's flawed by design now.

[2019-04-11 07:13] fichtner commented on #2279
https://github.com/opnsense/core/blob/master/src/www/system_general.php#L445-L477

then let's ditch all of this. from what I can understand none of these config.xml related settings will be needed?

[2019-04-11 07:15] AdSchellevis commented on #2279
except the "gw_switch_default" I presume, since we don't have a good option to fix the local default using policy based routing.

[2019-04-11 07:16] AdSchellevis commented on #2279
let me rework fixup_default_gateway() first, so you know what I mean.

[2019-04-11 07:18] fichtner commented on #2279
if we can have multiple default gateways selected in their settings we don't need gw_switch_default :)

[2019-04-11 07:19] AdSchellevis commented on #2279
there is no trigger to change gateways now when the gateway is down.... we can change its name, but the function isn't there by my knowledge.

[2019-04-11 08:04] mimugmail commented on #2279
IMHO, there are two options:

1. Have a default gw group, like with gateway groups for failover
2. Have priorities like Ad started, but the we could/should just rename "Default Gateway" to something like "WAN Gateway". So, it's clear that it's for outside connections, and of course, you can have multiple of them.

[2019-04-11 08:09] AdSchellevis commented on #2279
I like the idea of "WAN Gateway", but that's more a naming thing we can sort out when finished with the code.

I think it will be pretty difficult to have a default group, since in the end, the group itself would need a priority then (within the tier) so we can select one default active gateway. Maybe I'm missing something obvious, but to me it looks like the problem is always the same, but more r

[2019-04-11 08:13] mimugmail commented on #2279
It's indeed just a naming confusion. A default gateway can only be one gateway (the default). What we do/want here is a tiering for it, so there still can be only ONE default gateway. That's why I was confused yesterday when testing the code as in status view there is only one gw marked as default, but in edit mode the checkbox for "Default Gatway" was ticked on multiple gateways :)

Back to the d

[2019-04-11 08:16] AdSchellevis commented on #2279
default is 1 now, for both automatic and manual, changing both to 0 would do the same. right? I don't mind what it is, as long as the mechanism doesn't change drastically.

[2019-04-11 08:22] mimugmail commented on #2279
1 is highest priority right? So GW with prio 1 has most chance to be default? Then it doesn't make sense to me to have default 1 when adding new GW. A default that gateway is not in the decision process (like 0?) would make more sense to me.

[2019-04-11 08:23] AdSchellevis commented on #2279
no higher is more important, so it would prefer 2 over 1, the sorting order in the form matches preference (for easy tracking)

[2019-04-11 08:34] mimugmail commented on #2279
Oh, but this is reversed compared to Tier's in Failover Groups, wouldn't this confuse the end user?

[2019-04-11 08:49] AdSchellevis commented on #2279
I'm not sure, weights work the same in the same form... I don't have a strong preference, although we need to calculate it to keep max --> low to prevent the order changing from what it was (dynamic preferred over manual).

Order seems to be quite important, and quite obscure how it was.

[2019-04-11 09:20] mimugmail commented on #2279
It's only related to UX, as an enduser working with Tiering I'd expect that Prio1 would be chosen first.

[2019-04-11 09:21] AdSchellevis commented on #2279
default 255 and 1 highest then?

[2019-04-11 09:25] mimugmail commented on #2279
Perfect! :)

[2019-04-11 23:27] lrosenman opened #3405 "IPV6: Track Interface: Doesn't allow full use of all prefix bits"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
Having an existing interface setup
Request /60 from provider
 Add another interface.
Set TRA

[2019-04-11 23:31] lrosenman opened #3406 "dhcp6c: Config not rewritten when interfaces added after the first."
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
Can't add 2nd-nth tracking interface
**To Reproduce**
Steps to reproduce the behavior:
Have

[2019-04-12 07:51] kevemueller opened #3407 "Sudo configures only wheel, not all login groups"
[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
`System/Settings/Administration/Secure Shell/Login Group` allows specifying the groups that are allowed to log-on to the shell.
`System/Settings/Administration/Authentication/Sudo` allows spec

[2019-04-12 07:53] fichtner commented on #3407
Maybe the confusion is between "shell access" and "shell assigned"? This indeed changed when we started adding shell selection which previously was only for administrators, hence the wheel group attachment.

Other components allow specifying an arbitrary group as well. Should we do the same for sudo?

Cheers,
Franco

[2019-04-12 07:54] fichtner commented on #3407
(I'm not comfortable with giving all shell-enabled users sudo capabilities.)

[2019-04-12 07:59] kevemueller commented on #3407
Hi Franco, lightning fast as always. ;)
Your last comment rules out option 2, that would leave option 3.
Why arbitrary groups? Do you have a use case for e.g. plugins requiring sudo? If so, is that something you would want to expose in this place as an editable option?
Worse than sudo for everybody is sudo without specifying a command and NOPASSWD. But that would lead to proposed solution 4 and in

[2019-04-12 08:03] fichtner commented on #3407
Ah ok you mean latching on to "Login Group" in secure shell access? That would work requiring a small text change as well for the sudo help label: Permit sudo usage for administrators with **secure** shell access. Do you agree? :)

[2019-04-12 08:08] kevemueller commented on #3407
Yes, option 2 would take the entries to template from the SSH Login Group, and indeed the help text woud read

Option 3 is to have an new dropdown with selectable groups. The selected groups would be allowed sudo. Accompanying this dropdown would be the tickmark for NOPASSWD.
Proposed help text:

Sorry, but I was not thinking into the direction of considering sudo for groups without shell access.

[2019-04-12 08:11] fichtner commented on #3407
Ok, good. The tiny side effect is that sudo works for console login users as well which can have a shell but not necessarily run through SSH. A little rough around the edges the whole shell and sudo interplay, but I think option 2 would fit neatly.

[2019-04-12 14:52] AdSchellevis opened #3408 "Gateway monitoring / status reporting"
**** related to https://github.com/opnsense/core/issues/2279

When a gateway isn't actually monitored, our status is reported as having no loss and the dpinger status call lists all the gateways it can find as such, using return_gateways_status().

Since only gateways in our configuration can be monitored, it doesn't really make sense to generate a list of possible candidates and report all is gre

[2019-04-12 15:34] #3408 closed

[2019-04-12 16:12] kevemueller opened #3409 "Log is flooded with api[\d+]: no active session, user not found"
[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
The opnsense General log is flooded with the error `no active session, user not found`.

**To Reproduce**
Exact root cause cannot be reconstructed, but most likely it was an opnsense UI sessio

[2019-04-12 16:18] AdSchellevis commented on #3409
It could be the log view, but it would be good to know for sure before looking for a fix. The message itself isn't wrong, if a caller keeps trying it would automatically result in more output.

Can you test the live view and report back?

[2019-04-12 16:52] kevemueller commented on #3409
## To reproduce
1. Set the `System/Settings/Administration/Session Timeout` to 5 (minutes). Was unset initially.
2. Open `Firewall/Log Files/Live View`.
3. Cut the network connection between the browser and the firewall.
4. Make a cup of tea, enjoy it.
5. Reconnect the network connection between the browser and the firewall.

The error messages appear immediately in the log. No need to focus the b

[2019-04-12 17:22] AdSchellevis commented on #3409
ok, thanks, I'll prepare a fix

[2019-04-12 18:02] #3409 closed

[2019-04-12 18:02] AdSchellevis commented on #3409
@kevemueller https://github.com/opnsense/core/commit/d9f0e03a28e6471a48b5c891e159537424dea8e2 should fix the issue (disables poller on failure)

[2019-04-12 21:45] AhnHEL opened #3410 "Prevent ICMP redirects not default Tunable"
This issue has been reported by Keropiko in the forum since 19.1.3 but has not been resolved or addressed by a Dev.   I can confirm this issue still exists in 19.1.6

See the following post for details:

https://forum.opnsense.org/index.php?topic=11956.msg54541#msg54541

Tunable appears to default to off instead of on as it should.

net.inet.icmp.drop_redirect=default (0) and must manually be edit

[2019-04-13 06:13] kevemueller commented on #3409
Thx.
👍

[2019-04-13 07:39] chaispaquichui commented on #3404
I found this in the code of the function get_interface_ipv6

[code]
So if the interface is configured with dhcpv6 (which is my case), the function always return the link local address. Why is this necessary ? It brokes ipsec in my case...

[2019-04-13 07:54] chaispaquichui commented on #3404
It also breaks the firewall rules related to the wan interface. For example, I just created a rule to allow openvpn over ipv6 on the wan interface

![image](https://user-images.githubusercontent.com/38246962/56076475-f450e100-5dd1-11e9-9477-4dd7d50dec35.png)

This is the result in packet filter :

pass in log quick on pppoe0 reply-to (pppoe0 **fe80::d2f0:dbff:fe85:2000**) inet6 proto udp from any

[2019-04-13 08:02] AdSchellevis commented on #3410
This only influences new installs / factory resets https://github.com/opnsense/core/commit/b424a2f9b3b7336054ae620a2da9d8739d36c0fe
We didn't intent to change defaults for existing installs. Its intentional, as stated in the release notes:

o system: new tunables factory default to prevent ICMP redirects being sent (net.inet.icmp.drop_redirect=1)

[2019-04-13 08:28] lordraiden commented on #3395
Pfsense can apply differnet suricata configurations to different networks. Is a basic stuff in any firewall, you don't want to inspect all the WAN traffic, only the ports or IP where you have exposed services.
You have to understand this to properly design a way to configure the IDS in any firewall. Currently opnsense doens't allow any fine tuning of the IDS so is a no go for anyone with a little

[2019-04-13 12:27] bewue opened #3411 "Both virtual CARP IPv6 addresses of the Cluster Machines stay in Master State"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
Both virtual CARP IPv6 addresses of the cluster machines stay in master state.
With tcpdump

[2019-04-13 13:03] AdSchellevis commented on #3395
From a performance point of view I can understand that you might want different suricata processes with different rulesets if the policies differ a lot between interfaces, although it likely causes a degradation in performance (memory/cpu) when all interfaces use the same policy (which we usually see, when home_nets are properly configured).
We always have to seek a balance between specialised set

[2019-04-13 13:31] bewue opened #3412 "The possibility to select the ICMPv6 type for firewall rules"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
For firewall rules i want to be able to select

[2019-04-13 13:33] AdSchellevis commented on #3395
this might be of interest at some point in the future https://suricata.readthedocs.io/en/suricata-4.1.2/configuration/multi-tenant.html , doesn't support IPS yet according to the docs, but maybe it will later.

[2019-04-13 15:43] AdSchellevis commented on #2279
@mimugmail The complete gateway code is refactored, I did some testing locally and all looks more consistent now. Eventually we could consider to also migrate `return_gateway_groups_array()`, which would make `gwlb.inc` the `dpinger.inc` package.

As soon as you have some time for testing, let me know.

[2019-04-13 15:51] AdSchellevis commented on #2279
some notes, for future reference:

- `system_routing_configure()` doesn't (and didn't) consider gateways that are down, we might want to rethink that at some point in time, since its not only called on bootup.
- `legacy_interfaces_details()` is pushed as a parameter into the constructor, which is needed at the moment to keep interfaces clean. we might want to consider moving `legacy_interfaces_det

[2019-04-13 17:38] fichtner commented on #2279
I'm ok with changing the name to dpinger.inc -- gwlb.inc shouldn't be in interfaces.inc anymore and related code should be moved either to system.inc or interfaces.inc.

Shall I opportunistically change the file name right away?

[2019-04-13 18:11] fichtner commented on #2279
(my IPv4 is completely broken on master as it seems to stuff an extra default gateway into the mix for the HE tunnel, which is IPv6 only and requires another IPv4 gateway. Some other issues along the way as far as I can see now. I can look into it on Monday.)

[2019-04-13 19:38] AdSchellevis commented on #2279
it's probably something small, just let me know if I can help debugging it.

[2019-04-13 19:40] kevemueller opened #3413 "Update Alias from https source always complains about not using certificate verification"
[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
Aliases can be populated from URLs.
When defining a https URL the underlying update_tables.py code always emits an error message on stderr.
`/usr/local/lib/python2.7/site-packages/urllib3/conn

[2019-04-13 21:25] gstuartj commented on #3399
Related forum thread: https://forum.opnsense.org/index.php?topic=12407.0

Others are also experiencing this issue. It broke a few of my rules after renaming aliases.

[2019-04-14 08:36] Taomyn commented on #2841
Yes, still happens with 19.1.5 https://forum.opnsense.org/index.php?topic=12412

[2019-04-14 08:53] fichtner commented on #2841
@AdSchellevis can we avoid writing rules with targets that have empty addresses in the respective family (probably only relevant for IPv4)? Feel free to take this, you'd know better why and how.

[2019-04-14 09:16] AdSchellevis commented on #2841
@fichtner I thought we already had something like that, but looking at the issue again, I'm doubting. I'll look into it

[2019-04-14 09:35] AdSchellevis commented on #3413
yes, while doing the python 2 ->3 conversion, I noticed the same, should already be fixed in master https://github.com/opnsense/core/blob/master/src/opnsense/scripts/filter/update_tables.py#L42

[2019-04-14 10:32] alexanderharm commented on #2332
The documentation can be found here:

https://wiki.opnsense.org/manual/how-tos/ipsec-s2s-route-azure.html

[2019-04-14 10:50] alexanderharm opened #3414 "Static route to route-based IPsec gateway does not get configured after reboot"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
We have setup route-based IPsec with the necessary gateway. We added a static route for our

[2019-04-14 11:10] vlabmichl commented on #1858
hey @AdSchellevis is there a documentation of your API?

...I stummbled around in the user / development manual and only came up to this
but it's missing sth. liken an "Firewall Alias" part:
* https://wiki.opnsense.org/manual/aliases.html
* https://wiki.opnsense.org/development/api.html

thanks for any hint!

[2019-04-14 12:31] AdSchellevis commented on #1858
@vlabmichl the general concept is found here https://docs.opnsense.org/development/how-tos/api.html best use the inspector in your browser to find the exact payload for an endpoint (all endpoints are used in the alias page and diagnostics -> pfTables).

[2019-04-14 12:46] AdSchellevis commented on #2279
@fichtner can you try this https://github.com/opnsense/core/commit/7a8b12f030a851a801f55c27ee2a90635805020c ? I might have been a bit to enthusiastic here by adding tunnel endpoints automatically as possible gateways. The old code only included the ones which wrote a `/tmp/XX_router` file. Other possible suspect is https://github.com/opnsense/core/commit/bfca97e2e0d821e3e9ad38833fd99f4a302bee83, w

[2019-04-14 13:16] AdSchellevis commented on #2841
@fichtner here you go https://github.com/opnsense/core/commit/971df3c4bfae40a982f670ffbe932b7013faf9db , although I'm not totally convinced this won't have side affects (since the error doesn't seem to have a relation with the ifconfig output for some odd reason).

[2019-04-14 13:20] klada opened #3415 "IPv6: Daily service disruption on prefix change"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**

When OPNsense is set up with a dynamic ISP prefix (including prefix delegation and prefix t

[2019-04-14 14:00] ssbarnea opened #3416 "wpad.dat is served only on https when redirection is not enabled"
Documentation states that using automatic redirection from HTTP to HTTPS port can negatively impact the abiity to load `wpad.dat` file.

If the user disables the redirection, mainly allowing access to web interface on both 80, 443 something weird is happening regarding the wpad file: it seems to be returned only on the HTTPS port.

This works against the idea of making the wpad file availabe witho

[2019-04-14 15:24] AdSchellevis commented on #2841
reverted https://github.com/opnsense/core/commit/971df3c4bfae40a982f670ffbe932b7013faf9db , the issue looks related to the nat reflection rules (which should already check for an address of the requested protocol family).

https://github.com/opnsense/core/blob/50e323d8dc9466f948c6f0a43e7ab518205d4cd1/src/opnsense/mvc/app/library/OPNsense/Firewall/DNatRule.php#L129-L148

https://github.com/opnsense

[2019-04-14 18:35] enoch85 opened #3417 "Nextcloud Backup doesn't work"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

**Describe the bug**
I have had opnsense backups through nextcloud working just fine for several months. Now I changed the server (put up a new one with all the latest dependencies and so on) running Nextcloud 15.0.7

No matter what I try it always fails.

In my previous setup I had the local IP 192

[2019-04-14 21:07] AhnHEL commented on #3410
Are these rules handled like firewall rules bc I see them duplicated now after hitting the "Default" Red button now in System: Settings: Tunables?

[2019-04-14 21:19] maurice-w commented on #3405
The prefix ID is hexadecimal - entering '15' equals 10101b. Valid prefix IDs for a /60 delegated prefix are '0' to 'F', so the 'out of range' error message is correct.

[2019-04-14 21:20] fbruetting opened #3418 "Faulty text rendering in rules overview"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new firewall rule and call it `SMTP & IMAP`
2. Go to the rules overview
4. See error (rule dispalyed as `SMTP &amp; IMAP`)

**Expected behavior**
Ampersand correctly rendered.

**Screenshots**
![Bildschirmfoto von 2019-04-14 23-15-26](https://user-images.githubuse

[2019-04-14 21:24] lrosenman commented on #3405
That should be explained in the help, and given as additional information in the error message.

[2019-04-15 06:05] mimugmail commented on #2279
When manually disabling gw with prio 1 it's changing correctly, after enabling it seems to recognize the correct gw (188) but sets 127.0.0.1 as default:

[code]

[2019-04-15 06:45] AdSchellevis commented on #2279
@mimugmail ok, I'll have to check where `/tmp/lo0_defaultgw` comes from in this case.

[2019-04-15 07:04] AdSchellevis commented on #3410
They shouldn't duplicate,  but if you want to be sure what the current value is, on a console execute:
[code]

I'll take a look at the tunables/default button, but you can always remove the first (faulty) entry to make sure you have the correct setting.

[2019-04-15 07:18] #3418 closed

[2019-04-15 07:33] #3410 closed

[2019-04-15 07:34] AdSchellevis commented on #3410
@AhnHEL I've removed the duplicates in https://github.com/opnsense/core/commit/6101ba8940f02888fd096f4e8e458624ec5f0ff2, you can fix manually by removing the wrong entries. It looks like I missed the values already there. Thanks for the report.

[2019-04-15 08:05] AdSchellevis commented on #2279
ok, it seems that I missed a race condition, this is all just too stupid. When a file exists with the name `/tmp/[intf]_defaultgw[v6]`, it's considered "default" (as it was before), but the file itself is written when setting a default route...

https://github.com/opnsense/core/blob/c4d42929fb7c76f528c023c4286b2e23355e659f/src/etc/inc/system.inc#L430

[2019-04-15 09:22] ssbarnea opened #3419 "webgui fails to start when haproxy is enabled"
I managed to find a configuration setup that while resonable will render your opnsense webgui useless as it will fail to restart.

How to reproduce?
- install haproxy
- add a Virtual IP for your LAN (192.168.33.1 in my case)
- configure haproxy to use that virtual-ip (192.168.33.2 in my case)
- restart web gui (or wait till next day)
- enjoy not having a web gui anymore and not being able to start

[2019-04-15 09:52] AdSchellevis commented on #2279
@mimugmail @fichtner I'm not exactly sure yet why the gateway switched to localhost (other than the fact that localhost is in our list now, but with a very low priority), I'll have to do some more testing over here as well.  The interaction with dhclient looks a bit fragile, so I rather not touch that one if possible.

In https://github.com/opnsense/core/commit/dd8d3444f5bdc301fdf2ab49517729e5f24f

[2019-04-15 09:56] AdSchellevis commented on #3419
By default the webgui listens on all interfaces, you can configure a static interface in System->Settings->Administration

[2019-04-15 10:06] ssbarnea commented on #3419
@AdSchellevis I think this is a genuine bug: once you add a Virtual IP, the webgui will try to bind to it when services is restarted. This means that you cannot really use ports 80/443 on any LAN Virtual IPs.

[2019-04-15 10:17] AdSchellevis commented on #3419
It could be a feature request, not a bug. when selecting an interface, it will listen on all addresses for that interface.

[2019-04-15 11:32] AdSchellevis commented on #2279
For reference, the `_defaultgw` originates from quite some time ago:

Add "new status file" in https://github.com/pfsense/pfsense/commit/924f202ee818c72b10855d3a1c06b34a9e7aa595 and then at some point in time, create a loop to read the same back to determine "default" https://github.com/pfsense/pfsense/commit/999111cb73957679debbe5831e1b7d01c3985b1f

Then ipv6 came in https://github.com/pfsense/pf

[2019-04-15 12:55] #3412 closed

[2019-04-15 14:57] AdSchellevis commented on #2279
@mimugmail this https://github.com/opnsense/core/commit/497f523f6e86fbbd229793a6ffafd6e0f61ab78c might be your issue, although I did commit some other small fixes as well.

While testing, I noticed my gateway overview reported a gateway down right after apply,  where it actually didn't know the status yet. If a filter reload would be started at the same time (which your logs seem to suggest), it w

[2019-04-15 15:21] mimugmail commented on #2279
I'll fetch latest master tonight on a fresh machine. Seems my test machine has 2 gateways with same name in config.xml

[2019-04-15 15:23] AdSchellevis commented on #2279
thanks!

[2019-04-15 15:23] hippi-viking commented on #2279
Thanks for all the hard work on this guys!
To chime in I have some problems with the current (19.1.6) gateway-switching logic which might be relevant for the reworked code as well.

My setup has a (tier 1) cable modem connection considered to work most of the time, when it doesn't I plug in my mobile (tier 2) to use them as a failover group. (The mobile's interface is locked to prevent removal, ju

[2019-04-15 15:23] RomanJos opened #3421 "Allow a domain to be use without authentification in captive portal"
Hi, i was wondering if the captive portal can allow certain domain to be used without authentification, that will be useful for stripe because if i want them to buy a voucher they can't contact checkout.stripes.com. Untangle can do this so why opnsense can't ? i know there is a section to allow ips to bypass the captive portal but i can't enter stripe.com, only IP but stripe give only the ip of th

[2019-04-15 15:25] monreal opened #3422 "Dynamic DNS after DSL reconnect"
**Describe the bug**
I connect to the internet using a DSL modem connected to my OPNsense via PPPoE. Sadly, my line is not very stable so at times I get multiple reconnects a day. The connection works fine again after 1-2 minutes but what does not work is my dynamic DNS. The problem seems to be that it tries to update the record while the connection is still not fully working.

**To Reproduce**
St

[2019-04-15 15:38] monreal commented on #2841
No message after a reboot with that option OFF. I don't remember why I set it in the first place but I will probably find out sooner or later...

[2019-04-15 15:53] AdSchellevis commented on #2841
It's disabled by default and you can still create manual rules to match traffic and forward .

[2019-04-15 17:03] fabianfrz commented on #3417
Your IP address works out of the box:

![Bildschirmfoto vom 2019-04-15 um 19 01 13](https://user-images.githubusercontent.com/3713914/56151164-f329da80-5fb0-11e9-92ea-add3f19070fb.png)

The backup just fails in my setup as this is not my instance. I use a FQDN with https:// prefix.

[2019-04-15 17:29] enoch85 commented on #3417
Well, it doesn't work since the backup fails. :) And what do you mean by "my" IP address?

Are you running Apache? Did you do any extra configuration, like adding entries in the `/etc/hosts` file?

It worked without the https.// http:// prefix before, what changed? I read in the forums that the app was pretty hardcoded...

[2019-04-15 17:41] fabianfrz commented on #3417
It works when I enter my own server name. With your IP I refer the IP you have given me in your error description where you mention that the validation fails.

## Are you running Apache?

no, nginx/1.14.2

## Did you do any extra configuration, like adding entries in the /etc/hosts file?

Yes but only HTTP-01 handling for let's encrypt

## It worked without the https.// http:// prefix before, what

[2019-04-16 06:11] Taomyn commented on #2841
I do recall enabling that option a while back in order to get some uPnP rules to work with Windows 10 and Xbox live (not that it's been very successful for non-OPNsense reasons) - I will have to study that part of my setup when I have time and see if I too can disable it again.

[2019-04-16 08:16] enoch85 commented on #2841
Question; I have several 100s of rules in my OPNsense. What happens if I disable that (--^) option?

[2019-04-16 08:25] AdSchellevis commented on #2841
![image](https://user-images.githubusercontent.com/9783985/56193580-404d9100-6031-11e9-810a-a48c4fdfe7ad.png)

^^^ personally I would keep the defaults at all times (no automatic rules) and define which traffic you want translated manually.

[2019-04-16 08:39] AdSchellevis opened #3423 "cleanup: remove get_failover_interface() from core"
before 19.7, revert https://github.com/opnsense/core/commit/d6324fc822448040fa90308ff0981a1f4658ddc5

and remove return_gateway_groups_array() https://github.com/opnsense/core/commit/5d37a23f2c8bddc5790cad44eac030b335957405

[2019-04-16 12:25] AdSchellevis commented on #2279
@fichtner we could probably move `gwlb.inc` now, I have gathered the last todo's in https://github.com/opnsense/core/issues/3423 about the two functions that might be used in older plugins, not sure when we can kill those.

[2019-04-16 13:43] Taomyn commented on #2841
I've disabled it on mine and will see how it goes

[2019-04-16 21:10] patrick7 opened #3424 "IPv6 policy routing not working"
I created an IPv6 firewall rule using a gateway (GIF, WireGuard). The rule matches but traffic is sent to the default gateway (netstat -6rn)

**To Reproduce**
Steps to reproduce the behavior:
1. Create an IPv6 firewall rule using a default gateway
2. Test it

**Expected behavior**
Routing over the gateway which is specified in the rule

**Environment**
Software version used and hardware type if re

[2019-04-16 21:11] mimugmail commented on #2279
Fetched latest master, only had one gateway with Prio1:

[code]

Then I added a second one with Prio2 and now it's active and new default:

[code]

[code]

[2019-04-16 21:38] ppmathis commented on #3411
I am experiencing the same issue on my OPNsense cluster running version 19.1.6 on amd64. I noticed that disabling the firewall completely on the master host (`pfctl -d`) immediately results in outgoing IPv6 CARP packets being visible:

[code]

Adding a floating rule which allows IPv6 CARP from "any" to "any" over "any interface" doesn't seem to work here, only completely disabling the firewall doe

[2019-04-17 05:22] fichtner commented on #2279
@AdSchellevis thanks, it works out of the box now, but I have a few questions later today about the code and backwards-compat

[2019-04-17 06:26] awerner opened #3425 "Captive Portal: Fails to start wit sqlite3.OperationalError"
**Describe the bug**
The `captiveportal`-service fails to start after creation of the first Zone. The error reported by configd is:
[code]

Manually calling the offending script to get a full stack trace:
[code]

The database_filename is `/var/captiveportal/captiveportal.sqlite`, but:
[code]

**To Reproduce**
Steps to reproduce the behavior:
- Installed the Freeradius Plugin, created Radius User a

[2019-04-17 06:36] AdSchellevis commented on #3425
ok, that's odd, the rc scripts should create the directories. https://github.com/opnsense/core/blob/ac6a1ef8c829f6472b1542287275f6ec84eb2b32/src/etc/rc.d/captiveportal#L88

Are you sure its enabled and applied?

We should fix the list clients to not crash when the directory doesn't exist, but that probably won't fix your issue.

[2019-04-17 06:55] awerner commented on #3425
Looks like the order during the first startup of captiveportal is wrong:
[code]
Interestingly, the `ls -l /var/` occurred right after 07:48, but the captiveportal directory was not existent at that time.
Seems as the workaround is also just "change some captive portal setting and apply", as only the first start seems to be affected.

[2019-04-17 06:57] AdSchellevis commented on #3425
then https://github.com/opnsense/core/commit/a193e1e39711477da6bd52c20f9c96116841a4e7 will probably fix the issue

[2019-04-17 07:08] awerner commented on #3425
Applied the patch in a vm for testing, looks good, thank you :)

[2019-04-17 07:08] #3425 closed

[2019-04-17 07:08] AdSchellevis commented on #3425
thanks for confirming!

[2019-04-17 08:44] DesruX commented on #2591
Mention of no carrier bug - recommending the 3.3.6 driver
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=235918

This may also be related
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=221967

Talk of permanent allow unsupported SFP in driver, dated but similar principle.
https://sourceforge.net/p/e1000/mailman/message/28694855/

Another patch for ix driver:
http://www.grosbein.net/freebsd/p

[2019-04-17 09:34] claasgo opened #3426 "locked myself out by changing auth server"
**Is your feature request related to a problem? Please describe.**
I was playing around with LDAP + OTP to test several things.
To Import my LDAP Users, I changed
System: Settings: Administration -> Authentication -> Servers to my LDAP Servers but did NOT check local database.

Next day, after my session was interruppted, I was'nt able to login with my local Admin Accounts. Had to restore a backup

[2019-04-17 10:24] fichtner commented on #3426
I'm afraid the system is unforgiving when disabling local authentication. It's a multi-select nowadays so unchecking is a very conscious decision. Warning dialogs probably don't matter either. The best way is to update the docs mentioning this can happen and having a plan B for recovery (ssh with auth key or unlocked console).

[2019-04-17 11:00] claasgo commented on #3426
Thank you, did not thought about the ssh-key way, that worked for me on my failover system.

[2019-04-17 11:02] fichtner commented on #3426
Sure, no problem. Close issue? :)

[2019-04-17 11:18] #3426 closed

[2019-04-17 11:38] alexara opened #3427 "Umlaut like ä,ü,ö becomes &uuml;"
[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
An umlaut like "ü" in a description, will be displayed as `&uuml;` after applying the changes.

This particularly happened when I added the description `Würfel` to an static DHCP lease, so it

[2019-04-17 11:52] bewue commented on #3411
Ok, didnt know theres an different tcpdump syntax for IPv6 CARP package filtering compared to IPv4.
Anyway there is no header parsing for IPv6 CARP packages in tcpdump (for IPv4 CARP there is!)?

`tcpdump -i <carp-iface> carp -----> only IPv4 CARP packages are shown`
`tcpdump -i <carp-iface> proto CARP ------> IPv4 and IPv6 CARP packages are shown`

`root@opnsense:~ # tcpdump -i <carp-iface> proto

[2019-04-17 11:58] #3427 closed

[2019-04-17 13:44] AdSchellevis opened #3428 "dpinger, initial state"
While refactoring the gateway code, I run into an impracticality of dpinger as it seems to be functioning now.

Before https://github.com/opnsense/core/commit/497f523f6e86fbbd229793a6ffafd6e0f61ab78c gateways where reported "down" when unknown, which lead to unexpected switches when applying new gateway settings. As it is now, the state is usable, but dpinger won't trigger an alert when initially

[2019-04-17 16:54] enoch85 commented on #3417
So I've tried with:

http://mynextcloud.example.com/nextcloud
https://mynextcloud.example.com
https://192.168.15.111
https://192.168.15.111

Same thing for three different servers, all end up with the same error. "Backup could not be performed" as in the logs.

So what are you saying is wrong here? Thanks so far.

[2019-04-17 20:25] ppmathis commented on #3411
@bewue Thank you for your findings so far. I am awaiting your test results on the cluster, as I can also see those outgoing CARP v6 packets on a standalone machine, but not on my cluster - and others from the forum encounter the same issue.

In case you do see those outgoing packets though, I'll open a new issue and we are most likely experiencing a different bug.

[2019-04-18 04:44] fabianfrz commented on #3417
What does the log say? at least there is no field validation error anymore. Do you have nextcloud in the root directory?

[2019-04-18 11:29] enoch85 commented on #3417
You have the log in the issue. :)

[2019-04-18 16:44] micressor commented on #2135
Is there already a workaround, so that you can install it yourself?

[2019-04-18 17:29] RomanJos commented on #3421
Hi, i managed to make it work by overriding the response for checkout.stripe.com, q.stripe.com, m.stripe.network, js.stripe.com and api.stripe.com in my dns settings so they are static and don't change over the time so in the captive bypass host i can enter all the stripe ip as well in the proxy bypass but i have a question : how can i update by cron the stripe ip ? because they will not have the

[2019-04-18 22:40] patrick7 commented on #3424
It works when shared forwarding is disabled :o:
What does this option exactly in the background?

[2019-04-18 23:04] ppmathis commented on #3411
FWIW: While I still do not know if our issues are related, I spent some further time today with trying to track down this specific issue. Reducing the ruleset to a single rule which permits any incoming and outgoing traffic did not work either, which is why I started to analyze global pf flags.

It turned out that disabling **Firewall -> Settings -> Advanced -> Multi-WAN -> Use shared forwarding b

[2019-04-19 04:30] bsd-source opened #3429 "webui: cosmetic inconsistencies"
OPNsense Version:
OPNsense 19.1.5_1-amd64

**webui inconsistency issue 1:**

Firewall --> Rules --> Floating

**Floating** rules are evaluated on a first-match basis (i.e. the action of the first rule to match a packet will be executed) only if the 'quick' option is checked on a rule. Otherwise they will only apply if no other rules match. Pay close attention to the rule order and options chosen.

[2019-04-19 08:40] alexara opened #3430 "Log Files: Backend: "Configd.py [...] Performing remote backup" does not apply"
[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
Studying the backend log file I found that every night at 1 am `configd.py` reports ` Performing remote backup` although no remote backups have been configured or enabled at all under `System

[2019-04-19 09:07] #3430 closed

[2019-04-19 09:08] AdSchellevis commented on #3430
@alexara thanks, happy easter to you too. With https://github.com/opnsense/core/commit/2e896d47b3dd66b3ef0a019102d04b2f1635822c it should disable to cron when there's no backup configured.

[2019-04-19 10:02] advcron opened #3431 "Alias group problem"
**OPNsense Version:**
OPNsense 19.1.6-amd64
Clean install from OPNsense-19.1.4-OpenSSL-dvd-amd64.iso

More detail:

1. Host Alias with content of ip/net working/update well. Except situation in point 3.
2. Host Alias with content of anather alias (alias group). Not working.

![1](https://user-images.githubusercontent.com/38749228/56419543-dafcd880-629a-11e9-9642-a2b5edbab8b7.PNG)

a) Max entries o

[2019-04-19 11:58] AdSchellevis commented on #3431
[2,3] duplicate of https://github.com/opnsense/core/issues/3399, [5] delete seems to mis a cleanup indeed, we'll take a look at that. For point [4], please create a new issue containing a step by step procedure how to reproduce. I can't reproduce the issue that none of the updates work.

[2019-04-19 12:38] #3431 closed

[2019-04-19 13:03] bewue commented on #3411
@ppmathis Good news, I will test that too. (at the earliest next tuesday)

[2019-04-19 17:56] aofwer commented on #3415
I can confirm this issue. I am getting a short interface UP/DOWN toggle roughly every 48 hours. This only happens when IPv6 with prefix tracking is enabled. With IPv6 disabled I am not getting these disconnects.

Observations:

- PPPoE connection/interface does not toggle. There is no forced PPPoE disconnect from my ISP
- IPv4 and IPv6 address/prefix **does not change**

I _think_ the reason for t

[2019-04-19 22:04] advcron opened #3432 "Alias group - Strange update"
**Describe the bug**
ALL alias group file dosen't update when we click Apply. We have to delete or change md5 sum file in /var/db/aliastables.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Firewall -> Aliases -> Add alias
- Name: IP_ALIAS1
- Type: host
-Content: 192.168.0.10
2. Go to Firewall -> Aliases -> Add alias
- Name: IP_ALIAS2
- Type: host
-Content: 192.168.0.20
3. Go to Firew

[2019-04-20 11:49] heri16 opened #3433 "sdhci_acpi/mmc broken on v19.1"
**Important notices**

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

- [x] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**

The internal eMMC of my Upboard could be detected by both FreeBSD 11.2 and OPNsense v18 . On v19.1, it fails with a "Error reading EXT_CSD Bad CRC". I thought the b

[2019-04-20 15:50] fichtner commented on #3433
You can read more about it here: https://forum.opnsense.org/index.php?topic=12378.0

Legacy support is broken in FreeBSD 11.2 which we would like to not break for every consumer. FreeBSD 11.3 at the moment has patches that neither some eMMC nor legacy boot are working despite the ticket...

https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=231713

At the moment we will have to sit this out.

[2019-04-20 17:51] lrosenman commented on #3406
Anyone?

[2019-04-20 19:36] enoch85 commented on #3417
I've created a seperate user on Nextcloud with the sole purpose of doing these backups, and the files are stored in /OPNsense-Backup

[2019-04-21 06:06] fabianfrz commented on #3417
yes but if you switch to the system log, you should get an error message with a JSON result why it failed.

[2019-04-21 10:01] #3432 closed

[2019-04-21 10:05] AdSchellevis commented on #3432
@advcron thanks for the report, I've prepared a patch on master https://github.com/opnsense/core/commit/3dc5f7150337434d838c79260278b148fa1afda6. Since there are more changes stashed for the python 2->3 conversion, it probably won't fit the current stable version.

[2019-04-21 12:34] enoch85 commented on #3417
Do you mean this: https://cloud.hanssonit.se/s/x7aoMWTipcbej32

![Screenshot from 2019-04-21 14:33:33](https://user-images.githubusercontent.com/4511254/56470102-7b413180-6442-11e9-9c9f-42eb1a1c79b3.png)

[2019-04-21 13:32] fabianfrz commented on #3417
[code]
this means that the connection between your load balancer and your webserver is broken.

the other stuff looks like a generic HTTPS error (establishing an HTTPS connection fails ` "ssl_verify_result":1`)

[2019-04-21 13:41] berlinbikerx opened #3434 "Live view does not work anymore"
The log file live view of the firewall rules does not work anymore. The GUI appears, but no log entries are displayed.

The page in question is
https://opnsense/ui/diagnostics/firewall/log

After requesting the live view, the following entries are logged in the backend logs of https://opnsense/configd_logs.php:

`
configd.py: [09116932-80fc-4c0c-a8c3-04b1913f6ebe] Script action failed with Command

[2019-04-21 15:01] fichtner commented on #3404
If you set dhcp6prefixonly then we will ignore anything non-link local. If your ISP gives you a non-link-local but requires you to request a prefix only that is how it must be by the virtue of their rules. Instead, try to move phase 1 to LAN instead of WAN, it works just the same.

[2019-04-21 15:03] fichtner commented on #3384
was merged in https://github.com/opnsense/docs/commit/dde4e5145dda7a8cca133ffc64ed9ebde4c303b6 -- thanks!

[2019-04-21 15:03] #3384 closed

[2019-04-21 15:38] enoch85 commented on #3417
**Conclusion:**

It worked before on another server, the app updated, now it doesn't work with the exact same settings.

Proxy settings are *exactly* the same. The cert is also valid. As you notice I was trying on a local IP which has a self-sigend cert = not valid, whilst the FQDN are valid.

Everything is quite easy to test.

So what changed in the app that broke the setup? Before the change of

[2019-04-21 15:50] enoch85 commented on #3417
OK, sorry, I think it is a server error after all.

Found this when looking though all my logs:

[code]

[2019-04-21 15:54] AdSchellevis commented on #3434
It seems you're using a development version, can you run the following on a console and dump the output?
[code]

[2019-04-21 15:57] berlinbikerx commented on #3434
Yes, it's a dev version, the output follows:

`
[volker@gateway ~]$ /usr/local/opnsense/scripts/filter/read_log.py /limit '25' /digest ''
Traceback (most recent call last):
  File "/usr/local/opnsense/scripts/filter/read_log.py", line 112, in <module>
    running_conf_descr = fetch_rule_details()
  File "/usr/local/opnsense/scripts/filter/read_log.py", line 79, in fetch_rule_details
    for line i

[2019-04-21 16:01] enoch85 commented on #3417
...but only when trying over HTTP though. No error on HTTPS, both with FQDN and local IP.

Worth noticing is that 443 is the only Virtual Host configured on the backend.

[2019-04-21 16:03] enoch85 commented on #3417
So my educated guess:

USING FQDN = Should work but doesn't
Using local IP = Complains about unvalid cert

So, FDQDN should work, but doesn't

[2019-04-21 16:05] AdSchellevis commented on #3434
seems like an encoding issue in the transition to python 3 , can you try https://github.com/opnsense/core/commit/2940f6adc804b7a0d05c2c1040e13fb604d4c0e9

Install using:
[code]

I'm not 100% sure this  works, it not, I'll have to reproduce your issue somehow.

[2019-04-21 16:14] berlinbikerx commented on #3434
The patch made the live log work again on my installation.

Thanks a lot for the quick response.

[2019-04-21 16:14] #3434 closed

[2019-04-21 16:15] AdSchellevis commented on #3434
@berlinbikerx thanks for reporting back!

[2019-04-21 16:25] fabianfrz commented on #3417
When I look at this page, your process may run out of memory (same error code):
https://support.plesk.com/hc/en-us/articles/213411429-Website-shows-503-Service-Unavailable-Unable-to-allocate-bytes-in-shared-memory

Can you check your systemd journal (your PHP unit is probably called php-fpm)

[2019-04-21 16:33] enoch85 commented on #3417
OK, my bad. Sorry.

Enabled a HTTP config (only 443 was enaled before) and now it works.

For others coming here, this only allows OPNsense, no one else to access on port 80:

[code]

[2019-04-21 16:34] #3417 closed

[2019-04-21 17:59] #3405 closed

[2019-04-21 20:47] advcron commented on #3432
**@AdSchellevis** I run OPNsense 19.1.6-amd64 and this patch works.
After click Aplay alias gorup update immediately.

Thank you very much for the patch

[2019-04-21 21:00] sebastiannielsen opened #3435 "Opnsense shouldn't recommend "all" for SSH server"
The administration settings page:
http://192.168.1.1/system_advanced_admin.php

says (recommended) to listen to "all" interfaces on SSH server.

Security wise, I see it as a insanely stupid idea to recommend running the SSH server (for a firewall) listening on public-facing interfaces, and I would instead suggest showing (not recommended) on all interfaces which do have a gateway, and (not recomme

[2019-04-22 06:07] fichtner commented on #3435
The current way of doing it has been the default and only option for many many years. Users wanted strict binding and we gave it to them a few years ago under the condition that it can break itself and we cannot support all use cases.

The recommendation refers to the fact that you can lock yourself out if you choose to pick specific management interfaces. It can happen because strict interface bi

[2019-04-22 06:37] fichtner commented on #3406
Nice spot, can you try this patch?

    # opnsense-patch 88c5ffa

Cheers,
Franco

[2019-04-22 06:58] fichtner commented on #3406
Deconfigure now works as expected too. There's still an older bug that I'd like to address before closing: checking wether the same prefix ID is already used.

[2019-04-22 09:04] chaispaquichui commented on #3404
So if I understand correctly, you automatically ignore the GUA because there is some scenario where the ISP doesn't "give" a GUA on the wan interface ?

I know I can use the LAN interface but it's not intuitive, would it be possible to document this behavior ?

[2019-04-22 10:00] fichtner commented on #3419
Since the gist here is that you want to bind to the same port on the same IP this is not a bug. We cannot inspect if someone already uses the port and lighttpd will simply fail to start so it is what it is.

[2019-04-22 10:00] #3419 closed

[2019-04-22 10:02] #3413 closed

[2019-04-22 10:07] fichtner commented on #3404
The question is do you need to use request prefix only option? If IPv6 works without this non-standard option you're fine as is. If not you need to bind IPsec or any other service to an IPv6 interface with a global address as knowingly accepted by the system.

The problem with documenting this IPv6 oddity is that the people looking for the problem are very unlikely to find the appropriate spot in

[2019-04-22 10:14] fichtner commented on #3424
Looks like a shared forwarding regression in IPv6 code. I'll have a closer look but I'm not sure it will be easy to spot or debug.

Shared forwarding offers a missing piece to the FreeBSD kernel's interaction between pf and ipfw firewall components. The current FreeBSD code "blackholes" policy routing and sends packets out the physical link without handing them off to ipfw which breaks certain com

[2019-04-22 10:18] fichtner commented on #3402
To me this looks like a FreeBSD bug incorrectly resolving groups with the :network operator. It should be reported here https://bugs.freebsd.org/bugzilla/

[2019-04-22 10:21] fichtner commented on #3371
The timestamps destroy parsing of dmesg entries so their use is not recommended at the moment. I know HardenedBSD enabled them by default but it breaks several things so it needs work to be able to work with them consistently.

[2019-04-22 10:21] #3371 closed

[2019-04-22 10:25] fichtner commented on #3365
@maurice-w I'm happy about all help even if just what to configure and how. But I don't want to touch working areas for cleanups too much unless they are natural progression. This issue here is more of a split in terms of how useful that particular option in the daemon is in the scope of its integration, but not anything that is purely wrong or counter-intuitive.

That being said, always happy to

[2019-04-22 10:32] #2949 closed

[2019-04-22 10:32] fichtner commented on #2453
Timeout

[2019-04-22 10:32] #2453 closed

[2019-04-22 10:33] fichtner commented on #2640
Timeout.

[2019-04-22 10:33] #2640 closed

[2019-04-22 10:33] fichtner commented on #2993
Likely a local issue. Timeout.

[2019-04-22 10:33] #2993 closed

[2019-04-22 10:34] fichtner commented on #3038
Timeout.

[2019-04-22 10:34] #3038 closed

[2019-04-22 10:34] fichtner commented on #3135
No report since 19.1: fixed or timeout.

[2019-04-22 10:35] fichtner commented on #3177
@lattera is the new HardenedBSD code ready? Or for 19.7? We should be closing this support ticket since 19.1.4 the issue did not reappear either way and we're not tracking the work in OPNsense.

[2019-04-22 10:36] fichtner commented on #3099
Timeout.

[2019-04-22 10:36] #3099 closed

[2019-04-22 10:36] #3236 closed

[2019-04-22 10:37] fichtner commented on #2037
@AdSchellevis do we still need this?

[2019-04-22 11:05] fichtner commented on #3406
@lrosenman Thanks for the report and sorry for the delay ❤️

[2019-04-22 11:20] chaispaquichui commented on #3404
Sorry, I forgot that I've selected this option on the wan interface... Everything make more sense now :)

Thx and sorry for the waste of time !

[2019-04-22 11:20] #3404 closed

[2019-04-22 11:22] fichtner commented on #3404
If it works this way I'm happy. No worries. :)

[2019-04-22 11:28] Benzy-Louis commented on #3401
According to suricata's documentation one can have multiple outputs for the eve-log, https://github.com/OISF/suricata/blob/d6903e70c1b653984ca95f8808755efbc6a9ece4/doc/userguide/output/eve/eve-json-output.rst#multiple-logger-instances, it's only for the drop logs that there can only be one output, I've open a feature request on the suricata project related to that https://redmine.openinfosecfounda

[2019-04-22 13:38] lrosenman commented on #3406
How can I get all the commits on a 19.1.x release/box/etc?

[2019-04-22 14:02] AdSchellevis commented on #3401
If we can have overlapping log targets, I don't mind looking into to adding a feature.

About the syslog length, I'm afraid this is a limitation of udp syslog (https://tools.ietf.org/html/rfc3164). Newer syslog frameworks support other transports for larger messages.

[2019-04-22 14:11] AdSchellevis commented on #2037
to be honest, the current rule insertion works as a charm, it only lacks validation and a bit of documentation about the fields which are available. lets close this for now, I wasn't planning on providing another programming interface here at the moment.

[2019-04-22 14:11] #2037 closed

[2019-04-22 17:41] fichtner commented on #3406
@lrosenman let's discuss here about schedule. I can't promise it for 19.1.7 but I can make a single-patch backport for on top of 19.1.6 if you want to test?

[2019-04-22 17:43] lrosenman commented on #3406
I'd love that and *WILL* test :)

[2019-04-22 17:52] fichtner commented on #3406
Okay, great! It's 81ca8c9 for both tickets. Apply and subsequently remove by running the same command below:

    # opnsense-patch 81ca8c9

[2019-04-22 17:58] fichtner commented on #3406
PS: I don't always have time to respond quickly, but GitHub is indeed the best and quickest way do discuss issues, patches, solutions and release schedules. Closing tickets is just for recording issues as done in the roadmap item "19.7". Ping still works reliably afterwards :)

[2019-04-22 18:57] lrosenman commented on #3406
Deleting the interface should cause a rewrite as well, and does *NOT* at the moment with the above patch.

[2019-04-22 18:57] lrosenman commented on #3406
the rest looks great!

[2019-04-22 19:51] fichtner commented on #3406
@lrosenman nice, thanks a lot. I have an idea about deletion. Will patch tomorrow and follow-up.

[2019-04-23 06:14] fichtner commented on #3406
7ff838cac on top should do the trick:

    # opnsense-patch 7ff838cac

I think I can shortcut these to 19.1.7 with the help of your testing. I just have to make sure my office setup likes this as well. Due to the Easter holidays couldn't deploy it there yet but will do it on Thursday.

[2019-04-23 12:55] lrosenman commented on #3406
Confirmed it now does the right thing here.  Thanks!

[2019-04-23 12:57] patrick7 opened #3437 "Wireguard freezes whole system"
**Describe the bug**
Every second or third change in the wireguard config freezes the whole box, a cold reboot is necessary

**To Reproduce**
Change some wireguard settings, enable/disable local, peers, ...

**Expected behavior**
Not to freeze the box :-)

**Relevant log files**
Will see if I can get some after the box is rebooted on site

**Environment**
Software version used and hardware type if

[2019-04-23 12:59] fichtner commented on #3406
@lrosenman great, thanks for your help!

[2019-04-23 12:59] #3406 closed

[2019-04-23 13:00] fichtner commented on #3437
This is a known upstream issue to be fixed there soon, see https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=233955

[2019-04-23 13:00] #3437 closed

[2019-04-23 17:40] RomanJos opened #3438 "Can't mount root on 19.x"
Hi, i've spent a complete day figure it out why i can't install opnsense on my machine, trying everything etc, i ended up installing the 18.1.6 successfully and upgrading using the gui step by step to 18.7.10. I upgraded again to 19.1 and this was the last sign of existence. Now i have a beautiful trying to mount root message that i've been stuck all the day. I also tried to install opnsense from

[2019-04-23 17:58] fichtner commented on #3438
There is not enough info here: what hardware are you using, which image, where installed (ssd, sd or cf card), usb-bound or sata ?

[2019-04-23 18:09] RomanJos commented on #3438
The processor is a AMD Phenom II X4 965 Processor (4 cores), the mobo is a  990 FXA GD65 and i installed the 18.1 AMD64 vga.img file with a usb, i also tried to install the 19.1 with a usb, cd using the iso and hdd with the vga and the nano but it was still trying to mount root but now it has occured when i updated it so it doesn't matter i think and its running on a hdd

[2019-04-23 21:02] bewue commented on #3411
For CARP IPv6 address functionality the deactivation of **shared forwarding** was the solution for me as well!

[2019-04-24 01:15] fichtner commented on #3199
@tduboys Okay, I'm classifying this as bug now after a deep-dive into the code. The reason for that is that handling for track6,bridge, delayed items is completely out of whack... 561a783 works for me, but is merely meant as a base for further work. I'm not sure if it will be in 19.1.x or wait for 19.7 to shine. Nevertheless you can try it via:

    # opnsense-patch 561a783

[2019-04-24 06:52] tduboys commented on #3199
Thanks @fichtner I will try this patch. Currently, I'm using my old patch. I will revert it and let you know if all worked.

BTW I didnt know the opnsense-patch command :)

[2019-04-24 09:42] Kimotu opened #3439 "Extend character set to firewall group labels"
[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
No problem, but for better legibility, add at least underscore ( _ ) as additional allowed character in firewall group names (Firewall: Groups). M

[2019-04-24 10:28] #3439 closed

[2019-04-24 19:30] teklabania commented on #2946
Here's some more formal BUG report for the issue.

# Brief description:
What I want to achieve is to translate MAC address to hostname without caring about IP address assigned to the host.

# OPNSense: 19.1.6

# Steps to reproduce
 - go to Services -> Unbound DNS -> General
 - set "Register DHCP static mappings" to true
 - go to Services -> DHCPv4 -> Interface
 - scroll down to section "DHCP Stati

[2019-04-24 19:41] BCurrell commented on #3135
Hi fichtner,

I thought I had responded to this ticket.

The issue continued in 19.1, however we removed the bridged interface in our environment so we were no longer affected.

Thanks,
B

[2019-04-24 21:22] fichtner commented on #3135
@BCurrell thanks for the update. I'm working in a related code area by coincidence now and I will take a closer look therefore. :)

[2019-04-24 21:24] Julien-nl commented on #3386
When we chose change action from alert to drop, would i see the alert on the Alert page ?
after the update i am not seeing the Alerts at all.

[2019-04-24 21:39] heri16 commented on #3433
No plans for another ticket on FreeBSD upstream?

[2019-04-24 21:47] xiic commented on #3386
This patch only applies to rules containing ```flowbits:noalert;``` - those rules should neither be blocked nor trigger an alert. Before this patch there were a lot of false positive alerts.

Real dropped actions still trigger an alert on my system.

[2019-04-24 21:49] fichtner commented on #3433
I'm watching the issue posted, but I don't have the means to test and report. Someone with the error will have to do it.

Cheers,
Franco

[2019-04-24 22:10] lattera opened #3440 "Feature Request: Select multiple plugins to install"
Plugins currently must be installed one-by-one. Being able to select multiple plugins and install them in one go would improve usability. Perhaps a checkbox to the left of the plugin name and a new button to install selected plugins.

[2019-04-25 06:23] #3135 closed

[2019-04-25 06:32] fichtner commented on #3199
both opnsense-patch and opnsense-revert are handy sometimes :)

I'm not 100% satisfied with the current state but it seems to work well enough to cover your use case without fuzz.

[2019-04-25 06:48] marjohn56 commented on #3415
When dhcp6c receives a renew then nothing should happen. The script it calls is /var/etc/dhcp6c_*_script.sh. It should look like this:

`#!/bin/sh
if [ -n 'debug' ]; then
	/usr/bin/logger -t dhcp6c "dhcp6c $REASON on igb0"
fi
case $REASON in
REQUEST|RELEASE)
	/usr/bin/logger -t dhcp6c "dhcp6c $REASON on igb0 - running newipv6"
	/usr/local/opnsense/service/configd_ctl.py interface newipv6 igb0
	;;

[2019-04-25 07:28] AdSchellevis commented on #2946
@teklabania it can't do what you think it does, but might require better explanation in the help text (ideas are welcome).

When the marker is set, it will write out all dns entries which come with a valid ip address.

https://github.com/opnsense/core/blob/31a81c51a6d76b44439acf4fdcb186075cab0e79/src/etc/inc/plugins.inc.d/unbound.inc#L642-L665

Since leases change over time, this specific feature

[2019-04-25 07:39] #926 closed

[2019-04-25 07:41] fichtner commented on #926
Sorry this took so long. From the amount of reports and the little work required here but still nobody doing the integration work in 3 years one could argue that the configuration is rather exotic and not relevant most of the time. FWIW, now you can optionally enable link-local addresses in each bridge configuration.

[2019-04-25 08:57] jroehler23 commented on #2332
Hi,
VTI tunnel is not working with 19.1.6. Tunnel is not coming up. In the logs I can see some mismatch with reqid?

I've done the configuration as shown in the wiki.

`

Apr 25 10:52:55 | charon: 09[CFG] trap not found, unable to acquire reqid 0
-- | --
Apr 25 10:52:55 | charon: 09[KNL] creating acquire job for policy XXX.XXX.XXX.XXX/32 === YYY.YYY.YYY.YYY/32 with reqid {0}
Apr 25 10:52:55 | char

[2019-04-25 09:18] mimugmail commented on #2332
Was it working with 19.1.4 or 5?
Install policy enabled/disabled in Phase1?

[2019-04-25 09:20] ssbarnea commented on #3419
Considering that the outcome is rendering the UI broken (even locking out some poor folks that missed to configure ssh) while doing normal operations, it would count as a bug, clearly not something to be closed. Probably it should not have huge priority because few people use haproxy.

In fact this bug is not even caused by haproxy itself, is a bug in the way the lightttpd is configurable: that it

[2019-04-25 09:22] karl047 commented on #926
thank you... I will try it soon...

Sent from my iPhone

[2019-04-25 09:23] fichtner commented on #3419
This is debatable. You know my opinion and I will continue to prioritise "core" over "plugins" and consider "plugins" breaking "core" an unfortunate misconfiguration.

And this is definitely untrue. :)

[2019-04-25 09:35] AdSchellevis commented on #2946
In theory it would be possible to add logic in https://github.com/opnsense/core/blob/master/src/opnsense/scripts/dns/unbound_dhcpd.py to use the configured hostname, but you easily end up in a race condition there, since a change doesn't trigger a new lease.

It looks like `client-hostname` in `/var/dhcpd/var/db/dhcpd.leases` is always set to the response received from the client. I can't spend th

[2019-04-25 09:35] #2946 closed

[2019-04-25 10:19] pksadiq opened #3441 "Add a way to limit failed user logins per IP"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[-] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[-] I have searched the existing issues and I'm convinced that mine is new.

It would be nice if there is a way to limit failed login attempts on web UI, like blocking the IP for some `n` mi

[2019-04-25 10:25] AdSchellevis commented on #3441
the webui and ssh are already guarded by https://github.com/opnsense/sshlockout_pf

[2019-04-25 11:29] Kimotu opened #3442 "squid crashes when shutting down"
[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
Whenever squid shall be restarted or the system reboot/shutdown, squid crashes with segment violation and stays for ages in state D

**To Reproduce**
- Services --> squid --> stop
- Services -

[2019-04-25 11:40] jroehler23 commented on #2332
I switched directly from 18.7 to 19.1.6.

The policy is not enabled in Phase 1.

[2019-04-25 12:40] fichtner commented on #2189
I'm unable to see an issue at the moment. No new data since Dec 2018.

[2019-04-25 12:40] #2189 closed

[2019-04-25 12:41] fichtner commented on #2663
I'm dropping this issue. With a "dead end" prefix of /64 we won't be able to anything clean and since 19.1 the system refuses to allow tracking.

[2019-04-25 12:41] #2663 closed

[2019-04-25 13:13] alexanderharm commented on #2332
We still run it on 19.1.4 with the suggested patches and it works fine so far. We didn't dare to upgrade yet, though.

[2019-04-25 13:35] fichtner commented on #3329
After numerous back and forth over the last 4 years in this particular "design" area at least for me this concludes as "won't fix" due to CSS vs. dynamic data vs. static display complexity. Auto-resize may work, but line wrap doesn't work and text will overflow. Fixes welcome, but they will have to adhere to previous complexity requirements upon review. I don't want to necessarily go chasing tails

[2019-04-25 13:35] #3329 closed

[2019-04-25 13:37] fichtner commented on #3304
I can try, but I am unsure that we're able to hook into the right spot easily. All guidance welcome.

[2019-04-25 16:27] fichtner commented on #3414
So 9046727 should work for tunnels on static IPs... but it needs more work unfortunately. You can try it and let us know:

    # opnsense-patch 9046727

Cheers,
Franco

[2019-04-25 19:23] fire-burner commented on #3177
@fichtner the issue was still present for 19.1.4 for me on the Futro. I did not test since with 19.1.5 and 19.1.6 (with enabled Meltdown and Spectre mitigations).

[2019-04-25 20:18] fichtner commented on #3177
Yes, nothing changed so far. I don't know @lattera's plan or schedule. So far this is still only a community support ticket.

[2019-04-25 21:34] juliocbc commented on #3442
Same behaviour here!! I've noted that are a huge RAM consumption when try to stop/shutdown the squid process.

Another strange behaviour that may be related is the high Inactive memory the process hangs.

I just add the `memory_pools off` directive to `squid.conf` to try decreasing the memory usage.

OPNsense 18.7.10-amd64
FreeBSD 11.1-RELEASE-p18
OpenSSL 1.0.2q 20 Nov 2018

[2019-04-26 06:42] Kimotu commented on #3416
I do not think it is weird behaviour, but works as configured. If you disabled the redirect from port 80 to 443, then port 80 is closed and the user expected to connect directly to port 443.

But you are right that this prevents serving wpad.dat via HTTP like expected when using DNS for wpad (DHCP allows to add port to option 252).
Same happens if you define an alternate port for web gui or restri

[2019-04-26 07:38] jroehler23 commented on #2332
So, then don't do it. After this, it won't work anymore ;)

I have seen in some post that the reqid option in the IPSec settings was removed after 19.1.4. I think this is the major problem. In my logs I can see on both sides that IPSec is watching/working with different ids.

[2019-04-26 07:50] fichtner commented on #2332
@jroehler23 If you're trying to be funny this may come off as rude to some who work on this code and use it successfully. I just want to point that out very friendly.

[2019-04-26 07:52] fichtner commented on #2332
FWIW, it would be even better to open a support ticket with all the info of your case condensed, because a number of bugs were fixed in 19.1.4 - 19.1.6 and the feature is still relatively young and the issue here is already closed and there's not much sense reopening it as it refers to the initial implementation and things have changed since.

[2019-04-26 08:43] jroehler23 opened #3443 "ipsec: reqid left/right mismatch in route-based phase 1"
[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
IPSEC tunnel is not coming up in route-based configuration.
I have used the wiki: https://wiki.opnsense.org/manual/how-tos/ipsec-s2s-route.html
I think the problem is in mismatching reqids bet

[2019-04-26 10:55] jroehler23 commented on #2332
@fichtner I know this is a feature for milestone 19.7, so for me it seems to be beta. And normally in the course of development, comments like mine shouldn't be treated so seriously. But you are right, it was not in my mind to blame somebody for his "bad work" or something like this! I apologize if somebody took it the wrong way. It should just be a hint for others to be careful to update to 19.1.

[2019-04-26 10:57] fichtner commented on #2332
Thanks. No worries. Can only get better. :)

For reference the ticket is https://github.com/opnsense/core/issues/3443

[2019-04-26 10:59] fichtner commented on #3443
Are both sides 19.1.6 and cleanly rebooted? Do IPsec configs differ on both sides? I mean in terms of phase 1 and 2 not configured on the other side...

[2019-04-26 11:05] jroehler23 commented on #3443
Both sides are 19.1.6. Policy based IPSec is working normal.

I did also a try to modify the working policy base configuration to avoid any typos.

[2019-04-26 11:14] fichtner commented on #3443
Well, the easiest way to confirm your theory is to compare reqid statements on both sides. Ifconfig will list all ipsec* devices which you can pair into left-right and see if there is a mismatch or not.

<img width="672" alt="Screenshot 2019-04-26 at 1 14 22 PM" src="https://user-images.githubusercontent.com/1915288/56804222-3db71c80-6825-11e9-897a-a6715f47e929.png">

[2019-04-26 11:23] jroehler23 commented on #3443
ipsec2000: flags=8051<UP,POINTOPOINT,RUNNING,MULTICAST> metric 0 mtu 1400
        tunnel inet YYY --> XXX
        inet6 fe80::20d:b9ff:fe43:1134%ipsec2000 prefixlen 64 scopeid 0xa
        inet 10.0.204.2 --> 10.0.204.1 netmask 0xffffffff
        nd6 options=21<PERFORMNUD,AUTO_LINKLOCAL>
        reqid: 2000
        groups: ipsec

ipsec9000: flags=8051<UP,POINTOPOINT,RUNNING,MULTICAST> metric 0 mtu

[2019-04-26 11:30] fichtner commented on #3443
You should be able to work around this by editing /conf/config.xml changing all

    <ikeid>2</ikeid>

on the left side to

    <ikeid>9</ikeid>

of that ikeid is still free.

Can't offer a quick fix. @AdSchellevis will look at this next week, maybe reqid base needs to be able to be editable in phase 1.

Cheers,
Franco

[2019-04-26 16:09] gvecchicert opened #3444 "[feature request] Import LDAP groups for System Access"
Please consider adding LDAP groups import in system_groupmanager.php.
Privileges could be granted to an imported LDAP group and children LDAP users inherit them.

Thanks

[2019-04-26 16:19] gvecchicert opened #3445 "Users import fails if StartTLS Transport is configured on the LDAP Server"
If StartTLS Transport is configured on the LDAP Server, the User Import page (_system_usermanager_import_ldap.php_) will fail with error message:

but Testing credentials will not.

Configuring _Transport_ to _TCP - Standard_ will workaround the issue.

PS: Also see https://forum.opnsense.org/index.php?topic=12529.new

[2019-04-26 20:21] darrelclute commented on #3255
Specifying `http_port 3128` in the config will listen to all addresses.  I see this as an adequate default when no interfaces are selected, since you would still need to open explicitly the port in the firewall rules when not using the default LAN->WAN ruleset.  With the default LAN->WAN ruleset you are only exposing this on the internal interfaces anyway.

With using `http_port 3128` you also ope

[2019-04-27 09:49] AdSchellevis commented on #3443
`reqid` is used locally only, to verify your assumption, I've changed the `ikeid` on my test image on one side, so it now looks like:

**site A**
[code]

**site B**
[code]

You might have another configuration issue, I can't tell from the ticket.

[2019-04-28 02:17] maurice-w commented on #3185
This feature was added to "the (m)other sense" about a year ago: https://github.com/pfsense/pfsense/pull/3830

[2019-04-28 08:31] AdSchellevis commented on #3185
@maurice-w @SirWobbyTheFirst
You can probably do this quite easily with the events in place, an `interface_configure` configure should probably be enough to reconnect in this case.

You can find an example of an event script here https://github.com/opnsense/plugins/blob/master/net/frr/src/etc/rc.syshook.d/carp/50-frr (installs into /usr/local/etc/rc.syshook.d/carp/50-frr)

The action to reconfigur

[2019-04-28 17:52] Malunke commented on #2376
Dear all,
it seems, I have the same issue on opnsense 19.1.6.

Just to make it short - I configured 2 WAN interfaces (VLAN) according to wiki.

I have the same problems as mentioned above and they disappear
- when unplug Gateway 1 (unplug from switch)
or
- when unplug Gateway 2
or
- when disabling sticky connections.

How can I help to analyze the problem and find a patch?

[2019-04-28 18:00] mimugmail commented on #2376
Disable Force Gateway in Firewall : Settings : Advanced enabled?

Malunke <notifications@github.com> schrieb am So., 28. Apr. 2019, 19:52:

[2019-04-28 18:03] Malunke commented on #2376
no, it is disabled (standard?)
![ForceGateway](https://user-images.githubusercontent.com/22231986/56868293-b8806300-69f0-11e9-9b94-81ee5b4640ba.PNG)

[2019-04-28 18:04] Malunke commented on #2376
![ForceGateway](https://user-images.githubusercontent.com/22231986/56868305-d948b880-69f0-11e9-9406-1e1078b9bba6.PNG)

[2019-04-28 18:09] mimugmail commented on #2376
Please enable and retry

Malunke <notifications@github.com> schrieb am So., 28. Apr. 2019, 20:04:

[2019-04-28 18:14] namezero111111 commented on #2376
Oh joy if this rears it head again.
Are you using shared forwarding?
The packets go out the other gateway using an incorrect NAT IP?
If so, are you able to provide a dump verifying the NAT IP of WAN1 is used sending packages out WAN2 when WAN1 is disabled/disconnected AND shared forwarding is enabled?

[2019-04-28 18:28] fichtner commented on #2376
In particular, I'd say if disabling shared forwarding fixes it please use this workaround.

In general if such a bug is encountered there's a lot that needs to be reported in order to make any sense of the setup at hand: firewall rules with policy, gateway group settings, IPv4 or IPv6 evaluated separately, switch conditions.

[2019-04-28 18:31] fichtner commented on #2376
Oh and also aux functionality used that is supposed to be addressed by shared forwarding: captive portal, traffic shaping, transparent web proxy use.

[2019-04-28 18:47] Malunke commented on #2376
It seems, that disabling shared forwarding won't help.

I try to provide logs as mentioned by namezero.

[2019-04-28 18:52] Malunke commented on #2376
![A](https://user-images.githubusercontent.com/22231986/56868781-79a1db80-69f7-11e9-8c85-1fe31676c5c4.PNG)
![B](https://user-images.githubusercontent.com/22231986/56868782-79a1db80-69f7-11e9-914d-276a96aef71f.PNG)
![C](https://user-images.githubusercontent.com/22231986/56868783-79a1db80-69f7-11e9-9600-a68cafa92b26.PNG)
![D](https://user-images.githubusercontent.com/22231986/56868784-79a1db80-69f7-

[2019-04-28 18:52] Malunke commented on #2376
Gateway 1 is offline because I unplugged it :-)

[2019-04-28 21:58] alexanderharm commented on #3414
@fichtner Works for us in 19.1.4

Thanks for the quick fix.

[2019-04-28 22:29] azdps opened #3448 "Disregard"
.

[2019-04-28 23:33] azdps commented on #3448
Disregard

[2019-04-28 23:33] #3448 closed

[2019-04-29 05:16] fichtner commented on #3414
Thanks, I'll bring this workaround into 19.1.7 and will work on a better solution for 19.7.

[2019-04-29 07:51] fichtner opened #3449 "openvpn: resync_if_needed and ".interface" file use"
I don't think this is needed at all...

[code]

[2019-04-29 08:00] fichtner commented on #3449
@AdSchellevis it looks like openvpn_resync_if_needed() is another leftover from the gwgroup support. it actually tries to move to another interface, but that requires binding to WAN interfaces explicitly instead of just using "any". We could simply reload in these cases for the specific interface. What do you think?

[2019-04-29 08:00] AdSchellevis commented on #3449
@fichtner it kind of lives in the same area as the rest of this weirdness, `openvpn_resync_if_needed()`  should likely die with it indeed

[2019-04-29 08:03] fichtner commented on #3449
Having all the code removal ready it seems that there's real point in having rc.openvpn at all if we don't really do anything.

[2019-04-29 08:04] AdSchellevis commented on #3449
I'll have to double check if we're not overlooking something here.

[2019-04-29 08:04] fichtner commented on #3449
It's only caller is https://github.com/opnsense/core/blob/master/src/etc/rc.monitor#L40-L42 and you can see that dyndns and rfc2136 already lost support for it...

[2019-04-29 08:06] AdSchellevis commented on #3449
it feels like we miss some facility that restarts the client in these events, I'm not sure openvpn will recover for these automatically.

[2019-04-29 08:07] fichtner commented on #3449
How about a new rc.syshook.d/alarm facility to mimic carp and make it pluggable?

[2019-04-29 08:18] AdSchellevis commented on #3449
That sounds like a good idea, independently of the facility, we should check if we miss a caller somewhere now (which should then be added as a facility).

Only question is what context we should send to the facility, the gateway alone might not be enough (or the right parameter) in this case.

[2019-04-29 08:50] sjorge opened #3450 "Encoding errors on leases page"
**Describe the bug**
When viewing the DHCP lease page not all text is displayed properly.

e.g. the description "Trådfri" shows the raw escapped html version instead of the actually correct text. The page where you configure statpic mappings is fine.

leases page:
![leases page screenshot](https://i.imgur.com/C5P2Uem.png)

static mapping page:
![stattic mapping screenshot](https://imgur.com/ebPWEt

[2019-04-29 08:53] sjorge commented on #3450
There seems to be a similar issue on the firewall rule page, atleast for the ' and " characters which are perfectly fine and accepted in the edit rule page.

So this might be a more general issue.

[2019-04-29 09:10] AdSchellevis commented on #3450
duplicate https://github.com/opnsense/core/issues/3427, usually all parameters are escaped all at once,  it looks like this page had an extra escape in the field. If you find others, please check the current issues/code and open an issue if it's not already there. Thanks!

[2019-04-29 09:10] #3450 closed

[2019-04-29 09:12] sjorge commented on #3450
I did searched, did not remove the default filter that excludes closed issues. My bad

[2019-04-29 09:18] AdSchellevis commented on #3450
things happen, don't worry :)

[2019-04-29 11:44] #3449 closed

[2019-04-29 18:53] AdSchellevis commented on #3449
@fichtner I've checked the openvpn code again for both carp and monitoring, I think we're almost there.

In `openvpn_restart()` I think we can safely ditch the "backup" check:

https://github.com/opnsense/core/blob/1bc478fbaa16239d31d484e0955ed5e761ce201a/src/etc/inc/plugins.inc.d/openvpn.inc#L987-L991

Since the vip can't communicate when its backup, it doesn't matter if its either running or not

[2019-04-29 21:03] #3223 closed

[2019-04-29 21:41] fichtner commented on #3449
The openvpn_restart() CARP code is correct. We want the client to connect when it's not in backup mode. The logic is a little tricky, but it always stops on CARP events and starts if actually != BACKUP. In testing that seems to happen correctly so I am assuming that is the desired behaviour here.

I agree with the dyndns/rfc2136 plugin handling. Let's keep it the way it is and move the code out of

[2019-04-29 21:49] fichtner commented on #3449
I have to correct this a little: RFC 2136 does not support gateway groups so we ditch it there and move get_failover_interface to dyndns only.

[2019-04-30 15:58] Malunke commented on #2376
Yes, I have alse these NAT issues. A packet-log shows for example the following entries on Interface V200:

17:54:24.284702 IP 10.28.253.3.25721 > 54.243.161.26.443: tcp 1
17:54:24.285421 IP 10.4.0.143.2816 > 213.239.241.182.443: tcp 0
17:54:24.285840 IP 10.4.0.143.34473 > 213.239.241.182.443: tcp 0
17:54:24.291151 IP 23.52.60.236.443 > 10.28.253.3.8047: tcp 0

The IP 10.4.0.143 belongs to interfa

[2019-04-30 16:08] netranger512 opened #3454 "Squid logs are not sent to syslog"
**Description**

Squid access logs are sent to the captive portal logs when **Web Proxy > Log Target > Syslog** is selected. This stops them from being sent to the syslog server at all (probably because Captive Portal is not used in my setup)
Other logtypes get correctly sent to the syslog server (firewall logs, surricata logs etc.)

**To Reproduce**
- Set **Remote Syslog Servers** to your syslog

[2019-05-01 07:26] Malunke commented on #2376
It seems, disabling shared forwarding will reduce the problem (I could not determine it after short test any more)
But there is also no traffic going out of interface V201.

When disabling sticky connections everything works fine - there is the right traffic leaves the right interface) - but I will get problems with online sessions (after login on websites).

Please help - you can also open a new

[2019-05-01 11:57] namezero111111 commented on #2376
We have **sticky connections **off and **shared forwarding on** (we need it for shaping).

The session-aware problem was solved by redirecting different clients through different gateway groups configured as failover rather than load balancing (Gateways on different tiers).

Not sure if the problem reappears if sticky connections is enabled again; but I'm sure as hell not gonna find out if it make

[2019-05-01 19:16] smokydragon commented on #3381
Will this be fixed in some future release?

[2019-05-01 19:20] fichtner commented on #3381
As of now this is a support case. We don't know what to "fix".

[2019-05-01 23:42] DanMc85 commented on #3381
I think it may be a firewall rule issue with the pf firewall sending traffic over the proper gateway. It only works if all the outbound rules are deleted for regular WAN connections and only the VPN ones are left.  The issue is probably something that is behind the scenes and probably hidden with another issue.

I am starting to think I need to try manual policy based routing rules, if there are a

[2019-05-02 04:24] fichtner commented on #3381
I do not think this is necessarily true. We have more upcoming changes in 19.7 for behavioural changes that will require manual intervention -- ease of use features that have complicated the integration in an unnecessary way that is error prone now or in the future.

We are happy to add any of these into migration notes but that requires widespread use of the "broken idiom" for deploying OpenVPN w

[2019-05-02 07:11] fichtner commented on #3310
@maurice-w would you mind testing this on 19.1.7's development version (19.7.a_701)?

[2019-05-02 07:15] fichtner commented on #3246
This will not happen anymore since e40b8f51ac30a9f29f.

[2019-05-02 07:15] #3246 closed

[2019-05-02 07:19] fichtner commented on #3423
It was 0b03d14e16.

[2019-05-02 07:19] #3423 closed

[2019-05-02 07:21] #3257 closed

[2019-05-02 13:04] RomanJos commented on #3393
Hi i did something similar with stripe and a raspberry running flask(python). you could do something like this easily with php by following a [tutorial on youtube](http://www.ilovephp.net/php/stripe-payment-gateway-integration-in-php-with-demo-examples/).
for exemple assuming you sell a voucher for $5, the user connect to your captive portal click on buy and he is redirected on the [checkout page]

[2019-05-02 13:08] RomanJos opened #3456 "Save voucher database of opnsense"
Hi there is an option to save the voucher already generated ? because if i reset my machine and apply my config file i need to re-generate the list of voucher and give the new one to the client. Thanks a lot.

[2019-05-02 14:05] tduboys commented on #3199
Hi @fichtner , I confirm that your patch is working great for my case.

[2019-05-02 14:07] fichtner commented on #3199
I had to rewrite a larger portion of that function and I'm ok with the new state. Would you be able to try the development version of 19.1.7 to confirm this is also working fine for you?

[2019-05-02 14:09] tduboys commented on #3199
I just updated to the last 19.1.7 stable version plus your patch, but I'm ok to test the dev version.
I just need to change the Release type to dev, rollbacking your patch, and checking for updates ?

[2019-05-02 14:11] fichtner commented on #3199
No need to roll back, just switch to dev, save, check for updates and hit upgrade

[2019-05-02 14:23] tduboys commented on #3199
I just switched to dev, updated and rebooted. I got an IPv6, fix seems worked.

[2019-05-02 14:25] fichtner commented on #3199
@tduboys ok great. so the last question would be shipping a fix when... are you ok with reapplying the patch for all 19.1.x updates because I would like to leave the real rework on the development track for 19.7. What do you think?

[2019-05-02 14:29] tduboys commented on #3199
Yes, no problem to manually apply the patch for 19.1.x branch. It's probably safer that not changing this part in a « small » update.

[2019-05-02 14:41] fichtner commented on #3199
Ok thanks, you will have to do it for every update you perform since patches aren't sticky (they are a test tool after all), but then I can close the issue now and test further to make sure 19.7 is as good as it gets. :)

Thank you,
Franco

[2019-05-02 14:41] #3199 closed

[2019-05-02 20:05] Malunke commented on #2376
Thanks for your answer, but I need sticky connections and want to use load balancing.

Question to the fichtner and the other members - do I have to open a separate bug report rahter than following this one to get help and the Bug re-opened again?

Okay - in my case it is Gateway-Group and sticky connection which causes the problem.

[2019-05-03 04:08] pksadiq opened #3457 "WPAD doesn't work with CNAME record in unbound DNS"
WPAD doesn't seem to work with CNAME record in unbound DNS. Based on the recommendation at https://serverfault.com/questions/54567 I replaced CNAME record with an A record and it seems to work fine.  May be it's better to set A record instead of CNAME by default.

OPNsense 19.1.6 (amd64, OpenSSL).

[2019-05-03 04:38] fichtner commented on #3457
@fabianfrz CNAME doesn't work well in Unbound so I'm not sure why we have WPAD setting them up?

[2019-05-03 06:21] namezero111111 commented on #2376
If this is true (your post from 2019-04-28) then we had been down the wrong route all along or you're experiencing this under different circumstances. Did you verify this after a reboot? Just in case some stale connections or whatever are hanging around. Sure you can do it on the fly but conditionally disabling and enabling kernel firewall code at runtime raises a flag with me nonetheless.
That sa

[2019-05-03 06:39] jospanier opened #3458 "Port aliases not working due to incorrect handling of port alias "content" field"
port alias GUI parsing has a small but ugly flaw.
I added a ports alias into the GUI, but the rule using the alias did not work.
Upon closer inspection I noticed that the GUI had allowed me to add an additionan space in front of the actual port numbers. This is the downlodas JSON for the port aliases. admin_ports is working, broken ports is not working. Both were entered via GUI.
"""
{
  "aliases"

[2019-05-03 07:01] AdSchellevis commented on #3458
We don't change data in validation, but it should signal the user if the data isn't valid. I'll take a look

[2019-05-03 07:18] #3458 closed

[2019-05-03 07:19] AdSchellevis commented on #3458
confirmed, fixed in https://github.com/opnsense/core/commit/f2305e34456fe9d5d81e887b43f356a9a5d88cb4

[2019-05-03 07:27] AdSchellevis commented on #3456
the vouchers are stored in `/conf/vouchers_*`, we don't offer a gui option to backup these files from the gui at the moment (you can use scp/sftp).

[2019-05-03 08:12] RomanJos commented on #3456
Perfect ! So if i reset my machine i will need to generate some new voucher to get a new voucher_xxxxxxx.db and replace them with this file. Thanks

[2019-05-03 08:12] #3456 closed

[2019-05-03 09:53] mimugmail commented on #3185
Also saw two guys asking today in IRC, also regarding DHCP:

`(02:33:59) phibs: Can I get any type of HA with just a single external dynamic IP from my ISP?`

`(11:10:25) hemi770: wondering if it's possible to do CARP with a dynamic public IP?`

The call to reconfigure should be easy, but isn't there an action required to "unconfigure" the interface on backup unit?

[2019-05-03 09:58] AdSchellevis commented on #3185
It might be, although I'm not sure. I can't test this on my end either. If the protocol disconnects when a new connection is created, there shouldn't be a need to unconfigure the backup. The feature in pfSense doesn't seem to be doing something like that, but I can be mistaken.... it's a lot of code, for something that should be rather easy.

[2019-05-03 10:01] fichtner commented on #3185
a single script in rc.syshook.d/carp could do this. the only magic seems to be in reconfiguring PPP specifically and skipping the BACKUP CARP: https://github.com/pfsense/pfsense/pull/3830/files#diff-1332c372788c9e1a8c6c9bae9ebb55a5R1848

[2019-05-03 10:20] mimugmail commented on #3185
This kind of setup only works when you have a modem with multiple switch ports in front. So for PPPOE you'd need to disable the interface or disconnect the pppoe session on carp event. Regarding DHCP it'll be a bit tricky since most cable providers only allow ONE mac address to be connected to it's modem.

I should be able to offer test equipment here if needed / interested

[2019-05-03 10:24] AdSchellevis commented on #3185
well, let first wait until someone who needs/wants the issue tries the above..... I don't think we should add a feature, but we might be able to guide someone to a solution with what we already have.

[2019-05-03 11:36] pksadiq opened #3460 "Limit bandwidth using shapper from Firewall Aliases"
Hi,
  Is there a way to limit bandwidth in shaper by specifying an item from Firewall aliases?

[2019-05-03 11:52] #1831 closed

[2019-05-03 12:04] fichtner commented on #3460
same as https://github.com/opnsense/core/issues/2373 IMO

[2019-05-03 12:04] #3460 closed

[2019-05-03 15:16] m-schaeffler opened #3461 "generic link for Python 3"
Is it possible to add a link named python3 which is pointing to the actual python interpreter linke this is done in Ubuntu:

[code]

With this you do not need to reference the actual installed python version in python scripts.

[2019-05-03 15:21] fichtner commented on #3461
I'm not sure. The FreeBSD ports decision is to deliberately leave out conflicting symlinks to ensure packages can be installed in parallel. In theory we could provide one via core.git but implications are hard to assess. cc @AdSchellevis

[2019-05-03 15:25] AdSchellevis commented on #3461
as long as python 2 and 3 are cleanly separated (python vs python3), I don't mind, although its not very high on my priority list

[2019-05-03 17:36] fabianfrz commented on #3457
@fichtner because CNAME does not require me to check out which IP of OPNsense is open for the web interface.

* Why should unbound fail in deploying a CNAME record?
* Why should it not be working - this feature is unmodified quite old and from the forums a plenty of users seem to use this setup without problems (usually only problems with the web interface https redirect)
* CNAME **MUST** be suppo

[2019-05-03 17:39] fichtner commented on #3457
https://nlnetlabs.nl/pipermail/unbound-users/2015-March/009194.html
https://github.com/opnsense/core/issues/1614#issuecomment-419376740

[2019-05-03 18:07] fabianfrz commented on #3457
[code]
so unbound serves an empty

converting to A/AAAA would mean, that we may get hundreds of entries as this means that the following code would have to be moved to the loop which runs over the interfaces:
[code]

so it means that we get

`count(interfaces) * count(configured DHCP domains)` entries. Only because an unknown SW cannot resolve DNS?

[2019-05-03 18:18] fichtner commented on #3457
I'm happy for a better fix ;)

[2019-05-03 18:28] fichtner commented on #3172
Script action stderr returned "/usr/local/opnsense/scripts/firmware/check.sh: cannot create : No such file or directory"

Somehow allergic to ": > $outfile"

[2019-05-03 18:39] fichtner commented on #3172
partial opnsense-patch on 19.1 where opnsense-patch doesn't error on partial failure yet

[2019-05-03 18:39] #3172 closed

[2019-05-04 08:44] #3407 closed

[2019-05-04 08:46] fichtner commented on #3407
@kevemueller due to concerns of security I'm going for loosely coupled. You will find a second option for sudo where you can add an additional group to the sudoers much like SSH Login Group. It is to prevent footshooting in behavioural changes when this is deployed because if we latch on to another setting we might make the whole system less secure by updating.

[2019-05-04 09:36] #3343 closed

[2019-05-04 09:37] fichtner commented on #3343
@maurice-w please double-check e67dade

[2019-05-04 10:14] #3365 closed

[2019-05-04 10:31] fichtner commented on #3415
@klada I am guessing this is radvd advertising the routes as being removed due to WAN changing its prefix. I'm not sure if we can keep the old and the new address on the WAN. To me shifting the prefix is always a bad way to mess with customers and there's no real difference if the ISP gives you a chance to use the new prefix while the old one is still going ok. It essentially means you have to kno

[2019-05-04 10:36] fichtner commented on #3422
Not sure what to do here. Are you using Unbound/Dnsmasq on the firewall or global DNS settings (System: Settings: General) or both... State of "Do not use the local DNS service as a nameserver for this system" setting is also important.

If you use Unbound and the system is allowed to use it too it should cache the result so you won't have these problems hopefully. Worst case here the option "Serv

[2019-05-04 10:38] fichtner commented on #3440
@lattera are you talking about first time setup, config.xml import setup or general use?

For the second case there is this planned: #1663, for the other two the work is clear but I'm not entirely sure it's worth all the work and JS fiddling.

[2019-05-04 10:43] #3306 closed

[2019-05-04 10:44] #3435 closed

[2019-05-04 10:45] fichtner commented on #2841
@Taomyn any results to share? :)

[2019-05-04 10:53] fichtner commented on #3304
@maurice-w so what does this delegated prefix null route look in a real world example? Because if we have to generate routes for all *unused* subnets that is going to be quite a bit of routes to be generated and set and to be kept in sync, especially tricky if we have PD to downstream as well...

[2019-05-04 10:55] fichtner commented on #1966
Abandoning this idea.

[2019-05-04 10:55] #1966 closed

[2019-05-04 12:35] maurice-w commented on #3310
@fichtner, thanks for looking into this. I've tested with the development version and the issue has shifted: Tracking seems to keep working after a DHCP reload or reboot. But the IP Alias doesn't seem to be applied correctly. I don't get a response when pinging the IP Alias, the web interface isn't reachable via the IP Alias etc. Also, I got this error message (which I've never seen in 19.1.x); no

[2019-05-04 12:47] fichtner commented on #3310
@maurice-w uhh, my bad, can you try devel again with 8427198 on top?

    # opnsense-patch 8427198

Cheers,
Franco

[2019-05-04 14:09] maurice-w commented on #3310
@franco, with devel + patch it's back to the original issue: No GUA on the tracking LAN interface after a DHCP reload on the WAN. Also, new error messages (right after DHCP reload):

[code]

(BTW, in 19.1.7 the "no GUA on LAN" issue is 100% reproducible on WAN DHCP reloads, but not on reboots. After a reboot it often works, but sometimes doesn't. Seems like some kind of race condition.)

Cheers
Ma

[2019-05-04 14:13] fichtner commented on #3310
the error is from not using os-dyndns-devel, but can be neglected for the purpose of this ticket. let me see if I can reproduce this locally...

[2019-05-04 14:44] maurice-w commented on #3304
@franco, we only have to add _one_ null route when we get delegated a prefix (and remove that route when the lease for the prefix delegation expires). Example:

- OPNsense gets delegated `2001:db8:1:a00::/56` from upstream (ISP).
- **It should add the null route `2001:db8:1:a00::/56 via ::1` to its routing table, so any packet with a destination address in this prefix gets discarded.**
- It uses p

[2019-05-04 15:05] monreal commented on #3422
Thanks for those ideas!
In fact I use unbounded and the system was using it. "Serve expired responses" is off. I will now try with "Do not use the local DNS service as a nameserver for this system" set to "off".

[2019-05-04 15:28] opnsenseuser opened #3462 "firewall rules overview (19.7) - page spacing on the left side too small"
I noticed that in the dev version 19.7 the side clearance on the left side no longer fits. Reason is the new class "table-condensed". If you remove this class, then again fits the page distance. Under 19.1, this class has not yet existed.
Have attached two screenshots for comparison.

problem with "table-condensed" class
![grafik](https://user-images.githubusercontent.com/34602360/57181244-755f3d8

[2019-05-04 15:56] AdSchellevis commented on #3462
we should probably center the checkbox, table-condensed is standard bootstrap.

[2019-05-04 16:38] stefan-kos opened #3463 "ver. 19.1.7 NAT Rule issues - GUI and References to Aliases broken"
Hello dear OPNsense Team,

I found an issue in the Outbound NAT Rules view when using an Alias for a group of networks and negating it for the destination. It shows only the '!' sign but not the Alias object. But the configuration XML looks good and it works correctly.

The second is, using an Alias in the destination field on outbound NAT => change the name of the Alias, the reference to it gets

[2019-05-04 16:52] maurice-w commented on #3365
Thanks for cleaning this up, @franco. I understand that it makes things easier for the core team if such issues are not only reported, but also fixed right away by the users who report them.
However, while I can diagnose such things, at this point in time I don't feel confident to fix them myself. PHP and such is just something I've never touched.

It was my impression that properly investigating,

[2019-05-04 17:12] clystron opened #3464 "Kernel route for Default-Gateway (static WAN) appears after update to 19.1.7"
I have a firewall running 18.7.10 with static WAN and BGP connected to 2 peers (setup was created with earlier version). BGP is used to manage the default-gateway of the system. After upgrading to 19.1.7 I noticed that there now is an additional Kernel-route present (visible in output of vtysh show ip route) which renders my BGP-setup useless because the BGP-route will not be chosen as long as the

[2019-05-04 17:45] #3463 closed

[2019-05-04 17:46] AdSchellevis commented on #3463
@stefan-kos thanks for reporting, looks like a typo. should be fixed with https://github.com/opnsense/core/commit/97d0b22a603fc22537d1a13db2359f42a9c15dde

[2019-05-04 17:46] opnsenseuser commented on #3462
@AdSchellevis ok, we could change it with center or padding in the main file (firewall-rules.php) , or use an existing class or define one? .. do you want to do it or should I?  rene

[2019-05-04 17:47] fichtner commented on #3464
Do you have an unused WAN gateway set under System: Gateways: Single? If so, deleting it should probably fix the issue...

[2019-05-04 17:48] clystron commented on #3464
I do have a WAN-gateway but it is used for policy based routing for some special cases so I can not really disable it as a solution. Would it be so bad to just have a setting "none" in addtion to "Auto-detect"? In the older version "Auto-detect" does nothing for a static WAN-interface and that has changed.

[2019-05-04 17:49] AdSchellevis commented on #3462
@opnsenseuser I'll take a look

[2019-05-04 17:55] clystron commented on #3464
From what I have seen in the code (/usr/local/etc/inc/gwlb.inc) get_interface_gateway uses the first gateway that is not disabled, has an IPv4 address and is on the wanted interface. I can temporarily fix the issue by only considering gateways that have the "default"-flag set but that will probably not survive the next update.
Not all entries in System:Gateways:Single are supposed to end up in the

[2019-05-04 17:57] stefan-kos commented on #3463
Hello sir, wow! That was the quickest response ever I experienced in my live while making a bug report!
Thank you all for your great work on this! Need to say this. Cheers, Stefan

[2019-05-04 18:07] bergfink commented on #3464
There used to be a "None" and now it's gone ;-)
![image](https://user-images.githubusercontent.com/16165131/57183039-8155fa00-6ea7-11e9-9b14-71cfcfc9cccf.png)

[2019-05-04 18:10] stefan-kos commented on #3463
Hello again, btw., I just fixed it manually quickly, it works! Great, thanks a lot!

[2019-05-04 18:11] AdSchellevis commented on #3463
thanks for confirming!

[2019-05-04 18:31] fichtner commented on #3464
Well, it's the same value still, it was simply renamed in the GUI to reflect what it's supposed to do:

https://github.com/opnsense/core/commit/a386ccc2f
https://github.com/opnsense/core/commit/1982779e7

It appears the code underneath was broken for a long time but repaired for 19.1 so I wouldn't want to add a setting that emulates a bug. ;)

Go to Firewall: Settings: Advanced and set "Disable fo

[2019-05-04 18:35] #3359 closed

[2019-05-04 18:42] fichtner commented on #3365
HI Maurice,

I apologise for being blunt. It is part of a general issue. You have helped a great deal and I thank you for it.

The code is relatively easy and all initial coding help very much improves the precision of your analysis and I think analysing it is the harder part vs. adding a preliminary PR. We're more than glad to go into code review, which looks at correctness, style tips and so on.

[2019-05-04 18:43] clystron commented on #3464
"Disable force gateway" is set already, if I recall correctly I needed that right when I started to use BGP.
I fail to understand how not setting a gateway if the setting would be called "None" can be considered a bug. My WAN interface is configured statically and I simply do not want to specify a gateway and I also do not need the system to search for one.

[2019-05-04 18:47] fichtner commented on #3464
We feel the same way. I removed the "incomplete" tag but you assume it's a bug but I have no way of telling because vital information is missing. The whole assumption presented could be wrong. There has to be a rule in /tmp/rules.debug messing this up.

Other people reported shared forwarding being buggy, but nothing substantial so far. You can try disabling that too.

[2019-05-04 18:48] mimugmail commented on #3464
System : Gateways : Single .. there is no gateway ticked with default?

Any logs from system.log? Which gateway is your default when you stop FRR?

[2019-05-04 18:51] clystron commented on #3464
There is no Gateway tagged as default, the system has been running without a static default-gateway in 18.7.xx.
FRR/BGP is working as exected but since there is a kernel route in the system the BGP route is simply not used.

[2019-05-04 19:06] clystron commented on #3464
I dont quite understand what you mean. I initially labeled this as a bug because the update broke a working configuration and I pretty sure that the gateway-setting was labeled "None" when I first configured the system. One could also label it a feature because all I need is the possibility to NOT set a static default gateway so that BGP can do its job.

Should "shared forwarding" influence the st

[2019-05-04 19:17] clystron commented on #3464
In 19.1.7 the gateway just stays the same because the static route is still in place, in the previous version the system did not have a default-gateway without FRR running.

[2019-05-04 19:25] clystron commented on #3464
Another hack to get rid of the unwanted route is to put an unreachable far-gateway (tested with 0.0.0.0) with the WAN-interface to the top of the System:Gateway:Single list, that will cause an error when the system tries to use it as a default-gateway and so there is no kernel-route.

All those workarounds point me to the forced "Auto-detect" in get_interface_gateway for static interfaces as the s

[2019-05-04 19:34] clystron commented on #3464
I assume you mean rules with a "route-to"? I had issues with that in the past but now the only rules with a "route-to" in /tmp/rules.debug are the ones I need for my special source based routing case and those are like they were in 18.7.10.

[2019-05-04 19:38] mimugmail commented on #3464
Disable FRR, reboot, post system.log please. And screenshot of Gateways please

[2019-05-04 19:56] clystron commented on #3464
May I ask what you are looking for? I am willing to help but I also feel that I have shown the problem in detail. It is no longer possible to have no default-gateway in the system if there is a reachable, enabled (non-default)gateway in System:Gateway:Single for the WAN-interface. That means that the default-gateway received via FRR/BGP is simply ignored.

Rebooting with disabled FRR does not chan

[2019-05-04 20:39] clystron commented on #3464
For reference: this is the commit that introduced auto-detect for a static WAN configuration
https://github.com/opnsense/core/commit/a66c8df416ff0809025baa00193a1796b460d33e

Franco already linked the commit that changed the wording from "None" to "Automatic" (later called "Auto-detect") above.

Changing "None" to "Auto-detect" is a massive change IMHO.

[2019-05-04 20:44] fichtner commented on #3464
I don't agree and I'm unsubscribing now because you are not interested in why this was changed. If 18.7 works for you please use it. Assuming 18.7 == 19.1 is not going to work as an argument as we try to make the code base more robust.

[2019-05-04 20:47] clystron commented on #3464
I do not demand 18.7 to be exactly like 19.1, I am asking how I can make my case work with 19.1.
As far as I have seen so far this is no longer possible and staying on 18.7 forever is not an option.

[2019-05-04 20:47] fichtner commented on #3464
To be thorough, it was documented for 19.1.r1:

https://github.com/opnsense/changelog/blob/cb3cc8c420bb7cf6f21ab4bea212f1b1ea01a7b7/doc/19.1/19.1.r1#L30

[2019-05-04 20:49] clystron commented on #3464
Ok, so it was documented, but it was not that obvious that "None" means "Automatic" now. I would like to configure my system to not have a static default-gateway but as I pointed out I can not get rid of all the gateway entries in System;Gateway:Single. How can I achieve this?

[2019-05-04 20:54] clystron commented on #3464
You do not have to agree with me on this of course and I never wrote that I am not interested why this was changed. Nonetheless the fact that it was changed causes a problem for me and I would like to resolve that.

[2019-05-04 21:50] maurice-w commented on #3343
Thanks @fichtner, works as expected after applying the patch to 19.7.a_701 and re-saving the RA config.

[2019-05-04 21:58] maurice-w commented on #3365
No worries! And sorry for mixing up your name; fixed it.

[2019-05-04 23:12] azdps commented on #2135
Yes you can create your own cron jobs that will show as one of the selections under webui --> cron. See the following forum post for specific instructions. I tested this and was able to create one rather quickly. The description that you provide in your actions_* file will show up in the webui --> cron as the description for the cron job. Obviously you will need to access the shell to accomplish t

[2019-05-05 01:23] L1ghtn1ng commented on #3461
@fichtner @AdSchellevis The other reason for this would allow you to use py3.7 instead of py3.6 for example as everything that is 3.6 compatable will work in 3.7. It also allows you to easly upgrade python versions and not worry about having to update scripts unless you are using things that get deprecated but I think you can see where I am going with this :)

[2019-05-05 01:47] L1ghtn1ng opened #3465 "IPS duplicate entries"
**Describe the bug**
Duplicate entries in the alerts tab for IPS alerts

**To Reproduce**
Steps to reproduce the behaviour:
1. Have eicar rule installed and set to drop
2. Generate an alert
3. See error in the alerts tab

**Expected behaviour**
No duplicate entries

**Screenshots**
![image](https://user-images.githubusercontent.com/3628354/57186937-6b642b80-6edf-11e9-9882-12d998e3b37e.png)

**Rele

[2019-05-05 05:07] mimugmail commented on #3464
I don't ask you these questions just for fun. I need as much informations as possible to not waste time with local testing. Now I can see your problem with auto-detect.

From a supporter and user perspective this feature it will help more users locking them out theirselfs than it hurts others having no default gateway. As I'm very committed to FRR and BGP I can see your problems, I'll have a look

[2019-05-05 07:00] fichtner commented on #3464
I do think the problematic code is this:

https://github.com/opnsense/core/blob/8b63fcded96b1334b15a802e9e7f7f4bdf237649/src/etc/inc/system.inc#L495-L521

Which a system.log would reveal within a minute if we had the snippet. This cannot be about "None" vs. "Auto-detect" because I said nothing changed here WRT your problem.

Deleting the code would probably solve the situation, but may break user

[2019-05-05 07:06] fichtner commented on #3343
@maurice-w Thanks for testing. Side question, does the CARP feature mentioned in the patch make sense to you? (using RemoveRoute off / DeprecatePrefix off)

[2019-05-05 07:32] Taomyn commented on #2841
I haven't seen the message since and so far no ill-effects.

[2019-05-05 07:56] fichtner commented on #2841
@AdSchellevis do we need another safeguard or close as is?

[2019-05-05 08:49] clystron commented on #3464
First let me tell you both that I full appreciate the time you are investing here, I will answer your posts separately because I think it is easier to do.

I understand that but please also understand that I am not comfortable in posting a full system log of a to-be production machine (this problem was detected right before deploying it) without looking it over first. I asked what you are looking

[2019-05-05 09:06] clystron commented on #3464
We are going down the same path here, I focussed on what had changed between 18.7 and 19.1. and thats what lead me into get_interface_gateway which behaves differently in 19.1. and now returns a gateway. If I understood you correctly that change was actually considered more of a bug-fix, so is it not supposed to be possible to have a system without a default-gateway?

I do have those log-entries i

[2019-05-05 09:15] AdSchellevis commented on #2841
close, as far as I know, we can't solve this from user space

[2019-05-05 09:15] #2841 closed

[2019-05-05 09:18] clystron commented on #3464
I agree with that, I was not sure initially how to formulate the issue and it seems now that it was not the best idea to focus on the update breaking stuff. The clearest and easiest way I can think of to describe the problem I have is this: I need a way to have no default-gateway route set by the system while still having an active entry in System:Gateways:Single for the wan-interface. The gateway

[2019-05-05 09:20] AdSchellevis commented on #3465
I think this has been the case all along with netmap enabled, could be a result of having both alerts and drops logged, could also be related to traffic passing netmap twice.

If there's a known version where this was different, I gladly take a look if there's something we changed.

[2019-05-05 09:23] AdSchellevis commented on #3461
We know how it works, while using 2.7 it wasn't very relevant (2.7 was the final 2.x version), python 3 is more likely to be upgraded in between indeed.

[2019-05-05 09:29] fichtner commented on #3464
I’m sorry, I have tried to give community support here and offered technical analysis but we seem to go round in circles and I have to take my time to help other community members now.

[2019-05-05 09:50] clystron commented on #3464
I dont really understand how we are going in circles here, I have explained why I have not posted a full system.log yesterday and have asked if you need more information from that log other than the fact that those ROUTING-entries are there.

[2019-05-05 11:16] clystron commented on #3464
Just to be extra-clear: Yes the code you posted causes the problem, I can see that in my system.log.

"opnsense: /usr/local/etc/rc.bootup: ROUTING: no IPv4 default gateway set, assuming wan"

I dont need the system to "assume" and search for a gateway here, having no gateway is what I want.

This functionality has been there for some time, it only now causes the problem because the search for a ga

[2019-05-05 12:03] ofit commented on #3236
Why is it close? OPNsense 19.1.7-amd64 still have this bugs.

[2019-05-05 12:06] AdSchellevis commented on #3236
timeout, https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[2019-05-05 12:11] #3462 closed

[2019-05-05 12:12] AdSchellevis commented on #3462
@opnsenseuser this https://github.com/opnsense/core/commit/a6013d0545c43b32a3d87f7c68d1ce617c8b610c should be better

[2019-05-05 12:17] enoch85 commented on #2841
I still see it on 19.1.7. But, I didn't disable automatic rules. Don't know what they do so maybe I break something (yes, lack of documentation on my part). I'm sure I put them there for a reason some time back in the days.

[2019-05-05 12:30] ofit commented on #3236
Ok. And what i should do? Create it again? or did something else?

[2019-05-05 12:34] opnsenseuser commented on #3462
great, but one important thing is still missing!

![grafik](https://user-images.githubusercontent.com/34602360/57194091-d4c95600-6f42-11e9-81bd-87779b3915a3.png)

[2019-05-05 13:01] opnsenseuser commented on #3462
@AdSchellevis

in the 19.1 version the class "table-condensed" is not used. only this alone makes the difference!
See comparison 19.7 / 19.1
![grafik](https://user-images.githubusercontent.com/34602360/57194360-52429580-6f46-11e9-828a-80dc1655c397.png)

[2019-05-05 13:04] AdSchellevis commented on #3462
@opnsenseuser the table-condensed is a standard bootstrap class, but since "condensed", it lacks right spacing. The condensed layout offers more space and overview, which was a conscious choice.

[2019-05-05 13:07] AdSchellevis commented on #3236
If your planning to work on "it" yourself, you can always ask to reopen, but as long as there's nobody working on it, it doesn't make sense to keep it open endlessly. (not the support tag as well)

[2019-05-05 13:18] opnsenseuser commented on #3462
@AdSchellevis
my solution would be to hardcode this into the firewall-rule.php

it fits perfect!
also the distance fits. and the class ".select-col" could be removed. what do you think?

![grafik](https://user-images.githubusercontent.com/34602360/57194603-fd544e80-6f48-11e9-9a12-a10599637f11.png)

[2019-05-05 13:28] opnsenseuser commented on #3462
@AdSchellevis or just margin-left:15px. as you wish!

[2019-05-05 13:30] opnsenseuser commented on #3462
@AdSchellevis sorry, padding:15px is better!!

[2019-05-05 13:40] opnsenseuser commented on #3462
@AdSchellevis Unfortunately, my solution does not seem to be perfect either. But you should still work on it and leave the problem open in all cases.
best regards, rene

[2019-05-05 13:42] ofit commented on #3236
ok. Thanks

[2019-05-05 13:57] opnsenseuser commented on #3462
@AdSchellevis
i found a 100% working solution.
only needs three hardcoded entries

    #rules > thead > tr > th{
      padding-left: 15px;
    }
    #rules > tbody > tr > td{
      padding-left: 15px;
    }
    #rules > tfoot > tr > td {
      padding-left: 15px;
    }

or just

#rules > thead > tr > th, #rules > tbody > tr > td, #rules > tfoot > tr > td{
      padding-left: 15px;
 }

[2019-05-05 14:33] AdSchellevis commented on #3462
@opnsenseuser if you replace my version with a PR with your proposition, I'll have a look. It looks workable for me. Thanks in advance.

[2019-05-05 14:38] opnsenseuser commented on #3462
@AdSchellevis i take care of it!

[2019-05-05 15:45] patrick7 opened #3466 "Add MTU option for WireGuard"
There should be an option to set the WireGuard Interface's MTU.

[2019-05-05 18:20] opnsenseuser commented on #3462
@AdSchellevis https://github.com/opnsense/core/pull/3467

[2019-05-05 18:21] maurice-w commented on #3343
@fichtner So if I get this correctly, the intention is to prevent radvd from deprecating the advertised routes and prefixes if an interface is shut down but happens to be a CARP interface? Because from a host perspective nothing changes? Sounds good to me. `FlushRDNSS` and `FlushDNSSL` should consequently be turned off, too.

What we probably can't prevent is radvd setting the Router Lifetime to 0

[2019-05-05 18:21] macktic commented on #2148
Still happening
I’ve been scratching my head why the dhcpv6 on lan wasn’t giving out addresses
Started working as soon as I unchecked the block bogon on the lan interface

[2019-05-05 18:54] fichtner commented on #2148
Do you know which is the offending network?

[2019-05-05 18:55] Malunke commented on #2376
I checked the last days. I have now enabled sticky connections and disabled shared forwarding. It seems to work.

I set the above settings and rebooted the firewall. I also can confirm the bug exists with sticky connections on and shared forwarding on.

I hope, this issue will be fixed in the next release?

Thanks a lot.

[2019-05-05 19:23] macktic commented on #2148
fe80::

[2019-05-05 22:16] marjohn56 commented on #2148
Why are you enabling block bogons on the LAN?

Bogons also include private address spaces as well.

See this is wiki:

https://en.wikipedia.org/wiki/Bogon_filtering

[2019-05-06 00:21] macktic commented on #2148
There’s a separate box for private addresses.
Bogon should just be addresses that should never be used so should be save to enable.

Not really necessary to enable on lan, but it shouldn’t break things if you do.
Just in case some IoT device gets hacked, block anything that’s unexpected on the lan

[2019-05-06 00:27] macktic commented on #2148
fe80:: should really be in the private list, not the bogon one...

[2019-05-06 05:11] fichtner commented on #2148
Not really, because on the WAN side you reach the public scope even if link-local.

@AdSchellevis priorities for bogons and all other pluggable rules are at 5 so bogons seem to take precedence... should we up all pluggable rules to 4 and leave bogons at 5? the WAN side client rules for IPv6 are already at priority 1...

[2019-05-06 06:24] fichtner commented on #3343
@maurice-w Radvd isn't shutting down on the backup in normal operation mode and if it crashes it can't send a shutdown RA anyway. I'm unsure about flushing RDNSS/DNSSL because the routers advertise their own IP, not the CARP (you can only use CARP IP for responding) so the other node needs to advertise its IP as well and clients should flush indeed. In that sense it's a little weird because both n

[2019-05-06 07:18] AdSchellevis commented on #2148
old version? fe80:: isn't in our bogons list (https://pkg.opnsense.org/FreeBSD:11:amd64/19.1/sets/bogons.txz)

[code]

[2019-05-06 07:19] fichtner commented on #2148
it actually is: 8000::/1 -- find reference will find it indeed :)

[2019-05-06 07:24] AdSchellevis commented on #3462
@opnsenseuser at a first glance the padding looks good, I'll take a closer look later. thanks

[2019-05-06 07:56] AdSchellevis commented on #2148
I think we should indeed move the dhcp inbound in the same region as the outbound traffic, although I don't think we should move all plugins up at once.

https://github.com/opnsense/core/blob/0ea621cab309d7445992cfe56cdf30d638108f92/src/etc/inc/filter.lib.inc#L326-L352

[2019-05-06 07:57] fichtner commented on #2148
which prio do you suggest? ideally dhcpd-related things can go into dhcpd.inc now

[2019-05-06 08:00] AdSchellevis commented on #2148
prio 1 if you ask me, moving it into dhcpd.inc in the process sounds good indeed

[2019-05-06 08:08] fichtner commented on #2148
@macktic can you try 316d8dd?

    # opnsense-patch 316d8dd

It'll need a rules reload.

Thanks,
Franco

[2019-05-06 08:47] andreas-p opened #3468 "CARP using wrong multicast MAC dst addr"
I've been experiencing carp problems since the backup firewall didn't receive the carp packets sent by the master firewall, unless the firewall was disabled with pfctl -d. This was ultimately fixed for me by disabling IGMP snooping on the switches connecting both firewalls.
Might be the same problem as described in https://github.com/opnsense/core/issues/3411

Later on, I performed another test wi

[2019-05-06 08:49] andreas-p commented on #3411
The answer is probably in https://github.com/opnsense/core/issues/3468.
 Firewall -> Settings -> Advanced -> Multi-WAN -> Use shared forwarding  was never enabled on my firewalls, so net.pf.share_forward is 0.

[2019-05-06 09:57] mimugmail commented on #3468
I don't really see the problem here? Does it work now for when igmp snooping is disabled?

[2019-05-06 10:02] andreas-p commented on #3468
It works for me at the moment (until a firmware update on those switches I don't control make them filter again), but the MCast addresses are clearly wrong.

[2019-05-06 10:54] mimugmail commented on #3468
Some months ago I had a replacement of customer Firewalls with OPN and also new DELL switches, also including CARP. Funny thing is, only the interface where a gateway was present (WAN) the VIP was master on the correct device. All other interfaces had split brain. The only difference was that internal interfaces were on a switch with multiple uplink switches and via port mirror I could see that th

[2019-05-06 11:54] CTAHDSS opened #3469 "Freeradius and LDAP, missing EXPAND before ldapsearch for Userfilters"
I think I have a problem with the "User Filter".

I'm using AzureAD and the freeradius plugin 1.9.2 within the the OPNSense Firewall 19.1.7.

The default "User Filter" is: "(userprincipalname=%{%{Stripped-User-Name}:-%{User-Name}}@mydomain.com)".

If I'm using the default userfilter, I cannot connect over the radius server.
If I'm changing the User Filter to "(userprincipalname=testuser@mydomain.c

[2019-05-06 12:08] mimugmail commented on #3469
This belongs to plugins and not core. Can you revert to version 1.9.0 and see if it works for you?

opnsense-revert -r 19.1.5 os-freeradius

[2019-05-06 12:42] L1ghtn1ng commented on #3465
@AdSchellevis I cannot remember unfortunatley

[2019-05-06 14:02] andreas-p commented on #3468
I've noticed reports about similar carp problems as well, one other indication towards pfctl -d/-e, but noone noticed the wrong multicast address. I bet you'd dianose the same broken packets on your customer's firewalls.
Setting up vanilla FreeBSD myself is out of my scope, but I already posted the bug https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=234472 a while ago; just updated subject and c

[2019-05-06 14:32] mimugmail commented on #3411
@bewue @ppmathis which switches are between your firewalls? IPv4 and IPv6 are all static IP interfaces? Something else different from default install?

[2019-05-06 14:38] mimugmail opened #3470 "Shared Forwarding collection"
To better track down shared forwarding (SF) issues popping up the last days/weeks, I'll create this issue to get a better overview since most of them are here but also one in the forums:

- Broken port forward, works with disabling SF, asked for detailed steps to reproduce https://forum.opnsense.org/index.php?topic=12099.0
- Dual Master cause of "dropped" carp packets when SF is enabled https://gi

[2019-05-06 15:22] mimugmail commented on #3470
https://github.com/opnsense/core/issues/3424 : Created a HE tunnel at tunnelbroker, followed https://docs.opnsense.org/manual/how-tos/ipv6_tunnelbroker.html and added a policy route for 2a02:2e0:3fe:1001:7777:772e:2:85 via HE gateway. Surfing on www.heise.de (this IP) doesn't go via gif0. After disabling SF and clicking refresh it's travelling via the tunnel.

[2019-05-06 17:37] ppmathis commented on #3411
@mimugmail The setup involves two OPNsense firewalls running on KVM instances using Proxmox and are directly connected through an usual Linux Bridge with VLAN support - as offered by Proxmox through its webinterface. Connection path looks like this:

`FW1 with CARP <-> OPNsense VLAN interface <-> KVM TAP interface <-> Linux Bridge <-> KVM TAP interface <-> OPNsense VLAN interface <-> FW2 with CARP

[2019-05-07 08:07] clystron commented on #3464
I have now prepared a simplified test-case for testing, its a basic setup with WAN/LAN interfaces and pretty much everything on default. The "nogateway" setup does not have an entry in System:Gateways:Single and therefor there is no default-gateway route, the "gateway" setup does have an entry that is not flagged as default-gateway and not set as default-gateway for the WAN-interface because its o

[2019-05-07 08:28] mimugmail commented on #3464
@clystron I was already able to reproduce but I need some time to be sure how to go on since 19.7 code will act a bit different than 19.1.

For now, and unofficial:

- No gateways configured will allow you to have no default gateway which will fit all usual BGP setups (I know, you need it for PBR)
- Unassign WAN and use opt1 and opt2 as you wan interfaces will allow you to use what you want to ach

[2019-05-07 09:02] clystron commented on #3464
Thanks a lot for your efforts, knowing that this is going to be considered for 19.7 is great and I can be patient now....

[2019-05-07 13:24] mimugmail commented on #2279
@AdSchellevis finally got my pppoe running. I think I've tested most possible combination including DHCP, pppoe, static, mixed als with IPv6.
Only thing I noticed was that a HE gif interface was set per default as upstream and took over (IPv6) while current v6 gateway was also prio 255.

[2019-05-07 13:36] AdSchellevis commented on #2279
@mimugmail ok, thanks for testing, I don't think we can fix choosing the gif interface with the current logic, since it's a gateway like all the others now (same applies for the old code by the way).

[2019-05-07 13:53] mimugmail commented on #2279
@AdSchellevis one thing I noticed is that new code differs a bit in the logic gateway selection/assuming like discussed in #3464
With 19.1 code when I use optX as a WAN and don't choose upstream gateway (or even have one), I don't get a default route. The new code base also sets a default gateway no matter if I want one or not, it seems just to look for if optX has a related gateway and uses this

[2019-05-07 14:09] AdSchellevis commented on #2279
I think we can incorporate something simple when this is in, although as far as I know, 19.1 (without the new code) acts basically the same in this perspective, otherwise there probably wouldn't be an issue in https://github.com/opnsense/core/issues/3464.

Not sure what the eventual logic should look like, but it should involve phasing out "Allow default gateway switching" in favour of selecting m

[2019-05-07 14:15] mimugmail commented on #2279
Agree! What are the next steps? CFT? Shall I write a small guide with some screenshots on a unofficial place or in docs so users can try this (if there are some 😄)

[2019-05-07 20:07] AdSchellevis opened #3471 "LDAP: support memberof attribute to synchronise groups"
With https://github.com/opnsense/core/commit/1ddbb3bdbb2c895b4c224d39e16120d5db94bebf we are able to request user attributes after login, if the ldap (AD) server supports it, we can use this to synchronise groups after successful login.

In case of MS AD there's one small remark, the primary user group won't be reported (by default) in `memberof`. Use the authentication tester to test if your serv

[2019-05-07 20:08] AdSchellevis commented on #3444
probably now duplicate of https://github.com/opnsense/core/issues/3471

[2019-05-07 20:08] #3444 closed

[2019-05-07 20:09] macktic commented on #2148
That seems to have done it.
Thanks

[2019-05-07 20:12] maurice-w commented on #3343
@fichtner, about the CARP issue: First, I don't have a CARP setup, so take these thoughts with caution:
- The routers advertising their own IP addresses as RDNSS (instead of the CARP virtual IP) seems a bit odd. Is that intentional? Does DHCPv6 / DHCPv4 do the same thing?
- In many scenarios (especially HA) DNS resolvers run on separate boxes, not on the routers. So no need to flush RDNSS on a rou

[2019-05-07 20:53] fichtner commented on #2148
Ok, we‘ll add this in 19.1.8. Thanks!

[2019-05-07 20:53] #2148 closed

[2019-05-07 21:56] offsecn00b opened #3472 "/usr/local/etc/suricata/opnsense.rules/ aren't loaded in the GUI rule explorer with the other /usr/local/etc/suricata/rules/"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[-] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[-] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
/usr/local/etc/suricata/opnsense.rules/ aren't loaded in the GUI rule explorer with the othe

[2019-05-08 04:49] mimugmail commented on #3185
While testing #2279 I also tested behaviour with this. Plugged in both systems in a modem running in bridge mode. Both systems have assigned interface and same pppoe credentials. With first come first serve one of the dials in, other stucks. As soon as I manually disable on the unit dialed in the other one comes up. As multiple action might reconfigure interfaces we'd need a script also disabling

[2019-05-08 05:36] mimugmail commented on #3468
Related to this post https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=234472#c10 ... which policy routes are you using? On my test system without any PBR there are no route-to rules and so I'm not affected.

@AdSchellevis @fichtner When carp enabled there's a auto filter rule
`pass in log quick proto carp from {any} to {any} label`
Maybe we also need somthing for outgoing packets as well.

@andre

[2019-05-08 06:57] AdSchellevis commented on #3468
@mimugmail outgoing should already be free

https://github.com/opnsense/core/blob/461508544d3d3c4bd64fcd2024e04724e8b10898/src/etc/inc/filter.lib.inc#L519-L525

[2019-05-08 07:05] andreas-p commented on #3468
@AdSchellevis , that rule is not quick, so the route-to is applied anyway.
Finally, the fix is
  pass out quick carp from {(self)} to 224.0.0.18

[2019-05-08 07:47] AdSchellevis commented on #3468
@andreas-p you're right, the route-to rule seems to take precedence, we should add the outbound rule indeed.

[2019-05-08 08:59] AdSchellevis commented on #3468
https://github.com/opnsense/core/commit/c5d6b6cacf98fa1953b748fd2c0b6817dd31a3e9 should make sure carp avoids route-to.
[code]

[2019-05-08 09:13] andreas-p commented on #3468
I tested and can confirm that the patch fixes the issue.

[2019-05-08 09:14] AdSchellevis commented on #3468
@andreas-p thanks, so we can close this one?

[2019-05-08 09:15] andreas-p commented on #3468
Yes, done.

[2019-05-08 09:15] #3468 closed

[2019-05-08 09:19] andreas-p commented on #3411
Try
opnsense-patch c5d6b6c , see discussion in #3468

[2019-05-08 09:31] mimugmail commented on #3468
Thx @AdSchellevis for fixing and @andreas-p for reporting :)

[2019-05-08 09:42] AdSchellevis commented on #3472
looks like a missing cleanup, the example you mention is a rule in `stream-events.rules`, which likely isn't available in `/usr/local/etc/suricata/rules/` anymore (/usr/local/etc/suricata/rules/ is indexed).

We should remove extra files from `/usr/local/etc/suricata/opnsense.rules/` after installation to avoid confusion, since it will automatically overlay the files in `/usr/local/etc/suricata/ru

[2019-05-08 09:49] AdSchellevis commented on #3472
https://github.com/opnsense/core/commit/df4fe1c683cf1ba4a8be882ea9720597ae0f9bfb makes sure the staging directory is cleaned after install. If you install your custom rules in `/usr/local/etc/suricata/rules` you should be fine

[2019-05-08 09:49] #3472 closed

[2019-05-08 11:15] mimugmail commented on #3163
@AdSchellevis I can confirm that there's no packet loss when demoting to 240.
Only thing is that in status page you'll get the warning

[code]

Which doesn't happen when setting to mnt mode manually. Might confuse users .. perhaps you know the impact better than me :)

[2019-05-08 11:18] AdSchellevis commented on #2279
@mimugmail if you have a list of test scenario's it might be practical to find a spot in the docs for it, I don't think we have a lot of documentation about it. Maybe a call for testing on the gateway priority feature itself @fichtner what do you think?

[2019-05-08 11:19] mimugmail commented on #3098
@clebig You can add the nic name yourself in the description field which would be displayed in braces in firewall rules.

[2019-05-08 11:25] mimugmail commented on #3128
If you use real IPs from your /29 as system IPs everything works fine?

[2019-05-08 15:11] snum commented on #3128
Correct, the default gateway is not lost on CARP master after failback when using public IPs on the WAN interfaces. My system has since been upgraded to the following since the original post, but still experiencing this issue throughout the various releases:

OPNsense 19.1.7-amd64
FreeBSD 11.2-RELEASE-p8-HBSD

[2019-05-08 16:30] correcthorse commented on #3395
Wasn't sure if I should open a separate ticket for this one, but I would love to see this in the GUI. I was hoping to use opnsense behind a reverse proxy as an IDS device.

# HTTP X-Forwarded-For support by adding the unified2 extra header that
      # will contain the actual client IP address or by overwriting the source
      # IP address (helpful when inspecting traffic that is being reversed

[2019-05-09 06:26] fichtner opened #3473 "firmware: health audit ideas"
- [x] Warn for versions being out of sync with upstream repo
- [x] Warn for wrong repository on core dependencies
- [x] ~~Warn for core dependencies not matching upstream repo~~ (might be redundant and strange on missing updates)
- [x] ~~Warn for orphaned packages installed~~ (this is too time-consuming)
- [x] Automatic and vital check
- [x] opnsense-revert should try to fix automatic and vital is

[2019-05-09 06:53] dinguz opened #3474 "Intrusion Detection: api error while editing rules"
**Describe the bug**

Error at editing Intrusion Detection rules:

**To Reproduce**

Go to Services -> Intrusion Detection -> Administration -> Rules
wait a few seconds, then see error:

An API exception occured:
Error at /usr/local/opnsense/mvc/app/controllers/OPNsense/IDS/Api/SettingsController.php:137 - count(): Parameter must be an array or an object that implements Countable (errno=2)

**Expe

[2019-05-09 06:55] fichtner commented on #3474
@dinguz we've been unable to reproduce this. can you install the "os-debug" plugin and show the error message again... it should have a stack trace attached

[2019-05-09 07:17] dinguz commented on #3474
Hi Franco,

I have done as you requested; I have installed os-debug and rebooted to be
sure. To my surprise the error is gone, everything works as expected.
After that I decided to test again, so I uninstalled os-debug and rebooted,
and then the error came right back. So I presume having os-debug installed
masks the problem somehow.

Kind regards,

Derkjan de Haan

Op do 9 mei 2019 om 08:55 schree

[2019-05-09 08:47] fichtner commented on #3474
Hi Derkjan,

Aha, thanks for this tip! I'll try to reproduce this further.

Just one question: this is a new install from a 19.1.4 image?

Cheers,
Franco

[2019-05-09 12:41] dinguz commented on #3474
Hi Franco,

I bought this device with a fresh install of 18.7 on it, IIRC. When I
started using it, I did a factory reset and upgrade to 19.1.

Kind regards,

Derkjan de Haan

Op do 9 mei 2019 om 10:47 schreef Franco Fichtner <notifications@github.com>:

[2019-05-09 13:58] ruffy91 opened #3475 "Port Aliases not correctly sanitized/validated when pasting"
**Describe the bug**
When pasting lists of ports into a Port alias the input is not correctly validated.

**To Reproduce**
1. Create Port alias
2. Paste following input: 20, 21, 22, 23
3. alias is created with ports [20] [ 21] [ 22] [ 23]
4. Use alias in Firewall rule
5. only port 20 is in the rule, because there is an space in front of every following port

The issue does not happen when manually

[2019-05-09 13:58] AdSchellevis commented on #3475
duplicate https://github.com/opnsense/core/issues/3458

[2019-05-09 13:58] #3475 closed

[2019-05-09 16:02] taospartan commented on #3328
Hi djhau,
              Did you get a normalisation config working? ICMP replies do look like they are not occurring. I’m having the same fault with pppoe and without.

[2019-05-09 18:23] #3471 closed

[2019-05-10 15:01] #1242 closed

[2019-05-10 15:24] AdSchellevis commented on #1943
This has been open for quite some time now. I'm going to close it as at the moment as i don't expect this will happen any time soon.

We do have quite some changes stashed for 19.7 to increase readability and traceability, but one large list of all rules isn't one of them and probably will only make sense in combination with some sort of filter option as well.

[2019-05-10 15:24] #1943 closed

[2019-05-10 21:42] djhau commented on #3328
No this never got resolved!  I gave up fighting this and went back to pFSense, which "just works".

[2019-05-10 21:58] taospartan commented on #3328
Over the last few days I’ve tried using IPSec vti, this has seemed to solve my problems at least. But when I switch back to using the phase 2 tunnels the traffic doesn’t pass.
Intriguingly I have  6 other IPSec tunnels on my opnsense box that work as before the upgrade, it just effects new IPSecs!

Sent from my iPad

[2019-05-11 04:38] abplfab commented on #1790
More Investigations done and found a workaround.
Comment from our provider:

Workaround:

But I guess there should be a smarter & nicer solution...

[2019-05-11 06:18] mimugmail commented on #3328
https://forum.opnsense.org/index.php?topic=11993.msg58684;topicseen#msg58684

Is this the same issue? I can have a look next week in a quite moment.

[2019-05-11 07:27] taospartan commented on #3328
Yes but only with traffic passed over IPSec. I found nothing suspicious in rules.debug, scrubbing was enabled on all interfaces.

On building a none vti tunnel, traffic would pass for about 5-7 seconds before stopping.
Packet captures on both ends looked normal.
Switching to a vti tunnel worked but only in one direction. Luckily it was the direction we needed.

If you have any more questions I’ll

[2019-05-11 08:01] AdSchellevis commented on #3328
@mimugmail it's quite easy to test/check, the "this MSS is not set by me" is explained in the help text at the interface (value set minus 40), fiddling in detail or totally disabling scrubbing can be done from `Firewall -> Settings -> Normalisation`, the `fragment  reassemble` is set by default if I'm not mistaken.

https://github.com/opnsense/core/blob/ab75fbb673e1298eade55367d3605ad4101ae829/src

[2019-05-11 14:40] ppmathis commented on #3411
@andreas-p @mimugmail Thanks for the hint! I just re-enabled shared forwarding, waited for the cluster to break apart (had to reboot the systems to get the same effect as in the past), applied the patch to both cluster systems and finally ensured by running `pfctl -s rules` that the responsible firewall rule has been updated on both systems:

**Old:** `pass in log quick proto carp all keep state`

[2019-05-11 15:47] mimugmail commented on #3411
Really nice, thx :)

[2019-05-11 16:24] abplfab opened #3476 "CARP IPv6 / ND / CARP with IPv6 on WAN doesn't work as expected."
More Investigations done and found a workaround. See also #1790
Setup:
Our Net: 2a02:aa08:xy:900::/56
Provider Router 2a02:aa08:xy:900::1
WAN Net: 2a02:aa08:xy:900::/64
LAN Net: 2a02:aa08:xy:902::/64
OPNsense1 WAN IPv6: 2a02:aa08:xy:900::14/64
OPNsense2 WAN IPv6: 2a02:aa08:xy:900::13/64
OPNsense WAN CARP vIP: 2a02:aa08:xy:900::2/64
Workstation on WAN Switch  2a02:aa08:xy:900::6
All WAN Devices are

[2019-05-11 16:26] fichtner commented on #3476
Habe you looked at https://github.com/opnsense/core/issues/3468 ?

[2019-05-11 16:40] abplfab commented on #3476
Not yet, but applied the patch and testing...

[2019-05-11 17:08] fichtner commented on #412
It's possible to reload from the command line now:

    # pluginctl openvpn_reload [interface (wan, lan, opt1, ...)]

Beyond this the utility is not strictly needed.

[2019-05-11 17:08] #412 closed

[2019-05-11 17:11] fichtner commented on #1103
I don't see a path forward here mainly for time constraints. If somebody wants to work on this I'll be glad to review, otherwise I'll keep it closed...

[2019-05-11 17:11] #1103 closed

[2019-05-11 17:13] fichtner commented on #2267
Anybody? I have patches to try for the willing on top of 19.1.7...

[2019-05-11 17:14] fichtner commented on #2499
I haven't seen an indication of this happening in the code base, I'd rather close this and deal with something we can fix with the code we have when it's ready.

[2019-05-11 17:14] #2499 closed

[2019-05-11 17:21] fichtner commented on #2684
States, evaluations, packets and bytes are all in 19.7, see

https://twitter.com/opnsense/status/1126179245967826945

As a general rule, make your case in terms of UX in OPNsense, not how it compares and fares against other projects (spoiler: it's not the same) and keep the requests per issue workable (preferably 1) as it increases the chances of:

1. someone having just enough free time to help
2

[2019-05-11 17:21] #2684 closed

[2019-05-11 17:24] fichtner commented on #2867
If nobody will be working on this it's better to wait and reopen when somebody is.

[2019-05-11 17:24] #2867 closed

[2019-05-11 17:29] fichtner commented on #3224
See #3283

[2019-05-11 17:29] #3224 closed

[2019-05-11 17:31] fichtner commented on #3310
Note: I wan't at work this week due to sick leave.

[2019-05-11 22:02] RamazanKara commented on #3128
I can confirm the exact same issue on my side. Near similar setup. Gateway seems to just disappear when setting the firewall to maintenance mode. Simply turning the gateway on and off again on the wan port of the master fixes this for me. Weird Bug.

[2019-05-12 13:34] maurice-w commented on #3310
No worries and get well soon!
(Prefix tracking + ULAs essentially works as long as the delegated prefix doesn't change and you don't reboot or make configuration changes which cause a DHCP reload. For me it's currently mostly an extra step of sometimes having to remove and re-add the ULA IP Alias after reboots. It probably becomes a much bigger issue if the delegated prefix actually changes regula

[2019-05-12 17:05] Alphakilo commented on #2267
@fichtner Yes please!

[2019-05-12 17:30] fichtner commented on #2267
You can try a development lock removal in DNS code:

    # opnsense-patch 5f4315c

You can try the old experimental patch for doing all reloading in the background:

    # opnsense-patch 2806a0c

On top of this we could then try removing DNS reload on ppp-linkdown or having a log file writing actions and timestamps to see where the linkup blocks...

[2019-05-13 09:09] fichtner commented on #2267
@Alphakilo sorry, missed you on IRC yesterday...  should be around all week to discuss if you want :)

[2019-05-13 10:01] #3461 closed

[2019-05-13 14:52] clystron opened #3478 "Unbound DNS DHCP registration can stop working intermittently"
I have found that the registration of dhcp-hostnames in Unbound DNS does not always work as expected. Looking at the scripts involved (/usr/local/opnsense/scripts/dns/unbound_dhcpd.py and /usr/local/opnsense/site-python/watchers/dhcpd.py)  I think I have found two potential issues:

1.) From time to time dhcpd moves dhcpd.leases to dhcpd.leases~ and writes a new and usually smaller dhcpd.leases fi

[2019-05-13 15:12] abplfab commented on #3476
Provider removed the static mapping in his router. The patch from #3468 doesn't solve the problem.

[2019-05-13 16:37] clebig commented on #3098
I have checked, my CARP VIF already had a description but they are not shown in the interface selection drop-down list, when I'm trying to add a firewall rule.

[2019-05-13 16:41] clystron opened #3479 "Possibility to configure DHCP failover parameters (split, mclt)"
It would be helpful to be able to specify failover parameters for dhcpd, "split" would be the most interesting one for me but maybe you could add an "advanced" text-area so that multiple parameters could be configured.

[2019-05-13 17:23] Alphakilo commented on #2267
@fichtner `# opnsense-patch 5f4315c` is applied. `2806a0c` is prefetched and cached, in case things go south.

[2019-05-13 17:24] fichtner commented on #2267
patches are always cached nowadays, but good thinking nevertheless 👍

[2019-05-13 19:46] klada commented on #3415
@fichtner I did some observations and it turns out that I am not getting a new prefix every 24 hours any more (I am on 19.1.7 by now). I don't know if my ISP has changed something regarding the prefix or if something IPv6-related has changed in OPNsense. The bad news is that the interface toggling every ~24 hours is still there.

Is there any way to debug the prefix announcements from the ISP? I h

[2019-05-14 03:26] Ifwanfly opened #3480 "Opnsense Firewall rebooted itself and then stuck at Error " trying to mount root from ufs""
Hi Guys,

Need yours kind assistance on this.
I'm having issue with the opnsense firewall running version on below.
The firewall will reboot itself after running for a period of time and then stuck at booting screen.
Trying to search the info from opnsense forum but unfortunately the forum seems like inaccessible [ Sorry Guest, you are banned from using this forum! This ban is not set to expire.]

[2019-05-14 07:06] AndyX90 opened #3481 "Feature request: HTML5-Application-Portal"
[+] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[+] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
It would be great to implement a HTML5-Webportal to provide access to local VNC/RDP/SSH Resources withou

[2019-05-14 07:19] AdSchellevis commented on #3481
We had a similar discussion last year (https://github.com/opnsense/tools/issues/91), Guacamole™ looks too heavy weighted and difficult to integrate neatly into the existing framework. If it would be a feature for core, someone probably have to dig into the details.

[2019-05-14 07:38] mimugmail commented on #3481
It has too many dependencies, on vanilla FreeBSD 12 the pkg needs around 1GB of additional packages. It could be developed as an external or commercial plugin like Sensei with an own repo

[2019-05-14 07:54] clystron commented on #3478
I have now confirmed point 1 by logging the size of the watched file as returned by os.fstat. The filesize increases when new leases are added until dhcpd writes a new leases file. After that it stays at the size of the backup-file (dhcpd.leases~) and does not increase anymore. Find attached a small patch for /usr/local/opnsense/site-python/watchers/dhcpd.py that compares the sizes returned by os.

[2019-05-14 12:21] stumbaumr opened #3482 "Feature request: High Availability: XMLRPC: Sync Lobby/Dashboard widget configuration to backup firewall"
**Is your feature request related to a problem? Please describe.**
I added some - for me - important widgets in the dashboard to get an overview over the current state of the system.

After failing over to the backup firewall during a planned upgrade I had to go into the specific menues to get find out if the takeover worked properly.

If the widget configuration in the Dashboard would be synced t

[2019-05-14 17:28] fabianfrz commented on #3481
@AdSchellevis deploying the UI is easy. You just need to place the WAR file into the deployment directory of WildFly. It will register under the context path '/guacamole' so in the frontend there is only a proxy rule needed (note: must support websockets) and no conflict possible. The server is a C application, which means it should be deployed using the standard RC system.
Authentication is done

[2019-05-15 06:08] pksadiq opened #3483 "Show human readable time in web proxy logs"
In Web proxy logs, unix timestamp is used for 'Access' and 'Store' logs. It might be better to show human readable timestamps instead.

Thanks

[2019-05-15 06:11] fichtner commented on #3483
Please at least try to make it seem you go through the trouble of searching for a solution. https://github.com/opnsense/core/pull/3326

[2019-05-15 06:11] #3483 closed

[2019-05-15 10:32] iMiMx commented on #3324
Just attempted on 19.1.7, same problem still seen - only occurs when state sync is enabled, with it disabled traffic routes to the correct gateway/internet.

[2019-05-16 07:17] mimugmail commented on #2279
@fichtner ? :)

[2019-05-16 12:21] katamadone opened #3485 "new Alias no working anymore"
**Describe the bug**
Not able to create a new working alias - old ones are working good
19.1.6

NOT UPDATED/NOT REBOOTED because feeling curious if currently working alias also begin to fail. - Possible to debug a little more first?

First thought it is related to alias on floating rules. But is not limited to that. Don't think so but mention the old issue where I also had problems: #3321

**To Re

[2019-05-16 12:24] katamadone commented on #3485
just found something - Firewall Diagnostics pfTables
the entry for h_t_itops_repo is empty
![image](https://user-images.githubusercontent.com/48495427/57853510-3f518000-77e6-11e9-86f2-29f35b799dc7.png)

[2019-05-16 12:25] AdSchellevis commented on #3485
did you hit apply (in the alias form)? if not, please inspect the logs for anything out of the ordinary.

[2019-05-16 12:33] katamadone commented on #3485
yes

[2019-05-16 12:38] katamadone commented on #3485
just created an additional one and hit apply - but no usage in a rule, only to test adding an Alias - same problem: emtpy in pfTables

[2019-05-16 12:38] katamadone commented on #3485
(same on primary and secondary)

[2019-05-16 12:38] fichtner commented on #3485
There was a relevant alias fix in 19.1.7.

[2019-05-16 12:39] katamadone commented on #3485
sure? - thought I looked over the release notes? - let me try

[2019-05-16 12:45] AdSchellevis commented on #3485
https://github.com/opnsense/core/commit/ea2f217cf3213cc12a94155d3b5a5d5f9ea8bc43 in which case this would be a duplicate of https://github.com/opnsense/core/issues/3399

[2019-05-16 12:58] katamadone commented on #3485
ok.. updated slave to 19.1.7 and pftable shows now the entry correctly. And sure the rules are working.
I'm sorry that I overlooked that fix. Is there any way to donate you both a 🍺 ?

[2019-05-16 12:59] #3485 closed

[2019-05-16 13:00] fichtner commented on #3485
No worries, all good. Thanks for the quick feedback :)

[2019-05-16 13:13] katamadone commented on #3485
would love to

[2019-05-16 15:12] TotalGriffLock opened #3486 "IPSEC Tunnel Flag rightallowany carried over to other tunnels"
I've got an OPNsense 19.1.7-amd64 firewall with 5 IPSec tunnels configured. Tunnel 3 of 5 has the checkbox "Allow any remote gateway to connect" checked and in the config.xml the relevant tag is present:

      <rightallowany>1</rightallowany>

No other tunnels have this flag set in the web interface, and it is not set anywhere else in the config.xml. When /usr/local/etc/ipsec.conf is generated, A

[2019-05-16 15:20] Northguy commented on #2946
Hi @AdSchellevis . I see you closed the issue I originally logged. I was not available to react due to spring holiday at the time you closed the issue and afterward forgot about it, so please forgive me resurrecting this thread.

I did not log a formal template for this issue, so it is good that @teklabania did put in the effort. My case was actually more simple than @teklabania  wrote, but had _a

[2019-05-16 15:43] AdSchellevis commented on #2946
@Northguy the gui glitch this https://github.com/opnsense/core/commit/839ec3567ab25811b3504b9afcc4e168efbe9713 fixes is the duplication of the mac addresses as mentioned in the screenshot, descriptions should be visible as configured when set in a static entry without an address (at least on my end).

[2019-05-16 15:44] TotalGriffLock commented on #3486
The relevant config.xml  (sanitised for security reasons) reads like this:
[code]
You can see only the connection with IKE id 3 has rightallowany flag set to 1

This is what I get from inserting a print_r($a_phase1); into ipsec.inc (obviously sanitised to remove any security info)
[code]

[2019-05-16 16:04] Northguy commented on #2946
OK, applied opnsense-patch 839ec3567ab25811b3504b9afcc4e168efbe9713 which indeed combines information. Only issue I see is that Interface name now has gone missing....

![image](https://user-images.githubusercontent.com/1189058/57869298-0bd21e00-7805-11e9-91ca-69160c24929f.png)

[2019-05-16 16:11] #3486 closed

[2019-05-16 16:12] fichtner commented on #3486
Nice catch! This should do the trick:

    # opnsense-patch 6cd8297

[2019-05-16 16:16] AdSchellevis commented on #2946
@Northguy can you create new issue for the missing interface in this case? I'll try to look at it when I have a bit of time available.

[2019-05-16 17:49] TotalGriffLock commented on #3486
And it did :D Thanks

[2019-05-16 17:59] fichtner commented on #3486
Cool, I'll add it to 19.1.8 for next week :)

[2019-05-16 19:15] teklabania commented on #2946
@AdSchellevis, thank you for taking care of this issue with duplicated mac addresses. It's a pitty we cannot get the feature of getting hostname being assigned to MAC and being resolved by DNS. So putting additional info under hostname form could be good idea.

Currently under:
Services -> DHCPv4 -> Interface -> DHCP Static Mappings for this interface -> "+"
we have:

Maybe something like this wou

[2019-05-16 19:34] somova commented on #2267
So, now I have switched to 19.1.7 and can test the patches. Before I start, I have to rollback my workaround before applying the patches. In case something goes wrong and opnsense disconnects from Internet, it's better to have physical access to the machine. Thus, I postpone testing to next monday.

[2019-05-16 20:02] AdSchellevis commented on #2946
@teklabania sounds like a good idea indeed to better explain the feature, would this be something you might be willing to create a pull request for?

[2019-05-17 09:27] Northguy opened #3487 "Services > DHCPv4 > Leases is omitting interface name in overview table"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

[YES] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[YES] I have searched the existing issues and I'm convinced that mine is new.

**Describe the bug**
When a Static lease configuration through _Services > DHCPv4 > LAN > DHCP Static Mapping

[2019-05-17 09:28] Northguy commented on #2946
Done. See #3487

[2019-05-17 12:41] fichtner commented on #2279
19.1.8 happened... I will come up with a plan for 19.1.9...

[2019-05-17 13:24] Northguy commented on #2946
@AdSchellevis see #3488

[2019-05-17 13:37] tunip opened #3489 "[Feature] Suricata Network Configuration - WAN IP in Home networks"
[x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem?**
no

**Describe the solution you'd like**
When you use IPS & Sensei together, you can only use the WAN interface for Suricata.
In this setup we miss a lot of the ID

[2019-05-17 13:53] AdSchellevis commented on #3489
The problem with this is that it introduces hard dependencies between services (dhcp client / suricata), you might consider adding the subnet your provider uses as home_net.

I would like to avoid all kinds of service restarts on new dhcp leases, often this turns into bumpy and unexpected behaviour further down the road.

[2019-05-17 14:18] tunip commented on #3489
Is a reload (not restart) not enough for suricata if home_net changes? If not, then you are right, such hard dependencies are a bad idea.

Can't add all the DSL-subnets of my provider. They are to much for Telekom Germany.

I found something similar for pfSense/Snort. Thats why I am thought it would be maybe possible for OPNsense/Suricata too.

https://docs.netgate.com/pfsense/en/latest/ids-ips/sn

[2019-05-17 16:18] staeglis commented on #2544
What's the current state of this issue? Will this be really solved in 19.7?

[2019-05-17 20:21] Alphakilo commented on #2267
Okay, let's see. I've installed the patch May 13th. Since then I had 8 reconnects. I'd have expected 4 reconnects, one every 24 hours.

The problem is still there, just not as prevalent as it used to be.

[2019-05-18 11:23] Alphakilo commented on #2498
@fichtner @fabianfrz
Why should this be a Nextcloud client issue?

And is there a good reason to keep the colon other than "It's a valid character"?

[2019-05-19 07:17] fabianfrz commented on #2498
@Alphakilo For example if you would sync to DOS, you have a limitation of 8.3 file names (https://en.wikipedia.org/wiki/8.3_filename) but actually nobody cares. In that particular case, Windows creates the "short name" by itself so the application does not need to handle it but it is still the job of the OS or applications running on this OS to handle local file system limitations.

[2019-05-20 11:02] jroehler23 commented on #1773
Hi, is this still open to fix in 19.1.x? I had to change my WAN configuration in several remote sites from PPPoE to a static IP behind a NAT router. The normal IPsec tunnels are all working normal, but the additional networks of the remote sides, which must be NATed before IPsec are not entering the tunnel any more.

Regards,
Jochen

[2019-05-20 11:09] AdSchellevis commented on #1773
we don't have other fixed queued than https://github.com/opnsense/core/commit/8f45e0d8623a6da395e12be5b51b3ab74e490f77 at the moment.

[2019-05-20 11:11] fichtner commented on #1773
8f45e0d8623a was shipped as fe38ca7acc3fc in 19.1.3

[2019-05-20 11:16] astrandb commented on #2498
@fabianfrz @fichtner
It is obvious that many Windows users have problems with current date string. One way to solve the situation without creating breaking changes could be to make the delimiter characters user selectable. Default should be current setup and an alternate setup with no delimiters (e.g. 201912240624 for 2019 dec 24 6:24 am).
Unfortunately I don't have the skills to develop and produ

[2019-05-20 14:25] Kimotu opened #3493 "haproxy log broken in 19.1.8"
With opnsense update 19.1.8 the haproxy logs are shown broken. Date and Message should be shown separetely/splitted into two columns. Instead, both columns show whole message including date.

how it looks like:
[code]
how it should look alike:
[code]

Till 19.1.7 display was correct,

[2019-05-20 15:14] jroehler23 commented on #1773
OK. Can you help me to find out where or why the packets are not finding the way into the tunnel? I really need this feature back working!

When I remove the manual SPD for the additional network in phase 2, the packets were send out over the standard gateway via WAN. So IPsec configuration is recognizing the additional network. But I can't see any SNAT transformation in the firewall log of the pa

[2019-05-20 19:27] AdSchellevis commented on #3493
@Kimotu it looks like we missed some lines, can you try https://github.com/opnsense/core/commit/95b4ae224a3025a419efcd270905e58e9cf3bb51 ?
[code]

[2019-05-20 20:00] somova commented on #2267
So, I have performed the tests with Opnsense 19.1.7 and the following steps:

1. Dropped the running PPPoE session
2. Did a rollback of my workaround
3. Dumped the network traffic while establishing a new PPPoE session and saw delayed answers to "PPP LCP Echo Requests" (as seen in the past)
4. Applied both patches (`5f4315c` and `2806a0c`)
5. Dropped the running PPPoE session
6. Dumped the network

[2019-05-20 20:57] fichtner commented on #2267
@Alphakilo @somova thanks for testing... more or less on the right track. there's still a little contention around linkup and linkdown we could try to sidestep by refusing to reconfigure dns on network linkdown. thoughts? :)

[2019-05-21 02:55] abplfab commented on #3493
Same error with all logs. Patch fixes view.

[2019-05-21 05:56] Kimotu commented on #3493
Patch worked. :-)

[2019-05-21 06:08] fichtner commented on #3493
Small review fail in the patch, no functional issue... will mop this up in 19.1.9... sorry for the trouble.

[2019-05-21 06:08] #3493 closed

[2019-05-21 08:40] bergfink commented on #3478
This Issue is flagged "incomplete" - can someone explain what other information is needed. I'm happy to add what's missing.

[2019-05-21 08:47] clystron commented on #3479
In the meantime I have created a pull-request for the "split"-parameter (#3484), if there is still missing information please let me know.

[2019-05-21 09:26] Alphakilo commented on #2267
DynDNS?  If OPNsense doesn't reconfigure that, and there is a failover, the DynDNS records won't be updated, right? That'd be.. not good.

[2019-05-21 09:28] fichtner commented on #2267
No, this does not pertain to DynDNS:

https://github.com/opnsense/core/blob/8b22eebb9c55dba29f4a1d55eb8d97cf33f6415e/src/opnsense/scripts/interfaces/ppp-linkdown.sh#L57

[2019-05-21 09:30] fichtner commented on #2267
More context: configd could block there to reconfigure DNS while doing something else, but reconfiguring DNS (resolv.conf really) serves no purpose if a link goes down as connectivity is broken anyway.

[2019-05-21 14:58] Kimotu commented on #3292
Any chance to get the ipv6 addresses added? I just had the issue that I assigned proxy via wpad.dat/proxy.pac with a fqdn that resolves to ipv4+ipv6.
The application got proxy via script, resolved the proxy fqdn and then tried as first the ipv6 address which timed out, since squid did not bind to it. This caused an error.
As soon as I manually added the ipv6 address to squid.conf, the application

[2019-05-21 18:00] AdSchellevis commented on #3479
@clystron thanks, closed with https://github.com/opnsense/core/pull/3484

[2019-05-21 18:00] #3479 closed

[2019-05-21 18:36] AdSchellevis commented on #3487
@Northguy can you try https://github.com/opnsense/core/commit/446caa9941ee8c56d22220211aab72dfc77af426 + https://github.com/opnsense/core/commit/fb4a9bedaa599b8b06ae31c91c20eb3269e1b3c0

[code]

[2019-05-21 20:11] Northguy commented on #3487
@AdSchellevis Looks good for IPv4. Cannot test IPv6 as I don't have IPv6 setup.

[2019-05-21 20:19] stefan-kos opened #3494 "Plain Log file parsing (all logs) not correct"
Hello dear OPNsense'rs,

since upgrading from 19.1.7 to 19.1.8, all log file parsing is not correct in the cols.
For example in Firewall -> Log files -> Plain view.

The Date and Message part is actually in both cols, Date and Message except Month name. This happens with every log file. I tried to reset all logs and rebooted, but still the same issue.

<img width="1268" alt="Bildschirmfoto 2019-05

[2019-05-22 04:24] Bytechanger commented on #2048
Hello,
I also need   tls-crypt   option for more security.
At this time I run my openvpn-server on my raspberry!

[2019-05-22 05:04] fichtner commented on #3494
Hi Stefan,

See https://github.com/opnsense/core/issues/3493 with patch.

Cheers,
Franco

[2019-05-22 05:04] #3494 closed

[2019-05-22 08:05] stefan-kos commented on #3494
Hi Franco,

thanks for your answer, yes that works. I tried to find but maybe I overseen #3493 while not looked in the closed ones, sorry for this.

Cheers, Stefan

[2019-05-22 08:09] fichtner commented on #3494
@stefan-kos no worries 👍

[2019-05-22 09:20] Kimotu opened #3495 "Monit: Add raw defives to interface list --> monitor lagg-members/vlan-parents"
[X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

[X] I have searched the existing issues and I'm convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
No problem, but monitoring improvment.

**Describe the solution you'd like**
ATM only the assigned interfaces are displayed as choice. lagg interf

[2019-05-22 09:42] warnerbryce commented on #2533
@kagou It is possible now to schedules for Every Mondays, etc...
You have to click on the name of the days in the schedules calendar, it will select all the days of the specific month, but when you appli it will say Mon - Fri for exemple if you selected all the days of a working week.

![schedules](https://user-images.githubusercontent.com/11445205/58164690-97750000-7c86-11e9-8021-68f80fadfa79.PNG

[2019-05-22 11:07] jroehler23 commented on #1773
To make it short: I've found my mistake, NAT before IPsec is working when OPNsense is behind a NAT router.

Before I had to change the WAN configuration, I used 'my IP address' and 'peer IP address' in the phase 1 as identifiers at both ends. After I moved one router behind a NAT router, I had to use 'IP address' on one side for one identifier. I chose 'my identifier' in the OPNsense behind the NA

[2019-05-22 13:38] mimugmail opened #3497 "master: text coloring for apply message in rules is unreadable"
Current master, when applying a firewall rule it looks like this:

![image](https://user-images.githubusercontent.com/20438689/58179011-999b8680-7ca7-11e9-87af-64e0e5006d8c.png)

Maybe this needs some tuning? :)

[2019-05-22 13:39] fichtner commented on #3497
Yes.... I made an experiment.... we do not use alert-success anywhere yet

[2019-05-22 13:57] mimugmail commented on #3497
Ok, you are aware, fine with it :)

[2019-05-22 17:50] AdSchellevis commented on #3497
I think we better keep info in these cases, contextually there isn't a big difference between success and info here, I do like the warning when an apply is needed by the way 👍

[2019-05-22 17:57] opnsenseuser opened #3498 "19.1.8 System: log widget - text warp for 6 columns ?"
if the dashboard consists of 6 columns, then the class "nowrap" is certainly not of advantage when it comes to easy readability. You have to scroll endlessly to the right and then to the left again to read the text completely. but this should not be the case especially on the dashboard. the dashboard should be fast and easy to read. how do you see it ?

no wrap css:
![grafik](https://user-images.g

[2019-05-22 18:01] AdSchellevis commented on #3487
@Northguy thanks for confirming, IPv6 is different, if something similar pops-up there, we'll have a look when reported.

[2019-05-22 18:01] #3487 closed

[2019-05-23 04:32] abplfab commented on #3476
Any Updates on that?

[2019-05-23 06:32] fichtner commented on #3497
Changed it back to what it was before... but what I'd like to see is to make all of them look better... compare them as they are now:

<img width="1160" alt="Screenshot 2019-05-23 at 8 29 56 AM" src="https://user-images.githubusercontent.com/1915288/58230669-4708ab80-7d35-11e9-8044-7477ad673be1.png">

And here is bootstrap:

<img width="836" alt="Screenshot 2019-05-23 at 8 30 12 AM" src="https://u

[2019-05-23 13:47] mimugmail opened #3500 "OpenVPN: Reintroduce MS Certificate Storage option in client export"
Hi,

since the rewrite of OpenVPN Client Exporter to MVC it seems the the option for MS Certificate Storage is gone (seen screenshot):

![image](https://user-images.githubusercontent.com/20438689/58257721-b69c8c00-7d71-11e9-9824-e38552211272.png)

I'd like this feature back since it offers way more security. The rolled out config is not moveable, so the client can't install the same config on priv

[2019-05-24 12:24] Hemmingen commented on #398
Could we have a list in this repo containing safesearch options for google/youtube, bing, startpage, ... so this could be embedded as a feature in OPNsense?

[2019-05-24 12:36] mimugmail commented on #398
It's supported by Bind Plugin. Maybe I can add it to Dnscrypt-proxy too

[2019-05-24 12:49] Hemmingen commented on #398
Unbound is still the default on OPNsense installations so I was hoping to see such a feature in there, too.

[2019-05-24 12:52] mimugmail commented on #398
@fichtner @AdSchellevis maybe we can add some folder include like with strongswan here too?
It would also ease things e.g. for plugins extending Unbound.

[2019-05-24 16:54] AdSchellevis commented on #398
@mimugmail it's probably a good idea to add something similar, any suggestions for a target directory? The current files are generated into /var/unbound, I think we rather define some path in /usr/local/etc if that doesn't bite with the chroot it uses.

[2019-05-24 17:00] fichtner commented on #398
Though the point of the chroot is that you can't see /usr/local... additional symlink maybe? That being said, maybe a good point to kill the advanced settings as well...

[2019-05-24 17:12] mimugmail commented on #398
Good point, an include folder could kill advanced options. I'm unsure at which place in config to include the include, my knowledge about Unbound is sadly bit limited.

[2019-05-24 17:38] AdSchellevis commented on #398
Initially I thought the same, but I think it reads config  before performing the chroot(), within the chroot this doesn't exist either

https://github.com/opnsense/core/blob/31a81c51a6d76b44439acf4fdcb186075cab0e79/src/etc/inc/plugins.inc.d/unbound.inc#L329-L330

Which suggests it reads config first, but I might be wrong.

I don't mind killing advanced, as long as the include functions and it's in

[2019-05-24 19:42] abplfab commented on #3476
Reads very similar https://forums.freebsd.org/threads/freebsd-12-not-answering-neighbor-solicitation.69035/

[2019-05-24 22:21] aofwer commented on #3415
I've upgraded from 19.1.5 to 19.1.8 and I have not had a single interface toggle for over 4 days now. I did not test the suggested patch yet, as I wanted to see if the upgrade fixes things. So far it's looking good at my side.

[2019-05-25 04:57] mimugmail commented on #1773
https://forum.opnsense.org/index.php?topic=12849.msg59564;topicseen#msg59564