[2021-12-10 06:39] fichtner commented on #5394
@jwoodard80 22.1-BETA3 will have it if you have a chance to take a stab at that... should be released with 21.7.7 some time next week.

[2021-12-10 08:05] #5041 closed

[2021-12-10 14:22] kulikov-a commented on #5398
all settings are default
os-shadowsocks (installed) | 1.0_2
OPNsense 21.7.6-amd64
![image](https://user-images.githubusercontent.com/36099472/145588377-b9226ca8-c613-40e7-918f-f3a0118e03ea.png)

[2021-12-11 00:40] schmidja-john opened #5401 "OpenVPN Server Configuration"
On the VPN --> OpenVPN --> Servers screen, for each server there is (when running) a green arrow pointing to the right. If you accidentally click on that arrow, you instantly DISABLE that VPN server. Some user interfaces use an arrow, that when you click on it, it points down and expands the section that you'd like to review/edit. For someone who doesn't use this interface daily, you may ACCIDENTA

[2021-12-11 14:42] wkochFPV commented on #5367
I saw that you removed state killing on gateway failure in rc.filter_configure ( #5045), which appears a good idea, since it entirely flushed all states and disrupted established connections on other WANs (our PBX communicating on WAN1 lost all voice communication, if WAN2 failed).

For VOIP failover (using gateway groups with WAN failover configuration), however, I assume, that selective killing

[2021-12-11 15:08] fichtner commented on #5367
@wkochFPV

Hi Walter,

The default is still here https://github.com/opnsense/core/blob/67910fbfeab0e1754507a6b7f0eaafdf1ece319f/src/etc/rc.newwanip#L156-L160 so that should be fine. You can still get the state killing equivalent of gateway down with the 'ip_change_kill_states' switch above, but I think eventually we would remove this too if the default is sufficient and to stop meddling with multi

[2021-12-11 15:24] gaticssa opened #5402 "Firewall normalization rules - source/destination ports being ignored"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Setting the DSCP f

[2021-12-11 16:05] #5047 closed

[2021-12-12 00:58] Napsterbater commented on #4866
This still occurs on 21.7.6

[2021-12-12 22:42] tabnul commented on #5392
I am also very interested in this. In fact i think it is a very common use case (automatic provisioning machines, and creating 'dns records' for them.

I tried to debug the GUI, adding the record should be doable (post with some data, do a second APPLY post. Biggest challenge will be avoiding the CSRF.
Removing it is almost impossible since it uses an ID that can only be found in a table in the HT

[2021-12-12 23:20] NOYB opened #5403 "Edit Alias enhancement suggestion"
Rather than a content box full of addresses, a 2 column table of addresses and descriptions would be more humanly useful.
![Edit Alias](https://user-images.githubusercontent.com/1977521/145733647-a104631d-b7c0-4aa4-9fd6-e09a72b0ed24.jpg)

[2021-12-13 02:25] pierryangelo opened #5404 "LDAP Import tool doesn't list all users from AD."
I am using OPNSense to implement a VPN service in my job. That was all fine, I have OpenVPN + Backend Authentication [LDAP (Active Directory) +TOTP].

I must import the users from Active Directory because I am creating individual keys for them in order to authenticate in OpenVPN.

The problem is that "system_usermanager_import_ldap.php" doens't show all users that I have in the organizational unit

[2021-12-13 05:10] mimugmail commented on #5404
Are you sure this is allowed in your AD? I had a similar problem where only 1000 objects were sent back to the query. Was a setting in domain controller.

[2021-12-13 06:17] fichtner commented on #5404
Yes, LDAP servers commonly limit the result set they return.

Cheers,
Franco

[2021-12-13 07:05] #5048 closed

[2021-12-13 10:05] #5049 closed

[2021-12-13 16:39] pierryangelo commented on #5404
Guys, the problem was what you said. I talked with the guy responsible for Windows Server Administration and asked him to increase the limit of the result set. The problem was solved.

Thanks a lot. Sorry for sumit this as an issue.

[2021-12-13 16:39] #5404 closed

[2021-12-13 19:16] Miwer commented on #3655
Just want to show my support for the work in this ticket.
I was looking for a better way to manage MAC/IP authentication bypass, which allowed some more descriptive text for each entry.
This seems to accomplish that goal. Hope to see it in a future version.
Thanks ;-)

[2021-12-14 20:05] #5053 closed

[2021-12-14 20:14] blubaustin opened #5406 "CVE-2021-43527 NSS version that is vulnerable"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a

[2021-12-14 21:20] #5344 closed

[2021-12-15 07:44] TheRealBecks commented on #5284
I think you're talking about exactly that feature that many people in Germany need, because many providers change IPv4 addresses and IPv6 prefixes once a day. So my problem seems to be discussed here, but I also found some (annoyance) on my provider router:

WAN 1: GUA/56 static
WAN2: GUA/62 dynamic (yes, only 62!)
LAN: ULA/64

The static NPT rules for LAN <-> WAN1 is already working perfectly, bu

[2021-12-15 08:25] marjohn56 commented on #5284
@fichtner  - I'll PR this then we can play with it.

[2021-12-15 08:26] fichtner commented on #5284
@marjohn56 I thought this was done... that's why I tagged it?

[2021-12-15 08:30] marjohn56 commented on #5284
It isn't and it means I'll need to add a drop down selector for the ULA's. I have to say though that because we have completed the tracking dynamic fw rule , this may no longer be needed, but we'll play on. @fichtner - no, not issued a PR yet as I was waiting for feedback on the image I shared above - Is it the way to go?

[2021-12-15 08:32] fichtner commented on #5284
@marjohn56 ok I'm moving it to community milestone. Did not want to force a solution for 22.1 as I know you are typically busy. Take your time.

[2021-12-15 08:33] marjohn56 commented on #5284
No, we don't need a dropdown, it pulls the ULA from what is assigned to the interface, so it's good.  I'll PR it for play and discussion.

[2021-12-15 14:06] agh1467 commented on #5403
This is a good idea, and would be helpful in better tracking what things are. However, this would require an ArrayField within an ArrayField which isn't possible given the design of the current model structure.

I did a mock up of what it might look like regardless though:

![image](https://user-images.githubusercontent.com/7823088/146200119-2028100f-635b-4f5e-9179-93b50af7811a.png)

[2021-12-15 15:40] agh1467 opened #5407 "Edit Alias row following Type not alternating color"
**Describe the bug**

On the Firewall -> Aliases -> Edit Alias -> Type row

The color of the visible rows following Type aren't always alternating colors as expected. With some Type selections the coloring switches:

![image](https://user-images.githubusercontent.com/7823088/146213726-25e60a55-9bc4-4c7b-b75a-bed592bee084.png)

With "URL Table (IPs)" selected an additional row is shown between Type

[2021-12-15 15:53] marjohn56 commented on #5284
@fichtner - #5408

[2021-12-16 00:37] hydrosIII commented on #5094
Same issue here.
I am getting conectivity issues. It is also hapenning in Pfsense so It is something related to FreeBSD. It was working before. I have ping of mote than 1500 to 8.8.8.8 when enabling Multiwan either in failover mode or in loadbalancing mode.

Disabling sticky connections does not seem to work.

Updating to the last kernel : kernel-21.7.7 seemed to improve the issue for now. But I w

[2021-12-16 04:31] agh1467 commented on #5407
I looked around and this is not an uncommon issue, and people have posted several possible solutions, none of which I found to fit the case with OPNsense. So, I made a rudimentary solution which just re-colors the rows. It's not good, but it does work.

fd8c2d14d22341791ee2813a1aef87f1700ee454

![image](https://user-images.githubusercontent.com/7823088/146308153-ecabd8d0-ef8a-4310-86a5-91fbcd54ced

[2021-12-16 08:09] AdSchellevis commented on #5407
@agh1467 best open a pull request, the proposed looks reasonable at a first glance.

[2021-12-16 08:46] kulikov-a commented on #5407
@agh1467 Hi! May be it can be done shorter? like https://github.com/opnsense/core/commit/979062d047429ef0180774f06c5b14457d768c3a
but it's still nasty to manipulate DOMs like this just for stripes fixing (

[2021-12-16 16:19] McMarius11 opened #5409 "[Feature request] Add check_mk_agent as a plugin"
we would love to have the check_mk_agent as a plugin for everyones opnsense firewall.

**Important notices**

**Is your feature request related to a problem? Please describe.**
it is not easy to install the mk agent on the firewall.
The motivation is to make it a breeze to install the mk agent on the opnsense firewall, so that the end-user do not have to use ssh in order for it to configure it.

A

[2021-12-16 19:58] x90skysn3k commented on #3805
I know this is closed but following up because I had the same exact issue, however you script did not help get my IPv6 interface back up. So I utilized these commands which fixed my issue. `/usr/local/sbin/configctl interface linkup stop <interface> && /usr/local/sbin/configctl interface reconfigure <interface> && /usr/local/sbin/configctl interface linkup start <interface>`

[2021-12-17 07:32] Wireheadbe commented on #4691
@fichtner - hope I did this pull request correctly, but it would help massively if such an action was available. (now it's lost with each update ;) )

[2021-12-17 09:23] fichtner opened #5411 "interfaces: plugin device support for ipsec, openvpn, vxlan and loopback"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-12-17 10:39] NOYB opened #5412 "Automatic Float Rule Logging"
Automatic floating rule indicates logging is disabled.  Seems to be logged anyway though.
Whatever the intended behavior it would be nice if logging indicator and behavior matched each other.
Perhaps even ability to toggle the logging same as on the other rules would be nice.
21.7.7

![Automatic Floating Rule](https://user-images.githubusercontent.com/1977521/146530927-80baefdb-aa94-44bf-a3fd-dd5d

[2021-12-17 10:59] NOYB commented on #5412
Also would be nice if source addresses that are blocked at an interface, such as WAN, would not be allowed any degree of ingress.

[2021-12-17 13:58] kulikov-a commented on #5412
this is a strange log output: the packet data clearly indicates that this is rdr rule, and this is a ip4 tcp syn packet. the name of the rule is outdated, probably pf rules manipulations were carried out without closing the  live log.
Can I ask a question? This is not the first time you create a ticket and continue to delete the template during creation, this has some special meaning (it is much m

[2021-12-18 13:05] #5060 closed

[2021-12-18 17:14] amezin opened #5415 "Add net.isr.maxthreads, net.isr.bindthreads, net.isr.dispatch to Tunables and adjust defaults"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-12-18 18:23] AdSchellevis commented on #5415
Optimal settings vary per situation (like enabling rss for example https://forum.opnsense.org/index.php?topic=24409.msg116941#msg116941).

Adding an optimal settings paragraph  for ppp type interfaces in the documentation (https://github.com/opnsense/docs) might be a better option.

[2021-12-18 19:02] agh1467 commented on #5407
I created a pull request here: #5416

@kulikov-a I didn't realize that the rows would re-paint when when removing/adding rows to the table. Your approach worked as expected after a minor change. The `clone()` approach ended up copying the row which resulted in duplicate elements (with children) with duplicate IDs which would probably cause issues when executing saveFormAndReconfigure(). To mitigat

[2021-12-18 21:16] agh1467 commented on #5412
Definitely something strange happened. That rule should only apply to ICMP6 + IPv6 packets, and none of the src/dst/port/proto  match that. That rule from your screenshot is not configured to log, and I also see 5 of those floating rules all with the same label. It's not clear which rule it's hitting.

The floating rules on my system aren't configured to log, and I'm assuming that's default. If yo

[2021-12-19 01:46] NOYB commented on #5412
Yes should only apply to IPv6 and there is no IPv6 on that WAN interface.  ISP doesn't support IPv6 yet.
All of the automatic float rules are indicated to be logging disabled.
My guess is that it's some other rule that's actually being hit, maybe not even a float, but by some kind of indexing bug or something that rule label is getting picked for the log entry.
There is a port forward NAT rule, th

[2021-12-19 02:14] agh1467 opened #5418 "queryLog custom log formats"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new afte

[2021-12-19 05:54] kulikov-a commented on #5412
yes, this is possible under some circumstances (for example, immediately after changing the firewall configuration with the live log opened). `pf` logs cannot contain a rule description and you have to compare the entries in the log with the entries in the rules file. when changing rules, temporary desynchronization is possible when displaying a rule that triggered before the change.

thats how `p

[2021-12-19 08:03] NOYB commented on #5412
Or it could just simply be that the NAT rule doesn't have a label so the first one in prio:1 is picked.
The log will display the NAT rule label if one forced on it in rules.debug.

[2021-12-19 10:07] AdSchellevis commented on #5418
The log enpoints are only intended for standard log output (more or less RFC5424), if you need anything else, you will have to offer your own implementation. We don't parse output of services as there will be many,

[2021-12-19 13:36] agh1467 commented on #5418
Alright. Thanks for the explanation!

[2021-12-19 13:36] #5418 closed

[2021-12-20 17:35] kulikov-a commented on #5407
@agh1467 Hi! sorry for delay

technically i removed id in `removeAttr('id')` part but I totally agree that my example is absolutely rough. just to express the idea more clearly )

there is another idea: since technically such issue can arise not only in the alias edit form and opnsense_ui.js already contains a initFormAdvancedUI() function to workaround the stripe issue with "show advanced" toggle

[2021-12-21 05:25] agh1467 commented on #5407
I hadn't noticed that function before. I'm going to at least change the row definition to be something similar to what's done in `initFormAdvancedUI()`, using some attribute like `data-advanced='hidden_row'`.

[2021-12-21 08:08] dstr-wpd opened #5421 "07[IKE] <con1|651> giving up after 5 retransmits"
DPD giving up after the default 5

![image](https://user-images.githubusercontent.com/74531770/146893873-3e30e673-d6f8-4701-a58d-54e2a37c6655.png)

I tried to lower the value already, but it does still not take it.

![image](https://user-images.githubusercontent.com/74531770/146893922-fde7aa72-7207-42c4-835e-aa17f08db85a.png)

![image](https://user-images.githubusercontent.com/74531770/146893980-f

[2021-12-21 08:16] AdSchellevis opened #5422 "Monit: add own log target"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-12-21 08:17] dstr-wpd commented on #5421
Another one:
![image](https://user-images.githubusercontent.com/74531770/146895292-f1e3b77b-f87a-4772-94f3-ee6557fd3339.png)

![image](https://user-images.githubusercontent.com/74531770/146895188-d827f0f2-ea7a-4434-806f-30bcc8516c79.png)

[2021-12-21 08:39] mimugmail commented on #5421
Keyingtries -1

[2021-12-21 08:46] dstr-wpd commented on #5421
thank you mimugmail, will try that.

[2021-12-21 10:02] fichtner opened #5423 "system: aliasIterator() calls configd "filter diag table_size""
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2021-12-21 16:08] #5423 closed

[2021-12-21 16:55] #5422 closed

[2021-12-21 19:13] kulikov-a commented on #5412
@NOYB
i think i found something
any chance your rdr rule is created with "Pass" in 'Filter rule association'?

[2021-12-21 20:00] NOYB commented on #5412
No.
Filter rule association is "Rule "+NAT Rule Description
None of the NAT/RDR rules have an associated label rid in /tmp/rules.debug.  Manually adding a label rid causes the NAT/RDR label to be displayed in firewall log.

Hitting different NAT rules displays different labels of firewall rules.  None of them correct.
Seems that the lack of label rid on NAT rules is central to the issue.

[2021-12-21 20:07] kulikov-a commented on #5412
upd: looks like 'rdr pass ' is not the only option for this.
@fichtner sorry, can you look at filterlog when you have time please?
it seems that for rdr rules a label can be taken from the filter rules with the same number
something like
`10,,,1d245529367b2e34eeaff16086aeafe9,hn0,match,rdr,in,4,0x0,,127,10855,0,DF,6,tcp,48,172.17.1.54,172.17.1.103,58354,888,0,S,3726562532,,65280,,mss;nop;nop;sackO

[2021-12-21 20:39] derritter88 commented on #4145
I am currently evaluating OPNsense as I might migrate from Sophos XG to it.
At Sophos XG this feature is working without an issue and I really would love to see it also working at OPNsense.

[2021-12-21 20:57] derritter88 commented on #4145
Maybe this tool might be a good starting point? -> Knock
https://github.com/guelfoweb/knock

or

https://securitytrails.com/blog/subdomain-scanner-find-subdomains

[2021-12-21 21:00] derritter88 commented on #4145
I just used Knock and all the hits a outputted are the same as on Sophos XG.

So maybe a solution?!

Althought I don't know if BSD can run Python3

[2021-12-22 07:23] fichtner commented on #5412
The contents of the labels/rule nr can be displayed using:

    # filterlog -l

Mine starts with "18: 02f4bab031b57d1e30553ce08e0ec131" and a quick test of a rdr rule yields the rule number 4 so that's lower than 18. Not sure what I am missing.

[2021-12-22 08:05] #5072 closed

[2021-12-22 08:33] kulikov-a commented on #5412
thanks for joining. IMHO the number of the first filter rule with label in the list will depend on the configuration (number of interfaces, ipv6 presence, scrub, anti-spoof settings etc.) but not on the number of nat rules (the numbering is not end-to-end, and does not start with nat rules). imho if  you create enough nat rules, then for the @18 nat rule filterlog will set a label from the @18 fil

[2021-12-22 08:35] fichtner commented on #5412
We can exclude the types that don't have labels, but I need to know what's going on first. :) My understanding was the rule nr was unique but that does not seem the case. Let me check the kernel code.

Cheers,
Franco

[2021-12-22 08:44] dstr-wpd commented on #5421
Okay this seems to have solved it for the minute at least.
But I would still consider this an Bug, because the values from the GUI are obviously not taken.

[2021-12-22 08:53] kulikov-a commented on #5412
thanks! my conclusion is based on a comparison of the output of `pfctl -vvsr`/`-vvsn`. (numbering is independent for the filter rules, nat rules and rdr rules). and read_log.py output

[2021-12-22 08:54] AdSchellevis commented on #5421
it's not, dead peer and keying are different types of issues (https://wiki.strongswan.org/projects/strongswan/wiki/connsection)

[2021-12-22 09:09] fichtner commented on #5412
how about https://github.com/opnsense/ports/commit/2e27655d84da91ac35e010f2651193dfdf41d511 then?

[2021-12-22 09:49] dstr-wpd commented on #5421
Okay I think I see what you did there: retries are not retries in DPD because it does not have such value, its "dpdtimeout" calculated with "dpddelay" value. got it

[2021-12-22 09:50] AdSchellevis commented on #5421
close?

[2021-12-22 09:56] #5421 closed

[2021-12-22 10:27] kulikov-a commented on #5412
@fichtner thanks!! works good for plain view now for me. imho a little refactor of read_log.py needed for live view (now it returns empty rule description for such cases) because of:
https://github.com/opnsense/core/blob/f83209cae3f7a40f12941dea1af8f5c11e72548c/src/opnsense/scripts/filter/read_log.py#L188-L193

so matching filter and nat numbers triggers " rule['rulenr'] in running_conf_descr['lin

[2021-12-22 10:45] fichtner commented on #5412
from the side of filterlog we need to leave the emtpy field for backwards compat since we only insert known good rule labels there so adjusting read_log.py is best here... the details view in live log also has a silly rid 0 display with a defunct link for these btw. happy about PRs :)

[2021-12-22 23:30] agh1467 commented on #5407
@kulikov-a I ran through some ideas with respect to a global solution, and I think it would be possible with something like you've said.

A similar approach to how `initFormAdvancedUI()` does it could be used by specifying an attribute (or more):

Like:`data-field-visible="alias_type: geo_ip,[value2],[...]"`

Explanation: The field id on which the visibility of this field is dependent upon, along

[2021-12-23 17:56] pbosgraaf opened #5425 "Ipsec interface description is not stored when saving."
- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at

**Describe the bug**

When i configure an ipsec connection and establish a connection i used to be able to set a interface description by going to:
Interfaces > IpsecX > Description field

This

[2021-12-23 18:15] agh1467 commented on #5402
Using the steps provided I was able to reproduce. I'm not sure if it's working correctly though. The rules as they're written lead me to believe something is amiss though. Everything in OPNsense looks like it should be working as expected.

Here's the configuration node which looks correct:
[code]

Here is the rules file entry for this rule in `/tmp/rules.debug`:
[code]

Here is the rule as it app

[2021-12-23 18:56] AdSchellevis commented on #5425
You can change the name in the tunnel itself for VTI interfaces, if I remember correctly, that has been the case all along. The automatically added interfaces retrieve their (permanent) description from

https://github.com/opnsense/core/blob/26df508f075aeb3ab119abb3aa72fc792c676fd5/src/etc/inc/plugins.inc.d/ipsec.inc#L206

[2021-12-23 21:00] OnTheGrind commented on #4585
I have the same issue.

I have a i350T4v2 card.

If the WAN port is igb0, the WAN cannot grab an IP from my ISP.

I can change it to igb1,2,3 and it works as expected.

This is on a fresh install.

[2021-12-24 07:05] #5074 closed

[2021-12-24 10:04] fichtner commented on #5412
All done, thanks!

[2021-12-24 10:04] #5412 closed

[2021-12-24 14:08] pbosgraaf commented on #5425
I don't fully understand what you mean, I've attached example screenshots to iilustrate.

interfaces - assignments.PNG = showing existing named ipsec interfaces and my new ipsec3 interface
interface with description.PNG = showing the interface definition of one of the named interfaces
interface without description.PNG = showing the interface definition of the unnamed ipsec3 interface

The named ip

[2021-12-24 14:11] AdSchellevis commented on #5425
You need to change the IPsec descriptions in `VPN->IPsec->Phase 1` (or phase 2 if the definition leads to more VTI devices)

[2021-12-24 14:12] #5425 closed

[2021-12-24 15:17] kabaga opened #5426 "Interface column under the Floating rules page"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to

[2021-12-24 15:52] kabaga opened #5427 "Collapsed Sidebar for Firewall Rules"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I have 27 interfac

[2021-12-24 20:43] kulikov-a commented on #5407
@agh1467 sorry for delay.
good approach imho! but for me it's hard to predict how complex the application might be without sample code (..
speaking of a more general solution, I honestly meant only the solution of the stripe issues (I did not even aim to solve the general approach of dependent rows hiding).
I was talking about something like https://github.com/kulikov-a/core/commit/cf5d10a97a1ff96

[2021-12-25 05:27] kulikov-a commented on #5407
@agh1467 I apologize if my interference confused the process started as a small fix :confused:
@AdSchellevis could you please share your opinion in which direction it is more correct to move on (local (`alias.volt`) fix? global stripes control on show/hide? stripes control via dependent rows toggling?)

[2021-12-25 10:05] #5076 closed

[2021-12-25 10:27] AdSchellevis commented on #5427
The sidebar is a bit limited in visible items, due to the lack of scrolling. Increasing the max number of items based on the size of the screen might be an option, but with a lot of interfaces there likely will always be a scenario where it just doesn't fit.

Marking this "help wanted" for now in case anyone would like to suggest some changes.

[2021-12-25 10:37] AdSchellevis commented on #5407
@kulikov-a fixing the issue generically for all forms sounds indeed like a better plan, I never used the `MutationObserver()` myself, according to https://developer.mozilla.org/en-US/docs/Web/API/MutationObserver it might be wise to test some different browsers before pulling it in, the `observe` method seems to have some different remarks.

[2021-12-25 17:11] kulikov-a commented on #5407
@AdSchellevis thanks! yes, tested with `MutationObserver()` - works on ie, chrome, opera, ff. `observe` config contains `attributes: true` so it should work on old versions too.
checking on performance impact (since I try to observe the tables in full. for example, for a haproxy settings page it is 150 targets). haven't noticed any problems yet

[2021-12-26 11:13] AdSchellevis commented on #5407
@kulikov-a it sounds like a practical solution, as soon as there's a PR I'll give it a spin on my end too. thanks!

[2021-12-26 14:41] kulikov-a commented on #5407
@AdSchellevis thanks! (its possible to optimize the checks conditions before the PR imho)
@agh1467 what do you think of this variant?

[2021-12-27 00:46] agh1467 commented on #5407
@kulikov-a It seems to do what you intend for it to do. I don't understand fully, but it does work.

I found something somewhat unexpected with how I happen to be hiding/showing rows in my plugin. I'm utilizing the jQuery fadeIn()/fadeOut(), and this activity seems to cause the function to add a dummy row each time the row "changes." My default fade time is 400ms and it adds about 25 rows after ea

[2021-12-27 02:24] agh1467 commented on #5427
At first glance, I'm seeing a compounding of issues:
1. Menu rises up into the header and goes behind it (happens with dropdown/dropups as well).
2. Sub menu attaches to the top of the previous menu entry and initially goes down until it reaches the bottom of the screen, and if the bottom of the screen is reached, the menu changes and attaches to the bottom of the menu entry and goes up.
3. Menu d

[2021-12-27 02:35] agh1467 commented on #5426
I think one of the things to consider is that the interface field is a multi-select, and it would be a challenge to have the field visualized on the table without it getting out of hand. I do see the value that it would offer.

Maybe it could work if long interface lists could be ellipses'd (...), and offer a hover over tool tip to show the full list. Some bootgrid lists already utilize ellipses f

[2021-12-27 05:26] kulikov-a commented on #5407
@agh1467 thanks alot fo response! yes, if solution is claimed to be universal it should handle all "style" attribute changes and not only if it contains "display" value only. (fadeOut adds/changes 'opacity' style). in this case we dont even need previousValue imho - just check dummy row presence. can you check with https://github.com/kulikov-a/core/commit/ebf819c29537e1870c6b6179535bc9d465308892 p

[2021-12-27 07:08] kulikov-a commented on #5427
may be we can just limit level3 max-height and allow scroll? (like https://github.com/kulikov-a/core/commit/158999b1113c8f54d9100275b9547b55f28436a3 not tested)

[2021-12-27 08:08] NOYB opened #5432 "Firewall log html entities"
html reserved characters such as `&` are displayed as html named entities (`&amp;`).

To reproduce trigger and log a firewall rule that includes an `&` in the description.  Then view it in the firewall log "Live View" and detail info pane.

Expected Result: `&`
Actual Result: `&amp;`

Rel: 21.7.7

[2021-12-27 13:05] #5077 closed

[2021-12-27 19:20] hozmaster opened #5434 "Remove or opt out curl request to obtain ip address from the hard coded website"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
In file /opnsense

[2021-12-27 19:24] AdSchellevis commented on #5434
I don't think there's any caller in core, eventually we should move this to plugins as `dns/rfc2136` and `dns/dyndns` are consumers of the function and are both more or less unsupported.

[2021-12-27 19:33] hozmaster commented on #5434
Checking ip address of local interface should part of core.

[2021-12-27 19:37] fichtner commented on #5434
There’s not much incentive moving it to plugins since this function required maintenance in the past and will according to this ticket require further maintenance. Moving it out of core with two copies each future quality will decline drastically.

[2021-12-27 19:39] fichtner commented on #5434
@hozmaster maybe you want to extend your reasoning with an actual use case, thanks

[2021-12-27 19:43] hozmaster commented on #5434
I'm currently working on plugin which is going to update dynamin ip address  into GoDaddy service. King of rewrite dyndns-plugin but only support GoDaddy service. At first at least.

[2021-12-27 20:22] AdSchellevis commented on #5434
@fichtner the only reason `get_dyndns_ip()` is still in core is due to entanglement of these two plugins, which both have maintenance issues.  I rather don't want to see other plugins depending on this  function in the near future, as one day it will move out of core. (when there's an alternative mvc plugin available for dyndns, in which case there's no reason for us to stretch this any longer)

T

[2021-12-27 20:33] fichtner commented on #5434
@AdSchellevis I don't disagree with this at all. I just want to say a potential new plugin shouldn't try to disrupt the current problematic with the function and its consumers. it can copy and modify the function as required :)

[2021-12-27 20:37] AdSchellevis commented on #5434
@fichtner I know :) it can stay where it is now knowing both legacy plugins are the only reason it's there.

[2021-12-27 21:25] amezin commented on #5415
That forum thread you've mentioned also suggests setting `net.isr.maxthreads=-1` and `net.isr.bindthreads=1`. And also:

So if you're enabling rss you also effectively apply the configuration I've described here.

[pfSense docs](https://docs.netgate.com/pfsense/en/latest/hardware/tune.html#pppoe-with-multi-queue-nics) suggest that they have `net.isr.maxthreads=-1` as the default too (not sure abou

[2021-12-27 21:33] fichtner commented on #5415
I‘m sure you can make this easier by sharing a comparison table across hardware with throughput and sysctl combinations. It’ll make changing the defaults that much easier. Thanks!

[2021-12-28 01:04] agh1467 commented on #5427
@kulikov-a That's a good idea. I tried these changes, not with the opnsense theme, but with cicada theme. They didn't seem to have the desired affect. Something is still forcing the menu to drop up, and then go out of view. I did confirm that all of the menu items are there in the HTML, they just aren't in view.

I also noticed that scrolling moves the whole page, and isn't isolated to the menu it

[2021-12-28 02:39] agh1467 commented on #5427
Ok, so I kept poking at this, and I found where I think the dropup is occuring:

https://github.com/opnsense/core/blob/de3a021dd948c89c14cea2a49b07a9b4f0a2e227/src/opnsense/www/js/opnsense_theme.js#L65

Commenting that out prevents the dropup from occurring. It also prevents the dropup from occurring on **all** menus, so any that are near the bottom of the screen will continue to go down out of vi

[2021-12-28 02:59] agh1467 commented on #5407
@kulikov-a I checked this out and it addresses the issue I saw. Both fadeIn/fadeOut work as expected. Also I see what you mean about the content row visibility, my mistake. I thought it was an example of the issue of the rows not coming back. The rows that I saw the issue of them not coming back were in my plugin, and they reappear correctly now with the new commit.

[2021-12-28 04:14] kulikov-a commented on #5407
@agh1467 great, thanks! should I make a request from this or will you try?

[2021-12-28 05:30] agh1467 commented on #5407
I'm not sure what you mean, but if everyone agrees, I'll close my pull request, as there would be no need for it.

[2021-12-28 05:36] kulikov-a commented on #5407
Sorry, I mean, are you okay with the `MutationObserver()` variant and should I make a pull request from it or will you take care of it (may be improve something)?

[2021-12-28 05:46] agh1467 commented on #5407
I'm OK with the `MutationObserver()` variant. I don't have anything to make improvements on for it.

[2021-12-28 08:00] NOYB commented on #5434
@Hozmaster
What is GoDaddy API?  Guessing they don't support RFC 2136 updates?

As for turning off the host IP address checking.  Check this out.  It doesn't have the turn off feature specifically but it can be configured to use a check ip service of the user's choice.
It's not exact fit for what you're doing but may inspire some ideas.

DynDNS: Check IP Services - Plugin #1731
DynDNS: Check IP Se

[2021-12-28 13:55] #5407 closed

[2021-12-28 17:15] chelming commented on #1934
is this working as intended? it appears that squid.conf.TARGET will be read as a target and look for paths specified in it but won't actually override squid.conf located a directory above?

the actual practice appears to be: inside of +TARGETS.D create a file like `override.TARGET` containing
[code]
and creating example_simple_page.txt in the `src/opnsense/service/templates/OPNsense/Proxy` directo

[2021-12-28 18:30] AdSchellevis commented on #1934
@chelming

That is indeed the intended purpose, overwrite definitions with custom ones.

https://github.com/opnsense/core/blob/88ab77fc85ec0d06dbb9fda72da7daae88a45704/src/opnsense/service/modules/template.py#L90-L93

Overwrite system defined or plugin defined configuration files with those of your own. As mentioned in the docs, handle with care as the original configuration file is likely subject

[2021-12-28 19:32] chelming commented on #1934
I think my confusion is based around overriding the target vs overriding
the config file itself. Based on the documentation it makes it seem like
you can override the conf file by putting a new one in +TARGETS.D as
opposed to a generic .TARGET file with the definition for the file to be
overridden.

of your own.

Right, I get the purpose, but what's the difference between having separate
+TARGETS.

[2021-12-28 19:35] AdSchellevis commented on #1934
There isn't, all files are processed in order so different "vendors" can plug different files from the base target definition file.

[2021-12-28 19:38] chelming commented on #1934
Got it, thanks. I want to try and update the documentation for people like
me who are unfamiliar with targets to add some clarity and an example of
how to override a specific file and wanted to make sure I understood what
was happening.

On Tue, Dec 28, 2021, 2:35 PM Ad Schellevis ***@***.***>
wrote:

[2021-12-29 10:05] vnxme opened #5437 "IPsec: Seemingly wrong left side configuration code order in ipsec.inc"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

While working on #

[2021-12-29 18:05] #5080 closed

[2021-12-29 20:23] cbenning opened #5438 "Entire router stops responding periodically"
**Router stops responding periodically*

Every few days usually (but sometimes multiple times per day) my device stops routing traffic or responding to any traffic. There is absolutely nothing in the logs of any concern or around that time. I am forced to hard-reset every time.

It seems like some other people are having a similar issue with my same hardware and it was being discussed on reddit: h

[2021-12-29 22:25] 8191 opened #5439 "Store bootgrid settings in local browser storage"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2021-12-30 00:53] cbenning opened #5440 "Entire router stops responding periodically"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Every few days usu

[2021-12-30 00:53] #5438 closed

[2021-12-30 06:11] mimugmail commented on #5440
Screenshot of running Services (Dashboard).
May happen due to broken RAM or HDD.
Any chance to plug in a monitor to see console logs?

[2021-12-30 06:44] cbenning commented on #5440
The HDMI port on my device does not seem to work with my monitors so it is tricky. I have ordered an RJ45 serial cable and will report back findings.

[2021-12-30 08:23] AdSchellevis commented on #5439
@8191 I've kept https://github.com/opnsense/jquery-bootgrid up to date with our changes in core, but it has been a long time since I last tried to really build the component. I don't mind accepting PR's on our fork as long as the grunt build still works. Unfortunately the original component seems more or less dead since we start using it.

[2021-12-30 09:17] AdSchellevis opened #5441 "Services / Unbound DNS - unbound-anchor for exclusive DNS over TLS setups"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

After switching Un

[2021-12-31 00:26] 8191 commented on #5439
@AdSchellevis While creating PR opnsense/jquery-bootgrid#5 I recognized that parts of this functionality is already implemented in the OPNsense Bootgrid plugin wrapper:

Store settings:
https://github.com/opnsense/core/blob/6439c039d571519196e4c1cf5733006dcfa1321d/src/opnsense/www/js/opnsense_bootgrid_plugin.js#L398-L422

Load settings:
https://github.com/opnsense/core/blob/6439c039d571519196e4c1c

[2021-12-31 04:21] agh1467 commented on #5432
I looked into this, and found that this is a result of the following structure:

https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/controllers/OPNsense/Base/ApiControllerBase.php#L247-L251
[code]

The function `htmlspecialchars(json_encode($data), ENT_NOQUOTES)` is converting the ampersand to a HTML safe version. It should also be doing it for all the other special characters as we

[2021-12-31 05:11] agh1467 commented on #5432
Ok. I have a working solution. This is in the Javascript for when the table row is built, and sends the text through `innerHTML` and then we pull the value which will result in decoding of the encoded entities.

https://github.com/agh1467/core/commit/efd25656404f2db06d2df2f0998893a7dfd24e9a

@kulikov-a Would you happen to have an opinion on this?

[2021-12-31 06:57] kulikov-a commented on #5432
@agh1467 Hi!
I'm not a security expert (and by the way, not a dev  :wink:  Perhaps you wanted to ask @AdSchellevis  opinion?), but in my understanding, XSS mitigate is not even necessary here: this is not arbitrary input field, rule description is stored in the config in encoded form. so, technically, a code like:
[code]
should be ok too.

[2021-12-31 08:33] AdSchellevis commented on #5432
@kulikov-a  in this case `item.html()` might be rather safe, since the endpoint doesn't return unescaped data, but in order to unpack and prevent execution we should html decode the data and put it back in as @agh1467 suggests, although we shouldn't need an additional object to do so  in my opinion. In @agh1467's example the `textarea` type is just a wrapper to dump data without evaluation and fet

[2021-12-31 08:43] AdSchellevis commented on #5439
@8191 I agree the `jquery-bootgrid` is the logical place, back in 2019 I was probably still hoping the original project would come to live at some point, so I rather stayed away from changing the original source. I used this quite often in other projects, but for some reason  never enabled it by default on the other grids.

Let's go for option 1, I will probably need some time to review and test b

[2021-12-31 08:44] 8191 commented on #5439
@AdSchellevis Great! I'll prepare a PR for core then.

[2021-12-31 11:22] kulikov-a commented on #5432
@AdSchellevis Hi. Coud you explain in a little more detail please. I always thought the `log_td.text(log_td.html(record[column_name]).text());` technique is XSS-vulnerable (can be verified with a `b = $("<td/>").text($('<img src=a onerror=alert("XSS")>').html().text());` in the console. jquery required). so if we still implement XSS protection then we should use the `textarea ` technique. but if w

[2021-12-31 11:35] AdSchellevis commented on #5432
@kulikov-a you're right, mine works with a <script> tag, but fails on your test case. I think you're right, we better opt for a simple `html()`  here as the endpoint isn't capable of delivering unescaped data. I'm also not 100% sure you can't breakout the `textarea`  construction either.  If you have time for a PR, be my guest :)

[2021-12-31 11:43] kulikov-a commented on #5432
@AdSchellevis thanks!)
yes, I also think that `textarea `should be checked on injection like `</textarea><img src=# onerror=alert("XSS")>`
` If you have time for a PR`
sure, thanks!

[2021-12-31 14:02] agh1467 commented on #5432
Thanks for taking a look, everyone! Can this be re-closed now? Both the main view label, and the detail pane label have been fixed now.

[2021-12-31 14:05] AdSchellevis commented on #5432
@agh1467 let's close this one indeed. thanks!

[2021-12-31 14:05] #5432 closed

[2021-12-31 16:41] agh1467 commented on #5308
Considering that nested `ArrayField`s aren't possible at the moment using MVC, maybe the existing `/services_dhcp.php?if=lan&act=newpool` could be changed to support arbitrary pool definitions? It looks like the current functionality allows for additional pools only within the interface subnet, and it pre-defines subnet and subnet mask which would have to be editable to support arbitrary subnet de

[2021-12-31 17:16] jonathonwiebe opened #5446 "Auto-generated firewall rules block IPv6 link local (fe80::/10) to multicast traffic (ff02::/16)"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The auto-gener

[2021-12-31 17:16] jonathonwiebe opened #5528 "Auto-generated firewall rules block IPv6 link local (fe80::/10) to multicast traffic (ff02::/16)"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The auto-gener

[2021-12-31 18:53] agh1467 commented on #5307
Maybe wireguard isn't the only thing affected by this. I didn't see any specific code for setting the gateway in the source at all, so I would assume that any filter rule created from this would use the default gateway. I could easily be mistaken though. There is even a bit of help text which mentions something similar:

Regardless, I put this together:

https://github.com/agh1467/core/commit/0ccb

[2021-12-31 19:58] fichtner commented on #5446
Thanks for the analysis. This is a bit strange since LAN networks „:network“ metric should include link-local but apparently it doesn’t. I’ll need to check the OS code on this…

Cheers,
Franco

[2021-12-31 19:58] fichtner commented on #5446
PS: can you grab the rule in question for me from /tmp/rules.debug ?

[2021-12-31 21:08] NOYB commented on #5432
Thanks everyone.  Looks good.  Clean and concise.

[2021-12-31 22:37] fichtner commented on #5446
Hmm, so (xxx:network) excludes Link local which for from and to doesn’t make any sense. We do have issues with these on NAT targets, but the pf code doesn’t distinguish between from/to and target use cases in the first place, unfortunately.
 https://github.com/opnsense/src/blob/e7c2aea3c4788d11ff3c60a1a98cd6aa8f9c96df/sys/netpfil/pf/pf_if.c#L560-L564

[2021-12-31 22:46] fichtner commented on #5446
I traced this back to 2003 where a large blob appeared in OpenBSD that added the link-local exclusion but it doesn’t mention why…

https://github.com/openbsd/src/commit/ec359bd517bfb091098376e822c97cd76e87e41c

[2022-01-01 14:33] eimann opened #5447 "MTU/MSS change not possible with VIPs assigned"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
In Interface > [Int

[2022-01-01 14:49] fichtner commented on #5447
Hi @eimann, I think this limitation was lifted from upcoming 22.1 or there is a ticket for it to do it.

Cheers,
Franco

[2022-01-01 16:14] eimann commented on #5447
Thanks @fichtner I'll check once released :)

[2022-01-01 17:14] agh1467 commented on #5390
I found a couple of things while investigating this. I welcome any corrections/opinions as I kind of went down the rabbit hole on this one.
1. The `dhclient` binary doesn't appear to have a documented function to explicitly performing a release. This is typically done with a `-r`, and as stated in a Linux Man page I found, "This is not required by the DHCP protocol, but some ISPs require their cli

[2022-01-02 08:21] 8191 opened #5450 "Insecure Default Hash Algorithms for IPsec P2"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When creating a ne

[2022-01-02 11:45] MAngel666 opened #5451 "Dyn DNS doesnt work correctly in MultiWAN on same subnet"
The Dyn DNS plugin doesnt set correctly the dyndomain ip's on a mulit wan on same subnet szenario.

I try to set 2 dyn domains on 2 wan connections. All are set to the first one ip, thats my higher priority default gateway.
It has worked with multi wan on 2 subnets.

I have 2 groups of gateways, where the one wan connection is a fallback for the other one.
I use the group gateway interfaces to set

[2022-01-02 14:32] AdSchellevis commented on #5450
@8191 how about https://github.com/opnsense/core/commit/dd1776030c2fac435be19d6dc82c9c9f5e442896? for most setups the aesgcm variants are the best option to use in terms of security and performance, so maybe best select those as defaults while here too.

[2022-01-02 15:56] 8191 commented on #5450
Sorry, should have pulled before...

[2022-01-02 23:53] Danny2100 opened #5452 "LAN to LAN Traffic is Being Blocked"
I set Opnsense up yesterday on a protectli.

I have 3 Networks.

LAN 192.168.1.0/24
IOT 192.168.4.0/24
IPCameras 192.168.2.0/24

LAN and IOT have internet and are functional. IPCameras is functional as well with 0 internet access just 3 ports are open to the blue iris server only.

On LAN I have phones and a blue iris server besides other things but this is where I noticed an issue.

There is a "d

[2022-01-03 05:31] brad0 opened #5453 "radvd does not start up with 22.1"
I upgraded to 22.1 and radvd no longer starts up.

The web UI mentioned an error..

PHP Warning:  Invalid argument supplied for foreach() in /usr/local/www/services_router_advertisements.php on line 334

OPNsense 22.1.b_141-amd64

[2022-01-03 06:20] StephanBiegel opened #5454 "Automatic backup to FTP over time triggered or on setting change"
I suggest a backup to an FTP server.

Either on a time scheduled or / and every time changes are made to the settings.

[2022-01-03 07:33] fichtner commented on #5453
@brad0 the error should be in the system log:

    # opnsense-log | grep radvd

I don't think the PHP warning is related just yet.

Cheers,
Franco

[2022-01-03 07:45] fichtner commented on #5452
Your issue is really not with a stateful firewall when your LAN traffic is not finding itself away from the firewall. Your LAN traffic does not communicate over OPNsense. Never. Check your switches and cabling.

Cheers,
Franco

[2022-01-03 09:48] Danny2100 commented on #5452
How come it shows it's being blocked though?

[2022-01-03 09:49] fichtner commented on #5452
It's the correct question, but I can't give the answer. It's being blocked because it shouldn't arrive at the firewall. It's also irrelevant because the firewall won't be able to block on the switch behind it....

[2022-01-03 09:51] fichtner commented on #5452
Maybe more clear: it's blocking transit from LAN to outside networks where your internal LAN traffic shouldn't be going. So it's doing the correct thing really.

[2022-01-03 10:02] Danny2100 commented on #5452
I found the issue after you said it's likely a switch/destination issue.

I had my server setup with a subnet mask of 255.255.255.255  by accident when it should be 255.255.255.0 it works now. Thank you for your help I would have never thought of it.

[2022-01-03 10:35] fichtner commented on #5452
Nice, happy to be of help :)

[2022-01-03 10:35] #5452 closed

[2022-01-03 12:41] fichtner commented on #5447
@eimann FYI it's e6f9b9a38832

    # opnsense-patch e6f9b9a38832

Feel free to close if this works for you. :)

Cheers,
Franco

[2022-01-03 13:58] cmprmsd commented on #5303
When testing LDAP integration with OPNSense we also wondered how the deletion of group memberships on the domain is handled. Currently it seems that the user is not revoked from the group, when I remove the user from the domain group.

Synchronization only adds people to the local group but does not revoke the access.

At least this feature should be implemented in order to make sure no access is

[2022-01-03 15:23] AdSchellevis commented on #5303
@cmprmsd ldap group membership is enforced upon login when "Synchronize groups" is used (https://docs.opnsense.org/manual/how-tos/user-ldap.html#step-1-add-new-ldap-server).

[2022-01-03 15:27] cmprmsd commented on #5303
We use synchronize groups. But when the user is removed from the group the user is not removed from the local opnsense group.

I only tested it with the "test user" functionality.
Maybe that's a workflow issue with the test user menu?

The user should be removed from the local group when the user is removed in active directory right?

[2022-01-03 15:30] AdSchellevis commented on #5303
when the user is successfully logged in, the groups will be synced first. cleaning up (removing) users automatically is only offered in the Business Edition (as mentioned in the docs)

[2022-01-03 18:45] cmprmsd commented on #5303
Oh yeah, there it is:

Sad. Didn't know there are features that are available only in a paid version. 😿

Thanks for the clarification though!

[2022-01-03 18:50] AdSchellevis commented on #5303
You can also delete users manually on periodic bases, if there's no user in LDAP, it can't login anyway so usually there's no real rush... but on the other end, it's not that odd paying a few bucks for software your using every day ;)

[2022-01-03 18:53] cmprmsd commented on #5303
That is true. The pricing seems reasonable :)
Have a great new year 😊

[2022-01-03 19:05] #5085 closed

[2022-01-03 20:47] eimann commented on #5447
Hey Franco,

the live patching is certainly cool :-O
And the patch works to my satisfaction. Thank you very much for getting back to it so fast!

Cheers,
Dominik

[2022-01-03 20:47] #5447 closed

[2022-01-03 22:37] tomlawesome opened #5455 "Update GUI to remove reference to voldemort (pfSense)"
![image](https://user-images.githubusercontent.com/76453276/147987852-3ed41bd8-55a2-4208-8f5e-e61385aab446.png)

The High Availability section still includes a reference to ~~voldemort~~ pfSense

[2022-01-03 22:39] #5455 closed

[2022-01-04 02:20] brad0 commented on #5453
It doesn't show anything. Anything else to check?

[2022-01-04 04:50] agh1467 commented on #5453
@brad0 Can you try: `opnsense-log routing`

[2022-01-04 07:58] fichtner commented on #5455
@tomlawesome no worries, we appreciate any heads-up :)

[2022-01-04 11:52] kabaga opened #5456 "IPSec site-to-site is not connecting"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I am using Wir

[2022-01-04 12:20] mimugmail commented on #5456
First of all, disable BGP and try to get up the tunnel. Screenshots would be fine.
Also please be sure to not announce networks used for PtP links in VTI setup.

[2022-01-04 12:25] fichtner commented on #5447
@eimann cool, make sure to reapply when needed after next 21.7.x updates... but as said will be in 22.1 by default.

Cheers,
Franco

[2022-01-04 12:40] kabaga commented on #5456
I disabled the BGP neighbor config. I fixed the screenshot links

[2022-01-04 12:53] Seegras commented on #3993
Also this keeps you from automatic login and password management from working. So please do not set autocomplete=off on the login-page.

[2022-01-04 12:57] mimugmail commented on #5456
In you Phase1 you DISABLE nat translation and in logs your endpoint wants/needs it. You should set it to enable or force as there is a nat device in between.

[2022-01-04 13:17] AdSchellevis commented on #3993
@Seegras and I assume you checked if it was indeed changed in upcoming 22.1 before placing a comment...

https://github.com/opnsense/core/blob/a99a6549eb0fe4eb85e83fc725262dc920ff5bb8/src/etc/inc/authgui.inc#L361-L369

[2022-01-04 22:37] kabaga commented on #5456
There is no NAT device in between. Both OPNsense firewalls have public IP address. Also, the log screenshot the 4500/udp is coming from the main firewall and its config shows in the config screenshots.

I added inbound dst 4500/udp on WAN. I enabled the NAT traversal on both firewalls and I still can't reach the other end of the tunnel.

[2022-01-04 23:48] brad0 commented on #5453
[code]

[2022-01-05 05:35] mimugmail commented on #5456
As I said, you need to set nat in Phase1 to force and restart

[2022-01-05 06:57] fichtner commented on #5453
Tracking WAN on a manual loopback device? I've seen before this doesn't work.

[2022-01-05 07:08] 8191 commented on #5450
@AdSchellevis I just stumbled upon  [this change in FreeBSD 13](https://cgit.freebsd.org/src/commit/?id=16aabb761c0a). It seems that most legacy algos are not even supported anymore.

[2022-01-05 07:28] fichtner commented on #5450
That seems rather excessive and destructive oO

[2022-01-05 08:22] AdSchellevis commented on #5450
That does indeed seems rather excessive and destructive, it's also pretty weird removing non-recommended protocols, as they are, well, not recommend, but certainly not forbidden (https://wiki.strongswan.org/projects/strongswan/wiki/Changelog56#Version-561).

We should probably discuss reverting that commit on our end for 22.1, as this will cripple quite some setups for no valid reason.
In the long

[2022-01-05 09:12] fichtner opened #5458 "system: more visibility for tunables"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-05 09:13] #5458 closed

[2022-01-05 10:01] fichtner commented on #5450
There is no point reverting stuff like https://cgit.freebsd.org/src/commit/?id=16aabb761c0a as it comes with a 1,5 year trail of functional removal and reworks of opencrypto kernel library. What we need to do is assess real world impact and offer appropriate migration notes.

[2022-01-05 10:10] kabaga commented on #5456
I have enabled and forced NAT travelsal.

This is the logs I was getting
[code]

[2022-01-05 10:14] swhite2 commented on #5441
There are actually multiple sides to this problem. According to the documentation provided in https://github.com/NLnetLabs/unbound/blob/master/smallapp/unbound-anchor.c, `unbound-anchor` will use DNSKEY UDP queries to verify that the current local root certificate is valid - and update the root anchor file accordingly. If this fails, an RFC7958 built-in certificate is fetched over HTTPS and replac

[2022-01-05 10:16] 8191 commented on #5450
👍 to temporarily reverting this for 22.1, but we should anyway add a warning maybe to the release notes of 22.1 (that those algos are now deprecated and subject of removal in 22.7) and I would even display a warning banner in the IPsec config page as long as one connection uses such an algo.

[2022-01-05 10:21] 8191 commented on #5450
@fichtner Sorry didn't see your comment before.
Well now it's a bit late for migration notes and recommendations. We should have done this with 21.7.7... Don't you think?
It lies in the nature of a VPN that one wants to interface a device of a potential third party without direct control of their capabilities. A short transition phase would be appreciated by many users I'd assume...

[2022-01-05 10:40] 8191 commented on #5450
Hm. Valid point, @fichtner
Well then the only option is to remove the algos and add this breaking change prominently to the release notes of 22.1 giving users the option to defer an update until their peers are ready.

[2022-01-05 13:55] 8191 commented on #5456
As you are using IKEv2, this parameter is ignored and negotiated. If there is any NAT performed in between, it's enabled, otherwise disabled. According to the log above in your case it is enabled, presumably as either end detects a NAT being in place.

Which connection mode do you have configured? _default_ or _Start immediate_? Do you have the possibility to do a tcpdump on both ends?

----
From

[2022-01-05 15:35] aledalla opened #5459 "Captive Portal not redirecting to login page"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Captive Portal h

[2022-01-05 16:34] 8191 commented on #5456
I've just checked the code and the setting _NAT Traversal_ on/off in fact only controls the automatic generated firewall rules (add rule for udp/4500).
Only the setting "force" has an impact to IKE itself.

[2022-01-05 19:02] kevemueller opened #5460 "Web Proxy emits flawed configuration file for FTP proxy"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
When selecting th

[2022-01-05 19:07] brad0 commented on #5453
I have not knowingly configured anything regarding the loopback interface. All I did configure was the VLAN interfaces and that's it.

[2022-01-05 19:13] fichtner commented on #5453
Well, in any case this is not normal so at least for community support I’d take one more look at the following:

    # ifconfig
    # cat /var/etc/radvd.conf

Cheers,
Franco

[2022-01-05 20:26] kabaga commented on #5456
i tried to set nat-t to enable and force, but the firewalls still could not ping each other. Can you share a screenshot that is known working route based IPsec site-to-site?
If you can also provide a working the FRR BGP config with it that would be nice

[2022-01-05 20:41] rmundel commented on #5440
I have the various strange behaviour with virtualized envoirnments, sometimes every few days, in other cases a couple times per month. Couldn't detect any pattern.
Here's what I observed so far:

- Happens and multiple hosts running Proxmox, versions 5.4 to 7.1
- With and without qemu-guest-agent
- With vritio interfaces and e1000,
- Web interface randomly freezes
- Gateways show as down, can't pi

[2022-01-05 23:39] brad0 commented on #5453
[code]
root@inet-fw:~ # cat /var/etc/radvd.conf
# Automatically generated, do not edit
[code]

[2022-01-06 02:05] cbenning commented on #5440
So I hooked up to the console before it died again and there is nothing in any log I can find aside from the fact that my main LAN interface seems to go down/up on it's own for some reason? I'm not sure why it does this but it does seem to be the main suspect since when I switched to another of the LAN nics on my other VLANs they appeared to be working.

I removed AdGuardHome to a separate machine

[2022-01-06 06:57] 8191 commented on #5456
![p1](https://user-images.githubusercontent.com/5854959/148341894-5d8644d4-b9bd-4648-aa46-888667dbe4e9.png)
![p2](https://user-images.githubusercontent.com/5854959/148341895-822fdddc-011b-4781-95b3-2a3d861f557d.png)
![gw](https://user-images.githubusercontent.com/5854959/148341889-2332d8ad-1382-42b1-99e3-902fa6a9106c.png)
![route](https://user-images.githubusercontent.com/5854959/148341897-6790e48

[2022-01-06 07:44] 8191 opened #5464 "IPsec with 22.1 does not work out of the box"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When configuring a

[2022-01-06 07:45] fichtner commented on #5464
Is this for route-based connections?

[2022-01-06 07:46] 8191 commented on #5464
General - for all kind of connections

[2022-01-06 07:47] fichtner commented on #5464
@AdSchellevis and I were testing due to MD5 HMAC yesterday and haven't seen this? hmmmm

[2022-01-06 07:47] 8191 commented on #5464
What I don't understand is, why for FreeBSD 12 the kernel module is not needed, but for FreeBSD 13 now it is.

Output from 22.1 (with working IPsec):
[code]

Output from 21.7 (with working IPsec):
[code]

[2022-01-06 07:49] fichtner commented on #5464
https://github.com/opnsense/src/commit/542970fa2d3fb4 then

[2022-01-06 07:52] fichtner commented on #5464
We can add it to loader but it would be nicer if strongswan did it

[2022-01-06 07:52] 8191 commented on #5464
Is the module loaded (for whatever reason) on your test env?

Why not adding it globally, unconditionally, via rc.loader.d/20-modules?

[2022-01-06 07:54] AdSchellevis commented on #5464
Let me bootup the test vm, it was migrated into 22.1 but worked instantly

[2022-01-06 07:55] fichtner commented on #5464
I don't see why it should be. The commit mentioned ifconfig can load it automatically. Maybe the difference is still route-based vs. enc0.

That's what I meant, but if it's such a performance penalty users who don't need ipsec might not want that.

[2022-01-06 07:59] AdSchellevis commented on #5464
yep, the module is loaded on my end, which is logical when ifconfig loads it. So for non VTI tunnels we might need to make sure it's loaded from our service boilerplate.

[2022-01-06 07:59] fichtner commented on #5464
I guess we should just follow https://github.com/freebsd/freebsd-ports/commit/3b35676c7a812c7 as the commit implied when we start strongswan (ipsec configure)

[2022-01-06 08:06] AdSchellevis commented on #5464
shall I add this one while working on removing the non supported ciphers? I do have changes planned in the same file anyway

[2022-01-06 08:08] fichtner commented on #5464
I don't see where this went afterwards in racoon2... the code seems to disappear indicating that they reintroduced the problem later on, but please do use it if it works. Handing ticket over.

[2022-01-06 08:11] 8191 commented on #5464
The reason why ifconfig does not load the module for tunnels seems to be here:
https://github.com/opnsense/src/blob/c101da50ed8c3de61b4728e06370e6e496dff071/sbin/ifconfig/ifconfig.c#L147-L154

[2022-01-06 08:13] fichtner commented on #5464
it's not really ifconfigs fault in this case. if you load the module I think enc0 appears so either we need to ifconfig enc create once if enc0 isn't there or use the sysctl/kldload approach.

[2022-01-06 08:14] fichtner commented on #5464
(creating enc0 if it doesn't exist if it loads the kernel module looks like a more logical approach)

[2022-01-06 10:54] kabaga commented on #5456
Is the local address needs to be the subnet?
I didn't change any IP addresses and I am using the WAN interface otherwise my config is the same. However, it is still not working for me.
I didn't create a static route since I will be using BGP, but regardless, I should be able to ping the tunnel interface

[2022-01-06 11:00] kabaga commented on #5426
Yes, if there is a long list ellipses + hover over (similar) to aliases would be great or an option to drag the column space horizontally.

[2022-01-06 11:05] mimugmail commented on #5456
Can you Show a screenshot of IPsec Status page, Routing table and check packets in enc0

[2022-01-06 11:09] fichtner commented on #5453
Not sure what is going on, but radvd is empty so maybe no tracking enabled? It should have said in the initial post.

[2022-01-06 12:09] 8191 commented on #5456
No. The local address is any (virtual) transit IP. Does not even need to be part of a valid net (not even a netmask is provided). I use e.g. 172.16.0.0 for one side and 172.16.0.8 for the other side. The IP is later assigned to the virtual ipsec* interface and therefore should not be part of any other physical or logical network interface on any of your nodes.

[2022-01-06 12:53] agh1467 commented on #5453
I find it strange that the log messages reference the example configuration file with line number: `/usr/local/etc/radvd.conf:111`

Which, this file includes exclusively a setting for loopback:
[code]
I'm not sure why radvd would be using that file over the one in /var/etc/ though.

[2022-01-06 13:19] #5450 closed

[2022-01-06 13:20] AdSchellevis commented on #5464
fixed in https://github.com/opnsense/core/commit/7672d54c78c794bce8f42603e5c0fc81fd2246bd

[2022-01-06 13:20] #5464 closed

[2022-01-06 13:21] fichtner commented on #5453
If it goes to the default if the given config is empty that could explain it, but it’s really not that relevant in the grand scheme of things. I can’t see what is broken that should work (configuration issue likely).

[2022-01-06 13:24] agh1467 commented on #5453
I was able to reproduce those messages by manually starting radvd with `/usr/local/etc/rc.d/radvd onestart`

[code]

`/usr/local/etc/rc.d/radvd` references that config file:
[code]

I think somehow the `radvd_enable="YES"` got added to the rc conf, and it's trying to start through rc.

I did a quick grep through the source and I don't see a provision for setting that to "YES", and on my system whe

[2022-01-06 13:37] fichtner commented on #5453
Yep, legacy service integration does not use rc.d… we only started using it after forking.

[2022-01-06 17:46] maxkratz opened #5466 "DynDNS pushes temporary private IP address to dynamic DNS provider"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

-> I'm not quite sure about the second c

[2022-01-06 21:58] kabaga commented on #5456
Here is the screenshots of the status overview page of both firewalls. On the remote site, there is no entry for 192.168.1.1 which is the IP address of the Main site's IPsec interfaces.

https://imgur.com/a/GjeGRPP

[2022-01-07 11:42] fichtner opened #5467 "system: stray set_single_sysctl()/set_sysctl() ignore tunables GUI settings"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2022-01-07 19:05] #5090 closed

[2022-01-07 22:32] evulhotdog commented on #5150
I experience this issue and have never had Dynamic state reset enabled, and my Unbound fails to start on boot.

[2022-01-08 10:26] fichtner commented on #5150
@evulhotdog so not your bug, maybe you should take a look at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md

Thanks,
Franco

[2022-01-09 02:52] brad0 commented on #5453
So what do I need to do to fix this?

[2022-01-09 07:37] fichtner commented on #5453
I’m unsure what the goalpost is. You keep giving no further information on what you actually expect other than radvd starting, which is irrelevant without configuration and ISP considerations.

[2022-01-09 08:44] brad0 commented on #5453
radvd starts and runs, like it did (without changing anything) before updating from 21.7 to 22.1.

My setup is very simple and straightforward. It's using a 6in4 tunnel with static IPs on each VLAN interface.

![Screenshot_4](https://user-images.githubusercontent.com/1129902/148674407-b8e6a79d-f5a8-4593-9c01-2fb7f260023c.jpg)

![Screenshot_5](https://user-images.githubusercontent.com/1129902/14867

[2022-01-09 09:29] fichtner commented on #5453
Radvd only starts when you configure tracking Interfaces, but then you need a prefix lager than /64 anyway on your tunnel. Despite radvd not starting what sort of functionality have you lost from radcd not starting?

[2022-01-09 10:22] brad0 commented on #5453
That makes absolutely no sense. Having greater than a /64 on a tunnel makes no sense either. Who broke things?

A network that doesn't work. Even if I didn't care about SLAAC (which I do) RA is required.

[2022-01-09 10:47] fichtner commented on #5453
I’m sorry to say this is a waste of both of our time.

[2022-01-10 09:05] #5094 closed

[2022-01-10 09:12] Malunke commented on #5094
reopen because there is no solution yet

[2022-01-10 09:14] fichtner commented on #5094
There's no progress for three months. Let's please start to be realistic about this issue and it's lack of actionable information. As per contribution guidelines updates can be made and if clarity arises the ticket will be reopened.

Cheers,
Franco

[2022-01-10 09:28] Malunke commented on #5094
Ich möchte nicht schon wieder eine Grundsatzdiskussion über die Art und Weise der Behandlung von "seltenen" Problemen starten, dass ist nicht zielführend.

Es haben aber mehrere Personen nachvollziehbar geschildert, dass das Problem bei Ihnen auftritt und nachvollzogen werden kann. Ich kann leider nicht beliebig zwischen Versionen hin- und herspringen, sonst könnte ich auch etwas mehr dazu beitrag

[2022-01-10 09:41] fichtner commented on #5094
I'd really appreciate it. :) I did work on shared forwarding for a couple of weeks now for FreeBSD 13 and this constant nagging here for free support isn't really useful.

Cheers,
Franco

[2022-01-10 10:15] Malunke commented on #5094
Had you tried your shared forwarding project with FreeBSD 13 with the same config we're using here (some graphics show the configuration) especially with VLANs and virtual (vmxnet) interfaces? I can also send my xml-file if you are interested. Also a Teamviewer session is possible if somebody from developers team is interested.

I can only say - the problem still exists in the actual version. And

[2022-01-10 10:18] fichtner commented on #5094
I'm not here to offer free support. 3 beta versions have been posted and on Wednesday we will have the first release candidate. If you have energy to discuss how community rules don't apply in this particular case you also have energy to test the FreeBSD 13 code.

Cheers,
Franco

[2022-01-10 15:06] TheHellSite opened #5469 ""/var/log/flowd.log" not rotating - filling up disk"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

--> Well the issue is not entirely n

[2022-01-11 14:05] #5096 closed

[2022-01-11 14:31] ZsZs73 opened #5470 "system/ntpd rate limit on by default, restrict: detach limited from kod"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I have searched the existing issues and I am convinced that mine is new.

**Is your feature request related to a problem? Please describe.**
I've learned it in the hard way that the

[2022-01-11 15:29] ZsZs73 commented on #5470
Some humans might still be interested in this.

[2022-01-11 18:00] Rapterron commented on #5094
Hi guys,

Sorry I should have answered earlier but you know life happens and I totally lost track about this.

I started at a new my job and have no access to my old testlab anymore so unfortunately I would need to rebuild anything from scratch.

Since I am working now for a German ISP in the hosting and network area I got a deeper understanding of professional firewall systems and bandwidth. I th

[2022-01-11 23:08] lordraiden commented on #5415
Or just use Google to find the evidence of a topic that has been beaten to death and documented in multiple forums

[2022-01-11 23:14] lordraiden commented on #5415
https://redmine.pfsense.org/issues/4821

And the golden source
https://calomel.org/freebsd_network_tuning.html

https://calomel.org/network_performance.html

[2022-01-12 04:25] agussutrisno1979 commented on #5459
I have that problem, too. can't automatically enter login page
can access login page with  enter manually gateway address with port 8000

[2022-01-12 05:43] fichtner commented on #5415
Yeah, not really. ;)

[2022-01-12 06:39] lordraiden commented on #5415
Yeah

[2022-01-12 06:50] fichtner commented on #5415
So what’s the reason FreeBSD has this default and doesn’t listen to “authorities” on the subject?

[2022-01-12 06:58] lordraiden commented on #5415
Maybe is because freebsd is not designed to be a firewall only, I don't know

Men you asked for documentation (all the settings are explained with pro and cons), evidence and tests, now you have it, do as you wish.

[2022-01-12 07:09] lordraiden commented on #5415
In addition @amezin was asking for exposing the settings in the web ui if instead of making them the default if you see any risks. I think this will help people but you have to value how important is.
85% all but 1 operator are using ppoe.

If you decide to review the information there are more settings that can be exposed and will help performance

[2022-01-12 07:18] mimugmail commented on #5415
@lordraiden its nearly impossible to find something stable for all situations and scenarios with just google and since operating System changes defaults over time (and CPU gets better) its also quite hard to keep defaults up2date. Similar to a discussion about IPsec defaults (which is way easier to handle). Usually you only change defaults when know 100% the impact. IMHO there needs to be a reprod

[2022-01-12 07:42] lordraiden commented on #5415
@mimugmail then expose the settings in the UI explain them base on the config file commented by calomel and let the people choose.

Some settings are validated and documented  by other comercial firewalls so you are not jumping into the void

[2022-01-12 07:55] fichtner commented on #5470
@ZsZs73 it would still be nice to have the full template in the report (with the confirmation  checkboxes in particular)

I'd opt for option 1 to not introduce too much code into the static pages since eventually we need to migrate away from it to MVC. Is that something you are capable of submitting? I'm happy to review PR together.

Cheers,
Franco

[2022-01-12 10:05] mimugmail commented on #5415
It is already, you add a tunable via UI?! The rest is up to the docs.

[2022-01-12 10:37] mimugmail commented on #5415
BTW, how lucky you are, dont get me wrong, in Germany also most of the users have pppoe, but speeds at 100 or 250 mbit are still very high. Here at home I have a 100/50 fiber pppoe conneted with a standard slow Celeron:
`CPU: Intel(R) Celeron(R) CPU  J1900  @ 1.99GHz (2000.05-MHz K8-class CPU)
`
This is my speedtest:
[code]

Quite sure also @fichtner has same values and Deciso in Netherlands don't

[2022-01-12 11:01] lordraiden commented on #5415
In my country everyone but Orange uses pppoe. 1gb connection are available in any big city or town. Some providers like Digi have already customers with 10gb as a beta service and the ont and router provided by orange when you buy the 1gbps service is already 2.5 gbps capable

[2022-01-12 11:19] mimugmail commented on #5415
Then most of the core dev's are not able to reproduce which makes it even harder to change defaults.

IMHO the best way would be:
- iperf to external IPerf server, single stream, and a linux firewall (e.g. ipfire) between to check if you reach full speeds. If you have full speed on 3 times of the day this is good.
- second would be the same test at the same time with default opnsense installation,

[2022-01-13 07:02] barzog commented on #3980
I confirm that on latest opnsense (21.7.7) this one exists and we receive 20k syslog messages per day per appliance.

[2022-01-13 08:00] barzog commented on #3980
But in my case creating /etc/rc.conf.d/devd with contents devd_flags="-q" and restarting /etc/rc.d/devd restart - solves problem

[2022-01-13 10:28] #5470 closed

[2022-01-13 15:20] zombielinux opened #5474 "No IPv6 Default gateway, no IPv6 internet when manually assigned."
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

DHCPv6 is not popu

[2022-01-13 19:31] fichtner opened #5475 "root: permission changed to 750, leaving /root/var persistent storage stranded"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2022-01-14 13:57] zaroth opened #5476 "PHP warnings on boot"
After rebooting OPNsense, the following bug report appears several times in the WebGUI. No visible issues at the first glance at least.

```PHP Warning:  in_array() expects parameter 2 to be array, null given in /usr/local/www/system_general.php on line 461```

System information:

[code]

[2022-01-14 22:05] #5105 closed

[2022-01-15 14:06] kulikov-a commented on #5476
config broken? no complaints about other lines like 47?

[2022-01-15 17:17] 8191 commented on #5476
I also thought about that, but regardless of the configuration `$pconfig['dnsallowoverride_exclude']` should be a valid array:
https://github.com/opnsense/core/blob/88334b838a13c7083f5ad29044ff65d4bb5f14ba/src/www/system_general.php#L46-L50

The only way I can imagine that `$pconfig['dnsallowoverride_exclude']` is null in line 461 is, that the page was accessed with neither a GET nor a POST reques

[2022-01-15 17:21] 8191 commented on #5476
I also thought about that, but regardless of the configuration `$pconfig['dnsallowoverride_exclude']` should be a valid array:
https://github.com/opnsense/core/blob/88334b838a13c7083f5ad29044ff65d4bb5f14ba/src/www/system_general.php#L46-L50

The only way I can imagine that `$pconfig['dnsallowoverride_exclude']` is null in line 461 is, that the page was accessed with neither a GET nor a POST reques

[2022-01-15 17:45] kulikov-a commented on #5476
or `$config['system']['dnsallowoverride_exclude']` returns array somehow?

[2022-01-15 18:58] lsbbs opened #5477 "Unbound reverse PTR records"
When I create multiple A records for the same IP address like

`name1.example.domain.   A  123.123.123.123`
`name2.example.domain.   A  123.123.123.123`

For each name also a PTR record is created.

`123.123.123.123.in-addr.arpa  PTR   name1.example.domain.`
`123.123.123.123.in-addr.arpa  PTR   name2.example.domain.`

There should be only one reverse record for each IP.
A checkbox if a PTR record

[2022-01-15 20:53] zaroth commented on #5476
@kulikov-a

Nope, that error message seems to be the only thing going wrong in the error log. I looked again closer at it and it seems to be 3 occurences with 2 error messages every time:

![image](https://user-images.githubusercontent.com/840021/149637317-92bad61c-37f4-4eac-b6f2-5ededca9cb90.png)

[2022-01-15 23:31] 8191 opened #5478 "Bootgrid: command-info requires get instead of info URL"
In the OPNsense UIBootgrid, the "info" action is only wired when a "get" URL is set:

https://github.com/opnsense/core/blob/88334b838a13c7083f5ad29044ff65d4bb5f14ba/src/opnsense/www/js/opnsense_bootgrid_plugin.js#L83-L86

Is this intended; or should it require the "info" URL, which is later actually used in the event handler?

https://github.com/opnsense/core/blob/88334b838a13c7083f5ad29044ff65d4b

[2022-01-15 23:32] 8191 commented on #5476
@zaroth Did you open the corresponding page using your browser? Or are these log entries without user interaction?

[2022-01-16 02:05] L1ghtn1ng commented on #5415
Just to add the UK uses PPPoE as well, it is more common than you think. Would be an idea to ask people on twitter maybe and in the forum and point people to a survey to get better understanding maybe? Or as @amezin mentioned detect that PPPoE is used, when you set your wan interface to it and then apply the changes in question? Mind you not sure what these changes would do if you are using RSS th

[2022-01-16 06:41] 8191 commented on #5478
"command-info" is not used at all so far, as I can see. So should have no impact to change.

[2022-01-16 10:27] zaroth commented on #5476
Unfortunately, it's hard to say now - I might very well have been modifying configuration at that time, even referring to DNS overrides, as recently I was updating my Unbound configuration in OPNsense. To check out if the issue still persists, I have restarted OPNsense today, navigated to all the tabs related to DNS I could think of, and there were no errors messages present in the dashboard this

[2022-01-16 10:45] AdSchellevis commented on #5478
It's used in
https://github.com/opnsense/plugins/blob/16f3522d08d30919b17e66bdec38352ef4c75208/net/zerotier/src/opnsense/mvc/app/views/OPNsense/Zerotier/index.volt#L48
 https://github.com/opnsense/plugins/blob/16f3522d08d30919b17e66bdec38352ef4c75208/net/zerotier/src/opnsense/mvc/app/views/OPNsense/Zerotier/index.volt#L104

Maybe also in some private repo's but I'm not 100% sure about that.

[2022-01-16 14:17] 8191 commented on #5478
You're totally right. I grep'ed for `command-info` which is not really useful in that case. ;-)

What's your opinion in changing the `requires: ['get']` to `requires: ['info']` in
https://github.com/opnsense/core/blob/88334b838a13c7083f5ad29044ff65d4bb5f14ba/src/opnsense/www/js/opnsense_bootgrid_plugin.js#L83-L86

[2022-01-16 17:58] AdSchellevis commented on #5478
Sounds like a good plan indeed.

[2022-01-16 18:59] Codelica opened #5479 "Top Talkers gives duplicate total for Total In and Total Out"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

In the Traffic "

[2022-01-16 19:12] #5479 closed

[2022-01-16 19:13] AdSchellevis commented on #5479
https://github.com/opnsense/core/commit/cb73aa736d381ab395f2c34545d40d821d0a7100 should do the trick, thanks for reporting!

[2022-01-16 19:15] Codelica opened #5480 "Allow Top Talkers table to be sorted in other ways"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a

[2022-01-17 08:41] fichtner commented on #4749
Only find_interface_network(6) left. Moving to 21.7.

[2022-01-17 08:42] #4993 closed

[2022-01-17 08:43] fichtner commented on #5227
Since clog has been removed I'm going to close this issue.

[2022-01-17 08:43] #5227 closed

[2022-01-17 08:44] fichtner commented on #5334
22.1-RC1 is out with all the code included so safe to close.

[2022-01-17 08:44] #5334 closed

[2022-01-17 08:45] #5337 closed

[2022-01-17 08:47] fichtner commented on #5366
Only LAGG, bridge and OpenVPN left. Reschedule to 21.7 to see how the others are performing without this trampoline.

[2022-01-17 09:12] fichtner commented on #5475
Revert the FreeBSD commit for now and reassess later.

[2022-01-17 10:05] #5111 closed

[2022-01-17 13:49] #5434 closed

[2022-01-17 14:34] AdSchellevis opened #5481 "Refactor web application security measures (DNS Rebinding, HTTP_REFERER enforcement)."
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-17 15:47] #5214 closed

[2022-01-17 15:48] #5371 closed

[2022-01-17 16:15] #5481 closed

[2022-01-17 16:35] #5102 closed

[2022-01-17 17:33] fichtner commented on #5476
@kulikov-a so can be closed?

[2022-01-17 17:39] kulikov-a commented on #5476
@fichtner yep, reproduced with a syntax error in the Domain field and an empty "Exclude interfaces" list. https://github.com/opnsense/core/commit/68775a50e8980cfa4d88f476260e321e7008ee45 fixes this. so imho it's definitely fixed )

[2022-01-17 17:54] fichtner commented on #5476
Ok great 😊

[2022-01-17 17:54] #5476 closed

[2022-01-17 19:07] #5439 closed

[2022-01-18 03:42] aphive commented on #4851
Don't mean to pester but any word on this feature ask?

Datadog released a great feature for their dashboards last year where you can be resized panels to predetermined column and row sizes by dragging from the bottom right corner of the panels, they give a full overview here: https://www.datadoghq.com/blog/datadog-dashboards/

[2022-01-18 03:48] aphive commented on #4928
@kulikov-a   How did you accomplish what you showed in the video? You should do a pull request to get that in the app. I added this not to my post, also adding it here just in case ...

Datadog released a great feature for their dashboards last year where you can be resized panels to predetermined column and row sizes by dragging from the bottom right corner of the panels, they give a full overvie

[2022-01-18 12:59] #5374 closed

[2022-01-18 13:00] ganguin opened #5486 "per-rule adaptative timeouts"
**Important notices**

**Is your feature request related to a problem? Please describe.**

I manage a setup with global adaptative timeout. Additionally, I have a max-src-state directive such that a single source cannot fill the global state table. However, with this configuration the adaptative timeout does not kick in when a user reaches his max-src-state. pf allows to configure the adaptative t

[2022-01-18 13:17] #5486 closed

[2022-01-18 13:18] ganguin opened #5487 "Per-rule adaptavie timeouts"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-18 15:33] kulikov-a commented on #4928
@aphive 9 months.. sorry, all the code is lost (a couple of bad moves and no backups. even the vm snapshot has long since been deleted and 22.1 is being tested on it). As far as I remember, the code was not complicated (obviously some kind of game with styles, buttons adding and storing one additional parameter in the config) and the result is (as seen) rather limited.
Not ready now to try to do i

[2022-01-18 17:28] kulikov-a commented on #5487
Hi. (im the one that answered on forum)
Are you sure that the default coefficients used by the `pf` to calculate the  `adaptive.start`, `adaptive.end` depending on the "Max states" value are not enough?
if you set "Max states" = 1000 in GUI it should give something like
`.. keep state (max 1000, adaptive.start 600, adaptive.end 1200) label ..` imho

[2022-01-18 17:38] #5224 closed

[2022-01-18 18:38] ganguin commented on #5487
I'm using max-src-states, not max states, but afaik it doesn't matter.

I did a lot of testing, and for our use case the default adaptative timeouts are not aggressive enough. The settings we came up we're more aggressive than default (iirc adaptative.end just 5% over the max) such that the it gets to a factor of 50 times down the default (120s TCP connect timeout down to about 2.4s when the state

[2022-01-18 19:49] kulikov-a commented on #5487
@ganguin thanks! (well reasoned imho)

[2022-01-19 12:24] fktssm opened #5489 "IPSec IKEv2 MacOS changes a default gateway."
I have StrongSwan configured, but in it I do not see the possibility of forcing the installation of routes from the client.

Windows doesn't work so badly. I can uncheck the flag: "use the primary gateway on the remote network" and force add a static route to the local network.

MacOS also forcibly adds a default gateway for the IKEv2 connection.

Although when using L2TP, you can remove the "Send

[2022-01-19 13:34] vogelfreiheit opened #5490 "configctl openvpn support"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-19 13:59] vogelfreiheit commented on #5490
That only leaves the cron part left to do it seems, although a manual crontab would obviously work.

[2022-01-19 14:22] maxfield-allison opened #5491 "kernel modules do not appear to load from tunables or loader.conf.local"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I have added `ml

[2022-01-19 14:45] kulikov-a commented on #5398
im not ). it was just interesting to add it and try to understand the issue (and help if possible)
if everything works for you now, then I'm happy :wink:

[2022-01-19 16:53] maxfield-allison commented on #5491
added kld_list="linuxkpi.ko mlx4.ko mlx4en.ko" to rc.conf.local but the modules still needed to be manually loaded with kldload from shell

[2022-01-19 16:56] kulikov-a commented on #5487
@ganguin hi. can you try with
`opnsense-patch -a kulikov-a f8e8023` ?
(should add more validations before the pr if this is what you expect and @AdSchellevis with @fichtner  are not against the idea itself) )

[2022-01-19 18:49] fichtner commented on #5491
Hi @maxfield-allison

This works for me:

[code]

I suspect this is an issue with load order/dependency chain not being resolved automatically.

kld_list doesn't work because the rc.d system of FreeBSD taints our boot process and so we don't invoke most of these commands.

Cheers,
Franco

[2022-01-19 19:00] maxfield-allison commented on #5491
Unfortunately thats exactly what I have in my loader.conf.local. Is there any other information i can provide that might pinpoint the issue? I checked dmesg and i can see a few things that could help.

[code]
followed by this when i login to console and do "kldload mlx4en"

[code]

[dmesg.txt](https://github.com/opnsense/core/files/7899915/dmesg.txt)

[2022-01-19 19:15] fichtner commented on #5491
I just confirmed that the kernel modules loaded when the system was up. I don’t have the hardware to confirm if the driver works or not. There’s no more I can do from a support perspective. 😔

[2022-01-19 19:18] maxfield-allison commented on #5491
understood, I did check to see if they had loaded at boot time with kldstat and they do not until I run kldload. Thoughts? Ultimately im betting i'll just need to do a fresh install and selective config import which wont be the end of the world.

[2022-01-19 19:23] fichtner commented on #5491
My best guess is the driver is trying to load early on boot but fails to init the card and therefore stops loading. Since it loads on boot without hardware I would say it does try to load it, hence the suspicion with the hardware behaving differently.

You can, however, use our rc.syshook “early” facility script to load via shell script using kldload and safely use the card in the interface config

[2022-01-19 19:24] maxfield-allison commented on #5491
I'll give that a shot! Thanks. I plan to do a bit more testing so ill keep this open and report findings or close it with a workaround if i decide to stop looking.

[2022-01-19 19:28] fichtner commented on #5491
Sounds like a plan. Good luck. 😊

Cheers,
Franco

[2022-01-19 19:35] maxfield-allison commented on #5491
initializing the driver with the rc.syshook "early" Script did the job! super easy workaround. in fact, I dont really see any reason to do any more digging into why it isnt loading from loader.conf because knowing my environment, its going to be something silly and specific. Thanks for your assistance!

[2022-01-19 21:37] ganguin commented on #5487
@kulikov-a I'm impressed that was fast. Thank you for your job.
Yes, it creates the expected pf rule. I tested it again, I experience almost no packet drop when coming close to the max states.

[2022-01-20 06:49] fichtner commented on #5487
@kulikov-a I'm sure @AdSchellevis wouldn't mind a PR for further discussion of [f8e8023](https://github.com/kulikov-a/core/commit/f8e8023)

[2022-01-20 06:51] fichtner commented on #5161
@reitermarkus mind taking this to https://github.com/opnsense/core/issues/5481 as we worked on the subsystem this week? It's better than trying to discuss on a closed support ticket.

[2022-01-20 06:52] kulikov-a commented on #5487
@fichtner great, thanks! will add additional validations and make a pr

[2022-01-20 09:54] fktssm commented on #5489
I forgot to add, I was configuring VyOS and ran into this problem.

The [Agile](https://github.com/TriJetScud/vyos-agile-vpn/blob/master/lib/Vyatta/AgileConfig.pm) configuration is rigidly fixed in ipsec.conf by rewriting manually added configurations.

Consequently, some important functions are hardcoded in the script.

One of them is the leftsubnet string.

To solve this problem, it is enough to

[2022-01-20 09:54] #5489 closed

[2022-01-21 19:12] jplitza opened #5493 "DHCP client doesn't set fargw"
When a DHCP server replies with netmask /32, OPNsense doesn't correctly set the gateway (which is outside the "subnet"). Configuring this manually works fine.

Manually inserting `$thisconf['fargw'] = 1;` into this block makes it work via DHCP too:
https://github.com/opnsense/core/blob/68775a50e8980cfa4d88f476260e321e7008ee45/src/opnsense/mvc/app/library/OPNsense/Routing/Gateways.php#L242-L248

Ob

[2022-01-21 20:51] fichtner commented on #5493
Hi @jplitza,

That’s an interesting observation. I suppose detecting this is useful regardless of how it could be carried out (and when).

One thing to note about the far gateway setting is that it will stick to the configuration once saved (automatic gateway becoming a manual gateway). In that case if DHCP should lease a normal IP with same subnet gateway later on the setting would stick to it an

[2022-01-21 22:01] jplitza commented on #5493
@fichtner TBH, I'm not even a user of OPNsense, so I'm not at all familiar with the concepts you mention ("automatic gateway becoming a manual gateway", "dynamic gateway") and the implications of the proposed change on them. I'm just looking into rolling out such a DHCP setup in our ISP network, and one of our customers is using OPNsense, so I dug into the code.

[2022-01-22 02:55] souwei168 opened #5494 "为什么不支持INTEL 出的 I225-V 网卡？"
为什么不支持INTEL 出的 I225-V 网卡？

[2022-01-22 02:57] souwei168 opened #5495 "最新版本支持INTEL I225-V的网卡吗，下载地址在哪里？"
最新版本支持INTEL  I225-V的网卡吗，下载地址在哪里？

[2022-01-22 03:07] souwei168 commented on #5495
测试 21.7的版本不支持I225-V的网卡，有没有支持版本下载地址，我测试一下！

[2022-01-22 07:21] fichtner commented on #5493
Ok, no problem. Let me assign this and try to work on an out of the box solution.

Bit at least setting far gateway manually for your customers is an easy workaround to get it running.

Cheers,
Franco

[2022-01-22 08:47] #5494 closed

[2022-01-22 14:52] swhite2 opened #5496 "BaseField: Add __isset() magic method to prevent excessive typecasting"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-22 17:07] AdSchellevis commented on #5496
@swhite2 sounds like a good addition indeed, if you add a PR we can skim the code for the ones we currently cast statically (`grep -r 'empty((string)' src/`)

[2022-01-23 12:45] AdSchellevis commented on #3674
As I was looking at a similar problem (using openvpn), I thought it might be a good idea to leave some notes in this ticket for reference.

In most discussions I've seen so far around these type of issues, PMTU is being referred as the technology which is broken. According to the RFC (https://datatracker.ietf.org/doc/html/rfc1191) however this would suggest that inbound packets are being tagged as

[2022-01-24 07:35] fichtner commented on #5495
https://pkg.opnsense.org/releases/22.1/

[2022-01-24 11:52] swhite2 commented on #5496
@AdSchellevis Would you like me to remove the static casts in the PR as well?

[2022-01-24 12:29] AdSchellevis commented on #5496
@swhite2 rather split it in two, one PR to extend the base class and one for using the new functionality.

[2022-01-24 14:03] EdwinKM opened #5500 "Search box does not support aliases (no results)"
Trying my first steps in a lab to migrate to opnsense. As a *nix person you know the packages. So why not add support those names?

Examples of expected results:
  - ntp -> services → Network Time
  - nut -> show the "nut" results
  - ssh -> show "System → Settings → Administration" and "System → Access → Users → root"

[2022-01-24 14:29] #5496 closed

[2022-01-24 19:05] #5121 closed

[2022-01-24 19:26] swhite2 commented on #5392
@Thibaut833 @tabnul This is now merged in master: https://github.com/opnsense/core/pull/5488.

[2022-01-24 20:13] #5392 closed

[2022-01-25 14:05] #5125 closed

[2022-01-25 21:15] nzkiwi68 opened #5503 "IPsec should prevent enabling duplicate Phase 2 remote subnet"
**Important notices**
Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
I am migrating a lar

[2022-01-26 08:20] AdSchellevis commented on #5503
I'm not sure this is a good idea as duplicate tunnels are permitted, in which case you would need to compare the full phase 1 (source, destination, proposal) entry for an overlap (which also makes it less likely to ever trigger on a useful configuration mistake).

[2022-01-26 10:32] AdSchellevis opened #5504 "System: Settings: Tunables - performance issue in 22.1"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When opening or ed

[2022-01-26 20:40] nzkiwi68 commented on #5503
1. pfSense prevents the creation of duplicate phase 2 entries, which is actually kind of annoying. There are cases where you might want the remote the subnet of say 10.20.30.0/24 setup against two different IPsec SA, one standby for cold/warm failover. Also, I really like how OPNsense allows the cloning of a SA and the associated phase 2 but leaves the phase 2 disabled, it's great when you have to

[2022-01-26 20:49] nzkiwi68 commented on #5503
Ok!
I have gone off and read about how Strongwan does actually overlapping phase 2 subnets.
However, for that to be useful, you would need to support the StrongSwan  the priority of policies stuff and expose that functionality so that we could influence which phase 2 was preferred for routing.

Ultimately, it would be simpler to not allow duplicate phase 2 - otherwise it get messy fast.

[2022-01-27 05:47] Starkstromkonsument commented on #5477
@lsbbs Is this a duplicate of #4420 ?

[2022-01-27 12:39] pazifi opened #5506 "Port forwarding problem with asterisk OPTIONS ping"
**Environment**
OPNsense 21.7.7 (There was the same problem in older versions)
On Proxmox 7.0-9

**Describe the bug**

There is an external asterisk server with public IP, this server send OPTION ping all 10'000 mS in direction of OPNsense.
The OPNsense server has an public IP and should forward this request over portforwarding to an sip gateway with an private IP.

DMZ       Ethernet 10Gbase-T <f

[2022-01-27 20:24] TheNec commented on #5506
I dont know if this helps but SIP can be UDP and TCP and you will probably need an additional outbound NAT rule because this looks like a problem many people stumble across when configuring VoIP stuff:

Interface: WAN
Protocol: TCP/UDP
Source Address: "SIP Gateway"
Source Port: 5060 (and maybe 5061 if using TLS)
Destination Address: any or "Asterisk Server"
Destination Port: 5060 (and maybe 5061 i

[2022-01-28 03:05] #5135 closed

[2022-01-28 03:13] ppbrown commented on #4029
arrrg.
I am having this exact problem, seems like.
I suppose I should mention that both sides are behind NAT.

If I just set the "remote side" and "local side" to what I would normally set the remote id and local id to (ie: the public IPs used by the NAT) then the connection happens... but I cant then make a gateway.

If I instead use made-up names like the sample 10.111.1.1 .. it doesnt work.. be

[2022-01-28 05:34] NOYB opened #5508 "Feature Request: Firewall log time display short form option"
Feature request for option to display firewall log time in short form.  e.g. Jan 1 01:55:33
![Snap3](https://user-images.githubusercontent.com/1977521/151492429-49c0a9bf-7d48-49ce-ae09-03faac3749fc.jpg)
Also in Firewall Log widget.
![Snap4](https://user-images.githubusercontent.com/1977521/151492435-b44b1362-6824-4b0b-972e-f943f16c6404.jpg)

OPNsense 22.1
FreeBSD 13.0-STABLE

[2022-01-28 05:41] NOYB opened #5509 "Gateways widget not displaying stats"
Gateways widget not displaying stats.
![Snap1](https://user-images.githubusercontent.com/1977521/151492965-9921119d-8352-46df-ac83-df7a86c36f57.jpg)

But System: Gateways does display stats.
![Snap2](https://user-images.githubusercontent.com/1977521/151492975-01dded8f-fad9-4027-9564-14ef7532c085.jpg)

In place upgrade (web gui) from OPNsense 21.7.7 to OPNsense 21.7.8 to OPNsense 22.1
Was working i

[2022-01-28 06:01] NOYB opened #5510 "Console boot screen messed up"
Blurry but you get the picture.
![20220128_041454](https://user-images.githubusercontent.com/1977521/151546187-35d74675-a40d-4a50-b13d-8294cd33a8f2.jpg)

In place upgrade (web gui) from OPNsense 21.7.7 to OPNsense 21.7.8 to OPNsense 22.1
Was working in both 21.7.7 and 21.7.8.

Booting live image displays fine.
![20220128_041252](https://user-images.githubusercontent.com/1977521/151546364-02e0c28f-

[2022-01-28 06:13] NOYB opened #5511 "Boot speed improvement :+1:"
BTW.  Like the boot speed improvement.  Always thought it odd that a basic text based system took so long to boot.
:+1:

[2022-01-28 06:22] kulikov-a opened #5529 "PF ruleset optimization and labels"
Hi!
Paying attention to the output of the `pfctl -vvsr` command, i got the impression that for some reason rules were not optimized (specially created duplicate rules or rules that are a subset of others fall into the final set of rules regardless of the `ruleset-optimization` value or `pfctl -o` flag value).
Creating a debug rules file and removing the `label` parameter from the rules seems to ma

[2022-01-28 06:31] NOYB opened #5512 "Feature request: Remove or hide swap space"
System has so much RAM that swap space will never be used.
System has so much SSD that swap space would never be a problem.

Is there an option to eliminate swap partition?  Or at lease hide it in system info widget?

ZFS

Swap fie not enabled.
![Snap6](https://user-images.githubusercontent.com/1977521/151499600-42c1c52d-0ee1-4abf-a00b-bdb3b5a70414.jpg)
But still...
![Snap7](https://user-images.gi

[2022-01-28 09:05] fake-name commented on #2296
This issue is not resolved, or at least can reoccur easily.

Basically, the log file is not rotated by the daemon consuming it. As such, if `flowd_aggregate` gets in a bad state and/or crashes, the `flowd` feeder daemon will happily continue to log to the same log file until it runs out of disk space.

I just hit this issue when my PFSense instance started exhibiting a whole variety of weird issue

[2022-01-28 10:18] FabiUnne commented on #4535
Any new information on this issue aside from the hacky cron-job solution?

[2022-01-28 10:57] gk998 commented on #4535
Unfortunately not. I disabled IPv6 currently as the cron "solution" stopped working after upgrading to some 21.7 release. I did not debug it further, but it seemed that restarting the interface stack doesn't help anymore. I decided to switch to PPPoE Passthrough on my fritzbox.

[2022-01-28 13:13] swhite2 opened #5513 "MVC page using legacy config generation does not properly update service configuration"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Right now the lega

[2022-01-28 14:06] fichtner commented on #5513
Yes, these differences exist due to the hybrid nature of the Unbound integration. Moving all to MVC would be the most consistent fix.

traditionally legacy services have a single configure function that does „templating“ and service restart/stop depending on the configuration.

the mvc code decoupled this behaviour.

[2022-01-28 14:37] swhite2 commented on #5513
Since legacy code is not to be used in the mvc code, I'm unsure of how to move forward for now unless we all agree to move the whole thing to a template.

[2022-01-28 14:53] fichtner commented on #5513
We should fix existing problems within this, but I think it works ok at the moment the way it is unless I’m missing something. As I said best way to deal with this is get rid of legacy code. That doesn’t mean we have to at this point in time. 😊

[2022-01-28 15:12] swhite2 commented on #5513
Well, the main issue still remains, 'apply' and 'restart' basically does nothing in the hosts section. Whether or not this is a major issue is up to you of course :)

worst case scenario it might lead to some annoyance.

[2022-01-28 16:07] ppbrown commented on #4029
What gets me is that the OTHER side seems to understand the situation just fine. It figures out that it can route packages through the link just fine with the "tunnel remote address" and local address being the remote and local ids of the two routers involved.
So pings make it all the way through to a machine behind the opnsense box. But opensense, doesnt have the sense to return the ICMP reply .

[2022-01-28 16:58] ppbrown commented on #4029
Wait.. why is this closed? Its still a bug? !!
Please reopen this issue.

[2022-01-28 17:09] fichtner commented on #5513
Will take a closer look on Monday.

[2022-01-28 17:13] fichtner commented on #4029
What exactly is the issue and where does it happen? Jumping into a closed ticket with no template data is unhelpful. The netmask issue referenced by @bimbar in September was fixed in a 21.7.x release. Next is your „me too“ so I’m having a hard time understanding.

[2022-01-28 18:23] ppbrown commented on #4029
Ah.
well i was having *exactly* the same issue, so didnt think it neccessary to repeat the info.

The ticket seems to be closed with no justification. It's great to know it was fixed.
In this kind of situation, on other github projects, I'm used to seeing some kind of "closed, fixed in X.Y,Z" marker.

[2022-01-28 18:35] fichtner commented on #4029
No version info, no steps to reproduce. I’m locking this thread in the hope you will open a ticket with the necessary data.

[2022-01-28 19:32] shonjir opened #5515 "Post-22.1 errors from pkg during update check"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Receiving I/O and

[2022-01-28 19:37] shonjir opened #5516 "Post 22.1 upgrade lighttpd periodically issues SSL errors"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Following update t

[2022-01-28 19:44] fichtner commented on #5515
Sounds like a package database corruption of some sort. Note the database will not be cloned from the UFS system so it got corrupted from the install media maybe.

[2022-01-28 19:45] fichtner commented on #5516
Cc @gstrauss

[2022-01-28 20:03] gstrauss commented on #5516
What was the previous version of lighttpd?  What is the current version of lighttpd in (opnsense 22.1)?  (Looks like lighttpd 1.4.63 in the log above).  What was the previous version of openssl?

Note: There were no direct changes to lighttpd src/mod_openssl.c between lighttpd 1.4.60 and lighttpd 1.4.63.

How is lighttpd being reloaded?  Gracefully (SIGUSR1)?  Or not gracefully (SIGINT, SIGTERM)?

[2022-01-28 21:39] shonjir commented on #5516
@fichtner, my apologies - I failed to specify the pre-upgrade condition.  I upgraded from opnsense 21.7.8 to 22.1 by booting from USB stick.

[2022-01-28 22:01] shonjir commented on #5515
That's possible.  Do you think I should just remove the package databases and let them rebuild?

[2022-01-28 22:21] gstrauss commented on #5516
@shonjir if you'd like my assistance, please try to answer my questions.  Thank you.

[2022-01-28 22:35] fraenki opened #5517 "Option to not have CARP VIPs automatically used by services"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-29 00:08] shonjir commented on #5516
@gstrauss I was trying to do so, my apologies to you if I've offended somehow.

I did not restart or reload lighttpd.  The timestamps of the SSL errors are 00:01:19, 00:01:21 and 06:01:19 and 06:01:22, six hours apart.  Re-review of the logs just now shows an additional 4 events at 12:01:20 and 12:01:22, so whatever is happening is happening every 6 hours.  That's strongly suggestive of a cron job

[2022-01-29 00:29] gstrauss commented on #5516
Thank you for providing additional information. "I upgraded from opnsense 21.7.8 to 22.1" was not sufficient, which is why I asked for more information.

Since that is more than 6 hours, was the "TA in splunk which collects system information via the web AI every 6 hours" running while you were on 21.7.8?  If so, and since there was not an error in the lighttpd error log, perhaps the TA in splunk

[2022-01-29 03:06] shonjir commented on #5516
Correct, the splunk process was running while opnsense was on 21.7.8.   The following logs are from that period of time.

[code]

No, the TA did not change during this time.  It was last updated on 12/17/21 and has been running without error since then.

That makes sense.  Another possibility is that it may not be an issue with lighttpd (or openssl) at all but something with the way lighttpd (or o

[2022-01-29 05:34] ppbrown opened #5518 "IPsec routed mode has changed, please update docs"
This is from version 21.7.7, and is related to

https://github.com/opnsense/core/issues/4029

Before that bug, the docs at https://docs.opnsense.org/manual/how-tos/ipsec-s2s-route.html
were mostly valid, except in odd cases.

Now they are incorrect in multiple places.

With certain other endpoints (ie: meraki) you cannot use the fake "tunnel network", like in the example of using 10.111.1.1 and 10

[2022-01-29 05:36] fichtner commented on #5515
Rebuilding is a bit tricky. The least destructive way is moving the database to a different folder and running „opnsense-bootstrap“ utility without parameters to reinstall everything cleanly.

[2022-01-29 05:43] gstrauss commented on #5516
"Invalid argument" in the error message is the value from `strerror(errno)` so, errno is `EINVAL` (IIRC, that is 22 on fbsd).

You might `truss` lighttpd when triggering the TA to try to find out which syscall is returning `EINVAL` underneath the lighttpd call to openssl `SSL_shutdown()`.  It's probaby `send()` or similar, but what args are being passed that the error is `EINVAL`?

Hopefully a `tr

[2022-01-29 05:46] gstrauss commented on #5516
BTW, lighttpd supports multiple TLS libraries, so in addition to mod_openssl, you might test with one of mod_gnutls, mod_mbedtls, mod_nss, or mod_wolfssl.  Another angle might be to force TLSv1.3 in lighttpd.conf TLS config and see if the problem occurs, or force TLSv1.2 and see if the problem occurs.

[2022-01-29 05:52] fichtner commented on #5517
Hi @fraenki,

I suppose nobody asked for it specifically. There was ample radio silence on much of our new features in 22.1 even during RC phase. 😉

Cheers,
Franco

[2022-01-29 06:21] mimugmail commented on #5518
Maybe this is only related to Meraki? I can't imagine tunnel IPs are involved there.
For ID's you could also set FQDNs, no idea if Meraki supports this.

[2022-01-29 06:51] shonjir commented on #5516
I'll look into this.  I was thinking that it's likely the client isn't properly terminating the session so I'm not sure how much new information it'll provide at this point.  It looks like the client is using the ssl library from a version of python3.7 included with splunk which may or may not properly implement the connection close.

I did make one change but nothing that would affect this.  Ther

[2022-01-29 07:12] shonjir commented on #5515
Running `pkg update` from the command line produces no errors, and other `pkg` functions seem to be fine also.  `pkg check -s -n` produces no issues either, nor does `pkg upgrade -n`  (I'm using -n to avoid accidentally modifying the system while testing the pkgdb)

The system hasn't produced any new errors since the ones in the screenshot, but I'm at a loss to explain why.   I removed a plugin to

[2022-01-29 07:21] fichtner commented on #5515
Not sure but if not an operational issue give it some slack and keep this issue open for a bit longer? 😊

Cheers,
Franco

[2022-01-29 07:30] NOYB opened #5519 "Feature Request: Services Widget Not Running at Top"
Would be a nice to have all services (including those in the hide list) that have a status of not running to be placed at the top of the list.
Especially useful to see hidden services with a failed status.

[2022-01-29 07:47] shonjir commented on #5515
It doesn't seem to be causing any issues.  I'll monitor and see what happens.

[2022-01-29 11:36] brendanbank opened #5520 "OS Routing table is not updated after a route has changed to another gateway."
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guidelines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I boot reconfigured

[2022-01-29 13:36] xabix commented on #5474
Hello I have similar issue since I upgraded to 22.1.

PING6(56=40+8+8 bytes) 2a01:XXXX:3ba:cb90::2 --> fe80::YYYY:8fff:fe6a:95d
ping6: sendmsg: No route to host
ping6: wrote fe80::YYYY:8fff:fe6a:95d 16 chars, ret=-1

I used to work well

![image](https://user-images.githubusercontent.com/394407/151663120-f50b5122-3c06-48a9-97d0-92864f4e38f3.png)

Any idea of why there is no route on my LAN interfa

[2022-01-29 15:42] #5520 closed

[2022-01-29 15:45] AdSchellevis commented on #5520
@brendanbank https://github.com/opnsense/core/commit/52d3e7c6768b1863ac8b91d8da43d39e5c7bd364 should fix the issue which apparently has been in OPNsense for ages..

Thanks for reporting, to patch from the console use:
[code]

[2022-01-29 15:48] gstrauss commented on #5516
It's great that you identified the source of the issue and can reproduce it.  That's big help.

I agree with you that there is no obvious culprit which causes the error trace, which is why I have suggested a few different *coarse* substitutions to see any substitution can help to narrow down where the issue is.  I don't have the system components that you have described, so I can not iterate on th

[2022-01-29 16:14] galibozek opened #5521 "hardware offloads settings in 21.1"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Following update t

[2022-01-29 16:16] ppbrown commented on #5518
If I set anything other than the real IPs it fails auth. it seems pretty clear.
THAT BEING SAID....
even if that problem is limted to a subset of devices, when there's a choice between:

a) a configuration that is more complex, and works on most-but-not-all devices
vs
b) a configuration that is easy(er) to understand, and works on all devices

seems like it would be a pretty clear choice to migrat

[2022-01-29 16:56] mimugmail commented on #5518
Can you post logs of both devices with the known working config when IPsec fails please?

[2022-01-29 17:00] ppbrown commented on #5518
you're not even interested in the documentation win?
you dont want to try out for yourself, if setting the actual IPs instead of fake IPs works for opnsense to opensense, and if so, to simplify the docs?

[2022-01-29 18:13] mimugmail commented on #5518
No offense, but I'm interested in your problem and the solution, not in updating the docs cause someone said something without posting anything.

[2022-01-29 18:15] megmug commented on #5453
I had the same issue of radvd not starting up after the update from 21.7.8 to 22.1.
I have multiple interfaces configured with static IPv6 + DHCP6 + managed RA, so in my understanding it definitely needs to be run.
On the old version it was still running, after the update not running anymore.
On the old version, DHCP6 was still working, after the update DHCP6 and therefore IPv6 on these managed ne

[2022-01-29 19:19] ppbrown commented on #5518
I already posted the problem I had, AND the solution. in DETAIL. The first post of this ticket. Your claims that I "havent posted anything" are odd in the extreme.

I've already fixed my connectivity problem. I already found the solution.
In the interests of open source, I wanted to share the knowlege, so other customers would have an easier time.

I thought this product was backed by a company in

[2022-01-29 22:46] TheHellSite commented on #4142
Any news on this? I just tried it without the manual ACL and the issue is still present.

[2022-01-30 01:36] deku-m commented on #5521
I had the same i went back to 21.7.8.
It was also complaining about it that i need to adjust it for my vlan300 every time (is needed for WAN provider).

[2022-01-30 10:08] AdSchellevis commented on #5521
when `vtnet0` isn't assigned, it won't be altered anymore in 22.1 either, from the release notes:

If this is your problem, just assign the interface and you should be good to go.

[2022-01-30 11:38] curana opened #5523 "SNMP system type changed from "firewall" to "server""
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Since the upgrade

[2022-01-30 12:58] curana opened #5524 ""latest.log" symlink not being re-created on "Reset Log Files""
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When you click on

[2022-01-30 13:02] AdSchellevis commented on #5524
which more or less was one of my concerns in https://github.com/opnsense/core/issues/4993, you can't instantly add symlinks as you don't know which files are going to be there (files are created upon first usage in syslog-ng). I guess this is a side-affect we will have to live with unless syslog-ng adds another hook which will trigger us to know new files have arrived....

[2022-01-30 13:08] curana commented on #5524
I agree, but the naming convention is pretty clear, so we could just create a file ourselves and not have to wait for syslog-ng, right? We don't wait for a syslog-internal ID or something that we can't predict.

Or we just don't delete the latest file and just "clear" it? I think there should be possibilities.

[2022-01-30 13:20] AdSchellevis commented on #5524
Keeping the `latest.log` files on flush so they eventually link to a log file again is likely the easiest and most consistent fix, although it has downsides as well (leaving files which will never link to anything for example).

I'll remove the support tag, but personally I don't plan to spend much time on the subject as I can already see the next tickets dropping in convincing me my initial conce

[2022-01-30 14:12] curana commented on #5524
Ok, thanks.

[2022-01-30 14:25] pcmediapear opened #5525 "- firewall floating rules which contain host aliases synchronized using xmlrpc (HA) synchronization are not working on secondary firewall"
Before you add a new report, we ask you kindly to acknowledge the following:
- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
- firewall floating rules which contain hos

[2022-01-30 17:06] AdSchellevis commented on #5525
Most common mistake in these cases is missing the restart action of the firewall from the master, either using the "restart all" button or per service.
![image](https://user-images.githubusercontent.com/9783985/151709448-02d0eecf-2a34-410f-9af0-dfb00c1f951f.png)

![image](https://user-images.githubusercontent.com/9783985/151709461-57c032ef-c40b-4df2-ae7e-bef087cb99eb.png)

The active state on the

[2022-01-30 18:41] pcmediapear commented on #5525
restart of all services do not help
I have also tried to synchronize and reboot both firewalls multiple times but it also do not help

by inspecting of aliases on secondary firewall most of them return "No results found!"
seems that if in alias is used at least one IP from local IP range it does not work
for example geoip aliases or aliases with public IPs are displayed

by inspection of aliases o

[2022-01-30 18:50] AdSchellevis commented on #5525
If these aliases depend on internet access (geoip and/or url sources), make sure the backup is able to access the source data. System logging will likely report errors when it's not able to download external content.

[2022-01-30 19:11] pcmediapear commented on #5525
geoip aliases are displayed correctly by inspection

but not most of aliases with manually defined IPs if these IPs are part of IP range used on firewall
for example if IP address on secondary firewall on LAN (carp) or VPN (wireguard) interface is 192.168.111.12 (carp IP 192.168.111.10) most of aliases with IPs within network 192.168.111.0/24 are not working

maybe same behavior is also on standar

[2022-01-30 19:39] fichtner commented on #5516
Sorry for the weekend silence. Just some data points:

opnsense 21.7.7 hardenedbsd 12.1 lighttpd 1.4.61 openssl 1.1.1l
opnsense 21.7.8 hardenedbsd 12.1 lighttpd 1.4.63 openssl 1.1.1m
opnsense 22.1 freebsd 13-stable lighttpd 1.4.63 openssl 1.1.1m

The build itself didn't change any parameters through FreeBSD ports. From what I would expect the issue is also in 21.7.8 with the same lighttpd/openssl

[2022-01-30 20:11] shonjir commented on #5516
It took me a while but I automated trace collection and obtained three different truss traces for this.  I hope it helps.
[lighttpd.trace.20220130-000000.txt](https://github.com/opnsense/core/files/7966825/lighttpd.trace.20220130-000000.txt)
[lighttpd.trace.20220130-060000.txt](https://github.com/opnsense/core/files/7966826/lighttpd.trace.20220130-060000.txt)
[lighttpd.trace.20220130-120000.txt](h

[2022-01-30 20:23] kulikov-a commented on #5516
I have both.
same errors on 22.1
no errors on 21.7.8.
(if it may help)

[2022-01-30 20:44] shonjir commented on #5515
The errors have not recurred since the last ones in the screenshot and things seem to be operating fine.  At this point I'm chalking it up to some transient post-upgrade behavior related to restoration after changing the filesystem.

I've not dug into the code but given the post-upgrade circumstances maybe the relevant code is missing a 'database exists' check before moving on to modification oper

[2022-01-30 22:17] gstrauss commented on #5516
Looks like the truss showing that openssl is reading EOF from the socket. (The socket is nonblocking and did not get EAGAIN or EWOULDBLOCK.)  ...I wonder if the client forcing the socket closed without attempting TLS close notify to gracefully close the TLS connection?

Then when lighttpd asks openssl library to send close notify, `sendmsg` is returning EINVAL (?!)
[code]
...I suppose that I could

[2022-01-30 22:32] gstrauss commented on #5516
`sendmsg` returning EINVAL is suspicious.  @shonjir or @kulikov-a, would you try running lighttpd under `valgrind`?  I think trying to rule out memory corruption would be a good next step for a sanity check.

[2022-01-31 01:14] kabaga opened #5526 "LAGG is not working correctly"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ x ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ x ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
I have an Intel

[2022-01-31 06:16] kulikov-a commented on #5516
`truss`ing same action (refresh gui logs pages) on 21.1.8 and 22.1
[21.7.8_lighttpd_truss.log](https://github.com/opnsense/core/files/7968513/21.7.8_lighttpd_truss.log)
[22.1_lighttpd_truss.log](https://github.com/opnsense/core/files/7968514/22.1_lighttpd_truss.log)

[2022-01-31 06:28] gstrauss commented on #5516
@kulikov-a The 22.1 log shows use of `sendmsg`, whereas the 21.7.8 log does not.  To double and triple confirm, are you running the same version of lighttpd and the same version of openssl libraries on both opnsense versions?

[2022-01-31 06:31] kulikov-a commented on #5516
@gstrauss yep. OpenSSL 1.1.1m, 1.4.63
@shonjir do you have acme client plugin installed (uses lighttpd too)?
i dont see this errors after removing acme plugin and reboot (yet?)

[2022-01-31 06:40] fichtner commented on #5516
@gstrauss the difference is 12.1 and 13-stable OS version -- maybe a difference in configure stage? I'm taking a look at source changes in OS now.

[2022-01-31 06:44] gstrauss commented on #5516
Is it possible that 13-stable has some features that openssl is trying to use, e.g. ktls?

[2022-01-31 06:44] shonjir commented on #5516
@kulikov-a  I do not have the acme client installed.

[2022-01-31 06:51] fichtner commented on #5516
@gstrauss errr, yes, there is KTLS now

[2022-01-31 06:53] fichtner commented on #5516
@gstrauss should I submit a KTLS option for the FreeBSD port? Is it recommended to use it this error aside?

[2022-01-31 06:54] gstrauss commented on #5516
We do not know for certain if KTLS is involved or not.  I was throwing it out as a possibility.  lighttpd.conf will allow you to configure openssl with `ssl.openssl.ssl-conf-cmd += ("Options" => "-KTLS")` if those patches were backported from openssl 3.0.  Want to give that a try?

[2022-01-31 06:58] fichtner commented on #5516
I guess that's also why I don't see it with LibreSSL flavour installed... ;) Maybe @kulikov-a can quickly confirm the error is gone when disabling KTLS via configuration.

[2022-01-31 07:13] kulikov-a commented on #5516
@fichtner i'll try as soon as i can reproduce errors again. still no errors after reboot )

[2022-01-31 07:33] deku-m commented on #5521
I myself dont really understand.
VNET0 isnt used but vlan300 was already created underneath you say remove it?
As 300 is assigned to it...

[2022-01-31 07:35] AdSchellevis commented on #5525
best check the logs if something is off, when both configurations look the same from the gui it doesn't really make sense if settings aren't applied properly.

[2022-01-31 07:38] AdSchellevis commented on #5521
Hardware settings belong to "physical" interfaces, so in order to apply them, you will need to have the parent device in your configuration. This is indeed different than what it was prior to 22.1 as noted in the release notes. (just assign+enable and leave addresses set to "None")

[2022-01-31 07:46] muhlba91 commented on #5521
@galibozek @deku-m what kind of performance problems did you encounter? (i'm asking to figure out if my problem is related or not.)

i'm also running on proxmox and tried upgrading a few days ago but reverted back relatively quickly due to a dramatic break of routing performance.
i also need to use vlan for my wan connection but opnsense was able to reach full bandwidth (~50MB/s).
i was able to re

[2022-01-31 07:53] fichtner commented on #5528
This is too much effort to unclog in pf(4) so we will add an automatic rule for the firewall.

[2022-01-31 08:10] galibozek commented on #5521
@AdSchellevis assignment parent interface (and enable) solved the problem, maybe it is worth writing the relevant information in the interface settings tab (hardware offloads)

[2022-01-31 08:27] kulikov-a commented on #5516
hah.
chrome connected with TLS1.3,X25519,AES_128_GCM - no errors
firefox connected with TLS1.3,TLS_AES_128_GCM_SHA256 - errors appers
will try with  "-KTLS"

[2022-01-31 08:50] kulikov-a commented on #5516
adding `-KTLS` to `ssl.openssl.ssl-conf-cmd` `options` seems made the trick! no errors with chrome or ff.
still watching..

[2022-01-31 08:57] #5521 closed

[2022-01-31 08:58] AdSchellevis commented on #5521
@galibozek sure, why not, added in https://github.com/opnsense/core/commit/f041bb8ceb3f35327f12b68071e76a0fec5e024e

[2022-01-31 09:04] fichtner commented on #5516
So while that can make the error disappear I would not want to disable KTLS if it works except for this (cosmetic?) issue and leave it up to @gstrauss to suggest how we proceed.

[2022-01-31 09:13] AdSchellevis commented on #5529
@kulikov-a transferred the ticket to core as the barrier has been there before (https://github.com/freebsd/freebsd-src/blob/release/12.1.0/sbin/pfctl/pfctl_optimize.c#L111) and it's highly unlikely anything good will come out of it. So we're going to remove the option to simplify things.

[2022-01-31 09:37] #5529 closed

[2022-01-31 10:18] luponata commented on #4983
Even Iliad (Free) with the new internet offer via FTTH will also use the same protocols

[2022-01-31 10:29] kulikov-a commented on #5516
sorry, no luck. get errors again after reboot

[2022-01-31 13:06] kulikov-a commented on #5516
a little more info: errors still occurs with TLS1.2 forced
will try with test build

[2022-01-31 14:31] gstrauss commented on #5516
As I am neither openssl developer or FreeBSD kernel developer, I must defer.  I think an issue should be opened with openssl so that others might find it.

@bsdjhb please forgive the random tag.  I see that you have contributed some KTLS support to openssl for FreeBSD.  Do you have any suggestions for how to track down this issue?  The issue here may or may not be related to KTLS, but is likely so

[2022-01-31 14:37] kulikov-a commented on #5529
@AdSchellevis sad but reasonable. thanks!

[2022-01-31 14:43] kulikov-a commented on #5516
a bit more: seems that forcing TLS1.3 with CHACHA20 only not producing errors
ref. https://cgit.freebsd.org/src/commit/?id=6372fd253e32
any chance that "-KTLS" flag can be ignored?

[2022-01-31 15:06] Miskerest commented on #5521
@muhlba91 This is almost certainly the same issue I encountered in my Reddit post [here.](https://www.reddit.com/r/opnsense/comments/sgf54z/wan_speeds_on_lan_subnets_much_slower_after/?)

Is the solution to break out each interface by VLAN in the hypervisor?

[2022-01-31 15:29] gstrauss commented on #5516
I am not sure what you mean.  You can configure the opposite in lighttpd with: `ssl.openssl.ssl-conf-cmd += ("Options" => "+KTLS")`, assuming that openssl was also built with KTLS support.

[2022-01-31 17:00] kulikov-a commented on #5516
@gstrauss sorry, I must be just confused
if I understand https://github.com/opnsense/src/commit/622809b0868f502550080dc2e3759fc645443744 correctly (ktls no longer enabled by default?) and the fact that setting `"-KTLS"` didn't help, then ktls shouldn't be related to the problem?
but the fact that the restricting the `CipherString` to only CHACHA20 has kept the log silent for several hours and the

[2022-01-31 17:43] shonjir commented on #5516
Looking at the ktls(4) manpage I see the following note:

[code]

On my opnsense that sysctl is off.

[code]

Might this have something to do with the sendmsg(2) issue?  If KTLS is enabled by default in openssl on fbsd13 then it makes sense that it needs to be enabled.

I don't know what effect that sysctl might have on the system but I'll give it a try and report if it makes a difference.

[2022-01-31 18:14] shonjir commented on #5516
Welp.  I enabled the sysctl manually without issue but when I added it via the tunables UI my firewall went offline.

I found some additional info in the freebsd release notes that openSSL includes support for KTLS if the WITH_OPENSSL_KTLS build option is enabled.  It looks like the upstream port for 1.1.1m openssl enables KTLS by default and the opnsense package indeed has this option enabled.  S

[2022-01-31 18:46] fichtner commented on #5516
Well the OpenSSL port enables KTLS by default on FreeBSD 13. However, FreeBSD package builds don't use OpenSSL from ports for package builds. ;)

[2022-01-31 20:48] shonjir commented on #5516
I don't know whether lighttpd is using the system library or the openssl package, but the openssl package installed on my firewall definitely has the ktls option compiled in.

Doesn't seem to matter though since the error is still present even with the kernel tunable enabled from boot.

  | <27>Jan 31 12:01:22 opnsense.home.arpa lighttpd[83445]: (mod_openssl.c.3415) SSL (error): 5 -1: Invalid argu

[2022-01-31 20:58] tofazzz opened #5531 "Top Talkers missing FQDN toggle feature"
- Is your feature request related to a problem? Please describe:
Not a problem but a feature that is missing from the previous version of the "Top Talkers" section

- A clear and concise description of what the problem is including your motivation for the request:
The FQDN toggle (DNS lookup) in "Top Talkers" section is not there anymore and it was a useful feature for troubleshooting. It would be

[2022-01-31 21:01] tofazzz opened #5532 "Add "whois" as a Diagnostic tool under Interfaces"
- A clear and concise description of what the problem is including your motivation for the request:
Is it possible to add "whois" as a diagnostic tool under the Interfaces section?

**Describe the solution you like**
Add "whois" as a diagnostic tool under the Interfaces section. It should be in FreeBSD base already and it is a great tool for troubleshooting.

[2022-01-31 21:09] tofazzz opened #5533 "Add "iftop" to the Firewall's Diagnostic section"
- A clear and concise description of what the problem is including your motivation for the request:
Is it possible to have "iftop" as a tool under Firewall -> Diagnostic? Maybe with the option to select the interface with a drop-down menu that it will re-lunch "iftop" with the correct "-i" flag value. Since "iftop" is already installed and it would be very useful to have it handy in the GUI.

Than

[2022-01-31 22:10] bsdjhb commented on #5516
So the tunable for KTLS should fail much earlier (the setsockopt() to enable KTLS on a socket would fail).  sendmsg() shouldn't be used by OpenSSL unless it is using KTLS.  The sendmsg() does look to be using the TLS_SET_RECORD_TYPE message type though (1).  Does `sysctl kern.ipc.tls` show any non-zero values?

[2022-01-31 22:15] shonjir commented on #5516
From my system.  There has been only a single instance of the issue since the system rebooted this morning.

[code]

[2022-01-31 22:25] #5533 closed

[2022-01-31 22:27] tofazzz opened #5534 "Add "iftop" to the Firewall's Diagnostic section"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-31 22:32] #5532 closed

[2022-01-31 22:33] tofazzz opened #5535 "Add "whois" as a Diagnostic tool under Interfaces"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-01-31 22:33] #5531 closed

[2022-01-31 22:34] tofazzz opened #5536 "Top Talkers missing FQDN toggle feature"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-01 07:35] AdSchellevis commented on #5536
The old code was removed quite some time ago (https://github.com/opnsense/core/commit/d7279fba604983e574e93e3dc46f40e0b90511b7, https://docs.opnsense.org/releases/CE_20.7.html#december-08-2020), a similar option as in Reporting/Insight might be a nice to have, but not very high on our priority list.

[2022-02-01 07:41] AdSchellevis commented on #5534
that would be `Reporting: Traffic` as a user friendly interface

https://github.com/opnsense/core/blob/277ffb6ac50010e17d2daff6aad72672ff2ecdef/src/opnsense/scripts/interfaces/traffic_top.py#L44

[2022-02-01 07:58] pazifi commented on #5506
I upgradet yesterday to: OPNsense 22.1.
Now it has been working for over a day without any problems.

I think the last new version from weekend fixed this issue, but i don't know the reason.

[2022-02-01 07:58] #5506 closed

[2022-02-01 11:24] #5504 closed

[2022-02-01 12:08] #5517 closed

[2022-02-01 12:08] fichtner commented on #5517
@fraenki one thing this changes is that CARP VIPs are now considered aliases for functions that require to pull a primary address from the system. I'm unsure this won't introduce any problems but at first glance it looks like an oversight to not have had CARP addresses in there. Let me know how that works for you.

[2022-02-01 12:11] fichtner commented on #5517
messed up commit so here is the offical patch plug:

    # opnsense-patch 973dfb1 add23ab

[2022-02-01 15:59] superwinni2 commented on #5322
Maybe you are searching for this:
System -> Settings -> Cron:
Create Cronjob with Command "Automatic firmware update".

[2022-02-01 16:10] #5322 closed

[2022-02-01 18:07] bsdjhb commented on #5516
Ah, this was fixed in OpenSSL 3 itself as a separate commit I just need to backport: https://github.com/openssl/openssl/commit/e278f18563dd3dd67c00200ee30402f48023c6ef

[2022-02-01 18:49] fichtner commented on #5516
@bsdjhb @gstrauss et al thanks a lot. We will merge these patches into the next release as well and that should be it 😊

[2022-02-01 18:49] #5516 closed

[2022-02-01 19:49] kulikov-a commented on #5516
@gstrauss @bsdjhb thanks a lot!!

[2022-02-02 05:05] #5143 closed

[2022-02-02 08:35] fichtner commented on #5150
Going to close this via  #5367

[2022-02-02 08:35] #5150 closed

[2022-02-02 08:42] #5367 closed

[2022-02-02 13:04] fichtner opened #5537 "firmware: support display of release notes from console option 12"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-02 20:31] fichtner commented on #5332
@kevinchalet I assume that is still the case for you on 22.1?

[2022-02-02 21:08] #4749 closed

[2022-02-02 23:19] kevinchalet commented on #5332
I haven't migrated to 22.1 yet but I'll certainly give it a try and see if I can reproduce it 😃

[2022-02-03 05:06] kasper93 commented on #5453
@fichtner: I’m sorry to say this is a waste of my time... and many more people who have broken IPv6 after update, because you released broken version, while this was known issue for a month. Sorry, but I simply don't understand your dismissive attitude towards @brad0. It is not his job to debug and fix the issue.

Anyway, back to the issue. `/var/etc/radvd.conf` is cleared during the update, even

[2022-02-03 05:16] fichtner commented on #5453
Closing for heated discussion.

[2022-02-03 05:16] #5453 closed

[2022-02-03 08:57] hkirschk opened #5539 "opnsense 22.1 running in a FreeBSD bhyve guest: Bridge member require promisc mode, not all bridge members added during boot"
**Description**

I used bridges in opnsense to connect to various subnets within my WAN and LAN. For this, I've set up 2 bridges in a pre-22.1 version at "Interfaces" -> "Other Types" -> "Bridge", with one bridge for my WAN networks and a second one for my LAN networks. After having added the interfaces to these bridges and setting up the firewall rules in a pre-22.1 version everything worked as e

[2022-02-03 14:01] fichtner commented on #4944
After almost a year I'm not sure we can lock the right threads proactively. Most don't need locking except for the ones that eventually do. I find myself unsubscribing issues more than locking them to be honest.

Maybe we should leave it as is?

Cheers,
Franco

[2022-02-03 14:05] fichtner commented on #5216
Cold case, closing.

[2022-02-03 14:05] #5216 closed

[2022-02-03 14:22] CrashNash commented on #2373
After using pfSense for more than 18 months, i gave OPNSense a try.

I really liked everything about OPNSense more than pfSense but still some issues for me to make it my main firewall/router.

- using aliases in traffic shaping rules is a must for me.
- WireGuard is more complicated than pfSense which is not usable for simple user like me.

with better documentation and adding support for using a

[2022-02-03 14:29] fichtner commented on #2373
This is unlikely to change from a random post with multiple things that span core and plugins and third party repositories to a closed ticket from 2019. Just my two cents.

[2022-02-03 14:32] CrashNash commented on #2373
is it that hard to make these changes, coz i really don't know.
just commented to give it a chance.

[2022-02-03 14:58] fraenki commented on #4944
I'm fine with locking them manually, if there's no easy/good way to do it automatically. :)

[2022-02-03 16:02] AdSchellevis commented on #4944
let's leave it for now then, the current approach seems to be functional in most cases.

[2022-02-03 16:02] #4944 closed

[2022-02-03 16:33] fichtner commented on #4944
Question is can @fraenki lock tickets in plugins?

[2022-02-03 16:36] fraenki commented on #4944
Yes :)

[2022-02-03 17:04] fichtner commented on #4944
Ok perfect 😊

[2022-02-04 08:11] fichtner opened #5540 "interfaces: rework GIF and GRE integration, possibly rewriting interfaces_configure() completely and other side quests"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-04 15:05] lsbbs commented on #5477
Yes, somehow.

[2022-02-04 19:34] Danny2100 opened #5543 "Is there a way to manually adjust state timeouts?"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new afte

[2022-02-04 20:16] nicoulaj opened #5544 "Internal certificates missing subjectAltName"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Using the cert man

[2022-02-05 05:35] kulikov-a commented on #5544
21.1.5 IIRC
sorry, why do you think that the `subjectAltName` extension should be present in the `DN` value?
`subjectAltName` should be present in` X509v3 extensions` if you hit "info" button

[2022-02-05 08:58] nicoulaj commented on #5544
My mistake, a misconfiguration on my reverse proxy got me confused, the certificates generated by OPNsense are perfectly fine. Thanks for pointing me at #4761 anyway!

[2022-02-05 08:58] #5544 closed

[2022-02-05 09:05] #5154 closed

[2022-02-05 12:53] guidodo opened #5545 "Incorrect reverse ip6.arpa zone for DHCPv6 registration in DNS"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

The reverse zone i

[2022-02-05 14:05] fraenki commented on #5517
@fichtner I've just tested it and it seems to work as expected. Thanks! No unwanted side-effects so far.

[2022-02-05 15:46] fichtner commented on #5517
@fraenki thanks, I suppose you have both carp and ipalias in use?

[2022-02-05 20:29] RedVortex commented on #4032
This issue persists in 22.1, just re-checked it.

[2022-02-05 20:35] fichtner commented on #4032
@RedVortex would you mind opening a new ticket for me with steps to reproduce. Happy to look at it in an isolated report now that dhcp(v4) is back where it should be. 😊

Cheers,
Franco

[2022-02-05 20:57] RedVortex opened #5546 "Interface VLAN value not respected VS parent interface"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

(Previous issue was closed without a

[2022-02-05 20:59] RedVortex commented on #4032
hehehe totally agree, done !

[2022-02-06 00:44] rderensy opened #5547 "Disabling port forward doesn't close firewall rule"
**Describe the bug**

When adding a port forward rule, a new firewall entry allows traffic to pass. However, when disabling the port forward, the firewall entry isn't disable, it has to be done separately manually. When re-enabling the port forward, the firewall must be re-opened separately manually.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to NAT -> Port Forward
2. Add a rule
3.

[2022-02-06 09:30] #5547 closed

[2022-02-06 09:32] rderensy opened #5548 "Disabling port forward doesn't close firewall rule"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

When adding a port

[2022-02-06 10:16] AdSchellevis commented on #5548
https://github.com/opnsense/core/commit/f56a224aab1f061e441a715696e164835aed3438 updates the "disabled" flag, although ideally we might consider removing the toggle events from the rules as well as it's still possible to enable/disable the firewall rule from the rules view now. (same is the case for the log flag). Let's keep this for now, making sure the disabled flag cascades is a good idea anywa

[2022-02-06 12:30] fraenki commented on #5517
@fichtner I only use CARP VIPs, so I haven't tested IP aliases.

[2022-02-06 13:39] vepicurean opened #5549 "Change The Use of the Dark Red On the Dashboard For Showing Resource Utilization"
Suggestion.

Please change the use of the dark read on the Dashboard of OPNSense GUI for showing resource utilization.

First "red" is an alarm colour or threshold marker.  At first when I added a plugin (this Sensei NGFW plug-in uses a huge amount of RAM, not sure it's worth it) I thought the system RAM had crossed a threshold and was in an alarm state.

Then I realized all the resource charts we

[2022-02-06 14:16] thefiredragon commented on #2035
This would be a great point, could this ticket someone reopen?

[2022-02-06 18:59] AdSchellevis commented on #5487
added in https://github.com/opnsense/core/commit/b01da7a918ced0ab53871ce99bb2661db25cb650

[2022-02-06 18:59] #5487 closed

[2022-02-07 06:50] fichtner commented on #2035
Unless isc-dhcpd is EoL I don't see an open source route for kea integration. If someone wants to start a plugin that would maybe help an eventual migration. But mind you the DHCP implementation is quite complex...

Cheers,
Franco

[2022-02-07 06:52] fichtner commented on #5517
@fraenki ok no big deal... I was only curious. IP aliases look good from my end. Thanks a lot!

[2022-02-07 06:54] fichtner commented on #5548
@AdSchellevis your commit didn't go to master but likely should have? :)

[2022-02-07 06:56] fichtner commented on #5545
@guidodo Can you point me to the code line in question? I'm not entirely sure about it.

Thanks,
Franco

[2022-02-07 08:10] bimbar opened #5550 "Unbound: DHCP registration does not sanitize names causing unbound to fail"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Some weird chinese

[2022-02-07 08:19] AdSchellevis commented on #5550
Can you share the strings written for this host in `/var/unbound/dhcpleases.conf`?

[2022-02-07 08:26] AdSchellevis commented on #5548
@fichtner thanks! seems I was indeed on the wrong branch

[2022-02-07 09:59] fichtner commented on #5546
@RedVortex the kernel was playing tricks on us not erroring out on setting an impossible MTU on the VLAN first (9000) during boot while the parent wasn't yet configured. Can you try 6866efff70f?

    # opnsense-patch 6866efff70f

Cheers,
Franco

[2022-02-07 10:26] RedVortex commented on #5546
Works perfectly with this patch, @fichtner !

I tested by simply re-saving the bad MTU vlan interface and the MTU got updated right away to what it should be (9000).

I also rebooted completely to make sure everything works well with the patch. Both the parent and vlan interfaces have the right MTU also on bootup. So updating the interface and rebooting both work.

`ix1: flags=8863<UP,BROADCAST,RU

[2022-02-07 10:42] fichtner commented on #5546
Hopefully... I can't move this to 22.1.1 at the moment for risk of regression but it should be good for 22.1.2. Trying to follow up on the old issue with a patch to gather more feedback.

Looks like I wasn't correct about silent errors, but in any case the errors that were there do not occur any longer.

Thanks again for the report. ❤️

Cheers,
Franco

[2022-02-07 10:42] #5546 closed

[2022-02-07 10:44] fichtner commented on #4032
A promising patch for 22.1 was submitted here https://github.com/opnsense/core/issues/5546#issuecomment-1031278519 -- all help in confirming it works are greatly appreciated.

Cheers,
Franco

[2022-02-07 11:39] bimbar commented on #5550
local-data-ptr: "172.28.25.230 MI8Lite-...int.xxx.xx"
local-data: "MI8Lite-...int.xxx.xx IN A 172.28.25.230"

[2022-02-07 12:28] AdSchellevis commented on #5550
do you know what the actual name is? I expect something like `MI8Lite-` followed by Chinese characters, which are replaced with a point (`.`)

[2022-02-07 13:10] bimbar commented on #5550
I don't think I can find out the actual name.

[2022-02-07 15:26] Wireheadbe commented on #5355
Hmm, I'm in the same boat. I've got an always-on OpenVPN on my Android phone, and when I connect even on internal Wi-Fi, unbound frequently resolves the local lan OpenVPN host record, to the external IP, instead of the internal IP. This possibly could be prevented by disabling the function "function unbound_add_host_entries($ifconfig_details = null)" via e.g. a checkbox, similar to the one there i

[2022-02-07 18:59] guidodo commented on #5545
@fichtner I believe the code line in question is at line 1511 of /usr/local/etc/inc/plugins.inc.d/dhcpd.inc

`            foreach ($revsubnet as $octet) {`
`                if ($octet == "0") {`
`                    array_shift($revsubnet);`

This seems to ignore the netmask and simply keep dropping all nibbles that are set to "0".

I have attached two patches:
- a fully working quick patch which

[2022-02-07 19:52] NOYB opened #5551 "Firewall rules html entities"
In the select column (left), html reserved characters such as & are displayed as html named entities (&amp;).
Displayed as character in the description column (right).

To reproduce create a firewall rule that includes an & in the description.

Expected Result: & displayed in the select column (left).
Actual Result: &amp; displayed in the select column (left).

Rel: 22.1

[2022-02-07 22:22] NOYB commented on #5551
Never mind.

[2022-02-07 22:22] #5551 closed

[2022-02-08 12:57] HaneneZribi opened #5552 "su Permission denied"
Hello ,
after installing elasticsearch on the freebsd 12.1 system of OPNsense. Whenever i try to start the service :
service elasticsearch start
I get the following "permission denied error" :
### **su: /usr/local/sbin/opnsense-shell: Permission denied**

[2022-02-08 16:38] #5513 closed

[2022-02-09 06:01] opnsenseuser commented on #5427
@agh1467 i will take a look at the problem. I just can't say when I'll get to it. I have a lot to do at my job at the moment. but thanks for the input.

[2022-02-09 08:37] MagEis opened #5554 "Exclude web interface listening interface from HA synchronisation"
It would be nice if the HA synchronisation wouldn't overwirte the administration web interface "Listen Interfaces" configuration.
I know it could be solved if the web interface access on SYN is enabled on both firewalls but it would be more native for a master slave setup.

Case:
FW A is HA Master, FW B is HA Slave
in FW B the System->Setting->Administration->Web GUI->Listen Interfaces ist enabled

[2022-02-09 09:20] #5325 closed

[2022-02-09 09:26] fichtner commented on #5540
Note to self:

[code]

[2022-02-09 12:55] opnsenseuser commented on #5427
The first submenu is only folded down if there is enough space. If this is not the case, it folds up and if there is not enough space at the top, it moves the submenu down according to the number of entries that are above the visible area. This works great for the first submenu. But with the second submenu, pushing down doesn't work. I'll take a look.

[2022-02-10 03:55] muok opened #5555 "Gateway monitoring fails for 2nd wireguard interface"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

A clear and concis

[2022-02-10 05:17] mimugmail commented on #5555
Because you push all traffic via first WG instance? Better to open a thread in forums where Community is broader than here (mostly devs)

[2022-02-10 05:45] muok commented on #5555
No. Only selected IPs on the network are pushed through the first WG instance.

[2022-02-10 06:21] opnsenseuser commented on #5427
@agh1467 @fichtner I think i fixed it. Ready for testing!
![image](https://user-images.githubusercontent.com/34602360/153348924-f46415e2-ad8a-459d-9a5e-66f187a033e2.png)

fix >> https://github.com/opnsense/core/pull/5556

[2022-02-10 11:49] fichtner commented on #5540
More notes:

* Traverse config in core_devices() to get a list of devices names associated with the system
* Always run post-configuration hooks in interface_configure() and report devices back to interfaces_configure()
* Kill static configuration block in interfaces_configure() with the help of the above tools
* When all has been configured manually invoke the creation of unassigned devices

For

[2022-02-10 12:01] AdSchellevis opened #5557 "Base: PHP 8.x upgrade"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-10 12:19] AdSchellevis opened #5558 "Base: Phalcon upgrade"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-10 12:27] AdSchellevis opened #5559 "System: Settings: Miscellaneous - Add support for QAT and allow to select multiple hardware acceleration options"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-10 12:47] AdSchellevis opened #5560 "Interfaces: Other Types: VLAN - Add stacked VLAN support (IEEE 802.1ad / QinQ)"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-10 12:51] mimugmail commented on #5560
Setting a Vlan as parent interface might also make sense from a user perspective

[2022-02-10 13:11] AdSchellevis opened #5561 "Firewall : Advanced - Add support for syncookies"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-10 13:25] opnsenseuser commented on #5427
i tested it and it works perfect for all submenues! no problem found!

[2022-02-10 14:53] floek opened #5562 "Client Specific Overrides are generated in /tmp"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**
Hi,

I'm on 21.7.7.

[2022-02-10 15:41] floek commented on #5562
Hi,

I already dived a little bit into the sources, but found no solution :(

Best,
Floek

[2022-02-10 16:59] #5561 closed

[2022-02-10 16:59] rdhia opened #5563 "openvpn as client don't connect due to erroned parameter"
Important notices
Before you add a new report, we ask you kindly to acknowledge the following:

[x] I have read the contributing guide lines at https://github.com/opnsense/plugins/blob/master/CONTRIBUTING.md

[x] I have searched the existing issues and I'm convinced that mine is new.

[x] The title contains the plugin to which this issue belongs

Describe the bug

1.  Generated OpenVPN client conf

[2022-02-10 17:08] AdSchellevis commented on #5563
<img width="894" alt="image" src="https://user-images.githubusercontent.com/9783985/153459326-2103b0ba-17ae-46e9-9e93-b7e7e1ec1f58.png">
^^ SHA3-512 is another option in the list...

[2022-02-10 17:21] AdSchellevis commented on #5562
Hi Floek,

I'm also not sure to be honest, the documentation seems to suggest it will use the client config file as passed through the `--client-connect` option (https://openvpn.net/community-resources/reference-manual-for-openvpn-2-4/), when a `--client-config-dir` is also specified it doesn't state if there's a difference in behaviour.

You probably have to check the logs, there's probably a rea

[2022-02-10 19:25] AdSchellevis commented on #5562
OpenVPN isn't chrooted, but I wouldn't expect the file to be there after login either. If I'm not mistaken OpenVPN removes the file after usage, easy to test by writing another file into the same directory from here:

https://github.com/opnsense/core/blob/00a86f74dbbefe3abbb926d98251067df53dfe8e/src/etc/inc/plugins.inc.d/openvpn.inc#L1023-L1025

Maybe the assumption that OpenVPN didn't read the fi

[2022-02-10 20:19] floek commented on #5562
Right, tested it and the file is generated just fine. I tested my setup again and: Everything is working fine. So, I think I got into debugging this without any need 😇😇. Sorry bothering you, but now I understand how this client overrides work :).

[2022-02-10 20:44] patovala commented on #2732
I'm experiencing same behaviour. I'm using OPNsense 22.1-amd64, FreeBSD 13.0-STABLE, OpenSSL 1.1.1m 14 Dec 2021.  I've trying to debug this issue and basically when the captive portal is on and adding a mac into the allowed mac lists, any download from those machines is randomly dropped. Seems like the transparent proxy gets activated in the middle, also git drops with:

[2022-02-11 05:39] kevinfason opened #5564 "ntpd.conf pool vs server directive for Time Servers"
When ntpd.conf is generated and it includes servers from the public pool (*.pool.ntp.org) use the  _pool_ directive instead of the _server_ directive. This tells (4.2.6+) ntpd to act upon that Time Server differently.

This directive facilitates features such as:

- Removal of duplicate servers
- DNS lookups for Servers are done at ntpd startup and pool will do a new DNS lookup if the current host

[2022-02-11 08:51] fichtner commented on #5540
More:
* guess_interface_from_ip() needs to be removed from GRE handling
* LAGG MTU is weird... cannot set member MTU as soon as it is added as laggport
* interface_bridge_add_member() adds member even if it was already added

[2022-02-11 09:30] fichtner opened #5565 "interfaces/system: deal with allow dns override globally"
**Important notices**

Our forum is located at https://forum.opnsense.org , please consider joining discussions there in stead of using GitHub for these matters.

Before you ask a new question, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new afte

[2022-02-11 14:13] Alwaysin commented on #5038
I have upgraded to 22.1 and I can confirm this is now working. Thank you!

[2022-02-11 16:52] #5249 closed

[2022-02-11 16:54] Unit764 commented on #5249
Closing issue.  Enough time has passed that problem should not appear in current versions.

[2022-02-11 23:26] #5564 closed

[2022-02-11 23:47] kevinfason opened #5569 "update ntpd.conf generation to support pool directive for public pool servers"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a

[2022-02-12 08:58] AdSchellevis commented on #5569
If you want to experiment a bit with different options, the upstream servers are merged here : https://github.com/opnsense/core/blob/df7882cfa961532f058bd3790775184be3041b54/src/etc/inc/plugins.inc.d/ntpd.inc#L327-L340

(/usr/local/etc/inc/plugins.inc.d/ntpd.inc)

`pluginctl` will generate the config based on these settings.

[2022-02-12 12:25] pcmediapear commented on #5525
hello and sorry for delay

log from primary firewall:
![image](https://user-images.githubusercontent.com/10603554/153711073-3591fc29-b832-4d3c-9982-1d992db7186a.png)

log from secondary firewall:
![image](https://user-images.githubusercontent.com/10603554/153711192-28f2b2c2-1589-403e-bf68-7d1be0fd6031.png)

[2022-02-12 21:22] AdSchellevis commented on #5525
ok, now try to execute the following command on the secondary firewall:
[code]

[2022-02-13 09:54] pcmediapear commented on #5525
output:
[code]

[2022-02-13 10:40] Nimloth commented on #4696
I also still have this problem with pppoe interface being an unnamed node and the resulting error:

"error pppoe0: cannot create netflow for pppoe0"

However, they can be addressed and given a label / name when directly using their ID.

Example:
if the unnamed node is listed thus:
`  Name: <unnamed>       Type: pppoe           ID: 00000013   Num hooks: 3`
commands like
`/usr/sbin/ngctl name "[13]:

[2022-02-13 12:36] #5525 closed

[2022-02-13 12:37] AdSchellevis commented on #5525
highly likely a local file corruption preventing alias reload, https://github.com/opnsense/core/commit/edeec7d621f899b789e24a7a08613dffa28d0bcf should fix it. removing all files in `/var/db/aliastables/` should fix it as well.

[2022-02-13 13:07] pcmediapear commented on #5525
after applying patch it works again :thumbsup:

thank you

[2022-02-13 13:08] bjornstevens opened #5572 "Can't get IPV6 to work, trying to add 'Prevent Release', but it doesn't exist."
I've been using OPNsense for a couple of years now and have always been working with IPV4. Recently my ISP also allowed my home to have IPV6 enabled, but I can't get it to work out.

From the email I've gotten from my ISP they only said to configure the Prefix delegation size to 56, and to have it as DHCPv6. Whilst it does allow my NIC to go to IPv6, I can't seem to get an IP.

![afbeelding](https

[2022-02-13 18:20] marunjar opened #5573 "multi Interface shaping using queues leads to halved bandwidth"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

I was trying to li

[2022-02-13 18:31] bjornstevens commented on #5572
Oh thanks! There it was, sadly I still don't have IPv6 but this is at least a step forward ( I hope)

[2022-02-13 18:43] fichtner commented on #5573
It's sort of the same as https://docs.opnsense.org/manual/how-tos/shaper_limit_per_user.html#limit-maximum-internet-bandwidth-users-can-consume but without the masks set in pipes since you don't need user-based limits. What stands out is that you use bi-directional rules which don't work as it should and the correct way to get the limit is to set source / destination for each rule as the documenta

[2022-02-13 18:46] fichtner commented on #5572
I would try to enable send prefix hint and also enable only request prefix. Some providers don't work without those (despite what they say).

Mind you, prevent release only works if you already got one which you said you haven't.

Cheers,
Franco

[2022-02-13 18:52] bjornstevens commented on #5572
Doesn't this mean that the WAN won't get an IP?, because who does then get the IPV6 ip?

(Do note I am new to IPv6 and am just trying to get a lan-to-wan internet connection over IPv6)

I've tried to follow this, but did not work: https://docs.opnsense.org/manual/how-tos/ipv6_dsl.html

[2022-02-13 18:55] fichtner commented on #5572
Yes and no depending on you ISP.

Yes, but you still get a link-local router which you can use and it works.

No, since it would still work with SLAAC afterwards if the ISP configured it.

Any sort of "generic" IPv6 configuration is bound to fail for ISP reasons. There's a bunch of specific tutorials in the documentation for this purpose but unfortunately not a lot of users submit their success st

[2022-02-13 19:04] bjornstevens commented on #5572
As right now my Interfaces settings are like this:
![afbeelding](https://user-images.githubusercontent.com/23235234/153770444-92a23ac3-a72f-4f9a-a14b-d4b2410b44f5.png)

I wonder if any DHCP Unique Identifier is needed?

I've also seen that I need to restart my modem/router to be able to pass the 'Prefix Delegation' or so. Is it common to restart the router to achieve this?

Also, my WAN setup now

[2022-02-13 19:06] fichtner commented on #5572
One is generated by dhcp6c and stored on the system. Grab the logs from dhcp6c under system: log files: general.

In general it also matters if you try to emulate ISP router or are behind it.

[2022-02-13 19:07] fichtner commented on #5572
(oh and those interface generic IPv6 client settings require a reboot for better or worse)

[2022-02-13 19:10] bjornstevens commented on #5572
![afbeelding](https://user-images.githubusercontent.com/23235234/153770721-d6c0cd71-8555-457e-a6ca-835bb98ebe65.png)

The network infrastructure is a bit complex, but the WAN port is the only devices connected to the modem (which is set to bridge mode and also provides the IPv4).

[2022-02-13 20:06] marunjar commented on #5573
Thanks for fast reply.

I have to add something here, didn't think this may be relevant, but i'm using queues so i can add rules for my "internet of things" network later. So bandwith should be shared between users, depending on weight.

I was thinking about using source and destination for my use case too, but unfortunately i wasn't able to select e.g. "GUEST net" like it's possible for firewall

[2022-02-13 23:05] #5167 closed

[2022-02-14 07:58] AdSchellevis commented on #5573
It might be best to fiddle a bit with the rules and see which change you need, maybe we miss something, maybe we don't, I'm not 100% sure to be honest.

The rules are stored in `/usr/local/etc/ipfw.rules` and can be reloaded/flished using `ipfw -f /usr/local/etc/ipfw.rules`

[2022-02-14 11:06] fichtner commented on #5572
@bjornstevens can you disable the trackers? ue0 in particular.. something errors out here

[2022-02-14 12:00] bjornstevens commented on #5572
I removed the ue0, since it is/was a backup WAN connection that doesn't get used anymore.
What do you mean by disable trackers?; Monitoring of the gateway?

[2022-02-14 12:20] fichtner commented on #5572
the tracking configuration from the non-wan interfaces (ue0 being one of them)

[2022-02-14 12:46] fichtner opened #5576 "system: add zfs resize support"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-14 12:58] marinbernard-pep06 opened #5577 "unbound-anchor: prioritize system-wide DNS servers over public roots"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Is your feature request related to a p

[2022-02-14 13:03] bjornstevens commented on #5572
![afbeelding](https://user-images.githubusercontent.com/23235234/153869228-e52d96d1-271e-40ee-899c-d59801bd56b6.png)

The only one tracking right now is LAN, I will disable that one and reboot later today!

[2022-02-14 16:05] #5170 closed

[2022-02-15 03:53] morpheus8111 opened #5578 "IPSEC no add button for Phase2 after Update to 22.1"
We have 3 OPNENSENE and after Update to 22.1 it's not possible to add a new Phase2 Entry. There is no Add Button (+) on the Webinterface (only EDIT/CLONE/DELETE). Same at EDGE,Chrome and Firefox.

[2022-02-15 04:31] morpheus8111 commented on #5578
You can close it.

[2022-02-15 04:31] #5578 closed

[2022-02-15 08:51] marunjar commented on #5573
Thanks for this hint, i'll try to change `ipfw.rules` directly on weekend.
Will this file be reverted to my config if i apply in gui? Just in case i break something.

[2022-02-15 09:02] fichtner commented on #5573
Yes.

[2022-02-16 04:16] jaxjexjox opened #5579 "[Bug] 22.1 Insight menu graphs are not updating / re-rendering on some filtering changes"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [ ] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [ ] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

As discussed here

[2022-02-16 09:10] AdSchellevis commented on #5579
Best check on the machine itself if reverse lookups work from the console, the chart returns addresses when the local lookup wasn't possible (try `host <ipaddress>` on the console).
The most common problem is related to local resolve issues (on my end resolving seems to work without issues by the way in the pie chart)

[2022-02-16 10:28] jaxjexjox commented on #5579
Note, to be clear, this issue will occur, even without ticking reverse lookup.  The data (not packets) graph is particularly bad.   It will regularly not update with only a few clicks adjusting time duration / interface.

[2022-02-16 10:31] jaxjexjox commented on #5579
Ok I just wanted to be certain I wasn't leading you astray, it definitely occurs, even without touching reverse lookup.

[2022-02-16 10:35] AdSchellevis commented on #5579
I don't think anything changed between 21.7 and 22.1 in this area, you can always inspect the browser console to see if there are issues reported, they might provide some insights on what's going on.

[2022-02-16 11:42] kulikov-a commented on #5579
Hi
once I caught an error in d3js that stopped the js work on the page due to possible data corruption in one of the date periods. unfortunately I immediately reset the data (Reporting: Settings) and could no longer repeat the error

[2022-02-16 15:17] #5576 closed

[2022-02-16 20:37] JohnNWyckoff opened #5581 "Multiple 'remote log file' ports/sources"
This is a test lab, trying to keep simple.  Pulling remote log files into Sumo via a source port per log file (need for proper mapping assignments).  Can pull all the logs with a single port/source and a path expression of '/var/log/*/*.log'.  Works great and I can consume all the logs without issue.  Working on a test case where i need a source per log file type, which means # remote connections.

[2022-02-16 21:37] jaxjexjox commented on #5579
I have updated to 22.1.1 and the problem persists.
I am unsure, how to inspect browser console data (ok I kinda have a rough idea but wouldn't know where to look)

Do you have any suggestions how I could fix this?  Is it possible to extract ALL the data in its entirety and pop it into excel?
I mean this may be a very minor but genuine bug that should be fixed up.

*UPDATE* as I type this.
I firmly

[2022-02-16 22:07] fichtner commented on #5579
Just open dev console in your favourite browser to see JS error please.

[2022-02-16 22:11] jaxjexjox commented on #5579
Based on @kulikov-a and my testing, it seems very clear there's corrupt data, somewhere in excess of 14 days ago.
Can I remove a row from the database?
Should we investigate to try and solve this?

[2022-02-17 03:18] jaxjexjox commented on #5579
Well let me know, I'm happy to export my CSVs to anyone trusted here and provide a debug report.
I'm positive @kulikov-a  is correct based on the graphs being flawless under 30 days.   There's clearly bunk data.

If I can provide all my exported CSVs and a debug log and it helps you

A, identify the issue with the data
&
B, stop this occurring for others in future

Then I'd be happy to help.
Under

[2022-02-17 03:22] jaxjexjox commented on #5579
Got it actually thank you

`d3.min.js?v=d7a544c33409d20d:4 Uncaught TypeError: Cannot read properties of undefined (reading '1')
    at n (d3.min.js?v=d7a544c33409d20d:4:26038)
    at SVGGElement.<anonymous> (nv.d3.min.js?v=d7a544c33409d20d:10:6414)
    at d3.min.js?v=d7a544c33409d20d:5:13340
    at Y (d3.min.js?v=d7a544c33409d20d:1:4505)
    at Array.Yl.each (d3.min.js?v=d7a544c33409d20d:5:13304)

[2022-02-17 03:40] kulikov-a commented on #5579
Looks like nvd3 requires equal data arrays length for stacked graphs. If data data length for some interface is shorter then nvd3 will throw type error. I would just add zeros in such cases.

[2022-02-17 03:49] jaxjexjox commented on #5579
Hi Guys,

Some friends have helped me with this issue and I think we've found the cause -  (if possible) that would be nice.

Alternatively, could I hand fix my data?

To re-state, the fault ONLY KICKS IN if graph date, exceeds, 14 days.
https://i.imgur.com/C5VXAk5.png  These all work.

After 546,000 rows, only one of them, exhibits this issue here:
https://i.imgur.com/bnsiukG.png

So I would love

[2022-02-17 03:50] jaxjexjox commented on #5579
See my reply above, thanks to you, I've investigated deeper, likely even found the faulted rows in the database, no idea if I can edit the DB  - possibly caused by Opnsense upgrade process.
Thanks for help

[2022-02-17 05:51] jaxjexjox commented on #5579
I can confirm that the feature "Repair Netflow data" does not fix the damaged data and the problem persists.

[2022-02-17 08:20] kulikov-a commented on #5579
@jaxjexjox
can you try with
`opnsense-patch -a kulikov-a 3df5b54`
please?
https://github.com/kulikov-a/core/commit/3df5b54f4184e07a510ff926eaae00b1d78fb7de
still think that the point is the possible absence of some data about the traffic of one of the interfaces in the selected range (interface not present or down?)

[2022-02-17 08:50] jaxjexjox commented on #5579
MANY hours work with friends later.

 sqlite3 src_addr_details_086400.sqlite

I have

`sqlite> Select * from timeserie where packets is '0'
   ...> ;
2021-12-26 00:00:00|1640476800|em0|in|192.168.0.6|172.67.75.68|443|6|0|0
2021-12-26 00:00:00|1640476800|pppoe0|out|172.67.75.68|192.168.0.6|443|6|0|0
2021-12-26 00:00:00|1640476800|pppoe0|in|172.67.75.68|192.168.0.6|443|6|0|0
2021-12-26 00:00:00|1640

[2022-02-17 08:53] jaxjexjox commented on #5579
`root@OPNsense:/var/netflow # opnsense-patch -a kulikov-a 3df5b54
Fetched 3df5b54 via https://github.com/kulikov-a/core
Hmm...  Looks like a unified diff to me...
The text leading up to this was:
--------------------------
|From 3df5b54f4184e07a510ff926eaae00b1d78fb7de Mon Sep 17 00:00:00 2001
|From: kulikov-a <36099472+kulikov-a@users.noreply.github.com>
|Date: Thu, 17 Feb 2022 11:16:24 +0300
|Su

[2022-02-17 08:57] jaxjexjox commented on #5579
Between my deletion of broken rows and your patch, my graphs are now behaving.

I would like to make a proposal to the developers (as a newbie - with not a lot of free time!)
This was a fun experiment but I'd hate for someone else to do this

Proposal:

**Reporting : ->    Settings:
"Repair Netflow Data"**

This really should find instances where packets are 0
https://i.imgur.com/lz6RI18.png  (thi

[2022-02-17 09:13] AdSchellevis commented on #5579
@kulikov-a thanks for the fine analysis of the issue, this https://github.com/opnsense/core/commit/aff6657a3b2cb274b7dd663466eb3a0339a26885 would likely fix it.

[code]
should do the trick

[2022-02-17 09:17] jaxjexjox commented on #5579
I gotta be clear here though guys, I *did* delete the bad data, before applying the patch and might not have tested properly, so removing that bad data may have helped.

Please note those screenshots which captured clear, bad data in the DB - we should consider either not writing the bad data (somehow) or cleaning the database of dodgy data from time to time.

[2022-02-17 09:22] AdSchellevis commented on #5579
if we can't reproduce it for now, we probably best close the issue and reopen if it returns. If I understand @kulikov-a correctly it's not necessarily bad data, just missing (which could logically also happen when adding new interfaces at some point in time). Making sure the data is "symmetric" from the endpoint is likely the most practical fix.

[2022-02-17 09:35] kulikov-a commented on #5579
@AdSchellevis Hi! https://github.com/opnsense/core/commit/aff6657a3b2cb274b7dd663466eb3a0339a26885 works good! thanks! (tested with "bad" data - one of the ovpn interfaces has fewer data than the rest when choosing a 30 day range)

exactly )

@jaxjexjox if you decide to test [one of the interfaces has fewer rows than the rest when choosing a 30 day range](https://github.com/opnsense/core/commit/af

[2022-02-17 09:45] jaxjexjox commented on #5579
How do I revert your patch?    I take it, it would be smart of me to do so, before the next release? (22.1.2?)

[2022-02-17 10:14] kulikov-a commented on #5579
run `opnsense-patch -a kulikov-a 3df5b54` again (No reboot needed. just refresh the page)

[2022-02-17 12:55] NightDragon1 opened #5582 "[BUG] NIC Watchdog timer on RTL8111/8168/8411, subvendor=0x1458"
**Describe the bug**

Since the Update to OPNSense 22.0 I have troubles with the onBoard-NIC. In this version there had been buffer issues on the NIC using zenarmor, so I had to disable it. Since the update to 22.1 it becomes worse by getting regularly watchdog messages (without the use of zenarmor) about the NIC, causing the interface to get down and up in a loop, until it stops working.

In tota

[2022-02-17 18:40] jPhy commented on #5355
Same problem here. I have a High-Availability setup with two OPNSense-Servers. Both Servers are physically connected to two Networks. One is the usual LAN, the other one I call WANCONNECTOR which is the link from each OPNSense to a modem. The WAN is pppoe via the same physical interface as WANCONNECTOR.
The problem with unbound now is that a DNS-query for either OPNSense server will return ALL IP-

[2022-02-18 14:23] tomp736 opened #5584 "Api support for Vlan / Interfaces"
Following up from #4355 which was automatically closed last year.

interfaces_assign.php

![image](https://user-images.githubusercontent.com/12602834/154696971-a6c9438f-6e96-46f3-9c7a-1ca610ae808b.png)

I am currently limited by the lack of an API surrounding interfaces. I am working on a tool to configure wireguard and adding wg interfaces is a part of this. I am still reviewing other areas that

[2022-02-18 18:29] jPhy commented on #3185
This mechanism seems broken in OPNSense-22.1.1_3. My PPOE-Connection stays up even if the underlying interface goes BACKUP.
It seems like matching the virtual pppoe-Interface with the underlying physical interface is broken. I could hack it working by removing the "if ($ppp['ports'] == $iface)" in the carp-syshook "20-ppp" introduced in https://github.com/opnsense/core/commit/2cfd70b7ebbcfc9058542

[2022-02-18 18:37] AdSchellevis commented on #3185
@jPhy when offering enough details, you can always open an issue. Relevant details are the contents of the ppp configuration, attached interfaces and data in the logs.

[2022-02-18 19:33] jPhy commented on #3185
After a bit of digging, I figured that the "Link Interfaces" for my pppoe-connection which can be set in the Page http://myOPNSenseServer:8080/interfaces_ppps.php have been incorrect ever since. Now is the first time it mattered in years, after correcting, it works like a charm. Thank you so much for including this into the OPNSense release. 👍

[2022-02-19 01:05] jPhy opened #5585 "Unbound should reply to CARP-addresses when "Network Interfaces" are configured"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [x] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [x] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Until version 21.7

[2022-02-19 05:04] fichtner commented on #5585
First and foremost you should base your report on the contents of /var/unbound/unbound.conf contents. If you test locally make sure no policy based routing interferes with you rest. It’s better to test from a client in this case. Lastly, maybe you set no-bind option in CARP VIP which is available since 22.1.1?

[2022-02-19 07:05] #5174 closed

[2022-02-19 16:34] jPhy commented on #5585
**Indeed. That solves the issue.** The "Allow service binding" checkbox was unchecked and I never touched that setting. Maybe that new checkbox should be ticked by default for VIPs created in earlier versions (without the no-binding option) to prevent a behavioral change? It was definitely not clear to me that I'd have to adapt my configuration from the release notes.

[2022-02-19 18:22] fichtner commented on #5585
I’m not sure. We should have fixed the default in 22.1.1 along with the CARP support addition. But the question is how you ended up with no-bind in CARP if 22.1 didn’t support setting it? Or did you mean an IP alias with a VHID set? That would at least make sense then. 🤔

[2022-02-19 19:10] sempervictus opened #5586 "Syslog-ng does not send traffic over policy-based IPSEC tunnels for lack of localip() setting"
**Important notices**

Before you add a new report, we ask you kindly to acknowledge the following:

- [X] I have read the contributing guide lines at https://github.com/opnsense/core/blob/master/CONTRIBUTING.md
- [X] I am convinced that my issue is new after having checked both open and closed issues at https://github.com/opnsense/core/issues?q=is%3Aissue

**Describe the bug**

Syslog-ng cannot f

[2022-02-19 21:39] jPhy commented on #5585
You say the feature was added in 22.1.1 which, according to https://forum.opnsense.org/index.php?topic=26992.0, was released on February 16?

However, I could restore a configuration from "SYSTEM: CONFIGURATION: HISTORY" timestamped "2/12/22 01:38:22" with the nobind-tag on my carp configuration. The relevant section of the config is (password and subnet removed):

[code]

Does that mean I already

[2022-02-20 08:05] #5176 closed

[2022-02-20 10:15] AdSchellevis commented on #5586
If I'm not mistaken you can work around this by using static routes, binding to interfaces (which aren't stable) is something we do try to prevent.

[2022-02-20 19:17] #5536 closed

[2022-02-20 19:20] AdSchellevis commented on #5536
https://github.com/opnsense/core/commit/92352ec4fa0ca1dc76dd3098fc35a4aa64f1f2cf should add the reverse fqdn's for the addresses when available. It's a bit of an experiment, but if you do want to try it out, the following command should apply on the latest OPNsense version:

[code]

[2022-02-20 23:39] kabaga commented on #5526
Do we have any updates or idea what is going on?
I purchased new sets of 10Gbps transceivers and replaced the DAC that I was using, but no changes.

[code]

[2022-02-21 00:21] sempervictus commented on #5586
Could you please define what you mean by static routes in the context of an IPSEC site-to-site which has no actual gateway to route through (just policy selectors)? I might be missing something pretty basic here if there's a way to set that up on a dynamic interface with no next-hop, apologies.

[2022-02-21 08:11] AdSchellevis commented on #5586
It has been some time that I looked into this, but at the top of my head, you should add a gateway pointing to your "lan" address (your end of the policy) and a static route sending traffic for the other end to there. In which case the firewall will automatically know which address to use.