[2017-09-29 12:18] AdSchellevis commented on #1658
it's indeed a duplicate, if I can find some time I might add the functionality, it would indeed be practical to have it.
Let me close this issue, we keep the original one open.

[2017-09-29 12:18] #1658 closed

[2017-09-29 12:23] AdSchellevis commented on #1853
you know you can export the data? the last tab will delivers the same content as the graphs.
I'm not sure we can change the behaviour easily in the graphs.

[2017-09-29 12:24] AdSchellevis commented on #1854
If we have support for reverse lookups, you should be able to register your dhcp leases in your dns to make this happen.

[2017-09-29 13:34] peppelinux opened #1855 "Feature Request: Shibboleth/SAML Authentication support"
It would be awesome if OPNsense could be federated to a SAML IDP service, such shibboleth.

In a modern management of enterprises, academies or campus, Shibboleth IDP is now a ineludible standard. Is there any already development plugins for integrate OPN as a SP of Shibboleth or could we start thinking about this opportunity?

In other words it is not so much important that the below webserver is

[2017-09-29 14:07] AdSchellevis commented on #1855
I'm not sure core is the correct place for this, forcing SAML for webgui authentication really has disadvantages, like not being able to login to your firewall administration when your SAML provider is unreachable.

From my earlier experiences with SAML/IDP there are some challenges in getting it to work, but the service itself is certainly helpful for a lot of web applications.
If your using pyth

[2017-09-29 14:37] juj commented on #1853
Thanks for the reply! I now notice I am able to copy the data out from the other tab.

[2017-09-29 15:18] obrienmd commented on #1729
+1 on having this in the GUI, would be extremely useful!

[2017-09-29 15:51] sauff commented on #1374
I just re-read the "recommendation" of the ntp pool guys - in my opinion this is NOT a recommendation to not use contury specific pools.

But if you read on from there there is another quote:

In the end there is just the recommendation to use the pool directly because it is the easiest solution for most users. When using the country specific pools there is definitely no recommendation to not use

[2017-09-30 07:24] kavi0208 opened #1856 "[USER MANAGEMENT] Limitation of GUI"
Hello,

The user management interface has some limitations and problems:
1. A normal user assigned to group x which has access only to user management is able to create,delete,modify users but is also able to modify the admin account
2. As a normal user can modify the admin account, he can eventually assign privileges to himself to get full access. Well i can disable assign privileges for this par

[2017-09-30 10:58] mimugmail commented on #1852
This would be very nice feature since it guarantuees compatibility to older and newer clients.
For the beginning, a checkbox with a warning for unsetting the "!" in `ike` and/or `esp` would be enough.

Then older clients would negotiate lower encryption:

[code]

[2017-09-30 11:01] mimugmail commented on #1843
@rout3rx can you close this one here? We can start a discussion issue in plugins.
My proposal would be `postfix` for smtp and `amavisd-new/spamssassin` or `rspamd` for Antispam.

[2017-09-30 15:18] #1843 closed

[2017-09-30 16:23] fabianfrz commented on #1843
@mimugmail from the [forum](https://forum.opnsense.org/index.php?topic=6069.0;topicseen): this one exists too: https://sourceforge.net/projects/assp/

its (also) written in perl so it should work.

[2017-09-30 16:59] mimugmail commented on #1843
assp for BSD is only v1 and there's no maintainer for v2. If I remember correctly there was a discussion to discontinue the BSD port.

@fabianfrz There's a nice thread (german only) regarding rspamd. It's really promising in contrast to amavisd, but it's a pain to compile the port (luckily that's @fichtner 's job) ;)
https://listi.jpberlin.de/pipermail/postfixbuch-users/2017-September/065340.html

[2017-09-30 17:29] fabianfrz commented on #1843
@mimugmail does not look bad in comparison:
https://rspamd.com/comparison.html

 It has also native AV support:
https://rspamd.com/doc/modules/antivirus.html

[2017-09-30 17:37] mimugmail commented on #1843
Yep, configuration is also pretty easy

https://forums.freebsd.org/threads/60690/

[2017-09-30 18:02] fichtner commented on #1843
Just add a reminder ticket for rspamd 😊

[2017-09-30 18:22] fabianfrz commented on #1843
@fichtner done

[2017-09-30 18:38] peppelinux commented on #1855
You're right, Shibboleth is simply out of scope, introducing a PHP SAML2 library will be the goal.

A stupid question: Does OPN have a authentication stack or just one auth could be used at time.
I mean, If my user@IDP doesn't work could I use a local /etc/passwd OPN user?
In Django we use multiple autentication backends configured in a stack, from top to bottom the first that matches will give th

[2017-09-30 18:42] AdSchellevis commented on #1855
you can configure a fallback, just take a look at our authentication framework and settings (in System->Access)

[2017-09-30 19:12] peppelinux commented on #1855
Could a php-saml auth be introduced as a plugin or we have to commit in the core repo?

[2017-09-30 19:16] AdSchellevis commented on #1855
a plugin, but you might need additions in core, the procesflow using saml is quite different.

[2017-09-30 20:07] peppelinux commented on #1855
Could we develop in core directly?
This thing will take more time but, if in my work environment we will decide to introduce OPNsense in production it will be because of SAML2 support. This mean that if it will be introduced, well, it will supports SAML2 :)

I do not have any alternative way to face this, just develop it!

[2017-09-30 22:08] fabianfrz commented on #1855
@peppelinux you can write it and it can be moved later. We cannot enforce anything what you do in your repositories or local machines. Just create a new feature branch and you may get help how to extract the changes for a plugin.

[2017-10-01 06:00] rout3rx commented on #1843
i think
http://www.caronteantispam.com/quick_install.php
not bad. it have a rich interface and MTA installed built in.

[2017-10-01 06:08] mimugmail commented on #1843
It's not free?!

http://www.caronteantispam.com/acquista.php

[2017-10-01 06:25] rout3rx commented on #1843
yeah, sorry.

[2017-10-01 08:28] Stephanowicz opened #1857 "[feature request] SYSLOGD config"
Hello again^^,

Basically I'd like to have more control over what is logged and where.
At moment this is partially avaiable for remote logging only

As it is quite a bit of work to add individual options it would be great if one could add an additional line to the settings at least...
e.g I'd like to have smth like
`*.err;kern.warning;*.notice;authpriv.none;kern.debug;lpr.info;mail.crit;news.err	/

[2017-10-01 08:53] peppelinux commented on #1855
thank you @fabianfrz, if something will happen I'll post updates here

[2017-10-01 09:14] fichtner commented on #1857
Syslog-ng should eventually replace syslogd and we want to make that more configurable. But at the moment we don’t know if this is landing in 18.1 or not. It’s not likely that the old system will receive substantial updates in the meantime.

[2017-10-01 10:03] rout3rx commented on #1843
i installed rspamd via pkg and run it in a privileged user, some ports such as 11333 and 11334 is already listend but no one have webui and give me a error:
{"error":"invalid command: ","error_domain":"protocol-error"}

[2017-10-01 10:10] fabianfrz commented on #1843
@rout3rx Maybe you are talking to it using the wrong protocol (for example accessing the milter port using HTTP). Please check the configuration for enabling the GUI.

[2017-10-01 10:55] fabianfrz commented on #1843
@mimugmail I compiled `rspamd` on my arch linux machine without any problems (just had to install an AUR package as a dependency).

So building should not be an issue for making it working on OPNsense as well.

[2017-10-01 11:26] mimugmail commented on #1843
@fabianfrz Great! :) I tested it couple of weeks ago but not very deeply.
@rout3rx 11334 is the admin port, but it's localhost only. On a Debian install it works good :)

I loke the proposal to put all own stuff in subfolder local.d, this would make it very easy to adapt to OPN.

Also really nice to train ham&spam via Admin UI

@fichtner This would mean we need postfix, rspamd and redis-server as

[2017-10-01 20:29] noahmehl opened #1858 "API access to firewall rules and aliases"
# Definition

As a user, I need API access to update firewall aliases and rules.  The specific use case is to run an agent on my servers (fail2ban for instance), that can update a firewall alias list with banned IP addresses for the firewall rule/s.

## Next Steps
Not sure how to get started on such a thing...  Also, please let me know if this is a duplicate of an existing issue.

[2017-10-02 07:57] AdSchellevis commented on #1858
It's on the roadmap, but long time, since we need the legacy code to move into manageable direction, this https://github.com/opnsense/core/issues/1326 for example is a prerequisite and then we should move all validations into a model/controller construction.

A possible short-term win could be to add an api to the aliases and start from there, for most scenarios access to the aliases is enough (li

[2017-10-02 09:27] juj opened #1859 "Clarify what does "Insert my local MAC address" do?"
In the Interface setup view, there is a button `Insert my local MAC address`, like so:

![opnsense_lan_setup](https://user-images.githubusercontent.com/225351/31071167-b4e49264-a76b-11e7-9164-09ed4a710118.png)

I think it would be worth clarifying on the GUI page, what does that button exactly do, and what happens when one leaves the box blank?

In particular, does "my local" in that sentence mean

[2017-10-02 12:54] noahmehl commented on #1858
Well, I'm for anything that allows me to update aliases from an API :). Is this something that has to be sponsored?  I don't know if I have the skillset to help programmatically...

[2017-10-02 13:25] AdSchellevis commented on #1858
I’m working in that area, but very busy. I’ll put it on my list of things todo, maybe 18.1, I can’t promise

[2017-10-03 09:04] youhackme commented on #1856
I am having the same issue. Is this a bug or an intended feature? 🤔

 Thanks.

[2017-10-03 12:09] fichtner commented on #1856
This is how the privileges system was designed and maintained in earlier iterations of the software.

Even in theoretical / more complex solutions to the system giving rights to the user management will yield full power over user management so I am not sure how to solve this without adding more code that is tailored for specific use cases that could maybe solved differently.

In the case of xauth

[2017-10-03 12:32] gertfriend opened #1860 "GeoIP selection of countries"
Maybe it will be possible to change the GeoIP country selection from Dropdown to multiple-selection list box sorted by continent and then by country which would be more comfortable.

[2017-10-03 12:38] gertfriend opened #1861 "Drag and Drop for sorting in Firewall- and Nat-Rules"
Would it be possible to implement Drag and Drop in Firewall and Nat Rules to sort them?

[2017-10-03 12:44] gertfriend opened #1862 "Fast change of Aliases"
Can you please implement that i can change an alias for more rules at the same time, for example i select 20 rules and change for them at once the Source Alias.
Or would it be possible that i can change an assigned aliastype, for example i have an Alias of the type GeoIP for 50 rules, now i must change the aliastype to Host(s) but that isn't allowed and if i would like to change like this i must c

[2017-10-03 12:47] kavi0208 commented on #1856
Hello,

Going through external authentification creates another problem with openvpn as actually user management permits the creation of ssl certificates for users directly when adding a user. In case of using external authentification means user creation will be done via lets say radius but certificates creation will be via opnsense more precisely in trust menu.

Regards,
Kaviraj

[2017-10-04 10:03] fionnb opened #1863 "possible remote code execution holes in dnsmasq?"
Hi everyone,

since I could not find this topic on the forum or in the issues with a search, I thought it might be worth mentioning that the dnsmasq version currently used in production opnsense is apparently prone to **several high-level insecurities, including remote code execution**.

I'd like to kindly ask to include the fixed version 2.78 at least in the next update to 17.7

Find more details

[2017-10-04 10:04] fichtner commented on #1863
17.7.5 ships tomorrow with dnsmasq 2.78 :)

Cheers,
Franco

[2017-10-04 10:04] #1863 closed

[2017-10-04 10:14] fichtner commented on #1863
PS: you can install the newer version from ports at any time already

    # opnsense-code tools ports
    # cd /usr/local/dns/dnsmasq
    # make reinstall

[2017-10-04 11:50] youhackme opened #1864 "List users and create VPN accounts via API?"
Hello,

First, thank you for creating such a great tool.

We actually have a specific need to allow certain users to create VPN accounts. Is this functionality available through an API endpoint? I'm unable to find documentation regarding this.

Thanking you in advance. :)

Hyder

[2017-10-04 14:15] AdSchellevis commented on #1864
There’s no API endpoint available, but you could investigate the use of radius and use the freeradius plugin. I expect you can create users there from the API in the plugin

[2017-10-04 15:23] fichtner commented on #1864
@mimugmail can you confirm freeradius plugin has API to fetch user list and add / remove them? That would be a nice solution indeed...

[2017-10-04 17:20] mimugmail commented on #1864
@fichtner I'm not the API specialist, but since it's build plain MVC there shouldn't be a problem with it.
@youhackme you want to use it for OpenVPN? Beware that the authentication script for radius is very limited, only user/pw is supported. If you need extra attributes for every user you'll have some trouble :)

[2017-10-05 06:13] patcsy88 opened #1865 "Captive Portal broken in 17.7.4"
All OPNsense folks,

I have configured Captive Portal to manage a Guest network (VLAN20 and 192.168.20.1/24. I have added the relevant DNS and port range 8000-10000. When i enable the Captive Portal, I am not presented with the login screen. Instead the browser is allowed to connect to all URLs and resolving. Ping from the Guest network is blocked when the Zone is enabled. Guest is on re2_vlan20.

[2017-10-05 06:14] fichtner commented on #1865
Hi Patrick,

Are you using Multi WAN?

Cheers,
Franco

[2017-10-05 06:16] patcsy88 commented on #1865
Hi Franco,

Yes I have multiwan setup using gateway groups.

[2017-10-05 06:18] fichtner commented on #1865
Can you try to enable Firewall: Settings: Advanced: Shared Forwarding? :)

[2017-10-05 06:29] patcsy88 commented on #1865
As I was remotely accessing the fw via OpenVPN, as soon as i enabled the setting, my connection via my primary link dropped. Whilst i am now able to connect via the secondary link and can confirm that the login page now appears on the guest pc, i am unable to establish a VPN via my primary link. I have issued a reboot...will keep you posted.

[2017-10-05 06:32] fichtner commented on #1865
Ok, that's a good start. Let me say why this is necessary / not the default:

In FreeBSD the firewalls ipfw and pf are used for different purposes and OPNsense is built around it to make use of both systems. But the problem is that ipfw and pf have trouble cooperating in the case of gateway group policies (or any policy based routing in pf) so we wrote the non-standard shared forwarding kernel pat

[2017-10-05 07:16] patcsy88 commented on #1865
Ok thanks for the help and info. The Captive Portal documentation would need to updated to include the Shared Forwarding setting information. I will retest on the guest machine this evening via UI browser to confirm what i observed via lynx.

[2017-10-05 08:50] mimugmail commented on #952
@fichtner any chance to get the multiremote support in 17.7.6? Since the open topics are not related to OpenVPN itself it would be nice to have this on stable

[2017-10-05 10:40] fichtner commented on #952
I think so :)

[2017-10-05 13:06] patcsy88 commented on #1865
Ok i have tested and the Captive Portal login screen now appears and i can authenticate against my authentication services and browse the Internet. However, i tested my OpenVPN set up via NAT and the secondary link does not work. Can you enlighten me on how i can fix my policies so that my OpenVPN access is available on both links?

Many thanks.
Patrick

[2017-10-05 13:07] fichtner commented on #1865
Only if you can share how you set up NAT for OpenVPN in the first place... :)

[2017-10-05 13:19] patcsy88 commented on #1865
Coming from mostly a Linux environment, I can quickly capture the iptables -t nat output. I am not yet familiar with ipfw and pf but am giving it a shot so here you go:-

rdr on pppoe0 inet proto udp from any to (pppoe0) port = openvpn -> <host_alias> round-robin
rdr on pppoe1 inet proto udp from any to (pppoe1) port = openvpn -> <host_alias> round-robin

[2017-10-05 13:23] patcsy88 commented on #1865
Here are the rules:-

pass in quick on pppoe0 reply-to (pppoe0 1.2.3.4) inet proto udp from any to <host_alias> port = openvpn keep state label "USER_RULE: NAT "
pass in quick on pppoe1 reply-to (pppoe1 1.2.3.4) inet proto udp from any to <host_alias> port = openvpn keep state label "USER_RULE: NAT "

[2017-10-05 13:41] fichtner commented on #1865
So OpenVPN is not on the OPNsense box? Which inbound connection is working, pppoe0 or pppoe1?

[2017-10-05 14:04] patcsy88 commented on #1865
pppoe0...pppoe1 is not

[2017-10-05 14:16] fichtner commented on #1865
judging from your rules, do both pppoe connections have the same gateway "1.2.3.4" ? that would be a config that shouldn't work in FreeBSD at the moment.

The traffic should hit an internal VPN server via pppoe1 but the outgoing packets are probably moved out the other way.

Are you sure that everything is 100% correct (not counting the captive portal) when shared forwarding is off? UDP OpenVPN ca

[2017-10-05 14:19] patcsy88 commented on #1865
Sorry 1.2.3.4 and 1.2.3.5. Both gateways have different IP addresses. Yes before enabling the Shared Forwarding both links work. I did a test by disabling and both links can connect.

[2017-10-05 14:22] patcsy88 commented on #1865
Whilst UDP is stateless, would not the return route go via the original gateway instead of coming back through the other?

[2017-10-05 14:24] fichtner commented on #1865
It should, but it has side effects when OpenVPN is running on the OPNsense itself (#952)

Alright, so far so good. Last question would be: do you see the initial connection attempt on pppoe1 on the internal OpenVPN server?

[2017-10-05 14:38] patcsy88 commented on #1865
Yes i do and here is the tcpdump on pppoe1 (121.122.111.173) when i initiate the openvpn connection:-

22:35:54.839852 IP (tos 0x0, ttl 63, id 42153, offset 0, flags [DF], proto UDP (17), length 42)
    x.x.x.x.openvpn > 113.210.193.25.50083: [udp sum ok] UDP, length 14
22:35:54.992075 IP (tos 0x0, ttl 248, id 64282, offset 0, flags [none], proto UDP (17), length 42)
    113.210.193.25.50083 > 121

[2017-10-05 14:38] patcsy88 commented on #1865
Also I have another service on tcp with the same setup and i cannot access that service via pppoe1.

[2017-10-05 14:44] mimugmail commented on #1865
Do you have Gateway switching enabled?

[2017-10-05 14:46] patcsy88 commented on #1865
nope

[2017-10-05 14:59] mimugmail commented on #1865
Would you mind enabling it just for testing?

[2017-10-05 15:00] patcsy88 commented on #1865
Sure

[2017-10-05 15:02] patcsy88 commented on #1865
The behaviour is the same when Gateway Switching is enabled - no access via pppoe1

[2017-10-05 15:10] patcsy88 commented on #1865
i had the same setup on pfsense for years npb. As stated in the OPNSense pages, there is only a small % of overlap of code with pfsense but it may be useful to understand the approach that was taken by pfsense and the security risks, if any and how this can be adopted into OPNSense. This is a deal breaker for me and if it is not working (i manage a remote DC and it is imperative i have the backup

[2017-10-05 15:26] fichtner commented on #1865
pfSense uses a more modified FreeBSD kernel. It it works, why not. We've found it increasingly difficult to maintain a large set of patches with diminishing returns so we try to flatten out the modifications to the bare minimum.

I think this is one of the cases in shared forwarding where the default route in FreeBSD decides where the packet will be sent to as opposed to allowing pf to deal with i

[2017-10-05 16:04] fichtner commented on #1865
I have a possible candidate here and will post a modified kernel for testing after internal test is ok: https://github.com/opnsense/src/commit/c16f7f69ca

[2017-10-05 16:06] mimugmail commented on #1865
I tested this setup on multwan with one static wan and one dhcp. Works fine without shared forwarding and enable gateway switching.

[2017-10-05 16:07] fichtner commented on #1865
@mimugmail I think this is a different setup :)

[2017-10-05 16:10] mimugmail commented on #1865
Yep, but double pppoe and a test machine with CP is only at work, and off :)

[2017-10-05 19:29] fichtner commented on #1865
@patcsy88 can you try this kernel + shared forwarding?

# opnsense-update -kr 17.7.1-replyto
# /usr/local/etc/rc.reboot

[2017-10-06 03:22] patcsy88 commented on #1865
I have introduced the new kernel and enabled Shared Forwarding but the behaviour remains the same:

OpenVPN access (via a host behind the firewall via NAT) on pppoe0 works
OpenVPN access (via a host behind the firewall via NAT) on pppoe1 doesn't

Guest PC on the Guest network gets redirected correctly to the login page via :8000.

[2017-10-06 03:24] patcsy88 commented on #1865
Here is output of uname -a to confirm the patched kernel is the running one when i tested the above

FreeBSD OPNsense.ch30ng.org 11.0-RELEASE-p12 FreeBSD 11.0-RELEASE-p12 #0 6eaf07e05(fix_replyto): Thu Oct  5 19:29:06 CEST 2017     root@sensey64:/usr/obj/usr/src/sys/SMP  amd64

[2017-10-06 03:34] patcsy88 commented on #1865
I did the test "To confirm and assuming your default route is set to pppoe0, please switch it to pppoe1. pppoe0 won't work, but pppoe1 should." and while I did not check the Default Gateway for both links, selecting pppoe1 as the default allowed the remove VPN connection to work on pppoe1 but not on pppoe0 (even with the new kernel).

[2017-10-06 03:44] patcsy88 commented on #1865
I am upgrading to 17.7.5 to that i have the latest 'patch' level.

[2017-10-06 03:58] patcsy88 commented on #1865
Do i re-introduce the 6eaf07e kernel after i upgraded to 17.7.5? It did not alter the observed behaviour in 17.7.4 though...

[2017-10-06 06:58] monster900 commented on #1831
Stephan,
it's working! But only for the access log. The store log keep showing the unix time format. Is there another line into squid.conf to change the time format for store log too?
What happens after an update? I think that these changes gone after an update, right?

best regards
Dirk

[2017-10-06 07:18] fichtner commented on #1831
Yes, it should be added to OPNsense else it's overwritten. I don't mind changing the format, but what happens to e.g. lightsquid analysis in these cases?

[2017-10-06 07:41] Stephanowicz commented on #1831
@fichtner do these depend on the unix time format?

@monster900 as far as I know it's not possible for the store log

probably a custom format field would be helpful... though one needs  to know what one is doing...

[2017-10-06 07:45] fichtner commented on #1865
The kernel will reinstall its known release version, so you will have to update the test kernel again.

I have one more idea here for how to address this. Thanks for the test with the default gateway, it indicates that reply-to does not work at all, probably due to the fact that it tries to alter the outgoing interface while already in the outgoing path.

[2017-10-06 07:46] fichtner commented on #1831
I don't know, that's all I'm saying.

lightsquid is not a default so we can get away with using the new timestamp format as a default, but then we need to provide a fallback option for the people who use other tools that expect the "standard" log format.

[2017-10-06 12:21] goor4 opened #1866 "dhcp leases: hostnames with spaces cannot be registered"
Host get a ip adress via dhcp and should register their hostname in dns (e.g. via unbound).

That can be configured as follows:
Menu: Services -> Unbound DNS -> General
  DHCP Registration: [x] Register DHCP leases in DNS Resolver
  DHCP Static Mappings: [x] Register static mappings in the DNS Resolver

But after some weeks uptime this work for some hosts but for some hosts not anymore.

Is it pos

[2017-10-06 12:23] patcsy88 commented on #1865
I will leave it with the default kernel and wait for the new kernel to test.

[2017-10-06 15:02] fichtner commented on #1866
It seems this was fixed in isc-dhcp 4.3.5, we're now at 4.5.6. Also see https://github.com/pfsense/pfsense/commit/1bd7d5e5753c

[2017-10-06 15:02] fichtner commented on #1866
What version are you running?

[2017-10-06 15:11] goor4 commented on #1866
OPNsense 17.7.4-amd64  (latest version)

with:
isc-dhcp43-server	4.3.6_1
dhcpleases	0.2
unbound	1.6.6

[2017-10-06 15:13] fichtner commented on #1866
Can you find an entry without a hostname in your leases file?

[2017-10-06 15:20] Stephanowicz commented on #1831
A combobox with different formatting options would be nice^^

[2017-10-06 15:28] goor4 commented on #1866
I just startet the system and:

The lease shows the correct hostname:
Services: DHCP: Leases
Interface IP address MAC address Hostname Description
LAN 	192.168.33.193 	58:9c:fc:12:23:56 fbsd110

Services: DHCP: Log File
Oct 6 17:22:02 	dhcpd: DHCPACK on 192.168.33.193 to 58:9c:fc:12:23:56 (fbsd110) via igb0
Oct 6 17:22:02 	dhcpd: DHCPREQUEST for 192.168.33.193 (192.168.33.1) from 58:9c:fc:12:23:56

[2017-10-06 18:52] goor4 commented on #1866
I managed to get ssh access:
cat /var/dhcpd/var/db/dhcpd.leases

lease 192.168.33.193 {
  starts 5 2017/10/06 18:22:01;
  ends 5 2017/10/06 20:22:01;
  tstp 5 2017/10/06 20:22:01;
  cltt 5 2017/10/06 18:22:01;
  binding state active;
  next binding state free;
  rewind binding state free;
  hardware ethernet 58:9c:fc:12:23:56;
  uid "\001X\234\374\013\3468";
  client-hostname "fbsd110";
}

DNS-Loo

[2017-10-06 19:41] syserr0r commented on #1100
After re-visiting CARP/HA again and stumbling upon the related pfsense article (and this) I suspect this may be a factor in my problems.

Both my systems have both `net.inet.carp.ifdown_demotion_factor` and `net.inet.carp.senderr_demotion_factor` as 240 (and not 0) -- was this patch reverted or is there something odd about my set-up?

[2017-10-06 21:51] patcsy88 opened #1867 "Captive Portal Allowed Addresses not saving"
Hi,

After configuring CP, i wanted to allow some hosts in the Guest zone to bypass CP and thus added 192.168.1.100/32 in Allowed Addresses, saved and Apply. However the host is still being redirected to the CP login page. Checking the configuration, the Allowed Address is black. I tried various permutations including excluding the entire subnet. I am on 17.7.5

[2017-10-07 03:12] patcsy88 commented on #1865
Is there a new kernel with the 'one more idea' i can test as i have the weekend to progress this more promptly?

[2017-10-07 04:24] mimugmail commented on #1867
You mean empty with "black"? Enter "," after the IP address and then save.

[2017-10-07 07:30] fichtner commented on #1865
Yes, this one:

    # opnsense-update -kr 17.7.1-replyto3
    # /usr/local/etc/rc.reboot

[2017-10-08 00:24] patcsy88 commented on #1867
Got it! Thanks!

[2017-10-08 00:24] #1867 closed

[2017-10-08 00:31] patcsy88 commented on #1865
Hi Franco,

The patched 17.7.1-replyto3 kernel works! I will continue to test it till end of the weekend but will go ahead and close this. In summary with **Shared Forwarding enabled**, **CP** appears to now **work correctly** (i.e. redirected to Login page) **AND** the **inbound NAT/Routing via dual links to services behind the FW now works properly**.

Many thanks for this...you guys rock!

Rega

[2017-10-08 00:31] #1865 closed

[2017-10-08 09:45] fichtner commented on #1865
Hi Patrick,

Thanks for this splendid feedback!

We're going to test this more extensively internally before we add it to 17.7.x so make sure to reapply the kernel after firmware updates. It was already added to the upcoming 18.1-BETA code so we get more extensive testing from this angle as well.

I'll drop a final note here when this ships in 17.7.x. Until then make sure the kernel is fixed up af

[2017-10-08 10:22] abraxxa commented on #1784
What I further found out is that the `Allow interface subnets` checkbox only adds the IPv4 networks to the squid.conf `acl localnet src` setting. Adding my local IPv6 prefix in the `Allowed subnets` adds a `acl subnets src` line to squid.conf which seems to be identically configured further down in the config file but still doesn't make it work.
Is there nobody with a dual-stack setup using the tr

[2017-10-08 15:41] mimugmail commented on #1626
@Ulrar @juggie @tioan Would you mind send me an anonymized copy of your telegraf.conf? With your parameters I'd build a plugin ...

[2017-10-08 17:57] mimugmail opened #1868 "[FR]: data-type=password in mvc formulars"
Hi,

in a dialog forms there's the option data-type="string" which will be translated as type=text in `<input>`
Is there a change to add a data-type="password" to translate it as type=password?

Example:
[code]

Perhaps there's already an option I'm not aware of :)

Thanks!

[2017-10-08 18:06] fichtner commented on #1868
Hi there,

This? :)

https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/views/layout_partials/form_input_tr.volt#L65

Cheers,
Franco

[2017-10-08 18:10] mimugmail commented on #1868
Forget it ... form `<type>password<type>` ... should have investigated some more minutes :(

[2017-10-08 18:10] #1868 closed

[2017-10-09 00:37] shonjir commented on #1721
While adding options, the following would be even more awesome.

lz4-v2 compression support
push compression option to client checkbox
ncp-ciphers config support (encryption cipher negotiation)

[2017-10-09 02:17] shonjir opened #1869 "[Suricata][Feature Request] Snort VRT Rules Support"
Building on issue https://github.com/opnsense/core/issues/1834, I've created a version for Snort VRT subscription rules.

[snort-vrt.xml.txt](https://github.com/opnsense/core/files/1367391/snort-vrt.xml.txt)

Edit: It seems to be working fine.

[2017-10-09 02:33] juggie commented on #1626
Hey @mimugmail

I'm running pretty much a stock configuration.  Nothing special besides being pointed at my influxdb server.  The problem w/ telegraf is the configuration options in terms of different output and input plugins are pretty extensive.

[2017-10-09 08:16] mimugmail commented on #1626
@juggie I'd like to see it anyway. With all you 3 conf's I can start with a plugin make all your instances configurable via UI.

Just send it to:
https://github.com/opnsense/plugins/blob/master/net-mgmt/collectd/Makefile

[2017-10-09 17:29] shonjir opened #1871 "[Suricata][Feature Request] Additional rule UI widgets for editing/sorting/filtering"
There are a number of UI enhancements that would make the rule editor easier to use for more complex policies.

- [ ]  A way to apply rules or filters to mark rules for dropping, sort of like oinkmaster rule files.

- [ ]  A widget to respect the IPS policy mode metadata for Snort VRT rules (https://github.com/opnsense/core/issues/1869) to enable preselected rules for dropping (e.g., via "policy m

[2017-10-09 17:55] alpha197 opened #1872 "[Unbound] OpenVPN-Interface not adding OpenVPN-Subnet to Internal Access List"
When adding an OpenVPN-Interface as "Listen Interface" for Unbound the (automatically generated) Internal Access List restricts to the interface adress with 32-metrics (e.g. 10.0.8.1/32). OpenVPN-Clients won´t get access to Unbound unless adding the OpenVPN subnet as a manual access list (eg. 10.0.8.1/24).

See screenshots from here:
[https://forum.opnsense.org/index.php?topic=5764.0](https://foru

[2017-10-09 18:21] fichtner commented on #1872
@alpha197 thank you, please ping me again when I'm being lazy 👍

[2017-10-09 20:50] shonjir commented on #1869
Opened PR https://github.com/opnsense/plugins/pull/316

[2017-10-10 04:11] fichtner commented on #1859
Hi @juj,

It wasn't / isn't clear, I agree... After a review, the code "means" the following: the visible remote MAC address that is being used to connect to the OPNsense box via your current GUI session, noting that it will be the nearest router hop by the way how the link layer works.

That is what is normally necessary if you put the OPNsense in front of your home router to be able to talk to t

[2017-10-10 04:15] mimugmail commented on #1864
@youhackme Perhaps also relevant for you:
https://forum.opnsense.org/index.php?topic=6116.msg25680#msg25680

If it fits please close the issue 👍

[2017-10-10 05:17] youhackme commented on #1864
Hey thanks for your feedback guys. Unfortunately, radius is not a good fit for our scenario. I'm closing this issue.

[2017-10-10 05:17] #1864 closed

[2017-10-10 09:03] AdSchellevis commented on #1871
@shonjir

you know you can change all rules in a file at once using "filter" in the download tab? or are you looking for something more fine-grained?

[2017-10-10 10:02] mimugmail commented on #1626
Do you use haproxy and net plugin?
I'm currently adding cpu, disk, diskio, mem, swap, processes and system. You need some more?

[2017-10-10 18:54] shonjir commented on #1871
Definitely more fine-grained.  The per-ruleset method works well for the ET-open rules where most of the rules you'd want to set to drop are well grouped into distinct rulesets.

Snort rules aren't quite as accommodating, with rules of varying severities and desired actions mixed throughout.  More selection options would definitely help with these.

From a flexibility standpoint being able to set

[2017-10-11 09:58] epicavic opened #1874 "OPNsense 16.x/17.x default gateway"
Hello,

openvpn setup:
 - latest openvpn version (17.7.5) (older versions are affecred also)
 - 2 wan links with static ip's (static ip configuration on interfaces)
 - wan failover group (tier1-tier2/member down) (all LAN traffic router via wan_failover GW)
 - WAN_1_GW - default gw (0.0.0.0/0 via WAN_1_GW)

issue description:
"System-Gateways-All-WAN_2_GW-Edit-Default gateway-check-Save"
https://e

[2017-10-11 17:58] mimugmail commented on #1874
Do you have Gateway switching enabled?

[2017-10-12 06:13] epicavic commented on #1874
Opnsense 17.7.5
Firewall - Settings - Advanced - "Gateway Switching" - not checked
Opnsense 16.7.14
System - Settings - General - "Gateway Switching" - checked

i have tried with with disabled on 17.x and enabled on 16.x
behavior seems to bee the same
as soon as you mark WAN_2_GW as default GW and press "Save" button - you're loosing connection to router from WAN

[2017-10-12 14:47] mimugmail commented on #1874
Can you try with Gateway Switching enabled on 17.7?
For me this works fine ... WAN1 static, WAN2 dhcp. Both static should be more stable than mine ...

[2017-10-12 14:52] goor4 commented on #1866
After some Day without reboot of openSense and the host with failing dhcp-dns-registration now the registration works without intervention.

[2017-10-12 14:58] fichtner commented on #1874
This is a bit unclear... most of all why is switching the default gateway necessary when you are using a gateway group?

Please set Firewall: Settings: Advanced: "Use sticky connections"

Which WAN? Both WANs or just while connecting via the default one, switching to the non-default one?

[2017-10-13 12:16] epicavic commented on #1874
- i mistakenly configured default gateway for secondary ISP and wanted to change it to primary ISP
 - i do not use gateway groups for openvpn server (not sure if it's possible. i've seen gateway groups setup for LAN but haven't seen anything related to gateway groups and openvpn. i guess in theory openvpn server can also use gateway groups)

 - connected via non-default WAN, switching it to defaul

[2017-10-13 12:33] epicavic commented on #1874
let's imagine scenario:
WAN1 - primary ISP (primary), WAN2 - secondary ISP
WAN1-GW - default GW
WAN1_GW/WAN2_gw - monitoring - enabled (8.8.8.8, 8.8.4.4), gateway switching - enabled, sticky connections - disabled
WAN1_GW and WAN2_GW - configured as Failover Group
LAN - all traffic (except DNS) routed via Failover group
Openvpn - configured on WAN1 and WAN2. no gateway specified (use default * gw)

[2017-10-13 12:35] mimugmail commented on #1874
Please use sticky connections. Nonetheless you have to change OpenVPN to TCP mode, then you can achieve multi wan on local machine.

[2017-10-13 12:37] epicavic commented on #1874
- will try with sticky connections
 - no need to use TCP mode. i have configured 2 openvpn servers in UDP mode

[2017-10-13 12:38] mimugmail commented on #1874
Ah, two servers every listening on it's own WAN, ok this should also work.

2017-10-13 14:37 GMT+02:00 Viktor Buchkivsky <notifications@github.com>:

[2017-10-14 13:11] mimugmail commented on #1860
This really need some attention.

The sort order in Aliases is by Country Codes. Normally this should make sense, but the CC of Germany is DE. Now this is how it looks like:

![image](https://user-images.githubusercontent.com/20438689/31575952-858ca760-b0f1-11e7-88ec-706f66ebfa43.png)

CC of Algeria id DZ, that's why it's there.

First of all there should be a new sort order by country_name.

Also

[2017-10-14 15:14] obrienmd opened #1875 "IPSec transport mode broken in 17.7.x"
Per an e-mail conversation with @fichtner , I have been struggling with IPSec in transport mode (to support GRE tunnels and dynamic routing) in OPNSense. I have also tried the following with a testing 11.1 kernel he sent over, hoping the new ipsec bits in that kernel would help - they did not.

When a transport mode phase 2 is brought up, OPNSense doesn't seem to be sending traffic through the IPS

[2017-10-14 15:29] obrienmd commented on #1875
I manually changed auto=start to auto=route in the /usr/local/etc/ipsec.conf file on OPNSense, and it brought up the "Routed Connection" to pfSense status in ipsec statusall. However, no change to outbound traffic being sent in the clear (and thus blocked).

[2017-10-14 15:44] obrienmd commented on #1875
More - setkey -D for the two boxes (OPNSense and pfSense looks the same). Can't figure out why OPNSense isn't throwing the traffic into the IPSec transport...

[2017-10-14 21:42] mimugmail commented on #1875
@obrienmd can you compare the output of ipsec.conf in OPN and pf?

[2017-10-14 21:53] obrienmd commented on #1875
Updated gist: https://gist.github.com/obrienmd/724a3b3f13e336de618b7725cf3063d7

[2017-10-15 03:39] Diegonarducci88 opened #1876 "what is the usefulness of logging in firewall rules ?"
Hello, I'm looking for a firewall, but I'm not sure if this is the case. I'm not sure if this is the case. every firewall rule has the option to log this rule, but when I go to settings and log files / normal view, all the log of all rules appears, what is the usefulness of the log option per rule if I can not see individually or only the What I put to log?

[2017-10-15 04:33] mimugmail commented on #1875
Sorry @obrienmd I can't reproduce it.

For testing:
- Go to Firewall rules and allow everything between the WAN IPs
- Both FW P1's, only change to v2, add test as psk, add peer, nothing else!
- Both FW P2's, only change type to Transprt, nothing else!

This works fine for me .. 17.7.5 and other peer 17.7.4. I can update the last one if you insist :)

[2017-10-15 04:42] mimugmail commented on #1876
Go to
System - Settings - Logging

There you can disable to log accepted packets.

@fichtner @AdSchellevis why isn't this under Firewall - Settings. I searched 3 times the page and had to google for this :/

[2017-10-15 08:46] Heathy65 commented on #1785
I have this on a PC Engines board with 4GB RAM (at 33% usage).  Am running OPNsense 17.7.5-amd64.

[2017-10-15 10:47] AdSchellevis commented on #1860
@mimugmail I agree about the sorting, but not the continent data. we use /usr/local/opnsense/contrib/tzdata/iso3166.tab for country codes, which is always available on the machine and doesn't require a download first. Unfortunately there is no continent in there.

I will prepare a fix for the sorting, and add some JS magic to replace the select for a searchable one, but that's as far as I will tak

[2017-10-15 11:28] fichtner commented on #1860
I agree that it's difficult to conjure a nice UX here for selecting whole Continents, managing exceptions within, etc...

The zone.tab file has all the info. I'll try to look at implementing it after Ad's changes.

https://github.com/Distrotech/tzdata/blob/master/zone.tab

[2017-10-15 11:39] mimugmail commented on #1860
Yep, really tricky with a dropdown list. Sophos does this besides the rules, just to give you an idea:

![image](https://user-images.githubusercontent.com/20438689/31584407-400436b4-b1ae-11e7-9e18-433883563f78.png)

[2017-10-15 11:44] AdSchellevis commented on #1860
with the continent info available, optgroups (https://silviomoreto.github.io/bootstrap-select/examples/#select-boxes-with-optgroups) could be used. but selecting more items in the same row also requires changes to the filter.

[2017-10-15 13:10] fichtner commented on #1860
Option groups with individual select/deselect all might work if they can be combined, so people can select whole regions and also make exceptions....

[2017-10-15 14:25] fichtner commented on #1860
I think the Sophos example is good, the boxes should be multi-select and we have a fixed data so adding more fields doesn't help...

I would:

1. Add javascript section headers checkbox to toggle whole region.
2. Add checkboxes in each region for each country.

That way "search" can be done via browser.

Ok?

[2017-10-15 14:57] mimugmail commented on #1860
And probably a checkbox of the country rules should be before or after the user ruleset

[2017-10-15 15:13] AdSchellevis commented on #167
timeout (+ duplicate https://github.com/opnsense/plugins/issues/16 )

[2017-10-15 15:13] #167 closed

[2017-10-15 15:13] fichtner commented on #1860
I don't understand that last part?

[2017-10-15 15:15] fichtner commented on #1860
Like this, only pretty...

<img width="668" alt="screen shot 2017-10-15 at 5 14 44 pm" src="https://user-images.githubusercontent.com/1915288/31586078-6be67f1c-b1cc-11e7-937d-038df1c9e3f6.png">

[2017-10-15 15:18] AdSchellevis commented on #1860
I would advise to keep it simple, within the features selectpicker kan handle by default..... The amount of work needed could grow rapidly.
This
![image](https://user-images.githubusercontent.com/9783985/31586085-9ad9a38a-b1cc-11e7-813e-baf7aa37419f.png)

can easily be combined with
![image](https://user-images.githubusercontent.com/9783985/31586107-b3ec5494-b1cc-11e7-9f2e-1ca4d94503fd.png)

Only

[2017-10-15 15:18] AdSchellevis commented on #384
timeout

[2017-10-15 15:18] #384 closed

[2017-10-15 15:19] AdSchellevis commented on #805
timeout

[2017-10-15 15:19] #805 closed

[2017-10-15 15:21] AdSchellevis commented on #828
timeout due to inactivity

[2017-10-15 15:21] #828 closed

[2017-10-15 15:22] AdSchellevis commented on #865
timeout due to inactivity

[2017-10-15 15:22] #865 closed

[2017-10-15 15:22] AdSchellevis commented on #873
timeout due to inactivity

[2017-10-15 15:22] #873 closed

[2017-10-15 15:23] AdSchellevis commented on #904
timeout due to inactivity

[2017-10-15 15:23] #904 closed

[2017-10-15 15:23] AdSchellevis commented on #944
timeout due to inactivity

[2017-10-15 15:23] #944 closed

[2017-10-15 15:24] AdSchellevis commented on #1210
timeout due to inactivity

[2017-10-15 15:24] #1210 closed

[2017-10-15 15:24] AdSchellevis commented on #1211
timeout due to inactivity

[2017-10-15 15:24] #1211 closed

[2017-10-15 15:27] AdSchellevis commented on #1229
timeout due to inactivity

[2017-10-15 15:27] #1229 closed

[2017-10-15 15:28] AdSchellevis commented on #1241
timeout due to inactivity

[2017-10-15 15:28] #1241 closed

[2017-10-15 15:28] AdSchellevis commented on #1255
timeout due to inactivity

[2017-10-15 15:28] #1255 closed

[2017-10-15 15:29] AdSchellevis commented on #1296
timeout due to inactivity

[2017-10-15 15:29] #1296 closed

[2017-10-15 15:29] AdSchellevis commented on #1299
timeout due to inactivity

[2017-10-15 15:29] #1299 closed

[2017-10-15 15:30] AdSchellevis commented on #1313
timeout due to inactivity

[2017-10-15 15:30] #1313 closed

[2017-10-15 15:30] AdSchellevis commented on #1321
timeout due to inactivity

[2017-10-15 15:30] #1321 closed

[2017-10-15 15:31] AdSchellevis commented on #1324
timeout due to inactivity

[2017-10-15 15:31] #1324 closed

[2017-10-15 15:32] AdSchellevis commented on #1330
timeout due to inactivity

[2017-10-15 15:32] #1330 closed

[2017-10-15 15:34] AdSchellevis commented on #1338
timeout due to inactivity

[2017-10-15 15:34] #1338 closed

[2017-10-15 15:41] mimugmail commented on #1860
With Sophos this is an own tab besides fw rules. Country rules are processed before normal rules. So if you plan to so it the same way it would be cool to decide

[2017-10-15 15:44] AdSchellevis commented on #1352
timeout due to inactivity

[2017-10-15 16:02] #1364 closed

[2017-10-15 16:03] AdSchellevis commented on #1368
timeout due to inactivity

[2017-10-15 16:03] #1368 closed

[2017-10-15 16:04] AdSchellevis commented on #1371
timeout due to inactivity

[2017-10-15 16:04] #1371 closed

[2017-10-15 16:05] AdSchellevis commented on #1380
timeout due to inactivity

[2017-10-15 16:05] #1380 closed

[2017-10-15 16:07] AdSchellevis commented on #1402
timeout due to inactivity

[2017-10-15 16:07] #1402 closed

[2017-10-15 16:08] AdSchellevis commented on #1435
timeout due to inactivity

[2017-10-15 16:08] #1435 closed

[2017-10-15 16:14] #1454 closed

[2017-10-15 16:15] AdSchellevis commented on #1465
timeout due to inactivity

[2017-10-15 16:15] #1465 closed

[2017-10-15 16:16] AdSchellevis commented on #1470
timeout due to inactivity

[2017-10-15 16:16] #1470 closed

[2017-10-15 16:18] AdSchellevis commented on #1471
timeout due to inactivity

[2017-10-15 16:18] #1471 closed

[2017-10-15 16:18] AdSchellevis commented on #1473
timeout due to inactivity

[2017-10-15 16:18] #1473 closed

[2017-10-15 16:18] AdSchellevis commented on #1474
timeout due to inactivity

[2017-10-15 16:18] #1474 closed

[2017-10-15 16:19] AdSchellevis commented on #1475
timeout due to inactivity

[2017-10-15 16:19] #1475 closed

[2017-10-15 16:19] AdSchellevis commented on #1477
timeout due to inactivity

[2017-10-15 16:19] #1477 closed

[2017-10-15 16:20] AdSchellevis commented on #1482
timeout due to inactivity

[2017-10-15 16:20] #1482 closed

[2017-10-15 16:21] AdSchellevis commented on #1487
timeout due to inactivity

[2017-10-15 16:21] AdSchellevis commented on #1490
timeout due to inactivity

[2017-10-15 16:21] #1490 closed

[2017-10-15 16:21] Diegonarducci88 opened #1877 "[BUG] openvpn rule"
openvpn only connects when I create a floating rule releasing everything, the rule created by openvpn wizard does not work, even releasing all traffic on all interfaces opnsense continues giving timeout, only when I apply the rule in floating.

openvpn 2.4.4. en last version opnsense.

[2017-10-15 16:23] fichtner commented on #1860
@AdSchellevis but still the dataset is fixed and a bit too big to handle from a single select picker. if we unfold to checkboxes and create CSV from there that's easy. we also don't need the multi-row approach... it's like apples and oranges. If we can render by region, we don't have to change it again. can't get more UX than what Sophos already has in terms of edit speed and field of view.

@mimu

[2017-10-15 16:24] AdSchellevis commented on #1492
timeout due to inactivity

[2017-10-15 16:24] #1492 closed

[2017-10-15 16:24] AdSchellevis commented on #1493
timeout due to inactivity

[2017-10-15 16:24] #1493 closed

[2017-10-15 16:24] AdSchellevis commented on #1499
timeout due to inactivity

[2017-10-15 16:24] #1499 closed

[2017-10-15 16:25] AdSchellevis commented on #1508
timeout due to inactivity

[2017-10-15 16:25] #1508 closed

[2017-10-15 16:25] AdSchellevis commented on #1518
timeout due to inactivity

[2017-10-15 16:25] #1518 closed

[2017-10-15 16:26] AdSchellevis commented on #1520
timeout due to inactivity

[2017-10-15 16:26] #1520 closed

[2017-10-15 16:27] AdSchellevis commented on #1523
timeout due to inactivity

[2017-10-15 16:27] #1523 closed

[2017-10-15 16:27] AdSchellevis commented on #1525
timeout due to inactivity

[2017-10-15 16:27] #1525 closed

[2017-10-15 16:28] AdSchellevis commented on #1528
timeout due to inactivity

[2017-10-15 16:28] #1528 closed

[2017-10-15 16:29] AdSchellevis commented on #1537
timeout due to inactivity

[2017-10-15 16:29] #1537 closed

[2017-10-15 16:31] AdSchellevis commented on #1539
timeout due to inactivity

[2017-10-15 16:31] #1539 closed

[2017-10-15 16:32] AdSchellevis commented on #1550
timeout due to inactivity

[2017-10-15 16:32] #1550 closed

[2017-10-15 16:33] AdSchellevis commented on #1556
timeout due to inactivity

[2017-10-15 16:33] #1556 closed

[2017-10-15 16:33] AdSchellevis commented on #1566
timeout due to inactivity

[2017-10-15 16:33] #1566 closed

[2017-10-15 16:33] Taomyn commented on #1475
Please re-open, I would still like this added as a feature

[2017-10-15 16:34] obrienmd commented on #1875
Hrm, thanks for testing. I'm unfortunately out of time, so won't be able to
test again until my next project with IPSec, or if I get some free time in
between projects.

Thanks for the test case - given you validated, please feel free to close,
can't really make any sense out of why this only hit me, that was my exact
test case more than a few time :)

--
Mike OBrien
253.217.7129

On Sat, Oct 14,

[2017-10-15 16:35] AdSchellevis commented on #1475
@Taomyn are you planning to work on it? We can't keep issues open if nobody has the intention of working on it. We can always reopen if there's someone committed to do the work for it.

[2017-10-15 16:39] AdSchellevis commented on #1582
timeout due to inactivity

[2017-10-15 16:39] #1582 closed

[2017-10-15 16:40] AdSchellevis commented on #1583
timeout due to inactivity

[2017-10-15 16:40] #1583 closed

[2017-10-15 16:41] AdSchellevis commented on #1584
timeout due to inactivity

[2017-10-15 16:41] #1584 closed

[2017-10-15 16:43] AdSchellevis commented on #1588
timeout due to inactivity

[2017-10-15 16:43] #1588 closed

[2017-10-15 16:44] kekek2 commented on #1566
I wrote such a plugin. But it depends on proxy-sso. When it is in stable version, I'll do pull-request.

[2017-10-15 16:46] leandroscardua commented on #1566
Ok, Thank  you.

[2017-10-15 16:46] AdSchellevis commented on #1590
timeout due to inactivity

[2017-10-15 16:46] #1590 closed

[2017-10-15 16:47] AdSchellevis commented on #1593
timeout due to inactivity

[2017-10-15 16:47] #1593 closed

[2017-10-15 16:48] AdSchellevis commented on #1595
timeout due to inactivity

[2017-10-15 16:48] #1595 closed

[2017-10-15 16:48] AdSchellevis commented on #1598
timeout due to inactivity

[2017-10-15 16:48] #1598 closed

[2017-10-15 16:49] AdSchellevis commented on #1599
timeout due to inactivity

[2017-10-15 16:49] #1599 closed

[2017-10-15 16:49] AdSchellevis commented on #1602
timeout due to inactivity

[2017-10-15 16:49] #1602 closed

[2017-10-15 16:49] mimugmail commented on #1860
This would be winner against Sophos, always good to beat the commercials 👍

[2017-10-15 16:50] AdSchellevis commented on #1640
timeout due to inactivity

[2017-10-15 16:50] #1640 closed

[2017-10-15 16:53] Taomyn commented on #1475
No as I'm not a developer, but it's not an issue but a feature request.

[2017-10-15 16:54] AdSchellevis commented on #1646
timeout due to inactivity

[2017-10-15 16:54] #1646 closed

[2017-10-15 16:55] AdSchellevis commented on #1661
timeout due to inactivity

[2017-10-15 16:55] #1661 closed

[2017-10-15 17:03] AdSchellevis commented on #1860
@fichtner you're certainly right about the usability aspect, fitting it in just takes more time then improving what we have now.

[2017-10-15 17:12] AdSchellevis commented on #1475
I know it's a feature request, we keep them open for several months (as stated https://github.com/opnsense/core/blob/master/CONTRIBUTING.md).
If there is someone interested  in working on it we assign an owner and the issue remains open.

Maintaining issues/feature requests takes time during every release cycle, which we try to keep manageable.

[2017-10-15 17:21] fichtner commented on #1566
we are targeting 17.7.6 for the web-proxy-sso release :)

[2017-10-15 17:42] AdSchellevis commented on #1228
timeout due to inactivity

[2017-10-15 17:42] AdSchellevis commented on #1398
timeout due to inactivity

[2017-10-15 17:42] #1398 closed

[2017-10-15 17:44] AdSchellevis commented on #1346
@EugenMayer are you still working on this one?

[2017-10-15 17:44] AdSchellevis commented on #1348
timeout due to inactivity

[2017-10-15 17:44] #1348 closed

[2017-10-15 17:44] AdSchellevis commented on #1397
timeout due to inactivity

[2017-10-15 17:44] #1397 closed

[2017-10-15 17:47] EugenMayer commented on #1346
@AdSchellevis nope, i finished it, it was working, but nowdays using ldap+tls ( due to obvious reasons )

[2017-10-15 17:48] AdSchellevis commented on #1346
ok, I'll close this one then

[2017-10-15 17:48] #1346 closed

[2017-10-15 17:51] JackTrapper commented on #850
So what's needed to help get this fixed?

By definition i'm starting a fresh install - Live USB stick.

Somebody on the planet must understand why the operating system refuses to use the correct default route. Is there a logfile that opnSense needs to log to?

[2017-10-15 18:20] kekek2 commented on #1566
Well

[2017-10-15 18:31] fichtner commented on #1860
Works for me, saves ok, added new validation... please test

<img width="1029" alt="screen shot 2017-10-15 at 8 31 03 pm" src="https://user-images.githubusercontent.com/1915288/31587781-d9435510-b1e7-11e7-9a23-7a88c0a663b1.png">

[2017-10-16 06:53] mimugmail commented on #1877
Can you post a Screenshot of your wan firewall rules? Do you try to connect from outside?

[2017-10-16 08:13] mimugmail commented on #1860
987afe8 is enough or also the first one?

[2017-10-16 08:18] fichtner commented on #1860
# opnsense-code core
    # cd /usr/core
    # make upgrade

if upgrade refuses:

    # opnsense-update -t opnsense-devel

[2017-10-16 08:47] mimugmail commented on #1860
I love it :)
Is this so memory hungry? I created a "europe" alias with toggle all and get:

`Oct 16 10:46:10 OPNsense opnsense: /usr/local/etc/rc.filter_configure: New alert found: There were error(s) loading the rules: /tmp/rules.debug:21: cannot define table europe: Cannot allocate memory - The line in question reads [21]: table <europe> persist file "/var/db/aliastables/europe.txt"
`

[2017-10-16 08:48] fichtner commented on #1860
how big is the file? I would say yes... /var/db/aliastables/europe.txt

[2017-10-16 09:06] AdSchellevis commented on #1860
@mimugmail how is "Firewall Maximum Table Entries" set in firewall -> settings -> advanced?

[2017-10-16 12:06] mimugmail commented on #1860
Since I cloned a fresh installation it was default. Bumped to 2000000 and now it's good.
I like this new approach, thank you guys 👍

[2017-10-16 12:07] fichtner commented on #1860
Maybe it's time we increase the default of that value somewhere?

[2017-10-16 12:11] #1875 closed

[2017-10-16 12:12] AdSchellevis commented on #1860
could be a good idea, but chances are people still need to extend when having larger rulesets (which isn't an issue when there's enough memory available)

[2017-10-16 12:25] L1ghtn1ng commented on #1860
Can't we query how much ram the system has and set appropriately to what the system would be able to handle with that amount of ram? Just an idea I had

________________________________
From: Ad Schellevis <notifications@github.com>
Sent: Monday, October 16, 2017 1:12:19 PM
To: opnsense/core
Cc: Subscribed
Subject: Re: [opnsense/core] GeoIP selection of countries (#1860)

could be a good idea, but

[2017-10-16 12:26] AdSchellevis commented on #1860
no

[2017-10-16 12:27] gertfriend commented on #1860
Great work and also very fast implementation. With this view GeoIP would be very much more usable. Thank you very much.

[2017-10-16 12:35] mimugmail commented on #1860
Perhaps some kind of div alert when changing alias type to Geo?

[2017-10-16 12:39] fichtner commented on #1876
at the time when this was created there were no firewall: settings, still, don't want to spit log settings from log page at this point.

[2017-10-16 12:39] #1876 closed

[2017-10-16 12:56] fichtner commented on #1877
handled via https://forum.opnsense.org/index.php?topic=6172.0

[2017-10-16 12:56] #1877 closed

[2017-10-16 13:42] fichtner commented on #1860
I was thinking help text as well, or added to the docs... FAE ... frequently asked errors :D

[2017-10-16 13:45] mimugmail commented on #1860
Yep, but the latest experiences showed that most people do a trial and error before posting to gh, before looking at the docs :( Perhaps a blue colored div ..

[2017-10-16 15:09] squadramunter opened #1878 "KRACK_ATTACK Vulnerable HostApd"
Found today a security patch for the well known KRACK_ATTACK readed by thehackernews.com

https://thehackernews.com/2017/10/wpa2-krack-wifi-hacking.html

Also I found some patches for hostapd to solve this problem.

https://w1.fi/security/2017-1/

I don't know if OpnSense uses HostApd but in case here is the patch for this vulnerable.

Hope this can be fixed as soon as possible.

[2017-10-16 16:10] squadramunter commented on #1878
I checked what version off HostApd is installed on OpnSense, but there is version 2.5 installed. Should this be upgraded to version 2.6 with the security patches init?

[2017-10-16 16:11] fichtner commented on #1878
I would rather take the official freebsd variant for 11.x, but I'm trying my luck with 2.6 rebased patches on 2.5 now because the former will take longer

[2017-10-16 16:18] fichtner commented on #1878
nope, no easy backport. can't verify these findings. don't want to leave things vulnerable by shipping flawed patches...

[2017-10-16 16:19] squadramunter commented on #1878
You mean these patches are not working properly?

[2017-10-16 16:20] fichtner commented on #1878
rebased-v2.6-0001-hostapd-Avoid-key-reinstallation-in-FT-handshake.patch does not apply, functions were refactored

[2017-10-16 16:21] squadramunter commented on #1878
Ah okay. What does this mean?

[2017-10-16 16:24] fichtner commented on #1878
we wait for freebsd

https://lists.freebsd.org/pipermail/freebsd-current/2017-October/067198.html

[2017-10-16 16:36] squadramunter commented on #1878
I hope they will fix this soon.

[2017-10-16 19:21] kamcio2603 opened #1879 "Radius IP Management"
Hello,

what do you think about adding to file ipsec.inc  [https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/ipsec.inc#L1216](link to exact line)

$authentication .= "\n\trightsourceip = %radius";

Im using it for assigning IP directly from radius, static IP bounded to user account.
I think some of us use this solution by hardcoding source code which is bad and ugly hack.

[2017-10-16 19:25] AdSchellevis commented on #1879
@kamcio2603 good idea, shouldn't be too hard to add. As soon as I find some time I will add it.

[2017-10-16 22:08] fichtner commented on #1878
So FreeBSD at least updates wpa_supplicant in ports, I’ve added both this and hostapd to the package build and a test for using installed ports instead of the vulnerable base files. If we male this fix manual for users or migrate to the ports directly I something we cannot say today, for today that is a small win over doing nothing.

[2017-10-17 18:05] NunoHiggs opened #1880 "[SOLVED] [Suricata] Suricata dropping traffic in IPS. Is there a way to block traffic on legacy?"
Hello All.

First and foremost thanks for a very nice product!
I've installed the latest version of opnsense and tryed to run suricata.
My HW is a 3 vCore QEMU/KVM (tested on qemu 2.7 and 2.9) with 2GB of ram and several VIRTIO NICs.

I've pulled the latest rules, and checked if there was updates to be installed.
Both suricata and opnsense are on the latest version.

When i boot suricata in IPS co

[2017-10-18 09:07] mimugmail commented on #1880
This is known bug with KVM and virtio network driver, please change to e1000

[2017-10-18 09:08] mimugmail commented on #1874
@epicavic Any news?

[2017-10-18 09:16] NunoHiggs commented on #1880
Yep. I've discovered yesterday but was unable to come here and report it.
I have changed the wan interface to e1000 and it now works as expected.

Thanks for your answer and very nice product!

(please close the incidente as it is freebsd related)

[2017-10-18 09:16] #1880 closed

[2017-10-18 16:27] AdSchellevis commented on #1879
@kamcio2603 if I read the documentation correctly, you could either accept %radius or an address range (which can be configured in the mobile clients tab). https://github.com/opnsense/core/commit/312a42614e4418e66ace47b7e4b879492c326a4e should keep both options valid.

[2017-10-18 16:56] #1834 closed

[2017-10-18 21:11] fichtner commented on #1878
@squadramunter  if you have time, the CFT for our fix is here https://forum.opnsense.org/index.php?topic=6183.0

[2017-10-18 21:17] fichtner commented on #1869
This was done, thanks for the submission :)

[2017-10-18 21:17] #1869 closed

[2017-10-18 21:18] fichtner commented on #1866
@goor4 that still the case? :)

[2017-10-19 07:07] goor4 commented on #1866
Yes, it is still the case.
Now it happens on another host.

(I had a dhcp registering system with spaces in name ("Bose Waveradio ..."), could that cause a problem in the parser dhcpleses?`)

[2017-10-19 08:31] NunoHiggs opened #1883 "[REQUEST] HAProxy Transparent Mode IPFW"
This is an extract of a request by user @ROSU form [this](https://forum.opnsense.org/index.php?topic=4609) forum thread.

Is it possible to incorporate HAProxy Transparent Mode IPFW  thru the opnsense webgui?

Thanks!
Nuno

[2017-10-19 09:30] epicavic commented on #1874
looks like the "sticky connections" did the trick (opnsense 16.7.7)
 - "sticky connections" - enabled
 - "gateway switching" - enabled
 - WAN1_GW - default
steps:
 - logged in from internet on WAN2 interface
 - navigated to System-Gateways-All-WAN2_GW  - and set it as default GW - pressed Save
 - lost connection with WAN2 interface for about 10 sec (i've pinged both WAN1 and WAN2 interfaces contin

[2017-10-19 09:30] #1874 closed

[2017-10-19 09:33] fichtner commented on #1874
thanks for the feedback!

@AdSchellevis should we enable sticky connections by default in 18.1 config.xml ?

[2017-10-19 18:40] AdSchellevis commented on #1874
@fichtner I can't think of a real downside of changing the default, so it's fine by me to change this

[2017-10-19 18:43] fichtner commented on #1874
perfect, thanks, consider it done

[2017-10-20 05:26] fichtner commented on #1218
@kekek2 maybe can help with this as well? language selection for users currently under lobby: password, it is not patched into MVC yet :)

[2017-10-20 05:44] kekek2 commented on #1218
I'll do it.

[2017-10-20 11:43] fichtner commented on #1848
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=223052

We'll fix this upstream.

[2017-10-20 11:43] #1848 closed

[2017-10-20 16:16] fichtner commented on #1878
shipped :)

[2017-10-20 16:16] #1878 closed

[2017-10-20 18:47] mimugmail commented on #1626
There's a plugin in devel available. With the latest 17.7.6 you can install it via cli:
`pkg install os-telegraf-devel`

But please backup your own config before.

Would be happy to get some feedback/reports.

[2017-10-20 19:49] fichtner opened #1885 ""Not Found Error" API Exception from BaseModel via Tor Plugin"
I'm trying to track this down from the following line that raises the exception:

https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/models/OPNsense/Base/BaseModel.php#L475

Do you have any idea what could be wrong?

[2017-10-20 20:27] fichtner commented on #1885
So I thought this was something I did, but it's already in the os-tor 1.0:

Go to Onion Services, Add an onion service, go to Onion Services ACL, add an ACL for the service, go back to the Onion Services, edit the name once. Edit name twice and kaboom:

<img width="945" alt="screen shot 2017-10-20 at 10 25 54 pm" src="https://user-images.githubusercontent.com/1915288/31840471-ceff28f2-b5e5-11e7-95

[2017-10-20 21:29] fichtner commented on #1885
Ok, the set action seems to be completely off:

https://github.com/opnsense/plugins/blob/master/security/tor/src/opnsense/mvc/app/controllers/OPNsense/Tor/Api/HiddenserviceController.php#L111-L139

vs.

https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/controllers/OPNsense/TrafficShaper/Api/SettingsController.php#L105-L118

at least from https://github.com/opnsense/core/blob/master

[2017-10-20 22:14] squadramunter opened #1886 "HostApd not working after KRACK patch - 20-10-2017"
Hello today I have tested the update that was delivered.

I got some problems with my HostApd config now when I configure a wifi network the client can't see my SSID in the area. Even when I setup WPA2 using AES and TKIP Android fails to find the network. I tried to look at Windows but there I can see my Wireless network but that network seems to be an open network while it has to be locked by a W

[2017-10-21 09:28] mimugmail opened #1887 "[FR] Add low level L7 DPI via Suricata"
Hi guys,

what do you think about adding another rules file in suricata rules folder? I talked with @fichtner about adding low level DPI via Suricata rules and put them in an own repo. But for now it seems an additional file in master is fairly fine :)

Since most of application recognition rules are based on http/s they are easy to block.

All I need is a file based like this:
Application Type UR

[2017-10-21 09:35] AdSchellevis commented on #1887
@mimugmail Since the rest of the files are fetched from a different location, do you mind if we host the L7 rule file on rules.opnsense.org? Then we can add it to the metadata file already in place https://github.com/opnsense/core/blob/stable/17.7/src/opnsense/scripts/suricata/metadata/rules/opnsense.xml#L4
The advantage is people can easily enable/disable the sets and we don't have to think of an

[2017-10-21 09:52] fichtner commented on #1887
rules.opnsense.org sounds good, but I'd favour a simple "apps" name or similar for the rules, not L7 or DPI because these terms are either archaic or overloaded.

[2017-10-21 09:53] AdSchellevis commented on #1887
@fichtner I agree, I wasn't thinking about the naming yet :)

[2017-10-21 09:54] fichtner commented on #1887
PS: categories are individual rules files, so that's taken care of as well

@AdSchellevis I was referring to @mimugmail specifically

Then again, if we have a rules repo, we can ship this via github...

[2017-10-21 09:56] AdSchellevis commented on #1887
@fichtner if you don't mind, I rather host them on a nice opnsense url :)

[2017-10-21 09:57] fichtner commented on #1887
sure, of course

[2017-10-21 10:02] fichtner commented on #1886
See https://forum.opnsense.org/index.php?topic=6183.msg26150#msg26150

We did not touch / alter config file generation. We only switched the used binaries.

[2017-10-21 10:14] fichtner commented on #1885
@AdSchellevis No, unluckily serializeToConfig() is still in the safe() code and so this keeps failing ;(

[2017-10-21 10:58] mimugmail commented on #1887
@AdSchellevis opnsense.org Domain is fine, just tell me how to transfer the rules file and we're good! 👍
@fichtner Yep, L7_DPI is nonsense. How about just "OPNsense", because all rules will receive this suffix. It like "ET Open" or "ET PRO" in front of every rule?

I'd strongly insist to use classtype for grouping. From the Suricata docs it's just the way to do it this way. Keep a small word in th

[2017-10-21 11:28] AdSchellevis commented on #1887
shall I create a github repository "rules" on OPNsense ?

[2017-10-21 11:37] mimugmail commented on #1887
From a business perspective I'd keep it private, but since this is an open project a new repo fits best :)

[2017-10-21 11:48] AdSchellevis commented on #1887
done https://github.com/opnsense/rules

[2017-10-21 12:20] mimugmail commented on #1887
I'd propose 7 classtypes:

[code]

In rules/ there could be a files called webapplication.list where everyone can push requests to, just containing:

Application-name Class-type Domain eg:
Youtube media-streaming youtube.com

and a small doc above the file. Then you don't have to search for typos in rules and generate the ruleset with this file, put in /rules/src, e.g. opnsense.webapplication.rule

[2017-10-21 13:25] fabianfrz commented on #1887
@mimugmail I would not add web-services as that is everything that runs on port tcp/80 or tcp/443 but your list looks more like shopping.

For `social networking` etc. I would recommend using squid for that because it is more powerful in blocking web stuff.

However blocking stuff that cannot be blocked via the proxy can be here. Also keep in mind that TLS will make huge issues if you cannot MitM.

[2017-10-21 13:41] mimugmail commented on #1887
web-services could be just the rest, like news, sports, or shopping.

I dont want to run squid on all Firewalls, e.g. in the Datacenter. And Suricata with only some good selected rules is less error prone and faster.

For tls.sni theres no need for mitm since this is still plain text.

[2017-10-21 13:51] fabianfrz commented on #1887
Yes but it can bypass your firewall.
SNI does not need to be correct - it is just a hint for the server which can be used to select a backend/vhost. I don't know if that is still possible but a CDN with a spoofed SNI was used to bypass GFoC (this is why I would not rely on it).

[2017-10-21 14:00] mimugmail commented on #1887
@fabianfrz That's why I'm calling it low level DPI. It's a basic "protection". To be honest, most users of OPN aren't specialized, they want a stupid button to do/block something.
In the long term it would be good to detach L7 from IPS and do both, transparent proxying AND Suricata.

If I really care that much about security that someone might fake a SNI I'd choose a completely different product.

[2017-10-21 16:32] AdSchellevis commented on #1885
@fichtner I'm not sure when your issue occurs, I don't think I have the same options after installation...
![image](https://user-images.githubusercontent.com/9783985/31853744-2a697b86-b68e-11e7-8873-496c646964e3.png)

[2017-10-21 16:46] fichtner commented on #1885
Oh sorry dev version differs in naming. It’s hidden service and hidden service acl

[2017-10-21 16:51] fichtner commented on #1887
We should simply refrain from using the rules to do whitelisting. That way faked SNI is a blocked false positive and does not mean any harm. Whitelisting is difficult anyway as it requires to span dependencies across sites like allowing CDNs or ad networks so the parent page loads...

[2017-10-21 17:00] fbruetting commented on #1518
So this is no bug anymore, because time has passed by…?

[2017-10-21 18:17] fichtner commented on #1518
No it was closed because nobody works on it and we have no benefit from having hundreds of pending or stale tickets that hide visibility of tickets we would like to progress.

Do you offer to work on it? It’s trivial to reopen this, but it should mean something. 😊

[2017-10-21 18:25] fbruetting commented on #1518
Sorry, I don’t know the internals and sadly have also no time (and many other constructions sites already).

But how about giving closed (but practically open) bug reports tags like "Bug", "Re-track in future" and maybe "Help wanted". Maintainers of other GitHub projects also use this to keep the open issues list small, but to also having a good opportunity to review deferred issues.

Examples:
ht

[2017-10-21 18:37] fichtner commented on #1518
We have these, but it's impossible to know how to tag it without looking. I can tell you we only read the values from the kernel/ifconfig so my best guess is to look into the FreeBSD source code, read problem reports over at https://bugs.freebsd.org/bugzilla/ to see what / if we can do ... also granted that we have the same hardware to reproduce (I don't).

While "na" is no standard it seems commo

[2017-10-21 19:06] fbruetting commented on #1518
Ok, I try to look into it the next days, seems not to be so difficult then.

My question (I hope I recall it correctly, since this is some time ago and I haven’t used OPNsens since):
I first specified 802.11na, what means 5 GHz operation only (if I understood it correctly). But afterwards I’m able to chose 802.11g which operates at 2,4 GHz. That makes no sense to me, since I selected 802.11na abov

[2017-10-21 19:08] AdSchellevis commented on #1885
@fichtner I can't reproduce this (or don't know how to), easiest thing to do usually is to check what endpoint it calls by looking in the network traffic of your browser. I expect a "Not found" when the action isn't in the controller, maybe someone created some JS code that doesn't always call the correct endpoint... If there's a simple test scenario using the version in ports that always fail, I

[2017-10-22 05:14] fabianfrz commented on #1885
@AdSchellevis the problem is on the next tab ("Hidden Services").
If an entry is opened and save clicked, the exception occurs and there is nothing in the servers answer than the error message which is already shown in the screenshot of @fichtner. The Exception is only visible from the crash reporter.

This is quite strange behaviour as all the other controllers are having the same code for set ac

[2017-10-22 09:17] fichtner commented on #1885
[code]

[2017-10-22 09:33] AdSchellevis commented on #1885
ok, I can reproduce this now, a bit strange since I'm almost certain I tried the exact same action yesterday. I'll get back to you later.

[2017-10-22 09:37] fichtner commented on #1885
thank you 👍

[2017-10-22 09:38] fichtner commented on #1885
maybe as a side-note,this *does not* happen when you remove the reference to the service from the acl by e.g. deleting it. after that, the edit works as expected again.

[2017-10-22 09:41] AdSchellevis commented on #1885
ok, think I found the culprit, now the fix.... getElementsByTagName() returns the first "hiddenservice" tag which lies in "hiddenserviceacl", tries to remove it at the root which obviously fails.

[2017-10-22 10:07] AdSchellevis commented on #1885
@fichtner @fabianfrz https://github.com/opnsense/core/commit/704ba99631339393dd446d166dd51a7530417f68 should fix the culprit, can you test and confirm?

[2017-10-22 10:12] fichtner commented on #1885
looks good, unit tests pass as well :)

[2017-10-22 10:12] #1885 closed

[2017-10-22 11:59] fabianfrz commented on #1885
looks also good at my end.

[2017-10-22 19:10] shacal opened #1888 "squid: visible_hostname {{OPNsense.proxy.general.VisibleHostname}}"
Gives in clean install "localhost" as an result.
And exposes header: Via: 1.1 localhost (squid/3.5.27)

[2017-10-23 06:42] fichtner commented on #1866
It could be, ideally, we just need the leases file dump (or partial dump) and an indication of which hosts fail to resolve to reproduce

[2017-10-23 07:14] fichtner commented on #1888
@shacal thanks for the report! I removed the default value of "localhost" making this feature opt-in, but only when we release new images, which is OPNsense 18.1. Is this fix ok for you?

[2017-10-23 07:26] goor4 commented on #1866
[dhcp.leases.txt](https://github.com/opnsense/core/files/1406076/dhcp.leases.txt)

I renamed the problematic "Bose"-Host a week ago, but I hope i could reconstruct it in dhcp.leases file to the old Value.

[2017-10-23 08:18] bergfink commented on #1732
I have a very similar issue: 2 Gateways in a transfer Network on the WAN side. When changing the default Gateway in the WebGUI the routing table changes but the LAN Traffic (NAT) and the Traffic from  the Firewall itself still use the old Gateway. Only pure routed traffic (DMZ) is using the new Gateway. Tested with Version 17.7.6

[2017-10-23 08:21] fichtner commented on #1732
@bergfink It can't be both a bug that default switching keeps your connections alive or that it kills them... if you want a specific behaviour you have to configure it accordingly :)

also see https://github.com/opnsense/core/issues/1865

@sachaz please also check that issue, maybe this is the same problem

[2017-10-23 08:29] shacal commented on #1888
Sure, in fine with this.
Would like an field on web UI 🙈

[2017-10-23 08:31] fichtner commented on #1888
@shacal not sure what you mean, it's on the UI :)

General Proxy Settings: enable "advanced mode"

[2017-10-23 08:41] bergfink commented on #1732
Just to clarify - I made new connections to test e.g. traceroute and others - in this case neither the wan IP nor the WAN IF changes so connections have no need to be kept alive - only the route changes. To sum up - the IP packets just go a different way through the public internet, the endpoints stay the same.

[2017-10-23 08:44] bergfink commented on #1732
Do we need to wait for 18.1 for this to work? There doesn't seem to be a setting to fix this.

[2017-10-23 08:47] fichtner commented on #1732
@bergfink you should start by explaining your setup and settings. if you have a firewall running (not routing platform mode) the actual outcome can be radically different. You should mention the use of gateway groups, default gateway switching, whether or not this is unexpected behaviour from your side for outgoing connections or incoming ones, etc...

I can't possibly say what "18.1" will fix if

[2017-10-23 09:00] bergfink commented on #1732
I thought I explained it. My setup is: Firewall, one WAN IF and two Gateways in the same Network as the WAN IF. (WAN 1.2.3.4/24 GW1 1.2.3.1 GW2 1.2.3.2). No Gateway groups, Enable Gateway switching is tested and doesn't help. I expect the traffic follows the active/current routing table. The goal is to switch between the gateways using the routing plugin.

[2017-10-23 09:06] fichtner commented on #1732
You've explained the setup, now you explained your settings. So far so good. Your setup already differs to the point that you don't have two WAN IFs. What is "routing plugin" -- the Quagga plugin?

Since you require NAT, the firewall is on, which means all existing connections should remain with gateway 1. Do you use any explicit gateway rules? Does a freshly started ping after the gateway switch

[2017-10-23 09:15] bergfink commented on #1732
Yes, with "routing plugin" I mean Quagga, but it's currently disabled.

This is actually the problem - if GW1 can't be used anymore (routing table changes) the connection should not remain with it.

If you mean "policy based routing" with gateway rules - then no.

I tested with traceroute from the firewall and from a NATed host - both stay with the old gateway.
From a DMZ host it works.

[2017-10-23 09:29] fichtner commented on #1732
WAN will still have a fixed gateway unless you go to:

Firewall: Settings: Advances and enable the option "Disable force gateway".

Cheers,
Franco

[2017-10-23 09:34] bergfink commented on #1732
Even if there is no upstream-gateway configured for the WAN-interface?

I´ll test with that setting enabled but I have to wait for a less busy time to do so.

[2017-10-23 09:36] fichtner commented on #1732
Is your WAN DHCP?

[2017-10-23 09:36] bergfink commented on #1732
No, all static

[2017-10-23 09:43] bergfink commented on #1732
Sidenote: are we going off topic here? For me the core of the problem is the same (Gateway configuration is changed but does not apply to all traffic), thats why I posted here. I thought I was loosing my mind when the routing table looked correct and a route-query produced the expected result but my traceroute did not....

[2017-10-23 10:14] #1860 closed

[2017-10-23 10:19] fichtner commented on #1732
I'd say yes as OP talks about issues with multi-wan, yours is about multi-gw on single-wan.

Can you also try to grep your rules for:

    # grep route-to /tmp/rules.debug

I suspect the firewall just sets the gateway anyway and we simply need to find out why.

Cheers,
Franco

[2017-10-23 10:53] bergfink commented on #1732
I did a limited test with "Disable force gateway" and it looks promising. "Limited" because I did not change the default-gateway but only tested a network-route and policy based routing via FW-Rules to redirect specific parts of the NATed traffic to GW2. This did not work before but it does work now so this could be it.

With "Disable force gateway" enabled the only rule with a "route-to" is my te

[2017-10-23 10:55] jschellevis opened #1890 "IPsec - Routing all traffic over a tunnel results in inaccessible firewall"
When forcing all traffic over an IPSec tunnel via remote network 0.0.0.0/0 one can not access the firewall itself anymore as it directs the traffic in the wrong way.

It seems this issue can be resolved by adding an option using passthrough instead of tunnel to leave certain packages untouched. See also https://wiki.strongswan.org/issues/1283

[2017-10-23 11:13] bergfink commented on #1732
pass out log from {any} to {any} keep state allow-opts label "let out anything from firewall host itself"
pass out log  route-to ( WANIF 1.2.3.1 ) from {WANIF} to {!(WANIF:network)} keep state allow-opts label "let out anything from firewall host itself"

These are the only "pass out" rules that would affect traffic going out the WANIF in rules.debug, the second one is only present if "Disable for

[2017-10-23 11:52] fichtner commented on #1732
I can confirm that this is the issue. It looks like the force gateway rule is greedy and does not respect the gateway choice of the respective interface. It also flip-flops to the one that is not disabled if there is more than one for the respective interface.

[2017-10-24 06:32] #1888 closed

[2017-10-24 07:22] mimugmail commented on #1875
Sidenote: For a different test I had floating rules any any accept, when missing it denied.

[2017-10-24 07:32] mimugmail commented on #1875
Sidenote2: If you build a GRE tunnel with parent IF WAN over this transport it also works without floating rules (ping GRE endpoint IPs)

This should solve: https://forum.opnsense.org/index.php?topic=6131.0

[2017-10-24 08:38] bergfink commented on #1732
Thanks for your effort and pointing me to the setting.
Out of curiosity: What is the advantage of the force-gateway rule?
The help in the WebGUI makes me think it should only affect traffic originating from the firewall itself, is that not the case?

[2017-10-24 08:41] fichtner commented on #1732
It helps non-tech savvy users to retain a functional network especially when creating multi-wan configs so that each link uses its own upstream instead of going out another (default) way. It came from our heritage and we are not completely satisfied with it. After internal discussion, however, we will keep the code as it is and think about a more explicit replacement of the gateway functionality u

[2017-10-24 18:16] Skirge01 opened #1891 "[FEATURE] Netflow Aggregation or Restriction"
Discussion started here:
https://forum.opnsense.org/index.php?topic=6219.0

As a home user dealing with data caps, I'd like to be able to track my bandwidth usage throughout the year, on a monthly basis.

Currently, there is no daily/weekly/monthly aggregation scheme, which would accommodate this.

Alternatively, a method to restrict the from/to dates for the data from the graph page would be suff

[2017-10-24 18:19] AdSchellevis commented on #1890
apply https://github.com/opnsense/core/commit/5049d2c84f76419b30977ecd71fbf98de7f3168a  and https://github.com/opnsense/core/commit/76d18ef4664e5a036bf64fd394f505dc2a6183b4 to add the passthrough option to vpn -> ipsec -> advanced settings.

[2017-10-24 18:19] #1890 closed

[2017-10-24 19:43] juj commented on #1859
Thanks for the clarification. Reading through your explanation, I admit I might be at a slightly too beginner level on networking concepts to grab the explained use case to be able to recommend a good wording.

What happened in my scenario is that I had a Realtek network interface on my OPNsense router box connecting to my WAN side DSL box, and I had connected my local PC directly to the OPNsense

[2017-10-25 05:10] fichtner commented on #1859
Thanks for the explanations. I've reworded / reordered the help text a bit, although there isn't much obvious to change. I've subtly added "leave empty if unsure", "(use with care)" and a hint that this is normally not required, and if only for "WAN interfaces".

<img width="615" alt="screen shot 2017-10-25 at 7 08 08 am" src="https://user-images.githubusercontent.com/1915288/31981424-7eeebad2-b95

[2017-10-25 05:10] #1859 closed

[2017-10-25 05:40] fichtner commented on #1860
in 17.7.7 :)

[2017-10-25 15:23] shacal commented on #1888
I mean that even empty "" hostname or toggle to have that in config or not.
As that info should not be exported.

[2017-10-25 18:41] fichtner commented on #1888
@shacal try again with the patch, run from the root shell:

    # opnsense-patch e99275d

[2017-10-26 08:59] knxuf opened #1893 "GUI watchdogd support"
watchdogd and ichwd are allready available, maybe as a plugin but as everything is allready there

[2017-10-26 09:08] knxuf opened #1894 "Add net.link.bridge.pfil_local_phys to System Tunables"
To use OPNsense as a Firewall which only bridge LAN traffic and still NAT to a WAN

net.link.bridge.pfil_local_phys (default 0)
Set to 1 to additionally filter on the physical interface for locally destined packets. Set to 0 to disable this feature.

[2017-10-26 10:31] knxuf opened #1895 "show firewall rules created in Interface Groups on Interfaces tabs"
It would be nice to see rules created in Interface Groups (maybe in a different color) on the Interface tabs.

[2017-10-26 10:51] knxuf opened #1896 "group interfaces belonging to a bridge"
Group interfaces belonging to a bridge to it in Dashboard Interface List

[2017-10-26 21:24] fraenki opened #1897 "[MVC] ModelRelationField should prevent deletion of referenced item"
The `ModelRelationField` type is a great way to add a reference to another object. I really like it and use it a lot for my plugins.

Unfortunately, it is currently possible to delete the referenced object _without any notice or warning_. This will leave the configuration in an **invalid state**, the validation fails from now on and - most importantly - **model migrations** during an upgrade **wil

[2017-10-27 06:11] AdSchellevis commented on #1897
It's a bit tricky to validate, the related field doesn't really know it's related. We should be able to add some glue to validate this state, but I don't think we should change the default behaviour.

[2017-10-27 06:57] mimugmail commented on #1897
Please CC me when there is a change, I also use it heavily in Quagga and it's quite sensible

[2017-10-27 07:46] youhackme opened #1898 "Make changes to the view layer (Volt) without overwriting changes when update"
Hello,

We had like to modify the view layer e.g in `/usr/local/opnsense/mvc/app/views/OPNsense`.

 However, the issue is if we make modifications in the view layer, all changes will be lost if we upgrade. Is there a way to make views extensible in OPNSense?

Thanks for your help.

Hyder

[2017-10-27 08:32] AdSchellevis commented on #1898
Hi Hyder,

You can extend the controller (normal inheritance), overwrite the menu (and acl) to use your other endpoint and create a custom view based on the original one.
In some cases you could probably extend the volt template as well, depending on your changes.

Best regards,

Ad

[2017-10-27 09:59] kekek2 opened #1899 "Legacy 2 MVC"
What are the plans in the translation of legacy code to MVC ? Do you need help ?

[2017-10-27 10:20] AdSchellevis commented on #1899
We are still working in some core areas (mainly firewall), but we can't manage too many changes at once.
Help is certainly welcome, preferable for features which aren't too big and can easily be migrated, such as diagnostics pages (dns lookup, ping, ...).

Every pull request costs us time to manage and test, which is fine, but we need to spend the limited time we have wisely.
https://github.com/op

[2017-10-27 16:26] SeTk opened #1900 "Traffic Shaping: Direction-"out"-Rules do not match any traffic!"
#Using: OPNsense 17.7.7_1-amd64
with mutliple gateways and gateway-groups for redundancy.
Shared forwarding is enabled.

Problem: I am not able to shape outgoing traffic (e.g. for VoIP).
Issue: Using an direction-out-rule only works with default gateway.
On all other gateway-interfaces, traffic does not match and bypasses the shaper.

In out setup 004_WAN7 is our default gateway.
A rule for traffi

[2017-10-27 18:27] mimugmail commented on #1900
2 Pipes, 2 Queues with 2 different rules for 2 WANs please.

Changing IFs sometimes require are reboot

[2017-10-27 18:33] SeTk commented on #1900
Sure. It is only for testing purpose the same queue.
Same behaviour with seperated pipes/queue/rules.
Reboots/updates have not solved this issue.

[2017-10-27 18:39] mimugmail commented on #1900
Does changing 0E4_WAN to Default fix this? (Just a test)

[2017-10-27 18:52] SeTk commented on #1900
Yes, traffic shaper for 0E4_WAN5 is working in this case (if it is the default gateway).
Whether route to / gateway in firewall is set to 0E4_WAN5 explicitly or to default.
But not for the old gateway interface 004_WAN7 any more.

[2017-10-28 23:30] elico commented on #1691
I am not sure if it's the right place or not but I wrote a windows update caching proxy which works with squid as a cache_peer:
http://www1.ngtech.co.il/wpe/?page_id=301

It runs on systems with 10Gbps+ so... pretty nice.
Is it helping?

[2017-10-28 23:34] elico opened #1901 "RedWood as an alternative to Squid-Cache, possible?"
I am not sure it's the right place to start but.. I am packaging both Squid-Cache and couple others.
One of these is RedWood which is a very good proxy written in GoLang:
https://github.com/andybalholm/redwood/

I have tested it on big systems and it seems that it works much better then Squid-Cache for filtering.
It has lower memory foot print and since it has garbage collection internally unlike

[2017-10-29 06:22] borisneubert commented on #1691
@elico That would make a nice Update Accelerator plugin like they have in IPFire which I used before turning to OPNSense.

[2017-10-29 07:03] fabianfrz commented on #1691
@AdSchellevis arch linux package have the suffix `.*\.pkg\.tar\.xz` and red hat (like) systems use `.*\.d?rpm` (d means delta update). They should be appended to the list of @borisneubert. Probably use the same settings as for the debian packages.

[2017-10-29 07:08] fabianfrz commented on #1691
@AdSchellevis I'll add it

[2017-10-29 07:47] fabianfrz commented on #1901
@elico you can add a plugin if you want. For a replacement it lacks many features like for example
* TLS Intercept - needed in some environments
* Transparent Proxy (with PF support)
* ICAP - for av scanning, content manipulation and replacement

However you can build your own plugin to configure it if there is a FreeBSD port. You can look at the plugins HAProxy and Tor for examples (similar plugi

[2017-10-29 08:12] elico commented on #1901
@fabianfrz It doesn'k lack TLS Intercept...
It might not have Transparent Proxy support fir PF but it's not an issue to add this...
ICAP, this software leaves ICAP much behind. If someone needs an  Antivirus he will need more then squid+icap inside OpnSense despite to the fact that many likes this kind of a setup.
I have binaries for FreeBSD and will try to see the other pluglins.

Also take into

[2017-10-29 08:19] elico commented on #1691
@AdSchellevis You might also want to use a StoreID helper to de-duplicate different servers for updates.
Anyone have written a helper for this?

[2017-10-29 08:21] elico commented on #1691
@borisneubert Well I will need to understand how it can be integrated on FreeBSD since it needs to have a cron job running every now and then(5 minutes) and also a clean-up every hour for old cached files.
Something like "ls /path && find /path -t f 'older then x days'|xargs rm".

[2017-10-29 08:25] fabianfrz commented on #1901
@elico so if this software is in the FreeBSD ports, it needs to be added to OPNsense and you can pull it in as a dependency (Go is compiled so different packages are required for amd64, i386 and arm).

The package needs to be made available via the tools repository (`ports.conf`) and then you can install it via pkg on a development VM. The best way is to ask @fichtner for that.

In the next step y

[2017-10-29 08:49] borisneubert commented on #1691
@elico For reference the links to IPFire's (FreeBSD) update accelerator documentation [here](https://wiki.ipfire.org/en/configuration/network/proxy/update_accelerator) and [here](https://wiki.ipfire.org/en/configuration/network/update-booster) and the [source](https://github.com/ipfire/ipfire-2.x/tree/master/src). IPFire removes outdated files, files without source and old files (all optional, bas

[2017-10-29 10:05] peysche opened #1903 "strange $ sign in /tmp/rules.debug since 17.7.7, Rules do not get loadet"
Hi all,

I am facing The following error during applying Rules since 17.7.7, error is not existing in 17.7.6

afacted php Site is ~/firewall_rules.php?if=wan

i simply applied the rule in the shown config at the bottom per GUI to repro this topic

opnsense: /usr/local/etc/rc.filter_configure: New alert found: There were error(s) loading the rules: /tmp/rules.debug:196: macro '' not defined - The l

[2017-10-29 10:07] fichtner commented on #1903
Can you check your port aliases for missing names? Should be easy to spot, even from the /conf/config.xml if the GUI doesn't bring results.

[2017-10-29 10:11] fichtner commented on #1903
or possibly the rule references an alias that is no longer found :)

[2017-10-29 10:16] peysche commented on #1903
I am not working with aliases.. so i have no alias in the alias section, it looks for me if i use a target port like 4500 and have no source port defined, then this thing happens, I have only problems with rules where target ports are defined. and port $ in this possitions looks like no sourceport is defined and the logic in the code is doing something wrong and write instad of nothing, or maybe w

[2017-10-29 10:21] fichtner commented on #1903
Can you try to revert this commit? https://github.com/opnsense/core/commit/bbbb363

    # opnsense-patch bbbb363

Cheers,
Franco

[2017-10-29 10:28] fichtner commented on #1900
Hi guys,

It's perfectly possible that despite shared forwarding not everything is being shared correctly yet. This will take some time to get to the bottom of. I expect we can look at this in December. It will definitely require kernel patching and I'm not available most of November.

Cheers,
Franco

[2017-10-29 10:29] fichtner commented on #1900
PS: @SeTk if you can try this with 11.1 base/kernel applied, shared forwarding was improved, now also includes IPv6 if that matters here... https://forum.opnsense.org/index.php?topic=6257.0

[2017-10-29 10:40] AdSchellevis commented on #1691
@borisneubert @elico can you test the patches contributed by @fabianfrz  https://github.com/opnsense/core/commit/8334db3a7b0478d473984b594a64b44513bf57a2  ?

[2017-10-29 10:47] borisneubert commented on #1691
@AdSchellevis This means removing my pre-auth and post-auth hooks and running

`opnsense-patch -c core 8334db3a7b0478d473984b594a64b44513bf57a2`

Right?

[2017-10-29 11:11] AdSchellevis commented on #1691
@borisneubert yes that should do the trick

[2017-10-29 11:11] sachaz commented on #1590
This feature should still be useful, why close it ?

[2017-10-29 11:15] fichtner commented on #1590
To be able to open it when somebody works on it. If we keep all tickets open all the time where no progress is made we will not have any overview of the progress that we actually make and possibly miss more urgent tickets in the process.

[2017-10-29 11:31] peysche commented on #1903
Hi, sorry for delay, hat todo a walk with the Dog, reverting this was no success.

i can see that you are focusing on ipsec.. so pleas get not confused by my sample rule, a can repro this with every other rule.

[2017-10-29 11:33] fichtner commented on #1903
Hi Paul,

No worries and thanks for your help.

I've tried to extrapolate from 17.7.6 vs. 17.7.7 which only the IPsec change was something of interest. We haven't had a lot of changes lately so this is rather odd.

We can apply more force by reverting to 17.7.6:

    # opnsense-revert -r 17.7.6 opnsense

And see if that changes things. My guess now is it won't.

Cheers,
Franco

[2017-10-29 11:40] sachaz commented on #1590
thanks for your explanation.

[2017-10-29 11:59] peysche commented on #1903
ok i was going back step by step to 1.7.4 nothing was changing error stays the same :-(

i have still 2 systems ongoing on 1.7.6 where everything is working, i will do an snapshot on one of this systems and will upgrade to 1.7.7, lets see if the failure comes up.

all systems was upgradet from 16 to 17 on console.

on the Error System i was going directly from 16 to 17.7.6 and then to 17.7.7. On t

[2017-10-29 12:01] fichtner commented on #1903
Hi Paul,

Thanks so far. I'm assigning @AdSchellevis as I am not available in the next weeks. He wrote the code and can help fix this for sure.

Cheers,
Franco

[2017-10-29 14:10] peysche commented on #1903
Hi,

I updated now my other System to 17.7.7, everything is ok, the Port $ is not in the rules.debug.

diff between the 2 systems is mainly the Wan interface, on the Error System it is an pppoe adapter.
The other Systems have an normal Routet NIC to providers Router.

Maybe this info Helps

Regards
Paul

[2017-10-29 16:04] abplfab opened #1904 "Alias"
I dont know since which update... I see the Aliases in the overview, but if I edit an entry, there is no data.
<img width="582" alt="2017-10-29 17_02_33-view _ aliases _ firewall _ durian bug ch" src="https://user-images.githubusercontent.com/28706980/32145563-25e8468a-bccb-11e7-854c-666a9fe82c4f.png">
<img width="589" alt="2017-10-29 17_03_19-view _ aliases _ firewall _ durian bug ch" src="https:

[2017-10-29 16:09] fichtner commented on #1904
Please update to 17.7.7_1 😊

[2017-10-29 16:24] abplfab commented on #1904
Thanks :)

[2017-10-29 16:24] #1904 closed

[2017-10-29 16:56] borisneubert commented on #1691
@AdSchellevis patch did the jobs - have removed the manually entered patterns and checked the boxes.

`squid -k parse`
shows

[code]

Squid starts fine. Will observe caching behavior.

[2017-10-29 16:59] elico commented on #1691
@borisneubert thanks for the details despite to the fact that it's an OpnSense issue.

[2017-10-29 17:40] AdSchellevis commented on #1691
@borisneubert thanks for confirming, I'll close this issue then.

[2017-10-29 17:40] #1691 closed

[2017-10-29 17:53] AdSchellevis commented on #1903
@peysche can you try https://github.com/opnsense/core/commit/bd984071b4faa2ed6d7ad7ccded12fb50d1ba358 on your machine with the issue?

easy to install, using:
`opnsense-patch bd98407`

My assumption is that somehow there's an empty record in your aliases section, resulting in a positive check if "empty" is an alias and adding the $ sign.

[2017-10-29 21:51] peysche commented on #1903
hi,
i checked the config file as backup and has found out that something is realy not fitting...

[code]

do not ask me why, i have never ever modified the config manualy...

after removing aliases/ the problem is solved, so i did not tested the patch

as fichtner was thinking the same way, i was only looking into the GUI, and i was knowing that i do not use Aliases...

THX for realy fast response

[2017-10-29 21:58] fichtner commented on #1903
Hi Paul,

Yes please, it looks exactly like it solves the issue. Confirmation helps to pick up this patch into the release. It seems worthwhile to avoid such a problem for others. :)

Thank you,
Franco

[2017-10-30 08:19] peysche commented on #1903
Hi,
Sure i will try it in the afternoon and let you know !

Paul

[2017-10-30 10:30] EugenMayer opened #1905 "Feature Request: Search for Trust->Certificates store"
When you have a number of certificates in the system, the current display of certificates become a bit to bulky. Since we have a multi-line display per certificate with meta informations, you get quiet some verbose output for looking up e.g. "how is the cert validity for certificate X".

It would be great to have a CN / alternative name base search ( combined ) so one could look those up. In this

[2017-10-30 17:04] kegefre opened #1906 "Captive Portal, fail on authentication after power outage."
Hi. Everything was working and then there was a power outage, everything turned off and when it came back the captive portal no longer authenticates. Fail authentications for all users. Is it a problem in the database?

[2017-10-30 20:25] peysche commented on #1903
Hi all,

I can confirm that the Error is gone after applying this Patch to the System..

So the root cause is the malformed Aliases XML Tag

My other 2 systems have aliases, so i assume that there was no error because of existing aliases.

So the question is why the config file was malformed... i have no idear..

Let me know if i can/should test something else...

THX&regards
Paul

[2017-10-30 20:29] AdSchellevis commented on #1903
Hi Paul,

I don't know where the xml error came from, but it's good to know we can cope with it using this patch. I suggest we close this issue and we will add this patch to one of the following releases.

Best regards,

Ad

[2017-10-31 08:35] #1903 closed

[2017-10-31 08:48] iMiMx opened #1907 "L2TP interface causes Traffic Shaping/ipfw rules to fail to load"
Version OPNsense 17.7.7_1-amd64

It would appear that when there is an L2TP interface (I have not tested other Point to Point interfaces) the ipfw/traffic shaping ruleset fails to load in its entirity

[code]

There are no rules trying to shape L2TP traffic, just part of the standard ruleset - removing the L2TP specified rules allows the ipfw ruleset to load and consequently traffic shaping can op

[2017-10-31 09:03] AdSchellevis commented on #1907
@EdSt it should have ignored the l2tp part for this section. can you try https://github.com/opnsense/core/commit/6278fc000f27a5ad97c15bb917df1829833e78b4 ?

`opnsense-patch 6278fc0
`

[2017-10-31 09:10] fichtner commented on #1907
This probably also needs “pptp”

[2017-10-31 09:41] EdSt commented on #1907
That does the job, much obliged.  Yes, looks like it needs PPTP as well for the same issue.

[2017-10-31 11:22] #1907 closed

[2017-10-31 11:23] AdSchellevis commented on #1907
@iMiMx thanks for confirming

[2017-10-31 14:49] SeTk commented on #1900
Sorry. I don't want to try 11.1, because both our opnsense machines (in HA configuration) are in 24/7 productive use. You don't recommend to try 11.1 in HA-productive use, do you?

[2017-10-31 14:55] fichtner commented on #1900
We need the data points at one point or another before 18.1 is out to work on this, but I would not recommend this in your setup at the moment.

Theoretically 11.0 and 11.1 are similar in nature so syncing between them should not be a problem. You could also skip the „b“ in these test commands to only update the kernel which gives you even less friction.

After a week or two with no other problem

[2017-10-31 17:39] antipiot commented on #1776
Hello mates!
I'm trying to setup l2tp aswell on my new OPNsense firewall. i'm facing this aswell:

`Oct 31 18:24:24 firewall l2tps: process 62185 started, version 5.8 (root@F11-0-64 21:15  3-Oct-2017)
Oct 31 18:24:24 firewall l2tps: L2TP: bind: Can't assign requested address
Oct 31 18:24:29 firewall l2tps: caught fatal signal TERM
Oct 31 18:24:31 firewall l2tps: [B] Bundle: Shutdown
Oct 31 18:24:3

[2017-10-31 17:48] peysche commented on #1903
Hi Ad,

Patch will fix it.
so its nice when you Implement it to avoid issues like this.
maybe some one will find this and fix his error as well..

i like to say big THX to this Team !!!
You are grate !

Have a nice day off tomorrow !

Regards
Paul

[2017-10-31 18:08] SeTk commented on #1900
Ok, I've upgraded to 11.1, rebooted and tested again.
The issue is still there. :(
Default gateway: Out-Rules matching/working.
Other gateways: Out-Rules don't match/work.

[2017-10-31 18:13] kavi0208 commented on #1776
The configuration is in `/var/etc/mpd_l2tp.conf`

You should check these lines:
[code]
But your modifications might be overwritten on a reboot or when changing l2tp configuration in GUI. For a permanent solution, if am not wrong, have to wait for https://github.com/opnsense/core/milestone/7

[2017-10-31 19:00] fichtner commented on #1776
Please add 10.0.1.1 as a VIP

[2017-10-31 19:02] fichtner commented on #1900
Thank you, at least we know we need to look at the routing code and that the buggy behaviour is consistent. 👍

[2017-10-31 23:04] antipiot commented on #1776
Hey! thanks for your help!
my conf looks like this:
`startup:

l2tps:
  set ippool add pool1 10.0.0.248 10.0.0.252

  create bundle template B
  set iface disable on-demand
  set iface enable proxy-arp
  set iface up-script /var/etc/l2tp-vpn/linkup
  set iface down-script /var/etc/l2tp-vpn/linkdown
  set ipcp ranges 10.0.0.254/32 ippool pool1
  set ipcp yes vjcomp
  set ipcp dns 10.0.0.5 10.0.0.1

[2017-11-01 18:20] mmitchell816 commented on #1810
Are there any plans to add support for tftp-proxy to the OPNsense down the road? I was looking at starting to use this software, but tftp proxy is something I need since I use SIP phone and they get their firmware updates from a remote network over tftp.

[2017-11-03 05:58] bigops opened #1910 "Possible 2FA Fallback Bug"
While configuring 2FA with authenticator it works only when the fallback is set to None.  If Local database is the fallback when 2FA is entered the login fails, but the login is possible with the password alone without the OTP

[2017-11-03 07:18] AdSchellevis commented on #1910
that's logical (not a bug), if you fallback to a method without 2FA it doesn't need your token for the second authenticator attempt.

[2017-11-03 10:36] r3md commented on #219
+1 for LDAP/MIT Kerberos support as Auth Server
Or else SAML2, openID ...

[2017-11-03 14:19] bigops commented on #1910
The issue is not of fallback.  If the 2FA is configured with the Fallback as the Local database, 2FA does not work.  It gives an error wrong username and password.

But if only the username and the local password is provided it will logon without 2FA.

The possible bug is when the fallback is configured and 2FA does not work.  If fallback is disabled then 2FA works.

[2017-11-03 14:23] fichtner commented on #1910
Some unsers reported 2FA being useless with local fallback and this after over a year is the first that said it doesn’t work at all in that case. From a code perspective this is very unlikely. Do you have the steps to reproduce?

[2017-11-03 14:25] AdSchellevis commented on #1910
Just to be sure, I've just tested 2FA in combination with fallback which authorises both (user/2fa+pass and user+pass).
It's a useless combination, but works like expected on my end.

[2017-11-03 14:29] fichtner commented on #1910
PS: to respond to your forum question... any primary auth server is reset to local auth via the console password reset (option 4). Make sure to set your console to auto login and physically secure access for an uncomplicated reset procedure.

[2017-11-03 14:42] guillaume-u opened #1911 "[Feature] Suricata - Add payload support"
Hello,

I think it's not already asked (I did not find this feature request).

Is it possible to add the payload support in "eve-log" and display the result in the WebUI ?

[code]

It will be very useful to get this information to enable/disable/investigate Suricata rules.

Thanks,

Guillaume.

[2017-11-03 14:46] AdSchellevis commented on #1911
Hi Guillaume,

It's not already on the list, but indeed quite useful.
To prevent peoples log files from flooding, we should make it an optional feature (if we can find time to implement it).

Best regards,

Ad

[2017-11-03 14:48] guillaume-u commented on #1911
Thanks a lot @AdSchellevis, sure it can be an optional feature.

[2017-11-03 15:11] bigops commented on #1910
Looks like this happens only when the server is configured for such a combination initially without a reboot.  I tested in another newly minted machine and the behaviour is the same as not allowing me to login, but after a reboot it works as expected.

Thanks for all the help.

[2017-11-03 15:11] #1910 closed

[2017-11-03 21:50] AdSchellevis commented on #1788
almost finished, a small teaser....
![image](https://user-images.githubusercontent.com/9783985/32397175-ca82a0f2-c0e8-11e7-9aff-830d7917e7c2.png)

![image](https://user-images.githubusercontent.com/9783985/32397244-36220118-c0e9-11e7-99fc-9a62ee2d69fa.png)

It has some limitations, the most important one is the label will only be valid for the running configuration, the log data doesn't contain a

[2017-11-03 22:22] fabianfrz commented on #1788
@AdSchellevis for CI it would be better if the table would match the rest of the pages (only the play button is green). Also the (i) could be a button or removed if the line is clickable.

For future reasons:
Array fields in the model have an UUID which can be used in the firewall and the view can restore the original values. This way the displayed value would always match.

[2017-11-03 23:56] fichtner commented on #1788
I like it. :) Name with parenthesis looks a bit odd, „Firewall Live Log“ sounds best.

[2017-11-04 09:08] AdSchellevis commented on #1788
It has some rough edges, but it's almost finished. "Firewall Live Log" sounds good, I will replace the caption. The colouring might need some work, probably a bit too bright at the moment, the different table styling is intentional (our default tables are a bit to large for this purpose).
Replacing the (i) with a button might help increase visibility,  I'll try that out later.

The uuid's are inde

[2017-11-04 09:58] StrikerTwo commented on #1788
Wow, great work! I like it already.

[2017-11-04 16:29] PitchBendStretch opened #1912 "[Bug] VLAN Routing drops after WAN Interface reload"
Hi guys,

My setup is based on inter-VLAN-routing, while using LACP.
My OPNsense version is:
`OPNsense 17.7.7_1-amd64
FreeBSD 11.0-RELEASE-p12
OpenSSL 1.0.2l 25 May 2017`

Since a few days my ISP is having problems which are leading to Interface reloadings from configd.py from time to time, which then end up in inter-VLAN routing problems. I get little drop outs to my NAS in another VLAN, while st

[2017-11-05 01:59] ndobbs commented on #1687
This feature would be great.

[2017-11-05 10:49] AdSchellevis commented on #1912
just a quick note on "Restarting OpenVPN tunnels", it's only the event, it doesn't do anything if there are no tunnels configured, details in:

https://github.com/opnsense/core/blob/9386226bdc3d1fbb28f9f49cf5ed4930cf3571d0/src/etc/inc/gwlb.inc#L96

[2017-11-05 11:35] mimugmail commented on #1899
@kekek2 how about certificate Code .. would close #1905

[2017-11-05 12:54] AdSchellevis commented on #1899
@mimugmail @kekek2  I would suggest starting with smaller things, the trust/certificate section is quite a blob of work, which might result in quite some work for the core team to review as well (which we might not have available at the moment).

[2017-11-05 14:49] PitchBendStretch commented on #1912
Thank you very much for clarifying, since this was a big question on my mind. So i searched for something, which wasn't there anymore. Good to know. :)

[2017-11-05 19:20] AdSchellevis commented on #1788
![image](https://user-images.githubusercontent.com/9783985/32417781-0af17704-c25f-11e7-88df-bc87d9469c10.png)

We still need cleanups to remove the old dynamic view and related legacy code, but the functionality should work now.
I've brightened the colours a bit more to increase text contrast.

In case anybody want to test the new functionality, use the following commands to replace the old dynami

[2017-11-06 14:05] jeffg2k opened #1913 "Traffic Graph not showing correctly"
Not sure at what version this started to occur, but I have no traffic listed in large "Out" graph.  And on the little mini-graphs (per ip), no "In" traffic is listed.  "status_graph.php"

Running version 17.7.7, but I know the issue was present in 17.7.5 as well.

[2017-11-06 18:08] fabianfrz commented on #1913
@jeffg2k please check if you have IPS enabled. IPS blocks that.

[2017-11-06 18:41] jeffg2k commented on #1913
Yes, IPS mode is enabled.  But it's always been enabled.  Any way to exclude the traffic reporting from the IPS?

[2017-11-06 22:56] bigops opened #1914 "IKEv2 Port issue in Firewall rules"
I have an **OpnSense OPNsense 17.7.7_1-amd64** configured for IKEv2 VPN, but i am noticing that the VPN can be successfully established even though I have not opened any ports on the firewall.  If there are automatic rules being configured they are not being displayed in the GUI.  I am concerned that this could be a potential issue.  The documentation for IKEV2 says that the ports need to be opene

[2017-11-07 02:49] ljm42 opened #1915 "Feature request: make the "full help" setting "sticky""
As a new user, I find that I am clicking the "full help" button in the upper right corner on nearly every page load.

Can we make that a "sticky" setting? So click "full help" once to have the help text load by default on every page until you click the "full help" button again to turn it off?

This would be an enormous benefit to new users. Experienced users probably never turn help on, but if the

[2017-11-07 04:38] ljm42 opened #1916 "Feature request: search for specific settings"
I really like the OPNsense menu system with integrated search box. However, it is sometimes frustrating that the search box can only access page titles and not configuration settings themselves.

For instance, it would be great if searching for "hostname" pulled up the "Systems: Settings: General" page.

Of if "syslog" pulled up "System: Settings: Logging"

Or if "radius" pulled up "System: Access

[2017-11-07 07:29] AdSchellevis commented on #1914
yes, these rules are generated automatically, see https://github.com/opnsense/core/blob/17.7.7/src/etc/inc/plugins.inc.d/ipsec.inc#L193

They can be disabled using "Disable all auto-added VPN rules." in vpn -> ipsec -> advanced settings.

[2017-11-07 07:32] AdSchellevis commented on #1916
I think the menu system can already do that, but generating all the correct tags is quite some work. In case you would like to work on gathering keywords, I can check the possibilities (with an example) for you.

[2017-11-07 08:11] bigops commented on #1914
Thanks.  That explains.  Maybe this could be a feature request to have these auto added rules show up in the Interface rules similar to the anti-lockout rules.

[2017-11-07 08:17] AdSchellevis commented on #1914
I think there already is one for it, but it's not very trivial... We still have quite some work to do cleaning up / refactoring the nat/portforward code (https://github.com/opnsense/core/issues/1326).

The way rules are generated now would eventually make it possible to rebuild the user interface, but the amount of work needed todo so is quite immense.

Can you close this issue now?

[2017-11-07 08:31] mimugmail commented on #1913
Would you first try disabling it and check of it works?

[2017-11-07 13:37] bigops commented on #1914
Thanks.

[2017-11-07 13:37] #1914 closed

[2017-11-07 13:48] jeffg2k commented on #1913
Yes, turning off IPS mode corrects the issue.  I don't see that as a good solution, but it does fix it.

[2017-11-07 13:59] mimugmail commented on #1913
This is not a solution, only better to track down the problem. This one is already known that with IPS enabled packets in one direction are not seen ...

[2017-11-07 14:00] AdSchellevis commented on #1913
it could be a driver issue, what network chip are you using?

[2017-11-07 14:07] mimugmail commented on #1913
Virtualbox:
[code]

Physical:
[code]

[2017-11-07 14:09] AdSchellevis commented on #1913
you have the same issue with both drivers?

[2017-11-07 14:10] mimugmail commented on #1913
Yep, two different systems.

https://forum.opnsense.org/index.php?topic=5911.0

[2017-11-07 14:34] jeffg2k commented on #1913
How to I list the drivers in opnsense / bsd?  Seems dmsg doesn't go back very far, I don't see a /etc/modules.conf, no lspci.

[2017-11-07 14:35] mimugmail commented on #1913
`pciconf -lv`

[2017-11-07 14:43] jeffg2k commented on #1913
dmesg.boot has this:

pciconf -lv:

[2017-11-07 16:00] AdSchellevis commented on #1913
What are your "sort by" and "filter" settings?

[2017-11-07 16:07] jeffg2k commented on #1913
I have the defaults, which are Bw In and Local.  Changing the "sort by" didn't fix anything, but changing the "filter" to All does fix the "Bandwidth In" on the mini-graphs.  The large Out (bps) graph is still 0.

[2017-11-07 16:33] AdSchellevis commented on #1913
It's highly likely a kernel issue with netmap, the graphs use two different command's (ifinfo, rate) to gather statistics which both seem to stall.

[2017-11-07 20:24] AdSchellevis opened #1917 "Drop diag_logs_filter.php in 18.1"
With https://github.com/opnsense/core/issues/1788 stacked for 18.1 I would like to suggest the removal of the old "Normal" view (diag_logs_filter.php).

The codebase is pretty old and messy, doesn't really bring more functionality to the table then the new live view and the feature to quickly add firewall rules based on log output isn't very solid anyway.

[2017-11-08 02:53] fichtner commented on #1917
Sounds good. Maybe we can merge both by slapping the current normal log filter behaviour on top. It’s really time to rework this plumbing internally as well, i was thinking syslog-ng usage for exported streams to finally support TCP and proper host name write but keep clog/syslogd combo a bit longer for internal use. 😊

[2017-11-08 03:16] #1761 closed

[2017-11-08 03:16] fichtner commented on #1484
Waiting for upstream, no use keeping this open

[2017-11-08 03:16] #1484 closed

[2017-11-08 03:18] fichtner commented on #1484
Uh no, the 100% cpu in snmp hostres is fixed in 18.1 :)

[2017-11-08 03:22] fichtner commented on #1916
To be fair, only the mvc pages can do this easily. But it takes a bit of time to work on a proper index format for lookups and how the search is presented. Ideally, an index should be generated after installing a new plugin or updating the core package.

[2017-11-08 03:25] fichtner commented on #1916
PS: suggested cross-reference of e.g. Radius is subject to proper field names, we can’t arbitrarily glue parts together that happens to have model relationships. At least I expect this to be too much work and explaining why these relationships exist is something that cannot be explained in a search window nor derived from the relationships easily. That’s what documentation and how-to are for. :)

[2017-11-08 06:02] ljm42 commented on #1916
I was originally thinking the search terms would be maintained manually, perhaps as a "keyword" attribute in the Menu.xml files.  I took a shot at coming up with keywords for the System: Settings pages

[code]

But extrapolating from your comments... perhaps the search index could be generated automatically from the forms/*.xml files? That would be awesome. Always up to date, zero manual effort.

[2017-11-08 06:09] ljm42 commented on #1915
Yes, I think a cookie would be fine. The setting doesn't need to be stored in your user profile, if you move between browsers you can deal with turning help on as needed.

[2017-11-08 07:48] AdSchellevis commented on #1916
I don't think we should automatically index the form xml files, most need more context and legacy code won't work.
We should be able to add an extra level in the menu xml to handle keywords/references, bit it all boils down to quite some work to build all the indexes.

[2017-11-08 09:47] fichtner commented on #1916
The main question is where is setting xxx, xxx being a specific setting like a checkbox on any given page at any point in time. If we can cross-reference menu entires with their forms that’s enough info. We can’t maintain a list of (marginally) useful keywords, keep track of restructuring, plugins, etc. Plus the translation automatically works here and we could try to anchor / navigate to the corr

[2017-11-08 09:47] fichtner commented on #1916
Ps: we could also ship each index precompiled with the package during build time, that afterwards only requires merging plugins and core index files for lookups.

[2017-11-08 11:12] fichtner commented on #1228
Apologies, this wasn’t properly assigned yet. We are doing some reworks in this area with syslog-ng for 18.1

[2017-11-08 11:16] fichtner commented on #1827
Done

[2017-11-08 11:16] #1827 closed

[2017-11-08 11:17] fichtner commented on #1596
@AdSchellevis does this work in your new life view?

[2017-11-08 11:22] fichtner commented on #1420
If anybody wants to work on this, feel free to let me know. From core perspective we have bigger issues to work on, dnydns works pretty well.

[2017-11-08 11:22] #1420 closed

[2017-11-08 11:45] AdSchellevis commented on #1596
@fichtner it should, /api/diagnostics/dns/reverse_lookup?address=2a00:1450:400e:806::200e

outputs

`["ams15s29-in-x0e.1e100.net"]`

which is the output of gethostbyaddr()

[2017-11-08 11:53] fichtner commented on #1596
Ok so closing this for #1917

[2017-11-08 11:53] #1596 closed

[2017-11-08 11:54] fichtner commented on #1596
And thanks for this work, it will also be useful for insight dns resolving. 😊

[2017-11-08 11:56] AdSchellevis commented on #1596
I know, it's on my list

[2017-11-08 16:11] mimugmail opened #1918 "[BUG] Traffic Shaper: Queue/Pipe statistics viewable in Status after deletion"
Hi,

not sure if this is known/normal behavior. I did some testing with Traffic Shaper and wanted to start from scratch. Deleted all Rules, Save. Deleted all Q's, Save. Deleted all Pipes, Save. But this after some time it's still there in Status:

[code]

Is there a way to reset without rebooting? And is this fixable? :)

[2017-11-08 16:17] fichtner commented on #1918
There is a flush button on the shaper page somewhere for this reason. This is the normal behaviour of ipfw. Operationally it doesn’t matter.

[2017-11-08 16:42] mimugmail commented on #1918
Ah great, I thought this is something for the specific tab, thanks! :)

[2017-11-08 16:42] #1918 closed

[2017-11-08 20:26] AdSchellevis commented on #1034
![image](https://user-images.githubusercontent.com/9783985/32572411-be5f0cee-c4ca-11e7-8794-f8f2c7e2c244.png)

![image](https://user-images.githubusercontent.com/9783985/32572400-b2322b4a-c4ca-11e7-8df2-a32810a83da2.png)

It needs https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/controllers/OPNsense/Diagnostics/Api/DnsController.php and https://github.com/opnsense/core/commit/97be

[2017-11-09 05:29] mimugmail commented on #1913
Yep .. there's a bit weirdness in kernel, netmap and suricata ... also like this:
https://forum.opnsense.org/index.php?topic=6190.0

KVM or ESX .. some guys need to set to e1000 but for some only vmxnet3 helps.

[2017-11-09 19:32] wytchmaster opened #1919 "squid configuration produced bungled localnet entry when an ipv6 ip alias is used"
When using a network virtual IP alias with an ipv6 unique local unicast address fdxx::/64 the config backend produces an acl entry with a wrong prefix length:

`acl localnet src fd42:1313:815:1::254/fd42:1313:815:1::254 # Possible internal network`

this should be

`acl localnet src fd42:1313:815:1::254/64`

The malformed entry prevents squid to start.

[2017-11-09 21:07] fraenki opened #1920 "CARP on VLAN+LAGG => IP config lost on link UP/DOWN event"
I've configured a new OPNsense firewall and tried to use all the "hot" features at once... :)

- configured a LAGG on a Intel X540-T2 network card
- setup 12 VLANs on the LAGG interface
- configured a static IPv4 address on each VLAN interface
- configured 12 CARP VIPs on the VLAN interfaces

No problems configuring it, but I did a test and unplugged BOTH network cables at once (by rebooting the s

[2017-11-10 19:51] AdSchellevis commented on #1920
I can't reproduce this very easily, it probably is caused by both interfaces getting up at the exact same time.  Does the same thing also happen when there's only one vlan configured on the lagg interface?

[2017-11-11 09:42] AdSchellevis commented on #1919
@wytchmaster can you try https://github.com/opnsense/core/commit/20cf2eb64d70c06824316cfcb8c9ac2a73e59fcc ?

`opnsense-patch 20cf2eb64d`

[2017-11-11 10:20] #1879 closed

[2017-11-11 10:21] #1779 closed

[2017-11-11 12:20] #1739 closed

[2017-11-11 13:59] AdSchellevis opened #1922 "Theme / improve tab presentation"
The current tabs used in our new codebase float a bit too much in my opnion,

![image](https://user-images.githubusercontent.com/9783985/32690042-0a1d64d8-c6f0-11e7-81bc-0a2440dd4df5.png)

I would like to suggest to make the tabs a bit more "tab-like", such as
![image](https://user-images.githubusercontent.com/9783985/32690066-6a57c83e-c6f0-11e7-8171-ec1108ade491.png)

[2017-11-11 14:08] fichtner commented on #1922
Sure, as long as the stacked tabs (web proxy) also get a clearer representation as well. There was a ticket somewhere recently.

[2017-11-11 14:20] mimugmail commented on #1920
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=221146#c1

Just a shot in the dark .. but driver could match yours ..

[2017-11-11 15:26] AdSchellevis commented on #1922
I see what I can fix for that one as well, it needs some work.

[2017-11-11 18:23] fabianfrz commented on #1922
I like the style of the tabs in Firefox (but that may not work with the dropdown menu):
![screenshot_20171111_192234](https://user-images.githubusercontent.com/3713914/32692294-acbebb54-c715-11e7-9fc1-c764bcc2a901.png)

[2017-11-12 03:22] spuder commented on #1646
If its not documented, it doesn't exist. Have you considered using a framework like swagger for api documentation? https://swagger.io/tools/

[2017-11-12 05:06] fichtner commented on #1646
Sure, but we can only work on a limited number of things and from an open source perspective API docs are not high value targets and nobody else so far helped fund them.

Cheers,
Franco

[2017-11-12 10:04] mimugmail opened #1923 "[Feature] Add burst value to Traffic Shaper"
@AdSchellevis Is there a reason why there's no field for configuring a burst value in the pipe?
In the template there's no value (so 0), but technically it shouldn't be a problem to add
`{{ burst|default('0') }}`
to the pipe command?

Opinions? :)

[2017-11-12 10:10] fabianfrz commented on #1915
@AdSchellevis You can use the local storage like for the scroll lock.

[2017-11-12 10:47] AdSchellevis commented on #1923
@mimugmail yes, last time we checked/tested, burst didn't work. see https://github.com/opnsense/core/commit/31175631197e3cd15b70a2cd89865b5c11ddbc2a

[2017-11-12 10:48] fichtner commented on #1923
Context and old code via https://github.com/opnsense/core/issues/226

[2017-11-12 10:50] AdSchellevis commented on #1922
@fabianfrz They certainly look nice, but I don't think I can integrate that smoothly with the rest of the layout. Maybe for a next step.

[2017-11-12 10:54] AdSchellevis commented on #1915
@fabianfrz I know, I added that one too ;) Time is the only thing keeping this from happening at the moment.  I can assign myself, eventually this will be there.... The question has been there more often and it's quite practical to have.

[2017-11-12 10:59] mimugmail commented on #1923
Thanks for the hints, I'll have a look :)

[2017-11-12 10:59] #1923 closed

[2017-11-12 15:10] borisneubert opened #1924 "Crash report after every reboot."
Right after every reboot I am informed about a crash. System: Firmware: Reporter | Submit this report runs forever. Attached files are copied from the System: Firmware: Reporter page.

OPNsense 17.7.7_1-amd64
FreeBSD 11.0-RELEASE-p12
OpenSSL 1.0.2l 25 May 2017

[logs.zip](https://github.com/opnsense/core/files/1464792/logs.zip)

[2017-11-12 15:21] AdSchellevis commented on #1924
[code]

Looks like an issue with your swap configuration or the disk itself, depending on how the machines is installed you could try disabling swap in /etc/fstab if it's enabled there or disable the swap file in the UI (system_advanced_misc.php).

[2017-11-12 17:03] borisneubert commented on #1924
Thank you @AdSchellevis, I turned off the swap file  leaving the swap partition.  Issue resolved.

Since I did not dismiss the crash report, still some garbled content gets displayed in the System: Firmware: Reporter. This is because the files in /var/crash are gzipped (now):

[code]

I suppose the submission of the crash reports takes forever due to the size of the core dump (126MB gzipped). This

[2017-11-12 18:21] AdSchellevis commented on #1924
it looks like we forgot to limit the filesize for submission, I will add a 2MB max per file and close the issue.

[2017-11-12 18:23] borisneubert commented on #1924
That's fine for me.

[2017-11-12 18:23] #1924 closed

[2017-11-12 19:24] #1922 closed

[2017-11-12 19:24] AdSchellevis commented on #1922
![image](https://user-images.githubusercontent.com/9783985/32702427-67ba313c-c7e7-11e7-97d9-e0ce3515b0e4.png)

[2017-11-12 19:51] fraenki commented on #1922
Great, @AdSchellevis! This was just recently suggested by someone using the HAProxy plugin! Good timing! :+1:

[2017-11-12 20:12] fabianfrz commented on #1646
@fichtner they also would be always incomplete and maybe wrong because the plugins change frequently.

[2017-11-13 10:56] fraenki commented on #1920
@mimugmail The problem description in the FreeBSD bug report is quite different, I don't see how this is related to my issue.

[2017-11-13 10:58] mimugmail commented on #1920
I meant that it could be driver relevant? I can't reproduce it with my copper test boxes

[2017-11-13 11:15] timur-davletshin opened #1925 "IGMP Proxy is too old"
Current version of igmpproxy does not support v.3. Looks like sourceforge is abandoned and moved to https://github.com/pali/igmpproxy which provides support for v.3.

Report:

RECV V2 member report   from 192.168.0.121   to 225.77.225.2
Updated route entry for 225.77.225.2 on VIF #2
RECV unk: 0x22/0x00     from 80.82.58.46     to 224.0.0.22
ignoring unknown IGMP message type 22 from 80.82.58.46 to

[2017-11-13 11:19] AdSchellevis commented on #1925
can you please open this issue in https://github.com/opnsense/plugins ? igmp is not part of our core system (https://github.com/opnsense/plugins/tree/master/net/igmp-proxy).

[2017-11-13 11:23] timur-davletshin commented on #1925
Done. Sorry for posting it in the wrong place.

[2017-11-13 11:24] AdSchellevis commented on #1925
no problem, thanks for moving.

[2017-11-13 11:24] #1925 closed

[2017-11-13 17:47] lallhands opened #1926 "tap0 interface not joining bridge0 at boot."
OPNSense version 17.7.5-amd64
FreeBSD 11.0-RELEASE-p12

Intel platform

So I have created at tap0 interface and added it to bridge0 along with em1. Whenever I boot up and run ifconfig I see only em1 as a member of the bridge.

bridge0: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> metric 0 mtu 1500
        ether 02:ac:8a:46:e4:00
        nd6 options=1<PERFORMNUD>
        groups: bridge

[2017-11-13 17:50] AdSchellevis commented on #1926
where did the tap0 interface come from the first time?

[2017-11-13 17:52] lallhands commented on #1926
I believe I added it from the GUI. It is there now and I do not believe I have it configured anywhere else. I can check though.

[2017-11-13 17:54] AdSchellevis commented on #1926
to be able to reproduce an issue, we need to know what you did and how you did it.

[2017-11-13 18:38] lallhands commented on #1926
Right, thanks for the help too!

So I just checked and I created tap0 at boot from a script that I run in  /usr/local/etc/rc.syshook.d/ with an 85-domotz.start. I'm creating a virutal machine running Ubuntu Server to perform some advanced services.

##############################
####
#!/bin/sh

bhyvectl --destroy --vm=linuxguest

grub-bhyve -m /root/device.map -r hd0,msdos1 -M 1024M linuxguest

s

[2017-11-13 18:39] borisneubert opened #1927 "web-proxy: Feature request: restrict Remote Black Lists to subnets"
This is potentially related to https://github.com/opnsense/plugins/issues/356

It should be possible to restrict Remote Black Lists to subnets. For example, to have different black lists for the office and the guest net, or for the parents' and the children's net.

Would require to add a subnet box to the "Edit Blacklist" dialog. Assume we have a blacklist "Shalla_Office" assigned to the "office"

[2017-11-13 20:04] AdSchellevis commented on #1926
You probably need to register an interface into the plugin system, which you can then add to the bridge. For some pointers on how to do this for your own code, you could look at other plugins (for example https://github.com/opnsense/plugins/blob/master/security/tinc/src/etc/inc/plugins.inc.d/tinc.inc#L82)

[2017-11-13 20:06] lallhands commented on #1926
Thank you - very helpful!

[2017-11-13 20:42] AdSchellevis commented on #1915
In case anyone likes to test, the command below installs the feature (on a recent version of OPNsense)

`opnsense-patch 7e3906a09`

[2017-11-14 00:35] fichtner commented on #1926
Change the name of your syshook script from „start“ to „early“. You are creating the tap0 device after network setup currently, I guess that is the only issue...

[2017-11-14 01:22] ljm42 commented on #1915
Thanks for this @AdSchellevis it works great! This should be extremely helpful.

[2017-11-14 02:57] fichtner commented on #1915
Nice, thank you!

[2017-11-14 03:06] fichtner commented on #1922
The dashed line is a visual flow stopper, I can’t help but this maybe it should be removed? The intention is clear, but even the normal bootstrap examples avoid this and there is no lack in functionality.

I think the people who miss these selectors will always miss them as they are hard to extrapolate in any case.

[2017-11-14 03:13] fichtner opened #1928 "Firewall: move Interface rule tabs to menu"
I think the firewall rules are the last legacy user of the tabbing. Several users noted that a lot of interfaces create an awkward tabbing experience and we already have a similar approach to interface editing in the menu already.

What do you think @AdSchellevis ? Feel free to reassign this.

[2017-11-14 03:24] fichtner commented on #1928
Some more info in #522,  display_top_tabs() is used for dhcp thingies as well, which are worth cleaning up too.

[2017-11-14 04:20] fichtner commented on #1689
Nowadays while pondering about authentication server order we also need a way to reorder the entries per drag+drop.

[2017-11-14 04:23] fichtner opened #1929 "System: remove authentication fallback in favour of a list of servers like in vpn"
This also requires #1689 to be able to reorder authentication, it seems useful to do auth against multiple servers in an arbitrary order.

- [x] kill autmode_fallback
- [x] allow multiple autmode
- [x] help text in authmode
- [x] kill/merge settings page
- [x] kill legacy LDAP connection tester
- [x] opnsense-auth-test
- [x] GUI login test
- [x] password policy settings to server edit (Local Datab

[2017-11-14 06:56] mimugmail commented on #1928
If you would do auto firewall rules for every local service you wouldnt need tabs et all. Sophos e.g. has only forwarding and it works great

[2017-11-14 07:39] AdSchellevis commented on #1922
It would look like this without it
![image](https://user-images.githubusercontent.com/9783985/32768217-3701b39a-c917-11e7-9853-9dc6febe3969.png)

To be honest, I don't think I fancy it more without the dashed line. What do you think?

[2017-11-14 07:49] AdSchellevis commented on #1929
it's not very high on my list of priorities, it doesn't happen very much that people need a large list of servers. The tokenizer doesn't seem to come with sorting, so that would be another challenge.
Feel free to fix, I just miss the big gain here.

(p.s. auto adding the new entries on a tokenizer is likely a small fix, some focus event I guess)

[2017-11-14 08:43] StrikerTwo commented on #1928
I would also consider dropping the interface separation altogether and just having one big list of rules.

If I want to allow traffic to pass from one interface to the other and back (think LAN and DMZ) I have to switch between tabs (or menu items) to see all rules belonging to that flow.
Currently I tend to do as much as possible with floating rules because I can have them all in a single list.

[2017-11-14 11:46] fichtner commented on #1922
It looks cleaner that way, only the arbitrary padding is making this look off (the padding between word and icon is bigger than the padding between the word/icon and the edges.

[2017-11-14 12:35] AdSchellevis commented on #1922
Sorry, I'm not completely sure what you mean. If you can find some time, can you add an example?

[2017-11-14 13:15] fichtner commented on #1922
The space between the tab text and the dropdown icon is too wide, probably double the size of the normal padding, where that dashed line used to be.

[2017-11-14 13:35] fraenki opened #1930 "syslogd: restart when a new plugin is registered?"
[Some plugins](https://github.com/opnsense/plugins/blob/223e92eedb084ddfe6cfd055248b5f15e9a6d6ac/net/haproxy/src/etc/inc/plugins.inc.d/haproxy.inc#L35-L46) register additional syslog configuration.

Usually this requires to restart syslogd, otherwise the log does not work or is empty (the latter is the case for HAProxy). But I couldn't find a way to do it right. Currently, the only way for a user

[2017-11-14 20:04] jmatraszek commented on #1785
Hi, I am having exactly the same issue (OPNsense 17.7.7_1-amd64 on PC Engines APU2 / 15% out of 4GB taken).

[2017-11-14 20:28] fraenki commented on #1785
I've never seen this issue, maybe post your ntpd configurations to make it easier to reproduce this issue.

[2017-11-14 20:43] jmatraszek commented on #1785
That's mine config
[code]

[2017-11-14 21:31] PitchBendStretch opened #1931 "[Bug] OpenVPN - unable to contact Daemon / device busy"
Hey guys :)

This ticket is created for @fichtner based on my thread here:

**Priority:** low
_(I don't think this problem will appear often to anyone, since it requires VPN/WAN Interface flapping to occur)_
**Impact:** low
_(One VPN interface seems to surive the flapping, while all the other VPN daemons are unable to reconnect)_

**My Setup:**
- 3 Client OpenVPN tunnels configured to my VPN Provi

[2017-11-14 22:55] fraenki commented on #1920
I have several boxes with this NIC here, will try to reproduce this issue within the next few days.

[2017-11-15 12:48] AdSchellevis commented on #1922
this?
![image](https://user-images.githubusercontent.com/9783985/32836882-9af32448-ca0b-11e7-9d05-6c6b7315397d.png)

[2017-11-15 12:51] fichtner commented on #1922
Yes, I like this very much. Other opinions? @mimugmail @fabianfrz @fraenkie

[2017-11-15 12:51] AdSchellevis commented on #1922
ok, I'm fine with this too. Will check it in now.

[2017-11-15 14:42] fabianfrz commented on #1922
looks good

[2017-11-15 14:55] mimugmail commented on #1922
Go for it 👍

[2017-11-15 15:20] mimugmail opened #1932 "OpenVPN: Wrong routing of iroute when using Server Mode Remote Access"
Hi,

I setup an OpenVPN server in Server Mode "Remote Access" with Client certificates.
My goal is to have 50 branches to connect their LAN to the server LAN.

Since I don't want to create 50 servce instances I'm using "Remote Access" as Server Mode. The problem here is that the local network at the client wont get pushed to the server. So now I created a Client Specific Override and set the remot

[2017-11-15 15:28] mimugmail commented on #1932
Seems to be the same as #1283

When I set a route via CLI it works .. strange thing :(

[2017-11-15 15:57] NunoHiggs commented on #1883
Hello? Is it possible?

[2017-11-15 16:00] mimugmail commented on #1932
Workaround: In server config in Advanced: `route clientnet subnet`

Would be cool to have a field for this so no advanced fields are needed :)

[2017-11-16 09:31] itheiss opened #1933 "Unable to create internal certificate authority"
Hi,

I just installed OPNsense 17.7.7_1 on my brand new hardware and wanted to create an internal certificate authority. After filling all fields and clicking 'Save' I am presented  with the following error messages.

![16-11-_2017_10-21-14](https://user-images.githubusercontent.com/2655169/32883931-0633066c-cab9-11e7-8a60-6d2ace4c2d87.jpg)

No matter what I tried, I am unable to create an interna

[2017-11-16 10:12] AdSchellevis commented on #1933
Hi Ingo,

I've never seen this before, can't reproduce it either on my end (using openssl) using the same input.
Are you using OpenSSL (the default) or LibreSSL) ?

What does the following output?

`/usr/local/bin/openssl version
`

Best regards,

Ad

[2017-11-16 10:21] fichtner commented on #1933
It looks like a flakey install, please provide the output of these two commands:

    # pkg check -da
    # pkg check -sa

[2017-11-16 11:17] itheiss commented on #1933
Hi Ad, hi Franco,

I am using the default (OpenSSL). Here is the requested output:

[code]

and

[code]
[code]

Best regards,
Ingo

[2017-11-16 11:35] itheiss commented on #1933
Whoop!
Got it working after rebooting and reinstalling OpenSSL from Firmware -> Packages.
Really strange ...

Thank you both for your quick replies. I am closing the issue. If you want me to collect some more info leave me a note.

Best regards,
Ingo

[2017-11-16 11:35] #1933 closed

[2017-11-16 12:09] fichtner commented on #1933
Hi Ingo,

We need a consistent error state, but that is no longer the case. Can’t be sure what happened. In any case happy it works now. 😊

From the two commands it seemed that OpenSSL was properly installed and all files passed the checksum test.

Cheers,
Franco

[2017-11-16 14:20] fichtner commented on #1785
@lattera had a thing to say about this regarding g ASLR if I recall correctly?

[2017-11-16 15:18] lattera commented on #1785
The mlockall error is not a fatal error. ntpd simply tries to ensure that its pages don't get swapped out to disk in low-memory situations[1]. If the call to mlockall fails, ntpd continues business as usual. The reason you're seeing the mlockall error is because HardenedBSD's stack randomization is really aggressive.

On 64-bit systems, the hardening.pax.aslr.stack_len tunable is set to 42 by defa

[2017-11-16 15:27] lattera commented on #1785
(Also, note that modifying `/boot/loader.conf.local` requires a reboot for changes to take effect.)

[2017-11-16 15:38] lattera commented on #1785
(Also also, there's really no need to modify the stack entropy. Doing so leaves the ASLR implementation in a weak and potentially bruteforceable state.)

[2017-11-16 22:30] AdSchellevis commented on #1911
Suricon 2017 seems like a great moment to add this feature...
![image](https://user-images.githubusercontent.com/9783985/32919267-72cfc9f6-cb25-11e7-877c-9ee3d8282384.png)

For now I've only added the printable content, I'm also looking into supporting custom overwrites of the suricata.yaml file for custom (advanced) features.

[2017-11-16 22:35] AdSchellevis commented on #1911
To test on a recent version of OPNsense, use : `opnsense-patch 14d0ce9`

[2017-11-16 22:40] fraenki commented on #1883
_Technically_ speaking it might be possible, but I'm unsure if it's possible to _properly_ integrate it.

That being said, as the current maintainer of the HAProxy plugin I will not be able to work on this for several months. Contributions/patches are welcome, though.

[2017-11-16 22:41] fraenki commented on #1883
@fichtner Please assign to me (and add the "help wanted" label).

[2017-11-17 08:33] AdSchellevis commented on #1883
Can't you just use the nat/forward options already in OPNsense (which uses pf), just like our proxy does?
(the link used to template the squid rules)
https://fw-ip/firewall_nat_edit.php?template=transparent_proxy

If there's anything missing there, we should be able to add it, but when possible we tend to use pf for our firewall and only ipfw for edge cases (like captive portal and traffic shaping

[2017-11-17 10:44] AdSchellevis opened #1934 "configd / custom template overwrites / overlay"
From time to time people ask for functionality that doesn't really fit our core system, but uses parts of the system already in place (which makes it hard/impossible to use our plugin system to extend).

A nice example of such a feature is https://github.com/opnsense/core/pull/1882 , which most likely will not make it into our system because there's no use case for it in scenarios we support.
Othe

[2017-11-17 15:02] NunoHiggs commented on #1883
@AdSchellevis  was that question for me? I would if i knew how :)

PS: thanks for all of your hard work!

[2017-11-17 15:42] fichtner commented on #1934
What if we glob and order +TARGETS.*, it would create an arbitrary number of possible overwrites.

Normal target file first of course.

[2017-11-17 17:04] tpcr opened #1935 "Feature Request: IDS Alert list additions"
I would like to see the IDS alerts page also show source and destination ports and which interface it was generated on in the main IDS alert listing. A choice of which categories to display would also be helpful.

I am requesting an addition to the list of displayed alerts in IDS in the WebGUI. This dropdown list should show the ports and the interface. I know the ports are shown in the detail, bu

[2017-11-17 18:49] AdSchellevis commented on #1934
I don't mind adding a glob, as long as we suffix them with something that makes it obvious that it is an overwrite (to prevent accidental files from being processed, such as +TARGET.old).

It might increase the possibilities a bit, but there can only be one template per described target (it can't/won't merge)

[2017-11-17 19:04] AdSchellevis commented on #1883
@NunoHiggs yes, that question was indeed for you  :) I would start using the template rule which you can create using the above link and alter the parameters to match your situation.

[2017-11-17 21:23] AdSchellevis commented on #1935
I was working on https://github.com/opnsense/core/issues/1911 and thought it was a good idea to add the port and interface fields in the grid too.

![image](https://user-images.githubusercontent.com/9783985/32969551-d91268e8-cbe5-11e7-914a-d757be5933ad.png)
![image](https://user-images.githubusercontent.com/9783985/32969563-e3312a8a-cbe5-11e7-8afa-7dbfd733b87f.png)

To test, first install https://

[2017-11-17 22:06] tpcr commented on #1935
Works great. A must have for the next release. Thanks loads!

[2017-11-17 22:26] wytchmaster commented on #1919
I willbtry it tomorrow. Sorry for the delay, I was very busy on the job.

[2017-11-17 23:13] PitchBendStretch commented on #1931
Hi Franco,

lucky me that my ISP is still having the most insane connection issues ever witnessed to mankind. *sigh*
I can now confirm alot more details than i did before, because this problem is now a daily reminder and business as usual.

Increased amount of WAN Interface flapping with Latency spikes up to 24.000ms every 3 seconds leading to restarts and reloads of the WAN interface and every VP

[2017-11-18 06:17] fichtner commented on #1935
I’ll pull these in for 17.7.8 as long as they have no compatibility issues with the jquery bump.

[2017-11-18 06:39] fichtner commented on #1934
It doesn‘t have to merge, we just need to make sure our normal templates in +TARGETS are first, and then we can iterate through any number of overrides. But making a safe glob pattern is hard. What if we create a +TARGETS.D directory instead? But what to ignore and what not is still a problem unless we say no file on there is ignored?

[2017-11-18 07:44] AdSchellevis commented on #1934
a +TARGETS.D directory sounds good to me, what if we scan for files there that end on .TARGET?

so one can create an overwrite for squid.conf like this:

`src/opnsense/service/templates/OPNsense/Proxy/+TARGETS.D\squid.conf.TARGET
`

[2017-11-18 07:47] AdSchellevis commented on #1919
no problem, thanks in advance

[2017-11-18 08:16] fichtner commented on #1934
Lots of semantics for newcomers, but sounds good to me as long as prefix of the file is only cosmetic, not functional (content stays the same)

[2017-11-18 08:20] AdSchellevis commented on #1934
Well, the upside is this should only be used by people who know what their doing ;)
I will add a probe for +TARGETS.D directory, contents won't change, with this we have something to point integrators to (without having to discuss pulls that won't make it).

Thanks for your feedback

[2017-11-18 09:51] NunoHiggs commented on #1883
@AdSchellevis I am going to give it a shot! Thanks

[2017-11-18 15:32] apsnowolf opened #1936 "Internal IP address can't match policy route rules"
I have a MutilWAN environment use opnsense 17.7.7, pureNAT is enabled.
WAN1==IP1 WAN2==IP2   default gateway is WAN2 GW。

I want setup pptpvpn, but pptp server only can listening on an lan IP address.
I creating a forwarding rule in NAT section, that sends incoming IP1 pptp traffic (gre and tcp1723) to the lan ip.
but it's not work well.
I capture package in wan port,  gre out package NAT to the w

[2017-11-18 15:38] wytchmaster commented on #1919
looks good. The acl entry is well-formed now. Thanks.

[2017-11-18 15:50] wytchmaster opened #1937 "radvd does not advertise addresses for virtual IPs"
The radvd configuration does not provide a section for virtual ips. If you use any virtual ip from the fc00::/7 range for Unique Local Unicast, no advertisements are configured. The radvd.conf only has the configuration for the "real" interfaces.

[2017-11-18 15:53] wytchmaster opened #1938 "syslog exits on signal 11"
Syslog exits with signal 11. I have already reset the logfiles multiple times. If I start syslog with the "original" config file /etc/syslog.conf it does not die. But that is of course not what I want ...

[2017-11-18 15:58] wytchmaster opened #1939 "squid should have a "expert configuration" option"
In pfsense it's possible the insert native squid configuration fragments. This would be nice to have in opnsense, as the GUI does not offer options to fine tune the configuration. In my case I want to have multiple delay pools for traffic management.

[2017-11-18 16:22] fabianfrz commented on #1939
We don't want that and will probably refuse that whenever it is possible because this cannot be validated and may break the service. In your case, you can add it via the CLI via the plugin hook (a directory which is automatically included) or request a feature to configure those delay pools via the web interface.

[2017-11-18 23:26] tpcr commented on #1935
There is a problem with the patch. If you delete the alert log it crashes OPNsense.
A reboot is needed to get the WebGUI back, but the console is still working.

[2017-11-19 02:30] apsnowolf commented on #1776
It‘s can’t works on mutilwan, gre reply message SIP wrong.

[2017-11-19 07:15] fichtner commented on #1922
With the new cool layout I noticed to this:

* The new dark line for all inactive tabs / table head is too dark and think with the pretty rework done to outline inactive tabs we don't really need it:
<img width="652" alt="screen shot 2017-11-19 at 8 10 17 am" src="https://user-images.githubusercontent.com/1915288/32988292-5aa59a08-cd01-11e7-8bf9-ec2c43f716ff.png">
* Legacy tabs don't follow this l

[2017-11-19 09:56] fichtner commented on #1928
@mimugmail @StrikerTwo sounds like a long-term improvement, let's try to keep it simple in each iteration:

<img width="845" alt="screen shot 2017-11-19 at 10 55 31 am" src="https://user-images.githubusercontent.com/1915288/32989524-38ce3856-cd18-11e7-9796-b7d60fd5464d.png">

[2017-11-19 10:09] wytchmaster commented on #1939
Ok. But in other services it's possible (unbound for example). And that's really helpful if one has some uncommon settings ....

[2017-11-19 10:21] fabianfrz commented on #1939
@wytchmaster also uncommon settings can be made available via the GUI. This settings can be marked as advanced and will not be shown to the user by default (those forms have a button in the top left corner of the form - for example like the proxy pages).

OpenVPN, Unbound etc. however are legacy pages (no MVC) which does not have the new form system and will probably be replaced in the future (mig

[2017-11-19 10:59] AdSchellevis commented on #1928
@fichtner keep in mind that with a lot of interfaces the plugging in the menu likely won't work properly. (the old page had a dropdown list for these circumstances)

[2017-11-19 11:01] fichtner commented on #1928
I guess that is why people probably rather want to see all of this interface-based stuff go away from navigation itself. either way many interfaces is a bit troublesome, at least from the menu we can expand and collapse and search via quick nav :)

[2017-11-19 11:03] AdSchellevis commented on #1935
@tpcr doesn't seem to be related, the patches only really extend javascript in the browser.

[2017-11-19 11:04] wytchmaster commented on #1939
OK. I got it :-) So I will try the plugin hook first ... Thanks for your explanations.

[2017-11-19 11:53] StrikerTwo commented on #1928
@fichtner

Yeah, sure. Should I open a new issue or do you keep a backlog somewhere?

[2017-11-19 12:11] fichtner commented on #1928
@StrikerTwo yes, I'm changing this ticket to kill all legacy tabs and put them in the menu instead

[2017-11-19 12:56] AdSchellevis commented on #1928
@fichtner I don't mind adding the navigation to the left menu, but I do think we should add the tabs too in that case, like we do in firmware for example. This isn't the best solution for everyone in my opinion, don't want to restructure the world either at the moment, but I'm really doubting we should remove the tabs completely now.

[2017-11-19 12:59] AdSchellevis commented on #1922
Personally I liked the dark line to accent the tab more, I've experimented with different styles, but this one was the clearest in my opinion.
For core packages I can look into migrating the tabs, old legacy plugins I don't want to spend time on (unless it's the exact same implementation and can work without extra effort).

[2017-11-19 13:02] paride commented on #1501
Any news on this? Has pfSense finally released their 6rd patches?

[2017-11-19 13:29] fichtner commented on #1501
@paride no, see https://forum.pfsense.org/index.php?topic=138822.0

contributors raising the issue are expelled from the community rather than the simple solution of bringing the source code back or saying that it's not open source anymore. ;)

[2017-11-19 13:32] mimugmail commented on #1900
@SeTk For me it's working. I'm currently playing with the Traffic Shaper and  build a small test bed. I have 2 WANs, one static with 100Mbit (default) and one with a ADSL router in front. When I set a firewall rule to send traffic vom LAN_X via ADSL it's perfectly shaped like I set the values in the pipe's.

But what I experienced was, that CoDel doesn't do what I want ... I can shape to exact val

[2017-11-19 13:37] AdSchellevis commented on #1922
It's intentional that it only underlines the tab section.... Personally I really don't think it looks off, but if removing is what it takes to end this subject, feel free to remove.

[2017-11-19 14:16] fichtner commented on #1928
This has been started a long time ago where I migrated all static tabs (e.g. VPN, System Settings) and wanted to kill tabbing completely. Since then, only interface-based magic remained marked as TODO for a long time and the menu system now more capable of emulating this. We have not added a single interface-based navigation page in MVC like this ever again so the issue is not a big one in UX, we

[2017-11-19 14:28] AdSchellevis commented on #1928
Sorry, maybe my intentions weren't clear in my previous comment.

I definitely don't think we should abandon the legacy pages until all the world around it has changed, I already spend way too much time in there for that.

Removing the tabs for most cases is absolutely fine too.... but... the firewall page is really a corner-case, if you have more then 10-20 interfaces you will likely struggle a l

[2017-11-19 14:29] fichtner commented on #1922
I'm sorry to nag you with this. I'm trying to raise a question that is likely going to come up with our users when we ship this, so we have a good answer for why this was designed the way it is. I'm just not convinced we have the best answer yet.

[2017-11-19 14:30] SeTk commented on #1900
@mimugmail Ok, let's compare oure configurations for upload traffic shaper.

WAN1 is default.

Pipes:
- WAN1-Upload-Pipe: I've configured (other settings default)

- WAN2-Upload-Pipe: Same as WAN1, but with a fixed bandwidth 20 Mbit/s
Queues not configures to keep test simple.

Rules:
- WAN1-Upload-Rule:  I've configured (other settings default)

- WAN1-Upload-Rule: Same as WAN1 for interface WAN2

[2017-11-19 14:33] fichtner commented on #1928
Sure, should we make the menu entries searchable-only? Then I can revert the styling for firewall rules page.

This "issue" is already in place since we moved the interfaces [XXX] entries into the menu, firewall items will be slightly bigger. To this day, there were no raised question about this move so I thought it was a worthwhile task to finish.

But I do want to keep the modifications for DHCP

[2017-11-19 14:37] AdSchellevis commented on #1922
I'm not sure we can ever find a good answer for either layouts, it's about preferences... some people may like this, others won't. I just want to avoid starting a beauty contest for something this small, I can live with both versions. In terms of visibility both aren't that different (the line might even be a bit better, but I'm really not an expert on that subject).

In the end, people are free t

[2017-11-19 14:47] AdSchellevis commented on #1928
My only concern are the firewall pages, people don't change the interfaces that much. DHCP and wireless I can live with, although I expect people to complain about that too at some point in time (because of the size of the left menu).

Maybe it's better to leave the tabs out of the firewall section for now and add something in which fits the styling, so you don't have to revert your commit and we

[2017-11-19 14:55] #1934 closed

[2017-11-19 15:03] fichtner commented on #1922
I don't want to keep anyone from doing other work or ask for other people's time, but I do need to ask whether I'm having stupid ideas or not and if you are ok with them in the end. Nothing worse than people working on the same thing pulling in different directions.

I'll fiddle with the CSS. I really like this work, so please don't let me that that away from you in any way. :)

[2017-11-19 15:07] AdSchellevis commented on #1922
ok, thanks. I really think these are the last tiny details.... We'll get there :)

[2017-11-19 15:11] fichtner commented on #1928
Ok thanks, I see your concern for firewall rules usage. The wider suggestion here was to show all rules there, or do some kind of selector like the categories for quicker usage. Floating rules break this paradigm a bit as their order is different in the final rules.

It's difficult to find an easy way out but maybe we can discuss this week after a bit of working with the new menu state. I don't mi

[2017-11-19 16:01] StrikerTwo commented on #1928
Can you give us some numbers? How many interfaces would the "new" menu support and how many installations are there that have more?
Can you do an ugly fix for the menu system if there is an excessive number of interfaces? A simple `if (cnt > x) WriteDropDown()` should be enough, no?

[2017-11-19 16:05] Slugger opened #1940 "Unbound: Generated zone file does not honour assigned dhcp domain names for opnsense host"
**Version: 17.7.7_1**

I have a setup with 3 VLANs and the management network:

re1 (opt3): 192.168.13.1/24
re1_vlan44 (lan): 192.168.44.1/24
re1_vlan55 (opt1): 192.168.55.1/24
re1_vlan66 (op2): 192.168.66.1/24

On the dhcp config, the domains for these are setup as follows:

opt3: home.mgmt
lan: home.main (note: home.main is also the configured system domain for opnsense)
opt1: home.guest
opt2: h

[2017-11-19 16:08] fichtner commented on #1940
Hi @Slugger,

Does not work, a known limitation in the service that looks for DHCP leases and dynamically registers them. The service only uses the DHCP leases file which has no info about the interface / domain of the lease. You can override the used domain name, but that's it.

Cheers,
Franco

[2017-11-19 16:12] fichtner commented on #1928
I don't think drop down boxes in the menu are the answer, it would have to be some "..." entry that expands, but that is also custom glue. The easiest solution is to keep this away from the menu and provide a sane sort of filtering on the main page that is not tabbing.

[2017-11-19 16:13] Slugger commented on #1940
I've been experimenting this morning and it appears the `global $config` object referenced in `plugins.inc.d/unbound.inc` has all of the dhcp config info available at the time it's building the zone file.  Could it not lookup the assigned dhcp domain for each interface when building the zone file?  Or is there a reason this shouldn't be done?

[2017-11-19 16:15] fichtner commented on #1940
are we talking about static or dynamic dhcp hosts?

[2017-11-19 16:19] fichtner commented on #1922
Maybe like this?

<img width="1127" alt="screen shot 2017-11-19 at 5 18 33 pm" src="https://user-images.githubusercontent.com/1915288/32992674-caadf6c8-cd4d-11e7-9cce-2e56ab11b5b3.png">

[2017-11-19 16:22] Slugger commented on #1940
Static, I guess.  I'm looking at the `unbound_add_host_entries()` function and the first thing it does is create the host entries for itself, but it's hardcoded to use `$config['system']['domain']` for all the entries is creates instead of looking for the interface in the dhcp config and using the assigned domain name from there, when available.

[2017-11-19 16:24] AdSchellevis commented on #1922
ok, that is indeed very nice! Do I need to add it to the sass file for you? Just post the css attributes if needed.

[2017-11-19 16:28] fichtner commented on #1922
I can fix this in the sass I think, currently fighting with the primary colouring of the stacked tabs in web proxy. That may take a bit more time. :)

[2017-11-19 16:29] fichtner commented on #1940
ok, that looks fixable. hold on...

[2017-11-19 16:30] fichtner commented on #1940
We are talking about this blob? https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/unbound.inc#L539-L565

[2017-11-19 16:31] Slugger commented on #1940
Yup

[2017-11-19 16:46] fichtner commented on #1940
Try this:

    # opnsense-patch 84bd7d8
    # pluginctl dns

[2017-11-19 17:10] tpcr commented on #1935
Must have something to do with it because whenever I install the patches, as soon as I start messing with IDS settings the OPNsense network crashes, but the shell is still accessible in the console. Is there any log that may shed some light on this.

[2017-11-19 17:15] AdSchellevis commented on #1922
if you need help, just let me know

[2017-11-19 17:17] AdSchellevis commented on #1935
a good place to start is always /var/log/system.log

[2017-11-19 17:36] Slugger commented on #1940
Works well.  Only _possible_ issue I'm seeing in the generated zone file are the entries for the naked host names:

[code]
Not sure if those might conflict with each other still?  I didn't see any issues in my testing, but all my clients have a default search domain assigned via dhcp so I doubt they're ever querying for the naked hostname.

Other than that, all good!  Note: didn't test the IPv6 pa

[2017-11-19 17:41] fichtner commented on #1940
Maybe they are returned in batch, does not matter I think. We'll give this patch a bit of testing to be sure. Tested IPv6 from here, seemed ok. :)

Sorry for taking a bit of fun out of this. If you want to work on issues let me know, so we do more review / discussion instead of patching.

Cheers,
Franco

[2017-11-19 17:41] #1940 closed

[2017-11-19 17:42] #1919 closed

[2017-11-19 17:43] #1939 closed

[2017-11-19 17:45] fichtner commented on #1922
@AdSchellevis try 65e18d2, the bordering was done around li but li &gt; a was used for stacked tabs. not entirely sure about the scss.

[2017-11-19 17:47] AdSchellevis commented on #1922
it looks good, did you compile the scss?

[2017-11-19 17:47] fichtner commented on #1922
no, just fixed it up accordingly

[2017-11-19 17:48] AdSchellevis commented on #1922
ok, let me compile/test and commit it then.

[2017-11-19 17:49] fichtner commented on #1922
thanks for bearing with me ❤️

[2017-11-19 17:51] AdSchellevis commented on #1922
The result looks great! thanks, https://github.com/opnsense/core/commit/53765207761932e0a501c969d022e66541cdd854  contains the compiled version.

[2017-11-19 17:52] fichtner commented on #1922
ok, got a bit sloppy with the build css style at the end it seems :) thanks again!

[2017-11-19 18:26] brillb opened #1941 "gateway status monitoring does not work - apinger: Exiting on signal 15"
Version:  OPNsense 17.7.7_1-amd64

I have different gateways with more/less preferable paths to different routes.  I use gateway groups to group my gateways and allow me to specify first preference, 2nd preference, etc to each destination.  When one gateway goes down, the config should allow the opnsense router to roll easily to the next preference device.
However, apinger gateway monitoring does

[2017-11-19 18:37] AdSchellevis commented on #1941
likely an issue with rrdtool, is there other software installed on this machine?

[2017-11-19 18:41] brillb commented on #1941
Nope, totally default install of opnsense

[2017-11-19 18:42] brillb commented on #1941
the graphs under "reporting>health>quality" are all blank, as well.  Although the other tabs (packets, system, etc) do have good graphs.

[2017-11-19 19:30] tpcr commented on #1935
The previous tests were with IPS enabled. Doesn't seem to do it with IPS disabled, but I may have some other issues with IPS. Still working on it.

[2017-11-19 19:37] brillb commented on #1941
I disabled rrdtool in reporting>settings, then rebooted the router.  Same result, apinger exiting on signal 15 and error while feeding rrdtool, broken pipe.  I'd think with rrdtool off it should disable any attempt to report?

Is there a workaround where I can disable apinger's feed out to rrdtool?

[2017-11-19 19:40] fichtner commented on #1941
Can you try to reinstall apinger and rrdtool from the firmware packages tab and reboot?

apinger has some built-in funkiness for rrdtool, not sure if it fully disables or not.

[2017-11-19 20:27] tpcr commented on #1935
Seems to be working now with IPS enabled after a reinstall and patches reapplied,

[2017-11-19 20:31] brillb commented on #1941
Tried it.  No luck.  apinger actually seems to work fine (well, not crash) as long as the gateway is up.  As soon as the gateway goes down, though, the signal 15 crash happens.

[2017-11-19 21:30] #1218 closed

[2017-11-19 21:30] fichtner commented on #1218
All done, thanks for your help @kekek2 !

[2017-11-20 04:35] mimugmail commented on #1900
@SeTk Hm, in my setup I only tested up/down at same speeds .. now I tweaked the values and get the same behaviour as yours.

WAN1 (d) UP works
WAN1 (d) DOWN works
WAN2 UP fails (used PIPE WAN2 DOWN)
WAN2 DOWN works

@fichtner I'll backup the config and keep this lab alive if you want to do some testing after vacation.

[2017-11-20 05:45] fichtner commented on #1935
I've added this to 17.7.8, small hiccup with the pre block as usual...

<img width="719" alt="screen shot 2017-11-20 at 6 37 55 am" src="https://user-images.githubusercontent.com/1915288/33003974-5b666c3e-cdbe-11e7-806a-458b84547b4f.png">

[2017-11-20 05:50] fichtner commented on #1935
This also, we need to zap the "+" prior to interface lookup:

<img width="518" alt="screen shot 2017-11-20 at 6 49 26 am" src="https://user-images.githubusercontent.com/1915288/33004075-0ae3a078-cdbf-11e7-91d8-82200817c643.png">

[2017-11-20 06:14] fichtner commented on #1935
@AdSchellevis I'll take care of both :)

[2017-11-20 06:20] #1935 closed

[2017-11-20 06:58] fichtner commented on #1937
The whole config for radvd is based on static IPv6 addresses from the interface setting itself. To support this, what would be necessary to change in the radvd.conf file? I am not sure we can easily add new configuration blocks for virtual IPs here...

[2017-11-20 07:00] fichtner commented on #1930
We have some leeway here, it's not possible to do this without a syslog restart, but we can do it by chaining it through our new configd/pluginctl subsystem.

[2017-11-20 07:01] AdSchellevis commented on #1935
@fichtner thanks!

[2017-11-20 07:07] fichtner commented on #1823
All back to normal :)

[2017-11-20 07:07] #1823 closed

[2017-11-20 07:11] bigops opened #1942 "IPSec Support for Elliptical Curve DH Groups"
While configuring IPSec VPN the EC DH Groups (19,20,21) are missing from the options.  StrongSWAN has been supporting these for some time now.  Since Groups 1, 2 & 5 are now considered as insecure and the ECC groups along with Group 24 (Already supported) are recommended to be used in VPNs, raising this ticket to get these enabled.  As per Franco in the  forums this should only needs a configurati

[2017-11-20 08:39] StrikerTwo opened #1943 "Firewall: Remove rule separation by interface"
As suggested in #1928 it might be worth reworking the firewall rule layout. The separation of rules per interface makes it hard to see all rules belonging to a certain flow at one glance.
Tab- or menu-based navigation also has limits for installations with lots of interfaces.

Sophos UTM for example just has a big list of rules that can be grouped by using rule categories and hiding auto-created r

[2017-11-20 10:38] paride opened #1944 "Access point still working at 2.4GHz when Standard = 802.11na"
I set up an access point and I want it to work in the 5GHz band, so I configured it to use the 802.11na standard from the web interface. Even when configured like this, it auto-selects a channel in the 2.4GHz band. The `hw_mode` variable is not set in the `hostap_*.conf` configuration files, so this may be what is missing. (The hardware I'm using is 5GHz capable.)

(Edit) It should probably not be

[2017-11-20 10:57] wytchmaster commented on #1937
There should be a  prefix stanza for every IPv6 address in the interface definition. This is, what I use on my Linux-Router:

[code]
One prefix stanza for the public IP-Range and one for the IP-alias with the unique local unicast address.

[2017-11-20 11:03] fichtner commented on #1937
@wytchmaster that looks doable, give me some time to integrate this :)

[2017-11-20 11:12] SeTk commented on #1900
Thanks. :)
We don't have a lab enviroment, so a pre-alpha version isn't a goot idea for us.
But after that I like to help with testing too.

[2017-11-20 12:14] AdSchellevis commented on #1942
this https://github.com/opnsense/core/commit/581b8b17bcd26ee3d97774efb6c8e65b6ee2ed85 should do the trick, changed the default for new entries to 24 in the process and there seemed to be some missing implementation for some of the types.

[2017-11-20 13:02] #1926 closed

[2017-11-20 13:02] #1942 closed

[2017-11-20 13:32] wytchmaster opened #1945 "DNS:implement remote DNS-blacklists (like pi-hole)"
It would be a great feature, if one can use remote DNS-blacklists in unbound and/or dnsmasq. Maybe it is possible to implement something like pi-hole https://pi-hole.net/). This makes a lot of sense, when blacklisting a lot of domains, especially when in a corporate environment.

[2017-11-20 14:46] tpcr commented on #1935
Good work!

[2017-11-20 18:04] fraenki opened #1946 "LAGG in "loadbalance" mode not available as parent for VLAN interface"
I've noticed that the "capabilities" are quite different for my LAGG interface, depending if it's configured for "loadbalance" or "failover" mode.

In "loadbalance" mode, the `capabilities` line is quite sparse:

[code]

As you can see, `capabilities=10000<VLAN_HWFILTER>` is all I get in "loadbalance" mode.
This leads to the situation that this interface fails the `is_jumbo_capable()` check in `in

[2017-11-20 18:47] fichtner commented on #1943
We have been discussing a bit today, but want to let the tab removal sink in the development version for 18.1 to see what is the best way forward. 😊

[2017-11-20 20:08] AdSchellevis commented on #1911
Some more work done on the alert viewer in https://github.com/opnsense/core/commit/38aafc8fa7b249a0be370ff4725ce57c056c0e9c below examples of alerts with and without payload enabled.
![image](https://user-images.githubusercontent.com/9783985/33038969-b1c493f8-ce36-11e7-88f3-225970aaed82.png)
![image](https://user-images.githubusercontent.com/9783985/33038988-c2626a1e-ce36-11e7-9871-3bfe98907aff.pn

[2017-11-20 20:24] mimugmail commented on #1943
Imho, best way is adding auto rules for every service step by step without a hurry, then the change will be quite silent, no matter if it's 18.7 or 19.1 :)

[2017-11-20 21:04] fichtner commented on #1937
You can try the proposed patch 9471303 with the following command... needs another commit, some other radvd improvement via 38c1daa

# opnsense-patch 38c1daa 9471303

If anything goes wrong:

# opnsense-revert opnsense

Cheers,
Franco

[2017-11-20 21:29] fraenki commented on #1946
Nope, not a driver issue. I was able to reproduce this on a test VM:

[code]

Looks like it's an old issue that should already be fixed in 11-STABLE?
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=179733

[2017-11-20 21:36] fichtner commented on #1946
src.git/sys/net/if_lagg.c *is* the LAGG driver ;)

Have you tried against 18.1-BETA kernel?

[2017-11-20 22:04] fraenki commented on #1946
Good idea. I've upgraded my test VM and now the issue is solved.
Looks like FreeBSD 11.1 fixed this issue. Any chance to get the fix backported to 17.7, or would this be too much work?

[2017-11-20 22:27] fichtner commented on #1946
There seem to be multiple fixes on top of the lagg driver that loosely build on top of each other, I don't think this is a one-off fix so I'd rather not take the risk.

But OTOH, lagg is a module, you could use the /boot/kernel/if_lagg.ko from 11.1 with 11.0 to minimise impact...

[2017-11-20 23:31] fraenki commented on #1946
Thanks for considering it. I'll stick with "failover" mode on 17.7 and will switch to "loadbalance" mode on 18.1.

[2017-11-20 23:31] #1946 closed

[2017-11-21 07:28] fichtner commented on #1915
@AdSchellevis can we do the same for advanced?

[2017-11-21 07:36] AdSchellevis commented on #1943
I don't think we should automagically add a lot of firewall rules, they tend to let to confusion as well with people not expecting ports to be open on certain interfaces. Better to make things explicit imho.

[2017-11-21 07:41] AdSchellevis commented on #1915
sure, will fix in a minute

[2017-11-21 07:56] AdSchellevis commented on #1915
@fichtner https://github.com/opnsense/core/commit/2826d6206e0e5bf9d4ebecc323426c2ce80b10aa

[2017-11-21 08:01] fichtner commented on #1915
perfect, thank you <3

[2017-11-21 08:30] StrikerTwo commented on #1943
This issue wasn't meant to be about auto-created rules, just about the rule presentation.

I don't even want automatic rules for every service. I have services running on the OPNsense box that are only to be used internally, or only from specific IPs.
For the services that should be available on WAN I just have an alias list of the relevant ports and one single rule to grant access to them. IMHO s

[2017-11-21 09:04] #1886 closed

[2017-11-21 09:06] #1853 closed

[2017-11-21 12:49] lattera opened #1947 "Feature Request: Scan for wireless networks"
If I want to have OPNsense connect to an existing wireless AP, I may need it to scan for APs, first.

[2017-11-21 12:56] fichtner commented on #1947
Interfaces -> Wireless -> Status

The only trouble is that it requires you to assign an interface already.

[2017-11-21 13:25] lattera commented on #1947
Ah, nice! I'll close this ticket, then. Sorry for the noise.

[2017-11-21 13:25] #1947 closed

[2017-11-21 13:28] fichtner commented on #1947
Not a problem :)

[2017-11-21 17:02] AdSchellevis commented on #1932
@mimugmail Is the change your proposing just overriding this to enable the route push on other modes then p2p? https://github.com/opnsense/core/blob/7ced5ac1b909ff44e29c8bbcff358e3223ad65ce/src/etc/inc/plugins.inc.d/openvpn.inc#L820-L823

[2017-11-22 08:26] fichtner opened #1948 "mvc: generate page titles from menu breadcrumbs like legacy code"
Currently, all titles in the index controllers are fixed. The legacy pages, however, more gracefully generate their titles from the menu structure like breadcrumbs. This gives better context and makes changes possible from the Menu.xml only without having to touch the view titles at all.

https://github.com/opnsense/core/blob/aaf2178f5a4070b9f2fe0fc673f4d0c14510be95/src/opnsense/mvc/app/controller

[2017-11-22 08:34] fichtner commented on #1948
@AdSchellevis I probably found an answer, no need to help out at this point. sorry for the noise!

[2017-11-22 09:23] #1948 closed

[2017-11-22 10:23] 3XTron commented on #1729
Please add in next release a GUI support for VXLAN.

[2017-11-22 10:45] fichtner commented on #1729
Please help with the integration. :)

[2017-11-22 10:47] mimugmail commented on #1729
I started a first approach some weeks ago, just check my repo, but it's far from working :)

[2017-11-22 11:44] fichtner commented on #1562
Finally found the time to do this. It is a bit different and tricky to pull off, but now it looks like a button but doesn't do anything other than show the status (for both MVC and Legacy).

[2017-11-22 11:47] #1562 closed

[2017-11-22 12:24] visualstation commented on #1931
Hello team,
I have the same issue with a NanoBSD fresh installation.

OpenVPN Client is still restarting all the time.

When I restart the firewall and I'm connected in console.

The VPN is stable till (Starting NTP service...deferred.
Generating RRD graphs...done. ):

Configuring CRON...done.
Setting up routes...done.
Starting Unbound DNS...

done.
Generating /etc/hosts...done.
Configuring firewa

[2017-11-22 13:09] fichtner opened #1950 "mvc: missing page title on insight and health pages"
Not important, but I would like to keep this on file. I don't know if that was intentional.

[2017-11-22 15:35] fichtner opened #1951 "system: selective restore in OPNsense vendor space"
via: https://forum.opnsense.org/index.php?topic=6441.0

[2017-11-22 16:08] AdSchellevis commented on #1951
@fichtner I don't know if that's a good idea, to be honest, I think we could even better drop support for partial restores. There's no way to validate correctness and with relations between objects changes are even bigger for issues when selectively restoring new model data.

[2017-11-22 17:53] AdSchellevis commented on #1948
@fichtner nice catch!

[2017-11-22 17:59] AdSchellevis commented on #1950
@fichtner it was intentional, the content is too large to fit decently. I think we should keep it this way.

[2017-11-22 18:19] AdSchellevis commented on #1932
I looks to me that we can just remove the check for p2p, the local networks (remote_network, remote_networkv6) are normally empty and only used in this spot for as far as I can see. It doesn't really make sense to ask for a value and then forget about it..

@fichtner what do you think?

[2017-11-22 18:52] peppelinux opened #1952 "Feature request: "Restore config.xml without reset root password""
In System: Configuration: Backups
In Restore area box, it would be awesome to have a checkbox called "Do not reset root pasword", it would prevent following password resets.

[2017-11-22 20:18] fichtner commented on #1950
Ok, closing. :)

[2017-11-22 20:18] #1950 closed

[2017-11-22 20:36] fichtner commented on #1932
I have no strong opinion on this particular issue. 😊

[2017-11-22 21:18] fichtner commented on #1732
Feature exists, no need to keep this open. :)

[2017-11-22 21:18] #1732 closed

[2017-11-22 21:24] fichtner commented on #1938
Is this still the case? Is there anything in dmesg? I have a newer syslogd package we could try.

[2017-11-23 05:53] AdSchellevis commented on #1932
@mimugmail can you try https://github.com/opnsense/core/commit/35dd2ea09cc5e133192281cb341e042bec6e0fc7 ?

[2017-11-23 06:00] fichtner commented on #1932
Context: https://github.com/pfsense/pfsense/commit/17c98ba9 and https://redmine.pfsense.org/issues/1707

[2017-11-23 12:22] mimugmail commented on #1932
@AdSchellevis Sorry, no route in routing table ...

[2017-11-23 12:24] AdSchellevis commented on #1932
@mimugmail can you inspect the openvpn config in /var/etc/openvpn/? it should have added the exact same route tag (after save/reload of the config)

[2017-11-23 12:30] mimugmail commented on #1932
@AdSchellevis No, I also rebooted the machine, no `route 10.0.90.0 255.255.255.0` in conf and no route in routing table

[2017-11-23 14:57] bigops opened #1953 "Feature Requests : Readable usernames in Voucher Server or access code only"
Presently the user name and password in the voucher server consists of a series of standard and special characters.  This makes it difficult to convey.  My suggestion is to either have the usernames in a standard format like User3434 or even doing away with the username in the Voucher server and have only the access code

[2017-11-23 19:24] fichtner opened #1954 "api service controllers: only foreground actions with session close"
Simplify the service handling, namely start/stop/restart.

While here, the service control widget should not use timeouts/delay anymore.

Bonus is adding boilerplate service functions that can simplify writing a service controller.

[code]

Also see: https://github.com/opnsense/plugins/pull/328

[2017-11-23 19:36] PitchBendStretch opened #1955 "Reboot: Pf / Packet Filter blocks traffic after reboot."
**Hi OPNsense Admins, :)**

i have another problem, which i tried to ignore for a few months, but it's getting outer hand now,
since OPNsense is not able to "self-recover" without an Admin to login to the Firewall.

After every reboot, the Packet Filter is not working correctly anymore until i restart the "Pf service".
What i mean by that is that the Packet Filter starts to block ICMP / TCP:S Traf

[2017-11-23 19:45] PitchBendStretch commented on #1931
Hey @visualstation
Your description is a completely different error.
My error is not based on any NTP failure behaviour and my VPN is NOT restarting because the Firewall fails to reboot correctly.
My VPN Connections are flapping because my ISP WAN connection is not stable all the time.
Even after the connection is stable again, the VPN services are marked **"down"** in the dashboard but successful

[2017-11-23 20:22] AdSchellevis commented on #1932
@mimugmail my mistake, I forgot to actually show the remote_network/remote_networkv6 options for the other server modes. can you try https://github.com/opnsense/core/commit/91c849306841a7a7886de6a1b3a828250919d569 ?

[2017-11-23 20:46] mimugmail commented on #1932
Works, thanks! 👍

[2017-11-23 20:46] #1932 closed

[2017-11-24 07:57] fichtner commented on #1954
@AdSchellevis 7ccfe1b works for me

[2017-11-24 09:46] AdSchellevis commented on #1954
@fichtner works for me too, thanks!

[2017-11-24 09:47] fichtner commented on #1954
other service controllers in core do this correctly already, now we only need to fix this for plugins and maybe provide default class functions for start, stop, restart and status at least.

[2017-11-24 11:51] DukeSniper opened #1956 "Feature request: Protocol Definition"
The current design only aliases Port Numbers to names. Designing a proper ruleset for protocols that utilize both UDP and TCP (on different ports) would require at least two rule definitions (one for the TCP rule, one for the UDP rule) and at least two Ports Alias definitions (one for the TCP ports, one for the UDP ports). Creating a proper "protocol" Alias (which contains both proto and port defi

[2017-11-24 11:53] DukeSniper opened #1957 "Feature Request: Use Aliases within Aliases"
To further simplify ruleset and alias definitions, it would be useful to be able to use Aliases within an Alias definition.

Consider the following simplified example. There's 2 Servers (Host_A and Host_B), that offer 3 Services. Host A offers Service_A, Host B offers Service_B, and they both offer Service_C. Right now, I would need to define 3 Aliases:

Host_A -> 10.10.10.10
Host_B -> 10.10.10.20

[2017-11-24 11:56] fichtner commented on #1957
You can do this already ;)

[2017-11-24 11:58] DukeSniper commented on #1957
I'm gonna have to try. The current UI help texts kinda suggest otherwise.

[2017-11-24 11:59] fichtner commented on #1957
If you let us know which, we can change it accordingly. The alias names can be used as inputs, there should even be type-ahead support.

[2017-11-24 12:08] DukeSniper commented on #1957
Tested, actually does work with hosts, networks, and ports (which is kinda awesome!)

Basically, all the texts in the screenshot fail to mention that aliases can be used to. The red one is the one I was focussing on, since I was trying to define host groups. Oh, and there's a typo as well: The word "mehrere" (green arrow, right before the "IP-Adressen zurückgegeben" is missing an R
![image](https:

[2017-11-24 12:26] fichtner commented on #1957
Thanks, I'll take care of it unless you want to propose a PR? :)

[2017-11-24 12:39] DukeSniper commented on #1957
You go ahead, I currently have neither the time nor the motivation to read up on git ;)

[2017-11-24 12:54] AdSchellevis commented on #1956
it doesn't work like that, port aliases are also aliases in pf, they don't contain protocols, for some background information about pf, see https://www.freebsd.org/doc/handbook/firewalls-pf.html

[2017-11-24 16:37] DukeSniper commented on #1956
I'm not asking you to change the core BSD and pf. I'm suggesting a higher layer of abstraction within the OPNSense configuration GUI. The *configured* rules would be leaner, and the actual rule creation code could take care of "translating" that into seperate rules per protocol as needed by pf.

[2017-11-24 16:45] AdSchellevis commented on #1956
Which would imho add more complexity then we should for this subject, the next person might ask for other filter flags in the same context and before you know the alias is a duplicate of the filter rule. Lets try to keep things as simple as possible.

[2017-11-24 20:20] fraenki commented on #1347
@fichtner Is this still on the roadmap for 18.1?

[2017-11-24 20:25] fichtner commented on #1347
It's not on the roadmap per se, but I still have this in my priority list for 18.1.

[2017-11-24 20:55] akbulut opened #1958 "select different wan ip ?"
Hello,
can i do that ?
for exp;

local ip 192.168.1.10 > 2a02:16b0:2000:2b::10
local ip 192.168.1.11 > 2a02:16b0:2000:2b::11

can i select wan ip ?

[2017-11-25 21:56] StrikerTwo commented on #1958
Sorry, what?

[2017-11-25 22:07] akbulut commented on #1958
I want to redirect or forward ip4 ip to ipv6
if client call 192.168.1.10:3129 forward 2a02:16b0:2000:2b::10
if client call 192.168.1.11:3129 forward 2a02:16b0:2000:2b::11

[2017-11-25 22:14] StrikerTwo commented on #1958
If we are talking about TCP then you could try setting up HAProxy in TCP mode for that, i.e. use 192.168.1.10 as the frontend address and 2a02:16b0:2000:2b::10 as the server address.

[2017-11-25 22:18] akbulut commented on #1958
yes we are talking about tcp but i want to choose out ip one by one.
i try wan add ipv6 to wan ip. then client all any ipv4 ip , my proxy server only 1 wan ip using for out ip.
i have to select ipv6 ip for outing.

[2017-11-26 03:18] patcsy88 commented on #1865
Hi,

Has this fix been added to the default 17.7.8 as I am now unable to fetch the patched kernel with opnsense-update -kr 17.7.1-replyto3

Regards,
Patrick

[2017-11-26 03:23] patcsy88 commented on #1865
Hi,

Please ignore my previous comment as i just tested via both gateways and all appears to be working and hence am assuming this has been merged back to 'trunk'.

Patrick

[2017-11-26 08:19] fichtner commented on #1865
Hi patrick, yes, 17.7.8 has your fix 😊

Cheers,
Franco

[2017-11-26 11:41] fabianfrz commented on #1945
this might be a duplicate of opnsense/plugins#229

[2017-11-26 14:02] not24get opened #1959 "[OPENVPN] Cipher 'AES-256-GCM' mode not supported"
Hello,

I have a problem on two OPNsense system.

I try to improve speed of existing openvpn connexion between these two OPNsense.

The VPN was using "AES-128-CBC" cipher, I want to use the "AES-256-GCM" cipher.

The first system is based on an Asrack C2550d4i.

The second is based on a  KVM virtual machine, host has also an Atom C2550 processor, and the AES-NI is passed to the guest.

On the two

[2017-11-26 19:24] Alpha-Bravo opened #1960 "Feature Request: More options for the Traffic Graph"
The traffic graph (dashboard and dedicated page) is a quite important element to most users of a router/firewall. The following points could be improved:

- The time line (scale) is missing (x-axis) - one has to hover the (moving) data points in order to check the point in time of a throughput measurement. A time scale with some timestamps should be present all the time.

- The curve permanently c

[2017-11-26 21:37] somova opened #1961 "[Bug] IPSec VPN: Wrong VPN Types offered with IKEv2"
In case of setting up a VPN for mobile clients (roadwarrior) the phase1 settings offers wrong authentication methods in conjunction with "IKEv2" as key exchange version.

- Hybrid RSA + Xauth
- Mutual RSA + Xauth
- Mutual PSK + Xauth

If I understand the strongswan documentation correctly [1], "Xauth" is only supported for "IKEv1". I investigated a little bit because it was not possible to get a c

[2017-11-27 09:09] hutiucip opened #1962 "DNSSEC (Hardened) not supported by many ISPs' DNS servers - check + hint + config should be offered in wizzard"
Hello!

As enough DNS servers/ resolvers don't cope well with DNSSEC, especially if hardened, would it be possible that, after fresh install, the wizzard to check DNS resolution and, if DNS resolution fails, to offer a hint regarding disabling DNSSEC hardened data (most issues), and eventually even disabling DNSSEC completely? Of course, only with informing users that this will lower the security

[2017-11-27 09:15] fichtner commented on #1962
Hi @hutiucip, thanks, will take care of this. :)

[2017-11-27 10:16] whoareyourdaddys opened #1963 "custom fire ware /rules don’t work"
only system default rule : **Default allow LAN to any rule** workable.

[2017-11-27 11:43] AdSchellevis commented on #1963
Chances are very small that anyone can help you with the amount of information provided, it's highly unlikely that firewall rules won't work in our system.... please provide more useful information or close the issue.

[2017-11-27 12:02] whoareyourdaddys commented on #1963
thanks for your replay, please find below  JPGS and you can see  that  three  eazy rules with many tries.
i hope you are right.
![11](https://user-images.githubusercontent.com/24972304/33265744-c4d9bc1c-d3ad-11e7-9fbb-d76690158ee0.jpg)
![12](https://user-images.githubusercontent.com/24972304/33265745-c521928a-d3ad-11e7-8e42-89e59f90b753.jpg)
![13](https://user-images.githubusercontent.com/24972304

[2017-11-27 12:03] AdSchellevis commented on #1963
?

[2017-11-27 12:12] wytchmaster commented on #1938
I moved the installation from a KVM based VM to to physical hardware. After restoring the config from backup, it seems to be fine.

[2017-11-27 12:13] wytchmaster commented on #1937
I will try to check that this evening.

[2017-11-27 12:13] whoareyourdaddys commented on #1963
i created two address objece   the one named **admin** include some lan ip. and **allow** include  some fqdn.
after many tires , i found that the custom rules dont work ,i had even reboot the system to makesure the rules updated.

[2017-11-27 12:25] whoareyourdaddys commented on #1963
Sorry,maybe I'm confusing you.i just want  ADMIN  access wan freely,and allow others to access some of the sites in the  whitelist.

[2017-11-27 12:51] fichtner commented on #1938
Ok, closing until able to reproduce. Thanks!

[2017-11-27 12:51] #1938 closed

[2017-11-28 07:53] fichtner commented on #1817
@AdSchellevis worked on this in https://github.com/opnsense/core/commit/2b94b6691a and it is a very cool solution.

The only thing that is missing is a style fix:

The active items are shown in grey:

<img width="223" alt="screen shot 2017-11-28 at 8 51 58 am" src="https://user-images.githubusercontent.com/1915288/33308142-9079f448-d419-11e7-966e-50a05a52400f.png">

But in the new overlay they are

[2017-11-28 07:55] AdSchellevis commented on #1817
@fichtner that was intentional, grey isn't very obvious in this view. Another solution could be to border or underline the sticky part.

[2017-11-28 08:02] fichtner commented on #1817
True, maybe less grey markup in general would be better, but not sure what's best yet.

I've also been able to stack "Firewall" or "Interfaces" on top of the menu by doing a few scroll and navigation movements.

<img width="224" alt="screen shot 2017-11-28 at 8 57 00 am" src="https://user-images.githubusercontent.com/1915288/33308422-a0fb5298-d41a-11e7-9ae6-5328f9535c7a.png">

Nothing serious, I l

[2017-11-28 08:48] binaryfigments opened #1964 "XSS in custom (root) certificate"
I do not think the impact will be big, it only works with crafted certificates logged in as root.

It works on:
OPNsense 17.1.1-amd64
FreeBSD 11.0-RELEASE-p7
OpenSSL 1.0.2k 26 Jan 2017

And a just complete upgraded firewall installation.

URLs:
https://firewall/system_camanager.php
https://firewall/system_certmanager.php

While adding a custom certificate authority, you can trigger an XSS in the a

[2017-11-28 08:50] AdSchellevis commented on #1964
@binaryfigments thanks for reporting, we will fix this before the next release.

[2017-11-28 09:58] AdSchellevis commented on #1964
this https://github.com/opnsense/core/commit/1219f2f1db708f089cb5f4d41a70b0717750b11e should do the trick. can you test on your end to be sure?
`
opnsense-patch  1219f2f
`

[2017-11-28 12:04] mtmr opened #1965 "Kernel Panic when assiging a VLAN tagged interface as WAN from GUI"

[2017-11-28 12:27] fichtner commented on #1965
Do you have a kernel backtrace trace for this? Does this also happen on 18.1-BETA?

https://forum.opnsense.org/index.php?topic=6257.0

[2017-11-28 13:26] binaryfigments commented on #1964
Sure! I'll give it a try.

[2017-11-28 19:47] fichtner commented on #1962
@hutiucip upon further reflection, we will disable dnssec-stripped option in the default install and go from there. unbound enables this by default but not dnssec, it's a slippery slope and hopefully a sane tradeoff

CC @fabianfrz

[2017-11-28 19:48] fichtner commented on #1959
If your system supports AES-NI, don't select a crypto engine in OpenSSL and it should work.

[2017-11-28 20:00] fabianfrz commented on #1962
@fichtner DNSSEC works best in resolver mode as this is the only way to get a chain of trust.

A DNS server working as a forwarder will only see the AD flag, which could be set by anyone (as the data is not signed).

[2017-11-28 20:23] fichtner commented on #1962
@fabianfrz we are in resolver mode, debating dnssec-stripped usage

[2017-11-28 20:30] wytchmaster commented on #1937
works like a charm :-) Thank you.

[2017-11-28 20:36] fichtner commented on #1937
purrfect, thanks! expecting this to land in 17.7.10. if not, please prod again :)

[2017-11-28 20:36] #1937 closed

[2017-11-28 20:50] fichtner commented on #1954
committed / PRs created

[2017-11-28 20:50] #1954 closed

[2017-11-28 22:23] not24get commented on #1959
Hi, thank's for the reply.

I have test without Hardware Crypto in OpenVPN config and with Cryptographic Hardware Acceleration set to "AES-NI CPU Based Acceleration (aesni)" in System: Settings: Miscellaneous, same problem : "Cipher 'AES-256-GCM' mode not supported".

Vice et versa : with Hardware Crypto to "Intel RDRAND engine - RAND" in OpenVPN config and without Cryptographic Hardware Accelerat

[2017-11-28 22:54] alesnav commented on #1571
This would be a nice feature! I am in the same situation, my ISP doesn't allow to use the router as a bridge :(

[2017-11-28 23:13] fichtner commented on #1347
Alright, so we're going to do this:

* Interface selection for SSH and web GUI separately
* Selected interfaces will be expanded in primary IP addresses and all alias / carp configurations automatically, so no manual IP stuff...
* The default will be none, which is nicely backwards-compatible and the least worse in terms of operational impact ;)
* Dynamic reload for DHCP-configured interfaces will

[2017-11-28 23:34] fichtner commented on #1959
I could reproduce. Which server mode did you configure?

[2017-11-29 06:15] patcsy88 commented on #1900
Hi @SeTk @mimugmail ,

I too am observing the same problem and this is on 17,7,8,,,shaper is not restricting the traffic per the bandwidth set. I am open to test this as i have decoupled my HA

[2017-11-29 07:43] not24get commented on #1959
I use the "Peer to Peer ( shared key )" server mod.

[2017-11-29 07:44] fichtner commented on #1959
Yes, this does not work. The cipher is TLS-only, you can even see that from the drop down selection. :)

[2017-11-29 07:44] #1959 closed

[2017-11-29 07:51] not24get commented on #1959
Oh I never see this mention in the drop down selection ! Thank's.

So it will work if I switch to peer to peer SSL/TLS ?

Thank's a lot, and sorry for this mistake !

[2017-11-29 08:33] fichtner commented on #1959
From a quick test, all other modes seemed to work ok. No worries. :)

[2017-11-29 09:28] fichtner commented on #1960
Hi @Alpha-Bravo,

Thanks for this. I am not sure we can fix them all, but these are certainly things to work on as time permits. Marking these as "help wanted", because the wish list for 18.1 is already pretty full.

Cheers,
Franco

[2017-11-29 09:29] fichtner commented on #1927
@evbevz @kekek2 if you are interested in this let us know :)

[2017-11-29 10:05] fichtner opened #1966 "opnsense-recover, the tool to ask a series of mostly silly questions to help recovery ops"
Like:

    # opnsense-recover webgui
    Do you want to reset the active interface binding? [y/N]:
    Do you want to reset the TLS certificate? [y/N]:
    Do you want to revert to HTTP? [y/N]:

Other possibilities are openssh, password and firmware recovery operations.

[2017-11-29 10:32] fraenki commented on #1347
@fichtner All I've ever wanted! :D I'm absolutely OK with having no sanity checking and defaulting to a backwards-compatible config.

[2017-11-29 10:45] fichtner commented on #1347
Thanks, full speed ahead then. :) For recovery, I'm planning this as people will run into issues for sure. https://github.com/opnsense/core/issues/1966