[2018-04-01 09:07] EugenMayer commented on #2316
I suppose this is about the server setting `Renegotiate time` in the specific server

![image](https://user-images.githubusercontent.com/136934/38171566-557daf4e-359c-11e8-8698-eeb4c972996a.png)

Setting this to 0 will disable that reconnect every hour.

You also need to add this to your client configuration though:

[code]

Closing this, keeping it for google searchers

[2018-04-01 09:07] #2316 closed

[2018-04-01 09:33] marjohn56 commented on #2314
Hi All,

Yes, this would be a useful addition. This was available in pf, but it sometimes failed often due to the ISP changing the address allocation on reboot/re-connect etc. This is something I think that Opnsense handles better in that the clients all get updated correctly should such a thing happen. @fichtner is in a better place than me to confirm this is the case. We need to watch out that a

[2018-04-01 09:49] marjohn56 commented on #2303
See #2314

[2018-04-01 10:11] efficiosoft commented on #2314
@marjohn56  Hmm, what do you think could cause the prefixes not to be updated anymore when just additional prefix blocks get added to ``radvd.conf`` and maybe ``RDNSS`` and ``DNSSL`` changed? This would be the only difference compared to the current state.

Regarding the DHCPv6 server, maybe it should only be usable for announcing DNS/NTP servers etc, and not for assigning addresses. The alternati

[2018-04-01 10:17] efficiosoft commented on #2303
Oh... why did I overlook this one? I wouldn't have opened another one in that case. Sorry.

[2018-04-01 10:17] fichtner commented on #2303
Closing this in favour of a longer discussion in #2314.

[2018-04-01 10:17] #2303 closed

[2018-04-01 10:17] marjohn56 commented on #2314
Don't know without looking and doing some research & testing. ;)

I'll have a look at this when I have finished working on dpinger.

[2018-04-01 10:21] efficiosoft commented on #2314
Ok, thanks a lot. I currently can't really test in production because I'm in the process of changing the ISP and have no prefix delegation at the moment, but I'll try to construct a test setup with delegation of ULA prefixes.

[2018-04-01 14:46] andrewgreenwood commented on #2186
Just to update on this - I'm now on OPNsense 18.1.5 and the problem has been resolved.

It's possible to upgrade from versions affected with the problem by manually adjusting the default route via the shell. I can't remember the exact commands I used now as it was a couple of weeks ago but it was along the lines of:

route delete default
route add default [gateway address]

For the gateway address

[2018-04-01 15:26] fichtner commented on #2186
Looks like it was related to this fix: https://github.com/opnsense/core/commit/f4c5e21047 more or less relating to these to changes in 18.1.4 https://github.com/opnsense/changelog/blob/9f33a2a0623addbb7378e568893af032b8ffd0db/doc/18.1/18.1.4#L10-L11

We'll issue new images based on the upcoming 18.1.6 to replace the current 18.1 ones.

Please close if you feel this is solved completely. :)

Thanks

[2018-04-01 15:37] hyperlumic opened #2317 "Certificate generation requires entries for optional fields"
Attempting to generate a certificate/CA/CSR via the Trust application within the web GUI without providing content for all fields returns errors such as:

[code]

This is not consistent with `RFC 5280, Internet X.509 Public Key Infrastructure Certificate and Certificate Revocation List (CRL) Profile`, namely section 4.1.2.6 that defines how the subject of a certificate (CA or leaf) must be specifi

[2018-04-01 15:54] fichtner commented on #2294
The menu has a similar issue after firmware upgrade when new items have been added or were removed.

[2018-04-01 15:56] #2278 closed

[2018-04-01 16:29] Ricky-Tigg opened #2318 "Inappropriate automatic keymap configuration"
**Description of problem**: Inappropriate automatic keymap configuration.

Version-Release number of selected component: **OPNsense-18.1-OpenSSL-dvd-amd64.iso**

**Actual results**: _OPNsense_ installer configures the settings related to keymap according to the application default keymap, which I reasonably suspect to be as usual the standard **USA ISO-8859-1**.

**Expected results:** Supporting p

[2018-04-01 16:49] fichtner commented on #2283
<img width="636" alt="screen shot 2018-04-01 at 6 49 07 pm" src="https://user-images.githubusercontent.com/1915288/38175489-6a12aba8-35dd-11e8-961f-17f490881402.png">

[2018-04-01 16:49] #2283 closed

[2018-04-01 16:58] fichtner commented on #1403
Should be fixed since 18.1.4, also see #2186.

[2018-04-01 16:58] #1403 closed

[2018-04-01 17:00] #1654 closed

[2018-04-01 17:01] fichtner commented on #1712
Timing this out.

[2018-04-01 17:01] #1712 closed

[2018-04-01 17:02] fichtner commented on #1721
A couple of basic tweaks went into OpenVPN setup that ensure "any" interface selection by default since interface binding would automatically prevent IPv6. Now we only add more usefulness to IPv6 with the remaining required options.

[2018-04-01 17:02] #2015 closed

[2018-04-01 17:04] fichtner commented on #2128
We fail hard on link local addresses now.

[2018-04-01 17:04] #2128 closed

[2018-04-01 17:05] fichtner commented on #1653
Timeout.

[2018-04-01 17:05] #1653 closed

[2018-04-01 17:07] fichtner commented on #1578
Not sure what to do here. For now: timeout.

[2018-04-01 17:07] #1578 closed

[2018-04-01 17:08] fichtner commented on #1486
Merging this into #1721.

[2018-04-01 17:08] #1486 closed

[2018-04-01 17:09] fichtner commented on #1687
I'll gladly find the time to review. Static code will be a new challenge for you. :)

[2018-04-01 17:11] #2261 closed

[2018-04-01 17:11] fichtner commented on #2268
Shipping in 18.1.6.

[2018-04-01 17:11] #2268 closed

[2018-04-01 17:11] #2270 closed

[2018-04-01 17:12] fichtner commented on #2277
Tagging this "support" for now, can always transform into feature ticket. :)

[2018-04-01 17:14] fichtner commented on #2318
Hi @Ricky-Tigg,

You can select the keymap on the first installer menu. We wouldn't know how to detect the keyboard type and I'm unaware FreeBSD does this / has a working implementation. :/

Cheers,
Franco

[2018-04-01 17:17] EugenMayer opened #2319 "FR: opt-out from openvpn-CCD generation"
I would provide a patch for this, just wanted to be sure there is interest.

I would love to opt-out from openvpn-based CCD generation ( legacy CCD ) which is also based on the old xml structure.

Since i have writte https://github.com/EugenMayer/opnsense-openvpn-plugin and use the state-of-the-art model based serialisation, i get into troubles when e.g. a openvpn server configuration is saved - s

[2018-04-01 17:17] fichtner commented on #2299
Hi @muchahagrande,

There's no quick fix here, the dashboard needs to be rewritten along with all the other static pages to move from html tables to more flexible div containers.

Cheers,
Franco

[2018-04-01 17:18] EugenMayer commented on #2261
Thanks @AdSchellevis - forgot to come back. That helped (also understanding that)

[2018-04-01 17:19] fichtner commented on #2279
@mimugmail what exactly do you mean?

[2018-04-01 17:27] EugenMayer opened #2320 "Performance: use opcache with file-read cache"
Considering the amount of files opsensen is build from and the amount of includes, this optimization will have an significant improvment in performance ( on second load after cold start ).

Especially on boxes like APU, rpi this will be a dramatic change:

[code]

i think `opcache.memory_consumption=128` (we run it with 512) can be downtuned, anything else we run in production for a long time. The

[2018-04-01 17:32] AdSchellevis commented on #2319
is this still for parsing the client config via radius? using the` Framed-* ` attributes are likely quite easy to fix and prevents adding different hooks for standard use-cases (https://github.com/opnsense/plugins/pull/485#issuecomment-357460986)

[2018-04-01 17:33] fichtner commented on #2320
initial thoughts:
* in general it would be nice to plug in a cache
* opnsense-patch shouldn't be the focus here
* in the past we removed hand-rolled caches as they would only introduce latent bugs. and I think APC went away a few years ago so we never had a built-in cache except what phalcon may be doing.

[2018-04-01 17:37] #2215 closed

[2018-04-01 17:38] fichtner commented on #2210
Docs have been updated... https://github.com/opnsense/docs/commit/64663c9fb26a7fb27b502c8f3f8ee9c5f6c0ee01

[2018-04-01 17:38] #2210 closed

[2018-04-01 17:38] fichtner commented on #2205
I found the issue, but this is an ongoing effort.

[2018-04-01 17:38] #2205 closed

[2018-04-01 17:40] fichtner commented on #2192
Docs updated https://github.com/opnsense/docs/commit/64663c9fb26a7fb27b502c8f3f8ee9c5f6c0ee01

[2018-04-01 17:40] #2192 closed

[2018-04-01 17:41] AdSchellevis commented on #2320
We could consider making it optional, like the compression settings we have in the administration section. There are some downsides in using caching, but maybe our situation changed over time too.

It's probably a good idea to measure the affect in real life before doing anything structural.

[2018-04-01 17:41] #2118 closed

[2018-04-01 17:41] #2117 closed

[2018-04-01 18:49] EugenMayer commented on #2319
No actually this has nothing to do with radius at all - its basically a rewrite of the legacy CCD support with the new API + adding REST to it

[2018-04-01 18:51] EugenMayer commented on #2320
APC and OPCACHE is fairly different. Also for having a switch for this first, probably announce in the release notes and give people an issue link for feedback.

Right now, there is only one downside of using opcache this way, and thats hot-patching.

[2018-04-01 19:08] johnkeates opened #2321 "Renaming a VLAN description breaks assigned interface"
There seems to be a bug somewhere (either in the GUI or in configd), changing the description of a VLAN disables the interface.

Procedure:
1. Create VLAN
2. Assign interface to VLAN
3. Apply & Save everything
4. Go back to VLAN, edit description, save

Expected outcome:
User defined description string on the VLAN is saved, everything keeps running

Outcome due to bug:
Assigned interface stops wor

[2018-04-01 19:15] mimugmail commented on #2319
Would it be possible to set a different CCD directory via Advanced and put your plugin output files there?

[2018-04-01 19:52] mimugmail commented on #1542
This is fixed now, can also be closed @fichtner ...

[2018-04-01 19:56] mimugmail commented on #2279
Via Advanced in gateways you can set a priority. When you have 3 you can set them 1 to 3 and when failover occurs, the script changing the routes could (if possible) check if the gateway which is down is a lower number, and if yes is there another gateway with a lower number, then use this as next default gateway, if not, self default gateway.

[2018-04-01 20:49] #1542 closed

[2018-04-01 20:53] fichtner commented on #2320
I know, I just wanted to mention the history with APC for completeness. ;)

And, again, opnsense-patch is a non-issue here. It’s a secondary tool, it can’t even be used automatically anymore for security reasons.

[2018-04-01 21:05] fichtner commented on #2279
You mean „weight“?

Yes, we could use that during default gateway switching. But the default gateway will be highest in priority, no matter the weight value.

AFAIK, the weight is for load balancing on multi-wan to distribute traffic using a non 50-50 distribution.

[2018-04-02 04:55] mimugmail commented on #2279
Oh, weight, correct. But that doesn't matter since in setups were weight is activly used, you don't care which default gateway the system has. But when you have a 1G, a 100M and a LTE line you don't want to see the firewall switch from 1G to LTE. Sure, the default gw is highest and there can only be one at a time. But it would be good to have a choice :)

In the long term (20.1, 20.7) I'd love to

[2018-04-02 05:46] toyowheelin commented on #1501
I see this has been removed from the 18.7 milestone. Is there any news on when this will be implemented? I am looking to migrate from pfsense to opnsense but this feature would be needed to get ipv6 connectivity.

[2018-04-02 07:11] fichtner commented on #2279
Okay, i think we’re on the same page then. 😊

[2018-04-02 07:15] fichtner commented on #1501
Sorry, GitHub added „projects“ but the global projects are not visible to end users. We initially switched from milestone to project „18.7“, but didn’t know it looked like there was no designation at all now.

[2018-04-02 07:27] ruggerio commented on #2311
Can be resolved, if entered the following in the no ssl bump sites of the forwarding tab:

.google.[your own country]
.google.com
.googleapis.com
.gstatic.com
.1e100.net

Do not forget to install CA as "VPN and Apps"

[2018-04-02 07:27] #2311 closed

[2018-04-02 08:30] fichtner commented on #2311
Thank you for the follow up and solution. 😊

[2018-04-02 08:37] AdSchellevis commented on #2319
The best solution probably is to extend (refactor) https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/openvpn/auth-user.php at some point to be able to write out the client configuration after successful authentication and offer an option to plug in custom hooks there, that way it's more aligned to how others use this  too (e.g. https://github.com/grayscott/radiusplugin/blob/45

[2018-04-02 08:44] EugenMayer commented on #2319
@AdSchellevis well rewriting the openvpn plugin to be non legacy is for sure the best option, bet that is a very long road, with a a huge codebase change affecting a lot of current installation - this is not going to happen any soon, nor getting merged any sooner nor even getting released prio 19.x i would suppose.

So this is an intermediate solution.

The radius plugin is already non-legacy, it

[2018-04-02 08:52] AdSchellevis commented on #2319
I'm not saying we should replace the whole openvpn component, just improving the authentication sequence, which isn't an awful lot of work by the way.
Adding new hooks, which only serve code hosted somewhere else are usually not accepted, because it increases maintenance and user errors which are hard to track.

Maybe we can leave this issue open, if I can find some time somewhere (no promises), I

[2018-04-02 08:54] EugenMayer commented on #2320
We are using those opcode caches for about 7 years no in heavy duty. APC was a little trickier to configure and understand, especially since it was not PHP code and was not too well maintained. Still the effort was more then worth it, it was very much underestimated due to the fact, that people did not use the read-cache.

Opcache is a different story, core maintained, even the defaults work out v

[2018-04-02 08:57] fabianfrz commented on #2311
@fichtner maybe that should be added to the docs.

[2018-04-02 09:00] EugenMayer commented on #2319
@AdSchellevis i was not asking for a hook here, i understand, that this ends up in spaghetti code.

Let me rephrase, i want to offer a checkbox, which is then used in the opevpn legacy CCD code generation, if checked, its not generated. And thats it. So its a 2 line if statement in the CCD code.

I would put it here https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/openvpn.inc

[2018-04-02 09:05] Ricky-Tigg commented on #2318
Hi Franco. Assumed I know installation process  just enough to know what about I am talking in my original message. Therefore using the very first installer menu, –which is according to me nothing else but **Boot Multi User**– shows that those entries are currently the only possibilities of interaction:

`Press any key to start the`
- `configuration importer...`
- `manual interface assignment:`

T

[2018-04-02 09:11] AdSchellevis commented on #2319
I understand, just don't think that's the correct approach for the issue. The issue seems broader then disabling the csc generation, automatically leading to new hooks and exceptions at a later point in time.

This probably needs some work to fix it properly, which will return at some point again (most likely radius auth, but more use-cases probably exist).

[2018-04-02 09:17] EugenMayer commented on #2319
@AdSchellevis ok, i cannot see how this raises any expectation at all - this is the non integrated "i deal with it myself" kind of way, with a flag to disable the core handling. The opposite of any hooks, expectations or anything.

I guess i have to hot-patch my system for now then. are patches by opnsense-patch actually preserved over updates?

[2018-04-02 09:22] fabianfrz commented on #2311
@ruggerio I made a short Note for the docs in that special case. Can you review opnsense/docs#21 please?

[2018-04-02 09:27] fabianfrz commented on #2319
@EugenMayer no, they will be reverted by the next update. opnsense-patch is to add changes, before the next release is out. The main purpose is for testing new features and use it for hotfixes.

[2018-04-02 09:30] AdSchellevis commented on #2319
Don't get me wrong, we deal with a huge code base, we always have to ask ourselves how changes pin out for others, what the expected maintenance and support fallback might be in combination with planned or unplanned future changes.
In the end, we have to deal (and pay) for the maintenance of most of them in the core system.

I don't mind leaving the issue open, as stated earlier, since it would be

[2018-04-02 09:32] EugenMayer commented on #2319
@fabianfrz thanks, makes sense to any extend. So i have to care about that myself, including upstream merges so the patch anchors stay put. Thanks for the info.

Closing this issue since it has nothing to do with "fixing CCD / CSC generation", it is for disabling this. @AdSchellevis closing it on my behalf - if you feel like it makes sense to switch the focus of this issue and reopen it, feel free

[2018-04-02 09:32] #2319 closed

[2018-04-02 09:39] ruggerio commented on #2311
It's ok! Thats how i got it working (tested, i deleted everything und putted it in step by step in several mixtures).

[2018-04-02 10:13] MUSHROOMHOME commented on #2243
OK.
What the fuck.......
I have installed a lot of different firewalls and now i try opnsense and found out that this happens.....
i have installed openVPN on two Ubuntu servers end it works like a charm (different network).
so my VPN provider is up and running no problem or issues there....
so i know that all the other releases from firewall distros (freebsd) have issues with the "promiscuous mod

[2018-04-02 12:52] Ricky-Tigg commented on #2318
Unsure as well I might be just now. Though help is coming! The attached material seems suitable as common mean for dissipating that natural feeling. _Installer_, is the media –here as a virtual disk– involved in the installation process.

![installer_opnsense-18 1-openssl-dvd-amd64](https://user-images.githubusercontent.com/26058215/38196764-15fb3d52-3685-11e8-9371-cedf13b4837c.png)

[2018-04-02 14:02] funar opened #2322 "cannot define table bogonsv6: Cannot allocate memory"
OPNSense Version: 18.1.5
Server: Dell R610 48gb RAM.

When "Block bogon networks" is enabled on the WAN interface, the following error can be observed in the system log and the firewall is unable to pass traffic.  Disabling "Block bogon networks" restores functionality.

/tmp/rules.debug:15: cannot define table bogonsv6: Cannot allocate memory

Clearing the bogonv6 file and forcing an update yield

[2018-04-02 14:06] AdSchellevis commented on #2322
Increase "Firewall Maximum Table Entries" in Firewall -> Settings -> Advanced and please search our forum (https://forum.opnsense.org/index.php?topic=4524.msg17290#msg17290) and Github (https://github.com/opnsense/core/issues/1555)  before posting new issues.

[2018-04-02 15:02] fichtner commented on #2322
The bogons seem to have changed recently, causing more memory to be used and exceeding our defaults. Would it be possible to raise our defaults?

[2018-04-02 15:05] fichtner commented on #2318
Okay, so the first time you are able to modify the keymap is when you have completed boot with said media image and at the login prompt use user „installer“ with password „opnsense“.

[2018-04-02 15:46] muchahagrande commented on #2299
Aaah, Ok... this is one of those that seem to be easy but they aren't.
Will wait...

Thank you and regards,
Francisco.

[2018-04-02 15:54] AdSchellevis commented on #2322
@fichtner we trust the defaults of pf when not set explicitly, which should usually be enough (on my machine with 2GB memory, the number seems to be 200.000)

[2018-04-02 17:30] toyowheelin commented on #1501
Ah, no worries. Glad it didn't fall off the radar for the project as a whole.

[2018-04-02 18:06] fabianfrz commented on #2299
This is easy but needs some time and is low priority.

[2018-04-03 06:07] namezero111111 commented on #1900
I mean why he was asking about the latest version.
I will test the "stock" kernel later to see if this is related, but it was first noticed since the patch.
@mimugmail Did you try with NAT?

[2018-04-03 06:12] fichtner commented on #1900
I'm not sure the patch does anything here. NAT is done in pf, not ipfw. It means you'll likely see the issue on a stock 181.5. And I'm not even sure since you said gateway group and NAT it heavily depends on your WAN state, monitoring and load balancing rules.

[2018-04-03 08:03] syndgr opened #2323 "Disabling root user doesn't show "Disabled User" icon."
Version: 18.1.5

Minor cosmetic issue. Through web UI I disabled the root user but the icon does not show the user as disabled. This issue only affects the root user. Cannot reproduce with any other user and group membership does not have any influence.

![image](https://user-images.githubusercontent.com/20760738/38236961-b030f7b6-371d-11e8-9e9e-115de08d5807.png)

![image](https://user-images.gith

[2018-04-03 08:16] fichtner commented on #2323
Hi @syndgr,

Indeed, thanks for your report!

You can try the proposed change from the console:

    # opnsense-patch ae119d5

Cheers,
Franco

[2018-04-03 09:17] syndgr commented on #2323
Hey @fichtner,

Tested and confirmed this has fixed the cosmetic issue. Thank you!

[2018-04-03 09:17] fichtner commented on #2323
perfect, thanks! We'll add this to 18.1.6 :)

[2018-04-03 09:17] #2323 closed

[2018-04-03 10:24] namezero111111 commented on #1900
Ok, this seems solely related to "Disable State Killing on Gateway Failure". When unchecked (i.e. state killing enabled) the behavior occurs.
When disabled (checked) everything seems fine ("stock" kernel or patched).
Please disregard, this is not related to the patch at all.

[2018-04-03 10:27] mimugmail commented on #1900
Best news today :)

[2018-04-03 10:28] fichtner commented on #1900
:)

[2018-04-03 16:54] Ricky-Tigg commented on #2318
Hi. _Oh no, not him again!_  Here I am anyway.  After two attempts of further installation failed at **2048 MB** (of virtual memory) of **3096 MB** (Total host memory) the _Installer_ at last succeed to complete its installation process (I was sorry to see the notice _No AESNI support_, but what can I do as mortal).

Nevertheless, so proud I am, as you can imagine, to announce just for you today,

[2018-04-03 18:37] kingfisher77 opened #2324 "dhcpv6 static mappings not working?"
Our parallel IPv6 network is set up, the "unmanaged" modus of Router Advertiment (RA) is basically working.

Later we configured dhcpv6 with "managed" modus of RA. Clients receive their dynamic ip adresses, perfect.

But converting dynamic leases to static leases is not working. Under Leases we find two entries with the same DUID and the dynamic ip address is still delivered and "online". The stat

[2018-04-03 20:32] sjorge opened #2325 "Dead URL in system_advanced_sysctl.php"
The following URL no longer seems to work:
http://ivoras.sharanet.org/blog/tree/2010-11-19.ufs-read-ahead.html

At least present on OPNsense 18.1.5-amd64

[2018-04-03 20:59] #2325 closed

[2018-04-03 21:00] fichtner commented on #2325
Done, also in 18.1.6 images, but only on new installs.

[2018-04-04 05:36] fichtner commented on #2186
@JackTrapper if you have time to test we'd highly appreciate it. image for 18.1.6 are 2 weeks out and we want to get this right. 👍

[2018-04-04 10:43] fbrendel opened #2328 "ModelRelationField item not found"
Currently I'm writing a PHPUnit test for the net/relayd plugin.
The problem is that I can't create a model item with a ModelRelatedField within the same PHP runtime.

[code]
@fichtner told me that the cache contains the wrong UUID and should be invalidated [here](https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/ModelRelationField.php#L157).

[2018-04-04 11:00] AdSchellevis commented on #2328
You probably have to split your test into different parts, I expect the test keeps two objects open during execution now. The model itself isn't a singleton object (only configuration is).

Within the same model, the cache is flushed here https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/ModelRelationField.php#L212 before validation to prevent this f

[2018-04-04 11:42] JackTrapper commented on #2186
I'd tried the [18.1.5 DVD snapshot](https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/) a few days ago, but it wouldn't boot off the USB stick (because it's a DVD snapshot).

Is there a **"vga"** snapshot around anywhere?

[2018-04-04 16:50] EugenMayer opened #2330 "Changes to static dhcp leases in 18.1.5 or 18.1.4"
I am yet not entirely sure, but it seems like since either .5 or .4 dhcp leases are renewed way to often, especially considered they are actually all static leases:

https://www.pastiebin.com/5ac4fcfa97a53
https://drive.google.com/file/d/1jmqzaQCRiaKxq8cuvbAPxlukdkc6rREM/view

Did anything change regarding the leases, e.g. for static leases?

I am yet not sure, but is this actually "interruptive"?

[2018-04-04 17:03] fichtner commented on #2330
https://github.com/opnsense/changelog/blob/master/doc/18.1/18.1.5
https://github.com/opnsense/changelog/blob/master/doc/18.1/18.1.4

[2018-04-04 17:48] EugenMayer commented on #2330
since there is nothing in the changelogs, which i already reviewed before asking here, its common sense this means there cannot be any bug - since bugs would be in the changelog :)

Anyway, signal taken.

[2018-04-04 17:48] #2330 closed

[2018-04-04 18:03] fichtner commented on #2330
Sorry, you misread my intention. No changes were mentioned by you, also no going through the changelog and coming up empty. So please don’t take my help for something that is less forthcoming.

ISC-DHCP port was bumped in 18.1.4, not sure if related, but something that sticks out:

    # opnsense-revert -r 18.1.3 isc-dhcp43-server

[2018-04-04 18:10] EugenMayer commented on #2330
@fichtner i was not sure how to take a comment without any comment i guess.

[code]

[2018-04-04 19:02] jazzdd86 opened #2331 "unbound doesn't work with redirect type"
I am in need of the redirect type with unbound DNS resolver.
If I change from transparent to redirect unbound wouldn't start anymore.
Error message is:
![unbound_log](https://user-images.githubusercontent.com/10222385/38328335-e928f23e-384a-11e8-8b84-421d036fd10c.png)
My UI conf looks like this:
![unbound_conf](https://user-images.githubusercontent.com/10222385/38328333-e8ebedc6-384a-11e8-89e6-a40

[2018-04-05 16:16] somova commented on #2267
Sometimes this issue also occurs after rebooting the machine, not only after pppoe reconnect

[2018-04-06 06:43] mimugmail opened #2332 "Route-based IPSEC / if_ipsec"
Hi,

I'm targeting route-based IPSec and need some modifications.
Before I start digging into it I just want to ask if it's ok to:

- make a new button in phase2: install policy yes/no
- make auto = route to auto = start when button install routes in Advanced is NOT ticked

If yes I'd try this by mysef ..

[2018-04-06 07:04] AdSchellevis commented on #2332
Hi Michael,

What do you mean with a new button in phase2?
Adding route-based would certainly be a good addition to have, I can help you review some code and suggest changes as long as the commits are in a manageable state (not too large).

Best,

Ad

[2018-04-06 07:45] mimugmail commented on #2332
Sorry, I mean a checkbox ..

[2018-04-06 07:47] AdSchellevis commented on #2332
clear, that makes sense :)

[2018-04-06 08:14] mimugmail commented on #2332
Ok, I have a running setup. Quite easy but I need some additional commands like setting up a GRE/GIF tunnel. ATM .. I'm a bit underskilled for this.

Steps to reproduce:
- Create a VPN with left und right subnet 0.0.0.0/0
- In Advanced set Don't install routes
- In P1 we need a checkbox "Install Policy", default checked which sets installpolicy = yes (which is already set to yes some where. Then u

[2018-04-06 08:15] mimugmail commented on #2332
If you are motivated you could create a new branch for this for testing ..

[2018-04-07 10:14] simonvetter opened #2334 "ikev2 ipsec roadwarrior with virtual subnet configuration issue"
Hi there,

I am using opnsense as an IPSec VPN access point i.e. opnsense is configured as a responder only, with a roadwarrior/mobile client ikev2 configuration, as shown in https://docs.opnsense.org/manual/how-tos/ipsec-road.html . After authentication, each client gets an ip address from the virtual pool.

This set-up works fine with a single client. As soon as a second session is brought up (b

[2018-04-07 10:30] simonvetter opened #2335 "ipsec phase 2 configuration page missing dh groups"
https://github.com/opnsense/core/commit/581b8b17bcd26ee3d97774efb6c8e65b6ee2ed85 exposed stronger dh groups for phase1 in the UI (thanks!) but somehow missed the phase 2 settings page.

These groups are already supported by strongswan for both phases and can be enabled by manually editing the ipsec configuration file (/usr/local/etc/ipsec.conf).

This is on the latest release (18.1.5, i386/openssl

[2018-04-07 10:34] fichtner commented on #2186
@JackTrapper sorry for the delay, here's a VGA based on the upcoming 18.1.6 https://pkg.opnsense.org/FreeBSD:11:amd64/snapshots/OPNsense-201804070632-OpenSSL-vga-amd64.img.bz2

[2018-04-07 12:45] AdSchellevis commented on #2335
I seem to have missed that one, can you test https://github.com/opnsense/core/commit/28d0816229ea024278ff378fda1339867fb9f266.

[2018-04-07 13:45] AdSchellevis commented on #2334
oops, missed a spot apparently. https://github.com/opnsense/core/commit/eaf19276aefa3f3c229766d9f403844c448baf48 solves the empty rightsubnet when tunnel isolation is enabled.

[2018-04-08 00:00] maurice-w opened #2336 "DNS and domain options for DHCPv6 and Router Advertisements, multiple issues"
### Parameters in `dhcpdv6.conf`, configured via `services_dhcpv6.php`
1. OPNsense sets the `domain-name` parameter, both as a global option (system domain) as well as a subnet-specific option (_Domain name_ field). However, this is a DHCPv4 option and is ignored by dhcpd6. DHCPv6 uses the `dhcp6.domain-search` option only.
1.1 The global `domain-name` option (set to the system domain) should be r

[2018-04-08 14:47] JackTrapper commented on #2186
Same problem. The **default** route is configured to go out the physical WAN interface, rather than out the PPPoE interface:

| Proto | Destination | Gateway | Flags | Use | MTU | Netif | Netif (name) |
|---------|---------|-----------|-------|-------|----|-------|---------------|
| ipv4    | default | link#2 | U | 2455696 | 1500 | ***`re0`*** |   |
| ipv4    | `[WAN IP]` | link#7 | UHS | 0 | 1638

[2018-04-08 16:37] fichtner commented on #2186
Do you have the System log during that transition? A lot of messages were added since 18.1 to help debug.

[2018-04-09 04:58] fichtner commented on #2186
System: Log File. Search for "ROUTING" in the input field.

[2018-04-09 05:36] tjaalton commented on #2322
the default doesn't seem to scale with the amount of RAM, it's still 200k with 4GB and not enough for the current bogon list..

[2018-04-09 05:54] fichtner commented on #2322
the default is mandated by some arbitrary never-changing OS variable. we don't handle it, but this should help:

fc0c66e87b54903d770fbffcab783ca28fa08e8c
5dd172ed16c408e15163fa46cf1d70b2fc6e62db

[2018-04-09 05:54] #2322 closed

[2018-04-09 09:36] knxuf commented on #2269
try
net.link.bridge.pfil_local_phys = 1

[2018-04-09 14:37] ruffy91 opened #2339 "i211: CARP goes to INIT on after link down/link up"
Hi.
Hardware: 2x APU2C4 with 3x i211 interfaces.
Software: OPNSense 18.1.5/18.1.6
Problem: carp goes to init after link down/link up event.
Steps to reproduce:
1. Make HA/CARP config on the firewalls
2. Pull out carp interface cable from Primary firewall => Secondary Firewall gets Master status
3. Plug in carp interface cable to master firewall => Primary interface gets Backup status => Primary in

[2018-04-09 15:53] fichtner commented on #2339
Tunable might help: https://forum.opnsense.org/index.php?topic=5412.msg22460#msg22460

[2018-04-09 18:42] #2321 closed

[2018-04-09 18:44] AdSchellevis commented on #2321
@johnkeates thanks for reporting, https://github.com/opnsense/core/commit/c9f22da31ee873127ba1d852d19aa19f6739af39 prevents the reconfigure when not needed.

[2018-04-09 18:51] #2151 closed

[2018-04-09 21:07] h-2 commented on #222
Sorry for digging this up. I just recently installed OpnSense. After upgrading from OpenSSL to LibreSSL flavor "Hardware Crypto" now reads "No Hardware crypto acceleration", but before the change it offered hardware crypto. Does this mean LibreSSL never supports hardware crypto or that it is always on by default.... and is there some way I can check?

[2018-04-10 00:10] JackTrapper commented on #2186
**After initial setup:**

    23:54:20: /rc.reload_all: ROUTING: setting IPv4 default route to [Gateway IP]
    23:54:20: /rc.reload_all: ROUTING: no IPv6 default gateway set, trying wan on 'pppoe0' ()
    23:54:20: /rc.reload_all: ROUTING: no IPv4 default gateway set, trying wan on 'pppoe0' ([Gateway IP])
    23:54:20: /rc.reload_all: ROUTING: entering configure using defaults
    23:54:17: /rc.r

[2018-04-10 05:43] fichtner commented on #2186
It looks normal, unfortunately, always using pppoe0 except for rc.bootup, which is prior to wizard use although you probably configured re0 as WAN instead of using the automatic default re1? I'm not sure if that changes things. And speaking of the wizard, is that a general issue with PPPoE setup on your end or just the wizard misbehaving? What happens after a persistent reboot?

There needs to be

[2018-04-10 08:13] h-2 commented on #222
Thanks for the quick reply!

I have aesni, can I check on the command line if it works? e.g. Is there something I can pass to `/usr/local/bin/openssl speed` to explicitly (de)activate the hardware backend?

[2018-04-10 08:54] fichtner commented on #222
See this thread: https://forum.opnsense.org/index.php?topic=2379.0

Test with AES-NI:

    # /usr/local/bin/openssl speed -evp aes-128-cbc

Test without AES-NI:

    # /usr/local/bin/openssl speed aes-128-cbc

[2018-04-10 08:55] fichtner commented on #222
For LibreSSL it seems that AES-NI is even used without "-evp" envelope mode

[2018-04-10 08:56] fichtner commented on #222
Values on an A10:

[code]

[code]

[2018-04-10 08:59] fichtner commented on #222
Grr, no, these values are without AES-NI... wtf...hopefully openssl works as expected :)

[2018-04-10 14:57] crosscutrat opened #2340 "Crash after changing GUI from HTTPS to HTTP"
Default config is to use HTTPS for the GUI.  Got everything configured and was working fine.  Changed GUI to use HTTP instead of HTTPS and got an interesting warning that the page should auto load and if not click here "10.0.0.1://10.0.0.1/blah/blah".  Somehow the variable for "http" is getting replaced with the LAN IP.  Bricked the box and won't boot up.  Console hung on interfaces and would neve

[2018-04-10 15:01] fichtner commented on #2340
The bricking is unusual, it just switches the proto and reloads. I'll take a look...

[2018-04-10 16:24] fvanroie opened #2342 "Duplicate VLANs when using the console to setup interfaces"
I think commit [566fe52](https://github.com/opnsense/core/commit/566fe52edcdde2e5d9dd6148d856891a20176afb#diff-9aa2355a793265d8d68f412dface2f38) introduced an issue while configuring VLANs using the "1) Assign interfaces" option in the console. (src/etc/inc/console.inc)

When you choose to setup VLANs via the console interface, it warns you that existing VLANs will be cleared:
WARNING: all existin

[2018-04-10 17:10] h-2 commented on #222
Exactly, it seems *LibreSSL does not use hardware crypto*. I will open a new issue for this.

[2018-04-10 17:19] h-2 opened #2343 "LibreSSL flavor doesn't use aesni"
Coming here from #222

LibreSSL does not seem to be able to make use of AES-NI:

|                      |   speed |
|----------------------|--------------:|
| openssl -evp | 390 MB/s|
| openssl         |  86 MB/s|
|  libressl -evp |   55 MB/s|
|  libressl         |   55 MB/s|

(all of the above is 8KB, aes-128-cbc)

Long log:
[code]

Also note how the performance differs between the (block?) sizes

[2018-04-10 17:24] fichtner commented on #222
Thanks for the pointer. It used to work on 2.5 and none of the code that we manage seemed to have caused this so it's probably in the portable version of LibreSSL... :/

[2018-04-10 17:34] h-2 commented on #2343
Thanks for looking into this!

Yeah, I heard that the "for other OS" - versions of OpenBSD tools receive a lot less love, but I would have hoped for something like LibreSSL to have upstream regression testing...

[2018-04-10 17:37] fichtner commented on #2343
Even OpenSSL was shipped without assembler bits in FreeBSD ports for a while... because it is a difficult regression to observe as it passes all checks... :)

Will try again tomorrow.

[2018-04-10 17:50] h-2 opened #2344 "Apollo lake boot hang"
I thought I'd reference https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=222908 here since it will probably affect more people with Apollo lakes now becoming more widely available and being good firewall CPUs.

FreeBSD seems to be slow to act so maybe even OpnSense could add the workaround for the next round of install images (if an affected CPU is detected)?

If you feel that upstream needs to f

[2018-04-10 18:02] h-2 opened #2345 "No login prompt / userspace output on serial console"
I recently installed OPNSense on a Gigabyte J3455N-D3H. After some initial trouble the system is now running, but the serial port doesn't work as expected:

I get kernel messages up until:
[code]

It then stops midword and shows no login prompt or output from rc. It will however print kernel messages if I shutdown or plug-in a removable disk.

Or is this expected behaviour and I need to change fur

[2018-04-10 18:07] fichtner commented on #2345
unfortunately, that is the expected behaviour. init messages are only printed on the primary console so if you use that primarily, switch vga and serial.

[2018-04-10 18:10] fichtner commented on #2344
It's hard to work around hardware-specific issues in a way that nobody not affected is not affected in some other way. But since 18.1.5 at least you can use system: settings: tunables to also hold and enforce your loader.conf settings. It's not much, but it eases config import / export a bit as the settings are kept (minus the initial boot fix).

[2018-04-10 18:15] fichtner commented on #2345
or wait, maybe it should at least prompt for login afterwards. it could also mean the serial needs a loader hint as well. just guessing :)

[2018-04-10 18:38] fichtner commented on #2238
Closing in favour of open ticket #910.

[2018-04-10 18:38] #2238 closed

[2018-04-10 18:39] h-2 commented on #2345
No, but its the other way around for me: I get kernel output on both, but I don't get a login on serial.

Also I had the same behaviour with the minimal-img which only boots to serial and no vga. I also didn't get a prompt or output from rc – which is why I thought it was broken, but it did boot up in the background.

[2018-04-10 18:42] fichtner commented on #2345
What does this output on the board?

    # ls -lah /dev/tty*

[2018-04-10 19:15] dlcasto opened #2346 "OpenDNS Test Login Fails if Password Contains Single Quote(s)"
I am using a long, randomly generated password for OpenDNS. I experienced issues when I tried trouble testing the login and signing into OpenDNS in the Services section. So I regenerated my password and tried a smaller password length since I have had issues in other applications where the maximum password lengths are different in applications that log into other applications. When I changed it, I

[2018-04-10 21:32] h-2 commented on #2345
[code]
I haven't checked, yet, whether the kernel might output to the first serial port and the userland to the second one :thinking:

[2018-04-10 21:34] fvanroie commented on #2342
No problem. Meanwhile, I have found a workaround by exporting the config and re-importing the VLANs with the duplicated removed from the config.xml file. Now all my VLANs are listed only once.

[2018-04-10 22:53] JackTrapper commented on #2186
The machine has only two interfaces:

- **re0:** onboard Realtek going to the modem (WAN)
- **em0:** Intel Gigabit ethernet PCI card (LAN)

Usually that's how i (manually) configure them. This time i was too late pressing the keys, and it guessed right anyway. (In other words, i don't know what re1 would be, or why such a thing would come up).

As far as i know the Wizard executed properly. The PP

[2018-04-11 04:44] fichtner commented on #2343
Here's a report of the same issue, but with inconclusive outcome https://forums.freebsd.org/threads/openssl-almost-10x-faster-than-libressl.64497/

[2018-04-11 05:30] fichtner commented on #2345
it looks normal, and both are being enabled. maybe this is a driver bug in combination with the hardware. can't spot any obvious problem, it works on countless devices as is.

[2018-04-11 07:04] #2343 closed, assigned to fichtner

[2018-04-11 07:30] thomasnilsen opened #2347 "Broken after upgrade to 18.1.6"
Ny OPNSense is broken after upgrade to 18.1.6

- Access to wan interface from internet works.
- Access to lan interface / dns / web etc works from lan.
- Access to internett from lan does NOT work.

My box have two physical 1gig ports and i use vlan's.

This happened after scheduled automatic update at 05:00 yesterday.

Firewall log does not show any entries after update time.

best regards
Thomas

[2018-04-11 07:42] fichtner commented on #2347
This is not a lot to go on, unfortunately.

[2018-04-11 07:43] thomasnilsen commented on #2347
@fichtner What can I do to enlighten you? Tell me what logs etc I can provide.

[2018-04-11 07:45] fichtner commented on #2347
Can you ping 8.8.8.8 from LAN? Can you ping google.com from LAN? Maybe your IPv6 bogons don't load, increase firewall: settings: advanced: table entries to "500000".

[2018-04-11 07:55] thomasnilsen commented on #2347
Can ping local lan interface on opnsense from computer.
Can not ping wan interface on opnsense from computer.
Can not ping 8.8.8.8. or anything else from computer.

Can ping anything from opnsense.

dig google.com works from computer (since dns is opnsense lan if and lan<->lan works).

Increased table does not help.

[2018-04-11 08:01] fichtner commented on #2347
Check System: Log Files: General for errors, but it looks like an operational issue judging by the general lack of an indicator why your LAN would suddenly fail. If you have multi-wan configured, check that. It's almost impossible to help from here.

[2018-04-11 08:11] thomasnilsen commented on #2347
@fichtner Definetly something wrong with pf. My general log shows SSH login attempts from various sources. Should not be possible. 22 is opened only from 2 ip's.

Also shows the "[ There were error(s) loading the rules: no IP address found for <!DOCTYPE]" message..

[2018-04-11 08:12] fichtner commented on #2347
Aha, an error message!

Run this, all back to normal hopefully...

    # /usr/local/etc/rc.update_bogons

Cheers,
Franco

[2018-04-11 08:14] thomasnilsen commented on #2347
@fichtner
Found problem;

more /usr/local/etc/bogonsv6 shows a html file.. Looks like the bogon download may have failed and downloaded the HTML file.

`

<html lang="en">

<head>

<meta charset="utf-8">
<title>Team Cymru</title>
<meta name="description" content="We exist to enable organizations to efficiently identify and eradicate threats within their network by providing unique and easily asses

[2018-04-11 08:15] fichtner commented on #2347
Yes, that was reported over a week ago and subsequently fixed. it must have cached the bad version for you. The command should reload it. :)

[2018-04-11 09:05] mimugmail commented on #2076
@AdSchellevis
Second FR via Forums:
https://forum.opnsense.org/index.php?topic=7830.0

If you like to go on with your idea to add the Framed-IP-Address via Radius I'd be happy to test/help.

[2018-04-11 09:09] AdSchellevis commented on #2076
@mimugmail it's not at the top of my priority list at the moment, but if you create an issue, I'll try to collect the plan into it (parts are scattered over different pulls and issues now) and assign it to myself.

[2018-04-11 09:24] mimugmail opened #2348 "FR: OpenVPN respects Framed-IP-Address from Radius"
To achieve there should be
- authentication wrapper script should recognize Framed-IP-Address attribute (already done: https://github.com/opnsense/plugins/pull/485#issuecomment-357460986)
- In CSC a checkbox "Respect Radius IP" and then write value from Framed-IP-Address and Framed-IP-Network in csc file:

`ifconfig-push Framed-IP-Address Framed-IP-Network`

Since ifconfig-push is the same as "IPv

[2018-04-11 12:08] goor4 commented on #2244
Is it possible, that a bug in igb-driver (Intel i211-AT) with EEE (Energy Efficient Ethernet) is the source of that problem?
Here is a good workaround for that problem (in german): [https://www.thomas-krenn.com/de/wiki/OPNsense_igb_EEE_Funktion_deaktivieren](url)

It only affects OPNsense 17.1.9 to 17.7.

Yesterday i had those reboots again with OPNsense 18.1.6 and the router could detect the Link

[2018-04-11 14:42] jeffg2k opened #2349 "IDS/IPS - Remote Syslog Contents"
Would be nice to have an option in the Remote Syslog Contents for the IDS/IPS sending to Syslog if possible.

[2018-04-11 14:49] fichtner commented on #2349
Yupp, we've recently enabled syslog by default in IDS... it's been a longer journey on this front due to the focus on eve logging. I'll add this as  separate option... although sending all logs should already work on 18.1.4 and up if enabled in IDS.

[2018-04-11 18:44] jeffg2k commented on #2349
It would also be cool if we could get the IDS Alerts in a Dashboard Widget.

[2018-04-11 20:07] jeffg2k opened #2350 "IDS Alert - Search on Destination IP"
Please add the destination field as a searchable item in the IDS Alert Search.

[2018-04-12 05:53] AdSchellevis commented on #2350
https://github.com/opnsense/core/pull/2351

[2018-04-12 05:53] #2350 closed

[2018-04-12 10:01] DasTestament commented on #2286
Actually, all you have to do is set "Static port" to "YES" like this:
![image](https://user-images.githubusercontent.com/7909542/38670408-59b0ed8e-3e51-11e8-82b5-0149edfc0cb2.png)

Give it a try. It's good for you.

[2018-04-12 12:42] kingfisher77 opened #2352 "Unstable behaviour since V6/DHCPv6"
Since we switched to Dual Stack v4/v6 Opnsense behaves unstable. From time to time no ip traffic is possible anymore.

`There were error(s) loading the rules: /tmp/rules.debug:15: cannot define table bogonsv6: Cannot allocate memory - The line in question reads [15]: table <bogonsv6> persist file "/usr/local/etc/bogonsv6"`

Cannot allocate memory? We run this cute thing: https://www.applianceshop.

[2018-04-12 12:43] fichtner commented on #2352
set firewall: settings: advanced: table entries to "500000"

[2018-04-12 12:44] fichtner commented on #2352
(ipv6 bogons are like its ipv4 cousing a long list of subnets that should not occur in the wild and are therefore blocked by default and updated regularly)

[2018-04-12 19:17] fichtner commented on #2294
Solving this via #2153.

[2018-04-12 19:17] #2294 closed

[2018-04-12 20:15] #2153 closed

[2018-04-12 20:17] fichtner commented on #2153
Hi @astrandb,

API now exposes "upgrade_major_version" and "upgrade_major_message". You can also fetch the major version via changelog as the GUI does now. The message is optional, mainly used for a few last words to mention incompatible changes, upgrade methods, etc.

Not sure when this will hit the 18.1.x track, but certainly before the EoL release so it can be used. :)

Cheers,
Franco

[2018-04-12 20:22] fichtner opened #2354 "system: factory reset and halt need a non-cancel dialog"
While here, maybe move the defaults to the "Backup" page and make it an interactive dialog with a confirmation... (confirmation may also apply to halt?!)

[2018-04-12 20:29] fichtner commented on #2346
Hi @dlcasto,

The single quotes in the sprintf interpolated by %s does not escape the format string's single quotes, that's why this is the safe way to write the option. Not sure what goes wrong here, it pushes the user/pass to PHP/CURL and that's it unless the password is not correct in $pconfig['password'] -- maybe it's  HTML escaped?

Cheers,
Franco

[2018-04-12 20:37] astrandb commented on #2153
Thank you @fichtner
I will update my check script for icinga2 well before the next major release and then just sit back and wait for the bell...
/Åke

[2018-04-12 20:41] fichtner commented on #2340
Hi Rob,

Worked fine from here:

<img width="636" alt="screen shot 2018-04-12 at 10 37 03 pm" src="https://user-images.githubusercontent.com/1915288/38702940-38b14948-3ea2-11e8-9f0d-4e67906d7cfd.png">

Had to click the link but that's a different story and why the link was added: Switching HTTP <-> HTTPS is a bit of a pickle as browsers don't like the downgrade or upgrade in the same window.

What

[2018-04-12 20:47] fichtner commented on #2340
PS: If "http://" or "https://" is ending up being displayed as IP:// that would mean something goes completely wrong on POST. It's not verified what the radio button pushes as a value so if there is an IP in there I can understand the brick afterwards... let me add a validation at least...

[2018-04-12 20:53] jeffg2k opened #2355 "Services Menu / Name Organization"
In the services menu, I'd like to make some suggestions.  I don't mind coding these myself, but I'm not aware of the background on why these choices were made and if my suggestions would be accepted.  So if they sound like good ideas, I can try to implement them.

1. The menu name of "Dnsmasq DNS" and "Unbound DNS" are application names that many people may not know (I didn't).  Like the other ser

[2018-04-12 20:57] fichtner commented on #2340
I just experienced the "brick": The browser refuses to open HTTP after having been warmed up to the idea of HTTPS. And it does a really bad job telling you it rather wants to open HTTPS while it shows HTTP not responding (Chrome). Opened Firefox, all good on HTTP....

[2018-04-12 21:03] fichtner commented on #2340
Firefox and Safari show similar issues after switching around more than once. I think we can close this as there is not much we can do?

[2018-04-12 21:11] fichtner commented on #2355
Hi @jeffg2k,

1. No because people used to talk a lot about the confusion of "Forwarder" and "Resolver" so we changed it. It's a general policy to try to push the actual software name into the menu for services like done in most plugins.

2. Firstly depth issues in the menu (we only try to keep it to 3 levels). Secondly the whole DHCP model is broken down into one IPv4 and IPv6 instances in the co

[2018-04-12 21:14] fichtner commented on #2153
Sure, I'll try to ping when this is merged into 18.1.x to let you know it's incoming. :)

[2018-04-12 21:17] fichtner commented on #2355
Regarding 1. see https://github.com/opnsense/core/issues/354

[2018-04-12 21:19] #2273 closed

[2018-04-12 21:19] #2253 closed

[2018-04-13 05:33] #2342 closed

[2018-04-13 05:33] fichtner commented on #2342
@fvanroie thanks for your spot-on analysis. committed a fix just now. :)

[2018-04-13 07:25] linuxmail commented on #1626
hi,

just wanted to say: thanks for the Telegraf plugin ! We check out, if OpnSense is better than Pfsense and Telegraf is a requirement.

[2018-04-13 07:31] mimugmail commented on #1626
If you miss a feature in Telegraf just put it here, normally it's quite easy to add ...

[2018-04-13 08:12] linuxmail commented on #449
hi,

I would find it also great, if Yubikey where supported, with a custom server URL. In this case, Yubi is not authenticated against the cloud service, but an own Yubi server :-)

[2018-04-13 08:38] linuxmail opened #2356 "OTP login doesn't work with HA config on second node"
hi,

I configured successful the OTP plugin and it works on the first / primary node, but fails on the secondary. The plain fallback configuration (aka password only) still works.

Which log (lines) should I submit ?

cu denny

[2018-04-13 08:40] linuxmail commented on #2356
Forgotten to say: the tester on the second node works.

[2018-04-13 08:53] linuxmail commented on #2252
Hello,

is there a roadmap, when this feature would be available for the production release ?

cu denny

[2018-04-13 09:09] fichtner commented on #2252
Hi Denny,

It was shipped in 18.1.6.

Cheers,
Franco

[2018-04-13 09:13] fichtner commented on #2356
Can you reload "Users and Groups" from Services: Diagnostics on the secondary note? Also, you are talking about TOTP for local accounts?

Last but not least, make sure that System: Access: Settings has the same primary auth type.

Cheers,
Franco

[2018-04-13 11:55] c-schwamborn opened #2357 "trim/discard after reboot on cf-card leads to failure"
I just tested a fresh install (v.18.1) via nano bsd i386 image on an pcengines alix system with cf-card. The first boot looks fine, but after the first reboot the system doesn't boot anymore. Investigating the issue, the last console entry revealed, that a trim command was issued to the filesystem, leading to a disconnect of the cf-card:
`
clean, 7046762 free (1226 frags, 880692 blocks, 0.0% fragm

[2018-04-13 11:59] fichtner commented on #2357
Hi Christian,

Can you try to add "# notrim" to the root disk entry in /etc/fstab prior to the first reboot?

Cheers,
Franci

[2018-04-13 15:07] lschweiss-wustl opened #2358 "CARP VIP should not require existing IP"
It seems CARP no longer requires an existing IP on the interface it is assigned.   This requirement should be removed from OPNsense.

Besides pfsense has done this since their version 2.2.

[2018-04-13 15:37] c-schwamborn commented on #2357
ufs doesn't seem to know the option 'notrim'
`
Trying to mount root from ufs:/dev/ufs/OPNsense_Nano [rw,notrim]...
Mounting from ufs:/dev/ufs/OPNsense_Nano failed with error 22: mount option <notrim> is unknown.
`

[2018-04-13 15:39] fichtner commented on #2357
no, at the end with a leading "#", it's a comment evaluated in our code:

https://github.com/opnsense/core/blob/master/src/etc/rc#L81-L84

The trouble is that the driver seems to say trim is ok, when it in fact may be not :/

[2018-04-13 16:10] c-schwamborn commented on #2357
sorry, thought of a common fs option. Isn't that a bit unconventional ?
Sadly it didn't work:
[code]

Hmm, during the first boot I found in fact `tunefs: issue TRIM to the disk set`

[2018-04-13 17:13] mimugmail commented on #2358
Why not choose some private unused IP in the main interface?

[2018-04-13 17:46] lschweiss-wustl commented on #2358
Because I do not use NAT, and there appears to be no other way to make outgoing connections use the CARP IP instead of an unneeded preconfigured IP.   This also causes split routes that break connections with some systems.

________________________________
From: Michael <notifications@github.com>
Sent: Friday, April 13, 2018 12:13 PM
To: opnsense/core
Cc: Schweiss, Chip; Author
Subject: Re: [opnse

[2018-04-13 18:05] dlcasto commented on #2346
@fichtner, thanks for the feedback. I realized that I was a bit confused when I looked up information about the difference between single and double quotes using sprintf in PHP. I know that sometimes you can use double quotes to treat single quotes as literals and vice-versa which is handy if you prefer not to escape single or double quotes.

I looked at my old password in my password manager and

[2018-04-13 18:33] c-schwamborn commented on #2357
Stupid question: Why is trim/discard enabled on those images anyways? I thought they where only for legacy devices like these alix boards. To my knowledge it's not possible to use discard or trim on cf- or sd-cards, or do you intend these images for some sort of vm usage on ssd's or thin lvm?

[2018-04-13 18:53] c-schwamborn commented on #2357
don't tell me about that, I read the ssd feature exclude list in the linux kernel code

You don't have to create an image just for me, do it only if it helps to fix the issue for future images.
By the way: This must be a new issue, a friend of mine installed an alix system earlier this Year with the previeus release (17.x) and that worked well (except the fact that he could only update from the co

[2018-04-13 20:09] fabianfrz commented on #2357
I use an APU 1 board with a SD card without issues with trim. Maybe the problem is vendor specific.

[2018-04-14 04:25] mimugmail commented on #2358
Oh you mean like local squid binding to a specific IP for outgoing connections?

[2018-04-14 08:02] fichtner commented on #2358
As far as I know a rule of carp is to never use the carp ip for creating connections, only for answering, which would mean you need a regular IP as well. Do you have a reference when and where this restriction was lifted in FreeBSD?

[2018-04-14 09:39] AdSchellevis opened #2359 "Traffic Shaper [dynamic pipe/queue] add buckets option"
Now our help text has improved (https://github.com/opnsense/core/pull/2293), but some of the configuration issues likely still exists due to installs trying to setup more then 256 flows on single rule, which is set globally in "net.inet.ip.dummynet.hash_size".

A per pipe/queue setting could be practical in these cases.

[2018-04-14 10:56] fichtner commented on #2357
It's a good question. I think this was done unilaterally on all images while we were on FreeBSD 10 almost exactly 2 years back (44b610abb1a6f3672), but FreeBSD 11 changed the game somehow, causing these reboot-fail issues for very specific cases. @fabianfrz is right, I also have APUs/ALIX/WRAP and never seen the issue, otherwise I would have been able to inspect it.

We've tried almost everything

[2018-04-14 11:09] AdSchellevis commented on #2359
for reference, the original ipfw doc section
[code]

[2018-04-14 12:26] AdSchellevis commented on #2358
I don't think it's a problem to remove the constraint, although I can't find a reference for the intended behaviour in FreeBSD on this topic (it seems to work, the doc's don't seem to suggest otherwise)

I do have the changes needed stashed on my machine, if we want this, I can commit them.

[2018-04-14 12:28] AdSchellevis commented on #2358
... on the plus side, this dumps two other pointless _file_notice()_ executions as well

[2018-04-14 12:39] c-schwamborn commented on #2357
Good news: That worked.
I think the line you where looking for is `tunefs: issue TRIM to the disk remains unchanged as disabled`.

What did you change, if I may ask? I've seen the rootfs in `/etc/fstab` now contains `# notrim` at the end by default. Is that static, or somehow dynamically added?

[2018-04-14 12:47] mimugmail commented on #2358
It would also make HA setup possible where WAN is only /30

Ad Schellevis <notifications@github.com> schrieb am Sa., 14. Apr. 2018,
14:28:

[2018-04-14 16:45] c-schwamborn commented on #2357
Yes, sounds good. For the time being this might be the safest way to go.
I agree that most probable something has been changed or may be broken in FreeBSD 11. Enabling trim for a sd-card cannot be correct.
The trim feature is in my opinion insignificant for a firewall anyways, as the write-load on the device should be minimal.

[2018-04-14 17:06] fichtner commented on #2357
Okay, commit via https://github.com/opnsense/tools/commit/2fb26bf14e75ef9addb6906c054cdeaf8576340a

Again, thanks for the help!

Cheers,
Franco

[2018-04-14 17:06] #2357 closed

[2018-04-14 17:09] c-schwamborn commented on #2357
Thank you, for your quick response.

Cheers,
Christian

[2018-04-14 23:09] fvanroie commented on #2342
That was quick, glad I could help. I'll try this out in the next release.

[2018-04-15 07:26] fichtner commented on #2342
Had to tweak the whole VLAN configuration process so this will not be in 18.1.7..... not sure when it'll be released. I try to ping when it's in. :)

[2018-04-15 07:28] EugenMayer opened #2360 "lighthttpd warns about missing module - deprecation"
[code]

Version: 18.1.5 / 18.1.6

[2018-04-15 07:31] fichtner commented on #2360
Is this with a captive portal active?

[2018-04-15 07:33] EugenMayer commented on #2360
Not activated, i would suggest thats rather core? ( lighthttpd is currently the forward proxy for the FPM daemon, isnt it? )

[2018-04-15 07:34] fichtner commented on #2360
nope https://github.com/opnsense/core/blob/6901b5af8fd26342ee8f5496475b5715f211503f/src/etc/inc/plugins.inc.d/webgui.inc#L236

[2018-04-15 07:39] EugenMayer commented on #2360
Thats odd - tell me what to look for. Activated plugins are:

![image](https://user-images.githubusercontent.com/136934/38776028-67b11512-4090-11e8-8a9e-b0ca672fa1a6.png)

I did never touch the configuration manually. No custom patches installed. Only 1 "non usual plugin", thats the tinccustom one, but its totally off the grid for anything like lighthttpd

---

should that not give me a match at l

[2018-04-15 07:41] fichtner commented on #2360
Do you have HTTPS disabled? Check /var/etc/lighty-webConfigurator.conf

[2018-04-15 07:45] EugenMayer commented on #2360
i have it enabled:

[code]

![image](https://user-images.githubusercontent.com/136934/38776088-a6c1540a-4091-11e8-8a67-e3ca1c6a9d70.png)

[2018-04-15 07:51] fichtner commented on #2360
Looks good. Where do you get that log entry from?

[2018-04-15 08:00] EugenMayer commented on #2360
during the boot, before tty login, displays after the usual kernel logs right after the "starting unbound".

[2018-04-15 08:03] fichtner commented on #2360
Was this a 17.7 right before 18.1.6 was installed?

[2018-04-15 08:07] fichtner commented on #2346
Still not sure what's going on. Given the username does not allow ":" there is nothing wrong with the code:

https://stackoverflow.com/questions/26285094/proper-way-to-curl-authorization-basic-with-a-hash

Looking at the sprintf reveals no double-encoding issues. I'd say be wary of the ":" character in the password. In theory it shouldn't matter, but in a real world setting maybe the server handle

[2018-04-15 08:36] EugenMayer commented on #2360
No it was 18.1.5

[2018-04-15 08:37] fichtner commented on #2360
Was that the box misbehaving as mentioned on Twitter?

[2018-04-15 08:38] EugenMayer commented on #2360
yes the box went crazy once today, hence the upgrade. But it was for sure no "lighthttpd" issues. The box had no connection at all prior the reboot, i had to hard reset it, i could not even connect using the terminal. After that, a lot was not working and i tried the upgrade, that fixed it.

[2018-04-15 08:41] fichtner commented on #2360
It sounds a bit like the box wasn't on 18.1.5, somehow still on 17.7 at least for the part that generates the lighttpd config, because in 17.7.x it would make sense that you're seeing the warning. So the real question is:does this still happen on reboot? :)

[2018-04-15 08:47] EugenMayer commented on #2360
I really doubt that. That box was on 18.1.1/2/3/4/5 ..
And yes it does happen after a reboot - as i had to reboot to 18.1.6 and saw the issue right again.

If you want this issue to be a local, one instance only one, be my guest :) But AFAICS, you will happen to see the consequence of this when you release a OPNsense with 1.4 lighthttpd. The only reason why you never had this one reported is, beca

[2018-04-15 09:39] EugenMayer commented on #2360
[code]

I guess that is what you have been asking for, right? Looks good to me, the tincdcustom file are expected and unrelated

[2018-04-15 09:57] EugenMayer commented on #2360
Well, as written in twitter i was just upgrading the second box, thus had the terminal open... and sorry..

[code]

I should have just copied more lines. Now we both know why its not the core lighty, neither its the captive portal, its ACME challenge. Moving the issue over there - sorry for wasting yours ( and mine ) time on this

[2018-04-15 09:57] #2360 closed

[2018-04-15 09:59] EugenMayer commented on #2360
For reference, moved to https://github.com/opnsense/plugins/issues/649

[2018-04-15 11:34] AdSchellevis commented on #2358
@fichtner are you ok with ditching the validation too?

[2018-04-15 11:38] fichtner commented on #2358
fine by me, but will not look at kernel bugs related to this. it sounds like a protocol violation unless someone shares the details and related FreeBSD code changes.

[2018-04-15 13:38] #2358 closed

[2018-04-15 14:53] AdSchellevis commented on #2348
For reference, the basic idea so far looks like this, we refactor [auth-user.php](https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/openvpn/auth-user.php)

To fetch the authenticator object in [auth-user.php#L115](https://github.com/opnsense/core/blob/18.1.6/src/etc/inc/plugins.inc.d/openvpn/auth-user.php#L115) and then use  getLastAuthProperties() on it when authenticated.

I

[2018-04-15 18:04] finish06 commented on #1941
I am experiencing a similar issue.  Same "Apinger: Exiting on signal 15", however I have no rrd errors showing in the Gatway logs.  How would you recommend I proceed forward?  I have confirmed both gateways work, however the failover from fiber to LTE is not working.  It seems that the default gateway is not being changed.

[2018-04-16 06:37] fichtner commented on #1941
We are about to include dpinger as an alternative to apinger. However, it could be that the error may be a spurious error of an underlying configuration mishap we have not yet found, which means two things: (a) it could be fixed by configuration alone and (b) will not be fixed by merely switching to dpinger.

[2018-04-16 07:06] linuxmail commented on #2356
hi,

seems to be fixed in 18.1.6. I added direct access to the internet because proxy worked only for packages, but not system upgrade (via F12).
OTP works now on both systems  :-)

[2018-04-16 13:41] aroldo-biz commented on #1941
I like the philosophy of the project OPNsense than the Pfsense, but I did not get a stable operation of the Multi-WAN in these last versions tested and several 17.7 to the 18.1.6 and does not work.

Unfortunately after 1 month of testing my deadline is over and I have to leave the OPNsense.

[2018-04-16 13:50] fichtner commented on #1941
I fully understand. :)

[2018-04-16 14:12] linuxmail commented on #2252
hi @fichtner

thanks :-) Is there a configuration file or a doc, what kind of complexity is used ? I mean, I can enable it but I can see (if the password is bad) the rule only on a password change :-)

[2018-04-16 14:17] linuxmail opened #2361 "Password duration: exclude for sync/HA account ?"
hi,

we have enabled the password duration for 90 days. I assume, that it also is active for the sync/HA account. So it would break after -- for example 90 days -- the config / firewall sync to the secondary node. Correct ?

If so, it would be good to exclude the duration option for the username/account, which is used for sync the configuration.

[2018-04-16 18:20] DokuKaefer opened #2362 "Captive Portal: Voucher overview style issue"
Hello everybody

with Firefox (59.0.2) i get the follwoing style issue in the voucher overview when i switch between vouchers. Chorme and IE do not have this effect.

![vouchers](https://user-images.githubusercontent.com/11537653/38827487-5e1e2994-41b3-11e8-926e-1a8af235e200.png)

OPNsense 18.1.6

@fichtner I hope the ticket is okay. :)

Regards
Andreas

[2018-04-16 18:22] fvanroie opened #2363 "Captive Portal: Add Traffic data to Radius Accounting messages"
We are using the Captive Portal in conjunction with an external FreeRADIUS server. I would like to include the session traffic details (bytes_in/out) and IP address in the Radius Accounting messages. This allows for better accounting, usage statistics and reporting on the Radius Server. The data is already stored in the Captive Portal sqlite database, but currently only _Acct-Session-Time_ is bein

[2018-04-16 18:53] fichtner commented on #2362
Hi Andreas,

Thanks for this, I'll try to find it if @AdSchellevis doesn't beat me to it :)

Cheers,
Franco

[2018-04-16 18:54] AdSchellevis commented on #2362
@fichtner almost found it, will fix in a minute

[2018-04-16 19:02] AdSchellevis commented on #2362
@DokuKaefer can you test https://github.com/opnsense/core/commit/c716d2cf1b17f7b4e7d19f7a17f1af743c26dfd1 ?

[2018-04-16 19:03] fichtner commented on #2362
hehe, briljant!

[2018-04-16 19:04] AdSchellevis commented on #2362
:) seems like firefox didn't like the unused grid_clients assignment

[2018-04-16 19:24] borisneubert commented on #1784
Just spent two hours finding out why transparent proxy on IPv6 does not work before I found this issue. Well, reason as stated by @Nimloth is either FreeBSD not capable of IPv6 NAT or Squid not implementing it. So I turned IPv6 transparent proxy off.

[2018-04-16 19:35] DokuKaefer commented on #2362
That was fast. :) It works!
Thanks Ad.

[2018-04-16 19:35] AdSchellevis commented on #2362
your welcome

[2018-04-16 19:35] #2362 closed

[2018-04-16 19:45] fichtner commented on #2362
Will go into 18.1.7, thanks all!

[2018-04-17 05:50] mimugmail opened #2365 "Add custom.inc include to Unbound"
Like in #2268 we should add an empty custom config for unbound.
This could be an easy way to integrate a plugin like pfBlocker without too much user interaction.

Just an idea, not sure how compatible this would be with legacy unbound code and mvc (with new plugin).

[2018-04-17 05:55] mimugmail commented on #2348
I'm also not really sure how to handle existing CSC's because there are some options missing from Radius which might be essential to a working setup like pushing specific networks.

If it's not too complicated I'd just search for ifconfig-push in an existing CSC and replace it, otherwise add it, or lastly create a new CSC.

When not possible there is the limitation that a radius setup can only inh

[2018-04-17 06:04] fichtner commented on #2365
We do have a custom block, it doesn't make any sense to add a file as well?

[2018-04-17 06:04] fichtner commented on #2365
(the advanced block is in config.xml, the extra file will not be)

[2018-04-17 06:11] mimugmail commented on #2365
Is it allowed for a plugin to add entries there?

[2018-04-17 06:26] fichtner commented on #2365
no, this changes the nature of the request and how it useful it is but also means quite a bit of work... why move unbound features to a separate plugin?

we need to talk about which settings you want and why... :)

[2018-04-17 06:29] AdSchellevis commented on #2348
I actually meant the other non user logins, the configured override should be merged with the radius attributes in my opinion. Let me get back to you as soon as I have something functional.

If you have the change, could you test https://github.com/opnsense/core/commit/f50c9266fd71152a4ee80f46a2f8071156e1710f and https://github.com/opnsense/core/commit/017b00ee9b2b9ca1a65c7dd38f3f6c86e987cb72 for

[2018-04-17 06:37] mimugmail commented on #2365
I was just thinking about solution to make ad/malware blocking easier with a plugin.
But half of it depends on DNS / Unbound and an empty config file which is already loaded might make it easier for the UX.

I'm not demanding it, was just an idea, but if it breaks I'm also happy to move this topic :)

[2018-04-17 06:41] fichtner commented on #2365
but what about the people who use dnsmasq?

it brings you back to discussions to use aliases for other things like shaper, routing (a recent request), and dns... I'd say the means are there, but it needs to be carried out. but I don't know if there are hostname-only aliases...

[2018-04-17 06:51] AdSchellevis commented on #2365
It's probably easier to just add imports (a bit like the remote blacklists in squid) for unbound to map zones to localhost, that's what most of these solutions seem todo. Please don't clutter this with the alias system, it will likely increase complexity there and for most scenario's you don't want all these entries in the filter table anyway.

[2018-04-17 07:02] mimugmail commented on #2365
My idea is to load managed hostsfile. For unbound convert it with a script and put it in the custom include.
For dnsmasq you could use the initial host file loaded via:

[code]

I wouldn't manage it via aliases would be a mess when there are more than 1000 :)

[2018-04-17 07:13] AdSchellevis commented on #2365
unbound probably needs some work, but I would keep it in a clean spot there (In the override section?).
Something like a definition which points to an url to include and with a configd call to refresh/reload it.
I don't have the time to really look into the most logic spot for this at the moment.

[2018-04-17 07:38] mimugmail commented on #2365
You don't have to look at it intensively, just a discussion what's possible or not, or makes sense or not.
We can close for now and reopen when there's more time.

[2018-04-17 12:49] mimugmail commented on #2348
A simple test with local user auth worked fine on latest master. Is there some specific to test?

[2018-04-17 12:57] AdSchellevis commented on #2348
The first commit is only about authentication, so that should be good. The second one covers the csc generation. Testing a user with a csc, then remove it and retest should be enough, the contents of the file haven't changed.

Thanks so far anyway :)

[2018-04-17 15:11] fichtner commented on #2186
@JackTrapper yes, you can use a nano image for that, it is read-write after boot and configuration persists

[2018-04-17 15:15] fichtner commented on #2186
(you can even use the nano to install your running configuration afterwards from the console, run "opnsense-installer")

[2018-04-17 20:47] ka2er opened #2366 "since 18.1.6 upgrade weird log message"
Type of log message that appears regulary since last upgrade
[code]
igb1 is my LAN interface on an apu2c4 board.
since these messages appears I'm getting inconsistent network with an overall lag impression.

May I check another log, or check something in order to troubleshoot this ?

Any help appreciated. Thnks

[2018-04-18 04:16] mimugmail commented on #2348
csc creation and login works, but deleting it doesn't remove the file, nor disables it.

[2018-04-18 08:38] mimugmail commented on #2348
@AdSchellevis ok, deletion of the csc doesn't trigger a delete on the filesystem, neither with a restart or openvpn daemon. I have to restart the machine .. but this is also the normal behaviour in stable. So this should be ok.

[2018-04-18 08:50] #2365 closed

[2018-04-18 09:50] AdSchellevis commented on #2348
@mimugmail ok, thanks for testing.

[2018-04-19 03:13] JackTrapper commented on #2186
Ok, the VGA image does not persist settings between reboots; the initial setup wizard starts.

I'll try a nano image tomorrow.

[2018-04-19 09:54] Kimmax opened #2367 "Append version string to resources to enforce reload after updating"
TL;DR:
Add `v=<Version>` to script and style resources to force reload them after updating opnsense, while keeping the caching functionality of browsers intact.

I ran into cache problems after a script was updated and my browser refused to load the new one. While this is not a big problem, it's a known one that can be easily mitigated by appending a `v=<Version>` string to the URL's of said resou

[2018-04-19 11:53] Alphakilo commented on #2267
I'm experiencing the same issue. I have to reboot my OPNsense multiple times (2 - 3x) per day.
mpd5 stops answering LCP Echo Requests and the connection is subsequently terminated:
https://forum.opnsense.org/index.php?topic=7270.msg35642#msg35642

This is reliable reproduceable by forcing a PPPoE reconnect, by either side.

Can I do anything to help you fix this issue?

[2018-04-20 07:32] gertfriend opened #2368 "DynDNS trouble with public IP with Router"
Sometimes the DynDNS Service pushes a private public IP to the DynDNS Service and does not update it if the public IP doesn't change. This happens if there is a router with NAT before the firewall. So if the Router has a LAN-IP of 192.168.0.1 and the OPNsense 192.168.0.10 as WAN-IP the DynDNS-Service will publish the 192.168.0.10 as the WAN-IP and not the public Internet WAN IP.

[2018-04-20 07:37] fichtner commented on #2368
Do you have the system logs for this? It should be impossible to push a private IP according to the code and use of an external IP probing service.

[2018-04-20 07:50] gertfriend commented on #2368
Here the log:

Apr 4 01:11:00 	opnsense: /usr/local/etc/rc.dyndns: Dynamic DNS (xxx.dyndns.provider): No change in my IP address and/or 25 days has not passed. Not updating dynamic DNS entry.
Apr 3 22:22:29 	opnsense: /usr/local/etc/rc.dyndns: Dynamic DNS: (Success) Update successful
Apr 3 22:22:29 	opnsense: /usr/local/etc/rc.dyndns: Dynamic DNS: updating cache file /var/cache/dyndns_wan_xxx.dynd

[2018-04-20 08:00] fichtner commented on #2368
Nice observation, thanks! I don't think this patches correctly on top of 18.1.6, but it's easy to add the line manually as seen in 1547ecc -- confirmation welcome

[2018-04-20 08:29] gertfriend commented on #2368
Thank you for the fast solution and the great work you do.
I'll try to confirm but it's difficult to observe the bug because it happen rarely.

[2018-04-20 08:31] fichtner commented on #2368
Sure thing! Then let's close and ship this in 18.1.7 and if this happens again just ping me, ok? :)

[2018-04-20 09:41] gertfriend commented on #2368
OK. Thanks.

[2018-04-20 09:41] #2368 closed

[2018-04-20 15:41] AdSchellevis commented on #2348
@mimugmail ok, next test, https://github.com/opnsense/core/commit/41cbf22e8e917a890fee93d2a680318b901a347d https://github.com/opnsense/core/commit/a71318907652153c1fd9c48aff771e7371ff3e64 https://github.com/opnsense/core/commit/e2bd521ffa5f6537cc6c27cf45f3c17226e825b8 contains some minor cleanups and integrates the radius properties.

There are some questions left to be handled:

- [ ] How / where

[2018-04-20 18:23] fichtner opened #2369 "ipsec: resolve_retry() is a pre-strongswan remnant?"
I spotted this wile browsing through util.inc ... should we just remove the function and its usage?

[2018-04-20 18:53] mimugmail commented on #2348
I fetched the latest master but it doesn't seem to work:

- Login with Radius user without IP works, received only Pool IP, no CSC files
- Login with Radius user with IP in Radius works, received only Pool IP, no CSC files
- Login with Radius user witn IP/Netmask in Radius works, received only Pool IP, no CSC files
- Login with Radius user witn IP/Netmask in Radius works and created CSC manually,

[2018-04-20 19:14] AdSchellevis commented on #2369
probably, strongswan should reverse lookup by itself in needs testing of dyndns (https://github.com/opnsense/core/blob/18.1.6/src/etc/inc/plugins.inc.d/ipsec.inc#L594) and hostnames as peer address (https://github.com/opnsense/core/blob/18.1.6/src/etc/inc/plugins.inc.d/ipsec.inc#L598)

[2018-04-20 19:26] AdSchellevis commented on #2348
ok, that's weird can you try to add a csc for this user/common_name and see what happens with and without the framed-ip/netmask set?

It should at least write a new file on login then showing the file it created in the log https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/openvpn/auth-user.php#L123

[2018-04-20 19:45] mimugmail commented on #2348
No, I already created a csc without Tunnel Network and with, date of file doesn't change.

[2018-04-20 22:46] JackTrapper commented on #2186
Where are you finding these latest snapshots from? The earlier links are gone.

Is there a place people should be going to find them?

[2018-04-21 07:34] AdSchellevis commented on #2348
ok, I'll have to setup something to test it myself it seems, I'll get back on this.

[2018-04-21 07:40] fichtner commented on #2186
All prior snapshot images are obsolete because of https://forum.opnsense.org/index.php?topic=7987.0 or see our main mirror for direct download https://pkg.opnsense.org/releases/18.1/

[2018-04-22 09:32] binaryanomaly opened #2370 "More specific error message when firmware update fails"
I had the DNS server not exposed on localhost which caused opnsense to not be able to resolve the update URLs. The error message I got was only: "Connection error."

This is not very specific and was not particularly helpful in finding the cause. It would have been better to return something like "DNS resolution failed".

[2018-04-22 10:14] AdSchellevis commented on #2348
@mimugmail I can't seem to replicate your issue, my csc file is always overwritten after authentication.

My log looks like this (relevant bits):
[code]

Settings in my OpenVPN server:

- Server mode : Remote Access ( SSL/TLS + User Auth )
- Backend for authentication :  test_local_radius
- Peer Certificate Authority : test_ca
- Server Certificate : server_cert (test_ca)

And Freeradius config is

[2018-04-22 15:04] mimugmail commented on #2348
No other checkboxes ticked? Like Topology or something?

[2018-04-22 15:14] AdSchellevis commented on #2348
Not really, I've "Address Pool" set, but I doubt that makes a difference in running the auth part

[2018-04-22 15:16] mimugmail commented on #2348
And you test with latest master or stable with patches?

[2018-04-22 15:36] AdSchellevis commented on #2348
hold on, I seem to have an issue too now. the $common_name seems to empty somehow, I'll get back on this.

[2018-04-22 15:49] AdSchellevis commented on #2348
@mimugmail can you try again? using https://github.com/opnsense/core/commit/3c46a4f7ca1e3440f0460300a40461a90c4bad93 as well

Although this shouldn't make a difference when the mode is "SSL/TLS + User Auth"..

[2018-04-22 16:43] AdSchellevis commented on #2369
ok, if I understand the docs correctly on this point, we should be able to ditch it and keep the same behaviour, a name without an @ prefix should resolve to an ipv4 address like it's doing now (https://wiki.strongswan.org/projects/strongswan/wiki/IdentityParsing)

[2018-04-22 16:46] #2369 closed

[2018-04-22 19:10] mimugmail commented on #2348
I dont use SSL/TLS since this would mean I have to create a certificate for the user and use different exports. My goal with Radius is to have ONE config and do the separation only via User/PW. Also since FreeRadius is MVC, user mgmt would be scriptable.

With UserAuth (no SSL) it still doesn't work, but log looks good:

[code]

Via Radius I assigned 192.168.99.222 ...

[2018-04-23 06:34] AdSchellevis commented on #2348
what does your cso look like after connect? (/var/etc/openvpn-csc/1/test)

[2018-04-23 07:11] mimugmail commented on #2348
Hm, I started my test equip today and now it's working :/
csc now looks good, I'll test a bit.

Shall I add Framed-Route option to FreeRadius plugin?

[2018-04-23 07:12] AdSchellevis commented on #2348
sure, I use your plugin to test my end :) Works flawless by the way

[2018-04-23 12:35] shteryana opened #2372 "DHCP client fails to renew IP address on WAN interface link flapping"
DHCP client fails to renew IP address on WAN interface link flapping with Opnsense 18.1.6

The Opnsense system is configured to obtain WAN IP address via DHCP. On link down & link up event on the WAN interface we are observing the following system log and the system remains without IP address on the WAN interface -
[code]

We have been running the following patch for a few days and it seems to res

[2018-04-23 14:05] dieti80 commented on #2269
I repeated the test with the following settings:

* net.link.bridge.pfil_local_phys = 1
* net.link.bridge.pfil_member = 0
* net.link.bridge.pfil_bridge = 1
* Allow all rule on Port 1, Port 2 and Port 3 (this rule would log any traffic)
* Specific allow rules on Bridge and a final allow all rule with logging enabled.

After I enabled "Disable all packet filtering." in the advanced options I could n

[2018-04-23 15:43] fichtner commented on #2372
Weird, but I will take a look. Maybe we can get rid of the output redirect completely.

[2018-04-23 16:18] fichtner commented on #2372
200f92b75 should do the trick, the output of mwexec is always folded (stderr to stdout and used in the error message when the return value is non-zero)

[2018-04-23 16:19] fichtner commented on #2178
Maybe same issue as #2372, has patches attached.

[2018-04-23 16:57] fvanroie commented on #2363
The changes have been committed in #2364 so I'm closing this issue. Thanks!

[2018-04-23 16:58] #2363 closed

[2018-04-24 19:47] mimugmail commented on #2348
Ah yes, Framed-Route is crazy summed in the tester :)
So when Route and v6 works for you (in general) I'd open a PR for a new version.

[2018-04-24 19:48] somova commented on #2267
Your help is highly appreciated. The next steps I like to try when I have some free time:

1. get more reference logs from working installations (for comparison)
2. check whether _LCP echo response_ packets sent out by _mpd32168-lso:b0_ are successfully received by hook _mpd32168-wan:bypass_ (see netgraph above)
3. check the obscure memory allocator within _mpd5_
4. debug the mpd daemon (could be

[2018-04-24 20:06] PitchBendStretch commented on #1931
Hi Franco,

i monitored this issue way to long and it never happened again since 18.1.
Additionally i am currently not able to reproduce this error anymore. I can shutdown and re-enable all VPN Gateways without any more problems. (Currently running VER.18.1.6)
I saw that @MUSHROOMHOME is still facing this issue  at #2241 but for me it's "solved".
You can close this ticket if you want or keep it op

[2018-04-24 21:04] bewue opened #2373 "Possiblity to use the firewall aliases in relevant input fields"
e.g.:
- System: Settings: Logging: "Remote Syslog Servers"
- System: High Availability: Settings: "Synchronize Peer IP"
- VPN: IPsec: Mobile Clients: "Virtual Address Pool"
- VPN: OpenVPN: Servers: "IPv4 Tunnel Network"

...there are much more places.

This feature would be really helpful for a consistent configuration,
because you only have to change a IP a port or a hostname on one place (in the

[2018-04-25 03:52] fake-name opened #2374 "Importing an exported pfsense configuration xml breaks the web-ui."
This might be a dumb issue, but I recently migrated a pfsense box to opnsense, because somehow the pfsense 2.3 -> 2.4 upgrade causes pfsense to no longer see any of the box's network interfaces.

In any event, I had a exported pfsense configuration xml file thing, and I figured it might import into opensense.

I tried doing so, and it resulted in no errors, but also broke both the web-ui and the l

[2018-04-25 06:26] fichtner commented on #2374
Hi there,

The &lt;system/&gt; section is not compatible for a few reasons now, the last one being that passwords are stored in an incompatible fashion nowadays. We used to hold a bit of migration code for older versions, mainly 2.1, but since 2015 2.2, 2.3 and 2.4 have diverged ever more rapidly that any attempt to keep up with it is pointless from our POV.

You can still import several other sec

[2018-04-25 06:27] #2374 closed

[2018-04-25 06:47] fake-name commented on #2374
The problem isn't that it doesn't work, but the fact that importing it **hosed the install**.

[2018-04-25 08:29] gizahNL opened #2375 "Web GUI not starting, due to duplicate IPv6 adresses."
This morning I noticed the webgui is no longer starting automatically.

After some debugging I found out this is due to duplicate IPv6 adresses being inserted into /var/etc/lighty-webConfigurator.conf

My hunch is that this is possibly due to my configuration; where I have a bridge configured with a IPv6 ULA adress and a publicly routable IPv6 adress as alias (any other configuration will break dh

[2018-04-25 08:32] fichtner commented on #2375
Strict binding could cause this, which interfaces have you set for the GUI? In general the strict bindings works until it doesn't.

[2018-04-25 08:43] gizahNL commented on #2375
I've limited the binding to the LAN and WAN interfaces, so bridge0 and pppoe1 respectively.

I would imagine it is doing something wrong in the binding foo and as a result tries to bind twice to the publicly routed ipv6 ip instead of binding to the public ipv6 and the ULA.

[2018-04-25 08:48] fichtner commented on #2375
A quick fix would be to deduplicate the entries to be written, but I'd like to know why this happens first.  Which one is the IP that is written twice?

[2018-04-25 08:54] gizahNL commented on #2375
The one getting duplicated is 2001:984:a1fc:1::1

I've scanned the logfiles and have not seen anything interesting that could indicated as to a cause of duplicating entries.

I could see if I can play around a bit somewhere this week, trying to find out the conditions to reproduce.

For me it is not critical this moment; I can still ssh into the machine when needed and remove duplicate entries wit

[2018-04-25 08:57] fichtner commented on #2375
It's not a duplicate in the ifconfig output you provided, which is odd. But, is that the virtual IP you spoke of which os manually configured?

[2018-04-25 09:01] gizahNL commented on #2375
Yes that one is configured as a virtual IP in the firewall tab. Due to the fact that I want to run a ULA prefix next to my global prefix, which I want to assign using dhcpv6.
So the fdea address (ULA) is assigned on the interface as a static ipv6 like one normally would.
Then the 2001 address (global) is assigned using the virtual IP interface.

[2018-04-25 09:06] fichtner commented on #2375
Thanks for explaining. Try this then:

    # opnsense-patch b2b926d

[2018-04-25 10:42] namezero111111 opened #2376 "Gateway groups and NAT : Incorrect NAT IP used on interface when Shared Forwarding is enabled"
Good morning, I am afraid there may be another issue related to shared forwarding and MultiWAN. The original issue was posted here: https://forum.opnsense.org/index.php?topic=7803.0

Essentially, packets are sent out one interface originating from the IP of another.

The issue occurs regardless of:
1. Source tracking timeout
2. Firewall tracking normal or conservative
3. Whether the NAT IP is CARP

[2018-04-25 10:47] fichtner commented on #2376
no work would be boring :)

let me see how we could debug this further....

[2018-04-25 11:02] namezero111111 commented on #2376
Please don't hate on me for bringing shared forwarding up again :}

This fellow has an issue that could be related, too: https://forum.opnsense.org/index.php?topic=7860

Some notes with less scientific insight that might give some clues:

1. The initial states captured on the wrong source interface (or IP, let's just call them mismatched) appear to always be in the SYN_SENT:CLOSED state (at least

[2018-04-25 15:51] AdSchellevis opened #2377 "IDS/IPS support version check before rule download"
some suppliers offer a version file which can be used to determine if a download of the rules is usefull, like https://rules.emergingthreats.net/open/suricata-4.0/version.txt

[2018-04-27 09:16] jzielke-nli commented on #1646
This is just ridiculous... if you offer an API, tell users how to use it. Argumenting with "either you're a nerd and can reverse engineer or code or the feature won't be usable for you at all" is the most hilarious answer I've read in a while. That's the same like "we won't tell you how all the functions of a car work unless you can decipher it's electronic blueprints".

I was considering opnsense

[2018-04-27 09:25] fichtner commented on #1646
No it's not. You are imposing your need over the needs and time constraints of an open source project. The only solutions are offering time, guidance or work. Ranting, contrary to popular belief, will not fix it. :)

[2018-04-27 10:01] jzielke-nli commented on #1646
@fichtner It's not about my needs but about how the argument of bad documentation is twisted and turned. Being not a primary goal on this project is a reason, but

clearly tells me that some of you guys either love security by obscurity or just live programs without man or --help functionality. Also, publishing the so far available api would lead to quicker bugfixes and suggestions by the communit

[2018-04-27 10:26] fichtner commented on #1646
I really don't know if you're trolling or not. We've written elaborate man pages and docs and if you don't see it that's perfectly fine, but it lessens your argument by an order of magnitude: Picking the example where we lack documentation after having ourselves stated that is true is a perfectly fine way of beating a dead horse.

You could have said you would like to see this progress, maybe even

[2018-04-27 10:34] AdSchellevis commented on #1646
@jzielke-nli  have you actually read all the documentation we've created over the years??? The whole concept is explained from how to build apps to how to build an entire system including lots of manual pages for the tools that we use....

As with with everything in the world.... there is always room for improvement, something like slate to document endpoints would be great to have, but takes time

[2018-04-27 11:33] jzielke-nli commented on #1646
Ok guys let me get this straight:

I have no time nor the intention to troll anyone here.

I've been using pfsense for high productive firewall clusters running for many clients throughout a couple of years now, using complex routings and even written my own provisioning mechanism for virtual IPs. So I think I know the product quite well. So far for the question on reading the docs.

Now when I st

[2018-04-27 11:37] AdSchellevis commented on #1646
huh, I never stated that it's a security expose, nor do I think so.

[2018-04-27 11:37] fichtner commented on #1646
Yes, thank you. I apologise for being as blunt as I have been.

So that's part of @AdSchellevis that seems to cause a bit of stir.

[2018-04-27 11:40] jzielke-nli commented on #1646
Right, thats the point. On the question

The response "not be a good idea for security reasons" kinda seemed very odd.

[2018-04-27 13:46] fabianfrz commented on #1646
Getting a list of available API endpoints with the required parameters is currently not really possible because the information may not exist and it depends on the the installed plugins as all OPNsense specific plugins do work with the API. You will always find the same kind of API calls for CRUD actions. If you need to automate something, you can open the page, open the network tools of Firefox,

[2018-04-27 13:54] EugenMayer commented on #1646
` You will always find the same kind of API calls for CRUD actions. ` that is simply put, not true @fabianfrz .

Neither is the payload similar, nor the output or the responses.

The reasons that there is no REST documentation is, that it is not even REST, and neither a framework has been used to do that. You will not be able to use swagger or anything else. What we have in opnsense is a self made

[2018-04-27 14:05] AdSchellevis commented on #1646
@jzielke-nli I see what you mean, not intended that way. Leaking endpoints to the outside world is usually not a good idea for security reasons, same reason why you don't want your attacker to know which webserver version you're running on a lot of public facing servers.

Being able to collect help from the machine itself with the usual --help option obviously isn't a security concern (our configd

[2018-04-27 14:37] AdSchellevis opened #2379 "Theme / add svg support for logo's"
support and prefer svg format in addition to png for current `default-logo`  and `icon-logo`

[2018-04-27 14:43] AdSchellevis commented on #2379
to install, use:

`opnsense-patch  c1f7d77  057a7ef  ed0f68c
`

[2018-04-27 14:55] fabianfrz commented on #1646
@EugenMayer can you explain?

    You will always find the same kind of API calls for CRUD actions. that is simply put, not true @fabianfrz .

In all plugins, you can find an API call for get/set if you see some grid on it where you can do CRUD actions, you find a search API call, one for get, one for set, one for delete, … - and it is very similar everywhere. I don't want to say you are wrong abo

[2018-04-27 19:53] EugenMayer commented on #1646
Neither there is anything like a "resource", nor VERBs are used at all, rather any "verb" is done using some kind of custom "subresource" like api/myplugin/deleteXXX or api/myplugin/deleteYYY or createYY..update... and so on.

This is complete handmade, there is no consense and neither a pattern nor it matches anything you find out there. This means, you litterally have to reverse-engineer by read

[2018-04-28 07:34] #2379 closed

[2018-04-28 09:39] jzielke-nli commented on #1646
@AdSchellevis Thanks for your detailed explanation. As for the comments on the APi design itself I won't jump in since I don't know much about it's implementation from the codebase side of view.

[2018-04-29 09:30] dzikus commented on #1373
I was have the same issue today on:

OPNsense 18.1.6-amd64
FreeBSD 11.1-RELEASE-p9
OpenSSL 1.0.2o 27 Mar 2018

[2018-04-29 09:36] fichtner commented on #2375
Haven't heard back, but shipping in 18.1.7 due to low impact. :)

[2018-04-29 10:53] #2066 closed

[2018-04-29 10:53] fichtner commented on #2370
I'm going to change it to "Failed to connect to the selected mirror." as it could fail for a number of reasons.

[2018-04-29 10:53] #2370 closed

[2018-04-29 11:04] binaryanomaly commented on #2370
Would it be much effort to return the real error cause?

I'm not sure if just altering the generic error message would help people to more easily identify the underlying root cause? (In my case it was the DNS resolution that failed not a real connection problem.)

Or maybe the message could point/hint to the logs one could consult to find out the real problem (I still have no clue which ones those

[2018-04-29 11:13] fichtner commented on #2370
Define "real error". DNS resolution can fail on typos, suboptimal DNS resolution, IPv6 problems (latent).

We possibly have two errors that are somehow returned by "pkg update -f": DNS resolution failure or connection timeout. Right now we don't see those errors, but that's partly due to the current design.

So the question is not how to show "real errors" but how to help people troubleshoot their

[2018-04-29 11:29] binaryanomaly commented on #2370
Agree it's mostly about giving hints where to look for the problem. What really happened behind the scenes gives clues where to look further...

Imho if a problem occurs in the context of a process/action (ie. an attempt of updating the firmware) it should be displayed in that particular context.

Maybe just changing the super generic error message into something
"check DNS resolution on the OPNse

[2018-04-29 11:35] fichtner commented on #2370
Want to limit the process to pkg-update, pkg-install and pkg-upgrade... pulling in other checks/tests will bloat the code, add spurious checks / slowdowns and other problems in parsing these tool's outputs down the road.

What I can easily do is add a "timeout" error that basically means DNS resolution went through but could not update the repository while trying to connect. If that was IPv4 or IP

[2018-04-29 11:38] fichtner commented on #2370
PS: forcing an unresolvable DNS entry kills most of pkg's defined behaviour making the firmware page more or less unusable. Oh joy. ;)

[2018-04-29 11:45] binaryanomaly commented on #2370
Being able to distinguish between DNS or connectivity issues even only on a high level could indeed already be valuable - that sounds like a good improvement to me.

[2018-04-29 12:25] fichtner commented on #2370
Thanks for your help and discussion! Now I have:
* No address record found for the selected mirror. (breaks check early now)
* Could not authenticate the selected mirror. (breaks check early now)
* The current package configuration is invalid. (breaks check early now)
* Timeout while connecting to the selected mirror. (more or less the previous error)
* An error occurred while connecting to the se

[2018-04-29 12:49] binaryanomaly commented on #2370
Awesome! That'll certainly help people to more easily identify potential root causes of problems.

I thank, good job! 👍🏻

[2018-04-29 12:51] fichtner commented on #2370
Thank you for the report. :)

I don't tknow when this will hit 18.1.x, certainly not the next 1-2 iterations but it will be available before we jump to 18.7.

[2018-04-29 12:55] binaryanomaly commented on #2370
Given that it's not critical but rather an annoyance this makes a lot of sense. Anyway, looking forward to it ;) thx again

[2018-04-29 16:39] AdSchellevis commented on #2348
@mimugmail https://github.com/opnsense/core/commit/6d0b93b856b74a62c1d99c57e9dc15947acefdd6 adds the Framed-route, which seems to function nicely on my end. IPv6 is more difficult it seems, I do receive an attribute 168 (Framed-IPv6-Address), but I can't find how to parse an ipv6 address response in the php library.

If these changes work on your end too, we probably can close this issue.

[2018-04-29 17:03] mimugmail commented on #2348
I'm not sure about Framed V6 Address, that's why I didnt open a PR. Perhaps Framed-IPv6-Prefix is correct.

[2018-04-29 17:03] ypid opened #2380 "NetFlow enable drop down list only shows 10 interfaces"
List of steps to replicate the bug:

1. Create more than 10 interfaces
2. Open /ui/diagnostics/netflow/
3. Try to add new interfaces

Expected: Show all available interfaces
Actual: Only 10 interfaces where NetFlow is currently not enabled are shown

Workaround: Add/enable all interfaces and disable the once you don’t want again.

In all other places I have used before, OPNsense handles a long lis

[2018-04-29 17:12] AdSchellevis commented on #2348
To be honest, I kind of expect your setup to be correct, radtest tells me this:

[code]

Which looks ok as far as I can see, but how to parse the response in pecl-radius.. I don't know.

[2018-04-29 17:46] fichtner commented on #2380
Hi @ypid,

Looks like this is a feature, it only shows 10 interfaces in the drop-down, but the type-ahead should filter what you are looking for.

Cheers,
Franco

[2018-04-29 17:58] fichtner commented on #2366
It's a message from Netmap (IDS IPS mode). 18.1.6 will not cause this, it is likely the load on your server (WAN) side that increases and you are listening on WAN IPS mode, right?

[2018-04-29 18:00] fichtner commented on #2344
Fix was committed as https://svnweb.freebsd.org/base?view=revision&revision=333026 but we need to wait for the MFC to stable/11 before we can pull it as the code surrounding this changed and the backport isn't trivial.

[2018-04-29 18:00] fichtner commented on #2340
I'm assuming that's a yes. :)

[2018-04-29 18:00] #2340 closed

[2018-04-29 18:02] fichtner commented on #2280
This is related to a discussion in https://github.com/opnsense/plugins/issues/622

[2018-04-29 18:05] fichtner commented on #2178
Closing, will ship in 18.1.7. Feel free to reopen or discuss further on #2373.

[2018-04-29 18:05] #2178 closed

[2018-04-29 19:03] fichtner commented on #1929
b78654eb should do it, only need to add a "fallback" help text note and repair whatever the LDAP tester did in the settings page... :)

[2018-04-29 19:09] fichtner commented on #1929
@AdSchellevis would you be ok with merging System: Access: Settings into System: Settings: Administration? it looks like the same place and we also have admin GUI, SSH and integrated auth knobs there.

[2018-04-30 06:04] mimugmail commented on #2348
Probably it doesn't make much sense without prefix-delegation together. I'll test today and send a PR for Radius. Thanks for your help! Nice step forward :)

[2018-04-30 06:46] AdSchellevis commented on #1929
@fichtner yes, that looks more logical indeed.

[2018-04-30 10:01] StrikerTwo opened #2381 "Multi-select broken"
Example: HAProxy -> Public Service
I want to assign a certificate to the public service. The needed certificate is not shown in the dropdown at first (because there are too many), so I have to type some letters in order to filter the dropdown.
If I click on the certificate I want, the input field gets not the certificate name, but the text I searched.

This happens on 18.1.6 both with Chromium and

[2018-04-30 10:11] StrikerTwo commented on #2381
Firefox doesn't work either. Help, I need to add that cert ;)

[2018-04-30 11:43] byazit commented on #1373
@dzikus ... how did you solve it?

[2018-04-30 16:09] StrikerTwo commented on #2381
Workaround: Keep adding certificates until the one you need appears in the dropdown, click on it, then remove all others

[2018-04-30 16:25] ypid commented on #2380
Thanks for your help @fichtner, you are right ;-) I missed that/did not test that because I was used to the drop down list provided in for example /interfaces_groups_edit.php where you have a search field and can select the different interfaces in the drop down list. Would it make sense to only have one drop down list UI style for interfaces?

[2018-04-30 19:28] AdSchellevis commented on #2381
found the culprit, https://github.com/opnsense/core/blame/5fafceada92b79b67bd72b06b9bef8fdc42b56c8/src/opnsense/www/js/jquery.tokenize.js#L156-L159 , although the fix doesn't seem to be complete yet (https://github.com/opnsense/core/commit/a4d77517d6d626e248156b1cc9d95e9f3e9ee307).

[2018-04-30 19:41] fichtner commented on #2381
Hmm, nice catch... it's unchartered what should happen here exactly when the typeahead matches a final element. The original fix was for free form input (IP/network lists), rendering it when users click "save" or "apply", see #1689.

The consistent fix would be to add the tag on blur when it matches the input. But the current version works as well, it forces people to click. Comma trick for adding

[2018-04-30 19:43] #2381 closed

[2018-04-30 19:52] fichtner commented on #2381
no difference in chrome with or without 9a010a9, so either way is fine. thanks!

[2018-05-01 10:30] fichtner commented on #1929
@AdSchellevis another question:

There is a largely unmaintained LDAP connection tester embedded into the old settings page... I don't think it works anymore, mostly because it assumes that the first server is an LDAP server:

https://github.com/opnsense/core/blob/master/src/www/system_usermanager_settings_test.php#L35

The code is triggered via:

https://github.com/opnsense/core/blob/master/src/w

[2018-05-01 11:05] AdSchellevis commented on #1929
@fichtner ok, that doesn't make sense indeed. let's kill it

[2018-05-01 12:56] h-2 commented on #2344
Thanks a lot!

[2018-05-01 13:48] fichtner commented on #1929
@AdSchellevis not sure you like it, but the policy settings made even more sense in the local database server edit... I've added an edit button there and will add back the hide/unhide with a few final tests tomorrow to see if I haven't broken these policy enforcements.

[2018-05-01 13:48] fichtner commented on #1929
Err, see d13da15cb

[2018-05-01 13:58] AdSchellevis commented on #1929
@fichtner I was doubting about this in the first place, but choose the other spot because eventually the authenticator should supply his needs with listConfigOptions(), which would suggest there's a hook and a config section for the local authenticator.... but functional I have no objections with moving the settings (so feel free to proceed).
Fixing all the settings just cost a bit too much time a

[2018-05-01 14:02] fichtner commented on #1929
I agree, it's a bit of a hack now more than before, authservers page is full of do-this-or-that and the worst thing is "Local Database" is a bit of an empty shell for doing all sorts of things for the web GUI mostly, but session timeout is not one of those things... At least from here the policy settings make the most logical sense to not let users trip over "why does it not work?".

I think all t

[2018-05-01 14:09] AdSchellevis commented on #1929
yay :)

[2018-05-01 18:05] gizahNL commented on #2375
Yes the patch fixed the issue, though it seems it still is not correctly using the ULA address (it doesn't create a listening socket for the ULA address)

[2018-05-01 18:10] fichtner commented on #2375
lighttpd doesn't like link-local, probably the same for ULA (prefix fc00::/7)?

[2018-05-01 18:11] fichtner commented on #2375
Long story short, the only thing we can do for now is blacklist the ULA prefix as well.

[2018-05-01 18:11] #2377 closed

[2018-05-01 18:14] gizahNL commented on #2375
No, it seems OPNSense foo is not detecting properly the ULA address ( fdea:8d1c:cac5:1::1), as it is not written into the config file for the WebGui

Not that it truly matters, it seems few are using ULA at this moment, and even fewer (*none*) care about GUI on ULA ;)

[2018-05-01 18:15] fichtner commented on #2375
It's not a VIP, is it? Where would that one come from if not a VIP? (sorry for maybe repeating a question)

[2018-05-01 18:25] fichtner commented on #1929
@AdSchellevis all done here, but more questions regarding the password policy duration and possibly others:

* during login we have the password, but length check is not enforced (my test password was 5 characters while it had 8 characters set), same likely goes for complexity
* add more possible character lengths (minimum is nice, but smaller minimum might be required as it can't be enabled selec

[2018-05-01 18:26] #1929 closed

[2018-05-01 18:32] gizahNL commented on #2375
No, it's configured as a static. The GUA address is configured as a VIP.

That is due to the fact that the DHCPv6 server will only work with the configured IP on the interface; and I want stateless address assignment for the GUA range and statefull address assignment using DHCP for the ULA

[2018-05-01 18:33] AdSchellevis commented on #1929
@fichtner we  could check constraints on login too, maybe that would indeed be better to force the user into a "change password" trap after changing policies. Adding more lengths is probably a good idea too, although I don't think 0 would be necessary (not much use of having a policy when none is needed I guess).

[2018-05-02 08:15] fichtner commented on #2380
We have two, that's true. MVC seems to prefer the tokenizer over the selectpicker. Not sure if @AdSchellevis thinks alignment of use (for the interface selection) would be useful. I guess it could be beneficial to UX to set a guideline.

[2018-05-02 08:30] goor4 commented on #2244
The issue has happened again on Apr 30:
[code]
After that, the link went down and up again, but that event was noch detected by OPNsense 18.1.6-amd64.

So i implemented the following workarount from Thomas-Krenn by disabling EEE (Energy Efficient Ethernet) on all interfaces:
- System -> Settings -> Tunables
- right upper click: <Add a new tunable>
  - Tunable: dev.igb.0.eee_disabled
  - Descriptio

[2018-05-02 08:31] goor4 commented on #2244
Problem appeared again in actual OPNsense 18.1.6-amd64.

[2018-05-02 08:34] fichtner commented on #2244
See https://github.com/opnsense/core/issues/2372 ... you can try:

    # opnsense-patch 07746e3

[2018-05-02 09:01] AdSchellevis commented on #2380
@fichtner Maybe we better change https://github.com/opnsense/core/blob/master/src/opnsense/mvc/app/views/layout_partials/form_input_tr.volt#L60-L62 to show a selectpicker when the list is static and a tokenizer when custom options are allowed, what do you think?

[2018-05-02 10:14] fichtner commented on #2244
Sounds good, thanks! :)

[2018-05-03 07:52] SebastienLeMoal opened #2383 "boot failure with squid"
I left a new image, redo the installation several times, updated ... I still have the same problem.

The startup blocks after:
[code]pf disabled
pf enabled
Firewall rules loaded.
Starting API dispatcher
Install : zone 0
overlay user template package for zone 0
Start : zone 0
Apr 11 09:49:27 lighttpd[16196]: (server.c.1423) server started (lighttpd/1.4.49                                 )
start cap

[2018-05-03 08:39] fichtner commented on #2383
Hi Sebastien,

I'm guessing /usr/local/etc/squid/nobumpsites.acl is empty, but what are the steps to reproduce? This doesn't happen on a fresh image... do you import an existing config and reboot?

[2018-05-03 08:54] fichtner opened #2384 "firmware: installed -devel plugins are not shown on releases?"

[2018-05-03 09:50] AdSchellevis opened #2385 "ACL/UI specify custom landing page"
When the dashboard isn't reachable for the user, we now goto the first accessible page using the order in the assigned acl's.
This option should provide a user configurable landing page after login.

[2018-05-03 12:17] SebastienLeMoal commented on #2383
Hi Franco,

I leave a fresh installation, I configure everything without importing anything,
I always have the same problem.

here is the step-by-step procedure of my configuration.

[Captive.portal.and.web proxy.Wiki.pdf](https://github.com/opnsense/core/files/1970771/Captive.portal.and.web.proxy.Wiki.pdf)

[2018-05-03 15:42] #1741 closed

[2018-05-03 15:44] fichtner commented on #2155
@theq86 18.1.7 replaced dhcp6c and a race condition in dhcp6c daemon creation. Does that make any difference here?

[2018-05-03 15:46] fichtner commented on #1571
I don't think we need this. We've been through a few hoops in this regard and it works ok as is.

[2018-05-03 15:46] #1571 closed

[2018-05-03 15:50] #2352 closed

[2018-05-03 15:50] fichtner commented on #2352
(shipped a permanent fixup in 18.1.7)

[2018-05-03 15:51] fichtner commented on #2372
Shipped in 18.1.7.

[2018-05-03 15:52] fichtner commented on #2244
Patch is included in 18.1.7, but needs a reboot to apply in your case.

[2018-05-03 15:54] fichtner commented on #2375
@gizahNL do you want to bind fdea:8d1c:cac5:1::1 or fdea:8d1c:cac5::1 ?

[2018-05-03 15:58] fichtner commented on #2375
I'm assuming 2001:984:a1fc:1::1 is properly written? It could be the issue where we only read one IP from the interface.

[2018-05-03 17:08] gizahNL commented on #2375
cat /var/etc/lighty-webConfigurator.conf

[code]

we have a winner ;)

[2018-05-03 17:48] fichtner commented on #2375
Okay, I'll ship this in 18.1.8. Sorry for being braindead on this occasionally. :)

[2018-05-03 19:28] alesnav commented on #1571
Hmmm and how can we set a dyndns linked to one external IP address not directly associated with an interface? Sorry, maybe I just don't know how to get it done.

[2018-05-03 19:42] fichtner commented on #1571
I'm not sure about the question or how the proposed solution in this ticket helps with that?

[2018-05-03 20:32] FlorianHeigl commented on #910
I've been looking into this (or #2238) today, since it also blocks the firewall to serve as a dhcp server in a vlan setup with L3 core switches doing DHCP relay (since you just can't enter or generate the no-brainer lines for the subnet definitions)

For what it's worth, the story goes back to _at least_ the year 2006, when the first patches for pfSense had been submitted to support working behind

[2018-05-03 21:14] fvanroie commented on #1646
OK, so I played around with the opnsense-sphinx-docker and got some start on the [API list documentation](https://github.com/fvanroie/opnsense_docs/tree/master/source/development/how-tos). Now, what is the best format to represent all of this data? I'm hoping to get the page(s) auto-generated in bulk since I have a lot of the data already. Do you just want a plain big list? Maybe sorted by categor

[2018-05-03 21:21] fichtner opened #2386 "rc: zfs boot awareness"
due to popular demand....

- [x] zfs rc.loader magic and loader.conf glue
- [x] zfs read-write via "mount -uw /"
- [x] zfs_enable="YES" emulation (GUI is unstable: 503 - Service Not Available)

encouragement...

<img width="567" alt="screen shot 2018-05-03 at 11 51 59 pm" src="https://user-images.githubusercontent.com/1915288/39604584-127fcaf6-4f2d-11e8-9555-1ffbd6fa216d.png">

[2018-05-03 21:35] FlorianHeigl commented on #2238
I had to read this like 10 times, but I think the last post is in fact a solution.

[2018-05-03 23:12] #2386 closed

[2018-05-04 07:03] goor4 commented on #2244
ok, then I flip it:
1. I deleted tunables dev.igb.0.eee_disabled etc.
2. I upgraded to 18.1.7 (including opnsense-patch 07746e3) & rebooted

If the problem occours again, I will disable EEE again and report it here.

[2018-05-04 07:06] fichtner commented on #2244
thanks 👍

[2018-05-04 07:25] #2380 closed

[2018-05-04 09:03] gizahNL commented on #2375
Braindead was my mantra for the whole past week... ;)

BTW I also notice my dhcpv6 daemon breaking (it was working fine on previous versions before).

I notice that it is complaining about the range being in the wrong subnet. Could it be that it is internally using the GUA address configured as a VIP address while calling back to the user in the interface as if it is using the ULA address?

[2018-05-04 09:05] fichtner commented on #2375
I think so, we can't support non-attached ranges yet, see #910

[2018-05-04 09:26] gizahNL commented on #2375
Though technically it only needs to serve one range, and ignore the other configured range on the interface ;)

The normal stanza would be something like this:
range A { subnet declarations, start end etc. }
range B { (empty, DHCP server is made aware of range , but doesn't serve this range) }

While not full multi-subnet support it would prevent breakage in cases where multiple subnets are config

[2018-05-04 09:31] DasTestament opened #2388 "Static routes are not added after router reboot"
Hello,

I have a GIF tunnel and a few static routes on it. Sadly enough, they are not added after router reboot.

Steps to rep:
1. OPNsense 18.1.7 box
2. Create GIF tun
3. Add some static routes on GIF tun
4. Reboot

[2018-05-04 09:35] fichtner commented on #2375
the trouble so far is that it needs a subnet configuration prior to giving out a range and that is incompatible with how subnet configuration is read and written in the dhcpv6 implementation (it expects to use the one from the interface because you can't create arbitrary subnets in the dhcpv6 pages)

[2018-05-04 09:41] Kali- opened #2389 "HAproxy combos empty"
After upgrade from 18.1.6 to .7 the combo which get selection from other entry are unavailable.
"Select Rules" and "Default Backend Pool" on Public and Servers on Backend Pool only show "none" as possible selection.
As nothing is changed on haproxy plugins i guess is bug in core.

[2018-05-04 09:43] gizahNL commented on #910
I think a simple approach could be to:
-have a master DHCP page to configure on what interfaces it listens.
-then instead of detecting interfaces we do now, and labeling them as interfaces we should be detecting subnets per listening interface, so subnet pages would replace interface pages.

The logic should write a subnet declaration at least for every subnet on the interfaces it listens on, and

[2018-05-04 09:45] gizahNL commented on #2375
Yes I see.

If I end up having some spare time I might be able to look into it, see if there is a simple fix possible.

[2018-05-04 09:48] fichtner commented on #910
Fair points, but I would ask anyone with the vision to do this to submit at least a POC as a base for discussion. Some topics drag on forever, mainly because people think they are easily solved while it actually takes considerable work and time active contributors do not have to fix use cases that are not in their immediate work scope.

[2018-05-04 09:51] fichtner commented on #2375
Thanks, that would be terrific. ❤️

[2018-05-04 10:14] fichtner opened #2390 "system: password policy brush-up"
As discussed in #1929:

* during login we have the password, but length check is not enforced (my test password was 5 characters while it had 8 characters set), same likely goes for complexity
* add more possible character lengths (minimum is nice, but smaller minimum might be required as it can't be disabled selectively)

[2018-05-04 10:27] gizahNL commented on #2375
Hmmm, now that we are on this topic, radvd.conf foo also seems to be off ;)

As you may see opt3 and opt2 get done correctly while bridge0 gets double GUA adresses assigned in the config...

[2018-05-04 12:39] dimitrijp opened #2391 "WAN pppoe status time format"
I noticed under pppoe WAN interface status, that up-time is always in hour format? This of course has no impact in functionality,..but is there any special reason to have it in this format only ? and not day:hour:minute
Maybe, if its easier to implement just "Connected Since: date time"

![wanuptime](https://user-images.githubusercontent.com/32590776/39628105-44adad2e-4fa8-11e8-8d5f-030253f77b4e.j

[2018-05-04 12:51] FlorianHeigl commented on #910
TBH: This has already cost me all the time I could have spent this year to work on OPNsense (i.e. making a check_mk package. And it was for nothing.

[2018-05-04 13:25] fitcfitcfatc opened #2392 "Possibility to place firewall rules before NAT rules"
e.g. for floating rules via a checkbox in the rule settings?

...or another way to log incoming pakets independent from NAT.

[2018-05-04 13:36] fichtner commented on #910
Sure, I can relate.

[2018-05-04 14:56] Kali- commented on #2389
this fix the issue

[2018-05-04 14:56] AdSchellevis commented on #2389
@Kali- thanks for confirming!

[2018-05-04 16:46] AdSchellevis commented on #2385
easiest to test/confirm using opnsense-patch on 18.1.6 or 18.1.7 using:

`opnsense-patch b5b7dce  36f1a3d  62ed663`

[2018-05-04 19:25] abplfab opened #2393 "eMail notification for firmware update / cronjob"
Would be nice to get a (mail) notificatoin after a firmware update was run via cron.

[2018-05-05 08:40] liorokman opened #2394 "Support "track interface" for IPv6 on LAN against an SLAAC configured WAN"
My ISP ( 018.net.il ) provides native IPv6 support. The only stable way I could configure this was to select "SLAAC" on the WAN interface in the UI. Unfortunately for me, this means that I can't use "Track Interface" in the LAN configuration, since the Track Interface UI section doesn't support tracking interfaces which were configured via SLAAC.

I messed around the OPNSense configuration directl

[2018-05-05 09:45] fichtner commented on #2336
RDNSS should be fixed via 94df5fb:

    # opnsense-patch 94df5fb

Cheers,
Franco

[2018-05-05 09:58] fichtner commented on #2336
Where is a reference to IPv4-only code 95 and 119 ?

[2018-05-05 10:07] fichtner commented on #2336
Doesn't domain-search-list collide with dhcp6.domain-search and we should use to set the former domain-search-list servers as dhcp6.domain-search if set or use the domain name like DNSSL?

[2018-05-05 15:41] fichtner commented on #2375
Ok, same issue :)

[2018-05-05 22:47] fvanroie commented on #1646
I have created PR opnsense/docs#24 with a proposal for the API reference.

[2018-05-06 01:27] maurice-w commented on #2336
Hi Franco,

Thanks for looking into this. RDNSS and DNSSL seem to be solid now! I can't reproduce the bugs after applying the patches.

Regarding DHCP options: "LDAP" (95) and "Domain Search" (119) can be found in IANA's DHCPv4 options list: https://www.iana.org/assignments/bootp-dhcp-parameters
For DHCPv6, the options are completely different. 95 is "OPTION_S46_CONT_MAPT" and 119 is "OPTION_F_DNS

[2018-05-06 09:34] fichtner commented on #2336
Now for the complicated part: "Domain search list" exists in the services_dhcpv6.php page, should this not be merged with the domain-name -> dhcp6.domain-search transition and follow a similar DNSSL logic: system domain if no custom servers defined?

And for services_dhcpv6_edit.php do we also want "Domain search list" ?

[2018-05-06 11:02] somova commented on #2267
As already mentioned my ISP sends LCP echo request every 10 seconds and terminates the ppp/pppoe session after three unanswered packets. Since the ISP does not receive LCP echo replies my opnsense enters an infinite reconnection loop until I reboot the system. The cause is a timing issue in OpnSense (mpd daemon in conjunction with scripts) which affects all users applying to pppoe dialin in OpnSen

[2018-05-06 11:06] fichtner commented on #2267
@somova thanks for this analysis, we can try a thing or two with this info :)

[2018-05-06 11:13] somova commented on #2267
@fichtner: thanks for the fast reply. Currently I am testing a dirty work around as short term solution (see here: [https://forum.opnsense.org/index.php?topic=7270.msg38246#msg38246](url))

[2018-05-06 11:34] fichtner commented on #2267
@somova I was thinking something similar, but needed to check the code first to see if this was a very early regression when we removed pfSctl, but it does not seem so. How about a54cf79 (untested, extra branch for now).

[2018-05-06 13:44] somova commented on #2267
@fichtner: I applied the patch, the ppp-linkup works fine after reboot. But after initiating a reconnect I don't have internet access anymore. It seems that not all necessary services are restarted and the default routes are not setup properly.

**Log after reboot (excerpt):**
May 6 15:28:46 	opnsense: /usr/local/etc/rc.bootup: Dynamic DNS: (Success) IP Address Updated Successfully!
May 6 15:28:46

[2018-05-06 13:56] fichtner commented on #2267
looks like ppp-linkup is started but pppoe0 is not configured? oO

[2018-05-06 21:31] fichtner commented on #2394
hi @liorokman,

Assuming em0 is LAN, is there any documentation on the prefix of 2000::/64 available? I'm not sure if this is ISP agnostic.

Also what does your WAN and LAN IPv6 look like (obscured, doesn't have to be correct but just to get the hint), also part of 200:: ?

[2018-05-06 21:33] fichtner commented on #2267
@somova could you also post the interfaces: ppp: log file output ?

[2018-05-06 21:43] fichtner commented on #2267
@somova and one more question... when the manual reconnect is done, will this fix it?

    # configctl newip pppoe0

It looks like there is something wrong with the config.xml ... reading this pppoe0 is on top of ix0_vlan7 is on top of ix0 ? where would a static IP of 192.168.100.2 come from if not from the config.xml ?!

[2018-05-06 21:49] #2375 closed

[2018-05-06 21:50] fichtner commented on #2375
This one is easy:

    # opnsense-patch 734e6f4

Cheers,
Franco

[2018-05-06 21:51] fichtner commented on #2388
@DasTestament do you have a system log for this, maybe the routes are added before the tunnels are up?

[2018-05-06 22:32] fichtner commented on #2394
Hi Lior,

Aha, pretty cool! That sounds like it can be integrated without large effort. :)

Does this also work for a separate attached LAN network? Like if you had a em2 added to that config as well? Im trying to understand if there is some dynamic to how Prefix IDs are used in DHCPv6 mode or if we can simply track from as many interfaces as we want without further configuration.

Cheers,
Franco

[2018-05-06 22:34] brandonmreeves opened #2395 "Cron Question - Support"
Just a question here

We would like to add some custom cron entries so that jobs run for the plugins we are creating. Where would be the best place to put these new cron entries so updates do not remove them.

Thanks for the amazing product.

[2018-05-06 22:42] fichtner commented on #2395
hey @brandonmreeves, should all be here https://docs.opnsense.org/development/backend/configd.html :)

[2018-05-06 22:43] fichtner commented on #2395
No way... something missing: when you fill "description" it'll show up in the cron GUI as a selectable job. Looks like this is not yet documented.

Cheers,
Franco

[2018-05-06 22:45] fichtner commented on #2395
Okay, better https://github.com/opnsense/docs/commit/5dc0e7a6

[2018-05-06 22:47] fichtner commented on #2384
Works as expected, must have manually installed packages using "make install"

[2018-05-06 22:47] #2384 closed

[2018-05-07 05:36] liorokman commented on #2394
Hi Franco,

Sorry, I have no idea about what would happen if there were an additional separate LAN. I don't have that kind of setup in order to test it.

--
Lior

[2018-05-07 06:31] fichtner commented on #2394
Hi Lior,

You can try this patch on top of 18.1.7:

     # opnsense-patch 53994b09

It allows you to track WAN fron LAN even for SLAAC, and writes 2000::/64 prefix with Base6Interface. The actual Base6Interface could be wrong, but step by step. :)

Cheers,
Franco

[2018-05-07 08:25] fichtner opened #2396 "system: dpinger post-merge work"
Was initially merged in #2326

- [x] gateway monitoring setting to firewall: settings: advanced
- [x] reload gateway monitor(s) immediately after preference save
- [x] proper start using dpinger binary ;)
- [x] investigate hang in service start
- [x] remove pidfile/socket name magic
- [x] testing apinger (RRD even when newly generated after a switch works fine)
- [x] testing dpinger (daemon works

[2018-05-07 09:15] dzikus commented on #1373
@byazit by disabling cert revocation.

It was my fault because of "Next Update" in crl was expired.

[2018-05-07 11:00] liorokman commented on #2394
``/var/etc/radvd.conf`` is generated with the correct 2000::/64 and a Base6Interface.

However the actual interface is wrong - the file references **em1** instead of **pppoe0**

Here's the file that was generated (slightly redacted):
[code]

[2018-05-07 11:02] fichtner commented on #2394
@liorokman okay, this is kind of what I expected. Two questions here:

1. When you change Base6Interface to pppoe0 and reload radvd, does it work?
2. When you use SLAAC on WAN, do you get an IPv6 address?

I'm hoping you will say "yes" and "no", respectively. If that's true I know what to do to fix both. :)

[2018-05-07 11:18] liorokman commented on #2394
1. No, it doesn't. The difference seems to be that before this patch the LAN interface (em0) had its own IPv6 address, but no it doesn't anymore.
2. Yes it does. I can ``ping -6 google.com`` just fine from the opnsense CLI.

[2018-05-07 11:30] liorokman commented on #2394
I can get a working ipv6 configuration if I do the following:

1. Change the LAN interface ipv6 configuration to "Track Interface" and track the WAN interface
2. Copy the /var/etc/radvd.conf aside and fix it so that the Base6Interface is **pppoe0**
3. Change the LAN interface ipv6 configuration back to SLAAC
4. Copy the fixed radvd.conf from (2) back to /var/etc
5. Restart radvd

The change was to

[2018-05-07 11:34] fichtner commented on #2394
Hmm, hold on...let me rephrase the question to avoid confusion. Do you have 2000:: address on your WAN using SLAAC under any of these circumstances?

The point is that PPPoE is special that's why this mismatch happens with em0 and pppoe0 and there is no particular mode for SLAAC in place to allow it on top of a PPPoE yet.

[2018-05-07 11:44] StrikerTwo opened #2397 "Use specific interface for outgoing traffic"
I have several hosted servers at https://hetzner.com. They recently changed their security model so that every outgoing packet has to have the correct IP address and corresponding MAC address. This leads to problems with OPNsense, maybe somebody here has a clever idea. This maybe isn't even a OPNsense problem, but a BSD one.

Example:
I have an OPNsense VM with two public IP addresses. Hetzner req

[2018-05-07 11:45] liorokman commented on #2394
With the Base6Interface set to **em1** I have an invalid ``2000::/64`` address configured on my internal LAN.  I think this happens because **em1** doesn't have a valid ipv6 address, so the Base6Interface directive merging doesn't work correctly.

If I change the Base6Interface to **pppoe0**, which has the correct SLAAC configured external ipv6 address, the router advertisements on my LAN become c

[2018-05-07 11:53] liorokman commented on #2394
In all of the above, the WAN interface itself doesn't have a 2000:: address. **pppoe0** is always configured correctly with the range that my ISP advertised, while **em1** has no ipv6 configuration.

[2018-05-07 12:34] liorokman commented on #2394
Nearly there.

1. The **radvd.conf** file is now generated correctly, however the **LAN** interface doesn't get an IPv6 address yet. I think that the reason is that the **LAN** interface must be set to autoconfigure itself via SLAAC when it is tracking a SLAAC interface. "Track Interface" should on the LAN interface should both generate the **radvd.conf** file, and configure the LAN interface to S

[2018-05-07 12:36] fichtner commented on #2394
Yay! Yes, tracking WAN SLAAC from LAN does not yet correctly set LAN SLAAC yet.

Does your WAN also receive an IPv6 now?

Sorry about the reject, there are a couple of differences between the development version and 18.1.7 now.

[2018-05-07 12:37] mimugmail commented on #2396
When you have a probe interval set on gateway like 1s you'll receive an error when editing the gateway: The probe interval needs to be less than the default down time setting (0)

[2018-05-07 12:42] liorokman commented on #2394
Other than the LAN SLAAC configuration - everything seems to be configured correctly at this point.

IPv6 works from the OPNSense host itself.

[code]

[2018-05-07 14:41] liorokman commented on #2394
Sure.
ifconfig em0 inet6 accept_rtadv

Here's ``dhcp6_lan.conf``:
[code]
Here's ``dhcp6_wan.conf``:
[code]

[2018-05-07 14:42] liorokman commented on #2394
When I manually run the following command, everything starts working:
[code]

[2018-05-07 15:04] fichtner commented on #2394
@liorokman thanks, this next patch adds SLAAC tracking, basically just adding accept_rtadv as requested:

    # opnsense-patch 148056cd

Not sure if this is all just yet. In any case thank you for your help! :)

Cheers,
Franco

[2018-05-07 15:09] liorokman commented on #2394
Applied, and seems to work across interface restarts.

I'll reboot the opnsense host later this evening, to see if it also works after a full reboot.

Thanks very much for this feature, and especially for your rapid response to my feature request!!!

--
Lior

[2018-05-07 15:14] fichtner commented on #2394
Sounds good. Fingers crossed. :)

[2018-05-07 18:03] liorokman commented on #2394
After a reboot there were a few issues:
1. There's a race condition between the radvd daemon startup and the pppoe connection. Radvd is started up before the ppp connection is established, leading to the ``2000::/64`` subnet advertised for a few seconds. Since the default value for ``AdvPreferredLifetime`` is 14400 seconds (4 hours), it means that any host which autoconfigures with the initial  ``

[2018-05-07 18:58] somova commented on #2267
Due to problems with the patch I switched back to my work around. But this morning again no internet connection :cry:. The process list contained some hanging python processes which looked like remains from yesterday's tests.

root    47440 100.0  0.1   43644 10004  -  Rs   15:32   860:46.39 /usr/local/bin/python2.7 /usr/local/opnsense/service/configd_ctl.py -m 'dns reload' 'interface newip pppoe0

[2018-05-07 19:14] somova commented on #2267
Ok, I will test the patch again and post the results.

1. The pppoe0 is on top of ix0
2. The ix0_vlan7 is on top of ix0 (This one was only for testing purposes with fritzbox but not in use anymore).

The static ip on ix0 is for the IP related communication with my fritzbox 7412 (192.168.100.1). This box is not configured as a real bridge modem but forwards incoming pppoe packets to the DSL interfa

[2018-05-07 19:27] somova commented on #2267
After applying the patch again and performing a reconnect the two spawned daemon processes (one for IPv6 and IPv4) hang with 100 percent cpu load.

root    94073 100.0  0.1   43644 10012  -  Rs   21:21      3:00.70 /usr/local/bin/python2.7 /usr/local/opnsense/service/configd_ctl.py -m 'dns reload' 'interface newip pppoe0'
root    97704 100.0  0.1   43644 10008  -  Rs   21:21      3:00.65 /usr/loca

[2018-05-07 19:29] theq86 commented on #2155
@fichtner
I just upgraded to 18.1.7 and will have a look on that. I was busy so no pre-testing was possible. I will report back in a few days. :-)

[2018-05-08 05:45] fichtner commented on #2394
1. and 2. should be fixed via 25381c0

    # opnsense-patch 25381c0

3. Assuming you mean RDNSS this can only be caused by having Unbound or Dnsmasq enabled in the system?

[2018-05-08 06:43] liorokman commented on #2394
(1) and (2):  I've applied the patch and will test it later today
(3) : Yes, I have both Dnsmasq and the OpenDNS service enabled in the system.

[2018-05-08 06:47] fichtner commented on #2394
Hmm, for all intents and purposes Dnsmasq should use the OpenDNS servers as forwarders if you have "Allow DNS server list to be overridden by DHCP/PPP on WAN" disabled under System: Settings: General. The system does that because if it doesn't one could not use the Dnsmasq overrides for clients.

[2018-05-08 07:03] liorokman commented on #2394
I see your point.

In this case, then the problem is that Dnsmasq isn't responding on the ipv6 address to queries that originate from outside of the opnsense host. I can see in the netstat output that it is listening on port 53, and it even responds if I run a ``host`` lookup from the opnsense host itself

I also verified that the request reaches the opnsense host via tcpdump. Maybe dnsmasq needs

[2018-05-08 07:05] mimugmail opened #2398 "FR: Add dstAddress field to Details tab in Insight"
Hi,

would it be a big problem to add a dstAddress field to the Details tab?
Would make it search to troubleshoot some malicious outbound traffic.

Thanks!

[2018-05-08 07:07] fichtner commented on #2394
Could be. Does it help when you manually restart it?

[code]

[2018-05-08 07:11] fichtner commented on #2394
Make sure that "Interfaces" under Services: Dnsmasq: Settings is not set to anything other than "All".

[2018-05-08 07:16] liorokman commented on #2394
I've verified that the Interfaces option is set to "All", and that according to ``netstat`` the listening socket is on ``udp6  *.53``.

Restarting Dnsmasq with ``pluginctl dns`` didn't help.

Maybe this problem is for a different issue though - for now it's not that critical, since Dnsmasq is responding on ipv4, and resolving IPv6 lookups via the IPv4 socket.

[2018-05-08 07:25] fichtner commented on #2394
Okay, happy to look at this after this ticket scope is resolved. :)

[2018-05-08 10:53] AdSchellevis commented on #2398
@mimugmail probably not, I'll add it on my list

[2018-05-08 11:48] marjohn56 commented on #2396
Not sure why your RRD is not working,,, mine is.

[2018-05-08 12:01] fichtner commented on #2396
Also not sure. Tested apinger RRD overnight for double-checking, that works fine and both RRD graph switch ok. So hopefully tomorrow will see what might go wrong or if it works as is. :)

[2018-05-08 12:11] marjohn56 commented on #2396
There was a bug in the RRD script creation, but I posted a fix for that before you pulled it. The zip file I posted for 18.1.7 is working fine on a couple of live systems. I am running it on 18.7.b_97 live. I had to do a couple of fixes to it as the STDev was not being displayed and monit needed adjusting due to the name changes of the *PID's etc. Other than that it appears to be working fine

[2018-05-08 12:38] fichtner commented on #2396
Found it... commit in a sec.

[2018-05-08 12:58] marjohn56 commented on #2396
Cool.

Can you commit the config change in misc, that will allow me to quickly switch back and forth,

[2018-05-08 13:00] fichtner commented on #2396
It's now under Firewall: Settings: Advanced with the other gateway monitoring settings. It deleted the stale RRD quality database, restarts with the new monitoring service and restarts the RRD subsystem as you would expect. :)

[2018-05-08 13:02] fichtner commented on #2396
See https://github.com/opnsense/core/blob/master/src/www/system_advanced_firewall.php#L234-L238

[2018-05-08 13:04] marjohn56 commented on #2396
Ahah!! There it is... OK, switching back to Apinger works, Now I need to wait around 20 minutes for the data to build to see if it's OK with dpinger.

[2018-05-08 13:05] fichtner commented on #2396
It's good for me now with the stddev in the graph and dpinger... previously it would not render anything :)

[2018-05-08 13:26] marjohn56 commented on #2396
Another box to tick then. stddev in webgui?  That just needs the widget stuff imported, gateway.inc, gateways_widget.php. system, gateways.php and gateways_edit.php , Just imported into mine and looks good.

[2018-05-08 13:40] fichtner commented on #2396
Sure, shall we close #2326 and you create a new one for STDDEV additions? I am a bit split on when/where to show it and whether we should show it unconditionally or not. Also, the wording was inconsistent so I removed the bits from your latest proposal just so we don't forget to look at it in detail.

[2018-05-08 13:44] marjohn56 commented on #2396
Can do. I guess we could make STDEV only display if dpinger was in use.

[2018-05-08 14:59] liorokman commented on #2394
I just rebooted the opnsense host. There was one unexpected thing, and that is that the radvd.conf file didn't have ``2000::/64`` as the defined route, but instead it had the SLAAC configured IP defined.

It looked like this:
[code]

While I was expecting this:

[code]

The problem here is that if the ``pppoe`` connection drops for any reason, then when the connection restarts the SLAAC configured

[2018-05-08 16:45] AdSchellevis commented on #2398
@mimugmail here you are https://github.com/opnsense/core/commit/fcda7cd9eee0f32d6a699384790bbb7e04793263

[2018-05-08 16:45] #2398 closed

[2018-05-08 16:48] sjorge opened #2400 "[18.7.b_65] Spelling error in monit page"
In the help label for adding a service of type **process**:

The stop skript of the service.
and
The start skript of the service.

[2018-05-08 16:53] AdSchellevis commented on #2400
@sjorge thanks!

[2018-05-08 16:54] sjorge commented on #2400
And fixed already! Looks like I am hitting more errors with the bundled monit though. I submitted the reports via the UI.

[2018-05-08 16:54] #2400 closed

[2018-05-08 17:07] marjohn56 commented on #2396
update to b_105 ... Looking good. :)

[2018-05-08 19:32] fichtner commented on #2396
Indeed, brilliant work you did there, thanks again!

Last bits are merging setup_dpinger_gateways_monitor() into setup_gateways_monitor() to get rid of the code duplication. And that bug that Michael found, but maybe it's not a dpinger issue.

Maybe we can even ship this in 18.1.9 or 18.1.10 .... if the diff is clean enough. :)

[2018-05-09 05:29] liorokman commented on #2394
Could you please merge https://github.com/opnsense/core/pull/2401 ? I think it would fix the radvd.conf generation issue I saw.

[2018-05-09 05:52] fichtner commented on #2394
Whoopsie, your are right. Thanks!

[2018-05-09 06:09] fichtner commented on #2394
slightly modified the fix to merge the two conditionals into one for clarity: https://github.com/opnsense/core/commit/a6db9d

[2018-05-09 07:26] fichtner commented on #2396
@marjohn56 would you mind looking into the TODO "src/www/widgets/api/plugins/gateway.inc: "stdev" usage, but where is it set" ? I am not available in the next few days

[2018-05-09 07:26] fichtner commented on #2396
@mimugmail fixed your report via 726449b2ff8

[2018-05-09 07:31] mimugmail commented on #2396
yep, works 👍

[2018-05-09 07:41] marjohn56 commented on #2396
@fichtner I'll take a look. Will be tomorrow as real work calls today. Looked at the gateway_edit last night, think we must expand this to give full settings for dpinger at some point.

[2018-05-09 07:44] fichtner commented on #2396
@marjohn56 sure, can clean this up when we ditch apinger post 18.7 ;)

[2018-05-09 20:50] marjohn56 commented on #2396
stdev is returned from from the function return_gateways_status() in gwlib.inc.

Line 463,

[2018-05-10 06:02] theq86 commented on #2155
I deactivated the reboot cron. for 2 days now everything is working fine including ipv6.
However, I forgot to reactivate the periodic interface reset at 4 o' clock. I did it now and will report back. but so far so good

[2018-05-11 05:42] theq86 commented on #2155
okay, tested for four days now. the issue is resolved.

[2018-05-11 05:42] #2155 closed

[2018-05-11 05:54] fichtner commented on #2155
Thanks, great to hear. So 18.1.6 did not work but 18.1.7 does? In that case it was likely the SUGHUP addition for dhcp6c that prevents spawning of new processes which lock each other out. 😊

[2018-05-11 08:56] #2385 closed

[2018-05-11 08:58] AdSchellevis commented on #2348
@mimugmail can we close this issue?

[2018-05-11 09:26] mimugmail commented on #2348
@AdSchellevis Have you verfied what happens to existing CSC's?
I could test this after business hours at a customer site already using P2P OpenVPN with CSC.

[2018-05-11 09:28] mimugmail commented on #2396
@marjohn56 yep seems ok

Have you tested with multiwan? On my testbed I plugged out one modem resulting in no default gateway at all. Perhaps there's still some work to do :/

[2018-05-11 09:47] dtavb opened #2402 "Telegraf plugin - graphite "insecure_skip_verify""
Hi,

after configuration of telegram plugin and output to graphite, no output is sent because of unsecure traffic between opnsense and graphite node.
the value for this is automatically set in background by the opnsense webGUI.

/usr/local/etc/telegraf.conf:
insecure_skip_verify = true

after changing this to "insecure_skip_verify = false" the telegraf plugin is working.

my issue is: after reboot

[2018-05-11 10:07] mimugmail commented on #2348
@AdSchellevis ok, customer was not in the office, all tests went fine, I'm closing this.

Thanks Ad! 🥇

[2018-05-11 10:10] sjorge opened #2403 "[18.7.b_65] SSH login stopped working after upgrade"
Took me a few hours to figure out why, looks like the shell for all users except root was set to /sbin/nologin.

[2018-05-11 10:31] AdSchellevis commented on #2403
hmm, the culprit seems to be here https://github.com/opnsense/core/blob/master/src/etc/inc/auth.inc#L458 which used a csh when priv was set previously https://github.com/opnsense/core/blob/18.1.7/src/etc/inc/auth.inc#L464

@fichtner intended? or a slip of the pen?

[2018-05-11 10:33] sjorge commented on #2403
If it is intended, a mention in the release notes would be nice.

So people who hit the same problem of SSH not working after upgrade know what to change.

[2018-05-11 11:34] marjohn56 commented on #2396
I am not able to test on Multiwan.

I am not familiar with how the default gateway switching works, as I cannot test it I've never looked into it.

[2018-05-11 11:46] mimugmail commented on #2396
Ok, I'll test on Monday since the guy at the office removed the modem and is gone now :/

[2018-05-12 08:43] liorokman commented on #2394
Three reboots out of four attempts ended up with a working setup. The fourth had the same race condition as mentioned in (1) above - (https://github.com/opnsense/core/issues/2394#issuecomment-387151058) .

Maybe it's possible to disable SLAAC on the LAN interface that is tracking the WAN interface until the WAN interface is itself configured?
That would mean running
[code]
before ``em0`` is starte

[2018-05-12 16:05] fichtner commented on #2394
I am back on Monday. I think we can fix the reverse case easily as you suggested earlier.

Cheers,
Franco

[2018-05-14 15:12] #2320 closed

[2018-05-14 16:38] fichtner commented on #2372
There a new patch in 65186994744 but it doesn't change much again. During interface down/up it seems that dhclient is stuck and cannot be killed, which is really unfortunate because they do not implement SIGHUP so we are stuck with a blocking process that won't do anything anymore.

[2018-05-14 16:39] #2395 closed

[2018-05-14 16:41] fichtner commented on #2396
Well, hold on:

[code]

I don't see where this is handled, gwlb.inc should probably set this but it does not unless it uses a side effect from the returned dpinger state?

[2018-05-14 16:41] fichtner commented on #2396
FWIW, monitoring is not affected... the trigger changes and may have issues that are not of apinger nature, but the multi-wan system scripting is the same.

[2018-05-14 16:47] marjohn56 commented on #2396
Welcome back -

Are you still unable to find where stddev is returned?

[2018-05-14 16:48] fichtner commented on #2396
yup :)

[2018-05-14 16:50] fichtner commented on #2396
It should be here but it's not:

https://github.com/opnsense/core/blob/master/src/etc/inc/gwlb.inc#L1277-L1285

[2018-05-14 16:50] marjohn56 commented on #2396
On my source it's now line 560. A call to get_dpinger_status() returns an array by the look of it, along wuuth the RTT.

$status[$target]['stddev'] = sprintf('%0.1f ms', empty($dpinger_status['latency_stddev']) ? 0.0 : round($dpinger_status['latency_stddev'], 1));

[2018-05-14 16:51] fichtner commented on #2396
wrong stddev. this is the actual value, not the status value. note the missing d in "stdev"

[2018-05-14 16:53] marjohn56 commented on #2396
line 1246 ?

[2018-05-14 16:55] marjohn56 commented on #2396
Where is the missing 'd'?

[2018-05-14 16:57] fichtner commented on #2396
https://github.com/opnsense/core/blob/master/src/www/widgets/api/plugins/gateway.inc#L53

[2018-05-14 17:00] marjohn56 commented on #2396
Ah, isn't that just a text translation though, if it cannot find it it will leave it as is?

[2018-05-14 17:01] marjohn56 commented on #2396
Just fix it by adding the extra d. It's definitely outputting the value and the labelling is correct on my system.

[2018-05-14 17:02] fichtner commented on #2396
No, it translates a low level status "stdev" to a human readable string. But if ne never set "stdev" we don't have to look for it. There is either something missing from the original patch or we don't need that line.

[2018-05-14 17:35] marjohn56 commented on #2396
I've searched, and I cannot find where gateway_api() is called anyway,

[2018-05-14 17:36] fichtner commented on #2396
dashboard widget only

[2018-05-14 17:40] marjohn56 commented on #2396
what, in gateways_widget.php?

[2018-05-14 17:47] marjohn56 commented on #2396
Well it would have been my addition that has the typo, strange it works though, I have just added the extra d to my live system and nothing breaks. But I'll keep an eye on it.

[2018-05-14 21:08] marjohn56 commented on #2396
Still behaving.... Shall I push a PR or do you want to do it?

[2018-05-15 07:02] marjohn56 commented on #2396
It has actually made a difference. I was concerned that my RTTd seemed high at times, sometimes many times the RTT, the addition of the 'd' has reduced it and it seems the value is now 'sensible. I think you can see where I added the 'd'.

![image](https://user-images.githubusercontent.com/17962918/40041559-52596f28-5816-11e8-9a3c-0fb2976f5c3a.png)

[2018-05-15 07:03] fichtner commented on #2396
it looks like you simply don't browse a lot at night... try to compare after 24 hours for a full baseline

[2018-05-15 07:04] marjohn56 commented on #2396
I can saturate it now for a test...

[2018-05-15 07:10] marjohn56 commented on #2396
I'll issue a patch shortly to correct it, perhaps @mimugmail could patch it too and see if he sees any difference.

[2018-05-15 07:30] marjohn56 commented on #2396
@mimugmail  - Can you try this and see if it makes a difference. PR #2404

[2018-05-15 07:42] #2396 closed

[2018-05-15 07:50] mimugmail commented on #2396
I'm building latest master now .. give me an hour to test everything ..

[2018-05-15 08:30] marjohn56 commented on #2396
@mimugmail - That's good news. Waiting for my crew to come back with the info on the stddev issue too, Might take a few days, but t's a minor fix if it's needed.

[2018-05-15 08:38] marjohn56 commented on #2396
OK - Makes no difference, I can see RTTd exceeding RTT again, so it';s a done job.

[2018-05-15 09:14] myksto71 opened #2405 "Reporting -> Insight not working properly"
Version 18.1.7, just updated.
I noticed a strange behaviour on the reporting section named "Insight".
I go on "Totals" tab then I go down to "Top usage ports/sources.
By default WAN is selected.
On the right of the graph I see several ip addresses (public ones) and if I go on the pie chart and select one of them, system takes me to the "Details" tab and put the ip address I select inside the "(src

[2018-05-15 10:17] mimugmail commented on #2402
Can you open this issue in plugins repo please and close this one here?
Telegraf is a plugin and I don't monitor core issues.

[2018-05-15 15:08] fichtner commented on #2405
@AdSchellevis can you take a look at this when you have a moment?

[2018-05-15 15:11] AdSchellevis commented on #2405
I'll have a look as soon as I can find a bit of time..

[2018-05-15 15:11] marjohn56 commented on #2405
There was a bug reported in nv3d with  tooltips on pie charts, is that why it's there? I cannot make my mind up whether the bug is fixed or not after looking on Github.

I've commented out both instances of the *remove from the volt file and all seems to work OK.

[2018-05-15 15:36] AdSchellevis commented on #2379
`
opnsense-patch c1f7d77 057a7ef ed0f68c 57267ca
`

[2018-05-15 16:31] marjohn56 commented on #2405
Yes... I ended up here, which appears to be a fork.

https://github.com/krispo/angular-nvd3/pull/616

[2018-05-15 17:42] fichtner commented on #1264
This was introduced lately so I thought I'd move the milestone. :)

[2018-05-15 17:47] fichtner opened #2406 "interfaces: allow the use of a loopback interface / device"
PR: https://forum.opnsense.org/index.php?topic=8657.0

[2018-05-15 18:52] AdSchellevis commented on #2405
there seems to be a newer version then we're using, but the patch in the angular repo doesn't appear to have a relation with the original code. let me upgrade nvd3 and revert https://github.com/opnsense/core/commit/7d98ae11e62d96922d85995c4d494a7c94a019db maybe we're lucky...

[2018-05-15 19:36] marjohn56 commented on #2405
I'll try and give it a hammering over the coming weekend and see if I can break it.

[2018-05-16 11:54] fichtner commented on #2403
Alright, here is the rub-in:

* SSH access is now bound to the "wheel" group which is automatically added to "admins" group, which "root" is a member of. "root" is the only user that has a default shell, namely rc.initial which is the root console menu.
* SSH access can be set for an arbitrary group as well under System: Administration for non-members of "admins" group. However, in both cases only

[2018-05-16 11:54] #2403 closed

[2018-05-16 11:56] sjorge commented on #2403
Just for clarification, I meant a mention in the release notes once released.

[2018-05-16 12:01] fichtner commented on #2403
Of course. Will be in both the release and migration notes for 18.7. I've put it in writing here so it can be reused / referenced already. Thanks for the reminder. It may indeed be useful for others.

[2018-05-16 13:18] StrikerTwo commented on #2381
Sorry, still seems to be broken after applying the patch.

If I type the server name in the dropdown, it now shows the correct name - but it still does not accept it when clicking the save button.
![image](https://user-images.githubusercontent.com/6770084/40119115-0cf2060a-591c-11e8-916b-9ebcc4f115f6.png)

If I use my workaround of selecting servers until the one I want appears in the list and the

[2018-05-16 13:26] StrikerTwo commented on #2381
I used 59cb5cb and cleared the browser cache. The behaviour is different (better) than before in that it does not put the search text, but the text of the actual item into the input. But it should put the value, not the text.

[2018-05-16 13:27] fichtner commented on #2381
now that you mention it

[2018-05-16 13:32] fichtner commented on #2381
which plugin / page is this?

[2018-05-16 13:35] StrikerTwo commented on #2381
/ui/haproxy/#backends

[2018-05-16 14:42] tuwid commented on #2349
@jeffg2k I was testing it manually and its possible to send the contents of /var/log/suricata/eve.log via syslog but this would require manually changing the config file here /etc/syslog.conf which suricata can potentially override.

[2018-05-16 14:47] fichtner commented on #2381
ok, can reproduce. mighty strange. we used this patch successfully in other areas of the interface.

[2018-05-16 15:29] fichtner commented on #2381
So dee48af on top should help:

    # opnsense-patch dee48af

[2018-05-16 15:38] fichtner commented on #2381
The field you spotted this error in also has an UI defect as it is marked as "allow-new" but that is untrue. Otherwise it works now, thanks for the report! CC @fraenki

[2018-05-16 15:38] fichtner commented on #2381
PS this won't be in 18.1.8 as that build is already done, but I'll pick it up in 18.1.9.

[2018-05-16 15:53] AdSchellevis commented on #2381
@fichtner ok, let's do that then. the lesser tokenizers we use, the easier it will be to replace later on :)

[2018-05-16 17:52] StrikerTwo commented on #2381
@fichtner thanks, looking good now.

[2018-05-16 19:32] lopsch opened #2408 "system: remove legacy notifications with monit alternatives"
The actual integration for growl notifications is using the UDP:9887 protocol. This seems to be [superseded](https://redmine.pfsense.org/issues/2942) by the [GNTP](http://growl.info/documentation/developer/gntp.php) which uses TCP:23053.

There is already a usable version in [pfSense](https://github.com/pfsense/pfsense/commit/e7cf30eb6fcd0cc2ec20dd267775b03db2b3667f#diff-72d56d9b02b90f32a1c7842315

[2018-05-16 19:55] fichtner commented on #2381
Great to hear! :)

[2018-05-16 20:17] DasTestament commented on #2388
@fichtner Well, I can't answer your question because I've moved back to pfSense =/

[2018-05-16 20:25] fitcfitcfatc opened #2409 "Disabled fw rules are not greyed out"
running 18.1.7
Disabled NAT rules are greyed out. This feature is missing for the fw rules section.
Would be helpful for indentification of disabled rules.

[2018-05-16 20:39] fitcfitcfatc opened #2410 "Missing alias description popups on mouse hover in "NAT: Port Forward" section"
running 18.1.7
Popups for port aliases are shown. Popups for aliases in the IP (target IP) area are missing.
Seems to occur only in the "NAT: Port Forward" section.

[2018-05-16 21:13] fitcfitcfatc opened #2411 "Unbound DNS service does not start if certain interfaces are selected"
running 18.1.7
steps to reproduce:
1. Interfaces -> <interfaceX>: set "IPv4 Configuration Type" to "None"
2. Firewall -> Virtual IPs: create a virtual CARP IP for interfaceX
3. Services -> Unbound DNS -> General: "Network Interfaces": select interfaceX and the CARP IP
4. Click on "Save"
The service status area in the top right corner shows me the stop icon and a restart is not possible.
I didnt fo

[2018-05-17 04:12] fichtner commented on #2388
Ok, sure.

[2018-05-17 04:12] #2388 closed

[2018-05-17 04:55] kz26 opened #2412 "Incorrect Insight data on 18.1.7_1-amd64 with built-in netflow collector"
Opnsense's Insight feature doesn't seem to be tracking bandwidth usage for me. Even after downloading 1GB+ of files, Insight only reports WAN total bytes of 20MB or so.

There are two physical interfaces (LAN re0, WAN em0) and one virtual OpenVPN interface. My NetFlow config is as follows:

![image](https://user-images.githubusercontent.com/1066494/40157417-e3ed395e-596c-11e8-922c-4473faa643fb.png

[2018-05-17 05:07] kz26 commented on #2412
30 minutes later....things seem to have updated correctly. So I guess the netflow aggregator is a bit slow/laggy. Is there anything one can do to speed things up so that Insight reporting is closer to real time?

[2018-05-17 05:09] fichtner commented on #2412
Depends on your hardware and traffic flow. Typically, active network devices only export netflow into a "realtime" visualisation box with a dedicated software. You can try with better hardware or less traffic, but these will be suboptimal solutions by any standard. :)

[2018-05-17 05:14] fichtner commented on #2411
Someone asked for the CARP VIP requirement to be lifted in 18.1.7, but I won't accept that deliberately unsetting the IPv4 network to none and using a suboptimal Unbound setting is something that needs immediate attention now because of it.

[2018-05-17 05:16] fichtner commented on #2408
Hi @lopsch,

The current notification framework is scheduled for a full removal in 18.7. We already imported Monit into the core package for this reason. I don't see this code going anywhere because of it. Ok?

Cheers,
Franco

[2018-05-17 05:44] kz26 commented on #2412
The CPU is a Celeron G3900 running at 2GHz and the WAN link has a speed of 10Mbps. What sort of performance can I expect from flowd?

[2018-05-17 05:45] fichtner commented on #2412
10 Mbps on your processor should be ok. I don't know the general delay for the processing, but I'm sure it takes at least a few minutes to materialise by design as data is crunched periodically. @AdSchellevis would know better.

[2018-05-17 06:27] #2409 closed

[2018-05-17 06:37] #2410 closed

[2018-05-17 06:43] AdSchellevis commented on #2412
aggregation costs time, if the python process is around 100% cpu (1 core) most of the time, it can't keep up, the aggregation process itself waits for 15 seconds between passes (no data left, wait 15s, see https://github.com/opnsense/core/blob/18.1.8/src/opnsense/scripts/netflow/flowd_aggregate.py#L154-L159).

Netflow itself also has a bit of lag, by using an external tool you can easily track if

[2018-05-17 07:56] fitcfitcfatc commented on #2411
The main problem is that you can easily overlook the service is no longer running.
Maybe a solution would be to always show a popup if a service could not be started?

By the way, this occurred during the "normal" configuration of the firewall, not when trying to force an error. If youre running a CARP IP on a interface you dont need a "second" IP on that interface necesarilly.
And the "correct" i

[2018-05-17 08:01] fichtner commented on #2411
I understand, but I also said this: https://github.com/opnsense/core/issues/2358#issuecomment-381399678

The correct interface selection is not to use interface selection, like the default does.

Patches welcome.

[2018-05-17 08:16] fitcfitcfatc commented on #2411
What does that mean? Just selecting "All"?
(I thought it would be useful in the first place to restrict the services.)

[2018-05-17 08:35] fichtner commented on #2411
It can be, but in normal setups all is a sane setting unless you have an attached DMZ that is not allowed to talk to your DNS *and* the desired solution does not resort to blocking the DMZ's access to the local DNS server for whatever reason. :)

[2018-05-17 09:42] myksto71 commented on #2405
Hi.
I applied patches 3ac6a8 and fc0507.
Tooltips now show correctly but  if I go on "Totals" tab and go down to "Top usage ports/sources", select "LAN" or "DMZ" as the interface, choose and click on a IP address (private one) on pie chart (the one on the right), system takes me to the "Details" tab, put "LAN" in the interface filed but on the "src Address" put another IP address (a public one) an

[2018-05-17 17:52] MaxOrelus opened #2413 "Dropdown selector occasionally does not show the correct display value"
On refresh of a setting pages, from time to time the dropdown display does not show the correct display value. There are times that it shows `Nothing selected` and there are times is actually shows the correct display value.

I investigated it a bit more and the settings as they come back from the API endpoint are correct, I just think there's something going on with the JS behind populating the d

[2018-05-17 18:00] AdSchellevis commented on #2413
Hi Max, is there a specific page/test scenario where this fails? I've never seen it before on my end, maybe it fails at specific scenarios. The normal dropdown is a selectpicker, which should normally be reloaded when items change.

[2018-05-17 19:34] AdSchellevis commented on #2405
ok, found the culprit, but can't find a very nice fix, https://github.com/opnsense/core/commit/08df2d02cb5537dd67146925c435f2ed892240a1 does the trick on my end, but the issue actually seems to be that the event won't reattach in https://github.com/opnsense/core/blob/08df2d02cb5537dd67146925c435f2ed892240a1/src/opnsense/mvc/app/views/OPNsense/Diagnostics/networkinsight.volt#L365

[2018-05-17 20:14] dtavb commented on #2402
thanks, I will do it.

[2018-05-17 20:14] #2402 closed

[2018-05-18 15:49] JosQuelqu1 opened #2414 "Feature request - Reset all states if WAN IP Address changes"
Hi,

Can't find this feature on OPNsense. I need this to pull the plug on pfSense...

On pfSense:

Reset All States
Reset all states if WAN IP Address changes
This option resets all states when a WAN IP Address changes instead of only states associated with the previous IP Address.

Thank you!

[2018-05-18 16:30] fichtner commented on #2414
The implementation is a bit optimistic and only works for DHCP IPv4, not particularly related to "WAN".

Although the functionality is clear, can you state your use case for reference? Maybe we can find a better spot for implementation.

[2018-05-18 19:02] MaxOrelus commented on #2413
form.xml:
[code]

model.xml:
[code]

When I look at this in the ui_devtools locally, the options don't load and ends up display "Nothing selected"

[2018-05-18 19:05] MaxOrelus commented on #2413
I think I just figured it out, I was missing:

[code]

[2018-05-18 19:05] #2413 closed

[2018-05-18 19:27] JosQuelqu1 commented on #2414
It's for the VoIP guy here at the office. When the WAN IP change it cause problem with the VoIP service.

He sent me this. It's the exact issue: https://redmine.pfsense.org/issues/1629

[2018-05-20 08:30] topaDev commented on #2414
Hi,
experiencing the same problem with VoIP, just came across this workaround (search for "resetstates.sh" script):
https://bauschp.wordpress.com/asterisk-projects/asterisk_provider_t_kom/

[2018-05-20 09:00] Farma12 opened #2415 "UI-Bug: Show all countries within GeoIP-Blocking"
I use the following:
OPNsense 18.1.8-amd64
FreeBSD 11.1-RELEASE-p10
OpenSSL 1.0.2o 27 Mar 2018
on a APU2c4Board.

If I follow this guide: https://wiki.opnsense.org/manual/how-tos/ips-geoip.html there is the part where I add the countries from the dropdown-list. But it only shows the first ten entries. The url is https://<ip-address>/ui/ids/#userrules

What I want to archive: Add all countries and

[2018-05-20 09:04] fichtner commented on #2415
The IDS GeoIP block has been superseded with the firewall alias GeoIP blocking which has a splendid interface nowadays and is more flexible to use. Try it under Firewall: Aliases, select GeoIP :)

I don't think the IDS GeoIP will be reworked anymore.

Cheers,
Franco

[2018-05-20 09:10] #2414 closed

[2018-05-20 09:27] fichtner commented on #2414
Please try this patch c5b9f672 via:

    # opnsense-patch c5b9f672

Thanks,
Franco

[2018-05-20 09:27] Farma12 commented on #2415
Thanks, there is a much better UI and it works very good.

[2018-05-20 09:27] #2415 closed

[2018-05-20 09:28] fichtner commented on #2415
Glad to hear 👍

[2018-05-20 10:39] fichtner commented on #2394
@liorokman sorry for the delay! maybe 0c1c48b will help with the race condition?

[2018-05-20 11:45] topaDev commented on #2414
Thank you Franco, it works like a charm.

[2018-05-20 12:01] fichtner commented on #2414
Ok, great, will ship this in 18.1.9. Thanks for testing!

[2018-05-20 15:37] liorokman commented on #2394
I've applied the patch, I'll test it later tonight.

[2018-05-21 04:24] mumblepins opened #2416 "usr on seperate partition leads to boot failure"
So I was attempting to switch a FreeBSD setup to opnsense, and couldn't figure out why nothing was really starting at boot.  As is recommended in a lot of places, I have /usr as a separate partition.  I'm assuming that the OPNsense hook in /etc/rc gets called before /usr gets mounted, so /usr/local/etc/rc isn't found, so nothing starts.

[2018-05-21 07:40] fichtner commented on #2416
Well, yes. I'm not sure how to help with that...

[2018-05-21 10:55] #2349 closed

[2018-05-21 19:30] fitcfitcfatc commented on #2412
From my experience:
(at least for updates to an external Netflow Collector)
If a transaction is aborted without a TCP-FIN, the netflow update wont be sent until about 20-30 minutes. For completed transactions its sent in about 15 seconds.
In addition, it appears that a minimum amount of data or connections must go through the firewall before an Netflow update is sent.

[2018-05-22 07:01] fichtner commented on #2336
@maurice-w dod you have time to check these yet? I've queued up what we have for the upcoming 18.1.9, but there are still 2 open issues.

[2018-05-22 08:26] fichtner commented on #2394
@liorokman do you have good news? :)

[2018-05-22 09:47] liorokman commented on #2394
Sorry, I haven't tested this yet.

[2018-05-22 12:35] umsp1 commented on #2263
Seems I have exactly same issue.
My ISP providing static /56 or Dynamic /64  ipv6 and dynamic IPv4 through PPPoE.
Dynamic ipv6 never worked (with two ISP’s) so I assigned static IPv6, but still struggling to make it to work.
igb0 - LAN
igb1 – WAN pppoe configured

This is the ppoe0 interface
ppoe0: flags=88d1<UP,POINTOPOINT,RUNNING,NOARP,SIMPLEX,MULTICAST> metric 0 mtu 1492
        inet6 2400:xxxx

[2018-05-22 12:40] fichtner commented on #2263
You probably need to set "Use IPv4 connectivity" for your Static IPv6 WAN configuration.

[2018-05-22 19:09] reza-ebrahimi commented on #1776
any progress happened here?

[2018-05-22 20:22] mgollo opened #2418 "IPsec mobile client: DNS problem with Apple IOS on IKEv1"
When setting up IPsec for mobile clients with IKEv1, Apple IOS devices are able to connect if the setup happens according to https://wiki.opnsense.org/manual/how-tos/ipsec-road.html but they cannot resolve any DNS names, even if DNS servers are configured.
In strongswan.conf, something like this is generated:

but this is ignored by IOS devices according to https://serverfault.com/questions/521536

[2018-05-23 04:40] liorokman commented on #2394
After rebooting the LAN interface is configured incorrectly with an address in the ``2000::/3`` range.
The WAN interface has a correct address created via SLAAC from the router advertisement provided by the ISP on pppoe0. The ``radvd.conf`` file is correct, but it seems as if radvd is not picking up on the fact that the pppoe0 configuration changed after radvd was started, so the advertisement act

[2018-05-23 11:49] kim0 opened #2419 "Repeated gateways after upgrade to 18.1.8"
First time to see this behaviour. Two gateways had their ping times equal zero, so I marked them as disabled as the other 2 felt more "correct".
<img width="639" alt="opnsense-18 1 8-repeated-gateways" src="https://user-images.githubusercontent.com/59667/40422523-eef1def4-5e8f-11e8-9ca4-6db27ec9adcf.png">

[2018-05-23 19:39] fichtner commented on #1191
Not sure what's required here anymore. No requests since. Timeout.

[2018-05-23 19:39] #1191 closed

[2018-05-23 19:42] fichtner commented on #1722
@AdSchellevis for 18.7 ?

[2018-05-23 19:47] fichtner commented on #2091
docs are online if anyone wants to submit. not a core issue.

https://github.com/opnsense/docs

[2018-05-23 19:47] #2091 closed

[2018-05-23 19:49] fichtner commented on #2189
@gizahNL still an issue?

[2018-05-23 20:20] fichtner commented on #2186
Noticed a strange thing with the Javascript, the subnet selection was not deactivated.

    # opnsense-patch 076eb9f

[2018-05-23 20:36] fichtner commented on #2239
Nowadays that is more of a "what you put into it you get out of it" situation. Register a remote reload call... It's triggered here...

https://github.com/opnsense/core/blob/master/src/etc/inc/xmlrpc/legacy.inc#L137

... and defined here...

https://github.com/opnsense/core/blob/master/src/etc/inc/plugins.inc.d/openvpn.inc#L36

We can figure out the rest, but no by raising tickets that nobody will

[2018-05-23 20:36] #2239 closed

[2018-05-23 23:38] fraenki commented on #2239
@fichtner Huh, anything wrong in raising attention for an issue that is not documented elsewhere? Anyway, thanks for pointing to the right direction. I'll try to integrate it into one of the plugins for a starter.

[2018-05-24 05:56] AdSchellevis commented on #1722
@fichtner I kind of opened the issue for a discussion, but hardening our standards in 18.7 sounds good to me. Shall I fix this? or are you planning to do so?

[2018-05-24 05:57] fichtner commented on #2239
Nothing wrong, but it needs to be broken down into manageable parts that have a clear implementation path. This looks like a conglomerate of wishes and expectations. Need to forcefully break this down to go forward. Core tickets welcome for step by step progress, otherwise we’ll never get to the bottom and solve this reliably.

[2018-05-24 07:06] mimugmail commented on #2348
Hi,

can we hold back this from going live? I had this patch on a production system for over 2 weeks now but yesterday a client VPN (also OPNsense with client config and static CSC) wasn't working. I restarted the service many tims on both sides and also rebooted the machines.

In the end I had to downgrade to 18.1.8 to let it work again.

I checked the CSC files and they were there with the same

[2018-05-24 07:10] AdSchellevis commented on #2348
@mimugmail It's not scheduled for release yet. your screenshots look empty by the way :)

[2018-05-24 07:14] AdSchellevis commented on #2348
could you gather some logs as well (from the client and server), if it worked before and it stops working now without a noticeable change that's odd.

[2018-05-24 07:19] mimugmail commented on #2348
@AdSchellevis I updated the screenshots ... c+p from GH is crazy :)

[2018-05-24 07:20] AdSchellevis commented on #2348
@mimugmail I thought it was my end :)

[2018-05-24 07:27] mimugmail commented on #2348
[code]

It looks identical, besides the learned route from the CSC and the options import, one time from /tmp, other one from /var/etc.

[2018-05-24 07:34] AdSchellevis commented on #2348
@mimugmail is there anything above the " /tmp/openvpn_cc_5dde7ad76623d6eeb1a5992e47679d7.tmp"  in the version with patch?

[2018-05-24 07:39] mimugmail commented on #2348
Sure, but it's identical on both side, so I removed it:

[code]

[2018-05-24 07:41] AdSchellevis commented on #2348
ok, thanks, I seem to be missing the point why the openvpn file is instantly being imported from /tmp, this needs some more investigation, although I can't reproduce this myself it seems.

[2018-05-24 07:43] mimugmail commented on #2348
It was also stable on my end for two weeks .. must be some rare case .. but since this impacts also installations with just using CSC and not radius stuff I'm unsure about releasing it.

[2018-05-24 07:52] AdSchellevis commented on #2348
yes, we should postpone for now. just to be sure, nothing did change on the box, OpenVPN still the same version, server modes like they used to be, right?

[2018-05-24 07:52] mimugmail commented on #2348
I reverted back to latest master and still cannot route traffic, so it's reproduceable.
This is the complete log after update to master and reboot:

[code]

[2018-05-24 07:53] mimugmail commented on #2348
No, I'm the only guy on this machine and I was not in the office at this time. Only thing changed was enabling netflow/insight some days ago ...

[2018-05-24 07:54] AdSchellevis commented on #2348
ok, thanks, I'll get back on this

[2018-05-24 08:03] AdSchellevis commented on #2348
@mimugmail just to be sure, this connection is only using a cert, no user/password, that would narrow it down already.

[2018-05-24 08:05] mimugmail commented on #2348
yep .. only using certs and shared key, no user/pw in client config.

If you like I can always offer teamviewer session etc.

[2018-05-24 08:09] AdSchellevis commented on #2348
ok, thanks, it looks like https://github.com/opnsense/core/blob/870b17e09ef8e97711bc6518e910e7a23c47acdb/src/etc/inc/plugins.inc.d/openvpn.inc#L603 is a bit late to the party here.

[2018-05-24 08:27] mimugmail commented on #2348
If I can test a patch let me know, the client at the production site now uses a different VPN so I can test anytime :)

[2018-05-24 12:57] datiscum opened #2421 "OPNsense 18.1.8 Services: RFC 2136 Local IPv6 address use"
The RFC2316 client transmits the lovale IPv6 address to the name server.

Cached IP in the service overview:  IPv6: fe80::21b:21ff......
WAN address in Dashboard:
2003:c9:2fff:2c45:21b:21ff....

I checked/unchecked the "Use Public IP" Entry, but no change.

[2018-05-24 12:59] fichtner commented on #2421
Not sure if this is enough info to go on. Needs more configuration points from RFC2136 plugin for reference and how WAN is set up (IPv6 mode).

[2018-05-24 14:06] datiscum commented on #2421
Sorry here more details.

Interfaces: Overview

LAN interface lan,em1
SwitchLanInt opt1,em2
WAN wan.pppoe0
WAN_LAN opt2,em0

A special feature is the WAN_Lan interface.
Via ssh port forwarding i can reach the VDSL modem (Admin Panel) before the OPNSense Box.

Why can i not direcly select the "WAN pppoeXX" Inteface for the address ?

em0: flags=8843<UP,BROADCAST,RUNNING,SIMPLEX,MULTICAST> metric 0

[2018-05-24 14:49] linuxmail commented on #2356
hi,

[2018-05-24 14:50] linuxmail commented on #2356
Hi,

sorry, I have reopen the issue. After upgrading to the latest a version 18.1.x, OTP is not longer working. Nor on the master, nor on the slave. The test works (OTP + password) but on the login, it fails. It there any log I can read ?

[2018-05-24 18:18] fichtner commented on #2421
Thanks, I think I know what's going on. In your WAN PPPoE config (IPv4), the box "Use IPv4 connectivity" is checked for your additional IPv6 configuration?

Cheers,
Franco

[2018-05-24 19:07] fichtner commented on #2419
Do you see these 4 gateways in the /conf/config.xml too?

[2018-05-24 19:16] fichtner commented on #2416
@mumblepins sorry, did not try to be neglectful. We always assumed "OPNsense as a package" approach, it flushes all files to /usr/local to avoid touching base system files being able to restore a previous state by uninstall. That's not so easily possible in other projects.

The rich history from M0n0wall turns this upside down as it requires hooking into /etc/rc (and nowadays also /etc/rc.shutdown

[2018-05-24 19:20] fichtner commented on #2356
Are you on 18.1.x or 18.7.b ?

[2018-05-24 19:22] fichtner commented on #2361
The password expires, but you are still able to log in and set a new one. It just forces you to change it.

[2018-05-24 19:26] fichtner commented on #1722
Please do it, I just wanted to prod here. :)

[2018-05-24 19:51] #1642 closed

[2018-05-24 19:52] fichtner commented on #2241
@mimugmail you can try aa4da63f95 now :)

[2018-05-24 20:26] marjohn56 commented on #2421
I think the problem here, and I could be reading this wrong is that the WAN address is link-local and not global. This could well be the way it's meant to be. Sky UK for example use a link local on the WAN, only the LAN side has a global.

I am not fully aware of what the OP is trying to get across, however if it is the for Dynamic DNS, then we need to send the LAN v6 address if the WAN is getting

[2018-05-24 21:02] fichtner commented on #2421
@marjohn56 but pppoe0 has 2003:c9:... according to ifconfig ?

[2018-05-24 21:45] marjohn56 commented on #2421
Ah I see, but em0 has a link local, and it appears that is what's being sent, is it not?

[2018-05-24 22:38] datiscum commented on #2421
Interfaces: [WAN] -> DHCPv6 client configuration -> Use IPv4 connectivity - is checked
Request a IPv6 prefix/information through the IPv4 connectivity link.

[2018-05-25 05:10] fichtner commented on #2421
Okay, we're on the right track.... do you happen to have "Request only an IPv6 prefix" enabled as well?

[2018-05-25 06:17] linuxmail commented on #2356
Version 18.1.8

[2018-05-25 06:19] fichtner commented on #2356
Nothing changed here then. Make sure NTP is in sync, and TOTP is selected as the authentication method on both devices.

[2018-05-25 06:26] fichtner commented on #2356
Not really, it will only tell you if the login is correct or not. Are you using Hyper-V by any chance?

[2018-05-25 07:04] marjohn56 commented on #2421
@fichtner - Am I miss-reading this? Is the issue to do with DDDNS?

[2018-05-25 07:04] datiscum commented on #2421
Yes, these entries are enabled.
Request only a IPv6 prefix
Send IPv6 prefix hint
Request a IPv6 prefix/information through the IPv4 connectivity link

[2018-05-25 07:09] datiscum commented on #2421
It is about the RFC2136 service and not about DynDNS Service

[2018-05-25 07:13] fichtner commented on #2421
It's almost the same, based on shared / copied code.

I think there's your issue, "Request only a IPv6 prefix" will ignore any non-local address that the ISP may give you.

This is more or less an expected result of a change in 18.1.7:

https://github.com/opnsense/changelog/blob/master/doc/18.1/18.1.7#L47

It worked by accident earlier and I'm not yet sure how to combine both worlds without avoidi

[2018-05-25 07:41] #1722 closed

[2018-05-25 08:03] fichtner commented on #2390
Requires a slight modification of TOTP behaviour still.

[2018-05-25 12:53] #2390 closed

[2018-05-25 15:18] AdSchellevis commented on #2348
@mimugmail can you check https://github.com/opnsense/core/commit/9d35f1719896925b774875f266830c3436affdeb ? it looks like client-connect sends the location, which is different then the auth workflow.

[2018-05-25 17:18] mimugmail commented on #2348
It's working great now, thanks!
But now with the latest master I can't start clamav anymore .. @fichtner ?

[code]

[2018-05-25 17:52] fichtner commented on #2348
This is my fault, though I’m not sure WTH is wrong with it. It should first an foremost push a command to su, not a parameter “-c”

[2018-05-25 18:28] fichtner commented on #2348
You can revert d12a59460 for now

[2018-05-25 19:27] AdSchellevis commented on #2348
@mimugmail thanks for testing, closing it now.

[2018-05-25 19:27] #2348 closed

[2018-05-26 08:54] fichtner commented on #2348
second try https://github.com/opnsense/core/commit/15ec336

[2018-05-26 13:54] sjorge opened #2422 "No longer possible to have OpenVPN listen on same port for TCP6/TCP4"
I have 4 OpenVPN server instances listening on the same interface on the same port but with different protocols TCP6, TCP4, UDP4, and UDP6. This is working fine. But I am no longer able to update the servers because on save it now complains that the local port is already in use.

The error message is:
[code]

This used to work, but I have not update my config in a while so I do not know when it br

[2018-05-26 15:00] fichtner commented on #2422
Will fix the validation. This went in as part of a larger rework for OpenVPN dual stack usability.

Shall we work on your IPv6 requests while at it?

[2018-05-26 19:15] ikke-t opened #2423 "HAProxy remote stats won't get configured"
Hi,

I tried getting some some data for my debugging of server issue. I forward all my http(s) traffic via HAProxy in OPNSense. Stuff works well, great setup in OPNSense. But when I went to HAProxy Statistics configuration page: /ui/haproxy/#subtab_haproxy-general-statistics, And did the following setup:

Stats enabled: X
Local stats TCP port: 8822
Enable remote access: X
Remote listen addresses:

[2018-05-26 19:23] ypid opened #2424 "Allow more special values for `addr` in ipfw rules (Traffic Shaping)"
According to `man 8 ipfw`, more special values are supported by the `addr` rule field then just `any`:

[code]

Especially `me6` and `me` can be useful. When it is currently specified as `source`, [the validator](https://github.com/opnsense/core/blob/15ec336b0fccd4516e0c0d774a71cacbad15a9d1/src/opnsense/mvc/app/models/OPNsense/Base/FieldTypes/NetworkField.php#L159-L179) complains with: "please spe

[2018-05-26 19:42] ikke-t commented on #2423
Sorry, I noticed I made this to core, where as this is about plugins. Can I move this or do I create new issue and close this?

[2018-05-26 20:28] ypid opened #2426 "Allow to disable traffic shaping rules"
Pipes and queues can already be disabled. It would be helpful to also support this for traffic shaping rules.

OPNsense version: OPNsense 18.1.8-amd64
URL path of the GUI page involved: /ui/trafficshaper/#rules

[2018-05-26 20:33] fichtner commented on #2422
@sjorge actually, you have TCP and UDP running, can you switch those to TCP4 and UDP4?

[2018-05-26 20:36] fichtner commented on #2422
PS: If you see an error you should attach it. "I can just no longer edit any of them" is as good as guessing.

[2018-05-26 20:48] sjorge commented on #2422
@fichtner oops, I though I had pasted the message. Seems I did not. Update the original comment.
I cannot change the TCP and UDP to TCP4 and UDP4... given the validation is preventing me from saving anything. (Even though the config currently does work)

[2018-05-26 21:34] fichtner commented on #2422
Thanks, found it. Will fix in the morning.

[2018-05-27 07:43] fichtner commented on #2423
@ikke-t thanks for the report, unfortunately it's not possible to move it so you need to close and open again.

[2018-05-27 09:44] #2426 closed

[2018-05-27 09:45] AdSchellevis commented on #2426
https://github.com/opnsense/core/commit/26ee607a31f1e1ef4754e76ccc31df100019671d should do the trick, to test pull in the diff using opnsense-patch and run a model migration to upgrade your config.

[code]

[2018-05-27 11:10] fichtner commented on #2422
Try this:

    # opnsense-patch d210cbf 64c4a1f

But make sure it's TCP4 and UDP4, TCP and UDP means dual stack in OpenVPN and the code was adjusted to adhere to this situation.

[2018-05-27 13:56] philippwaller commented on #2324
With Debian and Centos I face the same problem. The DUI is displayed twice in the lease list and only the dynamic ip is delivered. Strangely, this problem does not occur with Coreos. The same behavior I have also found in PFsense.

Are there any client settings that we have to consider?

[2018-05-27 15:57] ypid opened #2427 "Show transport encryption fingerprints"
When using Qubes OS, or just being someone who takes security seriously, you never want to be required to have to trust the network. One uses encryption to ensure this. To be able to detect MITM, you need to verify authenticity of X.509 certificates and SSH host keys. OPNsense could help make this more easy for admins. As I setup a test system now, was able to never need to trust the network durin

[2018-05-27 16:04] sjorge commented on #2422
I still get the same error:
[code]

I tried to update the TCP one to TCP4 as you suggested.

[2018-05-27 16:09] ypid commented on #2426
@AdSchellevis Thanks so much, you rock! Works nicely :+1:

[2018-05-27 16:39] fichtner commented on #2422
Works from here after applying both patches.

[2018-05-28 08:04] umsp1 commented on #2263
configured "Use IPv4 connectivity" for static IPv6 WAN configuration, but still pppoe not get configured as default gateway.
I have ipv6 gateway provided by ISP, but struggling with correct command to use.
I can use "route add -inet6 default -interface pppoe" to make default gateway, then I can ping gateway and ISP's DNS server and I can see name resolution working. But still not connecting to INT

[2018-05-28 09:35] fichtner commented on #2422
Sorry, works for me even on 18.1.8. What version are you on?

[2018-05-28 09:57] sjorge commented on #2422
Should have mentioned that, not sure why I did not as I usually do: OPNsense 18.7.b_137-amd64

[2018-05-28 10:00] fichtner commented on #2422
Okay, please walk me through this:

Open ovpn-udp4, select "UDP4", save.

What error are you seeing?

[2018-05-28 10:18] kim0 commented on #2419
@fichtner .. yes looks like it too. Please find the gateways snippet below. Not sure why this is marked as support though, since it should be a bug that gateways were duplicated like that, no ? Let me know if you need anything else to debug this. Thanks!

[code]

[2018-05-28 10:21] marjohn56 commented on #2263
This is bizarre... There are at least two of using static IPv6 addresses and both the WAN and LAN with zero issues.

OK, so does your ISP gives you a static WAN /64  address range and a separate PD prefix /48 for the LAN or what exactly do they give you?

[2018-05-28 11:10] sjorge commented on #2422
![screenshot](https://i.imgur.com/uUVVFNz.png)

[2018-05-28 12:03] sjorge commented on #2422
[code]

[2018-05-28 12:07] fichtner commented on #2422
Ok, just to be sure: do you have clients set up that could interfere?

[2018-05-28 12:09] sjorge commented on #2422
Nope, don’t have any clients. (Also never had those)

[2018-05-28 12:37] umsp1 commented on #2263
ISP give /64 DHCP and /56 static range. DHCP range never worked for me.
I'm using static range /64 block assigned to WAN and another /64 for LAN.
Many people claim commercial routers working fine.

[2018-05-28 12:50] fichtner commented on #2422
Are you sure the GUI is on the same box that was patched via SSH? Still looks like it's working with your data. Confirmed twice.

[2018-05-28 13:05] marjohn56 commented on #2263
Are you 100% sure you have that the right way around? a /64 WAN and a /56 PD for the LAN makes sense, the other way around is madness. Double check that first before I go further.

Also, the dhcp WAN address and the static WAN address are usually in the same /64 range. Check that too.

[2018-05-28 13:46] sjorge commented on #2422
Yes, I only have one opnsense box at the moment.
I rechecked the files and tried again, I still get the error.

Maybe it was because mine were still at TCP and UDP for 2 of them,
**I was able to get the config correctly by exporting (TCP->TCP4 and UDP->UDP4), editing the export and importing.** So importing config is at least working, I don't think that was every broken though.

![after_import](ht

[2018-05-28 13:56] sjorge commented on #2422
I poked you on twitter in a DM. Might be easier to have a look your self.

[2018-05-28 14:16] fichtner commented on #2422
Fix was ok, os-cache got in the way. :D

Thanks for the help!

[2018-05-28 14:16] #2422 closed

[2018-05-28 18:57] philippwaller commented on #2324
I finally found the cause. The problem is how the dhcp client get involved by the most network managers / tools. For example, the `dhclient` must be called with the "-D LL" option to ensure a static DHCP client id. Unfortunately, this option is not considered by most network manager tools.

I solved the problem by creating a manual net interface and calling the DHCPv6 client manually:
[code]

Fina

[2018-05-28 21:54] teliz opened #2428 "problems while adding widget in core"
Hello @fichtner

How do I make my changes in the core be added to the packagesite and so when I try to update an old build it receives these updates?

I have now managed to make this work with pkg, I have updated it (1.10.3 to 1.10.5) but I am not able to make any changes in the core (add theme, add widget) reflect for old ones.
I think I may be forgetting to change version, but I did not understa

[2018-05-29 05:04] fichtner commented on #2428
Hi @teliz,

When you commit changes to your branches, the version number changes automatically for each commit using YOURVERSION_x where x is the number of commits. You can also add a new tag for a new version on the branch you are:

    # git tag -a MYNEWVERSION

But you needto make sure MYNEWVERSION is a version that pkg knows is newer than the old one, otherwise it will not update.

Cheers,
Fra

[2018-05-29 10:06] ruffy91 commented on #1773
We are affected by both this issue and #2173
Our constellation is: 2 Site-2-Site Tunnels, on the second one the remote side is behind NAT for phase 1 (ESP-UDP) and we need to use BiNAT because we have colliding subnets.
@fraenki are you still planning to work on this soon?

[2018-05-29 16:50] fichtner commented on #2419
@kim0 hmm, I think this is a side effect from this change https://github.com/opnsense/changelog/blob/7e9b1454d112bf80eb08221b57b8fb98d4a3f654/doc/18.1/18.1.8#L42

Maybe we should revert this for the gateways, but not sure yet.

[2018-05-29 16:53] fichtner commented on #2419
Ok, I can reproduce. But in any case you will have to delete the duplicate entries when 18.1.9 is out.

[2018-05-29 17:04] fichtner commented on #2419
You can try the patch:

    # opnsense-patch ef426e4

Cheers,
Franco

[2018-05-29 17:04] #2419 closed

[2018-05-29 21:43] rudiservo commented on #2129
Is the markdown on the squid config script liquid?
Dont get me wrong but I see to much fragmentation on the scripting languages in use.

[2018-05-29 23:18] rudiservo commented on #2129
Ok got it you are using volt.
why are you using volt for configurations?
why you have models with zero stuff in it... couldnt they easily be used for configs.
Again dont get me wrong, it looks like very smart with a lot of magic, just very confusing... cant make heads or tails what is the workflow and how things are called and where and by what.

[2018-05-30 04:55] fichtner commented on #2129
https://docs.opnsense.org/development/backend/templates.html

[2018-05-30 06:57] linuxmail commented on #2356
have to close it again ... maybe I try to out later, why it won't work (sometimes).

[2018-05-30 08:08] myksto71 commented on #2405
Hello, any news on this front?

Thanks.

[2018-05-30 08:15] fichtner commented on #2405
New fix in 18.1.9 along with newer nvd3 library tomorrow.

[2018-05-30 12:32] myksto71 commented on #2405
Oh wow, very good to know!
Thanks a lot and cheers!

[2018-05-30 12:33] fichtner commented on #2405
Be sure to check when out and close / report back if needed. Thanks!

[2018-05-30 13:02] myksto71 commented on #2405
Sorry but I don't undestand what I should check.

[2018-05-30 13:03] fichtner commented on #2405
Once you have 18.1.9 installed, please recheck the page to confirm the reported errors are no longer there.

[2018-05-30 13:30] myksto71 commented on #2405
Ah ok sorry.
Yes of course I'll report it back.

[2018-05-30 21:02] sjorge commented on #2026
Just an FYI, the tty naming seems to be consistant for usb serial ports!
[code]
This is from a FreeBSD box (not OPNsense) with a usb to 4x serial adaptor.

So you can probably target ttyU0 as the first detected serial interface over USB rather reliably.

[2018-05-30 21:04] marjohn56 opened #2430 "QR code image needs white border"
The QR code does not work for dark themes as there is no border around the image, otherwise known as the quiet zone. See...

https://web.archive.org/web/20110812190511/http://raidenii.net/files/datasheets/misc/qr_code.pdf

As reported https://forum.opnsense.org/index.php?topic=6885.0

[2018-05-30 23:13] teliz commented on #2428
So I've seen `/usr/core/Scripts/version.sh` return `tag_commit` to **CORE_VERSION** in` /usr/core/Makefile`

But when generating the DVD, packages sets are generated with big names:
`base-6790a7db5e00012f5fd68bfe12d9510a9eaa50d0-amd64.txz
`
`kernel-6790a7db5e00012f5fd68bfe12d9510a9eaa50d0-amd64.txz
`
`packages-e4f347d96f477a8d1b3d3b668b45bf2b6db0546d-OpenSSL-amd64.tar
`

I think there's something

[2018-05-31 06:26] AdSchellevis commented on #2430
It seems like the qr-code module isn't really maintained anymore, same issue is in the pull requests https://github.com/jeromeetienne/jquery-qrcode/pull/43/files let me try to incorporate this and see how that pins out

[2018-05-31 06:28] fichtner commented on #2026
Yes, but the real question is for /etc/ttys rewrite. Replace serial ttyu* with ttyU* or add both side by side without issues? I'll look into it when I have a bit more time.

[2018-05-31 06:32] AdSchellevis commented on #2430
@marjohn56 can you try https://github.com/opnsense/core/commit/2f247f2f854aa40a8ec67db736fa1d8b211382f7 ?

[2018-05-31 06:36] sjorge commented on #2026
I think it is replace, I never to serial + serial over lan to work. I always just one of the too. But I am no expert on this.

[2018-05-31 06:51] marjohn56 commented on #2430
Looks the same, still no border.

[2018-05-31 07:02] AdSchellevis commented on #2430
cache?
![image](https://user-images.githubusercontent.com/9783985/40766937-5cc3e4dc-64b1-11e8-9303-fad4b185cff4.png)

[2018-05-31 08:08] marjohn56 commented on #2430
Strangely enough I was looking through the same https://github.com/jeromeetienne/jquery-qrcode and found another method, that didn't work either.... then I cleared the cache. :)

Now your version and mine both work.... :)

Nice one Ad, another one bites the dust.

[2018-05-31 09:20] AdSchellevis commented on #2430
Thanks for confirming Martin

[2018-05-31 09:20] #2430 closed

[2018-05-31 12:45] myksto71 commented on #2405
Updated opnsense late this morning.
Made several tests. Insight behaviour seems to be regular and correct now.
Thanks to all the team for the good job made.
Cheers,
Michele.

[2018-05-31 12:46] fichtner commented on #2405
@myksto71 thanks, closing then :)

[2018-05-31 12:46] #2405 closed

[2018-05-31 13:23] beren12 opened #2431 "Feature Request: dh-parameters regeneration UI/schedule"
Talking to Fitch in IRC we came up with a few ideas to keep dh-parameters fresh:

- have a warning in the webui if they are past a certain age based on modification date
- save a hash of the files on install, and on updates if the hash matches it's safe to overwrite with a newer system one; rehash
- regen new files each update
- Allow users to set a cronjob (nice -n 20) to refresh them, maybe with

[2018-05-31 13:33] beren12 opened #2432 "Feature Request: bulk certificate import and management"
It would be nice to be able to pass a zip file or just multiple files to the webui to bulk import my certs and keys. It's not required that the client certs be in the UI but it's handy to see them, when they expire, etc. the description could be based on the filename, like ca.crt and ca.key are the CA, but client1.crt|key would be called client1, maybe even an option to add an arbitrary prefix, li

[2018-05-31 13:37] beren12 opened #2433 "Feature Request: add pushbullet notifications"
zed (part of zfs on linux) has the ability to push notifications via pushbullet with a free api key you generate from your account. Would be nice to have since it can go to desktop or mobile clients

[2018-05-31 14:03] fichtner commented on #2431
Thanks! So what we need first is a function that wraps getting the correct du parameters file: self-generated or standard file provided by core package. When we have this we can automatically select the file that is newer, other logic as we come up with later.

[2018-05-31 15:03] v-i-r-u-s opened #2434 "Feature Request: Firewall -> ! operator for SRC & DST PORT"
Would it be possible to include IPFILTER operators for SRC_PORT & DST_PORT (similar to the ! operator for SRC_ADDR & DST_ADDR ) ?

[2018-05-31 15:28] beren12 commented on #2431
Looks like filemtime will tell you when the file was last modified http://php.net/manual/en/function.filemtime.php

I would bundle the hash of the last few dh-parameter versions, maybe going back to whatever date you think is too stale, and have a notification when you login to the webui if it's stale.
Maybe even just forcing it's replacement even if it's custom but too old. Once the system overwr

[2018-06-01 06:57] AdSchellevis opened #2435 "MVC / 404 (page not found) not functional when namespace or controller routed"
When the namespace or the controller is routed, but the destination is not found, an exception occurs which seem to be hard to catch and forward to our usual not_found page.

First the symptoms, the errors below are the ones we should fix to avoid people getting to a page which is difficult to navigate out (not menu system):
[code]

[code]

Original idea was to use the exceptions described at phal